<a class="profile-nav_link"
   [routerLink]="model.link"
   routerLinkActive="active"
   [routerLinkActiveOptions]="{exact: true}"
   [queryParams]="model.params"
   #rla="routerLinkActive"
   tooltip="{{model.title | translate:lang}}"
   placement="{{ tooltipPositionLeft() }}"
   [isDisabled]="tooltipIsDisabled()"
   container="body">

    <span class="profile-nav_ico">
        <img [src]="model.imageUrl">
    </span>

    <span class="profile-nav_name" translate>{{model.title}}</span>
</a>
