// biblio-request



.biblio-request{
    font-family: @ff-proxima-nova;
    form&{
        margin: 0 0 20px;
    }
    &_field{
        margin: 20px 0 0;
        &:first-child{
            margin-top: 0;
        }
        &.error{
            .biblio-request_label{
                color: @errorText;
            }
            .form-control{
                border-color: @errorText;
            }
        }
    }
    &_label{
        font-size: 16px;
        line-height: 40px;
        color: #828187;
    }
    .form-control{
        font-family: @ff-proxima-nova;
        font-size: 16px;
        border-radius: 4px;
    }
    textarea.form-control{
        height: auto;
    }
    .pln-select{
        border-radius: 4px;
    }
    &_action{
		&_choose {
            position: absolute;
            bottom: 0;
            width: 50%;
            padding-right: 50px;

            &_left{
                float: left;
            }

            &_right {
                float: right;
            }
        }
		
        .btn{
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 4px;
        }
    }
}
