// biblio-cert



.biblio-cert{
    width: 556px;
    height: 393px;
    margin: 0 auto 23px;
    padding: 165px 0 0;
    font: 300 16px/21px @ff-proxima-nova;
    color: #474747;
    text-align: center;
    background: url(../images/biblio/cert.jpg) 0 0 / cover;
    &_name{
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
    }
}



.biblio-cert-info{
    font-size: 13px;
    color: #4c4c4c;
    text-align: center;
    &_txt{
        a{
            text-decoration: underline;
        }
    }
    &_btn{
        margin: 18px 0 0;
        .btn{
            padding: 14px 22px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            border-radius: 4px;
        }
    }
}


