// biblio-counter



.biblio-counter{
    position: relative;
    width: 36px;
    height: 36px;
    &_check{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 36px;
        height: 36px;
        border: 2px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: border .2s, background .2s;
        &:before{
            content: '';
            position: absolute;
            top: 11px;
            left: 9px;
            width: 15px;
            height: 7px;
            border-left: 2px solid #bbb;
            border-bottom: 2px solid #bbb;
            transform: rotate(-45deg);
            transition: border .2s;
        }
        &:hover{
            &:extend(.biblio-counter-hover all);
        }
    }

    &_val{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: 0s;
    }
    &_count{
        width: 36px;
        height: 36px;
        padding: 9px 0 0;
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        background: @baseColor;
    }
    &_minus,
    &_plus{
        display: none;
        position: absolute;
        top: 7px;
        left: -16px;
        width: 22px;
        height: 22px;
        padding: 4px 0 0;
        font-size: 13px;
        color: #969aa8;
        text-align: center;
        border: 1px solid #969aa8;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        &:hover{
            border-color: @baseColor;
            color: @baseColor;
        }
    }
    &_plus{
        left: auto;
        right: -16px;
    }
}


.biblio-counter-hover{
    border-color: @baseColor;
    &:before{
        border-color: transparent transparent @baseColor @baseColor;
    }
}


.biblio-counter-active{
    .biblio-counter{
        &_check{
            border-color: @baseColor;
            background: @baseColor;
            &:before{
                border-color: transparent transparent #fff #fff;
            }
        }
        &_val{
            z-index: 3;
            opacity: 1;
            transition: .2s .5s;
        }
    }
    &:hover{
        .biblio-counter{
            &_minus,
            &_plus{
                display: block;
            }
        }
    }
}
