// biblio-main-steps



.biblio-main-steps{
    position: relative;
    margin: -50px 0 0;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
    }
    &_cont{
        position: relative;
        margin: 0 -60px;
        padding: 74px 40px 51px;
        font-size: 0;
        text-align: center;
        background: #fff;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        padding: 0 20px;
        text-align: left;
    }
    &_head{
        margin: 0 0 3px;
        font: 700 32px/36px @ff-mir;
        color: #333;
    }
    &_text{
        font-size: 16px;
        line-height: 24px;
    }
    &_action{
        margin: 77px 0 0;
        .btn{
            position: relative;
            padding: 20px 57px;
            font: 700 24px/28px @ff-mir;
            border-radius: 4px;
            &:before{
                content: '';
                position: absolute;
                top: 15px;
                right: 10px;
                width: 36px;
                height: 36px;
                background: no-repeat 0 0 / cover;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 92 92'%3E%3Cpath d='M63 46c0 1.1-.4 2.1-1.2 2.9l-26 25C35 74.6 34 75 33 75c-1.1 0-2.1-.4-2.9-1.2-1.5-1.6-1.5-4.1.1-5.7l23-22.1-23-22.1c-1.6-1.5-1.6-4.1-.1-5.7 1.5-1.6 4.1-1.6 5.7-.1l26 25c.8.8 1.2 1.8 1.2 2.9z' fill='%23FFFFFF'/%3E%3C/svg%3E");
            }
        }
    }
}
