// biblio-wizard-filter



.biblio-wizard-filter{
    &:extend(.cf-mix all);
    margin: 0 29px;
    padding: 28px 0 34px;
    border-top: 1px solid #f0f0f0;

    &_search{
        position: relative;
        width: 300px;
        float: left;
        .form-control{
            height: 44px;
            padding: 13px 12px 11px 37px;
            font: 16px/18px @ff-proxima-nova;
            border-radius: 4px;
            box-shadow: inset 0 4px 4px fade(#000, 4);
        }
        .s-icon{
            position: absolute;
            top: 15px;
            left: 14px;
            font-size: 14px;
            color: #b2b2b2;
            pointer-events: none;
        }
        &__library{
            width: 670px;
            @media (max-width: 1199px) {
                width: 370px;
            }
        }
    }

    &_tabs{
        float: left;
        padding: 9px 0 0 33px;
    }

    &_show-checked{
        float: left;
        margin: 10px 0 0 17px;
    }

    &_switch-list{
        float: left;
        height: 44px;
        margin: 0 0 0 20px;
        padding: 0 0 0 20px;
        border-left: 1px solid #e5e5e5;
    }
}



.biblio-show-checked{
    white-space: nowrap;
    cursor: pointer;
    &_check{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        border: 1px solid #ddd;
        border-radius: 50%;
        &:before{
            content: '';
            position: absolute;
            top: 7px;
            left: 6px;
            width: 11px;
            height: 5px;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            transform: rotate(-45deg);
        }
    }
    &_text{
        display: inline-block;
        vertical-align: top;
        margin: 4px 0 0 6px;
        font-size: 16px;
        line-height: 18px;
        color: #4c4c4c;
        border-bottom: 1px dotted #ccc;
    }

    &:hover{
        .biblio-show-checked{
            &_check{
                border-color: @baseColor;
                &:before{
                    border-color: transparent transparent @baseColor @baseColor;
                }
            }
            &_text{
                color: @baseColor;
                border-bottom-color: @baseColor;
            }
        }
    }
}



.biblio-switch-list{
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    &_link{
        display: inline-block;
        vertical-align: top;
        margin: 19px 0 0;
        font-size: 11px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;

        &__first{
            color: #b8bfc4;
            border-bottom: 1px solid #eef0f1;
            &:hover{
                color: darken(#b8bfc4, 10%);
                border-bottom-color: darken(#eef0f1, 10%);
            }
        }
        &__second{
            color: @baseColor;
            border: 0;
        }
    }
    &_toggle{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 44px;
        height: 22px;
        margin: 12px 6px 0;
        border: 1px solid #ccc;
        border-radius: 20px;
        &:before{
            content: '';
            position: absolute;
            top: 2px;
            right: 2px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: @baseColor;
            transition: .2s;
        }
    }

    &.active{
        .biblio-switch-list{
            &_link{
                &__first{
                    color: @baseColor;
                    border: 0;
                }
                &__second{
                    color: #b8bfc4;
                    border-bottom: 1px solid #eef0f1;
                    &:hover{
                        color: darken(#b8bfc4, 10%);
                        border-bottom-color: darken(#eef0f1, 10%);
                    }
                }
            }
            &_toggle{
                &:before{
                    right: 24px;
                }
            }
        }
    }
}


