// biblio-logo



.biblio-logo{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 4578em / 985;
    margin: -8px 0 -4px;
    font-size: 40px;
    line-height: 1em;
    background: url(../images/biblio/logo.svg) no-repeat;
    &:before {
        content: "\00a0";
    }
}
