// biblio-stats



.biblio-stats{
    position: relative;
    color: #777a80;
    background: #fff;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -50px;
        right: -50px;
        box-shadow: inset 0 0 20px fade(#555d65, 30);
    }
    &_cont{
        position: relative;
        padding: 30px 0;
    }
    &_list{
        position: relative;
        z-index: 2;
        display: flex;
        text-align: center;
    }
    &_i{
        flex: 3;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 40px;
        padding: 0 0 0 40px;
        text-align: center;
        border-left: 1px solid #eee;
        &:first-child{
            flex: 2;
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
            text-align: left;
        }
    }
    &_i-cont{
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    &_val{
        font: 700 46px/1 @ff-mir;
        white-space: nowrap;
    }
    &_lbl{
        font-size: 18px;
        line-height: 1.24;
    }


    @media (max-width: @screen-ld-max) {
        &_i{
            margin-left: 20px;
            padding-left: 20px;
        }
    }
}
