// biblio-form-ui



// checkbox
.form-ui-biblio{
    margin: 5px 0 0;
    .form-ui-txt{
        padding: 3px 0 0 30px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        color: #333;
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    width: 23px;
                    height: 23px;
                    border: 1px solid @baseColor;
                    border-radius: 50%;
                    background: #fff;
                }
                &:after{
                    top: 7px;
                    left: 5px;
                    width: 13px;
                    height: 6px;
                    border-bottom: 2px solid transparent;
                    border-left: 2px solid transparent;
                    transform: rotate(-45deg);
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        background: @baseColor;
                    }
                    &:after{
                        border-bottom-color: #fff;
                        border-left-color: #fff;
                    }
                }
            }
        }
    }
}
// /checkbox
