// biblio-library



.biblio-library{
    &_i{
        margin: 3px 0 0;
    }
    &_link{
        padding: 18px 30px;
        background: #fff;
        cursor: pointer;
        &:first-child{
            margin: 0;
        }
        &:hover{
            background: #f1f1f1;
            .biblio-counter{
                &_check{
                    &:extend(.biblio-counter-hover all);
                }
            }
        }
        &.active{
            &:extend(.biblio-counter-active all);
        }
    }
    &_check{
        float: right;
        margin: 5px 0 0;
    }
    &_name{
        font-size: 18px;
        line-height: 22px;
        color: #132129;
    }
    &_delivery{
        margin: 6px 0 0;
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        color: #999;
    }
}


.biblio-all-library{
    &:extend(.cf-mix all);
    margin: 3px 0;
    padding: 14px 28px;
    border: 2px solid #ffc206;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    &:hover{
        .biblio-counter{
            &_check{
                &:extend(.biblio-counter-hover all);
            }
        }
    }
    &_check{
        float: right;
        margin: 5px 0 0;
        white-space: nowrap;
    }
    &_check-lbl{
        opacity: 0;
        float: left;
        margin: 11px 21px 0 0;
        font-size: 13px;
        line-height: 15px;
        font-weight: 600;
        color: #4c4c4c;
        transition: .2s;
    }
    &_check-text{
        display: none;
    }
    .biblio-counter{
        float: left;
    }
    &_ico{
        float: left;
        width: 48px;
        height: 48px;
        margin: 0 12px 0 0;
        background: url(../images/biblio/biblio-all-library.png) no-repeat;
    }
    &_cont{
        overflow: hidden;
        padding: 3px 0 0;
    }
    &_name{
        font-size: 18px;
        line-height: 22px;
        color: #132129;
    }
    &_text{
        margin: 3px 0 0;
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        color: #999;
    }
    &.active{
        &:extend(.biblio-counter-active all);
        .biblio-all-library_check-lbl{
            opacity: 1;
            transition: .2s .5s;
        }
        &:hover{
            .biblio-all-library_check-text{
                display: block;
            }
        }
    }
}
