// biblio buttons



.btn-biblio{
    color: #3d4246;
    border: 1px solid @baseColor;
    background: #fff;
    &:hover{
        color: #3d4246;
        border-color: @baseColor;
        background: #fafafa;
    }
    &.active, &:active{
        border-color: @baseColor;
        background: #fff;
    }
    &.disabled, &[disabled]{
        border-color: @baseColor;
        background: #fff;
    }
}

