// biblio-main-list



.biblio-main-list{
    background: #fff;
    &_i{
        &:extend(.cf-mix all);
    }
    &_descr{
        position: relative;
        float: left;
        width: 50%;
    }
    &_preview{
        position: relative;
        float: left;
        width: 50%;
        min-height: 420px;
    }
    &_cont{
        position: relative;
        float: right;
        display: table;
        width: 539px;
        min-height: 420px;
        margin: 0 46px 0 0;
    }
    &_cont-in{
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }

    &_img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: no-repeat 0 50% / cover;
    }

    &_i{
        &:nth-child(2n){
            .biblio-main-list{
                &_descr{
                    left: 50%;
                }
                &_preview{
                    right: 50%;
                }
                &_img{
                    background-position: 100% 50%;
                }
                &_cont{
                    float: left;
                    margin: 0 0 0 46px;
                }
            }
        }
    }

    &_books-descr{
        min-height: 540px;
    }
    &_preview__books{
        overflow: hidden;
        min-height: 540px;
        padding: 3px 0 0 3px;
        background: #fafafa;
    }
    &_books{
        height: 538px;
        overflow: hidden;
        @media (max-width: 1500px) {
            .book-card_i{
                width: 33.333333%;
            }
        }
        @media (max-width: 1130px) {
            .book-card_i{
                width: 50%;
            }
        }
    }

    &_head{
        margin: 0 0 3px;
        font: 700 36px/40px @ff-mir;
        color: #333;
    }
    &_text{
        font-size: 18px;
        line-height: 26px;
    }
    &_btn{
        margin: 19px 0 0;
        .btn{
            padding: 16px 27px 14px;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: .02em;
            text-transform: uppercase;
            border-radius: 4px;
        }
    }
    &_more{
        margin: 9px 0 0;
        font-size: 18px;
        font-weight: 700;
        a{
            text-decoration: underline;
        }
    }
    .biblio-map{
        > div{
            height: 420px;
            min-height: 0;
        }
    }


    @media (max-width: 1244px) {
        &_cont{
            width: 389px;
        }
    }
}



.biblio-main-play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 0 45px;
    cursor: pointer;
    &:hover{
        .biblio-main-play_ico{
            transform: scale(1.1);
        }
    }
    &_cont{
        display: table;
        width: 100%;
        height: 100%;
    }
    &_link{
        display: table-cell;
        vertical-align: middle;
        font-size: 0;
    }
    &_ico{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height: 46px;
        border: 2px solid #fff;
        border-radius: 50%;
        transform: scale(1);
        transition: .2s;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -5px;
            border-left: 14px solid #fff;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
    &_text{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        color: #fff;
        text-decoration: underline;
    }
}
