// biblio-cert-print



.biblio-cert-page{
    background: #fff;
    .biblio-cert{
        position: relative;
        width: 947px;
        height: 668px;
        margin: auto;
        padding-top: 290px;
        font-family: Arial, sans-serif;
        font-size: 28px;
        line-height: 1.4;
        &_name{
            font-size: 1.28em;
        }
        &_img{
            position: absolute;
            top: 0;
            left: 0;
        }
        &_cont{
            position: relative;
        }
    }
    .page-break{
        height: 23px;
        font-size: 0;
    }
}


.page-break{
    page-break-before: always;
}


