// biblio-form



.biblio-form{
    margin: 3px 0 0;
    padding: 30px;
    background: #fff;
    .form-control{
        height: 44px;
        padding: 13px 12px 11px;
        font: 16px/18px @ff-proxima-nova;
        border-radius: 4px;
        box-shadow: inset 0 4px 4px fade(#000, 4);
    }
    textarea.form-control{
        height: auto;
    }
    &_field{
        &.error{
            .form-control{
                border-color: #df2d2d;
                box-shadow: 0 0 7px fade(#df2d2d, 15);
            }
            .biblio-form{
                &_help{
                    color: #df2d2d;
                }
            }
        }
    }
    &_label{
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        color: #333;
    }
    &_help{
        margin: 7px 0 0;
        font-size: 13px;
        line-height: 18px;
        color: #999;
    }
    &_checkbox{
        margin: 15px 0 0;
    }
}
