// biblio-modals



.modal-biblio{
    width: 780px;
    border: 0;
    border-radius: 4px;
}

.modal-backdrop-biblio{
    background: fade(#455e6e, 60);
}

.modal-biblio-close{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 22px;
    line-height: 1;
    color: #56545c;
    cursor: pointer;
}


.modal-biblio-head{
    padding: 30px 50px 32px;
    border-bottom: 1px solid #aaafbd;
    &_title{
        margin: 4px 0 0;
        font: 700 16px/18px @ff-mir;
        color: #484848;
    }
}

.modal-biblio-body{
    padding: 21px 50px 30px;
}

.modal-biblio-title{
    margin: 0 0 38px;
    font: 700 46px/1 @ff-mir;
    color: #484848;
}
