// biblio-lead



.biblio-lead{
    margin: -20px 0 0;
    padding: 47px 0 90px;
    background: #54473f url(../images/biblio/lead-bg.jpg) no-repeat 50% 0 / cover;
	background-position: right;
    font-size: 16px;
    line-height: 1.24;
    color: #fff;
    a{
        color: #00c9ff;
        text-decoration: underline;
        &:hover{
            color: darken(#00c9ff, 10%);
        }
    }
    &_head{
        margin: 0 0 17px;
        font: 500 46px/1 @ff-mir;
    }
    &_text{
        margin: 0 0 21px;
        font-size: 16px;
        line-height: 23px;
    }

    &_blockquote{
        margin: 0 0 31px;
        padding: 0 0 0 18px;
        border-left: 2px solid fade(#fff, 20);
        &_text{
            margin: 0 0 11px;
            font: italic 23px/1.24 "Georgia", serif;
        }
    }

    &_share{
        margin: 0 0 43px;
        &_lbl{
            margin: 0 0 9px;
        }
        [class^="bs-icons-"], [class*=" bs-icons-"]{
            opacity: 1;
        }
        .sps-count{
            display: none;
        }
    }
}
