// bibliobiblio-wizard-head



[class^="s-wizard-"], [class*=" s-wizard-"]{
    .sprite(80, 80, url(../images/biblio/s-wizard.png));
}
//.s-wizard-books {background-position: 0 0}
.s-wizard-library {background-position: -100px 0}
.s-wizard-payment {background-position: -200px 0}
.s-wizard-success {background-position: -300px 0}
.s-wizard-fail    {background-position: -388px 0}
.s-wizard-waiting {background-position: -482px 0}


.biblio-wizard-head{
    margin: 0 0 78px;
    font-size: 0;
    text-align: center;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 152px;
        height: 152px;
        margin: 0 0 0 88px;
        padding: 14px 0 0;
        border: 1px solid #c2c2c2;
        color: #6d7277;
        background: #f7f7f7;
        box-shadow: 0 2px 10px fade(#000, 20);
        border-radius: 50%;
        &:before{
            content: '';
            position: absolute;
            top: 75px;
            right: 100%;
            width: 88px;
            margin: 0 2px 0 0;
            border-top: 2px solid #c3c3c3;
        }
        &:first-child{
            margin-left: 0;
            &:before{
                display: none;
            }
        }
        &.active{
            padding-top: 13px;
            border: 2px solid @baseColor;
            background: #fff;
            box-shadow: 0 10px 20px fade(#000, 20);
            .biblio-wizard-head{
                &_ico{
                    opacity: 1;
                }
            }
        }

        &__success{
            &.active{
                border-color: #87d65b;
                color: #87d65b;
            }
            .biblio-wizard-head{
                &_name{
                    margin-top: -5px;
                }
            }
        }
        &__fail{
            &.active{
	            border-color: #ff501a;
                color: #ff501a;
            }
        }
        &__waiting{
            &.active{
	            border-color: #3498db;
                color: #3498db;
            }
        }
    }
    &_ico{
        opacity: .6;
    }
    &_name{
        width: 100px;
        margin: 5px auto 0;
        font: 700 16px/1 @ff-mir;
    }
}
