// biblio-books-basket



.biblio-books-basket{
    &_head{
        margin: 0 0 7px;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    &_list{
        min-height: 52px;
        font-size: 0;
        margin: -10px 0 0 -10px;
    }
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 40px;
        margin: 10px 0 0 10px;
        border: 1px solid #d2dce4;
        &:hover{
            z-index: 1;
            .biblio-books-basket_del{
                display: block;
            }
            .biblio-books-basket_info{
                display: block;
            }
        }
    }
    &_cover-wrap{
        height: 40px;
    }
    &_cover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
    }
    &_del{
        display: none;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: -5px;
        width: 16px;
        height: 16px;
        padding: 1px 0 0 1px;
        font-size: 12px;
        text-align: center;
        border: 1px solid #b2a7a7;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
    }
    &_count{
        position: absolute;
        z-index: 1;
        bottom: -5px;
        right: -5px;
        min-width: 16px;
        height: 16px;
        padding: 3px 3px 0;
        font-size: 11px;
        line-height: 1;
        font-weight: 600;
        text-align: center;
        color: #fff;
        background: @baseColor;
        border-radius: 20px;
    }

    &_info{
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 140px;
        margin: 6px 0 0 -70px;
        padding: 8px 16px 8px;
        font-size: 13px;
        line-height: 16px;
        border-radius: 4px;
        background: fade(#000, 80);
        color: #fff;
        &:before{
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin: 0 0 0 -2px;
            border-bottom: 4px solid fade(#000, 80);
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
    }
    &_price{
        margin: 5px 0 0;
        font-size: 15px;
        line-height: 1;
        font-weight: 700;
    }
}
