// biblio-wizard-tabs



.biblio-wizard-tabs{
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 18px;
        &.active{
            .biblio-wizard-tabs_link{
                color: #fff;
                background: @baseColor;
                text-decoration: none;
            }
        }
    }
    &_link{
        display: block;
        padding: 4px 14px;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
            color: @baseColor;
            text-decoration: underline;
        }
    }

    &_drop-switch{
        display: block;
        padding: 4px 14px;
        border-radius: 20px;
        background: #f5f5f5;
        &:hover{
            background: darken(#f5f5f5, 10%);
        }
    }
    &_drop-list{
        margin: 10px 0 0;
        padding: 5px 0;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px fade(#000, 20);
    }
    &_drop-link{
        display: block;
        padding: 5px 15px;
        cursor: pointer;
        &:hover{
            background: #f5f5f5;
        }
    }
}


.biblio-wizard-tabs-libraries{
    overflow: hidden;
    width: 100%;
    padding: 20px 0 0;
}
