// biblio-title



.biblio-title{
    margin: -36px 0 35px;
    text-align: center;
    &_text{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 23px;
        padding: 10px 107px 14px 84px;
        font: 700 46px/48px @ff-mir;
        color: #4b5055;
        background: url(../images/biblio/title-bg.png) no-repeat 100% 0;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="20" /><feOffset dx="1" dy="6" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.15)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
        filter: drop-shadow(0 5px 20px fade(#000, 15));
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 100%;
            width: 23px;
            background: url(../images/biblio/title-bg.png) no-repeat;
        }
    }


    &__fail{
        .biblio-title{
            &_text{
                font-size: 38px;
                &, &:before{
                    background-image: url(../images/biblio/title-bg-fail.png);
                }
            }
        }
    }
}
