// biblio-fail



.biblio-fail-action{
    margin: 40px 0;
    text-align: center;
    .btn{
        padding: 15px 40px;
        font-size: 18px;
        border-radius: 5px;
    }
}


.biblio-fail-mail-report{
    margin: 0 0 40px;
    font-size: 20px;
    text-align: center;
    &_link{
        &:extend(.dot-link-mix all);
    }
}
