// biblio-wizard



.biblio-wizard{
    &:extend(.cf-mix all);
    margin: 0 0 90px;
    background: #fff;
    box-shadow: 0 3px 27px fade(#000, 10);
    &_text{
        max-width: 600px;
        margin: 0 auto 30px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        text-align: center;
    }
    &_cont{
        &:extend(.cf-mix all);
        background: #fafafa;
        .book-card{
            margin-top: 0;
        }
    }

    &_check-all{
        float: left;
        width: 25%;
        margin: 0 0 0 -3px;
        padding: 3px 0 0 3px;
        cursor: pointer;
        &_cont{
            height: 306px;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            background: #1392e1 url(../images/biblio/check-all-bg.jpg) no-repeat 0 0 / cover;
        }
        &_ico{
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 60px;
            height: 60px;
            margin: 91px 0 35px;
            border: 3px solid #fff;
            border-radius: 50%;
            &:before{
                content: '';
                position: absolute;
                top: 16px;
                left: 10px;
                width: 35px;
                height: 16px;
                border-left: 3px solid #fff;
                border-bottom: 3px solid #fff;
                transform: rotate(-45deg);
            }
        }
        &_text{
            font-size: 16px;
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &_total{
        &:extend(.cf-mix all);
        margin: 3px 0 0;
        padding: 15px 30px;
        background: #fff;
    }

    &_sum{
        float: right;
        margin: 10px 0 0;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        text-align: center;
        white-space: nowrap;
        &_val{
            font-size: 36px;
            line-height: 1;
        }
    }

    &_action{
        &:extend(.cf-mix all);
        padding: 17px 30px;
        border-top: 3px solid #fafafa;
        background: #fff;
    }
    &_add-info{
        float: left;
        max-width: 380px;
        font-size: 15px;
        line-height: 1.466667;
        color: #333;
        &__terms{
            margin: -4px 0;
            font-size: 13px;
        }
    }
    &_btn{
        float: right;
        .btn{
            float: left;
            margin: 0 0 0 15px;
            padding: 16px 28px 14px;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 4px;
            &:first-child{
                margin-left: 0;
            }
        }
    }


    &_fix-wrap{
        &.unfixed{
            .wrap.wrap{
                width: auto;
                max-width: none;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &_fix-cont{
        .fixed &{
            position: fixed;
            z-index: @zindexModal - 10;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            box-shadow: 0 0 50px fade(#000, 20);
        }
    }


    &_payment-type{
        margin: 0 0 20px;
    }
    &_payment{
        margin: 0 29px;
        padding: 10px 0 25px;
        border-top: 1px solid #f0f0f0;
        .pln-payment-order-type{
            padding-left: 0;
        }
        .pln-payment-type{
            border: 1px solid #d8dade;
        }
        .pln-payment-menu-wrap{
            border: 0;
        }
        .pln-payment-sub-menu{
            margin: 0;
            .pln-payment-type{
                border: 0;
            }
        }
        .pln-payment-sub-menu-wrap{
            margin: -1px 0 0;
            background: #fff;
        }
        .pln-payment-box{
            border-left: 0;
            border-right: 0;
            &:last-child{
                margin-bottom: 0;
                border-bottom: 0;
            }
            &:first-child{
                margin-top: 3px;
                border-top: 0;
            }
        }
        .pln-payment-box_head{
            color: #000;
        }
        .pln-payment_enter-sum{
            margin: 10px 0 0;
        }
    }

    &_forms{
        &:extend(.cf-mix all);
        background: #fafafa;
        margin: 0 -29px -25px;
    }

    &_payment-face{
        padding: 10px 0 20px;
        text-align: center;
        .pln-payment-face{
            float: none;
            display: inline-block;
            vertical-align: top;
            margin: 0;
            font-size: 16px;
        }
    }


    &_share{
        margin: 40px 0;
        font-size: 16px;
        text-align: center;
        .sps-count{
            display: none;
        }
    }
    &_share-head{
        margin: 0 0 10px;
    }

    &_payment-title{
        margin: -12px -29px 0;
        padding: 20px 0 20px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        border-top: 3px solid #fafafa;
    }


    @media (max-width: 1199px) {
        &_check-all{
            &_cont{
                height: 266px;
            }
        }
    }
}
