// biblio-library-basket



.biblio-library-basket{
    margin: 3px 0 0;
    padding: 13px 30px 20px;
    font-size: 12px;
    background: #fff;
    &_head{
        margin: 0 0 7px;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    &_list{
        max-height: 158px;
        overflow: hidden;
        &.collapsed{
            max-height: none;
        }
    }
    &_i{
        margin: 10px 0 0;
        &:first-child{
            margin: 0;
        }
        &:hover{
            .biblio-library-basket_del{
                visibility: visible;
            }
        }
    }
    &_name{
        font-size: 14px;
    }
    &_delivery{
        color: #999;
    }
    &_del{
        visibility: hidden;
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        margin: 3px 0 0 4px;
        padding: 1px 0 0 1px;
        font-size: 12px;
        border: 1px solid #b2a7a7;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
    }

    &_more{
        margin: 15px 0 0;
    }
    &_more-link{
        color: #828282;
        border-bottom: 1px dashed;
        cursor: pointer;
        &:hover{
            color: @baseColor;
        }
    }
}
