// book-view



.book-view{
    &:extend(.cf-mix all);
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 1.24;
    color: #484848;
    &_cover{
        float: left;
        width: 196px;
        margin: 0 35px 0 0;
    }
    &_cont{
        overflow: hidden;
        margin: -6px 0 0;
    }

    &_name{
        margin: 0 0 12px;
        font: 700 46px/1 @ff-mir;
        color: #484848;
    }

    &_info{
        font-size: 16px;
        line-height: 24px;
        &_i{
            &:extend(.cf-mix all);
            margin: 10px 0 0;
            &:first-child{
                margin-top: 0;
            }
        }
        &_lbl{
            float: left;
            width: 160px;
            font-weight: 700;
        }
        &_val{
            margin: 0 0 0 180px;
        }
    }

    &_descr{
        margin: 18px 0 23px;
        padding: 20px 0 0;
        border-top: 1px solid #cacfde;
    }


    &_value{
        &:extend(.cf-mix all);
    }

    &_cost{
        float: right;
        margin: 8px 0 0;
        font: 700 34px/1 @ff-mir;
        color: #484848;
        white-space: nowrap;
    }

    &_count{
        &_lbl{
            display: inline-block;
            vertical-align: top;
            margin: 13px 7px 0 0;
            font-size: 16px;
            font-weight: 700;
            color: #3d4246;
        }
        &_val{
            display: inline-block;
            vertical-align: top;
            width: 40px;
            margin: 0 11px;
            .form-control{
                height: 44px;
                padding: 11px 5px;
                font: 16px/20px @ff-proxima-nova;
                text-align: center;
                border-color: #97c3ca;
                border-radius: 4px;
            }
        }
        &_minus,
        &_plus{
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 5px 0 0;
            width: 35px;
            height: 35px;
            border: 1px solid #c7c7c7;
            border-radius: 50%;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 16px;
                left: 8px;
                width: 17px;
                border-top: 1px solid #c7c7c7;
            }
            &:after{
                display: none;
                content: '';
                position: absolute;
                top: 8px;
                left: 16px;
                height: 17px;
                border-left: 1px solid #c7c7c7;
            }
            &:hover{
                border-color: @baseColor;
                &:before{
                    border-top-color: @baseColor;
                }
                &:after{
                    border-left-color: @baseColor;
                }
            }
        }
        &_plus{
            &:after{
                display: block;
            }
        }
    }

    &_value-text{
        margin: 26px 0 0;
        padding: 14px 0 0;
        border-top: 1px solid #cacfde;
        font-size: 14px;
        line-height: 1.24;
        font-style: italic;
        color: #484848;
    }


    &_action{
        margin: 34px 0 0;
        text-align: right;
        font-size: 0;
        .btn{
            padding: 12px 14px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 4px;
            & + .btn{
                margin: 0 0 0 15px;
            }
        }
    }
    &_action-left-btn{
        float: left;
    }
}
