// book-card



.book-card{
    margin: -3px 0 0 -3px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 3px 0 0 3px;
        font: 700 14px/16px @ff-proxima-nova;
        color: #132129;
    }
    &_i-cont{
        position: relative;
    }

    &_link{
        position: relative;
        height: 306px;
        padding: 40px 20px 2px;
        border-radius: 2px;
        background: #fff;
        cursor: pointer;
        overflow: hidden;
        transform: translateZ(0);
        &:hover{
            z-index: 1;
            box-shadow: 0 0 20px fade(#555d65, 30);
            .book-card{
                &_hover{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &_hover{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 2px;
        background: fade(@baseColor, 90);
        transform: scale(1.3);
        transition: all 0.2s ease-in-out;
        font-size: 0;
        text-align: center;
        white-space: nowrap;
        opacity: 0;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
    &_hover-cont{
        display: inline-block;
        vertical-align: middle;
        padding: 10px 20px;
        font-family: @ff-mir;
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: .05em;
        color: #fff;
        white-space: normal;
    }

    &_cover-wrap{
        position: relative;
        height: 190px;
    }
    &_cover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
    }

    &_cont{
        position: absolute;
        bottom: 16px;
        left: 17px;
        right: 60px;
    }
    &_name{
        margin: 0 0 5px;
        font: 700 16px/1 @ff-mir;
    }

    &_counter{
        position: absolute;
        bottom: 18px;
        right: 18px;
    }



    &_i.active{
        &:extend(.biblio-counter-active all);
        .book-card{
            &_i-cont{
                border-color: @baseColor;
            }
        }
    }


    // special card
    &_special{
        height: 306px;
        padding: 26px 29px 0;
        color: #fff;
        border-radius: 4px;
        background: @baseColor;
        text-align: center;
        &_count{
            font: 700 136px/1 @ff-mir;
        }
        &_lbl{
            margin: -19px 0 33px;
            font: 700 16px/18px @ff-mir;
        }
        &_btn{
            display: block;
            padding: 11px 0 9px;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
            border: 1px solid #fff;
            border-radius: 4px;
            cursor: pointer;
            &:hover{
                background: darken(@baseColor, 5%);
            }
        }
    }


    @media (max-width: 1199px) {
        &_link{
            height: 266px;
        }
        &_cover-wrap{
            height: 150px;
        }
        &_special{
            height: 266px;
        }
    }
}
