// form-ui



.form-ui{
    margin: 5px 0 0;
}
.form-ui-control{
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    outline: 0 none;
}

.form-ui-label{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
}

.form-ui-txt {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 25px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
    }
    &:after{
        content: '';
        position: absolute;
    }
}



// radio
.form-ui-default{
    input[type="radio"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    border: 1px solid @baseColor;
                    border-radius: 50%;
                    background: #fff;
                }
                &:after{
                    top: 4px;
                    left: 4px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        background: @baseColor;
                    }
                }
            }
        }

        &:disabled {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        background: #f2f2f2;
                        border-color: #ccc;
                    }
                }
            }
            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:after{
                            background: #ccc;
                        }
                    }
                }
            }
        }
    }
}
// /radio




// checkbox
.form-ui-default{
    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    border: 1px solid @baseColor;
                    border-radius: 2px;
                    background: #fff;
                }
                &:after{
                    top: 5px;
                    left: 3px;
                    width: 12px;
                    height: 6px;
                    border-bottom: 2px solid transparent;
                    border-left: 2px solid transparent;
                    transform: rotate(-45deg);
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        border-bottom-color: @baseColor;
                        border-left-color: @baseColor;
                    }
                }
            }
        }

        &:disabled {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        background: #f2f2f2;
                        border-color: #ccc;
                    }
                }
            }
            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:after{
                            border-bottom-color: #ccc;
                            border-left-color: #ccc;
                        }
                    }
                }
            }
        }
    }
}
// /checkbox
