// main bibliorodina


.biblio-page{
    font-family: @ff-proxima-nova;
    background: #fff url(../images/biblio/bg.jpg);

    .list-loader{
        margin: 10px 5px;
        a{
            font-size: 15px;
            line-height: 18px;
            font-weight: 700;
            color: #444;
            background: #fff;
            border: 2px solid @baseColor;
            transition: .2s;
            &:hover{
                color: #fff;
                background: @baseColor;
            }
        }
        .icon-load{
            display: none !important;
        }
    }
}




.biblio-map{
    > div{
        height: 50vh;
        min-height: 500px;
    }
}

.biblio-map-tooltip{
    width: 300px;
    padding: 2px;
    background: #fff;
    &_cont{
        padding: 16px 26px 11px;
        border: 2px solid #ffc200;
    }
    &_name{
        font: 700 15px/22px @ff-proxima-nova;
        color: #132129;
    }
    &_action{
        margin: 10px 0 10px;
        .btn{
            width: 100%;
            padding: 16px 0 14px;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 4px;
        }
    }
    &_text{
        font-size: 13px;
        color: #666;
    }
}
