//Pl-forms base
@import "../less/base";
@import "../less/dropdown";

.pl-select{
    line-height: 20px;
    background: #fff;
    outline: 0;
    text-align: left;

    &.open{
        border-color: @linkColor;
        .dropdown-menu{
            visibility: visible;
            display: block !important;
            margin: 1px 0 0;
            animation-name: pl-select_bottom-visible;
        }
    }
    .select-btn{
        width: 40px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .icon-select{
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        border-style: solid;
        border-color: @linkColor transparent transparent;
        border-width: 9px 6px 0;
        font: 0/0 a;
        background: none;
        margin: -4px 0 0 -6px;
    }
    .select-cont{
        display: block;
        .text-overflow();
    }
    &.disabled, &.disable{
        background-color: #f5f5f5;
        border-color: #ddd;
        cursor: default;
        .icon-select{
            border-top-color: #ccc;
        }
    }
}

@keyframes pl-select_bottom {
    0% {
        visibility: visible;
        margin: 1px 0 0;
        transform: translateY(0);
        opacity: 1;
    }

    99% {
        margin: 1px 0 0;
        transform: translateY(10px);
    }

    100% {
        visibility: hidden;
        margin: -99999px 0 0 -99999px;
        opacity: 0;
    }
}


@keyframes pl-select_bottom-visible {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
