<div *ngIf="settings.labelType === labelTypes.OUTER" class="pl-input-control_outer-label">
    <label class="pl-input-control_outer-label_lbl">{{ titleCode | translate:lang }}</label>
</div>

<div class="pl-input-control">
    <div class="form-control pl-select dropdown pl-input-control_val"
         (click)="toggleOpen()"
         [class.open]="open"
         [class.pl-input-control_val-inner]="settings.labelType === labelTypes.INNER"
         [class.pl-input-control_val-outer]="settings.labelType === labelTypes.OUTER"
         (clickOutside)="close()">

        <div class="select-btn">
            <i class="icon-select"></i>
        </div>

        <span class="select-cont">{{ getSelectedName() }}</span>

        <ul class="dropdown-menu" style="display: none">
            <li class="item" *ngFor="let option of options" [ngClass]="{'active': isActive(option)}">
                <a href="#" (click)="setOption(option, false, $event.preventDefault())">{{ getOptionName(option) }}</a>
            </li>
        </ul>
    </div>

    <label *ngIf="settings.labelType === labelTypes.INNER"
           class="pl-input-control_inner-label">{{ titleCode | translate:lang }}</label>
</div>
