<div class="project-payment-loading" *ngIf="!infoLoaded">
    <pl-preloader></pl-preloader>
</div>

<div class="project-donate" *ngIf="infoLoaded">
    <div class="project-donate_header">
        <div class="project-donate_title" translate>payment-page.title</div>

        <div class="project-donate_name">
            <a href="/campaigns/{{ purchaseShareInfo.campaign.campaignId }}"
               [innerText]="purchaseShareInfo.campaign.name"></a>
        </div>

        <div class="project-donate_author">
            {{ 'payment-page.author' | translate:lang }}
            <a [href]="purchaseShareInfo.campaign.creatorProfileId" target="_blank">
                {{ purchaseShareInfo.authorName }}
            </a>
        </div>
    </div>

    <div class="project-donate_main">
        <div class="wrap">
            <div class="project-donate_main-wrap-row wrap-row">
                <div class="m-col-tp-8 col-12">
                    <div class="project-payment">
                        <div class="project-payment_common wrap-row">
                            <div class="project-payment_common-i m-col-pl-3 col-12">
                                <div class="project-payment_common-lbl" translate>payment-page.total-amount</div>
                                <div class="project-payment_common-val">
                                    <span class="project-payment_common-price">{{ purchaseShareInfo.donateAmount | humanNumber }} ₽</span>
                                </div>
                            </div>
                            <div class="project-payment_common-i m-col-pl-9 col-12">
                                <div class="project-payment_common-lbl" translate>payment-page.chosen-reward</div>
                                <div class="project-payment_common-val">
                                    <span *ngIf="purchaseShareInfo.quantity > 1"
                                          class="project-payment_common-val-count">{{ purchaseShareInfo.quantity }} x</span>
                                    <span class="project-payment_common-val-name">{{ purchaseShareInfo.shareDetailed.name }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="project-payment_auth" *ngIf="!profile">
                            <pl-email-with-login [(model)]="paymentData.email"
                                                 (blockVisibilityChanged)="visibilityChanged($event)"
                                                 [field]="'email'"
                                                 [errors]="errors"></pl-email-with-login>
                        </div>

                        <div class="project-payment_steps" [ngClass]="{'disabled': disableAllBlocks}">
                            <div class="project-payment_steps-i"
                                 *ngIf="purchaseShareInfo.shareDetailed.questionToBuyer">
                                <div class="project-payment_steps-title">
                                    <span class="project-payment_steps-num">1.</span>
                                    {{ 'payment-page.question-to-buyer' | translate:lang }}
                                </div>
                                <div class="project-payment_steps-body">
                                    <div class="project-payment-form_author-q"
                                         [innerText]="purchaseShareInfo.shareDetailed.questionToBuyer"></div>
                                    <div class="project-payment-form_author-a">
                                        <pl-textarea [labelCode]="'payment-page.question-to-buyer-label'"
                                                     [(model)]="paymentData.reply"
                                                     [errors]="errors"
                                                     [field]="'reply'"></pl-textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="project-payment_steps-i" *ngIf="doRequireDelivery()">
                                <div class="project-payment_steps-title">
                                    <span class="project-payment_steps-num"
                                          *ngIf="!purchaseShareInfo.shareDetailed.questionToBuyer">1.</span>
                                    <span class="project-payment_steps-num"
                                          *ngIf="purchaseShareInfo.shareDetailed.questionToBuyer">2.</span>
                                    {{ 'payment-page.delivery-block-title' | translate:lang }}
                                </div>

                                <div class="project-payment_steps-body">
                                    <pl-delivery-methods [methods]="purchaseShareInfo.shareDetailed.linkedDeliveries"
                                                         [(model)]="paymentData.deliveryInfo"
                                                         [errors]="errors"></pl-delivery-methods>
                                </div>
                            </div>

                            <div class="project-payment_steps-i">
                                <div class="project-payment_steps-title">
                                    <span class="project-payment_steps-num">{{ getPaymentMethodsBlockTitleNumber() }}</span>
                                    {{ 'payment-page.payment-block-title' | translate:lang }}
                                </div>
                                <div class="project-payment_steps-body">
                                    <pl-payment-methods [(model)]="paymentData"
                                                        [purchaseInfo]="purchaseShareInfo"
                                                        [errors]="errors"></pl-payment-methods>
                                </div>
                            </div>
                        </div>

                        <div class="project-payment_action" [ngClass]="{'disabled': disableAllBlocks}">
                            <div class="project-payment_term">
                                <div class="project-donate-term">
                                    <div class="project-donate-term_i">
                                        <div class="form-ui form-ui-project-donate"
                                             [ngClass]="{
                                                    'error': agreementError,
                                                    'show-error-tooltip': agreementErrorTooltip
                                                }">
                                            <div class="form-ui-tooltip-error">
                                                <div class="form-ui-tooltip-error_cont" translate>
                                                    core.agreement-error
                                                </div>
                                            </div>
                                            <input class="form-ui-control"
                                                   id="agreement"
                                                   type="checkbox"
                                                   [(ngModel)]="agreement"
                                                   (ngModelChange)="onAgreementChange($event)">
                                            <label class="form-ui-label" for="agreement">
                                                <span class="form-ui-txt">
                                                    {{ 'payment-page.agreement' | translate:lang }}
                                                    <a [href]="'//' + mainHost + '/welcome/projects-agreement.html'"
                                                       target="_blank"
                                                       translate>core.agreement-link</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="project-payment_action-btn">
                                <button type="button"
                                        class="btn btn-nd-primary project-payment_btn"
                                        (click)="purchase($event)"
                                        translate>payment-page.purchase
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-col-tl-3 m-col-tl-offset-1 m-col-tp-4 col-12 d-tp-block pl-d-none">
                    <div class="donate-sidebar" sticky sticky-offset-top="15">
                        <div class="donate-info">
                            <div class="donate-info_lbl" [translate]="'payment-page.do-you-have-questions'"></div>
                            <div class="donate-info_text">
                                <span [innerHtml]="'payment-page.call-us' | translate:lang"></span>
                                <a href="mailto:support@planeta.ru">support@planeta.ru</a>.
                            </div>

                            <div class="donate-info_attention">
                                <div class="donate-shop-attention">
                                    <div class="donate-shop-attention_ico">
                                        <svg width="27" height="27" viewBox="0 0 27 27">
                                            <g fill="#FFCF0D">
                                                <path d="M12.136 12.96v6.124c0 .725.586 1.317 1.303 1.317s1.304-.592 1.304-1.317V12.96c0-.725-.587-1.317-1.304-1.317-.717 0-1.303.592-1.303 1.317zm.163-5.466a1.68 1.68 0 0 0-.489 1.152c0 .428.163.856.489 1.153.293.296.717.494 1.14.494.424 0 .848-.165 1.141-.494a1.69 1.69 0 0 0 .489-1.153 1.55 1.55 0 0 0-.489-1.152A1.653 1.653 0 0 0 13.439 7c-.423 0-.847.198-1.14.494z"></path>
                                                <path d="M13.5 27C6.044 27 0 20.956 0 13.5S6.044 0 13.5 0 27 6.044 27 13.5 20.956 27 13.5 27zm0-2C19.851 25 25 19.851 25 13.5S19.851 2 13.5 2 2 7.149 2 13.5 7.149 25 13.5 25z"></path>
                                            </g>
                                        </svg>
                                    </div>

                                    <div class="donate-shop-attention_text">
                                        <span [innerHtml]="'payment-page.is-not-store' | translate:lang"></span>
                                        <br>
                                        <a [href]="'//' + mainHost + '/welcome/projects-agreement.html'" translate>core.more</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="donate-call" *ngIf="isHelpBlockAvailable">
                            <div class="donate-call">
                                <div class="donate-call_head" translate>payment-page.troubles</div>
                                <div class="donate-call_text" translate>payment-page.call-in-5-minutes</div>

                                <div class="donate-call_link-wrap pln-dropdown" [ngClass]="{'open': showHelpDropdown}">
                                    <span class="donate-call_link pln-d-switch" (click)="toggleHelpDropdown()"
                                          translate>payment-page.call-me</span>
                                    <div class="pln-d-popup donate-call_popup" (clickOutside)="closeHelpDropdown()"
                                         [exclude]="'.donate-call_link'">
                                        <div *ngIf="!isCallMeSuccess" class="donate-call_popup-cont">
                                            <div class="donate-call_popup-title" translate>payment-page.type-phone</div>
                                            <div class="donate-call_input">
                                                <pl-input [labelCode]="'core.number'"
                                                                      [(model)]="callMePhone"
                                                                      [settings]="phoneInputOptions"
                                                                      [errors]="errors"></pl-input>
                                            </div>
                                            <div class="donate-call_action">
                                                <button class="btn btn-nd-primary btn-block" type="button"
                                                        (click)="sendCallMeCallBack()" translate>payment-page.call-me
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngIf="isCallMeSuccess" class="donate-call_popup-cont">
                                            <div class="donate-call_popup-title" translate>
                                                payment-page.thanks-for-request
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="/payment-create.html" style="display: none;" #myform>
        <input type="hidden" name="amount" [value]="paymentData.partialFromBalance && purchaseShareInfo.donateAmount > getBalance()
                ? purchaseShareInfo.donateAmount - getBalance() : purchaseShareInfo.donateAmount">
        <input type="hidden" name="fromBalance" [value]="paymentData.fullFromBalance">
        <input type="hidden" name="paymentMethodId" [value]="paymentData.paymentMethodId">
        <input type="hidden" name="email" [value]="paymentData.email">
        <input type="hidden" name="shareId" [value]="purchaseShareInfo.shareDetailed.shareId">
        <input type="hidden" name="count" [value]="purchaseShareInfo.quantity">
        <input type="hidden" name="reply" [value]="paymentData.reply">
        <input type="hidden" name="donateAmount" [value]="purchaseShareInfo.donateAmount">
        <input type="hidden" name="campaignId" [value]="purchaseShareInfo.campaign.campaignId">
        <input type="hidden" name="countryId" [value]="paymentData.deliveryInfo.address.countryId">
        <input type="hidden" name="phone" [value]="paymentData.paymentPhone">
        <input type="hidden" name="zipCode" [value]="paymentData.deliveryInfo.address.zipCode">
        <input type="hidden" name="city" [value]="paymentData.deliveryInfo.address.city">
        <input type="hidden" name="street" [value]="paymentData.deliveryInfo.address.street">
        <input type="hidden" name="contactPhone" [value]="paymentData.deliveryInfo.customerContacts.phone">
        <input type="hidden" name="customerName" [value]="paymentData.deliveryInfo.customerContacts.customerName">
        <input type="hidden" name="serviceId" [value]="paymentData.deliveryInfo.serviceId">
    </form>
</div>
