.modal-photo-crop {
    width: 700px!important;
}
.modal-photo-crop .modal-body{
    max-height: none!important;
}
.jcrop-holder img {
    max-width: none !important;
}

.photo-crop_wrap .jcrop-holder {
    margin: auto!important;
}

.photo-crop_img {
    max-height: 500px;
}