img.mceMusic {
   /*float: left;*/
   resize: none;
}

div.mceMusicContextMenu {
    background: #E2EBFC;
    /*background: -moz-linear-gradient(center top , #E2EBFC, #C5D7F8);*/
    /*background: -webkit-gradient(linear,left top,left bottom,from(#E2EBFC),to(#C5D7F8));*/
    /*background: -o-linear-gradient(top,#E2EBFC,#C5D7F8);*/
    padding: 10px;
    display: none;
    position: absolute;
   /* width: 50px;
    height: 20px;*/
    z-index: 1000;
}