img.mce-photo {
   /*float: left;*/
   /*display: block;*/
   /*resize: none;*/
}

div.mce-photo-close {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 1000;
    /*background: #ffffff;*/
    background-image: url(close.gif);
}

div.mce-photo-align {
    width: 150px;
    height: 25px;
    position: absolute;
    z-index: 1000;
}

div.mce-photo-context-menu {
    background: #E2EBFC;
    /*background: -moz-linear-gradient(center top , #E2EBFC, #C5D7F8);*/
    /*background: -webkit-gradient(linear,left top,left bottom,from(#E2EBFC),to(#C5D7F8));*/
    /*background: -o-linear-gradient(top,#E2EBFC,#C5D7F8);*/
    padding: 10px;
    /*display: none;*/
    position: absolute;
   /* width: 50px;
    height: 20px;*/
    z-index: 1000;
}

.mce-photo-float-right {
    display: block;
    float: right;
}

.mce-photo-float-left {
    display: block;
    float: left;
}

.mce-photo-float-inline {
    display: inline-block;
    float: none;
}

.mce-photo-float-block {
    display: block;
    float: none;
}

.mce-photo-resize-wrapper {
  position: relative;
    /*display: inline-block;*/
}

.mce-photo-resize-handle-se { /* правый-нижний угол */
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(handle-se.png) no-repeat;
  cursor: se-resize;
}

.mce-photo-resize-handle-s { /* нижняя "рамка", за которую можно потащить */
  height: 3px;
  width:100%;
  position: absolute;
  bottom: 0;
  background: gray;
  cursor: s-resize;
}

.mce-photo-resize-handle-e { /* правая "рамка", за которую можно потащить */
  width: 3px;
  height:100%;
  position: absolute;
  right: 0;
  top: 0;
  background: gray;
  cursor: e-resize;
}
