    body{
        font-family: Arial;
        font-size: 13px;
        height: auto;
    }
    .coupon-print{
        background-color: #fff;
        width: 600px;
        display: block;
        margin:  20px auto;
        border:  1px solid #808080;
        padding: 0 18px;
        position: relative;
        word-wrap: break-word;
    }

    .print-bg{
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        bottom: 1px;
        overflow: hidden;
        z-index: 1;
    }




    .shadow {
        position:relative;
        width:640px;
        margin: auto;
        background:#fff;
       border-radius:4px;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-border-radius:4px;
        -webkit-box-shadow:none;
           -moz-box-shadow:none;
                box-shadow:none;
    }

    .shadow > :first-child:before {
        content:"";
        position:absolute;
        z-index:-1;
        top:0px;
        bottom:0;
        left:0;
        right:0px;
        background:#fff;
       -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    .shadow:before,
    .shadow:after {
            content:"";
            position:absolute;
            z-index:-2;
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
        -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
           -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform:rotate(-2deg);
           -moz-transform:rotate(-2deg);
            -ms-transform:rotate(-2deg);
             -o-transform:rotate(-2deg);
                transform:rotate(-2deg);
    }

    .shadow:after {
        right:10px;
        left:auto;
        -webkit-transform:rotate(2deg);
           -moz-transform:rotate(2deg);
            -ms-transform:rotate(2deg);
             -o-transform:rotate(2deg);
                transform:rotate(2deg);
    }





    .coupon-print-item{
        border-top: 1px solid #cccccc;
        padding: 20px 0;
        display: inline-block;
        width: 100%;
        position: relative;
        z-index: 200;
        overflow: hidden;
    }
    .coupon-print-item:first-child{
        border-top: 0 solid #fff;
    }
    .coupon-print-item .logo{
        width: 201px;
        height: 53px;
        display: inline-block;
    }
    .coupon-print-item .info h1{
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
    .coupon-print-item .info h2{
        font-size: 16px;
        line-height: 18px;
        margin: 0;
    }
    .coupon-print-item .info h3{
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 20px;
    }
    .coupon-print-item .info-item{
        display: table;
        position: relative;
    }
    .coupon-print-item .info span{
        float: left;
        padding-right: 25px;
        position: relative;
        top: 0;
        width: 125px;
        color: #4c4c4c;
    }
    .coupon-print-item .info span b{
        display: block;
        color: #000;
        font-weight: normal;
    }
    .coupon-print-item .info span.price b{
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
    }
    .coupon-print-item .info span.number b{
        font-size: 17px;
        font-weight: bold;
    }
    .coupon-print-item .description img{
        display: inline-block;
        margin: 5px 15px 0 0;
        max-width: 150px;
    }
    .coupon-print-item .description .descr{
        overflow: hidden;
    }
    .coupon-print-item .bbtext img{
        display: inline-block;
        margin: 5px 15px 0 0;
    }
    .code{
        color: #4C4C4C;
        display: inline-block;
        font-size: 22px;
        line-height: 28px;
        width: 350px;
        float: left;
    }
    .code b{
        color: #000;
        font-size: 24px;
        display: block;
    }
    .shcode{
        display: inline-block;
        width: 230px;
        padding: 0 0 0 20px;
        float: right;
    }
    
    .coupon-print-menu{
        font: 700 15px/19px "Trebuchet MS", Tahoma, sans-serif;
        margin: -15px 0 0 72px;
    }
    .coupon-print-menu span{
        margin: 0 5px 0 0;
    }
    