article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover,
a:active {
    outline: 0;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button,
input {
    *overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}


.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.pull-right{
    float: right;
}
.pull-left{
    float: left;
}


html,body {
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

a {
    color: #26aedd;
    text-decoration: none;
}
a:hover {
    color: #197c9e;
    text-decoration: underline;
}


/* buttons */
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 5px 14px 6px;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 #ffffff inset;
    -moz-box-shadow: 0 1px 0 #ffffff inset;
    box-shadow: 0 1px 0 #ffffff inset;
    cursor: pointer;
}
.btn:hover {
    text-decoration: none;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -6px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-small {
    padding: 4px 8px;
    font-size: 11px;
    line-height: 18px;
    *line-height: 17px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
    margin-bottom: -1px;
}
.btn-small .icon {
    margin-top: -1px;
}
.btn-primary,
.btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #19bdf1;
    background-image: -moz-linear-gradient(top, #1bccff, #16a6db);
    background-image: -ms-linear-gradient(top, #1bccff, #16a6db);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1bccff), to(#16a6db));
    background-image: -webkit-linear-gradient(top, #1bccff, #16a6db);
    background-image: -o-linear-gradient(top, #1bccff, #16a6db);
    background-image: linear-gradient(top, #1bccff, #16a6db);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bccff', endColorstr='#16a6db', GradientType=0);
    border-color: #16a6db #16a6db #0f7195;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: 0 1px 0 0 #73dcff inset;
    -moz-box-shadow: 0 1px 0 0 #73dcff inset;
    box-shadow: 0 1px 0 0 #73dcff inset;
}
.btn-primary:hover,
.btn-primary:active {
    background-color: #16a6db;
}
.btn-primary:active {
    background-color: #1183ad \9;
}/* /buttons */

/* icons */
[class^="icon-"] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url(../images/icon/icon-sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
}
.icon-black {
    background-image: url(../images/icon/icon-sprite.png);
}
.icon-white {
    background-image: url(../images/icon/icon-sprite-white.png);
}
.icon-blue {
    background-image: url(../images/icon/icon-sprite-blue.png);
}
.icon-gray {
    background-image: url(../images/icon/icon-sprite-gray.png);
}

.icon-project               { background-position: -288px -48px; }
.icon-alarm-clock           { background-position: -672px -72px; }
.icon-full-length-film      { background-position: -120px 0; }
.icon-audio-album           { background-position: -144px 0; }
.icon-book                  { background-position: -695px -24px; }
.icon-spectacle             { background-position: -144px -47px; }
.icon-exhibition            { background-position: -216px -49px; }
.icon-fashion-project       { background-position: -360px -48px; }
.icon-palette               { background-position: -576px -48px; }
.icon-game                  { background-position: -456px -48px; }
.icon-design                { background-position: -480px -48px; }
.icon-chemical              { background-position: -504px -48px; }
.icon-charity               { background-position: -528px -48px; }
.icon-suitcase              { background-position: -552px -48px; }
.icon-social                { background-position: -720px -72px; }
/* /icons */


.link-icon {
}
.link-icon .text-icon + [class^="icon-"] {
    margin-left: 3px;
}
.link-icon [class^="icon-"] + .text-icon {
    margin-left: 3px;
}
.link-icon.cont-va-middle [class^="icon-"],
.link-icon.cont-va-middle .text-icon {
    vertical-align: middle;
}

/* progress block */
.pln-progress {
    overflow: hidden;
    background-color: #b4b4b4;
    background-image: -moz-linear-gradient(top, #aeaeae, #bebebe);
    background-image: -ms-linear-gradient(top, #aeaeae, #bebebe);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aeaeae), to(#bebebe));
    background-image: -webkit-linear-gradient(top, #aeaeae, #bebebe);
    background-image: -o-linear-gradient(top, #aeaeae, #bebebe);
    background-image: linear-gradient(top, #aeaeae, #bebebe);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aeaeae', endColorstr='#bebebe', GradientType=0);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.pln-progress .pr-bar {
    height: 15px;
    background-color: #44c8f5;
    background-image: -moz-linear-gradient(top, #52d4ff, #2fb6e5);
    background-image: -ms-linear-gradient(top, #52d4ff, #2fb6e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52d4ff), to(#2fb6e5));
    background-image: -webkit-linear-gradient(top, #52d4ff, #2fb6e5);
    background-image: -o-linear-gradient(top, #52d4ff, #2fb6e5);
    background-image: linear-gradient(top, #52d4ff, #2fb6e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52d4ff', endColorstr='#2fb6e5', GradientType=0);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.pln-progress .pr-value {
    text-align: center;
    color: #fff;
    font-size: 9px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
    margin: -18px 0 0;
    height: 15px;
    line-height: 15px;
    padding: 3px 0 0;
}
.ie9 .pln-progress,
.ie9 .pln-progress .pr-bar {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
x:-o-prefocus, .pln-progress { border-radius: 0; }
/* /progress block */


/* project widget style */
.shop-catalogue-list {}
.shop-catalogue-list .shop-catalogue-item {
    display: block;
    color: #333333;
    text-decoration: none;
    width: 218px;
    height: 277px;
    position: relative;
    word-wrap: break-word;
    cursor: default;
}
.shop-catalogue-list .item-cont-bg {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-top: 131px;
}
.shop-catalogue-list .item-cont {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    min-height: 100%;
    z-index: 2;
}
.shop-catalogue-list .item-cont-planeta-logo{
    position: absolute;
    z-index: 3;
    width: 75px;
    height: 22px;
    top: 3px;
    left: 3px;
    background: url(../images/planeta/planetoverlay.png) no-repeat;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.shop-catalogue-list .project-type {
    position: absolute;
    z-index: 3;
    width: 24px;
    height: 34px;
    padding: 0 0 0 10px;
    top: -1px;
    right: -1px;
    text-align: center;
    background: url(../images/planeta/project-type-bg.png) no-repeat;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.shop-catalogue-list .project-type img {
    width: 100%;
    height: 100%;
}
.shop-catalogue-list .project-type [class^="icon"] {
    background-image: url(../images/icon/icon-sprite-white.png);
    position: relative;
    top: 3px;
    margin-right: 0;
}
.shop-catalogue-list .item-pic-wrap {
    height: 128px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px;
    -webkit-transition: left 0.1s ease, right 0.1s ease, top 0.1s ease, height 0.1s ease, padding 0.1s ease;
    -moz-transition: left 0.1s ease, right 0.1s ease, top 0.1s ease, height 0.1s ease, padding 0.1s ease;
    -ms-transition: left 0.1s ease, right 0.1s ease, top 0.1s ease, height 0.1s ease, padding 0.1s ease;
    -o-transition: left 0.1s ease, right 0.1s ease, top 0.1s ease, height 0.1s ease, padding 0.1s ease;
    transition: left 0.1s ease, right 0.1s ease, top 0.1s ease, height 0.1s ease, padding 0.1s ease;
}
.shop-catalogue-list .item-pic-bg-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
}
.shop-catalogue-list .item-pic-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/planeta/project-pic-bg.png) repeat-x;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 3;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.shop-catalogue-list .item-pic {
    background: #333;
    height: 100%;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.shop-catalogue-list .item-pic-link {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    height: 100%;
}
.shop-catalogue-list .item-pic-link .central-block {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.shop-catalogue-list .item-pic-link .vertical-align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.shop-catalogue-list .item-pic-link img {
    max-height: 100%;
    display: block;
}
.shop-catalogue-list .item-info {
    position: relative;
    z-index: 2;
    margin-top: 130px;
    *margin-top: 128px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.shop-catalogue-list .item-name {
    padding: 8px 13px;
    font-size: 14px;
    line-height: 18px;
    height: 30px;
    min-height: 30px;
    overflow: hidden;
    width: 190px;
}
.shop-catalogue-list .item-descr {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.shop-catalogue-list .item-descr-cont {
    padding: 0 13px 8px;
}
.shop-catalogue-list .item-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #f2f2f2;
    color: #808080;
    border-top: 1px solid #d9d9d9;
}
.shop-catalogue-list .item-action .action-info {
    background: url(../images/planeta/pattern-metal.jpg) 0 100%;
    padding: 5px 10px 10px 10px;
    border-top: 1px solid #fff;
}
.shop-catalogue-list .item-action .btn {
    display: block;
}
.shop-catalogue-list .action-info .clearfix {
    margin-top: 6px;
}
.shop-catalogue-list .action-info .clearfix.link-icon {
    color: #808080;
    font-size: 11px;
}
.shop-catalogue-list .action-info .clearfix .hl {
    font-size: 18px;
    color: #333333;
}
.shop-catalogue-list .action-info .clearfix .icon-project {
    position: relative;
    top: -2px;
}
.shop-catalogue-list .action-info .clearfix .icon-alarm-clock {
    position: relative;
    left: 1px;
}
.shop-catalogue-list .action-info .clearfix .action-date {
    color: #333333;
}
.shop-catalogue-list .action-info .btn-block {
    height: 0;
    margin-top: 0;
    overflow: hidden;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.shop-catalogue-list .item-action .btnhovered {
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 7px 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #19bdf1;
    background-image: -moz-linear-gradient(top, #1bccff, #16a6db);
    background-image: -ms-linear-gradient(top, #1bccff, #16a6db);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1bccff), to(#16a6db));
    background-image: -webkit-linear-gradient(top, #1bccff, #16a6db);
    background-image: -o-linear-gradient(top, #1bccff, #16a6db);
    background-image: linear-gradient(top, #1bccff, #16a6db);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bccff', endColorstr='#16a6db', GradientType=0);
    border-color: #16a6db #16a6db #0f7195;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 0 0 #73dcff inset;
    -moz-box-shadow: 0 1px 0 0 #73dcff inset;
    box-shadow: 0 1px 0 0 #73dcff inset;
}
.shop-catalogue-list .item-action .btnhovered:hover,
.shop-catalogue-list .item-action .btnhovered:active,
.shop-catalogue-list .item-action .btnhovered.active,
.shop-catalogue-list .item-action .btnhovered.disabled,
.shop-catalogue-list .item-action .btnhovered[disabled] {
    background-color: #16a6db;
}
.shop-catalogue-list .item-action .btnhovered:active,
.shop-catalogue-list .item-action .btnhovered.active {
    background-color: #1183ad \9;
}
.shop-catalogue-list .item-action .btnhovered .caret {
    border-top-color: #ffffff;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.shop-catalogue-list .progress-value {
    float: right;
    font-weight: 700;
    color: #555555;
}
.shop-catalogue-list .pln-progress-block {
    padding: 2px 0;
}

/* hover state for .widget-standart */
.shop-catalogue-list.widget-standart {
    padding: 5px;
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .item-cont-planeta-logo {
    opacity: 0;
    filter: alpha(opacity=0);
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .item-cont {
    border-color: #86d0ea;
    -webkit-box-shadow: 0 0 5px rgba(37, 171, 218, 0.55);
    -moz-box-shadow: 0 0 5px rgba(37, 171, 218, 0.55);
    box-shadow: 0 0 5px rgba(37, 171, 218, 0.55);
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .item-info {
    margin: 0;
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .item-descr {
    height: 108px;
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .item-pic {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .item-pic-bg {
    opacity: 1;
    filter: alpha(opacity=100);
}
.shop-catalogue-list.widget-standart .shop-catalogue-item:hover .action-info .btn-block {
    height: 40px;
}
/* /hover state for .widget-standart */


/* widget-240x400 */
.shop-catalogue-list.widget-240x400 {
}
.shop-catalogue-list.widget-240x400 .shop-catalogue-item {
    width: 240px;
    height: 398px;
}
.shop-catalogue-list.widget-240x400 .item-pic-wrap {
    height: 141px;
}
.shop-catalogue-list.widget-240x400 .item-cont-bg,
.shop-catalogue-list.widget-240x400 .item-info {
    margin-top: 144px;
}
.shop-catalogue-list.widget-240x400 .item-name {
    height: auto;
    min-height: 0;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
}
.shop-catalogue-list.widget-240x400 .item-name-cont {
    font: 16px/20px "Trebuchet MS", Tahoma, sans-serif;
    max-height: 60px;
}
.shop-catalogue-list.widget-240x400 .item-descr {
    height: auto;
    max-height: 172px;
}
/* /widget-240x400 */


/* widget-250x250 */
.shop-catalogue-list.widget-250x250 {
}
.shop-catalogue-list.widget-250x250 .shop-catalogue-item {
    width: 250px;
    height: 248px;
}
.shop-catalogue-list.widget-250x250 .item-pic-wrap {
    height: 147px;
}
.shop-catalogue-list.widget-250x250 .item-cont-bg,
.shop-catalogue-list.widget-250x250 .item-info {
    margin-top: 150px;
}
.shop-catalogue-list.widget-250x250 .item-name {
    height: auto;
    min-height: 0;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.shop-catalogue-list.widget-250x250 .item-name-cont {
    font: 14px/18px "Trebuchet MS", Tahoma, sans-serif;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* /widget-250x250 */


/* widget-336x280 */
.shop-catalogue-list.widget-336x280 {
}
.shop-catalogue-list.widget-336x280 .shop-catalogue-item {
    width: 336px;
    height: 278px;
}
.shop-catalogue-list.widget-336x280 .item-pic-wrap {
    height: 200px;
}
.shop-catalogue-list.widget-336x280 .item-cont-bg,
.shop-catalogue-list.widget-336x280 .item-info {
    margin-top: 203px;
}
.shop-catalogue-list.widget-336x280 .item-name {
    height: auto;
    min-height: 0;
    width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}
.shop-catalogue-list.widget-336x280 .item-name-cont {
    font: 16px/20px "Trebuchet MS", Tahoma, sans-serif;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shop-catalogue-list.widget-336x280 .action-info .clearfix {
    font-size: 11px;
}
.shop-catalogue-list.widget-336x280 .action-info .clearfix .hl {
    font-size: 14px;
}
.shop-catalogue-list.widget-336x280 .action-info .clearfix .icon-project {
    top: -1px
}
/* /widget-336x280 */
/* /project widget style */
