/* Reset */
.cirkuitSkin table, .cirkuitSkin tbody, .cirkuitSkin a, .cirkuitSkin img, .cirkuitSkin tr, .cirkuitSkin div, .cirkuitSkin td, .cirkuitSkin iframe, .cirkuitSkin span, .cirkuitSkin *, .cirkuitSkin .mceText {
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	white-space: nowrap;
	text-decoration: none;
	font-weight: normal;
	cursor: default;
	color: #000;
	vertical-align: baseline;
	width: auto;
	border-collapse: separate;
	text-align: left
}

.cirkuitSkin a:hover, .cirkuitSkin a:link, .cirkuitSkin a:visited, .cirkuitSkin a:active {
	text-decoration: none;
	font-weight: normal;
	cursor: default;
	color: #000
}

.cirkuitSkin table td {
	vertical-align: middle
}

/* Containers */
.cirkuitSkin table {
	direction:ltr;
}
.cirkuitSkin iframe {
	display: block;
	background: #FFF;
}

.cirkuitSkin .mceToolbar {
	height: 26px
}

.cirkuitSkin .mceLeft {
	text-align: left
}

.cirkuitSkin .mceRight {
	text-align: right
}

/* External */
.cirkuitSkin .mceExternalToolbar {
	position: absolute;
	border: 1px solid #CCC;
	border-bottom: 0;
	display: none;
}

.cirkuitSkin .mceExternalToolbar td.mceToolbar {
	padding-right: 13px;
}

.cirkuitSkin .mceExternalClose {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 7px;
	height: 7px;
	background: url('img/icons.png') -820px 0
}

/* Layout */
.cirkuitSkin table.mceLayout {
	border: 0;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC
}

.cirkuitSkin table.mceLayout tr.mceFirst td {
	border-top: 1px solid #CCC
}

.cirkuitSkin table.mceLayout tr.mceLast td {
	border-bottom: 1px solid #CCC;
	background: url('/images/toolbarbg.png') center repeat-x;
}

.cirkuitSkin table.mceToolbar, .cirkuitSkin tr.mceFirst .mceToolbar tr td, .cirkuitSkin tr.mceLast .mceToolbar tr td {
	border: 0;
	margin: 0;
	padding: 0;
}

.cirkuitSkin td.mceToolbar {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F6F6F6, #E2E2E2);
    background-repeat: repeat-x;
    border-radius: 2px 2px 0 0;
    padding: 4px 6px;
}

.cirkuitSkin .mceIframeContainer {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	/*height: 100%; 5/22/2010 - Joe Rozzi - taken out comparing to default theme ui.css */
}

.cirkuitSkin .mceStatusbar {
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	font-size: 9pt;
	line-height: 16px;
	overflow: visible;
	color: #666;
	display: block;
	height: 20px
}

.cirkuitSkin .mceStatusbar div {
	float: left;
	/*margin: 3px 0 0 4px;*/
	margin:2px;
	color: #666;
}

.cirkuitSkin .mceStatusbar a.mceResize {
	display: block;
	float: right;
	background: url('img/icons.png') -801px -2px;
	width: 20px;
	height: 20px;
	cursor: se-resize;
	outline:0;
}

.cirkuitSkin .mceStatusbar a:hover {
	text-decoration: underline
}

.cirkuitSkin table.mceToolbar {
	margin-left: 3px
}

.cirkuitSkin span.mceIcon, .cirkuitSkin img.mceIcon {
	display: block;
	width: 16px;
	height: 16px
}

.cirkuitSkin .mceIcon {
	background: url('/images/icon/icon-sprite-gray.png') no-repeat 0px 0px
}

.cirkuitSkin td.mceCenter {
	text-align: center;
}

.cirkuitSkin td.mceCenter table {
	margin: 0 auto;
	text-align: left;
}

.cirkuitSkin td.mceRight table {
	margin: 0 0 0 auto;
}

/* Button */
.cirkuitSkin .mceButton {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	cursor: default;
	display: block;
	height: 16px;
	margin: 1px;
	padding: 2px;
	width: 16px;
	border-color: transparent;
}

.cirkuitSkin a.mceButtonEnabled:hover {
    background: none no-repeat scroll 0 0 #D8D8D8;
    border: 1px solid #D5D5D5;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 2px #CCCCCC inset;
}

.cirkuitSkin a.mceButtonActive, .cirkuitSkin a.mceButtonSelected {
	background-image: inherit;
	border-color: #333;
	background: #bcd0f5 !important;
}

.cirkuitSkin .mceButtonDisabled .mceIcon {
	opacity: 0.3;
	-ms-filter: 'alpha(opacity=30)';
	filter: alpha(opacity = 30);
}

.cirkuitSkin .mceButtonLabeled {
	width: auto;
}

.cirkuitSkin .mceButtonLabeled span.mceIcon {
	float: left;
}

.cirkuitSkin span.mceButtonLabel {
	display: block;
	font-size: 10px;
	padding: 4px 6px 0 22px;
	font-family: Tahoma, Verdana, Arial, Helvetica;
}

.cirkuitSkin .mceButtonDisabled .mceButtonLabel {
	color: #888;
}

/* Separator */
.cirkuitSkin .mceSeparator {
	background: url("/images/icon/icon-line.png") repeat scroll 0 0 transparent;
	display: block;
	height: 16px;
	margin: 0 2px;
	overflow: hidden;
	width: 16px;
}

/* ListBox */
.cirkuitSkin .mceListBox {
	direction: ltr;
	margin: 1px;
}

.cirkuitSkin .mceListBox, .cirkuitSkin .mceListBox a {
	display: block
}

.cirkuitSkin .mceListBox .mceText {
	padding: 1px 2px 1px 5px;
	text-align: left;
	text-decoration: none !important;
	width: 70px;
	background-image: url(/images/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.cirkuitSkin .mceListBox .mceText, .cirkuitSkin .mceListBox .mceOpen {
	background-color: #D5D5D5;
	border-color: #B2B2B2;
}

.cirkuitSkin table.mceListBoxEnabled:hover .mceOpen, .cirkuitSkin .mceListBoxHover .mceOpen, .cirkuitSkin .mceListBoxSelected .mceOpen, .cirkuitSkin .mceListBoxSelected .mceText {
	border-color: #777 !important;
	background-color: #d5d5d5 !important;
}

.cirkuitSkin table.mceListBoxEnabled:hover .mceText, .cirkuitSkin .mceListBoxHover .mceText {
	border-color: #777 !important;
}

.cirkuitSkin table.mceListBoxEnabled:hover .mceText, .cirkuitSkin .mceListBoxHover .mceText, .cirkuitSkin .mceListBoxSelected .mceText, .cirkuitSkin table.mceListBoxEnabled:hover .mceOpen, .cirkuitSkin .mceListBoxHover .mceOpen, .cirkuitSkin .mceListBoxSelected .mceOpen {
	background-image: none;
}

.cirkuitSkin .mceListBoxDisabled a.mceText {
	color: gray;
	background-color: transparent;
}

.cirkuitSkin .mceListBoxMenu {
	overflow: auto;
	overflow-x: hidden
}

.cirkuitSkin .mceOldBoxModel .mceListBox .mceText {
	height: 22px
}

.cirkuitSkin .mceOldBoxModel .mceListBox .mceOpen {
	width: 11px;
	height: 22px;
}

.cirkuitSkin select.mceNativeListBox {
	font: 11px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background: #F0F0EE;
	border: 1px solid gray;
	margin-right: 2px;
}

.cirkuitSkin .mceListBox .mceOpen {
	width: 14px;
	height: 20px;
	border-collapse: separate;
	background-image: url(/images/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
	padding: 1px;
	border-left: 0 none !important;
}

.cirkuitSkin .mceListBox .mceOpen span {
	display: block;
	width: 14px;
	height: 20px;
	background-image: url(/images/arrow/down_arrow.gif);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}

/* SplitButton */
.cirkuitSkin .mceSplitButton {
	width: 32px;
	height: 20px;
	direction: ltr
}

.cirkuitSkin .mceSplitButton a, .cirkuitSkin .mceSplitButton span {
	height: 20px;
}

.cirkuitSkin .mceSplitButton a {
	display: block;
}

.cirkuitSkin .mceSplitButton a.mceAction {
	height: 20px;
	width: 20px;
	padding: 1px 2px;
	display: block;
}

.cirkuitSkin .mceSplitButton span.mceAction {
	width: 20px;
	background: url('img/icons.png') 20px 20px;
	display: block;
}

.cirkuitSkin .mceSplitButton a.mceOpen {
	width: 10px;
	height: 20px;
	background-image: url(/images/arrow/down_arrow.gif);
	background-position: 1px 2px;
	background-repeat: no-repeat;
	padding: 1px;
	border-left: 0 none !important;
}

.cirkuitSkin .mceSplitButtonDisabled .mceAction, .cirkuitSkin .mceSplitButtonDisabled span.mceOpen {
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.cirkuitSkin .mceSplitButtonActive a.mceAction {
	border: 1px solid #0A246A;
	background-color: #C2CBE0;
}

.cirkuitSkin table.mceSplitButton td {
	background-image: url(/images/butt2.png);
	background-position: left top;
	background-repeat: repeat-x;
}

.cirkuitSkin .mceSplitButton a.mceAction, .cirkuitSkin .mceSplitButton a.mceOpen {
	border-color: #B2B2B2;
}

.cirkuitSkin .mceListBox a.mceText, .cirkuitSkin .mceSplitButton a.mceAction {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

.cirkuitSkin .mceSplitButton a.mceOpen, .cirkuitSkin .mceListBox a.mceOpen {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.cirkuitSkin .mceSplitButton a.mceOpen:hover, .cirkuitSkin .mceSplitButtonSelected a.mceOpen, .cirkuitSkin table.mceSplitButtonEnabled:hover a.mceAction, .cirkuitSkin .mceSplitButton a.mceAction:hover {
	background-color: #d5d5d5;
	border-color: #777 !important;
}

/* ColorSplitButton */
.cirkuitSkin div.mceColorSplitMenu table {
	background: #FFF;
	border: 1px solid gray
}

.cirkuitSkin .mceColorSplitMenu td {
	padding: 2px
}

.cirkuitSkin .mceColorSplitMenu a {
	display: block;
	width: 9px;
	height: 9px;
	overflow: hidden;
	border: 1px solid #808080
}

.cirkuitSkin .mceColorSplitMenu td.mceMoreColors {
	padding: 1px 3px 1px 1px
}

.cirkuitSkin .mceColorSplitMenu a.mceMoreColors {
	width: 100%;
	height: auto;
	text-align: center;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	line-height: 20px;
	border: 1px solid #FFF
}

.cirkuitSkin .mceColorSplitMenu a.mceMoreColors:hover {
	border: 1px solid #0A246A;
	background-color: #B6BDD2
}

.cirkuitSkin a.mceMoreColors:hover {
	border: 1px solid #0A246A
}

.cirkuitSkin .mceColorPreview {
	margin-left: 2px;
	width: 16px;
	height: 3px;
	overflow: hidden;
	background: #9a9b9a
}

.cirkuitSkin .mce_forecolor span.mceAction, .cirkuitSkin .mce_backcolor span.mceAction {
	overflow: hidden;
	height: 16px
}

/* Menu */
.cirkuitSkin .mceMenu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	border: 1px solid #D4D0C8
}

.cirkuitSkin .mceNoIcons span.mceIcon {
	width: 0;
}

.cirkuitSkin .mceNoIcons a .mceText {
	padding-left: 10px
}

.cirkuitSkin .mceMenu table {
	background: #FFF
}

.cirkuitSkin .mceMenu a, .cirkuitSkin .mceMenu span, .cirkuitSkin .mceMenu {
	display: block
}

.cirkuitSkin .mceMenu td {
	height: 20px
}

.cirkuitSkin .mceMenu a {
	position: relative;
	padding: 3px 0 4px 0
}

.cirkuitSkin .mceMenu .mceText {
	position: relative;
	display: block;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	color: #000;
	cursor: default;
	margin: 0;
	padding: 0 25px 0 25px;
	display: block
}

.cirkuitSkin .mceMenu span.mceText, .cirkuitSkin .mceMenu .mcePreview {
	font-size: 11px
}

.cirkuitSkin .mceMenu pre.mceText {
	font-family: Monospace
}

.cirkuitSkin .mceMenu .mceIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
}

.cirkuitSkin .mceMenu .mceMenuItemEnabled a:hover, .cirkuitSkin .mceMenu .mceMenuItemActive {
	background-color: #dbecf3
}

.cirkuitSkin td.mceMenuItemSeparator {
	background: #DDD;
	height: 1px
}

.cirkuitSkin .mceMenuItemTitle a {
	border: 0;
	background: #EEE;
	border-bottom: 1px solid #DDD
}

.cirkuitSkin .mceMenuItemTitle span.mceText {
	color: #000;
	font-weight: bold;
	padding-left: 4px
}

.cirkuitSkin .mceMenuItemDisabled .mceText {
	color: #888
}

.cirkuitSkin .mceMenuItemSelected .mceIcon {
	background: url('img/menu-check.png')
}

.cirkuitSkin .mceNoIcons .mceMenuItemSelected a {
	background: url('img/menu-arrow.png') no-repeat -6px center
}

.cirkuitSkin .mceMenu span.mceMenuLine {
	display: none
}

.cirkuitSkin .mceMenuItemSub a {
	background: url('img/menu-arrow.png') no-repeat top right;
}

/* Progress,Resize */
.cirkuitSkin .mceBlocker {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	opacity: 0.5;
	-ms-filter: 'alpha(opacity=50)';
	filter: alpha(opacity = 50);
	background: #FFF
}

.cirkuitSkin .mceProgress {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1001;
	background: url('img/progress.gif') no-repeat;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px
}

.cirkuitSkin .mcePlaceHolder {
	border: 1px dotted gray
}

/* Formats */
.cirkuitSkin .mce_formatPreview a {
	font-size: 10px
}

.cirkuitSkin .mce_p span.mceText {
}

.cirkuitSkin .mce_address span.mceText {
	font-style: italic
}

.cirkuitSkin .mce_pre span.mceText {
	font-family: monospace
}

.cirkuitSkin .mce_h1 span.mceText {
	font-weight: bolder;
	font-size: 2em
}

.cirkuitSkin .mce_h2 span.mceText {
	font-weight: bolder;
	font-size: 1.5em
}

.cirkuitSkin .mce_h3 span.mceText {
	font-weight: bolder;
	font-size: 1.17em
}

.cirkuitSkin .mce_h4 span.mceText {
	font-weight: bolder;
	font-size: 1em
}

.cirkuitSkin .mce_h5 span.mceText {
	font-weight: bolder;
	font-size: .83em
}

.cirkuitSkin .mce_h6 span.mceText {
	font-weight: bolder;
	font-size: .75em
}

/* border */
.cirkuitSkin .mceExternalToolbar, .cirkuitSkin .mceButton, .cirkuitSkin a.mceButtonEnabled:hover, .cirkuitSkin a.mceButtonActive, .cirkuitSkin a.mceButtonSelected, .cirkuitSkin .mceListBox .mceText, .cirkuitSkin .mceListBox .mceOpen, .cirkuitSkin table.mceListBoxEnabled:hover .mceText, .cirkuitSkin .mceListBoxHover .mceText, .cirkuitSkin .mceListBoxSelected .mceText, .cirkuitSkin table.mceListBoxEnabled:hover .mceOpen, .cirkuitSkin .mceListBoxHover .mceOpen, .cirkuitSkin .mceListBoxSelected .mceOpen, .cirkuitSkin select.mceListBox, .cirkuitSkin .mceSplitButton a.mceAction, .cirkuitSkin .mceSplitButton a.mceOpen, .cirkuitSkin .mceSplitButton a.mceOpen:hover, .cirkuitSkin .mceSplitButtonSelected a.mceOpen, .cirkuitSkin table.mceSplitButtonEnabled:hover a.mceAction, .cirkuitSkin .mceSplitButton a.mceAction:hover, .cirkuitSkin div.mceColorSplitMenu table, .cirkuitSkin .mceColorSplitMenu a, .cirkuitSkin .mceColorSplitMenu a.mceMoreColors, .cirkuitSkin .mceColorSplitMenu a.mceMoreColors:hover, .cirkuitSkin a.mceMoreColors:hover, .cirkuitSkin .mceMenu {
	border-style: solid;
	border-width: 1px;
}

/* Theme */
.cirkuitSkin span.mce_bold {
	background-position: -216px -96px !important;
}

.cirkuitSkin span.mce_planetaphoto {
    background-position: -168px 0 !important;
}

.cirkuitSkin span.mce_planetamusic {
    background-position: -144px 0 !important;
}

.cirkuitSkin span.mce_planetavideo {
    background-position: -120px 0 !important;
}

.cirkuitSkin span.mce_planetaexternal {
    background-position: -72px -72px !important;
}

.cirkuitSkin span.mce_italic {
	background-position: -240px -96px !important;
}

.cirkuitSkin span.mce_underline {
	background-position: -264px -96px !important;
}

.cirkuitSkin span.mce_strikethrough {
	background-position: -120px 0 !important;
}

.cirkuitSkin span.mce_undo {
	background-position: 0px -96px !important;
}

.cirkuitSkin span.mce_redo {
	background-position: -24px -96px !important;
}

.cirkuitSkin span.mce_cleanup {
	background-position: -40px 0 !important;
}

.cirkuitSkin span.mce_bullist {
	background-position: -96px  -96px !important;
}

.cirkuitSkin span.mce_numlist {
	background-position: -72px  -96px !important;
}

.cirkuitSkin span.mce_justifyleft {
	background-position: -120px -96px !important;
}

.cirkuitSkin span.mce_justifyright {
	background-position: -168px -96px !important;
}

.cirkuitSkin span.mce_justifycenter {
	background-position: -144px -96px !important;
}

.cirkuitSkin span.mce_justifyfull {
	background-position: -192px -96px !important;
}

.cirkuitSkin span.mce_anchor {
	background-position: -200px 0 !important;
}

.cirkuitSkin span.mce_indent {
	background-position: -400px 0 !important;
}

.cirkuitSkin span.mce_outdent {
	background-position: -540px 0 !important;
}

.cirkuitSkin span.mce_planetalink {
	background-position: 0px -72px !important;
}

.cirkuitSkin span.mce_link {
	background-position: 0px -72px !important;
}

.cirkuitSkin span.mce_unlink {
	background-position: -640px 0 !important;
}

.cirkuitSkin span.mce_sub {
	background-position: -600px 0 !important;
}

.cirkuitSkin span.mce_sup {
	background-position: -620px 0 !important;
}

.cirkuitSkin span.mce_removeformat {
	 background-position: -72px -120px !important;
}

.cirkuitSkin span.mce_newdocument {
	background-position: -520px 0 !important;
}

.cirkuitSkin span.mce_image {
	background-position: -380px 0 !important;
}

.cirkuitSkin span.mce_help {
	background-position: -340px 0 !important;
}

.cirkuitSkin span.mce_code {
	background-position: -260px 0 !important;
}

.cirkuitSkin span.mce_hr {
	background-position: -360px 0 !important;
}

.cirkuitSkin span.mce_visualaid {
	background-position: -660px 0 !important;
}

.cirkuitSkin span.mce_charmap {
	background-position: -240px 0 !important;
}

.cirkuitSkin span.mce_paste {
	background-position: -560px 0 !important;
}

.cirkuitSkin span.mce_copy {
	background-position: -700px 0 !important;
}

.cirkuitSkin span.mce_cut {
	background-position: -680px 0 !important;
}

/*.cirkuitSkin span.mce_blockquote {*/
	/*background-position: -220px 0 !important;*/
/*}*/

.cirkuitSkin .mce_forecolor span.mceAction {
	background-position: -720px 0 !important;
}

.cirkuitSkin .mce_backcolor span.mceAction {
	background-position: -760px 0 !important;
}

.cirkuitSkin span.mce_forecolorpicker {
	background-position: -720px 0 !important;
}

.cirkuitSkin span.mce_backcolorpicker {
	background-position: -760px 0 !important;
}

/* Plugins */
.cirkuitSkin span.mce_advhr {
	background-position: -0px -20px !important;
}

.cirkuitSkin span.mce_ltr {
	background-position: -20px -20px !important;
}

.cirkuitSkin span.mce_rtl {
	background-position: -40px -20px !important;
}

.cirkuitSkin span.mce_emotions {
	background-position: -60px -20px !important;
}

.cirkuitSkin span.mce_fullpage {
	background-position: -80px -20px !important;
}

.cirkuitSkin span.mce_fullscreen {
	background-position: -100px -20px !important;
}

.cirkuitSkin span.mce_iespell {
	background-position: -120px -20px !important;
}

.cirkuitSkin span.mce_insertdate {
	background-position: -140px -20px !important;
}

.cirkuitSkin span.mce_inserttime {
	background-position: -160px -20px !important;
}

.cirkuitSkin span.mce_absolute {
	background-position: -180px -20px !important;
}

.cirkuitSkin span.mce_backward {
	background-position: -200px -20px !important;
}

.cirkuitSkin span.mce_forward {
	background-position: -220px -20px !important;
}

.cirkuitSkin span.mce_insert_layer {
	background-position: -240px -20px !important;
}

.cirkuitSkin span.mce_insertlayer {
	background-position: -260px -20px !important;
}

.cirkuitSkin span.mce_movebackward {
	background-position: -280px -20px !important;
}

.cirkuitSkin span.mce_moveforward {
	background-position: -300px -20px !important;
}

.cirkuitSkin span.mce_nonbreaking {
	background-position: -340px -20px !important;
}

.cirkuitSkin span.mce_pastetext {
	background-position: -360px -20px !important;
}

.cirkuitSkin span.mce_pasteword {
	background-position: -380px -20px !important;
}

.cirkuitSkin span.mce_selectall {
	background-position: -400px -20px !important;
}

.cirkuitSkin span.mce_preview {
	background-position: -420px -20px !important;
}

.cirkuitSkin span.mce_print {
	background-position: -440px -20px !important;
}

.cirkuitSkin span.mce_cancel {
	background-position: -460px -20px !important;
}

.cirkuitSkin span.mce_save {
	background-position: -480px -20px !important;
}

.cirkuitSkin span.mce_replace {
	background-position: -500px -20px !important;
}

.cirkuitSkin span.mce_search {
	background-position: -520px -20px !important;
}

.cirkuitSkin span.mce_styleprops {
	background-position: -560px -20px !important;
}

.cirkuitSkin span.mce_table {
	background-position: -580px -20px !important;
}

.cirkuitSkin span.mce_cell_props {
	background-position: -600px -20px !important;
}

.cirkuitSkin span.mce_delete_table {
	background-position: -620px -20px !important;
}

.cirkuitSkin span.mce_delete_col {
	background-position: -640px -20px !important;
}

.cirkuitSkin span.mce_delete_row {
	background-position: -660px -20px !important;
}

.cirkuitSkin span.mce_col_after {
	background-position: -680px -20px !important;
}

.cirkuitSkin span.mce_col_before {
	background-position: -700px -20px !important;
}

.cirkuitSkin span.mce_row_after {
	background-position: -720px -20px !important;
}

.cirkuitSkin span.mce_row_before {
	background-position: -740px -20px !important;
}

.cirkuitSkin span.mce_merge_cells {
	background-position: -760px -20px !important;
}

.cirkuitSkin span.mce_table_props {
	background-position: -980px -20px !important;
}

.cirkuitSkin span.mce_row_props {
	background-position: -780px -20px !important;
}

.cirkuitSkin span.mce_split_cells {
	background-position: -800px -20px !important;
}

.cirkuitSkin span.mce_template {
	background-position: -820px -20px !important;
}

.cirkuitSkin span.mce_visualchars {
	background-position: -840px -20px !important;
}

.cirkuitSkin span.mce_abbr {
	background-position: -860px -20px !important;
}

.cirkuitSkin span.mce_acronym {
	background-position: -880px -20px !important;
}

.cirkuitSkin span.mce_attribs {
	background-position: -900px -20px !important;
}

.cirkuitSkin span.mce_cite {
	background-position: -920px -20px !important;
}

.cirkuitSkin span.mce_del {
	background-position: -940px -20px !important;
}

.cirkuitSkin span.mce_ins {
	background-position: -960px -20px !important;
}

.cirkuitSkin span.mce_pagebreak {
	background-position: -48px  -96px !important;
}

.cirkuitSkin span.mce_planetacut {
	background-position: -48px  -96px !important;
}

.cirkuitSkin .mce_spellchecker span.mceAction {
	background-position: -540px -20px !important;
}

.cirkuitSkin span.mce_restoredraft {
	background-position: -20px -40px !important;
}
