//
// Planeta content
// --------------------------------------------


// header content
.header-container{
    .clearfix();
    position: relative;
    margin-bottom: 12px;
    margin-top: 6px;
    &.concert-header-container{
        .header-container-section.hlfont h2{
            font-size: 32px;
            line-height: 36px;
            letter-spacing: normal;
        }
    }
    .header-container-section{
        word-wrap: break-word;
        &.header-button{
            white-space: nowrap;
            text-align: right;
            padding: 4px 0 5px;
            float: right;
        }
        &.hcfont{
            h2{
                font-size: 35px;
                line-height: 46px;
                letter-spacing: normal;
            }
            .hl{
                color: @blue;
            }
        }
        &.hlfont{
            h2{
                font-size: 28px;
                line-height: 30px;
                letter-spacing: normal;
            }
            h3{
                font-size: 24px;
                line-height: 27px;
            }
            span.hbfont{
                color: #a0a9b5;
            }
        }
    }
    h1{
        font: 700 24px/40px Arial, sans-serif;
        letter-spacing: -1px;
    }
    .header-spn{
        color: @grayLight;
        display: block;
        font-size: 12px;
        line-height: 14px;
        margin-top: -0px;
        .hs-item{
            &.hs-item-sep{
                color: @grayLighter;
            }
        }
    }
    .slider-switch-icons{
        top: 2px;
        float: right;
        margin-left: 24px;
    }
}




// content menu

.sub-menu{
    display: block;
    position: relative;
    margin-bottom: 21px;
    padding-right: 2px;
    .sub-menu-block{
        margin: 0;
        list-style: none;
        display: table;
        width: 100%;
        border-bottom: 1px solid #d4d1c4;
        .sub-menu-block-item{
            position: relative;
            display: table-cell;
            vertical-align: bottom;
            width: 1%;
/*            &:hover{
                margin-top: -2px;
                a{
                    line-height: 27px;
                }
            }*/
            a{
                position: relative;
                display: block;
                padding: 12px;
                margin: 7px 0 0;
                text-align: center;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                font-size: 16px;
                color: #131313;
                background: #dfddd5;
                white-space: nowrap;
                outline: none;
                &:hover{
                    text-decoration: none;
                    color: #131313;
                    background: darken(#dfddd5, 5%);
                }
            }
            &:last-of-type{
                a{
                    border-right: 1px solid #ccc;
                }
            }
            &.active{
                z-index: 1;
                a{
                    top: 1px;
                    margin-top: 0;
                    padding-top: 16px;
                    padding-bottom: 14px;
                    color: #0e2129;
                    background: #fff;
                    //.box-shadow(0 1px 0 1px #fff);
                    border-right: 1px solid #ccc;
                }
                &+.sub-menu-block-item{
                    a{
                        border-left: 0;
                    }
                }
                &:first-child{
                    .project-tab-link{
                        .box-shadow(1px 1px 0 1px #fff);
                    }
                }
                &:last-child{
                    .project-tab-link{
                        .box-shadow(-1px 1px 0 1px #fff);
                    }
                }
            }
        }
    }
}

// content search

.section-search{
    background: #f2f2f2;
    padding: 10px 38px 10px 10px;
    margin: 0 0 21px;
    position: relative;
    &:before{
        content: "";
        background: url(../images/icon/icon-sprite-gray.png) no-repeat -456px 0;
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .section-search-input{
        width: 100%;
        margin: 0;
        padding-right: 20px;
    }
    form{
        margin: 0;
    }
}