//
// Planeta Donate
// --------------------------------------------

.donate-step{
    margin-top: 13px;
    .donate-step-block{
        .clearfix();
        margin: 0;
        .donate-step-item{
            list-style: none;
            display: inline-block;
            float: left;
            margin-right: 31px;
            .step-count{
                font-size: 20px;
                color: @white;
                text-align: center;
                width: 32px;
                height: 25px;
                #gradient > .vertical(#afafaf, #dddddd);
                display: inline-block;
                padding: 7px 0 0 0;
                .border-radius(16px);
                margin-right: 6px;
                float: left;
            }
            .step-name{
                color: #bfbfbf;
                display: inline-block;
                padding: 8px 0 0;
            }
            &.active{
                .step-count{
                    #gradient > .vertical(#1ca2c8, #22c7f7);
                }
                .step-name{
                    color: @textColor;
                }
            }
        }
    }
}

.donate-photo-block{
   .clearfix();
   margin: 0;
}

.donate-photo-item{
   list-style: none;
   display: inline-block;
   float: left;
   width: 130px;
   height: 130px;
   border: 4px solid #fff;
   position: relative;
   margin: 0 8px 8px 0;
   overflow:hidden;
   .hidden-close();
   &.active{
	   border: 4px solid @blue;
   }
   img{
	   width: 100%;
   }
   .close{
		position: absolute;
		right: 0;
		top: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.75);
		width: 16px;
		height: 16px;
		padding: 4px;
		.opacity(100);
   }
}

.donate-setting{
    .fieldset{
        margin-bottom: 12px;
        padding: 3px 0;
        .clearfix();

        &.error{
            background-color: #fae5e3;
            input{
                border-color: #b3b3b3;
                .box-shadow(0 0 3px rgba(171, 41, 32, 0.25));
            }
        }

        .label-name{
            width: 165px;
            float: left;
            label{
                color: @grayDark;
                margin-bottom: 0;
                margin-top: 6px;
            }
        }
        .input{
            margin-left: 183px;
            &.row{
                margin-left: 165px;
                input{
                    color: @grayDark;
                    margin-bottom: 0;
                }
            }
            >input{
                color: @grayDark;
                margin-bottom: 0;
            }
            >select{
                margin: 0;
            }
            >textarea{
                margin: 0;
                color: @grayDark;
                min-height: 58px;
            }
            .pln-select{
                display: inline-block;
                width: 318px;
                &.small{
                    width: 150px;
                }
            }
            .select-field{
                .pln-select{
                    width: 100%;
                }
            }
        }
        .sub-menu{
            margin-bottom: 10px;
        }
    }
    .fieldset-group{
        .fieldset{
            margin-top: 12px;
            margin-bottom: 0;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    fieldset.fieldset{
        padding: 20px;
    }
    .help-inline {
        display: block;
        clear: both;
        padding-left: 3px;
        padding-top: 2px;
        margin-bottom: 0;
    }
    .input.row{
        > .help-inline {
            margin-left: 18px;
        }
    }
    h3{
        margin: 0 0 5px;
    }
    .plate{
        .fieldset{
            margin: 0 0 1px;
        }
        label{
            color: @grayLight;
            margin-bottom: 2px;
        }
        .donate-photo-block{
            margin: 25px 0 0 -10px;
        }
        .donate-photo-item{
            width: 96px;
            height: 96px;
            margin: 0 0 8px 8px;
        }
    }
    .series-row{
        margin: 15px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    .sex-type{
        float: left;
        .radio-row{
            width: auto !important;
            float: left;
            margin: 5px 20px 0 0;
        }
    }
    .product-preview{
        margin: 0 10px 15px 0;
        width: 306px;
        float: left;
    }
    .product-descr {
        overflow: hidden;
    }
/*
    .best-groups{
        margin-bottom: 20px;
        margin-left: -30px;
        .best-groups-item{
            margin-left: 30px;
        }
    }
*/
}
.ordering-action{
    .clearfix();
    border-color: #d9d9d9;
    #gradient > .vertical(#fcfcfc, #f2f2f2);
    h3{
        margin: 0 0 10px;
        line-height: 20px;
        color: @grayLight;
        .hl-price{
            font-size: 20px;
            color: #454545;
        }
        .hspn{
            .paste-date();
            margin: 2px 0 0;
            line-height: 15px;
        }
    }
    .terms-block{
        padding: 8px 0 0;
        a{
            text-decoration: underline;
        }
    }
}
.delivery-method-list{
    margin: 0;
    list-style: none;
    .delivery-method-item{
        border-top: 1px dotted #d9d9d9;
        padding: 10px 0 0 20px;
        margin: 10px 0 0;
        &:first-child{
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
        }
    }
    .method-price{
        float: right;
        color: @grayLight;
    }
    .method-text{
        .paste-date();
    }
    .radiobox{
        margin-left: -20px;
        cursor: pointer;
    }
    .radiobox-label{
        margin: 0;
        cursor: pointer;
    }
}

.donate-head{
    word-wrap: break-word;

    .top-img{
        margin: 0 22px 21px;
		background-color: black;
		text-align: center;
        position: relative;

        .video-play{
            background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            &:hover{
                background-size: 140px 140px;
            }
        }
        img, iframe {
			margin:0 auto;
            display: block;
		}
    }

    .top-text{
        h3{
            margin: 0 0 10px;
        }
    }

	.sub-menu {
		margin-bottom:10px;
		padding-right:1px;
	}
}


.donate-holders{
    margin: 55px 0 21px;
    h3{
        margin-bottom: 10px;
    }
    .holders-add{
        color: @grayLight;
        span{
            font-size: 18px;
            line-height: 22px;
            color: @textColor;
            &.big{
                display: block;
                font-size: 32px;
                line-height: 32px;
                color: @blue;
                small{
                    font-weight: normal;
                    font-size: 60%;
                }
            }
            &.small{
                font-size: 14px;
            }
        }
    }
    .pln-progress-block{
        margin: 5px 0 7px;
    }
}


.group-page-projects{
    h2, h3{
        line-height: 27px;
        font-size: 18px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;
        margin: 0 0 15px;
    }
    .donate-head{
        float: left;
        margin: 0 15px 10px 0;
        width: 210px;
        .top-img{
            .vertical-align();
            width: 100%;
            height: 131px;
            margin: 0;
            max-height: 131px;
        }
    }
    .donate-holders{
        margin: 0 0 10px;
        overflow: hidden;
        .holders-add{
            margin: 0 0 2px;
        }
    }
    .audio-upload-block{
        padding: 0;
    }
    .group-page-projects-info{
        position: relative;
    }
    &.closed{
        .plate-action, .group-page-add-info, .top-text{
            display: none;
        }
        .plate-collapse{
            background-position: 0 -17px;
        }
        .group-page-projects-info{
            min-height: 64px;
            .donate-head{
                margin: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100px;
                .top-img{
                    height: 60px;
                }
            }
            .donate-holders{
                margin: 0 0 0 110px;
                .holders-add{
                    margin: 0;
                }
                .big{
                    font-size: 26px;
                    line-height: 22px;
                }
            }
            h2, h3{
                margin: 0 0 0 110px;
                padding: 0;
                line-height: 21px;
                .text-overflow();
                border: 0;
            }
        }
    }
}

.statistics-list{
    margin: 0;
    list-style: none;
    word-wrap: break-word;
    .statistics-item{
        .clearfix();
        position: relative;
        padding: 0 0 10px;
        & + .statistics-item{
            padding-top: 10px;
            border-top: 1px solid #e5e5e5;
        }
    }
    .statistics-avatar{
        float: left;
        width: 115px;
        height: 115px;
    }
    .statistics-content-wrap{
        margin-left: 125px;
    }
    .statistics-content{
        float: left;
        width: 100%;
    }
    .statistics-info-links{
        min-width: 170px;
        background: #f2f2f2;
        padding: 10px;
        vertical-align: top;
        display: table-cell;
        font-size: 11px;
        line-height: 13px;

        .links-item{
            margin: 5px 0 0;
            &:first-child{
                margin: 0;
            }
        }
        .btn{
            display: block;
            text-align: center;
        }
    }
    // deleteByProfileId it
    .statistics-info-block-wrap{
        float: left;
        .statistics-info-description{
            width: auto;
        }
    }
    .statistics-name + .statistics-info-links{
        float: right;
    }
    // /deleteByProfileId it
    .statistics-info-wrap{
        vertical-align: top;
        display: table-cell;
        width: 100%;
        height: 115px;
        padding-right: 10px;
        .clearfix();
    }
    .statistics-name{
        overflow: hidden;
        width: 420px;
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 10px;
        .name-txt{
            font-size: 11px;
            line-height: 13px;
        }
    }
    .statistics-info-block{
        float: left;
        width: 100%;
    }
    .statistics-info-item{
        .clearfix();
        margin-bottom: 3px;
        .diff-up{
            color: green;
        }
        .diff-down{
            color: red;
        }
    }
    .statistics-info-name{
        float: left;
        width: 160px;
        color: @grayLight;
    }
    .statistics-info-description{
        float: left;
        width: 40px;
        margin-left: 10px;
    }
    .statistics-info-item-links{
        margin-left: 220px;
    }
}

.donate-dashboard{
    margin: 0;
    list-style: none;
    .dashboard-item{
        .clearfix();
        word-wrap: break-word;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        & + .dashboard-item{
            padding-top: 10px;
        }
    }
    .dashboard-avatar{
        width: 115px;
        float: left;
        margin: 0 0 10px;
    }
    .dashboard-content{
        margin-left: 125px;
        padding-bottom: 35px;
        position: static;
    }
    h4.name{
        margin: 0 0 15px;
        .dashboard-name-price{
            display: block;
            color: @grayLight;
            line-height: 16px;
            font-size: 12px;
            .hl{
                color: @grayDark;
            }
        }
    }
    .delivery-service{
        font-size: 11px;
        display: block;
        &.active{
            color: #24A677;
        }
        &.disabled{
            color: #FB7077;
        }
    }
    .dashboard-info{
        margin: 0 0 15px;
        list-style: none;
        .dashboard-info-item{
            margin: 0 0 3px;
        }
        .dashboard-info-name{
            color: @grayLight;
        }
    }
    .dashboard-descr{
        margin: 0 0 15px;
        .descr-name{
            color: @grayLight;
        }
    }
    .dashboard-progress{
        margin: 0 0 15px;
        .progress-name{
            color: @grayLight;
            margin: 0 0 4px;
        }
        .pl-progress{
            display: inline-block;
            width: 50%;
            margin: 0 5px 0 0;
            vertical-align: middle;
        }
        .progress-state{
            display: inline-block;
            color: @grayLight;
            vertical-align: middle;
        }
    }
    .dashboard-purchases{
        .dashboard-purchases-name{
            color: @grayLight;
            margin: 0 0 4px;
        }
        .dashboard-purchases-list{
            margin: 0;
            list-style: none;
            .purchases-item{
                padding: 0 0 10px;
                .avatar-common-block();
                & + .purchases-item{
                    padding-top: 10px;
                    border-top: 1px solid #e5e5e5;
                }
            }
            .purchases-item-name{
                font-size: 12px;
                line-height: 16px;
                margin: 0 0 2px;
            }
            .purchases-info{
                .paste-date();
                margin: 0;
                list-style: none;
                .purchases-info-item{
                    strong{
                        color: #000;
                    }
                }
            }
        }
    }
    .post-option{
        // .post-option -> .dashboard-content position: static
        position: absolute;
        margin-top: 0;
        border-top: 1px solid #e5e5e5;
        bottom: 0;
        left: 125px;
        right: 0;
    }
}

// product page
.back-link{
    margin-bottom: 6px;
}

// deleteByProfileId it
.product-preview, .product-header{
    margin: 0 0 21px;
    .product-count{
        font-size: 11px;
        line-height: 14px;
        color: @grayLight;
    }
    .product-price-block{
        margin: 0 0 10px;
        float: right;
    }
    .product-price{
        margin: 0 0 2px;
        color: @blue;
        .hl{
            font: 700 26px/30px @baseFontFamily;
        }
    }
    .product-name-type{
        color: @grayLight;
    }
}
.product-preview{
    .product-count{
        margin: 13px 0 0;
        display: inline-block;
    }
}
// deleteByProfileId it


// deleteByProfileId it
.product-description-block{
    word-wrap: break-word;
}
// /deleteByProfileId it

// deleteByProfileId it
.product-commun{
    margin-bottom: 15px;
}
// /deleteByProfileId it

.product-group-block{
    .product-group-header{
        margin: 0 0 5px;
        font-weight: 700;
    }
    .product-group-list{
        .avatar-common-block();
        .avatar{
            width: 32px;
            margin-right: 5px;
        }
        .group-name{
            .text-overflow();
            word-wrap: normal;
            color: @blue;
            font-weight: 700;
        }
        .group-count{
            .paste-date();
        }
    }
}

.product-descr{
    margin: 0 0 15px;
    .product-descr-header{
        font-weight: 700;
    }
}

.post-option.product-page{
    margin: 0 0 15px;
    padding: 0;
}

.sub-menu.product-page{
    margin: 0 0 10px;
}
// /product page

.wizard-group-product-create{
    .avatar-common-block();
    h3{
        line-height: 22px;
    }
    p{
        margin: 0 0 4px;
        line-height: 17px;
    }
}

.wizard-group-product-list{
    .clearfix();
    margin: 0 0 0 -8px;
    list-style: none;
    .wizard-group-product-item{
        width: 130px;
        height: 206px;
        float: left;
        margin: 0 0 12px 6px;
        &:hover{
            .group-product-option{
                display: block;
            }
        }
    }
    .group-product-ava{
        width: 130px;
        height: 130px;
        margin: 0 0 5px;
        overflow: hidden;
        position: relative;
        img{
            display: block;
        }
        .group-product-option{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            list-style: none;
            #translucent > .background(#000, 0.75);
            li{
                float: left;
                padding: 4px;
                cursor: pointer;
            }
        }
    }
    .group-product-name{
        height: @baseLineHeight * 2;
        overflow: hidden;
    }
    .group-product-price{
        color: @blue;
        font-size: 18px;
        line-height: 22px;
    }
    .group-product-count{
        .paste-date();
    }
}

.wizard-group-product-add{
    padding: 10px 0 0;
    border-top: 1px solid #e6e6e6;
}



.project-stats-change-status{
    min-width: 177px;
    float: left;
    margin-right: 10px;
    > .btn{
        display: block;
        position: relative;
    }
    .dropdown-popup{
        top: auto;
        bottom: 100%;
        margin: 0 0 -1px;
        right: 0;
        .box-shadow(0 -2px 3px rgba(0, 0, 0, 0.15));
    }
}


.group-spec-header{
    #gradient > .vertical(#273542, #00191d);
    padding: 22px 22px 0;
    min-height: 105px;
    position: relative;
    word-wrap: break-word;
    .gsh-ava{
        float: left;
        margin: 0 0 -5px;
    }
    .gsh-ava-link{
        display: block;
        width: 100px;
        height: 100px;
        overflow: hidden;
        padding: 5px;
        background: #fff;
        .box-shadow(0 1px 4px rgba(0,0,0,.35));
        img{
            display: block;
        }
    }
    .gsh-cont{
        margin: -5px 0 0 125px;
        color: #fff;
    }
    .gsh-name{
        font-size: 21px;
        line-height: 25px;
        color: #fff;
        margin: 0 0 4px;
        a{
            color: #fff;
        }
    }
    .gsh-descr{
        height: @baseLineHeight * 2;
        overflow: hidden;
    }
    .gsh-action{
        position: absolute;
        left: 147px;
        right: 22px;
        bottom: 0;
    }
    .gsh-action-link{
        color: #6e7a87;
        display: block;
        float: left;
        padding: 7px 15px;
        .border-radius(5px 5px 0 0);
        .link-icon > .cont-va-middle();
        &.pull-right{
            float: right;
        }
        &.active{
            background: #fff;
            .text-icon{
                text-decoration: none;
            }
        }
    }
}

.accordion-ordering{
    .box-shadow(0 1px 1px rgba(0,0,0,.1));
    border: 1px solid #ccc;
    margin: 0 0 18px;
    .acrd-item{
        border-top: 1px solid #ccc;
        &:first-child{
            border-top: 0;
        }
    }
    .acrd-header{
        #gradient > .vertical(#fcfcfc, #f2f2f2);
        padding: 5px 17px;
        border-bottom: 1px solid #ccc;
    }
    .acrd-header-text{
        font: 20px/24px @baseFontFamily;
    }
    .acrd-cont{
        padding: 9px 17px;
        word-wrap: break-word;
    }
}
.donate-ordering{
    .fieldset{
        .label-name{
            width: 133px;
            label{
                font-weight: 700;
            }
            &.label-right{
                text-align: right;
            }
        }
        .input{
            margin-left: 143px;
        }
    }
    .input-hl{
        font-size: 11px;
        color: @grayLight;
    }
    .help-inline{
        display: inline-block;
        padding-left: 5px;
        a{
            text-decoration: underline;
        }
    }
}


