// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------




// INPUT GROUPS
// ------------

.input-field.span1 {
    width: 26px;
}

.input-field.span2 {
    width: 80px;
}

.input-field.span3 {
    width: 134px;
}

.input-field.span4 {
    width: 188px;
}

.input-field.span5 {
    width: 242px;
}

.input-field.span6 {
    width: 296px;
}

.input-field.span7 {
    width: 350px;
}

.input-field.span8 {
    width: 404px;
}

.input-field.span9 {
    width: 458px;
}

.input-field.span10 {
    width: 512px;
}

.input-field.span11 {
    width: 566px;
}

.input-field.span12 {
    width: 620px;
}

.input-field.span13 {
    width: 674px;
}

.input-field.span14 {
    width: 728px;
}

.input-field.span15 {
    width: 782px;
}

.input-field.span16 {
    width: 836px;
}

.input-field.span17 {
    width: 890px;
}

.input-field.span18 {
    width: 944px;
}

.input-field[class*="span"] {
    margin-left: 0;
}

.input-field{
    padding: 0 10px 0 0;
    input,textarea{
        width: 100%;
        margin: 0;
    }
}
.input-hl{
    vertical-align: top;
    margin: 6px 0 0 5px;
    display: inline-block;
}
.input-field-l{
    padding: 0 20px 0 0;
}

.select-field{
    padding: 0 18px 0 0;
    .pln-select{
        width: 100%;
        margin: 0;
    }
}
.select-field-l{
    padding: 0 37px 0 0;
}




// Inputs icon
// --------------------------
.input-icon{
    position: relative;
    padding-right: 31px;
    &:before{
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
    }
    input{
        padding-right: 25px;
        position: relative;
    }
    [class^="icon-"]{
        right: 5px;
        top: 5px;
        position: absolute;
        background-color: @white;
    }
    &.input-icon-left{
        input{
            padding-right: 4px;
            padding-left: 25px;
        }
        [class^="icon-"]{
            right: auto;
            left: 5px;
        }
    }
    &.shift-icon-top{
        [class^="icon-"]{
            top: 6px;
        }
    }
}
