//
// Planeta Hit-list
//
// --------------------------------------------


.hit-list{
    .clearfix();
    margin: 0 0 30px -15px;
    list-style: none;
    .hit-item{
        position: relative;
        width: 220px;
        float: left;
        margin-left: 15px;
        border: 1px solid #d9d9d9;
        .box-shadow(0 0 5px rgba(0,0,0,.15));
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            margin: 1px 0 0;
            left: -1px;
            right: -1px;
            height: 14px;
            background: url(../images/planeta/hint-shadow.png) no-repeat;
            background-size: 100% 100%;
         }
    }
    .hit-info{
        .avatar-common-block();
        padding: 10px;
    }
    .hit-action{
        background: #f2f2f2;
        color: @grayLight;
        border-top: 1px solid #d9d9d9;
    }
    .action-info{
        .clearfix();
        padding: 10px;
        border-top: 1px solid #fff;
    }
    .hit-action-btn{
        float: right;
    }
    h3{
        margin: 0 0 5px;
        letter-spacing: -1px;
    }

    &.new-product{
        .hit-item{
            width: 48%;
        }
        .hit-info .avatar{
            margin-right: 7px;
            img{
                min-width: 134px;
                min-height: 128px;
            }
        }
    }
}