//
// Planeta icons
// --------------------------------------------


.icon-check {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: url(../images/icon/icon-check.png) no-repeat;
}

.icon-check.icon-gray {
    background-position: 0 -20px;
}

.icon-select{
    width: 0;
    height: 0;
    margin: 2px 0 0 8px;
    border-width: 7px 5px 0;
    border-style: solid;
    border-color: #ccc transparent;
    background: none;
}
