//
// Planeta Manage Tables
// --------------------------------------------


// fixed layout colgroup
.fixed-manage-table{
    table-layout: fixed;
    word-wrap: break-word;
    > thead, > tbody{
        > tr:first-child{
            > th, > td{
                border-top-width: 0;
            }
        }
    }
    thead + tbody{
        > tr:first-child{
            > th, > td{
                border-top-width: 1px;
            }
        }
    }
}

.product-manage-table{
    > thead{
        th, td{
            background: #f2f2f2;
            vertical-align: top;
        }
        th{
            white-space: nowrap;
            font-weight: 400;
            vertical-align: middle;
        }
        tr + tr th{
            border-top: 1px solid #ddd !important;
            border-left: 1px solid #ddd;
            font-size: 11px;
        }
    }
    > tfoot{
        th, td{
            background: #f2f2f2;
            vertical-align: top;
        }
    }
    tbody{
        th, td{
            padding: 12px 8px;
            font-weight: 400;
        }
        .even-tr{
            > td{
                background: #f2f2f2;
            }
        }
    }
    > tbody > tr:hover > td > .status-balance-cell > .status-balance-link{
            visibility: visible;
    }
    .th-hl{
        color: @grayLight;
        font-weight: 400;
    }
    .small-hl{
        font-size: 11px;
        line-height: 13px;
        color: @grayLight;
    }

    .manage-action{
        white-space: nowrap;
        .btn{
            margin-left: 2px;
            &:first-child{
                margin-left: 0;
            }
        }
        [class^="icon-"]{
            margin-right: 0;
        }
    }
    .manage-product-ava{
        float: left;
        margin-right: 7px;
        width: 32px;
        height: 32px;
        img{
            display: block;
        }
    }
    .manage-product-name{
        margin: -3px 0 0 39px;
    }
    .manage-product-measure{
        margin: 0 0 0 39px;
        .paste-date();
        .hl{
            color: @textColor;
        }
    }
    .status-check{
        text-align: center;
    }
    .status-price{
        white-space: nowrap;
    }
    .status-balance-cell{
        padding: 3px 0 0;
    }
    .status-balance-link{
        visibility: hidden;
        margin: -4px 0 0;
        float: right;
        .btn{
            padding: 2px 3px 3px 4px;
        }
        &.active{
            visibility: visible;
        }
    }
    .status-balance{
        color: @blue;
        cursor: pointer;
        border-bottom: 1px dashed @blue;
    }

    /* group product table */
    .group-cell-block{
        position: relative;
        padding-right: 30px;
    }
    .group-cell-count{
        .paste-date();
    }
    .tr-collapse-active{
        > td{
            background: @blueLight;
        }
    }
    /* /group product table */

    /* version table */
    .version-group-ava{
        margin: 0 7px 0 0;
        float: left;
        width: 32px;
        img{
            display: block;
        }
    }
    .version-group-cont{
        overflow: hidden;
        line-height: 15px;
    }
    .version-group-name{
        font-weight: 700;
    }
    .version-user-link,
    .version-product-name{
        line-height: 15px;
    }
    .version-product-name{
        span{
            cursor: pointer;
            color: @linkColor;
            text-decoration: none;
            border-bottom: 1px dashed @linkColor;
            &:hover{
                color: @linkColorHover;
                border-bottom: 1px dashed @linkColorHover;
            }
        }
    }
    .version-group-count,
    .version-product-type,
    .version-user-type{
        line-height: 13px;
        .paste-date();
    }
    .version-action{
        white-space: nowrap;
    }
    .version-checked{
        > td{
            background: @blueLight;
        }
    }
    .version-product-img{
        .clearfix();
        margin: 10px 0 10px -7px;
        img{
            display: block;
            float: left;
            margin: 0 0 0 7px;
        }
    }
    .version-product-price{
        margin: 0 0 10px;
        .product-price-header{
            font-size: 11px;
            color: @grayLight;
        }
        .product-price-cont{
            font-size: 15px;
            line-height: 18px;
            font-weight: 700;
            small{
                font-size: 13px;
                font-weight: 400;
            }
        }
    }
    .version-product-descr{
        .product-descr-header{
            .paste-date();
        }
    }
    .version-storage-name{
        font-size: 15px;
        line-height: 20px;
    }
    .version-storage-descr{
        .paste-date();
    }
    /* /version table */


    /* storage table */
    .storage-name{
        font-size: 14px;
    }
    .storage-products-link{
        span{
            font-size: 11px;
            cursor: pointer;
            color: @linkColor;
            border-bottom: 1px dashed @linkColor;
            &:hover{
                color: @linkColorHover;
                border-bottom: 1px dashed @linkColorHover;
            }
        }
    }
    .storage-address{
        .paste-date();
        line-height: 15px;
    }
    /* /storage table */
}

/* group product table */
.group-product-manage-table{
    > tbody > tr > td{
        vertical-align: middle;
    }
    .status-storage-wrap .status-storage{
        &:before{
            left: 378px;
        }
    }
}
.level-group-manage-table{
    background: #fff;
    > .table{
        margin-bottom: 0;
        border-top: 0;
        border-bottom: 0;
        .border-radius(0);
    }
    &:before{
        left: 375px!important;
        top: -1px!important;
    }
    .status-storage-wrap .status-storage{
        &:before{
            left: 370px;
        }
    }
}
/* /group product table */


/* product allocate table */
.manage-product-allocate{
    background: #ddd;
    padding-top: 0!important;
    padding-bottom: 0!important;
    .table thead th{
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .table tbody td{
        vertical-align: middle;
        padding-bottom: 20px;
        border: 0!important;
    }
    .table tbody tr:first-child td{
        border-top: 1px solid #666!important;
    }
    .status-storage{
        border: 1px solid #ddd;
        margin: 20px;
        &:before{
            display: none!important;
        }
    }
    .manage-product-allocate-cont{
        .clearfix();
        background: #fff;
    }
    .manage-product-allocate-info{
        border-bottom: 1px solid #e6e6e6;
        color: #666;
        padding: 17px 20px;
        background: #f2f2f2;
        .allocate-info-img{
            float: left;
            width: 70px;
        }
        .allocate-info-cont{
            overflow: hidden;
        }
    }
    .manage-product-allocate-action{
        border-top: 1px solid #e6e6e6;
        padding: 14px 12px;
        background: #f2f2f2;
        .allocate-action-btn{
            text-align: right;
        }
    }

    .product-allocate-storage-head{
        padding: 10px 0;
        background: #f2f2f2;
    }
    .product-allocate-ava{
        width: 32px;
        height: 32px;
        margin: 0 10px 0 8px;
        overflow: hidden;
        float: left;
    }
    .product-allocate-name{
        .text-overflow();
        padding: 7px 0 0;
        font-weight: 700;
        a{
            color: @textColor;
        }
    }
    .product-allocate-status-distribute{
        padding: 7px 0 0;
        margin: 0 8px 0 0;
        font-weight: 700;
        float: right;
        color: red;
        &.success{
            color: @green;
        }
    }
    .product-allocate-status-deliver{
        padding: 7px 0 0;
        margin: 0 8px 0 0;
        font-weight: 700;
        color: @grayLight;
        .hl{
            color: @textColor;
        }
    }

    .product-allocate-city{
        > [class^="icon-"]{
            margin: 0 10px 0 8px;
        }
    }
    .product-allocate-count{
        color: @grayLight;
        .hl{
            color: @textColor;
        }
    }
    .product-allocate-count-input{
        input{
            width: 23px;
        }
        [class^="icon-"].disabled{
            .opacity(50);
        }
    }
}
.product-allocate-count-slider-block{
    .allocate-count-slider-wrap{
        padding: 7px 0 0;
    }
    .allocate-count-slider{
        position: relative;
        z-index: 2;
        height: 3px;
        background: #d9d9d9;
        .box-shadow(0 1px 2px rgba(0,0,0,.2) inset);
        .ui-slider-handle{
            position: absolute;
            left: 0;
            top: -10px;
            width: 14px;
            height: 23px;
            background: url(../images/arrow/allocate-slider-handle.png) no-repeat;
            margin: 0 0 0 -7px;
        }
    }
    .allocate-count-slider-ruler{
        position: relative;
        z-index: 1;
        margin: 8px 0 0;
        .ruler-item{
            .paste-date();
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            width: 30px;
            margin-left: -15px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 6px;
                border-left: 1px solid #d3d3d3;
                top: -4px;
                left: 50%;
                margin: 0 0 0 -1px;
            }
        }
    }
}
/* /product allocate table */


/* project stats table */
.project-stats-table{
    .project-stats-time,
    .project-stats-cost,
    .project-stats-status-opt,
    .project-stats-user-address{
        .paste-date();
    }
    .project-stats-product-more ,
    .project-stats-number,
    .project-stats-status{
        > span{
            cursor: pointer;
            color: @linkColor;
            border-bottom: 1px dashed @linkColor;
            &:hover{
                color: @linkColorHover;
                border-color: @linkColorHover;
            }
        }
    }
    .project-stats-product{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .project-stats-user-mail{
        font-size: 11px;
    }
    .project-stats-price{
        color: @grayLight;
        text-align: right;
        padding-right: 10px;
    }
    .project-stats-count{
        color: @grayLight;
    }
    .dashed-project-stats-cost{
        text-align: right;
    }

    .project-stats-fulladdress{
        background: #f2f2f2;
        padding: 12px 15px;
        .border-radius(4px 4px 0 0);
        & + .table{
            border-top: 0;
            .border-radius(0 0 4px 4px);
        }
    }
    .psfa-field + .psfa-field{
        margin: 15px 0 0;
    }
    .project-stats-fulladdress-header{
        color: @grayLight;
    }
}
/* /project stats table */

.basket-manage-table{
     > thead th {
        font-weight: 700;
     }
    td{
        vertical-align: middle;
    }
    .product-basket-del{
        cursor: pointer;
    }
    .product-basket-preview{
        .vertical-align();
        width: 71px;
        height: 71px;
        display: block;
        background: #fff;
        border: 1px solid #d9d9d9;
    }
    .product-basket-name{
        a{
            color: #333;
        }
    }
    .product-basket-group{
        .paste-date();
        a{
            color: @grayLight;
        }
    }
    .product-basket-count{
        input{
            width: 23px;
            text-align: center;
        }
        [class^="icon-"]{
            .user-select(none);
            cursor: pointer;
            &.disabled{
                .opacity(50);
                cursor: default;
            }
        }
    }
    .product-basket-ordering-count{
        width: 71px;
        text-align: center;
    }
    .product-basket-not-count{
        width: 71px;
        text-align: center;
        color: @grayLight;
    }
}
.plate,
.accordion-ordering{
    .basket-manage-table{
        margin-bottom: 0;
        > thead, > tfoot{
            th, td{
                background: none;
            }
        }
    }
}


/* inner gray-dashed table */
.table-dashed, .status-storage{
    table{
        border-color: #f2f2f2;
        .border-radius(4px);
        margin: 0;
        .input-field, .select-field{
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
    .table-bordered{
        border: 4px solid #f2f2f2;
        th + th{
            border-left: 0;
        }
        td + td{
            border-left: 0;
        }
        td{
            border-top-style: dashed;
            border-color: #f2f2f2;
            padding: 12px 8px;
        }
    }
    thead th{
        color: @grayLight;
    }
    .name{
        font-weight: 700;
    }
    .name-hl{
        font-weight: 400;
    }
}
.status-storage{
    table{
        .border-radius(4px 4px 0 0);
    }
    .count-check{
        margin-left: 5px;
        float: left;
        .btn{
            padding: 4px 5px 4px 6px;
            margin: -5px 0;
        }
    }
    .post-option{
        .border-radius(0 0 4px 4px);
        background: #f2f2f2;
        margin: 0;
        padding: 4px 14px 8px;
    }
    .status-storage-cell-action{
        margin: -5px 0;
        text-align: right;
    }
    .status-storage-action{
        .border-radius(0 0 4px 4px);
        padding: 4px 10px 8px;
    }

    &.status-storage-simple{
        > .table{
            > thead > tr{
                > th{
                    border-left: 0;
                    color: @textColor;
                }
            }
            > tbody > tr{
                > td{
                    border-left: 0;
                    border-top: 0;
                    border-bottom: 1px solid #ddd;
                }
                &:first-child{
                    > td{
                        border-top: 2px solid #666;
                    }
                }
            }
        }
        .status-storage-action{
            background: #fff;
            padding: 10px 8px;
        }
    }
}
.status-storage-action{
    background: #f2f2f2;
    padding: 8px 10px;
}
/* inner gray-dashed table */

.version-compare{
    > table{
        border-collapse: separate;
        border-spacing: 8px 0;
        .border-radius(0);
        margin: 0;
        > tbody > tr > td{
            border: 0;
            background: #f4f7f9;
            &:first-child{
                background: #f2f2f2;
            }
        }
    }

    .version-change{
        background: @blueLight;
        border-left: 3px solid @blue;
        margin-left: -8px;
        margin-right: -8px;
        padding-left: 5px;
    }
}

.order-manage-table{
    .order-status-block{
        padding-left: 19px;
        position: relative;
        [class^="icon-"]{
            position: absolute;
            left: 0;
            top: -1px;
        }
    }
    .order-complaint{
        margin-top: 8px;
        color: #e6350c;
        .complaint-link{
            color: #e6350c;
            text-decoration: none;
            &:hover{
                .text-icon{
                    text-decoration: underline;
                }
            }
        }
    }
    .order-status{
        font-size: 11px;
        line-height: 14px;
        &.new{
            color: @blue;
        }
        &.fail{
            color: red;
        }
    }
    .order-status-date{
        font-size: 11px;
        line-height: 14px;
        color: @grayLight;
    }
    .order-product-ava{
        float: left;
        margin-right: 5px;
        width: 50px;
        height: 50px;
        img{
            max-height: 50px;
            display: block;
            margin: 0 auto;
        }
    }
    .order-product-name{
        overflow: hidden;
        line-height: 14px;
    }
    .order-user-name,
    .order-user-mail,
    .order-price,
    .order-count,
    .order-address{
        font-size: 11px;
        line-height: 16px;
    }
    .order-sum{
        color: @blue;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }
    .order-canceled{
        color: @grayLighter;
        .order-status-date,
        .order-product-name,
        .order-user-name,
        .order-sum{
            color: @grayLighter;
            a{
                color: @grayLighter;
            }
        }
        .order-status-block{
            [class^="icon-"]{
                .opacity(30);
            }
        }
    }
}

.product-option-table{
    width: auto;
    > thead th,
    > tbody th{
        font-weight: 700;
    }
    > thead td,
    > tbody td{
        padding: 8px;
        text-align: center;
    }
    > tbody th{
        padding: 8px;
    }
}

.group-orders-filter{
    .filter-btn-group{
        margin-right: 0;
    }
    .filter-btn-group-item{
        padding: 4px 11px;
    }
}


/* table collapse block */
.product-manage-table{
    > tbody > .table-collapse-row, > tbody > .storage-tr{
        > td {
            padding: 0;
            border-top: 0;
        }
        &.active{
            > td > .table-collapse-block, > td > .status-storage-wrap{
                display: block;
            }
        }
    }
}
.table-collapse-block, .status-storage-wrap{
    padding: 12px 8px;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    display: none;
    .table-collapse-str{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: -13px;
            left: 50px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/arrow/attach-str-b.png) no-repeat;
        }
    }

    .status-storage{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: -13px;
            left: 50px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/arrow/attach-str-b.png) no-repeat;
        }
    }
    .status-storage + .status-storage{
        margin-top: 20px;
        &:before{
            display: none;
        }
    }
    .status-storage-action{
        .border-radius(0 0 4px 4px);
        padding: 4px 10px 8px;
    }

    .version-compare{
        margin-left: 31px;
    }

    &.level-group-table-collapse-block{
        background: #ddd;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.table-collapse-block{
    .status-storage{
        table{
            .border-radius(4px);
        }
    }
}
.tr-collapse-active + .table-collapse-row{
    > td > .table-collapse-block > .table-collapse-str{
        &:before{
            background-image: url(../images/arrow/attach-str-b-a.png);
        }
    }
}
/* /table collapse block */

