//
// Planeta Layouts
// --------------------------------------------



.hidden {
  display: none !important;
  visibility: hidden;
}

.hidden-container{
    display: none !important;
}
.profile-link{
    font-weight: 700;
}

.word-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.t-ov{
    .text-overflow();
}

.meta-link(){
    > a{
        color: #999;
        border-bottom: 1px solid #ccc;
        font-weight: 700;
        &:hover{
            text-decoration: none;
            color: @blue;
            border-bottom-color: @blue;
        }
    }
}

// общий блок с текстом и аватаром слева
.avatar-common-block{
    word-wrap: break-word;
    .clearfix();
    .avatar{
        float: left;
        margin: 0 10px 0 0;
        img{
            display: block;
        }

    }
    .content{
        overflow: hidden;
    }
}

// ссылка с иконкой с отступами
.link-icon{
    display: inline-block;
    .text-icon + [class^="icon-"]{
        margin-left: 6px;
    }
    [class^="icon-"] + .text-icon{
        margin-left: 6px;
    }
    &.cont-va-middle{
        [class^="icon-"], .text-icon{
            vertical-align: middle;
        }
    }
}
.link-icon-spc(@width: .3em){
    .text-icon + [class^="icon-"]{
        margin-left: @width;
    }
    [class^="icon-"] + .text-icon{
        margin-left: @width;
    }
}
a.link-icon{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        .text-icon{
            text-decoration: underline;
        }
    }
}
.btn.link-icon{
    &:hover{
        .text-icon{
            text-decoration: none;
        }
    }
}
// /ссылка с иконкой с отступами

.link-dotted{
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}

.link-toggle{
    text-decoration: none;
    .link-text{
        color: @linkColor;
        border-bottom: 1px dashed @linkColor;
    }
    .link-caret{
        border-top: 4px solid @linkColor;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
    }
    &.dotted{
        .link-text{
            border-bottom-style: dotted;
        }
    }
    &.active{
        .link-caret{
            border-top: 0;
            border-bottom: 4px solid @linkColor;
        }
    }
    &:hover{
        text-decoration: none;
        .link-text{
            color: @linkColorHover;
            border-bottom-color: @linkColorHover;
        }
        .link-caret{
            border-color: @linkColorHover transparent;
        }
    }
}


/*/*/
.img-crop, .bb-video-cover, .bb-image-cover{
    height: auto;
    display: inline-block;
    margin: 0 10px 10px 0;
    position: relative;
    max-width: 100%;
    img{
        width: 150px;
    }
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        .border-radius(4px);
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
}
.bb-image-cover img{
    max-width: 100%;
}
.bb-video-cover {
    img{
        height: 112px;
    }
}
.com-body{
    .img-crop, .bb-video-cover, .bb-image-cover{
        margin-top: 5px;
    }
    p>img{
        margin: 5px 0;
    }
}

.bb-video-icon{
    background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor:pointer;
    &:hover{
        background-size: 140px 140px;
    }
}

.bb-video-player-cover, .bb-youtube-player-cover,
.bb-video-player-cover-big{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        .border-radius(4px);
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
    img{
        width: 400px;
        height: 300px;
        max-width: 400px;
        max-height: 300px;
    }
    .bb-video-icon{
        width: 400px;
        height: 300px;
    }
}
.bb-video-player-cover-big{
    width: 600px;
    height: 450px;
    img{
        width: 600px;
        height: 450px;
        max-width: 600px;
        max-height: 450px;
    }
    .bb-video-icon{
        width: 600px;
        height: 450px;
    }
}


// блок текста с отступом от иконки
.text-icon{
    word-wrap: break-word;
    position: relative;
    [class^="icon-"]{
        float: left;
    }
    .text-block{
        overflow: hidden;
    }
}


// sidebar header

.sidebar-h{
    background: @blue;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0 0;
    padding: 8px 9px;
    position: relative;
    line-height: 15px;
    font-style: italic;
    > .close{
        .opacity(100);
    }
    h3{
        color: #fff;
        font-size: 13px;
        line-height: 15px;
    }
    .rotate-arrow{
        margin: 2px 0 0;
        float: right;
        .rotate-l, .rotate-r{
            float: left;
            margin: 0 0 0 6px;
            display: block;
            width: 13px;
            height: 14px;
            cursor: pointer;
            background: url(../images/arrow/rotate-arrow.png) no-repeat;
            &:hover{
                background-position: 0 -20px;
            }
            &:active{
                background-position: 0 -40px;
            }
        }
        .rotate-r{
            background-position: -19px 0;
            &:hover{
                background-position: -19px -20px;
            }
            &:active{
                background-position: -19px -40px;
            }
        }
    }
    .sidebar-h-link{
        float: right;
        font-size: 11px;
        line-height: 13px;
        text-shadow: none;
        padding-top: 1px;
        color: @white;
        color: rgba(255,255,255,0.75);
        text-decoration: none;
        .underline-link(255,255,255,0.5);
        &:hover{
            color: @white;
            color: rgba(255,255,255,0.75);
            text-decoration: none;
        }
    }
    &.no-margin-t{
        margin-top: 0;
    }
    &.wall-pic{
        background: transparent !important;
        color: #808080;
        font-size: 14px;
        line-height: 14px;
        padding: 8px;
        position: relative;
        text-shadow: 0 0 0 #fff;
        #gradient > .vertical(#fff, #fff);
        .sidebar-h-arrow{
            left: 10%;
        }
        .text{
            display: inline-block;
            padding: 0 5px;
            background:  #fff;
            position: relative;
            z-index: 1;
        }
        &:after{
            border-top: 1px solid #bfbfbf;
            bottom: 12px;
            content: "";
            height: 1px;
            left: 3px;
            margin: 0 auto;
            position: absolute;
            width: 100%;
        }
    }
}


.wall-header{
    .clearfix();
    margin: 10px 0;
    hr{
        border-bottom: 0;
        border-top-color: #dbdbdb;
        margin: 14px 0;
        height: 0;
    }
    .wall-header-button-block{
        float: right;
        margin: -29px 10px 0 0;
        background: #fff;
        padding: 0 5px;
    }
    .wall-header-text{
        float: left;
        #font > .serif(20px, 400, 26px);
        font-style: italic;
        margin: -29px 0 0 15px;
        padding: 0 5px;
        background: #fff;
    }
    &.tbms-font{
        .wall-header-text{
            font-family: @baseFontFamily;
            font-weight: 700;
            font-style: normal;
        }
    }
}






// загрузка

.list-loader{
    position: relative;
    a{
        display: block;
        margin-bottom: 6px;
        padding:  12px 0;
        font-size: 12px;
        line-height: 12px;
        text-decoration: none;
        text-align: center;
        color: #333;
        .border-radius(4px);
        background: #f4f4f4 url(../images/icon/list-load-str-b.png) no-repeat 20px 50%;
        [class^="icon-"] {
            display: none !important;
        }
        &:hover{
            background-color: #e8e9ea;
        }
        &.load{
            background: #e8e9ea url(../images/icon/16x16-e8e9ea.gif) no-repeat 20px 50%;
        }
    }
    &.list-refresh{
        a{
            background-image: none;
        }
        .icon-refresh{
            display: block !important;
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }
}

td.list-loader {
    padding: 0;
}


.video-big-preview{
    background: @black;
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 5px 5px 0;
    img{
        width: 100%;
    }
    .video-time{
        background: rgb(0,0,0);
        background: rgba(0,0,0,0.7);
        display: inline-block;
        padding: 3px 5px;
        .border-radius(4px);
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: @white;
    }
    .play-button-overlay{
        background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        &:hover{
            background-size: 140px 140px;
        }
    }
}



.plate{
    position: relative;
    padding: 10px;
    margin: 0 0 20px;
    word-wrap: break-word;
    border: 10px solid #e8e9e9;
    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    .plate-alert{
        color: #bc422b;
        font-size: 11px;
        margin: 13px 10px 0;
        float: right;
    }
    .plate-collapse{
        cursor: pointer;
        margin: 3px 0 0;
        background: url(../images/arrow/plate-collapse.png) no-repeat;
        width: 16px;
        height: 17px;
        float: right;
    }
    .plate-header{
        font-size: 18px;
        line-height: 22px;
        color: #666;
        margin: 0 0 10px;
    }
    .plate-cont{
        .clearfix();
        position: relative;
        background: #fff;
    }
    .donate-step{
        margin: 0 0 10px;
    }
    .table-in-plate tbody tr:first-of-type td{
        border-top-width: 1px;
    }
}
.plate-action{
    .clearfix();
    margin: 10px 0;
}
.plate-action-btn{
    float: left;
    a.btn{
        padding: 9px 15px 8px;
        font-weight: 700;
    }
}
.sum-row{
    font-size: 15px;
    font-weight: 700;
    td{
        padding: 17px 11px;
        &.sum-cell{
            padding: 17px 23px;
            text-align: right;
        }
    }
}
.basket-table-row td:last-of-type {
    padding: 12px 22px 12px 8px;
    text-align: right;
}



.noice-block{
    #gradient > .vertical(#fff, #f5f5f5);
    border: 1px solid @border;
    margin: 0 0 20px;
    .noice-bg{
        padding: 18px;
    }
}





.pln-tabs{
    margin: 0 0 20px -2px;
    font-weight: 700;
    .pln-tabs-item{
        display: inline-block;
        padding: 18px 2px 0;
        border-top: 3px solid transparent;
        & + .pln-tabs-item{
            margin-left: 23px;
        }
        &.pull-right{
            margin-right: 23px;
        }
        &.active{
            border-top-color: @blue;
            .pln-tabs-link{
                color: #252525;
                cursor: default;
            }
        }
        &.disabled{
            .pln-tabs-link{
                cursor: default;
                &:hover{
                    color: #a6aab1;
                }
            }
        }
    }
    .pln-tabs-link{
        font-size: 15px;
        color: #a6aab1;
        text-decoration: none;
        text-shadow: 0 1px #fff;
        cursor: pointer;
        &:hover{
            color: @blue;
        }
    }
    .pln-tabs-badge{
        position: relative;
        top: -10px;
        padding: 1px 5px;
        font-size: 11px;
        text-shadow: none;
        color: #fff;
        background: #e35050;
        .border-radius(3px);
    }
    &.pln-tabs-gray{
        .pln-tabs-item{
            margin-top: -3px;
            padding-top: 21px;
            &.active{
                border-top-color: #b9bcc1;
            }
        }
        .pln-tabs-link{
            &:hover{
                color: #252525;
            }
        }
    }
}

.page-name{
    margin: 0 0 24px;
    font: 700 27px/32px @baseFontFamily;
    letter-spacing: -1px;
    color: #1a1a1a;
    .p-n-t-spn{
        color: #b8b7bd;
    }
}


.detail-admin-bar{
    background: #f2f2f2;
    margin: 0 0 20px;
    padding: 10px;
    .clearfix();
    .admin-bar-btn{
        float: right;
    }
    .admin-bar-msg{
        .paste-date();
        line-height: 14px;
    }
    .admin-bar-header{
        font-size: 16px;
        line-height: 20px;
        color: @grayLight;
    }
}


