//
// post option
//
// --------------------------------------------


.post-option{
    display: block;
    padding: 8px 0;
    margin-top: 10px;
    line-height: 16px;
    font-size: 11px;
    color: #999;
    .clearfix();
    border-top: 1px solid #e7e7e7;
    &.blog{
        border-top: 1px solid #e7e7e7;
    }
    .post-option-item{
        display: inline-block;
        float: left;
        position: relative;
        margin: 0 15px 0 0;
        i{
            margin: -2px 2px;
            cursor: pointer;
        }
        .icon-vect-comment{
            margin: -2px 0 -2px 2px;
        }
        [class^=icon-scr]{
            top: 1px;
        }
        &:before{
            color: #ccc;
            content: "•";
            font-size: 12px;
            position: absolute;
            right: -10px;
        }
        &:last-child, &.vision{
            margin: 0;
            &:before{
                content: " ";
            }
        }
        &.vision{
            float: right;
        }
        &.show-voters{
            cursor: pointer;
        }
        &:hover{
            color: @blue;
            cursor: pointer;
            .post-option-link{
                border-bottom: 1px solid @blue;
            }
            .blog-reit{
                color: #999;
            }
        }
        .post-option-link{
            color: #999 !important;
            text-decoration: none;
            .underline-link(229,229,229,1) !important;
            &.new{
                color: #666 !important;
                .underline-link(229,229,229,1) !important;
                font-weight: 700;
                &:hover{
                    color: @blue;
                }
            }
            &:hover{
                color: @blue !important;
                border-bottom: 1px solid @blue !important;
            }
        }
    }
}