//
// Planeta Search
// --------------------------------------------


.search-block{
    position: relative;
    .clearfix();
    padding: 12px;
    #gradient > .vertical(#ffffff, #f5f5f5);
    border: 1px solid @border;
    margin: 0 0 18px;

    .section-search{
        background: none;
        padding: 0 35px 0 0;
        display: block;
        margin: 0;
        input{
            background: #fff;
            width: 100%;
            padding: 4px 28px 4px 5px;
            margin: 0;
            .border-radius(2px);
            .box-shadow(0 2px 4px #d2d2d2 inset);
        }
        &:before{
            top: 5px;
            right: 6px;
        }
    }

    .fieldset{
        margin-bottom: 10px;
    }

    &.noice-block{
        margin: 0 0 20px;
        padding: 0;
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            margin: 1px 0 0;
            left: -1px;
            right: -1px;
            height: 14px;
            background: url(../images/planeta/hint-shadow.png) no-repeat;
            background-size: 100% 100%;
        }
        .action-search{
            text-align: right;
            a{
                margin-left: 5px;
            }
        }
        .noice-bg{
            padding: 10px;
        }
        .label-name{
            text-align: right;
            label{
                padding: 6px 0 0;
            }
        }
    }

}
