// account



.private-office-header{
    margin: 0;
    padding: 0 10px;
    &_title{
        display: block;
    }
    @media (max-width: 600px) {
        &_title{
            text-align: center;
        }
    }
}



.private-office-balance{
    &:extend(.cf-mix all);
    float: none;
    margin: 0;
    &_value{
        float: left;
    }
    &_btn{
        float: right;
    }
    @media (max-width: 400px) {
        &_btn{
            .btn{
                width: 40px;
                height: 40px;
                font-size: 0;
                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    content: '+';
                    font-size: 30px;
                    line-height: 40px;
                    text-align: center;
                }
            }
        }
    }
}



.private-office-search{
    display: block;
    width: auto;
    margin: 20px 0;
}



.private-office{
    &_support{
        padding: 0 10px;
        float: none;
        text-align: left;
    }
}





.private-office-block{
    margin: 0;
}
.pob-purchases-wrap{
    padding: 10px;
    @media (max-width: 600px) {
        margin: 10px 0 0;
        padding: 10px 10px 10px;
        background: #f2f2f2;
    }
}


.private-office-purchases{
    @media (max-width: 600px) {
        &_i{
            display: block;
            width: auto;
            margin: 10px 0;
            border: 1px solid #e6e6e6;
            border-top: 0;
            background: #fff;
        }
        &_info{
            float: none;
            width: auto;
            padding: 10px;
            border-bottom: 1px solid #e6e6e6;
            &:before{
                display: none;
            }
        }
        &_cont{
            padding: 20px 10px 10px;
        }
        &_list-product{
            overflow: visible;
        }
    }
}


.private-office-product{
    @media (max-width: 600px) {
        &_ava{
            display: none;
        }
        &_cont{
            overflow: visible;
        }
    }
}


@media (max-width: 600px) {
    .pob-purchases-block{
        display: block;
        margin-top: 10px;
    }
    .pob-purchases-block-info{
        display: block;
        width: auto;
        padding: 10px;
        border: 0;
    }
    .pobpb-info-num{
        margin: 0;
    }
    .pob-purchases-block-list{
        display: block;
    }
    .pobpb-list-item{
        padding: 10px;
    }
    .pobpbl-item-ava{
        width: 40px;
        height: 40px;
    }
    .pobpbl-item-info-wrap{
        margin-left: 50px;
    }
    .pob-purchases-block-action{
        display: block;
        width: auto;
        border: 0;
    }
}

