// action-card



.action-card-block{
    padding: 20px 10px;
    background: #f4f4f4;
}

.action-card-i.disabled{
    //display: none;
    margin-top: 20px;
    &.show{
        display: block;
    }
    & + & {
        margin-top: -1px;
    }
}


.action-card-show-hidden{
    margin: 20px 0 0;
    .btn{
        padding: 15px 0;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }
}




// modal action
@media (max-width: 600px) {
    .modal-ac-head{
        padding: 21px 40px 19px 10px;
    }
    .modal-ac-body{
        padding: 26px 10px 30px;
    }
    .modal-ac-foot{
        padding: 18px 10px;
    }
    .modal-ac-img{
        width: 26%;
        height: auto;
    }
}
@media (max-width: 460px) {
    .modal-ac-img{
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .modal-ac-cont{
        overflow: visible;
    }
    .modal-ac-name{
        font-size: 16px;
        line-height: 1.3;
    }
    .modal-ac-descr{
        font-size: 13px;
        line-height: 1.4;
        max-height: 13px * 15 * 1.4;
        &.expand{
            overflow: visible;
        }
    }
    .modal-ac-foot .pull-right{
        float: none;
    }
    .modal-ac-sum{
        float: right;
        margin: 0;
    }
    .modal-ac-submit{
        width: 100%;
        margin: 20px 0 0;
    }
}
.modal-ac-arr-prev,
.modal-ac-arr-next,
.modal-ac-sum-text{
    display: none;
}
// /modal action
