// cont-header



.cont-header{
    margin: 0;
    padding: 0 10px;
}

@media (max-width: 600px){
    .cont-header{
        &_name{
            float: none;
            text-align: center;
        }
        &_shop-links{
            .cf-mix();
            margin: 0;
            float: none;
            text-align: center;
            &_i{
                float: none;
                display: inline-block;
                vertical-align: top;
                margin: 0 10px;
            }
        }
        &_title{
            text-align: center;
        }
    }
}
