// feed-list



.feed{
    @media (max-width: 600px){
        &_filter{
            &_list{
                margin-top: -15px;
            }
            &_i{
                float: none;
                margin: 10px 0;
            }
        }
    }
}




.n-content,
.updates-list{
    .feed{
        &_i{
            padding-top: 10px;
            padding-bottom: 15px;
        }
        &_project{
            margin: 0;
            &_progress{
                margin: 4px 0 0;
            }
        }
        &_ava{
            display: none;
        }
        &_cont{
            margin: 0;
        }
        &_from{
            display: none;
        }
        &_name{
            margin: 0 0 10px;
            font-size: 20px;
            line-height: 1.3;
        }
        &_text{
            display: none;
        }
        &_comment{
            display: none;
        }
        &_sharing{
            .sharing-popup-social{
                display: none;
            }
        }
    }
}



.feed_action{
    margin: -16px -10px 15px;
    padding: 10px;
}

.feed-post_author_wrap{
    margin: -15px 0 15px;
    padding: 0 0 10px;
}

.feed-post_project{
    margin: -15px -10px 20px;
    padding: 10px;
}
