// fieldset-group



.fieldset-group__grid{
    border-left: 0;
    border-right: 0;
    .fieldset-lbl{
        width: 35%;
    }
    @media (max-width: 600px) {
        padding: 10px;
        background: #f2f2f2;
        border-top: 0;
        .fieldset{
            display: block;
            width: auto;
            margin: 10px 0;
            border: 1px solid #e6e6e6;
            border-top: 0;
            background: #fff;
        }
        .fieldset-lbl{
            display: block;
            width: auto;
            padding: 10px 16px;
            border-right: 0;
            border-bottom: 1px solid #e6e6e6;
        }
        .fieldset-val{
            display: block;
        }
    }
}
