// founding-rules



.pln-content-box{
    &_cont{
        border: 0;
        &__offset{
            padding: 20px;
            @media (max-width: 600px) {
                padding: 10px;
            }
        }
    }
}



#central-c{
    float: none;
    width: auto;
}
#right-s{
    float: none;
    width: auto;
    margin: 0;
}



.founding-rules-content{
    margin: 0 0 20px;
}


.frc-title{
    margin: 10px 0 25px;
    line-height: 1.2;
}



.frc-i-accept{
    padding: 15px 180px 15px 10px;
    @media (max-width: 600px) {
        padding: 15px 10px;
    }
}

.frc-i-accept-btn{
    right: 10px;
    @media (max-width: 600px) {
        position: static;
        margin: 20px 0 0;
    }
}
