// grid reset



.wrap-container{
    padding: 0;
}



body:not(.project-page){
    .footer{
        .wrap{
            max-width: none;
            min-width: 0;
            width: auto;
        }
    }

    #global-container,
    #root-container{
        .wrap{
            max-width: none;
            min-width: 0;
            width: auto;
            padding-left: 0;
            padding-right: 0;
        }
        .wrap-row{
            margin-left: 0;
            margin-right: 0;
        }
        [class^="col-"], [class*=" col-"]{
            float: none;
            width: auto;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
        [class^="col-pull-"], [class*=" col-pull-"],
        [class^="col-push-"], [class*=" col-push-"]{
            left: auto;
            right: auto;
        }
        .wrap-indent-right-half,
        .wrap-indent-right{
            margin-right: 0 !important;
        }
        .wrap-indent-left-half,
        .wrap-indent-left{
            margin-left: 0 !important;
        }
    }
}
