// mobile header



.m-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 0;
    &_cont{
        &:extend(.cf-mix all);
        padding: 15px 20px;
        background: #0e2129;
        transition: .2s;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        &.header-hide{
            transform: translate3d(0,-58px,0);
            backface-visibility: hidden;
            overflow: hidden;
        }
    }
    &_logo{
        float: left;
        display: block;
        width: 108px;
        height: 28px;
        background: url(../images/pln-logo-white.svg) no-repeat;
    }
    &_menu-toggle{
        float: right;
        margin: 0 -7px 0 0;
        padding: 13px 7px;
        cursor: pointer;
        &.active{
            .m-header_menu-toggle-ico{
                background: transparent;
                &:before{
                    transform: rotate(45deg);
                }
                &:after{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &_menu-toggle-ico{
        position: relative;
        display: block;
        width: 14px;
        height: 2px;
        background: #fff;
        transition: .2s;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            transform: translateY(-6px);
            transition: .2s;
        }
        &:after{
            transform: translateY(6px);
        }
    }
}


.showMenu{
    .m-header{
        position: absolute;
    }
    .m-header_cont.header-hide{
        transform: translate3d(0,0,0);
    }
}


.h-reg-confirm{
    margin: 58px 0 -58px;
    padding: 20px;
}
.h-reg-confirm-close{
    font-size: 0;
}
.h-reg-close-icon{
    top: -10px;
    right: -30px;
}
