// mobile menu



.m-nav{
    display: none;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 58px 0 0;
    font: 16px/1.3 @ff-proxima-nova;
    color: #fff;
    background: #2a414b;
    &.open{
        display: block;
        height: auto;
    }
}


.showMenu{
    .m-nav{
        display: block;
        position: relative;
    }
}




.m-menu{
    line-height: 18px;
    &_i{
        border-bottom: 1px solid #0e2129;
    }
    &_link{
        display: block;
        padding: 20px;
        color: #fff;
        text-transform: uppercase;
        background: #213740;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
    &_notif{
        float: right;
        min-width: 24px;
        padding: 4px 10px 3px;
        font-size: 15px;
        line-height: 17px;
        color: #000;
        text-align: center;
        border-radius: 24px;
        background: #ffcf0d;
        &__bl{
            color: #fff;
            background: #0e2129;
        }
        &_new {
            color: #fff;
            background: #3498db;
        }
    }


    &__action{
        .m-menu{
            &_link{
                color: #a6c2cf;
                background: #2a414b;
                &:hover{
                    color: #a6c2cf;
                }
            }
        }
    }
}



.m-menu-user{
    &_link{
        display: block;
        position: relative;
        min-height: 58px;
        padding: 14px 17px 14px 60px;
        font-size: 16px;
        color: #7794a1;
        white-space: nowrap;
        background: #0e2129;
        &:hover{
            color: #7794a1;
            text-decoration: none;
        }
    }
    &_ava{
        position: absolute;
        top: 14px;
        left: 17px;
        width: 30px;
        height: 30px;
    }
    &_name{
        display: block;
        margin: 5px 0 0;
        .text-overflow();
    }
}



.m-lang{
    .f-lang{
        margin: 0;
        border-bottom: 1px solid #0e2129;
        &_link{
            display: block;
            padding: 20px;
            font-size: 16px;
            line-height: 18px;
        }
        &_ico{
            border-color: #5b737d;
        }
        &_lbl{
            margin: 0;
        }
    }
}



.m-special{
    padding: 20px 0 10px;
    text-align: center;
    background: #0e2129;
    &_head{
        margin: 0 0 10px;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .15em;
        text-transform: uppercase;
        color: #a5c1ce;
    }
    a{
        margin: 10px;
        display: inline-block;
        vertical-align: middle;
    }
}



.m-links{
    padding: 30px 20px;
    font-size: 0;
    &_list{
        margin: -17px 0 0 -30px;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        font-size: 17px;
        margin: 17px 0 0 30px;
    }
    &_link{
        &, &:hover{
            color: #939da0;
            text-decoration: underline;
        }
    }
}
