// modals



.modal-dialog{
    &:after{
        display: none;
    }
}

.modal{
    display: block;
    width: auto !important;
    max-width: none;
    min-height: 100%;
    margin: 0;
    border: 0 !important;
    background: #fff;
}

@media (max-width: 600px) {
    .modal-header,
    .modal-body,
    .modal-footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}
