// modal-project-create



.modal-project-create{
    .project-create-item{
        padding: 10px;
    }
}


.modal-project-create-container1{
    .modal-scroll-content{
        margin: 0;
        height: auto !important;
        max-height: none;
    }
    .scrollbar-pane{
        position: relative !important;
        top: 0 !important;
        width: 100% !important;
    }
    .scrollbar-handle-container{
        display: none !important;
    }

}
