// modal-feedback



.modal-project-feedback-form{
    width: auto;
}

.modal-project-feedback .modal-feedback-success{
    width: auto;
}



.modal-project-feedback-step-1{
    width: auto;
    padding: 30px;
    .btn, .flat-btn{
        position: static;
        padding: 8px 15px;
        font-size: 14px;
    }
}

.mp-feedback-questions{
    float: none;
    width: auto;
    & + &{
        margin: 40px 0 0;
    }
}

.mpf-questions-inner{
    padding: 0;
    border: 0;
}

.mp-fi-right{
    padding: 0;
}
