// modal-balance



.modal-balance{
    .pln-payment-box{
        margin: 0 0 20px;
        @media (max-width: 600px) {
            padding-left: 0;
            padding-right: 0;
            .pln-payment-box_field-row{
                border-width: 1px 0;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .pln-payment-sub-menu{
        @media (max-width: 600px) {
            .pln-payment-box_field-row{
                border-width: 1px;
            }
        }
    }
    .pln-payment-terms{
        float: none;
        margin: 0 10px 20px;
        padding: 0;
        text-align: center;
    }
    .pln-payment-action{
        float: none;
        margin: 0 10px 20px;
        padding: 0;
        text-align: center;
        .flat-btn{
            float: none;
        }
    }
}

