// n-settings



.n-settings{
    &_action{
        margin: 20px;
    }
    @media (max-width: 600px) {
        &_action{
            margin: 10px;
            .btn{
                padding: 10px 20px;
            }
        }
    }
}



.action-status{
    @media (max-width: 600px) {
        float: left;
        margin: 0 5px 0 0;
        padding: 9px 6px 9px 26px;
        &:before{
            left: 7px;
            top: 9px;
        }
    }
    @media (max-width: 359px) {
        height: 40px;
        padding: 9px 10px 9px 26px;
        font-size: 0;
        &:before{
            left: 11px;
        }
    }
}
