// network-projects



.n-content{
    .n-own-project{
        @media (max-width: 600px) {
            &_cover{
                float: none;
                width: auto;
                img{
                    width: 100%;
                }
            }
            &_cont{
                margin: 15px 0 0;
            }
            &_name{
                overflow: visible;
                white-space: normal;
            }
            &_stat{
                &_i{
                    float: none;
                    display: block;
                    width: auto;
                    border-top: 1px solid #ccc;
                    &:first-child{
                        border: 0;
                    }
                }
            }
        }
    }
}

.n-own-project{
    @media (max-width: 600px) {
        &_list__slim{
            .n-own-project{
                &_i{
                    display: flex;
                    flex-direction: column;
                    min-height: 81px;
                }
                &_cover{
                    height: 0;
                }
                &_add{
                    order: 2;
                    float: none;
                    width: auto;
                    margin: 0 0 0 142px;
                    white-space: nowrap;
                }
                &_info{
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;
                    &_val{
                        font-size: 19px;
                    }
                }
                &_action{
                    float: right;
                    display: inline-block;
                    vertical-align: top;
                    min-width: 110px;
                    margin: 0;
                    white-space: nowrap;
                }
                &_cont{
                    order: 1;
                    margin: 10px 0 5px 142px;
                }
                &_descr{
                    display: none;
                }
                &_progress{
                    display: none;
                }
            }
        }
    }
}



.n-support-project{
    &_list{
        font-size: 0;
        text-align: center;
    }
    &_i{
        float: none;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }


    @media (max-width: 600px) {
        &_head{
            display: flex;
            flex-flow: column-reverse;
        }
        &_head_action{
            float: none;
            display: inline-block;
            vertical-align: top;
        }
    }
}
