// news



.news{
    &_feature{
        &_list{
            margin: 0;
        }
        &_i{
            &:extend(.cf-mix all);
            display: block;
            width: auto;
            padding: 0 10px;
        }
        &_img{
            float: left;
            width: 90px;
            margin: 0 10px 0 0;
        }
        &_head{
            overflow: hidden;
            position: static;
            padding: 0;
            color: #000;
            background: none;
        }
    }


    &_posts{
        &_list{
            margin: 0;
        }
        &_i{
            &:extend(.cf-mix all);
            display: block;
            width: auto;
        }
        &_img{
            float: left;
            width: 90px;
            height: auto;
            margin: 0 10px 0 0;
        }
        &_cont{
            height: auto;
            padding: 0;
        }
        &_text{
            display: none !important;
        }

        &__large{
            .news_posts{
                &_img{
                    float: left;
                    width: 90px;
                    height: auto;
                    margin: 0 10px 0 0;
                }
                &_cont{
                    float: none;
                    width: auto;
                }
            }
        }
    }
}


.news-more{
    display: none !important;
}
