// payment-success



.pln-payment-vip{
    margin: -1px -20px;
    padding: 30px;
    border-bottom: 1px solid #d8dade;
    background-color: #fff;
}


.pln-payment-success{
    padding: 20px;
    &_head{
        margin: 0 0 10px;
    }
    &_sub-head{
        margin: 0 0 20px;
        padding: 0;
    }
    &_widget{
        margin: 0 !important;
        &_i{
            float: none;
            width: auto;
            margin: 15px 0 0;
            padding: 15px 0 0;
            border-top: 1px solid #d8dade;
            & + .pln-payment-success_widget_i{
                margin: 15px 0 0;
            }
            &:first-child{
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
        &_ico{
            margin: 0 0 15px;
            text-align: center;
        }
        &_sharing{
            margin: 0 0 20px;
            text-align: center;
        }
        &_sharing-head{
            margin-top: 5px;
        }
        &_text{
            text-align: center;
        }
    }


    @media (max-width: 600px) {
        padding: 20px 0;
        &_head{
            font-size: 30px;
        }
        &_sub-head{
            font-size: 20px;
        }
    }
}
