// payment-loyal



.pln-payment-error-loyal{
    padding: 0 0 3px;
    border-bottom: 1px solid #f0eee8;
    &_row{
        padding: 20px;
    }
    &_head{
        margin: 0 0 8px;
    }
    &_head-action{
        margin: 25px 0 0;
    }
    &_form{
        width: auto;
        margin: 0 0 0 30px;
    }
    &_cell{
        &:first-child{
            .pln-payment-error-loyal_form{
                margin: 0 30px 0 0;
            }
        }
    }


    @media (max-width: 600px) {
        margin: 0 0 -21px;
        text-align: left;
        &_row{
            padding: 20px;
            .pln-payment-error-loyal_form-input,
            .pln-payment-error-loyal_form-btn{
                max-width: none;
            }
            .pln-payment-error-loyal_form-btn{
                margin: 0;
                text-align: center;
            }
            &__phone{
                display: block;
                min-height: 0;
            }
        }
        &_head{
            font-size: 30px;
            line-height: 1.2;
        }
        &_head-text {
            font-size: 19px;
            line-height: 1.5;
        }
        &_form-head{
            br{
                display: none;
            }
        }
        &_cell{
            display: block;
            width: auto;
            height: auto;
            margin: 40px 0 0;
            padding: 40px 0 0;
            text-align: left;
            border: 0;
            border-top: 1px solid #f0eee8;
            &:first-child{
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
        &_form{
            margin: 0 !important;
        }
        &_or{
            top: 0;
            left: 50%;
            text-align: center;
        }
    }
}
