// payment



.payment-page-wrap{
    padding: 10px 0 0;
    background: #f0eee8;
}
.pln-payment-box{
    margin: 0 10px 10px;
}


.pln-payment-product_count{
    position: static;
}


.pln-payment-action{
    margin: 0 10px 40px;
}

.pln-payment-trust, .pln-payment-loyal{
    margin: 0 10px 10px;
}



.checkbox,
.radiobox{
    margin: 0 8px 0 0;
}
.checkbox-label,
.radiobox-label{
    display: block;
    overflow: hidden;
}


.pln-payment-type-wrap{
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 1px;
}

.pln-payment-type{
    .ppt-item{
        width: 80px;
        padding-left: 5px;
        padding-right: 5px;
        &:before{
            top: 0;
            bottom: 0;
        }
    }
}


.payment-page-wrap{
    margin-top: -1px;
}


@media (max-width: 600px) {
    .payment-page-wrap{
        padding: 0;
    }
    .pln-payment-box{
        border: 0;
        background: none;
    }
    .pln-payment-box{
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid #c4c4c4;
        &_head{
            margin: 15px 0;
            padding: 0;
            text-align: center;
            border: 0;
        }
        &_field-row{
            display: block;
            width: auto;
            margin: 10px 0;
            border: 1px solid #e6e6e6;
            border-top: 0 !important;
            background: #fff;
            &.hide,
            &.hidden{
                display: none;
            }
            &_hidden{
                display: none;
                &.error{
                    display: block;
                }
            }
            .pln-payment-box{
                &_field-group{
                    margin: -10px -1px;
                    padding: 0 1px;
                    background: #f0eee8;
                }
            }
        }
        &_field-label{
            float: none;
            width: auto !important;
            padding: 10px 16px;
            border-bottom: 1px solid #e6e6e6;
        }
        &_field-value{
            margin: 0 !important;
            border: 0;
        }
    }

    .pln-payment-sub-menu-wrap{
        margin-top: -10px;
        .pln-payment-box_field-group{
            margin-top: 0;
            background: #fff;
        }
        .pln-payment-box_field-row{
            margin: 0;
        }
        .pln-payment_enter-sum{
            margin-top: 20px;
        }
    }

    .pln-payment-action{
        position: relative;
        padding-top: 48px;
        .pln-payment-total{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
        }
    }

    .pln-payment-reward,
    .pln-payment-product,
    .pln-payment-side{
        background: #fff;
        margin: 0 -10px 20px;
    }
}
@media (max-width: 410px) {
    .pln-payment-action{
        .flat-btn{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        .flat-btn + .flat-btn{
            margin-top: 10px;
        }
    }
}

