// profile-card



.n-card{
    &_main{
        margin: 0;
    }
    &_info-block{
        background: #f5f5f5;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
    }


    @media (max-width: 600px) {
        &_ava{
            width: 50px;
            height: 50px;
        }
        &_cont{
            margin-left: 60px;
        }
        &_name{
            font-size: 30px;
            line-height: 30px;
        }
    }
}


.n-sidebar{
    display: none;
}
