// project-create



// tabs
.project-create_tab{
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 100%;
    text-align: center;
    white-space: nowrap;
    &-wrap{
        overflow-x: auto;
        overflow-y: hidden;
    }
}
// tabs



.project-create_reward-error{
    display: none;
}



// forms
.project-create_cont{
    border-width: 1px 0;
}
@media (max-width: 600px) {
    .project-create{
        &_list{
            padding: 10px;
            background: #f2f2f2;
        }
        &_row{
            display: block;
            width: auto;
            margin: 10px 0;
            border: 1px solid #e6e6e6;
            border-top: 0;
            background: #fff;
        }
        &_col-lbl{
            display: block;
            width: auto;
            padding: 10px 16px;
            border-right: 0;
            border-bottom: 1px solid #e6e6e6;
        }
        &_col-val{
            &_col{
                float: none;
                width: auto;
                & + &{
                    border-top: 1px solid #e6e6e6;
                    &:before{
                        display: none;
                    }
                }
            }
            &_cont{
                padding: 10px;
                .span6{
                    float: none;
                    width: auto;
                    margin: 10px 0;
                }
            }
        }
    }
}

.mce_planetafullscreencampaign{
    left: auto !important;
}
// /forms



// create support
.project-create{
    &_support{
        float: none;
        padding: 10px 10px 20px;
        text-align: center;
        b{
            white-space: nowrap;
        }
    }
}
// /create support




// create action
.project-create{
    &_action-wrap{
        margin-bottom: 10px;
    }
    &_action{
        padding-left: 10px;
        padding-right: 10px;
        .btn{
            padding: 10px 20px;
        }
    }
    &_preview-link{
        margin-top: 15px;
    }
    &_back{
        margin: 0 8px 0 0;
    }
    &_next{
        margin: 0 0 0 5px;
    }
}

@media (max-width: 600px) {
    .project-create{
        &_action{
            .btn{
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        &_save{
            display: block;
            margin: 0 0 10px;
        }
        &_back{
            float: none;
        }
        &_next{
            display: block;
        }
    }
}
// /create action



// project card
.project-card-list__create{
    margin-left: 0;
    text-align: center;
    .project-card-item{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-left: 0;
        text-align: left;
    }
}
// /project card
