// project-page



.project-view-wrap{
    background: #fff;
    margin: 0;
    padding: 0;
}



.project-view-name{
    margin: 17px 0 16px;
    padding: 0 10px;
    h1{
        font-size: 24px;
        line-height: 1;
        font-weight: 400;
        text-align: left;
    }
}



.project-draft{
    display: none;
}
.project-code-btn{
    display: none;
}
.page-head-sharing{
    margin: 0 0 19px;
    padding: 0 10px;
    text-align: left;
    .sps-count{
        display: none;
    }

    .bs-icon-size(@size){
        @scale: @size * 100 / 400 / 100;
        [class^="bs-icons-"] {
            width: @size + 0px;
            height: @size + 0px;
        }
        //.bs-icons-vk    { background-position: 0 0 }
        .bs-icons-fb    { background-position: round(-500px * @scale) 0 }
        .bs-icons-tw    { background-position: round(-1000px * @scale) 0 }
        .bs-icons-ok    { background-position: round(-1500px * @scale) 0 }
        .bs-icons-mr    { background-position: round(-2000px * @scale) 0 }
        .bs-icons-gp    { background-position: round(-2500px * @scale) 0 }
        .bs-icons-sb    { background-position: round(-3000px * @scale) 0 }
        .bs-icons-tg    { background-position: round(-3500px * @scale) 0 }
    }

    .bs-icon-size(30);
}



.project-author-info_manager {
    padding: 10px 0 0;
}



// project card
.project-view-header{
    &__investing{
        background: #331d3a;
        .project-view-card{
            color: #fff;
        }
        .pvc-head-success{
            color: #fff;
        }
        .pvc-bar-ctrl{
            background: #fff;
        }
        .pvc-share-link{
            color: #fff;
        }
    }
}
.project-view-card{
    margin: 18px 0 0;
    padding: 0 10px;
    min-height: 0;
    background: none;
    font-family: @ff-proxima-nova;
    color: #000;
}
.pvc-counter-wrap{
    margin: 0 0 1px;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}
.pvc-counter-currency{
    font-size: 22px;
    line-height: 24px;
}
.pvc-head{
    margin: 0 0 14px;
    font-size: 12px;
    line-height: 1;
    color: #676767;
}
.pvc-head-success{
    color: #676767;
}
.pvc-common{
    display: flex;
    flex-flow: column-reverse;
}


.pvc-progress-block{
    margin: 0 0 21px;
}
.pvc-progress{
    background: #dde4e7;
    border-radius: 8px;
}
.pvc-bar{
    height: 8px;
    border-radius: 8px;
}
.pvc-bar-ctrl{
    width: 8px;
    margin: 0 -4px 0 0;
    border-radius: 8px;
    background: #253947;
}


.pvc-info{
    &:extend(.cf-mix all);
    margin: 0 0 18px;
}
.pvc-info-field{
    display: flex;
    flex-flow: column-reverse;
    width: auto;
    margin: 0 0 0 35px;
    &:first-child{
        margin-left: 0;
    }
    &__last{
        float: right;
        margin-left: 0;
    }
}
.pvc-info-name{
    margin: -1px 0 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    color: #676767;
}
.pvc-info-value{
    font-size: 16px;
    font-weight: 600;
    &_lbl{
        font-size: 12px;
    }
}


.pvc-footer{
    position: static;
}
.pvc-footer-cont{
    padding: 0;
}


.pvc-share-btn-block{
    margin: 0 0 10px;
}
.pvc-share-link{
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    border-radius: 4px;
    border: 2px solid @baseColor;
    background: none;
    &.active{
        background: none;
        .pvc-share-tick{
            width: 14px;
            height: 12px;
            background: url(../images/project/project-view-tick.png) no-repeat;
        }
    }
}


.pvc-donate-btn-block{
    margin: 0 0 10px;
    .flat-btn{
        padding-top: 17px;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 4px;
    }
}
// project card




// project tab
.project-tab-wrap{
    padding: 0 0 7px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.project-tab{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 100%;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #c4c4c4;
    background: #f3f3f3;
}
.project-tab-att{
    display: none;
}
.project-tab-i{
    display: inline-block;
    vertical-align: top;
    width: auto;
    text-transform: uppercase;
    &.active{
        .project-tab-link{
            top: -1px;
            margin: 0 0 -2px;
            padding: 13px 12px;
            color: #000;
            font-weight: 400;
            box-shadow: none !important;
            border-color: #c4c4c4;
        }
    }
}
.project-tab-link{
    background: none;
    margin: 0;
    padding: 12px;
    font-size: 14px;
    line-height: 19px;
    color: #575757;
    border: 1px solid transparent;
    border-bottom: 0;
}
.project-tab-badge-wrap{
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    text-align: center;
}
.project-tab-badge{
    position: static;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    background: #8b979f;
    color: #fff;
}
// project tab




// project description
.donate-action-view{
    margin: 0;
    border-bottom: 1px solid #cacaca;
}


.sub-content{
    padding: 19px 10px;
}


.project-description{
    display: none;
    &.show{
        display: block;
    }
}
.project-description-more{
    margin: -10px 0 13px;
    padding: 10px;
    font: 600 13px/18px @ff-proxima-nova;
    color: @baseColor;
    text-transform: uppercase;
    cursor: pointer;
}
// /project description




// project news
.updates-list{
    padding: 5px 10px 10px;
}
// /project news




// project comments
.donate-action-view.comments .attach-comment{
    padding: 0 10px;
    .show-all, .list-loader{
        margin: 10px 0;
    }
    .pln-ctr-enter.ctrl-comment{
        display: none;
    }
    .submit-btn{
        display: block;
        .btn{
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .attach-comment-textarea{
        margin: 0 -10px;
        padding: 10px;
    }
}
.donate-action-view.comments .attach-comment .attach-comment{
    &-block{
        margin: 0 -10px;
    }
    &-item{
        padding: 10px;
    }
    &-ava{
        margin: 0 0 10px;
    }
    &-text{
        margin-left: 0;
        .name{
            margin: 0 0 10px 44px;
        }
        .content{
            width: 100%;
            clear: both;
        }
    }
}
// /project comments




// project backers
.backers-list{
    &-item{
        min-height: 70px;
        padding: 10px;
    }
    &-ava{
        width: 50px;
        height: 50px;
    }
    &-cont{
        margin-left: 60px;
    }
    &-date{
        float: none;
    }
}
// /project backers




// action-card-block
.action-card-block{
    margin: 0;
}
// /action-card-block




// project-author
.project-author{
    margin: 30px 0 40px;
    padding: 20px 10px 0;
    border: 0;
    border-top: 1px solid #c4c4c4;
    &_links{
        font-size: 13px;
        line-height: 26px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &_action{
        margin: 21px 0 0;
        padding: 11px 0;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        text-transform: uppercase;
        border: 2px solid @baseColor;
        border-radius: 4px;
    }
}
// /project-author




// project-faq
.project-faq{
    &_add-answer{
        width: auto;
        max-width: 460px;
    }
}

.modal-dialog{
    .modal-faq-answer{
        padding: 10px;
        .close{
            right: 17px;
            top: 17px;
            font-size: 25px;
        }
    }
    .project-faq_add-answer{
        max-width: none;
    }
}
// /project-faq




// project-related
.project-related{
    display: none;
}
// /project-related
