// project-welcome



.project-about{
    margin-top: 0;
    .back-video-wrap{
        video{
            display: none;
        }
    }
    &_body{
        padding: 30px 20px;
    }
    &_cont{
        background: #00a5d2;
    }
    &_head{
        font-size: 40px;
        line-height: 1.2;
    }
    &_text {
        font-size: 20px;
        line-height: 1.4;
    }
    &_create{
        .pwa-create-link{
            padding: 17px 17px 15px;
            font-size: 16px;
        }
    }
    &_links{
        font-size: 20px;
        line-height: 28px;
        &_cont{
            border-radius: 20px;
        }
        &_i{
            display: block;
            margin: 10px 0 0;
            padding-left: 0;
            &:first-child{
                margin: 0;
            }
            &:before{
                display: none;
            }
        }
    }
}




.ctb-action-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    margin: 0;
    padding: 20px 20px 61px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .modal-scroll-content{
        margin: 0;
        height: auto !important;
        max-height: none;
    }
    .scrollbar-pane{
        position: relative !important;
        top: 0 !important;
        width: 100% !important;
    }
    .scrollbar-handle-container{
        display: none !important;
    }
}
.ctb-action-modal-action{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
}




// welcome slider
.pwms-item {
    position: absolute;
    width: 100%;
    float: none;
    &:first-child, .caroufredsel_wrapper &{
        position: relative;
        top: 0;
        left: 0;
    }

    &_insert-d{
        object-fit: cover;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 390px;
    }
    @media (max-width: 425px){
        &_insert{
            height: 100% !important;
        }
        &_insert-link{
            display: block;
            height: 100%;
            min-height: 424px;
        }
        &_insert-m-img{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: no-repeat 50% 50% / cover;
        }
        &_insert-d{
            display: none;
        }
        &_insert-m{
            display: block;
        }
    }
}
.pwms-img {
    width: 100%;
    position: absolute;
    overflow: hidden;
    img {
        object-fit: cover;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 390px;
    }
}
.pwms-wrap{
    background: rgba(0,0,0,.5);
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 0 0 20px;
    width: 100%;
}
.pwms-cont {
    overflow: hidden;
    height: auto;
    padding: 22px 40px 0;
    color: #fff;
}
.pwms-text{
    display: none;
}
.pwms-footer {
    position: static;
    color: #fff;
    padding: 0 40px;
}
.pwms-info-label{
    color: #fff;
}
.pwms-carousel-arrows{
    left: 0;
    right: 0;
    &.low{
        position: static;
        .pwms-prev,
        .pwms-next{
            height: 100%;
            transition: .2s;
            i{
                margin-top: -14px;
                transition: .2s;
            }
        }
    }
}
.pwms-prev,
.pwms-next{
    z-index: 1;
    i{
        margin-top: 82px;
    }
}


@media (max-width: 425px){
    .pwms-item{
        height: auto;
    }
    .pwms-img{
        position: static;
        height: auto;
        img{
            min-width: 0;
            min-height: 0;
        }
    }
    .pwms-wrap{
        position: static;
    }
}
// /welcome slider




.project-welcome-tabs-wrap{
    padding: 10px;
    font-size: 15px;
    box-shadow: none;
}

.project-list-slider{
    height: auto;
    margin: 0;
    .project-card-list{
        &:extend(.mobile-scroll all);
    }
    .project-card-item{
        float: none;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }
}




.project-welcome-type{
    margin: 0;
    padding: 15px 0;
    background: #f2f2f2;
}
.pw-type-link{
    margin: 3px 10px;
    font-size: 14px;
}




.project-partners{
    padding: 30px 0;
    &_head{
        font-size: 28px;
    }
    .partners-list{
        &:extend(.mobile-scroll all);
        margin: 0;
        &_i{
            width: 200px;
        }
    }
}




@media (max-width: 639px){
    .project-about{
        &_body{
            padding: 15px;
        }
        &_head{
            margin-bottom: 9px;
            font-size: 29px;
        }
        &_post-head{
            margin-bottom: 22px;
            font-size: 23px;
        }
        &_text{
            margin-bottom: 34px;
            font-size: 17px;
            br{
                display: none;
            }
        }
        &_create{
            margin: -18px 0 21px;
            .pwa-create-link{
                padding: 10px 15px;
                font-size: 13px;
                box-shadow: 0 6px 20px fade(#000, 26);
            }
        }

        &_links{
            font-size: 16px;
            line-height: 1.1;
            text-align: center;
            &_cont{
                border-radius: 10px;
            }
        }
    }



    .project-welcome-tabs-wrap{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .project-welcome-tab-all,
    .pwt-all-link,
    .project-welcome-tab,
    .pwt-i{
        display: inline-block;
        vertical-align: top;
        margin: 0;
        font-size: 18px;
    }
    .pwt-i{
        margin: 0 10px !important;
        &.active{
            .pwt-link{
                border: 0;
            }
        }
    }
    .pwt-link{
        border-bottom: 1px solid;
    }
    .pwt-all-link{
        margin: 0 10px 0 0;
        font-weight: 400;
        border-bottom: 1px solid;
    }


    .project-welcome-tabs-sliders{
        margin: 0 0 10px;
    }
}
