// project-related



.project-related{
    padding-left: 10px;
    padding-right: 10px;
    .project-card-list,
    .product-card{
        .mobile-scroll-mix();
    }
    .project-card-list{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .product-card{
        margin-left: -10px;
        margin-right: -10px;
        &_i{
            width: 240px;
        }
    }
}

.project-related-head{
    white-space: normal;
    &:before,
    &:after{
        display: none;
    }
}
