// project-donate



.project-page .main-container {
    padding: 0;
}
.project-page .container{
    padding: 0;
}


.pln-donate-box{
    margin-bottom: 0;
    border: 0;
    padding: 10px;
    background: #f0eee8;
}

.project-donate-condition{
    margin: 0;
    border: 1px solid #d8dade;
}

.pd-condition-cont{
    padding: 10px;
}

.pd-condition-i{
    background: #fff;
    &:first-child{
        border-top: 0;
    }
    &.regular,
    &.investing{
        .pd-condition-cont {
            padding: 10px 18px;
        }
    }
}

.pd-condition-img{
    width: 70px;
    height: auto;
    margin: 10px 10px 10px 20px;
}


.project-donate-sum{
    .project-donate-input{
        width: 160px;
    }
}

.pd-action-error{
    padding: 6px;
    overflow: hidden;
}

.pd-action-btn{
    padding: 15px;
}

.project-donate-action-wrap{
    margin: 0;
}

.project-donate-action{
    margin: 0;
    padding: 10px 0;
}



.project-donate-action-wrap.fixed .project-donate-action{
    width: 100%;
    margin: 0 -10px;
    padding: 10px;
    border-width: 1px 0 0;
}


@media (max-width: 600px){
    .project-donate-sum{
        width: 50%;
        padding: 0 10px 0 0;
        .project-donate-input{
            width: 100%;
        }
    }
    .project-donate-sum-rub{
        right: 18px;
    }
    .pd-action-btn{
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .pd-action-error{
        width: 100%;
    }
}


