// project-finish



.project-finish{
    min-height: 0;
    margin: -10px 0 0;
    padding: 20px 0 40px;
    border-top: 1px solid #c4c4c4;
    background: #f4f4f4;
    &_check{
        display: none;
    }
    &_cont{
        margin: 0;
        padding: 0 10px;
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
    }
    &_arr{
        position: relative;
        display: block;
        width: auto;
        height: auto;
        margin: 12px 0 0;
        background: none;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 20px;
            margin: 0 0 0 -1px;
            border-left: 2px solid @baseColor;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 14px;
            height: 14px;
            margin: 4px 0 0 -7px;
            border-left: 2px solid @baseColor;
            border-bottom: 2px solid @baseColor;
            transform: rotate(-45deg);
        }
    }

    &_cards-label{
        position: static;
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }


    &_project{
        margin: 0;
        padding: 0 10px 30px;
        background: #f4f4f4;
        .project-card-list{
            position: relative;
            left: -10px;
            margin: auto;
            font-size: 0;
            text-align: center;
        }
        .project-card-item{
            float: none;
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }
    }
}


@media (max-width: 500px) {
    .project-finish{
        &_project{
            .project-card-list{
                max-width: 300px;
                left: 0;
            }
            .project-card-item{
                float: none;
                display: block;
                width: auto;
                margin-left: 0;
            }
            .project-card-link{
                min-height: 0;
                padding: 0 0 120px;
            }
            .project-card-cover-wrap{
                height: auto;
            }
            .project-card-cover{
                width: 100%;
                height: auto;
            }
        }
    }
}



.project-view-new{
    margin: 0 0 -30px;
    &_sh{
        display: none;
    }
}




.project-view-products{
    margin: 0 0 -30px;
    padding: 0 10px 30px;
    background: #f4f4f4;
    .product-card{
        position: relative;
        left: -10px;
        margin: auto;
        font-size: 0;
        text-align: center;
        &_i{
            float: none;
            display: inline-block;
            vertical-align: top;
        }
    }
}
@media (max-width: 500px) {
    .project-view-products{
        .product-card{
            max-width: 300px;
            left: 0;
            &_i{
                float: none;
                display: block;
                width: auto;
                margin-left: 0;
            }
            &_link{
                height: auto;
            }
            &_cover-wrap{
                margin: -15px -15px 14px;
                border: 0;
            }
            &_cover{
                width: 100%;
            }
        }
    }
    .product-card{
        &_all{
            position: static;
            margin: -16px -16px -12px;
        }
    }
}
