// project-list



.project-category-block{
    display: none;
}

.project-filter-wrap{
    margin: 0;
    background: #f7f7f7;
}
.pf-field{
    display: block;
    width: auto;
    margin: 10px 20px 0;
}
.pf-label{
    display: block;
    width: auto;
}
.pf-select{
    display: block;
    width: auto;
}
.pf-input{
    display: block;
    width: 100%;
}

.project-list-block{
    padding: 0 20px;
    font-size: 0;
    text-align: center;
    .project-card-item{
        float: none;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }


    @media (max-width: 567px) {
        .project-card-item{
            display: block;
            width: auto;
            border-top-width: 1px;
        }
        .project-card-link{
            min-height: 0;
            padding-bottom: 76px;
        }
        .project-card-cover-wrap{
            margin-left: 0;
            margin-right: 0;
            height: auto;
        }
        .project-card-cover{
            width: 100%;
            height: auto;
        }
        .project-card-name{
            font-size: 16px;
        }
        .project-card-descr{
            font-size: 13px;
        }
    }
}

