// quality-polling-score



.quality-polling{
    &_head&_head{
        font-size: 30px;
        line-height: 1.1;
    }
    &_tip{
        margin-bottom: 40px;
    }
    &_value{
        &:before,
        &:after{
            display: none;
        }
    }
    &_extra{
        float: none;
        margin: 0 0 20px;
        text-align: center;
    }
    &_btn{
        float: none;
        text-align: center;
    }
}


.quality-polling-score{
    display: flex;
}
