// responsive




.hidden-mobile{
    display: none !important;
}
.visible-desktop{
    display: none;
}
.visible-mobile{
    display: block;
}
.visible-mobile-ib{
    display: inline-block;
    vertical-align: top;
}
.hidden-desktop{
    display: block;
}
