// reward-rich



.reward-rich{
    &_img{
        float: left;
        width: 80px;
        height: 80px;
        margin: 2px 10px 0 0;
    }
    &_cont{
        overflow: visible;
    }
    &_name{
        font-size: 16px;
        line-height: 21px;
    }


    @media (max-width: 600px) {
        border-top: 1px solid #d8dade;
        &_i{
            padding: 20px 0;
        }
        &_project-name{
            white-space: normal;
        }
        &_img{
            width: 60px;
            height: 60px;
        }
        &_action-block{
            position: static;
            width: auto;
            padding: 0;
            border: 0;
        }
        &_price{
            margin: 15px 0 8px;
        }
    }
}
