// rich-tabs



.rich-tabs-wrap{
    padding: 0;
}


.rich-tab-search{
    float: none;
    margin: 0;
    &_input{
        position: static;
        width: 100% !important;
        border-left-color: transparent;
        border-bottom: 1px solid #e6e6e6;
        &:focus{
            border-bottom: 1px solid #e6e6e6;
        }
    }
}


.rich-tab{
    float: none;
    padding: 10px;
    &_i{
        float: none;
        margin: 10px 0;
    }
}
