// scaffolding



body{
    min-width: 0;
    min-height: 0;

    &:not(.project-page){
        background: #fff;
    }

    &.body-lock{
        #root-container,
        #global-container{
            height: 100%;
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}
