// login



@media (max-width: 600px) {
    .modal-login{
        .modal-body,
        .modal-footer{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (max-width: 460px) {
    .modal-login-form .mlf-item .btn-primary{
        float: none;
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .modal-login-form .mlf-item p{
        margin: 10px 0 0;
        text-align: center;
    }


    .mlf-soc-text{
        display: block;
        margin: 0 0 15px;
        text-align: center;
    }
    .social-enter-block{
        float: none;
        display: -webkit-box;
        -webkit-box-pack: justify;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        display: flex;
        justify-content: space-between;
        text-align: justify;
        text-align-last: justify;
        margin: 0 -5px;
    }
    .social-enter-item{
        display: inline-block;
        display: -webkit-box;
        vertical-align: top;
        justify-content: center;
        text-align: center;
        text-align-last: auto;
        margin: 0 5px;
    }
}

