// tabs



.tabs{
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 100%;
    padding: 0 5px;
    text-align: center;
    white-space: nowrap;
    &_wrap{
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &_i{
        display: inline-block;
        width: auto;
        &.active{
            border-top: 1px solid #d4d2c3;
            border-left: 1px solid #d4d2c3;
            border-right: 1px solid #d4d2c3;
        }
    }
    &_link{
        margin: 0;
        box-shadow: none !important;
    }
}
