
// temporary
#page-states,
#layout-navigation{
    display: none;
}


.project-main-carousel{
    margin-top: 0;
}

.pls-arrows{
    display: none;
}
.project-list-slider .caroufredsel_wrapper{
    padding: 0;
}
.project-welcome-banner-flip{
    overflow: hidden;
}
.project-partners-list{
    margin: 0;
}
// /temporary


