// jquery cropit
.cropit-image-preview.cropit-image-loaded {
    cursor: move;
}
.cropit-image-background{
    opacity: .1;
}
.cropit-image-background.cropit-preview-hovered{
    opacity: .2;
}
.image-cropper-zoom-block{
    display: none;
    &:extend(.cf-mix all);
    margin: 30px 100px 0;
    .cropit-image-loaded + &{
        display: block;
    }
}
.cropit-image-zoom-input{
    position: relative;
    height: 10px;
    margin: 10px 45px;
    &.ui-widget-content{
        background: #d5dbde;
        border: 0;
        border-radius: 10px;
    }
    .ui-slider-handle{
        position: absolute;
        top: 0;
        height: 100%;
        border: 0 !important;
        outline: none;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 26px;
            height: 26px;
            margin: -13px 0 0 -13px;
            background: @linkColor;
            border-radius: 100%;
            cursor: pointer;
        }
    }
}
.image-cropper{
    overflow: hidden;
}
.image-cropper-zoom-minus,
.image-cropper-zoom-plus{
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/planeta/s-bg-crop.png) no-repeat;
}
.image-cropper-zoom-minus{
    float: left;
    background-position: -30px 0;
}
// /jquery cropit
