/* Optional scoped theme for tag-it which mimics the zendesk widget. */

ul.tagit {
    border: 1px solid #fff;
    background: inherit;
}

ul.tagit li {
    margin: 1px 4px 0 0;
}

ul.tagit li.tagit-choice {
    border-radius: 6px;
    border: 1px solid #cad8f3;

    background: #dee7f8;

    color: #555;
    font-weight: normal;
}

ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}

ul.tagit li.tagit-choice .ui-icon {
    display: none;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #777;
}

ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
    background-color: #bbcef1;
    border-color: #6d95e0;
}

ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
    color: #222;
}

ul.tagit input[type="text"] {
    color: #333333;
    background: none;
}

