// tether tooltip common arrows theme



.tooltip-theme-arrows{
    .tether-tooltip-theme-mix(6px, fade(#000, 70));

    &.tooltip-element{
        font-size: 12px;
    }
    .tooltip-content{
        padding: 0.5em .7em;
        color: #eee;
        font-size: 1.1em;
        line-height: 1.5em;
        border-radius: 5px;
    }
}
