// tether tooltip common layout



.tooltip-element, .tooltip-element *{
    &, &:after, &:before{
        box-sizing: border-box;
    }
}
.tooltip-element {
    position: absolute;
    z-index: @zindexTooltip;
    display: none;
    &.tooltip-open {
        display: block;
    }
}




.tooltip-element{
    max-width: 100%;
    max-height: 100%;
}




.tooltip-element .tooltip-content {
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
}





.tooltip-element{

    // Centers and middles

    // top center
    &.tooltip-element-attached-bottom.tooltip-element-attached-center{
        .tooltip-content {
            transform-origin: 50% 100%;
            &:before {
                top: 100%;
                left: 50%;
            }
        }
    }

    // bottom center
    &.tooltip-element-attached-top.tooltip-element-attached-center{
        .tooltip-content {
            transform-origin: 50% 0;
            &:before {
                bottom: 100%;
                left: 50%;
            }
        }
    }

    // left middle
    &.tooltip-element-attached-right.tooltip-element-attached-middle{
        .tooltip-content {
            transform-origin: 100% 50%;
            &:before {
                top: 50%;
                left: 100%;
            }
        }
    }

    // right middle
    &.tooltip-element-attached-left.tooltip-element-attached-middle{
        .tooltip-content {
            transform-origin: 0 50%;
            &:before {
                top: 50%;
                right: 100%;
            }
        }
    }



    // Top and bottom corners

    // bottom left
    &.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom{
        .tooltip-content {
            transform-origin: 0 0;
            &:before {
                bottom: 100%;
            }
        }
    }

    // bottom right
    &.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom{
        .tooltip-content {
            transform-origin: 100% 0;
            &:before {
                bottom: 100%;
            }
        }
    }

    // top left
    &.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top{
        .tooltip-content {
            transform-origin: 0 100%;
            &:before {
                top: 100%;
            }
        }
    }

    // top right
    &.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top{
        .tooltip-content {
            transform-origin: 100% 100%;
            &:before {
                top: 100%;
            }
        }
    }



    // Side corners

    // left top
    &.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left{
        .tooltip-content {
            transform-origin: 100% 0;
            &:before {
                left: 100%;
            }
        }
    }

    // right top
    &.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right{
        .tooltip-content {
            transform-origin: 0 0;
            &:before {
                right: 100%;
            }
        }
    }

    // left bottom
    &.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left{
        .tooltip-content {
            transform-origin: 100% 100%;
            &:before {
                left: 100%;
            }
        }
    }

    // right bottom
    &.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right{
        .tooltip-content {
            transform-origin: 0 100%;
            &:before {
                right: 100%;
            }
        }
    }
}






.tooltip-element {
    max-width: 300px;
    opacity: 0;
    transition: opacity .15s linear;
    pointer-events: none;
    .tooltip-content{
        transform: scale(0.5);
        transition: transform .1s linear .05s;
    }
}

.tooltip-element.tooltip-open-transitionend {
    display: block;
}

.tooltip-element.tooltip-after-open {
    opacity: 1;
    .tooltip-content{
        transform: scale(1);
        transition: transform .1s linear;
    }
}
