// tether tooltip common theme mixin



.tether-tooltip-theme-mix(@arrow-size: 6px, @tooltip-color: #000){

    .tooltip-content{
        background: @tooltip-color;
        &:before{
            border-width: @arrow-size;
        }
    }



    // Centers and middles

    &.tooltip-element-attached-bottom.tooltip-element-attached-center{
        .tooltip-content{
            margin-bottom: @arrow-size;
            &:before{
                margin-left: -@arrow-size;
                border-top-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-top.tooltip-element-attached-center{
        .tooltip-content{
            margin-top: @arrow-size;
            &:before{
                margin-left: -@arrow-size;
                border-bottom-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-right.tooltip-element-attached-middle{
        .tooltip-content{
            margin-right: @arrow-size;
            &:before{
                margin-top: -@arrow-size;
                border-left-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-left.tooltip-element-attached-middle{
        .tooltip-content{
            margin-left: @arrow-size;
            &:before{
                margin-top: -@arrow-size;
                border-right-color: @tooltip-color;
            }
        }
    }



    // Top and bottom corners

    &.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom{
        .tooltip-content{
            margin-top: @arrow-size;
            &:before{
                left: @arrow-size;
                border-bottom-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom{
        .tooltip-content{
            margin-top: @arrow-size;
            &:before{
                right: @arrow-size;
                border-bottom-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top{
        .tooltip-content{
            margin-bottom: @arrow-size;
            &:before{
                left: @arrow-size;
                border-top-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top{
        .tooltip-content{
            margin-bottom: @arrow-size;
            &:before{
                right: @arrow-size;
                border-top-color: @tooltip-color;
            }
        }
    }



    // Side corners

    &.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left{
        .tooltip-content{
            margin-right: @arrow-size;
            &:before{
                top: @arrow-size;
                border-left-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right{
        .tooltip-content{
            margin-left: @arrow-size;
            &:before{
                top: @arrow-size;
                border-right-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left{
        .tooltip-content{
            margin-right: @arrow-size;
            &:before{
                bottom: @arrow-size;
                border-left-color: @tooltip-color;
            }
        }
    }

    &.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right{
        .tooltip-content{
            margin-left: @arrow-size;
            &:before{
                bottom: @arrow-size;
                border-right-color: @tooltip-color;
            }
        }
    }
}
