// twipsy


.twipsy {
    position: absolute;
    z-index: @zindexTooltip;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    font-style: normal;
    .opacity(0);
    &.in     { opacity: 1; }
    &.top    { margin-top:  -2px; }
    &.right  { margin-left:  2px; }
    &.bottom { margin-top:   2px; }
    &.left   { margin-left: -2px; }
    &.top .twipsy-arrow    { #popoverArrow > .top(); }
    &.left .twipsy-arrow   { #popoverArrow > .left(); }
    &.bottom .twipsy-arrow { #popoverArrow > .bottom(); }
    &.right .twipsy-arrow  { #popoverArrow > .right(); }
}
.twipsy-inner {
    max-width: 230px;
    padding: 3px 8px;
    text-align: left;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #808080;
    box-shadow: 0 3px 8px rgba(0,0,0,.3);
}
.twipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
}
