// jQuery UI Datepicker


// Grays
@ui-black: #000;
@ui-gray: @gray;
@ui-white: #fff;


// Brand colors
@ui-brand-primary: @linkColor;

@ui-blue-dark: #003f81;
@ui-blue: #003f81;
@ui-blue-light: #0069D6;

@ui-green-light: #62c462;
@ui-green: #51A351;
@ui-green-dark: #3d773d;

@ui-red-lighter: #ee5f5b;
@ui-red-light: #c43c35;
@ui-red: #cd0a0a;
@ui-red-dark: #882a25;

@ui-yellow-lighter: #fceec1;
@ui-yellow-light: #eedc94;
@ui-yellow: #e4c652;

@ui-gray-darker-num : 222222;
@ui-gray-num: 555555;
@ui-brand-primary-num: 428 bca;
@ui-brand-warning-num: f0ad4e;
@ui-body-bg-num: ffffff;
@ui-gray-light-num: 999999;


// Links
@ui-link-color: @linkColor;
@ui-link-hover-color: @linkColorHover;


// Typography
@ui-font-family-sans-serif: @baseFontFamily;

@ui-font-size-base: @baseFontSize;

@ui-line-height-base: @baseLineHeight;


// Components
@ui-padding-base-vertical: 10px;
@ui-padding-base-horizontal: 10px;


// Forms
@ui-input-border-radius: 10px;

@ui-form-actions-background: @linkColor;


// Z-index master list
@ui-zindex-tooltip: @zindexDropdown;




.ui-helper-hidden{
    display: none;
}

.ui-helper-hidden-accessible{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after{
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix{
    display: block;
}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix{
    height: 1%;
}

/* end clearfix */
.ui-helper-zfix{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

.ui-front{
    z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled{
    cursor: default !important;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/

/* Overlays */

.ui-widget-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------- */
//@import "core.less";
/* Component containers
----------------------------------*/

.ui-widget{
    font-family: @baseFontFamily;
    font-size: 13px;
    .ui-widget{
        font-size: 13px;
    }
}

.ui-widget-content{
    border: 1px solid #aaa;
    color: @grayDark;
    background: #fff;
}

.ui-widget-header{
    font-weight: bold;
    background-color: #fff;
    border-color: @grayLight;
    a{
        color: @grayDark;
    }
}

/* Interaction states
----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
    color: #333;
    background-color: @ui-white;
    font-weight: normal;
    border: 1px solid #ccc;
}

.ui-state-default{
    a, a:link, a:visited{
        color: #555;
        text-decoration: none;
    }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    text-decoration: none;
}

.ui-state-hover{
    a, a:hover, a:link, a:visited{
        color: #333;
        text-decoration: none;
    }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{
    border: 1px solid #adadad;
    font-weight: normal;
    color: #333;
}

.ui-state-active{
    a, a:link, a:visited{
        color: #333;
        text-decoration: none;
    }
}

/* Interaction Cues
----------------------------------*/

.ui-state-highlight,
.ui-state-error,
.ui-state-default{
    border-width: 1px;
    border-style: solid;
}

.ui-state-highlight p,
.ui-state-error p,
.ui-state-default p{
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 7px 15px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a{
    color: #2d6987;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a{
    color: #953b39;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text{
    color: #953b39;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary{
    font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary{
    opacity: .7;
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled{
    opacity: .35;
    background-image: none;
}

.ui-state-disabled .ui-icon{
    opacity: .35;
}

/* -------------------------------------------------------- */
//@import "datepicker.less";
.ui-datepicker{
    z-index: @zindexPopover + 3 !important; // project-create_action z-index: @zindexPopover + 5;
    width: 17em;
    padding: .2em .2em 0;
    display: none;
    .theaterMode &,
    .modal-open &{
        z-index: @zindexModal + 100 !important;
    }
    .ui-datepicker-header{
        position: relative;
        border: 0;
        font-weight: bold;
        width: 100%;
        padding: 4px 0;
        background-color: #f5f5f5;
        color: #808080;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next{
        position: absolute;
        top: 4px;
        width: 1.8em;
        height: 1.8em;
        cursor: pointer;
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover{
        /*top: 1px;*/
    }
    .ui-datepicker-prev { left:2px; }
    .ui-datepicker-next { right:2px; }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover{
        background: #e3e3e3;
    }

    .ui-datepicker-prev span,
    .ui-datepicker-next span{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -4px 0 0 -2px;
        font: 0/0 a;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-color: transparent #000 transparent transparent;
    }
    .ui-datepicker-next span{
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #000;
    }
    .ui-datepicker-title{
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center;
        select{
            font-size: 1em;
            margin: 1px 0;
        }
    }
    select.ui-datepicker-month-year{
        width: 100%;
    }
    select.ui-datepicker-month, select.ui-datepicker-year{
        width: 49%;
    }
    table{
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }
    th{
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }
    td{
        border: 0;
        padding: 1px;
        span, a{
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }
    }
    .ui-datepicker-buttonpane{
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        button{
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
            .ui-datepicker-current{
                float: left;
            }
        }
    }
}

.ui-datepicker th{
    font-weight: bold;
    color: @ui-gray;
}

.ui-datepicker-today{
    a{
        background-color: @ui-link-color;
        cursor: pointer;
        padding: 0 4px;
        margin-bottom: 0;
        &:hover{
            background-color: @ui-gray;
            color: @ui-white;
        }
    }
}

.ui-datepicker td{
    a{
        margin-bottom: 0;
        border: 0;
    }

    &:hover{
        color: @ui-white;
    }

    .ui-state-default{
        border: 0;
        background: none;
        margin-bottom: 0;
        padding: 5px;
        color: @ui-gray;
        text-align: center;
        filter: none;
    }

    .ui-state-highlight{
        color: @ui-white;
        background: @linkColorHover;
        border-color: #46b8da;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }

    .ui-state-active{
        color: @grayDark;
        background: #ebebeb;
        border-color: #adadad;
        margin-bottom: 0;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
    .ui-state-hover{
        color: @ui-white;
        background: @linkColor;
        border-color: #357ebd;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
}
