<div *ngIf="purchaseInfo && getBalance() > 0" class="project-payment-form wrap-row project-payment-planeta">
    <div class="project-payment-form_i col-12">
        <div *ngIf="purchaseInfo.donateAmount <= getBalance()" class="form-ui form-ui-project-donate">
            <input class="form-ui-control"
                   id="from-balance-full"
                   type="checkbox"
                   [(ngModel)]="model.fullFromBalance"
                   (ngModelChange)="fullFromBalanceChanged($event)">
            <label class="form-ui-label" for="from-balance-full">
                <span class="form-ui-txt">
                    {{ 'payment-page.purchase-with-balance-all' | translate:lang }}
                </span>
            </label>
        </div>

        <div *ngIf="purchaseInfo.donateAmount > getBalance()" class="form-ui form-ui-project-donate">
            <input
                class="form-ui-control"
                id="from-balance-partial"
                type="checkbox"
                [(ngModel)]="model.partialFromBalance">
            <label class="form-ui-label" for="from-balance-partial">
                <span class="form-ui-txt">
                    {{ 'payment-page.purchase-with-balance-part' | translate:lang }} <b>{{ getBalance() }} ₽</b>
                </span>
            </label>
        </div>
    </div>
</div>

<div class="project-payment-choice" *ngIf="!model.fullFromBalance">
    <div class="project-payment-choice_i"
         *ngFor="let method of methods"
         (click)="changeFirstLevelMethod(method)"
         [ngClass]="{'active': isActiveFirstLevel(method.id)}">

        <div class="project-payment-choice_name">{{ getMethodName(method) }}</div>
        <div class="project-payment-choice_text">{{ getMethodDescription(method) }}</div>
        <div class="project-payment-choice_logo">
            <img class="project-payment-choice_logo-img" [src]="method.imageUrl">
        </div>
    </div>
</div>

<div *ngIf="showOtherMethods" class="project-payment-type">
    <div class="project-payment-type_i" *ngFor="let group of selectedFirstLevelMethod.children">
        <div class="project-payment-type_title">{{ getMethodName(group) }}</div>

        <div class="project-payment-type_list">
            <div class="project-payment-type_method"
                 *ngFor="let method of group.children"
                 [ngClass]="{'active': isActiveSecondLevel(method.id)}"
                 (click)="changeSecondLevelMethod(method)">
                <div class="project-payment-type_method-logo">
                    <img class="project-payment-type_method-logo-img" [src]="method.imageUrl">
                </div>
                <div class="project-payment-type_method-name">{{ getMethodName(method) }}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedSecondLevelMethod.needPhone" class="project-payment-type_phone">
    <pl-input [labelCode]="'core.phone-number'"
                          [(model)]="model.paymentPhone"
                          [settings]="phoneInputSettings"
                          [errors]="errors"
                          [field]="'paymentPhone'"></pl-input>
</div>

<div *ngIf="hasError('paymentMethodId')"
     class="project-payment-error">{{ getError('paymentMethodId') }}</div>
