//
// Planeta private office
// --------------------------------------------



.private-office-header{
    margin: -20px 0 20px;
    &_title{
        display: inline-block;
        vertical-align: top;
        padding: 25px 0;
        font-family: @ff-proxima-nova;
        font-size: 25px;
        line-height: 30px;
        color: #161515;
    }
}



.private-office-search{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin: 20px 17px 0 37px;
    .form-control{
        padding-right: 40px;
        border-radius: 4px;
    }
    .icon-search{
        position: absolute;
        top: 12px;
        right: 12px;
        pointer-events: none;
    }
}



.private-office-balance{
    float: right;
    margin: 20px 0 0;
    font-family: @ff-proxima-nova;
    white-space: nowrap;
    &_value{
        margin: 12px 0 0;
        display: inline-block;
        vertical-align: top;
    }
    &_balance{
        font-size: 18px;
        line-height: 22px;
        color: #333;
    }
    &_hold{
        font-size: 13px;
        line-height: 15px;
        color: #999;
    }
    &_btn{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 20px;
        .btn{
            width: 150px;
            padding: 10px 0;
            font-size: 15px;
            font-weight: 700;
            border-radius: 4px;
        }
    }


    &__hold{
        .private-office-balance_value{
            margin-top: 2px;
        }
    }
}



.private-office{
    &_support{
        float: right;
        margin: 0 0 12px;
        font-size: 11px;
        text-align: right;
        color: #808080;
        a{
            color: #808080;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
    }
}




.private-office-block{
    margin: 0 0 20px;
}
.pob-purchases-wrap{
    padding: 30px;
    background: #fff;
}

.pob-purchases-block{
    &:extend(.cf-mix all);
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 20px 0 0;
    border: 1px solid #dbe0e3;
    background: #fff;
    &:first-child{
        margin-top: 0;
    }
}


// regular
.pob-purchases-block-info{
    display: table-cell;
    width: 171px;
    padding: 13px;
    border-right: 1px solid #dbe0e3;
    vertical-align: top;
}
.pobpb-info-num{
    margin: 3px 0 0;
    font-size: 24px;
    font-weight: 700;
    color: #151515;
}
.pobpb-info-date{
    margin: 5px 0 0;
    font-size: 12px;
    color: #8c8c8c;
}
.pobpb-info-time{
    margin: 0 0 11px;
    font-size: 12px;
    color: #8c8c8c;
}
.pobpb-info-print{
    .icon-print{
        margin: -2px 3px 0 0;
    }
}
.pob-purchases-block-list{
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
.pobpb-list-item{
    &:extend(.cf-mix all);
    padding: 13px;
    border-bottom: 1px solid #dbe0e3;
    &:last-child {
        border-bottom: 0;
    }
}
.pobpbl-item-ava{
    float: left;
    width: 76px;
    height: 76px;
}
.pobpbl-item-info-wrap{
    margin: 0 0 0 89px;
}
.pobpbl-item-name{
    margin: 0 0 2px;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
}
.pobpbl-item-info{
    font-size: 12px;
    color: #151515;
    word-wrap: break-word;
}
.pobpb-info-type{
    font-size: 14px;
}
.pobpbl-item-date{
    margin: 7px 0 0;
    font-size: 12px;
    color: #808080;
}
.pobpbl-item-data{
    margin: 5px 0 0;
    font-size: 12px;
    color: #808080;
}

.pob-purchases-block-action{
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    padding: 13px;
    border-left: 1px solid #dbe0e3;
}
.pobpba-links{
    text-align: center;
}
.pobpba-link{
    font-size: 14px;
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
    &__cancel{
        color: #c0392b;
        &:hover{
            color: #d65548;
        }
    }
}
// /regular




// cards
.pob-purchases{
    &_card-img,
    &_card-info,
    &_card-del{
        display: table-cell;
        vertical-align: middle;
    }
    &_card-img{
        width: 170px;
        padding: 20px;
    }
    &_card-del{
        width: 115px;
        padding: 20px;
        &_link{
            position: relative;
            display: inline-block;
            margin: 0 0 0 24px;
            font: 700 14px/1.2 @baseFontFamily;
            border-bottom: 1px dashed;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: -24px;
                width: 18px;
                height: 17px;
                background: url(../images/planeta/office-del.png) no-repeat;
            }
            &:hover{
                opacity: .7;
            }
        }
    }
    &_card-info{
        width: 100%;
        &_num{
            font: 700 16px/1.2 @baseFontFamily;
        }
        &_type{
            margin: 0 0 5px;
            color: #808080;
        }
    }
}
// /cards




// private-office-product
.private-office-product{
    &:extend(.cf-mix all);
    &_ava{
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 10px 0 0;
    }
    &_cont{
        overflow: hidden;
    }
    &_name{
        margin: -2px 0 10px;
        font-weight: 700;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &_project{
        font-size: 13px;
        color: #808080;
    }
    &_action{
        .btn{
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 12px;
        }
    }

    &_collapse-link{
        &:extend(.dot-link-mix all);
        border-bottom-style: dashed;
    }
    &_collapse{
        display: none;
    }

    &_biblio-list{
        margin: 5px 0 0;
        font-size: 12px;
        color: #999;
        a{
            color: #999;
            &:hover{
                color: #000;
            }
        }
    }
}
// /private-office-product




// purchases
.private-office-purchases{
    font: 15px/1.3 @ff-proxima-nova;
    color: #333;
    word-wrap: break-word;
    &_i{
        position: relative;
        &:extend(.cf-mix all);
        margin: 20px 0 0;
        border: 1px solid #e6e6e6;
        &:first-child{
            margin: 0;
        }
    }
    &_info{
        float: left;
        width: 200px;
        padding: 20px;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: 180px;
            border-right: 1px solid #e6e6e6;
        }
    }
    &_cont{
        overflow: hidden;
        padding: 20px;
    }


    &_num{
        margin: 5px 0 4px;
        font-size: 22px;
        line-height: 1;
        font-weight: 700;
    }
    &_status{
        font-size: 13px;
        line-height: 15px;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 7px;
            height: 7px;
            margin: 3px 2px 0 0;
            border-radius: 50%;
            background: #0696de;
        }
    }

    &_date{
        margin: 11px 0 0;
        font-size: 13px;
        color: #808080;
        &_lbl{
            margin: 0 0 5px;
            font-weight: 700;
        }
        &_val{
            margin: 0 0 12px;
        }
    }

    &_action{
        margin: 6px 0 0;
        .btn{
            font-size: 13px;
            border-radius: 4px;
        }
    }



    &_delivery-wrap{
        &:extend(.cf-mix all);
        margin: 15px 0 0;
        padding: 14px 0 0;
        border-top: 1px solid #e6e6e6;
    }
    &_delivery-price{
        float: right;
        margin: -2px 0 -3px 40px;
        font-size: 18px;
        font-weight: 700;
        color: #999;
    }
    &_delivery{
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        &_i{
            margin: 9px 0 0;
            &:first-child{
                margin: 0;
            }
        }
    }



    &_common{
        &:extend(.cf-mix all);
        margin: 0 0 15px;
        padding: 0 0 15px;
        border-bottom: 1px solid #e6e6e6;
        &_title{
            float: left;
            margin: -2px 0 0;
            font-size: 18px;
            font-weight: 700;
        }
        &_cost{
            float: right;
            margin: -2px 0 0;
            font-size: 22px;
            line-height: 1;
            font-weight: 700;
        }
    }

    &_list-i{
        &:extend(.cf-mix all);
        margin: 10px 0 0;
        padding: 10px 0 0;
        border-top: 1px solid #e6e6e6;
        &:first-child{
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    &_list-product{
        overflow: hidden;
    }
    &_list-price{
        float: right;
        margin: 0 0 0 40px;
        font-size: 18px;
        font-weight: 700;
        color: #999;
    }
    &_price-val-b{
        color: #000;
    }

    &_promocode{
        &:extend(.cf-mix all);
        margin: 15px 0 0;
        padding: 14px 0 0;
        border-top: 1px solid #e6e6e6;
    }
    &_promocode-price{
        float: right;
        margin: -2px 0 -3px 40px;
        font-size: 18px;
        font-weight: 700;
        color: #08b14e;
    }
    &_promocode-name{
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
    }


    // status
    &_i{
        &.canceled{
            .private-office-purchases_status:before{
                background: #ff0000;
            }
        }
        &.sent{
            .private-office-purchases_status:before{
                background: #f1c40f;
            }
        }
        &.delivered,
        &.given,
        &.paid{
            .private-office-purchases_status:before{
                background: #00d317;
            }
        }
    }
}
// /purchases



