// Fonts.less
// -------------------------------------------------------------

// Helvetica Neue Light Cyr
#font > .fontFace('helveticaneuecyrlight', 'helveticaneuecyr-light-webfont', 'helveticaneuecyrlight');
.helveticaneue-light{
    font-family: 'helveticaneuecyrlight', @baseFontFamily;
}

// Helvetica Neue Roman Cyr
#font > .fontFace('helveticaneuecyrroman', 'helveticaneuecyr-roman-webfont', 'helveticaneuecyrroman');
.helveticaneue-roman{
    font-family: 'helveticaneuecyrroman', @baseFontFamily;
}
