// hero-text-display



.make-hero-text-display(@class){
    .hero-text-display-@{class}-b{
        .hero-text{
            display: block;
        }
    }
    .hero-text-display-@{class}-n{
        .hero-text{
            display: none;
        }
    }
}



@media (min-width: @hero-ld-min) {
    .make-hero-text-display(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .make-hero-text-display(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .make-hero-text-display(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .make-hero-text-display(pl);
}

@media (max-width: @hero-pl-max) {
    .make-hero-text-display(pp);
}

