// hero-head-size



.make-hero-head-size(@class, @size){
    .hero-head-size-@{class}-@{size}{
        .hero-head{
            font-size: @size + 0px;
        }
    }
}

.loop-hero-head-size(@class) {
    .make-hero-head-size(@class, 20);
    .make-hero-head-size(@class, 24);
    .make-hero-head-size(@class, 28);
    .make-hero-head-size(@class, 32);
    .make-hero-head-size(@class, 40);
    .make-hero-head-size(@class, 48);
    .make-hero-head-size(@class, 56);
    .make-hero-head-size(@class, 64);
}



@media (min-width: @hero-ld-min) {
    .loop-hero-head-size(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .loop-hero-head-size(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .loop-hero-head-size(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .loop-hero-head-size(pl);
}

@media (max-width: @hero-pl-max) {
    .loop-hero-head-size(pp);
}

