// hero-block-position



.make-hero-block-position(@class){
    .hero-block-position-@{class}-top{
        .hero-block{
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .hero-block-position-@{class}-left{
        .hero-block{
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .hero-block-position-@{class}-center{
        .hero-block{
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    .hero-block-position-@{class}-right{
        .hero-block{
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .hero-block-position-@{class}-bottom{
        .hero-block{
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


@media (min-width: @hero-ld-min) {
    .make-hero-block-position(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .make-hero-block-position(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .make-hero-block-position(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .make-hero-block-position(pl);
}

@media (max-width: @hero-pl-max) {
    .make-hero-block-position(pp);
}

