// hero-image-m-display



.make-hero-image-m-display(@class){
    .hero-image-m-display-@{class}-n{
        /*
        .hero-image-laptop{
            display: block;
        }
        */
        .hero-image-mobile{
            display: none !important;
        }
    }
    .hero-image-m-display-@{class}-b{
        .hero-image-laptop{
            display: none !important;
        }
        /*
        .hero-image-mobile{
            display: block;
        }
        */
    }
}



@media (min-width: @hero-ld-min) {
    .make-hero-image-m-display(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .make-hero-image-m-display(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .make-hero-image-m-display(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .make-hero-image-m-display(pl);
}

@media (max-width: @hero-pl-max) {
    .make-hero-image-m-display(pp);
}

