// hero-block-width



.make-hero-block-width(@index, @class){
    .hero-block-width-@{class}-@{index}{
        .hero-block{
            width: percentage( @index / 12 );
        }
    }
}

.loop-hero-block-width(@index, @class) when (@index > 0) {
    .make-hero-block-width(@index, @class);
    .loop-hero-block-width((@index - 1), @class);
}



@media (min-width: @hero-ld-min) {
    .loop-hero-block-width(12, ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .loop-hero-block-width(12, tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .loop-hero-block-width(12, tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .loop-hero-block-width(12, pl);
}

@media (max-width: @hero-pl-max) {
    .loop-hero-block-width(12, pp);
}

