// project-hero-carousel



.project-hero-carousel{
    position: relative;
    margin: -20px 0 48px;
    font-family: @ff-roboto;
    font-size: 14px;
    line-height: 21/14;
    color: #fff;

    &:hover{
        .project-hero-carousel_progress{
            opacity: 0;
        }
    }

    &_progress{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        transition: .4s;
    }
    &_bar{
        width: 100%;
        height: 4px;
        background: #1a8cff;
        transform: scale(0);
        transform-origin: 0 0;
        &.hide-bar{
            transition: .4s 0.4s;
            opacity: 0;
        }
    }


    &_i{
        position: relative;
        overflow: hidden;
        height: 100%;
        background: #000 no-repeat center / cover;
    }

    .carousel-cell{
        position: absolute;
        top: -99999px;
        left: -99999px;
        width: 100%;
        height: 600px;
        &:first-child{
            position: relative;
            top: auto;
            left: auto;
        }
    }
    .flickity-slider .carousel-cell{
        position: relative;
        top: auto;
        left: auto;
    }

    .flickity-prev-next-button{
        width: 48px;
        height: 48px;
        background: none;
        border: 2px solid #fff;
        &.previous{
            left: 18px;
        }
        &.next{
            right: 18px;
        }
        svg{
            @size: 36.3%;
            left: (100% - @size) / 2;
            top: (100% - @size) / 2;
            width: @size;
            height: @size;
        }
        .arrow{
            fill: #fff;
        }
    }

    .flickity-page-dots{
        bottom: 32px;
        .dot{
            background: #fff;
            opacity: .5;
            transition: .3s;
            &:hover{
                opacity: 1;
            }
            &.is-selected{
                opacity: 1;
                box-shadow: 0 0 0 3px fade(#3366ff, 100), 0 0 0 6px fade(#3366ff, 50);
            }
        }
    }

    &_cover,
    &_image,
    &_img-cover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &_img-cover{
        background: no-repeat center / cover;
    }

    &_img-container{
        position: absolute;
        pointer-events: none;
        user-select: none;
    }

    &_wrap{
        position: absolute;
        top: 35px;
        bottom: 35px;
        left: 74px;
        right: 74px;
    }

    &_block{
        position: absolute;
    }

    &_cont{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 1282px;
        margin: auto;
        @media (max-width: 1282px) {
            width: auto;
        }
    }
    &_head{
        margin: 0 0 20px;
        line-height: 1.2;
        font-weight: 700;
    }
    &_text{
        margin-bottom: 24px;
    }
    &_action{
        .btn{
            min-width: 200px;
            padding: 15px 15px 13px;
        }
    }


    @media (max-width: @hero-tl-max) {
        .flickity-page-dots{
            bottom: -24px;
            .dot{
                background: #254959;
                opacity: 1;
                &.is-selected{
                    background: #fff;
                }
            }
        }
    }

    @media (max-width: @hero-tp-max) {
        &_wrap{
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }

    @media (max-width: @hero-pl-max) {
        &_text{
            font-size: 13px;
        }
        &_action{
            .btn{
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
        .carousel-cell{
            height: 460px;
        }
    }

    @media (max-width: 425px) {
        &_i,
        .carousel-cell{
            height: 0;
            padding: 0 0 percentage(400/320);
        }
    }
}




// fade
.carousel-fade{
    .flickity-slider {
        transform: none !important;
    }
    .carousel-cell{
        left: 0 !important;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        z-index: -1;
        &.is-selected{
            opacity: 1;
            z-index: 0
        }
    }
}
// /fade
