<ul class="profile-dashboard_sections" *ngIf="links.length > 0 && !loading">
    <li class="profile-dashboard_section" *ngFor="let link of links">
        <a routerLink="{{ link.href }}" [queryParams]="link.queryParams" class="profile-dashboard_section-link">
            <span class="profile-dashboard_section-ico">
                <img [src]="link.iconSrc">
            </span>

            <span class="profile-dashboard_section-name">
                {{ link.nameCode | translate:lang }}
            </span>
        </a>
    </li>
</ul>

<div class="profile-dashboard_empty" *ngIf="links.length === 0 && !loading">
    <div *ngIf="type === types.MY_PROJECTS"
         [innerHtml]="'profile-page.my-projects-empty-html' | translate:lang"></div>

    <div *ngIf="type === types.MY_PURCHASED_PROJECTS"
         [innerHtml]="'profile-page.my-purchased-projects-empty-html' | translate:lang"></div>

    <div *ngIf="type === types.MY_PURCHASES_AND_REWARDS"
         [innerHtml]="'profile-page.my-purchases-empty-html' | translate:lang"></div>
</div>

<pl-preloader *ngIf="loading"></pl-preloader>
