// GRID SYSTEM
// -----------

.make-grid > .make(col, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);

.wrap-row{
    &:extend(.cf-mix all);
    margin-left: -@grid960GutterWidth/2;
    margin-right: -@grid960GutterWidth/2;
}
