// selectCampaignById


.pln-select{
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ccc;
    background: #fff;
    outline: 0;
    &.open{
        border-color: @linkColor;
    }
    .select-btn{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 26px;
    }
    .icon-select{
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        margin: -2px 0 0 -5px;
        border-style: solid;
        border-color: @linkColor transparent transparent;
        border-width: 5px 5px 0;
        font: 0/0 a;
    }
    .select-cont{
        display: block;
        .text-overflow();
    }
    .dropdown-menu{
        max-width: none;
        left: -1px;
        right: -1px;
        margin-top: 1px;
        border-color: #ccc;
        border-top: 0;
    }
    &.disabled, &.disable{
        background-color: #f5f5f5;
        border-color: #ddd;
        cursor: default;
        .icon-select{
            border-top-color: #ccc;
        }
    }
}
.pln-select-l{
    font-size: 14px;
    padding: 9px 10px;
    .select-btn{
        width: 36px;
    }
    .icon-select{
        margin: -3px 0 0 -6px;
        border-width: 6px 6px 0;
    }
}
.pln-select-xlg{
    font-size: 14px;
    padding: 14px 16px;
    .select-btn{
        width: 36px;
    }
    .icon-select{
        margin: -3px 0 0 -6px;
        border-width: 6px 6px 0;
    }
}
