//
// Planeta Project Payment page
//
// --------------------------------------------


@pln-payment-box-offset: 20px;

.pln-payment-box{
    margin: 0 0 20px;
    border: 1px solid #d8dade;
    background: #fff;
    &__success{
        border-color: #aed783;
        .pln-payment-box_head{
            color: #619e18;
        }
    }
}

.pln-payment-box_head{
    padding: @pln-payment-box-offset;
    .proxima-bold();
    font-size: 14px;
    line-height: 20px;
    color: #e74c3c;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #d8dade;
}


.pln-payment-box_field-group{
    & + &{
        border-top: 1px solid #d8dade;
    }
}
.pln-payment-box_field-row{
    &:extend(.cf-mix all);
    position: relative;
    font-size: 14px;
    line-height: 20px;
    & + &{
        border-top: 1px solid #d8dade;
    }
    &.error{
        .pln-payment-box_field-input{
            background: #fde8e6;
            .placeholder(#f3897f);
        }
        .pln-select{
            background: #fde8e6;
            color: #f3897f;
        }
    }
    .pln-select + .ppb_fi_error{
        right: 54px;
    }
}
.ppb_fi_error{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #ee523d;
    border: 1px solid #ee523d;
    border-radius: 50%;
    cursor: default;
}

.pln-payment-box_field-pdg{
    padding: 15px @pln-payment-box-offset;
}

.pln-payment-box_field-label{
    float: left;
    width: 205px;
    padding: 15px @pln-payment-box-offset;
    font-weight: 700;
}
.pln-payment-box_field-value{
    position: relative;
    margin-left: 245px;
    border-left: 1px solid #d8dade;
    .input-field{
        padding-right: 30px;
    }
}

.pln-payment-box_field-text{
    padding: 15px;
    background: #f2f2f2;
    color: #757575;
}

.pln-payment-box_field-text-error{
    padding: 15px;
    background: #fde8e6;
    color: #ee523d;
}

.pln-payment-box_field-input{
    position: relative;
    z-index: 1;
    height: 20px;
    padding: 15px;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    box-shadow: none;
    transition: none;
    &:focus{
        box-shadow: 0 0 0 1px @linkColor;
        outline: none;
    }
}
textarea.pln-payment-box_field-input{
    height: auto;
}

.pln-payment-box_field-select{
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    &, .dropdown-menu{
        box-shadow: none;
    }
    .select-btn{
        right: 20px;
        border: 0;
    }
    .icon-select{
        width: auto;
        height: auto;
        background: none;
        border-top: 7px solid @linkColor;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
}

.pln-payment-box_author-quest{
    .pln-payment-box_field-label{
        width: 279px;
        font-weight: 400;
    }
    .pln-payment-box_field-value{
        margin-left: 320px;
    }
}

.pln-payment-box_delivery-type{
    padding: 11px @pln-payment-box-offset;
    .radio-row{
        display: inline-block;
        vertical-align: top;
        margin: 5px 20px 5px 0;
        white-space: nowrap;
    }
}

.pln-payment-box_delivery-type-vert{
    padding: 20px @pln-payment-box-offset;
    .radio-row{
        display: block;
        margin: 0;
    }
    .radio-row + .radio-row{
        margin: 20px 0 0;
    }
}
.pln-payment-box_delivery-type-price{
    float: right;
    .proxima_nova_rgregular();
    font-size: 14px;
    color: #1b1b1b;
    white-space: nowrap;
}
.delivery-type-price_free{
    color: green;
}


.pln-payment_type-help{
    padding: 15px @pln-payment-box-offset;
    font-size: 15px;
    line-height: 1.2;
    color: #706f6f;
}

.pln-payment-type{
    display: table;
    width: 100%;
    table-layout: fixed;
    .ppt-item{
        position: relative;
        display: table-cell;
        vertical-align: top;
        width: 70px;
        text-align: center;
        word-wrap: break-word;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            .ppt-item-cont{
                border-color: @blue;
                &:before{
                    display: block;
                }
            }
        }
        &.disabled{
            .opacity(30);
            .ppt-item-cont{
                border-color: transparent;
                cursor: default;
                &:before{
                    display: none;
                }
            }
        }
    }
    .ppt-item-cont{
        position: relative;
        border: 1px solid transparent;
        cursor: pointer;
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: fade(@linkColor, 11);
        }
        &:hover{
            border-color: #ccc;
            &:before{
                display: block;
                background: fade(#ccc, 11);
            }
        }
    }
    .ppt-img{
        img{
            display: block;
            margin: auto;
        }
    }
    .ppt-name{
        margin: 0 0 4px;
        font-size: 12px;
        line-height: 1.2;
    }
}

.pln-payment-action{
    .flat-btn{
        padding: 15px 45px;
        border-radius: 0;
    }
}
.pln-payment-total{
    padding: 11px 0 0;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #949494;
    b{
        color: #151515;
    }
}


.pln-payment-terms{
    position: relative;
    margin: 0 0 20px;
    text-align: center;
    color: #706f6f;
}


.pln-payment-reward{
    padding: 18px 15px 14px;
    text-align: center;
    word-wrap: break-word;
    &_head{
        margin: 0 0 11px;
        .proxima-bold();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }
    &_sum{
        margin: 0 0 5px;
        .proxima-bold();
        font-size: 24px;
        line-height: 1.2;
        color: @linkColor;
    }
    &_name{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #111414;
        b{
            font-size: 1.2em;
        }
    }
    &_change{
        .flat-btn{
            padding: 5px 8px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
        }
    }
}


.pln-payment-product{
    padding: 18px 15px 14px;
    text-align: center;
    word-wrap: break-word;
    &_head{
        margin: 0 0 11px;
        .proxima-bold();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }
    &_sum-txt{
        .proxima_nova_rgregular();
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.2;
    }
    &_sum{
        .proxima-bold();
        font-size: 30px;
        line-height: 1.2;
        color: @linkColor;
    }
    &_list{
        padding: 10px 0 0;
        margin: 0 0 20px;
        background: url(../images/planeta/payment-product-sep.gif) repeat-x;
    }
    &_name{
        position: relative;
        padding: 0 0 10px;
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #111414;
        background: url(../images/planeta/payment-product-sep.gif) repeat-x 0 100%;
    }
    &_count{
        position: absolute;
        top: 0;
        right: -40px;
        padding: 3px 8px;
        background: @linkColor;
        color: #fff;
        line-height: 1;
    }
}



// modal delivery info
.modal-delivery-info{
    font-size: 14px;
    &, p{
        font-size: 14px;
    }
    .table{
        table-layout: fixed;
        margin-bottom: 20px;
        thead{
            tr:first-child{
                td, th{
                    border-top: 0;
                    vertical-align: top;
                }
            }
        }
        td, th{
            &:first-child{
                padding-left: 0;
            }
        }
    }
}
.modal-delivery-info-table{
    width: 100%;
}
// //modal delivery info


// liability
.pln-payment-liability{
    padding: 15px;
    &_i{
        position: relative;
        padding: 0 0 0 30px;
        margin: 15px 0 0;
        .proxima_nova_rgregular();
        font-size: 12px;
        line-height: 18px;
        b{
            .proxima-bold();
            font-weight: 400;
        }
        &:first-child{
            margin-top: 0;
        }
    }
    &_ico{
        position: absolute;
        top: 3px;
        left: 0;
        width: 16px;
        height: 11px;
        background: url(../images/project/payment-liability.png) no-repeat;
    }
}
// /liability


// trust
.pln-payment-trust{
    margin: 0 0 20px;
    padding: 15px 30px;
    text-align: center;
    .proxima_nova_rgregular();
    font-size: 14px;
    line-height: 18px;
    color: #5a482e;
    border: 1px solid #d0cec7;
    background: #e4e2dc;
    &_ico{
        i{
            display: inline-block;
            width: 24px;
            height: 19px;
            margin: 0 0 5px;
            background: url(../images/project/trust-ico.png) no-repeat;
        }
    }
}
// /trust


// payment success
.pln-payment-success{
    padding: 50px;
    color: #161515;
    a{
        text-decoration: underline;
    }
    &_head{
        margin: 0 0 10px;
        .proxima-bold();
        font-size: 35px;
        line-height: 1.1;
        text-align: center;
        .hl{
            color: #76b039;
        }
    }
    &_sub-head{
        margin: 0 0 40px;
        padding: 0 30px;
        .proxima_nova_rgregular();
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
        b{
            .proxima-bold();
            font-weight: 400;
        }
    }
    &_widget{
        margin: 0 0 0 9px;
    }
    &_widget_i{
        float: left;
        width: 240px;
        & + &{
            margin: 0 0 0 50px;
        }
    }
    &_widget_ico{
        margin: 0 0 25px 68px;
    }
    &_widget_text{
        .proxima_nova_rgregular();
        font-size: 18px;
        line-height: 24px;
    }
    &_widget_sharing{
        margin: 0 0 32px;
        &-head{
            margin: 15px 0 7px;
            .proxima-bold();
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}
.success-widget-icon{
    .sprite(70px, 70px, url(../images/planeta/payment-success-widget-ico.png));
}
.success-widget-icon-star{
    background-position: -70px 0;
}
.success-widget-icon-mail{
    background-position: -140px 0;
}
// /payment success
