// chekbox & radiobox


.checkbox, .radiobox{
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/planeta/radio-sprite.png) no-repeat -20px 2px;
    cursor: pointer;
    &.active{
        background-position: -20px -14px;
    }
    &.disabled{
        background-position: -20px -30px;
        cursor: default;
        &.active{
            background-position: -20px -46px;
        }
    }
}
.radiobox{
    background-position: 0 2px;
    &.active{
        background-position: 0 -14px;
    }
    &.disabled{
        background-position: 0 -30px;
        &.active{
            background-position: 0 -46px;
        }
    }
}
.checkbox-label, .radiobox-label{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 8px;
    padding: 2px 0 0;
    line-height: 16px;
    cursor: pointer;
}

.flat-ui-control{
    .checkbox, .radiobox{
        width: 18px;
        height: 18px;
        background: url(../images/planeta/flat-radio.png) no-repeat -20px 0;
        &.active{
            background-position: -20px -20px;
        }
        &.disabled{
            background-position: -20px -40px;
            &.active{
                background-position: -20px -60px;
            }
        }
    }
    .radiobox{
        background-position: 0 0;
        &.active{
            background-position: 0 -20px;
        }
        &.disabled{
            background-position: 0 -40px;
            &.active{
                background-position: 0 -60px;
            }
        }
    }
}