// selectCampaignById


.pln-select{
    display: block;
    background: #fff;
    font-family: Tahoma, Arial, sans-serif;
    color: @textColor;
    line-height: 26px;
    border: 1px solid #ccc;
    .border-radius(3px);
    padding: 0 8px;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    outline: 0 none;
    .select-btn{
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 0;
        width: 26px;
        border-left: 1px solid #f1f1f1;
    }
    .select-cont{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 4px 0 0;
    }
    .dropdown-menu{
        width: 100%;
        max-width: none;
        margin: 0 -1px;
    }
    &.disabled, &.disable{
        .opacity(50);
        cursor: default;
        .icon-select{
            cursor: default;
        }
    }
}
.pln-select-l{
    font-size: 14px;
    line-height: 38px;
    padding: 0 26px 0 9px;
}

.icon-select{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -6px;
}