.PropertyName {
    color: #961391;
}

.Number {
    color: #1C07D0;
}

.Boolean {
    color: #4B3D22;
}

.String {
    color: #C72824;
}

.Date {
    color: green;
}

.Null {
    color: #9F9B93;
}

.resizer {
    float: right;
    margin: 9.5px;
}
