.title {
    color: green;
}

.log-data {
    position: relative;
}

.log-data pre {
    padding-top: 39px;
}

.timestamp {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.message .timestamp {
    left: -25px;
    background-color: #fff;
    -webkit-border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    border-radius: 4px 0 4px 4px;
}

ul.log-records {
    list-style-type: none;
}