//
// Planeta private office
// --------------------------------------------



.private-office-header{
    margin: -20px 0 20px;
    &_title{
        display: inline-block;
        vertical-align: top;
        padding: 25px 0;
        font-family: @ff-proxima-nova;
        font-size: 25px;
        line-height: 30px;
        color: #161515;
    }
}



.private-office-search{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin: 20px 17px 0 37px;
    .form-control{
        padding-right: 40px;
        border-radius: 4px;
    }
    .icon-search{
        position: absolute;
        top: 12px;
        right: 12px;
        pointer-events: none;
    }
}



.private-office-balance{
    float: right;
    margin: 20px 0 0;
    font-family: @ff-proxima-nova;
    white-space: nowrap;
    &_value{
        margin: 12px 0 0;
        display: inline-block;
        vertical-align: top;
    }
    &_balance{
        font-size: 18px;
        line-height: 22px;
        color: #333;
    }
    &_hold{
        font-size: 13px;
        line-height: 15px;
        color: #999;
    }
    &_btn{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 20px;
        .btn{
            width: 150px;
            padding: 10px 0;
            font-size: 15px;
            font-weight: 700;
            border-radius: 4px;
        }
    }


    &__hold{
        .private-office-balance_value{
            margin-top: 2px;
        }
    }
}



.private-office{
    &_support{
        float: right;
        margin: 0 0 12px;
        font-size: 11px;
        text-align: right;
        color: #808080;
        a{
            color: #808080;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
    }
}




.private-office-block{
    margin: 0 0 20px;
}
.pob-purchases-wrap{
    padding: 30px;
    background: #fff;
}

.pob-purchases-block{
    &:extend(.cf-mix all);
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 20px 0 0;
    border: 1px solid #dbe0e3;
    background: #fff;
    &:first-child{
        margin-top: 0;
    }
}


// regular
.pob-purchases-block-info{
    display: table-cell;
    width: 171px;
    padding: 13px;
    border-right: 1px solid #dbe0e3;
    vertical-align: top;
}
.pobpb-info-num{
    margin: 3px 0 0;
    font-size: 24px;
    font-weight: 700;
    color: #151515;
}
.pobpb-info-date{
    margin: 5px 0 0;
    font-size: 12px;
    color: #8c8c8c;
}
.pobpb-info-time{
    margin: 0 0 11px;
    font-size: 12px;
    color: #8c8c8c;
}
.pobpb-info-print{
    .icon-print{
        margin: -2px 3px 0 0;
    }
}
.pob-purchases-block-list{
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
.pobpb-list-item{
    &:extend(.cf-mix all);
    padding: 13px;
    border-bottom: 1px solid #dbe0e3;
    &:last-child {
        border-bottom: 0;
    }
}
.pobpbl-item-ava{
    float: left;
    width: 76px;
    height: 76px;
}
.pobpbl-item-info-wrap{
    margin: 0 0 0 89px;
}
.pobpbl-item-name{
    margin: 0 0 2px;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
}
.pobpbl-item-info{
    font-size: 12px;
    color: #151515;
    word-wrap: break-word;
}
.pobpb-info-type{
    font-size: 14px;
}
.pobpbl-item-date{
    margin: 7px 0 0;
    font-size: 12px;
    color: #808080;
}
.pobpbl-item-data{
    margin: 5px 0 0;
    font-size: 12px;
    color: #808080;
}

.pob-purchases-block-action{
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    padding: 13px;
    border-left: 1px solid #dbe0e3;
}
.pobpba-links{
    text-align: center;
}
.pobpba-link{
    font-size: 14px;
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
    &__cancel{
        color: #c0392b;
        &:hover{
            color: #d65548;
        }
    }
}
// /regular




// cards
.pob-purchases{
    &_card-img,
    &_card-info,
    &_card-del{
        display: table-cell;
        vertical-align: middle;
    }
    &_card-img{
        width: 170px;
        padding: 20px;
    }
    &_card-del{
        width: 115px;
        padding: 20px;
        &_link{
            position: relative;
            display: inline-block;
            margin: 0 0 0 24px;
            font: 700 14px/1.2 @baseFontFamily;
            border-bottom: 1px dashed;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: -24px;
                width: 18px;
                height: 17px;
                background: url(/images/planeta/office-del.png) no-repeat;
            }
            &:hover{
                opacity: .7;
            }
        }
    }
    &_card-info{
        width: 100%;
        &_num{
            font: 700 16px/1.2 @baseFontFamily;
        }
        &_type{
            margin: 0 0 5px;
            color: #808080;
        }
    }
}
// /cards
