//
// Planeta Payments
// --------------------------------------------



/* payments */
.payments{
    font-size: 12px;
    line-height: 16px;
    th, td{
        font-size: 12px;
        line-height: 16px;
    }
    th{
        font-weight: normal;
        color: #808080;
    }
    .balance, .date{
        text-align: center;
    }
    span{
        display: block;
        font-size: 11px;
        color: #808080;
    }
    .up{
        background: url(/images/planeta/pay-up.png) no-repeat 50% 50%;
    }
    .down{
        background: url(/images/planeta/pay-down.png) no-repeat 50% 50%;
    }
}
/* /payments */

/* payments filter */
.payment-filter, .purchase-filter {
    display: block;
    text-align: right;
    line-height: 26px;
    .pln-select{
        text-align: left;
        width: 234px;
        float: right;
        margin: 0 0 0 8px;
    }
}
/* /payments filter */
