// private-office-purchases



.private-office-purchases{
    font: 16px/22px @ff-roboto;
    color: #000;
    word-wrap: break-word;
    &_i{
        position: relative;
        margin: 30px 0 0;
        padding: 21px 30px 24px;
        border: 1px solid #e1e3e4;
        &:first-child{
            margin: 0;
        }
    }

    .profile-alert{
        margin: -22px -31px 21px;
    }

    &_info{
        padding: 0 0 22px;
        font-family: @ff-roboto-cond;
        font-size: 0;
        border-bottom: 1px solid #e8e8e8;
    }
    &_cont{
        position: relative;
    }


    &_num{
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        color: #1b2336;
    }
    &_date{
        display: inline-block;
        vertical-align: top;
        margin: 4px 0 0 13px;
        font-size: 14px;
        line-height: 16px;
        color: #aaaeb1;
    }
    &_status{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 0 24px;
        padding: 0 0 0 16px;
        font-size: 13px;
        line-height: 15px;
        color: @linkColor;
        &:before{
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: @linkColor;
        }
    }
    &_actions{
        float: right;
        margin: 4px 0 0;
    }



    &_delivery-wrap{
        padding: 24px 0 0;
        border-top: 1px solid #e8e8e8;
        b{
            font-weight: 400;
            color: #000;
        }
    }
    &_delivery-price{
        float: right;
        margin: -1px 0 0 20px;
        font-size: 18px;
        font-weight: 700;
        color: #aaaeb1;
    }
    &_delivery{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #888;
        overflow: hidden;
        &_i{
            margin: 16px 0 0;
            &:first-child{
                margin: 0;
            }
        }
    }



    &_common{
        text-align: right;
        margin: 24px 0 0;
        padding: 24px 0 0;
        border-top: 1px solid #e8e8e8;
        &_title{
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 20px;
            color: #afafaf;
        }
        &_cost{
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            color: #454553;
        }
    }

    &_products{
        margin: 0 0 24px;
    }

    &_list-i{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 100%;
        margin: 24px 0 0;
        padding: 24px 0 0;
        border-top: 1px solid #e8e8e8;
        &:first-child{
            padding-top: 0;
            border-top: 0;
        }
    }
    &_list-product{
        overflow: hidden;
    }
    &_list-price{
        float: right;
        margin: 16px 0 0 20px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        color: #aaaeb1;
    }
    &_price-val-b{
        color: #000;
    }

    &_promocode{
        padding: 24px 0 23px;
        font-size: 14px;
        line-height: 20px;
        border-top: 1px solid #e8e8e8;
    }
    &_promocode-price{
        float: right;
        margin: -1px 0 0 20px;
        font-size: 18px;
        font-weight: 700;
        color: #00c871;
    }
    &_promocode-name{
        overflow: hidden;
    }


    &_libraries{
        position: relative;
        margin: 24px 0 0;
        padding: 37px 0 14px 63px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        border-top: 1px solid #e8e8e8;
    }
    &_libraries-ico{
        position: absolute;
        top: 29px;
        left: 0;
    }
    &_libraries-price{
        float: right;
        margin: -1px 0 0 20px;
        font-size: 18px;
        font-weight: 700;
        color: #aaaeb1;
    }


    // status
    &_i{
        &.canceled{
            .private-office-purchases_status{
                color: #ff0000;
                &:before{
                    background: #ff0000;
                }
            }
        }
        &.sent{
            .private-office-purchases_status{
                color: #f1c40f;
                &:before{
                    background: #f1c40f;
                }
            }
        }
        &.delivered,
        &.given,
        &.paid{
            .private-office-purchases_status{
                color: #00d317;
                &:before{
                    background: #00d317;
                }
            }
        }
    }




    .profile-project-card &{
        .private-office-purchases{
            &_i{
                padding: 0;
                border: 0;
                background: none;
                box-shadow: none;
                border-radius: 0;

            }
            &_common{
                margin-top: 78px;
            }
            &_list-price{
                position: absolute;
                bottom: 66px;
                right: 0;
            }
        }
    }



    @media (max-width: @screen-ld-max) {
        &_num,
        &_date,
        &_status{
            display: block;
        }
        &_date{
            margin: 10px 0;
        }
        &_status{
            margin: 10px 0 0;
        }
    }

    @media (max-width: @screen-pm-max) {
        &_i{
            padding: 21px 15px 24px;
            background: #fff;
            box-shadow: 0 3px 4px rgba(37, 73, 89, 0.1);
            border: 0;
            border-radius: 4px;
        }
        .profile-alert{
            margin-left: -15px;
            margin-right: -15px;
        }

        &_libraries{
            padding-left: 0;
        }
        &_libraries-ico{
            display: none;
        }

        .profile-project-card__order &{
            .private-office-purchases{
                &_i{
                    position: static;
                }
                &_info{
                    position: absolute;
                    top: 18px;
                    left: 15px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
                &_actions{
                    position: absolute;
                    top: 18px;
                    right: 15px;
                }
            }
        }
    }
}
