// private-office-actions



.private-office-actions{
    font-size: 0;
    line-height: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 24px;
        &:first-child{
            margin: 0;
        }
        &.disabled{
            position: relative;
            opacity: .3;
            &:before{
                content: '';
                position: absolute;
                top: -5px;
                left: -1px;
                bottom: -5px;
                right: -1px;
            }
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        color: #454553;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        margin: -5px 2px -8px 0;
        path{
            fill: currentColor;
        }
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        text-decoration: underline;
    }


    @media (max-width: @screen-tl-max) {
        &_i{
            display: block;
            margin: 15px 0 0;
            text-align: right;
        }
    }
}
