// private-office-product



.private-office-product{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    &_ava{
        align-self: flex-start;
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 16px 0 0;
    }
    &_cont{
        overflow: hidden;
        flex: 1 1 100%;
    }
    &_name{
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &_action{
        margin: 16px 0 0;
        .btn{
            padding: 10px 15px;
        }
    }

    &_collapse-link{
        &:extend(.dot-link-mix all);
        border-bottom-style: dashed;
    }
    &_collapse{
        display: none;
    }

    &_biblio-list{
        margin: 15px 0 0;
        font-size: 12px;
        color: #999;
        a{
            color: #999;
            &:hover{
                color: #000;
            }
        }
    }


    .profile-project-card &{
        display: inline-block;
        .private-office-product{
            &_ava{
                float: right;
                width: auto;
                height: auto;
                max-width: 110px;
                margin: 0 0 0 40px;
            }
        }
    }


    @media (max-width: @screen-pm-max) {
        .profile-project-card &{
            .private-office-product{
                &_ava{
                    float: none;
                    max-width: 300px;
                    margin: 0 0 20px;
                }
            }
        }
    }
}
