<div class="wrap">
    <div class="profile-top" [class.profile-top__main]="rla.isActive" >
        <div class="profile-top_passport">
            <div class="profile-passport">
                <div class="profile-passport_ava">
                    <a routerLink="/account" #rla="routerLinkActive" routerLinkActive="active">
                        <img [src]="profile.imageUrl">
                    </a>
                </div>

                <div class="profile-passport_cont">
                    <div class="profile-passport_name">
                        <a routerLink="/account">{{ profile.displayName }}</a>
                        <div class="profile-passport_online">Online</div>
                    </div>

                    <div class="profile-passport_settings">
                        <a routerLink="/account/settings">
                            <span class="profile-top_link-ico">
                                <svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 21.5h-.103c-.723 0-1.343-.083-1.384-.083a.744.744 0 0 1-.64-.619l-.207-1.487a7.316 7.316 0 0 1-1.301-.558l-1.156.888c-.269.207-.62.186-.888 0-.021-.02-.517-.413-1.033-.908l-.083-.083c-.516-.516-.888-1.012-.908-1.033a.713.713 0 0 1 0-.888l.908-1.197c-.227-.414-.392-.868-.537-1.322l-1.445-.207a.724.724 0 0 1-.62-.64c-.02-.021-.103-.64-.103-1.363v-.103c0-.723.083-1.343.083-1.384a.744.744 0 0 1 .619-.64l1.487-.207c.145-.454.331-.888.558-1.301l-.888-1.156c-.207-.269-.186-.62 0-.888.02-.021.413-.517.908-1.033l.083-.083c.516-.516 1.012-.888 1.033-.908a.713.713 0 0 1 .888 0l1.197.908c.414-.227.868-.392 1.322-.537l.207-1.445a.724.724 0 0 1 .64-.62c.021-.02.64-.103 1.363-.103h.103c.723 0 1.343.083 1.384.083.33.041.578.289.64.619l.207 1.487c.454.145.888.331 1.301.558l1.156-.888c.269-.207.62-.186.888 0 .021.02.517.413 1.033.908l.083.083c.516.516.888 1.012.908 1.033a.713.713 0 0 1 0 .888l-.888 1.197c.227.414.393.868.537 1.322l1.446.207c.33.041.578.31.619.64 0 .021.083.661.083 1.384v.103c0 .723-.083 1.342-.083 1.384a.744.744 0 0 1-.619.64l-1.487.206a7.285 7.285 0 0 1-.558 1.301l.888 1.178c.207.268.186.619 0 .888-.02.02-.413.516-.908 1.032l-.083.083c-.516.516-1.012.888-1.033.909a.715.715 0 0 1-.888 0l-1.197-.93c-.414.227-.868.393-1.322.537l-.207 1.446a.723.723 0 0 1-.64.619c-.021 0-.64.083-1.363.083zm-.743-1.487c.185.021.413.021.64.021H12c.227 0 .454 0 .64-.021l.186-1.363a.753.753 0 0 1 .558-.62 5.811 5.811 0 0 0 1.817-.743.756.756 0 0 1 .558-.083.773.773 0 0 1 .289.145l1.094.826c.145-.124.31-.268.475-.434l.083-.082c.165-.166.31-.331.434-.475l-.826-1.095a.754.754 0 0 1-.042-.826 5.506 5.506 0 0 0 .744-1.755.746.746 0 0 1 .619-.599l1.384-.186c.021-.186.021-.413.021-.64V12c0-.227 0-.454-.021-.64l-1.363-.186a.78.78 0 0 1-.62-.558 6.174 6.174 0 0 0-.722-1.796c-.042-.042-.062-.104-.083-.166a.729.729 0 0 1 .103-.681l.847-1.115a7.862 7.862 0 0 0-.434-.475l-.082-.083a8.923 8.923 0 0 0-.475-.434l-1.095.826a.743.743 0 0 1-.867 0 6.61 6.61 0 0 0-1.756-.743.727.727 0 0 1-.557-.62l-.186-1.383c-.186-.021-.413-.021-.64-.021H12c-.227 0-.454 0-.64.021l-.186 1.404a.704.704 0 0 1-.62.62 5.945 5.945 0 0 0-1.755.722.752.752 0 0 1-.558.083.773.773 0 0 1-.289-.145l-1.074-.826a8.55 8.55 0 0 0-.475.434l-.082.083c-.166.165-.31.33-.434.475l.826 1.094c.186.248.186.558.041.826-.02.021-.02.042-.041.062a5.97 5.97 0 0 0-.723 1.756.727.727 0 0 1-.619.557l-1.384.186c-.021.186-.021.413-.021.64V12c0 .227 0 .454.021.64l1.363.186c.33.041.578.289.62.62v.02a5.82 5.82 0 0 0 .722 1.735.723.723 0 0 1 .062.62.756.756 0 0 1-.144.247l-.806 1.074c.124.145.269.31.434.475l.083.083c.165.165.33.31.475.434l1.094-.826a.744.744 0 0 1 .909.02 6.548 6.548 0 0 0 1.714.723c.289.062.516.31.558.62l.186 1.342z" fill="#454553"></path><path d="M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" fill="#FFF"></path><path d="M15.25 12a3.25 3.25 0 1 1-6.5 0 3.25 3.25 0 0 1 6.5 0z" stroke="#1A8CFF" stroke-width="1.5" fill="none"></path></svg>
                            </span>
                            {{ 'profile-page.settings' | translate:lang }}
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="profile-top_balance">
            <div class="profile-balance">
                <div class="profile-balance_title">
                <span class="profile-balance_lbl">
                    {{ 'profile-page.your-balance' | translate:lang }}:
                </span>
                    <span class="profile-balance_val">
                    {{ getBalance() | humanNumber }} ₽
                </span>
                </div>
                <div class="profile-balance_manage">
                    <a routerLink="/account/balance">
                        <span class="profile-top_link-ico">
                            <svg width="24" height="24" viewBox="0 0 24 24"><path d="M20 12a8 8 0 1 1-16 0 8 8 0 0 1 16 0z" stroke="#454553" stroke-width="2" fill="none"></path><path d="M12.848 12.875a2.746 2.746 0 0 0 2.742-2.81c-.035-1.497-1.296-2.677-2.794-2.677H9.961a.295.295 0 0 0-.295.295v3.823H8.202a.295.295 0 0 0-.295.295v.778c0 .163.132.295.295.295h1.464v.795H8.202a.295.295 0 0 0-.295.295v.779c0 .163.132.295.295.295h1.464v1.272a.3.3 0 0 0 .3.3h.769a.3.3 0 0 0 .3-.3v-1.272h2.386a.295.295 0 0 0 .295-.295v-.779a.295.295 0 0 0-.295-.295h-2.386v-.794h1.813zm1.374-2.744c0 .758-.617 1.375-1.374 1.375h-1.813V8.757h1.813c.757 0 1.374.617 1.374 1.374z" fill="#1A8CFF"></path></svg>
                        </span>
                        {{ 'profile-page.manage-balance' | translate:lang }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
