// charity-stats



.charity-stats{
    padding: 63px 0 86px;
    background: #f5f5f5;
    &_img{
        float: left;
        width: percentage(543 / 1180);
    }
    &_img-cont{
        margin: 0 0 0 -4px;
    }
    &_cont{
        float: left;
        width: percentage((1180 - 543) / 1180);
        padding: 0 0 0 40px;
    }
}



.charity-stats-value{
    &:extend(.cf-mix all);
    margin: 31px 0 0;
    &_i{
        float: right;
        font-family: @ff-pfbeau-sans-pro;
        &:first-child{
            float: left;
            .charity-stats-value_val{
                color: #ac8ecb;
            }
        }
    }
    &_val{
        font-size: 127px;
        line-height: 1;
        font-weight: 300;
        color: #5ec5f4;
    }
    &_lbl{
        margin: -10px 0 0;
        max-width: 220px;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: #343c50;
    }
}



.charity-stats-graph{
    margin: 54px 0 0;
    position: relative;
    color: #343c50;
    &_legend{
        position: absolute;
        top: 23px;
        left: 0;
        max-width: 290px;
        font-family: @ff-pfbeau-sans-pro;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        letter-spacing: .1em;
    }


    &_list{
        height: 114px;
        margin: 0 0 0 -1px;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: bottom;
    }
    &_i-cont{
        height: 100%;
        margin: 0 0 0 1px;
        border-radius: 5px;
    }


    &_years{
        margin: 6px 0 0;
        font-size: 0;
    }
    &_years-i{
        display: inline-block;
        vertical-align: top;
        font-size: 10px;
        font-weight: 700;
    }
}
