// charity-events



.charity-events{
    @charity-events-offset: 1.65%;

    padding: 43px 0 50px;
    &_head{
        margin: 0 0 37px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_list{
        margin: -@charity-events-offset 0 0 -@charity-events-offset;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50% - @charity-events-offset;
        margin: @charity-events-offset 0 0 @charity-events-offset;
    }
    &_link{
        display: block;
        color: #000;
        background: #fff;
        box-shadow: 0 2px 2px fade(#000, 15);
        border-radius: 5px;
        &:hover{
            color: #000;
            text-decoration: none;
            .charity-events_img{
                img{
                    transform: scale(1.05);
                }
            }
        }
    }
    &_cont{
        &:extend(.cf-mix all);
        display: block;
        padding: 21px 40px 20px;
    }

    &_meta{
        &:extend(.cf-mix all);
        display: block;
        padding: 0 0 22px;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        border-bottom: 1px solid #d6d6d6;
    }
    &_date{
        float: left;
    }
    &_place{
        float: right;
    }

    &_name{
        display: block;
        overflow: hidden;
        height: 20px * 1.2 * 2;
        margin: 18px 0 0;
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &_descr{
        display: none;
        margin: 30px 0 0;
        font-size: 14px;
        line-height: 21 / 14;
    }

    &_action{
        display: none;
        margin: 30px 0 0;
        font-size: 14px;
        line-height: 21 / 14;
    }
    &_action-btn{
        display: inline-block;
        vertical-align: top;
        padding: 11px 35px 9px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        border: 1px solid #000;
        border-radius: 5px;
    }

    &_img{
        display: block;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        transform: translateZ(0);
        img{
            transition: .3s;
        }
    }
    &_img-cover{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5px 0 0 5px;
        background: no-repeat 50% / cover;
        transition: .3s;
    }

    .charity-wide-banner{
        margin: 50px 0 -92px;
    }


    // __top
    &__top{
        background: #f5f5f5;
    }


    // __rich
    &__rich{
        .charity-events{
            &_i{
                &:first-child{
                    width: 100% - @charity-events-offset;
                    .charity-events{
                        &_link{
                            &:extend(.cf-mix all);
                            position: relative;
                            &:hover{
                                .charity-events_action-btn{
                                    background: #f2f2f2;
                                }
                                .charity-events_img-cover{
                                    transform: scale(1.05);
                                }
                            }
                        }
                        &_cont{
                            width: percentage((1180 - 600) / 1180);
                            margin-left: percentage(600 / 1180);
                        }
                        &_name{
                            height: auto;
                        }
                        &_img{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: percentage(600 / 1180);
                            border-radius: 5px 0 0 5px;
                            img{
                                display: none;
                            }
                        }
                        &_img-cover{
                            display: block;
                        }
                        &_descr{
                            display: block;
                        }
                        &_action{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

