// charity-menu



[class^="s-charity-menu-"], [class*=" s-charity-menu-"]{
    .sprite(37, 33, url(../images/charity/s-charity-menu.svg));
}
//.s-charity-menu-project   { background-position: 0 0 }
.s-charity-menu-about     { background-position: -50px 0 }
.s-charity-menu-news      { background-position: -100px 0 }
.s-charity-menu-school    { background-position: -150px 0 }
.s-charity-menu-shop      { background-position: -200px 0 }


.s-charity-menu-hover-mix {
    .s-charity-menu-project   { background-position: 0 -50px }
    .s-charity-menu-about     { background-position: -50px -50px }
    .s-charity-menu-news      { background-position: -100px -50px }
    .s-charity-menu-school    { background-position: -150px -50px }
    .s-charity-menu-shop      { background-position: -200px -50px }
}


.charity-menu{
    padding: 18px 0;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    &_list{
        font-size: 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 0 85px;
        &:first-child{
            margin: 0;
        }
        &.active{
            .charity-menu_link{
                &:extend(.s-charity-menu-hover-mix all);
                color: #d90951;
            }
        }
    }
    &_link{
        color: #7b94a2;
        text-decoration: none;
        &:hover{
            &:extend(.s-charity-menu-hover-mix all);
            color: #d90951;
            text-decoration: none;
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 5px;
        padding: 8px 0 0;
    }


    @media (max-width: 1240px) {
        &_i{
            margin-left: 35px;
        }
    }
}
