// charity-news



.charity-news{
    padding: 43px 0 60px;
    &_head{
        margin: 0 0 37px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_i{
        &:extend(.cf-mix all);
        margin: 20px 0 0;
        padding: 20px 0 0;
        font-size: 15px;
        line-height: 20px;
        color: #363636;
        border-top: 1px solid #d9d9d9;
        &:first-child{
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    &_img{
        float: left;
        width: 280px;
        margin: 0 20px 0 0;
    }
    &_cont{
        overflow: hidden;
    }
    &_date{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 16px;
        color: #7b94a2;
    }
    &_date{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 16px;
        color: #7b94a2;
    }
    &_name{
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        a{
            color: #363636;
        }
    }

    .charity-wide-banner{
        margin: 40px 0 -102px;
    }


    // __top
    &__top{
        background: #f5f5f5;
    }


    // __offset
    &__offset{
        padding-top: 90px;
    }
}
