// charity-top-projects



.charity-top-projects{
    padding: 60px 0;
    background: #eaeaea;
    .project-card-list{
        margin-bottom: 0;
    }
    .charity-wide-banner{
        margin: 40px 0 -102px;
    }
}
