// charity-social-politics



.charity-social-politics{
    padding: 28px 0;
    line-height: 1.2;
    &_head{
        margin: 0 0 37px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_block{
        display: table;
        width: 100%;
        table-layout: fixed;
        border: 15px solid #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px fade(#000, 15);
    }

    &_ava{
        display: table-cell;
        vertical-align: top;
        width: 27.8%;
        padding: 35px;
        img{
            border-radius: 5px;
            box-shadow: 0 2px 2px fade(#000, 15);
        }
    }
    &_cont{
        display: table-cell;
        vertical-align: top;
        padding: 35px 22px;
    }
    &_name{
        margin: -3px 0 2px;
        font-size: 24px;
        font-weight: 700;
    }
    &_prof{
        font-size: 14px;
        color: #363636;
    }
    &_quote{
        position: relative;
        margin: 29px 0 0;
        padding: 0 0 0 31px;
        font-size: 16px;
        line-height: 24px;
        color: #132129;
        &:before{
            content: '«';
            position: absolute;
            top: -3px;
            left: 0;
            font-size: 50px;
            font-weight: 300;
        }
        &:after{
            content: '»';
            position: relative;
            top: 9px;
            display: inline-block;
            vertical-align: top;
            height: 0;
            font-size: 50px;
            line-height: 0;
            font-weight: 300;
        }
    }

    &_docs{
        display: table-cell;
        vertical-align: middle;
        width: 33%;
        padding: 35px 5.2%;
    }
}



.charity-social-docs{
    &_i{
        position: relative;
        display: block;
        min-height: 70px;
        margin: 35px 0 0;
        padding: 4px 0 0 77px;
        color: #254959;
        &:first-child{
            margin: 0;
        }
        &:hover{
            color: @baseColor;
            text-decoration: none;
            .charity-social-docs_ico{
                background-position: -100px 0;
            }
        }
    }
    &_ico{
        position: absolute;
        top: 0;
        left: 0;
        width: 53px;
        height: 70px;
        background: url(../images/charity/docs-ico.svg) no-repeat;
    }
    &_name{
        display: block;
        margin: 0 0 3px;
        font-size: 15px;
        line-height: 23px;
    }
    &_title{
        text-decoration: underline;
    }
    &_size{
        display: block;
        font-size: 12px;
        color: #939393;
    }
}

