// charity-faq



.charity-faq{
    padding: 53px 0 60px;
    text-align: center;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    &_head{
        margin: 0 0 37px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
    }
    &_text{
        max-width: 800px;
        margin: 10px auto 40px;
        font-size: 20px;
        line-height: 1.2;
    }
    &_action{
        .btn{
            padding: 15px 35px;
            font-size: 18px;
            border-radius: 5px;
        }
    }
}
