// charity-team



.charity-team{
    padding: 43px 0 70px;
    overflow: hidden;
    &_head{
        margin: 0 0 25px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_i{
        position: absolute;
        top: -99999px;
        left: -99999px;
        cursor: pointer;
        &:first-child{
            position: relative;
            top: auto;
            left: auto;
        }
        img{
            border-radius: 5px;
        }
    }

    .owl-item{
        user-select: auto;
        z-index: 1;
        transform: translateZ(0);
        animation-duration: 600ms;
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -38px;
        width: 18px;
        text-indent: -99999px;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 30px;
            margin: -15px 0 0 -9px;
            background: url(../images/charity/charity-team-arr.png) no-repeat;
        }
    }
    .owl-next{
        left: auto;
        right: -38px;
        &:before{
            background-position: -50px 0;
        }
    }


    @media (max-width: 1270px) {
        .owl-prev{
            left: -20px;
        }
        .owl-next{
            right: -20px;
        }
    }
}




[class^="s-team-meta-"], [class*=" s-team-meta-"]{
    .sprite(22, 19, url(../images/charity/s-team-meta.png));
}
//.s-team-meta-phone { background-position: 0 0 }
.s-team-meta-email { background-position: -50px 0 }


.charity-team-descr{
    position: relative;
    margin: 40px 0 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px fade(#000, 15);
    &:before{
        content: '';
        position: absolute;
        top: -14px;
        left: 120px;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 5px;
        transform: rotate(45deg);
    }

    &_i{
        position: absolute;
        top: -99999px;
        left: -99999px;
        &:first-child{
            position: relative;
            top: auto;
            left: auto;
        }
    }

    &_wrap{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    &_cont{
        display: table-cell;
        vertical-align: top;
        padding: 36px 50px 82px;
    }

    &_name{
        font-size: 24px;
    }
    &_quote{
        position: relative;
        margin: 24px 0 0;
        padding: 0 0 0 31px;
        font-size: 16px;
        line-height: 24px;
        color: #132129;
        &:before{
            content: '«';
            position: absolute;
            top: -3px;
            left: 0;
            font-size: 50px;
            font-weight: 300;
        }
        &:after{
            content: '»';
            position: relative;
            top: 9px;
            display: inline-block;
            vertical-align: top;
            height: 0;
            font-size: 50px;
            line-height: 0;
            font-weight: 300;
        }
    }

    &_meta{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 280px;
        padding: 0 20px 0 40px;
        &:before{
            content: '';
            position: absolute;
            top: 70px;
            bottom: 70px;
            left: 0;
            border-left: 1px solid #dadada;
        }
    }
    &_meta-i{
        margin: 12px 0 0;
        font-size: 15px;
        line-height: 19px;
        font-weight: 700;
        color: @baseColor;
        &:first-child{
            margin: 0;
        }
        [class^="s-team-meta-"]{
            margin: 0 4px 0 0;
        }
    }
}
