// charity-school



.charity-school{
    padding: 90px 0 70px;
    background: #fff;
    &_head{
        margin: 0 0 69px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_cont{
        position: relative;
        margin: 0 -35px 0 0;
        font-size: 16px;
        line-height: 24px;
        a{
            text-decoration: underline;
        }
    }

    &_text{
        &:before,
        &:after{
            content: '';
            display: block;
            width: 209px;
            height: 1px;
            margin: 25px 0 30px;
            background: #000;
        }
        &:after{
            margin: 38px 0 20px;
        }
        .lof{
            margin-left: -1.07em;
        }
    }

    &_text-2{
        font-size: 18px;
    }

    &_title{
        max-width: 500px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        color: @baseColor;
        text-transform: uppercase;
    }


    &_img{
        margin: 0 0 0 -28px;
    }


    &_action{
        margin: 120px 0 0;
        text-align: right;
        .btn{
            padding: 22px 70px;
            font-size: 20px;
            line-height: 22px;
            font-weight: 400;
            border-radius: 5px;
        }
    }
}
