// charity-reports



.charity-reports{
    @charity-reports-offset: 1.6%;

    padding: 43px 0 50px;
    line-height: 1.2;
    &_head{
        margin: 0 0 37px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_list{
        margin: -@charity-reports-offset 0 0 -@charity-reports-offset;
        font-size: 0;
    }

    &_i{
        display: inline-block;
        vertical-align: top;
        width: 25% - @charity-reports-offset;
        margin: @charity-reports-offset 0 0 @charity-reports-offset;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 2px 2px fade(#000, 15);
        text-align: center;
    }
    &_ico{
        width: 74px;
        height: 98px;
        margin: 54px auto 22px;
        background: url(../images/charity/charity-reports-ico.png) no-repeat 0 0 / cover;
    }
    &_name{
        font-size: 18px;
        font-weight: 700;
    }
    &_link{
        margin: 20px 0 3px;
        font-size: 14px;
        a{
            text-decoration: underline;
        }
    }
    &_size{
        margin: 0 0 29px;
        font-size: 12px;
        color: #132129;
    }
}
