// charity-webinars



.charity-webinars{
    @charity-webinars-offset: 2.25%;

    padding: 43px 0 70px;
    background: #fff;
    &_head{
        margin: 0 0 69px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }

    &_list{
        margin: -@charity-webinars-offset 0 0 -@charity-webinars-offset;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333% - @charity-webinars-offset;
        margin: @charity-webinars-offset 0 0 @charity-webinars-offset;
        font-size: 14px;
        line-height: 18em / 14;
    }


    &_cover{
        position: relative;
        margin: 0 0 35px;
    }
    &_play{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .9;
        transition: .2s;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    &_play-ico{
        @icon-size: 108px;
        @play-w: 32px;
        @play-h: 48px;

        position: absolute;
        top: 50%;
        left: 50%;
        margin: -(@icon-size / 2) 0 0 -(@icon-size / 2);
        width: @icon-size;
        height: @icon-size;
        border: 10px solid #fff;
        border-radius: 50%;
        opacity: .7;
        transform: scale(1);
        transition: .2s;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -(@play-h / 2) 0 0 -(@play-w * .375);
            border-left: @play-w solid #fff;
            border-top: (@play-h / 2) solid transparent;
            border-bottom: (@play-h / 2) solid transparent;
        }
    }

    &_name{
        margin: 0 0 33px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        a{
            color: #000;
        }
    }

    &_text{
        margin: 0 0 31px;
        h3{
            font-size: 18px;
            font-weight: 700;
        }
        h3, p{
            margin: 1em 0;
        }
    }

    &_author{
        &:extend(.cf-mix all);
        h3{
            margin: 0 0 20px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &_author-cont{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    &_author-img{
        display: table-cell;
        vertical-align: top;
        width: 76px;
        padding: 0 20px 0 0;
    }
    &_author-name{
        display: table-cell;
        vertical-align: middle;
    }

    &_more{
        margin: 40px 0 0;
        .charity-show-more_link{
            box-shadow: none;
            border: 1px solid #d7dfec;
        }
    }
}
