// charity-biblio



.charity-biblio{
    padding: 43px 0 70px;
    &_head{
        margin: 0 0 21px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }
    &_search{
        width: 380px;
        margin: 0 auto 32px;
        .form-control{
            height: 50px;
            padding: 16px 18px;
            font: italic 700 16px/18px @ff-proxima-nova;
            color: #7b94a2;
            background: url(../images/charity/charity-biblio-search-ico.png) no-repeat 342px 50%;
            border: 1px solid #7b94a2;
            border-radius: 5px;
            box-shadow: inset 3px 3px 6px fade(#000, 15);
        }
    }

    &_list{
        margin: 0 -10px;
        font-size: 14px;
        line-height: 1.2;
        a{
            text-decoration: underline;
        }
    }
    &_i{
        margin: 36px 0 0;
        padding: 0 10px;
        &:first-child{
            margin: 0;
        }
    }
    &_name{
        margin: 0 0 18px;
        font-size: 18px;
        font-weight: 700;
        color: #132129;
    }

    &_not-found{
        text-align: center;
        font-size: 22px;
        line-height: 1.4;
        font-weight: 700;
    }
}


.charity-biblio-list{
    &_i{
        margin: 16px 0 0;
        &:first-child{
            margin: 0;
        }
    }
}

