// charity-partners



.charity-partners{
    padding: 43px 0 50px;
    line-height: 1.2;
    background: #fff;
    &_head{
        margin: 0 0 37px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #132129;
        text-align: center;
    }
    &_list{
        margin: 0 -23px;
        text-align: center;
        a{
            display: inline-block;
            vertical-align: middle;
            margin: 0 23px;
        }
    }
}
