// charity-request



.modal-charity,
.modal-charity-request{
    width: 800px;
    padding: 50px 75px;
    border: 3px solid @baseColor;
    .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        line-height: 1;
        color: #56545c;
        cursor: pointer;
    }
}


.charity-request{
    font-size: 16px;

    .form-control{
        height: 40px;
        padding: 10px 13px;
        font: 16px/20px @ff-proxima-nova;
        color: #555;
        border-radius: 4px;
    }
    textarea.form-control{
        height: auto;
    }

    &_head{
        margin: 10px 0 17px;
        font: 700 36px/1 @ff-proxima-nova;
        text-transform: uppercase;
        text-align: center;
    }
    &_head-text{
        margin: 0 0 26px;
        text-align: center;
    }

    &_group{
        position: relative;
        padding: 31px 0 30px;
        border-top: 3px solid #e4e4e4;
        &:first-child{
            border-top: 0;
        }
    }

    &_group-head{
        margin-top: -5px;
        font-size: 24px;
        line-height: 28px;
    }

    &_fieldset{
        &:extend(.cf-mix all);
        margin: 20px -@grid960GutterWidth/2 0;
        &:first-child{
            margin-top: 0;
        }
        &.error{
            .charity-request_fieldset-lbl{
                color: #f44d4d;
            }
            .form-control{
                border-color: #f44d4d;
            }
        }
    }
    &_fieldset-lbl{
        padding-top: 11px;
        color: #828187;
        &__top{
            padding-top: 0;
            margin-top: -4px;
        }
    }


    &_action{
        margin: 40px 0 0;
        text-align: center;
        .btn{
            min-width: 220px;
            padding: 20px 38px 18px;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 4px;
            letter-spacing: .1em;
        }
    }
}



.charity-pln-select{
    padding: 9px 13px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    .icon-select{
        width: 9px;
        height: 9px;
        margin: -7px 0 0 -10px;
        border: 0;
        border-left: 1px solid #272727;
        border-bottom: 1px solid #272727;
        transform: rotate(-45deg);
    }
    .dropdown-menu{
        min-width: 0;
        margin-top: 2px;
        border: 1px solid #dadada;
        border-radius: 4px;
        box-shadow: 0 5px 10px fade(#000, 25);
        .item{
            a{
                padding: 7px 13px;
            }
            a:hover, &.active a{
                color: #fff;
                background: fade(@baseColor, 70);
            }
        }
    }
}


// charity-request-success
.charity-request-success{
    font-size: 16px;
    text-align: center;
    &_head{
        margin: 0 0 17px;
        font: 700 36px/1 @ff-proxima-nova;
        text-transform: uppercase;
    }
    &_text{
        max-width: 500px;
        margin: auto;
    }
    &_ico{
        width: 120px;
        height: 120px;
        margin: 17px auto 0;
        background: url(../images/charity/success.svg) no-repeat;
    }
}
// /charity-request-success

