// charity-nav



.charity-nav{
    margin: 0 0 19px;

    &_block{
        padding: 29px 31px;
        background: #fff;
        border: 1px solid #dfe1e1;
        & + .charity-nav_block{
            border-top: 0;
        }
        &:first-child{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &:last-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &_head{
        margin: 0 0 18px;
        font-size: 13px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .135em;
        color: @baseColor;
    }

    &_search{
        position: relative;
        .form-control{
            position: relative;
            height: 36px;
            padding: 11px 10px 9px 34px;
            font-size: 14px;
            line-height: 16px;
            border-radius: 5px;
            background: none;
        }
        .s-icon{
            position: absolute;
            top: 9px;
            left: 10px;
            font-size: 16px;
            color: #aaa;
        }
    }

    &_i{
        margin: 17px 0 0;
        font-size: 15px;
        line-height: 1.3;
        &:first-child{
            margin: 0;
        }
        &.active{
            .charity-nav_link{
                text-decoration: none;
                color: #4c4c4c;
                &:before{
                    top: 4px;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    background: @baseColor;
                }
            }
        }
    }
    &_link{
        position: relative;
        display: block;
        margin: 0 0 0 -2px;
        padding: 0 0 0 19px;
        .text-overflow();
        color: #999;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            top: 6px;
            left: 2px;
            width: 6px;
            height: 6px;
            background: #e6e6e6;
            border-radius: 50%;
        }
        &:hover{
            text-decoration: none;
            color: #4c4c4c;
            &:before{
                top: 4px;
                left: 0;
                width: 10px;
                height: 10px;
                background: @baseColor;
            }
        }
    }

    &_city{
        margin: 15px 0 0;
        .form-control{
            padding: 5px 10px;
            font-size: 14px;
        }
    }
}
