// main charity


.charity-page{
    font-family: @ff-proxima-nova;
}




.charity-carousel{
    overflow: hidden;
    margin: -20px 0 0;
    padding: 31px 0 36px;
    background: radial-gradient(circle at center, #7db9e8 0, #3498db 50%, #1e5799 100%);
}




.charity-main-cont{
    padding: 60px 0;
    [class^="col-"], [class*=" col-"]{
        min-height: 1px;
    }
}




.charity-show-more{
    margin: 20px 0 0;
    &_link{
        display: block;
        padding: 17px 20px 15px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px fade(#000, 15);
        &:hover{
            text-decoration: none;
        }
    }
}




.charity-rich-more{
    padding: 65px 20px;
    background: radial-gradient(50% 50%, circle cover, #7db9e8 0, #3498db 50%, #1e5799 100%);
    text-align: center;
    .btn{
        padding: 11px 64px;
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
        border-radius: 30px;
        border: 0;
        transition: background .3s;
        &:hover{
            background-position: 0 -10px;
        }
    }

    .btn-primary{
        background: #2a84d4 linear-gradient(to bottom, #3eade2 0, #2a84d4 100%) repeat-x;
    }

    .btn-charity-create{
        background: #f3d329 linear-gradient(to bottom, #f7e13d 0, #f3d329 100%) repeat-x;
    }
}




.charity-list-assets{
    display: block;
    padding: 28px 10px 23px 57px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: .135em;
    text-transform: uppercase;
    color: #d90951;
    background: #fff url(../images/charity/charity-list-assets.png) no-repeat 18px 11px;
    border-radius: 10px;
    box-shadow: 0 2px 2px fade(#000, 15);
    &:hover{
        color: #d90951;
        text-decoration: none;
    }
}



.charity-main-oleg-top{
    text-align: center;
    padding: 0 20px;
    font-size: 0;
    a{
        display: inline-block;
        vertical-align: top;
        margin: -30px 0 40px;
    }
}


.charity-main-oleg-middle{
    position: relative;
    padding: 0 20px;
    font-size: 0;
    text-align: center;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        background: #eaeaea;
    }
    a{
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        margin: -15px 0;
    }
}

.charity-wide-banner{
    margin: 0 0 30px;
    text-align: center;
}

.charity-sidebar-banner{
    margin: 0 0 19px;
    img{
        border-radius: 10px;
    }
}
