// project-list



.charity-page{
    @project-card-offset: 1.65%;
    .project-card-list{
        margin: -@project-card-offset -10px 0;
        font-family: @ff-proxima-nova;
        font-size: 0;
    }
    .project-card-item{
        width: 25%;
        margin: @project-card-offset 0 0;
        border-radius: 10px;
    }
    .project-card-link{
        padding-bottom: 107px;
        border: 1px solid;
        border-color: #dfe1e1 #dfe0e4 #d0d1d5;
        border-radius: 10px;
        box-shadow: none;
    }
    .project-card-cover-wrap{
        border-radius: 10px 10px 0 0;
    }
    .project-card-cover{
        border-radius: 9px 9px 0 0;
    }


    // __item-3
    .project-card-list__item-3{
        @project-card-offset: 2.25%;
        margin: -@project-card-offset -10px 0;
        .project-card-item{
            width: 33.333333%;
            margin: @project-card-offset 0 0;
        }
    }


    @media (min-width: @screen-md-min) {
        .project-card-text{
            height: 186px;
        }
        .project-card-name{
            max-height: 64px;
            font-size: 18px;
            line-height: 22px;
        }
        .project-card-descr{
            font-size: 15px;
            line-height: 21px;
        }
    }
}
