// project-wide-carousel



.project-wide-carousel-wrap{
    &:extend(.cf-mix all);
    background: #fff;
    border-radius: 12px;
}



@carousel-height: 366px;
@content-width: 1180px;
@carousel-width: 900px;
@cover-width: 600px;

.project-wide-carousel{
    float: left;
    width: percentage(@carousel-width / @content-width);

    &_i{
        &:extend(.cf-mix all);
        position: absolute;
        top: -99999px;
        left: -99999px;
        &:first-child{
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &_cover{
        float: left;
        width: percentage(@cover-width / @carousel-width);
        img{
            display: block;
            border-radius: 10px 0 0 10px;
        }
    }
    &_cover-link{
        display: block;
        height: @carousel-height;
    }
    &_cont{
        position: relative;
        float: left;
        width: percentage((@carousel-width - @cover-width) / @carousel-width);
        height: @carousel-height;
        padding: 20px 27px 20px;
        font-size: 15px;
        line-height: 1.5;
        background: #fff;
    }

    &_descr{
        overflow: hidden;
        height: 178px;
        word-wrap: break-word;
    }
    &_name{
        display: none;
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        a{
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
    }

    &_foot{
        position: absolute;
        left: 27px;
        right: 27px;
        bottom: 20px;
    }

    &_bar{
        margin: 0 0 18px;
        font-size: 0;
        background: #deedf6;
        border-radius: 10px;
    }
    &_progress{
        max-width: 100%;
        height: 5px;
        background: @baseColor;
        border-radius: 10px;
    }

    &_info{
        &:extend(.cf-mix all);
        margin: 0 0 10px;
    }
    &_info-i{
        float: left;
        width: 50%;
    }
    &_info-lbl{
        margin: 0 0 5px;
        font-size: 10px;
        line-height: 1;
        font-weight: 700;
        color: #999;
        text-transform: uppercase;
    }
    &_info-val{
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        color: @baseColor;
    }

    &_action{
        .btn{
            width: 100%;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 3px;
        }
    }


    .owl-item{
        user-select: auto;
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -38px;
        width: 18px;
        text-indent: -99999px;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 30px;
            margin: -15px 0 0 -9px;
            background: url(../images/charity/charity-team-arr.png) no-repeat;
        }
    }
    .owl-next{
        left: auto;
        right: -38px;
        margin-right: -280px;
        &:before{
            background-position: -50px 0;
        }
    }


    @media (max-width: 1270px) {
        .owl-prev{
            left: -25px;
        }
        .owl-next{
            right: -25px;
        }
    }

    @media (max-width: 1239px) {
        float: none;
        width: auto;
        &_name{
            display: block;
        }
        &_cover-link{
            height: auto;
        }
        &_cont{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: auto;
            border-radius: 0 10px 10px 0;
        }
        &_descr{
            height: 184px;
        }
        .owl-prev{
            left: -35px;
            width: 35px;
        }
        .owl-next{
            right: -35px;
            width: 35px;
            margin: 0;
        }
    }
}




.project-wide-carousel-names{
    float: left;
    display: table;
    width: percentage((@content-width - @carousel-width) / @content-width);
    height: @carousel-height;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
    border-radius: 0 10px 10px 0;
    background: #454553;
    &_i{
        display: table-row;
        .project-wide-carousel-names_title{
            border-top: 1px solid #6a6a75;
        }
        &:first-child{
            .project-wide-carousel-names_title{
                border: 0;
                border-radius: 0 10px 0 0;
            }
        }
        &:last-child{
            .project-wide-carousel-names_title{
                border-radius: 0 0 10px 0;
            }
        }
    }
    &_title{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 17px 26px;
        overflow: hidden;
        cursor: pointer;
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: 50%;
            left: -8px;
            width: 16px;
            height: 16px;
            margin: -10px 0 0;
            background: #fff;
            transform: rotate(45deg);
        }
        &:hover, &.active{
            color: #254959;
            background: #dadadd;
            border-top-color: #dadadd;
        }
        &:hover{
            border-top-color: darken(#e4eaec, 5%);
        }
        &.active{
            &:before{
                display: block;
            }
        }
    }


    @media (max-width: 1239px) {
        display: none;
    }
}
