// school-book



.charity-school-book{
    @import "../school/school-book";

    &.school-book{
        position: relative;
        background: #d7e0ec;
        color: #1b282e;
        &:before,
        &:after{
            display: none;
        }
        &_img{
            float: left;
            width: percentage(905 / 1180);
        }

        &_text{
            float: left;
            width: percentage((1180 - 905) / 1180);
            padding: 158px 0 0;
        }
        &_head{
            margin: 0 0 36px;
            font-size: 32px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            a{
                text-decoration: underline;
            }
        }

        &_download{
            font-size: 14px;
            line-height: 1.2;
        }
        &_download-link{
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 39px;
            background: url(../images/school/download.svg) no-repeat 0 4px;
            &, &:hover{
                color: #3c5867;
                text-decoration: none;
            }
        }
        &_download-link-text{
            font-size: 16px;
            color: @linkColor;
            text-decoration: underline;
        }
    }
}

