//
// About user/group block
// --------------------------------------------



// user/group block on tv page
.best-groups-small{
    margin: 0 0 20px;
    .best-groups-item{
        display: block;
        text-decoration: none;
        color: @textColor;
        border: 1px solid #d9d9d9;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        transition: .1s;
        &:hover{
            border-color: #bbb;
            border-color: rgba(29,135,171,.3);
            box-shadow: 0 0 6px rgba(29,135,171,.5);
        }
    }

    .item-block{
        &:extend(.cf-mix all);
        padding: 10px;
    }
    .item-ava{
        float: left;
        width: 50px;
        height: 50px;
        margin: 2px 10px 0 0;
        overflow: hidden;
    }
    .item-cont{
        overflow: hidden;
    }
    .item-name{
        font-weight: 700;
        max-height: @baseLineHeight * 2;
        overflow: hidden;
    }
    .item-count{
        .paste-date();
    }

    .item-action{
        background: #f2f2f2;
        color: @grayLight;
        border-top: 1px solid #d9d9d9;
        z-index: 2;
    }
    .action-info{
        padding: 1px 10px 3px;
        border-top: 1px solid #fff;
    }
    .action-option{
        color: @grayLight;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        [class^="icon-"]{
            opacity: .5;
            vertical-align: middle;
        }
        .option-item-text{
            font-size: 11px;
            vertical-align: middle;
        }
    }
    .action-option-item{
        margin-right: 5px;
    }
}
