//
// Planeta Broadcast Feed
// --------------------------------------------


[class^="events-maps-icon-"] {
    .sprite(24, 32, url(../images/icon/maps-icon.png));
}

.events-maps-icon-one, .events-maps-icon-1 { background-position: 0         0 }
.events-maps-icon-two, .events-maps-icon-2 { background-position: -44px     0 }
.events-maps-icon-three, .events-maps-icon-3 { background-position: -90px   0 }



.broadcast-upcoming-head{
    margin: 0 0 24px;
    font: 700 22px/24px @baseFontFamily;
    letter-spacing: -1px;
    color: #050505;
}
.broadcast-upcoming-list{
    margin: 0;
    list-style: none;
    word-wrap: break-word;
    &, & *{
        box-sizing: content-box;
    }
    .bul-item{
        margin: 0 0 20px;
        overflow: hidden;
    }
    .bull-info{
        float: right;
        width: 55px;
        margin: 0 0 0 5px;
    }
    .bull-info-date{
        height: 49px;
        padding: 7px 0 0;
        background: @linkColor;
        border: 1px solid #229ec8;
        border-bottom: 0;
        text-align: center;
    }
    .b-i-d-num{
        display: block;
        font: 700 24px/100% @baseFontFamily;
        color: #fff;
    }
    .b-i-d-month{
        font: 400 12px/100% @baseFontFamily;
        color: #fff;
    }
    .bull-info-time{
        height: 44px;
        padding: 13px 0 0;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        background: #fff;
        text-align: center;
    }
    .b-i-t-on-the-clock{
        margin: 0 0 8px;
        font: 700 12px/100% @baseFontFamily;
        color: #000;
    }
    .b-i-t-duration{
        font: 400 12px/100% @baseFontFamily;
        color: #000;
    }
    .bull-info-map{
        height: 43px;
        padding: 10px 0 0;
        border: 1px solid #e2e2e2;
        background: #fff;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: #f7f8fa;
        }
    }
    .bull-cover{
        display: block;
        position: relative;
        height: 169px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        background: #000 no-repeat 50%;
        background-size: cover;
        img{
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
    .bull-cover-titile{
        .text-overflow();
        word-wrap: normal;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        padding: 15px 15px 0;
        background: rgba(0, 0, 0, 0.8);
        font: 700 12px/1 @baseFontFamily;
        color: #fff;
        text-align: left;
    }
}
