//
// Planeta Broadcast Stream
// --------------------------------------------



.broadcast-video-frame,
.broadcast-video-frame iframe,
.broadcast-video-frame object,
.broadcast-video-frame embed{
    white-space: nowrap;
    text-align: center;
    font-size: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.broadcast-signup{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background: fade(@red, 80);
    a{
        color: #fff;
        text-decoration: underline;
    }
}

.cbo-countdown{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 17px;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #fff;
    background: rgba(0,0,0,.8);
}


.broadcast-video-frame .central-block{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.broadcast-video-frame .central-block-overlay{
    position: absolute;
    display: block;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.broadcast-video-frame .cbo-text{
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    padding: 20px;
    background: rgba(0,0,0,.6);
    font-size: 20px;
    line-height: 150%;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.broadcast-video-frame .cbo-text-after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.broadcast-video-frame .vertical-align{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.broadcast-video-frame .bs-video-play{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
    cursor: pointer;
}
.broadcast-video-frame .bs-video-play:hover{
    background-size: 140px 140px;
}
