//
// Planeta Broadcast
// --------------------------------------------




.broadcast-video-content{
    padding-top: 20px;
    background: #fff;
}




// broadcast banner top
.banner-top-container{
    position: relative;
    width: 940px;
    margin: 0 auto;
    .bbt-close{
        position: absolute;
        top: 2px;
        right: 2px;
        background: #000;
        border-radius: 4px;
        opacity: .6;
        line-height: 0;
        padding: 1px;
        cursor: pointer;
        &:hover{
            opacity: .9;
        }
    }
    .bbt-cont{
        margin: 0 0 18px;
        > img{
            display: block;
            margin: auto;
        }
    }
}
// /broadcast banner top


// broadcast video block
.broadcast-video{
    padding: 20px;
    background: #000;

    .broadcast-header{
        margin: 0 0 15px;
        color: #fff;

        .broadcast-header-name{
            font-size: 18px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .broadcast-option-list{
        float: right;
        min-width: 130px;
        margin: -6px 0 0 30px;
    }
    .broadcast-cover{
        width: 900px;
        height: 508px;
        &:extend(.vertical-align-mix all);
        position: relative;
    }
}


.author-block-text{
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.broadcast-options{
    &:extend(.cf-mix all);
    margin: 0 0 10px;
    .b-opt-item{
        float: left;
        margin: 0 15px 0 0;
        position: relative;
        &::before {
            color: #ccc;
            content: "|";
            font-size: 14px;
            position: absolute;
            right: -10px;
        }
        &:last-child{
            &::before {
                content: "";
            }
        }
        &.active{
            .b-opt-link{
                //.icon-com-like-active();
                .like-count{
                    color: @blue;
                }
            }
        }
    }
    .b-opt-link{
        font-size: 11px;
        line-height: 15px;
        color: #999;
        text-decoration: none;
        .text-icon{
            border-bottom: 1px solid #e5e5e5;
        }
        .like-count{
            border: 0;
        }
        .hooks{
            color: #c5c6c7;
        }
        .icon-add-list{
            top: -1px;
        }
        .icon-com-like{
            top: -2px;
        }
        .icon-vect-share{
            top: -1px;
        }
        &:hover{
            color: @blue;
            //.icon-com-like-hover();
            .text-icon{
                border-bottom: 1px solid @blue;
                text-decoration: none;
            }
            .like-count{
                border: 0;
            }
            .hooks{
                color: @blue;
            }
            //[class^=icon-]{
            //    .icon-blue();
            //}
        }
        &:active{
            //.icon-com-like-active();
            .like-count{
                color: @blue;
            }
        }
    }
    .sharing-popup-social{
        left: -63px;
    }
}

// video modal likes and share
.video-view{
    .broadcast-options{
        margin: 10px 0 0;
        .b-opt-item{
            float: none;
            margin: 0 0 10px;
            &:before{
                display: none;
            }
        }
        .sharing-popup-social{
            left: auto;
            right: 0;
            &:before{
                left: auto;
                right: 182px;
            }
        }
    }
    .likes{
        float: none;
        text-align: left;
        .likes-block{
            a{
                text-decoration: none;
                color: #999;
                border-bottom: 1px solid #e5e5e5;
                &:hover{
                    color: @linkColor;
                    border-bottom-color: @linkColor;
                }
            }
        }
    }
}
// /video modal likes and share


.broadcast-description{
    margin: 0 0 20px;
}

// broadcast comments
.broadcast-comments{
    .broadcast-description{
        margin: 0 0 20px;
    }
    .comments-header{
        margin: 0 0 8px;
        font: 700 18px/22px @baseFontFamily;
        .new{
            color: @grayLight;
            font-size: 12px;
            font-weight: 400;
        }
    }
}
// /broadcast comments

.broadcast-right-sidebar{
    .right-sidebar-header{
        margin: 0 0 20px;
        h4{
            font-weight: 700;
        }
    }
    .video-list{
        margin: 0;
        .videos-list-item{
            float: none;
            width: 100%;
            margin: 0 0 15px;
        }
        .video-cover{
            height: 174px;
        }
    }
}

// noise animation and text overlay for video-errors
.noise{
    background: url(../images/defaults/noise.gif);
    width: 100%;
    height: 100%;
    .overlay-message{
        position: relative;
        top: 45%;
        display: inline-block;
        margin: 0 auto;
        padding: 20px;
        font: 700 16px @baseFontFamily;
        color: #fff;
        border-radius: 3px;
        background-color: #808080;
        background-color: rgba(255,255,255,.4);
    }
}
// /noise animation and text overlay for video-errors

// video widget popup
.video-widget-container{
    .vw-fieldset{
        margin: 15px 0 0;
        &:first-child{
            margin: 0;
        }
        textarea{
            &:extend(.form-control-mix all);
            height: auto;
        }
        textarea[readonly]{
            cursor: default;
            background: #fff;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .vw-head{
        font: 700 12px @baseFontFamily;
        margin: 0 0 5px;
    }
    .radio-row{
        margin: 0 0 0 -15px;
    }
    .rr-item{
        display: inline-block;
        margin: 0 0 0 15px;
        .radiobox-label{
            margin-left: 5px;
            cursor: pointer;
        }
    }
}
// /video widget popup
