//
// Planeta Broadcast Chat
// --------------------------------------------

.broadcast-live{
    margin: 0 0 20px;
    padding: 20px;
    font: 13px/18px @ff-proxima-nova;
    color: #fff;
    border-radius: 3px;
    background: fade(#0a0a0a, 80);
    &.ui-draggable{
        width: 300px;
        margin: 0;
        z-index: @zindexModal + 10;
        .bl-h-title{
            cursor: move;
        }
        .bl-h-otp{
            transform: rotate(35deg);
        }
    }
    .bl-header{
        padding: 0 0 12px;
        color: #fff;
        letter-spacing: .07em;
        border-bottom: 1px solid #333;
    }
    .bl-h-otp{
        position: relative;
        top: -3px;
        float: right;
        font-size: 15px;
        line-height: 12px;
        color: #808080;
        cursor: pointer;
        &:hover{
            color: #f2f2f2;
        }
    }
    .bl-h-title{
        font: 700 13px/1 @ff-proxima-nova;
        text-transform: uppercase;
        color: #ccc;
    }

    .bl-dlg{
        padding: 10px 0 0;
    }
    .scroll{
        padding: 0;
        border: 0;
    }
    .scrollbar-handle-container{
        right: 0;
    }

    .bl-textarea-wrap{
        position: relative;
        margin: 10px 0 0;
        &.disabled {
            padding: 10px;
            font-size: 12px;
            color: @errorText;
            text-align: center;
            background: @errorBackground;
        }
    }
    .bl-textarea-send{
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px 14px 5px 5px;
        font-size: 16px;
        line-height: 13px;
        color: #ccc;
        &.fill{
            color: @linkColor;
            cursor: pointer;
            &:hover{
                color: @linkColorHover;
            }
        }
    }
    .bl-textarea{
        display: block;
        width: 100%;
        min-height: 44px;
        margin: 0;
        padding: 14px 40px 14px 17px;
        font: 15px/22px @ff-proxima-nova;
        color: @textColor;
        border: 0;
        resize: none;
    }

    // admin actions
    .bl-dlg-ban-link{
        margin: 0 0 0 10px;
        color: #808080;
        text-decoration: underline;
        cursor: pointer;
        visibility: hidden;
        &:hover{
            color: #f2f2f2;
        }
    }
    .bl-dlg-del{
        float: right;
        margin: 1px 4px 0 4px;
        cursor: pointer;
        opacity: .5;
        visibility: hidden;
        &:hover{
            opacity: 1;
        }
    }
    // /admin actions
}

.bl-dlg-list{
    margin: 0;
    list-style: none;
    word-wrap: break-word;
    .bl-dlg-item{
        padding: 9px 0;
        &:hover{
            .bl-dlg-ban-link, .bl-dlg-del{
                visibility: visible;
            }
        }
    }
    .bl-dlg-time{
        float: right;
        margin: 0 0 0 5px;
        font-size: 11px;
        color: #999;
    }
    .bl-dlg-name{
        overflow: hidden;
        margin: 0 0 3px;
        line-height: 15px;
        a{
            font-weight: 700;
        }
    }
}
