//
// Planeta TV Stream
// --------------------------------------------


// name
.tv-stream-name{
    &_title{
        margin: 10px 0 27px;
        font: 300 40px/45px @ff-proxima-nova;
        text-align: center;
        color: #fff;
    }
    &_tempolink{
        margin: -15px 0 27px;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #fff;
    }
}
// /name



// meta
.stream-meta{
    padding: 10px 0;
    border-bottom: 1px solid #d8dade;
    background: #fff;
    &_head{
        float: left;
        width: 160px;
        margin: 34px 0 0;
        font: 700 13px/1 @ff-proxima-nova;
        text-transform: uppercase;
        letter-spacing: .02em;
        color: #999;
    }
}
// /meta




// sharing
.tv-stream-sharing{
    &:extend(.cf-mix all);
    margin: 27px 0 10px;
    text-align: right;
    white-space: nowrap;
    &_head{
        float: left;
        font: 700 13px/1 @ff-proxima-nova;
        text-transform: uppercase;
        color: #999;
    }
    &_icons{
        float: right;
        margin: -6px 0 0;
        .spsb-item{
            margin-left: 3px;
        }
    }
}
.body-tv-channel{
    .tv-stream-sharing{
        margin: -80px 0 14px;
    }
}
// /sharing




// remind
.tv-stream-remind{
    &:extend(.cf-mix all);
    margin: 0 0 36px;
    font: 13px/15px @ff-proxima-nova;

    .btn{
        font-size: 13px;
    }
    &_cont{
        color: #999;
    }
    &_lbl{
        padding: 9px 0 0;
        .s-icon{
            margin: -2px 0 0;
            font-size: 16px;
        }
        .s-icon-check-circle{
            color: #67c93d;
        }
    }
    &_btn{
        float: right;
        width: 90px;
    }
    &_popup{
        right: 0;
        margin: 14px 0 0;
        .pln-d-popup-tail{
            right: 0;
            margin: 0 53px 6px 0;
            clip: rect(-7px, 21px, 7px, -7px);
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 14px;
                height: 14px;
                background: #fff;
                border: 1px solid #d8dadd;
                transform: rotate(45deg);
            }
        }
        &_cont{
            padding: 20px;
            background: #fff;
            border: 1px solid #d8dadd;
            box-shadow: 0 15px 30px fade(#000, 30);
        }
        &_head{
            margin: 0 0 5px;
            font-weight: 700;
            color: #000;
        }
        &_form{
            &_error{
                display: none;
                margin: 10px 0 0;
                color: @errorText;
            }
            &.error{
                .tv-stream-remind{
                    &_popup{
                        &_form{
                            &_error{
                                display: block;
                            }
                        }
                        &_input{
                            border-color: @errorText;
                        }
                    }
                }
            }
        }
        &_input{
            width: 190px;
            float: left;
        }
        &_text{
            line-height: 21px;
        }
        &_refill{
            > span{
                &:extend(.dot-link-mix all);
                text-transform: uppercase;
            }
        }
    }

    &_unsubscr{
        display: none;
        .tv-stream-remind{
            &_btn{
                width: 160px;
                .btn{
                    color: #999;
                    border-color: #d9d9d9;
                    background-color: transparent;
                    transition: .2s;
                    &:hover{
                        color: @linkColor;
                        border-color: @linkColor;
                    }
                }
            }
        }
    }

    &__unsubscr{
        .tv-stream-remind{
            &_subscr{
                display: none;
            }
            &_unsubscr{
                display: block;
            }
        }
    }
}
// /remind




// channels
.stream-channels{
    &:extend(.cf-mix all);
    &_i{
        position: relative;
        float: left;
        width: 140px;
        margin: 0 0 0 19px;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            box-shadow: 0 0 0 2px #fff, 0 0 0 5px @linkColor;
        }
    }
    &_cover{
        min-height: 79px;
        img{
            display: block;
        }
    }
    &_name{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        padding: 29px 10px 0;
        font: 700 13px/15px @ff-proxima-nova;
        color: #fff;
        background: linear-gradient(to bottom, fade(#000, 0), fade(#000, 80));
    }
}
// /channels



// description
.tv-stream-description{
    margin: 20px 0;
    padding: 30px;
    font: 15px/27px @ff-proxima-nova;
    border: 1px solid #d8dade;
    background: #fff;
    p{
        margin: 0;
    }
}
// /description




// upcoming
.tv-upcoming{
    margin: 0 0 20px;
    &_head{
        margin: 0 0 6px;
        font: 700 13px/15px @ff-proxima-nova;
        text-transform: uppercase;
        letter-spacing: .07em;
        color: #999;
    }
}
// /upcoming




// upcoming card
.upcoming-card{
    &:extend(.cf-mix all);
    margin: 0 -5px;
    &_i{
        float: left;
        width: 33.333333%;
        margin: 0 0 10px 0;
        padding: 0 5px;
        word-wrap: break-word;
    }
    &_link{
        display: block;
        border: 1px solid #d8dade;
        background: #fff;
        &, &:hover{
            color: @textColor;
            text-decoration: none;
        }
    }
    &_meta{
        display: block;
        padding: 12px 15px;
    }
    &_cover{
        display: block;
        min-height: 113px;
        margin: 0 -1px;
        img{
            display: block;
        }
    }
    &_cont{
        display: block;
        padding: 12px 15px;
    }
    &_name{
        display: block;
        overflow: hidden;
        height: 20px * 3;
        font: 700 15px/20px @ff-proxima-nova;
    }
}
// /upcoming card
