// tv



.video-widget-popup{
    &.dropdown-popup{
        width: 400px;
        left: 50%;
        margin-left: -200px;
        .dropdown-popup-caret{
            left: 50%;
            margin-left: -6px;
        }
    }
}


.tv-page{
    .header{
        background-color: #000;
    }
    .h-btn_link{
        border-color: #000;
        &:hover{
            background: #212121;
        }
    }
    .h-search_control{
        background-color: #000;
        border-color: #000;
        &:hover, &:focus{
            background-color: #212121;
            border-color: #212121;
        }
    }
    .h-search{
        border-color: #000;
    }
    .h-menu_link:hover,
    .h-user.open .h-user_link, .h-user_link:hover,
    .h-user_popup-cont{
        background-color: #212121;
    }
    .h-user_menu_link:hover,
    .h-user_menu-profile_link:hover,
    .h-user_menu_notif__bl{
        background-color: #000;
    }
}

.tv-main-container{
    width: 940px;
    padding: 0;
    margin-left: 10px;
    background: #fff;
}
.tv-top{
    background: #000;
}

.tv-top-slider{
    position: relative;
    padding: 0 0 74px;
    &, & *{
        box-sizing: content-box;
    }
    &:hover{
        .tt-slider-buttons-prev,
        .tt-slider-buttons-next{
            opacity: .5;
            &:hover{
                opacity: 1;
            }
        }
    }
}
.tv-top-slider-list{
    .vertical-align{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
}
.tt-slider-list-item{
    padding: 76px 0 0;
    position: relative;
    float: left;
    width: 940px;
    height: 495px;
    &:hover{
        text-decoration: none;
    }
}
.tts-list-item-date{
    float: right;
    margin: 10px 0 0;
    .proxima-bold();
    font-size: 14px;
    color: #8c8c8c;
}
.tts-list-item-meta{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
}
.tts-list-item-title{
    display: block;
    .text-overflow();
    color: #fff;
}
.ttsl-item-title-spn{
    display: inline-block;
    vertical-align: top;
    .proxima-light();
    font-size: 34px;
    line-height: 36px;
    margin: 0 14px 0 0;
}
.ttsl-item-title-label{
    position: relative;
    top: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 8px;
    background: @blue;
    font: 12px/1 @baseFontFamily;
    &.red{
        background: #c0392b;
    }
}
.tts-list-item-img{
    display: block;
    margin: 0 30px;
}

.tt-slider-buttons-prev,
.tt-slider-buttons-next{
    position: absolute;
    top: 76px;
    left: 0;
    width: 100px;
    height: 495px;
    background: url(../images/arrow/tv-welcome-slider-arrows.png) no-repeat 9px 50%;
    opacity: 0;
    cursor: pointer;
}
.tt-slider-buttons-next{
    left: auto;
    right: 0;
    background-position: -20px 50%;
}

.tv-top-slider-pagination{
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    font: 0/0 a;
    text-align: center;
    a{
        border-radius: 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 0 0 8px;
        background: #fff;
        border: 6px solid #000;
        &:first-child{
            margin-left: 0;
        }
        &.selected{
            border-color: #c0392b;
        }
        span{
            display: none;
        }
    }
}

.tv-announcements{
    padding: 20px 0 0;
}
.tv-announcements-title{
    display: inline-block;
    padding: 7px 14px 8px;
    margin: 0 0 20px @grid960GutterWidth;
    background: #c0392b;
    font: 700 15px/100% @baseFontFamily;
    color: #fff;
}
.tv-announcements-list{
    font-size: 0;
    word-wrap: break-word;
    &.one_announcement,
    &.two_announcement{
        .tv-video-list-item{
            width: auto;
        }
        .tv-list-item-top{
            float: left;
            width: 80px;
            height: 50px;
            margin: 0 20px 0 0;
            &:hover{
                &+.tv-list-item-bottom .tvl-item-bottom-title{
                    color: @blue;
                    text-decoration: none;
                }
            }
        }
        .tvl-item-top-label{
            top: 0;
        }
        .tvl-item-bottom-title{
            .text-overflow();
            margin: 0 0 6px;
            font-size: 21px;
            &:hover{
                color: @blue;
                text-decoration: none;
            }
        }
    }
    &.two_announcement{
        .tv-video-list-item{
            width: 440px;
            margin: 0 0 20px 20px;
        }
    }
}


.tv-video-list{
    font-size: 0;
    word-wrap: break-word;
}
.tv-video-tabs{
    padding: 43px @grid960GutterWidth 28px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background: url(../images/tv/blue-line.png) 100% 0 no-repeat;
}

// Tv welcome tabs icons
[class^="tvt-item-icons-"] {
    .sprite(25px, 25px, url(../images/tv/tv-tabs-icons.png));
}

//.tvt-item-icons-nashe     { background-position: 0 0 }
.tvt-item-icons-stream      { background-position: -50px 0 }
.tvt-item-icons-projects    { background-position: -100px 0 }
.tvt-item-icons-community   { background-position: -150px 0 }
.tvt-item-icons-alive       { background-position: -200px 0 }
.tvt-item-icons-school      { background-position: -250px 0 }


.tv-tabs-item{
    padding: 0 0 1px;
    margin: 0 18px 0 0;
    &:last-child{
        margin: 0;
    }
    &.active{
        .tv-tabs-item-label{
            border-color: transparent;
            color: #000;
        }
    }
    &:hover{
        text-decoration: none;
        .tv-tabs-item-label{
            color: @linkColorHover;
        }
    }
    [class^="tvt-item-icons-"]{
        position: relative;
        top: -4px;
        vertical-align: top;
        margin: 0 7px 0 0;
    }
}
.tv-tabs-item-label{
    display: inline-block;
    vertical-align: top;
    padding: 0 0 2px;
    border-bottom: 1px dotted;
    font: 700 15px/1.1 @baseFontFamily;
    color: @blue;
}

.tv-video-filter{
    padding: 35px 20px 27px;
    text-decoration: none;
}
.tv-filter-links{
    float: left;
}
.tv-filter-links-item{
    margin: 0 21px 0 0;
    font: 700 15px/130% @baseFontFamily;
    color: @blue;
    &.active{
        color: #000;
    }
    &:last-child{
        margin: 0;
    }
}
.tv-filter-search{
    position: relative;
    top: -5px;
    float: right;
    width: 210px;
    .input-field{
        padding: 0;
    }
    input{
        &:extend(.form-control-mix all);
    }
    .icon-search{
        top: 7px;
    }
}
.tv-video-list-item{
    float: none;
    display: inline-block;
    width: 210px;
    padding: 0;
    margin-bottom: @grid960GutterWidth;
    margin-left: @grid960GutterWidth;
    vertical-align: top;
}
.tv-list-item-top{
    position: relative;
    display: block;
    height: 124px;
    margin: 0 0 10px;
    overflow: hidden;
    &:hover{
        &+.tv-list-item-bottom .tvl-item-bottom-title{
            text-decoration: underline;
        }
    }
}
.tvl-item-top-img-wrap{
    display: block;
    height: 100%;
    margin: 0 -50%;
    text-align: center;
}
.tvl-item-top-img{
    max-width: none;
    height: 100%;
}
.tvl-item-top-label{
    position: absolute;
    top: 10px;
    left: 0;
    padding: 4px 7px;
    background: #c0392b;
    font: 12px/100% @baseFontFamily;
    color: #fff;
    text-transform: uppercase;
}
.tvl-item-bottom-title{
    display: block;
    margin: 0 0 9px;
    font: 700 13px/140% @baseFontFamily;
    color: #000;
}
.tvl-item-bottom-views{
    font: 12px/100% @baseFontFamily;
    color: #828282;
}


.tv-video-not-found{
    margin: 95px;
    padding: 152px 0 0;
    text-align: center;
    background: url(../images/tv/ufo-404.png) no-repeat 50% -13px;
}
.tv-video-not-found-label{
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 700;
}
.tv-video-not-found-value{
    margin: 0 0 31px;
    font-size: 16px;
    color: #ccc;
}
.tv-video-not-found-all-link{
    font-size: 16px;
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}
@media only screen
and (max-height : 510px) {
    .tv-video-not-found{
        margin: 40px;
    }
}

.tv-welcome-banner{
    padding: 0 @grid960GutterWidth @grid960GutterWidth;
    text-align: center;
    line-height: 0;
}
