//
// Planeta TV video page
// --------------------------------------------



// name
.tv-view-name{
    &_title{
        margin: 0 0 20px;
        font: 700 30px/35px Arial, sans-serif;
        text-align: center;
        color: #e7e7e7;
    }
    &_tempolink{
        font-size: 11px;
        text-align: center;
        margin: -15px 0 20px;
        color: #e7e7e7;
    }

    .donate-sharing .sps-count,
    .page-head-sharing .sharing-popup-social .sps-count span{
        color: #e7e7e7;
    }
    [class^="bs-icons-"]{
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
}
// /name



// video code
.video-code{
    &_link{
        font-size: 13px;
        line-height: 15px;
        color: #999;
        &:hover{
            color: @linkColor;
            .video-code{
                &_hooks{
                    color: @linkColor;
                }
                &_text{
                    border-bottom-color: @linkColor;
                }
            }
        }
    }
    &_hooks{
        color: #c5c6c7;
    }
    &_text{
        border-bottom: 1px solid #e5e5e5;
    }
}
// /video code



// video widget popup
.video-widget-container{
    .vw-fieldset{
        margin: 15px 0 0;
        &:first-child{
            margin: 0;
        }
        textarea{
            &:extend(.form-control-mix all);
            height: auto;
        }
        textarea[readonly]{
            cursor: default;
            background: #fff;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .vw-head{
        font: 700 12px @baseFontFamily;
        margin: 0 0 5px;
    }
    .radio-row{
        margin: 0 0 0 -15px;
    }
    .rr-item{
        display: inline-block;
        margin: 0 0 0 15px;
        .radiobox-label{
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.video-widget-popup{
    font-family: Arial, sans-serif;
    text-align: left;
    &.dropdown-popup{
        width: 400px;
        left: 50%;
        margin-left: -200px;
        .dropdown-popup-caret{
            left: 50%;
            margin-left: -6px;
        }
    }
}
// /video widget popup



// meta
.tv-video-meta{
    &:extend(.cf-mix all);
    margin: 0 0 30px;
    padding: 15px 0;
    font: 15px/18px @ff-proxima-nova;
    border-bottom: 1px solid #d8dade;
    background: #fff;
    &_author{
        float: left;
        display: block;
        &, &:hover{
            color: @textColor;
            text-decoration: none;
        }
        &:hover{
            .tv-video-meta_author_name{
                color: @linkColor;
            }
        }
        &_ava{
            float: left;
            width: 50px;
            height: 50px;
            margin: 0 15px 0 0;
            img{
                display: block;
            }
        }
        &_cont{
            overflow: hidden;
        }
        &_lbl{
            margin: 4px 0 5px;
        }
        &_name{
            font: 700 16px/20px @ff-proxima-nova;
            text-transform: uppercase;
        }
    }
    &_info{
        float: right;
        margin: 4px 0 0;
    }
    &_views{
        font-size: 13px;
        text-transform: uppercase;
        color: #808080;
    }
    &_code{
        margin: 6px 0 0;
        text-align: right;
    }
}
// /meta


.tv-comments{
    margin: 0 0 35px;

    .attach-comment{
        &:extend(.cf-mix all);
        margin: 0;
        padding: 0 20px;
        border: 1px solid #d8dade;
        box-shadow: none;
        background: #fff;
        .attach-comment-block{
            margin: 0;
            .attach-comment-item{
                margin: 0 -20px;
                padding: 20px;
                &:hover{
                    background: none;
                }
                .attach-comment-ava{
                    &, a{
                        width: 50px;
                        height: 50px;
                    }
                }
                .attach-comment-text{
                    margin-left: 70px;
                    .name{
                        margin: 0 15px 5px 0;
                        a{
                            font-size: 14px;
                        }
                    }
                    .name{
                        font-size: 14px;
                    }
                    .date{
                        font-size: 14px;
                        color: #ccc;
                    }
                    .link-to-comment{
                        font-size: 12px;
                    }
                    .answer{
                        margin: 5px 0 0;
                        font-size: 11px;
                        color: #ccc;
                    }
                    .answer-link{
                        cursor: pointer;
                        &:hover{
                            color: #808080;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .show-all, .list-loader{
            margin: 20px 0;
        }
        .pln-ww{
            margin: 0 -20px;
            padding: 20px;
            background: #f4f4f4;
            .pln-ww-unregister{
                margin: 0;
            }
        }
    }
    .attach-comment-textarea{
        margin: 0 -20px;
        padding: 20px;
        background: #f4f4f4;
    }
}


// related video
.video-related{
    &_slider{
        position: relative;
        .video-card{
            height: 195px;
            overflow: hidden;
            margin: 0;
        }
        .video-card_i{
            margin: 0 10px;
        }
        .caroufredsel_wrapper{
            padding: 0 0 2px;
        }
    }
    &_arrows{
        top: 0;
    }
    .vra-prev, .vra-next{
        height: 195px;
    }
}
// /related video




// noise animation and text overlay for video-errors
.noise{
    background: url(../images/defaults/noise.gif);
    width: 100%;
    height: 100%;
    .overlay-message{
        position: relative;
        top: 45%;
        display: inline-block;
        margin: 0 auto;
        padding: 20px;
        font: 700 16px @baseFontFamily;
        color: #fff;
        border-radius: 3px;
        background-color: #808080;
        background-color: rgba(255,255,255,.4);
    }
}
// /noise animation and text overlay for video-errors

