// video card



.video-card{
    &:extend(.cf-mix all);
    margin: 0 0 0 -20px;
    &_i{
        float: left;
        width: 220px;
        margin: 0 0 20px 20px;
        word-wrap: break-word;
    }
    &_link{
        display: block;
        font: 15px/20px @ff-proxima-nova;
        background: #fff;
        &, &:hover{
            color: @textColor;
            text-decoration: none;
        }
        &:hover{
            .video-play{
                opacity: 1;
            }
        }
    }
    &_cover{
        position: relative;
        display: block;
        min-height: 124px;
        img{
            display: block;
        }
    }
    &_time{
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 60px;
        padding: 8px 10px 7px;
        line-height: 1;
        color: #fff;
        text-align: center;
        background: fade(#000, 70);
    }
    &_cont{
        display: block;
        padding: 15px 17px;
        border: solid #d8dade;
        border-width: 0 1px 1px;
    }
    &_name{
        overflow: hidden;
        display: block;
        height: 20px * 2;
    }
    &_views{
        display: none;
        margin: 10px 0 0;
        font-size: 15px;
        line-height: 18px;
        color: #999;
    }
    .video-play{
        opacity: 0;
        transition: .3s;
    }

    &__main{
        .video-card{
            &_i{
                &:first-child{
                    width: 460px;
                    .video-card{
                        &_cover{
                            img{
                                width: 100%;
                            }
                        }
                        &_cont{
                            padding: 35px 28px;
                        }
                        &_name{
                            font-size: 22px;
                            line-height: 26px;
                            height: 26px * 2;
                        }
                        &_views{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
