// tv



.tv-main{
    margin: -20px 0 0;
    padding: 20px 0 0;
    background-image: radial-gradient(50% 100%, ellipse cover, #d0e2e4 0%, #235071 65%, #072137 100%);
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #d0e2e4 0%, #235071 65%, #072137 100%);
    &_cont{
        &:extend(.cf-mix all);
    }
    &_video{
        overflow: hidden;
        position: relative;
    }

    &_slider{
        .owl-item{
            z-index: 1;
        }
        .owl-prev, .owl-next{
            position: absolute;
            top: 0;
            bottom: 0;
            left: -90px;
            width: 90px;
            font-size: 70px;
            line-height: 1;
            color: #fff;
            .s-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -35px 0 0 -35px;
            }
        }
        .owl-next{
            left: auto;
            right: -90px;
        }
        &_name{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px;
            .text-overflow();
            font: 300 28px/32px @ff-proxima-nova;
            text-align: center;
            color: #fff;
            background: fade(#000, 50);
        }
    }
}



.tv-search{
    margin: -20px 0 10px;
    background: #fff;
    border-bottom: 1px solid #dfdedb;
    &_input{
        width: 100%;
        height: auto;
        padding: 14px 0;
        margin: 0;
        font: 300 40px/60px @ff-proxima-nova;
        color: #000;
        border: 1px solid;
        &, &:focus{
            border-color: #fff;
            box-shadow: none;
            outline: none;
        }
    }
    .back-placeholder{
        font-size: 40px;
    }
}



.broadcast-stream-ads{
    float: right;
    width: 300px;
    height: 360px;
    background: #000;
}

.broadcast-stream-ads-carousel > * {
    height: 360px;
}




// tv type
[class^="s-tv-type-"], [class*=" s-tv-type-"]{
    .sprite(28, 13, url(../images/tv/s-tv-type.svg));
}
//.s-tv-type-360      { background-position: 0 0 }
.s-tv-type-live     { background-position: -30px 0 }

.tv-type{
    padding: 16px 0 14px;
    background: #fff;
    border-bottom: 1px solid #d8dade;
    &_list{
        &:extend(.cf-mix all);
        margin: 0 0 0 -20px;
    }
    &_i{
        display: block;
        float: left;
        width: 220px;
        margin: 0 0 0 20px;
        color: @textColor;
        &:hover{
            color: @textColor;
            text-decoration: none;
            .tv-type_name{
                color: @linkColor;
            }
        }


        &__now{
            .tv-type_meta_name{
                font-weight: 700;
                color: #c0392b;
                text-transform: uppercase;
            }
        }
    }
    &_meta{
        display: block;
        margin: 0 0 3px;
        font: 15px/22px @ff-proxima-nova;
        &_ico{
            display: inline-block;
            vertical-align: top;
            margin: 2px 6px 0 0;
        }
    }
    &_img{
        display: block;
        min-height: 135px;
    }
    &_name{
        display: block;
        height: 20px * 2;
        overflow: hidden;
        margin: 12px 0 16px;
        font: 700 15px/20px @ff-proxima-nova;
    }

    &_list.owl-carousel{
        margin: 0;
        .tv-type_i{
            float: none;
            width: auto;
            margin: 0;
        }
    }
    .owl-item{
        z-index: 1;
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -60px;
        width: 60px;
        font-size: 30px;
        line-height: 1;
        color: #ccc;
        transition: opacity .2s;
        &.disabled{
            opacity: 0;
            cursor: default;
        }
        .s-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -35px 0 0 -15px;
        }
    }
    .owl-next{
        left: auto;
        right: -60px;
    }
}
// /tv type



// tv list banner
.tv-list-banner{
    float: right;
    width: 220px;
    &_val{
        margin: 0 0 20px;
        img{
            display: block;
        }
    }
}
// /tv list banner



// tv list filter
.tv-list-filter{
    margin: 4px 0 24px;
    &_list{
        font: 700 15px/20px @ff-proxima-nova;
        letter-spacing: .07em;
        text-transform: uppercase;
        color: #999;
    }
    &_i{
        display: inline-block;
        vertical-align: bottom;
        margin: 0 0 0 20px;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            font-size: 19px;
            color: @linkColor;
            .tv-list-filter_link{
                border-bottom-color: transparent;
            }
            &:hover{
                .tv-list-filter_link{
                    color: @linkColor;
                }
            }
        }
    }
    &_link{
        border-bottom: 1px solid #dcdbd6;
        cursor: pointer;
        &:hover{
            color: #000;
            border-bottom-color: #000;
        }
    }
}
// /tv list filter



// tv video list
.tv-list{
    &:extend(.cf-mix all);
    margin: 25px 0 0;
}
// /tv video list



// tv video not found
.tv-video-not-found{
    margin: 95px;
    padding: 152px 0 0;
    text-align: center;
    background: url(../images/tv/ufo-404.png) no-repeat 50% -13px;
}
.tv-video-not-found-label{
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 700;
}
.tv-video-not-found-value{
    margin: 0 0 31px;
    font-size: 16px;
    color: #ccc;
}
.tv-video-not-found-all-link{
    font-size: 16px;
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}
@media only screen
and (max-height : 510px) {
    .tv-video-not-found{
        margin: 40px;
    }
}
// //tv video not found



// tv welcome banner
.tv-welcome-banner{
    margin: 20px 0;
    text-align: center;
    line-height: 0;
}
// tv welcome banner
