//Pl-forms base
@import "../less/base";

.pl-email-auth {
    .donate-input-control{
        &_val{
            border-color: #7894a2;
        }
    }
    &_email{
        .project-donate-auth{
            &_action{
                .show-pass &{
                    @media (max-width: @screen-tl-max) {
                        display: none;
                    }
                    @media (min-width: @screen-tl-min) {
                        visibility: hidden;
                    }
                }
            }
        }
    }
    &_pass{
        display: none;
        padding: 16px 0 0;
        opacity: 0;
        .show-pass &{
            animation: show-pass .25s .125s both ease-out;
            @media (max-width: @screen-tl-max) {
                display: block;
            }
            @media (min-width: @screen-tl-min) {
                display: flex;
            }
        }
    }
    &_val-help{
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 18px;
        margin: 8px 0 0;
        .show-pass &{
            display: none;
        }
    }
    &_email-info{
        position: relative;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 18px;
        margin: 9px 0 0;
        border: 1px solid #00c871;
        border-radius: 4px;
        opacity: 0;
        a{
            text-decoration: underline;
        }
        &:before{
            content: '';
            position: absolute;
            top: -5px;
            left: 34px;
            width: 12px;
            height: 12px;
            background: #e2fff3;
            border: 1px solid #00c871;
            transform: rotate(45deg);
        }
        .show-pass &{
            display: block;
            animation: show-pass .25s both ease-out;
        }
    }
    &_email-info-in{
        position: relative;
        padding: 9px 16px;
        background: #e2fff3;
        border-radius: 4px;
    }
    &_action{
        margin: 10px 0 0;
    }
    &_btn{
        display: block;
        width: 100%;
        padding: 24px 0 22px;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 2px;
    }


    @media (min-width: @screen-tl-min) {
        &_email{
            display: flex;
            align-items: flex-start;
        }
        &_val{
            flex: 1 1 auto;
        }
        &_action{
            min-width: 195px;
        }
    }

    @media (min-width: @screen-ld-min) {
        &_action{
            min-width: 205px;
        }
    }
}

@keyframes show-pass {
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
