<div class="pl-email-auth" [ngClass]="{'show-pass': showPass}">
    <div class="pl-email-auth_email">
        <div class="pl-email-auth_val">
            <div class="pl-input-control" [ngClass]="{'error': !validEmail}" #inputControl>
                <input type="email"
                       id="email"
                       class="form-control pl-input-control_val"
                       [(ngModel)]="model"
                       (input)="changeValue($event.target.value)"
                       [class.pl-input-control_val-inner]="settings.labelType === labelTypes.INNER"
                       [class.pl-input-control_val-outer]="settings.labelType === labelTypes.OUTER"
                       [placeholder]="settings.placeholder"
                       [disabled]="settings.disabled"
                       [required]="settings.required"
                       [readonly]="settings.readOnly">

                <label for="email" class="pl-input-control_inner-label" translate>payment-page.email-input-label</label>

                <span class="pl-input-control_help"
                      tooltip="{{ emailFieldError | translate:lang }}"
                      placement="{{ tooltipPositionTop() }}"
                      triggers="click:click click:mouseleave mouseenter:mouseleave"
                      container="body">!</span>
            </div>

            <div class="pl-email-auth_val-help"
                 [innerHtml]="'payment-page.email-input-info' | translate:lang"></div>

            <div class="pl-email-auth_email-info" *ngIf="showPass">
                <div class="pl-email-auth_email-info-in" translate>
                    payment-page.user-exist
                </div>
            </div>
        </div>
    </div>

    <div class="pl-email-auth_pass">
        <div class="pl-email-auth_action">
            <button type="button"
                    (click)="showAuthModal()"
                    class="btn btn-nd-primary pl-email-auth_btn"
                    translate>payment-page.sign-in-and-continue</button>
        </div>
    </div>
</div>
