.best-week{
    margin: 0 0 26px;
}
.best-week .bw-header{
            padding: 0 0 10px;
            border-bottom: 1px solid #dedede;
        }
.best-week .bw-action{
            float: right;
        }
.best-week .bw-head{
            font-size: 18px;
            line-height: 24px;
            margin: 4px 0 2px;
        }
.bw-small{
    margin: 14px 0 23px -19px;
}
.bw-small .bw-s-item{
        width: 197px;
        min-height: 200px;
        float: left;
        margin: 0 0 0 19px;
    }
.bw-small .bw-s-head{
        margin: 0 0 12px;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        color: #999;
    }
.bw-small .bw-s-link{

    }
.bw-small .bw-s-ava{
        position: relative;
        margin: 0 0 13px;
    }
.bw-small .bw-s-ava a{
    height: 132px;
    background: #333;
}

.bw-small .bw-s-age{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px;
        color: #fff;
        background: #000;
        font-size: 12px;
    }
.bw-small .bw-s-name{
    }
.bw-small .bw-s-descr{
        display: none;
    }
.bw-small .bw-s-item:first-child{
    width: auto;
    min-height: 200px;
    float: none;
    margin: -1px 0 14px 19px;
    padding: 0 0 28px;
    border-bottom: 1px solid #dedede;
}

.bw-small .bw-small .bw-s-item:first-child .bw-s-cover{
        float: left;
        position: relative;
        width: 198px;
        margin: 4px 19px 0 0;
    }
.bw-small .bw-small .bw-s-item:first-child .bw-s-head{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        margin: 0;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
    }
.bw-small .bw-small .bw-s-item:first-child .bw-s-ava{
        margin: 0;
    }

.bw-small .bw-small .bw-s-item:first-child .bw-s-name{
        margin: 0 0 8px;
        overflow: hidden;
        letter-spacing: -1px;
    }
.bw-small .bw-small .bw-s-item:first-child .bw-s-descr{
        display: block;
        font-size: 14px;
        line-height: 21px;
    }