.version-group-ava {
    margin: 0 7px 0 0;
    float: left;
    width: 32px;
}
.version-group-ava img {
    display: block;
}
.version-group-cont {
    overflow: hidden;
}
.version-group-name {
    font-weight: 700;
    margin: 0 0 5px;
}
.version-product-name span {
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
    border-bottom: 1px dashed #0088cc;
}
.version-product-name span:hover {
    color: #005580;
    border-bottom-color: #005580;
}
.version-group-count,
.version-user-type,
.version-product-type {
    line-height: 13px;
    display: block;
    font-size: 11px;
    color: #808080;
}
.version-user-type {
    margin: 0 0 10px;
}

.version-compare > table > tbody > tr > td {
    border: 0;
    background: #f4f7f9;
}
.version-compare > table > tbody > tr > td:first-child {
    background: #f2f2f2;
}
.version-compare > table {
    border-collapse: separate;
    border-spacing: 8px 0;
    margin: 0;
}
.version-product-img {
    margin: 10px 0 10px -7px;
}
.version-product-img img {
    margin: 0 0 0 7px;
}
.version-product-price {
    margin: 0 0 10px;
}
.version-product-descr .product-descr-header {
    display: block;
    font-size: 11px;
    color: #808080;
}
.version-product-price .product-price-header {
    font-size: 11px;
    color: #808080;
}
.version-compare .version-change {
    background: #ebf8fd;
    border-left: 3px solid #26aedd;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 5px;
}

/* table collapse */
.table-collapse-row > td {
    padding: 0;
    border-top: 0;
}
.table-collapse-row.active .table-collapse-block {
    display: block;
}
.table-collapse-block {
    padding: 12px 8px;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    display: none;
}
/* table collapse */