
.modal-open .dropdown-menu {  z-index: 1000; }
.modal-open .dropdown.open { *z-index: 1000; }
.modal-open .popover       {  z-index: 1010; }
.modal-open .tooltip       {  z-index: 1020; }

.swfupload{
    z-index: 2000;
    position: relative;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop .white{
    background-color: #fff;
}

.modal-dialog, #modal-dialog{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1050;
    white-space: nowrap;
    overflow: auto;
}
.modal-dialog:after, #modal-dialog:after{
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.modal-dialog .modal, #modal-dialog .modal{
    width: auto;
    top: auto;
    left: auto;
    display: inline-block;
    *margin-top: 80px;
    position: relative;
    z-index: 1050;
    border: 0;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;;
    min-width: 560px;
    max-width: 950px;
    margin: 0;
    background: #fff;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    white-space: normal;
}
.modal.alert-modal{
    min-width: 0;
    max-width: none;
    width: 490px;
}
.modal.alert-modal .modal-body {
    min-height: 40px;
}

.modal.modal-fixed-width{
    max-width: 560px;
}
.modal.question-madal{
    -webkit-box-shadow: 0 0 15px #000;
    -moz-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
    border: 1px solid #ddd;
    display: block;
    margin: 0 0 0 -280px;
    position: absolute;
    left: 50%;
    bottom: 90px;
}

.modal.modal-srollable:after{
    display: none;
}

.modal-header {
    padding: 9px 15px 0;
    *zoom: 1;
}
.modal-header h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: georgia;
    font-style: italic;
}
.modal-header .modal-header-shadow{
    background: url(../../images/planeta/modal-shadows.png) no-repeat;
    height: 24px;
    margin-top: -6px;
    background-size: 100% 100%;
}
.modal-header .close {
   margin-top: 0;
   line-height: 14px;
   font-size: 14px;
}
.modal-body {
    padding: 10px 15px 15px;
    word-wrap: break-word;
}
.modal-footer {
    padding: 8px;
    margin-bottom: 0;
    background-color: #f2f2f2;
    -webkit-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}
.modal-footer-cont:before,.modal-footer-cont:after{
    display: table;
    content: "";
}
.modal-footer-cont:after{
    clear: both;
}
.modal-footer-cont>.btn {
  float: right;
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-foto-load {
    display: block;
}
.modal-foto-load .tc{
    text-align: center;
}
.modal-foto-load .modal-foto-load-select {
    display: inline-block;
    width: 554px;
    text-align: center;
    font-size: 15px;
}
.modal-foto-load .modal-foto-load-select span {
    color: #717171;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 12px;
    padding: 45px 0 14px;
    text-align: center;
    width: 160px;
    cursor: pointer;
}

.modal-foto-load .modal-foto-load-select span.link{background: url(../../images/planeta/mp-link.png) no-repeat 50% 10px #f0f0f0;}
.modal-foto-load .modal-foto-load-select span.upload{background: url(../../images/planeta/mp-upload.png) no-repeat 50% 10px #f0f0f0;}
.modal-foto-load .modal-foto-load-select span.album{background: url(../../images/planeta/mp-album.png) no-repeat 50% 10px #f0f0f0;}
.modal-foto-load .modal-foto-load-select span:hover{background-color: #ebfbff;}

.copy-ico {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(../../images/planeta/copy-ico.svg) no-repeat;
}
