
.clearfix:before,.clearfix:after{
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}

.upload-photo-modal{
    width: 764px;
}

.uploader-container-top{
    margin: 0 0 20px;
}
.uploader-upload-link{
    float: right;
}
.uploader-upload-link .upload-link-input{
    width: 175px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.uploader-upload-btn .btn{
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
}

.uploader-container {
    border: 2px dashed #ccc;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 230px;
    max-height: 350px;
    padding: 10px 1px 10px 10px;
    position: relative;
}

.uploader-container .uploader-droptext{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    color: #b3b3b3;
}

.uploader-container .modal-scroll {
    border: 0;
    padding: 0;
}
.uploader-container .modal-scroll .modal-scroll-content{
    height: auto;
    min-height: 230px;
    max-height: 350px;
}
.uploader-container .modal-scroll .scrollbar-handle-container{
    right: 0;
}
.uploader-filelist{
    list-style: none;
    display: inline-block;
    margin: -10px 0 0 -10px;
}
.uploader-filelist .filelist-item {
    float: left;
    width: 100px;
    height: 100px;
    padding: 4px;
    margin: 10px 0 0 10px;
    border: 1px solid #e1e1e1;
    position: relative;
    background: #fff;
}

.uploader-filelist .filelist-option{
    display: block;
}

.uploader-filelist .filelist-cover{
    background: url(../../images/planeta/uploader-filelist-bg.png) no-repeat;
    height: 100%;
}

.uploader-filelist .filelist-album-cover{
    position: absolute;
    left: -1px;
    top: -1px;
    background: url(../../images/planeta/uploader-filelist-album-bg.png) no-repeat;
    width: 60px;
    height: 60px;
}
.uploader-filelist .filelist-back{
    background: url(../../images/planeta/mp-upload.png) no-repeat 50% 50%;
    height: 100%;
    cursor: pointer;
}
.uploader-filelist .filelist-img{
    height: 100%;
}
.uploader-filelist .filelist-img img{
    width: 100%;
    height: 100%;
}
.uploader-filelist .filelist-img.filelist-cover.tooltip{
    position: relative;
    opacity: 1;
}
.uploader-filelist .uploader-filelist-progress{
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    height: 5px;
}
.uploader-filelist .uploader-filelist-load{
    height: 100%;
}
.uploader-filelist .filelist-option{
    display: none;
    position: absolute;
    //left: 4px;
    right: 4px;
    top: 4px;
    padding: 1px 2px 2px;
}
.uploader-filelist .filelist-option > #translucent{
    background-color: hsla(0, 0, 0, 0.7);
}

.uploader-filelist .filelist-option [class^="icon-"]{
    cursor: pointer;
    margin: 0;
}

.uploader-filelist .filelist-option .icon-close{
    float: right;
    margin-top: 1px;
}

.fileinput-button{
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

.fileinput-button input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    -moz-transform: translate(-300px, 0);
    -moz-transform: scale(4);
    direction: ltr;
    cursor: pointer;
}
