// charity-webinars



.charity-webinars{
    padding: 30px 0;
    &_head{
        margin: 0 10px 30px;
    }
    &_list{
        margin: 0;
    }
    &_i{
        display: block;
        width: auto;
        margin: 15px 0 0;
        padding: 15px 10px 0;
        border-top: 1px solid #ccc;
        &:first-child{
            margin: 0;
            padding-top: 0;
            border: 0;
        }
    }
    &_name{
        margin: 0 0 15px;
    }
    &_cover{
        margin: 0 -10px 5px;
        img{
            width: 100%;
        }
    }
    &_text{
        margin: 0 0 25px;
        max-height: 150px;
        overflow: hidden;
    }
    &_author{
        h3{
            margin: 0 0 10px;
        }
    }
}
