// charity-team



.charity-team{
    padding: 29px 0 20px;
    &_list{
        .owl-item{
            opacity: .4;
            transition: opacity .2s;
            &.center{
                opacity: 1;
            }
        }
    }
    &_i{
        width: 280px;
        margin: auto;
    }
}




.charity-team-descr{
    margin: 20px 0 0;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none;
    &_wrap{
        display: block;
    }
    &_cont{
        display: block;
        padding: 0;
    }
    &_name{
        text-align: center;
    }
    &_meta{
        display: block;
        width: auto;
        padding: 15px 0 0 31px;
    }
}
