// charity-reports



.charity-reports{
    padding: 20px 10px;
    &_i{
        width: 50% - 1.6;
        border: 4px solid #f2f2f2;
    }
    &_ico{
        width: 54px;
        height: 72px;
        margin: 15px auto;
    }
    &_link{
        margin-top: 10px;
    }
    &_size{
        margin-bottom: 15px;
    }
}
