// charity-stats



.charity-stats{
    padding: 20px 0;
    &_img{
        display: none;
    }
    &_cont{
        float: none;
        width: auto;
        padding: 0;
    }
}




.charity-stats-value{
    margin: 0;
    &_i{
        width: 50%;
        padding: 0 10px;
    }
    &_val{
        font-size: 80px;
    }
    &_lbl{
        margin: 0;
        font-size: 13px;
        line-height: 1.3;
    }


    @media (max-width: 424px) {
        &_val{
            font-size: 60px;
        }
    }
}




.charity-stats-graph{
    margin-top: 35px;
    padding: 0 10px;
    &_legend{
        top: 0;
        left: 10px;
    }
}

