// charity-social-politics



.charity-social-politics{
    &_head{
        margin: 0 0 25px;
    }
    &_block{
        display: block;
        padding: 0 10px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
    &_ava{
        display: block;
        width: auto;
        padding: 0;
        text-align: center;
        margin: 0 0 15px;
    }
    &_cont{
        display: block;
        padding: 0;
    }
    &_name,
    &_prof{
        text-align: center;
    }
    &_docs{
        display: block;
        width: auto;
        padding: 0;
    }
}



.charity-social-docs{
    margin: 30px 0 0 31px;
    &_i{
        min-height: 48px;
        margin-top: 20px;
        padding: 4px 0 0 50px;
        &:hover{
            .charity-social-docs_ico{
                background-position: -68px 0;
            }
        }
    }
    &_ico{
        width: 36px;
        height: 48px;
        background-size: cover;
    }
}
