// charity-school



.charity-school{
    padding: 30px 0;
    &_head{
        display: none;
    }
    &_cont,
    &_right{
        margin: 0;
        padding: 0 10px;
    }
    &_title{
        font-size: 28px;
    }
    &_img{
        display: none;
    }
    &_action{
        margin: 20px 0 0;
        .btn{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
