// charity-biblio



.charity-biblio{
    padding: 30px 0;
    &_search{
        width: auto;
        padding: 0 10px;
        .form-control{
            background-image: none;
        }
    }
    &_list{
        margin: 0;
    }
}
