// charity-top-projects



.charity-top-projects{
    padding: 0 0 10px;
    .project-card-list{
        &:extend(.mobile-scroll all);
        margin: 0;
        padding: 15px 0 10px;
    }

    .charity-wide-banner{
        margin: 5px 0;
    }
}
