// charity-events



.charity-events{
    padding: 20px 0;
    background: #f5f5f5;
    &_head{
        margin: 0 10px 20px;
    }
    &_list{
        margin: 0;
    }
    &_i{
        display: block;
        width: auto;
        margin: 20px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_cont{
        padding-left: 20px;
        padding-right: 20px;
    }
    &_link{
        border-radius: 0;
        box-shadow: none;
    }
    &_img{
        border-radius: 0;
    }


    .charity-wide-banner{
        margin: 20px 0 0;
    }


    &__rich{
        .charity-events{
            &_i{
                &:first-child{
                    width: auto;
                    .charity-events{
                        &_cont{
                            width: auto;
                            margin: 0;
                        }
                        &_descr,
                        &_action{
                            display: none;
                        }
                        &_img{
                            position: static;
                            width: auto;
                            border-radius: 0;
                            img{
                                display: inline;
                            }
                        }
                        &_img-cover{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
