// charity-news



.charity-news{
    padding: 20px 0;

    .charity-nav{
        margin-left: 10px;
        margin-right: 10px;
    }

    &_head{
        margin: 0 0 15px;
    }
    &_i{
        margin: 40px 0 0;
        padding: 0;
        border: 0;
    }
    &_img{
        float: none;
        width: auto;
        margin: 0 0 20px;
        img{
            width: 100%;
        }
    }
    &_cont{
        padding: 0 10px;
    }
}
