// charity-menu



.charity-menu{
    padding: 0;
    &_list{
        position: relative;
        z-index: 2;
        height: 60px;
        padding: 60px 0 0;
    }
    &_i{
        display: none;
        margin: 0;
        background: #fff;
        &.active{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;

            .charity-menu_link{
                position: relative;
                padding: 14px 0;
                border-bottom: 1px solid #e9e9e9;
                &:after{
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    width: 9px;
                    height: 9px;
                    margin: 10px 0 0 15px;
                    border-right: 2px solid #d90951;
                    border-bottom: 2px solid #d90951;
                    transform: rotate(45deg);
                    transition: .2s;
                }
            }
        }
    }
    &_link{
        display: block;
        padding: 0;
    }

    &.open{
        .charity-menu{
            &_i{
                display: block;
                &:not(.active){
                    font-size: 16px;
                    line-height: 20px;
                    border-bottom: 1px solid #e9e9e9;
                    .charity-menu{
                        &_link{
                            padding: 8px 0;
                            border: 0;
                        }
                        &_ico{
                            transform: scale(.8);
                        }
                    }
                }
            }
        }
    }
}
