// charity main



.charity-carousel{
    padding: 10px 0;
}




.charity-main-cont{
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    .col-3{
        position: static;
    }
}




.charity-main-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


    &_overlay{
        opacity: 0;
        visibility: hidden;
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: fade(#000, 50);
        transition: .2s;
    }

    &_wrap{
        position: absolute;
        z-index: 9;
        top: 0;
        left: 100%;
        //width: 350px;
        width: ~"calc(84% + 35px)";
        height: 100%;
        margin: 0 0 0 -35px;
        padding: 0 0 0 35px;
        overflow: hidden;
        transition: .2s;
        //transform: translate3d(0, 0, 0);
    }
    &_cont{
        height: 100%;
        background: #fff;
        border-left: 1px solid #dadada;
        transition: left .2s, box-shadow .2s;
    }
    &_in{
        padding: 10px;
    }

    &_toggle{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 1px;
        width: 35px;
        height: 100vh;
        overflow: hidden;
        cursor: pointer;
        transition: left .2s;
        &.fixed{
            left: ~"calc(100% - 34px)";
        }
        &.notrns{
            transition: none;
        }
    }
    &_toggle-ico{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(0, -50%, 0);
        width: 18px;
        height: 30px;
        background: #f1f1f1;
        border-radius: 5px 0 0 5px;
        box-shadow: 0 0 10px 1px fade(#000, 50);
        &:before{
            content: '';
            position: absolute;
            top: 8px;
            left: 6px;
            width: 7px;
            height: 14px;
            border: solid #4a4a4a;
            border-width: 0 2px;
        }
    }


    &.open{
        .charity-main-sidebar{
            &_overlay{
                opacity: 1;
                visibility: visible;
            }
            &_wrap{
                //transform: translate3d(-315px, 0, 0);
                left: 16%;
            }
            &_toggle{
                //transform: translate3d(-315px, 0, 0);
                &.fixed{
                    left: ~"calc(16% - 34px)";
                }
            }
            &_cont{
                box-shadow: 0 0 35px fade(#000, 40);
                //transform: translate3d(-315px, 0, 0);
            }
        }
    }
}



.charity-show-more{
    padding: 0 10px;
    &_link{
        color: lighten(@baseColor, 5);
        box-shadow: none;
        border: 4px solid lighten(@baseColor, 15);
    }
}


.charity-rich-more{
    padding-top: 35px;
    padding-bottom: 35px;
}


.charity-sidebar-banner{
    text-align: center;
}
