// project-list



.charity-page{
    .project-card-list{
        margin: -20px -10px 0;
    }
    .project-card-item{
        width: 240px;
        margin: 20px 0 0;
    }


    .project-card-list{
        &__item-3{
            padding: 20px 10px;
            text-align: center;
            .project-card-item{
                width: 240px;
            }


            @media (max-width: 519px) {
                .project-card-item{
                    display: block;
                    width: auto;
                }
                .project-card-cover{
                    width: 100%;
                    height: auto;
                }
                .project-card-text{
                    height: auto;
                }
                .project-card-name{
                    font-size: 16px;
                }
                .project-card-descr{
                    font-size: 13px;
                }
            }
        }
    }
}
