// project-wide-carousel



.project-wide-carousel-wrap{
    background: none;
}

.project-wide-carousel{
    padding: 0 50px;
    &.owl-carousel{
        padding: 0;
    }

    .owl-item{
        z-index: 1;
    }
    .owl-nav{
        display: none;
    }

    &_cover{
        float: none;
        width: auto;
        img{
            width: 100%;
            border-radius: 5px 5px 0 0;
        }
    }
    &_cont{
        position: static;
        float: none;
        width: auto;
        padding: 10px 14px 10px;
        border-radius: 0 0 5px 5px;
    }
    &_descr{
        height: 124px;
        margin: 0 0 5px;
    }

    &_foot{
        position: static;
    }
    &_bar{
        margin: 0 0 10px;
    }
    &_info-val{
        font-size: 16px;
    }
    &_action{
        .btn{
            padding: 11px 0;
            font-size: 15px;
        }
    }


    @media (min-width: 568px) {
        &_cover{
            img{
                border-radius: 5px;
            }
        }
        &_cont{
            position: absolute;
            top: auto;
            background: fade(#fff, 80);
        }
        &_descr{
            height: 103px;
        }
        &_info{
            float: left;
            width: 60%;
            margin: 6px 0 0;
        }
        &_action{
            float: left;
            width: 40%;
        }
    }

    @media (max-width: 374px) {
        &_info-lbl{
            font-size: 9px;
        }
        &_info-val{
            font-size: 15px;
        }
    }
}
