// school-book



.charity-school-book.school-book{
    overflow: hidden;
    .school-book{
        &_img{
            float: none;
            width: auto;
            margin: 0 -60px 0 0;
            overflow: hidden;
        }
        &_text{
            padding: 20px 10px;
            border-top: 1px solid #b7bfcb;
            text-align: center;
        }
        &_head{
            margin: 0 0 15px;
            font-size: 26px;
        }
    }
}
