<ng-template #tmpl>
    <div class="modal-header">
        <a (click)="tmplRef.hide()" class="close">×</a>
        <div class="modal-title">
            <span translate>mce.plugin.photo.title</span>
        </div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body">
        <div class="modal-foto-load">
            <p class="tc" [innerHTML]="'mce.plugin.photo.desc' | translate"></p>
            <div class="modal-foto-load-select">
                <span class="link" (click)="showPhotoLink()" translate>mce.plugin.photo.link</span>
                <span class="upload" (click)="showPhotoUpload()" translate>mce.plugin.photo.upload</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #link>
    <div class="modal-header">
        <a (click)="linkRef.hide()" class="close">×</a>
        <div class="modal-title" translate>mce.plugin.photo-link.title</div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body">
        <div class="upload-pic clearfix">
            <div class="upload-pic-img">
                <img [src]="lastLoadedImageUrl" alt="upload-pic.png" (load)="onLoadImage()" (error)="onErrorImage()">
            </div>
            <div class="upload-pic-option">
                <p class="tc" translate>mce.plugin.photo-link.label</p>
                <div class="upload-path">
                    <input name="img_url" #imgUrl placeholder="http://www.example.com"
                           (paste)="onImgUrlChanged(imgUrl.value)"
                           (focus)="onImgUrlChanged(imgUrl.value)"
                           (input)="onImgUrlChanged(imgUrl.value)"
                           (keyup)="onImgUrlChanged(imgUrl.value)">
                </div>
                <p></p>
                <p><span *ngIf="!imageLoading" [innerHTML]="imageByLinkResult | translate"></span><i class="icon-load"
                                                                                                     *ngIf="imageLoading"></i>
                </p>
                <div id="photo-select-container"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont"><span id="spanButtonPlaceHolder"></span>
            <button [disabled]="submitDisabled()" (click)="insertImage()" class="btn btn-primary" translate>
                mce.plugin.photo-link.ok
            </button>
            <button class="btn" (click)="linkRef.hide()" translate>mce.plugin.photo-link.cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #upload>
    <div class="modal-header">
        <a (click)="uploadRef.hide()" class="close">×</a>
        <div class="modal-title" translate>mce.plugin.photo-upload.title</div>
    </div>
    <div class="modal-body">
        <div class="upload-photo-modal">
            <div class="uploader-container">
                <div class="uploader-droptext" [innerHTML]="'mce.plugin.photo-upload.desc' | translate"></div>
                <div class="modal-scroll">
                    <div class="modal-scroll-content" style="position: relative; overflow: hidden; height: 230px;">
                        <div class="scrollbar-pane"
                             style="position: absolute; overflow: visible; height: auto; width: 100%; top: 0px;">
                            <ul class="uploader-filelist" style=""></ul>
                        </div>
                        <div class="scrollbar-handle-container word-hidden"
                             style="position: absolute; height: 230px; display: none;">
                            <div class="scrollbar-handle"
                                 style="position: absolute; cursor: pointer; height: 2939px; top: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <div class="btn-group pull-right">
                <button type="reset" class="btn btn-default" (click)="uploadRef.hide()" translate>
                    mce.plugin.photo-upload.cancel
                </button>
                <button type="submit" class="btn btn-primary" disabled="disabled" translate>mce.plugin.photo-upload.ok
                </button>
            </div>
            <div class="uploader-upload-btn">
                <span class="btn btn-primary fileinput-button">
                    <i class="fa fa-upload"></i>
                    <span translate>mce.plugin.photo-upload.choose</span>
                    <input type="file" name="files[]" id="fileupload-09947722679291917" multiple="true">
                </span>
            </div>
        </div>
    </div>
</ng-template>
