article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:hover,a:active{outline:0}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{max-width:100%;border:0;-ms-interpolation-mode:bicubic}
.google-maps img{max-width:none}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top}
@font-face{font-family:'ALSRubl-Arial';src:url('../fonts/alsrubl-arial-regular.eot');src:url('../fonts/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/alsrubl-arial-regular.woff') format('woff'),url('../fonts/alsrubl-arial-regular.ttf') format('truetype'),url('../fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');font-weight:normal;font-style:normal}.b-rub{font-family:'ALSRubl-Arial',Arial,sans-serif;line-height:normal}
@font-face{font-family:"ProximaNovaRegular";src:url("../fonts/proximanova-reg-webfont.eot");src:url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/proximanova-reg-webfont.woff") format("woff"),url("../fonts/proximanova-reg-webfont.ttf") format("truetype"),url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'ProximaNovaRegular';src:url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg")}}.proxima-reg{font-family:'ProximaNovaRegular',Arial,sans-serif}.proxima-reg i,.proxima-reg em{font-family:'ProximaNovaRegularItalic',Arial,sans-serif;font-style:normal}
.proxima-reg b,.proxima-reg strong{font-family:'ProximaNovaBold',Arial,sans-serif;font-weight:400}
@font-face{font-family:"ProximaNovaBoldIt";src:url("../fonts/proximanova-boldit-webfont.eot");src:url("../fonts/proximanova-boldit-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/proximanova-boldit-webfont.woff") format("woff"),url("../fonts/proximanova-boldit-webfont.ttf") format("truetype"),url("../fonts/proximanova-boldit-webfont.svg#proxima_novabold_italic") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'ProximaNovaBoldIt';src:url("../fonts/proximanova-boldit-webfont.svg#proxima_novabold_italic") format("svg")}}.proxima-boldit{font-family:'ProximaNovaBoldIt',Arial,sans-serif}
@font-face{font-family:"ProximaNovaBold";src:url("../fonts/proximanova-bold-webfont.eot");src:url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/proximanova-bold-webfont.woff") format("woff"),url("../fonts/proximanova-bold-webfont.ttf") format("truetype"),url("../fonts/proximanova-bold-webfont.svg#proxima_novabold_italic") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'ProximaNovaBold';src:url("../fonts/proximanova-bold-webfont.svg#proxima_novabold_italic") format("svg")}}.proxima-bold{font-family:'ProximaNovaBold',Arial,sans-serif}
@font-face{font-family:"ProximaNovaRegularItalic";src:url("../fonts/proximanova-regit-webfont.eot");src:url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/proximanova-regit-webfont.woff") format("woff"),url("../fonts/proximanova-regit-webfont.ttf") format("truetype"),url("../fonts/proximanova-regit-webfont.svg#proxima_novaregular_italic") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'ProximaNovaRegularItalic';src:url("../fonts/proximanova-regit-webfont.svg#proxima_novaregular_italic") format("svg")}}.proxima-regular-it{font-family:'ProximaNovaRegularItalic',Arial,sans-serif}
@font-face{font-family:"minionpromediumit";src:url("../fonts/minionpro-mediumit.eot");src:url("../fonts/minionpro-mediumit.eot?#iefix") format("embedded-opentype"),url("../fonts/minionpro-mediumit.woff") format("woff"),url("../fonts/minionpro-mediumit.ttf") format("truetype"),url("../fonts/minionpro-mediumit.svg#minionpromediumit") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'minionpromediumit';src:url("../fonts/minionpro-mediumit.svg#minionpromediumit") format("svg")}}.minionpro-mediumit{font-family:'minionpromediumit',Arial,sans-serif}
@font-face{font-family:"minionproboldit";src:url("../fonts/minionpro-boldit.eot");src:url("../fonts/minionpro-boldit.eot?#iefix") format("embedded-opentype"),url("../fonts/minionpro-boldit.woff") format("woff"),url("../fonts/minionpro-boldit.ttf") format("truetype"),url("../fonts/minionpro-boldit.svg#minionproboldit") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'minionproboldit';src:url("../fonts/minionpro-boldit.svg#minionproboldit") format("svg")}}.minionpro-boldit{font-family:'minionproboldit',Arial,sans-serif}
@font-face{font-family:"minionprosemiboldit";src:url("../fonts/minionpro-semiboldit.eot");src:url("../fonts/minionpro-semiboldit.eot?#iefix") format("embedded-opentype"),url("../fonts/minionpro-semiboldit.woff") format("woff"),url("../fonts/minionpro-semiboldit.ttf") format("truetype"),url("../fonts/minionpro-semiboldit.svg#minionprosemiboldit") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'minionprosemiboldit';src:url("../fonts/minionpro-semiboldit.svg#minionprosemiboldit") format("svg")}}.minionpro-semiboldit{font-family:'minionprosemiboldit',Arial,sans-serif}
@font-face{font-family:"minionproit";src:url("../fonts/minionpro-it.eot");src:url("../fonts/minionpro-it.eot?#iefix") format("embedded-opentype"),url("../fonts/minionpro-it.woff") format("woff"),url("../fonts/minionpro-it.ttf") format("truetype"),url("../fonts/minionpro-it.svg#minionproit") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'minionproit';src:url("../fonts/minionpro-it.svg#minionproit") format("svg")}}.minionpro-it{font-family:'minionproit',Arial,sans-serif}
@font-face{font-family:"helveticaneuecyrbold";src:url("../fonts/helveticaneuecyr-bold-webfont.eot");src:url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"),url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"),url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'helveticaneuecyrbold';src:url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg")}}.helveticaneue-bold{font-family:'helveticaneuecyrbold',Arial,sans-serif}
@font-face{font-family:"gotham_proregular";src:url("../fonts/gothaproreg-webfont.eot");src:url("../fonts/gothaproreg-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/gothaproreg-webfont.woff") format("woff"),url("../fonts/gothaproreg-webfont.ttf") format("truetype"),url("../fonts/gothaproreg-webfont.svg#gotham_proregular") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'gotham_proregular';src:url("../fonts/gothaproreg-webfont.svg#gotham_proregular") format("svg")}}.gothampro-reg{font-family:'gotham_proregular',Arial,sans-serif}
@font-face{font-family:"gotham_probold";src:url("../fonts/gothaprobol-webfont.eot");src:url("../fonts/gothaprobol-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/gothaprobol-webfont.woff") format("woff"),url("../fonts/gothaprobol-webfont.ttf") format("truetype"),url("../fonts/gothaprobol-webfont.svg#gotham_probold") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'gotham_probold';src:url("../fonts/gothaprobol-webfont.svg#gotham_probold") format("svg")}}.gothampro-bold{font-family:'gotham_probold',Arial,sans-serif}
@font-face{font-family:"gotham_problack";src:url("../fonts/gothaprobla-webfont.eot");src:url("../fonts/gothaprobla-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/gothaprobla-webfont.woff") format("woff"),url("../fonts/gothaprobla-webfont.ttf") format("truetype"),url("../fonts/gothaprobla-webfont.svg#gotham_problack") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'gotham_problack';src:url("../fonts/gothaprobla-webfont.svg#gotham_problack") format("svg")}}.gothampro-black{font-family:'gotham_problack',Arial,sans-serif}
@font-face{font-family:"gotham_prolight";src:url("../fonts/gothaprolig-webfont.eot");src:url("../fonts/gothaprolig-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/gothaprolig-webfont.woff") format("woff"),url("../fonts/gothaprolig-webfont.ttf") format("truetype"),url("../fonts/gothaprolig-webfont.svg#gotham_prolight") format("svg");font-weight:normal;font-style:normal}@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'gotham_prolight';src:url("../fonts/gothaprolig-webfont.svg#gotham_prolight") format("svg")}}.gothampro-light{font-family:'gotham_prolight',Arial,sans-serif}
@font-face{font-family:'pf_din_text_cond_pro';src:url('../fonts/pfdintextcondpro-regular-webfont.eot');src:url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'pf_din_text_cond_pro';src:url('../fonts/pfdintextcondpro-medium-webfont.eot');src:url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');font-weight:500;font-style:normal}@font-face{font-family:'pf_din_text_cond_pro';src:url('../fonts/pfdintextcondpro-bold-webfont.eot');src:url('../fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),url('../fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),url('../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');font-weight:700;font-style:normal}.ff-pf-din-cond-pro{font-family:'pf_din_text_cond_pro',Arial,sans-serif}
[class^="bs-icons-"]{display:inline-block;width:40px;height:40px;vertical-align:text-top;background-image:url(../images/icon/soc-pop-sprite.png);background-position:0 0;background-repeat:no-repeat;position:relative;line-height:40px;cursor:pointer;opacity:.6;-webkit-transition:opacity .1s;-moz-transition:opacity .1s;-ms-transition:opacity .1s;-o-transition:opacity .1s;transition:opacity .1s}[class^="bs-icons-"]:hover{opacity:1}
.bs-icons-fb{background-position:0 -40px}
.bs-icons-tw{background-position:-40px -40px}
.bs-icons-ok{background-position:-80px -40px}
.bs-icons-vk{background-position:-120px -40px}
.bs-icons-gp{background-position:-160px -40px}
.bs-icons-mr{background-position:-200px -40px}
.bs-icons-em{background-position:-240px -40px}
.bs-icons-pr{background-position:-280px -40px}
.bs-icons-mm{background-position:-320px -40px}
.bs-icons-sb{background-position:-360px -40px}
.pull-right{float:right}
.pull-left{float:left}
.hide{display:none}
.show{display:block}
.invisible{visibility:hidden}
.relative{position:relative}
.grid-indent-left{margin-left:-18px !important}
.grid-indent-right{margin-right:-18px !important}
.grid-indent-both{margin-left:-18px !important;margin-right:-18px !important}
.grid-indent-wp-left{margin-left:-18px !important;padding-left:18px !important}
.grid-indent-wp-right{margin-right:-18px !important;padding-right:18px !important}
.grid-indent-wp-both{margin-left:-18px !important;padding-left:18px !important;margin-right:-18px !important;padding-right:18px !important}
.mrg-b-50{margin-bottom:50px !important}
.mrg-b-45{margin-bottom:45px !important}
.mrg-b-40{margin-bottom:40px !important}
.mrg-b-35{margin-bottom:35px !important}
.mrg-b-30{margin-bottom:30px !important}
.mrg-b-25{margin-bottom:25px !important}
.mrg-b-20{margin-bottom:20px !important}
.mrg-b-15{margin-bottom:15px !important}
.mrg-b-10{margin-bottom:10px !important}
.mrg-b-5{margin-bottom:5px !important}
.mrg-b-0{margin-bottom:0 !important}
.mrg-t-50{margin-top:50px !important}
.mrg-t-45{margin-top:45px !important}
.mrg-t-40{margin-top:40px !important}
.mrg-t-35{margin-top:35px !important}
.mrg-t-30{margin-top:30px !important}
.mrg-t-25{margin-top:25px !important}
.mrg-t-20{margin-top:20px !important}
.mrg-t-15{margin-top:15px !important}
.mrg-t-10{margin-top:10px !important}
.mrg-t-5{margin-top:5px !important}
.mrg-t-0{margin-top:0 !important}
.pdg-b-50{padding-bottom:50px !important}
.pdg-b-45{padding-bottom:45px !important}
.pdg-b-40{padding-bottom:40px !important}
.pdg-b-35{padding-bottom:35px !important}
.pdg-b-30{padding-bottom:30px !important}
.pdg-b-25{padding-bottom:25px !important}
.pdg-b-20{padding-bottom:20px !important}
.pdg-b-15{padding-bottom:15px !important}
.pdg-b-10{padding-bottom:10px !important}
.pdg-b-5{padding-bottom:5px !important}
.pdg-b-0{padding-bottom:0 !important}
.pdg-t-50{padding-top:50px !important}
.pdg-t-45{padding-top:45px !important}
.pdg-t-40{padding-top:40px !important}
.pdg-t-35{padding-top:35px !important}
.pdg-t-30{padding-top:30px !important}
.pdg-t-25{padding-top:25px !important}
.pdg-t-20{padding-top:20px !important}
.pdg-t-15{padding-top:15px !important}
.pdg-t-10{padding-top:10px !important}
.pdg-t-5{padding-top:5px !important}
.pdg-t-0{padding-top:0 !important}
.mrg-l-50{margin-left:50px !important}
.mrg-l-45{margin-left:45px !important}
.mrg-l-40{margin-left:40px !important}
.mrg-l-35{margin-left:35px !important}
.mrg-l-30{margin-left:30px !important}
.mrg-l-25{margin-left:25px !important}
.mrg-l-20{margin-left:20px !important}
.mrg-l-15{margin-left:15px !important}
.mrg-l-10{margin-left:10px !important}
.mrg-l-5{margin-left:5px !important}
.mrg-l-0{margin-left:0 !important}
.mrg-r-50{margin-right:50px !important}
.mrg-r-45{margin-right:45px !important}
.mrg-r-40{margin-right:40px !important}
.mrg-r-35{margin-right:35px !important}
.mrg-r-30{margin-right:30px !important}
.mrg-r-25{margin-right:25px !important}
.mrg-r-20{margin-right:20px !important}
.mrg-r-15{margin-right:15px !important}
.mrg-r-10{margin-right:10px !important}
.mrg-r-5{margin-right:5px !important}
.mrg-r-0{margin-right:0 !important}
.pdg-l-50{padding-left:50px !important}
.pdg-l-45{padding-left:45px !important}
.pdg-l-40{padding-left:40px !important}
.pdg-l-35{padding-left:35px !important}
.pdg-l-30{padding-left:30px !important}
.pdg-l-25{padding-left:25px !important}
.pdg-l-20{padding-left:20px !important}
.pdg-l-15{padding-left:15px !important}
.pdg-l-10{padding-left:10px !important}
.pdg-l-5{padding-left:5px !important}
.pdg-l-0{padding-left:0 !important}
.pdg-r-50{padding-right:50px !important}
.pdg-r-45{padding-right:45px !important}
.pdg-r-40{padding-right:40px !important}
.pdg-r-35{padding-right:35px !important}
.pdg-r-30{padding-right:30px !important}
.pdg-r-25{padding-right:25px !important}
.pdg-r-20{padding-right:20px !important}
.pdg-r-15{padding-right:15px !important}
.pdg-r-10{padding-right:10px !important}
.pdg-r-5{padding-right:5px !important}
.pdg-r-0{padding-right:0 !important}
.no-pdg{padding:0 !important}
.cur-p{cursor:pointer}
.no-ac-st{cursor:default !important}.no-ac-st:active{background:transparent !important}
.project-card-list{*zoom:1;position:relative;margin:-20px 0 20px -20px;font-size:0;text-align:center}.project-card-list:before,.project-card-list:after{display:table;content:""}
.project-card-list:after{clear:both}
.project-card-list .list-loader{margin:40px 0 0 18px}
.project-card-item{position:relative;display:inline-block;vertical-align:top;width:218px;margin:20px 0 0 20px;word-wrap:break-word;text-align:left;border:1px solid #dfe1e1;border-top:0;background:#fff}
.project-card-link{*zoom:1;display:block;min-height:426px;color:#333;background:#fff}.project-card-link:before,.project-card-link:after{display:table;content:""}
.project-card-link:after{clear:both}
.project-card-link [class^="project-card-"]{display:block}
.project-card-link:hover{text-decoration:none}
.project-card-update{position:absolute;top:0;left:100%}.project-card-update .pcu-count{position:relative;top:-8px;left:-50%;padding:1px 5px;font:700 11px/14px Arial,sans-serif;color:#fff;background:#e35050;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:default}
.project-card-cover-wrap{position:relative;height:134px;margin:0 -1px 15px;background:#1a1a1a}
.project-card-text{max-height:206px;overflow:hidden}
.project-card-name{max-height:63px;margin:0 14px 12px;overflow:hidden;font:15px/21px 'ProximaNovaBold',Arial,sans-serif;color:#000}
.project-card-descr{margin:0 14px;font-size:12px;line-height:21px;color:#393939}
.project-card-footer{position:absolute;bottom:0;left:0;right:0;height:59px}
.project-card-info{margin:15px 14px}
.project-card-info-i{width:50%;float:left}
.pci-label{display:block;font-size:10px;line-height:12px;color:#2d2e2e;text-transform:uppercase}
.pci-value{display:block;height:24px;overflow:hidden;font:700 18px/24px Arial,sans-serif;color:#3498db}
.project-card-info-i+.project-card-info-i .pci-value{color:#acacac}
.project-card-finish{margin:15px 0 0;font-size:10px;line-height:12px;text-align:center;text-transform:uppercase;color:#3f3f3f}
.project-card-finish-sum{text-align:center}
.project-card-cover-finish{position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,0.7)}.project-card-cover-finish.project-success{background:rgba(52,152,219,0.5)}
.project-card-fail-label,.project-card-success-label{position:absolute;right:0;bottom:0;left:0;padding:6px 0 6px;background:rgba(153,153,153,0.5);font-size:8px;font-weight:700;text-transform:uppercase;text-align:center;letter-spacing:1px;color:#fff}
.project-card-success-label{background:rgba(52,152,219,0.8)}
.project-card-no-progress{position:absolute;top:0;left:-1px;right:-1px;border-bottom:1px dashed #95a5a6}
.project-card-progress{position:absolute;top:0;left:-1px;right:-1px;background:#d7dadf}.project-card-progress .pcp-bar{display:block;max-width:100%;height:2px;background:#3498db}
.project-card-progress.over-progress{background:#a8d0ed}
.project-card-progress.finish-fail .pcp-bar{background:#acacac}
.project-card-item-finish .project-card-name,.project-card-item-finish .project-card-descr{color:#808080}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.text-center{text-align:center}
.flat-btn{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:inline-block;padding:16px 44px;background:#3498db;font-family:Arial,sans-serif;font-weight:700;text-decoration:none;color:#fff}.flat-btn:hover{background:#3aacf8;color:#fff;text-decoration:none}
.flat-btn:active{background:#2c85c0}
html,body{height:100%}
body{margin:0;background:#fff;font:16px/1.5 Arial,sans-serif;color:#1a1a1a}
a{color:#c0392b;text-decoration:none}a:hover{color:#e74c3c;text-decoration:underline}
.h-link{text-decoration:none;border-bottom:1px solid #e08076}.h-link:hover{text-decoration:none;border-bottom-color:#f2a097}
.wrap{margin:0 auto;width:940px}
.header-wrap{-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);box-shadow:0 5px 10px 0 rgba(0,0,0,0.1)}
.header{*zoom:1;height:130px}.header:before,.header:after{display:table;content:""}
.header:after{clear:both}
.header-logo{display:block;float:left;margin:49px 0 0;width:129px;height:34px;background:url(../images/header-logo.png)}
.header-title{margin:46px 130px 0;color:#000;text-align:center;font-size:40px;line-height:100%;letter-spacing:-1px;cursor:default}.header-title a{color:#000}.header-title a:hover{color:#26aedd;text-decoration:none}
.footer{padding:29px 0 35px}
.footer-copy{display:inline-block;font-family:'ProximaNovaRegular',Arial,sans-serif;font-size:12px;line-height:1.2}.footer-copy i,.footer-copy em{font-family:'ProximaNovaRegularItalic',Arial,sans-serif;font-style:normal}
.footer-copy b,.footer-copy strong{font-family:'ProximaNovaBold',Arial,sans-serif;font-weight:400}
.main-total{padding:66px 0;text-align:center;letter-spacing:-0.1em}.main-total_head{font-family:'gotham_proregular',Arial,sans-serif;font-size:46px;line-height:1;text-transform:uppercase}
.main-total_val{font-family:'pf_din_text_cond_pro',Arial,sans-serif;font-size:150px;line-height:1;font-weight:500;color:#f32a6c}
.main-total_rub{display:inline-block;width:76px;height:105px;background:url(../images/common-count-rub.png) no-repeat}
.main-categories_i{overflow:hidden}
.main-categories_link{position:relative;cursor:pointer;height:240px;font-family:'gotham_proregular',Arial,sans-serif;letter-spacing:-0.1em;text-align:center;border-bottom:5px solid;color:#fff;background:#000 50% 0 / cover}.main-categories_link:before{content:'';position:absolute;left:0;right:0;bottom:0;height:0;transition:.1s}
.main-categories_link:after{display:none;content:'';position:absolute;z-index:1;left:50%;top:100%;height:33px;width:33px;margin:-13px 0 0 -16px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.main-categories_link:hover,.main-categories_link.active{color:#1a1a1a}.main-categories_link:hover:before,.main-categories_link.active:before{height:100%}
.main-categories_link:hover .main-categories_link-cont,.main-categories_link.active .main-categories_link-cont{padding-top:51px}
.main-categories_link:hover .main-categories_text,.main-categories_link.active .main-categories_text{opacity:1}
.main-categories_link.active:after{display:block}
.main-categories_link__million{border-bottom-color:#f1a61b;background-image:url(../images/main-cat-million.jpg)}.main-categories_link__million:before,.main-categories_link__million:after{background:#f1a61b}
.main-categories_link__creative{border-bottom-color:#ec2466;background-image:url(../images/main-cat-creative.jpg)}.main-categories_link__creative:before,.main-categories_link__creative:after{background:#ec2466}
.main-categories_link__film{border-bottom-color:#00b1e1;background-image:url(../images/main-cat-film.jpg)}.main-categories_link__film:before,.main-categories_link__film:after{background:#00b1e1}
.main-categories_link__charity{border-bottom-color:#ffdf17;background-image:url(../images/main-cat-charity.jpg)}.main-categories_link__charity:before,.main-categories_link__charity:after{background:#ffdf17}
.main-categories_link__music{border-bottom-color:#ec2466;background-image:url(../images/main-cat-music.jpg)}.main-categories_link__music:before,.main-categories_link__music:after{background:#ec2466}
.main-categories_link-cont{position:relative;padding:95px 0 0;transition:.2s}
.main-categories_head{margin:0 0 20px;font-size:46px;line-height:1;text-transform:uppercase}
.main-categories_text{font-size:26px;opacity:0;transition:opacity .2s}
.main-categories_cont{display:none}.main-categories_cont .wrap{padding:55px 0 30px}
.main-lead{padding:155px 0;text-align:center;font-family:'gotham_proregular',Arial,sans-serif}.main-lead_head{margin:0 0 30px;font-size:36px}
.main-lead_text{max-width:585px;margin:0 auto 40px;font-size:18px;line-height:30px}
.main-lead_action .flat-btn{font-size:20px}
.main-footer{margin:0 0 60px;font-family:'gotham_proregular',Arial,sans-serif;font-size:16px;text-align:center;color:#999}
.projects{margin:0 0 60px}
.projects-title{position:relative;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.1);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.1);box-shadow:0 5px 10px rgba(0,0,0,0.1);padding:33px 0;border-top:2px solid #000;background:#f5f5f5;color:#0f0f0f;text-align:center;font-size:24px}.projects-title .wrap{position:relative}.projects-title .wrap:before{content:"";position:absolute;top:5px;left:0;width:14px;height:16px;background:url(../images/basil.png)}
.projects-big{display:block;overflow:hidden;margin:0 0 40px;padding:260px 0 24px;background:url(../images/content/history-project-big.jpg) no-repeat;color:#fff;line-height:100%;-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}.projects-big:hover{color:#fff}
.projects-big-name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;height:33px;margin:0 0 0 26px;max-width:650px;font-size:34px;line-height:100%}
.projects-big-price{float:right;height:33px;margin:0 26px 0 0;font-weight:700;font-size:36px;font-family:'helveticaneuecyrbold',Arial,sans-serif;line-height:100%}
.projects-small-block{*zoom:1;margin:0 0 -45px -20px;font-size:0}.projects-small-block:before,.projects-small-block:after{display:table;content:""}
.projects-small-block:after{clear:both}
.projects-small{display:inline-block;vertical-align:top;margin:0 0 45px 20px;width:300px}
.projects-small-link{display:block;text-decoration:none;outline:none}.projects-small-link:hover{text-decoration:none}.projects-small-link:hover .projects-small-price{color:#c0392b}.projects-small-link:hover .projects-small-price:before,.projects-small-link:hover .projects-small-price:after{background:#c0392b}
.projects-small-cover{position:relative;display:block;margin:0 0 25px;height:160px}
.projects-small-img{position:absolute;top:0;left:0;max-width:300px}
.projects-small-name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:absolute;top:113px;left:30px;max-width:260px;color:#fff;font-size:24px;line-height:130%}.projects-small-name.invert{color:#0f0f0f}
.projects-small-price{display:block;overflow:hidden;margin:0 0 19px;font:700 30px/100% Arial,sans-serif;color:#070707;text-align:center;white-space:nowrap}.projects-small-price:before,.projects-small-price:after{content:"";display:inline-block;vertical-align:middle;width:50%;height:2px;background:#171717}
.projects-small-price:before{margin:0 .5em 0 -50%}
.projects-small-price:after{margin:0 -50% 0 .5em}
.projects-small-text{display:block;color:#383838;font-size:18px;line-height:150%}
.projects-bottom{text-align:center}.projects-bottom a{font-size:24px;line-height:100%}
.do-you-want{padding:60px 0 0;height:400px;background:#090b0b url(../images/do-you-want-bg.jpg) 50% 50% no-repeat;color:#fff;text-align:center}
.do-you-want-title{margin:0 0 20px;font-size:40px;line-height:100%;letter-spacing:-1px}
.do-you-want-sub-title{margin:0 0 25px;font-size:30px}
.do-you-want-text{margin:0 auto 45px;width:490px;line-height:150%}
.post{padding:36px 0 50px}.post>.wrap{*zoom:1}.post>.wrap:before,.post>.wrap:after{display:table;content:""}
.post>.wrap:after{clear:both}
.post-back-link{display:inline-block;margin:0 0 13px;padding:0 0 2px;border-bottom:1px solid #c8c8c8;color:#111;text-decoration:none;text-transform:uppercase;font:700 14px/100% Arial,sans-serif}.post-back-link:hover{text-decoration:none;color:#c0392b;border-bottom-color:#e08076}
.post-title{margin:0 0 28px;color:#111;font-size:33px;line-height:130%}
.post-main{position:relative;float:left;width:680px}
.post-big-img{margin:0 0 29px;max-width:100%}
.post-middle{*zoom:1}.post-middle:before,.post-middle:after{display:table;content:""}
.post-middle:after{clear:both}
.post-share{float:left;width:40px}.post-share [class^="bs-icons-"]{margin:0 0 11px}
.vertical-share .post-share{float:none;width:auto}.vertical-share .post-share [class^="bs-icons-"]{margin:0 11px 0 0}
.post-content{margin:0 0 80px 70px}.post-content .post-milestones{margin-left:-70px}
.post-content-text{margin:0 0 17px;padding:0 0 22px;color:#111;font-size:18px;line-height:165%}.post-content-text a{text-decoration:none;border-bottom:1px solid #e08076}.post-content-text a:hover{text-decoration:none;border-bottom-color:#f2a097}
.p-content-notice{padding:3px 0 0 19px;margin:30px 19px 10px 0;border-left:4px solid #c0392b}
.p-content-notice-blue{margin:20px 0;padding:10px 19px;font-size:15px;border-left:4px solid #aed0f0;background:#f2f2f2}
.p-notice-author{margin:5px 0;font:italic 400 12px/16px Arial,sans-serif;text-align:right;color:#666}
.post-author{margin:0 0 20px;color:#111;font-size:15px;line-height:100%}
.post-another-posts{font-size:24px;line-height:100%}
.post-meta{position:absolute;top:0;left:100%;width:210px;margin:0 0 0 29px;border:10px solid #e2e2e2}.post-meta:after{content:"";position:absolute;bottom:-34px;left:90px;display:block;width:28px;height:8px;background:url(../images/krakozybra.png) no-repeat}
.post-meta-item{padding:15px 10px;border-bottom:10px solid #e2e2e2;text-align:center}.post-meta-item:last-of-type{border:0}
.post-meta-item .p-meta-title{position:relative;margin:0 0 20px;font-size:14px;color:#131313;line-height:100%;text-transform:uppercase}.post-meta-item .p-meta-title:after{content:"";position:absolute;bottom:-10px;left:50%;display:block;width:145px;height:1px;margin:0 0 0 -72px;background:#d1d1d1}
.post-meta-item .p-meta-num{line-height:100%}.post-meta-item .p-meta-num.over-billion{font-size:34px}
.post-meta-item .p-meta-num-spn{position:relative;margin:0 0 20px;font-size:14px;color:#131313;line-height:100%}
.post-meta-item.collected{font-size:36px;color:#c0392b}
.post-meta-item.target{font-size:24px;color:#bdc3c7}
.post-meta-item.date{*zoom:1}.post-meta-item.date:before,.post-meta-item.date:after{display:table;content:""}
.post-meta-item.date:after{clear:both}
.post-meta-item.date .p-meta-title{margin-bottom:30px}.post-meta-item.date .p-meta-title:after{bottom:-19px}
.post-meta-item.date .p-meta-date-item{float:left;font-family:Arial,sans-serif}
.post-meta-item.date .pm-date-item-day{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.25);-moz-box-shadow:0 0 20px 0 rgba(0,0,0,0.25);box-shadow:0 0 20px 0 rgba(0,0,0,0.25);width:70px;height:65px;padding:5px 0 0;margin:0 12px 3px;background:url(../images/date-point.png) 50% 0 no-repeat;font-size:48px;font-weight:700;color:#000;line-height:70px}
.post-meta-item.date .pm-date-item-moth{margin:0 0 6px;font-size:12px;font-weight:700;color:#000}
.post-meta-item.date .pm-date-item-year{font-size:25px;font-weight:700;color:#c5c5c5}
.post-meta-item .p-meta-date-duration{margin-top:13px;font-size:18px;text-transform:none;color:#bdc3c7}.post-meta-item .p-meta-date-duration.with-year{font-size:16px}
.post-meta-item.members .p-meta-title{line-height:130%;text-transform:uppercase}
.post-meta-item.members .p-meta-num{margin:0 0 5px;font-size:36px;color:#bdc3c7}
.post-meta-item.members .p-meta-num-spn{margin:0}
.post-meta-item.pm-page-link .p-meta-title{margin:3px 0 0}.post-meta-item.pm-page-link .p-meta-title:after{display:none}
.post-meta-blog{position:absolute;top:680px;left:720px;width:210px;text-align:center;font-size:22px}
.p-content-manager-ava{margin:0 0 4px;background:url(../images/manager-ava-line.png) 50% 65px no-repeat;line-height:100%;text-align:center}.p-content-manager-ava img{-webkit-border-radius:144px;-moz-border-radius:144px;border-radius:144px;width:144px;height:144px}
.p-content-manager-name{margin:0 0 8px;font-size:30px;color:#040404;line-height:100%;text-align:center}
.p-content-manager-role{margin:0 0 34px;font-family:Arial,sans-serif;font-size:12px;color:#777;line-height:100%;text-align:center}
.p-content-manager-quote{position:relative;margin:0 0 15px;color:#111;font:italic 18px/165% Georgia,serif}.p-content-manager-quote:before,.p-content-manager-quote:after{position:absolute;display:block;font-family:'ProximaNovaRegularItalic',Arial,sans-serif;font-size:60px;color:#ababab}
.p-content-manager-quote:before{content:"“";top:15px;left:-50px}
.p-content-manager-quote:after{content:"”";right:-40px;bottom:-16px}
.p-content-manager-quote a{text-decoration:none;border-bottom:1px solid #e08076}.p-content-manager-quote a:hover{text-decoration:none;border-bottom-color:#f2a097}
.post-milestones{*zoom:1;margin:0 0 30px;padding:0}.post-milestones:before,.post-milestones:after{display:table;content:""}
.post-milestones:after{clear:both}
.post-milestones.large-milestones{width:750px;border-bottom:2px solid #363636}.post-milestones.large-milestones .post-milestones-list{margin-right:0}
.post-milestones.large-milestones .p-milestones-list-items{float:left;width:48%;margin-left:2%}
.post-milestones.large-milestones .p-milestones-list-title+.p-milestones-list-items{margin-left:0;margin-right:2%}
.post-milestones.large-milestones .pm-list-items-item{border:0}
.post-milestones-list{margin:0 280px 0 0}
.p-milestones-list-title{height:22px;padding:18px 0;margin:0 0 15px;border-top:2px solid #363636;background:#f1f1f1;font-size:24px;color:#363636;line-height:100%;text-align:center}
.pm-list-items-item{margin:0 0 25px}.pm-list-items-item:last-of-type{margin:0;padding:0 0 25px;border-bottom:2px solid #363636}
.pml-items-item-date{margin:0 0 5px;font-size:34px;color:#111;line-height:100%}
.pml-items-item-text{font-size:18px;color:#363636;line-height:170%}
.post-milestones-sidebar{float:right;width:250px}
.p-msb-item+.p-msb-item{margin-top:30px}
.p-msb-item iframe,.p-msb-item embed,.p-msb-item object,.p-msb-item img{display:block}
.p-msb-video a{display:block}
.p-msb-iframe{display:none;background:#1a1a1a url(../images/milestone-placeholder.jpg) no-repeat 50% 50%;margin-bottom:10px;width:509px}
.p-msb-head{margin:0 0 7px;padding:16px 20px 18px;font:italic 16px/20px Georgia,serif;color:#363636;text-align:center;border-top:2px solid #aed0f0;background:#f1f1f1}
.black{color:#303030}
.ava-block{display:inline-block}.ava-block img{display:block}
.ava-block div{font-family:'ProximaNovaBoldIt',Arial,sans-serif;font-size:15px;text-align:center}
.cite{font-family:'minionproboldit',Arial,sans-serif}
.h-video{position:relative;height:0;padding:0 0 56.25%;overflow:hidden;background:#1a1a1a}.h-video iframe,.h-video object,.h-video embed,.h-video video{position:absolute;top:0;left:0;width:100%;height:100%}
.relative{position:relative}
.side-pic{position:absolute;top:0;right:-250px;width:230px}
.check-photo{margin:0 0 40px}.check-photo img{max-width:940px}
.notice-source{font-family:Arial,sans-serif;font-size:12px;color:#777;line-height:100%;margin:0 0 30px 24px}
.rich-ol{margin:1em 0 1em 40px;padding:0;counter-reset:li;list-style:none}.rich-ol>li{position:relative}.rich-ol>li:before{content:counter(li);counter-increment:li;position:absolute;top:0;right:100%;margin:0 20px 0 0;font:italic 28px/28px Georgia,serif;color:#888}
.post-tips{position:relative;padding:40px;margin:0 -70px 60px;border:10px solid #4fb6fd;font-family:'ProximaNovaRegular',Arial,sans-serif;font-size:18px;line-height:165%;color:#111}.post-tips_img{position:absolute;top:40px;right:40px}.post-tips_img img{display:block}
.post-tips_head{position:relative;font-family:'ProximaNovaBold',Arial,sans-serif;font-size:32px;line-height:1.3;margin:0 0 35px 10px}
.post-tips_head-spn{-webkit-box-shadow:5px 0 0 5px #fff;-moz-box-shadow:5px 0 0 5px #fff;box-shadow:5px 0 0 5px #fff;background:#fff;box-decoration-break:clone}
.post-tips .rich-ol{font-size:.9em;line-height:1.5}
.short-blockquote{*zoom:1;margin:10px 0 60px;font-family:'ProximaNovaRegular',Arial,sans-serif;font-size:14px;line-height:1.45}.short-blockquote:before,.short-blockquote:after{display:table;content:""}
.short-blockquote:after{clear:both}
.short-blockquote_head{margin:0 0 40px;font-family:'ProximaNovaBold',Arial,sans-serif;font-size:29px;line-height:1.2;letter-spacing:.1em;text-align:center;text-transform:uppercase;white-space:nowrap}
.short-blockquote_wrap{float:left;width:100%;padding:40px 0;border:10px double #e94347;border-left:0;border-right:0}
.short-blockquote_i{float:left;width:300px;margin:0 0 0 20px}.short-blockquote_i:first-child{margin-left:0}
.short-blockquote_ava img{display:block}
.short-blockquote_name{padding:0 0 0 10px;margin:25px 0 15px;font-family:'ProximaNovaBold',Arial,sans-serif;font-size:16px;line-height:32px;text-transform:uppercase;letter-spacing:.1em;color:#fff}.short-blockquote_name span{-webkit-box-shadow:5px 0 0 5px #e94347,-5px 0 0 5px #e94347;-moz-box-shadow:5px 0 0 5px #e94347,-5px 0 0 5px #e94347;box-shadow:5px 0 0 5px #e94347,-5px 0 0 5px #e94347;background:#e94347;box-decoration-break:clone}
.image-mark{margin:-25px 0 29px;font-family:'ProximaNovaRegular',Arial,sans-serif;font-size:10px;color:#808080}
