//
// Planeta Aboute
// --------------------------------------------



// content
.aboute-content{
    text-align: justify;
    font-size: 14px;
    padding: 0 20px 20px;
    h1{
        margin: 16px 0;
        font-family: @baseFontFamily;
        font-weight: 700;
        text-align: left;
    }
    h3{
        margin: 12px 0;
        font-family: @baseFontFamily;
        font-weight: 700;
    }
    h4{
        font-size: 17px;
        font-family: @baseFontFamily;
        font-weight: 700;
        margin: 12px 0;
    }
    h5{
        font-size: 15px;
        font-family: @baseFontFamily;
        font-weight: 700;
        margin: 12px 0;
    }
    h6{
        font-size: 14px;
        font-family: @baseFontFamily;
        font-weight: 700;
        text-transform: none;
        margin: 12px 0;
        color: @textColor;
    }
    p{
        margin: 0 0 22px;
    }
    ul, ol{
        text-align: left;
        margin: 0 0 9px 35px;
    }
}
.aboute-partners-list{
    font-size: 0;
    text-align: left;
    margin: 0 0 0 -2%;
    .ap-item{
        display: inline-block;
        vertical-align: top;
        width: 31.3%;
        margin: 0 0 2% 2%;
        text-align: center;
        img{
            max-height: 116px;
        }
    }
}
.aboute-pantone-table{
    border: 1px solid #ddd;
    td{
        padding: 20px;
        vertical-align: middle;
        &:first-child{
            padding: 10px;
        }
    }
}

.about-payment-table{
    width: 100%;
    .item{
        padding: 10px;
        vertical-align: top;
        text-align: left;
    }
    th.item{
        border-bottom: 1px solid #ddd;
    }
    .mar1{
        padding: 5px 0;
        img{
            margin-right: 10px;
        }
    }
}
// /content


// sidebar menu
.r-menu-project-wrap{
    padding: 0 0 10px;
}

.n-side-wrap{
    & + &{
        margin-top: -1px;
    }
}
.n-side-block{
    background: #fff;
    border: 1px solid #d8dade;
    padding: 20px;
}
.n-side-h{
    margin: 0 0 15px;
    font: 700 14px @ff-proxima-nova;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e74c3c;
}


.r-menu-project{
    .rmp-block{
        margin: 0;
        padding: 0;
        .rmp-item{
            list-style: none;
            margin: 12px 0 0;
        }
        a{
            color: @textColor;
            &:hover{
                text-decoration: none;
            }
            &.active{
                font-weight: 700;
            }
        }
        .sub-rmp-block{
            position: relative;
            margin-left: 13px;
            padding: 1px 0;
        }
        .sub-rmp-caret{
            position: absolute;
            left: -13px;
            top: 11px;
            bottom: -3px;
            border: 1px solid #a3e1f0;
            border-right: 0;
            width: 5px;
        }
    }
}
// /sidebar menu


// advertisers page (media kit)
.advertisers-tabs{
    .nav{
        #font>.hide();
        border-bottom: 2px solid #00b0e0;
        margin: 0;
        list-style: none;
        li{
            display: inline-block;
            margin: 0 3px 0 0;
            vertical-align: top;
            a{
                border-radius: 8px 8px 0 0;
                display: block;
                padding: 10px 19px;
                background: #d1f0f6;
                font: 700 14px/100% @baseFontFamily;
                color: #000;
                text-decoration: none;
            }
            &.active a{
                padding: 11px 19px;
                background: #00b0e0 !important;
            }
            &:hover a{
                background: darken(#d1f0f6, 10%);
            }
        }
    }
    .tab-content{
        padding: 25px 0 25px 30px;
    }
}
.a-plane-list-item{
    margin: 0 0 50px;
    &:last-of-type{
        margin: 0;
    }
    img{
        float: left;
        width: 150px;
        max-height: 100%;
        margin: 0 24px 0 0;
        border: 2px solid #00cbf1;
    }
    table{
        width: 455px;
        tr{
            border-bottom: 1px solid #e6e6e6;
            td{
                &:last-of-type{
                    text-align: right;
                }
            }
        }
        &.one-item{
            margin: 18px 0 0;
        }
    }
    .color-gray{
        color: #999;
    }
}
// / advertisers page (media kit)
