// author alert



.alert-block{
    position: relative;
    padding: 30px 0;
    a{
        color: #000;
        text-decoration: underline;
        &:hover{
            color: @linkColor;
        }
    }
    &_close{
        position: absolute;
        top: 19px;
        right: 0;
        width: 21px;
        height: 21px;
        background: url('/images/project/faq-start-close.png') no-repeat;
        opacity: .2;
        cursor: pointer;
        &:hover{
            opacity: .4;
        }
    }
    &_ico{
        float: left;
        width: 44px;
        height: 39px;
        margin: 0 15px 0 0;
        background: url('/images/project/author-alert-ico.png') no-repeat;
    }
    &_action{
        float: right;
        margin: 0 0 0 15px;
    }
    &_cont{
        overflow: hidden;
    }
    &_head{
        margin: -2px 0 0;
        .proxima-bold();
        font-size: 24px;
        line-height: 26px;
        color: #f7941d;
    }
    &_text{
        margin: 0 30px 0 0;
        .proxima_nova_rgregular();
        font-size: 16px;
        line-height: 1.2;
        color: #262626;
    }

    &__text{
        padding: 20px 0;
        .alert-block_action{
            margin-top: -11px;
            margin-bottom: -11px;
        }
    }
    &__moderation{
        .alert-block{
            &_ico{
                background-position: -100px 0;
            }
            &_head{
                color: #ccc;
            }
        }
    }
    &__warning{
        .alert-block{
            &_ico{
                background-position: -50px 0;
            }
            &_head{
                color: #c0392b;
            }
        }
    }
}
// /author alert
