//
// Planeta Audio
// --------------------------------------------

.track-list{
    display: inline-block;
    width: 100%;
}
.track-list-item{
    &:extend(.cf-mix all);
    margin-left: 0;
    position: relative;
    padding: 9px 10px;
    border-bottom: 1px solid @borderLight;
    &:hover{
        background: #fafafa;
        .track-list-item-option{
            .track-list-item-option-time{ display: none; }
            .track-list-item-option-btn{ display: inline-block; }
            .tag-add-list, .option-list{ display: block; }
        }
    }
    &.moving{
        border: 1px solid #adcbd7;
        width: 242px;
        background: #ebf8fd;
        .track-list-item-moving-shadow{
            display: block;
        }
        .track-list-item-option{
            display: none;
        }
        .track-list-item-name{
            margin: 0 !important;
        }
        .track-list-item-count .play-track{
            background: url('/images/icon/aac-play-moving.png') !important;
        }
    }
    &.not-found{
        padding: 15px 17px;
        background: #f4f4f4;
        &:before{
            content: '';
            position: absolute;
            top: -2px;
            bottom: -1px;
            left: -1px;
            display: block;
            border-left: 2px solid #e74c3c;
        }
        &:first-child{
            &:before{
                top: 0;
            }
        }
    }
    &:first-child{
        border-top: 1px solid @borderLight;
    }
    &.listen-now{
        background: #ebf8fd !important;
        .track-list-item-progress-bar-wrap{
            display: block;
        }
        .track-list-item-count{
            background: #f2fafc;
            box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2) inset;
        }
        &:hover {
            .ui-slider-handle{
                display: inline-block;
            }
        }
    }
    .track-list-item-moving-shadow{
        position: absolute;
        top: 0;
        right: 0;
        width: 84px;
        height: 50px;
        display: none;
        background: url('/images/icon/track-item-moving-shadow.png');
    }
    .track-list-item-count{
        background: #f4f4f4;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        border-radius: 4px;
        float: left;
        width: 30px;
        height: 30px;
        margin: 0 0 0 1px;
        cursor: pointer;
        &:active{
            box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
        }
        &:hover{
            .play-track{
                background: url('/images/icon/aac-play-hover.png') no-repeat scroll center center transparent;
                text-decoration: none;
            }
        }
        .play-track{
            background: url('/images/icon/aac-play.png') no-repeat scroll center center transparent;
            width: 30px;
            height: 30px;
            display: block;
            font-size: 0;
            &.pause{
                background: url('/images/icon/aac-play-pause.png') no-repeat scroll center center transparent !important;
            }
        }
    }
    .track-list-item-name{
        overflow: hidden;
        padding: 0 10px;
        font-size: 11px;
        line-height: 15px;
        color: #000;
        margin: 0 60px 0 0 !important;
        .track-list-item-name-title{
            .text-overflow();
            word-wrap: normal;
            color: #000;
            font-weight: 700;
            &:hover{
                text-decoration: none;
            }
        }
        .track-list-item-name-author{
            .text-overflow();
            a{
                font-size: 11px;
                color: #000;
                text-decoration: none;
                &:hover{
                    border-bottom: 1px solid #cecece;
                }
            }
        }
     }
    .track-list-item-option{
        position: absolute;
        top: 19px;
        right: 10px;
        text-align: right;
        width: 63px;
        font-size: 11px;
        line-height: 14px;
        color: #000;
        .track-list-item-option-time{
            font-size: 11px;
            color: #000;
        }
        .track-list-item-option-btn{
            display: none;
            &.open{
                .a-m-m-actions-btn-pop-up{
                    display: block;
                }
            }
            &.bottom-up{
                .a-m-m-actions-btn-pop-up{
                    top: auto;
                    bottom: 100%;
                }
            }
            > i{
                width: 12px;
                height: 11px;
                margin: 1px 0;
                cursor: pointer;
            }
            .audio-modal-icon-move{
                margin: 1px 0 0 3px;
            }
        }
    }
    .track-list-item-progress-bar-wrap{
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 1;
        display: none;
        height: 7px;
        width: 100%;
        cursor: pointer;
    }
    .track-list-item-progress-bar{
        position: relative;
        top: 4px;
        border: 0;
        background: #e7e7e7;
        height: 3px;
        .track-list-item-progress-bar-load, .ui-slider-range{
            position: absolute;
            height: 100%;
            background: @blue;
        }
        .track-list-item-progress-bar-dwnd{
            position: absolute;
            background: #d9d9d9;
            height: 100%;
        }
        .ui-slider-handle{
            box-shadow: 0 0 0 1px rgba(0, 144, 184, 0.8);
            border-radius: 9px;
            position: absolute;
            left: 0;
            top: -2px;
            display: none;
            height: 7px;
            width: 7px;
            border: 0;
            background: #00baeb;
            cursor: pointer;
            margin: 0 0 0 -5px;
            &:focus {
                outline: none;
            }
        }
    }
}
.track-list-item-move{
    float: left;
    width: 18px;
    margin: 6px 0 0;
    cursor: move;
    [class^="icon-"]{
        opacity: .4;
    }
}

.track-list + .track-list{
    .track-list-item{
        &:first-child{
            border-top: 0;
        }
    }
}




.modal-scroll{
    .track-list{
        display: block;
        width: auto;
        margin-right: 10px;
        .track-list-item{
            &:hover{
                .track-list-item-option-time{
                    display: block;
                }
            }
        }
    }
}

