// avatar-common-block

.avatar-common-block{
    word-wrap: break-word;
    &:extend(.cf-mix all);
    .avatar{
        float: left;
        margin: 0 10px 0 0;
        img{
            display: block;
        }

    }
    .content{
        overflow: hidden;
    }
}
