//
// Planeta top bar menu with dropdown list
//
// --------------------------------------------


.container-top-bar{
    position: relative;
    z-index: 1;
    margin: -10px 0 18px;
    height: 68px;
    border-bottom: 1px solid #dfe4e5;
    background: #fbfbfb;
}

