// dropdown popup


.dropdown-popup{
    cursor: auto;
    display: none;
    position: absolute;
    z-index: @zindexDropdown;
    top: 100%;
    margin-top: 7px;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #cbcbcb;
    border-radius: 0;
    overflow: visible;
    &:before{
        display: none;
    }
    .dropdown-popup-caret{
        position: absolute;
        top: -7px;
        left: 18px;
        width: 13px;
        height: 7px;
        background: url('/images/arrow/blog-reit-str.png');
    }

    .dropdown-popup-body{
        padding: 8px 10px;
    }
    .dropdown-popup-footer{
        padding: 8px 10px;
        background: #f2f2f2;
        &:extend(.cf-mix all);
        &.light-footer{
            background: #fafafa;
            border-top: 1px solid #d9d9d9;
        }
    }
    .dropdown-popup-action{
        white-space: nowrap;
    }

    .pln-select.dropdown{
        .dropdown-menu{
            min-width: 0;
        }
    }
    .fieldset{
        margin: 10px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }
}

.dropdown.popup-open{
    .dropdown-popup{
        display: block;
    }
}

