// Embed video  16:9


.embed-video{
    position: relative;
    padding: 0 0 56.25%;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
