// not fount state for search


.n-empty{
    margin: 0 0 15px;
    padding: 20px 0;
    .proxima_nova_rgregular();
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000;
    &_cover{
        margin: 0 0 20px;
    }
    &_img{
        width: 123px;
        height: 123px;
        margin: auto;
        background: url('/images/empty-face.svg') no-repeat;
    }
    &_action{
        margin: 40px 0 0;
    }
}
