//
// Planeta Feed
// --------------------------------------------

.post-write{
    margin: 0 0 28px;
    &_head{
        &_input{
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            margin: 0;
            padding: 15px 14px 13px 38px;
            .proxima_nova_rgregular();
            font-size: 18px;
            line-height: 22px;
            border: 1px solid #dadada;
            border-radius: 0;
            background: url('/images/network/post-write-bg.png') no-repeat 15px 50%;
            box-shadow: none;
            transition: .2s;
            &:focus{
                box-shadow: none;
            }
        }
    }
    &_body,
    &_action{
        display: none;
    }

    &_body{
        .planetaSkin{
            table.mceLayout{
                border-radius: 0;
            }
            table.mceLayout tr td.mceToolbar{
                border-top: 1px solid #dadada;
                border-radius: 0;
                background: none;
                filter: none;
            }
            table.mceLayout > tbody > tr > td{
                border-left: 1px solid #dadada;
                border-right: 1px solid #dadada;
            }
            table.mceLayout tr.mceLast td{
                border-bottom: 1px solid #dadada;
            }
            .mceIframeContainer{
                border-top: 1px dashed #dadada;
                box-shadow: none;
                transition: none !important;
            }

            a.mceButton{
                width: 20px;
                height: 20px;
                margin: 5px 2px;
                padding: 8px;
            }
            a.mceButtonActive{
                background: #eaf7ff!important;
                border: 1px solid #3498db!important;
                box-shadow: none!important;
            }
            a.mceButtonEnabled:hover, a.mceButtonEnabled.mceButtonActive{
                background: none;
                filter: none;
                box-shadow: none;
                border-color: transparent;

                span.mce_planetaphoto{
                    background-position: 0 -80px;
                }
                span.mce_planetavideo{
                    background-position: -50px -80px;
                }
                span.mce_planetamusic{
                    background-position: -100px -80px;
                }
                span.mce_planetalink{
                    background-position: -150px -80px;
                }
                span.mce_planetaexternal{
                    background-position: -200px -80px;
                }
                span.mce_bold{
                    background-position: -250px -80px;
                }
                span.mce_italic{
                    background-position: -300px -80px;
                }
                span.mce_underline{
                    background-position: -350px -80px;
                }
                span.mce_blockquote{
                    background-position: -650px -80px;
                }
                span.mce_bullist{
                    background-position: -750px -80px;
                }
                span.mce_numlist{
                    background-position: -700px -80px;
                }
                span.mce_justifyleft{
                    background-position: -400px -80px;
                }
                span.mce_justifycenter{
                    background-position: -450px -80px;
                }
                span.mce_justifyright{
                    background-position: -500px -80px;
                }
                span.mce_justifyfull{
                    background-position: -550px -80px;
                }
            }
            span.mceIcon{
                width: 20px;
                height: 20px;
                background: url('/images/network/s-feed-ww.png') no-repeat;
            }
            span.mce_planetaphoto{
                background-position: 0 0;
            }
            span.mce_planetavideo{
                background-position: -50px 0;
            }
            span.mce_planetamusic{
                background-position: -100px 0;
            }
            span.mce_planetalink{
                background-position: -150px 0;
            }
            span.mce_planetaexternal{
                background-position: -200px 0;
            }
            span.mce_bold{
                background-position: -250px 0;
            }
            span.mce_italic{
                background-position: -300px 0;
            }
            span.mce_underline{
                background-position: -350px 0;
            }
            span.mce_blockquote{
                background-position: -650px 0;
            }
            span.mce_bullist{
                background-position: -750px 0;
            }
            span.mce_numlist{
                background-position: -700px 0;
            }
            span.mce_justifyleft{
                background-position: -400px 0;
            }
            span.mce_justifycenter{
                background-position: -450px 0;
            }
            span.mce_justifyright{
                background-position: -500px 0;
            }
            span.mce_justifyfull{
                background-position: -550px 0;
            }

            &.input-focus{
                table.mceLayout tr td.mceToolbar{
                    border-top: 1px solid rgba(82, 168, 236, .8) !important;
                }
                table.mceLayout > tbody > tr > td{
                    border-left: 1px solid rgba(82, 168, 236, .8) !important;
                    border-right: 1px solid rgba(82, 168, 236, .8) !important;
                }
                table.mceLayout tr.mceLast td{
                    border-bottom: 1px solid rgba(82, 168, 236, .8) !important;
                }
                .mceIframeContainer{
                    border-top: 1px dashed #dadada !important;
                    box-shadow: none !important;
                }
            }
        }
    }

    &_action{
        &:extend(.cf-mix all);
        margin: 21px 0 0;
        &_close{
            float: left;
            border-color: transparent;
            background-color: transparent;
        }
        &_post{
            float: right;
        }
    }

    // __open
    &__open{
        .post-write{
            &_head{
                margin: 0 0 12px;
                &_input{
                    padding-left: 14px;
                    background-position: -30px 50%;
                }
            }
            &_body,
            &_action{
                display: block;
            }
        }
    }
}

.feed{
    .list-loader{
        margin-top: 20px;
    }


    &_filter{
        &_list{
            &:extend(.cf-mix all);
            margin: -5px 0 10px;
        }
        &_i{
            float: left;
            .proxima_nova_rgregular();
            font-size: 14px;
            line-height: 16px;
            &__right{
                float: right;
            }
            &.active{
                .feed_filter_link{
                    text-decoration: none;
                    color: #808080;
                    cursor: default;
                }
            }
        }
        &_link{
            &:extend(.link-mix all);
            text-decoration: underline;
        }
    }


    &_i{
        &:extend(.cf-mix all);
        padding: 25px 0;
        border-bottom: 1px solid #e6e6e6;
        &:first-child{
            border-top: 1px solid #e6e6e6;
        }
    }
    &_ava{
        float: left;
        width: 40px;
        &_img{
            display: block;
        }
    }
    &_cont{
        margin: 0 0 0 60px;
    }
    &_from{
        margin: 0 0 5px;
        .proxima-bold();
        font-size: 18px;
        line-height: 24px;
        &:after{
            content: '→';
            margin: 0 0 0 .3em;
            .proxima_nova_rgregular();
            color: #b3b3b3;
        }
    }
    &_post{
        .proxima_nova_rgregular();
        font-size: 15px;
        line-height: 1.6;
        color: #0c0c0c;
        cursor: pointer;
    }
    &_name{
        margin: -3px 0 7px;
        font-size: 24px;
        line-height: 30px;
        a{
            color: #0c0c0c;
            text-decoration: none;
        }
    }
    &_meta{
        font-size: 12px;
        line-height: 14px;
        color: #7f7f7f;
        a{
            color: #7f7f7f;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
        &_i{
            position: relative;
            padding: 0 0 0 14px;
            &:before{
                content: '•';
                position: absolute;
                top: 1px;
                left: 4px;
                color: #b3b3b3;
            }
            &:first-child{
                padding-left: 0;
                &:before{
                    display: none;
                }
            }
        }
    }

    &_action{
        margin: -16px -30px 15px;
        padding: 10px 30px;
        background: #f7f7f7;
        border-top: 1px solid #e0dfdd;
        border-bottom: 1px solid #e0dfdd;
    }

    &_text{
        margin: 13px 0 20px;
        position: relative;
        word-wrap: break-word;
        .bb-video-link{
            display: block;
        }
        .bb-video-preview{
            width: 100%;
        }
    }
    &_more{
        margin: 5px 0 0;
        &_link{
            padding: 3px 8px;
            font-size: 12px;
            line-height: 14px;
            white-space: nowrap;
            color: #fff;
            background: @linkColor;
            &:hover{
                background: @linkColorHover;
            }
        }
    }

    &_comment{
        margin: 20px 0 0;
        .attach-comment{
            margin: 0;
            padding: 0;
            background: #f4f3ef;
            box-shadow: none;
            .proxima_nova_rgregular();
            .show-all{
                margin: 0 -1px;
                padding: 12px;
                background: #fff;
                border: 0;
                box-shadow: none;
                font-size: 14px;
                &:hover{
                    background: #f2f2f2;
                }
            }
            .attach-comment-block{
                margin: 0;
            }
            .attach-comment-item{
                padding: 19px;
                &:first-child{
                    border-top: 1px solid #e6e6e6;
                }
                .close{
                    top: 0;
                    right: 0;
                }
            }
            .attach-comment-ava{
                width: 40px;
                a{
                    width: 40px;
                    height: 40px;
                    &:before{
                        box-shadow: none;
                    }
                }
            }
            .attach-comment-text{
                margin-left: 50px;
                .name{
                    font-size: 14px;
                }
                .content{
                    font-size: 14px;
                    line-height: 20px;
                }
                .expandable-content{
                    max-height: 20px * 4;
                }
            }
        }
        .attach-comment-textarea{
            padding: 8px;
            .textarea{
                textarea{
                    height: 42px;
                    padding: 10px 25px 10px 10px;
                    .proxima_nova_rgregular();
                    font-size: 14px;
                    line-height: 20px;
                }
                .rest-count{
                    bottom: 12px;
                    font-size: 12px;
                }
            }
        }
        .pln-ww{
            .pln-ww-unregister{
                margin: 8px;
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }

    &_project{
        margin: -10px 0;
        &_progress{
            float: left;
            width: 40px;
            .proxima-bold();
            font-size: 24px;
            line-height: 1;
            letter-spacing: -.06em;
            color: #000;
        }
        &_cont{
            margin: 0 0 0 60px;
            font-size: 18px;
            line-height: 24px;
            a{
                .proxima-bold();
            }
        }
        &_date{
            .proxima-light();
            color: #808080;
        }

        // __50
        &__50{
            .feed_project_progress{
                color: #f5b223;
            }
        }

        // __100
        &__100{
            .feed_project_progress{
                font-size: 21px;
                color: #95d945;
            }
        }

        // __fail
        &__fail{
            .feed_project_progress{
                color: #ff6445;
            }
        }
    }
}

// __post
.feed_cont__post{
    margin-left: 0;
    .feed{
        &_post{
            font-size: 18px;
            cursor: default;
            font: 18px/1.6 @ff-proxima-nova;
            p{
                margin: 0;
            }
            ul, ol{
                margin: 0 0 0 35px;
            }
        }
        &_name{
            font-size: 28px;
            line-height: 34px;
        }
        &_meta{
            font-size: 15px;
        }
    }
}

// modal feed post
.modal-feed-post{
    width: 732px;
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.modal-feed-post-edit{
    width: 710px;
    .modal-body{
        padding-left: 20px;
        padding-right: 20px;
    }
    .close{
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .post-write{
        margin-bottom: 0;
    }
}

.feed-post_author{
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #000;
    &:hover{
        color: #000;
    }
    &_wrap{
        margin: 0 -30px 15px;
        padding: 0 30px 30px;
        border-bottom: 1px solid #e0dfdd;
    }
    &_ava{
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        img{
            display: block;
        }
    }
    &_name{
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 20px;
        .proxima-bold();
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000;
    }
}

.feed-post_project{
    margin: -15px -30px 20px;
    padding: 20px 30px;
    background: #f7f7f7;
    border-bottom: 1px solid #e0dfdd;
    .n-own-project{
        &_i{
            border: 0 !important;
            margin: 0;
            padding: 0;
        }
    }
}

// /modal feed post

//sharing popover for post list

.feed_i{
    .sharing-popup-social{
        margin-top: 20px;
    }
    .feed_sharing{
        display: none;
        position: absolute;
        bottom: 30px;
        right: 0;
        opacity: 0;
        transition: all 2s;

        .sharing-popup-social{
            background: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 0 fade(#000, 5);
        }
    }

    .feed_sharing.visible{
        display: block;
        opacity: 1;
    }
    .sps-button{
        padding: 0;
    }
}

.share_link{
    float: right;
    font-size: 12px;
    position: relative;
    color: #3498db;
    border-bottom: 1px dotted #8BD0FF;
    &:before{
        content: "";
        position: absolute;
        left: -24px;
        top: 0;
        display: block;
        width: 18px;
        height: 18px;
        background: url('/images/s-mx.png') no-repeat -24px 0;
    }
    &:hover{
        color: #1d6fa5;
    }
}




// post one page
.feed-post{
    margin: 0 0 20px;
    padding: 30px;
    background: #fff;
    border: 1px solid #e0dfdd;
    .feed{
        &_post,
        &_sharing,
        &_comment{
            max-width: 670px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
// /post one page



