//
// Planeta Header notification
// --------------------------------------------


@topDropBg: #f5f5f5;
@topDropPadding: 19px;
.top-drop-block{
    position: absolute;
    z-index: @zindexDropdown;
    top: 100%;
    display: none;

    // scroll
    .scroll{
        padding: 0;
        border: 0;
    }
    .scroll-content{
        height: auto;
        max-height: 285px;
    }
    // /scroll
}
.top-drop-block-cont{
    position: relative;
    background: #fff;
}
