//
// Header content
// --------------------------------------------

// header content
.header-container{
    &:extend(.cf-mix all);
    position: relative;
    margin-bottom: 12px;
    .header-container-section{
        word-wrap: break-word;
        &.header-button{
            white-space: nowrap;
            text-align: right;
            padding: 4px 0 5px;
            float: right;
        }
        h2{
            margin: 0;
            font: 700 24px/40px Arial,sans-serif;
            letter-spacing: -1px;
        }
    }
    .header-spn{
        color: @grayLight;
        display: block;
        font-size: 12px;
        line-height: 14px;
        margin-top: -0px;
        .hs-item{
            &.hs-item-sep{
                color: @grayLighter;
            }
        }
    }
}
