@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot');
  src:  url('/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.s-icon {position:relative;display: inline-block;vertical-align: top;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-icon-briefcase{&:before {
  content: "\e90f";
}}
.s-icon-exclamation-outline{&:before {
  content: "\e90c";
}}
.s-icon-close{&:before {
  content: "\e600";
}}
.s-icon-arrow-left-round{&:before {
  content: "\e90d";
}}
.s-icon-arrow-right-round{&:before {
  content: "\e90e";
}}
.s-icon-cart{&:before {
  content: "\e900";
}}
.s-icon-search{&:before {
  content: "\e901";
}}
.s-icon-trash{&:before {
  content: "\e902";
}}
.s-icon-arrow-thin-left{&:before {
  content: "\e603";
}}
.s-icon-arrow-thin-right{&:before {
  content: "\e604";
}}
.s-icon-arrow-right{&:before {
  content: "\e601";
}}
.s-icon-arrow-left{&:before {
  content: "\e602";
}}
.s-icon-dots-three-horizontal{&:before {
  content: "\e90b";
}}
.s-icon-newspaper{&:before {
  content: "\e903";
}}
.s-icon-pencil{&:before {
  content: "\e904";
}}
.s-icon-image{&:before {
  content: "\e905";
}}
.s-icon-stats-dots{&:before {
  content: "\e906";
}}
.s-icon-point-up{&:before {
  content: "\e907";
}}
.s-icon-play{&:before {
  content: "\e908";
}}
.s-icon-pause{&:before {
  content: "\e909";
}}
.s-icon-stop{&:before {
  content: "\e90a";
}}
.s-icon-thumb-tack{&:before {
  content: "\f08d";
}}
.s-icon-paper-plane{&:before {
  content: "\f1d8";
}}
.s-icon-check-circle{&:before {
  content: "\f058";
}}
.s-icon-question-circle{&:before {
  content: "\f059";
}}
.s-icon-plus{&:before {
  content: "\f067";
}}
.s-icon-minus{&:before {
  content: "\f068";
}}
.s-icon-exclamation-circle{&:before {
  content: "\f06a";
}}
.s-icon-angle-down{&:before {
  content: "\f107";
}}

