// input-icon


.input-icon{
    position: relative;
    padding-right: 31px;
    &:before{
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
    }
    input{
        padding-right: 25px;
        position: relative;
    }
    [class^="icon-"]{
        right: 5px;
        top: 5px;
        position: absolute;
        pointer-events: none;
    }
    &.input-icon-left{
        input{
            padding-right: 4px;
            padding-left: 25px;
        }
        [class^="icon-"]{
            right: auto;
            left: 5px;
        }
    }
    &.shift-icon-top{
        [class^="icon-"]{
            top: 8px;
        }
    }
}
