// input url

.input-url{
    &_table{
        width: 100%;
        line-height: 18px;
    }
    &_lbl{
        width: 1%;
        vertical-align: middle;
        padding: 0;
        border: 0;
        white-space: nowrap;
        color: @grayLight;
    }
    &_val{
        width: 100%;
        padding: 0;
        border: 0;
        .form-control{
            padding-left: 0;
            border-left: 0;
            border-color: transparent;
        }
    }
}
