// link-toggle



.link-dotted{
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}

.link-toggle{
    text-decoration: none;
    .link-text{
        color: @linkColor;
        border-bottom: 1px dashed @linkColor;
    }
    .link-caret{
        border-top: 4px solid @linkColor;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
    }
    &.dotted{
        .link-text{
            border-bottom-style: dotted;
        }
    }
    &.active{
        .link-caret{
            border-top: 0;
            border-bottom: 4px solid @linkColor;
        }
    }
    &:hover{
        text-decoration: none;
        .link-text{
            color: @linkColorHover;
            border-bottom-color: @linkColorHover;
        }
        .link-caret{
            border-color: @linkColorHover transparent;
        }
    }
}
