// old styles


.wall-header{
    &:extend(.cf-mix all);
    margin: 10px 0;
    hr{
        border-bottom: 0;
        border-top-color: #dbdbdb;
        margin: 14px 0;
        height: 0;
    }
    .wall-header-button-block{
        float: right;
        margin: -29px 10px 0 0;
        background: #fff;
        padding: 0 5px;
    }
    .wall-header-text{
        float: left;
        #font > .serif(20px, 400, 26px);
        font-style: italic;
        margin: -29px 0 0 15px;
        padding: 0 5px;
        background: #fff;
    }
    &.tbms-font{
        .wall-header-text{
            font-family: @baseFontFamily;
            font-weight: 700;
            font-style: normal;
        }
    }
}


.members {
    list-style: none;
    margin: 0;
    display: inline-block;

    .item {
        float: left;
        height: 50px;
        margin: 8px;
        width: 50px;
        overflow: hidden;
        img {
            width: 50px;
            height: 50px;
        }
    }
    &.small{
        .item {
            height: 32px;
            margin: 1px 3px 1px 1px;
            width: 32px;
            img{
                width: 32px;
                height: 32px;
            }
        }
    }
}


.iframe{
    width: 100%;
    border: 0;
}


.sum-row{
    font-size: 15px;
    font-weight: 700;
    td{
        padding: 17px 11px;
        &.sum-cell{
            padding: 17px 23px;
            text-align: right;
        }
    }
}
.basket-table-row td:last-of-type {
    padding: 12px 22px 12px 8px;
    text-align: right;
}


.content-top-shadow{
    min-height: 57px;
    margin: 0 -@gridGutterWidth;
    padding: 0 @gridGutterWidth;
    background: url('/images/planeta/blog-read-bg.png') repeat-x;
}
.content-top-shadow-np{
    min-height: 57px;
    background: url('/images/planeta/blog-read-bg.png') repeat-x;
}


.page-name{
    margin: 0 0 24px;
    font: 700 27px/32px @baseFontFamily;
    letter-spacing: -1px;
    color: #1a1a1a;
    .p-n-t-spn{
        color: #b8b7bd;
    }
}

