//
// openid merge
// --------------------------------------------


// account merge header
.register-header-info{
    float: left;
    margin: 24px 0 0 90px;
    font: 18px/22px @baseFontFamily;
    color: #fff;
}
// /account merge header


.openid-reg{
    &_header{
        margin: 0 0 20px;
        font: 700 24px/28px @baseFontFamily;
    }
    &_head{
        margin: 0 0 10px;
        font: 18px/27px @baseFontFamily;
    }
    &_text{
        margin: 0 0 10px;
        font: 14px/1.5 @baseFontFamily;
    }
    &_action{
        .btn + .btn{
            margin-left: 10px;
        }
        &_email{
            width: 220px;
        }
    }
}
