//
// Planeta Common
// --------------------------------------------




.pln-content-box{
    margin: 0 0 20px;
    &_head{
        margin: 0 0 15px;
        .proxima-bold();
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #262626;
    }
    &_cont{
        border: 1px solid @borderGray;
        background: #fff;
        &__offset{
            padding: 19px;
        }
    }
}

.profile-link {
    font-weight: 700;
}


.video-play-icon{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url('/images/planeta/play-video.png') no-repeat 50% 50%;
    cursor: pointer;
    &:hover{
        background-size: 140px 140px;
    }
}


.video-play{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    &:hover{
        .video-play{
            &_ico{
                transform: scale(1.2);
            }
        }
    }
    &_ico{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -23px 0 0 -23px;
        width: 46px;
        height: 46px;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 30px 5px #000;
        background: #000;
        opacity: .5;
        transition: .1s;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -12px 0 0 -6px;
            border-left: 16px solid #fff;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
        }
    }
}


#resultlist{
    &:extend(.cf-mix all);
    position: relative;
    .list-loader{
        margin: 20px 0 0;
    }
}




.icon-common-mix{
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
}
.icon-load{
    &:extend(.icon-common-mix);
    background-image: url('/images/icon/icon-load.gif');
}
.icon-load-cont{
    &:extend(.icon-common-mix);
    background-image: url('/images/icon/icon-load-cont.png');
}


.required-marker {
    color: #c0392b;
}
