//
// pln-tabs
// --------------------------------------------


.pln-tabs{
    margin: 0 0 20px -2px;
    font-weight: 700;
    &.pln-tabs-gray{
        .pln-tabs-item{
            margin-top: -3px;
            padding-top: 21px;
            &.active{
                border-top-color: #b9bcc1;
            }
        }
        .pln-tabs-link{
            &:hover{
                color: #252525;
            }
        }
    }
}
.pln-tabs-item{
    display: inline-block;
    padding: 18px 2px 0;
    border-top: 3px solid transparent;
    & + .pln-tabs-item{
        margin-left: 23px;
    }
    &.pull-right{
        margin-right: 23px;
    }
    &.active{
        border-top-color: @blue;
        .pln-tabs-link{
            color: #252525;
            cursor: default;
        }
    }
    &.disabled{
        .pln-tabs-link{
            cursor: default;
            &:hover{
                color: #a6aab1;
            }
        }
    }
}
.pln-tabs-link{
    font-size: 15px;
    color: #a6aab1;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: @blue;
    }
}
.pln-tabs-badge{
    position: relative;
    top: -10px;
    padding: 1px 5px;
    font-size: 11px;
    text-shadow: none;
    color: #fff;
    background: #e35050;
    border-radius: 3px;
}
