// pln fixed

.pln-fixed-wrap{
    &.fixed{
        .pln-fixed-cont{
            position: fixed;
            top: 0;
        }
    }
}
.pln-fixed-cont{
    &:extend(.cf-mix all);
}

.project-search-oleg{
    margin: -20px 0 0;
    .pln-fixed-cont{
        padding: 20px 0 0;
    }
}
