// polling-list



.polling-list{
    ol&{
        counter-reset: answers-counter;
        list-style: none;
        .polling-list{
            &_i{
                padding: 25px 30px 25px 60px;
                &:before{
                    counter-increment: answers-counter;
                    content: counter(answers-counter) ".";
                    position: absolute;
                    top: 0;
                    right: 100%;
                    display: block;
                    margin: 30px -50px 0 0;
                    font-size: 23px;
                    line-height: 1;
                    font-weight: 300;
                    text-align: center;
                }
            }
        }
    }

    &_i{
        position: relative;
        padding: 25px 30px;
        border-top: 1px solid #ddd;
    }
    &_question{
        font-weight: 300;
        h2{
            margin: 0 0 10px;
            font-size: 23px;
            line-height: 1.4;
            font-weight: 300;
        }
    }
    &_error{
        position: relative;
        display: none;
        margin: 15px -10px 0;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        background: #ff501a;
        &:before{
            content: '';
            position: absolute;
            bottom: 100%;
            left: 14px;
            border-bottom: 7px solid #ff501a;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
        .error &{
            display: block;
        }
    }
    &_answers{
        margin: 15px 0 0;
        padding: 15px 0 0;
        font-size: 15px;
        font-weight: 300;
        border-top: 1px solid #ddd;


        .form-ui{
            line-height: 0;
        }
        .form-ui-label{
            font-size: 16px;
            line-height: 22px;
        }
        .form-ui-txt{
            padding: 0 0 0 32px;
            color: #6e6e6e;
            &:before{
                width: 22px;
                height: 22px;
                transition: box-shadow .2s;
            }
        }
        .form-ui-default{
            input[type="radio"] {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:before{
                            border: 0;
                            box-shadow: inset 0 0 0 1px @baseColor;
                        }
                        &:after{
                            top: 6px;
                            left: 6px;
                        }
                        &:hover{
                            &:before{
                                box-shadow: inset 0 0 0 3px @baseColor;
                            }
                        }
                    }
                }

                &:checked {
                    & + .form-ui-label{
                        .form-ui-txt{
                            color: #000;
                            &:before{
                                box-shadow: inset 0 0 0 3px @baseColor;
                            }
                        }
                    }
                }
            }


            input[type="checkbox"] {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:before{
                            border: 0;
                            border-radius: 4px;
                            box-shadow: inset 0 0 0 1px @baseColor;
                        }
                        &:after{
                            top: 6px;
                            left: 5px;
                            width: 12px;
                            height: 7px;
                            border-width: 3px;
                            clip-path: polygon(0 0, 100% 0, 0% 0%, 0 100%);
                            transition: .2s ease-out;
                        }
                        &:hover{
                            &:before{
                                box-shadow: inset 0 0 0 3px @baseColor;
                            }
                        }
                    }
                }

                &:checked {
                    & + .form-ui-label{
                        .form-ui-txt{
                            color: #000;
                            &:before{
                                box-shadow: inset 0 0 0 3px @baseColor;
                            }
                            &:after{
                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            }
                        }
                    }
                }
            }
        }

        .form-control{
            height: 54px;
            padding: 15px 20px;
            border-radius: 4px;
            font-size: 16px;
            line-height: 22px;
            transition: .2s;
            &:focus{
                box-shadow: inset 0 0 0 2px @baseColor;
            }
        }
        textarea.form-control{
            height: auto;
        }
    }

    &_answers__horiz{
        font-size: 0;
        white-space: nowrap;
        .polling-list{
            &_answers-i{
                display: inline-block;
                vertical-align: top;
                margin: 0 0 0 32px;
            }
        }
        .form-ui-label{
            padding: 30px 0 0;
        }
        .form-ui-txt{
            padding: 11px;
        }
        .form-ui-val{
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_answers-i{
        margin: 12px 0 0;
        &:first-child{
            margin: 0;
        }
    }
}
