//
// Project create popup
//
// --------------------------------------------


.ctb-action{
    position: relative;
    float: right;
    margin: 19px 0 0;
    .btn{
        font-size: 14px;
        font-weight: 700;
        padding: 6px 20px;
    }
}
.ctb-action-modal{
    position: absolute;
    z-index: @zindexDropdown;
    top: 91px;
    left: 50%;
    display: none;
    width: 400px;
    padding: 35px;
    background: #fff;
    margin: 0 0 0 -200px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    font-family: @baseFontFamily;
    .modal-dialog &{
        position: static;
        display: block;
        margin: 0;
    }
    .modal-project-action-create{
        min-width: 0;
    }
}
.ctb-action-modal-title{
    margin: 0 0 24px;
    font-family: 'ProximaNovaRegular', @baseFontFamily;
    font-size: 24px;
    line-height: 120%;
}
.ctb-action-modal-draft{
    margin: 0 0 32px;
    padding: 0;
    border: 0;
    &:hover{
        .scrollbar-handle{
            opacity: .75;
        }
    }
    .modal-scroll-content{
        max-height: 323px;
        margin-right: -16px;
    }
    .scrollbar-pane{
        width: 330px !important;
    }
}
.ctba-modal-draft-item{
    padding: 13px 17px;
    font-family: 'ProximaNovaRegular', @baseFontFamily;
    line-height: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    & + .ctba-modal-draft-item{
        margin-top: 20px;
    }
    &:hover{
        border-color: @blue;
        background: #f1faff;
    }
}
.ctbam-draft-item-title{
    .text-overflow();
    padding: 2px 0;
    margin: 0 0 3px;
    font-size: 20px;
    line-height: 22px;
    color: @blue;
}
.ctbam-draft-item-date{
    font-size: 12px;
    line-height: 14px;
    color: @grayDark;
}
.ctb-action-modal-cancel{
    float: right;
    margin: 9px 0 0;
    font-size: 12px;
    color: @grayDark;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

