// project related

.project-related-head{
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
    .proxima_nova_rgregular();
    font-size: 25px;
    line-height: 27px;
    white-space: nowrap;
    text-align: center;
    color: #090909;
    &:before, &:after{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 12px 10px 0 -50%;
        border-bottom: 1px solid #cfcec9;
    }
    &:after{
        margin: 12px -50% 0 10px;
    }
}
