// project create link


.pwa-create{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font: 15px/18px @ff-proxima-nova;
}
.pwa-create-link{
    float: right;
    padding: 10px 21px;
    background: #ffda0b;
    border-radius: 100px;
    color: #000;
    &:hover{
        color: #000;
        text-decoration: none;
        background: darken(#ffda0b, 4%);
    }
}
