// quality-polling



.quality-polling{
    margin: 0;
    padding: 29px 0 37px;
    font-family: @ff-proxima-nova;
    &_head{
        margin: 0 0 13px;
        font-size: 24px;
        font-weight: 700;
        color: #333;
        text-align: center;
    }
    &_tip{
        margin: 0 0 60px;
        font-size: 15px;
        color: #666;
        text-align: center;
    }
    &_value{
        position: relative;
        max-width: 753px;
        margin: auto;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 23px;
            left: 0;
            width: 32px;
            height: 32px;
            background: url('/images/polling/sad.svg') no-repeat 0 0 / cover;
        }
        &:before{
            left: auto;
            right: 0;
            background-image: url('/images/polling/happy.svg');
        }
    }
    &_action{
        &:extend(.cf-mix all);
        max-width: 480px;
        margin: 42px auto 0;
    }
    &_extra{
        float: left;
        margin: 11px 0 0;
        font-size: 15px;
    }
    &_btn{
        float: right;
        .btn{
            padding: 10px 15px;
        }
    }
}



.quality-polling-score{
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 66px;
        color: #888;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            top: 40px;
            right: 50%;
            border-top: 1px solid #b7b7b7;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
        &:first-child,
        &:last-child{
            .form-ui-val{
                transform: translateX(-57%);
            }
        }
    }

    .form-ui-val{
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translateX(-52%);
        font-size: 18px;
        line-height: 1;
        font-weight: 300;
    }
    .form-ui-label{
        padding: 32px 0 0;
        z-index: 1;
    }
    .form-ui-txt{
        padding: 8px;
        &:before{
            width: 14px;
            height: 14px;
            margin: 1px 0 0 1px;
        }
        &:before,
        &:after{
            transition: .2s;
        }
    }
    .form-ui-default{
        input[type="radio"] {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        border: 2px solid #666;
                    }
                    &:after{
                        width: 8px;
                        height: 8px;
                    }
                }
            }

            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:before{
                            width: 16px;
                            height: 16px;
                            margin: 0;
                            border-color: @baseColor;
                        }
                    }
                    .form-ui-val{
                        color: #000;
                    }
                }
            }
        }
    }
}
