// rest count



.rest-count{
    display: inline-block;
    font-size: 11px;
    color: #999;
    &.rest-count-less {
        color: #d98026;
    }
    &.rest-count-super-less {
        color: #d40d12;
    }
}
