//
// Search block
// --------------------------------------------


.search-block{
    position: relative;
    &:extend(.cf-mix all);
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid @border;
    margin: 0 0 20px;

    label{
        margin-bottom: 5px;
    }
    .fieldset{
        margin-bottom: 10px;
    }
    .action-search{
        text-align: right;
        a{
            margin-left: 5px;
        }
    }
    .label-name{
        text-align: right;
        label{
            padding: 6px 0 0;
        }
    }

    input[type=text], input[type=password]{
        &:extend(.form-control-mix all);
    }
    .input-icon {
        padding-right: 0;
    }
}



