// SHARING for planeta
// -------


.sharing-popup-social{
    font-family: @ff-proxima-nova;
}





.page-head-sharing{
    text-align: center;
    margin: -10px 0 25px;
    font-size: 0;
    .sharing-popup-social,
    &_i{
        display: inline-block;
        vertical-align: top;
    }
}
