//
// sidebar social widget
// --------------------------------------------


.sidebar-social-widget-tabs{
    .nav{
        #font>.hide();
        border-bottom: 1px solid #ccc;
        margin: 0;
        list-style: none;
        li{
            position: relative;
            top: 1px;
            display: inline-block;
            margin: 0 3px 0 0;
            vertical-align: top;
            a{
                .hlfont();
                display: block;
                padding: 7px 8px;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                margin: 2px 0;
                font-size: 12px;
                line-height: 1;
                color: #000;
                text-decoration: none;
            }
            &.active a{
                padding: 9px 8px;
                margin: 0;
                background: #fff;
            }
            &:hover a{
                background: lighten(#ccc, 30%)
            }
            span{
                display: inline-block;
                margin-top: 10px;
            }
        }
    }
    .tab-content{
        padding: 10px 0;
    }
}
.sidebar-social-block{
    margin: 20px 0 0;
    .scb-header{
        margin: 0 0 10px;;
    }
    .scb-head{
        font-family: @ff-proxima-nova;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        margin: 4px 0 2px;
    }
}
.sidebar-social-block-wrap{
    padding: 0 20px 18px 20px;
    border: 1px solid #d8e0ea;
    margin: 0 0 50px;
    background: #fff;
}
