// side-book



.side-book{
    position: fixed;
    z-index: @zindexTooltip - 10;
    top: 50%;
    right: 0;
    margin: -60px 0 0;
    &_block{
        overflow: hidden;
        width: 102px;
        height: 96px;
        padding: 9px 0 0 20px;
        font-size: 14px;
        line-height: 20 / 14;
        color: #132129;
        border-radius: 5px 0 0 5px;
        background: #ffcf0d;
        box-shadow: 0 10px 10px fade(#000, 5);
        transition: .2s;
    }
    &_cont{
        position: relative;
        width: 342px;
    }
    &_close{
        position: absolute;
        top: 7px;
        right: -15px;
        cursor: pointer;
    }
    &_img{
        cursor: pointer;
        img{
            width: 188px;
            height: auto;
            max-width: none;
            margin: 0 0 0 -73px;
            transition: .2s;
        }
    }
    &_name{
        margin: -1px 0 16px;
        font-size: 22px;
        line-height: 24 / 22;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
    &_text{
        margin: 0 0 23px;
    }


    &.open{
        .side-book{
            &_block{
                width: 408px;
                height: 386px;
                padding: 24px 33px 0 33px;
                @media (max-height: 660px) {
                    margin-top: -134px;
                }
            }
            &_img{
                img{
                    width: 276px;
                    margin: 0;
                }
            }
        }
    }
}





@media (max-width: 1393px) and (min-width: 1240px){
    .grid-1200{
        .side-book{
            display: none;
        }
    }
}
@media (max-width: 1157px) {
    .side-book{
        display: none;
    }
}






.side-book-btn,
.side-book-btn-close{
    display: inline-block;
    vertical-align: top;
    font-family: @ff-proxima-nova;
    line-height: 24px;
    letter-spacing: .18em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}


.side-book-btn{
    padding: 8px 15px 6px 20px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    &:hover{
        color: #fff;
        background: lighten(#000, 20%);
        border-color: lighten(#000, 20%);
    }
}


.side-book-btn-close{
    padding: 7px 15px;
    margin: 0 0 0 6px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    background: none;
    border: 1px solid fade(#000, 50);
    &:hover{
        color: #fff;
        background: fade(#000, 50);
    }
}
