// sidebar faq


.donate-faq{
    &.concert-faq{
        margin-top: 20px;
        .donate-faq-head{
            .hlfont();
            font-size: 20px;
            line-height: 24px;
            .hl{
                .hbfont();
                color: #a0a9b5;
            }
        }
    }
    hr{
        margin-bottom: 12px;
    }
    .donate-faq-head{
        font-size: 19px;
        line-height: 23px;
        margin: 0 0 5px;
    }
    .donate-faq-list{
        list-style: none;
        margin: 0;
    }
    .faq-item{
        margin: 0 0 5px;
        &.active{
            .faq-item-cont{
                display: block;
            }
            .faq-item-link{
                .fi-caret{
                    background-position: 0 -12px;
                }
            }
        }
    }
    .faq-item-link{
        cursor: pointer;
        padding: 0 0 0 16px;
        position: relative;
        .fi-caret{
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 8px;
            height: 8px;
            background: url('/images/arrow/d-faq-caret.png') no-repeat;
        }
        &:hover{
            .fi-text{
                text-decoration: underline;
            }
        }
    }
    .faq-item-cont{
        font-size: 11px;
        color: @grayLight;
        margin: 7px 0 7px 16px;
        display: none;
        p, li{
            margin: 7px 0 0;
            font-size: 11px;
            color: @grayLight;
        }
        ul{
            margin-left: 15px;
        }
    }

    &.ordering-faq{
        margin-top: 16px;
    }
}
