// status-badge



.status-badge{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 2px 24px 1px;
    font: 700 12px/18px @ff-roboto-cond;
    letter-spacing: .15em;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    background: #5fd13c;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        background: #579f22;
    }

    &_help{
        display: inline-block;
        vertical-align: top;
        width: 15px;
        height: 15px;
        margin: 1px -10px 0 5px;
        padding: 1px 0 0 1px;
        font-family: @ff-roboto;
        font-size: 11px;
        line-height: 13px;
        font-weight: 900;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: default;
    }


    &__info{
        background: #1a8cff;
        &:before{
            background: #006cf8;
        }
    }
    &__finish{
        background: #b0c6d7;
        &:before{
            background: #7999b5;
        }
    }
    &__moderate{
        background: #eba400;
        &:before{
            background: #d86900;
        }
    }
    &__pause{
        background: #454553;
        &:before{
            background: #1e2b3d;
        }
    }
    &__approved{
        background: #3498db;
        &:before{
            background: #0077da;
        }
    }
    &__canceled{
        background: #ff3100;
        &:before{
            background: #c62600;
        }
    }
    &__m{
        padding-top: 4px;
        padding-bottom: 3px;
    }

    @media (max-width: @screen-tp-max) {
        display: block;
    }
}

