//
// Planeta sub-menu
// --------------------------------------------


// content menu
.sub-menu{
    display: block;
    position: relative;
    margin-bottom: 21px;
    padding-right: 2px;
    line-height: 18px;
}
.sub-menu-block{
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
    border-bottom: 1px solid #d4d1c4;
}
.sub-menu-block-item{
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    width: 1%;
    a{
        position: relative;
        display: block;
        padding: 12px;
        margin: 7px 0 0;
        text-align: center;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        .proxima_nova_rgregular();
        font-size: 16px;
        color: #131313;
        background: #dfddd5;
        white-space: nowrap;
        outline: none;
        &:hover{
            text-decoration: none;
            color: #131313;
            background: darken(#dfddd5, 5%);
        }
    }
    &:last-of-type{
        a{
            border-right: 1px solid #ccc;
        }
    }
    &.active{
        z-index: 1;
        a{
            top: 1px;
            margin-top: 0;
            padding-top: 16px;
            padding-bottom: 14px;
            .proxima-bold();
            color: #0e2129;
            background: #fff;
            //box-shadow: 0 1px 0 1px #fff;
            border-right: 1px solid #ccc;
        }
        &+.sub-menu-block-item{
            a{
                border-left: 0;
            }
        }
        &:first-child{
            .project-tab-link{
                box-shadow: 1px 1px 0 1px #fff;
            }
        }
        &:last-child{
            .project-tab-link{
                box-shadow: -1px 1px 0 1px #fff;
            }
        }
    }
}

