//
// Planeta Tabs
// --------------------------------------------



.tabs{
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
    line-height: 18px;
    border-bottom: 1px solid #d4d1c4;
    &_i{
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        width: 1%;
        &:first-child{
            .tabs_link{
                margin-left: 0;
            }
        }
        &.active{
            z-index: 1;
            .tabs_link{
                top: 1px;
                padding-top: 16px;
                padding-bottom: 14px;
                .proxima-bold();
                color: #0e2129;
                background: #fff;
                box-shadow: 0 1px 0 1px #fff;
            }
            &:first-child{
                .tabs_link{
                    box-shadow: 1px 1px 0 1px #fff;
                }
            }
            &:last-child{
                .tabs_link{
                    box-shadow: -1px 1px 0 1px #fff;
                }
            }
        }
    }
    &_link{
        position: relative;
        display: block;
        padding: 12px;
        margin: 0 0 0 1px;
        text-align: center;
        .proxima_nova_rgregular();
        font-size: 16px;
        color: #131313;
        background: #dfddd5;
        white-space: nowrap;
        outline: none;
        &:hover{
            text-decoration: none;
            color: #131313;
            background: darken(#dfddd5, 5%);
        }
    }
    &_badge{
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 6px 1px;
        min-width: 30px;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        background: #d1cec2;
        &.new-badge{
            background: #fcdc5a;
        }
    }
}

