// to top button


.top-button{
    display: none;
    width: 198px;
    cursor: pointer;
    margin: 10px 0;
    &.tb-in{
        display: block;
    }
    .top-button-text{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5px;
        line-height: 19px;
    }
    .top-button-arrow{
        display: inline-block;
        vertical-align: middle;
        width: 29px;
        height: 29px;
        background: url('/images/arrow/top-arrow.png') no-repeat;
    }
    .top-button-cont{
        padding: 5px 0;
        text-align: center;
        color: #fff;
        background: rgb(127,127,127);
        background: rgba(127,127,127,.5);
        border-radius: 5px;
    }
    &.down{
        .top-button-text{
            display: none;
        }
        .top-button-arrow{
            background-position: 0 -29px;
        }
    }
}
.top-button-wrap{
    &.fixed{
        .top-button-inner{
            position: fixed;
            top: 0;
        }
    }
    &.tbw-out{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        padding: 10px;
        .latest-news{
            margin: 0 0 10px;
        }
        .top-button{
            position: fixed;
            top: 0;
            bottom: 10px;
            left: 0;
            margin: 0;
            padding: 10px 0 10px 10px;
            &:hover{
                .top-button-cont{
                    height: 100%;
                    border-radius: 18px 6px 6px 6px ;
                }
            }
        }
        .top-button-cont{
            text-align: left;
            padding: 5px;
            border-radius: 18px 6px 6px 18px ;
        }
        .tb-in{
            display: none;
        }
        .tb-out{
            display: block;
        }
    }
}
