// top-breads


.top-breads{
    position: relative;
    margin: -10px -18px 0;
    &.in-container{
        margin: 0 -18px 18px;
    }
    &.out-container{
        margin: -10px 0 18px;
        & ~ .top-breads{
            margin-top: -18px;
        }
    }
    .tb-top{
        padding: 12px 18px 9px;
        border-bottom: 1px solid #e4e7e9;
        background: #f8f8f8;
    }
    .tbt-info{
        float: right;
        font: italic 11px/26px @baseFontFamily;
        color: #808080;
    }
    .tbt-info-item{
        display: inline-block;
        margin-left: 7px;
        position: relative;
        &:before{
            color: #ccc;
            content: "•";
            font-size: 12px;
            position: absolute;
            left: -7px;
        }
        &:first-child{
            &:before{
                content: "";
            }
        }
        .profile-link{
            .text-overflow();
            max-width: 300px;
            display: inline-block;
            vertical-align: bottom;
        }
    }
    .tbt-link-ava{
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 7px;
        line-height: 30px;
        vertical-align: top;
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        img{
            width: 100%;
        }
    }
    .tbt-link-item{
        .text-overflow();
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
        margin-right: 7px;
        color: #b8b7bd;
        &.item-sep{
            width: 7px;
            height: 21px;
            background: url('/images/arrow/breds-arr.png') no-repeat;
        }
        a, span{
            font: 700 12px/26px @baseFontFamily;
            color: @blue;
        }
        span{
            color: #b8b7bd;
        }
    }
    .tbt-group{
        float: right;
        max-width: 300px;
        .author-preview-popup{
            left: -135px;
            width: 280px;
            border: 7px solid #cbcbcb;
        }
        .dropdown-popup-caret{
            left: 50%;
            margin-left: -6px;
        }
    }
    .tbt-group-ava{
        float: left;
        width: 25px;
        height: 25px;
        margin-right: 7px;
        line-height: 30px;
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        img{
            width: 100%;
        }
    }
    .tbt-group-name-block{
        margin-left: 32px;
        font: italic 11px/26px @baseFontFamily;
        color: #808080;
    }
    .tbt-group-name-cont{
        .text-overflow();
    }
    .tb-bottom{
        &:extend(.cf-mix all);
        padding: 10px 18px;
        border-top: 1px solid #fcfcfc;
        border-bottom: 1px solid #e4e7e9;
        color: #333;
        background: #f7f8f9;
    }
    .tb-bottom-msg{
        display: inline-block;
        vertical-align: top;
        padding: 8px 15px;
        background: #e6e6e6;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
        font-size: 10px;
        line-height: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }


    .pln-content-box_cont__offset &{
        margin-top: -19px;
    }
}
