// top-book



.top-book{
    height: 200px;
    background: #254959 url('/images/top-book/top-book-bg.jpg') no-repeat 50% 0;
    font-family: @ff-proxima-nova;
    font-size: 14px;
    line-height: 20 / 14;
    color: #fff;
    &_block{
        position: relative;
    }
    &_close{
        position: absolute;
        top: 24px;
        right: 0;
        cursor: pointer;
    }
    &_img{
        float: left;
        width: 434px;
    }
    &_cont{
        overflow: hidden;
    }
    &_name{
        margin: 20px 0 9px;
        font-size: 24px;
        line-height: 28 / 24;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
    &_text{
        margin: 0 0 13px;
    }
}




.top-book-btn,
.top-book-btn-close{
    display: inline-block;
    vertical-align: top;
    font-family: @ff-proxima-nova;
    line-height: 24px;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}


.top-book-btn{
    padding: 8px 25px 6px 30px;
    font-size: 22px;
    font-weight: 700;
    color: #132129;
    background: #ffcf0d;
    border: 1px solid #ffcf0d;
    &:hover{
        color: #132129;
        background: darken(#ffcf0d, 10%);
        border-color: darken(#ffcf0d, 10%);
    }
}


.top-book-btn-close{
    padding: 7px 30px;
    margin: 0 0 0 6px;
    font-size: 14px;
    font-weight: 300;
    color: #7b94a2;
    background: none;
    border: 1px solid #7b94a2;
    &:hover{
        color: #000;
        background: #7b94a2;
    }
}


