html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html, body{
    height: 100%;
}
body{
    position: relative;
    min-height: 100%;
    height: auto;
}

.cf:before, .cf:after { display: table; content: ""; } .cf:after { clear: both; }
.error-page{
    padding: 0 0 160px;
}

.wrap{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    background: #0e2129;
}
.header:before, .header:after { display: table; content: ""; } .header:after { clear: both; }

.header-logo{
    float: left;
    width: 150px;
    margin: 15px 39px 0 0;

}
.header-logo img{
    display: block;
    max-width: 100%;
}

.header-menu{
    position: relative;
    float: left;
    margin: 0 0 0 24px;
}
.header-menu-link{
    display: block;
    float: left;
    padding: 26px 15px;
    font: 16px/18px Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    outline: 0;
}
.header-menu-link:hover{
    color: #fff;
    text-decoration: none;
    background: #1a2c34;
}

.page-404{
    min-height: 235px;
    padding: 30px 108px 0 247px;
    margin: 120px 0 0;
}
.page-404-title{
    margin: 0 0 13px;
    font: 700 72px/100% Arial, sans-serif;
    color: #00b8e5;
}
.page-404-descr{
    margin: 0 0 23px;
    font: 700 36px/100% Arial, sans-serif;
    color: #202020;
}
.page-404-recommend{
    font: 18px/170% Arial, sans-serif;
    color: #a3a3a3;
}
.p-404-recommend-link{
    color: #00b8e5;
    text-decoration: none;
}
.p-404-recommend-link:hover{
    color: #1d6fa5;
    text-decoration: underline;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px 0;
    background: #fff;
    color: #000;
    border-top: 1px solid #ebebeb;
    font: 700 14px/18px Arial, sans-serif;
}
.footer a{
    color: #a1a1a1;
}
.footer a:hover{
    color: #171717;
}
.footer-copy{
    float: right;
    margin: 6px 0 0;
}
.footer-link{
    float: right;
    margin: 6px 20px 0 0;
    text-decoration: none;
}

.f-inner-right{
    float: left;
}

.fir-socials-icon{
    float: left;
    background: url('/errorpages/f-social.png') no-repeat;
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
    opacity: .8;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.fir-socials-icon:hover {
    opacity: .8;
}

.first-icon-fb{ background-position: -40px 0 }
.first-icon-tw{ background-position: -80px 0 }
.first-icon-yt{ background-position: -120px 0 }
.first-icon-gp{ background-position: -160px 0 }
.first-icon-ig{ background-position: -200px 0 }

.m-header_menu-toggle {
    display: none;
    float: right;
    margin: 0 -7px 0 0;
    padding: 13px 7px;
    cursor: pointer;
}
.m-header_menu-toggle-ico {
    position: relative;
    display: block;
    width: 14px;
    height: 2px;
    background: #fff;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}
.m-header_menu-toggle-ico:before, .m-header_menu-toggle-ico:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}
.m-header_menu-toggle-ico:after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}

.m-header_menu-toggle.active .m-header_menu-toggle-ico {
    background: transparent;
}
.m-header_menu-toggle.active .m-header_menu-toggle-ico:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.m-header_menu-toggle.active .m-header_menu-toggle-ico:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-height: 650px) {
    .page-404{
        margin-top: 60px;
    }
}

@media (max-width: 767px) {
    .header-cont{
        position: relative;
        z-index: 10;
        margin: 0 -20px;
        padding: 15px 20px;
        background: #0e2129;
    }
    .header-cont:before, .header-cont:after { display: table; content: ""; } .header-cont:after { clear: both; }
    .header-logo{
        width: 108px;
        height: 28px;
        margin: 0;
    }
    .header-menu{
        box-sizing: border-box;
        display: none;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        float: none;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 58px 0 0;
        font: 16px/1.3 Arial, sans-serif;
        color: #fff;
        background: #2a414b;
    }
    .header-menu-link{
        float: none;
        display: block;
        padding: 20px;
        font: 16px/1.3 Arial, sans-serif;
        text-transform: uppercase;
        background: #213740;
        border-bottom: 1px solid #0e2129;
    }
    body.menu-open .header-menu{
        display: block;
    }

    .page-404{
        margin: 50px 0;
        padding: 0;
        background: none;
    }
    .page-404-title{
        font-size: 62px;
    }
    .page-404-descr{
        font-size: 26px;
    }
    .page-404-recomend{
        font-size: 16px;
    }
    .m-header_menu-toggle{
        display: block;
    }

    .footer{
        padding: 20px 0;
        text-align: center;
    }
    .f-inner-right{
        float: none;
        font-size: 0;
        text-align: center;
    }
    .fir-socials-icon{
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .fir-socials-icon:last-child{
        margin-right: 0;
    }
    .footer-copy{
        float: none;
        margin: 22px 0 13px;
        text-align: center;
    }
    .footer-link{
        float: none;
        margin: 6px 10px 0;
    }
}

