// pl-loader

.pl-loader{
    @duration: 1.2s;

    display: block;
    margin: auto;
    font-size: 0;
    text-align: center;
    &:before,
    &:after,
    span{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        margin: 6px;
        border-radius: 50%;
        background: #000;
        opacity: .1;
        animation: pl-loader @duration linear infinite;
    }
    span{
        animation-delay: @duration / 3;
    }
    &:after{
        animation-delay: @duration / 3 * 2;
    }
}


@keyframes pl-loader {
    30%{
        opacity: .1;
    }
    65%{
        opacity: .6;
    }
}
