<div class="profile-body_head">
    <div class="profile-body_title" translate>profile-page.settings-block.notify-set</div>
    <div class="profile-body_descr" translate>profile-page.settings-block.notify-set-descr</div>
</div>

<div class="profile-settings">
    <div class="profile-settings_form wrap-row">
        <div class="profile-settings_i col-12">
            <div class="profile-notifications wrap-row">
                <div class="profile-notifications_section m-col-tp-12 col-12">
                    <div class="profile-notifications_list">
                        <div class="profile-notifications_i">
                            <div class="form-ui form-ui-profile">
                                <input class="form-ui-control"
                                       id="chck-1"
                                       type="checkbox"
                                       (change)="subscriptionsDTO.receiveMyCampaignNewsletters = !subscriptionsDTO.receiveMyCampaignNewsletters"
                                       [checked]="subscriptionsDTO.receiveMyCampaignNewsletters">

                                <label class="form-ui-label" for="chck-1">
                                    <span class="form-ui-txt">
                                        <span class="form-ui-val">Получать письма с информацией из моих проектов</span>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="profile-notifications_i">
                            <div class="form-ui form-ui-profile">
                                <input class="form-ui-control"
                                       id="chck-2"
                                       type="checkbox"
                                       (change)="subscriptionsDTO.receiveNewsletters = !subscriptionsDTO.receiveNewsletters"
                                       [checked]="subscriptionsDTO.receiveNewsletters">

                                <label class="form-ui-label" for="chck-2">
                                    <span class="form-ui-txt">
                                        <span class="form-ui-val">Получать рассылки Планеты</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="profile-settings_i col-12">
            <div class="profile-settings_action">
                <button class="btn btn-nd-primary"
                        (click)="save()"
                        [disabled]="loading">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>
