// DROPDOWN MENUS
// --------------


// common dropdown style
.pln-dropdown{
    position: relative;
    &.open{
        > .pln-d-popup{
            display: block;
        }
    }
    &.bottom-up{
        > .pln-d-popup{
            bottom: auto;
            top: 100%;
        }
    }
}
.pln-d-switch{
    cursor: pointer;
}
.pln-d-popup{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.pln-d-popup-tail{
    font: 0/0 a;
    position: absolute;
    bottom: 100%;
    background-repeat: no-repeat;
}
// common dropdown style


// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  // IE7 won't do the border trick if there's a text indent, but it doesn't
  // do the content that text-indent is hiding, either, so we're ok.
  vertical-align: top;
  border-left:  4px solid transparent;
  border-right: 4px solid transparent;
  border-top:   4px solid @black;
  .opacity(30);
  content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open.dropdown .caret {
  .opacity(100);
}
// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @zindexDropdown;
  cursor: default;
  float: left;
  display: none; // none by default, but block on "open" of the menu
  min-width: 160px;
  max-width: 220px;
  max-height: 216px;
  overflow-y: auto;
  padding: 0;
  margin: 0; // override default ul
  list-style: none;
  text-shadow: none;

  #gradient > .vertical(#ffffff, #f2f2f2);
  border-color: #ccc;
  border-color: rgba(0,0,0,.2);
  border-style: solid;
  border-width: 1px;
  .border-radius(0 0 5px 5px);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

  // Allow for dropdowns to go bottom up (aka, dropup-menu)
  &.bottom-up {
    top: auto;
    bottom: 100%;
    margin-bottom: 0;

    .border-radius(5px 5px 0 0);
    .box-shadow(0 -5px 10px rgba(0,0,0,.2));
  }
  &.to-left {
      left: auto;
      right: 0;
  }
  // delete it
  &.searchhint{
    padding: 4px 0 !important;
    max-height: none;
  }
  // /delete it
  // Dividers (basically an hr) within the dropdown
  .divider {
    height: 1px;
    margin: 5px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid @white;
  }

  // Links within the dropdown menu
  .item{

      a{
          display: block;
          padding: 4px 8px;
          clear: both;
          font-weight: normal;
          line-height: 16px;
          color: @gray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      &.header-item{
        color: @grayLight;
        span{
            padding: 10px 8px;
            display: block;
        }
      }
      &.bottom-item{
        border-top: 1px solid #e6e6e6;
        margin-top: 6px;
        a{
            background: transparent;
            color: @blue;
            padding: 10px 8px;
            &:hover{
                text-decoration: underline;
            }
            &.add-link{
                &:before{
                    content: '+';
                    color: @blue;
                    display: block;
                    position: absolute;
                    left: 16px;
                    text-decoration: none;
                }
            }
        }
      }
      &.level{
          a{
              padding: 4px 8px 4px 22px;
          }
      }
      &.active{
          .icon-accept{
            display: block;
          }
      }
  }

  [class^="icon-"] {
      margin: 0 8px 0 0;
  }
  .icon-accept{
      margin: 0;
  }
    &::before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }


    &.simple-dropdown-menu{
        #gradient > .reset();
        background: #fff;
        .border-radius(0);
        .box-shadow(0 0 2px rgba(0,0,0,.2));
        margin-top: 2px;
        padding: 5px 0;

        .item{

        }
    }

}

// Hover state
/*
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: @white;
  text-decoration: none;
  background-color: @linkColor;
  [class^="icon-"] {
      .icon-white();
  }
}
*/


.dropdown-download-list{
    border-color: #ccc;
    left: 0;
    right: 0;
    .border-radius(0 0 5px 5px);
    min-width: 0;
    text-align: center;
    margin: -5px 0 0;
    #gradient > .vertical(#f0f0f0, #ffffff);
    z-index: 10;
}
.download-icon-list{
    .clearfix();
    padding: 13px 0 8px;
    .download-icon-item{
        margin-left: -1px;
        float: left;
        width: 50%;
        text-align: center;
        border-left: 1px solid #ddd;
        &:first-child{
            border: 0;
        }
        .dii-icon-exel{
            background: url(../images/icon/stats-icons.png) no-repeat scroll 0 0 transparent;
            width: 29px;
            height: 37px;
            margin: 0 auto;
            &:hover{
                background: url(../images/icon/stats-icons.png) no-repeat scroll 0 -42px transparent;
            }
        }
        .dii-icon-csv{
            background: url(../images/icon/stats-icons.png) no-repeat scroll -32px 0 transparent;
            width: 29px;
            height: 37px;
            margin: 0 auto;
            &:hover{
                background: url(../images/icon/stats-icons.png) no-repeat scroll -32px -42px transparent;
            }
        }
    }
}

// The dropdown menu with avatar (ul)
.dropdown-menu-members{
    max-width: 100%;
    border: 1px solid @grayLighter;
    background: @white;
    right: 0;

    .item{
        font-size: 12px;
        line-height: 15px;
        .item-link{
            padding: 7px;
            display: block;
            color: @grayDark;
            text-decoration: none;
            height: 32px;
            &:hover{
                color: @white;
            }
        }

        &:nth-child(2n){
            background: #f2f2f2;
        }
        &.active, &:hover{
            background: @blue;
            color: @white;
        }
        &:hover .count{
            color: @white;
        }
    }
    .item-avatar{
        width: 40px;
        height: 32px;
        overflow: hidden;
        float: left;

        img{
            display: block;
            width: 32px;
        }
    }
    .item-group-wrap{
        white-space: nowrap;
        line-height: 28px;
        overflow: hidden;
    }
    .item-group{
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 16px;

        .count{
            font-size: 11px;
            color: @grayLight;
        }
    }

    // avatars 50x50
    &.medium-avatars{
        .item{
            .item-link{
                height: 50px;
            }
        }
        .item-avatar{
            height: 50px;
            width: 60px;
            img{
                width: 50px;
            }
        }
        .item-group-wrap{
            line-height: 46px;
        }
    }
}


// Open state for the dropdown
.dropdown.open {

  .dropdown-toggle {
    color: @white;
    background: #ccc;
    background: rgba(0,0,0,.3);
  }
  .dropdown-menu,
  .iph-list-dropdown,
  .dm-dropdodown-menu-contacts{
    display: block;
  }
  .dropdown-menu-members{
    right: 0;
  }
  .str {
    display: block;
  }
}

.dropdown.popup-open{
  .dropdown-popup{
    display: block;
  }
}

// Typeahead
.typeahead {
  margin-top: 2px; // give it some space to breathe
  .border-radius(4px);
}


[class^="icon-"] {
    .dropdown{
        top: 100%;
        &.option-list{
            .dropdown-menu{
                min-width: 0;
                [class^="icon-"]{
                    margin-right: 2px;
                }
            }
        }
        &.tag-add-list{
            .dropdown-menu{
                .item{
                    a{
                        padding-left: 29px;
                        padding-right: 29px;
                    }
                    [class^="icon-"].left{
                        margin-left: -20px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .dropdown-menu{
        max-height: none;
        text-align: left;
        .border-radius(0);
        #gradient > .vertical(#ffffff, #ffffff);
        font-style: normal;
        left: -20px;
        &.left{
            left: auto;
            right: -20px;
        }
    }
    .str{
        position: absolute;
        top: 0;
        left: 2px;
        background: url(../images/arrow/blog-reit-str.png);
        width: 13px;
        height: 7px;
        display: none;
        z-index: @zindexDropdown + 1;
        & ~ .dropdown-menu{
            margin-top: 6px;
            padding: 5px 0;
        }
    }
}


// автокомплит
.ac_results{
    background: #fff;
    border: 1px solid #ccc;
    .box-shadow(0 2px 4px #ccc);
    padding: 0 4px;
    z-index: @zindexModal + 10;
    ul{
        margin:  0 -4px;
        li{
            padding: 1px 4px;
            cursor: pointer;
            &.ac_over{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}

// ui-autocomplete style
.ui-autocomplete{
    margin: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    .box-shadow(0 2px 4px #ccc);
    .ui-menu-item{
        a{
            cursor: pointer;
            display: block;
            padding: 1px 4px;
            text-decoration: none;
            color: @textColor;
            &:hover, &.ui-state-hover{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}
// /ui-autocomplete style
// /автокомплит
