// Fonts.less
// -------------------------------------------------------------

@import "rub-font.less";


// ProximaNova
#font > .fontFace('ProximaNovaRegular', 'proximanova-reg-webfont', 'proxima_nova_rgregular');
.proxima-reg{
    font-family: 'ProximaNovaRegular', @baseFontFamily;
    i, em{
        .proxima-regular-it();
        font-style: normal;
    }
    b, strong{
        .proxima-bold();
        font-weight: 400;
    }
}


// ProximaNova BoldIt
#font > .fontFace('ProximaNovaBoldIt', 'proximanova-boldit-webfont', 'proxima_novabold_italic');
.proxima-boldit{
    font-family: 'ProximaNovaBoldIt', @baseFontFamily;
}


// ProximaNova Bold
#font > .fontFace('ProximaNovaBold', 'proximanova-bold-webfont', 'proxima_novabold_italic');
.proxima-bold{
    font-family: 'ProximaNovaBold', @baseFontFamily;
}


// ProximaNova Regular Italic
#font > .fontFace('ProximaNovaRegularItalic', 'proximanova-regit-webfont', 'proxima_novaregular_italic');
.proxima-regular-it{
    font-family: 'ProximaNovaRegularItalic', @baseFontFamily;
}


// Minion Pro MediumIt
#font > .fontFace('minionpromediumit', 'minionpro-mediumit', 'minionpromediumit');
.minionpro-mediumit{
    font-family: 'minionpromediumit', @baseFontFamily;
}


// Minion Pro BoldIt
#font > .fontFace('minionproboldit', 'minionpro-boldit', 'minionproboldit');
.minionpro-boldit{
    font-family: 'minionproboldit', @baseFontFamily;
}


// Minion Pro SemiboldIt
#font > .fontFace('minionprosemiboldit', 'minionpro-semiboldit', 'minionprosemiboldit');
.minionpro-semiboldit{
    font-family: 'minionprosemiboldit', @baseFontFamily;
}


// Minion Pro It
#font > .fontFace('minionproit', 'minionpro-it', 'minionproit');
.minionpro-it{
    font-family: 'minionproit', @baseFontFamily;
}


// Helvetica Neue Cyr
#font > .fontFace('helveticaneuecyrbold', 'helveticaneuecyr-bold-webfont', 'helveticaneuecyrbold');
.helveticaneue-bold{
    font-family: 'helveticaneuecyrbold', @baseFontFamily;
}


// GothamPro
#font > .fontFace('gotham_proregular', 'gothaproreg-webfont', 'gotham_proregular');
.gothampro-reg{
    font-family: 'gotham_proregular', @baseFontFamily;
}

// GothamPro Bold
#font > .fontFace('gotham_probold', 'gothaprobol-webfont', 'gotham_probold');
.gothampro-bold{
    font-family: 'gotham_probold', @baseFontFamily;
}

// GothamPro Black
#font > .fontFace('gotham_problack', 'gothaprobla-webfont', 'gotham_problack');
.gothampro-black{
    font-family: 'gotham_problack', @baseFontFamily;
}

// GothamPro Light
#font > .fontFace('gotham_prolight', 'gothaprolig-webfont', 'gotham_prolight');
.gothampro-light{
    font-family: 'gotham_prolight', @baseFontFamily;
}


/* PF Din Condensed Pro */
@font-face {
    font-family: 'pf_din_text_cond_pro';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_pro';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_pro';
    src: url('../fonts/pfdintextcondpro-bold-webfont.eot');
    src: url('../fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}
.ff-pf-din-cond-pro{
    font-family: 'pf_din_text_cond_pro', Arial, sans-serif;
}
