@import "reset.less";

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Base CSS
@import "fonts.less";

// sharing
@import "sharing-block.less";
[class^="bs-icons-"]{
    border-radius: 5px;
}
.spsb-item{
    display: block;
    margin: 14px 0 0;
}

// Components: Buttons & Alerts

// Utility classes
@import "utilities.less"; // Has to be last to override when necessary


// Project card
@import "project-card.less";


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.text-center{
    text-align: center;
}

.flat-btn{
    .border-radius(4px);
    display: inline-block;
    padding: 16px 44px;
    background: #3498db;
    font-family: @baseFontFamily;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    &:hover {
        background: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &:active {
        background: #2c85c0;
    }
}



html, body{
    height: 100%;
}
body {
    margin: 0;
    background: #fff;
    font: 16px/1.5 Arial, sans-serif;
    color: #1a1a1a;
}

a{
    color: @linkColor;
    text-decoration: none;
    &:hover{
        color: @linkColorHover;
        text-decoration: underline;
    }
}

.h-link-state(){
    text-decoration: none;
    border-bottom: 1px solid @linkColorBorder;
    &:hover{
        text-decoration: none;
        border-bottom-color: @linkColorBorderHover;
    }
}
.h-link{
    .h-link-state();
}

.wrap{
    margin: 0 auto;
    width: 940px;
}



// header
.header-wrap{
    .box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.1));
}
.header{
    .clearfix();
    height: 130px;
}
.header-logo{
    display: block;
    float: left;
    margin: 49px 0 0;
    width: 129px;
    height: 34px;
    background: url(../images/header-logo.png);
}
.header-title{
    margin: 46px 130px 0;
    color: #000;
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;
    cursor: default;
    a{
        color: #000;
        &:hover{
            color: @blue;
            text-decoration: none;
        }
    }
}
// /header


// footer
.footer{
    padding: 29px 0 35px;
}
.footer-copy{
    display: inline-block;
    .proxima-reg();
    font-size: 12px;
    line-height: 1.2;
}
// /footer



// main top count
.main-total{
    padding: 66px 0;
    text-align: center;
    letter-spacing: -.1em;
    &_head{
        .gothampro-reg();
        font-size: 46px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_val{
        .ff-pf-din-cond-pro();
        font-size: 150px;
        line-height: 1;
        font-weight: 500;
        color: #f32a6c;
    }
    &_rub{
        display: inline-block;
        width: 76px;
        height: 105px;
        background: url(../images/common-count-rub.png) no-repeat;
    }
}
// /main top count




// main categories
.main-categories{
    &_i{
        overflow: hidden;
    }
    &_link{
        position: relative;
        cursor: pointer;
        height: 240px;
        .gothampro-reg();
        letter-spacing: -.1em;
        text-align: center;
        border-bottom: 5px solid;
        color: #fff;
        background: #000 50% 0 ~"/" cover;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            transition: .1s;
        }
        &:after{
            display: none;
            content: '';
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 100%;
            height: 33px;
            width: 33px;
            margin: -13px 0 0 -16px;
            .rotate(45deg);
        }
        &:hover, &.active{
            color: #1a1a1a;
            &:before{
                height: 100%;
            }

            .main-categories_link-cont{
                padding-top: 51px;
            }
            .main-categories_text{
                opacity: 1;
            }
        }
        &.active{
            &:after{
                display: block;
            }
        }

        &__million{
            border-bottom-color: #f1a61b;
            background-image: url(../images/main-cat-million.jpg);
            &:before, &:after{
                background: #f1a61b;
            }
        }
        &__creative{
            border-bottom-color: #ec2466;
            background-image: url(../images/main-cat-creative.jpg);
            &:before, &:after{
                background: #ec2466;
            }
        }
        &__film{
            border-bottom-color: #00b1e1;
            background-image: url(../images/main-cat-film.jpg);
            &:before, &:after{
                background: #00b1e1;
            }
        }
        &__charity{
            border-bottom-color: #ffdf17;
            background-image: url(../images/main-cat-charity.jpg);
            &:before, &:after{
                background: #ffdf17;
            }
        }
        &__music{
            border-bottom-color: #ec2466;
            background-image: url(../images/main-cat-music.jpg);
            &:before, &:after{
                background: #ec2466;
            }
        }
    }
    &_link-cont{
        position: relative;
        padding: 95px 0 0;
        transition: .2s;
    }
    &_head{
        margin: 0 0 20px;
        font-size: 46px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_text{
        font-size: 26px;
        opacity: 0;
        transition: opacity .2s;
    }


    &_cont{
        display: none;
        .wrap{
            padding: 55px 0 30px;
        }
    }
}
// /main categories




// main lead
.main-lead{
    padding: 155px 0;
    text-align: center;
    .gothampro-reg();
    &_head{
        margin: 0 0 30px;
        font-size: 36px;
    }
    &_text{
        max-width: 585px;
        margin: 0 auto 40px;
        font-size: 18px;
        line-height: 30px;
    }
    &_action{
        .flat-btn{
            font-size: 20px;
        }
    }
}
// /main lead



// main footer
.main-footer{
    margin: 0 0 60px;
    .gothampro-reg();
    font-size: 16px;
    text-align: center;
    color: #999;
}
// /main footer




// projects list
.projects{
    margin: 0 0 60px;
}
.projects-title{
    position: relative;
    .box-shadow(0 5px 10px rgba(0,0,0,.1));
    padding: 33px 0;
    border-top: 2px solid #000;
    background: #f5f5f5;
    color: #0f0f0f;
    text-align: center;
    font-size: 24px;
    .wrap{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 14px;
            height: 16px;
            background: url(../images/basil.png);
        }
    }
}
.projects-big{
    display: block;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 260px 0 24px;
    background: url(../images/content/history-project-big.jpg) no-repeat;
    color: #fff;
    line-height: 100%;
    .border-radius(0 0 10px 10px);
    &:hover{
        color: #fff;
    }
}
.projects-big-name{
    .text-overflow();
    display: inline-block;
    height: 33px;
    margin: 0 0 0 26px;
    max-width: 650px;
    font-size: 34px;
    line-height: 100%;
}
.projects-big-price{
    float: right;
    height: 33px;
    margin: 0 26px 0 0;
    font-weight: 700;
    font-size: 36px;
    .helveticaneue-bold();
    line-height: 100%;
}

.projects-small-block{
    .clearfix();
    margin: 0 0 -45px -20px;
    font-size: 0;
}
.projects-small{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 45px 20px;
    width: 300px;

}

.projects-small-link{
    display: block;
    text-decoration: none;
    outline: none;
    &:hover{
        text-decoration: none;
        .projects-small-price{
            color: @linkColor;
            &:before, &:after{
                background: @linkColor;
            }
        }
    }
}
.projects-small-cover{
    position: relative;
    display: block;
    margin: 0 0 25px;
    height: 160px;
}
.projects-small-img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
}
.projects-small-name{
    .text-overflow();
    position: absolute;
    top: 113px;
    left: 30px;
    max-width: 260px;
    color: #fff;
    font-size: 24px;
    line-height: 130%;

    &.invert {
        color: #0f0f0f;
    }
}
.projects-small-price{
    display: block;
    overflow: hidden;
    margin: 0 0 19px;
    font: 700 30px/100% @baseFontFamily;
    color: #070707;
    text-align: center;
    white-space: nowrap;
    &:before, &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        height: 2px;
        background: #171717;
    }
    &:before{
        margin: 0 .5em 0 -50%;
    }
    &:after{
        margin: 0 -50% 0 .5em;
    }
}
.projects-small-text{
    display: block;
    color: #383838;
    font-size: 18px;
    line-height: 150%;
}
.projects-bottom{
    text-align: center;
    a{
        font-size: 24px;
        line-height: 100%;
    }
}
// /projects list



// do you want block
.do-you-want{
    padding: 60px 0 0;
    height: 400px;
    background: #090b0b url(../images/do-you-want-bg.jpg) 50% 50% no-repeat;
    color: #fff;
    text-align: center;
}
.do-you-want-title{
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;
}
.do-you-want-sub-title{
    margin: 0 0 25px;
    font-size: 30px;
}
.do-you-want-text{
    margin: 0 auto 45px;
    width: 490px;
    line-height: 150%;
}
// /do you want block




// post
.post{
    padding: 36px 0 50px;
    > .wrap{
        .clearfix();
    }
}
.post-back-link{
    display: inline-block;
    margin: 0 0 13px;
    padding: 0 0 2px;
    border-bottom: 1px solid #c8c8c8;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    font: 700 14px/100% @baseFontFamily;
    &:hover{
        text-decoration: none;
        color: @linkColor;
        border-bottom-color: @linkColorBorder;
    }
}
.post-title{
    margin: 0 0 28px;
    color: #111;
    font-size: 33px;
    line-height: 130%;
}

.post-main{
    position: relative;
    float: left;
    width: 680px;
}
.post-big-img{
    margin: 0 0 29px;
    max-width: 100%;
}
.post-middle{
    .clearfix();
}



// sharing
.post-share{
    float: left;
    width: 40px;
}
// /sharing



.post-content{
    margin: 0 0 80px 70px;
    .post-milestones{
        margin-left: -70px;
    }
}
.post-content-text{
    margin: 0 0 17px;
    padding: 0 0 22px;
    color: #111;
    font-size: 18px;
    line-height: 165%;
    a{
        .h-link-state();
    }
}
.p-content-notice{
    padding: 3px 0 0 19px;
    margin: 30px 19px 10px 0;
    border-left: 4px solid #c0392b;
}
.p-content-notice-blue{
    margin: 20px 0;
    padding: 10px 19px;
    font-size: 15px;
    border-left: 4px solid #aed0f0;
    background: #f2f2f2;
}
.p-notice-author{
    margin: 5px 0;
    font: italic 400 12px/16px @baseFontFamily;
    text-align: right;
    color: #666;
}

.post-author{
    margin: 0 0 20px;
    color: #111;
    font-size: 15px;
    line-height: 100%;
}
.post-another-posts{
    font-size: 24px;
    line-height: 100%;
}
// /post



// meta sidebar
.post-meta{
    position: absolute;
    top: 0;
    left: 100%;
    width: 210px;
    margin: 0 0 0 29px;
    border: 10px solid #e2e2e2;
    &:after {
        content: "";
        position: absolute;
        bottom: -34px;
        left: 90px;
        display: block;
        width: 28px;
        height: 8px;
        background: url(../images/krakozybra.png) no-repeat;
    }
}
.post-meta-item{
    padding: 15px 10px;
    border-bottom: 10px solid #e2e2e2;
    text-align: center;
    &:last-of-type {
        border: 0;
    }
    .p-meta-title{
        position: relative;
        margin: 0 0 20px;
        font-size: 14px;
        color: #131313;
        line-height: 100%;
        text-transform: uppercase;
        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            display: block;
            width: 145px;
            height: 1px;
            margin: 0 0 0 -72px;
            background: #d1d1d1;
        }
    }
    .p-meta-num{
        line-height: 100%;
        &.over-billion{
            font-size: 34px;
        }
    }
    .p-meta-num-spn{
        position: relative;
        margin: 0 0 20px;
        font-size: 14px;
        color: #131313;
        line-height: 100%;
    }
    &.collected{
        font-size: 36px;
        color: #c0392b;
    }
    &.target{
        font-size: 24px;
        color: #bdc3c7;
    }
    &.date{
        .clearfix();
        .p-meta-title{
            margin-bottom: 30px;
            &:after{
                bottom: -19px;
            }
        }
        .p-meta-date-item{
            float: left;
            font-family: @baseFontFamily;
        }
        .pm-date-item-day{
            .box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.25));
            width: 70px;
            height: 65px;
            padding: 5px 0 0;
            margin: 0 12px 3px;
            background: url(../images/date-point.png) 50% 0 no-repeat;
            font-size: 48px;
            font-weight: 700;
            color: #000;
            line-height: 70px;
        }
        .pm-date-item-moth{
            margin: 0 0 6px;
            font-size: 12px;
            font-weight: 700;
            color: #000;
        }
        .pm-date-item-year  {
            font-size: 25px;
            font-weight: 700;
            color: #c5c5c5;
        }
    }
    .p-meta-date-duration{
        margin-top: 13px;
        font-size: 18px;
        text-transform: none;
        color: #bdc3c7;
        &.with-year{
            font-size: 16px;
        }
    }
    &.members{
        .p-meta-title{
            line-height: 130%;
            text-transform: uppercase;
        }
        .p-meta-num{
            margin: 0 0 5px;
            font-size: 36px;
            color: #bdc3c7;
        }
        .p-meta-num-spn{
            margin: 0;
        }
    }
    &.pm-page-link{
        .p-meta-title{
            margin: 3px 0 0;
            &:after{
                display: none;
            }
        }
    }
}

.post-meta-blog{
    position: absolute;
    top: 680px;
    left: 720px;
    width: 210px;
    text-align: center;
    font-size: 22px;
}
// /meta sidebar



.p-content-manager-ava{
    margin: 0 0 4px;
    background: url(../images/manager-ava-line.png) 50% 65px no-repeat;
    line-height: 100%;
    text-align: center;
    img{
        .border-radius(144px);
        width: 144px;
        height: 144px;
    }
}
.p-content-manager-name{
    margin: 0 0 8px;
    font-size: 30px;
    color: #040404;
    line-height: 100%;
    text-align: center;
}
.p-content-manager-role{
    margin: 0 0 34px;
    font-family: @baseFontFamily;
    font-size: 12px;
    color: #777;
    line-height: 100%;
    text-align: center;
}
.p-content-manager-quote{
    position: relative;
    margin: 0 0 15px;
    color: #111;
    font: italic 18px/165% Georgia, serif;
    &:before, &:after{
        position: absolute;
        display: block;
        .proxima-regular-it();
        font-size: 60px;
        color: #ababab;
    }
    &:before{
        content: "“";
        top: 15px;
        left: -50px;
    }
    &:after{
        content: "”";
        right: -40px;
        bottom: -16px;
    }
    a{
        .h-link-state();
    }
}
.post-milestones{
    .clearfix();
    margin: 0 0 30px;
    padding: 0;
    &.large-milestones{
        width: 750px;
        border-bottom: 2px solid #363636;
        .post-milestones-list{
            margin-right: 0;
        }
        .p-milestones-list-items{
            float: left;
            width: 48%;
            margin-left: 2%;
        }
        .p-milestones-list-title + .p-milestones-list-items{
            margin-left: 0;
            margin-right: 2%;
        }
        .pm-list-items-item{
            border: 0;
        }
    }
}
.post-milestones-list{
    margin: 0 280px 0 0;
}
.p-milestones-list-title{
    height: 22px;
    padding: 18px 0;
    margin: 0 0 15px;
    border-top: 2px solid #363636;
    background: #f1f1f1;
    font-size: 24px;
    color: #363636;
    line-height: 100%;
    text-align: center;
}

.pm-list-items-item{
    margin: 0 0 25px;
    &:last-of-type {
        margin: 0;
        padding: 0 0 25px;
        border-bottom: 2px solid #363636;
    }
}
.pml-items-item-date{
    margin: 0 0 5px;
    font-size: 34px;
    color: #111;
    line-height: 100%;
}
.pml-items-item-text{
    font-size: 18px;
    color: #363636;
    line-height: 170%;
}


.post-milestones-sidebar{
    float: right;
    width: 250px;
}
.p-msb-item{
    & + .p-msb-item{
        margin-top: 30px;
    }
    iframe, embed, object, img{
        display: block;
    }
}
.p-msb-video{
    a{
        display: block;
    }
}
.p-msb-iframe{
    display: none;
    background: #1a1a1a url(../images/milestone-placeholder.jpg) no-repeat 50% 50%;
    margin-bottom: 10px;
    width: 509px;
}
.p-msb-head{
    margin: 0 0 7px;
    padding: 16px 20px 18px;
    font: italic 16px/20px Georgia, serif;
    color: #363636;
    text-align: center;
    border-top: 2px solid #aed0f0;
    background: #f1f1f1;
}


.black{
    color: #303030;
}

.ava-block{
    display: inline-block;
    img{
        display: block;
    }
    div{
        .proxima-boldit();
        font-size: 15px;
        text-align: center;
    }
}

.cite {
    .minionpro-boldit();
}

.h-video{
    position: relative;
    height: 0;
    padding: 0 0 56.25%;
    overflow: hidden;
    background: #1a1a1a;
    iframe, object, embed, video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.relative {
    position: relative;
}

.side-pic {
    position: absolute;
    top: 0;
    right: -250px;
    width: 230px;
}

.check-photo{
    margin: 0 0 40px;
    img{
        max-width: 940px;
    }
}

.notice-source {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #777;
    line-height: 100%;
    margin: 0 0 30px 24px;
}

.rich-ol{
    margin: 1em 0 1em 40px;
    padding: 0;
    counter-reset: li;
    list-style: none;
    > li{
        position: relative;
        &:before{
            content: counter(li);
            counter-increment: li;
            position: absolute;
            top: 0;
            right: 100%;
            margin: 0 20px 0 0;
            font: italic 28px/28px Georgia, serif;
            color: #888;
        }
    }
}

.post-tips{
    position: relative;
    padding: 40px;
    margin: 0 -70px 60px;
    border: 10px solid #4fb6fd;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 18px;
    line-height: 165%;
    color: #111;
    &_img{
        position: absolute;
        top: 40px;
        right: 40px;
        img{
            display: block;
        }
    }
    &_head{
        position: relative;
        font-family: 'ProximaNovaBold', Arial, sans-serif;
        font-size: 32px;
        line-height: 1.3;
        margin: 0 0 35px 10px;
    }
    &_head-spn{
        .box-shadow(5px 0 0 5px #fff);
        background: #fff;
        box-decoration-break: clone;
    }
    .rich-ol{
        font-size: .9em;
        line-height: 1.5;
    }
}


.short-blockquote{
    .clearfix();
    margin: 10px 0 60px;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.45;
    &_head{
        margin: 0 0 40px;
        .proxima-bold();
        font-size: 29px;
        line-height: 1.2;
        letter-spacing: .1em;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &_wrap{
        float: left;
        width: 100%;
        padding: 40px 0;
        border: 10px double #e94347;
        border-left: 0;
        border-right: 0;
    }
    &_i{
        float: left;
        width: 300px;
        margin: 0 0 0 20px;
        &:first-child{
            margin-left: 0;
        }
    }
    &_ava{
        img{
            display: block;
        }
    }
    &_name{
        padding: 0 0 0 10px;
        margin: 25px 0 15px;
        .proxima-bold();
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: #fff;
        span{
            @shadow: 5px 0 0 5px #e94347, -5px 0 0 5px #e94347;
            .box-shadow(@shadow);
            background: #e94347;
            box-decoration-break: clone;
        }
    }
}

.image-mark{
    margin: -25px 0 29px;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 10px;
    color: #808080;
}


// list loader
@-webkit-keyframes list-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes list-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.list-preloader:not(:required) {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 48px;
    height: 48px;
    margin: 20px auto 0;
    border: 3px solid #d0cbba;
    border-radius: 24px;
    text-indent: -9999px
}

.list-preloader:not(:required)::before {
    content: '';
    position: absolute;
    left: 19px;
    top: 19px;
    display: block;
    width: 4px;
    height: 20px;
    background: #d0cbba;
    border-radius: 2px;
    -webkit-animation: list-preloader 1250ms infinite linear;
    animation: list-preloader 1250ms infinite linear;
    -webkit-transform-origin: 2px 2px;
    -ms-transform-origin: 2px 2px;
    transform-origin: 2px 2px
}

.list-preloader:not(:required)::after {
    content: '';
    position: absolute;
    left: 19px;
    top: 19px;
    display: block;
    width: 4px;
    height: 16px;
    background: #d0cbba;
    border-radius: 2px;
    -webkit-animation: list-preloader 15000ms infinite linear;
    animation: list-preloader 15000ms infinite linear;
    -webkit-transform-origin: 2px 2px;
    -ms-transform-origin: 2px 2px;
    transform-origin: 2px 2px
}
// /list loader
