//
// Fonts
// --------------------------------------------------


#font > .fontFace('pf_agora_sans_proregular', 'pfagorasanspro-reg-webfont', 'pf_agora_sans_proregular');
.pf-agora-sans-proreg{
    font-family: 'pf_agora_sans_proregular', @baseFontFamily;
}

// ProximaNova
#font > .fontFace('ProximaNovaRegular', 'proximanova-reg-webfont', 'proxima_nova_rgregular');
.proxima_nova_rgregular{
    font-family: 'ProximaNovaRegular', @baseFontFamily;
}

// ProximaNova Bold
#font > .fontFace('ProximaNovaBold', 'proximanova-bold-webfont', 'proxima_novabold_italic');
.proxima-bold{
    font-family: 'ProximaNovaBold', @baseFontFamily;
}

// GothamPro
#font > .fontFace('gotham_proregular', 'gothaproreg-webfont', 'gotham_proregular');
.gothampro-reg{
    font-family: 'gotham_proregular', @baseFontFamily;
}

// GothamPro Bold
#font > .fontFace('gotham_probold', 'gothaprobol-webfont', 'gotham_probold');
.gothampro-bold{
    font-family: 'gotham_probold', @baseFontFamily;
}

// GothamPro Black
#font > .fontFace('gotham_problack', 'gothaprobla-webfont', 'gotham_problack');
.gothampro-black{
    font-family: 'gotham_problack', @baseFontFamily;
}

