//
// Planeta Project List page
//
// --------------------------------------------


.project-page{
    .container{
        width: auto;
        background: transparent;
        padding: 0;
        border: 0;
        margin-bottom: 100px;
    }
    .main-container{
        padding: 0;
    }
}


.project-filter{
    margin: -18px 0 20px;
    background: #fff;
}
.project-filter-wrap{
    margin: -10px 0 0 -19px;
    padding: 20px 0;
}

.pf-field, .pf-label, .pf-select, .pf-input{
    display: inline-block;
    vertical-align: top;
}
.pf-field{
    margin: 10px 0 0 19px;
}
.pf-label{
    margin: 7px 9px 0 0;
    .proxima_nova_rgregular();
    font-size: 25px;
    line-height: 27px;
    color: #000;
}
.pf-select{
    width: 137px;
    padding: 0 30px 0 10px;
    font-size: 15px;
    line-height: 38px;
    color: #646464;
    text-transform: lowercase;
    .box-shadow(none);
    .select-cont{
        padding: 0;
    }
    .dropdown-menu{
        width: auto;
        min-width: 100%;
        max-height: none;
        border: 1px solid #ccc;
        .box-shadow(none);
        .item a{
            padding: 8px 11px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
.pf-input{
    width: 110px;
    height: 18px;
    margin: 0;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 18px;
    color: #646464;
    .box-shadow(none);
}


.project-list-not-found{
    padding: 25px 0;
    .gothampro-bold();
    font-size: 22px;
    text-align: center;
    .hl{
        margin: 10px 0 0;
        .gothampro-reg();
        font-size: 15px;
    }
}


.project-list-block{
    .list-loader{
        margin-left: @grid960GutterWidth;
    }
}

.project-category{
    padding: 24px;
    margin: 0 0 20px;
    background: #fff;
    border: 1px solid #d8dade;
    &_head{
        margin: 0 0 15px;
        font: 700 18px @baseFontFamily;
        color: #000;
    }

    &_list{
        margin: 0;
        list-style: none;
    }
    &_i{
        margin: 12px 0 0;
        font-size: 15px;
        line-height: 18px;
        &:first-child{
            margin-top: 0;
        }
        &.active{
            .project-category_name{
                color: #bdbdbd;
            }
        }
    }
    &_count{
        float: right;
        color: #bdbdbd;
    }
    &_name{
        color: @linkColor;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
    }
}

