//
// widget style
// --------------------------------------------------

// --extend bootstrap style
html, body {
    height: 100%;
}

body {
    position: relative;
    height: auto;
    min-height: 100%;
    min-width: @gridRowWidth + @gridGutterWidth * 2;
    overflow-y: scroll;
}

#affilate-wrap {
    padding: 0 0 60px;
}


// --add grid for form
.form-grid {
    input,
    textarea,
    select,
    .help-inline,
    .uneditable-input,
    .input-prepend,
    .input-append {
        display: inline-block;
        .ie7-inline-block();
        margin-bottom: 0;
        vertical-align: middle;
    }


    // Increase spacing between groups
    .control-group {
        margin-bottom: @baseLineHeight;
        .clearfix();
    }
    // Float the labels left
    .control-label {
        //float: left;
        //width: @horizontalComponentOffset - 20;
        padding-top: 5px;
        text-align: right;
    }
    // Remove bottom margin on block level help text since that's accounted for on .control-group
    .help-block {
        margin-bottom: 0;
    }
    // And apply it only to .help-block instances that follow a form control
    input,
    select,
    textarea,
    .uneditable-input,
    .input-prepend,
    .input-append {
        + .help-block {
            margin-top: @baseLineHeight / 2;
        }
    }
}

// --/add grid for form


// --restyle bootstrap style
[class^="icon-"], [class*=" icon-"] {
    width: 16px;
    height: 16px;
}

.well {
    background-color: #fafafa;
}
.well-large {
    padding: 19px;
    .border-radius(20px);
}

.btn {
    background: #D1E5EC;
    border-color: #D1E5EC;

    .border-radius(18px);
    .box-shadow(~"none");
    text-shadow: none; // Hover/focus state
    &:hover, &:active, &:focus {
        background-color: #e1f1f6; // transition is only when going to hover/focus, otherwise the background
    }
}

.btn-primary {
    background: #3498db;
    border: 1px solid #3498db;

    &:hover, &:active, &:focus {
        background-color: #15b4f5;
    }
}

// Info appears as a neutral blue
.btn-info {
    background: #436069;
    border-color: #436069;

    &:hover, &:active, &:focus {
        background-color: #5a7e88;
    }
}

.btn-warning {
    background: #fffbd5;
    border-color: #ede9c6;
    color: #303030;

    &:hover, &:active, &:focus {
      background-color: #fcffec;
      color: #404040;
    }
}

// Inverse appears as dark gray
.btn-inverse {
    background: #183741;
    border-color: #183741;

    &:hover, &:active, &:focus {
        background-color: #4d5d65;
        color: #ffffff;
    }
}

.btn-large {
    .border-radius(@borderRadiusLarge);
}

// Small
.btn-small {
    .border-radius(@borderRadiusSmall);
}

// Mini
.btn-mini {
    .border-radius(10px);
}
// /--restyle bootstrap style


.flat-btn{
    .border-radius(2px);
    display: inline-block;
    padding: 9px 15px 8px;
    border: none;
    background: #3498db;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    &:hover{
        background: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &:active{
        background: #2c85c0;
    }
}


.contetn-inline > *,
.content-inline > *{
    display: inline-block;
    vertical-align: top;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #f5f5f5;
}

#footer-inner {
    margin: 8px 0 0;
    #f-inner-left {
        float: left;
        margin: 15px 0 0;
        #fi-left-copy {
            float: left;
            margin: 0 54px 2px 0;
            color: #333;
            font-size: 14px;
        }
    }
    #fil-about-pr {
        float: left;
        .fila-pr-a {
            color: @blue;
            border-bottom: 1px solid;
            &:hover {
                text-decoration: none;
                border-bottom: none;
            }
        }
    }
    #f-inner-center {
        float: right;
        margin: 15px 0 0;
        #fi-center-mistake {
            margin: 0 0 2px;
            font-size: 14px;
            #fic-mistake-a {
                color: @blue;
                border-bottom: 1px solid;
                &:hover {
                    text-decoration: none;
                    border-bottom: none;
                }
            }
        }
        .fi-center-payment-methods {
            position: relative;
            top: -10px;
            margin: 0 0 0 20px;
            font-size: 0;
            line-height: 0;
            [class^="footer-payment-icon-"] + [class^="footer-payment-icon-"] {
                margin: 0 0 0 10px;
            }
        }
    }
    #f-inner-right {
        float: right;
        position: relative;
        top: 10px;
        .fir-socials-icon {
            float: left;
            background: url(/images/welcome_new/ftr-soc-icon-grey.png) no-repeat;
            height: 26px;
            width: 23px;
            margin: 0 0 0 17px;
            .opacity(100);
            .transition(opacity .2s ease);
            &:hover {
                .transition(opacity .2s ease);
                .opacity(50);
            }
            &#firs-icon-fb {
                background-position: -23px 0;
            }
            &#firs-icon-tw {
                background-position: -46px 0;
            }
            &#firs-icon-yt {
                background-position: -69px 0;
            }
        }
    }
}

// nav
.nav-pills > li > a{
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}
.nav-pills > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
    .border-radius(20px);
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus{
    background: #3498db;
}


.nav-dotted {
    > li {
        & + li {
            margin-left: 12px;
        }
        > a {
            padding: 0;
            border-bottom: 1px dotted;
            .border-radius(0);
            cursor: pointer;
        }
    }
}

.nav-dotted > li > a:hover,
.nav-dotted > li > a:focus {
    text-decoration: none;
    background: none;
}

.nav-dotted > .active > a,
.nav-dotted > .active > a:hover,
.nav-dotted > .active > a:focus {
    cursor: default;
    color: @textColor;
    background: none;
    border: 0;
}

// /nav
// /--extend bootstrap style

.blue {
    color: @blue;
}

.list-loader {
    position: relative;
    a {
        display: block;
        margin-bottom: 6px;
        padding: 12px 0;
        font-size: 12px;
        line-height: 12px;
        text-decoration: none;
        text-align: center;
        color: #333;
        .border-radius(4px);
        background: #f4f4f4 url(/images/icon/list-load-str-b.png) no-repeat 20px 50%;
        [class^="icon-"] {
            display: none !important;
        }
        &:hover {
            background-color: #e8e9ea;
        }
        &.load {
            background: #e8e9ea url(/images/icon/16x16-e8e9ea.gif) no-repeat 20px 50%;
        }
    }
    &.list-refresh {
        a {
            background-image: none;
        }
        .icon-refresh {
            display: block !important;
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }
}

.link-toggle{
    text-decoration: none;
    .link-text{
        color: @linkColor;
        vertical-align: middle;
    }
    .link-caret{
        border-top: 4px solid @linkColor;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
        .opacity(20);
    }
    &.dashed{
        .link-text{
            border-bottom: 1px dashed;
        }
    }
    &.dotted{
        .link-text{
            border-bottom: 1px dotted;
        }
    }
    &.active{
        .link-caret{
            .opacity(100);
        }
    }
    &.up{
        .link-caret{
            border-top: 0;
            border-bottom: 4px solid @linkColor;
        }
    }
    &:hover{
        text-decoration: none;
        .link-text{
            color: @linkColorHover;
        }
        .link-caret{
            border-color: @linkColorHover transparent;
        }
    }
    &.text-color{
        .link-text{
            color: @textColor;
        }
        .link-caret{
            border-top-color: @textColor;
        }
        &.up{
            .link-caret{
                border-bottom-color: @textColor;
            }
        }
        &:hover{
            .link-text{
                color: darken(@textColor, 15%);
            }
            .link-caret{
                border-color: darken(@textColor, 15%) transparent;
            }
        }
    }
}

.affiliate-header {
    .logo {
        width: 109px;
        height: 29px;
        margin: -10px 0 -7px;
    }
}

.affiliate-header-welcome {
    .navbar-inverse .navbar-inner {
        padding-top: 26px;
        padding-bottom: 26px;
        #gradient > .vertical(#011529, #021b34);
    }
}

.brand-text {
    display: inline-block;
    color: #fff;
    margin: 4px 0;
    padding: 6px 15px;
    border-left: 2px solid #fff;
    font: 700 15px/20px @baseFontFamily;
}

.signin-nav {
    > li + li {
        margin-left: 15px;
    }
}

.profile-h-name-block{
    &.nav > li > a{
        padding-top: 12px;
        padding-bottom: 8px;
    }
}
.profile-h-name{
    display: inline-block;
    max-width: 120px;
    font: 700 11px/13px @baseFontFamily;
    color: #fff;
    .text-overflow();
}

.modal-footer-text {
    float: left;
    margin: 8px 0;
    font-size: 12px;
    line-height: 16px;
}

.main-container {
    margin: 15px 0 40px;
}

.affiliate-quick-stat {
    margin: 0 0 0;
    padding: 13px 30px;
    .border-radius(40px);

    .aqs-more {
        float: right;
        margin: 9px 0 0;
    }
}

.aqs-list {
    overflow: hidden;
    .aqs-item {
        float: left;
        text-align: center;
        & + .aqs-item {
            margin-left: 100px;
        }
    }
    .aqs-label {
        margin: 0 0 3px;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: @grayLight;
    }
    .aqs-value {
        font: 700 20px/24px @baseFontFamily;
    }
}

.step {
    width: 311px;
    float: left;
    .box-sizing(border-box);
    min-height: 330px;

    & + .step {
        margin-left: 10px;
    }
}

.illustration {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #464646;
    .border-radius(50%);
    padding: 20px;
    background: url(/images/affiliate/affiliate-welcome-sprite.png) -2px -3px;
    &.pic-choose-project {
        background-position: -3px -3px;
    }

    &.pic-choose-widget {
        background-position: -111px -3px;
    }

    &.pic-referals {
        background-position: -223px -3px;
    }
}


.affiliate-news {
    margin: 0 0 20px;
    list-style: none;
}

.aff-news-item {
    & + .aff-news-item {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid @grayLighter;
    }
}

.aff-news-name {
    margin: 0 0 3px;
    font: 700 18px/22px @baseFontFamily;
    a {
        color: @textColor;
    }
}

.aff-news-date {
    margin: 0 0 8px;
    font-size: 11px;
    line-height: 13px;
    color: @grayLight;
}

.project-list-filter {
    padding: 18px 0;
    select, input {
        margin: 0;
    }
}

.table{
    thead, tfoot{
        th{
            .pf-agora-sans-proreg();
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            vertical-align: middle;
            text-align: center;
        }
    }
    tfoot{
        th{
            text-align: left;
        }
        td{
            text-align: left;
        }
    }
}
.table-digits{
    tfoot, tbody{
        td, th{
            text-align: right;
        }
    }
}

.project-promo-table {
    font-size: 12px;
    line-height: 16px;
    .b-rub {
        font-size: 13px;
    }

    thead {
        th {
            vertical-align: middle;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            font-family: arial, sans-serif;
            &:first-child {
                font-size: 18px;

                small {
                    font-family: Arial, sans-serif;
                    font-size: 11px;
                    text-transform: none;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                line-height: 16px;
                vertical-align: middle;
                text-align: center;

                &.project-pic-title {
                    font-size: 14px;
                    line-height: 22px;
                    text-align: left;
                }

                &.project-score {
                    font-family: 'Roboto Slab', serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: @gray;
                }

                small {
                    font-size: 11px;
                }

                .pledged {
                    font-size: 16px;
                    font-weight: 700;
                    white-space: nowrap;
                    .b-rub {
                        font-size: 100%;
                    }
                }
            }
        }
    }
}

.aff-project-cover {
    float: left;
    width: 100px;
}

.aff-project-name {
    margin-left: 110px;
}




.stripe-dark-blue {
    padding: 20px 0;

    .container {
        >p, >h1, >h2, >h3, >h4, >h5, >h6 {
            color: #ffffff;
        }
    }
}

.table .align-center, .align-center {
    text-align: center;
}

.filter-link-list{
    list-style: none;
    margin: 0;
    .filter-link-item{
        margin-right: 8px;
        float: left;
        a{
            text-decoration: none;
            border-bottom: 1px dashed;
        }
        &.active{
            a{
                color: @grayLight;
            }
        }
    }
}
.filter-link-list-small{
    font-size: 12px;
}
.filter-link-label{
    margin: 4px 8px 10px 0;
    float: left;
    label{
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
    .filter-link-list{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 5px;
    }
}

.input-field{
    padding: 0 10px 0 0;
    *zoom: 1;
    input,textarea{
        width: 100%;
        margin: 0;
    }
}

.input-icon{
    position: relative;
    padding-right: 31px;
    input{
        padding-right: 25px;
        position: relative;
    }
    [class^="icon-"]{
        right: 5px;
        top: 5px;
        position: absolute;
        background-color: @white;
    }
    &.input-icon-left{
        input{
            padding-right: 4px;
            padding-left: 25px;
        }
        [class^="icon-"]{
            right: auto;
            left: 5px;
        }
    }
    &.shift-icon-top{
        [class^="icon-"]{
            top: 6px;
        }
    }
}

.icon-gray {
    background-image: url(/images/icon/icon-sprite-gray.png);
}
.icon-event                 { background-position: -192px 0; }
.icon-search {
    background-position: -456px 0;
}
.tab-pane-filter-search{
    .control-label{
        width: 60px;
        margin: 0 0 0 9px;
        text-align: left;
    }
    .controls{
        float: left;
        width: 188px;
        margin: 0 30px 0 0;
        input{
            width: 194px;
        }
    }
}
.affiliate-statistic-chart{
    width: 950px;
    height: 350px;
    margin: 0 0 0 -1px;
    overflow: hidden;
}



.widget-list{
    h2, h3{
        margin: 37px 0 10px;
        font-family: @baseFontFamily;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        cursor: default;
    }
    h3{
        margin: 0 0 25px;
        font-size: 19px;
        font-weight: 400;
    }
    .modal-widget-nav{
        font-size: 0;
        line-height: 0;
    }
    .modal-widget-nav-item{
        .border-radius(3px);
        display: inline-block;
        padding: 7px 9px;
        margin: 0 23px 0 0;
        font-size: 20px;
        color: #b0c5d1;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            background: #f2f6f9;
            color: #a4c9e0;
            [class^="modal-widget-nav-icon-"]{
                .mwn-icon-hover();
            }
        }
        &.active{
            background: #26aedd;
            color: #fff;
            [class^="modal-widget-nav-icon-"]{
                .mwn-icon-active();
            }
        }
        [class^="modal-widget-nav-icon-"]{
            margin: 0 10px 0 0;
        }
        .modal-widget-nav-text{
            position: relative;
            top: 7px;
            font-family: 'ProximaNovaRegular' , @baseFontFamily;
        }
    }
    .affiliate-widgets-choice-options{
        font-family: @baseFontFamily;
        font-size: 14px;
        line-height: 100%;
        .nav-pills{
            margin-left: -12px;
            > li{
                margin-left: 12px;
                margin-bottom: 10px;
            }
        }
        .nav-pills{
            position: relative;
            top: -4px;
            > .active a{
                background: #26aedd;
            }
        }
        .control-label{
            width: 150px;
        }
        .controls{
            margin-left: 170px;
        }
    }
    h4{
        font-size: 17.5px;
    }
    @awcItemOffset: 20px;
    @awcItemBorder: 1px;
    .affiliate-widgets-choice-list{
        position: relative;
    }
    .awc-list-pane{
        display: none;
        &.active{
            display: block;
        }
    }
    .awc-item{
        float: left;
        margin: 0 @awcItemOffset @awcItemOffset 0;
        cursor: pointer;
        &:hover{
            .awc-farme{
                border-color: @blue;
            }
            .awc-head{
                color: @blue;
            }
        }
        &.active{
            .awc-farme{
                border-color: @blue;
            }
            .awc-head{
                color: @blue;
                .awc-head-link{
                    display: block;
                }
            }
        }
    }

    .awc-head{
        padding: 6px 0;
        font: 20px/100% @baseFontFamily;
        color: #b0c5d1;
        text-align: right;
        .awc-head-link{
            float: left;
            display: none;
            font-size: 18px;
            text-decoration: underline;
        }
    }

    .awc-farme{
        border: @awcItemBorder solid @grayLighter;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBJREFUeNpiPHPmDANuYGxsjEeWiYECMKp5ZGhm/P//Px7ps2fPjgbYqGZKNAMEGAAOgQiIGXe3CgAAAABJRU5ErkJggg==");
        iframe{
            display: block;
        }
    }

    .awc-widget-1{
        width: 240px + @awcItemBorder * 2
    }

    .awc-widget-2{
        width: 300px + @awcItemBorder * 2
    }

    .awc-widget-3{
        width: 242px + @awcItemBorder * 2;
        iframe{
            border: 1px solid #d9d9d9
        }
    }

    .awc-widget-4{
        width: 728px + @awcItemBorder * 2
    }

    .awc-widget-5{
        width: 600px + @awcItemBorder * 2
    }

    .awc-widget-6{
        width: 600px + @awcItemBorder * 2
    }

    .awc-widget-7{
        width: 468px + @awcItemBorder * 2
    }

    .awc-widget-8{
        width: 202px + @awcItemBorder * 2;
        clear: left;
        iframe{
            border: 1px solid #d9d9d9
        }
    }

    .awc-widget-9{
        width: 192px + @awcItemBorder * 2
    }


}

.awc-list-opt{
    padding: 20px 0 0;
    overflow: hidden;
}

.affiliate-widgets-action-list{
    position: relative;
    .awa-name{
        display: inline-block;
        margin-left: -18px;
    }
    h4{
        font: 20px/130% @baseFontFamily;
        color: #000;
    }

}

.aw-action-list-textarea{
    width: 310px;
    margin: 0 0 20px;
    padding: 10px;
    font: 16px/130% @baseFontFamily;
    text-align: left;
    border: 1px solid #26aedd;
    .border-radius(2px);
}

.affiliate-widgets-choice-options{
    margin: 10px 0 0;
    .aw-choice-options-label{
        display: block;
        margin: 15px 0 10px;
    }
}

textarea.widget-share-textarea{
    width: 315px;
    background: #fff;
    cursor: default;
}


.widget-button-preview-block{
    margin: 55px 0 0;
    h3{
        font-size: 24.5px;
        text-align: left;
    }
}
.widget-button-preview{
    margin: 0 0 20px;
    padding: 35px 22px;
    border: 3px solid #b8daef;
    background: url(/images/affiliate/widget-button-preview-bg.gif);
    .flat-btn{
        font: 400 18px/22px @baseFontFamily;
        padding: 9px 0;
    }
    .wb-preview-btn-img{
        cursor: pointer;
    }
}
.wbp-descr{
    margin: 0 0 25px;
    padding: 32px 0 0;
    font: italic 12px/16px @baseFontFamily;
    text-align: center;
    color: #585858;
    background: url(/images/affiliate/widget-button-preview-arr.gif) no-repeat 50% 0;
}
.wbp-descr-link-block{
    text-align: center;
}
.wbp-descr-link{
    font-size: 18px;
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}


[class^="modal-widget-nav-icon-"] {
    .sprite(36px, 36px, url(/images/icon/modal-widget-nav-icons.png));
}

.modal-widget-nav-icon-default  {background-position: -1px -42px}
.modal-widget-nav-icon-slim     {background-position: -40px -42px}
.modal-widget-nav-icon-bay      {background-position: -81px -42px}
.mwn-icon-active{
    &.modal-widget-nav-icon-default  {background-position: -1px -2px}
    &.modal-widget-nav-icon-slim     {background-position: -40px -2px}
    &.modal-widget-nav-icon-bay      {background-position: -81px -2px}
}
.mwn-icon-hover{
    &.modal-widget-nav-icon-default  {background-position: -1px -81px}
    &.modal-widget-nav-icon-slim     {background-position: -40px -81px}
    &.modal-widget-nav-icon-bay      {background-position: -81px -81px}
}


// datepicker google analytics
#date-range {
    position:relative;
}
#datepicker-calendar {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    overflow: hidden;
    width: 497px;
    height:153px;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 5px;
    display:none;
    padding:10px 0 0 10px;
}
#datepicker-calendar div.datepicker {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.project-link-block-left{
    float: left;
    width: 100px;
}
.project-link-block-right{
    margin: 0 0 0 120px;
}
.project-link-block{
    padding: 30px 0 28px;
    margin: 0 0 -21px;
    background: #eff6fb;
    .pl-block-bottom-input{
        padding: 6px 6px;
        margin: 0;
        line-height: 150%;
    }
}
.pl-block-title{
    .text-overflow();
    padding: 0 20px 0 0;
    margin: 0 0 9px;
    font-size: 18px;
    font-weight: 700;
}
.pl-block-bottom{}
.pl-block-bottom-link{
    margin: 0 7px 0 0;
}
.pl-block-img{
    overflow: hidden;
}

.sharing-popup-social{
    margin: 13px 0 0 128px;
}
[class^="bs-icons-"]{
    border-radius: 5px;
}
.spsb-item{
    margin-left: 10px;
}
