//
// widget welcome
// --------------------------------------------------


.welcome-lead, .stripe-dark-blue{
    position: relative;
    padding: 35px 0 59px;
    .box-shadow(0 5px 15px rgba(0,0,0,.25));
    #gradient > .vertical(#031e3c, #0a4472);
    .wl-img{
        float: right;
        width: 417px;
        height: 266px;
        margin: 33px 6px 0 0;
        background: url(../images/affiliate/welcome-img.png) no-repeat;
    }
    .wl-cont{
        width: 470px;
        color: #fff;
    }
    .wl-head{
        margin: 0 0 21px;
        font: 700 42px/51px @baseFontFamily;
        letter-spacing: -1px;
    }
    .wl-text{
        margin: 0 0 30px;
        font: 18px/30px @baseFontFamily;
        color: #96b0c3;
    }
    .wl-action{
        .btn{
            padding: 13px 35px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            .border-radius(26px);
        }
    }
}

.welcome-about{
    padding: 32px 0 80px;
    background: #e5e7ea url(../images/affiliate/wa-bg.png) no-repeat;
    .wa-img{
        margin: 0 0 27px;
        img{
            display: block;
        }
    }
    .wa-name{
        margin: 0 0 11px;
        font: 700 28px/32px @baseFontFamily;
        letter-spacing: -1px;
    }
    .wa-descr{
        font: 14px/24px @baseFontFamily;
    }
}

.welcome-action{
    position: relative;
    padding: 40px 0;
    text-align: center;
    .box-shadow(0 -5px 10px rgba(0,0,0,.05));
    .btn{
        padding: 20px 40px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        .border-radius(35px);
    }
}