// Main tech battle



html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    font: 16px/1.23 @ff-proxima-nova;
    color: #fff;
    background: #000;
    overflow-x: hidden;
}

a{
    color: @linkColor;
    text-decoration: underline;
}
a:hover{
    //color: desaturate(#ffd105, 15%);
}




.page-head{
    font-size: 48px;
    line-height: 58/48;
    font-weight: 700;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
}





.tech-request-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 23px 119px 21px;
    font: 900 32px/36px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #132129;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(-135deg, #fb872b 0, #d9e021 100%);
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }


    @media (max-width: 1023px) {
        padding: 20px 50px 18px;
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
    }

    @media (max-width: 767px) {
        display: block;
        width: 100%;
        padding: 17px 10px 15px;
        font-size: 20px;
    }
}



.tech-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10px 20px 8px;
    font: 19px/22px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    color: #1b2336;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }
}


.tech-btn-primary{
    background: #ffcf0d;
    border-color: #ffcf0d;
    color: #1b2336;
    &:hover{
        background: lighten(#ffeb29, 7%);
        border-color: lighten(#ffeb29, 7%);
        color: #1b2336;
    }
    &.active, &:active{
        background: #ffcf0d;
        border-color: #ffcf0d;
    }
    &.disabled, &[disabled]{
        background: #ffcf0d;
        border-color: #ffcf0d;
    }
}




// header
.header{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 0 0;
    font-size: 0;
    text-align: center;
    &_pln{
        display: inline-block;
        vertical-align: top;
        margin: 40px 0 0;
        font-size: 45px;
        line-height: 0;
    }
    &_school{
        display: inline-block;
        vertical-align: top;
        margin: 3px 30px 0 44px;
        font-size: 41px;
        line-height: 0;
    }
    &_rvc{
        display: inline-block;
        vertical-align: top;
        margin: 0 100px 0 90px;
        font-size: 117px;
        line-height: 0;
    }
    &_eva{
        display: inline-block;
        vertical-align: top;
        margin: 39px 0 0;
        line-height: 0;
        font-size: 58px;
    }

    @media (max-width: 767px) {
        padding: 130px 0 0;
        &_pln{
            margin: 0 10px;
            font-size: 36px;
        }
        &_school{
            margin: 2px 15px 0 0;
            font-size: 34px;
        }
        &_rvc{
            position: absolute;
            top: 20px;
            left: 50%;
            margin: 0 0 0 -82px;
            font-size: 90px;
        }
        &_eva{
            margin: 0 10px;
            font-size: 36px;
        }
    }
}





.header-pln-logo{
    display: inline-block;
    vertical-align: top;
    width: 734em / 191;
    line-height: 1em;
    background: url(../images/pln-logo-fill-w.svg) no-repeat;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}


.header-rvc-logo{
    display: inline-block;
    vertical-align: top;
    width: 214em / 117;
    line-height: 1em;
    background: url(../images/promo/technobattle/header-rvc-logo.png) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}


.header-eva-logo{
    display: inline-block;
    vertical-align: top;
    width: 94em / 58;
    line-height: 1em;
    background: url(../images/promo/technobattle/header-eva-logo.png) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}




.pln-logo{
    display: inline-block;
    vertical-align: top;
    width: 734em / 191;
    line-height: 1em;
    background: url(../images/pln-logo-white.svg) no-repeat;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}


.school-logo{
    display: inline-block;
    vertical-align: top;
    width: 632em / 145;
    line-height: 1em;
    background: url(../images/school-logo-white.svg) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}


.eva-logo{
    display: inline-block;
    vertical-align: top;
    width: 75em / 45;
    line-height: 1em;
    background: url(../images/promo/technobattle/eva-logo.png) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}
// /header



// footer
.footer{
    padding: 70px 0;
    font-size: 12px;


    &_info{
        float: left;
        font-size: 14px;
        line-height: 21/14;
        a{
            color: #fff;
        }
    }

    &_sharing{
        text-align: center;
        margin: 12px 0 0;
    }
    &_sharing-head{
        display: inline-block;
        vertical-align: top;
        margin: 5px 12px 0 0;
    }
    &_sharing-cont{
        display: inline-block;
        vertical-align: top;
    }


    &_develop{
        float: right;
        margin: 6px 0 0;
        white-space: nowrap;
    }
    &_develop-head{
        display: inline-block;
        vertical-align: top;
        margin: 8px 7px 0 0;
    }
    &_develop-logo{
        display: inline-block;
        vertical-align: top;
        font-size: 30px;
    }


    @media (max-width: 767px) {
        text-align: center;
        &_info{
            float: none;
        }
        &_develop{
            float: none;
            margin: 30px 0;
        }
        &_sharing-head{
            margin-bottom: 10px;
        }
    }
}
// /footer




// lead
.lead{
    position: relative;
    background: url(../images/promo/technobattle/lead-bg.jpg) no-repeat 50% 50% / cover;
    &_main{
        position: relative;
        z-index: 1;
    }
    &_block{
        display: table;
        table-layout: fixed;
        width: 100%;
        height: ~"calc(100vh - 65px)";
        text-align: center;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        padding: 200px 0 70px;
        text-align: center;
    }

    &_banner{
        margin: 0 0 70px;
        text-align: center;
    }
    &_head{
        margin: 0 0 15px;
        padding: 0 0 0 11px;
        font-size: 83px;
        line-height: 1;
        font-weight: 900;
        letter-spacing: .195em;
        text-transform: uppercase;
    }
    &_post-head{
        margin: 0 0 116px;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 700;
        letter-spacing: .325em;
        text-transform: uppercase;
    }
    &_text{
        max-width: 770px;
        margin: auto;
        font-size: 21px;
        line-height: 28/21;
    }
    &_text-start{
        margin: 29px 0 43px;
        font-size: 22px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .2em;
        text-transform: uppercase;
    }
    &_text-start-hl{
        color: #ffcf0d;
    }


    @media (max-width: 1023px) {
        &_head{
            padding: 0;
            font-size: 42px;
        }
        &_post-head{
            font-size: 16px;
        }
        &_text{
            font-size: 18px;
        }
    }

    @media (max-width: 767px) {
        &_block{
            height: auto;
        }
        &_head{
            margin: 10px 0 20px;
            font-size: 30px;
        }
        &_post-head{
            margin: 0 0 30px;
            font-size: 14px;
            line-height: 1.2;
        }
        &_text{
            font-size: 16px;
        }
        &_text-start{
            font-size: 16px;
        }
        &_banner{
            margin: 0 0 40px;
            text-align: center;
        }
    }
}
// /lead




// nav
.nav-wrap{
    height: 65px;
    &.fixed{
        .nav{
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}
.nav{
    position: relative;
    box-shadow: 0 20px 20px fade(#000, 20);
    background: linear-gradient(90deg, #042b41 0, #044f5f 100%);
    font-size: 0;
    &_cont{
        position: relative;
        overflow: hidden;
    }
    &_action{
        position: absolute;
        top: 12px;
        right: 0;
        .tech-request-btn{
            padding: 12px 26px 11px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
        }
    }
    &_list{
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 24px 0 0;
        font-size: 17px;
        line-height: 19px;
    }
    &_link{
        position: relative;
        display: block;
        padding: 24px 0 22px;
        color: #fff;
        text-decoration: none;
        &:hover, &.active{
            color: @linkColor;
            text-decoration: none;
        }
        &.active{
            &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-top: 4px solid @linkColor;
            }
        }
    }


    @media (max-width: @screen-md-max) {
        &_i{
            margin-right: 18px;
        }
        &_action{
            .tech-request-btn{
                padding: 12px 18px 11px;
            }
        }
    }

    @media (max-width: 1023px) {
        &_action{
            display: none;
        }
    }
}
// /nav




// organizer
.svg-mask{
    position: absolute;
}

.organizer{
    padding: 58px 0 111px;
    background: url(../images/promo/technobattle/organizer-bg.jpg) no-repeat 50% 0 / cover;
    &_list{
        margin: 0 -40px;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        padding: 0 40px;
        font-size: 16px;
        line-height: 24/16;
        text-align: center;
    }
    &_ava{
        position: relative;
        width: 244px;
        height: 244px;
        margin: auto;
        padding: 7px;
        background: url(../images/promo/technobattle/rect.png) no-repeat 0 0 / cover;
    }
    &_ava-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: -44px;
        opacity: .2;
        background: url(../images/promo/technobattle/rect.png) no-repeat 0 0 / cover;
    }
    /*
    &_ava-img{
        position: relative;
        clip-path: url("#avaClip");
        -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }
    */
    &_name{
        margin: 40px 0 17px;
        font-size: 20px;
        line-height: 24/20;
        font-weight: 700;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: #ffcf0d;
    }
    &_name-hl{
        color: #01c8fe;
    }
    &_prof{
        font-size: 13px;
        line-height: 24/20;
        letter-spacing: .2em;
        text-transform: uppercase;
    }
    &_logo{
        margin: 16px 0 22px;
        font-size: 32px;
        line-height: 0;
    }


    @media (max-width: 1023px) {
        &_list{
            margin: 0;
        }
        &_i{
            width: 100%;
            margin: 50px 0 0;
            &:first-child{
                margin: 0;
            }
        }
        &_ava{
            float: left;
            width: 204px;
            height: 204px;
            margin: 0 30px 0 0;
        }
        /*
        &_ava-img{
            clip-path: url(#avaClip-1024);
            -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        }
        */
        &_cont{
            overflow: hidden;
            text-align: left;
        }
        &_name{
            margin-top: 10px;
        }
    }

    @media (max-width: 767px) {
        &_i{
            padding: 0;
        }
        &_ava{
            float: none;
            margin: 0 auto 30px;;
        }
        &_cont{
            text-align: center;
        }
    }
}
// /organizer




// s-icons
[class^="s-icons-"], [class*=" s-icons-"]{
    .sprite(80, 80, url(../images/promo/technobattle/s-icons.png));
}

//.s-icons-people     { background-position: 0 0 }
.s-icons-edit       { background-position: -100px 0 }
.s-icons-bag        { background-position: -200px 0 }
.s-icons-prize      { background-position: -300px 0 }
.s-icons-oculus     { background-position: -400px 0 }
.s-icons-man        { background-position: -500px 0 }
.s-icons-horn       { background-position: -600px 0 }
.s-icons-planeta    { background-position: -700px 0 }
// /s-icons




// process
.process{
    background: url(../images/promo/technobattle/process-bg.jpg) no-repeat 50% 0 / cover;
    &_block{
        margin: -50px 0;
    }
    &_banner{
        margin: 0 0 60px;
        text-align: center;
    }
    &_cont{
        padding: 96px 135px 120px;
        background:
            url(../images/promo/technobattle/grid-bg.png) no-repeat 50% 100%,
            linear-gradient(-90deg, #044f5f 0, #042b41 100%) repeat-y 0 0;
        box-shadow: 0 50px 100px fade(#000, 20);
        border-radius: 4px;
    }

    &_head{
        &:extend(.page-head all);
        margin: 0 0 114px;
    }
    &_i{
        &:extend(.cf-mix all);
        margin: 91px 0 0;
        font-size: 16px;
        line-height: 24/16;
        &:first-child{
            margin-top: 0;
        }
    }
    &_data{
        position: relative;
        float: left;
        width: 50%;
        &:before{
            content: '';
            position: absolute;
            top: 40px;
            right: 0;
            width: 100px;
            height: 2px;
            background: linear-gradient(90deg, #00b7ff 0, #d8e022 100%);
        }
    }
    &_count{
        position: absolute;
        top: 22px;
        left: 210px;
        font-size: 40px;
        line-height: 30/40;
        font-weight: 700;
        letter-spacing: .1em;
        font-style: italic;
        text-align: left;
    }
    &_count-bl{
        display: block;
    }
    &_ico{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 190px;
        height: 190px;
        padding: 53px 0 0;
        text-align: center;
        background: url(../images/promo/technobattle/rect.png) no-repeat 0 0 / cover;
    }
    &_back-rect{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 0 0 34px;
        background: url(../images/promo/technobattle/rect.png) no-repeat 0 0 / cover;
        opacity: .2;
    }
    &_text{
        position: relative;
        float: left;
        width: 50%;
    }
    &_text-in{
        margin: 30px 0 0 46px;
    }
    &_name{
        margin: 0 0 16px;
        font-size: 24px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #ffcf0d;
    }

    @media (max-width: @screen-md-max) {
        &_cont{
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media (min-width: 1024px) {
        &_i{
            &:nth-child(even){
                .process{
                    &_data{
                        left: 50%;
                        text-align: right;
                        &:before{
                            right: auto;
                            left: 0;
                            background: linear-gradient(-90deg, #00b7ff 0, #d8e022 100%);
                        }
                    }
                    &_count{
                        left: auto;
                        right: 210px;
                    }
                    &_back-rect{
                        .rectBackOffsetXDesc();
                    }
                    &_text{
                        left: -50%;
                    }
                    &_text-in{
                        margin-left: -16px;
                        margin-right: 40px;
                    }
                }
                &.slideLeft{
                    .slideRight();
                }
            }
        }
    }

    @media (max-width: 1023px) {
        &_data{
            &:before{
                display: none;
            }
        }
        &_cont{
            padding: 40px 30px 50px;
        }
        &_data{
            width: 260px;
        }
        &_text{
            float: none;
            width: auto;
            overflow: hidden;
        }
        &_count{
            top: 0;
            left: 170px;
            font-size: 30px;
        }
        &_ico{
            width: 140px;
            height: 140px;
            padding-top: 32px;
        }
        &_text-in{
            margin: 0;
        }
    }

    @media (max-width: 767px) {
        &_banner{
            margin: 0 -20px;
        }
        &_i{
            margin-top: 50px;
        }
        &_cont{
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0;
        }
        &_data{
            float: none;
            width: auto;
        }
        &_count{
            position: static;
            text-align: center;
        }
        &_count-bl{
            display: inline;
        }
        &_ico{
            display: block;
            margin: 20px auto 20px;
        }
        .process {
            &_name, &_descr {
                text-align: center;
            }
        }
    }
}
// /process




// what
.what{
    padding: 158px 0 254px;
    background: url(../images/promo/technobattle/what-bg.jpg) no-repeat 50% 0 / cover;
    &_head{
        &:extend(.page-head all);
        margin: 0 auto 77px;
    }

    &_list{
        margin: -62px 0 0 0;
        font-size: 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 62px 0 0 0;
        padding: 0 50px;
        font-size: 18px;
        line-height: 24/18;
        text-align: left;
    }
    &_name{
        margin: 0 0 9px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: .3em;
        text-transform: uppercase;
        color: #ffcf0d;
    }
    &_name-hl{
        color: #01c8fe;
    }


    @media (max-width: 1023px) {
        &_i{
            width: 100%;
            padding: 0;
        }
        &_name, &_descr {
          text-align: center;
        }
    }
}
// /what




// prizes
.prizes{
    position: relative;
    > .wrap{
        position: relative;
        z-index: 2;
    }
    &_block{
        margin: -156px 0 0;
    }
    &_cont{
        padding: 96px 135px 120px;
        background:
            url(../images/promo/technobattle/grid-bg.png) no-repeat 50% 100%,
            linear-gradient(-90deg, #044f5f 0, #042b41 100%) repeat-y 0 0;
        box-shadow: 0 50px 100px fade(#000, 20);
        border-radius: 4px;
    }

    &_head{
        &:extend(.page-head all);
        margin: 0 0 114px;
    }

    &_list{
        margin: -52px 0 0;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 52px 0 0;
        text-align: center;
    }
    &_ico{
        position: relative;
        width: 174px;
        height: 174px;
        margin: auto;
        padding: 47px 0 0;
        background: url(../images/promo/technobattle/rect.png) no-repeat 0 0 / cover;
    }
    &_back-rect{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 0 0 -31px;
        background: url(../images/promo/technobattle/rect.png) no-repeat 0 0 / cover;
        opacity: .2;
    }

    &_name{
        margin: 19px 0 11px;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 600;
    }
    &_descr{
        max-width: 350px;
        margin: auto;
        font-size: 16px;
        line-height: 21/16;
    }


    @media (max-width: @screen-md-max) {
        &_cont{
            padding-left: 50px;
            padding-right: 50px;
        }
    }


    @media (max-width: 1023px) {
        &_cont{
            padding: 40px 30px 50px;
        }
        &_i{
            width: 100%;
        }
        &_ico{
            width: 140px;
            height: 140px;
            padding-top: 32px;
        }
    }

    @media (max-width: 767px) {
        &_cont{
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0;
        }
    }
}
// /prizes




// program
.program{
    position: relative;
    padding: 150px 0 160px;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        right: 0;
        height: 1525px;
        margin-top: -880px;
        background: url(../images/promo/technobattle/process-bg.jpg) no-repeat 50% 50% / cover;
    }
    > .wrap{
        position: relative;
        z-index: 2;
    }
    &_head{
        &:extend(.page-head all);
        margin: 0 0 114px;
    }

    &_list{
        perspective: 500px;
    }
    &_i{
        position: relative;
        margin: 7px 0 0;
        padding: 20px 60px 16px 285px;
        background: #fff;
        border-radius: 3px;
        &:first-child{
            margin-top: 0;
        }
    }

    &_date{
        position: absolute;
        top: 13px;
        left: 60px;
    }

    &_num{
        float: left;
        padding: 4px;
        background: linear-gradient(0deg, #d9e021 0, #00b7ff 100%);
    }
    &_num-val{
        width: 42px;
        height: 42px;
        padding: 11px 0 0;
        font-size: 22px;
        line-height: 1;
        font-weight: 700;
        color: #254959;
        text-align: center;
        background: #fff;
    }
    &_day{
        float: left;
        margin: 9px 0 0 14px;
        font-size: 14px;
        line-height: 1.2;
        color: #254959;
    }

    &_cont{
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 39px;
    }

    &_text{
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
        line-height: 1.3;
        color: #1b2336;
    }
    &_name{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_descr{
        margin: 3px 0 0;
    }


    @media (max-width: @screen-md-max) {
        &_i{
            padding-left: 200px;
            padding-right: 30px;
        }
        &_date{
            left: 20px;
        }
    }

    @media (max-width: 767px) {
        padding: 40px 0 70px;
        &_i{
            padding: 20px;
        }
        &_date{
            .cf-mix();
            position: static;
            margin: 0 0 20px;
        }
    }
}
// /program




// send-program
.send-program{
    position: relative;
    max-width: 610px;
    margin: 63px auto 0;
    &:before{
        content: '';
        position: absolute;
        top: 7px;
        left: -59px;
        width: 44px;
        height: 59px;
        background: url(../images/promo/technobattle/send-program-bg.png) no-repeat;
    }
    &_lbl{
        margin: 0 0 14px;
        font-size: 16px;
        text-transform: uppercase;
    }
    &_val{
        &:extend(.cf-mix all);
        margin: 0;
        .form-control{
            float: left;
            width: 463px;
            height: 62px;
            padding: 20px 15px;
            border-color: #fff;
            border-radius: 3px 0 0 3px;
        }
        .tech-btn{
            float: left;
            width: 147px;
            padding: 20px 15px;
            border-radius: 0 3px 3px 0;
        }
        .error {
            border: 2px solid #f44d4d;
        }
    }


    @media (max-width: 767px) {
        &:before{
            display: none;
        }
        &_val{
            .form-control{
                float: none;
                width: 100%;
                border-radius: 4px;
            }
            .tech-btn{
                margin: 10px 0 0;
                float: none;
                width: 100%;
                border-radius: 4px;
            }
        }
    }
}
// /send-program




// cost
.cost{
    position: relative;
    padding: 0 0 74px;
    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1188px;
        margin-top: -594px;
        background: url(../images/promo/technobattle/cost-bg.jpg) no-repeat 50% 0 / cover;
    }
    > .wrap{
        position: relative;
        z-index: 2;
    }
    &_block{
        margin: 0 60px;
    }
    &_head{
        &:extend(.page-head all);
        text-align: left;
        margin: 0 0 31px;
        font-size: 38px;
    }
    &_lead{
        max-width: 400px;
        font-size: 22px;
        line-height: 28/22;
    }
    &_lead-hl{
        font-weight: 700;
        color: #ffcf0d;
    }

    &_date{
        margin: 19px 0 0;
        max-width: 440px;
        font-size: 15px;
        text-align: center;
    }
    &_date-hl{
        color: #ffcf0d;
    }


    &_text{
        max-width: 440px;
    }
    &_text-head{
        margin: 0 0 53px;
        font-size: 24px;
        line-height: 1.2;
        text-transform: uppercase;
    }
    &_text-text{
        font-size: 18px;
        line-height: 24/18;
        ul{
            list-style: none;
            li{
                position: relative;
                margin: 1.5em 0;
                &:before{
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -41px;
                    width: 22px;
                    height: 15px;
                    background: url(../images/promo/technobattle/list-tick.png) no-repeat 0 0 / cover;
                }
            }
        }
    }


    &_action{
        margin: 43px 0 0;
        font-size: 15px;
        text-align: center;
    }


    @media (max-width: @screen-md-max) {
        &_block{
            margin: 0;
        }
        &_text{
            max-width: none;
            margin-left: 20px;
        }
    }

    @media (max-width: 1023px) {
        &_text-text{
            ul{
                li{
                    &:before{
                        top: 7px;
                        left: -24px;
                        width: 18px;
                        height: 12px;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        &_block-i{
            margin-top: 60px;
            &:first-child{
                margin-top: 0;
            }
        }
        &_lead{
            max-width: none;
        }
        &_date{
            text-align: center;
            margin: 19px auto 0;
        }
        &_text{
            margin-left: 0;
        }
        &_text-text{
            ul{
                padding-left: 24px;
            }
        }
        &_head, &_lead, &_date, &_text-head {
            text-align: center;
        }
    }
}


.cost-reach{
    overflow: hidden;
    position: relative;
    max-width: 440px;
    margin: 43px 0 0;
    padding: 24px 30px;
    font-size: 18px;
    line-height: 24/18;
    border-radius: 2px;
    background: linear-gradient(-90deg, #1272d1 0, #1940a9 100%);
    &_lead{
        margin: 0 0 12px;
    }
    &_date{
        margin: 13px 0 -5px;
        font-size: 14px;
    }
    &_price{
        font-size: 24px;
        font-weight: 700;
        color: #ffcf0d;
    }
    &_sale{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
        margin: 0 -150px 40px 0;
        padding: 10px 0 20px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(-90deg, #044f5f 0, #042b41 100%);
        transform-origin: 50% 114px;
        transform: rotate(-45deg);
    }
    &_sale-val{
        font-size: 20px;
    }
    &_sale-lbl{
        font-size: 14px;
    }
}
// /cost


// faq
.faq{
    padding: 74px 0 141px;
    > .wrap{
        position: relative;
        z-index: 2;
    }
    &_head{
        margin: 0 0 28px;
        font-size: 38px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: .2em;
        text-transform: uppercase;
        text-align: center;
    }

    &_list{
        margin: -23px 0 0;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 23px 0 0;
        padding: 0 60px;
    }
    &_q{
        position: relative;
        padding: 17px 30px 17px 0;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 700;
        color: #ffcf0d;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 2px;
            background: linear-gradient(90deg, #d9e021 0, #00b7fe 100%);
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 20px;
            right: 11px;
            width: 22px;
            height: 22px;
            background: url(../images/promo/technobattle/faq-arrow.png) no-repeat 0 0 / cover;
            transition: .2s;
        }
        &.expanded{
            &:after{
                transform: rotate(-180deg);
            }
        }
    }
    &_a{
        display: none;
        font-size: 15px;
        line-height: 24/18;
        p, ol, ul{
            margin: 1.5em 0;
        }
        ol, ul{
            padding: 0 0 0 23px;
        }
        li{
            margin: .5em 0;
        }
    }


    @media (max-width: @screen-md-max) {
        &_q{
            &:after{
                right: 5px;
            }
        }
    }

    @media (max-width: 1023px) {
        &_i{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media (max-width: 767px) {
        padding: 0 0 50px;
    }
}
// /faq




// partners
.partners{
    padding: 34px 0 0;
    text-align: center;
    background: #d7dfeb;
    &_list{
        margin: -30px 0;
    }
    &_i{
        margin: 30px;
    }
    @media (max-width: 767px) {
        &_list{
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
        }

        &_list::-webkit-scrollbar { width: 0; }
        &_i {
            margin: 15px;
            max-height: 70px;
            max-width: 100px;
        }
    }
}
// /partners




// modal form
.modal-tech-request{
    width: 800px;
    padding: 50px 80px;
    color: #fff;
    background:
        url(../images/promo/technobattle/grid-bg.png) no-repeat 50% 100%,
        linear-gradient(-90deg, #044f5f 0, #042b41 100%) repeat-y 0 0;
    border-radius: 4px;
    border: 0;
    .modal-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        line-height: 1;
        color: #fff;
        cursor: pointer;
        &:hover{
            color: #fff;
        }
    }


    @media (max-width: 800px) {
        width: 100%;
        margin: 0;
        padding: 20px;
        .modal-close{
            top: 10px;
            right: 10px;
        }
    }
}


.tech-request{
    &_head{
        margin: 9px 0 50px;
        font-size: 28px;
        letter-spacing: .2em;
        text-transform: uppercase;
        text-align: center;
    }

    &_group{
        position: relative;
        margin: 14px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }

    &_group-head{
        font-size: 26px;
    }

    &_fieldset{
        position: relative;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
        .form-control{
            height: 60px;
            padding: 23px 21px 11px;
            font-size: 18px;
            line-height: 22px;
            color: #132129;
            border-width: 2px;
            border-color: #fff;
        }
        textarea.form-control{
            height: auto;
        }

        .float-label{
            left: 10px;
            padding: 20px 22px 18px;
        }

        &.error{
            .form-control{
                border-color: #f44d4d;
            }
            .float-label{
                color: #f44d4d;
            }
        }
    }
    &_fieldset-text{
        font-size: 14px;
        line-height: 18/14;
        color: #d8e0eb;
        ul{
            list-style: none;
            padding: 0 0 0 17px;
            li{
                margin: .8em 0;
                &:before{
                    display: inline-block;
                    content: '—';
                    width: 17px;
                    margin-left: -17px;
                }
            }
        }
    }

    &_fieldset-val{
        position: relative;
        .float-label{
            left: 0;
        }
    }


    &_action-btn{
        .tech-btn{
            padding: 19px 10px;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: .05em;
        }
    }


    @media (max-width: 767px) {
        &_group-head{
            font-size: 22px;
        }
        &_action-btn{
            margin: 20px 0 0;
            .tech-btn{
                display: block;
                width: 100%;
            }
        }
    }

    @media (min-width: 768px) {
        &_fieldset{
            &__wt{
                padding-left: 195px;
                .form-control{
                    border-radius: 0 4px 4px 0;
                }
            }
        }
        &_fieldset-text{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 195px;
            padding: 6px 15px 6px 20px;
            background: #132129;
            border-radius: 4px 0 0 4px;
        }

        &_action{
            position: relative;
            margin: 18px 0 0;
            padding: 14px 220px 0 0;
        }

        &_action-btn{
            position: absolute;
            top: 0;
            right: 0;
            .tech-btn{
                width: 200px;
                padding: 19px 10px;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: .05em;
            }
        }
    }
}


.form-ui-tech-modal{

    .form-ui-txt{
        padding: 0 0 0 48px;
    }
    .form-ui-label{
        font-size: 13px;
        line-height: 1;
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    top: 2px;
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                    background: #f3f8ff;
                }
                &:after{
                    top: 9px;
                    left: 8px;
                    width: 20px;
                    height: 13px;
                    border-bottom: 3px solid transparent;
                    border-left: 3px solid transparent;
                    transform: rotate(-45deg) translate(5px, -4px);
                    transition: .1s;
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        border-bottom-color: #000;
                        border-left-color: #000;
                        transform: rotate(-45deg) translate(0, 0);
                    }
                }
            }
        }
    }
}
// /modal form



// tech-request-success
.tech-request-success{
    text-align: center;
    &_head{
        margin: 0 0 17px;
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_head{

    }
}
// /tech-request-success






@media (max-width: 1023px) {
    .page-head{
        font-size: 32px;
        margin: 0 0 60px;
    }
}




@media (max-width: 767px) {
    .page-head{
        font-size: 28px;
        margin: 0 0 50px;
    }
    .what {
        padding-top: 90px;
        padding-bottom: 200px;
        &_name, &_descr {
            text-align: center;
        }
    }
    .cost-reach {
        margin: 43px auto 0;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}


@keyframes avaBackOffsetX {
    100% {
        margin-left: -44px;
        opacity: .2;
    }
}
.avaBackOffsetX {
    margin: 0;
    opacity: 1;
    animation-name: avaBackOffsetX;
    animation-duration: .4s;
}


@keyframes rectBackOffsetX {
    100% {
        margin-left: 34px;
        opacity: .2;
    }
}
.rectBackOffsetX {
    margin: 0;
    opacity: 1;
    animation-name: rectBackOffsetX;
    animation-duration: .4s;
}


@keyframes rectBackOffsetXDesc {
    100% {
        margin-left: -34px;
        opacity: .2;
    }
}
.rectBackOffsetXDesc {
    margin: 0;
    opacity: 1;
    animation-name: rectBackOffsetXDesc;
    animation-duration: .4s;
}




@keyframes slideUp {
    100% {
        top: 0;
        opacity: 1;
    }
}
.slideUp {
    position: relative;
    top: 40px;
    opacity: 0;
    animation-name: slideUp;
}


@keyframes slideUp100 {
    100% {
        top: 0;
    }
}
.slideUp100 {
    position: relative;
    top: 100px;
    animation-name: slideUp100;
}


@keyframes slideUp200 {
    100% {
        top: 0;
    }
}
.slideUp200 {
    position: relative;
    top: 200px;
    animation-name: slideUp200;
}


@keyframes slideLeft {
    100% {
        left: 0;
        opacity: 1;
    }
}
.slideLeft {
    position: relative;
    left: 40px;
    opacity: 0;
    animation-name: slideLeft;
}


@keyframes slideRight {
    100% {
        right: 0;
        opacity: 1;
    }
}
.slideRight {
    position: relative;
    left: auto;
    right: 40px;
    opacity: 0;
    animation-name: slideRight;
}



@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: rotateX(30deg) translate3d(0,300px,0);
    }

    100% {
        opacity: 1;
        transform: rotateX(0) translate3d(0,0,0);
    }
}

.zoomInUp {
    animation-name: zoomInUp;
    animation-duration: 1s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
}



@media (max-width: 767px){
    [class^="col-offset-"], [class*=" col-offset-"]{
        margin-left: 0;
    }
}
