// SHARING
// -------


// icon social sharing desktop
[class^="bs-icons-"] {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    background: url(../images/pln-sharing.svg) no-repeat 0 0 / auto 100%;
    cursor: pointer;
    opacity: .6;
    transition: opacity .1s;
    border-radius: 5px;
    &:hover{
        opacity: 1;
    }
}

.bs-icon-size(@size){
    @scale: @size * 100 / 400 / 100;
    [class^="bs-icons-"] {
        width: @size + 0px;
        height: @size + 0px;
    }
    //.bs-icons-vk    { background-position: 0 0 }
    .bs-icons-fb    { background-position: round(-500px * @scale) 0 }
    .bs-icons-tw    { background-position: round(-1000px * @scale) 0 }
    .bs-icons-ok    { background-position: round(-1500px * @scale) 0 }
    .bs-icons-mr    { background-position: round(-2000px * @scale) 0 }
    .bs-icons-gp    { background-position: round(-2500px * @scale) 0 }
    .bs-icons-sb    { background-position: round(-3000px * @scale) 0 }
}

//.bs-icon-size(40);




.sharing-popup-social{
    font-family: @ff-proxima-nova;
    font-size: 0;
    white-space: nowrap;
}
.sps-button{
    display: inline-block;
    vertical-align: top;
}
.spsb-item{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    &:first-child{
        margin: 0;
    }
}
.sps-count{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    span{
        display: inline-block;
        vertical-align: top;
        margin-left: .3em;
    }
}




.sharing-mini{
    position: relative;

    [class^="bs-icons-"] {
        border-radius: 0;
    }
    .bs-icon-size(24);
    .sps-count{
        margin-top: 4px;
    }
}
