.modal-arr-prev,
.modal-arr-next{
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 100%;
    width: 90px;
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.1);
    }
    i{
        position: fixed;
        top: 50%;
        margin: -10px 0 0 37px;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent @linkColor transparent;
    }
}
.modal-arr-next{
    right: auto;
    left: 100%;
    i{
        border-width: 10px 0 10px 10px;
    }
}
