// modal attach photo
.modal-foto-load{
    display: block;

    .tc{
        text-align: center;
    }
    .modal-foto-load-select{
        display: inline-block;
        width: 554px;
        text-align: center;
        font-size: 0;
        span{
            color: #717171;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            font-weight: 700;
            margin: 5px 12px;
            padding: 45px 0 14px;
            text-align: center;
            width: 160px;
            cursor: pointer;
            &.link{background: url('/images/planeta/mp-link.png') no-repeat 50% 10px #f0f0f0;}
            &.upload{background: url('/images/planeta/mp-upload.png') no-repeat 50% 10px #f0f0f0;}
            &.album{background: url('/images/planeta/mp-album.png') no-repeat 50% 10px #f0f0f0;}
            &:hover{background-color: #ebfbff;}
        }
    }
}
.upload-pic{
    display: block;
    width: 100%;
    padding: 10px 0;
    &:extend(.cf-mix all);
    .upload-pic-img{
        width: 176px;
        display: inline-block;
        float: left;
        max-height: 130px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .upload-path{
        padding: 0 10px 0 0;
        input{
            &:extend(.form-control all);
        }
    }
    .upload-pic-option{
        display: inline-block;
        float: left;
        padding-left: 15px;
        width: 335px;
        h4{
            line-height: 20px;
            font-size: 12px;
        }
        a{
            color: @blue;
            text-decoration: underline;
        }
        ul{
            margin: 0;
            li{
                display: inline-block;
                padding: 8px 16px 8px 0;
                color: #adadaf;
                float: left;
                p{
                    font-size: 11px;
                    line-height: 12px;
                    margin-bottom: 4px;
                    text-align:center;
                }
                span{
                    background: #ddd;
                    border: 1px solid #adadaf;
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                }
                &.active{
                    span{
                        background: #aac9d2;
                        border: 1px solid #8caab5;
                    }
                }
                &.small{
                    span{
                        width: 20px;
                        height: 20px;
                    }
                }
                &.medium{
                    span{
                        width: 30px;
                        height: 25px;
                    }
                }
                &.big{
                    span{
                        width: 40px;
                        height: 30px;
                    }
                }
                &.huge{
                    span{
                        width: 50px;
                        height: 35px;
                    }
                }
                &.original{
                    span{
                        width: 60px;
                        height: 40px;
                    }
                }
                &.custom{

                    div{
                        background: #D7E6FB;
                        border: 1px solid #B0C3E3;
                        display: block;
                        height: 70px;
                        margin: 0 auto;
                        padding: 5px;
                        text-align: center;
                        width: 100px;
                        p{
                            color: #adadaf;
                            font-size: 11px;
                            line-height: 12px;
                        }
                    }
                    label{
                        font-size: 11px;
                        line-height: 12px;
                        width: 98px;
                    }
                    input{
                        &:extend(.form-control all);
                        width: 44px;
                    }
                }
            }
        }
    }

}

/* attach link*/
.att-modl-link{
    width: 500px;
    &:extend(.cf-mix all);

    .label-name{
        padding: 6px 0 0;
        width: 140px;
        float: left;
        text-align: right;
    }
    .input{
        margin-left: 150px;
    }
    input{
        &:extend(.form-control all);
    }
}
/* /attach link */
