// загрузка аватара
.avatar-upload{
    display: block;
    &:extend(.cf-mix all);
    p{
        text-align: center;
        color: @gray;
    }
    .avatar-upload-full{
        width: 260px;
        text-align: center;
        float: left;
        .avatar-upload-full-pic{
            margin-bottom: 10px;
        }
        a{
            display: inline-block;
            line-height: 16px;
            margin: 4px;
            [class^="icon-"]{
                margin-right: 4px;
            }
        }
    }
    .avatar-upload-preview{
        width: 260px;
        float: left;
        .avatar-upload-preview-pic{
            width: 50px;
            height: 50px;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            img{
                max-width: none;
            }
        }
    }
}
