// feedback



/* Feedback modal */
.modal-feedback{
    width: 560px;
    .modal-body{
        position: relative;
    }
    .modal-select-header.short-label .fieldset .label-name{
        width: 90px;
    }
    .modal-select-header.short-label .fieldset .input{
        margin-left: 110px;
    }
}
/* Feedback modal */

// project feedback
.modal-project-feedback{
    box-sizing: content-box;
    &.size-transition{
        transition: ~"width .15s linear, height .15s linear";
    }
    .close{
        margin: 10px;
        line-height: 14px;
        font-size: 14px;
    }

    .modal-select-header{
        margin: 0 0 30px;
        label{
            margin-bottom: 10px;
            .proxima_nova_rgregular();
            font-size: 18px;
        }
        .fieldset{
            margin: 25px 0 0;
            &:first-child{
                margin-top: 0;
            }
        }
    }

    .modal-feedback-success{
        width: 520px;
        padding: 30px;
    }
}
.m-project-feedback-questions{
    position: relative;
}
.m-project-feedback-title{
    margin: 0 0 28px;
    font: 22px/100% @ff-proxima-nova;
    text-align: center;
}


.modal-project-feedback-step-1{
    width: 870px;
    padding: 58px 50px 50px;
    .btn{
        position: absolute;
        bottom: 0;
        padding: 12px 20px 11px;
        font-size: 16px;
    }
}


.mp-feedback-questions{
    float: left;
    width: 50%;
}
.mpf-questions-inner{
    padding: 0 50px 50px 0;
    border-right: 1px solid #d8d8d8;
}
.mp-fi-right{
    padding: 0 0 50px 50px;
    border: 0;
}
.mpf-questions-inner-title{
    margin: 0 0 15px;
    font: 700 16px/100% @ff-proxima-nova;
    color: #000;
}
.mpf-questions-inner-item{
    margin: 0 0 10px;
    font: 14px/150% @ff-proxima-nova;
    color: #000;
}


.modal-project-feedback-form{
    max-width: 460px;
    width: 100%;
    padding-top: 0;
    textarea, input[type=text]{
        &:extend(.form-control all);
    }
    textarea{
        height: auto;
    }
}


.modal-question-info{
    position: relative;
    padding: 13px 30px 13px 82px;
    margin: 0 -30px 25px;
    background: #edf7fb;
    font: 13px/170% @ff-proxima-nova;
    color: #323232;
    &:before{
        content: "";
        position: absolute;
        top: 17px;
        left: 30px;
        display: block;
        width: 32px;
        height: 60px;
        background: url('/images/icons/modal-question-ribbin.png') no-repeat;
    }
}
// /project feedback
