// photo crop
.modal-photo-crop{
    width: 700px;
}
.photo-crop{
    &_wrap{
        .jcrop-holder{
            margin: auto;
        }
    }
    &_img{
        max-height: 500px;
    }
}
// /photo crop
