// project-create


.modal-project-create-container{
    .modal-scroll{
        padding: 0;
        .scrollbar-handle-container{
            top: 4px;
            bottom: 4px;
            right: 1px;
        }
    }
}
.modal-project-create{
    max-width: 528px;
    margin: 0;
    list-style: none;
    cursor: default;
    .project-create-item{
        .avatar-common-block();
        position: relative;
        padding: 10px;
        cursor: pointer;
        .artists-count, .members-count{
            .paste-date();
        }
        .item-btn{
            display: none;
            position: absolute;
            right: 10px;
            top: 50%;
            margin: -14px 0 0;
        }
        &:hover{
            background: #ecf9ff;
            .item-btn{
                display: block;
            }
        }
    }
}
