// ticket buy



.modal-ticket{
    h3{
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        margin: 0;
        color: #333;
    }
    th{
        font-size: 16px;
    }
    td{
        vertical-align: middle !important;
    }
    .th-center{
        text-align: center;
    }
    .modtik-info{
        width: 300px;
        margin: 0 18px 0 0;
    }
    .modtik-price{
        width: 160px;
        text-align: center;
        color: #808080;
        span{
            color: @blue;
            font-size: 20px;
        }
    }
    .table{
        .disabled{
            .modtik-info{
                color: #ccc;
                h3{
                    color: #ccc;
                }
            }
            .modtik-price{
                color: #808080;
                span{
                    color: #ccc;
                }
            }
            .modtik-count{
                opacity: .5;
                .mtc-block{
                    .mtc-pluse, .mtc-minus{
                        cursor: default;
                    }
                }
            }
        }
    }
    .modtik-count{
        width: 124px;
        padding: 0 30px;
    }
    .mtc-block{
        position: relative;
    }
    .mtc-input{
        input{
            &:extend(.form-control all);
            width: 64px;
            height: 38px;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
        }
    }
    .mtc-minus, .mtc-pluse{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: -22px;
        background: url('/images/planeta/tik-pm.png') no-repeat 0 0;
        cursor: pointer;
    }
    .mtc-pluse{
        left: auto;
        right: -22px;
        background-position: 0 -16px;
    }
    .modtik-footer{
        border-top: 2px solid #808080;
        padding: 10px 0 5px 0;
    }
    .mtf-price{
        float: right;
        font-size: 14px;
        span{
            font-size: 16px;
            font-weight: 700;
        }
    }
}
