//Pl-forms base
@import "../less/base";
@import "../less/dropdown";

.pl-typehead {
    &.open{
        border-color: @linkColor;
        .dropdown-menu{
            visibility: visible;
            display: block !important;
            margin: 1px 0 0;
            animation-name: pl-select_bottom-visible;
        }
    }

    .dropdown-menu {
        margin: 0 1px 0 1px !important;
        & .item {
            font-size: 14px;
            & .no-results {
                padding: 4px 8px;
            }
            & a {
                text-transform: capitalize;
            }
        }
    }
}
