<div *ngIf="settings.labelType === labelTypes.OUTER" class="pl-input-control_outer-label">
    <label class="pl-input-control_outer-label_lbl"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>
</div>

<div class="pl-input-control pl-typehead"
     [class.error]="hasError()"
     #inputControl
     [class.open]="open"
     (clickOutside)="close()">

    <div *ngIf="settings.addonCode" class="pl-input-control_addon">
        {{ settings.addonCode | translate:lang }}
    </div>

    <input type="{{ settings.type }}"
           id="{{ labelCode }}"
           [value]="getValue()"
           class="form-control pl-input-control_val"
           (input)="changeInput($event.target.value)"
           (blur)="close()"
           [class.pl-input-control_val-inner]="settings.labelType === labelTypes.INNER"
           [class.pl-input-control_val-outer]="settings.labelType === labelTypes.OUTER"
           [placeholder]="getPlaceholderTranslate()"
           [disabled]="settings.disabled"
           [required]="settings.required"
           [readonly]="settings.readOnly">

    <ul class="dropdown-menu" style="display: none">
        <li class="item"
            *ngFor="let option of variants; let i = index"
            [class.active]="isActive(i)">

            <a href="#" (click)="setOption(option, $event.preventDefault())" [innerHtml]="getOptionName(option)"></a>
        </li>

        <li class="item" *ngIf="open && variants.length === 0">
            <div class="no-results" translate>core.not-found</div>
        </li>
    </ul>

    <span class="pl-input-control_help"
          tooltip="{{ getError() }}"
          placement="{{ tooltipPositionTop() }}"
          triggers="click:click click:mouseleave mouseenter:mouseleave"
          container="body">!</span>

    <label *ngIf="settings.labelType === labelTypes.INNER"
           class="pl-input-control_inner-label"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>
</div>
