// ac-action editor actions



.ac-action{
    visibility: hidden;
    margin: 10px 0 0;
    &-del{
        float: right;
    }
    &-link{
        font: 10px/12px @baseFontFamily;
        text-transform: uppercase;
        color: @linkColor;
        border-bottom: 1px dotted;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
        & + &{
            margin-left: 10px;
        }
    }
}

.action-card-edit{
    margin-bottom: 10px;
    .action-card-list_i{
        transition: height .2s, margin .2s;
    }
    .action-card{
        left: 0;
        padding-bottom: 20px;
        opacity: 1;
        transition: .2s .2s;
        &, &:hover{
            cursor: -webkit-grab;
            cursor: -moz-grab;
            cursor: grab;
        }
        &_cover{
            margin: 0 0 15px;
        }
    }
}
.ui-sortable-helper{
    .action-card{
        cursor: -webkit-grabbing !important;
        cursor: -moz-grabbing !important;
        cursor: grabbing !important;
    }
}

.action-card-add,
.action-card-remove{
    height: 0;
    margin-top: 0;
    .action-card{
        left: 300px;
        opacity: 0;
    }
}
.action-card-remove{
    transition-delay: .2s !important;
    .action-card{
        transition-delay: 0s !important;
    }
}
