// action-card-list



.action-card-block{
    margin: 0 0 20px;
}



.action-card-list{
    margin: 0;
    list-style: none;
    &_i{
        margin: 24px 0 0;
        &:first-child{
            margin-top: 0;
        }
        
        // head for disabled card on project page
        .action-card-view &.disabled{
            .action-card-list_type{
                display: block;
            }
        }
        .action-card-view &.disabled + &.disabled{
            .action-card-list_type{
                display: none;
            }
        }
        // /head for disabled card on project page
    }
    &_type{
        padding: 25px 0 0;
        margin: 0 0 23px;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 1.2;
        color: #1b2336;
    }
}
