// action-card-reward



.action-card-reward{
    .action-card{
        border: 0;
        padding: 0;
        &_counter-val{
            border-color: #7894a2;
        }
        &_counter-btn{
            border-color: #7894a2;
        }
    }

    @media (min-width: @screen-tp-min) {
        .action-card{
            &_show{
                display: none;
            }
            &_cover{
                margin: 0 0 15px;
            }
            &_meta{
                display: none;
            }
            &_price{
                margin-right: 40px;
            }
            &_count{
                float: none;
                text-align: left;
            }
            &_counter{
                display: inline-block;
                vertical-align: top;
                width: 190px;
                margin-bottom: 10px;
            }
            &_action-btn{
                display: inline-block;
                vertical-align: top;
                width: 190px;
                margin: 0 12px 0 0;
            }
            &_action-count{
                display: inline-block;
                vertical-align: top;
                padding: 11px 0 0;
            }
            &_action-wrap{
                clear: both;
            }
            &_action{
                height: auto;
            }
            &_share{
                margin: 25px 0 0;
            }
            &_why{
                text-align: left;
            }
        }
    }

    @media (min-width: @screen-tl-min) {
        .action-card{
            &_name,
            &_descr{
                max-width: 462px;
                margin-right: 200px;
            }
            &_cover{
                float: right;
                width: 160px;
                margin-left: 40px;
            }
            &_counter{
                width: 180px;
                margin-bottom: 0;
            }
            &_action-btn{
                margin-left: 12px;
            }
            &_share{
                float: right;
                margin: 13px 0 0;
            }
        }
    }

    @media (min-width: @screen-ld-min) {
        .action-card{
            &_counter{
                width: 295px;
            }
            &_delivery-i{
                display: inline-block;
                vertical-align: top;
                margin: 0 0 0 40px;
                &:first-child{
                    margin: 0;
                }
            }
        }
    }




    // no auth state
    .unlogin &{
        .action-card{
            &_action-btn{
                display: none;
            }
        }
        @media (min-width: @screen-tp-min) {
            .action-card{
                &_action-count{
                    padding-left: 10px;
                }
            }
        }
        @media (min-width: @screen-tl-min) {
            .action-card{
                &_counter{
                    width: 370px;
                }
            }
        }
        @media (min-width: @screen-ld-min) {
            .action-card{
                &_counter{
                    width: 470px;
                }
            }
        }
    }
}
