//
// Planeta Project Create page
//
// --------------------------------------------


.project-media-view{
    position: relative;
    height: 0;
    padding: 0 0 56.25%;
    overflow: hidden;
    background: #1a1a1a;
    .pmv-cont, iframe, object, embed{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .pmv-cont{
        &:extend(.vertical-align-mix all);
    }
    .central-block{
        position: relative;
        overflow: hidden;
    }
    .pmv-img{
        display: block;
        margin: auto;
        max-height: 360px;
    }
    .video-play{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: url('/images/planeta/play-video-big.png') no-repeat 50% 50%;
        cursor: pointer;
        &:hover{
            background-size: 140px 140px;
        }
    }
}


// hack for wizard preview page
.model-preview{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}
// /hack for wizard preview page



.campaign-editor-fullscreen{
    .edit-blog-body{
        position: fixed;
        z-index: @zindexModalBackdrop - 1;
        top: 0;
        width: 700px;
    }
    .header{
        z-index: auto;
    }
    .header-cont{
        position: relative !important;
    }
}



[class^="s-pc-action-"], [class*=" s-pc-action-"]{
    .sprite(13, 13, url('/images/project/s-pc-action.png'));
    vertical-align: top;
}
//.s-pc-action-crop       { background-position: 0 0 }
.s-pc-action-del        { background-position: -20px 0 }
.s-pc-action-warning    { background-position: -40px 0; width: 15px; }
.s-pc-action-apply      { background-position: -60px 0; }
.s-pc-action-cancel     { background-position: -80px 0; }

.campaign-tinymce-loader{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .feed & {
        position: relative;
        height: 448px;
    }
}
.campaign-tinymce-loader-in{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url('/images/planeta/notif-loader.gif') 50% 50% no-repeat;

    .feed & {
        position: relative;
    }
}


@project-create-pdg: 16px;
.project-create{
    &_tab{
        font: 0/0 a;
        &_i{
            display: inline-block;
            vertical-align: bottom;
            margin: 0 1px 0 0;
            .proxima-bold();
            font-size: 14px;
            line-height: 16px;
            letter-spacing: .1em;
            text-transform: uppercase;
            &.active{
                .project-create_tab_link{
                    top: 1px;
                    padding: 17px 12px 15px;
                    color: #d3604c;
                    background: #fff;
                    border-color: #d8dade;
                    border-bottom: 0;
                }
            }
        }
        &_link{
            position: relative;
            z-index: 1;
            display: block;
            padding: 13px 10px 11px;
            color: #afac9f;
            background: #dfddd6;
            border: 1px solid #dfddd6;
            cursor: pointer;
            &:hover{
                color: darken(#afac9f, 5%);
                background: darken(#dfddd6, 5%);
                text-decoration: none;
            }
        }
    }


    &_support{
        position: relative;
        float: right;
        margin: 8px 0 0;
        font-size: 11px;
        text-align: right;
        color: #808080;
        a{
            color: #808080;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
    }


    &_cont{
        position: relative;
        margin: 0 0 10px;
        line-height: 18px;
        background: #fff;
        border: 1px solid #d8dade;
        .checkbox-label, .radiobox-label{
            padding: 0;
            font: 700 14px/18px @baseFontFamily;
        }
    }

    &_ww-block{
        position: relative;
        min-height: 412px;
    }

    &_text{
        padding: @project-create-pdg;
        &_head{
            margin: 0 0 10px;
            .proxima_nova_rgregular();
            font-size: 20px;
            line-height: 1.2;
        }
        &_text{
            font-size: 14px;
            line-height: 1.42;
        }
    }

    &_list{
        position: relative;
        margin: 10px 0 0;
        border-top: 1px solid #eeece4;
    }

    &_row{
        display: table;
        width: 100%;
        table-layout: fixed;
        border-top: 1px solid #eeece4;
        &:first-child{
            border-top: 0;
        }
        .project-create_list{
            margin: -1px;
            padding: 1px;
        }
    }

    &_col-lbl{
        display: table-cell;
        vertical-align: middle;
        width: 238px;
        padding: @project-create-pdg;
        border-right: 1px solid #eeece4;
    }

    &_col-val{
        position: relative;
        .box-sizing(border-box);
        width: 100%;
        font-size: 14px;
        word-wrap: break-word;

        & .input-url_lbl{
          padding-left: 16px;
        }

        .form-control{
            &:focus{
                z-index: 1;
                box-shadow: 0 0 0 1px @baseColor;
            }
        }

        &_cont{
            padding: @project-create-pdg;
        }
        &_col{
            position: relative;
            float: left;
            width: 50%;
            & + &{
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    border-right: 1px solid #eeece4;
                }
            }
        }
        .rest-count{
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            margin: 2px 0;
            padding: 0 7px;
            background: fade(#fff, 70);
        }
        .twitter-typeahead{
            display: block !important;
        }
    }

    &_add-reward-success{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        background: #fff;
        overflow: hidden;
        .pc_ars_msg{
            margin: 100px 0;
            padding: 75px 0 0;
            font-size: 14px;
            color: #6dc46e;
            text-align: center;
            background: url('/images/project/pc_ars_msg.png') no-repeat 50% 0;
        }
    }

    &_terms-msg{
        font-size: 12px;
    }

    &_delivery-help{
        width: 200px;
        margin: 10px 0 0 26px;
        font-size: 12px;
        color: #aaa;
    }

    &_reward-error{
        position: relative;
        z-index: 10;
        width: 321px;
        height: 235px;
        margin: 11px auto 0;
        background: url('/images/project/reward-error.svg') no-repeat;
        &_text{
            padding: 46px 30px 0 93px;
            .proxima-bold();
            font-size: 16px;
            line-height: 20px;
            color: #c03d2d;
        }
    }

    &_text-icon{
        &_i{
            float: left;
        }
        &_t{
            overflow: hidden;
        }
        .s-pc-action-warning{
            margin: 2px 12px 0 0;
        }
    }

    &_fluid-control{
        .project-create{
            &_col-val{
                display: table-cell;
                height: 100%;
            }
        }
        .prj-crt-input{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
        }
    }
}


.pc_col-lbl{
    &_title{
        position: relative;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        .pc_row_help{
            top: 1px;
            right: 0;
            margin-top: 0;
        }
    }
    &_text{
        margin: 10px 0 0;
        color: #999;
    }
}
.pc_row_help{
    &:extend(.target-help-mix all);
    right: 16px;
}
.pc_row_warning{
    position: absolute;
    top: 3px;
    right: 0;
    .checkbox-row &{

    }
}

.prj-crt-input{
    position: relative;
    height: 50px;
    border: 0;
    padding: @project-create-pdg;
    font-size: 14px;
    line-height: 20px;
    &:focus{
        z-index: 1;
        box-shadow: 0 0 0 1px @baseColor;
    }
    &__date{
        padding-left: 50px;
        background: url('/images/project/project-create-date.png') no-repeat @project-create-pdg 12px;
    }
}
.prj-crt-select{
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    .select-btn{
        right: 20px;
    }
    .icon-select{
        border-width: 7px 7px 0 7px;
    }
    .dropdown-menu .item a{
        padding: 12px 15px;
    }

    &_wrap{
        .select-cont{
            opacity: 0;
        }
    }
    &_over-lbl{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #999;
        cursor: pointer;
    }
}


[class^="s-pc-upload-"], [class*=" s-pc-upload-"]{
    .sprite(22, 22, url('/images/project/s-project-create-upload.png'));
    vertical-align: top;
}
//.s-pc-upload-cloud      {background-position: 0 0}
.s-pc-upload-yt         {background-position: -30px 0}
.s-pc-upload-link       {background-position: -60px 0}


.project-create_upload{
    position: relative;
    padding: 10px;

    &_va{
        height: 96px;
        overflow: hidden;
    }
    &_list{
        text-align: left;
    }
    &_i{
        & + & {
            margin-top: 15px;
        }
    }
    &_link{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        font: 10px/12px @baseFontFamily;
        text-transform: uppercase;
        cursor: pointer;
    }
    &_text{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 4px;
        padding: 6px 0 0 0;
        border-bottom: 1px dotted #000;
    }

    &_state-loading{
        position: relative;
        height: 92px;
        .state-loading{
            &_bar{
                margin: 24px 0 15px;
                background: #f0eee8;
                box-shadow: inset 0 1px 1px fade(#000, 7);
            }
            &_progress{
                max-width: 100%;
                height: 6px;
                background: @linkColor;
            }
            &_progress-text{
                .proxima_nova_rgregular();
                text-align: center;
                color: #555;
            }
            &_link{
                position: absolute;
                bottom: 0;
                right: 5px;
                font-size: 12px;
                line-height: 14px;
                color: @red;
                border-bottom: 1px solid;
                cursor: pointer;
                &:hover{
                    color: @redHover;
                }
            }
        }
    }

    &_state-error{
        float: left;
        width: 116px;
        height: 116px;
        margin: -10px 10px -10px -10px;
        background: url('/images/project/upload-error.png') no-repeat 0 0 ~"/" cover;
    }

    &_drag{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        .box-sizing(border-box);
        width: 100%;
        padding: 15px;
        .proxima_nova_rgregular();
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #262626;
        border: 2px dashed #e1e1e1;
        border-radius: 20px;
        background: #fff url('/images/project/pc-upload-drag.png') 50% 90% no-repeat;
        .can-drop &{
            display: block;
        }
    }
}


.project-create_media{
    max-width: 640px;
    &_action{
        margin: 15px 0 0;
        font: 10px/12px @baseFontFamily;
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        line-height: 13px;
        color: @linkColor;
        text-transform: uppercase;
        cursor: pointer;
        & + &{
            margin-left: 15px;
        }
        &.cancel,
        &.delete{
            color: #c0392b;
        }
        &.apply{
            color: #179117;
        }
    }
    &_link-text{
        border-bottom: 1px dotted;
    }
    &__project-card{
        max-width: 220px;
    }
}


.project-card-list__create{
    margin-top: -19px;
}


.select2-flat{
    &, & *{
        box-sizing: content-box;
    }
    .select2-container{
        width: 100%;
        .select2-choice,
        .select2-choices{
            display: block;
            padding: 2px 10px;
            border: 1px solid #ccc;
            border-radius: 0;
            box-shadow: none;
            &:hover{
                text-decoration: none;
            }
            .select2-search-choice{
                padding: 7px 12px 7px 22px;
                font-size: 14px;
                line-height: 16px;
                border: 0;
                border-radius: 0;
                background: #f0eee8;
                &.select2-search-choice-focus{
                    background: #dfddd5;
                }
            }
            .select2-search-field input{
                height: 26px;
                font: 14px/30px @baseFontFamily;
                color: #afaeae;
                &.select2-focused{
                    color: @textColor;
                }
            }
            .select2-chosen{
                color: @textColor;
            }
        }
        .select2-search-choice-close{
            left: 7px;
            top: 8px;
        }
        &.select2-container-active,
        &.select2-dropdown-open{
            .select2-choice,
            .select2-choices{
                border-radius: 0;
                border-color: @baseColor;
            }
        }
        &.select2-container-disabled{
            background-color: #f5f5f5;
            border-color: #ddd;
            .select2-chosen{
                color: #aaa;
            }
            .select2-arrow b {
                border-top-color: #aaa;
            }
        }

        .select2-choice{
            .select2-search-choice-close{
                left: auto;
                right: 26px;
                top: 13px;
            }
        }
        .select2-arrow{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 26px;
            b{
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                height: auto;
                margin: -2px 0 0 -5px;
                border-style: solid;
                border-color: #3498db transparent transparent;
                border-width: 5px 5px 0;
                font: 0/0 a;
                background: none;
            }
        }
        .select2-chosen{
            display: block;
            padding: 8px 0;
        }
    }
}

.project-create-select2-drop{
    &.select2-drop-active,
    &.select2-drop.select2-drop-above.select2-drop-active{
        border-radius: 0;
        box-shadow: none;
        border-color: @linkColor;
    }
    & .select2-results .select2-result-label{
        font-size: 14px;
        line-height: 16px;
        padding: 7px 17px;
    }

    &.select2-drop{
        .select2-search{
            margin: 0 0 10px;
        }
        .select2-input{
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 16px;
            color: #555;
            background: #fff;
            border: solid #ccc;
            border-width: 1px 0;
        }
    }
}


.project-create_cont{
    .select2-container{
        .select2-choice,
        .select2-choices{
            padding: 8px @project-create-pdg - 2;
            border: 0;
        }
        &.select2-container-active,
        &.select2-dropdown-open{
            .select2-choice,
            .select2-choices{
                box-shadow: inset 0 0 0 1px @linkColor;
            }
        }
        .select2-choice{
            .select2-search-choice-close{
                right: 50px;
                top: 19px;
            }
        }

        .select2-arrow{
            right: 20px;
            b{
                border-width: 7px 7px 0 7px;
            }
        }
    }
}




// create action
.project-create{
    &_action-wrap{
        margin: 0 0 10px;
        &.fixed{
            .project-create_action{
                position: fixed;
                z-index: 1000;
                bottom: 0;
                min-width: 100%;
                border-top-color: #ddd;
                background: #f2f2f2;
            }
        }
    }

    &_action{
        padding: 10px 0;
        border-top: 1px solid transparent;
        transition: background .2s, border .2s;
        .btn{
            padding: 20px 30px;
            font-family: @ff-proxima-nova;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &_action-left{
        float: left;
    }
    &_action-right{
        float: right;
        text-align: right;
    }

    &_back{
        float: left;
        margin: 0 30px 0 0;
    }
    &_next{
        margin: 0 0 0 27px;
    }
    &_preview-link{
        display: inline-block;
        vertical-align: top;
        margin: 25px 0 22px;
        padding: 1px 0 0 27px;
        font: 10px/12px @baseFontFamily;
        text-transform: uppercase;
        background: url('/images/project/prj-crt-preview-link.png') no-repeat 0 50%;
        cursor: pointer;
        &_text{
            border-bottom: 1px dotted #000;
        }
    }
}
// /create action





.project-create_row.error{
    .pc_col-lbl_title,
    .checkbox-label{
        color: #d44b4b;
    }
    .checkbox-row{
        position: relative;
    }
}


// modal author info, reward edit
.modal-action-card-edit,
.modal-counterparty,
.modal-author-info{
    width: 698px;
    .project-create_cont{
        margin: 0;
        border: 0;
    }
    .project-create_list{
        margin: 0;
        border: 0;
    }
    .project-create_row{
        .project-create_list{
            border-top: 1px solid #eeece4;
        }
    }
    .s-pc-action-warning{
        margin: 3px 12px 0 0;
    }
}
.modal-counterparty{
    .fieldset-group__grid{
        border: 0;
        .fieldset{
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}
.modal-action-card-edit{
    width: 618px;
}
// /modal author info, reward edit


.error-row {
  background-color: #e74c3c !important;
  color: #fff;
  text-align: center;
}


.project-create_spec-project{
    font-weight: 700;
}




// counterparty
.project-create_attention{
    margin: 20px 0;
    text-align: center;
    &_ico{
        display: inline-block;
        vertical-align: top;
        width: 32px;
        height: 32px;
        background: url('/images/project/project-create_attention.svg') no-repeat;
    }
    &_text{
        display: inline-block;
        vertical-align: top;
        margin: 6px 0 0 7px;
        font: 700 18px/20px @ff-proxima-nova;
        color: #c0392b;
    }
}

.project-create__counterparty{
    .project-create_col-lbl{
        width: 300px;
    }
}
// /counterparty




// modal parallel edit
.modal-parallel-edit{
    width: 500px;
    font-family: @ff-proxima-nova;
    font-size: 14px;
    line-height: 1.5;
    &_user{
        white-space: nowrap;
        font-weight: 600;
        &_icon{
            display: inline-block;
            vertical-align: top;
            width: 13px;
            height: 13px;
            margin: 3px 0 0 4px;
            background: url('/images/project/link-new-tab.png') no-repeat;
        }
    }
    .modal-title{
        color: #db443b;
    }
}
// /modal parallel edit




// typeahead
.twitter-typeahead{
    pre{
        margin: 0;
    }
}

.tt-hint {
    color: #999
}

.tt-menu {
    min-width: 100%;
    margin: 1px 0;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: @baseColor;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: @baseColor;

}

.tt-suggestion p {
    margin: 0;
}
// /typeahead




.upload-file-name-item{
    position: relative;
    margin: 7px 0 0;
    font-size: 12px;
    line-height: 15px;
    &:first-child{
        margin-top: 15px;
    }
    &_name{
        .text-overflow();
        position: relative;
        max-width: 100%;
        padding: 0 25px 0 0;
        display: inline-block;
        vertical-align: top;
        color: #777;
        a{
            &, &:hover{
                color: #777;
            }
        }
    }
    &_del{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
