// donate-call



.donate-call{
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 21/14;
    color: #000;
    &_head{

    }
    &_text{
        font-size: 13px;
        color: #888;
    }
    &_link-wrap{

    }
    &_link{
        font-size: 13px;
        color: #1a8cff;
        text-decoration: underline;
        &:hover{
            color: darken(#1a8cff, 10%);
        }
    }
    &_popup{
        margin: 23px 0 0;
        border: 1px solid #e8e8e8;
        &:before{
            content: '';
            position: absolute;
            top: -6px;
            left: 34px;
            width: 27px;
            height: 27px;
            background: #f4f7f9;
            border: 1px solid #e8e8e8;
            transform: rotate(45deg);
        }
    }
    &_popup-cont{
        position: relative;
        padding: 15px 24px 24px;
        background: #f4f7f9;
    }
    &_popup-title{

    }
    &_input{
        margin: 16px 0;
    }
    &_action{
        .btn{
            padding: 16px 10px 14px;
            font-family: @ff-roboto-cond;
            font-size: 13px;
            line-height: 16px;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
}
