// donate-info



.donate-info{
  margin: 0 0 40px;
  font-family: @ff-roboto-cond;
  font-size: 13px;
  line-height: 21/13;
  color: #888;
  &_lbl{
    font-size: 14px;
    color: #000;
  }
  &_text{
    margin: 0 0 39px;
  }
  a{
    color: #1a8cff;
    text-decoration: underline;
    &:hover{
      color: darken(#1a8cff, 15%);
    }
  }
}
