// donate-action



.donate-action{
    &_title{
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #454553;
    }
    &_val{
        margin: 19px 0 24px;
        .form-control{
            height: 64px;
            padding: 21px 15px;
            font-family: @ff-roboto;
            font-size: 18px;
            line-height: 20px;
            font-weight: 500;
            color: #454553;
            border-color: #e8e8e8;
        }
    }
    &_btn{
        .btn{
            padding: 23px 0 21px;
        }
    }
    &_attention{
        margin: 23px 0 0;
    }



    // action modal
    .modal-action-card &{
        .donate-action{
            &_title{
                color: #fff;
            }
        }
    }
    // /action modal


    // reward list and action mobile – mobile
    .modal-action-card &,
    .project-donate-list &{
        @media (max-width: @screen-tp-max) {
            padding: 20px 0;
            .donate-action{
                &_val{
                    margin: 11px 0 10px;
                }
                &_btn{
                    .btn{
                        padding: 15px 0 13px;
                    }
                }
            }
        }
    }
    // /reward list and action mobile – mobile
}
