// form-ui-reward-filter



.form-ui-reward-filter{

    .form-ui-label{
        display: block;
    }
    .form-ui-txt{
        display: block;
        padding: 3px 0 1px 28px;
        font-size: 12px;
        line-height: 16px;
        color: #454553;
        .text-overflow();
    }
    .form-ui-del{
        float: right;
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 0 0 10px;
        padding: 6px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transform: translateX(20px);
        transition: .2s;
        &:before{
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0, 0, 8, 8'%3E%3Cpath d='M7.793 1.205L4.998 4l2.795 2.795a.705.705 0 1 1-.998.998L4 4.998 1.205 7.793a.705.705 0 1 1-.998-.998L3.002 4 .207 1.205a.705.705 0 1 1 .998-.998L4 3.002 6.795.207a.705.705 0 1 1 .998.998z' fill='%23EF5928'/%3E%3C/svg%3E");
        }
    }

    input[type="checkbox"] {
        & ~ .form-ui-label{
            .form-ui-txt{
                &:before{
                    width: 20px;
                    height: 20px;
                    border: 1px solid #e8e8e8;
                    border-radius: 4px;
                }
                &:after{
                    top: 3px;
                    left: 3px;
                    width: 14px;
                    height: 14px;
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0, 0, 14, 14'%3E%3Cpath d='M13.039 4.769l-6.407 6.424a.837.837 0 0 1-1.183 0L1.828 7.562a.841.841 0 0 1 .375-1.402.832.832 0 0 1 .807.217l3.031 3.038 5.815-5.831a.833.833 0 0 1 1.399.375.841.841 0 0 1-.216.81z' fill='%231A8CFF'/%3E%3C/svg%3E");
                    opacity: 0;
                    transform: scale(.6);
                    transition: .2s;
                }
            }
            &:hover{
                .form-ui-txt{
                    &:before{
                        border-color: darken(#e8e8e8, 10%);
                    }
                }
            }
        }

        &:checked{
            & ~ .form-ui-label{
                .form-ui-del{
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }
                .form-ui-txt{
                    &:after{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
