// form-ui-payment-type



.form-ui-payment-type{
    font-size: 0;
    &_logo{
        display: block;
        display: flex;
        align-items: center;
        height: 35px;
        margin: 0 0 1px;
    }
    &_logo-img{
        max-height: 100%;
    }
    &_name{
        display: block;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        color: #afafaf;
    }

    .form-ui-label{
        line-height: 0;
    }
    .form-ui-txt{
        padding: 0 0 0 29px;
    }


    input[type="radio"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    top: 7px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #e8e8e8;
                    border-radius: 50%;
                }
                &:after{
                    top: 11px;
                    left: 4px;
                    width: 12px;
                    height: 12px;
                    background: #1a8cff;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .2s;
                }
            }

            &:hover{
                .form-ui-txt{
                    &:before{
                        border-color: darken(#e8e8e8, 10%);
                    }
                }
            }
        }

        &:focus {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        border-color: darken(#e8e8e8, 10%);
                    }
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        opacity: 1;
                    }
                }
                .form-ui-payment-type_name{
                    color: #000;
                }
            }
        }

        &:disabled {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{

                    }
                }
            }
            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:after{

                        }
                    }
                }
            }
        }
    }
}
