// form-ui-project-donate



.form-ui-project-donate{
    font-size: 0;
    a{
        color: #afafaf;
        text-decoration: underline;
        &:hover{
            color: #1a8cff;
        }
    }

    .form-ui-tooltip-error{
        display: none;
        position: absolute;
        bottom: 100%;
        left: -10px;
        max-width: 100%;
        margin: 0 0 10px;

        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #ef5928;
        border: 1px solid #ef5928;
        border-radius: 4px;
        &_cont{
            position: relative;
            padding: 10px 16px 12px;
            background: #ffebe5;
            border-radius: 4px;
        }
        &:before{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 13px;
            width: 12px;
            height: 12px;
            background: #ffebe5;
            border: 1px solid #ef5928;
            transform: rotate(45deg);
        }

    }

    .form-ui-label{
        line-height: 0;
    }
    .form-ui-txt{
        padding: 0 0 0 28px;
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 13px;
        color: #afafaf;
    }


    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                padding-top: 4px;
                padding-bottom: 4px;
                &:before{
                    width: 20px;
                    height: 21px;
                    border: 1px solid #a2a2a2;
                    border-radius: 4px;
                    transition: .3s;
                }
                &:after{
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 21px;
                    background: url(/images/project/project-donate-check.svg) no-repeat;
                    opacity: 0;
                    transform: scale(.5);
                    transition: .2s;
                }
            }

            &:hover{
                .form-ui-txt{
                    &:before{
                        border-color: #5f5f5f;
                    }
                }
            }
        }

        &:focus {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        border-color: #5f5f5f;
                    }
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        &:disabled {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{

                    }
                }
            }
            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:after{

                        }
                    }
                }
            }
        }
    }


    &.error{
        .form-ui-label.form-ui-label.form-ui-label{
            .form-ui-txt{
                &:before{
                    border-color: #ef5928;
                }
            }
        }
    }
    &.show-error-tooltip{
        .form-ui-tooltip-error{
            display: block;
            animation: show-tooltip .2s both ease-out;
        }
    }
}


@keyframes show-tooltip {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
