// Founding rules page
// -------------



.founding-rules{
    &:extend(.cf-mix all);
}


#central-c{
    float: left;
    width: 633px;
}
#right-s{
    float: left;
    width: 252px;
    margin-left: 15px;
}


.founding-rules-content{
    margin: 19px 20px 30px 9px;
}

.frc-title{
    font-size: 32px;
    line-height: 18px;
    color: #808080;
    .hbfont();
    margin: 19px 0 43px 0;
    letter-spacing: -1px;
}

.frc-title-first-word{
    color: #333;
}

.frc-rules{
    color: #333;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 12px;
}

.frc-rules-list{
    margin: 0 0 26px 18px;
    list-style-image: url('/images/founding-page/list-marker-blue.png');
}

.frc-rules-list-items{
    padding: 0 0 0 4px;
    margin: 0 0 6px;
    font-size: 14px;
    line-height: 23px;
    color: #333;
}

.frc-rules-descr{
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 23px;
    color: #333;
}


.frc-i-accept{
    position: relative;
    margin: 0 0 0 2px;
    padding: 37px 180px 37px 22px;
    overflow: hidden;
    background: #f2f2f2;
    border-left: 3px solid #46aad8;
    &.frc-attention{
        border-left-color: #f52345;
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .checkbox{
        margin: 0 5px 2px;
    }
    .checkbox-label{
        margin: 0;
    }
}

.frc-i-accept-p{
    margin: 0;
    font-size: 14px;
    color: #333;
}

.frc-i-accept-btn{
    position: absolute;
    top: 50%;
    right: 29px;
    margin: -18px 0 0;
    padding: 8px 23px;
}

/* Aside */

.founding-rules-aside{
    background: #f2f2f2;
    padding: 24px 0 22px;
}

.fra-title{
    font-size: 18px;
    color: #1a1a1a;
    .hbfont();
    margin: 0 0 7px 28px;
}

.fra-description{
    margin: 0 0 18px 28px;
    font: 700 12px @baseFontFamily;
    color: #1a1a1a;
}

.fra-list{
    margin: 0 0 0 28px;
    list-style-image: url('/images/founding-page/list-marker-gray.png');
    width: 85%;
}

.fra-list-items{
    margin: 0 0 7px;
    font-size: 12px;
    color: #1a1a1a;
}

.founding-video-frame{
    position: relative;
    height: 0;
    margin: 0 0 26px;
    padding: 0 0 55.9%;
    overflow: hidden;
    iframe, object, embed{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
