// modal-how-create



.modal-how-create{
    width: 700px;
    .close{
        &:extend(.thin-close-mix all);
    }
    .embed-video{
        .video-stub img, .embed-video-cover{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .bb-video-icon{
            z-index: 2;
        }
    }
}
