// project-unit-meta



.project-unit-meta{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
    padding: 6px 0 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
        font-family: @ff-roboto-cond;
        font-size: 18px;
        line-height: 21px;
        color: #454553;
        white-space: nowrap;
    }
    &_lbl{
        margin: 0 0 -4px;
        font-size: 12px;
        color: #afafaf;
        text-transform: uppercase;
    }
    &_val{
        font-size: 16px;
    }


    @media (max-width: @screen-pl-max) {
        &_i{
            font-size: 16px;
        }
        &_start{
            display: none;
        }
    }
}
