// project-faq



.project-faq{
    margin-top: -20px;
    color: #454553;
    &_i{
        user-select: none;
        position: relative;
        padding: 17px 60px 16px 20px;
        font-size: 14px;
        line-height: 24/14;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
        &:first-child{
            border-top: 0;
        }
        &:before{
            content: "";
            position: absolute;
            top: 21px;
            left: 0;
            width: 15px;
            height: 15px;
            background: url('/images/project/view/faq-arrow.svg') no-repeat;
            transition: .2s;
        }
        &.active{
            &:before{
                transform: rotate(90deg);
            }
        }
    }

    &_i-question{
        font-weight: 700;
    }
    &_i-answer{
        display: none;
        margin-top: 15px;
    }

    &_i-action{
        position: absolute;
        top: 17px;
        right: 5px;
        [class*="icon-"]{
            margin: 0 0 0 7px;
            opacity: .2;
            cursor: pointer;
            &:hover{
                opacity: .4;
            }
        }
    }

    &_not-find-question{
        width: 296px;
        margin: 40px auto 20px;
        padding: 30px 0 20px;
        text-align: center;
        border: 2px solid @linkColor;
    }

    &_not-question{
        margin: 30px 0;
        font-size: 20px;
        font-weight: 300;
        color: #a6a6a6;
        text-align: center;
    }

    &_add-answer{
        max-width: 460px;
        padding: 23px 18px;
        margin: 50px auto;
        border: 2px solid #c0392b;
        &_head, label{
            font-size: 16px;
            font-weight: 700;
            letter-spacing: .13em;
            text-transform: uppercase;
        }
        &_head{
            margin: 0 0 20px;
            color: #c0392b;
        }
        &-form{
            label{
                margin-bottom: 5px;
            }
            input[type=text], textarea{
                &:extend(.form-control-mix all);
                height: 40px;
                padding: 9px;
                font-size: 15px;
                line-height: 20px;
            }
            textarea{
                height: auto;
            }
        }
        label{
            font-size: 13px;
            color: #262626;
        }
        .fieldset.error{
            input[type=text], textarea{
                border-color: #c0392b;
            }
        }
        .btn{
            font-size: 16px;
            font-weight: 700;
        }
    }
}



// modal edit faq answer
.modal-dialog{
    .modal-faq-answer{
        border: 0;
        min-width: 0;
        .close{
            position: absolute;
            top: -25px;
            right: -25px;
            font-size: 30px;
            font-weight: 400;
            text-shadow: none;
            color: #fff;
        }
    }
    .project-faq_add-answer{
        margin: 0;
    }
}
