// project-view-header



.project-view-header{
    position: relative;
    margin: -20px 0 0;
    padding: 20px 0 0;
    .wrap{
        position: relative;
    }
}


.project-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &_img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: no-repeat center / cover;
    }
}
