// project-payment



.project-payment{
    color: #000;
    &_common{
        font-size: 16px;
        line-height: 22/16;
    }
    &_common-i{
        @media (max-width: @screen-pl-max) {
            margin: 25px 0 0;
            &:first-child{
                margin: 0;
            }
        }
    }
    &_common-lbl{
        margin: 0 0 8px;
        font-family: @ff-roboto-cond;
        font-size: 16px;
        line-height: 20/16;
        color: #888;
        text-transform: uppercase;
    }
    &_common-val{
        font-weight: 500;
    }
    &_common-val-count{
        float: left;
        margin: 0 .3em 0 0;
        color: #888;
        font-weight: 100;
    }
    &_common-val-name{
        display: block;
        overflow: hidden;
    }
    &_common-price{
        font-size: 24px;
        line-height: 28/24;
    }

    &_auth{
        margin: 40px 0 9px;
    }

    &_steps{
        margin: 40px 0 0;
        &.disabled{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                z-index: 10;
                top: 0;
                left: -40px;
                right: 0;
                bottom: 0;
                background: fade(#fff, 60);
            }
        }
    }
    &_steps-i{
        margin: 40px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_steps-text{
        font-family: @ff-roboto-cond;
        font-size: 15px;
        line-height: 21/15;
        color: #666;
    }
    &_steps-num{
        display: inline-block;
        vertical-align: baseline;
        width: 40px;
        margin: 0 0 0 -46px;
        text-align: right;
        color: #afafaf;
        @media  (max-width: 1250px) and (min-width: @screen-ld-min),
                (max-width: 940px) {
            width: auto;
            margin-left: 0;
        }
    }
    &_steps-title{
        margin: 0 0 24px;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 28/24;
        color: #1b2336;
    }


    &_action{
        margin: 40px 0 0;
        padding: 23px 0 0;
        border-top: 1px solid #e8e8e8;
        &.disabled{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                z-index: 10;
                top: 0;
                left: -40px;
                right: 0;
                bottom: 0;
                background: fade(#fff, 60);
            }
        }
    }
    &_action-btn{
        margin: 30px 0 0;
    }
    &_btn{
        display: block;
        width: 100%;
        min-width: 250px;
        padding: 24px 24px 22px;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    @media (min-width: @screen-tp-min) {
        &_action{
            display: flex;
            justify-content: space-between;
        }
        &_term{
            display: inline-block;
            vertical-align: top;
        }
        &_action-btn{
            float: right;
            margin: 0 0 0 20px;
        }
        &_btn{
            width: auto;
        }
    }
}
