// project-payment-form



.project-payment-form{
    &.wrap-row{
        margin-left: -5px;
        margin-right: -5px;
    }
    [class^="col-"], [class*=" col-"], [class^="m-col-"], [class*=" m-col-"]{
        padding-left: 5px;
        padding-right: 5px;
    }
    &_i{
        position: relative;
        margin: 16px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_help-tt{
        position: absolute;
        top: 8px;
        right: 13px;
        width: 16px;
        height: 16px;
        padding: 1px 0 0;
        font-size: 13px;
        line-height: 1;
        font-weight: 900;
        color: #888;
        text-align: center;
        background: #d8d8d8;
        border: 1px solid #979797;
        border-radius: 50%;
        cursor: default;
    }

    &_author-q{
        padding: 23px;
        font-size: 15px;
        line-height: 21/15;
        border: solid #e8e8e8;
        border-width: 1px 1px 0;
        background: #f4f7f9;
    }

    &_delivery-modal-link{
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 18px;
        color: #1a8cff;
        border-bottom: 1px dashed;
        cursor: pointer;
        &:hover{
            color: darken(#1a8cff, 15%);
        }
    }
}
