// project-tab



.project-tab{
    &_list{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        font-family: @ff-roboto-cond;
        font-size: 16px;
        line-height: 20px;
        &.active{
            .project-tab_link{
                opacity: 1;
                &:before{
                    background: #1a8cff;
                }
            }
        }
    }
    &_link{
        position: relative;
        display: block;
        padding: 25px 30px;
        color: #454553;
        opacity: .7;
        transition: .2s;
        &:hover{
            color: #454553;
            text-decoration: none;
            opacity: 1;
            &:before{
                background: #b0c6d7;
            }
        }
        &:before{
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 4px;
            background: transparent;
            transition: .2s;
        }
    }
    &_badge{
        position: absolute;
        top: 21px;
        left: 100%;
        margin: 0 0 0 -27px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1;
        white-space: nowrap;
        color: #132129;
    }
    &_badge-new{
        color: #1a8cff;
    }


    @media (max-width: @screen-ld-max) {
        &_i{
            margin: 0 0 0 40px;
            &:first-child{
                margin: 0;
            }
        }
        &_badge{
            margin: 0;
        }
        &_link{
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media (max-width: @screen-tp-max) {
        &_list{
            .mobile-scroll-mix();
            padding-left: 20px;
            padding-right: 20px;
        }
        &_i{
            margin: 0 0 0 30px;
            &:first-child{
                margin: 0;
            }
        }
    }
}
