// project-list-search



.project-list-search{
    margin: -20px 0 32px;
    background: #eaeaea;
    cursor: text;
    &_val{
        height: 110px;
        margin: 0;
        padding: 28px 0 27px;
        font-family: @ff-roboto-cond;
        font-size: 48px;
        line-height: 55px;
        font-weight: 100;
        border: 0;
        background: #eaeaea;
    }

    @media (max-width: @screen-tl-max) {
        margin-bottom: 20px;
        &_val{
            height: 74px;
            padding: 18px 0 17px;
            font-size: 32px;
            line-height: 39px;
        }
    }
}
