// project-news



.updates-list{
    .feed{
        &_i{
            border: 0;
            border-top: 1px solid #e6e6e6;
            &:first-child{
                border-top: 0;
                padding-top: 10px;
            }
        }
        &_ava{
            display: none;
        }
        &_cont{
            margin-left: 0;
        }
        &_post{
            font-family: @ff-roboto;
        }
    }


    @media (max-width: @screen-tp-max) {
        .feed{
            &_text{
                display: none;
            }
        }
    }
}
