// project-view-share



.project-view-share{
    position: relative;
    padding: 10px 0 0;
    &_code{
        margin: 0 0 5px;
    }
    &_code-link{
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 1;
        color: #afafaf;
        text-decoration: underline;
        text-transform: uppercase;
        cursor: pointer;
        /*
        box-decoration-break: clone;
        box-shadow: 6px 4px 0 0 #f4f4f4,
                   -6px -4px 0 0 #f4f4f4,
                    6px -4px 0 0 #f4f4f4,
                   -6px 4px 0 0 #f4f4f4;
        background: #f4f4f4;
        */
        &:hover{
            color: #000;
        }
    }
    &_block{
        padding: 16px 0 16px 27px;
        font-size: 0;
        background: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 6px 6px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 1;
        color: #afafaf;
        text-transform: uppercase;
    }
    &_val{
        display: inline-block;
        vertical-align: top;
    }
    .sharing-popup-social{
        position: static;
    }
    .sps-count{
        position: absolute;
        top: 14px;
        right: 0;
        display: inline;
        vertical-align: baseline;
        margin: 0;
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 1;
        color: #afafaf;
        text-transform: uppercase;
        /*
        box-decoration-break: clone;
        box-shadow: 6px 5px 0 0 #f4f4f4,
                   -6px -5px 0 0 #f4f4f4,
                    6px -5px 0 0 #f4f4f4,
                   -6px 5px 0 0 #f4f4f4;
        background: #f4f4f4;
        */
    }


    @media (max-width: @screen-ld-max) {
        padding: 0 0 20px;
        .project-view-share{
            &_code{
                position: absolute;
                bottom: 0;
                margin: 2px 0 0;
            }
        }
        .sps-count{
            top: auto;
            bottom: 0;
            margin: 0 0 3px;
        }
    }

    @media (max-width: 850px) {
        &_block{
            padding-left: 16px;
        }
    }

    @media (max-width: @screen-tp-max) {
        padding: 0;
        text-align: center;
        .project-view-share{
            &_code{
                display: none;
            }
            &_block{
                padding: 0;
                background: none;
                border: 0;
            }
            &_lbl{
                display: none;
            }
        }
        .sps-count{
            display: none;
        }
    }
}
