// project-donate



.project-donate{
    position: relative;
    font-family: @ff-roboto;
    font-size: 15px;
    line-height: 24/15;
    color: #132129;
    &_header{
        padding: 20px 20px 39px;
        text-align: center;
    }
    &_title{
        font-size: 24px;
        line-height: 26/24;
    }
    &_name{
        margin: 2px 0 18px;
        font-size: 24px;
        line-height: 28/24;
        font-weight: 700;
        a{
            color: #1a8cff;
            text-decoration: underline;
            &:hover{
                color: lighten(#1a8cff, 7%);
            }

        }
    }
    &_author{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16/14;
        color: #000;
    }


    &_main{
        padding: 41px 0 60px;
        background: #fff;
    }
    &_main-wrap-row{
        display: flex;
    }

    &_another{
        position: relative;
        z-index: 10;
        float: right;
        margin: 11px 0 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;
        @media (min-width: @screen-tl-min) {
            margin-right: -22px;
        }
    }
    &_list-title{
        position: relative;
        z-index: 1;
        margin: 0 0 23px;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 28/24;
        color: #1b2336;
        @media (min-width: @screen-tl-min) {
            margin-right: -22px;
            margin-left: 30px;
        }
    }
    &_list{
        position: relative;
        z-index: 1;
        @media (min-width: @screen-tl-min) {
            margin: 0 -22px 0 30px;
        }
    }


    @media (max-width: @screen-tp-max) {
        &_header{
            margin-top: -20px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &_title,
        &_name{
            font-size: 18px;
            line-height: 22px;
        }
    }
}
