// project-view-add



.project-view-add{
    &:extend(.cf-mix all);
    font: 0/0 @ff-roboto-cond;
    &_i{
        display: inline-block;
        vertical-align: top;
        &, &:hover{
            color: #1b2336;
            text-decoration: none;
        }
        &:hover{
            .project-view-add_lbl{
                text-decoration: underline;
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 1px 0 0 8px;
        font-size: 14px;
        line-height: 16px;
    }


    .project-view-meta_add &{
        display: flex;
        margin: 15px 0 0;
        padding: 15px 0 3px;
        border-top: 1px solid #e8e8e8;
        .project-view-add{
            &_i{
                display: flex;
                width: 50%;
                white-space: nowrap;
                overflow: hidden;

                &:nth-child(even){
                    justify-content: flex-end;
                    text-align: right;
                }
            }
            &_lbl{
                .text-overflow();
            }
        }
    }

    .project-view-card_add &{
        margin: -17px 0 0;
        padding: 0 0 22px;
        .project-view-add{
            &_i{
                &:nth-child(even){
                    margin-left: 37px;
                }
            }
        }
    }


    @media (min-width: @screen-ld-min) {
        .project-finish .project-view-meta_add &{
            margin-top: 25px;
            padding-top: 25px;
        }
    }
}
