// project-author



.project-author{
    font-family: @ff-roboto;
    word-wrap: break-word;
    a{
        color: #1a8cff;
        text-decoration: underline;
        &:hover{
            color: lighten(#1a8cff, 7%);
        }
    }
    &_ava{
        margin: 0 0 17px;
        box-shadow: 0 5px 10px fade(#b0c6d7, 80);
        border-radius: 3px;
        overflow: hidden;
        transform: translateZ(0);
        .user-avatar{
            width: 100%;
        }
    }
    &_action,
    &_cont{
        font-size: 11px;
        line-height: 1.2;
        font-weight: 700;
        white-space: normal;
    }

    &_name{
        margin: 0 0 12px;
        font-size: 14px;
    }
    @media (min-width: @screen-ld-min) {
        &_long-link{
            position: relative;
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            &:hover{
                z-index: 1;
                &:after{
                    content: attr(data-text);
                    position: absolute;
                    z-index: 1;
                    top: -3px;
                    left: -3px;
                    right: -3px;
                    padding: 3px;
                    white-space: normal;
                    word-wrap: break-word;
                    background: #fff;
                    text-decoration: underline;
                }
            }
        }
        &_long-link-text{
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            .text-overflow();
            text-decoration: underline;
        }
    }

    &_links{
        .project-author_long-link-text{
            max-height: 26px;
            overflow: hidden;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &_social{
        margin: 0 0 11px;
        font-size: 0;
    }
    &_social-i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 8px;
        &, &:hover{
            text-decoration: none;
        }
        &:first-child{
            margin: 0;
        }
    }

    &_empty-head{
        margin: -4px 0 4px;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #ff501a;
    }
    &_empty-text{
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #888;
    }

    &_action{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 14px 0 0;
        border-top: 1px solid #e8e8e8;
    }
    &_action-i{
        margin: 9px 0 0;
        &:first-child{
            margin: 0;
        }
    }

    .projects-count-badge{
        position: absolute;
        top: 5px;
        right: 5px;
        &:extend(.badge-mix all);
        font-size: 14px;
        height: 24px;
        min-width: 24px;
    }


    @media (min-width: @screen-ld-min) {
        &:before{
            content: '';
            position: absolute;
            top: 75px;
            left: 100%;
            border-left: 10px solid #fff;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }

    @media (max-width: @screen-ld-max) {
        font-size: 0;
        white-space: nowrap;
        &_ava{
            display: inline-block;
            vertical-align: top;
            margin: 0 24px 0 0;
            .user-avatar{
                width: 64px;
                height: 64px;
            }
        }
        &_cont{
            display: inline-block;
            vertical-align: top;
            max-width: 150px;
            margin: 0 24px 0 0;
            word-break: break-all;
        }
        &_name{
            margin: 0 0 10px;
        }
        &_social{
            margin: 0 0 9px;
        }
        &_action{
            position: static;
            display: inline-block;
            vertical-align: top;
            padding: 0;
            font-size: 12px;
            border: 0;
        }
    }

    @media (max-width: 850px) {
        &_ava{
            margin: 0 12px 0 0;
            .user-avatar{
                width: 40px;
                height: 40px;
            }
        }
        &_cont{
            max-width: 130px;
            margin: 0 12px 0 0;
        }
    }

    @media (max-width: @screen-tp-max) {
        min-width: 100%;
        &_ava{
            float: left;
        }
        &_cont{
            display: block;
            overflow: hidden;
            max-width: none;
        }
        &_action{
            margin: 22px 0 0;
        }
    }
}
