// project-donate-reward



.project-donate-reward{
    padding: 22px 39px;
    border: 1px solid #e1e3e4;
    border-radius: 2px;
    color: #000;


    &_term{
        margin: 32px 0 0;
    }


    @media (min-width: @screen-tl-min) {
        margin: 0 -22px 0 30px;
    }
}
