// project-partners



.project-partners{
    margin: 0 0 56px;
    font-family: @ff-roboto;
    text-align: center;
    &_head{
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 36/24;
        color: #1b2336;
    }
    &_link{
        margin: 7px 0 20px;
        text-align: center;
        font-size: 15px;
        line-height: 17px;
        font-weight: 500;
        a{
            color: #1a8cff;
            text-decoration: underline;
        }
    }
    .partners-list{
        margin: 0 -15px;
        font-size: 0;
        &_i{
            display: inline-block;
            vertical-align: top;
            width: 20%;
            padding: 15px 45px;
        }
        &_link{
            position: relative;
            display: block;
            height: 0;
            padding: 0 0 50%;
        }
        &_img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            transform: translateZ(0);

            filter: grayscale(100%);
            opacity: 0.7;
            transition: .2s;
            &:hover{
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }


    @media (max-width: @screen-tl-max) {
        .partners-list{
            .mobile-scroll-mix();
            &_i{
                width: 240px;
            }
        }
    }
}
