// project-filter-select



.project-filter-select{
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 0;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    color: #1a8cff;
    border: 0;
    background: none;
    &:hover{
        color: darken(#1a8cff, 15%);
        .icon-select{
            &:before,
            &:after{
                background: darken(#1a8cff, 15%);
            }
        }
    }
    &.open{
        color: #1a8cff;
        .icon-select{
            &:before,
            &:after{
                background: #1a8cff;
            }
        }

        .icon-select{
            &:before{
                transform: rotate(-45deg);
            }
            &:after{
                transform: rotate(45deg);
            }
        }
        .dropdown-menu{
            margin-top: 7px;
        }
    }
    .select-btn{
        width: auto;
        top: 7px;
        right: 10px;
        bottom: auto;
    }
    .icon-select{
        top: 0;
        left: auto;
        right: 0;
        margin: 0;
        border: 0;
        transition: .2s;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: -2px;
            width: 7px;
            height: 1px;
            background: #1a8cff;
            transform: rotate(45deg);
            transition: .2s;
        }
        &:after{
            left: 2px;
            transform: rotate(-45deg);
        }
    }

    .dropdown-menu{
        right: auto;
        left: -16px;
        min-width: 160px;
        margin: 5px 0 0;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 30px 40px fade(#254959, 20);
        .item{
            a{
                padding: 8px 16px;
                font-size: 14px;
            }
        }
        .active > a,
        a:hover{
            background-color: #1a8cff;
        }
    }
}
