// project-donate-list



.project-donate-list{
    &_i{
        margin: 20px 0 0;
        &:first-child{
            margin: 0;
        }

        @media (max-width: @screen-tp-max) {
            margin-top: 10px;
        }
    }
    &_action{
        height: 0;
        margin: 0 -10px;
        padding: 0 10px;
        overflow: hidden;
        transition: .2s;

        .checked &{
            height: 257px;
        }

        @media (min-width: @screen-tp-min) {
            display: none !important;
        }
    }
}
