// project-list-filter



.project-list-filter{
    padding: 12px 0 15px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 40px;
        &:first-child{
            margin: 0;
            .dropdown-menu{
                max-height: none;
            }
        }
    }


    @media (max-width: @screen-ld-max) {
        &_i{
            margin-left: 20px;
        }
    }
    @media (max-width: @screen-pl-max){
        margin: -15px -10px 0;
        font-size: 0;
        &_i{
            display: inline-block;
            vertical-align: top;
            width: 50%;
            margin: 15px 0 0;
            padding: 0 10px;
            &:nth-child(even){
                text-align: right;
            }
            &:first-child{
                margin: 15px 0 0;
            }
        }
    }
}

