// project-payment-error



.project-payment-error{
    margin: 20px 0;
    padding: 17px 24px 19px;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    color: #ef5928;
    background: #ffebe5;
    border: 1px solid #ef5928;
}
