// project-view-top



.project-view-top{
    padding: 21px 0 35px;
    font-family: @ff-roboto;
    font-size: 15px;
    line-height: 24/15;
    color: #454553;


    @media (max-width: @screen-tp-max) {
        padding-top: 4px;
        padding-bottom: 15px;
    }
}




.project-view-status{
    margin: 0 20px 9px 0;

    @media (max-width: @screen-tp-max) {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}




.project-view-name{
    margin: 0 20px 0 0;
    font-family: @ff-roboto;
    font-size: 32px;
    line-height: 1.2;
    color: #132129;
    h1{
        display: inline;
        margin: 0;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        box-decoration-break: clone;
        box-shadow: 10px 2px 0 0 #f4f4f4,
                   -10px -2px 0 0 #f4f4f4,
                    10px -2px 0 0 #f4f4f4,
                   -10px 2px 0 0 #f4f4f4;
        background: #f4f4f4;
    }


    @media (max-width: @screen-tp-max) {
        margin: 0;
        font-size: 20px;
        text-align: center;
    }
}




.project-view-short-description{
    margin: 16px 20px 0 0;
    &_span{
        box-decoration-break: clone;
        box-shadow: 10px 2px 0 0 #f4f4f4,
                   -10px -2px 0 0 #f4f4f4,
                    10px -2px 0 0 #f4f4f4,
                   -10px 2px 0 0 #f4f4f4;
        background: #f4f4f4;
    }
}
