// project-list-block



.project-list-block{
    @media (max-width: @screen-tl-max) and (min-width: @screen-pl-min) {
        .project-card-item{
            width: 50%;
        }
    }

    @media (max-width: @screen-pl-max) {
        .project-card-list{
            margin-top: -20px;
        }
        .project-card-item{
            width: 100%;
            margin-top: 20px;
        }
        .project-card-link{
            padding: 10px 10px 13px;
        }
        .project-card-cover-wrap{
            width: 140px;
            margin: 0 0 16px;
        }
        .project-success .project-card-state-lbl:before{
            display: none;
        }
        .project-card-text{
            height: auto;
        }
        .project-card-name{
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 15px;
        }
        .project-card-descr{
            margin: 0;
            font-size: 12px;
            line-height: 16px;
        }
        .project-card-footer{
            position: absolute;
            top: 11px;
            left: 160px;
            right: 10px;
            height: 84px;
        }
        .project-card-info{
            margin: 0;
            white-space: nowrap;
        }
        .project-card-info-i{
            position: relative;
            float: none;
            display: inline-block;
            vertical-align: top;
            margin: 36px 0 0;
            padding: 13px 0 0;
            & + .project-card-info-i{
                right: 50%;
                margin: 0;
                text-align: left;
            }
        }
        .pci-value{
            margin: 0;
            font-size: 16px;
        }
        .pci-label{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            font-size: 10px;
        }
        .project-card-progress{
            left: 0;
            right: 0;
            top: auto;
            bottom: 0;
        }

        .project-card-finish{
            margin: 17px 0 0;
        }
        .project-card-finish-sum{
            margin: 30px 0 0;
        }
    }
}
