// project-comments



.donate-action-view{
    &.comments{
        .attach-comment{
            margin: 0;
            padding: 0;
            border: 0;
            box-shadow: none;
            background: none;
            font-family: @ff-roboto;
            .attach-comment-block{
                margin: 0;
            }
            .attach-comment-item{
                padding: 15px 0;
                background: #fff;
            }
            .attach-comment-ava{
                width: 45px;
                a{
                    width: 45px;
                    height: 45px;
                }
            }
            .attach-comment-text{
                margin-left: 60px;
                .name{
                    margin: 0 15px 5px 0;
                    font-size: 14px;
                    a{
                        color: #1a8cff;
                        &:hover{
                            color: lighten(#1a8cff, 10%);
                        }
                    }
                }
                .date,
                .answer-to-user{
                    font-size: 12px;
                    color: #888;
                    a{
                        color: #888;
                        &:hover{
                            color: #000;
                        }
                    }
                }
                .content{
                    font-size: 13px;
                    line-height: 18px;
                    color: #555;
                }
                .expandable-content {
                    max-height: 18px * 4;
                }
                .link-to-comment{
                    font-size: 12px;
                }
            }
            .comment-more-link{
                color: #1a8cff;
                &:hover{
                    color: lighten(#1a8cff, 10%);
                }
            }
            .show-all, .list-loader{
                margin: 20px 0 0;
                padding: 8px 8px 6px;
                font-family: @ff-roboto-cond;
                font-size: 13px;
                line-height: 16px;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #1a8cff;
                background: #fff;
                border: 1px solid #e8e8e8;
                border-radius: 3px;
                &:hover{
                    background: #f5f5f5;
                }
            }
            .pln-ww{
                margin: 20px 0;
                padding: 15px 20px;
                border: 1px solid #c9c9c9;
                .pln-ww-unregister{
                    max-width: 400px;
                    margin: auto;
                    padding: 0;
                    font-size: 17px;
                    line-height: 1.5;
                    border: 0;
                    background: none;
                }
            }
        }
        .attach-comment-textarea{
            margin: 0 -20px;
            padding: 20px;
            .textarea{
                textarea{
                    height: 42px;
                    padding: 10px 25px 10px 10px;
                    font-size: 14px;
                    line-height: 20px;
                }
                .rest-count{
                    bottom: 12px;
                    font-size: 12px;
                }
            }
        }
    }
}
