// project-payment-type



.project-payment-type{
    padding: 20px 0;
    &_i{
        margin: 48px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_title{
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 19/16;
        font-weight: 500;
    }
    &_list{
        font-size: 0;
        margin: -20px -16px 0;
        padding: 0 0 0 18px;
    }
    &_method{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 20px 16px 0;
        padding: 0 0 0 29px;
        font-size: 0;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 20px;
            height: 20px;
            border: 1px solid #e8e8e8;
            border-radius: 50%;
        }
        &:after{
            content: '';
            position: absolute;
            left: 4px;
            top: 11px;
            width: 12px;
            height: 12px;
            background: #1a8cff;
            border-radius: 50%;
            opacity: 0;
            transition: .2s;
        }
        &:hover{
            &:before{
                border-color: darken(#e8e8e8, 10%);
            }
        }
        &.active{
            &:after{
                opacity: 1;
            }
            .form-ui-payment-type_name{
                color: #000;
            }
        }
    }
    &_method-logo{
        display: flex;
        align-items: center;
        height: 35px;
        margin: 0 0 1px;
    }
    &_method-logo-img{
        max-height: 100%;
    }
    &_method-name{
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        color: #afafaf;
    }

    &_phone{
        margin: 24px 0 0;
    }


    @media (max-width: @screen-tl-min) {
        &_list{
            padding-left: 10px;
        }
    }

    @media (max-width: @screen-tp-max) {
        &_list{
            padding-left: 0;
        }
    }
}
