// project-payment-choice



.project-payment-choice{
    display: flex;
    margin: 24px -5px 16px;
    &_i{
        position: relative;
        flex: 1 1 100%;
        margin: 0 5px;
        padding: 23px 30px 23px 60px;
        font-size: 12px;
        line-height: 14px;
        color: #888;
        background: #f4f7f9;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        transition: .2s;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            top: 19px;
            left: 18px;
            width: 26px;
            height: 26px;
            background: #fff;
            border: 1px solid #e8e8e8;
            border-radius: 50%;
            transition: .2s;
        }
        &:after{
            content: '';
            position: absolute;
            top: 19px;
            left: 18px;
            width: 26px;
            height: 26px;
            background: url('/images/payment/payment-choice-chk.svg');
            opacity: 0;
            transition: .2s;
        }

        &.active{
            background: #1a8cff;
            border-color: #1a8cff;
            &:before{
                background: #1a8cff;
                border-color: #fff;
            }
            &:after{
                opacity: 1;
            }
            .project-payment-choice{
                &_name,
                &_text{
                    color: #fff;
                }
            }
        }
    }
    &_name{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: #000;
        transition: .2s;
    }
    &_text{
        transition: .2s;
    }
    &_logo{
        position: relative;
        height: 48px;
        margin: 19px 0 0;
        background: #fff;
        box-shadow: 0 0 10px fade(#000, 5);
        border-radius: 4px;
    }
    &_logo-img{
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        max-width: ~"calc(100% - 10px)";
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
    }


    @media (max-width: @screen-tl-min) {
        &_i{
            padding: 18px 10px 18px 45px;
            &:before,
            &:after{
                top: 14px;
                left: 10px;
            }
        }
        &_name{
            margin-bottom: 18px;
        }
        &_text,
        &_logo{
            margin-left: -35px;
        }
    }

    @media (max-width: @screen-tp-max) {
        .mobile-scroll();
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 10px;
        &:after{
            content: '';
            display: block;
            min-width: 10px;
        }
        &_i{
            min-width: 160px;
            white-space: normal;
        }
    }
}
