// rewards-filter-list



.rewards-filter-list{
    max-height: 232px;
    margin: 0 -16px -24px;
    padding: 0 16px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &_i{
        padding: 4px 0;
    }
}
