// welcome-projects



.welcome-projects{
    position: relative;
    margin: 0 0 44px;
    font-family: @ff-roboto;
    &_head{
        &:extend(.cf-mix all);
        margin: 0 0 24px;
        padding: 0 100px 0 0;
    }
    &_title{
        float: left;
        padding: 12px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 28/24;
        color: #1b2336;
    }

    &_all{
        float: right;
        display: inline-block;
        vertical-align: top;
        padding: 12px 26px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #1a8cff;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 5px 10px fade(#b0c6d7, 50);
        &:hover{
            text-decoration: none;
            background: #f7f7f7;
        }
    }

    &_carousel{
        margin: 0 -15px 0;
        white-space: nowrap;

        .flickity-viewport{
            box-sizing: content-box;
            padding: 15px 0 30px;
            margin: -15px 0 -30px;
        }
        .flickity-enabled.flickity-enabled{
            overflow: visible;
            @media (min-width: 1025px) {
                .project-card-item{
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity .4s .4s, visibility .4s .4s;
                    &.is-selected{
                        visibility: visible;
                        opacity: 1;
                        transition: opacity .2s, visibility .2s;
                    }
                }
            }
        }

        .project-card-list{
            margin: 0;
        }
        .project-card-item{
            margin: 0;
        }
        .owl-stage{
            padding: 0 0 20px;
        }
        .owl-nav{
            position: absolute;
            right: 0;
            bottom: 100%;
            margin: 0 15px 24px 0;
            white-space: nowrap;
            border-radius: 50px;
            box-shadow: 0 5px 10px fade(#b0c6d7, 50);
        }
        .owl-prev,
        .owl-next{
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 12px 12px;
            font-size: 16px;
            line-height: 1;
            color: #1a8cff;
            background: #fff;
            border-radius: 50px 0 0 50px;
            &:hover{
                background: #f7f7f7;
            }
            .s-icon{
                position: relative;
            }
        }
        .owl-next{
            border-radius: 0 50px 50px 0;
            border-left: 1px solid #dde4ea;
        }
    }


    @media (min-width: @screen-ld-min) {
        &_carousel{
            .project-card-list{
                overflow: hidden;
                padding: 0 0 20px;
                &.owl-loaded{
                    overflow: visible;
                    padding: 0;
                }
            }
            .project-card-item{
                width: 400px;
            }
        }
    }

    @media (max-width: @screen-tp-max) {
        &_carousel{
            .project-card-item{
                width: 280px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    @media (max-width: @screen-pl-max) {
        padding-bottom: 60px;
        &_head{
            padding-right: 0;
        }
        &_all{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &_carousel{
            .owl-nav{
                display: none;
            }
        }
    }
}
