// welcome-rewards



.welcome-rewards{
    position: relative;
    font-family: @ff-roboto;
    margin: 0 0 94px;
    &_head{
        display: inline-block;
        vertical-align: top;
        min-width: 100%;
        margin: 0 0 24px;
    }
    &_title{
        padding: 12px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 28/24;
        color: #1b2336;
    }

    &_all{
        float: right;
        display: inline-block;
        vertical-align: top;
        padding: 12px 26px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #1a8cff;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 5px 10px fade(#b0c6d7, 50);
        &:hover{
            text-decoration: none;
            background: #f7f7f7;
        }
    }

    .reward-card{
        margin-bottom: 0;
    }


    @media (max-width: @screen-ld-max) and (min-width: @screen-tl-min) {
        .reward-card{
            margin-left: -10px;
            margin-right: -10px;
            &_i{
                width: 25%;
                padding-left: 10px;
                padding-right: 10px;
            }
            &_name{
                height: 70px;
                font-size: 14px;
            }
            &_count{
                font-size: 10px;
            }
            &_price{
                font-size: 17px;
                line-height: 20px;
            }
        }
    }

    @media (max-width: @screen-tl-max) {
        .reward-card{
            .mobile-scroll-mix();
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            &_i{
                width: 280px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    @media (max-width: @screen-pl-max) {
        padding-bottom: 60px;
        &_all{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
