<pl-profile-tab></pl-profile-tab>

<div class="profile-body">
    <div class="profile-body_nav">
        <ul class="profile-nav">
            <li *ngFor="let it of getNavs()" pl-profile-nav-i #me="profileNavIt"
                class="profile-nav_i"
                [ngClass]="it.clazz"
                [class.selected]="me.rla.isActive" [model]="it"></li>
        </ul>
    </div>
    <div class="profile-body_cont">
        <pl-preloader class="profile-content-loader" *ngIf="!myProfileId || loading"></pl-preloader>
        <div class="profile-body_head" *ngIf="myProfileId">
            <div class="profile-body_title" translate>{{title.bodyTitle}}</div>
            <div class="profile-body_descr" translate>{{title.bodyDescr}}</div>
        </div>
        <div class="profile-project-card" *ngIf="myProjects?.length">
            <li class="profile-project-card_i" *ngFor="let project of myProjects" pl-my-project-card
                [project]="project"
                [my]="true"
                (delDraft)="openDraftDelDialog($event)"
                (callManager)="openCallManagerDialog($event)"
                (addNews)="openAddNewsDialog($event)">
            </li>
        </div>
        <div class="profile-body_empty" *ngIf="myProfileId && !loading && !myProjects?.length">
            <b translate>profile-page.not-one-project</b>
            <br>
            <br>
            <span translate>profile-page.maybe-online</span> <a [href]="'//' + schoolHost + '/'" translate>profile-page.crowd-school</a>,
            <span translate>profile-page.or</span>
            <a [href]="'//' + mainHost + '/funding-rules'" translate>profile-page.create</a> <span translate>profile-page.first-project</span>
        </div>
    </div>
</div>

<ng-template #deleteDraft>
    <div class="modal-header">
        <a class="close" (click)="deleteDraftRef.hide()">×</a>
        <div class="modal-title" translate>core.modal.confirm-action</div>
        <div class="small"></div>
    </div>
    <div class="modal-body" translate>core.modal.do-you-want</div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <button type="submit" class="btn btn-primary" (click)="removeDraft()" translate>core.modal.ok</button>
            <button type="reset" class="btn" (click)="deleteDraftRef.hide()" translate>core.modal.cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #callManager>
    <div class="modal-header">
        <a class="close" (click)="callManagerRef.hide()">×</a>
        <div class="modal-title" translate>core.modal.manager-ask.title</div>
        <div class="small"></div>
    </div>

    <form class="modal-body modal-project-feedback-form fade in" (submit)="callToManager()">
        <div class="modal-question-info" translate>core.modal.manager-ask.description</div>
        <div class="fieldset">
            <div class="input-field input-field-l">
                <pl-textarea [(model)]="managerAsk"
                             [labelCode]="'core.modal.manager-ask.your-question'"
                             [settings]="managerAskSettings"></pl-textarea>
            </div>
        </div>

        <div class="modal-actions">
            <button type="button"
                    class="post-write_action_close btn btn-nd-default btn-sd"
                    (click)="callManagerRef.hide()"
                    translate>
                core.modal.close
            </button>
            <button type="submit"
                    class="post-write_action_post btn btn-nd-primary btn-sd"
                    [attr.disabled]="managerAskDisabled()"
                    translate>
                core.modal.manager-ask.button
            </button>
        </div>
    </form>
</ng-template>

<ng-template #addNews>
    <div class="modal-header">
        <a class="close" (click)="addNewsRef.hide()">×</a>
        <div class="modal-title" translate>core.modal.add-news</div>
    </div>

    <div class="modal-feed-post-edit">
        <div class="modal-body">
            <div class="post-write post-write__open">
                <div class="post-write_head">
                    <pl-input [settings]="addNewsTitleSettings"
                              [(model)]="addNewsTitle"
                              [errors]="addNewsErrors"
                              [labelCode]="'core.title'"
                              [field]="'title'"></pl-input>
                </div>

                <div class="post-write_body">
                    <pl-editor [(ngModel)]="addNewsBody" [settings]="EditorConfig.NEWS_POST"></pl-editor>
                </div>

                <div class="post-write_action">
                    <button class="post-write_action_close btn btn-nd-default btn-sd" (click)="addNewsRef.hide()"
                            translate>core.modal.close
                    </button>
                    <button class="post-write_action_post btn btn-nd-primary btn-sd" (click)="publishNews()" translate>
                        core.modal.publish
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
