<pl-profile-tab></pl-profile-tab>
<div class="profile-body">
    <div class="profile-body_nav">
        <ul class="profile-nav">
            <li *ngFor="let it of getNavs()" pl-profile-nav-i #me="profileNavIt"
                class="profile-nav_i"
                [ngClass]="it.clazz"
                [class.selected]="me.rla.isActive" [model]="it"></li>
        </ul>
    </div>
    <div class="profile-body_cont">
        <div class="profile-body_head">
            <div class="profile-body_title" translate>{{title.bodyTitle}}</div>
            <div class="profile-body_descr" translate>{{title.bodyDescr}}</div>
        </div>
        <div class="profile-project-card" *ngIf="myProjects?.length && !projectsLoading">
            <li class="profile-project-card_i" *ngFor="let project of myProjects" pl-my-project-card
                [project]="project"
                [my]="false"
                (askSupport)="showSupportDialog($event)">
            </li>
        </div>
        <div class="profile-body_empty" *ngIf="!myProjects?.length && !projectsLoading">
            <b translate>profile-page.not-one-purchased-project</b>
            <br>
            <br>
            <span translate>profile-page.maybe-purchase</span>
                <a [href]="'//' + mainHost + '/search/projects'" translate>profile-page.maybe-purchase-campaign</a>
            <span translate>profile-page.maybe-purchase-or</span>
            <a [href]="'//' + mainHost + '/funding-rules'" translate>profile-page.maybe-purchase-share</a>
        </div>

        <div class="profile-show-more">
            <pl-preloader *ngIf="projectsLoading || moreProjectsLoading"></pl-preloader>
            <span class="profile-show-more_link" translate (click)="showMore()" *ngIf="canShowMore && !moreProjectsLoading">
                Показать еще
            </span>
        </div>
    </div>
</div>

<ng-template #supportDialog>
    <pl-support-popup (close)="supportDialogRef.hide()"></pl-support-popup>
</ng-template>
