//
// Suggest popup
// --------------------------------------------


.suggest-popup{
    display: none;
    z-index: @zindexTooltip;
    position: absolute;
    top: 100%;
    right: 0;
    width: 940px;
    font-family: @ff-gotham-pro;
    font-weight: 500;
    box-shadow: 0 0 87px fade(#2e3944, 76);
    background: #fff;
    cursor: default;
    .suggest-open &{
        display: block;
    }
    &.loading{
        min-width: 273px;
        .suggest-popup-body{
            padding: 14px @gridGutterWidth;
        }
    }
}



.suggest-loader{
    background: url(../images/planeta/notif-loader.gif) no-repeat 20px 50%;
    padding: 22px 20px 22px 60px;
    line-height: 16px;
    font-size: 14px;
    white-space: nowrap;
}

.suggest-col{
    position: relative;
    float: left;
    width: 50%;
    &:before{
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        border-right: 1px solid #d9e4eb;
    }
    &:first-child{
        &:before{
            right: -1px;
        }
    }
}

.suggest-head{
    padding: 10px 20px;
    border-bottom: 1px solid #d9e4eb;
}
.suggest-cont{
    position: relative;
    height: 182px;
}
.suggest-cont-load{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    .load-bg{
        background: #fff;
        opacity: .8;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .load-icon{
        background: url(../images/planeta/notif-loader.gif) no-repeat 50% 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
.suggest-more{
    float: right;
    margin: 12px 0 0;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .05em;
    a{
        color: #b5b5b5;
        &:hover{
            color: @linkColor;
            text-decoration: none;
        }
    }
    &_arr{
        position: relative;
        top: -1px;
        font-family: "Minion Pro";
        font-size: 13px;
    }
}

.suggest-name{
    font-size: 24px;
    line-height: 40px;
}

.suggest-block{
    border-top: 1px solid #d9e4eb;
    &:first-child{
        border: 0;
    }

    &__large{
        background: #edf1f3;
        .suggest-head{
            border: 0;
        }
    }

    &__projects{
        .suggest-name{
            color: #2980b9;
        }
    }
    &__profiles{
        .suggest-name{
            color: #f39c12;
        }
    }
    &__shop{
        .suggest-name{
            color: #d35400;
        }
    }
    &__tv{
        .suggest-name{
            color: #16a085;
        }
    }
    &__news{
        .suggest-name{
            color: #8e44ad;
        }
        .suggest-cont{
            height: auto;
        }
    }
}

// suggest list coomon template
.suggest-list{
    &_i{
        position: relative;
        height: 40px;
        padding: 10px 20px;
        border-bottom: 1px solid #d9d9d9;
        cursor: pointer;
        &:before, &:after{
            display: none;
            content: '';
            position: absolute;
            z-index: 1;
            top: -1px;
            left: 0;
            right: 0;
            height: 1px;
            background: @linkColor;
        }
        &:after{
            top: auto;
            bottom: -1px;
        }
        &:hover{
            background: @linkColor;
            color: #fff;
            &:before, &:after{
                display: block;
            }
            a{
                color: #fff;
            }
        }

        &__none{
            height: auto;
            padding: 24px 20px;
            .gothampro-reg();
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #9099a0;
            text-align: center;
            &:hover{
                background-color: transparent;
                cursor: default;
                color: #9099a0;
                &:before, &:after{
                    display: none;
                }
            }
        }
    }

    &_cover{
        position: relative;
        float: left;
        width: 40px;
        height: 40px;
        img{
            display: block;
        }
    }

    &_bar{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        font: 0/0 a;
        background: #e0e0e0;
    }
    &_progress{
        max-width: 100%;
        height: 3px;
        background: @linkColor;
    }

    &_cont{
        margin: 0 0 0 50px;
        padding: 3px 0 0;
    }
    &_name{
        .text-overflow();
        font-size: 14px;
        line-height: 16px;
        a{
            color: #000;
            &:hover{
                color: #fff;
                text-decoration: none;
            }
        }
        .profile-link{
            font-weight: 400;
        }
    }
    &_descr{
        margin: 3px 0 0;
        .text-overflow();
        .gothampro-reg();
        font-size: 10px;
        line-height: 16px;
        letter-spacing: .05em;
        text-transform: uppercase;
        a{
            color: #000;
        }
        b{
            font-weight: 400;
            .gothampro-bold();
        }
    }

    // __large
    &__large{
        border-top: 0;
        .suggest-list{
            border: 0;
            &_i{
                height: auto;
                border: 0;
            }
            &_cont{
                margin-left: 0;
            }
            &_name{
                margin: 0 0 10px;
                font-size: 19px;
                line-height: 22px;
                white-space: normal;
            }
            &_text{
                margin: 0 0 10px;
                .gothampro-reg();
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}
// /suggest list coomon template
