// Float Labels



label.float-label{
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    color: #a6a6a6;
    transition: transform .2s;
}

.js-float-label__focus,
.js-float-label__fill{
    label.float-label{
        top: 12px;
        font-size: .7em;
        color: #bfbfbf;
        transform: translateY(-2px);
    }
}

.js-float-label__error{
    label.float-label{
        color: #c71414;
    }
}