// Fonts variables
// -------------------------------------------------------------


// ProximaNova
@ff-proxima-nova: 'ProximaNova', @baseFontFamily;
.ff-proxima-nova{
    font-family: @ff-proxima-nova;
}

// proxima nova alias
.proxima_nova_rgregular{
    font-family: @ff-proxima-nova;
    font-weight: 400;
}
.proxima-light{
    font-family: @ff-proxima-nova;
    font-weight: 300;
}
.proxima-bold{
    font-family: @ff-proxima-nova;
    font-weight: 700;
}
.proxima-black{
    font-family: @ff-proxima-nova;
    font-weight: 900;
}





// GothamPro
@ff-gotham-pro: 'GothamPro', @baseFontFamily;
.ff-gotham-pro{
    font-family: @ff-gotham-pro;
}

// gotham pro alias
.gothampro-reg{
    font-family: @ff-gotham-pro;
    font-weight: 400;
}
.gothampro-light{
    font-family: @ff-gotham-pro;
    font-weight: 300;
}
.gothampro-medium{
    font-family: @ff-gotham-pro;
    font-weight: 500;
}
.gothampro-bold{
    font-family: @ff-gotham-pro;
    font-weight: 700;
}
.gothampro-black{
    font-family: @ff-gotham-pro;
    font-weight: 900;
}
