// scaffolding
// -------------------------------------------------------------

*, *:before, *:after {
    box-sizing: border-box;
}


// Body reset
html {
    height: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-y: scroll;
}

body {
    position: relative;
    min-width: 1007px;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 1px;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: 1.5;
    color: @textColor;
    background: fixed #f0eee8 50% 50% no-repeat;
}


// Links
a {
    color: @linkColor;
    text-decoration: none;

    &:hover,
    &:focus {
        color: @linkColorHover;
        text-decoration: underline;
        outline: none;
    }
}


// Images
img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}


ul, ol {
    padding: 0;
    margin: 0;
}