//
// Planeta bb attach
// --------------------------------------------


.img-crop, .bb-video-cover, .bb-image-cover{
    height: auto;
    display: inline-block;
    margin: 0 10px 10px 0;
    position: relative;
    max-width: 100%;
    img{
        width: 150px;
    }
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
}
.bb-image-cover img{
    max-width: 100%;
}
.bb-video-cover {
    img{
        height: 112px;
    }
}


.bb-video-icon{
    background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor:pointer;
    &:hover{
        background-size: 140px 140px;
    }
}

.bb-video-player-cover, .bb-youtube-player-cover,
.bb-video-player-cover-big{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        .border-radius(4px);
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
    img{
        width: 400px;
        height: 300px;
        max-width: 400px;
        max-height: 300px;
    }
    .bb-video-icon{
        width: 400px;
        height: 300px;
    }
}
.bb-video-player-cover-big{
    width: 600px;
    height: 450px;
    img{
        width: 600px;
        height: 450px;
        max-width: 600px;
        max-height: 450px;
    }
    .bb-video-icon{
        width: 600px;
        height: 450px;
    }
}
