// Main



// svg icons
[class^="svg-icon-"], [class*=" svg-icon-"]{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    span{
        position: relative;
        display: block;
        height: 0;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: no-repeat 50% 0;
        }
    }
}
.svg-icon-astronaut-1{
    span{
        padding: 0 0 100%;
        &:before{
            background-image: url(../images/crowd-school/astronaut-1.svg);
        }
    }
}
.svg-icon-astronaut-2{
    span{
        padding: 0 0 100%;
        &:before{
            background-image: url(../images/crowd-school/astronaut-2.svg);
        }
    }
}
.svg-icon-astronaut-3{
    span{
        padding: 0 0 100%;
        &:before{
            background-image: url(../images/crowd-school/astronaut-3.svg);
        }
    }
}


// /svg icons



// video
.video{
    position: relative;
}
.video-cover img{
    display: block;
}
.video-play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/quickstart/video-play.png) no-repeat 50% 50%;
    background-color: rgba(0, 29, 39, .3);
    cursor: pointer;
}

.embed-video{
    position: relative;
    padding: 0 0 56.25%;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
// /video




html{height: 100%;}
body{
    position: relative;
    min-width: 1240px;
    min-height: 100%;
    padding: 0 0 166px;
    font: 15px/1.5 @ff-pfsquare-sans-pro;
    color: #333;
    background: #fff;
}

.wrap{
    &:extend(.cf-mix all);
    width: 1120px + @grid960GutterWidth*2;
    margin: auto;
}

a{
    color: #000;
    text-decoration: underline;
    -webkit-transition: color .1s, border-color .1s;
    transition: color .1s, border-color .1s;
}
a:hover{
    //color: desaturate(#ffd105, 15%);
}




.page-head{
    margin: 0 0 47px;
    font: 700 40px/1 @ff-pfsquare-sans-pro;
    text-transform: uppercase;
    text-align: center;
}




// header
.header{
    &:extend(.cf-mix all);
    padding: 33px 0;
    &_logo{
        float: left;
        width: ceil(54px * 1254.561 / 260.946); // 1254.561px
        height: 54px; // 260.946px
        background: url(../images/crowd-school/logo-white.svg) no-repeat;
    }
}
.logo{
    float: right;
    display: block;
    width: 124px;
    height: 33px;
    margin: 12px 0 0;
    background: url(../images/pln-logo-white.svg) no-repeat;
}
// /header



// footer
.footer{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    min-width: 100%;
    padding: 71px 0;
    border-top: 2px solid #e6e6e6;
    font: 18px/22px @ff-pfdin-text-pro;
    b{
        font-weight: 500;
    }
    &_copy{
        color: #ddd;
        text-align: center;
    }
}
// /footer



// lead
.lead{
    min-height: 1080px;
    background: #080402 url(../images/crowd-school/lead-bg.jpg) no-repeat 50% 0 / cover;
    color: #fff;

    &_cont-head{
        text-align: center;
        line-height: 1.1;
    }
    &_pre-head{
        margin: 42px 0 8px;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_head{
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        color: @baseColor;
    }
    &_post-head{
        max-width: 940px;
        margin: 13px auto 24px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
    }
    &_text-head{
        max-width: 750px;
        margin: 0 auto 15px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
    }

    &_list{
        &_ico{
            margin: 0 0 23px;
            text-align: center;
            [class^="svg-icon-"]{
                width: 220px;
                margin: 0 0 0 -37px;
            }
        }
        &_text{
            font-size: 18px;
            line-height: 27px;
        }
    }

    &_action{
        margin: 34px 0 0;
        text-align: center;
        .sh-btn{
            opacity: 1;
        }
        &_btn{
            .sh-btn{
                min-width: 360px;
            }
        }
        &_finish{
            position: relative;
        }
        &_text{
            margin: 24px 0 0 0;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
        }
        &_warn{
            margin: 56px 0 66px;
            .sh-btn{
                padding: 25px 47px;
                font-weight: 400;
            }
        }
    }

    &__business{
        background-image: url(../images/crowd-school/lead-bg-business.jpg);
    }

    &__city{
        background-image: url(../images/crowd-school/lead-bg-city.jpg);
        .lead_head{
            font-size: 40px;
        }
    }
}
// /lead



// format
.format{
    padding: 84px 0 0;
    &_head{
        margin: 0 0 48px;
        font-size: 40px;
        line-height: 1.1;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &_list{
        &_head{
            display: table;
            &_val{
                display: table-cell;
                vertical-align: bottom;
                font-size: 100px;
                line-height: .7;
                font-weight: 700;
                color: @baseColor;
            }
            &_text{
                position: relative;
                top: -2px;
                display: table-cell;
                vertical-align: bottom;
                padding: 0 0 0 6px;
                font-size: 18px;
                line-height: 20px;
                white-space: normal;
            }
        }
        &_text{
            margin: 14px 0 0;
            padding: 21px 0 0;
            font-size: 15px;
            line-height: 22px;
            border-top: 2px solid #e6e6e6;
        }
    }
}
// /format




// request what
.request-what{
    padding: 57px 0;
    &_block{
        position: relative;
        max-width: 640px;
        margin: auto;
        &:before{
            content: '';
            position: absolute;
            top: 115px;
            bottom: 25px;
            left: 75px;
            right: 75px;
            border-radius: 70px;
            box-shadow: 0 0 100px #000;
        }
    }
    &_cont{
        position: relative;
        padding: 30px;
        border: 10px solid @baseColor;
        background: #fff;
    }
    &_head{
        margin: -7px 0 6px;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &_action{
        margin: 25px 0 0;
        text-align: center;
    }
    &_hlp{
        margin: 25px 0 0;
        font-size: 13px;
        line-height: 20px;
        color: #b2b2b2;
    }
}
// /request what




// request form
.modal-request{
    position: relative;
    width: 880px;
    margin: 40px 0;
    border: 0;
    &_close{
        position: absolute;
        top: -30px;
        right: -30px;
        width: 20px;
        height: 20px;
        background: url(../images/crowd-school/close-cross.svg) no-repeat 0 0 / cover;
        cursor: pointer;
    }
}

.request-form{
    border: 2px solid @baseColor;
    font: 18px @ff-pfdin-text-pro;
    color: #000;
    &_cont{
        position: relative;
        padding: 48px 38px 27px;
        background: #fff;
    }


    &_head{
        margin: 0 0 28px;
        font: 200 26px @ff-pfdin-text-pro;
        text-align: center;
    }
    &_sub-head{
        margin: 0 0 28px;
        font: 200 15px/25px @ff-pfdin-text-pro;
    }


    &_row{
        position: relative;
    }
    &_row-i{
        padding-right: 38px;
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: 1px solid #e6e6e6;
            margin-left: -38px;
        }
        & + &{
            padding-right: 20px;
            padding-left: 38px;
        }
        & + &.row-line{
            &:before{
                display: block;
            }
        }
    }


    &_group-head{
        margin: 0 0 10px;
    }
    &_group-supper-head{
        position: relative;
        margin: 34px 0 13px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            top: 16px;
            left: 0;
            right: 0;
            border-top: 1px solid #e6e6e6;
        }
        .txt{
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 5px 10px;
            background: #fff;
        }
    }
    &_group{
        .form-control{
            padding: 28px 18px 8px;
        }
        .float-label{
            top: 24px;
            left: 19px;
        }
    }
    &_action{
        margin: 27px 0 0;
        text-align: center;
        .btn{
            padding: 16px 63px 13px;
            font: 700 24px @ff-pfdin-cond-pro;
            text-transform: uppercase;
        }
    }
    .fieldset{
        &.error{
            .request-form_head{
                color: #c71414;
            }
        }
    }
}
// /request form


// request success
.modal-request-success{
    border: 0;
    width: 746px;
    padding: 40px;
    border-radius: 130px;
}

.request-success{
    width: 666px;
    height: 188px;
    background: url(../images/crowd-school/success.svg) no-repeat;
}
// /request success


// request__open
.blur{
    transition: filter .3s linear;
}
.theaterMode{
    .blur{
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
}
// /request__open





// partners
.partners{
    padding: 50px 0;
    border-bottom: 1px solid #e6e6e6;
    &_head{
        &:extend(.page-head);
        margin: 0 0 27px;
        font-size: 20px;
        line-height: 22px;
    }
    &_list{
        font: 0/0 a;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: middle;
        img{
            display: block;
            max-height: 90px;
        }
    }
}
// /partners



// speakers
.speakers{
    padding: 32px 0 0;
    border-bottom: 1px solid #e6e6e6;
    & + &{
        padding-top: 62px;
    }
    &_list{
        &:extend(.cf-mix all);
        margin: -60px 0 75px -2%;
        font: 0/0 a;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 31.333333%;
        margin: 60px 0 0 2%;
        font: @baseFontSize/@baseLineHeight @baseFontFamily;
    }
    &_ava{
        float: left;
        width: 120px;
        height: 120px;
        margin: 0 20px 0 0;
        img{
            display: block;
        }
    }
    &_cont{
        overflow: hidden;
    }
    &_name{
        margin: -6px 0 10px;
        font: 30px/1.2 @ff-pfdin-cond-pro;
    }
    &_descr{
        font: 18px/24px @ff-pfdin-text-pro;
    }
}
// /speakers



// share
.share{
    text-align: center;
    padding: 50px 0;
    &_head{
        &:extend(.page-head);
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 22px;
    }
    [class^="bs-icons-"] {
        border-radius: 10px;
    }
    .spsb-item{
        margin-left: 10px;
    }
}



// news
.news{
    padding: 0 0 85px;
    margin: 0 0 95px;
    border-bottom: 2px solid #e6e6e6;
    font: 18px/24px @ff-pfdin-text-pro;
    &_list{
        margin: -40px 0 0;
        font-size: 0;
    }
    &_i{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 40px 0 0;
        font-size: 18px;
        cursor: pointer;
        &:hover{
            .news_name{
                text-decoration: underline;
            }
        }
    }
    &_cover{
        margin: 0 0 25px;
    }
    &_name{
        margin: 0 0 10px;
        font: 30px/32px @ff-pfdin-cond-pro;
        color: #000;
    }
    &_text{
        word-wrap: break-word;
    }
    &_more{
        margin: 16px 0 0;
        a{
            color: @plnblue;
        }
    }
}
// /news



// video
.video{
    padding: 0 0 85px;
    margin: 0 0 95px;
    border-bottom: 2px solid #e6e6e6;
    font: 18px/24px @ff-pfdin-text-pro;
    &_list{
        position: relative;
    }
    &_i{
        padding: 0 20px;
        cursor: pointer;
        &:hover{
            .video_name{
                text-decoration: underline;
            }
        }
    }
    &_cover{
        position: relative;
        margin: 0 0 25px;
    }
    &_name{
        margin: 0 0 10px;
        font: 30px/32px @ff-pfdin-cond-pro;
    }
}
// /video


.owl-carousel{
    .owl-item{
        z-index: 1;
        > div, > span, > a{
            float: none;
            width: auto;
        }
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        left: -50px;
        width: 70px;
        height: 210px;
        font: 0/0 a;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 29px;
            height: 50px;
            margin: -25px 0 0 -14px;
            background: url(../images/crowd-school/slider-arrow.png) no-repeat;
        }
        &:hover{
            &:before{
                background-position: 0 -60px;
            }
        }
        &.disabled{
            cursor: default;
            opacity: .2;
            &:before{
                background-position: 0 0;
            }
        }
    }
    .owl-next{
        left: auto;
        right: -50px;
        &:before{
            background-position: -60px 0;
        }
        &:hover{
            &:before{
                background-position: -60px -60px;
            }
        }
        &.disabled{
            &:before{
                background-position: -60px 0;
            }
        }
    }
}





// rewrite style for modal post
.modal-feed-post{
    .btn {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 6px 9px;
        background: #e3e1dc;
        border: 1px solid #d7d6d3;
        font: 700 14px/18px Arial, sans-serif;
        text-align: center;
        text-shadow: none;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        border-radius: 0;
        &:hover {
            background: #e8e6e2;
            border-color: #dcdbd8;
            color: #000;
            text-decoration: none;
        }
        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 1px #fff;
        }
    }
    .btn-primary {
        border: 1px solid #3498db;
        background: #3498db;
        color: #fff;
        &:hover {
            background: #3aacf8;
            border-color: #3aacf8;
            color: #fff;
            text-decoration: none;
        }
    }

    .close{
        text-decoration: none;
    }

    .feed-post_author{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .feed_comment .attach-comment-textarea .textarea{
        &, *{
            box-sizing: content-box;
        }
    }
}
// /rewrite style for modal post
