//
// Planeta wysiwyg
// --------------------------------------------

.pln-ww{
    min-height: 50px;
    margin: 0 0 21px 0;
    .pln-ww-content{
        background: #f4f4f4;
        padding: 10px;
        position: relative;
        .pln-ww-content-textarea{
            margin: 0 0 0 0;
            padding: 0 32px 0 0;
            border: 1px solid #d8d8d8;
            position: relative;
            textarea{
                border: 0 solid @border;
                width: 100%;
                margin: 0;
                min-height: 18px;
                height: 18px;
                padding: 6px 24px 6px 8px;
                .box-shadow(none);
                color: #333;
                &:focus{
                    .box-shadow(none);
                }
                &:-moz-placeholder{
                    padding: 7px 24px 3px 8px;
                    min-height: 20px;
                    line-height: 18px;
                }
                &::-webkit-input-placeholder{
                    padding-top: 1px;
                    line-height: 16px;
                }
            }
        }
    }
    .pln-ww-unregister{
        background: #f4f4f4;
        padding: 15px 20px;
        border: 1px solid #c9c9c9;
        font-size: 14px;
    }

    &.active{
        .pln-ctr-enter{
            display: block;
        }
        .pln-ww-content-textarea{
            textarea{
                min-height: 36px;
            }
        }
    }
}



// ctrl + enter
.pln-ctr-enter{
    display: none;
    padding: 9px 5px 0 0;
    font-size: 11px;
    line-height: 16px;
    text-shadow: 0 1px 0 #fff;
    span{
        display: block;
        color: @grayLight;
    }
    &.ctrl-comment{
        display: inline-block;
        float: left;
    }
    .pln-ww-content-option-send{
        float: right;
        margin: 4px 0 0;
    }
}



.mceContentHtml{
    height: auto;
    overflow-y: scroll;
}
.mceContentBody{
    display: block;
    padding: 10px !important;
    overflow: hidden !important;
    min-width: 0;
    min-height: 100%;
    height: auto !important;
    font-family: @baseFontFamily;
    font-size: 14px;
    line-height: 22px;
    word-wrap: break-word;
    address, pre{
        margin: 0;
    }
    p, li{
        font-size: 14px;
        line-height: 22px;
        color: #333;
        margin: 0;
    }
    ul, ol{
        margin-bottom: 0;
    }
    h1{
        font-size: 24px;
        line-height: 36px;
        margin: 0 0 15px 0;
    }

    h2{
        font: 700 21px/27px @baseFontFamily;
        color: #1a1a1a;
        margin: 0 0 15px 0;
    }

    h3{
        line-height: 27px;
        font-size: 18px;
        color: gray;
        margin: 0 0 15px 0;
    }

    h4{
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
        margin: 0 0 15px 0;
    }

    h5{
        font: 700 italic 18px Georgia, serif;
        margin: 0 0 15px 0;
    }

    h6{
        font-size: 11px;
        color: gray;
        text-transform: uppercase;
        margin: 0 0 15px 0;
    }
}

.mce-text-center{
    text-align: center;
}
.mce-text-justify{
    text-align: justify;
}
.mce-text-right{
    text-align: right;
}

.mce-img-right{
    margin: 4px 0 4px 18px;
    float: right;
}

.mce-img-left{
    margin: 4px 18px 4px 0;
    float: left;
}

.mce-img-none{
    margin: 0 auto;
    float: none;
}

.mce-strikethrough{
  text-decoration: line-through;
}

.mce-underline{
  text-decoration: underline;
}

.mceplanetavideo{
    display: block;
}
