// Login, registration and recover modals


.modal-login{
    width: 462px;
    .modal-body{
        padding: 26px 30px 0;
    }
    .modal-footer{
        padding: 15px 30px;
    }
}

// окно логина

.modal-login-form{
    &, p{
        font-size: 14px;
    }
    .mlf-item{
        margin: 0 0 20px 0;
        &.error{
            .form-control{
                border-color: @errorText;
            }
        }
        .help-inline{
            display: block;
            clear: both;
            padding: 0;
            margin: 7px 0 0;
            font: 12px/1 @baseFontFamily;
            color: @errorText;
            span{
                display: inline;
                margin: 0;
                color: @errorText;
            }
        }
        .warning-message-error{
            color: @errorText;
        }
        .warning-message{
            display: block;
            clear: both;
            padding: 0;
            margin: 7px 0 0;
            font: 12px/1 @baseFontFamily;
            span{
                display: inline;
            }
            sub{
                font-size: 1em;
            }
            .suggestion{
                color: @linkColor;
                border-bottom-width: 1px;
                border-bottom-style: dotted;
                cursor: pointer;
                a{
                    text-decoration: none;
                }
                span, a{
                    color: @linkColor;
                }
                &:hover{
                    color: @linkColorHover;
                    span, a{
                        color: @linkColorHover;
                    }
                }
            }
        }
        span{
            color: #808080;
            display: block;
            margin: 0 0 8px 0;
        }
        p{
            margin: 0;
            line-height: 32px;
        }
        .mlf-rec, .btn-primary{
            float: right;
        }
        .btn{
            &+p{
                padding: 4px 0 0;
            }
        }
    }
}
.mlf-soc-enter{
    .mlf-soc-text{
        display: inline-block;
        vertical-align: top;
        margin: 13px 0 0;
        font-size: 14px;
        line-height: 18px;
        color: #808080;
    }
    .social-enter-block{
        float: right;
        .social-enter-item{
            display: inline-block;
            margin: 0 0 0 10px;
        }
    }
}


[class^="sei-"] {
    .sprite(40px, 40px, url(../images/icon/icon-social-login.png));
    cursor: pointer;
    opacity: .8;
    &:hover{
        opacity: 1;
    }
}
//.sei-mail                     { background-position: 0 0; }
.sei-vk                       { background-position: -50px 0; }
.sei-fb                       { background-position: -100px 0; }
.sei-ok                       { background-position: -150px 0; }
.sei-ya                       { background-position: -200px 0; }


// recovery/change password
.change-password-modal{
    .modal-body{
        p{
            width: 360px;
            line-height: 20px;
            margin: 0 0 10px;
        }
    }
    .modal-footer{
        .mlf-item{
            .btn-primary{
                float: right;
            }
        }
    }
}



// reg confirm modal
.modal-dialog .reg-confirm{
    min-width: 0;
    max-width: none;
    width: 490px;
}
.reg-confirm{
    .reg-img{
        width: 32px;
        height: 32px;
        background: url(../images/planeta/mail-img.png) no-repeat;
        float: left;
        margin: 0 10px 0 0;
    }
    .reg-cont{
        overflow: hidden;
    }
    .reg-cont-head{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 18px;
    }
    .reg-cont-text{
        font-size: 11px;
        color: #808080;
    }
    .mail-repeat-link{
        float: left;
        margin: 6px 0 0 7px;
        a{
            text-decoration: underline;
        }
    }
}
// /reg confirm modal
