// manage tables



// fixed layout colgroup
.fixed-manage-table{
    table-layout: fixed;
    word-wrap: break-word;
    > thead, > tbody{
        > tr:first-child{
            > th, > td{
                border-top-width: 0;
            }
        }
    }
    thead + tbody{
        > tr:first-child{
            > th, > td{
                border-top-width: 1px;
            }
        }
    }
}

.product-manage-table{
    > thead{
        th, td{
            background: #f2f2f2;
            vertical-align: top;
        }
        th{
            white-space: nowrap;
            font-weight: 400;
            vertical-align: middle;
        }
        tr + tr th{
            border-top: 1px solid #ddd !important;
            border-left: 1px solid #ddd;
            font-size: 11px;
        }
    }
    > tfoot{
        th, td{
            background: #f2f2f2;
            vertical-align: top;
        }
    }
    tbody{
        th, td{
            padding: 12px 8px;
            font-weight: 400;
        }
        .even-tr{
            > td{
                background: #f2f2f2;
            }
        }
    }
    > tbody > tr:hover > td > .status-balance-cell > .status-balance-link{
        visibility: visible;
    }
    .th-hl{
        color: @grayLight;
        font-weight: 400;
    }
    .small-hl{
        font-size: 11px;
        line-height: 13px;
        color: @grayLight;
    }

    .manage-action{
        white-space: nowrap;
        .btn{
            margin-left: 2px;
            &:first-child{
                margin-left: 0;
            }
        }
        [class^="icon-"]{
            margin-right: 0;
        }
    }
    .manage-product-ava{
        float: left;
        margin-right: 7px;
        width: 32px;
        height: 32px;
        img{
            display: block;
        }
    }
    .manage-product-name{
        margin: -3px 0 0 39px;
    }
    .manage-product-measure{
        margin: 0 0 0 39px;
        .paste-date();
        .hl{
            color: @textColor;
        }
    }
    .status-check{
        text-align: center;
    }
    .status-price{
        white-space: nowrap;
    }
    .status-balance-cell{
        padding: 3px 0 0;
    }
    .status-balance-link{
        visibility: hidden;
        margin: -4px 0 0;
        float: right;
        .btn{
            padding: 2px 3px 3px 4px;
        }
        &.active{
            visibility: visible;
        }
    }
    .status-balance{
        color: @blue;
        cursor: pointer;
        border-bottom: 1px dashed @blue;
    }


    /* storage table */
    .storage-name{
        font-size: 14px;
    }
    .storage-products-link{
        span{
            font-size: 11px;
            cursor: pointer;
            color: @linkColor;
            border-bottom: 1px dashed @linkColor;
            &:hover{
                color: @linkColorHover;
                border-bottom: 1px dashed @linkColorHover;
            }
        }
    }
    .storage-address{
        .paste-date();
        line-height: 15px;
    }
    /* /storage table */
}



/* inner gray-dashed table */
.table-dashed, .status-storage{
    table{
        border-color: #f2f2f2;
        .border-radius(4px);
        margin: 0;
        .input-field, .select-field{
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
    .table-bordered{
        border: 4px solid #f2f2f2;
        th + th{
            border-left: 0;
        }
        td + td{
            border-left: 0;
        }
        td{
            border-top-style: dashed;
            border-color: #f2f2f2;
            padding: 12px 8px;
        }
    }
    thead th{
        color: @grayLight;
    }
    .name{
        font-weight: 700;
    }
    .name-hl{
        font-weight: 400;
    }
}
.status-storage{
    table{
        .border-radius(4px 4px 0 0);
    }
    .count-check{
        margin-left: 5px;
        float: left;
        .btn{
            padding: 4px 5px 4px 6px;
            margin: -5px 0;
        }
    }
    .post-option{
        .border-radius(0 0 4px 4px);
        background: #f2f2f2;
        margin: 0;
        padding: 4px 14px 8px;
    }
    .status-storage-cell-action{
        margin: -5px 0;
        text-align: right;
    }
    .status-storage-action{
        .border-radius(0 0 4px 4px);
        padding: 4px 10px 8px;
    }

    &.status-storage-simple{
        > .table{
            > thead > tr{
                > th{
                    border-left: 0;
                    color: @textColor;
                }
            }
            > tbody > tr{
                > td{
                    border-left: 0;
                    border-top: 0;
                    border-bottom: 1px solid #ddd;
                }
                &:first-child{
                    > td{
                        border-top: 2px solid #666;
                    }
                }
            }
        }
        .status-storage-action{
            background: #fff;
            padding: 10px 8px;
        }
    }
}
.status-storage-action{
    background: #f2f2f2;
    padding: 8px 10px;
}
/* inner gray-dashed table */



/* project stats table */
.project-stats-table{
    .project-stats-time,
    .project-stats-cost,
    .project-stats-status-opt,
    .project-stats-user-address{
        .paste-date();
    }
    .project-stats-product-more ,
    .project-stats-number,
    .project-stats-status{
        > span{
            cursor: pointer;
            color: @linkColor;
            border-bottom: 1px dashed @linkColor;
            &:hover{
                color: @linkColorHover;
                border-color: @linkColorHover;
            }
        }
    }
    .project-stats-product{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .project-stats-user-mail{
        font-size: 11px;
    }
    .project-stats-price{
        color: @grayLight;
        text-align: right;
        padding-right: 10px;
    }
    .project-stats-count{
        color: @grayLight;
    }
    .dashed-project-stats-cost{
        text-align: right;
    }

    .project-stats-fulladdress{
        background: #f2f2f2;
        padding: 12px 15px;
        & + .table{
            border-top: 0;
        }
    }
    .psfa-field + .psfa-field{
        margin: 15px 0 0;
    }
    .project-stats-fulladdress-header{
        color: @grayLight;
    }
}
/* /project stats table */



/* table collapse block */
.product-manage-table{
    > tbody > .table-collapse-row, > tbody > .storage-tr{
        > td {
            padding: 0;
            border-top: 0;
        }
        &.active{
            > td > .table-collapse-block, > td > .status-storage-wrap{
                display: block;
            }
        }
    }
}
.table-collapse-block, .status-storage-wrap{
    padding: 12px 8px;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    display: none;
    .table-collapse-str{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: -13px;
            left: 50px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/arrow/attach-str-b.png) no-repeat;
        }
    }

    .status-storage{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: -13px;
            left: 50px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/arrow/attach-str-b.png) no-repeat;
        }
    }
    .status-storage + .status-storage{
        margin-top: 20px;
        &:before{
            display: none;
        }
    }
    .status-storage-action{
        padding: 4px 10px 8px;
    }

    .version-compare{
        margin-left: 31px;
    }

    &.level-group-table-collapse-block{
        background: #ddd;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.tr-collapse-active + .table-collapse-row{
    > td > .table-collapse-block > .table-collapse-str{
        &:before{
            background-image: url(../images/arrow/attach-str-b-a.png);
        }
    }
}
/* /table collapse block */

