//
// Planeta Purchases
// --------------------------------------------


/* purchases */
.purchases-list{
    margin: 0 0 21px 0;
    li{
        list-style:  none;
        padding: 8px 0;
        border-top: 1px solid #f2f2f2;
        cursor: pointer;
        position: relative;
        &:first-child{
            border-top: 0 solid #fff;
        }
        &:hover{
            .purchases-list-print{
                display: inline-block;
            }
        }
    }
}
.purchases-list-print{
    background: #f8f8f8;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #333;
    display: none;
    line-height: 15px;
    margin: 8px 0 0 6px;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    span{
        background: url(../images/print.png) no-repeat 50% 50%;
        display: block;
        width: 16px;
        height: 16px;
        left: 6px;
        position: absolute;
    }
    &:hover{
        text-decoration: underline;
    }
}
.purchases-list-pic{
    display: table-cell;
    vertical-align: top;
    width: 50px;
    padding-right: 8px;
}
.purchases-list-info{
    display: table-cell;
    vertical-align: top;
    .name{
        display: block;
    }
    .date{
        font-size: 11px;
        line-height: 14px;
        color: #bfbfbf;
        display: block;
        margin-bottom: 8px;
    }
    p{
        margin: 0;
        padding: 0;
        color: #808080;
    }
}


.purchases-table{
    margin: 0 0 30px;
    > thead{
        th{
            font-weight: 400;
        }
    }
    > tbody{
        tr:first-child td{
            border-top: 2px solid #000;
        }
        td{
            vertical-align: middle;
        }
    }
    .purchases-number{
        font-size: 18px;
        line-height: 22px;
    }
    .purchases-date{
        font-size: 15px;
    }
    .purchases-cost{
        text-align: right;
        font-size: 18px;
        line-height: 22px;
    }
    .purchases-status{
        font-size: 11px;
    }
    .purchases-type{
        .paste-date();
        line-height: 13px;
    }
    .purchases-count{
        line-height: 16px;
    }
    .purchases-avatar{
        img{
            display: block;
            margin: 0 auto;
        }
    }
    .purchases-name{
        font-weight: 700;
    }
    .purchases-group{
        .paste-date();
    }
    .purchases-print{
        font-size: 11px;
        a{
            color: @textColor;
        }
        [class^="icon-"]{
            vertical-align: middle;
        }
        .text-icon{
            margin-left: 7px;
            vertical-align: middle;
        }
    }
    .purchases-price{
        text-align: right;
        .price-text{
            font-weight: 700;
        }
    }
    &.purchases-canceled{
        > tbody{
            tr:first-child td{
                border-color: @grayLighter;
            }
        }
        .purchases-avatar{
            opacity: .3;
        }
        .purchases-type, .purchases-count, .purchases-name, .purchases-group,
        .purchases-print, .purchases-cancel, .purchases-price, .purchases-number,
        .purchases-date, .purchases-cost{
            &, a{
                color: @grayLighter;
            }
            [class^="icon-"]{
                opacity: .4;
            }
        }
    }
}
/* /purchases */


.project-stats-change-status{
    min-width: 177px;
    float: left;
    margin-right: 10px;
    > .btn{
        display: block;
        position: relative;
    }
    .dropdown-popup{
        top: auto;
        bottom: 100%;
        margin: 0 0 -1px;
        right: 0;
        box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
    }
}
