//
// Planeta Statistics list
// --------------------------------------------


.statistics-list{
    margin: 0;
    list-style: none;
    word-wrap: break-word;
}
.statistics-item{
    &:extend(.cf-mix all);
    position: relative;
    padding: 0 0 10px;
    & + .statistics-item{
        padding-top: 10px;
        border-top: 1px solid #e5e5e5;
    }
}
.statistics-avatar{
    float: left;
    width: 115px;
    height: 115px;
}
.statistics-content-wrap{
    margin-left: 125px;
}
.statistics-content{
    float: left;
    width: 100%;
}
.statistics-info-links{
    min-width: 170px;
    background: #f2f2f2;
    padding: 10px;
    vertical-align: top;
    display: table-cell;
    font-size: 11px;
    line-height: 13px;

    .links-item{
        margin: 5px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    .btn{
        display: block;
        text-align: center;
    }
}
.statistics-info-block-wrap{
    float: left;
    .statistics-info-description{
        width: auto;
    }
}
.statistics-name + .statistics-info-links{
    float: right;
}
.statistics-info-wrap{
    vertical-align: top;
    display: table-cell;
    width: 100%;
    height: 115px;
    padding-right: 10px;
    &:extend(.cf-mix all);
}
.statistics-name{
    overflow: hidden;
    width: 420px;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px;
    .name-txt{
        font-size: 11px;
        line-height: 13px;
    }
}
.statistics-info-block{
    float: left;
    width: 100%;
}
.statistics-info-item{
    &:extend(.cf-mix all);
    margin-bottom: 3px;
    .diff-up{
        color: green;
    }
    .diff-down{
        color: red;
    }
}
.statistics-info-name{
    float: left;
    width: 160px;
    color: @grayLight;
}
.statistics-info-description{
    float: left;
    width: 40px;
    margin-left: 10px;
}
.statistics-info-item-links{
    margin-left: 220px;
}
