//
// Planeta Stats
// --------------------------------------------



.dii-icon-exel, .dii-icon-csv {
    display: inline-block;
    vertical-align: top;
    background: url(../images/icon/stats-icons.png) no-repeat;
    width: 29px;
    height: 37px;
    &:hover{
        background-position: 0 -42px;
    }
}
.dii-icon-csv {
    background-position: -32px 0;
    &:hover{
        background-position: -32px -42px;
    }
}

.dropdown-download-list{
    border-color: #ccc;
    left: 0;
    right: 0;
    min-width: 0;
    text-align: center;
    margin: -1px 0 0;
    background: #f9f9f9;
    z-index: 10;
}

.download-icon-list{
    &:extend(.cf-mix all);
    padding: 13px 0 8px;
    .dii-icon-excel, .dii-icon-csv {
        display: block;
        margin: 0 auto;
    }
}
.download-icon-item{
    float: left;
    width: 50%;
    text-align: center;
    border-left: 1px solid #ddd;
    &:first-child{
        border: 0;
    }
}



/* Статистика */

.stats{
    input[type=text], textarea{
        &:extend(.form-control-mix all);
    }
    textarea{
        height: auto;
    }
    .stats-filter{
        display: block;
        margin-bottom: 21px;
        &:extend(.cf-mix all);

        .stats-filter-left{
            width: 400px;
            display: table-cell;
            vertical-align: top;
            input{
                margin: 4px 0;
            }
        }
        .stats-filter-right{
           width: 400px;
           display: table-cell;
           vertical-align: bottom;
        }
        .stats-filter-date-left,
        .stats-filter-date-right{
            width: 200px;
            display: table-cell;
            vertical-align: bottom;
            padding-right: 20px;
        }
        .vtop{
            vertical-align: top;
        }
        .input-field{
            input{
                margin: 4px 0;
            }
        }
    }
    .stats-all{
        margin: 0 0 21px 0;
        .stats-all-item{
            span{
                display: inline-block;
                width: 150px;
                font-size: 14px;
                line-height: 20px;
                color: #000;
                &:first-child{
                    color: @gray;
                }
                b{
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
    .stats-top{
        .bordered-table {
             border-collapse: separate;
             border-radius: 4px 4px 4px 4px;
             border: 1px solid #DDDDDD;
        }
        .bordered-table th + th, .bordered-table td + td, .bordered-table th + td {
             border-left: 1px solid #DDDDDD;
        }
        .bordered-table thead tr:first-child th:first-child, .bordered-table tbody tr:first-child td:first-child {
             border-radius: 2px 0pt 0pt 0pt;
        }
        .bordered-table thead tr:first-child th:last-child, .bordered-table tbody tr:first-child td:last-child {
             border-radius: 0pt 2px 0pt 0pt;
        }
        .bordered-table tbody tr:last-child td:first-child {
             border-radius: 0pt 0pt 0pt 2px;
        }
        .bordered-table tbody tr:last-child td:last-child {
             border-radius: 0pt 0pt 2px 0pt;
        }
        .zebra-striped tbody tr:nth-child(2n+1) td, .zebra-striped tbody tr:nth-child(2n+1) th {
            background-color: #fff;
        }
        .zebra-striped tbody tr:nth-child(2n) td, .zebra-striped tbody tr:nth-child(2n) th {
            background-color: #f2f2f2;
        }
        table{
            width: 100%;
            tr + tr td{
                border-top: 0 solid #fff;
            }
            th{
                background: #f2f2f2;
                font-weight: normal;
                font-size: 12px;
                color: @gray;
            }
            td{
                padding: 8px 12px;
                vertical-align: top;
                &:first-child{
                    width: 268px;
                }
                .new{
                    color: @green;
                }
				.positive{
                    color: @green;
                }
				.negative{
                    color: @red;
                }
            }
            &.first-td-narrow{
                td{
                    &:first-child{
                        width: auto;
                    }
                }
            }
        }
        .add{
            display: block;
            color: @grayLight;
        }
        .user-block{
            max-width: 200px;

            .avatar{
                min-width: 50px;
                padding: 0 10px 0 0;
                float: left;
            }
            .user-info{
                max-width: 140px;
                word-wrap: break-word;
                margin: 0 0 0 61px;
            }
        }
        .track-list{
            .track-list-item{
                border: 0 solid #fff;
                width: 250px;
                .track-list-item-name{
                    margin: 0 0 0 34px;
                }
                .track-list-item-option{
                    display: none;
                }
                &:hover{
                    background: none;
                }
            }
        }
    }
}

.filter-btn-group{
    margin:  18px 10px -4px 0;
    padding:  0;
    border: 1px solid #ccc;
    display: inline-block;
    background: #dadada;
    overflow: hidden;
    .filter-btn-group-item{
        display: inline-block;
        float: left;
        padding: 4px 14px;
        border-left: 1px solid #ccc;
        &:first-child{
            border-left: 0 solid #fff;
        }
        a{
            color: @gray;
        }
        &.active{
            background: @blue;
            a{
                color: #fff;
            }
        }
    }
}

.filter-link-list{
    list-style: none;
    margin: 0;
    .filter-link-item{
        margin-right: 8px;
        float: left;
        a{
            text-decoration: none;
            border-bottom: 1px dashed;
        }
        &.active{
            a{
                color: @grayLight;
            }
        }
    }
}
.filter-link-label{
    label{
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
    .filter-link-list{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 5px;
    }
}
.project-stats-tab{
    .filter-link-item{
        &.active{
            a{
                border-bottom: 0;
            }
        }
    }
}



.stats-table-link{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}

.stats-action{
    .text{
        margin: 0 5px 0 0;
        vertical-align: middle;
    }
    .pln-select{
        width: 185px;
        display: inline-block;
        margin: 0 5px 0 0;
        vertical-align: middle;
    }
    .btn{
        padding: 4px 8px;
        vertical-align: middle;
    }
}

.project-statistic-chart{
    width: 900px;
    height: 350px;
    margin: 0 0 0 -1px;
    overflow: hidden;
}

// campaigns orders dropdown
.project-stats-status{
    &.bottom-up{
        .dropdown-popup{
            top: auto;
            bottom: 100%;
        }
        .dropdown-popup-caret{
            top: 100%;
            background: url(../images/arrow/dropdown-caret-bottom-gray.png) no-repeat;
        }
    }
    .fieldset{
        input[type=text], textarea{
            &:extend(.form-control-mix all);
        }
        textarea{
            height: auto;
        }
    }
}
.noice-block{
    input[type=text], textarea{
        &:extend(.form-control-mix all);
    }
    textarea{
        height: auto;
    }
    .input-icon{
        padding: 0;
    }
}
.form-inline{
    [class^="span"], [class*=" span"]{
        display: inline-block;
        vertical-align: top;
    }
    .span4{
        width: 210px;
    }
}
// /campaigns orders dropdown


.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}
