// Main




html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    padding: 0;
    @lh: 30/18;
    font: 18px/@lh 'Roboto', sans-serif;
    background: #fff;
    color: #000;
}


a{
    color: #000;
    text-decoration: underline;
}


.lazy-hidden {
    opacity: 0;
}

.lazy-loaded {
    transition: opacity 0.3s;
    opacity: 1;
}




// footer
.footer{
    padding: 25px 0;
    background: #1b2336;
    color: #fff;
    text-align: center;
    &_dev{
        font-size: 11px;
        line-height: 20px;
        .logo{
            margin-left: 6px;
            font-size: 20px;
        }
    }
}
// /footer



@land-color: #3366ff;


.page-head{

}


.text-hl{
    background: linear-gradient(@land-color, @land-color) repeat-x;
    background-size: 100% 10px;
    background-position: 0 89%;
}



// landing btn
.intr-land-btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 16px 40px;
    background: transparent;
    border: 1px solid transparent;
    font: 500 15px/20px 'Roboto', sans-serif;
    letter-spacing: -.013em;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    border-radius: 0;
    cursor: pointer;
    box-shadow: 0 15px 30px fade(@land-color, 50);
    &:hover, &:active{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
        outline: none;
        box-shadow: inset 0 0 5px 2px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        background-image: none;
        box-shadow: none;
        opacity: .5;
    }
}

.intr-land-btn{
    border: 1px solid @land-color;
    background: @land-color;
    color: #fff;
    &:hover{
        background: lighten(@land-color, 7%);
        border-color: lighten(@land-color, 7%);
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: @land-color;
        border-color: @land-color;
    }
    &.disabled, &[disabled]{
        background: @land-color;
        border-color: @land-color;
    }

    @media (max-width: 767px) {
        padding: 14px 30px;
    }
}
// / landing btn



.logo{
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 1em;
    &, &:hover{
        text-decoration: none;
    }
    &:before{
        content: "\00a0";
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.school-logo{
    width: 632em / 145;
}

.pln-logo{
    width: 740em / 191;
    background: url(../images/pln-logo-white.svg) no-repeat;
}



// lead
.lead{
    padding: 57px 0 237px;
    background: #263035 url(../images/interactive-landing/lead-bg.jpg) no-repeat 50% 0 / cover;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #fff;
    &_top{
        &:extend(.cf-mix all);
        margin: 0 0 100px;
    }
    &_logo{
        float: left;
        font-size: 70px;
        line-height: 0;
    }
    &_action{
        float: right;
        margin: 7px 0 0;
    }
    &_head{
        margin: 0 0 83px;
        font-size: 48px;
        line-height: 1.2;
        text-align: center;
    }
    &_text{
        max-width: 740px;
        margin: auto;
        font-size: 17px;
        line-height: 25/17;
        opacity: .8;
        text-align: center;
    }

    @media (max-width: 767px) {
        padding: 20px 0 197px;
        &_top{
            margin-bottom: 50px;
        }
        &_logo{
            font-size: 50px;
        }
        &_action{
            margin: 0;
        }
        &_head{
            margin-bottom: 43px;
            font-size: 40px;
        }
    }

    @media (max-width: 567px) {
        &_logo,
        &_action{
            float: none;
            text-align: center;
        }
        &_logo{
            margin: 0 0 30px;
        }
        &_head{
            font-size: 32px;
        }
        &_text{
            font-size: 14px;
        }
    }
}
// /lead





// what
.what{
    &_wrap{
        margin-top: -154px;
        margin-bottom: -130px;
        padding-top: 18px;
        padding-bottom: 70px;
        overflow: hidden;
    }
    &_block{
        position: relative;
        padding: 85px 137px;
        background: @land-color;
        color: #fff;
        box-shadow: 0 30px 60px fade(@land-color, 50);
        &:before{
            content: '';
            position: absolute;
            top: -18px;
            right: -81px;
            width: 248px;
            height: 308px;
            background: url(../images/interactive-landing/what-pencil.png) no-repeat 0 0 / cover;
        }
    }
    &_i{
        position: relative;
        max-width: 520px;
        margin: 60px 0 0;
        &:before{
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
            width: 117px;
            height: 2px;
            background: #fff;
        }
        &:first-child{
            margin-top: 0;
        }
        &:nth-child(even){
            margin-left: 162px;
            &:before{
                right: auto;
                left: -162px;
            }
            .what_title{
                margin-right: 0;
            }
        }
    }
    &_title{
        margin: 0 130px 35px 0;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    &_text{
        max-width: 495px;
        font-size: 14px;
        line-height: 21/14;
    }

    @media (max-width: 767px) {
        &_block{
            padding: 45px 40px;
            &:before{
                display: none;
            }
        }
    }

    @media (max-width: 567px) {
        &_i&_i{
            margin-left: 0;
            &:before{
                top: -10px;
                left: 0;
                right: auto;
            }
        }
        &_title{
            margin-right: 0;
        }
    }
}
// /what




// options
.options{
    padding: 170px 0 205px;
    background: #f5f6f8;
    &_i-cont{
        position: relative;
        height: 0;
        padding: 0 0 100%;
        background: #fff;
        box-shadow: 0 30px 60px fade(@land-color, 30);

        font-family: 'Noto Serif', serif;
        font-style: italic;
        font-size: 18px;
        line-height: 21/18;
        font-weight: 700;
        text-align: center;
    }
    &_i-cnt{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
    }
    &_ico{
        position: relative;
        width: 29.665%;
        height: 29.665%;
        margin: 27% auto 21%;
        svg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }

    @media (max-width: 767px) {
        padding: 140px 0 70px;
        &_list{
            margin-left: -10px;
            margin-right: -10px;
        }
        &_i{
            padding-left: 10px;
            padding-right: 10px;
        }
        &_i-cont{
            font-size: 16px;
        }
    }

    @media (max-width: 567px) {
        &_i{
            float: none;
            width: 100%;
            max-width: 200px;
            margin: 45px auto;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}
// /options




// video
.video{
    margin: 0 0 133px;
    &_tablet{
        position: relative;
        float: right;
        display: inline-block;
        vertical-align: top;
        width: 634em / 512;
        margin: -80px 0 0 -183px;
        font-size: 512px;
        line-height: 1em;
        background: url(../images/interactive-landing/tablet.png) no-repeat 0 0 / cover;
        &:before{
            content: "\00a0";
        }
    }
    &_cover{
        position: absolute;
        top: 32em / 512;
        left: 92em / 512;
        display: inline-block;
        vertical-align: top;
        width: 500em / 375;
        font-size: 375em / 512;
        line-height: 1em;
        background: no-repeat 0 0 / cover;
        &:before{
            content: "\00a0";
        }
    }
    &_text{
        margin: 82px 0 0;
        font-size: 36px;
        line-height: 48/36;
    }

    @media (max-width: 1023px) {
        &_col {
            float: none;
            width: auto;
            left: auto;
            right: auto;
            text-align: center;
        }
        &_tablet{
            float: none;
            margin: 0;
        }
        &_text{
            margin: 50px 0;
        }
    }

    @media (max-width: 767px) {
        margin: 0 0 80px;
        &_text{
            font-size: 32px;
        }
        &_tablet{
            font-size: 372px;
        }
    }

    @media (max-width: 567px) {
        &_text{
            font-size: 26px;
        }
        &_tablet{
            font-size: 242px;
        }
    }
}
// /video




// advantage
.advantage{
    padding: 0 0 94px;
    background: url(../images/interactive-landing/advantage-bg.png) no-repeat 50% 0 / cover;
    &_head{
        margin: 0 0 87px;
        font-family: 'Noto Serif', serif;
        font-style: italic;
        font-size: 48px;
        line-height: 1.2;
        text-align: center;
    }

    &_i{
        width: 50%;
        margin-top: -25px;
        padding: 0 20px 0 0;
        &:nth-child(even){
            margin-top: -100px;
            margin-left: 50%;
            padding: 0 0 0 20px;
        }
        &:first-child{
            margin-top: 0;
        }
    }
    &_num{
        position: relative;
        padding: 0 0 0 50px;
        font-size: 72px;
        line-height: 1;
        font-weight: 700;
        color: @land-color;
        &:before{
            content: '';
            position: absolute;
            top: 57px;
            left: 0;
            width: 100%;
            height: 40px;
            background: #f1f1f1;
        }
    }
    &_name{
        position: relative;
        margin: -10px 0 20px;
        padding: 0 0 0 50px;
        font-family: 'Noto Serif', serif;
        font-style: italic;
        font-size: 24px;
        line-height: 1.2;
    }
    &_descr{
        padding: 0 0 0 50px;
        font-size: 18px;
        line-height: 30/18;
        color: #454553;
    }

    @media (max-width: 767px) {
        &_head{
            font-size: 40px;
        }
        &_i&_i{
            width: auto;
            margin: 25px 0 0;
            padding: 0;
        }
    }

    @media (max-width: 567px) {
        &_head{
            font-size: 32px;
        }
        &_i&_i{

        }
        &_num,
        &_name,
        &_descr{
            padding-left: 20px;
        }
        &_descr{
            font-size: 16px;
        }
    }
}
// /advantage




// request
.request{
    padding: 58px 0 85px;
    background: #263035 url(../images/interactive-landing/lead-bg.jpg) no-repeat 50% 0 / cover;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #fff;

    &_cont{
        max-width: 740px;
        margin: auto;
    }

    &_head{
        margin: 0 0 39px;
        font-family: 'Noto Serif', serif;
        font-style: italic;
        font-size: 48px;
        line-height: 1.2;
        text-align: center;
    }

    &_text{
        margin: 0 0 40px;
        font-size: 17px;
        line-height: 25/17;
        opacity: .8;
        text-align: center;
    }

    &_form{
        padding: 60px 100px;
        border: 10px solid @land-color;
        .form-control{
            height: 52px;
            padding: 13px 20px;
            font-size: 16px;
            background: #10161a;
            border-color: #454553;
            color: #fff;
        }
    }
    &_error{
        display: none;
        margin: 15px 0 0;
        padding: 5px 10px;
        background: #ff501a;
        color: #fff;
        .error &{
            display: block;
        }
    }
    &_fieldset{
        margin: 15px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_action{
        margin: 40px 0 0;
        text-align: center;
        .intr-land-btn{
            width: 256px;
        }
    }

    &_success{
        font-size: 24px;
        text-align: center;
    }

    @media (max-width: 767px) {
        &_head{
            font-size: 40px;
        }
        &_form{
            max-width: 450px;
            margin: auto;
            padding: 30px;
        }
    }

    @media (max-width: 567px) {
        &_head{
            font-size: 32px;
        }
        &_text{
            font-size: 14px;
        }
        &_action{
            .intr-land-btn{
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
        }
    }
}
// /request


.modal-video{
    width: 700px;
    border: 0;

    @media (max-width: 700px) {
        width: 100%;
    }
}
.modal-close{
    position: fixed;
    z-index: @zindexModal + 1;
    top: 25px;
    right: 25px;
    .close{
        display: block;
        width: 30px;
        height: 30px;
        font-size: 0;
        .cross(30, 2, #fff);
        background-size: cover;
        opacity: .8;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
}




// wow animation
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
}


@keyframes slideUp {
    100% {
        top: 0;
        opacity: 1;
    }
}
.slideUp {
    position: relative;
    top: 100px;
    opacity: 0;
    animation-name: slideUp;
}
