// Video play icon



/*

    .video-play
        span.video-play_ico

*/


.video-play {
    @icon-size: 56px;
    @play-w: 20px;
    @play-h: 24px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    &:hover{
        .video-play_ico{
            //opacity: 1;
            transform: scale(1.1);
        }
    }

    &_ico{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -(@icon-size / 2) 0 0 -(@icon-size / 2);
        width: @icon-size;
        height: @icon-size;
        border: 5px solid #fff;
        border-radius: 50%;
        //background: #000;
        //opacity: .7;
        transform: scale(1);
        transition: .2s;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -(@play-h / 2) 0 0 -(@play-w * .375);
            border-left: @play-w solid #fff;
            border-top: (@play-h / 2) solid transparent;
            border-bottom: (@play-h / 2) solid transparent;
        }
    }
}


.video-cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: no-repeat 50% / cover;
}
