//
// FAQ
// --------------------------------------------


.faq-page{
    background-color: #fff;
    .cont-header{
        border-top: 1px solid #d6d8dc;
        border-bottom: 1px solid #d6d8dc;
    }
}


.faq-search{
    margin: -20px 0 20px;
    background: #eaeaea;
    &_input{
        width: 100%;
        height: auto;
        padding: 25px 0;
        margin: 0;
        .proxima-light();
        font-size: 48px;
        line-height: 60px;
        color: #000;
        .placeholder(#bfbfbf);
        border: 0;
        background: #eaeaea;
        &, &:focus{
            border-color: #eaeaea;
            outline: none;
        }
        &:focus{
            .placeholder(lighten(#bfbfbf, 10%));
        }
    }
    .back-placeholder{
        font-size: 48px;
    }
}


.faq-content{
    margin: -20px 0 0;
    padding: 50px 0 30px;
    .proxima_nova_rgregular();
    font-size: 16px;
    line-height: 1.5;
    color: #232323;
}

.faq-article{
    margin: -23px 0 0;
    color: #0c0c0c;
    h1{
        margin: 0 0 30px;
        .proxima-light();
        font-size: 45px;
        line-height: 1.2;
    }
    h2{
        margin: 0;
        .proxima-bold();
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: .005em;
    }

    h2, h3, p, ol, ul{
        margin: 0;
    }

    ol{
        counter-reset: li;
        list-style: none;
        > li{
            padding: 0 0 0 20px;
            &:before{
                content: counter(li);
                counter-increment: li;
                position: absolute;
                top: 0;
                left: 0;
                .proxima-bold();
            }
        }
    }
    li{
        position: relative;
        margin: 0 0 1em;
    }
    ul{
        margin-left: 20px;
    }
}

[class*=' s-faq-main-']{
    .sprite(32, 32, url(../images/faq/s-faq-main.png));
}
.s-faq-main-moneybox    { background-position: -50px 0; }
.s-faq-main-bulb        { background-position: -100px 0; }
.s-faq-main-target      { background-position: -150px 0; }


.faq-main{
    padding: 0 0 50px;
    &_block{
        margin: -67px 0 0;
        font-size: 0;
    }
    &_col-i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 67px 0 0;
        padding: 0 10px;
    }
    &_col{
        position: relative;
        padding: 0 0 0 40px;
    }
    &_head{
        margin: 0 0 25px;
        .proxima-light();
        font-size: 27px;
        line-height: 1.1;
        color: #0a0a0a;
    }
    &_ico{
        position: absolute;
        top: -3px;
        left: 0;
    }

    &_i{
        margin: 0 0 14px;
    }
    &_i-name{
        position: relative;
        padding: 0 0 0 15px;
        .proxima_nova_rgregular();
        font-size: 18px;
        line-height: 1.2;
        color: @linkColor;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
            &:before{
                border-left-color: darken(#d2d5d7, 15%);
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            border-style: solid;
            border-width: 6px 0 6px 6px;
            border-color: transparent transparent transparent #d2d5d7;
            .transition(.2s);
            .rotate(90deg);
        }
        &.collapsed{
            &:before{
                .rotate(0);
            }
        }
    }

    &_sub-list{
        padding: 2px 0 18px;
    }
    &_sub-i{
        margin: 12px 0 0;
        padding: 0 0 0 25px;
        font-size: 15px;
        line-height: 1.2;
        a{
            color: #121212;
            text-decoration: none;
            border-bottom: 1px solid lighten(#121212, 80%);
            &:hover{
                color: #c0392b;
                border-bottom-color: lighten(#c0392b, 40%);
            }
        }
    }
}


.faq-search-result{
    &_i{
        margin: 0 0 30px;
        .proxima_nova_rgregular();
    }
    &_name{
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 1.2;
        a{
            text-decoration: none;
            &:hover{
                border-bottom: 1px solid;
            }
        }
    }
    &_name-sps{
        display: inline-block;
        vertical-align: top;
        margin: 4px 5px 0;
        font-size: 18px;
        color: #999;
    }
    &_descr{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.4;
        color: #232323;
    }
    &_section{
        .proxima-bold();
        font-size: 12px;
        color: #9b9b9b;
    }
}


