//
// Planeta Over Footer
// --------------------------------------------

.over-footer{
    padding: 30px 0;
    border-top: 1px solid #d6d8dc;
    text-align: center;

    &_menu-i{
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        font-family: @ff-proxima-nova;
        font-size: 15px;
        line-height: 18px;
        &:before{
            content: '•';
            display: inline-block;
            vertical-align: top;
            margin: 0 19px 0 0;
            font-size: 18px;
            color: #cbcbcb;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
        a{
            color: #404040;
            text-decoration: underline;
            &:hover{
                color: #c0392b;
            }
        }
    }
}
