//
// promo pack
// --------------------------------------------


// promo pack
[class^='s-promo-pack-'],
[class*=' s-promo-pack-']{
    .sprite(25, 25, url(../images/faq/s-promo-pack.png));
}
//.s-promo-pack-no     { background-position: 0 0; }
.s-promo-pack-yes        { background-position: -50px 0; }


.promo-pack{
    .proxima_nova_rgregular();
    font-size: 16px;
    line-height: 22px;
    &_text{
        margin: 20px 0;
        &:first-of-type{
            margin-top: 0;
        }
    }
    &_text-small{
        font-size: 13px;
        line-height: 1.5;
        color: #999;
    }
    &_table{
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        td, th{
            padding: 20px;
            text-align: center;
            vertical-align: middle;
            &:first-child{
                border-left: 0;
            }
        }
        th{
            text-align: left;
            .proxima-bold();
        }
        thead, tfoot{
            td, th{
                min-width: 80px;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }
            td{
                text-align: left;
            }
        }
        thead{
            td, th{
                border-top: 0;
            }
        }
        tfoot{
            td, th{
                color: #fff;
                background: @linkColor;
            }
        }
    }
    &_block-head{
        .proxima-bold();
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .15em;
        text-transform: uppercase;
        color: #fff;
        background: @linkColor;
        td{
            padding: 10px;
            border-top: 0;
        }
        & + tr{
            td, th{
                border-top: 0;
            }
        }
    }
    &_title{
        position: relative;
        padding: 0 10px 0 0;
    }
    &_help{
        &:extend(.target-help-mix all);
        right: -10px;
    }
    &_table-text{
        text-align: left;
    }
    &_table-text-add{
        font-size: 12px;
        color: #999;
    }
    &_red{
        color: #E74C3C;
        font-weight: 700;
    }
}
// /promo pack


// modal promo pack
.modal-promo-pack{
    width: 940px;
    .promo-pack{
        &_text{
            margin: 0;
            padding: 20px;
        }
        &_table{
            border-left: 0;
            border-right: 0;
        }
    }
}
// /modal promo pack

