// video.js icons



@icon-font-family: VideoJS;

@font-face {
    font-family: @icon-font-family;
    src: url("../fonts/VideoJS.eot");
    src: url("../fonts/VideoJS.eot?#iefix") format("embedded-opentype"),
         url("../fonts/VideoJS.woff") format("woff"),
         url("../fonts/VideoJS.ttf") format("truetype"),
         url("../fonts/VideoJS.svg#VideoJS") format("svg");
    font-weight: normal;
    font-style: normal;
}


.vjs-icon-mix{
    font-family: @icon-font-family;
    font-weight: normal;
    font-style: normal;
};

[class^="vjs-icon-"], [class*=" vjs-icon-"] {
    &:extend(.vjs-icon-mix);
}


.vjs-icon-play                  {&:before {content: '\f101'}}
.vjs-icon-play-circle			{&:before {content: '\f102'}}
.vjs-icon-pause				    {&:before {content: '\f103'}}
.vjs-icon-volume-mute			{&:before {content: '\f104'}}
.vjs-icon-volume-low			{&:before {content: '\f105'}}
.vjs-icon-volume-mid			{&:before {content: '\f106'}}
.vjs-icon-volume-high			{&:before {content: '\f107'}}
.vjs-icon-fullscreen-enter		{&:before {content: '\f108'}}
.vjs-icon-fullscreen-exit		{&:before {content: '\f109'}}
.vjs-icon-square				{&:before {content: '\f10a'}}
.vjs-icon-spinner				{&:before {content: '\f10b'}}
.vjs-icon-subtitles				{&:before {content: '\f10c'}}
.vjs-icon-captions				{&:before {content: '\f10d'}}
.vjs-icon-chapters				{&:before {content: '\f10e'}}
.vjs-icon-share				    {&:before {content: '\f10f'}}
.vjs-icon-cog				    {&:before {content: '\f110'}}
.vjs-icon-circle				{&:before {content: '\f111'}}
.vjs-icon-circle-outline		{&:before {content: '\f112'}}
.vjs-icon-circle-inner-circle	{&:before {content: '\f113'}}
.vjs-icon-hd				    {&:before {content: '\f114'}}
.vjs-icon-cancel				{&:before {content: '\f115'}}
.vjs-icon-replay				{&:before {content: '\f116'}}
/*
.vjs-icon-facebook				{&:before {content: '\f117'}}
.vjs-icon-gplus				    {&:before {content: '\f118'}}
.vjs-icon-linkedin				{&:before {content: '\f119'}}
.vjs-icon-twitter				{&:before {content: '\f11a'}}
.vjs-icon-tumblr				{&:before {content: '\f11b'}}
.vjs-icon-pinterest				{&:before {content: '\f11c'}}
*/
.vjs-icon-audio-description		{&:before {content: '\f11d'}}
.vjs-icon-audio				    {&:before {content: '\f11e'}}
