

.vjs-icon-mix{
    &:before{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 30px;
        max-width: 30px;
        height: 100%;
        min-height: 30px;
        background: url(../images/video-controls.svg) no-repeat;
    }
};

[class^="vjs-icon-"], [class*=" vjs-icon-"] {
    &:extend(.vjs-icon-mix all);
}


.vjs-icon-play                  {&:before { background-position: 0 50% }}
.vjs-icon-pause				    {&:before { background-position: -50px 50% }}
.vjs-icon-volume-mute			{&:before { background-position: -100px 50% }}
.vjs-icon-volume-low			{&:before { background-position: -150px 50% }}
.vjs-icon-volume-mid			{&:before { background-position: -200px 50% }}
.vjs-icon-volume-high			{&:before { background-position: -250px 50% }}
.vjs-icon-replay				{&:before { background-position: -300px 50% }}
.vjs-icon-share				    {&:before { background-position: -350px 50% }}
.vjs-icon-fullscreen-enter		{&:before { background-position: -400px 50% }}
.vjs-icon-fullscreen-enter-hover{&:before { background-position: -450px 50% }}
.vjs-icon-fullscreen-exit   	{&:before { background-position: -500px 50% }}
.vjs-icon-fullscreen-exit-hover	{&:before { background-position: -550px 50% }}

