// Text, icons, hover states
@primary-foreground-color: #fff;

// Control backgrounds (control bar, big play, menus)
@primary-background-color: #2B333F;
@primary-background-transparency: 0.7;

// Hover states, slider backgrounds
@secondary-background-color: lighten(@primary-background-color, 33%);
@secondary-background-transparency: 0.5;

@text-font-family: Arial, Helvetica, sans-serif;

// Using the '--' naming for component-specific styles
@big-play-button--width: 3em;
@big-play-button--height: 1.5em;
@big-play-button--transparency: 0.8;
