.background-color-with-alpha(@color, @alpha) {
    background-color: @color;
    background-color: fade(@color, @alpha * 100);
}

.transform(@transform) {
    transform: @transform;
}

.transition(@string: @transition--default) {
    transition: @string;
}

.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.border-radius(@radius) {
    border-radius: @radius;
}

.animation(@string: spin 1s infinite linear) {
    animation: @string;
}

.display-flex(@alignment: '', @justification: '') {
    display: flex;

    & when not(@alignment = '') {
        align-items: @alignment;
    }
    & when not(@justification = '') {
        justify-content: @justification;
    }
}

.flex(@value) {
    flex: @value;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
.user-select(@string: none) {
    user-select: @string;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
.box-shadow (@string: 0 0 1em rgba(0, 0, 0, 0.25)) {
    box-shadow: @string;
}

.order(@value) {
    order: @value;
}

.fill-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon-default {
    //&:extend(.fill-parent all);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
