// Main



// nko icons
@font-face {
    font-family: 'nko-icons';
    src:url('../images/nko/fonts/nko-icons.eot?x7vxso');
    src:url('../images/nko/fonts/nko-icons.eot?x7vxso#iefix') format('embedded-opentype'),
        url('../images/nko/fonts/nko-icons.ttf?x7vxso') format('truetype'),
        url('../images/nko/fonts/nko-icons.woff?x7vxso') format('woff'),
        url('../images/nko/fonts/nko-icons.svg?x7vxso#nko-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nko-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'nko-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nko-icon-rocket:before {
    content: "\e800";
}
.nko-icon-mail:before {
    content: "\e801";
}
.nko-icon-pencil:before {
    content: "\e802";
}
.nko-icon-tv:before {
    content: "\e803";
}
// /nko icons



html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    font: 16px/1.23 @ff-proxima-nova;
    color: #333;
    background: #fff;

    height: 5647px;
}

.wrap{
    position: relative;
    &:extend(.cf-mix all);
    width: 920px + @grid960GutterWidth*2;
    margin: auto;
}

a{
    color: #000;
    text-decoration: underline;
}
a:hover{
    //color: desaturate(#ffd105, 15%);
}




.page-head{
    margin: 0 0 20px;
    font: 300 43px/((51/43em)) @ff-proxima-nova;
    text-transform: uppercase;
    text-align: center;
}




// header
.header{
    &:extend(.cf-mix all);
    padding: 51px 0 36px;
    &_logo{
        float: left;
        width: 178px;
        height: 37px;
        background: url(../images/crowd-school/logo-white.svg) no-repeat;
    }
}
.logo{
    float: right;
    display: block;
    width: 140px;
    height: 37px;
    background: url(../images/pln-logo-white.svg) no-repeat;
}
// /header



// footer
.footer{
    position: relative;
    padding: 56px 0 50px;
    border-top: 2px solid #4cc8e9;
    font: 14px @ff-proxima-nova;
    &_alien{
        position: absolute;
        top: -159px;
        left: 50%;
        width: 283px;
        height: 118px;
        margin: 0 0 0 -158px;
        background: url(../images/nko/footer-alien.svg) no-repeat;
        &_msg{
            position: absolute;
            top: 0;
            left: 60px;
            width: 35px;
            height: 34px;
            background: url(../images/nko/footer-alien-msg.svg) no-repeat -61px 0;
            background-size: 283px 118px;
            transform: scale(0);
            transform-origin: 0 0;
            transition: .5s;
            &.skrollable-between{
                transform: scale(1);
            }
        }
    }
    &_sharing{
        text-align: center;
        margin: 0 0 45px;
    }
    &_copy{
        color: #4cc8e9;
        text-align: center;
    }
}
// /footer





// rocket
.way-countur{
    position: absolute;
    top: -1000000px;
    left: -1000000px;
}

.rocket-block{
    display: none;
    position: absolute;
    top: 335px;
    bottom: 211px;
    left: 50%;
    width: 1270px;
    margin: 0 0 0 -585px;
    .is_rocket &{
        display: block;
    }
}
.rocket{
    position: absolute;
    z-index: 1;
    width: 32px;
    height: 22px;
    margin: -11px 0 0 -18px;
    background: url(../images/nko/rocket.svg);
}
// /rocket




.page-wrap{
    .is_rocket &{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}




// way pattern
.way{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1230px;
    height: 100%;
    //height: 5373px;
    margin: 0 0 0 -588px;
    background: url(../images/nko/contour.svg) no-repeat;
    background-size: 1227.4px 5381.3px;
}
// /way pattern





// lead
.lead{
    position: relative;
    overflow: hidden;
    min-height: 720px;
    padding: 0 0 60px;
    background: url(../images/nko/lead-bg.jpg) no-repeat 50% 0 / cover;
    text-align: center;
    font-size: 18px;
    color: #fff;
    word-wrap: break-word;
    &_head{
        margin: 0 0 14px;
    }
    &_date{
        position: relative;
        width: 188px;
        height: 188px;
        margin: 10px auto 22px;
        background: url(../images/nko/lead-pln-logo.svg) no-repeat;
        &_cont{
            padding: 65px 0 0 3px;
            font-size: 18px;
            color: #000;
        }
        &_place{
            position: absolute;
            top: 64px;
            left: 100%;
            margin: 0 0 0 6px;
            white-space: nowrap;
        }
    }
    &_head-text{
        font-size: 48px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_text{
        margin: 12px 0 43px;
    }
    &_btn{
        .nko-icon{
            font-size: 22px;
            margin: -2px 0 0 8px;
        }
    }
}
// /lead




// tasks
[class^="s-tasks-"], [class*=" s-tasks-"]{
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: 75px;
}
.s-tasks-hands{
    background: url(../images/nko/hands.svg) no-repeat;
}
.s-tasks-instruments{
    background: url(../images/nko/instruments.svg) no-repeat;
}


.tasks{
    position: relative;
    overflow: hidden;
    padding: 110px 0 76px;
    background: @baseColor;
    text-align: center;
    &_way{
        background-position: 0 -720px;
    }
    &_head{
        margin: 0 0 59px;
    }
    &_ico{
        width: 140px;
        height: 140px;
        margin: 0 auto 31px;
        padding: 34px 0 0;
        border-radius: 50%;
        background: #fff;
    }
    &_smile{
        width: 500px;
        height: 87px;
        margin: 52px auto 0;
        background: url(../images/nko/smile.svg) no-repeat;
    }
}
// /tasks




// work
[class^="s-work-"], [class*=" s-work-"]{
    display: inline-block;
    vertical-align: top;
    width: 211px;
    height: 211px;
    background: no-repeat 50% 50%;
}
.s-work-1 {
    max-width: 206px;
    background-image: url(../images/nko/s-work-1.svg)
}

.s-work-2 {
    max-width: 186px;
    background-image: url(../images/nko/s-work-2.svg)
}

.s-work-3 {
    max-width: 211px;
    background-image: url(../images/nko/s-work-3.svg)
}

.s-work-4 {
    max-width: 200px;
    background-image: url(../images/nko/s-work-4.svg)
}

.s-work-5 {
    max-width: 200px;
    background-image: url(../images/nko/s-work-5.svg)
}

.s-work-6 {
    max-width: 177px;
    background-image: url(../images/nko/s-work-6.svg)
}


.work{
    position: relative;
    overflow: hidden;
    padding: 93px 0 65px;
    color: #fff;
    background: #002f3b;
    &_way{
        background-position: 0 -1440px;
    }
    &_head{
        margin: 0 0 58px;
    }
    &_list{
        font-size: 0;
        margin: -84px 0 0;
    }
    &_i{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-top: 84px;
        font-size: 18px;
        text-align: center;


        &__invert{
            .work{
                &_badge{
                    &_cont{
                        background: @baseColor;
                    }
                }
                &_text{
                    color: @baseColor;
                }
            }
        }
    }
    &_badge{
        position: relative;
        z-index: 2;
        margin: 29px 0 11px;
        &_cont{
            display: inline-block;
            vertical-align: top;
            min-width: 80px;
            padding: 7px 0;
            color: #002f3b;
            background: #fff;
            border-radius: 50px;
        }
        &_num{
            display: inline-block;
            vertical-align: top;
            margin: 3px 0 0 3px;
            font-size: 16px;
            font-weight: 700;
        }
        .nko-icon{
            font-size: 24px;
        }
    }
    &_text{
        max-width: 220px;
        margin: auto;
    }
}
// /work



// request-short
.request-short{
    position: relative;
    overflow: hidden;
    padding: 73px 0 70px;
    background: url(../images/nko/request-short-bg.jpg) no-repeat 50% 0 / cover;
    text-align: center;
    &_way{
        background-position: 0 -2552px;
    }
    &_box{
        padding: 55px 0 59px;
        background: #fff;
        border-radius: 4px;
    }
    &_text{
        max-width: 270px;
        margin: 0 auto 33px;
        font-size: 18px;
    }
    &_btn{
        .nko-icon {
            font-size: 22px;
            margin: -2px 0 0 8px;
        }
    }
}
// /request-short




// format
.format{
    position: relative;
    overflow: hidden;
    min-height: 772px;
    padding: 80px 0 112px;
    background: #ffd900 url(../images/nko/format-bg.svg) no-repeat 50% 0;
    &_way{
        background-position: 0 -3012px;
    }
    &_head{
        margin: 0 0 62px;
    }
    &_list{
        font-size: 0;
        margin-top: -40px;
    }
    &_i{
        position: relative;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-top: 40px;
        font-size: 16px;
        color: #000;
        &:before{
            content: '';
            position: absolute;
            top: -3px;
            right: 100%;
            margin: 0 10px 0 0;
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 50%;
        }
    }
    &_i-head{
        margin: 0 0 15px;
        font-size: 24px;
        line-height: 28/24em;
        font-weight: 700;
    }
    &_i-text{
        margin: 0 -5px 0 0;
        ul{
            margin: -2px 0 0;
            li{
                position: relative;
                list-style: none;
                margin: 5px 0 0;
                &:before{
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: 100%;
                    margin: 0 22px 0 0;
                    width: 10px;
                    height: 10px;
                    background: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
}
// /format




// final
.final{
    position: relative;
    overflow: hidden;
    padding: 65px 0 69px;
    background: url(../images/nko/final-bg.jpg) no-repeat 50% 0 / cover;
    color: #fff;
    &_way{
        background-position: 0 -3784px;
    }
    &_head{
        margin: 0 0 35px;
    }
    &_box{
        width: 562px;
        height: 341px;
        padding: 120px 49px 0;
        margin: 0 auto 29px;
        background: url(../images/nko/final-box.svg) no-repeat;
    }
    &_i{
        position: relative;
        margin: 38px 0 0;
        &:first-child{
            margin: 0;
        }
        &:before{
            content: '';
            position: absolute;
            top: 7px;
            right: 100%;
            margin: 0 8px 0 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #ffff00;
        }
    }
    &_btn{
        text-align: center;
        .nko-icon {
            font-size: 22px;
            margin: -2px 0 0 8px;
        }
    }
}
// /final




// speakers
.speakers{
    position: relative;
    overflow: hidden;
    padding: 64px 0 104px;
    background: #002f3b;
    text-align: center;
    color: #fff;
    &_way{
        background-position: 0 -4434px;
    }
    &_head{
        margin: 0 0 49px;
    }
    &_i{
        &:nth-child(2){
            .speakers_ava{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 237px;
                    height: 237px;
                    margin: -118px 0 0 -118px;
                    background: url(../images/nko/speakear-orbit.svg) no-repeat;
                }
            }
        }
    }
    &_ava{
        width: 140px;
        height: 140px;
        margin: auto;
        img{
            position: relative;
            transform: translateZ(0);
            border-radius: 50%;
        }
    }
    &_name{
        position: relative;
        margin: 32px 0 13px;
        font-size: 24px;
        font-weight: 700;
    }
}
// /speakers




// partners
.partners{
    position: relative;
    overflow: hidden;
    padding: 58px 0 202px;
    text-align: center;
    &_way{
        background-position: 0 -4954px;
    }
    &_head{
        margin: 0 0 120px;
    }
    &_list{
        font-size: 0;
        margin: -30px 0 0;
    }
    &_i{
        display: inline-block;
        vertical-align: middle;
        margin: 30px 14px 0;
    }
}
// /partners





// modal request
.modal-request{
    width: 780px;
    padding: 50px 75px;
    border: 3px solid @baseColor;
    border-radius: 4px;
    @media (max-width: 800px) {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}
.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    line-height: 1;
    color: #56545c;
    cursor: pointer;
    &:hover{
        color: #000;
    }
}
// modal request




// request form
.request-form{
    &_head{
        &:extend(.page-head);
        margin: 4px 0 8px;
    }
    &_head-text{
        margin: 0 0 26px;
        text-align: center;
    }

    &_group{
        padding: 26px 0 30px;
        border-bottom: 3px dotted @baseColor;
        &:first-child{
            border-top: 3px dotted @baseColor;
        }
    }

    &_group-head{
        font-size: 24px;
        line-height: 28px;
    }

    &_fieldset{
        &:extend(.wrap-row all);
        &.error{
            .fieldset-lbl{
                color: #ff7059;
            }
            .form-control{
                border-color: #ff7059;
            }
        }
    }
    .fieldset-lbl{
        padding-top: 11px;
        color: #828187;
        &__top{
            padding-top: 0;
            margin-top: -6px;
        }
    }

    .pln-select{
        padding: 9px 13px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #828187;
        border-radius: 4px;
        .dropdown-menu{
            margin-top: 2px;
            border: 1px solid #dadada;
            border-radius: 4px;
            box-shadow: 0 5px 10px fade(#000, 25);
            .item a{
                padding: 7px 13px;
            }
        }
        .icon-select{
            border-top-color: #828187;
        }
    }

    &_action{
        margin: 40px 0 0;
    }
    @media (max-width: 959px) {
        .fieldset-lbl{
            padding-top: 0;
            margin-bottom: 5px;
        }
        .fieldset-val{
            [class^="col-"], [class*=" col-"]{
                margin-top: 20px;
            }
        }
    }
}
// /request form



// request success
.request-success{
    &_head{
        &:extend(.page-head);
        margin: 4px 0 8px;
        &_t{
            position: relative;
            z-index: 1;
        }
        &_n{
            margin-left: -.2em;
            color: @baseColor;
        }
    }
    &_text{
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
    &_ico{
        width: 82px;
        height: 54px;
        margin: 36px auto 0;
        background: url(../images/nko/request-success_ico.svg) no-repeat;
    }
}
// /request success


@media (max-width: 959px) {
    .wrap{
        width: auto;
    }
    .way{
        display: none;
    }
    .tasks_i{
        margin-top: 50px;
        &:first-child{
            margin-top: 0;
        }
    }
    .tasks_smile{
        display: none;
    }
    .work_i,
    .format_i{
        display: block;
    }
    .speakers_i{
        margin-top: 40px;
    }
    .format{
        background-image: none;
    }
    .format_list{
        padding-left: 60px;
    }
    .request-short{
        background: #fff;
    }
    .final_box{
        padding-top: 105px;
    }
    .final_i{
        margin-top: 20px!important;
    }
    .speakers_i:nth-child(2) .speakers_ava:before{
        display: none;
    }
    [class^="col-"], [class*=" col-"]{
        float: none;
        width: auto;
    }
    [class^="col-offset-"], [class*=" col-offset-"]{
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .lead,
    .final{
        background: #005c73;
    }
}

@media (max-width: 599px) {
    .header_logo{
        width: 148px;
        height: 31px;
    }
    .logo{
        width: 119px;
        height: 31px;
    }
    .page-head{
        font-size: 28px;
    }
    .lead_head-text{
        font-size: 30px;
    }

    .final_box{
        width: auto;
        height: auto;
        padding-top: 0;
        background-image: none;
    }
}

@media (max-width: 369px) {
    .lead_date_cont{
        padding-top: 55px;
    }
    .lead_date_place{
        position: static;
        color: #000;
    }
}
