// Fonts variables
// -------------------------------------------------------------


// Helios
@ff-helios: 'HeliosCRegular', @baseFontFamily;
.ff-helios{
    font-family: @ff-helios;
}

// helios alias
.hfont{
    font-family: @ff-helios;
    font-weight: 100;
}
.hlfont{
    font-family: @ff-helios;
    font-weight: 300;
}
.hbfont{
    font-family: @ff-helios;
    font-weight: 700;
}



// MinionPro
@ff-minionpro: 'MinionPro', @baseFontFamily;
.ff-minionpro{
    font-family: @ff-helios;
}

// minionpro alias
.minionpro-semiboldit{
    font-family: @ff-minionpro;
    font-weight: 600;
    font-style: italic;
}




// HelveticaNeue
@ff-helvetica-neue: 'HelveticaNeue', @baseFontFamily;
.ff-helvetica-neue{
    font-family: @ff-helvetica-neue;
}

// helvetica neue alias
.helveticaneue-roman{
    font-family: @ff-helvetica-neue;
    font-weight: 400;
}
.helveticaneue-light{
    font-family: @ff-helvetica-neue;
    font-weight: 300;
}
.helveticaneue-bold{
    font-family: @ff-helvetica-neue;
    font-weight: 700;
}




// ProximaNova
@ff-proxima-nova: 'ProximaNova', @baseFontFamily;
.ff-proxima-nova{
    font-family: @ff-proxima-nova;
}

// proxima nova alias
.proxima_nova_rgregular{
    font-family: @ff-proxima-nova;
    font-weight: 400;
}
.proxima-light{
    font-family: @ff-proxima-nova;
    font-weight: 300;
}
.proxima-bold{
    font-family: @ff-proxima-nova;
    font-weight: 700;
}
.proxima-black{
    font-family: @ff-proxima-nova;
    font-weight: 900;
}





// Roboto
@ff-roboto: 'Roboto', @baseFontFamily;
.ff-roboto{
    font-family: @ff-roboto;
}





// Roboto Condensed
@ff-roboto-cond: 'Roboto Condensed', @baseFontFamily;
.ff-roboto-cond{
    font-family: @ff-roboto-cond;
}






// GothamPro
@ff-gotham-pro: 'GothamPro', @baseFontFamily;
.ff-gotham-pro{
    font-family: @ff-gotham-pro;
}

// gotham pro alias
.gothampro-reg{
    font-family: @ff-gotham-pro;
    font-weight: 400;
}
.gothampro-light{
    font-family: @ff-gotham-pro;
    font-weight: 300;
}
.gothampro-medium{
    font-family: @ff-gotham-pro;
    font-weight: 500;
}
.gothampro-bold{
    font-family: @ff-gotham-pro;
    font-weight: 700;
}
.gothampro-black{
    font-family: @ff-gotham-pro;
    font-weight: 900;
}





// PF Din Condensed Pro
@ff-pfdin-cond-pro: 'PFDinCondPro', @baseFontFamily;
.ff-pfdin-cond-pro{
    font-family: @ff-pfdin-cond-pro;
}


// PF BeauSans Pro
@ff-pfbeau-sans-pro: 'PFBeauSansPro', @baseFontFamily;
.ff-pfbeau-sans-pro{
    font-family: @ff-pfbeau-sans-pro;
}


// pfdin cond pro alias
.ff-pf-din-cond-pro{
    font-family: @ff-pfdin-cond-pro;
    font-weight: 400;
}




// Pribambas
@ff-pribambas: 'Pribambas', @baseFontFamily;
.ff-pribambas{
    font-family: @ff-pribambas;
}

