// GRID SYSTEM
// -----------

// Fluid (990px)
#fluidGridSystem > .generate(@gridColumns, @fluidGridColumnWidth, @fluidGridGutterWidth);


.make-grid > .make(col, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
.display-media-util(col);


@media (min-width: @screen-pp-min) {
    .make-grid > .make(m-col-pp, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(pp);
}

@media (min-width: @screen-pl-min) {
    .make-grid > .make(m-col-pl, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(pl);
}

@media (min-width: @screen-tp-min) {
    .make-grid > .make(m-col-tp, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(tp);
}

@media (min-width: @screen-tl-min) {
    .make-grid > .make(m-col-tl, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(tl);
}

@media (min-width: @screen-ld-min) {
    .make-grid > .make(m-col-ld, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(ld);
}



body:not(.grid-1170){
    [class^="m-col-"], [class*=" m-col-"]{
        padding-left: 10px;
        padding-right: 10px;
    }
}



// grid 1200
.grid-1200{
    @width: 1200px;
    @gutter: 20px;
    .wrap{
        width: auto;
        max-width: @width + @gutter * 2;
        min-width: 980px;
        padding-left: @gutter;
        padding-right: @gutter;
        @media (max-width: @screen-md-max) {
            min-width: 0;
            width: 980px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
// grid 1200




// grid 1170
.grid-1170{
    @width-1170: 1170px;
    @gutter-1170: 15px;
    @screen-max-1170: (@width-1170 + @gutter-1170 * 2);
    .wrap{
        width: auto;
        max-width: @screen-max-1170;
        min-width: 0;
        padding-left: @gutter-1170;
        padding-right: @gutter-1170;
        @media (max-width: (@screen-max-1170 - 1)) {
            max-width: 870px + @gutter-1170 * 2;
        }
    }
    .wrap-row{
        margin-left: -15px;
        margin-right: -15px;
    }
    [class^="col-"], [class*=" col-"], [class^="m-col-"], [class*=" m-col-"]{
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrap-indent-left{
        margin-left: -@gutter-1170*2;
    }
    .wrap-indent-right{
        margin-right: -@gutter-1170*2;
    }
}
// grid 1170

