// selectCampaignById


.pln-select{
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ccc;
    background: #fff;
    outline: 0;
    text-align: left;
    &.custom-pln-select .dropdown-menu {
        display: none;
    }
    &.open{
        border-color: @linkColor;
        .dropdown-menu{
            visibility: visible;
            margin: 1px 0 0;
            animation-name: pln-select_bottom-visible;
        }
    }
    .select-btn{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 26px;
    }
    .icon-select{
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        margin: -2px 0 0 -5px;
        border-style: solid;
        border-color: @linkColor transparent transparent;
        border-width: 5px 5px 0;
        font: 0/0 a;
        background: none;
    }
    .select-cont{
        display: block;
        .text-overflow();
    }
    .dropdown-menu{
        top: -99999px;
        display: block;
        max-width: none;
        left: -1px;
        right: -1px;
        border-color: #ccc;
        border-top: 0;

        animation-duration: .1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-name: pln-select_bottom;
        transform-origin: 0 0;
        visibility: hidden;
        margin: -99999px 0 0 -99999px;
    }
    &.disabled, &.disable{
        background-color: #f5f5f5;
        border-color: #ddd;
        cursor: default;
        .icon-select{
            border-top-color: #ccc;
        }
    }

    &__inited{
        .dropdown-menu{
            top: 100%;
        }
    }
}
.pln-select-l{
    font-size: 14px;
    padding: 9px 10px;
    .select-btn{
        width: 36px;
    }
    .icon-select{
        margin: -3px 0 0 -6px;
        border-width: 6px 6px 0;
    }
}
.pln-select-xlg{
    font-size: 14px;
    padding: 14px 16px;
    .select-btn{
        width: 36px;
    }
    .icon-select{
        margin: -3px 0 0 -6px;
        border-width: 6px 6px 0;
    }
}


@keyframes pln-select_bottom {
    0% {
        visibility: visible;
        margin: 1px 0 0;
        transform: translateY(0);
        opacity: 1;
    }

    99% {
        margin: 1px 0 0;
        transform: translateY(10px);
    }

    100% {
        visibility: hidden;
        margin: -99999px 0 0 -99999px;
        opacity: 0;
    }
}


@keyframes pln-select_bottom-visible {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

