<script id="account-merge-content" type="text/x-jquery-template">
    <div class="header-container">
        <div class="header-container-section">
            <h2>Вы вошли на Планету через сервис {{= serviceName}}</h2>
        </div>
    </div>
    <h3>Вы у нас уже были?</h3>

    <p>К сожалению, нам не удалось выяснить, бывали ли Вы у нас раньше. Помогите нам узнать это.</p>

    <a href="javascript:void(0)" class="btn btn-primary btn-small already-have-account">Да, у меня есть аккаунт на Планете</a>
    <a href="javascript:void(0)" class="btn btn-small new-account">Нет, я здесь впервые</a>
    <hr>
    <div class="already-have-account-block" {{if !open}}style="display:none"{{/if}}>
    {{if alreadyHaveEmail}}
    <h3>С возвращением!</h3>

    <p>Чтобы мы могли связать Ваш аккаунт на сервисе {{= serviceName}} и в дальнейшем узнавать Вас, введите свой e-mail,
        под которым Вы регистрировались на Планете, и Ваш пароль:</p>
    {{else}}
        <h3>Добро пожаловать!</h3>

        <p>Чтобы Вы смогли зайти к нам и без входа на сервис {{= serviceName}}, введите свой e-mail (Ваш будущий логин):</p>
    {{/if}}
    <form class="form-inline" method="POST" action="{{if userAuthorizationInfo}}/welcome/account-merge-email.html{{else}}/welcome/account-merge.html{{/if}}">
    <div class="fieldset">
        <input type="text" class="register-email form-control" name="email" id="email" placeholder="Введите Ваш e-mail" value="{{= email}}">
        {{if alreadyHaveEmail}}
        <input class="form-control" name="emailPassword" id="emailPassword" type="password" placeholder="Введите Ваш пароль">
        {{/if}}
        <input href="javascript:void(0)" type="submit" class="btn btn-primary submit-already-have-email" value="Готово">

    </div>
    </form>
    <div></div>
    {{if alreadyHaveEmail}}
    <a class="alien-link" href="javascript:void(0)">Я ошибся, я тут впервые</a>
    {{else}}
    <div class="confirmation-panel"></div>
    <a class="alien-link" href="javascript:void(0)">Я ошибся, у меня уже есть аккаунт на Планете</a>
    {{/if}}
    </div>
</script>

<script id="account-auto-merge-content" type="text/x-jquery-template">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <div class="modal-title">Вход на Планету</div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body">

        <form class="modal-login-form" method="POST" >
            <div class="mlf-item fieldset">
                <span>Ваш email:</span>
                <div class="input-field">
                    <input type="text" name="email" value="{{= email}}">
                </div>
            </div>
            <div class="mlf-item fieldset">
                <span>Пароль:</span>
                <div class="input-field">
                    <input name="emailPassword" type="password" placeholder="Введите Ваш пароль">
                </div>
            </div>
            <div class="mlf-item">
                <input href="javascript:void(0)" type="submit" class="btn btn-primary submit-already-have-email" value="Готово">
            </div>
        </form>
    </div>

</script>
