<script id="add-to-cart-extended-container-template" type="text/x-jquery-template">
        <div class="product-crowd_i js-anchor-donate"></div>
        <div class="product-crowd_i js-anchor-expensive"></div>
</script>

<script id="add-to-cart-control-template" type="text/x-jquery-template">
    <div class="product-add pln-dropdown js-product-add">
        {{if canPurchase}}
            {{if startSaleDate > Date.now() }}
            <span class="shop-btn shop-btn-pre-order shop-btn-primary js-add-to-cart">
                Сделать предзаказ<span class="pre-order-tooltip">Товар будет в наличии после {{= DateUtils.estimatedDate(startSaleDate)}}</span>
            </span>
            {{else}}
            <span class="shop-btn shop-btn-add pln-d-switch js-add-to-cart">
                Добавить в корзину
            </span>
            {{/if}}
        {{else}}
        <span class="shop-btn shop-btn-pre-order shop-btn-primary disabled">
            Нет в наличии
        </span>
        {{/if}}
        <div class="top-drop-block pln-d-popup basket-popup basket-popup-add fixed js-anchor-added-to-cart"></div>
    </div>
</script>

<script id="add-to-cart-extended-control-template" type="text/x-jquery-template">
    {{if canPurchase}}
            <div class="product-crowd_btn pln-dropdown js-product-add">
            {{if type == "DONATE"}}
                <span class="shop-btn shop-btn-crowd-author pln-d-switch js-add-to-cart">
                    Поддержать автора на
                </span>
            {{else type == "EXPENSIVE"}}
                <span class="shop-btn shop-btn-crowd-more pln-d-switch js-add-to-cart">
                    Купить дороже на
                </span>
            {{/if}}

                <span class="product-crowd_btn-counter">
                    <span class="product-crowd_count">
                        <span class="product-crowd_count-btn js-plus"></span>
                        <span class="product-crowd_count-val js-input-donate">{{= donatePrice}}</span>
                        <span class="product-crowd_count-btn plus js-minus"></span>
                    </span>
                    <span class="product-crowd_btn-currency b-rub">Р</span>
                </span>
                <div class="top-drop-block pln-d-popup basket-popup basket-popup-add fixed js-anchor-added-to-cart"></div>
            </div>

            <div class="product-crowd_help" data-tooltip-position="bottom left" data-tooltip="{{if type == "EXPENSIVE"}}
                Считаете, что наша цена слишком мала для такой прекрасной вещи? Вы можете купить ее дороже! Просто введите в окошко сумму, которую готовы добавить к цене (указанная сумма является дарением).
            {{else type == "DONATE"}}
                Вы можете поддержать производителя, не покупая товар! Введите в окошко сумму, которую готовы перевести (указанная сумма является дарением).
            {{/if}}">
                <div class="product-crowd_help-ico {{if type == "EXPENSIVE"}}product-crowd_help-ico__more{{/if}}"></div>
                <div class="product-crowd_help-text">
                    Как это работает?
                </div>
            </div>
    {{/if}}
</script>

