<script id="gift-filter-template" type="text/x-jquery-template">
    <div>
        <ul class="nav nav-tabs" id="giftTypes">
            <li class="{{if isMoney}}active{{/if}}">
                <a class="giftType" id="{{= Gift.Models.Types.MONEY}}" href="javascript:void(0)">Деньги</a>
            </li>
        </ul>
    </div>
</script>

<script id="gift-money-template" type="text/x-jquery-template">
    <div class="row ma-t-30">
        <div class="col-lg-12 ma-b-20">
            <label>Сумма подарка</label>
            <input id="gift-amount" name="gift-amount" type="number" class="form-control" value="{{= amount}}" required>
        </div>

        <div class="col-lg-12 ma-b-20">
            <label>Баланс Планеты:&nbsp;&nbsp; </label><span class="text-bold text-success">{{= planetaBalance}} руб.</span>
        </div>

        {{tmpl '#gift-comment-template'}}
    </div>

    <div class="btn-group">
        <a href="javascript:void(0)" class="gift btn btn-primary {{if !canGift}}disabled{{/if}}">Подарить</a>
        <a href="/moderator/user-info.html?profileId={{= profileId }}" class="btn btn-default">Назад</a>
    </div>
</script>

<script id="gift-dialog-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <div class="modal-title">Выбирите {{if isShare}}подарочное вознаграждение{{else isTicket}}подарочный билет{{/if}}</div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body">
        <div class="modal-ticket">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{if isShare}}ВОЗНАГРАЖДЕНИЕ{{else isTicket}}БИЛЕТ{{/if}}</th>
                        <th class="th-center">ЦЕНА</th>
                        <th class="th-center">КОЛИЧЕСТВО</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="modtik-footer">
                <div class="mtf-price">Сумма подарка: <span><span class="js-gift-sum"></span> руб.</span></div>
            </div>
        </div>
        <br/>
        {{tmpl '#gift-comment-template'}}
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <a href="javascript:void(0)" class="btn cancel">Отменить</a>
            <a href="javascript:void(0)" class="btn btn-primary gift">Подарить</a>
        </div>
    </div>
</script>

<script id="gift-comment-template" type="text/x-jquery-template">
    <div class="col-lg-12 ma-b-20">
        <label for="comment">Комментарий</label>
        <textarea id="comment" name="comment" class="form-control" rows="5"></textarea>
    </div>
</script>

<script id="gift-list-item-template" type="text/x-jquery-template">
    <td>
        <br>
        <label>
            <input type="radio" name="item" {{if isSelected}}checked{{else isDisabled}}disabled{{/if}}/>
        </label>
    </td>
    <td>
        <div class="modtik-info">
            <h3>{{= name}}</h3>
            <p>{{= description}}</p>
        </div>
    </td>
    <td>
        <div class="modtik-price">
            <span>{{= price}} руб.</span>
            <p>
               {{if !isLimited}}
                   {{= StringUtils.declOfNum(purchaseCount, ["Продана", "Продано", "Продано"])}}
                   {{= purchaseCount}} шт.
               {{else availableAmount > 0}}
                   {{= StringUtils.declOfNum(availableAmount, ["Осталась", "Осталось", "Осталось"])}}
                   {{= availableAmount}} шт.
               {{else}}
                   Все проданы
               {{/if}}
            </p>
        </div>
    </td>
    <td>
        <div class="modtik-count">
            <div class="mtc-block">
                <div class="mtc-pluse"></div>
                <div class="mtc-input"><input type="text" class="giftAmount" value="{{= giftAmount}}" {{if isDisabled}}disabled{{/if}}></div>
                <div class="mtc-minus"></div>
            </div>
        </div>
    </td>
</script>

