<script id="nested-location-list-item-template" type="text/x-jquery-template" xmlns="http://www.w3.org/1999/html">
    <a style="font-size: 14px;cursor: pointer;">{{= name }}</a>
</script>

<script id="parent-location-chain-label-template" type="text/x-jquery-template">
    {{if parent}}{{tmpl(parent) "#parent-location-chain-label-template" }}{{/if}}
    {{if $data.serviceId < 0 }}
    <span class="btn btn-small btn-info">Мир</span>
    {{else locationType}}
    <span class="btn btn-small btn-info remove-location"
          data-location-type="{{= locationType }}"
          data-location-id="{{= locationId }}">{{= name}} <i class="icon-white icon-remove-sign"></i>
    </span>
    {{/if}}
</script>
<script id="editable-location-chain-template" type="text/x-jquery-template">
    <div class="btn-group">
        {{tmpl({parent: location.parent, serviceId: serviceId, locationType: location.locationType, name: location.name}) "#parent-location-chain-label-template" }}
        {{if location.locationType != "CITY" && location.locationType != "WORLD"}}
        <span class="dropdown-toggle btn btn-small btn-success" data-toggle="dropdown">
            <i class="icon-plus icon-white"></i>
        </span>
        <div class="dropdown-menu nested-locations-list"></div>
        {{/if}}
    </div>
    <input name="location" type="hidden"/>
</script>

<script id="address-edit-block-template" type="text/x-jquery-template">
    <h4>Адресс склада/магазина</h4>

    <div class="row">
        <div class="col-lg-12">
            <label>Населенный пункт</label>
            <input class="form-control" type="text" name="city" placeholder="г.Урюпинск" value="${address.city}"/>
            <div class="error-message"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label>Адрес</label>
            <textarea class="form-control" name="street" placeholder="ул. Дзержинского д.5">{{= address.street }}</textarea>
            <div class="error-message"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label>Контактный телефон</label>
            <input class="form-control" type="text" name="phone" placeholder="+7-(123)-33-74-33" value="${address.phone}"/>
            <div class="error-message"></div>
        </div>
    </div>
</script>

<script id="admin-delivery-edit-base-service-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a data-dismiss="modal" class="close">×</a>
        <div class="modal-title">{{if serviceId}}Редактирование{{else}}Регистрация{{/if}} службы доставки/точки самовывоза.</div>
    </div>
    <div class="modal-body">
        <form>
            <div class="row ma-b-20">
                <div class="col-lg-12">
                    <label>Название</label>
                    <input id="name" name="name" value="{{= name }}" type="text" placeholder="Введите название"
                           class="form-control"/>
                    <div class="error-message"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label>Ориентировочная стоимость доставки:</br>(html, то что увидят покупатели)</label>
                    <textarea id="description"
                              name="description"
                              placeholder="Таблица с описание критериев и их влиянием на ценообразование."
                              class="form-control"
                              rows="6">{{= description }}</textarea>

                    <div class="error-message"></div>
                    <a href="javascript:void(0);">предпросмотр</a>
                </div>
            </div>


            <!--//TODO новая админка: сделать красиво-->
            <div class="control-group">
                <label class="control-label">Регион:</label>

                <div class="controls">
                    <div class="location-chain"></div>
                    <div class="error-message"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Тип службы:</label>

                <div class="controls">
                    {{if serviceId >= 0}}
                    <div class="">
                        <label class="radio service-type-no-address">
                            <input type="radio" name="serviceType" value="DELIVERY"{{if serviceType=="DELIVERY"}} checked{{/if}}/>
                            Доставка
                        </label>
                        <label class="radio service-type-with-address" data->
                            <input type="radio" name="serviceType" value="CUSTOMER_PICKUP"{{if serviceType=="CUSTOMER_PICKUP"}} checked{{/if}}/>
                            Самовывоз.
                        </label>
                    </div>
                    {{else serviceType=="DELIVERY"}}
                    <span class="btn btn-small btn-info">Доставка</span>
                    {{else serviceType=="CUSTOMER_PICKUP"}}
                    <span class="btn btn-small btn-info">Самовывоз</span>
                    {{/if}}
                </div>
            </div>
            <div class="delivery-address-block" data-name="address"></div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" class="btn">Отмена</button>
        </div>
    </div>
</script>

<script id="campaign-delivery-services-page-template" type="text/x-jquery-template">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Службы доставки</h1>
        </div>
    </div>

    <div class="main-page-actions">
        <a class="btn btn-success btn-circle btn-outline btn-lg add-base-service" title="Добавить службу доставки">
            <i class="fa fa-plus"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="get" action="/moderator/base-delivery-services.html">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Введите ID, короткий адрес, или название службы доставки для поиска" id="from-control" name="searchString" value="${searchString}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <td class="span1">
                        <b>Id</b>
                    </td>
                    <td class="span3">
                        <b>Название</b>
                    </td>
                    <td class="span1">
                        Статус
                    </td>
                    <td class="span5">
                        таблица оценки стоимости
                    </td>
                    <td class="span3">
                        тип/адрес склада
                    </td>
                    <td class="span2">
                        регион
                    </td>
                    <td>
                        действия
                    </td>
                </tr>
                </thead>
                <tbody class="services-list"></tbody>
            </table>
        </div>
    </div>
</script>

<script id="base-delivery-campaign-template" type="text/x-jquery-template">
    <td>
        {{if serviceId > 0 }}<b>${serviceId}</b> {{else}}&nbsp;<i class="fa fa-lock"></i>{{/if}}
    </td>
    <td>
        <b>${name}</b>
    </td>
    <td>
        {{if enabled}}<i class="icon-check"></i>
        {{else}}<i class="icon-ban-circle"></i>{{/if}}
    </td>
    <td>
        {{html description}}
    </td>
    <td>
        {{if serviceType=="CUSTOMER_PICKUP" }}Самовывоз{{else}}Доставка{{/if}}
        {{if serviceType=="CUSTOMER_PICKUP" && serviceId >= 0}}<br/>${address.city}, ${address.street}<br/>тел.:${address.phone}{{/if}}
    </td>
    <td>
        ${location.name}
    </td>
    <td class="col-lg-1">
        <div class="btn-group">
            <a class="btn btn-primary btn-outline edit-service" title="Изменить">
                <i class="fa fa-edit"></i>
            </a>

            {{if serviceId >= 0 }}
                {{if enabled}}
                    <a class="btn btn-warning btn-outline stop-service" title="Остановить">
                        <i class="fa fa-stop"></i>
                    </a>
                {{else}}
                    <a class="btn btn-success btn-outline start-service" title="Запустить">
                        <i class="fa fa-play"></i>
                    </a>
                {{/if}}
                <a class="btn btn-danger btn-outline remove-service" title="Удалить">
                    <i class="fa fa-trash"></i>
                </a>
            {{/if}}
        </div>
    </td>
</script>

<script id="admin-delivery-add-liked-service-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a data-dismiss="modal" class="close">×</a>

        <div class="modal-title">{{if isNew}}Прикрепление службы доставки к вознаграждению{{else}}Редактирование службы доставки вознаграждения{{/if}}
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal js-link-delivery-layer">
            <div class="row ma-b-20">
                <div class="col-lg-12">
                    <label>Служба доставки:</label>

                    {{if serviceId}}
                        <input name="deliveryService" type="text" placeholder="Введите первые 3 буквы" class="form-control" value="{{= name }} ({{= location.name }})" disabled>
                    {{else isNew}}
                        <input name="deliveryService" type="text" placeholder="Введите первые 3 буквы" class="form-control">
                        <div class="error-message"></div>
                        <span class="btn-link js-add-new-base-delivery"> Добавить новую службу доставки</span>
                        <div class="base-services-list"></div>
                        {{/if}}
                </div>
            </div>


            {{if isNew}}
                <div class="anchor-add-delivery" style="margin-left: -15px; margin-right: -15px; display: none;"></div>
            {{/if}}

            <div class="row ma-b-20">
                <div class="col-lg-12">
                    <label>Публичное описание (то что увидят покупатели)</label>

                    <textarea name="publicNote" placeholder="Общее описание, примечания." class="form-control" rows="6">{{= publicNote }}</textarea>
                    <div class="error-message"></div>
                </div>
            </div>

            <div class="row ma-b-20">
                <div class="col-lg-12">
                    <label>Стоимость, руб.</label>

                    <input type="number" name="price" data-type="numerical" value="{{= price}}" placeholder="300" class="form-control">
                    <div class="error-message"></div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="modal-footer-cont">
            <button id="save-linked-service" type="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" class="btn btn-default btn-outline">Отмена</button>
        </div>
    </div>
</script>

<script id="admin-campaign-info-share-list-item-template" type="text/x-jquery-template">
    <td>${shareId}</td>
    <td>${name}</td>
    <td>${price}</td>
    <td>
        {{if amount > 0}}${amount - purchaseCount}{{else}}&nbsp;{{/if}}
    </td>
    <td>
        <div class="delivery-services-list"></div>
        {{each linkedDeliveries}}
            <div class="row">
                <div class="btn-group span0">
                    <div class="btn btn-small btn-info edit-delivery-service"
                         data-subject-id="${shareId}"
                         data-subject-type="{{= $value.subjectType}}"
                         data-service-id="${$value.serviceId}">
                        ${$value.name} (${$value.location.name}) ${$value.price} p.
                        <i class="icon-white icon-edit"></i>
                    </div>
                    <div class="btn btn-small btn-danger remove-delivery-service"
                         data-subject-id="${shareId}"
                         data-service-id="${$value.serviceId}"
                         data-subject-type="{{= $value.subjectType}}"
                            >
                        <i class="icon-white icon-remove"></i>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="btn btn-xs btn-success btn-outline add-delivery-service">
            Добавить доставку
            <i class="icon-gray icon-plus"></i>
        </div>
    </td>
</script>

<script id="admin-delivery-add-base-in-liked-service-template" type="text/x-jquery-template">
    <%--//TODO новая админка: неведомая хуета, изначально не работала. починить --%>

    <div style="background-color: #f2f2f2;">
        <div class="modal-header">
            <div class="modal-title">Регистрация новой службы доставки</div>
        </div>

        <div class="modal-body">
            <form class="form-horizontal">
                <div class="row ma-b-20">
                    <div class="col-lg-12">
                        <label>Название</label>

                        <input name="name" value="" type="text" placeholder="Введите название" class="form-control">
                        <div class="error-message"></div>
                    </div>
                </div>

                <div class="row ma-b-20">
                    <div class="col-lg-12">
                        <label>Ориентировочная стоимость доставки (html, то что увидят покупатели)</label>

                            <textarea name="description"
                                      placeholder="Таблица с описание критериев и их влиянием на ценообразование."
                                      class="form-control"
                                      rows="6">{{= description }}</textarea>

                            <div class="error-message"></div>
                            <a href="javascript:void(0);">предпросмотр</a>
                    </div>
                </div>

                <div class="row ma-b-20">
                    <div class="col-lg-12">
                        <label>Регион:</label>

                        <div class="btn-group row">
                            <div class="location-chain span0"></div>
                        </div>
                        <div class="error-message"></div>
                    </div>
                </div>

                <div class="row ma-b-20">
                    <div class="col-lg-12">
                        <label>Тип службы</label>

                        {{if serviceId >= 0}}
                            <div class="radio">
                                <label class="radio service-type-no-address">
                                    <input type="radio" name="serviceType" value="DELIVERY"{{if serviceType=="DELIVERY"}} checked{{/if}}/>
                                    Доставка
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radio service-type-with-address" data->
                                    <input type="radio" name="serviceType" value="CUSTOMER_PICKUP"{{if serviceType=="CUSTOMER_PICKUP"}} checked{{/if}}/>
                                    Самовывоз.
                                </label>
                            </div>
                        {{else serviceType=="DELIVERY"}}
                            <span class="btn btn-small btn-info">Доставка</span>
                        {{else serviceType=="CUSTOMER_PICKUP"}}
                            <span class="btn btn-small btn-info">Самовывоз</span>
                        {{/if}}
                    </div>
                </div>

                <div class="row ma-b-20">
                    <div class="col-lg-12">
                        <div class="delivery-address-block" data-name="address"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <div class="modal-footer-cont">
                <div class="btn btn-primary js-save-delivery"><i class="icon icon-white icon-plus"></i> Добавить</div>
                <div class="btn js-add-new-base-delivery">Отмена</div>
            </div>
        </div>
    </div>
</script>