<script id="new-ticket-form-template" type="text/x-jquery-template">
	<div class="modal-header">
		<a data-dismiss="modal" class="close">×</a>
		<div class="modal-title">{{if ticketId}} Редактировать{{else}} Создать{{/if}} билет</div>
		<div class="modal-header-shadow"></div>
	</div>
	<div class="modal-body">
		<div class="modal-select-header short-label">
			<form>
				<div class="fieldset">
					<div class="label-name">
						<label for="name">Название:</label>
					</div>
					<div class="input input-field">
						<input id="name" name="name" value="{{= name}}" placeholder="Введите название"/>
					</div>
				</div>
				<div class="fieldset">
					<div class="label-name">
						<label for="description">Описание:</label>
					</div>

					<div class="input input-field">
						<textarea id="description" name="description" placeholder="Введите описание">{{if description}}{{= description}}{{/if}}</textarea>
					</div>
				</div>
				<div class="fieldset">
					<div class="label-name">
						<label for="price">Цена:</label>
					</div>

					<div class="input input-field">
						<input id="price" name="price" value="{{= price}}" placeholder="Введите цену"/>
					</div>
				</div>
				<div class="fieldset">
					<div class="label-name">
						<label for="amount">Количество:</label>
					</div>

					<div class="input input-field">
						<input id="amount" name="amount" value="{{= amount}}" placeholder="Количество билетов этого типа"/>
					</div>
				</div>
                   <div class="fieldset">
                       <div class="label-name">
                           <label for="amount">Начало продаж:</label>
                       </div>

                       <div class="input input-field">
                           <input id="timeSalesStart" class="time-picker" name="timeSalesStart" value="{{= timeSalesStart}}" placeholder="Время начала продаж"/>
                       </div>
                   </div>
                   <div class="fieldset">
                       <div class="label-name">
                           <label for="amount">Окончание продаж:</label>
                       </div>

                       <div class="input input-field">
                           <input id="timeSalesFinish" class="time-picker" name="timeSalesFinish" value="{{= timeSalesFinish}}" placeholder="Время окончания продаж"/>
                       </div>
                   </div>
                   {{if ticketId}}
				<input type="hidden" name="ticketId" value="{{= ticketId}}"/>
                   {{/if}}
				<input type="hidden" name="profileId" value="{{= profileId}}"/>
			</form>
		</div>
	</div>
	<div class="modal-footer">
        <div class="modal-footer-cont">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" class="btn">Отменить</button>
    	</div>
	</div>
</script>

<script id="ticket-item-template" type="text/x-jquery-template">
       <b>{{= name}}</b>
       <br>
       Цена билета:
       <span class="hl">{{= price}}</span> руб.
        <br>
       Начало продаж: <span class="hl">{{= DateUtils.formatDateTime(timeSalesStart, "d.m.Y H:i")}}</span>
        <br>
       Окончание продаж: <span class="hl sales-end-time" >{{= DateUtils.formatDateTime(timeSalesFinish, "d.m.Y H:i")}}</span>
        <br>
       (
       {{if amount == 0}}
            {{if purchaseCount}}
               {{= StringUtils.declOfNum(purchaseCount, ["Продан", "Продано", "Продано"])}}
               {{= purchaseCount}}
               {{= StringUtils.declOfNum(purchaseCount, ["билет", "билета", "билетов"])}}
            {{else}}
                Ни один билет не продан.
            {{/if}}
       {{else amount - purchaseCount > 0}}
           {{= StringUtils.declOfNum(amount - purchaseCount, ["Остался", "Осталось", "Осталось"])}}
           {{= amount - purchaseCount}}
           {{= StringUtils.declOfNum(amount - purchaseCount, ["билет", "билета", "билетов"])}}
       {{else}}
           Билетов не осталось
       {{/if}}
       )
        <br>
       {{= description}}
       <a href="javascript:void(0);" class="edit-ticket">Редактировать билет</a>
       &nbsp;&nbsp;<a href="javascript:void(0);" class="stop-ticket-sales">Остановить продажи</a>
       {{if purchaseCount == 0}}
           &nbsp;&nbsp;<a href="javascript:void(0);" class="delete-ticket">Удалить билет</a>
       {{/if}}
        <br>
        <br>
</script>

   <script id="tickets-wrapper" type="text/x-jquery-template">
       <div class="span7">
           {{if isMerchant}}
        <h3>Варианты билетов:</h3>
               <div class="clearfix tickets-list"></div>
               <br/>
               <a href="javascript:void(0);" class="add-ticket">+ Добавить билет</a>
           {{else}}
               Событие не может продавать билеты
           {{/if}}
       </div>
   </script>