<script id="image-template" type="text/x-jquery-template">
    <div class="photo-album-list-option">
        <i class="icon-attach-link icon-white show-links tooltip" data-tooltip="Показать ссылки"></i>
        <i class="icon-close icon-white delete tooltip" data-tooltip="Удалить"></i>
    </div>
    <div class="photo-list-cover">
        <a href="javascript:void(0)" class="photo-list-cover-block preview">
            <img src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.PHOTO_PREVIEW, ImageType.PHOTO)}}" alt="{{= authorName}}">
        </a>
    </div>
</script>

<script id="image-upload-template" type="text/x-jquery-template">
    <h2>Загрузка картинок</h2>
    <h3>Только что загруженные:</h3>
    <br/>
    <div class="images-placeholder"></div>
    <br/>
    <button class="btn btn-primary upload-image">Загрузить</button>
    <br/><br/>
    <h3>Ранее загруженные:</h3>
    <br/>
    <div class="last-uploaded-images-placeholder"></div>
</script>


<script id="image-size-links-template" type="text/x-jquery-template">
    <div class="modal-header">
         <a href="javascript:void(0)" class="close">×</a>
        <div class="modal-title">
            <span id="titleHeader">Ссылки на размеры изображения</span>
        </div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body" style="overflow: visible">
        <form id="image-size">
            <label>
                <input type="radio" name="imageSize" value="" checked>
                    <span>Оригинал</span>
                </input>
            </label>
            <label>
                <input type="radio" name="imageSize" value="ORIGINAL">
                    <span>Пережатый оригинал</span>
                </input>
            </label>
            <label>
                <input type="radio" name="imageSize" value="BIG">
                    <span>Средний размер</span>
                </input>
            </label>
            <label>
                <input type="radio" name="imageSize" value="SMALL_AVATAR">
                    <span>Маленький квадрат</span>
                </input>
            </label>
            <label>
                <input type="radio" name="imageSize" value="PRODUCT_COVER_NEW">
                    <span>Большой квадрат</span>
                </input>
            </label>
        </form>
        <br/>
        <div class="input-field">
            <textarea id="image-link"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <button type="reset" class="btn">Закрыть</button>
            <a id="image-preview" href="{{= imageUrl}}" class="btn btn-primary" target="_blank">Просмотр</a>
        </div>
    </div>
</script>