<script id="admin-uploaded-file-template" type="text/x-jquery-template">
    <a href="{{= fileUrl}}">{{= name}}</a>
</script>

<script id="admin-file-upload-template" type="text/x-jquery-template">
    <h2>Загрузка файлов</h2>
    <h3>Только что загруженные:</h3>
    <br/>
    <div class="files-placeholder"></div>
    <br/>
    <button class="btn btn-primary upload-file">Загрузить</button>
    <br/><br/>
    <h3>Ранее загруженные:</h3>
    <br/>
    <div class="last-uploaded-files-placeholder"></div>
</script>