<script id="campaign-item-template" type="text/x-jquery-template">
    <tr>
        <td>
            <div class="aff-project-cover">
                <a href="https://{{= workspace.serviceUrls.mainHost}}/campaigns/{{= campaign.webCampaignAlias}}">
                    <img src="{{= ImageUtils.getThumbnailUrl(campaign.imageUrl, ImageUtils.SMALL)}}">
                </a>
            </div>
            <div class="aff-project-name">
                <a href="https://{{= workspace.serviceUrls.mainHost}}/campaigns/{{= campaign.webCampaignAlias}}">{{= campaign.name}}</a>
            </div>
        </td>
        <td class="align-center">
            {{if campaign.targetAmount}}
                <span class="pledged">
                    {{= StringUtils.humanNumber(campaign.targetAmount)}}<span class="b-rub">Р</span>
                </span>
            <br>
            <small class="muted">из</small>
            <br>
            {{= StringUtils.humanNumber(campaign.collectedAmount)}} <span class="b-rub">Р</span>
            {{else}}
                Нет финансовой цели
            {{/if}}
        </td>
        <td>
            {{if $data.campaign.timeFinish}}
                {{if DateUtils.getDaysTo($data.campaign.timeFinish) > 0}}
                    {{= DateUtils.getDaysTo(campaign.timeFinish)}}&nbsp;{{= StringUtils.declOfNum(DateUtils.getDaysTo(campaign.timeFinish), ["день", "дня", "дней"])}}
                {{else DateUtils.getHoursTo($data.campaign.timeFinish) > 0}}
                    {{= DateUtils.getHoursTo(campaign.timeFinish)}}&nbsp;{{= StringUtils.declOfNum(DateUtils.getHoursTo(campaign.timeFinish), ["час", "часа", "часов"])}}
                {{else}}
                    Проект завершен<br/>{{= DateUtils.formatDate(campaign.timeFinish, "D MMMM YYYY")}}
                {{/if}}
            {{else}}
                Без ограничений
            {{/if}}
        </td>
        <!--
        <td>
            200 <span class="b-rub">Р</span>
        </td>
        -->
        <td>
            {{= offer.affiliateProfitPercent}}%
        </td>
        <td>
            <a class="btn btn-primary btn-small" href="/widgets.html?campaignId={{= campaign.campaignId}}">Выбрать промо-материал</a>
            <a class="btn btn-mini mrg-t-5 js-add-remove-from-favorites {{if offer.inFavorites}}hide{{/if}}" data-url="/add-to-favorites.json" data-offer-id="{{= offer.offerId}}" href="javascript:void(0);">Добавить в мои офферы</a>
            <a class="btn btn-warning mrg-t-5 btn-small js-add-remove-from-favorites {{if !offer.inFavorites}}hide{{/if}}" data-url="/remove-from-favorites.json" data-offer-id="{{= offer.offerId}}" href="javascript:void(0);">Удалить из моих офферов</a>
        </td>
    </tr>
</script>
<script id="top-campaigns-item-template-affilate" type="text/x-jquery-template">
    <div class="project-card-item">
        <a class="project-card-link" href="/campaigns/{{= webCampaignAlias}}">
            <span class="project-card-cover-wrap">
                <span class="project-card-cover">
                    <img class="central-block" src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.MEDIUM)}}"/>
                    <span class="vertical-align"></span>
                </span>
            </span>
            <span class="project-card-name"><span class="div-b">{{= name}}</span></span>
            <span class="project-card-descr"><span class="div-b">{{= shortDescription}}</span></span>
            <span class="project-card-footer">
                {{if (status == "FINISHED")}}
                <span class='project-card-info{{if targetStatus == "SUCCESS"}} success'>
                        <i class="project-success-icon"></i>
                    {{else}}">
                    {{/if}}
                    <span class="project-card-finish pos-align-mid">
                        {{if targetStatus == "SUCCESS"}}
                        ПРОЕКТ УСПЕШНО ЗАВЕРШЕН
                        {{else}}
                        ПРОЕКТ ЗАВЕРШЕН
                        {{/if}}
                    </span>
                    {{if targetAmount}}
                    <span class="project-card-progress success">
                        <span class="pcp-bar" style="width:{{= 100*collectedAmount/targetAmount % 100}}%;"></span>
                    </span>
                    {{/if}}
                </span>
            {{else}}

                <span class="project-card-info">
                        {{if $data.timeFinish}}
                        <span class="project-card-days">
                            {{if DateUtils.getDaysTo($data.timeFinish) > 0}}
                                {{= StringUtils.declOfNum(DateUtils.getDaysTo(timeFinish), ["Остался", "Осталось", "Осталось"])}} {{= DateUtils.getDaysTo(timeFinish)}}&nbsp;{{= StringUtils.declOfNum(DateUtils.getDaysTo(timeFinish), ["день", "дня", "дней"])}}
                            {{else DateUtils.getHoursTo($data.timeFinish) > 0}}
                                {{= StringUtils.declOfNum(DateUtils.getHoursTo(timeFinish), ["Остался", "Осталось", "Осталось"])}} {{= DateUtils.getHoursTo(timeFinish)}}&nbsp;{{= StringUtils.declOfNum(DateUtils.getHoursTo(timeFinish), ["час", "часа", "часов"])}}
                            {{else}}
                                Проект завершен
                            {{/if}}
                        </span>
                        {{/if}}
                        {{if targetAmount}}
                        <span class="project-card-target">
                            Цель <b>{{= targetAmount}} <span class="b-rub">Р</span></b>
                        </span>
                        <span class="project-card-progress{{if collectedAmount >= targetAmount}} over-progress{{/if}}">
                            <span class="pcp-bar" style="width:{{= (100*collectedAmount/targetAmount) % 100}}%;"></span>
                        </span>
                        {{/if}}
                    </span>
            {{/if}}
                <span class="project-card-pledged">
                    {{if targetAmount}}
                    <span class="pcp-label">СОБРАНО {{= Math.floor(100*collectedAmount/targetAmount)}}%</span>
                    {{else}}
                    <span class="pcp-label">СОБРАНО</span>
                    {{/if}}
                    <span class="pcp-value">{{= StringUtils.humanNumber(collectedAmount)}} <span class="b-rub">Р</span></span>
                </span>
            </span>
        </a>
        {{if count}}
        <div class="project-card-update">
            <div class="pcu-count">{{= count}}</div>
        </div>
        {{/if}}
    </div>
</script>

<script id="affiliate-news-item-template" type="text/x-jquery-template">
    <li class="aff-news-item">
        <div class="aff-news-name">{{= title}}</div>
        <div class="aff-news-date">{{= DateUtils.formatDate(createDate)}}</div>
        <div class="aff-news-text">{{html text}}</div>
    </li>
</script>

<script id="affiliate-source-item-template" type="text/x-jquery-template">
    <tr data-source-id="${sourceId}">
        <td class="js-source-name">${name}</td>
        <td class="js-source-description">${description}</td>
        <td>
            <div class="btn-group1">
                    <span class="btn btn-primary btn-mini js-edit-source-button" data-target="#modal-stream-create">
                        <i class="icon-edit icon-white"></i>
                    </span>
                    <span class="btn btn-mini js-delete-source-button" data-target="#modal-stream-delete">
                        <i class="icon-trash"></i>
                    </span>
            </div>
        </td>
    </tr>
</script>

<script id="affiliate-builtin-sales-button-template" type="text/x-jquery-template">
<div>
    <img id="{{= id}}" style="cursor: pointer;" src="https://{{= workspace.hosts.staticAppUrl}}/images/affiliate/knopka.png" alt="button"/>
    {{html "<sc"+"ript>"}}
        (function(){
        var f = document.getElementById("js-planeta-buy-share-script");
        if (f == null){
        f = document.createElement("script");
        f.setAttribute("src","https://{{= workspace.hosts.widgetsAppUrl}}/js/button.js?campaignId={{= campaignId}}");
        f.setAttribute("id","js-planeta-buy-share-script");
        f.onload = function(){planeta.init("{{= id}}");};
        document.body.appendChild(f);
        } else {
        planeta.init("{{= id}}");
        }})();
    {{html "</sc"+"ript>"}}
</div>
</script>