<!--include css /css-generated/audio-modal.css-->
<script id="playlist-form-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a data-dismiss="modal" class="close">×</a>

        <div class="modal-title">Свойства плейлиста</div>
        <div class="modal-header-shadow"></div>
    </div>
    <form>
        <div class="modal-body">
            <div class="modal-select-header short-label">
                <input type="hidden" name="profileId" id="profileId" value="{{= profileId}}"/>

                <div class="fieldset">
                    <div class="label-name"><label for="name">Название:</label></div>

                    <div class="input input-field">
                        <input name="name" id="name" placeholder="Введите название" value="{{= $data.name}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-cont">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="reset" class="btn">Отменить</button>
            </div>
        </div>
    </form>
</script>

<script id="audio-track-form-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close">×</a>
        <div class="modal-title">Редактировать свойства трека</div>
    </div>

    <form>
        <div class="modal-body">
            <div class="modal-select-header short-label">
                <input type="hidden" name="profileId" value="{{= profileId}}"/>
                <input type="hidden" name="trackId" value="{{= trackId}}"/>

                <div class="fieldset">
                    <div class="label-name">
                        <label for="trackName">Название:</label>
                    </div>

                    <div class="input input-field">
                        <input name="trackName"
                               id="trackName"
                               value="{{= trackName}}"
                               placeholder="Введите название трека"
                              />
                    </div>
                </div>

                <div class="fieldset">
                    <div class="label-name">
                        <label for="artistName">Имя исполнителя:</label>
                    </div>

                    <div class="input input-field">
                        <input name="artistName" id="artistName" value="{{= artistName}}"
                               placeholder="Введите имя исполнителя"/>
                    </div>
                </div>

                <div class="fieldset">
                    <div class="label-name">
                        <label for="lyrics">Текст песни:</label>
                    </div>

                    <div class="input input-field">
                        <textarea name="lyrics" id="lyrics" placeholder="Введите текст песни">{{= lyrics}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-cont">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="reset" class="btn">Отменить</button>
            </div>
        </div>
    </form>
</script>

<script id="audio-np-player" type="text/x-jquery-template">
    <div class="audio-modal">
        <div class="audio-modal-inner">

            <div class="audio-modal-header"></div>

            <div class="audio-modal-middle">
                <div class="empty-block"></div>
                <div class="scroll">
                    <div class="modal-scroll-content">
                        <div class="a-m-m-list"></div>
                    </div>
                </div>
            </div>

            <div class="audio-modal-footer">
                <div class="am-playlist-block"></div>
                <div class="a-m-f-textarea-wrap"></div>
            </div>

            <div class="a-m-m-actions-btn-pop-up-wrap"></div>

        </div>
    </div>
</script>

<script id="audio-np-header-panel" type="text/x-jquery-template">
    <div class="a-m-h-controls"></div>
    <div class="a-m-h-progress-bars">
        <div class="song-progress-bar current"></div>
        <div class="song-progress-bar volume"></div>
    </div>
</script>


<script id="audio-np-controls" type="text/x-jquery-template">
    <div class="a-m-h-c-main-controls">
        <div class="a-m-h-c-m-c-play {{if $data.playerState === PlayerState.PLAY}}active{{/if}} tooltip" data-tooltip="{{if $data.playerState === PlayerState.PLAY}}Пауза{{else}}Воспроизвести{{/if}}">
            <i class="audio-modal-icon-play"></i>
        </div>
        <div class="a-m-h-c-m-c-next-prev">
            <div class="a-m-h-c-m-c-n-p-prev tooltip" data-tooltip="Предыдущая композиция"><i
                    class="audio-modal-icon-prev"></i></div>
            <div class="a-m-h-c-m-c-n-p-next tooltip" data-tooltip="Следующая композиция"><i
                    class="audio-modal-icon-next"></i></div>
        </div>
    </div>
    <div class="a-m-h-c-info-wrap">
        <div class="a-m-h-c-info">
            {{if $.trim($data.artistName)}}
                <span class="a-m-h-c-info-author">{{if $data.artistName != ""}}{{= artistName}}{{else}} &nbsp; {{/if}}</span>
                <span>&nbsp;—&nbsp;</span>
            {{/if}}
            <span class="a-m-h-c-info-name">{{= $data.trackName}}</span>
        </div>
    </div>
    <div class="a-m-h-c-extra-controls">
        <!--todo ! add tooltip-->
        <div class="a-m-h-c-e-c-shuffle {{if $data.shuffle}}active{{/if}} tooltip" data-tooltip="Проигрывать в случайном порядке"><i class="audio-modal-icon-shuffle"></i></div>
        <div class="a-m-h-c-e-c-repeat {{if $data.repeat}}active{{/if}} tooltip" data-tooltip="Повтор"><i class="audio-modal-icon-repeat"></i>
        </div>
    </div>
</script>

<script id="audio-np-slider" type="text/x-jquery-template">
    <div class="song-progress-bar-inner">
        <div class="song-pln-progress-block">
            <div class="song-pln-progress">
                <div class="song-dwn-bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</script>

<script id="audio-np-volume-slider" type="text/x-jquery-template">
    <i class="audio-modal-icon-volume"></i>
    {{tmpl "#audio-np-slider"}}
</script>

<script id="audio-np-song-progress-bar" type="text/x-jquery-template">
    {{tmpl "#audio-np-slider"}}
    <div class="c-s-p-b-time" style="cursor:pointer"></div>
</script>

<script id="np-slider-tooltip" type="text/x-jquery-template">
    <div class="black-tooltip top in popup">
        <div style="position: relative; left: -50%; padding: 5px 0;">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner"></div>
        </div>
    </div>
</script>

<script id="audio-np-play-list-item" type="text/x-jquery-template">
    {{if $data.searchScope && $data.isFirst}}
        <div class="a-m-m-item title">
            {{if $data.searchScope === "USER"}}
                Мои аудиозаписи
            {{else $data.searchScope === "GLOBAL"}}
                Вся музыка
            {{/if}}
        </div>
    {{/if}}
    <div class="a-m-m-item js-item">
        <i class="audio-modal-icon-play-min"></i>

        <div class="a-m-m-info">
            {{if $.trim($data.artistName)}}
                <span class="a-m-m-info-author">{{= artistName}}</span>
                &nbsp;—&nbsp;
            {{/if}}
            <span class="a-m-m-info-name">{{= trackName}}</span>
        </div>
        <div class="a-m-m-time">{{= StringUtils.humanDuration(trackDuration)}}</div>
        <div class="a-m-m-actions">
        </div>
    </div>
</script>


<script id="audio-np-search" type="text/x-jquery-template">
    <input class="a-m-f-textarea" type="text" placeholder="Быстрый поиск">
    <i class="close hide"></i>
</script>


<script id="audio-np-play-lists-item" type="text/x-jquery-template">
    <div class="am-pl-action">
        <i class="icon-small-edit icon-gray tooltip" data-tooltip="Редактироавать"></i>
        <i class="icon-small-delete icon-gray tooltip" data-tooltip="Удалить"></i>
    </div>
    <div class="am-pl-link {{if $data.isActive}}active{{/if}}">{{= name}}</div>
</script>

<script id="audio-np-play-lists" type="text/x-jquery-template">
    <div class="am-playlist-btn {{if !workspace.isAuthorized}} disabled {{/if}}">
        <span class="js-button-caption">Плейлисты</span>
        <i class="audio-modal-icon-arrow"></i>
    </div>
    <div class="am-playlist-dropdown">
        <div class="am-playlist-list-block">
            <div class="scroll">
                <div class="modal-scroll-content">
                    <div class="am-playlist-list"></div>
                </div>
            </div>
            <ul class="am-playlist-action">
                <li class="am-pa-item js-all-my-tracks">
                    <div class="am-pa-link">
                        Мои аудиозаписи
                    </div>
                </li>
                <li class="am-pa-item js-history">
                    <div class="am-pa-link">
                        История прослушиваний
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>

<script id="audio-np-pager-loading-template" type="text/x-jquery-template">
    <div class="list-loader">
        <div class="load"></div>
    </div>
</script>


<script id="audio-global-song-progress-bar" type="text/x-jquery-template">
    <div class="track-list-item-progress-bar-wrap">
        <div class="track-list-item-progress-bar">
            <div class="track-list-item-progress-bar-dwnd"></div>
            <div class="track-list-item-progress-bar-load"></div>
        </div>
    </div>
</script>