<script id="library-item-template" type="text/x-jquery-template">
	<div class="biblio-library_link{{if selected}} active{{/if}}">
	    <div class="biblio-library_check biblio-counter">
	        <div class="biblio-counter_check"></div>
	    </div>
	    <div class="biblio-library_name">
	        {{= name}}
	    </div>
	    <div class="biblio-library_delivery">
	        {{= postIndex}}, {{= address}}
	    </div>
	</div>
</script>

<script id="library-choose-template" type="text/x-jquery-template">
    <div class="biblio-wizard-filter_search biblio-wizard-filter_search__library">
        <input type="text" class="js-library-filter form-control" placeholder="Поиск по названию библиотеки" value='{{= query}}'>
        <span class="s-icon s-icon-search"></span>
    </div>
    <div class="biblio-wizard-filter_show-checked">
        <div class="biblio-show-checked">
            <div class="biblio-show-checked_check"></div>
            <div class="biblio-show-checked_text">
                {{if showActive}}Вернуться к выбору{{/if}}
                {{if !showActive}}Показать выбранные{{/if}}
            </div>
        </div>
    </div>
    <div class="biblio-wizard-filter_switch-list">
        <div class="biblio-switch-list{{if state == 1}} active{{/if}}">
            <div class="biblio-switch-list_link biblio-switch-list_link__first">
                Картой
            </div>
            <div class="biblio-switch-list_toggle"></div>
            <div class="biblio-switch-list_link biblio-switch-list_link__second">
                Списком
            </div>
        </div>
    </div>
    <div class ="js-library-type-choose biblio-wizard-tabs biblio-wizard-tabs-libraries cf"></div>
</script>

<script id="library-marker-template" type="text/x-jquery-template">
</script>

<script id="wizard_add_info-library-template" type="text/x-jquery-template">
    <span {{if books < 1}}style="display:none"{{/if}}>{{if books > 1}}Все {{= books}} в{{/if}}{{if books < 2}}В{{/if}}ыбранн{{= StringUtils.plurals(books, ['ых', 'ое', 'ых'])}} издани{{= StringUtils.plurals(books, ['й', 'е', 'я'])}} отправ{{= StringUtils.plurals(books, ['я', 'и', 'я'])}}тся в {{if libs > 1}}{{= libs}}{{/if}}{{if libs > 0}} указанн{{= StringUtils.plurals(libs, ['ыx', 'ую', 'ые'])}} вами библиотек{{= StringUtils.plurals(libs, ['', 'у', 'и'])}}{{else}} библиотеки, которые вы выберете{{/if}}.</span>
</script>
