<script id="payment-legacy-information" type="text/x-jquery-template">
        <div class="biblio-wizard_forms">
        <div class="pln-payment-box pln-payment-box__bottom-0">
            <div class="pln-payment-box_head">
                Кто оплачивает покупку?
            </div>

            <div class="pln-payment-box_field-group">
                <div class="pln-payment-box_field-row pln-payment-box_field-pdg">
                    <b>Внимание! Покупатель должен быть резидентом РФ.</b> Будьте внимательны при заполнении, все указанные данные должны соответствовать информации, содержащейся в документе, удостоверяющем  личность, чтобы подтвердить и однозначно идентифицировать вас в качестве инвестора.
                </div>

                <div class="pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Номер телефона<span class="required-marker">*</span>
                    </div>                      
                    <div class="pln-payment-box_field-value">
                        <input name="phoneNumber" class="pln-payment-box_field-input" type="text" placeholder="+7 ___ ___ __ __">
                    </div>
                </div>
                <div class="pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">Введите Ваш e-mail</div>
                    <div class="pln-payment-box_field-value">
                        <div class="input-field dropdown input-warning-dropdown">
                            <input class="pln-payment-box_field-input js-email-input" type="email" placeholder="me@example.com" value="{{= email}}">

                            <div class="dropdown-popup">
                                <div class="dropdown-popup-caret"></div>
                                <div class="dropdown-popup-body">
                                    <div id="hint" class="warning-message-error" style="display: block;">
                                        Пользователь с таким e-mail уже зарегистрирован.
                                        <br>
                                        <a class="signup-link" href="javascript:void(0)">Войти под ним.</a>
                                        <br>
                                        <sub>
                                            Если Вы не регистрировались на этот email, Вы можете написать
                                            об этом на <a href="mailto:support@planeta.ru">support@planeta.ru</a>
                                        </sub>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Полное наименование организации
                    </div>
                    <div class="pln-payment-box_field-value">
                        <textarea name="orgName" rows="2" class="pln-payment-box_field-input"></textarea>
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Сокращённое наименование организации (бренд)
                    </div>
                    <div class="pln-payment-box_field-value">
                        <textarea name="orgBrand" rows="2" class="pln-payment-box_field-input"></textarea>
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Дата регистрации
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input class="pln-payment-box_field-input pln-payment-box_field-input__date js-date" placeholder="12.12.1986" type="text"  data-planeta-ui="dateSelect" name="birthDate" value="{{= birthDate}}">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Веб-сайт
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="webSite" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        ИНН
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="inn" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>


            </div>
        </div>

        <div class="pln-payment-box pln-payment-box__bottom-0">
            <div class="pln-payment-box_head">
                Местонахождение в соответствии с уставом
            </div>

            <div class="pln-payment-box_field-group">

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Страна
                    </div>
                    <div class="pln-payment-box_field-value">
                        <select class="pln-select pln-select-xlg" data-planeta-ui="country" name="regCountryId" value="{{= regCountryId}}">
                        </select>
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Регион
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="regRegion" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Населённый пункт
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="regLocation" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Адрес
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="regAddress" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Индекс
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="regIndex" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class="pln-payment-box_field-row pln-payment-box_field-pdg">
                    <div class="check-row js-address-toggle">
                        <span class="checkbox{{if placeFact}} active{{/if}}"></span>
                        <span class="checkbox-label"><b>Фактическое местонахождение совпадает с указанным в уставе</b></span>
                    </div>
                </div>


            </div>
        </div>
        <div class="pln-payment-box pln-payment-box__bottom-0{{if placeFact}} hide{{/if}}" id="js-address-block">
            <div class="pln-payment-box_head">
                Фактический адрес
            </div>

            <div class="pln-payment-box_field-group">

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Страна
                    </div>
                    <div class="pln-payment-box_field-value">                        
                        <select class="pln-select pln-select-xlg" data-planeta-ui="country" name="liveCountryId" value="{{= liveCountryId}}">
                        </select>
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Регион
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="liveRegion" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Населённый пункт
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="liveLocation" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Адрес
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="liveAddress" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Индекс
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="liveIndex" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>


            </div>
        </div>
        <div class="pln-payment-box">
            <div class="pln-payment-box_head">
                Информация о руководителе
            </div>

            <div class="pln-payment-box_field-group">

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Фамилия
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="lastName" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Имя
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="firstName" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Отчество
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="middleName" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class=" pln-payment-box_field-row">
                    <div class="pln-payment-box_field-label">
                        Должность
                    </div>
                    <div class="pln-payment-box_field-value">
                        <input name="bossPosition" class="pln-payment-box_field-input" type="text">
                    </div>
                </div>

                <div class="pln-payment-box_field-row pln-payment_type-help">
                    Внимание! Для юридических лиц возможна оплата только по безналичному расчёту.
                </div>

            </div>
        </div>
    </div>
</script>