<script id="breadcrumbs-start2-template" type="text/x-jquery-template">
    <div class="tb-top">
        {{if $data.titleGroup && $data.titleGroup.profileId}}
            {{if $data.titleGroup.profileType === "HIDDEN_GROUP"}}
                <div class="tbt-group">
                    <div class="tbt-group-ava">
                        <a href="{{= ProfileUtils.getAbsoluteUserLink(titleGroup.creatorProfileId, titleGroup.alias) }}">
                            <img src="{{= ImageUtils.getThumbnailUrl(titleGroup.imageUrl, ImageUtils.SMALL_AVATAR, ImageType.USER) }}"
                                 alt="{{= titleGroup.displayName }}">
                        </a>
                    </div>
                    <div class="tbt-group-name-block">
                        <div class="tbt-group-name-cont">
                            <a
                            {{if targetBlank}} target="_blank"{{/if}}href="{{= ProfileUtils.getAbsoluteUserLink(titleGroup.creatorProfileId, titleGroup.alias) }}"
                            class="tbt-group-name profile-link">{{= titleGroup.displayName }}</a>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="tbt-group">
                    <div class="tbt-group-ava">
                        <a href="{{= ProfileUtils.getAbsoluteUserLink(titleGroup.profileId, titleGroup.alias) }}">
                            <img src="{{= ImageUtils.getThumbnailUrl(titleGroup.imageUrl, ImageUtils.SMALL_AVATAR, ImageType.GROUP) }}"
                                 alt="{{= titleGroup.displayName }}">
                        </a>
                    </div>
                    <div class="tbt-group-name-block">
                        <div class="tbt-group-name-cont">
                            Сообщество <a
                            {{if targetBlank}} target="_blank"{{/if}}href="{{= ProfileUtils.getAbsoluteUserLink(titleGroup.profileId, titleGroup.alias) }}"
                            class="tbt-group-name profile-link">{{= titleGroup.displayName }}</a>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div class="tbt-link">
            <div class="tbt-link-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" itemprop="url">
                    <div itemprop="title">Проекты</div>
                </a>
            </div>

            {{if (!$data.subsection ||
             $data.subsection == "about"
              || $data.subsection == "comments"
              || $data.subsection == "backers"
              || $data.subsection == "updates" ) && $data.objectId > 0 }}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/search/projects?query=&categories={{= campaign.tags[0].mnemonicName}}" itemprop="url">
                    <div itemprop="title">
                    {{= campaign.tags[0] && campaign.tags[0].name || "без категории"}}
                    </div>
                </a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item"><span>{{= campaign.name}}</span>
            </div>

            {{else subsection == "donate"}}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/search/projects?query=&categories={{= campaign.tags[0].mnemonicName}}">
                    {{= campaign.tags[0] && campaign.tags[0].name || "без категории"}}
                </a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item"><a href="/campaigns/{{= campaign.webCampaignAlias }}">{{= campaign.name}}</a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                {{if campaign.tags[0].mnemonicName == "CHARITY"}}
                <span>Помочь проекту</span>
                {{else}}
                <span>Поддержать проект</span>
                {{/if}}
            </div>

            {{else subsection == "admin" && $data.titleGroup}}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Управление проектами сообщества</span>
            </div>
            {{else !$data.subsection && $data.objectId == "create" && !$data.titleGroup}}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Создание сообщества</span>
            </div>
            {{else !$data.subsection && $data.objectId == "create" }}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Создание проекта</span>
            </div>
            {{else !$data.subsection && $data.titleGroup}}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>{{= titleGroup.name}}</span>
            </div>


            {{else subsection == "orders" }}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/search/projects?query=&categories={{= campaign.tags[0].mnemonicName}}">
                    {{= campaign.tags[0] && campaign.tags[0].name || "без категории"}}
                </a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/campaigns/{{= campaign.webCampaignAlias }}">{{= campaign.name}}</a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Продажи</span>
            </div>
            {{else subsection == "affiliate-stats" }}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/search/projects?query=&categories={{= campaign.tags[0].mnemonicName}}">
                    {{= campaign.tags[0] && campaign.tags[0].name || "без категории"}}
                </a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/campaigns/{{= campaign.webCampaignAlias }}">{{= campaign.name}}</a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Статистика</span>
            </div>


            {{else subsection == "shares-stats" }}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/search/projects?query=&categories={{= campaign.tags[0].mnemonicName}}">
                    {{= campaign.tags[0] && campaign.tags[0].name || "без категории"}}
                </a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/campaigns/{{= campaign.webCampaignAlias }}">{{= campaign.name}}</a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Вознаграждения</span>
            </div>


            {{else subsection == "advertising-tools" }}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/search/projects?query=&categories={{= tags[0].mnemonicName}}">
                    {{= tags[0] && tags[0].name || "без категории"}}
                </a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <a href="/campaigns/{{= webCampaignAlias }}">{{= name}}</a>
            </div>
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Рекламные инструменты</span>
            </div>

            {{else subsection == "edit" && titleGroup.profileId > 0}}
            <div class="tbt-link-item item-sep"></div>
                {{if campaign.status == "DRAFT"}}
                    <div class="tbt-link-item">
                        <span>Создание проекта</span>
                    </div>
                {{else}}
                    <div class="tbt-link-item">
                        <a href="/campaigns/{{= campaign.webCampaignAlias }}">
                            {{= campaign.name}}
                        </a>
                    </div>
                    <div class="tbt-link-item item-sep"></div>
                    <div class="tbt-link-item">
                        <span>Редактирование проекта</span>
                    </div>
                {{/if}}
            {{else subsection == "edit" && titleGroup.profileId == 0}}
            <div class="tbt-link-item item-sep"></div>
            <div class="tbt-link-item">
                <span>Создание сообщества</span>
            </div>
            {{/if}}
        </div>
    </div>
</script>
