<script id="broadcast-subscription-template" type="text/x-jquery-template">

    <div class="tv-stream-remind pln-dropdown {{if email}}tv-stream-remind__unsubscr open{{/if}}">
        <div class="tv-stream-remind_cont">
            {{if !email}}
            <div class="tv-stream-remind_subscr">
                <div class="tv-stream-remind_btn">
                    {{if profileId == -1 }}
                    <span class="btn btn-primary btn-block pln-d-switch js-open-subscribe">Напомнить</span>
                    {{else}}
                    <span class="btn btn-primary btn-block pln-d-switch js-accept-subscribe">Напомнить</span>
                    {{/if}}
                </div>
                <div class="tv-stream-remind_lbl">
                    <span class="s-icon s-icon-question-circle"></span>
                    Напомнить вам о трансляции?
                </div>
            </div>
            {{else}}
            <div class="tv-stream-remind_unsubscr">
                <div class="tv-stream-remind_btn">
                    <span class="btn btn-primary btn-block js-cancel-subscribe">Убрать напоминание</span>
                </div>
                <div class="tv-stream-remind_lbl">
                    <span class="s-icon s-icon-check-circle"></span>
                    Мы напомним вам.
                </div>
            </div>
            {{/if}}
        </div>

        <div class="tv-stream-remind_popup pln-d-popup">
            <div class="pln-d-popup-tail"></div>
            <div class="tv-stream-remind_popup_cont">
                {{if profileId == -1}}
                <div class="tv-stream-remind_popup_action" style="{{if email}}display:none{{/if}}">
                    <div class="tv-stream-remind_popup_head">
                        Введите свой e-mail
                    </div>
                    <div class="tv-stream-remind_popup_form {{= emailError}}">
                        <input type="text" class="form-control tv-stream-remind_popup_input js-email" placeholder="email@example.com">
                        <button class="btn btn-primary tv-stream-remind_popup_btn  js-accept-subscribe">Готово</button>
                        <div class="tv-stream-remind_popup_form_error">Email не правильный</div>
                    </div>
                </div>
                {{/if}}
                {{if email}}
                    <div class="tv-stream-remind_popup_text">
                        Вы получите письмо с напоминанием на адрес <b>{{= email}}</b> за 3 часа до начала
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

</script>


