<!--include css /css-generated/project.css-->


<script id="campaigns-main-layout" type="text/x-layout-template">
    <div id="main-container" class="wrap-container">
        <div id="center-container">
            <div id="section-container-extra"></div>
            <div id="content-view"></div>
        </div>
    </div>
</script>

<script id="campaign-faq-template" type="text/x-jquery-template">
    <div class="project-faq_i">
        <div class="project-faq_i-question">{{= question}}</div>
        <div class="project-faq_i-answer" style="display: none;">{{html answer}}</div>
        {{if PrivacyUtils.isAdmin() || PrivacyUtils.hasAdministrativeRole()}}
        <div class="project-faq_i-action">
            <i class="icon-edit js-edit-faq" data-target="#modal-faq-answer" data-toggle="modal"></i>
            <i class="icon-trashcan js-delete-faq"></i>
        </div>
        {{/if}}
    </div>
</script>

<script id="campaign-faq-modal-edit-template" type="text/x-jquery-template">
    <a class="close" data-dismiss="modal">×</a>

    <div class="project-faq_add-answer">
        {{tmpl '#campaign-faq-edit-template'}}
    </div>
</script>

<script id="project-view-add" type="text/x-template">
    <div class="project-view-add">
        <div class="project-view-add_i">
            <a :href="'/search/projects?query=&categories=' + tag" class="project-view-add_link">
                {{tagTitle}}
            </a>
        </div>
        <div class="project-view-add_i">
            <a v-if='locTitle' :href="'/search/projects?query=&' + loc" class="project-view-add_link">
                {{locTitle}}
            </a>
        </div>
    </div>
</script>

<script id="project-view-card" type="text/x-template">
    <div class="project-view-card">
        <div class="project-view-card_add d-ld-none d-tp-block d-none">
            <project-view-add :campaign="campaign"></project-view-add>
        </div>

        <div v-if='showShare' class="project-view-card_share pln-dropdown">
            <span class="project-view-card_share-switch pln-d-switch">
                Поделиться
            </span>
            <div class="project-view-card_share-popup pln-d-popup">
                <div class="project-view-share">
                    <div class="project-view-share_block">
                        <div class="project-view-share_lbl">Поделиться —</div>
                        <div class="project-view-share_val">
                            <div class="sharing-popup-social sharing-mini"></div>
                        </div>
                    </div>
                    <div class="project-view-share_code" v-on:click="click">
                        <span class="project-view-share_code-link">&lt; {{$t('campaign.code')}} &gt;</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-view-card_cont">
            <project-view-card_media :campaign="campaign"></project-view-card_media>
        </div>
    </div>
</script>

<script id="project-view-card_media" type="text/x-template">
    <div class="project-view-card_media">
        <div class="project-view-card_media-in">
            <img src="/libs/image.php?url=http://layout.planeta.ru/images/content/image/07.jpg&amp;w=640&amp;h=360">
            <div v-if="video" class="bb-video-icon"></div>
        </div>
    </div>
</script>

<script id="project-view-top" type="text/x-template">
    <div class="project-view-top">
        <div class="wrap-row">
            <div class="m-col-ld-8 col-12">
                <div class="project-view-status">
                    <div v-if="success" class="status-badge status-badge__m status-badge__success">Успешно завершен
                    </div>
                </div>
                <div class="project-view-name"><h1>{{name}}</h1></div>
                <div class="project-view-short-description d-tp-block d-none">
                    <span class="project-view-short-description_span">{{shortDescription}}</span>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="campaign-share-modal-numberpicker-template" type="text/x-jquery-template">
    <div class="donate-reward_price">
        <div class="donate-reward_price-val"> {{= StringUtils.humanNumber(price * quantity)}} ₽</div>
        <div class="donate-reward_item-count">
            {{if amount - purchaseCount != 1}}
                <div class="donate-reward-counter">
                    <input type="text" name="quantity" class="form-control donate-reward-counter_val" value="{{= quantity}}">
                    <span class="donate-reward-counter_btn js-decrease">–</span>
                    <span class="donate-reward-counter_btn plus js-increase">+</span>
                </div>
            {{/if}}
        </div>
    </div>
</script>

<script id="manual-modal-input-template" type="text/x-jquery-template">
    <div class="donate-action_val">
        <input type="tel" name="donateAmount" class="form-control" value="{{= StringUtils.humanNumber(donateAmount)}}">
    </div>
</script>

<script id="share-modal-template" type="text/x-jquery-template">
    <div class="js-modal-inner"></div>
</script>



<script id="finish-campaign-traffic-campaign-card-list-template" type="text/x-jquery-template">
    <div class="wrap-row">
        <div class="col-12">
            <div class="project-finish_project">
                <div class="project-card-list mrg-t--40 js-list">
                </div>
            </div>
        </div>
    </div>
</script>

<script id="project-admin-controls" type="text/x-template">
    <div class="project-admin-controls">
        <div class="wrap">
            <div class="project-admin-controls_cont">
                <div class="project-admin-controls_info">
                    <div v-if='canManage' class="project-admin-info">
                        <project-admin-info v-bind="i" v-for="i in infos"></project-admin-info>
                    </div>
                </div>
                <div class="project-admin-controls_action">
                    <div v-if="a.can" class="project-admin-controls_action-i" v-for="a in actions">
                        <span v-on:click="a.click" :class="a.btnStyle" class="btn">
                            {{a.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id='project-admin-info' type='text/x-template'>
    <div class="project-admin-info_i">
        <div class="project-admin-info_lbl">{{ $t(label) }}</div>
        <div class="project-admin-info_val">
            {{name}}
            <a :href="url" class="project-admin-info_change-link">{{ $t(changeLabel) }}</a>
        </div>
    </div>
</script>

<script id='project-author-controls' type='text/x-template'>
    <div class="project-author-controls">
        <div class="wrap">
            <div class="project-author-controls_list">
                <div v-if="it.can" :class="{'project-draft drop-down': it.draft}"
                     class="project-author-controls_i"
                     v-for="it in items">
                <span v-on:click="it.click"
                      :class="{'drop-target': it.draft}"
                      class="project-author-controls_link">
                    <span class="project-author-controls_ico">
                        <svg width="60" height="60" viewBox="0 0 60 60">
                            <path :d="it.path1" class="project-author-controls_c-b"></path>
                            <path v-if="it.path2" :d="it.path2" fill="#FFF"></path>
                            <path :d="it.path3" class="project-author-controls_c-a"></path>
                            <path v-if="it.path4" :d="it.path4" class="project-author-controls_c-a"></path>
                        </svg>
                    </span>
                    <span class="project-author-controls_name">{{ $t(it.name) }}</span>
                </span>
                </div>
            </div>
        </div>
</script>