<!--include css /css-generated/project.css-->

<script id="campaigns-layout" type="text/x-layout-template">
    <div id="main-container" class="wrap-container">
        <div class="cont-header">
            <div class="cont-header_row">
                <div class="wrap">
                    <div id="header-container" class="col-12"></div>
                </div>
            </div>
        </div>
        <div id="center-container">
            <div class="model-preview"></div>
            <div class="wrap">
                <div id="menu-container" class="col-12"></div>
                <div id="section-container"></div>
                <div id="content-view"></div>
                <div id="right-sidebar"></div>
            </div>
            <div class="project-create_action-wrap">
                <div class="project-create_action">
                    <div class="wrap">
                        <div id="footer-container" class="col-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="campaign-edit-top-campaign-template" type="text/x-jquery-template">
    <div class="project-card-list project-card-list__create">
        <div class="project-card-item">
            <span class="project-card-link">
                {{tmpl '#campaign-edit-top-campaign-inner-template'}}
            </span>
        </div>
    </div>
</script>