<!--include css /css-generated/payment.css-->
<!--include css /css-generated/project.css-->
<!--===================== Donate details page ============================-->



<script id="campaign-share-numberpicker-template" type="text/x-jquery-template">
    {{if amount - purchaseCount != 1}}
        <div class="donate-reward-counter">
            <input type="text" name="quantity" class="form-control donate-reward-counter_val" value="{{= quantity}}">
            <span class="donate-reward-counter_btn js-decrease disabled">–</span>
            <span class="donate-reward-counter_btn js-increase plus">+</span>
        </div>
    {{/if}}
</script>

<script id="new-payment-system-template" type="text/x-jquery-template">
    <div class="ppt-item-cont">
        <div class="ppt-image">
            <img src='{{= workspace.staticNodesService.getResourceUrl(imageUrl)}}' alt="{{= name}}">
        </div>
        <div class="ppt-name">
            {{= name}}
        </div>
    </div>
</script>