<script id="charity-event-order-view-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-charity-request">
        <div class="modal modal-charity-request">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>

            <form>
                <div class="charity-request">

                    <div class="charity-request_head">
                        Запишитесь на занятия
                    </div>
                    <div class="charity-request_head-text">
                        Все поля обязательны для заполнения.
                    </div>


                    <div class="charity-request_group-list">


                        <div class="charity-request_group">

                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-8">
                                    <input type="text" name="fio" class="form-control">
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-8">
                                    <input type="email" name="email" class="form-control">
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Моб. телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input type="tel" name="phone" class="form-control">
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Название организации
                                </div>
                                <div class="fieldset-val col-8">
                                    <textarea rows="3" name="organizationName" class="form-control"></textarea>
                                </div>
                            </div>

                        </div>




                        <div class="charity-request_group">

                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Цель будущего мероприятия
                                </div>
                                <div class="fieldset-val col-8">
                                    <textarea rows="3" name="eventGoal" class="form-control"></textarea>
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Предполагаемый результат
                                </div>
                                <div class="fieldset-val col-8">
                                    <textarea rows="3" name="eventResult" class="form-control"></textarea>
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Предполагаемые сроки проведения
                                </div>
                                <div class="fieldset-val col-8">
                                    <textarea rows="3" name="eventExpectedTime" class="form-control"></textarea>
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Аудитория мероприятия
                                </div>
                                <div class="fieldset-val col-8">
                                    <textarea rows="3" name="eventAudience" class="form-control"></textarea>
                                </div>
                            </div>


                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl charity-request_fieldset-lbl__top col-4">
                                    Предполагаемое количество участников
                                </div>
                                <div class="fieldset-val col-8">
                                    <input type="number" name="participantsCount" class="form-control">
                                </div>
                            </div>

                        </div>




                        <div class="charity-request_group">
                            <div class="charity-request_fieldset">
                                <div class="charity-request_fieldset-lbl col-4">
                                    Форма обучения
                                </div>
                                <div class="fieldset-val col-4">
                                    <select name="eventFormat" class="pln-select charity-pln-select">
                                        <option value="лекция">лекция</option>
                                        <option value="семинар">семинар</option>
                                        <option value="тренинг">тренинг</option>
                                        <option value="мастер-класс">мастер-класс</option>
                                        <option value="вебинар">вебинар</option>
                                        <option value="практический интенсив">практический интенсив</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="charity-request_action">
                        <button class="btn btn-primary" type="button" data-event-click="send"
                                data-target="#modal-request-success" data-toggle="modal" data-dismiss="modal">Отправить</button>
                    </div>

                </div>
            </form>


        </div>
    </div>

</script>

<script id="charity-event-order-view-success-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-charity-success">
        <div class="modal modal-charity">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>


            <div class="charity-request-success">
                <div class="charity-request-success_head">
                    УРА!
                </div>
                <div class="charity-request-success_text">
                    Спасибо,&nbsp;Ваша&nbsp;заявка&nbsp;получена. С Вами свяжутся по&nbsp;электронной почте в&nbsp;ближайшее&nbsp;время!
                </div>
                <div class="charity-request-success_ico"></div>
            </div>


        </div>
    </div>
</script>

<script id="school-library-filter-search-template" type="text/x-jquery-template">
    <div class="charity-biblio_search">
        <input id="searchString" type="text" class="form-control" name="searchString" placeholder="{{= placeholder}}">
    </div>
</script>

<script id="school-library-files-not-found-template" type="text/x-jquery-template">
    {{if length == 0}}
    <div class="charity-biblio_not-found">
        К сожалению ничего не найдено
        <br>
        Попробуйте изменить запрос
    </div>
    {{/if}}
</script>

<script id="school-library-theme-template" type="text/x-jquery-template">
    <div class="charity-biblio_name">
        {{= theme}}
    </div>
</script>

<script id="school-library-file-item-template" type="text/x-jquery-template">
    <a href="{{= url}}">{{= header}}</a>
</script>