<!-- Template for chat -->
<script id="chat-template" type="text/x-jquery-template">
    <div class="bl-header">
        <div class="bl-h-otp">
            <i class="s-icon s-icon-thumb-tack js-undock-button"></i>
        </div>
        <div class="bl-h-title">
            <b>Обсуждайте</b> LIVE!
        </div>
    </div>

    <div class="bl-content">
        <div class="bl-count users-info">

        </div>

        <div class="bl-dlg scroll">
            <div class="modal-scroll-content chat-messages-div">

            </div>
        </div>

        <div class ="bl-textarea-wrap post-new-message-div">

        </div>

    </div>
</script>

<!-- Template for new message -->
<script id="chat-post-message-template" type="text/x-jquery-template">
    <textarea class="bl-textarea" maxlength="160" placeholder="Ctrl+Enter&nbsp;-&nbsp;перевод&nbsp;строки. Enter&nbsp;-&nbsp;отправить&nbsp;сообщение."></textarea>
    <!--<div class="pln-ww-content-symbol-count">Осталось 160 символов</div>-->
</script>

<!-- Template for chat message -->
<script id="chat-message-template" type="text/x-jquery-template">
<!--    <div class="bl-dlg-ava">
        <a href="{{= ProfileUtils.getAbsoluteUserLink(authorProfileId, authorAlias)}}">
            <img class="profile-link" profile-link-data="{{= authorProfileId}}"
                 src="{{= ImageUtils.getThumbnailUrl(authorImageUrl, ImageUtils.SMALL_AVATAR, ImageType.USER)}}"
                 alt="{{= displayName}}">
        </a>
    </div>-->
    <div class="bl-dlg-cont">
        {{if PrivacyUtils.isGlobalAdmin()}}
        <div class="bl-dlg-del js-delete-comment"><i class="icon-close"></i></div>
        {{/if}}
        <div class="bl-dlg-time date">{{= DateUtils.formatDialogTime(timeAdded)}}</div>
        <div class="bl-dlg-name">
            <a class="profile-link" profile-link-data="{{= authorProfileId}}"
               href="{{= ProfileUtils.getAbsoluteUserLink(authorProfileId, authorAlias)}}">{{= authorName}}</a>
            {{if PrivacyUtils.isGlobalAdmin()}}
            <span class="bl-dlg-ban-link js-ban-user" style="display: inline;">бан</span>
            {{/if}}
        </div>
        <div class="bl-dlg-text">
            {{html messageTextHtml}}
        </div>
    </div>
</script>

<script id="chat-users-info-template" type="text/x-jquery-template">
    В чате ({{= numOfUsers}} {{= StringUtils.declOfNum(numOfUsers, ["человек", "человека", "человек"])}})
</script>