<script id="modal-comment-template-fixed" type="text/x-jquery-template">
    {{if showCounters}}
        <div class="post-option attach-post-option"></div>
    {{/if}}
    <div class="attach-comment-placeholder attach-comment comments"></div>
</script>

<script id="comment-video-template" type="text/x-jquery-template">
    <div class="bb-video-cover" data-role="video">
        <a class="bb-video-link" href="javascript:void(0)">
            <img class="bb-video-preview" src="${ImageUtils.getThumbnailUrl(image, ImageUtils.BIG, ImageType.VIDEO)}" alt="${name}">
        </a>
        <div class="bb-video-time">${StringUtils.humanDuration(duration)}</div>
        <span class="bb-video-icon"></span>
    </div>
</script>

