<!--include css /css-generated/message.css-->


<!-- Template for the dialog box -->
<script id="dialog-box-template" type="text/x-jquery-template">
    <div class="dlg-header clickHereForCollapse">
        <div class="dlg-h-opt">
            <i class="icon-ww-size"></i>
            <i class="icon-close"></i>
        </div>
        <a class="dlg-h-title" href="javascript:void(0)">
            <div class="dlg-h-title-ava">
                <img src="{{= ImageUtils.getThumbnailUrl(dialog.attributes.imageUrl, ImageUtils.SMALL_AVATAR, ImageType.USER)}}" alt="{{= dialog.attributes.companionName}}">
            </div>
            <div class="dlg-h-title-name">{{= dialog.attributes.companionName}}</div>
        </a>
    </div>

    <div class="dlg clearfix dialog-float">
        <div style="position: relative;">
            <div class="dlg-top-shadow">
                <img src='{{= workspace.staticNodesService.getResourceUrl("/images/planeta/dlg-top-shadow.png")}}' alt="dlg-top-shadow.png">
            </div>
            <div class="dialog-content-panel"></div>
        </div>
        <div class="dialog-footer-panel"></div>
    </div>
</script>

<!-- Template for the dialog content box -->
<script id="dialog-content-template" type="text/x-jquery-template">
    <div class="dlg-content-list modal-scroll-content">

    </div>
    <div class="dlg-content-bottom-shadow">
        <img src='{{= workspace.staticNodesService.getResourceUrl("/images/planeta/dlg-content-bottom-shadow.png")}}' alt="dlg-content-bottom-shadow.png">
    </div>
</script>

<!-- Template for the dialog message -->
<script id="dialog-message-template" type="text/x-jquery-template">
    <div>
        {{if isNewDate && timeAdded}}
            <div class="dlg-content-list-date">
                <i class="icon-clock"></i>
                {{= DateUtils.formatDialogDate(timeAdded)}}
            </div>
        {{/if}}
        <div class="dlg-content-list-text">
            {{if !continueMessage}}
            <div class="dlg-content-list-text-info">
                <a href="{{= ProfileUtils.getAbsoluteUserLink(userId, userAlias)}}" class="profile-link">{{= userDisplayName}}</a>
            </div>
            {{/if}}
            <div class="dlg-content-list-text-message {{if newMessage}}new{{/if}}">
                <div class="text">{{html messageTextHtml}}</div>
                    <div class="option">
                    <div class="option-time">{{if timeAdded}}{{= DateUtils.formatDateTime(timeAdded,"H:i")}}{{else}}--:--{{/if}}</div>
                    <div class="option-btn">
                        <span class="delete close">&times;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- Template for the dialog footer -->
<script id="dialog-footer-template" type="text/x-jquery-template">
    <div class="dlg-post-noise">
        <div class="dlg-post-from">
            <div class="ava">
                <a href="javascript:void(0)">
                    <img src="{{= ImageUtils.getThumbnailUrl(myImageUrl, ImageUtils.SMALL_AVATAR, ImageType.USER)}}" alt="{{= myProfileName}}">
                </a>
            </div>
        </div>
        <div class="dlg-post-form">
            <div class="pln-ww noava active">
                <div class="pln-ww-content">
                    <div class="pln-ww-content-textarea">
                        <textarea id="wall-textarea" cols="" rows="" placeholder="Ctrl+Enter&nbsp;-&nbsp;перевод&nbsp;строки. Enter&nbsp;-&nbsp;отправить&nbsp;сообщение."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="dialog-search-sort-selection-template" type="text/x-jquery-template">
    <a class="fa-btn" href="javascript:void(0)">{{= text}}<span class="fa-btn-caret"></span></a>
    <div class="dm-dropdodown-menu-contacts" style="z-index: 1;">
        <div class="str"></div>
        <div class="dmc-list"></div>
    </div>
</script>

<script id="dialog-search-sort-selection-list-item-template" type="text/x-jquery-template">
    <a class="dmc-item-link" href="javascript:void(0)">
        <i class="icon-accept icon-blue"></i>
        {{= text}}
    </a>
</script>
<script id="dialog-search-item-template" type="text/x-jquery-template">
    <a class="rd-link-bl" href="{{= ProfileUtils.getAbsoluteUserLink(companionId, companionAlias)}}">
        <span class="rd-status"></span>
            <span class="rd-ava">
                <img src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.SMALL_AVATAR, ImageType.USER)}}" alt="{{= name}}">
            </span>
        <span class="rd-name">{{= name}}</span>
        {{if unreadMessagesCount}}
        <span class="rd-msg-count">{{= unreadMessagesCount}}</span>
        {{/if}}
    </a>
</script>


