<!--include css /css-generated/faq.css-->

<style>

    .faq-edit-fullscreen .tiny-mce-faq-edit {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        bottom: 0;
        left: 50%;
        margin-left: -470px;
        width: 100%;
        height: 100%;
    }

    .faq-edit-fullscreen .hide-fullscreen {
        display: none;
    }
    .faq-edit-fullscreen .modal-body {
        width:0;
    }

    .planetaSkin span.mce_planetafullscreenfaqedit {
        background-position: -500px 0;
    }
</style>


<script id="faq-edit-article-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a data-dismiss="modal" class="close">×</a>

        <div class="modal-title">Статья</div>
        <div class="modal-header-shadow"></div>
    </div>
    <form>
        <div class="modal-body">
            <div class="modal-select-header short-label">
                <textarea name="title" rows="5" cols="100" placeholder="Введите название">{{= $data.title}}</textarea>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-cont">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="reset" class="btn">Отменить</button>
            </div>
        </div>
    </form>
</script>


<script id="faq-edit-paragraph-modal-template" type="text/x-jquery-template">
    <form>
        <input type="hidden" name="faqArticleId" value="{{= faqArticleId}}">
        <input type="hidden" name="faqParagraphId" value="{{= faqParagraphId}}">

        <div class="modal-header hide-fullscreen">
            <a data-dismiss="modal" class="close" style="position:absolute;top:-12px;right:-10px;">×</a>

            <div class="modal-title">
                <input name="title" value="{{= title}}" placeholder="Заголовок"
                       style="width:100%;height:50px;padding: 14px;font-size: 18px;">
            </div>
            <div class="modal-header-shadow"></div>
        </div>

        <div class="modal-body">
            <div class="tinymci">
                <div class="tiny-mce-faq-edit">
                    <div class="js-tiny-mce-faq-edit">
                        {{html textHtml}}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal-footer hide-fullscreen">
        <div class="modal-footer-cont">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" class="btn">Отменить</button>
        </div>
    </div>


</script>