<!--include css /css-generated/faq.css-->

<style>
    .faq-edit-tools {
        float: right;
        display: none;
        opacity: 0.4
    }

    .faq-main_i-name:hover .faq-edit-tools {
        display: block
    }

    .faq-main_sub-i:hover .faq-edit-tools {
        display: block
    }
</style>

<script id="faq-layout" type="text/x-layout-template">
    <div id="global-container">
        <div id="main-container" class="wrap-container">
            <div id="center-container">
                <div id="header-container"></div>
                <div id="section-container"></div>
                <div id="content-view"></div>
            </div>
        </div>
    </div>
    <div id="footer-container"></div>
</script>

<script id="main-faq-category-template" type="text/x-jquery-template">
    <div class="faq-main_col">
        <div class="faq-main_head">
            <span class="faq-main_ico s-faq-main-{{= iconName}}"></span>
            {{html title}}
        </div>
        <div class="js-faq-article-list faq-main_list"></div>
        {{if FAQ.isEdit()}}
        <div class="faq-main_i panel"><a href="#" class="btn" data-event-click="onAddCategoryClicked">Добавить</a>
        </div>
        {{/if}}
    </div>

</script>

<script id="faq-list-item-template" type="text/x-jquery-template">
    <div class="faq-main_i panel">
        <div class="faq-main_i-name {{if !$data.folded}}collapsed{{/if}}" data-event-click="onArticleCollapsedClicked">
            {{if FAQ.isEdit()}}
            <div class="faq-edit-tools">
                <i class="icon-edit" data-event-click="onEditArticleClicked"></i>
                <i class="icon-delete" data-event-click="onDeleteArticleClicked"></i>
            </div>
            {{/if}}
            {{= title}}
        </div>
        {{if $data.folded}}
        <div class="js-faq-paragraph-list faq-main_sub-list"></div>
        {{if FAQ.isEdit()}}
        <div class="faq-main_i panel "><a href="#" class="btn mrg-l-25" data-event-click="onAddParagraphClicked">Добавить
            статью</a></div>
        {{/if}}
        {{/if}}
    </div>

</script>

<script id="faq-paragraph-list-item-template" type="text/x-jquery-template">
    <div class="faq-main_sub-i">
        {{if FAQ.isEdit()}}
        <div class="faq-edit-tools">
            <i class="icon-edit" data-event-click="onEditParagraphClicked"></i>
            <i class="icon-delete" data-event-click="onDeleteParagraphClicked"></i>
        </div>
        {{/if}}
        <a href="/faq/article/{{= faqArticleId}}!paragraph{{= faqParagraphId}}">{{= title}}</a>
    </div>
</script>


<script id="main-faq-template" type="text/x-jquery-template">
    <div class="faq-content">
        <div class="faq-main wrap js-container">
        </div>
    </div>
</script>

<script id="faq-breadcrumbs-template" type="text/x-jquery-template">
    {{if subsectionName}}
    <div class="cont-header">
        <div class="cont-header_row">
            <div class="wrap">
                <div class="col-12">
                    <div class="cont-header_btn-wrap">
                        <div class="cont-header_bread-item">
                            <a class="cont-header_btn" href="/faq">
                                <span itemprop="title">Помощь на планете</span>
                            </a>
                        </div>
                        <div class="cont-header_bread-item">
                            <span class="cont-header_text">
                                {{html subsectionName}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    {{/if}}
</script>

<script id="faq-article-template" type="text/x-jquery-template">
    <div class="faq-content">
        <div class="wrap">
            <div class="col-12">
                <div class="faq-article">
                    <h1>{{html faqArticle.title}}</h1>
                    {{each faqParagraphList}}
                        <h2 id="paragraph{{= $value.faqParagraphId}}">{{html $value.title}}</h2>
                        <p><br></p>
                        {{html $value.textHtml}}
                    <p><br></p>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</script>

<script id="faq-full-header" type="text/x-jquery-template">
    <div class="js-search-bar"></div>
    <div class="js-bread-crumbs"></div>
</script>



<script id="faq-search-bar-template" type="text/x-jquery-template">
    <div class="faq-search">
        <div class="wrap">
            <div class="col-12">
                <input class="faq-search_input" autocomplete="off" id="query" name="query" type="text" value="{{= query}}" placeholder="Поиск по разделу">
            </div>
        </div>
    </div>
</script>

<script id="faq-search-snippet-template" type="text/x-jquery-template">
    <div class="faq-search-result_i">
        <div class="faq-search-result_name">
            <a href="/faq/article/{{= faqArticleId}}">{{html highlightedArticleTitleHtml}}</a>
            <span class="faq-search-result_name-sps">></span>
            <a href="/faq/article/{{= faqArticleId}}!paragraph{{= faqParagraphId}}">{{html highlightedParagraphTitleHtml}}</a>
        </div>
        <div class="faq-search-result_descr">
            {{html highlightedCroppedAnnotationHtml}}
        </div>
        <div class="faq-search-result_section">
            {{html highlightedCategoryTitleHtml}}
        </div>
    </div>
</script>

<script id="faq-search-template" type="text/x-jquery-template">
    <div class="faq-content">
        <div class="wrap">
            <div class="col-12">

                <div class="faq-search-result js-snippets">
                    {{each(key, snippet) snippets}}
                    <div class="faq-search-result_i">
                        <div class="faq-search-result_name">
                            <a href="/faq/article/{{= snippet.articleId}}">{{html snippet.highlightedArticleTitleHtml}}</a>
                            <span class="faq-search-result_name-sps">></span>
                            <a href="/faq/article/{{= snippet.articleId}}!paragraph{{= snippet.id}}">{{html snippet.highlightedParagraphTitleHtml}}</a>
                        </div>
                        <div class="faq-search-result_descr">
                            {{html snippet.highlightedAnnotationHtml}}
                        </div>
                        <div class="faq-search-result_section">
                            {{html snippet.highlightedCategoryTitleHtml}}
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</script>
