<script id="error-message-template" type="text/x-jquery-template">
    <div class="alert alert-danger" style="position: fixed; right: 20px; top: 20px; z-index: 10000000000">
        <a href="javascript:void(0)" class="close">×</a>
        {{html messageHtml}}
    </div>
</script>

<script id="info-message-template" type="text/x-jquery-template">
    <div class="alert alert-info">
        <a href="javascript:void(0)" class="close">×</a>
        {{html messageHtml}}
    </div>
</script>

<script id="success-message-template" type="text/x-jquery-template">
    <div class="alert alert-success" style="position: fixed; right: 20px; top: 20px; z-index: 10000000000">
        <a href="javascript:void(0)" class="close">×</a>
        {{html messageHtml}}
    </div>
</script>