<!--include css /css-generated/news.css-->
<!--include css /css-generated/network.css-->



<script id="user-news-item-template" type="text/x-jquery-template">
    {{if type=='POST'}}
        {{tmpl '#user-news-post-item-template'}}
    {{else}}
        {{tmpl '#user-news-campaign-template'}}
    {{/if}}
</script>

<script id="user-news-template" type="text/x-jquery-template">
    <div class="post-write"></div>
    <div class="js-feed_filter"></div>
    <div class="feed_list"></div>
</script>

<script id="user-news-post-template" type="text/x-jquery-template">
    <div class="modal-body">
        <a class="close">×</a>
        <div class="feed-post_author_wrap">
            <a class="feed-post_author" href="{{= ProfileUtils.getAbsoluteUserLink(authorProfileId, authorAlias)}}">
                <div class="feed-post_author_ava">
                    <img src="{{= ImageUtils.getThumbnailUrl(authorImageUrl, ImageUtils.SMALL_AVATAR)}}">
                </div>
                <div class="feed-post_author_name">{{= authorName}}</div>
            </a>
        </div>

        {{if $data.canEdit && !$data.readOnly}}
        <div class="feed_action"></div>
        {{/if}}

        {{if campaignId}}
        <div class="feed-post_project"></div>
        {{/if}}

        <div class="feed_cont feed_cont__post">
            <div class="feed_post"></div>
            <div class="feed_sharing"></div>
        </div>
        <div class="feed_comment">
            <div class="comments-list"></div>
        </div>
    </div>
</script>

<script id="user-news-post-page-template" type="text/x-jquery-template">
    <div class="wrap">
        <div class="col-12">
            <div class="feed-post">
                <div class="feed-post_author_wrap">
                    <a class="feed-post_author" href="{{= ProfileUtils.getAbsoluteUserLink(authorProfileId, authorAlias)}}">
                        <div class="feed-post_author_ava">
                            <img src="{{= ImageUtils.getThumbnailUrl(authorImageUrl, ImageUtils.SMALL_AVATAR)}}">
                        </div>
                        <div class="feed-post_author_name">{{= authorName}}</div>
                    </a>
                </div>

                {{if $data.canEdit && !$data.readOnly}}
                <div class="feed_action"></div>
                {{/if}}

                {{if campaignId}}
                <div class="feed-post_project"></div>
                {{/if}}

                <div class="feed_cont feed_cont__post">
                    <div class="feed_post"></div>
                    <div class="feed_sharing"></div>
                </div>
                <div class="feed_comment">
                    <div class="comments-list"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="user-create-post-tiny-mce-template" type="text/x-jquery-template">
    <div class="edit-blog-body" style="display: none;">
        <div class="tinymci">
            <div class="tinymce-body" style="overflow: hidden;">
                {{html text}}
            </div>
        </div>
    </div>
</script>

