<script id="order-template" type="text/x-jquery-template">
    {{wrap '#order-template-wrapper'}}
    <div class="project-stats-status">
        {{if paymentStatus == "PENDING"}}
        Не оплачен
        {{else paymentStatus == "COMPLETED"}}
        Оплачен
        {{else paymentStatus == "CANCELLED"}}
        Аннулирован
        {{/if}}
    </div>
    <div class="project-stats-status-opt">
        {{if deliveryStatus == "PENDING"}}
        Ожидается
        {{else deliveryStatus == "IN_TRANSIT"}}
        Доставка
        {{else deliveryStatus == "DELIVERED"}}
        Доставлен
        {{else deliveryStatus == "REJECTED"}}
        Возврат
        {{/if}}
    </div>
</script>


<script id="order-status-changer-template" type="text/x-jquery-template">
    {{wrap '#order-status-changer-wrapper'}}
    <div class="fieldset">
        <label>Статус платежа:</label>
        <select class="status paymentStatus">
            <option value="ALL"
            {{if paymentStatus == 'ALL'}}selected="selected"{{/if}}>- Не выбран -</option>
            <option value="PENDING"
            {{if paymentStatus == 'PENDING'}}selected="selected"{{/if}}>Не оплачен</option>
            <option value="COMPLETED"
            {{if paymentStatus == 'COMPLETED'}}selected="selected"{{/if}}>Оплачен</option>
            <option value="CANCELLED"
            {{if paymentStatus == 'CANCELLED'}}selected="selected"{{/if}}>Аннулирован</option>
        </select>
    </div>
    <div class="fieldset">
        <label>Статус доставки:</label>
        <select class="status deliveryStatus">
            <option value="ALL"
            {{if deliveryStatus == 'ALL'}}selected="selected"{{/if}}>- Не выбран -</option>
            <option value="PENDING"
            {{if deliveryStatus == 'PENDING'}}selected="selected"{{/if}}>Ожидается</option>
            <option value="IN_TRANSIT"
            {{if deliveryStatus == 'IN_TRANSIT'}}selected="selected"{{/if}}>Доставка</option>
            <option value="DELIVERED"
            {{if deliveryStatus == 'DELIVERED'}}selected="selected"{{/if}}>Доставлен</option>
            <option value="REJECTED"
            {{if deliveryStatus == 'REJECTED'}}selected="selected"{{/if}}>Возврат</option>
        </select>
    </div>
    {{/wrap}}
</script>

<script id="order-batch-actions-panel-template" type="text/x-jquery-template">

    {{if PrivacyUtils.hasAdministrativeRole()}}
        <div class="project-stats-change-status dropdown">
            <a href="javascript:void(0)" class="btn btn-small batch-status-change">Сменить статус отмеченных</a>
        </div>
    {{/if}}

</script>

<!-- wrappers -->
<script id="order-template-wrapper" type="text/x-jquery-template">
    <td>
        <label><input type="checkbox" {{if selected}}checked="checked"{{/if}}/></label>
    </td>
    <td>
        <div class="project-stats-date">{{= DateUtils.formatDateTime(timeAdded, "d.m.Y")}}</div>
        <div class="project-stats-time">{{= DateUtils.formatDateTime(timeAdded, "H:i")}}</div>
    </td>
    <td>
        <div class="project-stats-number">
            <span class="details">№ {{= orderId}}</span>
        </div>
        <div class="project-stats-cost">
            {{= totalPrice}} руб.
        </div>
    </td>
    <td>
        {{if objectsPreview}}
        {{each objectsPreview}}
        <div class="project-stats-product">
            {{= $value.objectName}}
        </div>
        {{/each}}
        <div class="project-stats-product-more">
            <span class="details">еще &rarr;</span>
        </div>
        {{/if}}
    </td>
    <td>
        <div class="project-stats-user">
            <a href="https://{{= workspace.serviceUrls.mainHost}}/{{= buyerId}}">{{= buyerName}}</a>
        </div>
        <div class="project-stats-user-mail">
            {{= buyerEmail}}
        </div>
        {{if deliveryAddress}}
        <div class="project-stats-user-address text-icon">
            <i class="icon-place icon-blue"></i>
            <div class="text-block">{{if deliveryAddress.country && deliveryAddress.country != "0"}}{{= deliveryAddress.country}}, {{/if}}{{= deliveryAddress.city}}</div>
        </div>
        {{/if}}
    </td>
    <td>
        {{each $item.html("div")}}
        {{html $value}}
        {{/each}}
    </td>
    <td>
        <div class="project-stats-status dropdown">
            <span class="change-status">Изменить статус</span>
        </div>
    </td>
</script>

<script id="order-status-changer-wrapper" type="text/x-jquery-template">
    <div class="dropdown-popup-caret"></div>
    <div class="dropdown-popup-body">
        {{each $item.html("div")}}
        {{html $value}}
        {{/each}}
    </div>
    <div class="dropdown-popup-footer">
        <div class="dropdown-popup-action">
            <a href="javascript:void(0)" class="btn btn-primary perform-change">Сменить</a>
            <a href="javascript:void(0)" class="btn cancel-change" style="margin-left: 4px;">Отмена</a>
        </div>
    </div>
</script>



<script id="buyer-answer-change-form-template" type="text/x-jquery-template">
    <input name="orderId" type="hidden" value="${orderId}" />
    <input name="objectId" type="hidden" value="${orderObjectsInfo[0].objectId}" />

    <div class="fieldset">
        <div class="label-name">
            <label for="answer">Ответ покупателя:</label>
        </div>
        <div class="input input-field">
            <textarea name="answer" id="answer" placeholder="Введите исправленный ответ покупателя на вопрос продавца" class="span8">${orderObjectsInfo[0].comment}</textarea>
        </div>
    </div>
</script>

