<!--include css /css-generated/pln-stats.css-->
<!--CampaignOrders-->
<script id="order-report-downloader-template" type="text/x-jquery-template">
    <a href="javascript:void(0)" class="btn link-icon download">
        <i class="icon-download"></i><span class="text-icon">Скачать</span>
    </a>
    <a href="javascript:void(0)" class="btn dropdown-toggle format-choice">
        <i class="icon-dropdown-arrow"></i>
    </a>

    <div class="dropdown-menu dropdown-download-list">
        <div class="download-icon-list">
            <a href="javascript:void(0)" class="download-icon-item" data-format="EXCEL"><div class="dii-icon-exel"></div></a>
            <a href="javascript:void(0)" class="download-icon-item" data-format="CSV"><div class="dii-icon-csv"></div></a>
        </div>
    </div>
    <form method="post"></form>
</script>

<script id="order-report-downloader-email-template" type="text/x-jquery-template">
    <a href="javascript:void(0)" class="btn link-icon download">
        <i class="icon-download"></i><span class="text-icon">Получить на email</span>
    </a>
    <a href="javascript:void(0)" class="btn dropdown-toggle format-choice">
        <i class="icon-dropdown-arrow"></i>
    </a>

    <div class="dropdown-menu dropdown-download-list">
        <div class="download-icon-list">
            <a href="javascript:void(0)" class="download-icon-item" data-format="EXCEL"><div class="dii-icon-exel"></div></a>
            <a href="javascript:void(0)" class="download-icon-item" data-format="CSV"><div class="dii-icon-csv"></div></a>
        </div>
    </div>
    <form method="post"></form>
</script>

<script id="order-list-header-template" type="text/x-jquery-template">
    <tr>
        <th>
            <label><input type="checkbox" {{if allSelected}}checked="checked"{{/if}}/></label>
        </th>
        <th>Дата</th>
        <th>Заказ</th>
        <th>Товары</th>
        <th>Пользователь</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
</script>

<script id="campaign-orders-filter-template" type="text/x-jquery-template">
    <div class="row-fluid series-row">
        <div class="span4">
            <div class="filter-link-label">
                <label>Период:</label>
                <ul class="filter-link-list" id="periods">
                    <li class="filter-link-item{{if timeFilter == "today"}} active{{/if}}">
                    <a class="period" id="today" href="javascript:void(0)">Сегодня</a>
                    </li>
                    <li class="filter-link-item{{if timeFilter == "yesterday" }} active{{/if}}">
                    <a class="period" id="yesterday" href="javascript:void(0)">Вчера</a>
                    </li>
                    <li class="filter-link-item{{if timeFilter == "week" }} active{{/if}}">
                    <a class="period" id="week" href="javascript:void(0)">Неделя</a>
                    </li>
                    <li class="filter-link-item{{if timeFilter == "all" }} active{{/if}}">
                    <a class="period" id="all" href="javascript:void(0)">Всё время</a>
                    </li>
                </ul>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="input-icon input-field shift-icon-top">
                        <input class="dates" type="text" value="" placeholder="Начальная дата" id="timeStart">
                        <i class="icon-event icon-gray"></i>
                    </div>
                </div>
                <div class="span6">
                    <div class="input-icon input-field shift-icon-top">
                        <input class="dates" type="text" value="" placeholder="Конечная дата" id="timeFinish">
                        <i class="icon-event icon-gray"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="span2">
            <label>Статус заказа:</label>
            <select class="status" id="orderStatus">
                <option value="ALL" {{if status == 'ALL'}} selected{{/if}}>- Не выбран -</option>
                <option value="NEW" {{if status == 'NEW'}} selected{{/if}}>Новый</option>
                <option value="COMPLETED" {{if status == 'COMPLETED'}} selected{{/if}}>Отправлен</option>
                <option value="CANCELLED" {{if status == 'CANCELLED'}} selected{{/if}}>Аннулирован</option>
                <option value="GIVEN" {{if status == 'GIVEN'}} selected{{/if}}>Выдан</option>
            </select>
        </div>
        <div class="span6">
            <label>Поиск:</label>
            <div class="input-icon input-field shift-icon-top">
                <input type="text" value="{{= searchString}}" id="searchString">
                <i class="icon-search icon-gray"></i>
            </div>
        </div>
    </div>
    <div class="row-fluid series-row mrg-t-10">
        <div class="span4">
            <label>Вознаграждения:</label>
            <select class="share" id="shares">
                <option value="0" {{if !(selectedShareId)}} selected="selected"{{/if}}>- все вознаграждения -</option>
                {{each shares}}
                <option value="{{= $value.shareId}}" {{if selectedShareId == $value.shareId}} selected{{/if}}>{{= $value.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</script>
<script id="common-change-dialog-template" type="text/x-jquery-template">
    <form action="javascript:void(0);">
        <div class="modal-header">
            <a class="close cancel" data-dismiss="modal" href="javascript:void(0)"><i class="icon-close"/></a>
            <div class="modal-title">${title}</div>
            <div class="modal-header-shadow small"></div>
        </div>
        <div class="modal-body">
            {{if text}}
            <div>${text}</div>
            <br/>
            {{/if}}
            {{if formTemplate}}
            {{tmpl formTemplate}}
            {{/if}}
        </div>
        <div class="modal-footer">
            <div class="modal-footer-cont">
                <button type="submit" class="btn btn-primary confirm">Изменить</button>
                <button type="reset" class="btn cancel">Отменить</button>
            </div>
        </div>
    </form>
</script>
<script id="delivery-address-change-form-template" type="text/x-jquery-template">
    <input name="orderId" type="hidden" value="${orderId}" />
    <input name="shareId" type="hidden" value="${deliverySettings.shareId}" />

    <!-- O-o WTF???-->
    ${hasAddressee = deliveryAddress != null, ''}

    ${inputLabel = 'Почтовый индекс', ''}
    ${inputPlaceholder = '123456', ''}
    ${inputId = 'zipCode', ''}
    ${inputName = 'zipCode', ''}
    ${inputValue = hasAddressee ? deliveryAddress.zipCode : null, ''}
    {{tmpl '#input-template'}}

    ${inputLabel = 'Страна', ''}
    ${inputPlaceholder = 'Россия', ''}
    ${inputId = 'country', ''}
    ${inputName = 'country', ''}
    ${inputValue = hasAddressee ? deliveryAddress.country : null, ''}
    {{tmpl '#input-template'}}

    ${inputLabel = 'Населенный пункт', ''}
    ${inputPlaceholder = 'Москва', ''}
    ${inputId = 'city', ''}
    ${inputName = 'city', ''}
    ${inputValue = hasAddressee ? deliveryAddress.city : null, ''}
    {{tmpl '#input-template'}}

    ${inputLabel = 'Адрес', ''}
    ${inputPlaceholder = '3-я улица Строителей, д. 302-бис, кв. 50, вход со двора', ''}
    ${inputId = 'address', ''}
    ${inputName = 'address', ''}
    ${inputValue = hasAddressee ? deliveryAddress.address : null, ''}
    {{tmpl '#input-template'}}

    ${inputLabel = 'Получатель', ''}
    ${inputPlaceholder = 'Иванов Иван Иванович', ''}
    ${inputId = 'fio', ''}
    ${inputName = 'fio', ''}
    ${inputValue = hasAddressee ? deliveryAddress.fio : null, ''}
    {{tmpl '#input-template'}}

    ${inputLabel = 'Контакный телефон', ''}
    ${inputPlaceholder = '+7-909-123-45-67', ''}
    ${inputId = 'phone', ''}
    ${inputName = 'phone', ''}
    ${inputValue = hasAddressee ? deliveryAddress.phone : null, ''}
    {{tmpl '#input-template'}}

</script>

<script id="input-template" type="text/x-jquery-template">
    <div class="fieldset">
        <div class="label-name">
            <label for="${inputId}">${inputLabel}:</label>
        </div>
        <div class="input input-field">
            <input name="${inputName}" id="${inputId}" type="text" placeholder="${inputPlaceholder}" class="span8" value="${inputValue ? inputValue : ''}" />
        </div>
    </div>
</script>

<script id="change-statuses-dialog-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a class="close cancel" data-dismiss="modal" href="javascript:void(0)">×</a>

        <div class="modal-title">{{= title}}</div>
        <div class="modal-header-shadow small"></div>
    </div>
    <div class="modal-body">
        <div>{{= text}}</div>
        <br />
        {{if actionName == 'CANCEL'}}
        <div class="fieldset">
            <div class="label-name">
                <label for="reason">Причина аннулирования:</label>
            </div>

            <div class="input input-field">
                <textarea id="reason" name="reason" placeholder="Введите причину аннулирования" class="span8"></textarea>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <button class="btn btn-primary confirm" data-event-click="onConfirmClicked">Подтвердить</button>
            <button class="btn cancel" data-event-click="onCloseClicked">Отменить</button>
        </div>
    </div>
</script>
<script id="campaign-order-status-changer-template" type="text/x-jquery-template">
    {{wrap '#order-status-changer-wrapper'}}
    <div class="fieldset">
        <label>Статус заказа:</label>
        <select class="status actionName js-input js-status-dropdown" data-name="orderState">
            <option value="IN_TRANSIT" {{if (paymentStatus == "COMPLETED") && (deliveryStatus == "PENDING")}}selected="selected"{{/if}}>Отправлен</option>
            <option value="DELIVERED" {{if (paymentStatus == "COMPLETED") && (deliveryStatus == "DELIVERED")}}selected="selected"{{/if}}>Доставлен</option>

            <option value="GIVEN" {{if (paymentStatus == "COMPLETED") && (deliveryStatus == "GIVEN")}}selected="selected"{{/if}}>Выдан</option>
            {{if PrivacyUtils.hasAdministrativeRole()}}
                <option value="CANCEL" {{if (paymentStatus == "COMPLETED") && (deliveryStatus == "DELIVERED")}}selected="selected"{{/if}}>Аннулирован</option>
            {{/if}}
        </select>

        {{if $data.deliveryType && (deliveryType == "CUSTOMER_PICKUP" || deliveryType == "DELIVERY")}}
            <div class="fieldset">
                <label>Почтовый идентификатор:</label>
                <input class="mrg-b-0 js-input" data-name="trackingCode" style="width: 160px;" type="text" value="{{= trackingCode}}">
            </div>
            <div class="fieldset">
                <label>Наложенный платёж, руб:</label>
                <input class="mrg-b-0 js-input" data-name="cashOnDeliveryCost" style="width: 160px;" type="text" value="{{= cashOnDeliveryCost}}"   >
            </div>
            <div class="fieldset">
                <label>Комментарий:</label>
                <input class="mrg-b-0 js-input" data-name="deliveryComment" style="width: 160px;" type="text" value="{{= deliveryComment}}"   >
            </div>
        {{/if}}

        <div class="fieldset">
            <span class="checkbox active js-input-checkbox" data-name="isSendNotification"></span>
            <label style="float: right;">Отправить уведомление</label>
        </div>
    </div>
    {{/wrap}}
</script>
<script id="campaign-order-template" type="text/x-jquery-template">
    {{wrap '#order-template-wrapper'}}
    <div class="project-stats-status">
        {{if (paymentStatus == "COMPLETED") && (deliveryStatus == "PENDING")}}
        Новый
        {{else (paymentStatus == "COMPLETED") && (deliveryStatus == "IN_TRANSIT")}}
        Отправлен
        {{else (paymentStatus == "COMPLETED") && (deliveryStatus == "DELIVERED")}}
        Доставлен
        {{else (paymentStatus == "COMPLETED") && (deliveryStatus == "GIVEN")}}
        Выдан
        {{else (paymentStatus == "CANCELLED") && (deliveryStatus == "CANCELLED")}}
        Аннулирован
        {{/if}}
    </div>
    {{/wrap}}
</script>
<script id="share-order-details-template" type="text/x-jquery-template">
    <td colspan="7">
        <div class="table-collapse-block">
            <div class="table-dashed table-collapse-str">
                {{if deliveryAddress && (deliveryType != "NOT_SET")}}
                <div class="project-stats-fulladdress">
                    {{if deliveryAddress.fio}}
                    <div class="psfa-field">
                        <div class="project-stats-fulladdress-header">Получатель</div>
                        <div class="text-icon">
                            <div class="text-block">${deliveryAddress.fio}</div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="psfa-field">
                        {{if isAdmin && ( deliveryType == "DELIVERY" || deliveryType == "COURIER")}}
                        <div class="project-stats-status" style="float:right;">
                            <span class="change-addressee">Изменить</span>
                        </div>
                        {{/if}}
                        <div class="project-stats-fulladdress-header">
                            {{= linkedDelivery.name }}
                        </div>
                        <div class="text-icon">
                            <i class="icon-place icon-blue"></i>
                            <div class="text-block">
                                {{if deliveryAddress.country}}{{= deliveryAddress.country}}, {{/if}}
                                {{if deliveryAddress.zipCode}}{{= deliveryAddress.zipCode}}, {{/if}}
                                {{= deliveryAddress.city}},</br>
                                {{= deliveryAddress.address}}{{if deliveryAddress.phone || deliveryAddress.phone}}<br/>
                                Тел.: {{= deliveryAddress.phone || deliveryAddress.phone}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{if trackingCode}}
                    <div class="psfa-field">
                        <div class="project-stats-fulladdress-header">Почтовый идентификатор:</div>
                        <div class="text-icon">
                            <div class="text-block">${trackingCode}</div>
                        </div>
                    </div>
                    {{/if}}
                    {{if cashOnDeliveryCost > 0}}
                    <div class="psfa-field">
                        <div class="project-stats-fulladdress-header">Наложенный платёж:</div>
                        <div class="text-icon">
                            <div class="text-block">{{= StringUtils.humanNumber(cashOnDeliveryCost)}}</div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{/if}}

                {{if questionToBuyer}}
                <div class="project-stats-fulladdress">
                    <div class="psfa-field">
                        <div class="project-stats-fulladdress-header">Вопрос автора:</div>
                        <div>{{= questionToBuyer}}</div>
                    </div>
                    <div class="psfa-field">
                        {{if orderObjectsInfo[0].comment}}
                        {{if isAdmin}}
                        <div class="project-stats-status" style="float:right;">
                            <span class="change-answer">Изменить</span>
                        </div>
                        {{/if}}
                        <div class="project-stats-fulladdress-header">Ответ на вопрос:</div>
                        <div>{{= orderObjectsInfo[0].comment}}</div>
                        {{else}}
                        {{if isAdmin}}
                        <div class="project-stats-status" style="float:right;">
                            <span class="change-answer">Добавить</span>
                        </div>
                        {{/if}}
                        <div class="project-stats-fulladdress-header">Ответа нет</div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
                {{if orderObjectsInfo[0] || deliveryType != "NOT_SET"}}
                <table class="table table-bordered fixed-manage-table">
                    <colgroup>
                        <col width="100%">
                        <col width="90">
                        <col width="60">
                        <col width="140">
                    </colgroup>
                    <tbody>
                    {{if orderObjectsInfo[0]}}
                    <tr>
                        <td>{{= orderObjectsInfo[0].objectName}}</td>
                        <td><div class="project-stats-price">{{= orderObjectsInfo[0].price}} руб.</div></td>
                        <td><div class="project-stats-count">{{= orderObjectsInfo[0].count}} шт.</div></td>
                        <td><div class="dashed-project-stats-cost">{{= orderObjectsInfo[0].totalPrice}} руб.</div></td>
                    </tr>
                    {{/if}}
                    {{if deliveryType != "NOT_SET"}}
                    <tr>
                        <td>{{= linkedDelivery.name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><div class="dashed-project-stats-cost">{{= deliveryPrice}} руб.</div></td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        {{if PrivacyUtils.hasAdministrativeRole() && investInfo}}
            <div class="project-stats-fulladdress">
            {{tmpl({filed: 'Номер телефона', value: investInfo.phoneNumber}) '#field-value-block'}} 
        {{if investInfo.userType == 'INDIVIDUAL'}}
            {{if investInfo.gender == 'MALE'}}
                ${(investInfo.gender = 'Мужской')}
            {{else}}
                ${(investInfo.gender = 'Женский')}
            {{/if}}
            {{tmpl({filed: 'Фамилия', value: investInfo.lastName}) '#field-value-block'}} 
            {{tmpl({filed: 'Имя', value: investInfo.firstName}) '#field-value-block'}} 
            {{tmpl({filed: 'Отчество', value: investInfo.middleName}) '#field-value-block'}} 
            {{tmpl({filed: 'Пол', value: investInfo.gender}) '#field-value-block'}} 
            {{tmpl({filed: 'Дата рождения', value: investInfo.birthDate}) '#field-value-block'}} 
            {{tmpl({filed: 'Место рождения', value: investInfo.birthPlace}) '#field-value-block'}} 
            <h3><em>Адрес регистрации</em></h3>
        {{else}}
            {{tmpl({filed: 'Полное наименование организации', value: investInfo.orgName}) '#field-value-block'}} 
            {{tmpl({filed: 'Сокращённое наименование организации (бренд)', value: investInfo.orgBrand}) '#field-value-block'}} 
            {{tmpl({filed: 'Дата регистрации', value: investInfo.birthDate}) '#field-value-block'}} 
            {{tmpl({filed: 'ИНН', value: investInfo.inn}) '#field-value-block'}} 
        {{if investInfo.webSite}}
            {{tmpl({filed: 'Веб-сайт', value: investInfo.webSite}) '#field-value-block'}} 
        {{/if}} 
            <h3><em>Местонахождение в соответствии с уставом</em></h3>
        {{/if}} 
            {{tmpl({filed: 'Страна', value: investInfo.regCountry}) '#field-value-block'}} 
            {{tmpl({filed: 'Регион', value: investInfo.regRegion}) '#field-value-block'}} 
            {{tmpl({filed: 'Населённый пункт', value: investInfo.regLocation}) '#field-value-block'}} 
            {{tmpl({filed: 'Адрес', value: investInfo.regAddress}) '#field-value-block'}} 
            {{tmpl({filed: 'Индекс', value: investInfo.regIndex}) '#field-value-block'}} 
        {{if investInfo.userType == 'INDIVIDUAL'}}
            <h3><em>Адрес проживания</em></h3>
        {{else}}
            <h3><em>Фактическое местонахождение</em></h3>
        {{/if}} 
            {{tmpl({filed: 'Страна', value: investInfo.liveCountry}) '#field-value-block'}} 
            {{tmpl({filed: 'Регион', value: investInfo.liveRegion}) '#field-value-block'}} 
            {{tmpl({filed: 'Населённый пункт', value: investInfo.liveLocation}) '#field-value-block'}} 
            {{tmpl({filed: 'Адрес', value: investInfo.liveAddress}) '#field-value-block'}} 
            {{tmpl({filed: 'Индекс', value: investInfo.liveIndex}) '#field-value-block'}} 
        {{if investInfo.userType == 'INDIVIDUAL'}}
            <h3><em>Паспортные данные</em></h3>
            {{tmpl({filed: 'Серия и номер', value: investInfo.passportNumber}) '#field-value-block'}} 
            {{tmpl({filed: 'Кем выдан', value: investInfo.passportIssuer}) '#field-value-block'}} 
            {{tmpl({filed: 'Когда выдан', value: investInfo.passportIssueDate}) '#field-value-block'}} 
            {{tmpl({filed: 'Код подразделения', value: investInfo.passportIssuerCode}) '#field-value-block'}} 
        {{else}}
            <h3><em>Информация о руководителе</em></h3>
            {{tmpl({filed: 'Фамилия', value: investInfo.lastName}) '#field-value-block'}} 
            {{tmpl({filed: 'Имя', value: investInfo.firstName}) '#field-value-block'}} 
            {{tmpl({filed: 'Отчество', value: investInfo.middleName}) '#field-value-block'}} 
            {{tmpl({filed: 'Должность', value: investInfo.bossPosition}) '#field-value-block'}} 
        {{/if}}
        </div>
        {{/if}}
        </div>
    </td>
</script>
<script id="field-value-block" class="psfa-field" type="text/x-jquery-template">
    <span>{{= filed}}: </span><span>{{= value}}</span><br>
</script>
<script id="campaign-orders-template" type="text/x-jquery-template">
    <div class="header-container">
        <div class="header-container-section header-button">

            <div class="bottom-downloader-email-placeholder"></div>
            <div class="top-downloader-placeholder"></div>
        </div>
        <div class="header-container-section">
            <h2>Статистика проекта</h2>
            <span class="header-spn">&laquo;{{= StringUtils.cutString(name, 64)}}&raquo;</span>
        </div>
    </div>

    <div class="content-top-shadow">
        <ul class="pln-tabs">
            <li class="pln-tabs-item active">
                <a class="pln-tabs-link" href="javascript:void(0)">Продажи</a>
            </li>
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/shares-stats">Вознаграждения</a>
            </li>
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/affiliate-stats">Cтатистика</a>
            </li>
            {{if PrivacyUtils.hasAdministrativeRole()}}
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/advertising-tools">Рекламные инструменты</a>
            </li>
            {{/if}}
        </ul>
        <div class="search-block noice-block"></div>

        <table class="table table-bordered product-manage-table fixed-manage-table project-stats-table">
            <colgroup>
                <col width="30">
                <col width="81">
                <col width="120">
                <col width="50%">
                <col width="50%">
                <col width="100">
                <col width="115">
            </colgroup>
        </table>

        <div class="bottom-downloader-placeholder"></div>
        <div class="batch-action-status-changer-placeholder"></div>
    </div>
</script>

<script id="campaign-targeting-tools-template" type="text/x-jquery-template">
    <div class="header-container">
        <div class="header-container-section header-button">
            <div class="top-downloader-placeholder"></div>
        </div>
        <div class="header-container-section">
            <h2>Рекламные инструменты</h2>
            <span class="header-spn">&laquo;{{= StringUtils.cutString(name, 64)}}&raquo;</span>
        </div>
    </div>

    <div class="content-top-shadow">
        <ul class="pln-tabs">
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/orders">Продажи</a>
            </li>
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/shares-stats">Вознаграждения</a>
            </li>
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/affiliate-stats">Cтатистика</a>
            </li>
            {{if PrivacyUtils.hasAdministrativeRole()}}
            <li class="pln-tabs-item active">
                <a class="pln-tabs-link" href="javascript:void(0)">Рекламные инструменты</a>
            </li>
            {{/if}}
        </ul>
        <div class="js-targeting-anchor"></div>
    </div>
</script>

<script id="campaign-targeting-tools-vk-targeting-help-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" data-event-click="cancel" href="#">×</a>
        <div class="modal-title">
            Пример VK пиксель ID
        </div>
    </div>
    <div class="modal-body">

        <img src="https://s3.planeta.ru/i/18fb1f/1491903696679_renamed.jpg">

    </div>
</script>


<script id="campaign-targeting-tools-fb-targeting-help-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">×</a>
        <div class="modal-title">
            Пример FB пиксель ID
        </div>
    </div>
    <div class="modal-body">

        <img src="https://s3.planeta.ru/i/18fb1e/1491903690883_renamed.jpg">

    </div>
</script>


<script id="campaign-targeting-tools-inner-template" type="text/x-jquery-template">
    <form action="javascript:void(0);" id="campaign-advertising-tools">
        <div class="search-block">

            <div class="row-fluid series-row fieldset mrg-b-0">
                <div>
                    <h3 class="mrg-t-0">Вконтакте пиксель ID:</h3>
                    <input type="text" name="vkTargetingId" value="{{= vkTargetingId}}" placeholder="VK-RTRG-103095-ejz9j">
                    <ul class="filter-link-list mrg-t-10">
                        <li class="filter-link-item filter-link-item__link">
                            <a href="https://vk.com/ads?act=office_help&oid=-19542789&p=%D0%A7%D0%B0%D1%81%D1%82%D1%8B%D0%B5_%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B_%D0%BF%D0%BE_%D1%80%D0%B5%D1%82%D0%B0%D1%80%D0%B3%D0%B5%D1%82%D0%B8%D0%BD%D0%B3%D1%83" target="_blank">Инструкция на сайте Вконтакте</a>
                        </li>
                        <li class="filter-link-item">
                            <a href="#" class="js-open-targeting-help-vk" data-toggle="modal">Откуда брать "пиксель"?</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="search-block">

            <div class="row-fluid series-row fieldset mrg-b-0">
                <div>
                    <h3 class="mrg-t-0">Facebook пиксель ID:</h3>
                    <input type="text" name="fbTargetingId" value="{{= fbTargetingId}}" placeholder="1868151920069576">
                    <ul class="filter-link-list mrg-t-10">
                        <li class="filter-link-item filter-link-item__link">
                            <a href="https://www.facebook.com/business/help/651294705016616">Инструкция на сайте Facebook</a>
                        </li>
                        <li class="filter-link-item">
                            <a href="#" class="js-open-targeting-help-fb" data-toggle="modal">Откуда брать "пиксель"?</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <input type="hidden" name="campaignId" value="{{= campaignId}}">

        <button type="submit" class="btn btn-primary btn-lg pull-right js-campaign-targeting-save">Сохранить</button>
    </form>
</script>

<script id="campaign-stats-total" type="x/jquery-template">
    {{if aggregationType && (visitors != 0 || views != 0 || purchases != 0 || buyers != 0 || comments != 0 || amount != 0)}}
        <td><b>Итого</b></td>
        {{if aggregationType == "DATE"}}
            <td><b>{{= visitors}}</b></td>
            <td><b>{{= views}}</b></td>
            <td><b>{{= purchases}}</b></td>
            <td><b>{{= buyers}}</b></td>
            <td><b>{{= comments}}</b></td>
            <td><b>{{= amount}}</b></td>
        {{else}}
            <td><b>{{= visitors}}</b></td>
            <td><b>{{= views}}</b></td>
            <td><b>{{= purchases}}</b></td>
        {{/if}}

    {{/if}}
</script>

<!--CampaignAffiliateStats-->
<script id="campaign-stats-general" type="x/jquery-template">
    {{if $data.visitors != undefined}}
    {{if date}}
    <td>{{= date}}</td>
    <td>{{= visitors}}</td>
    <td>{{= views}}</td>
    <td>{{= purchases}}</td>
    <td>{{= buyers}}</td>
    <td>{{= comments}}</td>
    <td>{{= amount}}</td>
    {{else $data.referer != null}}
    <td>
        {{if referer}}
        <a href="http://{{= referer }}">{{= referer }}</a>
        {{else}}
        <a href="https://planeta.ru">planeta.ru</a>
        {{/if}}
    </td>
    <td> {{= visitors}}</td>
    <td> {{= views}}</td>
    <td>{{= purchases}}</td>
    {{else $data.country != null}}
    <td> {{= country || 'Не определена'}}</td>
    <td> {{= visitors}}</td>
    <td>{{= views}}</td>
    <td>{{= purchases}}</td>
    {{else $data.city != null}}
    <td> {{= city || 'Не определён'}}</td>
    <td> {{= visitors}}</td>
    <td>{{= views}}</td>
    <td>{{= purchases}}</td>
    {{else}}
    <td> {{= affiliateId ? (affiliateName || affiliateId) : 'Planeta.ru'}}</td>
    <td> {{= visitors}}</td>
    <td>{{= views}}</td>
    <td>{{= purchases}}</td>
    {{/if}}
    {{if extraStatsEnabled}}
    <td> {{= affiliateAmount || 0}}</td>
    {{/if}}
    {{/if}}
</script>

<script id="affiliate-stats-graph-template" type="text/x-jquery-template">
    <div class="raw mrg-b-10 {{if statsLength <= 1 || !aggrTypeDate}}hidden{{/if}}">
        <div class="form-inline">
        <span>
            <div class="span4">
                <select class="js-first-graph-select">
                    <option value="visitors" {{if firstGraph.target == 'visitors'}}selected="selected"{{/if}}>Уникальные посетители</option>
                    <option value="views" {{if firstGraph.target == 'views'}}selected="selected"{{/if}}>Просмотры страницы</option>
                    <option value="purchases" {{if firstGraph.target == 'purchases'}}selected="selected"{{/if}}>Покупки</option>
                    <option value="buyers" {{if firstGraph.target == 'buyers'}}selected="selected"{{/if}}>Покупатели</option>
                    <option value="comments" {{if firstGraph.target == 'comments'}}selected="selected"{{/if}}>Комментарии</option>
                    <option value="amount" {{if firstGraph.target == 'amount'}}selected="selected"{{/if}}>Собрано средств</option>
                </select>
            </div>
        </span><span><div class="span">vs.</div></span>
        <span>
            <div class="span4">
                <select class="js-second-graph-select">
                    <option value="visitors" {{if secondGraph.target == 'visitors'}}selected="selected"{{/if}}>Уникальные посетители</option>
                    <option value="views" {{if secondGraph.target == 'views'}}selected="selected"{{/if}}>Просмотры страницы</option>
                    <option value="purchases" {{if secondGraph.target == 'purchases'}}selected="selected"{{/if}}>Покупки</option>
                    <option value="buyers" {{if secondGraph.target == 'buyers'}}selected="selected"{{/if}}>Покупатели</option>
                    <option value="comments" {{if secondGraph.target == 'comments'}}selected="selected"{{/if}}>Комментарии</option>
                    <option value="amount" {{if secondGraph.target == 'amount'}}selected="selected"{{/if}}>Собрано средств</option>
                </select>
            </div>
        </span>
        </div>
    </div>
    <div id="affiliate-statistic-chart" class="affiliate-statistic-chart {{if statsLength <= 1 || !aggrTypeDate}}hidden{{/if}}"></div>
</script>
<script id="campaign-affiliate-stats-filter-template" type="text/x-jquery-template">
    <div class="row-fluid series-row">
        <div class="span4">
            <div class="filter-link-label">
                <label>Период:</label>
                <ul class="filter-link-list" id="periods">
                    <li class="filter-link-item active">
                        <a class="period" id="yesterday" href="javascript:void(0)">Вчера</a>
                    </li>
                    <li class="filter-link-item">
                        <a class="period" id="week" href="javascript:void(0)">Неделя</a>
                    </li>
                    <li class="filter-link-item">
                        <a class="period" id="all" href="javascript:void(0)">Всё время</a>
                    </li>
                </ul>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="input-icon input-field shift-icon-top">
                        <input class="dates" type="text" value="" placeholder="Начальная дата" id="timeStart">
                        <i class="icon-event icon-gray"></i>
                    </div>
                </div>
                <div class="span6">
                    <div class="input-icon input-field shift-icon-top">
                        <input class="dates" type="text" value="" placeholder="Конечная дата" id="timeFinish">
                        <i class="icon-event icon-gray"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            {{if PrivacyUtils.isAdmin() }}
            <ul class="filter-link-list clearfix project-stats-tab mrg-t-25 mrg-b-15">
                <li class="filter-link-item">
                    <b> Группировать по: </b>
                </li>
                <li data-type="DATE" class="filter-link-item js-filter-link-item {{if !!loading}}active{{/if}} {{if aggregationType == 'DATE'}} active {{/if}}">
                    <a href="javascript:void(0)">дате</a>
                </li>
                <li class="filter-link-item">|</li>
                <li data-type="REFERER" class="filter-link-item js-filter-link-item {{if !!loading}}active{{/if}} {{if aggregationType== 'REFERER'}} active {{/if}}">
                    <a href="javascript:void(0)">источникам</a>
                </li>
                {{if extraStatsEnabled}}
                <li class="filter-link-item">|</li>
                <li data-type="AFFILIATE" class="filter-link-item js-filter-link-item {{if !!loading}}active{{/if}} {{if aggregationType== 'AFFILIATE'}} active {{/if}}">
                    <a href="javascript:void(0)">партнерам</a>
                </li>
                {{/if}}
                <li class="filter-link-item">|</li>
                <li data-type="COUNTRY" class="filter-link-item js-filter-link-item {{if !!loading}}active{{/if}} {{if aggregationType== 'COUNTRY'}} active {{/if}}">
                    <a href="javascript:void(0)">странам</a>
                </li>
                <li class="filter-link-item">|</li>
                <li data-type="CITY" class="filter-link-item js-filter-link-item {{if !!loading}}active{{/if}} {{if aggregationType== 'CITY'}} active {{/if}}">
                    <a href="javascript:void(0)">городам</a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</script>

<script id="campaign-affiliate-stats-template" type="text/x-jquery-template">
    <div class="header-container">
        <div class="header-container-section header-button">
            <div class="top-downloader-placeholder"></div>
        </div>
        <div class="header-container-section">
            <h2>Статистика проекта</h2>
            <span class="header-spn">&laquo;{{= StringUtils.cutString(name, 64)}}&raquo;</span>
        </div>
    </div>

    <div class="content-top-shadow">
        <ul class="pln-tabs">
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/orders">Продажи</a>
            </li>
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/shares-stats">Вознаграждения</a>
            </li>
            <li class="pln-tabs-item active">
                <a class="pln-tabs-link" href="javascript:void(0)">Cтатистика</a>
            </li>
            {{if PrivacyUtils.hasAdministrativeRole()}}
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/advertising-tools">Рекламные инструменты</a>
            </li>
            {{/if}}
        </ul>
        <div class="search-block noice-block"></div>
        <div class="js-graph-block"></div>
        <table class="table table-bordered product-manage-table fixed-manage-table project-stats-table">
            {{if filter && filter.attributes.aggregationType == 'DATE'}}
            {{if extraStatsEnabled}}
            <colgroup>
                <col width="80">
                <col width="13%">
                <col width="13%">
                <col width="13%">
                <col width="13%">
                <col width="13%">
                <col width="13%">
                <col width="9%">
            </colgroup>
            {{else}}
            <colgroup>
                <col width="80">
                <col width="18%">
                <col width="18%">
                <col width="18%">
                <col width="18%">
                <col width="18%">
                <col width="18%">
            </colgroup>
            {{/if}}
            {{else}}
            <colgroup>
                <col width="160">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                {{if extraStatsEnabled}}
                <col width="20%">
                {{/if}}
            </colgroup>
            {{/if}}
        </table>

        <div class="bottom-downloader-placeholder"></div>
        <div class="batch-action-status-changer-placeholder"></div>
    </div>
</script>
<script id="campaign-stats-order-list-template" type="text/x-jquery-template">
    {{if loading}}
    <tr>
        <td
                {{if extraStatsEnabled}}
                {{if filter.attributes.aggregationType == 'DATE'}}
        colspan="8"
        {{else}}
        colspan="4"
        {{/if}}
        {{else}}
        {{if filter.attributes.aggregationType == 'DATE'}}
        colspan="7"
        {{else}}
        colspan="5"
        {{/if}}
        {{/if}} >
        <div class="list-loader">
            <a class="load" href="javascript:void(0)">Загрузка...</a>
        </div>
        </td>
    </tr>
    {{/if}}
</script>
<script id="affiliate-stats-list-header-template" type="text/x-jquery-template">
    <tr>
        <th>
            {{if currentFilter.attributes.aggregationType == 'DATE'}}
            Дата
            {{else currentFilter.attributes.aggregationType == 'AFFILIATE'}}
            Имя
            {{else currentFilter.attributes.aggregationType == 'REFERER'}}
            Сайт-источник
            {{else currentFilter.attributes.aggregationType == 'COUNTRY'}}
            Страна
            {{else currentFilter.attributes.aggregationType == 'CITY'}}
            Город
            {{/if}}
        </th>
        <th>Посетители</th>
        <th>Просмотры</th>
        <th>Покупки</th>
        {{if currentFilter.attributes.aggregationType == 'DATE'}}
        <th>Покупатели</th>
        <th>Комментарии</th>
        <th>Собрано средств</th>
        {{/if}}
        {{if extraStatsEnabled}}
        <th>Партнерские<br> отчисления</th>
        {{/if}}
    </tr>
</script>

<!--CampaignSharesStats-->

<script id="campaign-shares-stats-filter-template" type="text/x-jquery-template">
    <div class="row-fluid series-row">
        <div class="span4">
            <div class="filter-link-label">
                <label>Период:</label>
                <ul class="filter-link-list" id="periods">
                    <li class="filter-link-item active">
                        <a class="period" id="today" href="javascript:void(0)">Сегодня</a>
                    </li>
                    <li class="filter-link-item">
                        <a class="period" id="yesterday" href="javascript:void(0)">Вчера</a>
                    </li>
                    <li class="filter-link-item">
                        <a class="period" id="week" href="javascript:void(0)">Неделя</a>
                    </li>
                    <li class="filter-link-item">
                        <a class="period" id="all" href="javascript:void(0)">Всё время</a>
                    </li>
                </ul>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="input-icon input-field shift-icon-top">
                        <input class="dates" type="text" value="" placeholder="Начальная дата" id="timeStart">
                        <i class="icon-event icon-gray"></i>
                    </div>
                </div>
                <div class="span6">
                    <div class="input-icon input-field shift-icon-top">
                        <input class="dates" type="text" value="" placeholder="Конечная дата" id="timeFinish">
                        <i class="icon-event icon-gray"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="shares-stats-item-template" type="x/jquery-template">
    {{if $data.name}}
    <td>
        {{= name}}
    </td>
    <td>
        {{= StringUtils.humanNumber(purchaseCount)}}
    </td>
    <td>
        {{= StringUtils.humanNumber(purchaseSum)}}
    </td>
    {{/if}}
</script>
<script id="campaign-shares-stats-template" type="text/x-jquery-template">
    <div class="header-container">
        <div class="header-container-section header-button">
            <div class="top-downloader-placeholder"></div>
        </div>
        <div class="header-container-section">
            <h2>Статистика проекта</h2>
            <span class="header-spn">&laquo;{{= StringUtils.cutString(name, 64)}}&raquo;</span>
        </div>
    </div>

    <div class="content-top-shadow">
        <ul class="pln-tabs">
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/orders">Продажи</a>
            </li>
            <li class="pln-tabs-item active">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/shares-stats">Вознаграждения</a>
            </li>
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/affiliate-stats">Cтатистика</a>
            </li>
            {{if PrivacyUtils.hasAdministrativeRole()}}
            <li class="pln-tabs-item">
                <a class="pln-tabs-link" href="/campaigns/{{= webCampaignAlias}}/advertising-tools">Рекламные инструменты</a>
            </li>
            {{/if}}
        </ul>
        <div class="search-block noice-block"></div>
        <div class="js-graph-block"></div>
        <table class="table table-bordered product-manage-table fixed-manage-table basket-manage-table project-stats-table">
            <colgroup>
                <col width="60%">
                <col width="20%">
                <col width="20%">
            </colgroup>
        </table>
        <div class="bottom-downloader-placeholder"></div>
        <div class="batch-action-status-changer-placeholder"></div>
    </div>
</script>
<script id="shares-stats-list-header-template" type="text/x-jquery-template">
    <tr>
        <th><b>Название вознаграждения</b></th>
        <th><b>Куплено (шт.)</b></th>
        <th><b>Собрано (руб.)</b></th>
    </tr>
</script>




