    <script id="photo-view-template" type="text/x-jquery-template">

    <div  itemscope itemtype="http://schema.org/Photograph" class="photo-layer fullscreen">
        <div class="close photo-close js-close-modal">
            <i class="icon-close icon-white" style="background-color: gray"></i>
        </div>
        <div class="photo-block">
            <div class="js-photos-no-change"></div>
             {{if photos}}
             {{if ArrayUtils.length(photos) > 1}}
                 <div class="photo-prev"><b></b></div>
                 <div class="photo-next"><b></b></div>
             {{/if}}
             {{/if}}
            <div class="photo-fullscreen">
                {{if fullscreen}}
                <i class="icon-resize-small icon-white"></i>
                {{else}}
                <i class="icon-resize-full icon-white"></i>
                {{/if}}
            </div>
            <div class="photo-description">
                {{if photos}}
                  {{if ArrayUtils.length(photos) > 1}}
                    <span class="active-item-index">{{= activeItemIndex + 1}}</span> из {{= photos.length}}
                  {{/if}}
                {{/if}}
            </div>
        </div>
        <a itemprop="url" class="hidden" href="{{= ImageUtils.getThumbnailUrl(photo.imageUrl, ImageUtils.ORIGINAL, ImageType.PHOTO) }}"></a>
        {{if photo.description}}<span itemprop="description" class="hidden">{{= photo.description}}</span>{{/if}}
        <div class="hidden" itemscope itemtype="http://schema.org/Person" itemprop="author">
            <span itemprop="name">{{= photo.authorName}}</span>
            <a itemprop="url" href="/{{= ProfileUtils.getUserLink(photo.profileId, photo.ownerAlias)}}">{{= photo.authorName}}</a>
        </div>
        <span itemprop="dateCreated" class="hidden">{{= DateUtils.formatDateSimple(photo.timeAdded, "YYYY-MM-DD", true)}}</span>
    </div>

</script>