<!--include css /css-generated/project.css-->


<script id="welcome-project-partners-item-template" type="text/x-jquery-template">
    <a href="{{= originalUrl}}" class="partners-list_link" target="_blank">
        <img class="partners-list_img" src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.MEDIUM, ImageType.PHOTO) }}">
    </a>
</script>

<script id="welcome-promo-banner-template" type="text/x-jquery-template">
    <div class="pwms-item">
            {{html html}}
    </div>
</script>

<script id="welcome-project-how-create" type="text/x-jquery-template">
    <div class=" modal-how-create">
        <a class="close" data-dismiss="modal"></a>
        <div class="modal-body">
            <div class="js-video embed-video"></div>
        </div>
    </div>
</script>

<script id="top-campaigns-item-template" type="text/x-jquery-template">
    {{if metaData}}
        <div class="hidden js-campaign-meta-data">{{html metaData}}</div>
    {{/if}}
    <div class="js-injection"></div>
    <a class="project-card-link"
       href="//{{= workspace.serviceUrls.mainHost}}/campaigns/{{= webCampaignAlias}}">
        {{tmpl '#top-campaigns-item-inner-template'}}
    </a>
    {{if window.location.host == workspace.serviceUrls.mainHost}}
    <div class="project-card-tag-wrap">
        {{if targetTag}}
            <a class="project-card-tag" data-categories="{{= targetTag.mnemonicName}}" href="//{{= workspace.serviceUrls.mainHost}}/search/projects?categories={{= targetTag.mnemonicName}}">
                {{if workspace && workspace.currentLanguage && workspace.currentLanguage === 'en'}}{{= targetTag.engName}}{{else}}{{= targetTag.name}}{{/if}}
            </a>
        {{else}}
            <a class="project-card-tag" data-categories="{{= tagsFull[0].mnemonicName}}" href="//{{= workspace.serviceUrls.mainHost}}/search/projects?categories={{= tagsFull[0].mnemonicName}}">
                {{if workspace && workspace.currentLanguage && workspace.currentLanguage === 'en'}}{{= tagsFull[0].engName}}{{else}}{{= tagsFull[0].name}}{{/if}}
            </a>
        {{/if}}
    </div>
    {{/if}}
    {{if count}}
    <div class="project-card-update">
        <div class="pcu-count">{{= count}}</div>
    </div>
    {{/if}}
    </div>
</script>

<script id="campaign-breadcrumbs-template" type="text/x-jquery-template">
    <div class="wrap">
        <div class="project-breadcrumbs_list">
            <div class="project-breadcrumbs_i">
                <a href="//{{= workspace.serviceUrls.mainHost}}" class="project-breadcrumbs_link">
                    {{if workspace && workspace.currentLanguage && workspace.currentLanguage === 'en'}}Home{{else}}Главная{{/if}}
                </a>
            </div>
            <div class="project-breadcrumbs_i">
                <a href="//{{= workspace.serviceUrls.mainHost}}/search/projects" class="project-breadcrumbs_link js-campaigns-breadcrumb">
                    {{if workspace && workspace.currentLanguage && workspace.currentLanguage === 'en'}}Campaigns{{else}}Проекты{{/if}}
                </a>
            </div>
            <div class="project-breadcrumbs_i">
                {{if queryTag}}
                <span class="project-breadcrumbs_link">
                    {{if workspace && workspace.currentLanguage && workspace.currentLanguage === 'en'}}{{= queryTag.engName}}{{else}}{{= queryTag.name}}{{/if}}
                </span>
                {{else}}
                    {{if $data.campaign && $data.campaign.tags && $data.campaign.tags[0]}}
                    <a href="//{{= workspace.serviceUrls.mainHost}}/search/projects?categories={{= campaign.tags[0].mnemonicName}}" class="project-breadcrumbs_link">
                        {{if workspace && workspace.currentLanguage && workspace.currentLanguage === 'en'}}{{= campaign.tags[0].engName}}{{else}}{{= campaign.tags[0].name}}{{/if}}
                    </a>
                    {{/if}}
                {{/if}}

            </div>
        </div>
    </div>
</script>

<script id="related-campaigns-item-template" type="text/x-jquery-template">
    <div class="{{if status == 'FINISHED'}}project-card-item-finish{{/if}}">
        <a class="project-card-link"
           {{if mainTag}} href="/campaigns/{{= webCampaignAlias}}?clickFromSource=recently_pledged_{{= mainTag.mnemonicName.toLowerCase()}}"{{/if}}>
            {{tmpl '#top-campaigns-item-inner-template'}}
        </a>
        {{if count}}
        <div class="project-card-update">
            <div class="pcu-count">{{= count}}</div>
        </div>
        {{/if}}
    </div>
</script>

<script id="campaign-categories-list-template" type="text/x-jquery-template">
    {{each $data.tags}}
    <a href="/search/projects?query=&categories={{= mnemonicName}}" class="pw-type-link">{{if $data.useEng}}{{= engName}}{{else}}{{= name}}{{/if}}</a>
    {{/each}}
</script>