<script id="product-other-preview-template" type="text/x-jquery-template">
    {{if $data.otherProducts && otherProducts.length}}
        <div class="product-card product-card__small js-anchor-other-products-list"></div>
    {{/if}}
</script>

<script id="image-list-item-template" type="text/x-jquery-template">
    <img src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.SMALL, ImageType.PRODUCT)}}"/>
</script>
