<script id="product-list-item-template" type="text/x-jquery-template">
    {{if DateUtils.afterNow(startSaleDate)}}
        <div class="product-card_badge">
            <div class="product-card_badge-in">
                Предзаказ
            </div>
        </div>
    {{/if}}

    {{if productUrl}}
        <a class="product-card_link" href="{{= productUrl}}">
    {{else}}
        <a class="product-card_link" href="{{= ShopUtils.getProductUrl(productId)}}">
    {{/if}}
        <span class="product-card_cover">
            <img width="280"
                 height="280"
                 src="{{= ImageUtils.getThumbnailUrl(coverImageUrl, ImageUtils.PRODUCT_COVER_NEW, ImageType.PRODUCT)}}"
                 alt="{{= name}}" />
        </span>

        <span class="product-card_cont">
            <span class="product-card_name">{{html nameHtml||name}}</span>
            {{if DateUtils.afterNow(startSaleDate)}}
                <span class="product-card_label">Предзаказ</span>
            {{/if}}


            <span class="product-card_price">
                {{= StringUtils.humanNumber(price)}}&nbsp;<span class="b-rub">Р</span>

                {{if oldPrice > 0}}
                    <span class="product-card_old-price-custom">{{= StringUtils.humanNumber(oldPrice)}}&nbsp;<span class="b-rub">Р</span></span>
                {{/if}}
            </span>
            <span class="product-card_btn">
                <span class="product-card_arr"></span>
            </span>
        </span>
    </a>
</script>

<script id="product-list-loader-template" type="text/x-jquery-template">
    <div class="product-card-loader">
        <div class="list-loader">
            <a href="javascript:void(0)"><i class="icon-load-cont icon-blue"></i> Загрузить ещё</a>
        </div>
    </div>
</script>
<script id="product-empty-list-loader-template" type="text/x-jquery-template">
    <div class="product-card-loader">
        <div class="list-loader">
            <a href="javascript:void(0)">Ничего не найдено</a>
        </div>
    </div>
</script>
<script id="product-list-loading-template" type="text/x-jquery-template">
    <div class="product-card-loader">
        <div class="list-loader">
            <a class="load" href="javascript:void(0)"><i class="icon-load"></i> Идет загрузка...</a>
        </div>
    </div>
</script>

<script id="product-search-filter-template" type="text/x-jquery-template">
    <div class="cont-header_btn-wrap">
        <div class="cont-header_btn-drop pln-dropdown">
            <span class="cont-header_btn pln-d-switch">
                <span class="js-content-current-category"></span>
                <span class="cont-header_btn_tail"></span>
            </span>
            <div class="pln-d-popup">
                <div class="cont-header_btn-drop_popup">
                    <div class="cont-header_btn-drop_list">
                        <div class="cont-header_btn-drop_i js-category-tab-link{{if mainCategoryMnemonic == '' }} active{{/if}}"
                             data-id="">Все товары
                        </div>
                        {{each(index,category) ShopUtils.getProductTags}}
                        {{if category.tagType != 'HIDDEN'}}
                        <div class="cont-header_btn-drop_i js-category-tab-link{{if mainCategoryMnemonic == category.mnemonicName }} active{{/if}}"
                             data-id="${category.mnemonicName}">${category.value}</div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-header_search">
        <input class="cont-header_search_input" type="text" id="searchString" value="{{= searchString}}" placeholder="Поиск товаров">
    </div>
</script>

<script id="product-search-referrer-item-template" type="text/x-jquery-template">
    <div class="shop-filter_multi-i" data-referrer-id="{{= profileId}}">
        <div class="form-ui form-ui-filter-multi">
            <input class="form-ui-control js-shop-filter_multi-i" id="{{= profileId}}" type="checkbox" name="checkbox" {{if isSelected}}checked{{/if}}>
            <label class="form-ui-label" for="{{= profileId}}">
                <span class="form-ui-txt">{{= displayName}}</span>
            </label>
        </div>
    </div>
</script>

<script id="product-search-referrers-view-template" type="text/x-jquery-template">
    <div class="shop-filter_head js-shop-filter_head">
        {{if mainCategoryMnemonic == "CHARITY"}}
            Фонды
        {{else}}
            Авторы
        {{/if}}
    </div>

    <div class="shop-filter_cont">
        <div class="shop-filter_multi-filter">
            <input id="referrerNameInput" name="referrerNameInput" type="text" class="form-control shop-filter_multi-filter-input" placeholder="Поиск автора">
            <input class="hide" id="referrerIdInput" name="referrerIdInput" value="0">
        </div>

        <div class="js-referrers-list shop-filter_multi-list"></div>
    </div>
</script>