<script id="wizard-template" type="text/x-jquery-template">
    <div class="donate-step">
        <ul class="donate-step-block">
            {{each(index, step) steps}}
            <li class="donate-step-item {{if currentStep == step.number - 1}}active{{/if}}">
                <span class="step-count">{{= number}}</span>
                <span class="step-name">
                    {{= title}}
                </span>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="plate-cont wizard-tab-content"></div>
    <div class="plate-action">
        <div class="plate-action-btn">
            {{if actions.prevStep}}
            <a href="javascript:void(0);" class="btn prev-step-button">Назад</a>
            {{/if}}
            {{if actions.nextStep}}
            <a href="javascript:void(0);" class="btn btn-primary next-step-button">Следующий шаг</a>
            {{/if}}
            {{if actions.submit}}
            <a href="javascript:void(0);" class="btn submit-button btn-primary">Готово</a>
            {{/if}}
        </div>
    </div>
</script>

<script id="product-edit-description-template" type="text/x-jquery-template">
    <h3>Название и описание</h3>
    <div class="fieldset">
        <label>Название товара:</label>
        <div class="input-field">
            <input type="text" id="name" name="name" value="{{= name}}">
        </div>
    </div>
    <div class="fieldset">
        <label>Описание товара:</label>
        <div class="input-field">
            <div id="descriptionHtmlArea" class="tinymce-body">
                {{html descriptionHtml}}
            </div>
            <input type="hidden" id="descriptionHtml" name="descriptionHtml">
            <input type="hidden" id="description" name="description" placeholder="Описание товара" value="{{if description}}{{= description}}{{else}} {{/if}}">
        </div>
    </div>
    <div class="fieldset">
        <label>Дополнительный текст для письма о покупке:</label>
        <div class="input-field">
            <textarea id="textForMail" name="textForMail" >{{if textForMail}}{{= textForMail}}{{/if}}</textarea>
        </div>
    </div>
</script>

<script id="product-edit-photo-template" type="text/x-jquery-template">
    <h3>Фотографии товара</h3>
    <div class="donate-photo"></div>
</script>

<script id="product-edit-preorder-template" type="text/x-jquery-template">
    <h3>Начало продаж по предзаказу</h3>
    <div class="fieldset">
        <input type="hidden" id="js-timestump-date" name="startSaleDate" value="{{if $data.startSaleDate}}{{= startSaleDate}}{{/if}}">
        <input type="text" id="js-human-date" value='{{if $data.startSaleDate}}{{= DateUtils.formatDateSimple(startSaleDate,"DD MMMM YYYY")}}{{/if}}'>
    </div>
</script>

<script id="product-bind-profile-template" type="text/x-jquery-template">
    <div class="fieldset">
        <H3>Автор товара</H3>
        {{if $data.referrer && referrerWebAlias == $data.referrer.webAlias}}
        <a href="https://{{= workspace.serviceUrls.mainHost}}/{{= referrerWebAlias}}">{{= referrer.displayName}}</a>
        {{/if}}
        <input id="referrerWebAlias" name="referrerWebAlias" type="text" value="{{= referrerWebAlias}}" data-event-input="onReferrerWebAliasChanged">
        <div class="checkbox">
            <label class="">
                <input type="checkbox" id="showOnCampaign" name="showOnCampaign" data-event-click="onShowOnCampaignChanged"
                       onchange="this.value == 'true'? this.value = 'false' : this.value = 'true'"
                       value="{{if showOnCampaign}}true{{else}}false{{/if}}"
                       {{if showOnCampaign}}checked="checked"{{/if}}> Показывать товар на страницах всех проектов
            </label>
        </div>

        {{if !$data.showOnCampaign}}
        <label>Показывать товар на страницах только этих проектов:</label>
        <div class="input-field">
            <input id="campaignIdsString" name="campaignIdsString" type="text" value="{{= campaignIdsString}}" data-event-input="onCampaignIdsStringChanged"
            placeholder="Введите id проектов через запятую">
        </div>
        <br>
        {{/if}}
        {{if $data.productId > 0}}
        <div class="btn btn-primary" data-event-click="onBindProductToProfileClicked">Сохранить</div>
        {{/if}}
    </div>
</script>

<script id="product-bind-donate-template" type="text/x-jquery-template">
    <div class="fieldset">
        <H3>Товар поддержки автора</H3>
        <input id="donateId" name="donateId" type="text" value="{{= donateId}}" data-event-input="onDonateIdChanged">
        {{if referrer}}
            <div class="btn" data-event-click="onFindDonateByReferrerClicked">Найти подходящий товар у автора {{= referrer.displayName}}</div>
        {{/if}}
    </div>
</script>


<script id="product-edit-photo-item-template" type="text/x-jquery-template">
    {{if upload}}
    <a href="javascript:void(0)" class="upload-photo">
        <img src='{{= workspace.staticNodesService.getResourceUrl("/images/defaults/upload.png")}}' alt="Загрузить фото"/>
    </a>
    {{else}}
    <div data-tooltip="Обрезать фото" class="crop-photo close tooltip" style="right: 24px;">
        <i class="fa fa-crop icon-white" style="color: white; font-weight: normal; text-shadow: none;"></i>
    </div>
    <div data-tooltip="Удалить фото" class="delete-photo close tooltip">
        <i class="icon-remove icon-white"></i>
    </div>
    <a href="javascript:void(0)" class="select-photo">
        <img data-image="{{= imageUrl}}" class="js-sortable-image" src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.PRODUCT_COVER_NEW, ImageType.PRODUCT)}}" alt="фотография" title="Кликните, чтобы установить фотографию товара"/>
    </a>
    {{/if}}
</script>

<script id="product-edit-tags-template" type="text/x-jquery-template">
    <h3>Тэги товара</h3>
    <div class="fieldset">
        <div class="select-field">
            <select id="type" name="category" multiple>
                {{each(index, productType) ShopUtils.getProductTags()}}
                <option value="{{= productType.categoryId}}" {{if _.findWhere(tags, {categoryId: productType.categoryId})}}selected="selected"{{/if}}>
                {{= productType.value}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>
</script>

<script id="product-edit-tags-in-product-list-template" type="text/x-jquery-template">
    <div class="fieldset">
        <div class="select-field">
            <select id="type" name="category" multiple>
                {{each(index, productType) ShopUtils.getProductTags()}}
                <option value="{{= productType.categoryId}}" {{if _.findWhere(tags, {categoryId: productType.categoryId})}}selected="selected"{{/if}}>
                {{= productType.value}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>
</script>

<script id="product-edit-category-template" type="text/x-jquery-template">
    <h3>Категория товара</h3>
    <div class="fieldset">
        <div class="select-field">
            <select id="productCategory" name="productCategory">
                {{each(index, cat) workspace.appModel.productCategories}}
                <option value="{{= cat}}" {{if productCategory == cat}}selected="selected"{{/if}}>
                {{= ShopUtils.getProductCategoryName(cat)}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>
    {{if (productCategory == 'DIGITAL') && (productId && (productState == 'SOLID_PRODUCT') || !productId) && (!childrenProducts.length) }}
    <div class="fieldset">
        <label>URL товара (если их несколько - ввести в столбик):</label>
        <div class="ply-input ply-input_long">
            <table>
                <tbody>
                <tr>
                    <td>
                        <div class="ply-text">
                            {{= resourceHost}}
                        </div>
                    </td>
                    <td>
                        <div class="input">
                            <textarea id="js-product-url-input" type="text" name="contentUrlsString">{{= contentUrlsString}}</textarea>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
</script>

<script id="product-edit-price-template" type="text/x-jquery-template">
    <h3>Цена</h3>
    <div class="fieldset">
        <label>Цена за единицу:</label>
        <div class="input-field">
            <input class="span4" type="text" id="price" name="price" value="{{= price || 0}}">
            <span class="input-hl">руб.</span>
            <span class="help-inline error-message"></span>
        </div>
    </div>
    <div class="fieldset">
        <label>Старая цена:</label>
        <div class="input-field">
            <input class="span4" type="text" id="oldPrice" name="oldPrice" value="{{= oldPrice || 0}}">
            <span class="input-hl">руб.</span>
            <span class="help-inline error-message"></span>
        </div>
    </div>
</script>

<script id="product-edit-params-template" type="text/x-jquery-template">
    <div class="fieldset">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="freeDelivery" name="freeDelivery"
                       onchange="this.value == 'true'? this.value = 'false' : this.value = 'true'"
                       value="{{if freeDelivery}}true{{else}}false{{/if}}"
                       {{if freeDelivery}}checked="checked"{{/if}}> Бесплатная доставка
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="cashAvailable" name="cashAvailable"
                       onchange="this.value == 'true'? this.value = 'false' : this.value = 'true'"
                       value="{{if cashAvailable}}true{{else}}false{{/if}}"
                       {{if cashAvailable}}checked="checked"{{/if}}> Оплата наличкой
            </label>
        </div>
    </div>
</script>

<script id="product-edit-attributes-template" type="text/x-jquery-template">
    {{if childrenProducts.length}}
    <div class='mrg-t-20'>
        <table class="table table-bordered product-manage-table fixed-manage-table">
            <colgroup>
                <col width="100%">
                <col width="120">
                <col width="120">
            </colgroup>
            <thead>
            <tr>
                <th>Параметры</th>
                <th>Кол-во</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {{each(i, product) childrenProducts}}
            <tr>
                <td>
                    <div class="manage-option-name">
                        {{= product.productAttribute.value}}
                    </div>
                </td>
                <td style="padding: 7px 5px">
                    <input type="text" style="width: 100px; margin-bottom: 0px;" data-attribute-value="{{= product.productAttribute.value}}" value="{{= product.totalQuantity}}"/>
                </td>
                <td>
                    <a href="javascript:void(0);" class="remove-child" data-attribute-value="{{= product.productAttribute.value}}">Удалить</a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
    <div class="form-inline">
        <input type="text" name="new-attr-name" placeholder="не более 25 символов." class="limited-input mrg-r-5" data-limit="25"/>
        {{if productCategory == "DIGITAL"}}
            <textarea type="text" name="newContentUrlsString">{{= contentUrlsString}}</textarea>
        {{/if}}
        <a class='btn btn-small js-add-attr{{if (productState == "ATTRIBUTE") && productId }} disabled{{else}} btn-primary{{/if}}'
           href="javascript:void(0);">
            Добавить параметры
        </a>
        <div class="dropdown">
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Добавить предустановленные</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                {{each(i,item) ShopUtils.getTagToAttributesTypeMapNames()}}
                <li><a tabindex="-1" class="js-predefined-attribute" data-tag-name="{{= item}}" href="javascript:void(0);">Для "{{= ShopUtils.getProductTagByName(item).value}}"</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</script>

<script id="product-edit-infotable-template" type="text/x-jquery-template">
    <div class="mrg-t-20">
        {{if tableImageUrl}}
        <a class='btn btn-small add-table-image-url{{if (productState == "ATTRIBUTE") && productId }} disabled{{else}} btn-primary{{/if}}'
           href="javascript:void(0);">
            Изменить картинку таблицы
        </a>
        <a class='btn btn-small photo-zoom-link' href="{{= tableImageUrl}}">
            Просмотр
        </a>
        <a class='btn btn-small delete-table-image-url' href="javascript:void(0);">
            <i class="icon-close"/> Удалить
        </a>
        {{else childrenProducts.length}}
        <a class='btn btn-small add-table-image-url{{if (productState == "ATTRIBUTE") && productId}} disabled{{else}} btn-primary{{/if}}'
           href="javascript:void(0);">
            Добавить информационную таблицу
        </a>
        {{/if}}
    </div>
</script>


<script id="product-edit-attr-item-template" type="text/x-jquery-template">
    <td>
        <div class="manage-option-name">
            {{= productAttribute.value}}
        </div>
    </td>
    <td style="padding: 7px 5px">
        <input type="text" style="width: 100px; margin-bottom: 0px;" name="totalQuantity" value="{{= totalQuantity}}"/>
    </td>
    <td>
        {{if totalOnHoldQuantity }}
            "{{= totalOnHoldQuantity }} шт."
        {{else}}
            нет
        {{/if}}
    </td>
    <td>
        <div class="action-block hidden">
            <a class="btn btn-primary btn-small js-update-quantity" href="javascript:void(0)">Сохранить</a>
            <a class="btn btn-small js-cancel-changes" href="javascript:void(0)">Отменить</a>
        </div>
    </td>
</script>


<!-- Wizard: Step 1 -->
<script id="product-edit-common-template" type="text/x-jquery-template">
    <form>
        <div class="row-fluid">
            <div class="col-lg-6 js-product-description"></div>
            <div class="col-lg-6 js-photo"></div>
            <div class="col-lg-6 js-bind-profile"></div>
            <div class="col-lg-6 js-bind-donate"></div>
            <div class="col-lg-6 js-preorder"></div>
        </div>
    </form>
</script>

<!-- Wizard: Step 2 -->
<script id="product-edit-details-template" type="text/x-jquery-template">
    <form>
        <div class="row-fluid">
            <div class="col-lg-6 js-product-tags"></div>
            <div class="col-lg-6 js-product-category"></div>
            <div class="col-lg-6 js-product-price pull-right"></div>
            <div class="col-lg-6 js-product-params pull-right"></div>
        </div>
    </form>

    {{if (productState == 'META') || !productId}}
    <div class="js-product-attributes"></div>
    <div class="js-product-infotable"></div>
    {{/if}}

    {{if productCategory != 'DIGITAL'}}
    <div class="js-product-quantity"></div>
    {{/if}}
</script>

<!-- Wizard: Step 3 -->
<script id="product-edit-quantity-template" type="text/x-jquery-template">
    {{if childrenProducts.length == 0}}
    <h3>Количество</h3>
    <div class="status-storage">
        <input type="text" name="totalQuantity" value="{{= totalQuantity}}" style="margin-bottom: 0px;">
        {{if totalOnHoldQuantity }}
        <span style="margin-left: 10px;">
            зарезервированно {{= totalOnHoldQuantity }} шт.
        </span>
        {{/if}}
    </div>
    {{/if}}
</script>

<!-- Wizard: Step 4 -->
<script id="product-edit-preview-template" type="text/x-jquery-template">
    <div class="product-header">
        <h2 class="product-name">{{= name}}</h2>
        <div class="product-name-type">
            {{each(index, tag) tags}}
            {{= tag.value}}
            {{/each}}
        </div>
    </div>

    <div class="clearfix">
        <div class="product-preview">
            {{if imageUrls && imageUrls.length > 1}}
            <div class="product-preview-list-block">
                {{if imageUrls}}
                {{each(index, imageUrl) imageUrls}}
                <a href="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.ORIGINAL, ImageType.PRODUCT)}}" class="photo-zoom-link">
                    <img src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.PRODUCT_COVER_NEW, ImageType.PRODUCT)}}" alt="product-preview" style="width: 90px;margin: 4px;">
                </a>
                {{/each}}
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div class="product-descr">
            <div class="product-descr-header">Описание:</div>
            {{if descriptionHtml}}<div>{{html descriptionHtml}}</div>{{/if}}
        </div>
    </div>
</script>


<script id="product-edit-onepage-template" type="text/x-jquery-template">
    <!--//TODO новая админка: сделать красиво-->
    <form>
        <div class="row">
            <div class="col-lg-6 js-product-description"></div>
            <div class="col-lg-6 js-photo"></div>
            <div class="col-lg-6 js-bind-profile"></div>
            <div class="col-lg-6 js-bind-donate"></div>
            <div class="col-lg-6 js-preorder"></div>

            <div class="col-lg-6 js-product-tags"></div>
            <div class="col-lg-6 js-product-category"></div>
            <div class="col-lg-6 js-product-price pull-right"></div>
            <div class="col-lg-6 js-product-params pull-right"></div>
        </div>
    <form>

    <hr/>
    {{if (productState == 'META') || !productId}}
    <div class="js-product-attributes"></div>
    <div class="js-product-infotable"></div>
    {{/if}}

    <div class="js-product-quantity"></div>

    <div class="plate-action-btn">
        <div class="js-message" style="float: right; margin:20px 0px 20px 20px;"></div>
        <a class="btn submit-button btn-primary" style="margin:20px 0px 20px 0px;">Готово</a>
    </div>

</script>

