<!-- Delivery Service Templates -->

<script id="delivery-item-template" type="text/x-jquery-template">
    <td>
        <h4 style="color: #0088cc">{{= name}}</h4>
        {{if serviceType == "CUSTOMER_PICKUP"}}
            <p>[Самовывоз]</p>
        {{else serviceType == "DELIVERY"}}
            <p>[Доставка]</p>
        {{/if}}
    </td>

    <td>
        <dl class="dl-horizontal">
            <dt>Регион покрытия</dt>
            <dd>{{= location.name}}</dd>
        </dl>

        {{if descriptionHtml }}
            <dl class="dl-horizontal">
                <dt>Рассчёт стоимости:</dt>
                <dd>{{html descriptionHtml}}</dd>
            </dl>
        {{else description}}
            <dl class="dl-horizontal">
                <dt>Рассчёт стоимости:</dt>
                <dd>{{html description}}</dd>
            </dl>
        {{/if}}

        {{if publicNote}}
            <dl class="dl-horizontal">
                <dt>Публичное описание:</dt>
                <dd>{{html publicNote}}</dd>
            </dl>
        {{/if}}

        {{if serviceType == "CUSTOMER_PICKUP" && address.addressId}}
            <dl class="dl-horizontal">
                <dt>Адрес склада</dt>
                <dd>
                    {{= address.country ? address.country + ',' : ''}}{{= address.city}}, {{= address.street}},
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Телефон</dt>
                <dd>
                    {{= address.phone}}
                </dd>
            </dl>
        {{/if}}
    </td>

    <td>
        <h4 style="color: #0088cc">{{= price}} P</h4>
    </td>
    <td class="text-right admin-table-actions">
        <button class="btn btn-primary btn-outline js-edit-delivery" title="Редактировать">
            <i class="fa fa-pencil"></i>
        </button>

        {{if serviceId >= 0}}
            <button class="btn btn-danger btn-outline js-remove-delivery" title="Удалить">
                <i class="fa fa-trash"></i>
            </button>
        {{/if}}
    </td>
</script>

<script id="delivery-page-template" type="text/x-jquery-template">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Службы доставки магазина Планеты
            </h1>
        </div>
    </div>

    <div class="main-page-actions">
        <a class="js-create-delivery btn btn-success btn-circle btn-outline btn-lg" href="javascript:void(0);"
           title="Добавить службу">
            <i class="fa fa-plus"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 admin-table">
            <table class="js-table table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Детали</th>
                    <th>Стоимость</th>
                    <th>Действия</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</script>