<!--include css /css-generated/payment.css-->
<!--include css /css-generated/shop.css-->

<script id="product-delivery-item-template" type="text/x-jquery-template">
        {{if price}}
        <div class="shop-order-delivery-type_price">{{= price}}
            <span class="b-rub">Р</span>
        </div>
        {{else}}
        <div class="shop-order-delivery-type_price shop-order-delivery-type_price__free">бесплатно</div>
        {{/if}}
        <span class="radiobox {{if isSelected}}active{{/if}}"></span>
        <div class="radiobox-label"><span class="shop-order-delivery-type_name">{{= name}}</span></div>
</script>

<script id="product-delivery-page-template" type="text/x-jquery-template">
    {{if doRequireDelivery}}
        <div class="shop-order-form_lbl col-3">
            Способ доставки
        </div>

        <div class="shop-order-form_val col-9">
            <div class="hide js-error-not-exists-delivery">
                <div class="pln-payment-box_field-text-error">
                    К сожалению, в этот населенный пункт доставка не осуществляется.
                </div>
            </div>

            <div class="pln-payment-box_field-row pln-payment-box_field-row_hidden fieldset">
                <div class="hidden">
                    <input name="serviceId" type="hidden" value="{{= serviceId}}">
                    <input name="deliveryType" type="hidden" value="{{= deliveryType}}">
                    <input name="deliveryPrice" type="hidden" value="{{= deliveryPrice}}">
                </div>

                <div class="pln-payment-box_field-text-error">
                    Не выбран способ доставки
                </div>
            </div>

            <div class="shop-order-form_box shop-order-delivery-type js-anchor-delivery-list"></div>
        </div>
    {{/if}}
</script>

<script id="product-purchase-payment-order-template" type="text/x-jquery-template">
    <div class="cart-short-header">
        <div class="cart-short-header_head">
            Ваш заказ
        </div>
        <a href="/payment/shopping-cart" class="cart-short-header_edit-link">редактировать</a>
    </div>

    <div class="cart-short">
        {{each(i, product) cartItems}}
        <div class="cart-short_i">
            <div class="cart-short_val">
                {{if product.count > 1}}
                <span class="cart-short_val-count">{{= product.count}}&nbsp;×</span>
                {{/if}}
                {{= StringUtils.humanNumber(product.price)}}<sup class="b-rub">Р</sup>
            </div>
            <div class="cart-short_lbl">
                <a href="/products/{{= product.objectId}}">{{= product.objectName}} {{if product.attribute}}({{= product.attribute}}){{/if}}</a>
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script id="product-purchase-cart-sidebar-template" type="text/x-jquery-template">
    <div class="col-3 col-push-9">
        <div class="shop-order-sidebar">
            <div class="shop-order-sidebar_box">
                <div class="shop-checkout">
                    <div class="shop-checkout_i">
                        {{tmpl "#product-purchase-payment-order-template"}}
                    </div>

                    <div class="shop-checkout_i">
                        <div class="shop-checkout_val">
                            {{= StringUtils.humanNumber(donateAmount)}}<sup class="b-rub">Р</sup>
                        </div>
                        <div class="shop-checkout_lbl">
                            Товары на сумму
                        </div>
                    </div>

                    {{if (deliveryPrice && deliveryPrice > 0)}}
                    <div class="shop-checkout_i">
                        <div class="shop-checkout_val">
                            {{= StringUtils.humanNumber(deliveryPrice)}}<sup class="b-rub">Р</sup>
                        </div>
                        <div class="shop-checkout_lbl">
                            Доставка
                        </div>
                    </div>
                    {{/if}}

                    {{if (discountAmount && discountAmount > 0)}}
                    <div class="shop-checkout_i">
                        <div class="shop-checkout_val">
                            <span class="shop-checkout_promocode">скидка {{= StringUtils.humanNumber(discountAmount)}}<sup class="b-rub">Р</sup></span>
                        </div>
                        <div class="shop-checkout_lbl">
                            Промокод
                        </div>
                    </div>
                    {{/if}}

                    <div class="shop-checkout_i">
                        <div class="shop-checkout_val">
                            {{= StringUtils.humanNumber(donateAmount + deliveryPrice - discountAmount)}}<sup class="b-rub">Р</sup>
                        </div>
                        <div class="shop-checkout_lbl">
                            Итого
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script id="product-delivery-city-template" type="text/x-jquery-template">
    {{if deliveryType && deliveryType != "CUSTOMER_PICKUP"}}
    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">Страна</div>
        <div class="shop-order-form_val col-4">
            <select class="pln-select"
            {{if customerContacts.disableCountry}}readonly{{/if}}
            data-planeta-ui="country"
            data-selected-country-id="{{= customerContacts.countryId}}"
            name="customerContacts.countryId">
            </select>
        </div>
    </div>

    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">Населенный пункт</div>
        <div class="shop-order-form_val col-9">
            <div class="input-field">
                <!--brutal hack to show error message correctly-->
                <input class="form-control" type="text"
                       name="customerContacts.city"
                       value="{{= customerContacts.city}}"
                {{if customerContacts.disableCity}}readonly{{/if}}
                placeholder="Укажите название города/села/деревни">
            </div>
        </div>
    </div>
    {{/if}}
</script>

<script id="product-delivery-address-template" type="text/x-jquery-template">
    {{if deliveryType == "CUSTOMER_PICKUP" }}
    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">Адрес самовывоза</div>
        <div class="shop-order-form_val col-9">
            <div class="shop-order-form_info-text">{{= address.zipCode}}, {{= address.country}}, {{= address.city}}, {{= address.street}}</div>
        </div>
    </div>
    {{else}}
    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">Адрес</div>
        <div class="shop-order-form_val col-9">
            <!--brutal hack to show error message correctly-->
            <input type="hidden" name="street">

            <textarea rows="2" class="form-control" name="customerContacts.street" placeholder="Укажите улицу, дом, корпус, квартиру">{{= customerContacts.street}}</textarea>
        </div>
    </div>

    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">Индекс</div>
        <div class="shop-order-form_val col-4">
            <!--brutal hack to show error message correctly-->
            <input type="hidden" name="zipCode">

            <input type="text"
                   class="form-control"
                   name="customerContacts.zipCode"
                   value="{{= customerContacts.zipCode}}"
                   placeholder="Укажите почтовый индекс получателя">
        </div>
    </div>
    {{/if}}
</script>


<script id="product-purchase-buttons-template" type="text/x-jquery-template">
    <div class="shop-order-action">
        <a href="{{= backButtonUrl}}" class="shop-order-action_back shop-btn shop-btn-default">Назад</a>
        <button type="submit" class="js-submit shop-order-action_next shop-btn shop-btn-primary">Далее</button>
    </div>
</script>

<script id="product-purchase-contacts-page-template" type="text/x-jquery-template">
    {{tmpl "#product-purchase-cart-sidebar-template"}}
    <div class="col-9 col-pull-3">
        <div class="shop-order-main">
            <div class="shop-order-form">
                <div class="js-contacts-block"></div>
            </div>
            {{tmpl "#product-purchase-buttons-template"}}
        </div>
    </div>
</script>



<script id="product-promo-code-template" type="text/x-jquery-template">
    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">
            У Вас есть промокод?
        </div>
        <div class="shop-order-form_val col-7">
            <input type="hidden" name="promoCodeId" value="{{= promoCodeId}}">
            <input id="promoCode" type="text" name="promoCode" class="form-control js-promo-input" placeholder="Введите его здесь"
            {{if (promoCodeId && promoCodeId > 0)}} disabled {{/if}}
            value="{{= promoCode}}">
        </div>
        <div class="shop-order-form_add-btn col-2">
            <button type="button" class="shop-btn shop-btn-secondary btn-block js-promo-button"
            {{if (promoCodeId && promoCodeId > 0)}} disabled {{/if}}>Применить</button>
        </div>
    </div>
</script>

<script id="product-payment-block-template" type="text/x-jquery-template">
    <div class="shop-order-payment-type">
        {{if cashEnabled}}
        <div class="pln-payment-box_field-row">

            <div class="pln-payment-box_delivery-type js-payment-group-selection">
                <div class="radio-row flat-ui-control js-payment-group-item" data-type="PAYMENT_SYSTEM">
                    <span class="radiobox{{= ($data.paymentGroup != 'CASH') ? ' active' : ''}}"></span>
                    <span class="radiobox-label">Безналичный расчет</span>
                </div>

                <div class="radio-row flat-ui-control js-payment-group-item" data-type="CASH">
                    <span class="radiobox{{= ($data.paymentGroup == 'CASH') ? ' active' : ''}}"></span>
                    <span class="radiobox-label">Наличными при получении</span>
                </div>
            </div>
        </div>
        {{/if}}

        {{if ($data.paymentGroup != 'CASH')}}
            {{if myBalance && isPlanetaPurchaseEnabled}}
            <div class="pln-payment-box_field-row pln-payment-box_field-pdg pln-payment-order-type">
                <div class="checkbox-row flat-ui-control js-planeta-purchase">
                    <span class="checkbox{{if planetaPurchase}} active{{/if}}"></span>
                    {{if myBalance >= price}}
                    <span class="checkbox-label">Оплатить заказ, используя средства на моем счету</span>
                    {{else}}
                    <span class="checkbox-label">Оплатить часть заказа, используя средства на моем счету: <b>{{= myBalance}}
                        <span class="b-rub">Р</span></b></span>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            {{if !planetaPurchase || myBalance < price}}
            <div class="js-payment"></div>
            {{/if}}
        {{/if}}
    </div>
</script>


<script id="product-purchase-payment-page-template" type="text/x-jquery-template">
    {{tmpl "#product-purchase-cart-sidebar-template"}}
    <div class="col-9 col-pull-3">
        <div class="shop-order-main">
            <div class="shop-order-form">
                <div class="js-promo-code-block"></div>
                <div class="js-project-payment-details-container"></div>
            </div>
            {{tmpl "#product-purchase-buttons-template"}}
        </div>
    </div>
</script>



<script id="product-select-delivery-contacts-template" type="text/x-jquery-template">
    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">
            Имя и фамилия
        </div>
        <div class="shop-order-form_val col-9">
            <input type="hidden" name="customerId" value="{{= profileId}}">
            <input type="text" class="form-control"
                   name="customerName"
                   value="{{= customerName.trim()}}">
        </div>
    </div>

    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">
            Контактный телефон
        </div>
        <div class="shop-order-form_val col-9">
            <div class="shop-order-form_phone-code">+7</div>
            <div class="shop-order-form_phone">
                <input type="text" class="form-control"
                   name="phoneNumber"
                   value="{{= phoneNumber}}">
            </div>
        </div>
    </div>

    {{if !hasEmail}}
    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">
            E-mail
        </div>
        <div class="shop-order-form_val col-4 js-anchr-email-block dropdown input-warning-dropdown">
            <input type="email" class="form-control"
                   name="email"
                   value="{{= email}}">

            <div class="dropdown-popup">
                <div class="dropdown-popup-caret"></div>
                <div class="dropdown-popup-body">
                    <div id="hint" class="warning-message-error" style="display: block;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-order-form_fieldset fieldset"></div>
    {{/if}}


    <div class="shop-order-form_fieldset fieldset js-delivery-address-container"></div>
    {{if !onlyDigitalProducts && deliveryType != 'NOT_SET'}}
        {{tmpl "#product-delivery-city-template"}}
        {{tmpl "#product-delivery-address-template"}}
    {{/if}}

    <div class="shop-order-form_fieldset fieldset">
        <div class="shop-order-form_lbl col-3">
            Комментарий
        </div>
        <div class="shop-order-form_val col-9">
            <textarea type="text" class="form-control" rows="5" name="comment">{{= comment}}</textarea>
        </div>
    </div>
</script>

