<!-- Shopping Cart Templates-->
<script id="shopping-cart-item-2-template" type="text/x-jquery-template">
    {{if editEnabled}}
    <td class="cart-list_del-wrap">
        <span class="cart-list_del js-basket-del">×</span>
    </td>
    {{/if}}
    <td {{if productCategory == 'DIGITAL'}}colspan="3"{{/if}}>
    <div class="cart-list_product">
        <a class="cart-list_link" href="/products/{{= objectId}}" target="_blank">
                    <span class="cart-list_cover">
                        <img src="{{= ImageUtils.getThumbnailUrl(objectImageUrl, ImageUtils.PRODUCT_COVER_NEW, ImageType.PRODUCT)}}"
                             alt="{{= objectName}}">
                    </span>
                    <span class="cart-list_name">
                        {{= objectName}}
                        {{if attribute}}({{= attribute}}){{/if}}
                    </span>
        </a>
        {{if productCategory == 'DIGITAL'}}
        <div class="cart-list_digit-label-block"><span class="cart-list_digit-label">Цифровой товар</span></div>
        {{/if}}

        {{if startSaleDate}}
        <div class="cart-list_preorder-label-block">
            <span class="cart-list_preorder-label">Предзаказ! Товар будет в наличии с {{= DateUtils.formatDateSimple(startSaleDate,"DD MMMM YYYY")}}</span>
        </div>
        {{/if}}
    </div>
    </td>

    <td>
        <div class="cart-list_price">
            {{= StringUtils.humanNumber(price)}}<sup class="b-rub">Р</sup>
        </div>
    </td>
    {{if productCategory != 'DIGITAL'}}
    <td>
        <div class="cart-list_amount">
            <div class="cart-list_amount-btn {{if count < 2 }} disabled{{/if}} js-basket-minus">&ndash;</div>
            <input type="text" value="{{= count}}" name="count" class="cart-list_amount-input">
            <div class="cart-list_amount-btn js-basket-plus">+</div>
        </div>
    </td>

    <td>
        <div class="cart-list_sum">
            {{= StringUtils.humanNumber(price * count)}}<sup class="b-rub">Р</sup>
        </div>
    </td>
    {{/if}}
</script>

<script id="shopping-cart-2-template" type="text/x-jquery-template">
    <colgroup>
        <col width="94">
        <col width="100%">
        <col width="145">
        <col width="220">
        <col width="122">
    </colgroup>
    <thead>
    <tr>
        <th></th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>


<script id="shopping-cart-item-template" type="text/x-jquery-template">
    <td>
        <div class="product-basket-del">
            {{if editEnabled}}
            <i class="icon-close icon-gray remove-item"></i>
            {{/if}}
        </div>
    </td>
    <td>
        <a class="product-basket-preview" href="/products/{{= objectId}}">
            <img class="central-block" src="{{= ImageUtils.getThumbnailUrl(objectImageUrl, ImageUtils.PRODUCT_COVER_NEW, ImageType.PRODUCT)}}" alt="{{= objectName}}">
            <span class="vertical-align"></span>
        </a>
    </td>
    <td>
        <div class="product-basket-name"><a href="/products/{{= objectId}}">{{= objectName}}</a></div>
    </td>
    <td>
        {{if count}}
        <div class="product-basket-count form-inline">
            {{if productCategory == 'DIGITAL'}}
            {{else editEnabled}}
            <i class="icon-minus icon-gray{{if count < 2 }} disabled{{/if}} decrease-count"></i>
            <input type="text" value="{{= count}}" name="count">
            <i class="icon-pluse icon-gray increase-count"></i>
            {{else}}
            <i class="icon-minus icon-gray disabled decrease-count"></i>
            <input type="text" value="{{= count}}" name="count" disabled="true">
            <i class="icon-pluse icon-gray disabled increase-count"></i>
            {{/if}}
        </div>
        {{else}}
        <div class="product-basket-not-count">
            н/д
        </div>
        {{/if}}
    </td>
    <td>
        {{if productCategory == 'DIGITAL'}}
        &nbsp;
        {{else}}
        {{= price}} руб.
        {{/if}}
    </td>
    <td>
        {{= (price * count)}} руб.
    </td>
</script>

<script id="shopping-cart-template" type="text/x-jquery-template">
    <table class="table product-manage-table basket-manage-table fixed-manage-table mrg-b-0">
        <colgroup>
            <col width="30">
            <col width="90">
            <col width="100%">
            <col width="90">
            <col width="100">
            <col width="100">
        </colgroup>
        <tbody>
        </tbody>
        <tfoot>
        <tr class="sum-row">
            <td colspan="5">
                <strong>Итого</strong>
            </td>
            <td>
                <strong>{{= totalSum}} руб.</strong>
            </td>
        </tr>
        </tfoot>
    </table>
</script>

<script id="shopping-cart-wrapper-template" type="text/x-jquery-template">
    {{if totalItems == 0}}
    <div class="cart-empty">
        <div class="cart-empty_msg">
            В вашей корзине пусто
        </div>
        <div class="text-center">
            <a class="shop-btn shop-btn-primary" href="/products/search.html">
                Вернуться в магазин
            </a>
        </div>
    </div>
    {{else}}
    <div class="shop-order-cart">
        <table class="cart-list table table-bordered fixed-manage-table js-anchor-cart-product-list"></table>
        <div class="cart-action-block">
            {{if showDeliveryPromo}}
            <div class="cart-delivery-free">
                Добавьте еще товаров на сумму <b>{{= StringUtils.humanNumber(5000 - totalSum)}} {{= StringUtils.declOfNum(5000 - totalSum, ['рубль', 'рубля', 'рублей'])}}</b>, чтобы получить
                <span class="cart-delivery-free_b">бесплатную доставку</span> по России
            </div>
            {{/if}}


            <div class="cart-action">
                <div class="cart-action_cost">
                    <div class="cart-action_cost_lbl">
                        Сумма заказа
                    </div>
                    <div class="cart-action_cost_val">
                        {{= StringUtils.humanNumber(totalSum)}}<sup class="b-rub">Р</sup>
                    </div>
                </div>
                <div class="cart-action_btn">
                    {{if totalSum > 0}}
                    <a href="javascript:void(0);" class="shop-btn shop-btn-primary js-purchase-cart">Оформить заказ</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</script>

<script id="shopping-cart-popup-template" type="text/x-jquery-template">
    {{if totalItems != 0}}
    <div class="pln-d-popup-cont basket-popup_cont">
        <div class="basket">
            <div class="scroll">
                <div class="scroll-content modal-scroll-content"></div>
            </div>

            {{if totalSum > 0}}
            <div class="basket_footer">
                <div class="basket_sum">Итого: {{=  StringUtils.humanNumber(totalSum)}}<span class="b-rub">Р</span></div>

                <div class="basket_action">
                    {{if !inShoppingCart && (totalItems > 0)}}
                    <a href="/payment/shopping-cart" class="shop-btn shop-btn-default">Перейти в корзину</a>
                    {{/if}}
                    {{if totalSum > 0 && !onCheckoutPage}}
                    <a href="/payment/shopping-cart-contacts" class="shop-btn shop-btn-primary js-purchase-cart">Оформить заказ</a>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    {{/if}}
</script>


<script id="shopping-cart-popup-notification-template" type="text/x-jquery-template">
    <div class="pln-d-popup-cont basket-popup_cont">
        <div class="basket">
            <div class="basket_header">
                Товар добавлен в корзину
            </div>
            <div class="basket_list"></div>

            <div class="basket_footer">
                <div class="basket_action">
                    <a href="/payment/shopping-cart" class="shop-btn shop-btn-default">Перейти в корзину</a>
                    <a href="/payment/shopping-cart-contacts" class="shop-btn shop-btn-primary js-purchase-cart">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="shopping-cart-popup-item-template" type="text/x-jquery-template">
    <div class="basket_cover">
        <a class="basket_cover-link" href="/products/{{= objectId}}">
            <img src="{{= ImageUtils.getThumbnailUrl(objectImageUrl, ImageUtils.SMALL, ImageType.PRODUCT)}}" alt="{{= objectName}}">
        </a>
    </div>

    <div class="basket_cont">
        <div class="basket_name">
            <a href="/products/{{= objectId}}" class="basket_name_link">{{html objectName}}</a>
        </div>

        <div class="basket_cost">
            {{= StringUtils.humanNumber(price)}}<span class="b-rub">Р</span>
        </div>

        {{if editEnabled}}
        <div class="basket_i-action">
            {{if productCategory != "DIGITAL"}}
            <div class="basket_count">
                <span class="basket_count_btn {{if count == 1}}disabled{{/if}} js-basket-minus">&ndash;</span>
                <input name="count" class="basket_count_val" type="text" value="{{= count}}">
                <span class="basket_count_btn js-basket-plus">+</span>
            </div>
            {{/if}}
            <div class="basket_del js-basket-del">
                <i class="s-icon s-icon-trash"></i>
            </div>
        </div>
        {{/if}}
    </div>
</script>

<script id="shopping-cart-widget-template" type="text/x-jquery-template">
    <div class="shop-basket pln-dropdown bottom-up {{if popupIsOpen}}open{{/if}}">
        {{if totalItems > 0}}
        <a class="shop-basket_link pln-d-switch" href="/payment/shopping-cart">
            {{else}}
        <span class="shop-basket_link">
        {{/if}}
            <span class="shop-basket_ico"></span>
            {{if totalItems > 0}}
                <span class="shop-basket_state"><b class="shop-basket_state-val">{{= totalItems}}</b> {{= StringUtils.declOfNum(totalItems, ['товар', 'товара', 'товаров'])}}
                    <br>
                    Сумма <span class="shop-basket_sum">{{= StringUtils.humanNumber(totalSum)}}<sup class="b-rub">Р</sup></span>
                </span>
            {{else}}
            <span class="shop-basket_state">Ваша корзина<br>пуста</span>
            {{/if}}
        {{if totalItems > 0}}
        </a>
        <div class="top-drop-block pln-d-popup basket-popup"></div>
        {{else}}
        </span>
        {{/if}}
    </div>
</script>