<!-- Products -->
<script id="store-admin-products-template" type="text/x-jquery-template">
    <div class="panel panel-primary">
        <div class="panel-heading">Поиск товаров</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <label>Запрос</label>
                    <input type="text" class="form-control js-search-query" name="query" placeholder="Пара символов имени товара">
                </div>

                <div class="col-lg-4">
                    <label>Состояние товаров</label>
                    <select id="status" class="form-control">
                        <option value="">Все товары</option>
                        <option value="PAUSED">Товары на паузе</option>
                        <option value="ENDED">Товары которые закончились(нет в наличии)</option>
                        <option value="OTHER">Все активные товары(все товары кроме тех которые на паузе и тех которых нет в наличии)</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <label>Категория</label>
                    <select class="form-control js-mark-filter-category-item">
                        <option {{= (!tagId)? 'selected' : ''}} value="0">Все товары</option>

                        {{each(index, type) ShopUtils._productTags}}
                        <option {{= ($data.tagId == type.categoryId)? 'selected' : ''}} value="{{= type.categoryId}}">
                            {{= type.value}}
                        </option>
                        {{/each}}

                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 admin-table">
            <table id="products-table" class="table table-bordered">
                <thead>
                <tr>
                    <th>Изображение</th>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Категория</th>
                    <th>Действия</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</script>

<script id="empty-row-template" type="text/x-jquery-template">
    <td colspan="10" class="content-anchor"/>
</script>

<script id="products-quantity-template" type="text/x-jquery-template">
    {{if totalQuantity }}${totalQuantity} {{if totalOnHoldQuantity }}[${totalOnHoldQuantity}]{{/if}} шт.{{else}}нет в&nbsp;наличии.{{/if}}
</script>

<script id="loader-icon-template" type="text/x-jquery-template">
    <span class="loader-icon" style="display:none;">
        <i class="icon-load"></i>
    </span>
</script>

<script id="store-admin-table-loader-template" type="text/x-jquery-template">
    <tr>
        <td colspan="5" class="list-loader">
            <a href="javascript:void(0)" class="load"><i class="icon-load-cont"></i> Обновление списка</a>
        </td>
    </tr>
</script>

<script id="store-admin-table-empty-template" type="text/x-jquery-template">
    <tr>
        <td colspan="5" class="list-loader">
            <div class="text-center"><i class="icon-ban-circle"></i>&nbsp;Товаров по вашему запросу не найдено</div>
        </td>
    </tr>
</script>

<script id="store-admin-table-load-more-template" type="text/x-jquery-template">
    <tr>
        <td colspan="6" class="list-loader">
            <a href="javascript:void(0)"> ещё...</a>
        </td>
    </tr>
</script>

<script id="store-admin-products-item-template" type="text/x-jquery-template">
    <td>
        <a href="{{= ShopUtils.getProductUrl(productId)}}">
            <img src="{{= ImageUtils.getThumbnailUrl(coverImageUrl, ImageUtils.SMALL_AVATAR, ImageType.PRODUCT)}}" alt="{{= name}}">
        </a>
    </td>
    <td>
        <div class="manage-product-name">
            <a href="{{= ShopUtils.getProductUrl(productId)}}">
                {{if productState == 'ATTRIBUTE'}}
                {{= productAttribute.value}}
                {{else}}
                {{if !!nameHtml}}
                {{html nameHtml }}
                {{else}}
                {{= name }}
                {{/if}}
                {{/if}}
            </a>
        </div>
    </td>

    {{if productState != 'GROUP'}}
    <td {{if  productState == 'ATTRIBUTE' }} colspan="4"{{/if}}>
    <div class="status-balance-cell"
         data-tooltip="[${totalOnHoldQuantity||0} заказано]">
        {{if productState=='ATTRIBUTE' || productState == 'SOLID_PRODUCT'}}
        {{if productCategory == 'DIGITAL'}}
        <a href="javascript:void(0);">
            <i class="icon-star"></i>
        </a>
        {{else}}
        <span class="quantity"/>
        {{/if}}
        {{else productState=='META'}}
        <a href="javascript:void(0);" class="js-show-children">
            {{if productCategory == 'DIGITAL'}}
            <span>{{= StringUtils.declOfNumWithNum(childrenCount, ["ссылка", "ссылки", "ссылок"])}}</span>
            {{else}}
                <span class="status-balance">
                    <span class="quantity"/>
                </span>
            {{/if}}
        </a>
        {{tmpl "#loader-icon-template"}}
        {{/if}}
    </div>
    </td>
    {{if productState == 'META' || productState == 'SOLID_PRODUCT'}}
    <td>
        <div class="status-price status-balance-cell">
            {{= price}} руб.
        </div>
    </td>
    <td>
        <div class="status-check js-product-tags" style=" text-transform: uppercase;">
        </div>
    </td>
    {{/if}}
    {{else}}
    <td colspan="4">
        <div class="group-cell-block">
            <div class="group-cell-name">
                Группа товаров
            </div>
            <div class="group-cell-count">
                {{if childrenCount}}
                <a href="javascript:void(0);" class="js-show-children">{{= StringUtils.declOfNumWithNum(childrenCount, ["товар", "товара", "товаров"])}}</a>
                {{tmpl "#loader-icon-template"}}
                {{/if}}
            </div>
        </div>
    </td>
    {{/if}}

    {{if productState == 'META' || productState == 'SOLID_PRODUCT'}}
        <td class="text-right admin-table-actions">
            {{if productStatus == 'PAUSE'}}
                <button class="btn btn-primary btn-outline js-start-sale" title="Запустить">
                    <i class="fa fa-play"></i>
                </button>
            {{else productStatus == 'ACTIVE'}}
                <button class="btn btn-warning btn-outline js-pause-sale" title="Приостановить">
                    <i class="fa fa-pause"></i>
                </button>
            {{/if}}

            <a class="btn btn-danger btn-outline js-delete-product" href="javascript:void(0);" title="Удалить">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-outline btn-info js-clone" title="Клонировать">
                <i class="fa fa-clone"></i>
            </a>
            <a class="btn btn-outline btn-primary" href="/admin/products/{{= productId}}/edit" title="Редактировать">
                <i class="fa fa-pencil"></i>
            </a>

            <div class="action-processing hidden">
                <i class="icon-load"></i> Обновление
            </div>
        </td>
    {{/if}}
</script>

<script id="store-admin-products-item-group-members-template" type="text/x-jquery-template">
    <div class="level-group-manage-table table-collapse-str">
        <table class="table table-bordered product-manage-table fixed-manage-table group-product-manage-table">
            <colgroup>
                <col width="100%">
                <col width="95">
                <col width="110">
                <col width="78">
                <col width="133">
            </colgroup>

        </table>
    </div>
</script>

