<script id="nps-project-container-template" type="text/x-jquery-template">
    {{if !isEmpty}}
    <div class="projects" id="projects">
    <div class="section-arr"></div>
    <div class="wrap">
    <div class="col-12">

    <div class="projects_head">
    Проекты
    </div>

    <div class="projects_all">
    <span class="projects_all-link js-all-projects">Все</span>
    </div>

    <div class="projects_type">
    {{if filters}}
    {{each(index, filter) filters}}
    <span class="projects_type-link {{if index == activeFilter}} active{{/if}} js-filter"
    data-filter-id="{{= index}}">{{= filter.mnemonic}}</span>
    {{/each}}
    {{/if}}
    </div>

    <div class="projects_list">
    <div class="project-card-list js-project-list">
    </div>
    </div>


    <div class="projects_action">
    <a href="https://{{= workspace.serviceUrls.mainHost}}/funding-rules"
    class="nps-btn nps-btn-default">Добавить свой</a>
    </div>
    </div>
    </div>
    </div>
    {{/if}}
</script>


<script id="bazar-project-container-template" type="text/x-jquery-template">
    <div class="project-card-list js-project-list">
    </div>

    <div class="bazar-projects_more">
    <a class="btn-bazar-projects js-all-projects">Все проекты</a>
    </div>
</script>

<script id="campus-project-container-template" type="text/x-jquery-template">
    {{if !isEmpty}}
    <div class="wrap">
        <div class="col-12">
            <div class="campus-projects-head">
                <div class="campus-projects-head_title">Проекты кампуса</div>
                <div class="campus-projects-head_all">
                    <a class="campus-projects-head_all-link js-all-projects">Все проекты Онлайн-кампуса</a>
                </div>
            </div>
            <div class="campus-projects-list campus-project-slider">
                <div class="project-card-list js-project-list"></div>
            </div>
        </div>
    </div>
    {{/if}}
</script>

<script id="univer-project-container-template" type="text/x-jquery-template">
    {{if !isEmpty}}
    <div class="project-card-list js-univer-projects"></div>
    {{/if}}
</script>
