<script id="seminar-item-template" type="text/x-jquery-template">
    <td>
    {{if seminarType != "EXTERNAL"}}
        <a href="/school/{{= seminarId}}">
    {{else}}
        <a href="{{= url}}" target="_blank">
    {{/if}}
            {{= name}}
        </a>
    </td>
    <td>
        {{= DateUtils.formatDateTime(timeStart, 'd / m')}}
    </td>
    <td>
        {{= cityNameRu}}
    </td>
    <td>
        {{= tagName}}
    </td>
    <td>
        <div class="school-calendar_table_action">
            {{if seminarType != "EXTERNAL"}}
            <span class="{{if !DateUtils.afterNow(timeRegistrationEnd)}}disabled {{/if}}school-btn school-btn-primary btn-block js-register-button" data-id="{{= seminarId}}" data-format-selection="{{= formatSelection}}">
                Записаться
            </span>
            {{else}}
            <a href="{{= url}}" style="text-decoration: none;" target="_blank">
                <span class="school-btn school-btn-default btn-block">Подробнее</span>
            </a>
            {{/if}}
        </div>
    </td>
</script>

<script id="calendar-seminar-tag-selector-template" type="text/x-jquery-template">
</script>

<script id="tag-selector-template" type="text/x-jquery-template">
    <select data-planeta-ui="dropDownSelect"  class = "pln-select school-pln-select js-change-tag">
        <option value="0">Все темы</option>
    </select>
</script>

<script data-skip-comment-template="1" id="tag-item-template" type="text/x-jquery-template">
    {{= name}}
</script>


<script id="seminar-registration-view-solo-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-school-form-solo">
        <div class="modal modal-school">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>

            <form>
                <div class="school-request">

                    <div class="school-request_head">
                        Запишитесь на занятия
                    </div>
                    <div class="school-request_head-text hidden">
                        Поля, отмеченные * обязательны для заполнения.
                    </div>


                    <div class="school-request_group-list">


                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Личные данные
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="fio" class="school-form-control" value="{{= name}}">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="email" name="email" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Моб. телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input type="tel" name="phone" class="school-form-control">
                                </div>
                            </div>
                        </div>





                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Ваш город
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="city" class="school-form-control">
                                </div>
                            </div>


                            {{if formatSelection}}
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Форма обучения
                                </div>
                                <div class="fieldset-val col-4">
                                    <select class="pln-select school-pln-select" name="seminarFormat">
                                        <option value="true" selected>on-line</option>
                                        <option value="false">off-line</option>
                                    </select>
                                </div>
                            </div>
                            {{/if}}
                        </div>





                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Данные о проекте
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Кратко о&nbsp;проекте
                                </div>
                                <div class="fieldset-val col-9">
                                    <textarea name="campaignShortDescription" rows="7" class="school-form-control"
                                              placeholder="Описание должно быть составлено по формату:&#10;- цель проекта;&#10;- аудитория проекта;&#10;- этапы реализации (на каком из них вы сейчас);&#10;- каких результатов планируете достичь;&#10;- для решения какой именно задачи планируете запускать крауд-кампанию;&#10;- сайт или сообщества в социальных сетях, посвященные вашей идее.">{{= campaignShortDescription}}</textarea>
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Финансовая цель
                                </div>
                                <div class="fieldset-val col-3">
                                    <div class="school-request_fin-control">
                                        <input type="number" name="campaignTargetSum" class="school-form-control" value="">
                                <span class="school-request_fin-control_currency">
                                    <span class="b-rub">Р</span>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="school-request_action">
                        <button class="school-btn school-btn-primary school-btn-lg" type="button" data-event-click="send"
                                data-target="#modal-request-success" data-toggle="modal" data-dismiss="modal">Отправить</button>
                    </div>

                </div>
            </form>


        </div>
    </div>
</script>




<script id="seminar-registration-view-solosimple-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-school-form-solosimple">
        <div class="modal modal-school">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>

            <form>
                <div class="school-request">

                    <div class="school-request_head">
                        Запишитесь на занятия
                    </div>
                    <div class="school-request_head-text hidden">
                        Поля, отмеченные * обязательны для заполнения.
                    </div>


                    <div class="school-request_group-list">


                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Личные данные
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="fio" class="school-form-control" value="{{= name}}">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="email" name="email" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Моб. телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input type="tel" name="phone" class="school-form-control">
                                </div>
                            </div>
                        </div>





                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Ваш город
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="city" class="school-form-control">
                                </div>
                            </div>


                            {{if formatSelection}}
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Форма обучения
                                </div>
                                <div class="fieldset-val col-4">
                                    <select class="pln-select school-pln-select" name="seminarFormat">
                                        <option value="true" selected>on-line</option>
                                        <option value="false">off-line</option>
                                    </select>
                                </div>
                            </div>
                            {{/if}}
                        </div>






                    </div>


                    <div class="school-request_action">
                        <button class="school-btn school-btn-primary school-btn-lg" type="button" data-event-click="send"
                                data-target="#modal-request-success" data-toggle="modal" data-dismiss="modal">Отправить</button>
                    </div>

                </div>
            </form>


        </div>
    </div>
</script>

<script id="seminar-registration-view-pair-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-school-form-pair">
        <div class="modal modal-school">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>

            <form>
                <div class="school-request">

                    <div class="school-request_head">
                        Запишитесь на занятия
                    </div>
                    <div class="school-request_head-text hidden">
                        Поля, отмеченные * обязательны для заполнения.
                    </div>


                    <div class="school-request_group-list">


                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Личные данные первого участника
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="fio" class="school-form-control" value="{{= name}}">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="email" name="email" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Моб. телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input type="tel" name="phone" class="school-form-control">
                                </div>
                            </div>
                        </div>

                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Личные данные второго участника
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="fio2" class="school-form-control" value="{{= name}}">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="email" name="email2" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Моб. телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input type="tel" name="phone2" class="school-form-control">
                                </div>
                            </div>
                        </div>




                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Ваш город
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="city" class="school-form-control">
                                </div>
                            </div>


                            {{if formatSelection}}
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Форма обучения
                                </div>
                                <div class="fieldset-val col-4">
                                    <select class="pln-select school-pln-select" name="seminarFormat">
                                        <option value="true" selected>on-line</option>
                                        <option value="false">off-line</option>
                                    </select>
                                </div>
                            </div>
                            {{/if}}
                        </div>





                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Данные о проекте
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Кратко о&nbsp;проекте
                                </div>
                                <div class="fieldset-val col-9">
                                    <textarea name="campaignShortDescription" rows="10"class="school-form-control"
                                              placeholder="Описание должно быть составлено по формату:&#10;- цель проекта;&#10;- аудитория проекта;&#10;- этапы реализации (на каком из них вы сейчас);&#10;- каких результатов планируете достичь;&#10;- для решения какой именно задачи планируете запускать крауд-кампанию;&#10;- сайт или сообщества в социальных сетях, посвященные вашей идее.">{{= campaignShortDescription}}</textarea>
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Финансовая цель
                                </div>
                                <div class="fieldset-val col-3">
                                    <div class="school-request_fin-control">
                                        <input type="number" name="campaignTargetSum" class="school-form-control" value="">
                                <span class="school-request_fin-control_currency">
                                    <span class="b-rub">Р</span>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="school-request_action">
                        <button class="school-btn school-btn-primary school-btn-lg" type="button" data-event-click="send"
                                data-target="#modal-request-success" data-toggle="modal" data-dismiss="modal">Отправить</button>
                    </div>

                </div>
            </form>


        </div>
    </div>
</script>





<script id="seminar-registration-view-webinar-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-school-form-webinar">
        <div class="modal modal-school">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>

            <form>
                <div class="school-request">

                    <div class="school-request_head">
                        Запишитесь на занятия
                    </div>
                    <div class="school-request_head-text hidden">
                        Поля, отмеченные * обязательны для заполнения.
                    </div>


                    <div class="school-request_group-list">


                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Личные данные
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="fio" class="school-form-control" value="{{= name}}">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="email" name="email" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Ваш город
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="city" class="school-form-control">
                                </div>
                            </div>
                        </div>







                    </div>


                    <div class="school-request_action">
                        <button class="school-btn school-btn-primary school-btn-lg" type="button" data-event-click="send"
                                data-target="#modal-request-success" data-toggle="modal" data-dismiss="modal">Отправить</button>
                    </div>

                </div>
            </form>


        </div>
    </div>
</script>




<script id="seminar-registration-view-company-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-school-form-company">
        <div class="modal modal-school">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>

            <form>
                <div class="school-request">

                    <div class="school-request_head">
                        Запишитесь на занятия
                    </div>
                    <div class="school-request_head-text hidden">
                        Поля, отмеченные * обязательны для заполнения.
                    </div>


                    <div class="school-request_group-list">


                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Личные данные
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    <div>Представьтесь</div>
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="text" name="fio" class="school-form-control" value="{{= name}}">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    E-mail
                                </div>
                                <div class="fieldset-val col-9">
                                    <input type="email" name="email" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Моб. телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input type="tel" name="phone" class="school-form-control">
                                </div>
                            </div>
                        </div>






                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_group-head col-9 col-offset-3">
                                    Данные об организации
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Название организации
                                </div>
                                <div class="fieldset-val col-9">
                                    <textarea name="organizationName" rows="4" class="school-form-control"></textarea>
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Направление деятельности организации
                                </div>
                                <div class="fieldset-val col-9">
                                    <textarea name="organizationLineOfAtivity" rows="4" class="school-form-control"></textarea>
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Должность
                                </div>
                                <div class="fieldset-val col-9">
                                    <input name="position" type="text" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Город
                                </div>
                                <div class="fieldset-val col-9">
                                    <input name="city" type="text" class="school-form-control">
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Рабочий телефон
                                </div>
                                <div class="fieldset-val col-4">
                                    <input name="workPhone" type="tel" class="school-form-control">
                                </div>
                            </div>



                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl school-request_fieldset-lbl__top col-3">
                                    Дата регистрации организации
                                </div>
                                <div class="fieldset-val">
                                    <div class="col-2">
                                        <input name="organizationRegistrationDate" type="hidden" class="school-form-control">
                                        <select name="day" class="pln-select school-pln-select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select name="month" class="pln-select school-pln-select">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <div class="col-2">
                                            <select name="year" class="pln-select school-pln-select">
                                                <option>1960</option>
                                                <option>1961</option>
                                                <option>1962</option>
                                                <option>1963</option>
                                                <option>1964</option>
                                                <option>1965</option>
                                                <option>1966</option>
                                                <option>1967</option>
                                                <option>1968</option>
                                                <option>1969</option>
                                                <option>1970</option>
                                                <option>1971</option>
                                                <option>1972</option>
                                                <option>1973</option>
                                                <option>1974</option>
                                                <option>1975</option>
                                                <option>1976</option>
                                                <option>1977</option>
                                                <option>1978</option>
                                                <option>1979</option>
                                                <option>1980</option>
                                                <option>1981</option>
                                                <option>1982</option>
                                                <option>1983</option>
                                                <option>1984</option>
                                                <option>1985</option>
                                                <option>1986</option>
                                                <option>1987</option>
                                                <option>1988</option>
                                                <option>1989</option>
                                                <option>1990</option>
                                                <option>1991</option>
                                                <option>1992</option>
                                                <option>1993</option>
                                                <option>1994</option>
                                                <option>1995</option>
                                                <option>1996</option>
                                                <option>1997</option>
                                                <option>1998</option>
                                                <option>1999</option>
                                                <option>2000</option>
                                                <option>2001</option>
                                                <option>2002</option>
                                                <option>2003</option>
                                                <option>2004</option>
                                                <option>2005</option>
                                                <option>2006</option>
                                                <option>2007</option>
                                                <option>2008</option>
                                                <option>2009</option>
                                                <option>2010</option>
                                                <option>2011</option>
                                                <option>2012</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Web-сайт
                                </div>
                                <div class="fieldset-val col-4">
                                    <input name= "organizationSite" type="url" class="school-form-control">
                                </div>
                            </div>
                        </div>




                        {{if formatSelection}}
                        <div class="school-request_group">
                            <div class="school-request_fieldset">
                                <div class="school-request_fieldset-lbl col-3">
                                    Форма обучения
                                </div>
                                <div class="fieldset-val col-4">
                                    <select class="pln-select school-pln-select" name="seminarFormat">
                                        <option value="true" selected>on-line</option>
                                        <option value="false">off-line</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{/if}}

                    </div>


                    <div class="school-request_action">
                        <button class="school-btn school-btn-primary school-btn-lg" type="button" data-event-click="send"
                                data-target="#modal-request-success" data-toggle="modal" data-dismiss="modal">Отправить</button>
                    </div>

                </div>
            </form>


        </div>
    </div>
</script>





<script id="seminar-registration-view-success-template" type="text/x-jquery-template">
    <div class="modal-dialog" id="modal-school-form-success">
        <div class="modal modal-school">

        <span class="modal-close" data-dismiss="modal" data-event-click="cancel">
            <span class="s-icon s-icon-close"></span>
        </span>


            <div class="school-request-success">
                <div class="school-request-success_head">
                    УРА!
                </div>
                <div class="school-request-success_text">
                    Вы&nbsp;записаны на&nbsp;занятия. Теперь проверьте почтовый ящик, мы&nbsp;отправили Вам письмо с&nbsp;приглашением!
                </div>
                <div class="school-request-success_ico"></div>
            </div>


        </div>
    </div>
</script>