<!--include css /css-generated/network.css-->

<script id="users-search-layout" type="text/x-layout-template">
    <div id="global-container">
        <div id="main-container" class="wrap-container">
            <div id="center-container">
                <div id="section-container"></div>
            </div>
        </div>
    </div>
</script>

<script id="search-user-results-container-template" type="text/x-jquery-template">
    <div class="col-12 js-result-list"></div>
</script>