<!--include css /css-generated/project.css-->

<script id="items-campaign-tag-template" type="text/x-jquery-template">
    <a class="project-category_name" data-categories="{{= mnemonicName}}" href="/search/projects?categories={{= mnemonicName}}">{{if useEng}}{{= engName}}{{else}}{{= name}}{{/if}}</a>
</script>

<script id="search-scrollable-list-loader-template" type="text/x-jquery-template">
    <div class="list-preloader"></div>
</script>