<script id="social-widget-sidebar-template" type="text/x-jquery-template">
{{if wrap}}
<div class="sidebar-social-block-wrap">
{{/if}}
<div class="sidebar-social-block">
    <div class="scb-header">
        <div class="scb-head">
            {{html title}}
        </div>
    </div>
    <div class="sidebar-social-widget-tabs">
        <ul class="nav nav-tabs">
            <li class="js-tab-pane-li"><a href="#vk"><i class="f-social-vk"></i><span>Вконтакте</span></a></li>
            <li class="js-tab-pane-li"><a href="#fb"><i class="f-social-fb"></i><span>Facebook</span></a></li>
        </ul>
        <div class="tab-content">
            <!-- VK Widget -->
            <div class="tab-pane" id="vk">
                <div id="vk_groups">
                    <iframe src="https://vk.com/widget_community.php?gid=39395815&width=258&height=250" width="{{= width}}" height="250" scrolling="no" frameborder="0" sandbox="allow-scripts allow-top-navigation"></iframe>
                </div>
            </div>
            <!-- Facebook Widget -->
            <div class="tab-pane" id="fb">
                <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fplanetaru&amp;width={{= width}}&amp;height=250&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:250px; width:{{= width}}px" allowTransparency="true" sandbox="allow-scripts allow-top-navigation"></iframe>
            </div>
        </div>
    </div>
</div>
{{if wrap}}
</div>
{{/if}}
</script>