<script id="tech-projects-tab-view-template" type="text/x-jquery-template">
    <div class="project-tab">
        <div class="project-tab_i {{if tab=='about'}} active{{/if}}" data-event-click="onTechTabClicked" data-tab="about">
            <a class="project-tab_link" href="/techbattle/project/{{= projectId}}">Описание проекта
            </a>
        </div>

        {{if newsCount}}
        <div class="project-tab_i {{if tab=='news'}} active{{/if}}" data-event-click="onTechTabClicked" data-tab="news">
            <a class="project-tab_link" href="/techbattle/project/{{= projectId}}/news">Новости команды
                <span class="project-tab_badge">{{= newsCount}}</span>
            </a>
        </div>
        {{/if}}

        <div class="project-tab_i {{if tab=='comments'}} active{{/if}}" data-event-click="onTechTabClicked" data-tab="comments">
            <a class="project-tab_link" href="/techbattle/project/{{= projectId}}/comments">Комментарии
                {{if commentsCount}}
                <span class="project-tab_badge">{{= commentsCount}}</span>
                {{/if}}
            </a>
        </div>
    </div>
</script>

<script id="tech-project-description-template" type="text/x-jquery-template">
    <div class="project-description">
        <div class="sub-content">
            {{html description}}
        </div>
    </div>
</script>

<script id="modal-technobattle-video-template" type="text/x-jquery-template">
    <span class="modal-common_close cancel">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="20" height="20"><g stroke="#fff" fill="none" stroke-width="1.5"><line y2="100" x2="100" y1="0" x1="0" vector-effect="non-scaling-stroke"/><line y2="100" x2="0" y1="0" x1="100" vector-effect="non-scaling-stroke"/></g></svg>
    </span>

    <div class="embed-video">
        <iframe id="news-video" frameborder="0" allowfullscreen src="{{= iframeurl}}&autoplay=1"></iframe>
    </div>
</script>


<script id="modal-vote-success-template" type="text/x-jquery-template">
            <span class="modal-common_close cancel">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="20" height="20">
                    <g stroke="#fff" fill="none" stroke-width="1.5">
                        <line y2="100" x2="100" y1="0" x1="0" vector-effect="non-scaling-stroke"/>
                        <line y2="100" x2="0" y1="0" x1="100" vector-effect="non-scaling-stroke"/>
                    </g>
                </svg>
            </span>
            <div class="vote-success">
                <div class="vote-success_head">
                    Спасибо!
                </div>

                <div class="vote-success_text">
                    <br>
                    Хотите первым узнавать все новости &laquo;Битвы технологий&raquo;? Подписывайтесь на&nbsp;официальную
                    страницу проекта ВКонтакте!
                </div>
            </div>
            <div class="vote-success-vk">
                <a href="https://vk.com/techbattle" target="_blank" rel="nofollow noopener"><img
                        src='{{= workspace.staticNodesService.getResourceUrl("/images/tech/vote-vk.jpg")}}'></a>
            </div>
</script>