<!-- Templates for tinymce blog editor objects -->
<script id="tiny-mce-resize-frame-wrapper" type="text/x-jquery-template">
    <div id="mce-resize-frame-wrapper" class="mceItemNoResize">
        <div class="mce-resize-top mce-resize-left nw"></div>
        <div class="mce-resize-top"></div>
        <div class="mce-resize-top mce-resize-right ne"></div>
        <div class="mce-resize-left"></div>
        <div class="mce-resize-inner"></div>
        <div class="mce-resize-right"></div>
        <div class="mce-resize-bottom mce-resize-left sw"></div>
        <div class="mce-resize-bottom"></div>
        <div class="mce-resize-bottom mce-resize-right se"></div>
    </div>

    <div id="mce-resize-frame-handler"><div id="mce-resize-frame-hint"></div></div>
</script>

<script id="tiny-mce-audio-stub" type="text/x-jquery-template">
    <div class="track-list">
        <div class="track-list-item row">
            <div class="track-list-item-count">
                <a href="javascript:workspace.playTrack(${owner}, ${audioId});" class="play-track">PLAY</a>
            </div>
            <div class="track-list-item-name">
                <div class="track-list-item-name-title">${audioName}</div>
                <div class="track-list-item-name-author"><a>${artist}</a></div>
            </div>
            <div class="track-list-item-option">
                <div class="track-list-item-option-time">${duration}</div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</script>
