<!--include css /css-generated/network.css-->


<script id="user-backed-project-item-template" type="text/x-jquery-template">
    <div class="n-support-project_i">
        {{if $data.newEventsCount > 0}}
            <div class="n-support-project_badge">{{if newEventsCount<= 20}}{{= newEventsCount}}{{else}}20+{{/if}}</div>
        {{/if}}
        <div class="n-support-project_cover">
            <a href="/campaigns/{{= webCampaignAlias}}"><img src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.PROJECT_ITEM)}}"></a>
        </div>
        <div class="n-support-project_cont">
            <div class="n-support-project_name"><a href="/campaigns/{{= webCampaignAlias}}">{{html nameHtml}}</a></div>
            <div class="n-support-project_descr">{{html shortDescriptionHtml}}</div>
        </div>
        {{if $data.tags && tags[0] && tags[0].mnemonicName}}
            <div class="n-support-project_type" style="color: {{= StringUtils.randomColor()}}">
                {{if lang == "ru"}}
                    {{= tags[0].name}}
                {{else}}
                    {{= tags[0].engName}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</script>
