
<script id="confirmation-input-panel" type="text/x-jquery-tmpl">
    <div class="fieldset confirm-field">
        <div>
            {{html confirmationTextHtml}}
        </div>
        <div class="form-inline">
            <input id="confirmationSecureCode" type="text" value="" placeholder="{{= placeholder}}">

            <a href="javascript:void(0)" id="confirmation-link" class="btn btn-primary btn-small">Подтвердить</a>

        </div>
        <div>
            <a class="alien-link" id="confirmation-resend" href="javascript:void(0)">Выслать код повторно</a>
        </div>
    </div>
</script>
