<!--include css /css-generated/network.css-->

<script id="user-profile-layout" type="text/x-layout-template" data-use-data-view="true">
    <div class="wrap-container">
        <div data-view="moderatorAlertView"></div>
        <div class="wrap">
            <div class="col-12">
                <div class="wrap-row">
                    <div class="col-8">
                        <div class="wrap-indent-right-half">
                            <div class="n-card_main" data-view="cardView"></div>
                            <div class="tabs" data-view="tabsView"></div>
                            <div class="n-content" data-view="contentView"></div>
                        </div>
                    </div>
                     <div class="col-4">
                        <div data-view="infoView"></div>
                        <div class="n-sidebar">
                            <div data-view="adminActionsView"></div>
                            <div data-view="socialView"></div>
                            <div class="n-project-stat" data-view="backedProjectsStatView"></div>
                            <div data-view="bannerView"></div>
                            <div class="banner-profile-sidebar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="user-profile-layout-mobile" type="text/x-layout-template" data-use-data-view="true">
    <div class="wrap-container">
        <div data-view="moderatorAlertView"></div>
        <div class="wrap">
            <div class="col-12">
                <div class="wrap-row">
                    <div class="col-8">
                        <div class="wrap-indent-right-half">
                            <div class="n-card_main" data-view="cardView"></div>
                             <div class="col-4">
                                <div data-view="infoView"></div>
                                <div class="n-sidebar">
                                    <div data-view="adminActionsView"></div>
                                    <div data-view="socialView"></div>
                                    <div class="n-project-stat" data-view="backedProjectsStatView"></div>
                                    <div data-view="bannerView"></div>
                                </div>
                            </div>
                            <div class="tabs" data-view="tabsView"></div>
                            <div class="n-content" data-view="contentView"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>