<!-- Video section header -->
<script id="video-view-template" type="text/x-jquery-template">
    <div class="video-view-wrap">
        <div class="video-view">
            <div class="modal-header">
                <a href="javascript:void(0)" class="close" data-dismiss="modal">×</a>

                <div class="modal-title">{{if name}}{{= name}}{{else}}{{= 'Видео'}}{{/if}}</div>
                <div class="modal-header-shadow"></div>
            </div>

            <div class="leanback-player-video video-player">
            </div>
        </div>
    </div>
</script>

<script id="stubbed-video-player-template" type="text/x-jquery-template">
    <div class="video-stub">
        <div class="bb-video-icon"></div>
        <img src="{{= ImageUtils.getThumbnailUrl(imageUrl, ImageUtils.CAMPAIGN_VIDEO, ImageType.PHOTO)}}">
    </div>
</script>

<script id="video-player-template" type="text/x-jquery-template">
    {{if !profileId}}
    <iframe width="{{= videoWidth}}" height="{{= videoHeight}}" frameborder="0" allowfullscreen="" allow="autoplay; fullscreen"
            src="//{{= workspace.serviceUrls.tvAppUrl}}/video-frame?externalUrl={{= videoUrl}}&autostart={{= autostart}}&fromCampaign={{= fromCampaign}}"></iframe>
    {{else}}
    <iframe width="{{= videoWidth}}" height="{{= videoHeight}}" frameborder="0" allowfullscreen="" allow="autoplay; fullscreen"
            src="//{{= workspace.serviceUrls.tvAppUrl}}/video-frame?profileId={{= profileId}}&videoId={{= videoId}}&autostart={{= autostart}}&fromCampaign={{= fromCampaign}}"></iframe>
    {{/if}}
</script>

