<script id="widget-code-dialog-template" type="text/x-jquery-template">
    <div class="modal-header">
        <a class="close cancel" data-dismiss="modal">×</a>
        <div class="modal-title">Получить код для проекта</div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body">
        <div class="project-widget-container">
            <div class="pw-fieldset">
                <form>
                    <div class="pw-head">Укажите размер виджета проекта:</div>
                    <div class="radio-row">
                        {{each(index, widgetType) widgetTypes}}
                        <label style="width:auto">
                            <input type="radio" name="widgetType" value="{{= widgetType}}" {{if widgetType == selectedWidget.widgetType}} checked{{/if}}>
                                <span>{{= width}}x{{= height}}</span>
                            </input>
                        </label>
                        {{/each}}
                    </div>
                </form>
            </div>
            <div class="pw-fieldset">
                <div class="pw-head">Вот как он будет выглядеть на Вашем сайте:</div>
                {{tmpl(selectedWidget) "#widget-code-iframe-template"}}
            </div>
            <div class="pw-fieldset">
                <div class="pw-head">Скопируйте этот код и вставьте себе на сайт:</div>
                <div class="input-field">
                    <textarea rows="4" readonly>{{tmpl(selectedWidget) "#widget-code-iframe-template"}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <a href="javascript:void(0)" class="btn cancel">Закрыть</a>
        </div>
    </div>
</script>

<script id="widget-code-iframe-template" type="text/x-jquery-template">
    <iframe width="{{= width}}" height="{{= height}}" frameborder="0" marginheight="0" marginwidth="0" src="{{= widgetUrl}}"></iframe>
</script>