// DROPDOWN MENUS
// --------------


// common dropdown style
.pln-dropdown{
    position: relative;
    &.open{
        > .pln-d-popup{
            display: block;
        }
        > .pln-d-switch.btn{
            outline: 0;
        }
    }
    &.bottom-up{
        > .pln-d-popup{
            bottom: auto;
            top: 100%;
        }
    }
}
.pln-d-switch{
    cursor: pointer;
}
.pln-d-popup{
    position: absolute;
    z-index: @zindexDropdown;
    top: 100%;
    left: 0;
    display: none;
    &_right{
        left: auto;
        right: 0;
    }
}
.pln-d-popup-tail{
    font: 0/0 a;
    position: absolute;
    bottom: 100%;
    background-repeat: no-repeat;
}
// /common dropdown style


// old dropdown, style for selectCampaignById
.dropdown {
    position: relative;
    cursor: pointer;
    &.open{
        .dropdown-menu{
            display: block;
        }
    }
}

.dropdown-menu{
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: @zindexDropdown;
    top: 100%;
    left: 0;
    max-width: 100%;
    max-height: 216px;
    margin: 0;
    padding: 0;
    text-shadow: none;
    list-style: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: default;

    &.bottom-up {
        top: auto;
        bottom: 100%;
        margin-bottom: 0;
    }
    &.to-left {
        left: auto;
        right: 0;
    }

    .item{
        a{
            display: block;
            padding: 4px 8px;
            clear: both;
            font-weight: normal;
            line-height: 16px;
            color: @gray;
            white-space: nowrap;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: @white;
    text-decoration: none;
    background-color: @linkColor;
}
.dropdown-menu .active > a{
    background-color: @linkColor;
}
// old dropdown, style for selectCampaignById


// autocomplete
.ac_results{
    background: #fff;
    border: 1px solid #ccc;
    .box-shadow(0 2px 4px #ccc);
    padding: 0 4px;
    z-index: @zindexModal + 10;
    ul{
        margin:  0 -4px;
        li{
            padding: 1px 4px;
            cursor: pointer;
            &.ac_over{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}
// /autocomplete
