/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* reset */


.hide{
    display: none;
}
.cur-p{
    cursor: pointer;
}


.central-block-wrap {
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.central-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.central-block-cont {
    white-space: normal;
    text-align: left;
    font-size: 1rem;
}
.vertical-align {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    height: 100%;
    width: 0;
}


.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-primary:hover{
    background-color: #1e96be;
    border-color: #1e96be;
}
.btn-primary:active{
    background-color: #1e96be;
    border-color: #1981a3;
    -webkit-box-shadow: inset 0 5px 6px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 5px 6px rgba(0,0,0,.15);
    box-shadow: inset 0 5px 6px rgba(0,0,0,.15);
}
.btn-primary, .btn-primary.disabled{
    background-color: #26aedd;
    border-color: #26aedd;
}

.btn.disabled{
    opacity: .5;
    filter: alpha(opacity=50);
    pointer-events: none;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}




/* ui sprite */
[class^=icon-]{
    display: inline-block;
    vertical-align: text-top;
    background: url(../image/html5-ui.png) 0 0 no-repeat;
    position: relative;
}

.icon-fullscreen{
    width: 16px;
    height: 16px;
}
.icon-downsize{
    width: 16px;
    height: 16px;
    background-position: -30px 0;
}

.icon-play{
    width: 12px;
    height: 15px;
    background-position: -60px 0;
}
.icon-pause{
    width: 11px;
    height: 15px;
    background-position: -90px 0;
}

[class^=icon-vol-]{
    width: 23px;
    height: 15px;
}
.icon-vol-max{
    background-position: -120px 0;
}
.icon-vol-loud{
    background-position: -150px 0;
}
.icon-vol-quiet{
    background-position: -180px 0;
}
.icon-vol-min{
    background-position: -210px 0;
}
/* /ui sprite */


/* html5 player */
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 12px Arial,sans-serif;
    color: #fff;
    background: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.html5-video-player{
    position: relative;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    text-align: left;
}

.html5-video-container {
    position: absolute;
    z-index: 900;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
}
.html5-main-video{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.html5-video-cover {
    position: absolute;
    z-index: 900;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    background-size: cover;
}

.html5-video-name-block{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.html5-video-name{
    padding: 15px 28px;
    margin: 50px;
    font-size: 18px;
    background: rgba(0,0,0,.7);
}



.html5-video-controls {
    position: absolute;
    z-index: 930;
    bottom: 20px;
    left: 120px;
    right: 120px;
    min-height: 35px;
    -moz-transition: -moz-transform .1s ease-out;
    -webkit-transition: -webkit-transform .1s ease-out;
    -ms-transition: -ms-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.html5-video-progress{
    overflow: visible;
    position: absolute;
    height: 10px;
    bottom: 35px;
    left: 0;
    width: 100%;
    z-index: 830;

    /*-moz-transform: scaley(1);
    -ms-transform: scaley(1);
    -webkit-transform: scaley(1);
    transform: scaley(1);*/
    /*-moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;*/
    -moz-transition: height .1s ease-out;
    -webkit-transition: height .1s ease-out;
    -ms-transition: height .1s ease-out;
    transition: height .1s ease-out;
}
.html5-video-bar{
    position: relative;
    background: rgba(255,255,255,.3);
    width: 100%;
    height: 100%;
}
.hvb-load,
.hvb-play{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}
.hvb-load{
    background: #fff;
}
.hvb-play{
    background: #26aedd;
}
.hvb-track-btn-block{
    position: absolute;
    top: -5px;
    right: 0;
}
.hvb-track-btn{
    -ms-touch-action: none;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.7);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.7);
    box-shadow: 0 1px 1px rgba(0,0,0,.7);
    height: 20px;
    width: 20px;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    margin-left: -10px;
    z-index: 939;
    border-radius: 10px;
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    -moz-transform-origin: 50% 7px;
    -ms-transform-origin: 50% 7px;
    -webkit-transform-origin: 50% 7px;
    transform-origin: 50% 7px;
    -moz-transition: -moz-transform .1s ease-out;
    -webkit-transition: -webkit-transform .1s ease-out;
    -ms-transition: -ms-transform .1s ease-out;
    transition: transform .1s ease-out;
}
.hvb-track-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    margin: 4px 0 0 4px;
    background: #d7d7d7;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.hvb-track-btn:hover::after{
    background: #26aedd;
}

.hide-progress .html5-video-progress{
    height: 3px;
    -moz-transition: height .5s ease-in;
    -webkit-transition: height .5s ease-in;
    -ms-transition: height .5s ease-in;
    transition: height .5s ease-in;
}
.hide-progress .hvb-track-btn{
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
    -moz-transition: -moz-transform .5s ease-in;
    -webkit-transition: -webkit-transform .5s ease-in;
    -ms-transition: -ms-transform .5s ease-in;
    transition: transform .5s ease-in;
}


.html5-video-ui{
    position: relative;
    z-index: 750;
    width: 100%;
    height: 35px;
    overflow: hidden;
    background: #000;
    cursor: auto;
}
.hvui-btn{
    float: left;
    height: 100%;
    outline: 0 none;
    text-align: center;
    cursor: pointer;
}
.hvui-btn > [class^=icon-]{
    margin: 10px 0 0;
    opacity: .85;
}
.hvui-btn:hover > [class^=icon-]{
    opacity: 1;
}

.hvui-play{
    width: 46px;
}

.hvui-volume-control{
    float: left;
    height: 100%;
}
.hvui-volume{
    width: 29px;
}
.hvui-volume-panel{
    float: left;
    width: 0;
    overflow: hidden;
    -moz-transition: width .5s ease-out .2s;
    -webkit-transition: width .5s ease-out .2s;
    transition: width .5s ease-out .2s;
    outline: 0 none;
}
.hvui-volume-panel-progress{
    position: relative;
    width: 70px;
    height: 15px;
    margin: 10px 8px 0;
    background: url(../image/html5-ui.png) no-repeat 0 -60px;
    cursor: pointer;
}
.hvui-volume-panel-bar{
    position: absolute;
    left: 0;
    height: 100%;
    background: url(../image/html5-ui.png) no-repeat 0 -30px;
}
.hvui-volume-control:hover .hvui-volume-panel{
    width: 86px;
    -moz-transition: width .2s ease-out;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out;
}

.hvui-time{
    float: left;
    font-size: 11px;
    line-height: 36px;
    color: #ccc;
}
.hvui-time-current{
    color: #fff;
    font-weight: 700;
}
.hvui-time-sep{
    padding: 0 2px;
}

.hvui-fullscreen{
    float: right;
    width: 32px;
}

.html5-video-logo{
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 10px;
    width: 82px;
    height: 22px;
    background: url(../image/html5-ui.png) no-repeat -90px -30px;
    opacity: .5;
    cursor: pointer;
    -moz-transition: opacity .05s ease-in;
    -webkit-transition: opacity .05s ease-in;
    transition: opacity .05s ease-in;
}
.html5-video-logo:hover{
    opacity: 1;
}

.html5-video-instructions{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 510px;
    height: 228px;
    margin: -114px 0 0 -255px;
    background: url(../image/html5-ui.png) no-repeat 0 -90px;
}
.html5-video-instructions-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: url(../image/html5-ui.png) no-repeat -180px -30px;
    opacity: .7;
    cursor: pointer;
}
.html5-video-instructions-close:hover{
    opacity: 1;
}

.html5-video-state-fade{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    opacity: 0;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
}
.html5-video-state{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 900;
    width: 40px;
    height: 40px;
    margin: -40px 0 0 -40px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
}
.html5-video-state-play{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid white;
    margin: 0 auto;
}
.html5-video-state-pause{
    width: 10px;
    height: 40px;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    margin: 0 auto;
}
/* /html5 player */



/* ad style */
.ad-controls{
    position: absolute;
    z-index: 930;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 48px;
}

.ad-progress{
    position: absolute;
    bottom: 48px;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 830;
}
.ad-bar{
    position: relative;
    background: #fff;
    background: rgba(255,255,255,.3);
    width: 100%;
    height: 100%;
}
.ad-bar-load, .ad-bar-play{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}
.ad-bar-load{
    background: #fff;
}
.ad-bar-play{
    background: #26aedd;
}

.ad-ui{
    position: relative;
    z-index: 750;
    width: 100%;
    height: 48px;
    overflow: hidden;
    background: #000;
    background: rgba(0,0,0,.5);
    cursor: auto;
}
.ad-ui-btn{
    float: right;
    margin: 9px 8px;
    text-transform: uppercase;
}
.ad-ui-btn .btn{
    padding: 8px 8px 6px;
}
.ad-ui-text{
    margin: 16px 18px;
    font-size: 14px;
}
.ad-ui-text a{
    color: #fff;
}
.ad-ui-text a:hover{
    color: #26aedd;
}
/* /ad style */

