//
// widget style
// --------------------------------------------------


// grid
@gridColumns: 12;
@gridColumnWidth: 50px;
@gridGutterWidth: 40px;
#gridSystem > .generate(@gridColumns, @gridColumnWidth, @gridGutterWidth);
.wrap{
    width: @gridRowWidth - @gridGutterWidth * 2;
    margin: 0 auto;
}
.global-wrap{
    padding-bottom: 50px;
}
// /grid

@blue: #25d2f5;


html, body {
    height: 100%;
}

body {
    position: relative;
    height: auto;
    min-height: 100%;
    min-width: @gridRowWidth;
    margin: 0;
    background: url(/images/promo-code/bg.jpg) no-repeat 50% 0;
    font: @baseFontSize @baseFontFamily;
    line-height: normal;
}

a{
    color: @blue;
    &:hover{
        color: darken(@blue, 15%);
    }
}
.btn{
    display: inline-block;
    padding: 6px 14px 5px;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    color: #fff;
    text-shadow: none;
    text-align: center;
    background: #20c0e0;
    border: 1px solid #20c0e0;
    .border-radius(0);
    cursor: pointer;
    &:hover, &:active, &:focus{
        .box-shadow(none);
        color: #fff;
        background-color: darken(#20c0e0, 5%);
        border-color: darken(#20c0e0, 5%);
    }
    &:disabled{
        background: #20c0e0 !important;
        border: 1px solid #20c0e0 !important;
        .opacity(50) !important;
    }
}
.btn-block{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.input-field{
    input{
        width: 100%;
    }
}

.error-message{
    width: 100%;
    margin: 5px 0 0;
    padding: 10px 17px;
    font-size: 14px;
    color: #fff;
    background: #c25353;
}

.checkbox, .radiobox{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    background: url(/images/promo-code/radio-sprite.png) no-repeat;
    cursor: pointer;
    .user-select(none);
    &.active{
        background-position: 0 -40px;
    }
    &.disabled{
        background-position: 0 -80px;
        cursor: default;
        .opacity(50);
        &.active{
            background-position: 0 -120px;
        }
    }
}
.radiobox{
    background-position: 0 2px;
    &.active{
        background-position: 0 -14px;
    }
    &.disabled{
        background-position: 0 -30px;
        &.active{
            background-position: 0 -46px;
        }
    }
}
.checkbox-label, .radiobox-label{
    display: inline-block;
    margin: 0 0 0 12px;
    padding: 7px 0;
    line-height: 16px;
    cursor: pointer;
    .user-select(none);
}



.logo{
    margin: 58px 0;
}
.logo__link{
    display: block;
    width: 209px;
    height: 55px;
    background: url(/images/promo-code/logo.png) no-repeat;
}


.page-header{
    margin: 180px 0 28px;
    padding: 0;
    border: 0;
    .hlfont();
    font-size: 37px;
}


.promo-text__lst{}
.promo-text__i{
    position: relative;
    & + .promo-text__i{
        margin-top: 9px;
    }
}
.promo-text__h{
    .proxima_nova_rgregular();
    font-size: 27px;
    color: @blue;
    margin: 0 0 5px;
}
.promo-text__error{
  .proxima_nova_rgregular();
  font-size: 27px;
  color: @red;
  margin: 0 0 5px;
}
.promo-text__tx{
    .proxima_nova_rgregular();
    font-size: 16px;
    line-height: 25px;
    color: #749298;
}
.promo-text__sm{
    .proxima_nova_rgregular();
    line-height: 22px;
    color: #a9cddc;
}
.promo-text__i__hid{
    .opacity(20);
}
.promo-text__i__arrow{
    padding-right: 88px;
    &:before{
        content: '';
        position: absolute;
        top: 9px;
        right: -23px;
        width: 103px;
        height: 30px;
        background: url(/images/promo-code/text-to-form-arr.png) no-repeat;
    }
}



.card-img{
    width: 402px;
    height: 224px;
    margin: 20px 0 24px;
    background: url(/images/promo-code/card.png) no-repeat;
}


.promo-form{
    width: 382px;
    margin: 0 0 44px;
    padding: 10px;
    color: #fff;
    background: #132739;
    .border-radius(15px);
}
.promo-form__w{
    padding: 31px 38px 38px;
    border: 2px solid #343d40;
    .border-radius(15px);
}
.promo-form__h{
    margin: 0 0 23px;
    .proxima-bold();
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    b{
        font-size: 28px;
        line-height: 36px;
    }
}
.promo-form__form{
    .input-field{
        padding-right: 34px;
    }
    .checbox-row{
        margin: 0 0 20px;
    }
}
.promo-form__fs{
    margin: 0 0 20px;
    &.error{
        .promo-form__it{
            border-color: #c25353;
        }
    }
}
.promo-form__it{
    height: 22px;
    margin: 0;
    padding: 12px 15px;
    .hlfont();
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    background: #0d1923;
    border: 2px solid #2f3f4c;
    .border-radius(0);
    .box-shadow(none);
    .placeholder(#999);
    &:focus{
        .box-shadow(none);
        outline: 0;
        outline: rgba(0,0,0,0);
        border-color: lighten(#2f3f4c, 10%);
    }
}
.promo-form__is{
    padding: 12px 0 11px;
    .proxima-bold();
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.riw-logo__link{
    display: block;
    width: 167px;
    height: 34px;
    margin: 0 auto;
    background: url(/images/promo-code/riw-logo.png) no-repeat;
}
