// school buttons



.school-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10px 25px;
    font: 14px/18px @baseFontFamily;
    text-transform: uppercase;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }
}



.school-btn-default{
    border-color: #c9c7c0;
    background: #fafafa;
    color: #171717;
    &:hover{
        border-color: #c9c7c0;
        background: #fff;
        color: #171717;
    }
    &.active, &:active{
        border-color: #c9c7c0;
        background: #fafafa;
    }
    &.disabled, &[disabled]{
        border-color: #c9c7c0;
        background: #fafafa;
    }
}




.school-btn-primary{
    border-color: #eab100;
    background: #ffc206;
    color: #171717;
    &:hover{
        border-color: #eab100;
        background: #ffd041;
        color: #171717;
    }
    &.active, &:active{
        border-color: #eab100;
        background: #ffc206;
    }
    &.disabled, &[disabled]{
        border-color: #eab100;
        background: #ffc206;
    }
}




.school-btn-lg{
    padding: 20px 38px 18px;
    font-size: 16px;
    [class^="s-school-"], [class*=" s-school-"]{
        margin: -4px 0 -4px 5px;
    }
}
