// school calendar



.school-calendar{
    padding: 64px 0;
    background: #fff;
    &_head{
        margin: 0 0 20px;
    }
    &_table{
        table-layout: fixed;
        td, th{
            padding: 17px 10px;
            border-top-color: #cfe1e6;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        th{
            line-height: 20px;
            padding: 16px 10px;
            border-top: 0;
        }
        a{
            color: #00b2e2;
            text-decoration: underline;
            &:hover{
                color: #007797;
            }
        }
        .pln-select{
            width: 270px;
            padding: 9px 11px;
            margin: -10px 0;
            font-size: 14px;
        }
        &_action{
            margin: -2px 0;
            .school-btn{
                display: block;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
