// school contacts



.school-contacts{
    margin: 0 0 45px;
    &_head{
        margin: 0 0 80px;
    }

    &_box{
        position: relative;
        width: 660px;
        margin: auto;
        background:
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#132129" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            left top repeat-x,
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#132129" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            top right repeat-y,
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#132129" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            right bottom repeat-x,
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#132129" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            bottom left repeat-y;
        background-color: #efefef;
    }
    &_ico{
        position: absolute;
        top: -55px;
        left: -141px;
        width: 241px;
        height: 291px;
        background: url(../images/school/contacts-ico.png) no-repeat;
    }
    &_cont{
        position: relative;
        padding: 55px 0 52px;
        font: 18px/1.24 @ff-proxima-nova;
        color: #000;
        text-align: center;
    }
    &_text{
        .school-footer_info{
            &_ico{
                padding-top: 7px;
                background: none;
            }
            &_val{
                color: #000;
            }
        }
    }
    &_btn{
        margin: 20px 0;
    }
    &_btn{
        margin: 26px 0 17px;
    }
    &_add{
        font-size: 16px;
    }
}
