// school countdown



[class^="n-school-countdown-"], [class*=" n-school-countdown-"]{
    .sprite(35, 49, url(../images/school/n-school-countdown.png));
    background-size: 500px auto;
}
.n-school-countdown{
    .for(1, 9); .-each(@i) {
        &-@{i} {background-position: (@i * -50px) 0}
    }
}



.school-countdown{
    position: absolute;
    bottom: -240px;
    right: 56px;
    color: #000;
    &_places{
        float: left;
    }
    &_time{
        float: left;
        margin-left: 167px;
    }
    &_head{
        margin: 0 0 14px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #132129;
    }
    &_cont{
        font-size: 0;
    }
    &_days,
    &_hours,
    &_minutes{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 18px;
        &:first-child{
            margin-left: 0;
        }
    }
    &_lbl{
        margin: 13px 0 0;
        font-size: 16px;
    }
    [class^="n-school-countdown-"], [class*=" n-school-countdown-"]{
        &:first-child{
            margin-right: 3px;
        }
    }
}
