// school footer



.school-footer{
    height: 121px;
    padding: 40px 0;
    font: 16px/1.5 @ff-proxima-nova;
    color: #fff;
    background: #132129;
    &:before{
        content: '';
        position: absolute;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }

    &_copy{
        float: right;
        margin: 8px 0 0;
        a{
            color: #fff;
            &:hover{
                text-decoration: none;
                color: #00b2e2;
            }
        }
    }

    &_info{
        &_i{
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 35px;
            &:first-child{
                margin-left: 0;
            }
        }
        &_ico{
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin: 0 7px 0 0;
            padding: 5px 0 0;
            border-radius: 50%;
            background: #fff;
            text-align: center;
            .s-school-phone{
                left: 1px;
            }
        }
        &_val{
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            text-transform: uppercase;
            &:hover{
                text-decoration: none;
                color: #00b2e2;
            }
        }
    }
}
