// school forms



.school-form-control{
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 10px 13px;
    font: 16px/20px @ff-proxima-nova;
    color: #555;
    background: #fff;
    border: 1px solid #a5c0c7;
    border-radius: 4px;
    &:focus{
        border-color: #00b2e2;
    }
    textarea&{
        height: auto;
    }
}


.school-pln-select{
    padding: 9px 13px;
    font-size: 16px;
    font-weight: 400;
    color: #132129;
    border-color: #a5c0c7;
    border-radius: 4px;
    .icon-select{
        width: 9px;
        height: 9px;
        margin: -7px 0 0 -10px;
        border: 0;
        border-left: 1px solid #272727;
        border-bottom: 1px solid #272727;
        transform: rotate(-45deg);
    }
    .dropdown-menu{
        min-width: 0;
        margin-top: 2px;
        border: 1px solid #dadada;
        border-radius: 4px;
        box-shadow: 0 5px 10px fade(#000, 25);
        .item{
            a{
                padding: 7px 13px;
                &:hover{
                    color: #000;
                    background: #ffefa5;
                }
            }
            &.active{
                a{
                    color: #000;
                    background: #ffefa5;
                }
            }
        }
    }
}


