// school header



.school-page{
    background: #fff;
    font: 16px/1.24 @ff-proxima-nova;
}


.school-header{
    &:extend(.cf-mix all);
    position: relative;
    z-index: 10;
    height: 140px;
    margin: -20px 0 -140px;
    padding: 22px 0;
    & + div {
        padding-top: 140px;
    }
}


.school-logo{
    float: left;
    width: 94px;
    height: 94px;
    background: url(../images/school/logo.svg) no-repeat;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="15" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(255,255,255,0.5)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(0 0 15px rgba(255,255,255,.5));
            filter: drop-shadow(0 0 15px rgba(255,255,255,.5));
}


.school-menu{
    float: left;
    margin: 38px 0 0 65px;
    font: 17px/20px @ff-proxima-nova;
    &_i{
        position: relative;
        float: left;
        margin: 0 0 0 29px;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            .school-menu_link{
                color: #00b2e2;
            }
        }
    }
    &_link{
        color: #264659;
        &:hover{
            color: #00b2e2;
            text-decoration: none;
        }
    }
}



// social
[class^="s-school-header-social-"], [class*=" s-school-header-social-"]{
    .sprite(26, 26, url(../images/school/header-social.png));
}
//.s-school-header-social-vk  { background-position: 0 0 }
.s-school-header-social-fb  { background-position: -50px 0 }
.s-school-header-social-ig  { background-position: -100px 0 }


.school-header-social{
    float: right;
    margin: 35px 0 0;
    &_link{
        float: left;
        margin: 0 0 0 16px;
        &:first-child{
            margin-left: 0;
        }
    }
}
// /social



.school-page-head{
    font: 700 36px/1 @ff-proxima-nova;
    text-transform: uppercase;
}



