// school info



.school-info{
    position: relative;
    background: #514d5a url(../images/school/back-light.jpg) no-repeat 50% 0 / cover;
    color: #fff;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        bottom: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_wrap{
        min-height: 580px;
        padding: 66px 0 278px;
        background: url(../images/school/rocket.svg) no-repeat 50% 100%;
    }
    &_block{
        position: relative;
    }
    &_head{
        margin: 0 0 11px;
    }
    &_post-head{
        max-width: 640px;
        margin: 0 0 24px;
        font: 700 16px/1 @ff-proxima-nova;
        text-transform: uppercase;
    }

    &_share{
        margin: -19px 0 37px;
        &_cont{
            display: inline-block;
            vertical-align: top;
            padding: 14px 20px;
            background: fade(#132129, 60);
            color: #fff;
        }
        &_lbl{
            display: inline-block;
            vertical-align: top;
            margin: 0 17px 0 0;
            padding: 3px 0 0;
            font-size: 16px;
        }
        &_val{
            display: inline-block;
            vertical-align: top;
        }

        .spsb-item{
            margin-left: 10px;
            &:first-child{
                margin-left: 0;
            }
        }
        [class^="bs-icons-"]{
            opacity: 1;
        }
        .sps-count{
            display: none;
        }
    }

    &_descr{
        margin: 0 0 25px;
        max-width: 640px;
        font-size: 18px;
        line-height: 1.35;
    }
    &_action{
        .school-btn + .school-btn{
            margin-left: 17px;
        }
    }
}
