// main school


// school-page-main
.school-page-main{
    .school-logo{
        background: url(../images/school/logo-white.svg) no-repeat;
    }
    .school-menu{
        &_i{
            &.active{
                .school-menu_link{
                    color: #000;
                }
            }
        }
        &_link{
            color: #264659;
            &:hover{
                color: #000;
                text-decoration: none;
            }
        }
    }
}
// /school-page-main





// school-lead
.school-lead{
    position: relative;
    padding-bottom: 75px;
    background: #00b2e2;
    &:before{
        //content: '';
        position: absolute;
        z-index: 1;
        bottom: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_block{
        position: relative;
    }
    &_img{
        position: relative;
        left: -49px;
        top: 15px;
        float: right;
        width: 341px;
        height: 332px;
        background: url(../images/school/lead-img.png) no-repeat;
    }
    &_cont{
        position: relative;
        width: 435px;
        font: 18px/1.24 @ff-proxima-nova;
        color: #fff ;
    }
    &_head{
        margin: 9px 0 17px;
        font: 700 48px/50px @ff-proxima-nova;
        text-transform: uppercase;
    }
    &_next{
        position: relative;
        width: 68px;
        height: 68px;
        margin: -6px auto 34px;
        background: url(../images/school/school-next.png) no-repeat;
        cursor: pointer;
    }
}


.school-logo-light{
    position: absolute;
    top: -370px;
    left: -253px;
    width: 600px;
    height: 600px;
    background: radial-gradient(50% 50%, circle cover, #13ccfe 0, #00b2e2 50%);
}
// school-lead



// school-presentation
.school-presentation{
    position: relative;
    width: 660px;
    margin: auto;
    background:
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        left top repeat-x,
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        top right repeat-y,
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        right bottom repeat-x,
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        bottom left repeat-y;
    background-color: #00a6d3;
    &_ico{
        position: absolute;
        top: -55px;
        left: -150px;
        width: 284px;
        height: 221px;
        background: url(../images/school/school-lead-tv.png) no-repeat;
    }
    &_cont{
        position: relative;
        padding: 55px 0 52px;
        font: 18px/1.24 @ff-proxima-nova;
        color: #fff;
        text-align: center;
    }
    &_text{
        max-width: 360px;
        margin: auto;
    }
    &_btn{
        margin: 20px 0;
    }
    &_btn{
        margin: 26px 0 17px;
    }
    &_add{
        font-size: 16px;
    }
}
// /school-presentation




// school-lessons
.school-lessons{
    position: relative;
    padding: 74px 0 55px;
    background: #ffc206;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_cont{
        position: relative;
    }
    &_img{
        position: absolute;
        top: -4px;
        right: 49px;
        width: 310px;
        height: 317px;
        background: url(../images/school/lessons-img.png) no-repeat;
    }
    &_head{
        position: relative;
        margin: 0 0 24px;
    }

    &_list{
        margin: 0 0 33px;
    }
    &_i{
        min-height: 27px;
        margin: 23px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }
    &_num{
        float: left;
        width: 27px;
        height: 27px;
        padding: 7px 0 0;
        margin: 0 15px 0 0;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        background: #fff;
        border-radius: 50%;
    }
    &_name{
        overflow: hidden;
        padding: 7px 0 0;
        a{
            color: #132129;
            text-decoration: underline;
            &:hover{
                color: #007797;
            }
        }
    }
}


.school-lessons-manuals{
    margin-top: 84px;
    background:
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        left top repeat-x,
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        top right repeat-y,
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        right bottom repeat-x,
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
        bottom left repeat-y;
    background-color: #e3ab00;
    .school-presentation{
        &_ico{
            top: -52px;
            left: -140px;
            width: 223px;
            height: 286px;
            background: url(../images/school/school-lead-books.png) no-repeat;
        }
        &_cont{
            color: #000;
        }
    }
}
// /school-lessons





// school-graduates
.school-graduates{
    position: relative;
    padding: 45px 0 54px;
    background: #00b2e2;
    color: #fff;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_head{
        margin: 0 0 33px;
    }
    &_list{
        padding: 0 15px;
        .project-card-list{
            margin: 0;
        }
        .project-card-item{
            float: none;
            margin: 0;
            border-color: #fff;
        }
        .project-card-link{
            min-height: 446px;
        }
        .project-card-cover-wrap{
            margin-bottom: 16px;
        }
        .project-card-text{
            max-height: 211px;
        }
        .project-card-name{
            max-height: 16px * 1.24 * 3;
            margin-left: 19px;
            margin-right: 19px;
            margin-bottom: 6px;
            font-size: 16px;
            line-height: 1.24;
        }
        .project-card-descr{
            margin-left: 19px;
            margin-right: 19px;
            font-size: 14px;
        }
        .project-card-info {
            margin: 17px 18px 13px;
        }
        .pci-label{
            font-size: 14px;
            text-transform: none;
        }
        .pci-value{
            font-size: 14px;
            font-weight: 700;
            color: #132129;
        }
        .project-card-finish{
            margin-top: 17px;
            font-size: 14px;
            text-transform: none;
        }
        .project-card-finish-sum{
            margin-bottom: 13px;
        }
        .project-card-info-i{
            width: auto;
            &:last-child{
                float: right;
            }
            + .project-card-info-i{
                .pci-value{
                    color: #132129;
                }
            }
        }
        .project-card-progress{
            left: 18px;
            right: 18px;
            border-radius: 20px;
            background: #dcdcdc;
            &.over-progress{
                background: #a8d0ed;
            }
        }
        .pcp-bar{
            height: 6px;
            border-radius: 20px;
            background: #00b2e2;
        }


        .owl-prev,
        .owl-next{
            position: absolute;
            top: 114px;
            left: -25px;
            width: 40px;
            height: 40px;
            padding: 12px 3px 0 0;
            text-align: center;
            font-size: 16px;
            color: #000;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 5px 15px fade(#65a5e1, 60);
        }
        .owl-next{
            left: auto;
            right: -25px;
            padding-right: 0;
            padding-left: 3px;
        }
    }
}
// /school-graduates




