// school project



// school-sign-box
.school-sign-box{
    display: table;
    table-layout: fixed;
    font-size: 16px;
    color: #fff;
    &_btn{
        display: table-cell;
        width: 220px;
        .school-btn{
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &_info{
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 20px;
    }
    &_price{
        margin: 0 0 3px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__invert{
        color: #000;
    }
}
// school-sign-box




// school-page-project
.school-page-project{
    .school-logo{
        background: url(../images/school/logo-white.svg) no-repeat;
    }
    .school-menu{
        &_i{
            &.active{
                .school-menu_link{
                    color: #e6e6e6;
                }
            }
        }
        &_link{
            color: #e6e6e6;
            &:hover{
                color: #fff;
                text-decoration: none;
            }
        }
    }


    .school-info{
        &_wrap{
            padding-top: 10px;
        }
        &_head{
            margin-bottom: 21px;
        }
        &_post-head{
            margin-bottom: 44px;
            font-size: 22px;
            font-weight: 700;
        }
    }
}
// /school-page-project




// school-project-about
.school-project-about{
    position: relative;
    padding: 60px 0;
    a{
        text-decoration: underline;
    }
    &_hr{
        position: absolute;
        z-index: 1;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_head{
        margin: 0 0 20px;
    }
    &_video{
        margin: 25px 0 0;
        border: 1px solid #b1b1b1;
    }

    &_add{
        padding: 26px;
        font-size: 16px;
        line-height: 22px;
        background:
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            left top repeat-x,
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            top right repeat-y,
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            right bottom repeat-x,
            url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#ffc206" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
            bottom left repeat-y;
        &_head{
            margin: 0 0 10px;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .school-sign-box{
        margin: 33px 0;
    }


    &__yellow{
        background: #ffc206;
        color: #000;
        a{
            color: #000;
            text-decoration: underline;
            &:hover{
                color: lighten(#000, 35%);
            }
        }
        .school-project-about{
            &_add{
                background:
                    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
                    left top repeat-x,
                    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
                    top right repeat-y,
                    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
                    right bottom repeat-x,
                    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="2600px" viewBox="0 0 3 2600"><line x1="1.5" x2="1.5" y1="1.5" y2="2600" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>')
                    bottom left repeat-y;
            }
        }
    }
}
// /school-project-about




// school-speakers
.school-speakers{
    position: relative;
    padding: 50px 0 60px;
    background: #00b2e2;
    color: #fff;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_head{
        margin: 0 0 43px;
    }

    &_list{
        margin: -50px 0 0;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 50px 0 0;
        padding: 0 20px 0 0;
        font-size: 16px;
    }
    &_ava{
        float: left;
        width: 140px;
        margin: 0 20px 0 0;
    }
    &_cont{
        overflow: hidden;
    }
    &_name{
        margin: 0 0 7px;
        font-size: 22px;
        font-weight: 700;
    }
}
// /school-speakers




// school-partners
.school-partners{
    position: relative;
    padding: 50px 0;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &_head{
        margin: 0 0 20px;
    }
    &_list{
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: middle;
        margin: 13px;
        img{
            max-width: 144px;
            max-height: 144px;
        }
    }
}
// /school-partners
