// school request



// modal
.modal-school{
    width: 780px;
    padding: 50px 75px;
    border: 3px solid #ffd202;
    border-radius: 4px;
    .modal-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        line-height: 1;
        color: #56545c;
        cursor: pointer;
        &:hover{
            color: #000;
        }
    }
}
// /modal



.school-request{
    font-size: 16px;
    &_head{
        &:extend(.school-page-head);
        margin: 10px 0 17px;
        text-align: center;
    }
    &_head-text{
        margin: 0 0 26px;
        text-align: center;
    }

    &_group{
        position: relative;
        padding: 31px 0 30px;
        &:before,
        &:after{
            content: '';
            position: absolute;
            z-index: 1;
            bottom: -1.5px;
            left: 0;
            right: 0;
            height: 3px;
            background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#ffd202" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
        }
        &:before{
            display: none;
            top: -1.5px;
        }
        &:first-child{
            &:before{
                display: block;
            }
        }
    }

    &_group-head{
        margin-top: -5px;
        font-size: 24px;
        line-height: 28px;
    }

    &_fieldset{
        &:extend(.cf-mix all);
        margin: 20px -@grid960GutterWidth/2 0;
        &:first-child{
            margin-top: 0;
        }
        &.error{
            .school-request_fieldset-lbl{
                color: #f44d4d;
            }
            .school-form-control{
                border-color: #f44d4d;
            }
        }
    }
    &_fieldset-lbl{
        padding-top: 11px;
        color: #828187;
        &__top{
            padding-top: 0;
            margin-top: 1px;
        }
    }


    &_fin-control{
        position: relative;
        &_currency{
            position: absolute;
            top: 11px;
            right: 11px;
        }
        .school-form-control{
            padding-right: 30px;
        }
    }


    &_action{
        margin: 40px 0 0;
        text-align: center;
        .school-btn{
            min-width: 220px;
        }
    }
}




// school-request-success
.school-request-success{
    font-size: 16px;
    text-align: center;
    &_head{
        &:extend(.school-page-head all);
        margin: 0 0 17px;
    }
    &_text{
        max-width: 500px;
        margin: auto;
    }
    &_ico{
        width: 120px;
        height: 120px;
        margin: 17px auto 0;
        background: url(../images/school/success.svg) no-repeat;
    }
}
// /school-request-success
