// school-interactive



.school-interactive{
    margin: -20px 0 0;
    padding: 0 0 34px;
    background: #1f2527 url(../images/school/school-interactive-bg.jpg) no-repeat 50% 0 / cover;
    font-size: 15px;
    line-height: 21/15;
    color: #fff;
    .school-logo.school-logo{
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        line-height: 0;
        width: auto;
        height: auto;
        background: none;
        filter: none;
    }
    a{
        color: #fff;
        text-decoration: underline;
    }


    &_cont-in{
        width: 540px;
        margin: auto;
    }
    &_head{
        padding: 30px 0;
    }
    &_top-link{
        padding: 14px 40px 0 0;
        font-size: 14px;
        line-height: 16px;
        float: right;
    }
    &_title{
        position: relative;
        margin: 0 0 30px;
        padding: 0 0 0 30px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 40px;
        line-height: 48/40;
        font-weight: 500;
        font-style: italic;
        .laquo{
            margin-left: -0.57em;
        }
        &:before{
            content: '';
            position: absolute;
            top: 27px;
            left: 0;
            width: 100%;
            bottom: -17px;
            background-image: linear-gradient(90deg, #00b2e2 0%, #1a8cff 100%);
        }
    }
    &_title-text{
        position: relative;
    }
    &_post-title{
        margin: 0 0 42px;
        padding: 10px 0 0;
        font-family: @ff-pfdin-cond-pro;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .26em;
        text-transform: uppercase;
    }
    &_pln-logo{
        display: inline-block;
        vertical-align: top;
        width: 180px;
        height: 47px;
        margin: -10px 5px 0 0;
        background: url(../images/pln-logo-white.svg) no-repeat 0 0 / cover;
    }
    &_text{
        margin: 0 0 70px;
    }

    &_next{
        margin: -30px 0 30px;
        text-align: center;
    }
    &_next-link{
        overflow: hidden;
        padding: 18px 0 0;
    }


    &__cert{
        position: relative;
        margin: -300px 0 0;
        padding-top: 350px;
        padding-bottom: 128px;
        background: url(../images/school/school-interactive-cert-bg.jpg) no-repeat 50% 0 / cover;
    }
}
