// school-interactive-sharing



.school-interactive-sharing{
    margin: 34px 0 0;
    &_cont{
        text-align: center;
    }
    &_text{
        margin: 0 0 15px;
        font-size: 16px;
    }
}
