// school-cert



.school-cert{
    position: relative;
    margin: -20px 0 0;
    padding: 45px 0;
    text-align: center;
    color: #fff;
    background: #0f1619;
    &_bg{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        svg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        polygon{
            width: 100%;
            height: 100%;
        }
    }
    .wrap{
        position: relative;
        z-index: 20;
    }
    &_logo{
        margin: 0 0 40px;
        .school-logo.school-logo{
            float: none;
            display: inline-block;
            vertical-align: top;
            width: auto;
            height: auto;
            background: none;
            filter: none;
        }
    }
    &_head{
        max-width: 820px;
        margin: 0 auto 26px;
        font-family: @ff-pfdin-cond-pro;
        font-size: 26px;
        line-height: 32/24;
        .text-hl{
            background: linear-gradient(-90deg, #1a8cff 0, #00b2e2 100%) repeat-x;
            background-size: 100% 10px;
            background-position: 0 89%;
        }
    }
    .intr-cert{
        font-size: 425px;
        box-shadow: 0 40px 80px fade(#06161c, 40);
    }
}
