// school-book



.school-book{
    position: relative;
    background: #ffcf0d;
    color: #1b282e;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -1.5px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }
    &:after{
        content: '';
        position: absolute;
        z-index: 1;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 3px;
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="2600px" height="3px" viewBox="0 0 2600 3"><line x1="1.5" x2="2600" y1="1.5" y2="1.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="1, 9"/></svg>');
    }

    &_img{
        float: left;
        width: 667px;
    }
    &_book{
        width: 777px;
        height: 501px;
        margin: 0 0 0 -56px;
        background: url(../images/school/book.jpg) no-repeat;
    }

    &_text{
        padding: 158px 0 0;
    }
    &_head{
        margin: 0 0 36px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        a{
            text-decoration: underline;
        }
    }

    &_download{
        font-size: 14px;
        line-height: 1.2;
    }
    &_download-link{
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 39px;
        background: url(../images/school/download.svg) no-repeat 0 4px;
        &, &:hover{
            color: #3c5867;
            text-decoration: none;
        }
    }
    &_download-link-text{
        font-size: 16px;
        color: @linkColor;
        text-decoration: underline;
    }
}
