// school-interactive-request



.school-interactive-request{
    &_cont{
        @perspective: 1500px;
        position: relative;
        transform: perspective(@perspective) rotateX(0deg);
        perspective: @perspective;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: .6s linear;
        .success &{
            transform: perspective(@perspective) rotateX(180deg);
        }
    }
    &_form,
    &_success{
        position: relative;
        margin: 0;
        padding: 45px 40px;
        border: 5px solid #1a8cff;
        border-image: linear-gradient(90deg, #1a8cff 0, #00b2e2 100%) 1;
        background: fade(#000, 80);
        font-size: 0;
        transform: rotateX(0deg);
        backface-visibility: hidden;
    }
    &_success{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: rotateX(180deg);
    }
    &_field{
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
    }
    &_input{
        width: 297px;
        height: 56px;
        padding: 18px 24px;
        font-family: @ff-pfdin-cond-pro;
        font-size: 16px;
        line-height: 18px;
        background: fade(#10161a, 80);
        border: 1px solid fade(#454553, 80);
        color: #fff;
    }
    &_error{
        position: absolute;
        top: 110px;
        left: 45px;
        font-size: 14px;
        line-height: 1.2;
        color: #ff1a1a;
    }

    &_success-head{
        padding: 11px 0;
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 24px;
        line-height: 34/24;
        font-style: italic;
    }
}


.school-interactive-btn{
    width: 225px;
    padding: 19px 10px;
    border: 0;
    font-family: @ff-pfdin-cond-pro;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #1a8cff 0, #00b2e2 100%);
    box-shadow: 0 10px 20px 0 fade(#0e9df1, 50);
    &:active,
    &:hover{
        color: #fff;
        background: linear-gradient(90deg, darken(#1a8cff, 10%) 0, darken(#00b2e2, 10%) 100%);
        text-decoration: none;
    }

    &.btn{
        &, &:hover{
            text-decoration: none;
        }
    }
}
