<div class="profile-body_head">
    <div class="profile-body_title" translate>profile-page.settings-block.change-pass</div>
    <div class="profile-body_descr" translate>profile-page.settings-block.change-pass-descr</div>
</div>

<div class="profile-settings">
    <div class="profile-settings_form wrap-row">
        <div class="profile-settings_col col-12 m-col-tl-6">
            <div class="wrap-row">
                <div class="profile-settings_i col-12">
                    <pl-input [(model)]="data.oldPassword"
                              [labelCode]="'profile-page.settings-block.old-password'"
                              [settings]="inputSettings"
                              [errors]="errors"
                              [field]="'oldPassword'"></pl-input>
                </div>

                <div class="profile-settings_i col-12">
                    <pl-input [(model)]="data.newPassword"
                              [labelCode]="'profile-page.settings-block.new-password'"
                              [settings]="inputSettings"
                              [errors]="errors"
                              [field]="'newPassword'"></pl-input>
                </div>

                <div class="profile-settings_i col-12">
                    <pl-input [(model)]="data.rePassword"
                              [labelCode]="'profile-page.settings-block.re-password'"
                              [settings]="inputSettings"
                              [errors]="errors"
                              [field]="'rePassword'"></pl-input>
                </div>

                <div class="profile-settings_i col-12">
                    <div class="profile-settings_action">
                        <button class="btn btn-nd-primary" (click)="updatePassword()">
                            {{ 'core.save' | translate:lang }}
                            <span class="profile-settings_btn-ico">
                                <img src="/images/icons/lock.svg">
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
