//
// Planeta Content Area
// --------------------------------------------


.main-container, .container {
    padding: 0;
}

@width-1170: 1170px;
@gutter-1170: 15px;
@screen-max-1170: (@width-1170 + @gutter-1170 * 2);
.wrap {
    width: auto;
    max-width: @screen-max-1170;
    min-width: 0;
    margin: 0 auto;
    padding-left: @gutter-1170;
    padding-right: @gutter-1170;
    @media (max-width: (@screen-max-1170 - 1)) {
        max-width: 870px + @gutter-1170 * 2;
    }
}

.wrap-row {
    &:extend(.cf-mix all);
    margin-left: -15px;
    margin-right: -15px;
}

[class^="col-"], [class*=" col-"], [class^="m-col-"], [class*=" m-col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.wrap-indent-left {
    margin-left: -@gutter-1170*2;
}

.wrap-indent-right {
    margin-right: -@gutter-1170*2;
}



.pl-main{
    min-height: calc(~"100vh - 115px");
}



// TODO Удалить, когда PlFormsModule перенесем в planeta-core
// и сделаем ноую форму авторизации
.pl-modal-login-form .form-control {
    display: block;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-appearance: none;
}
