<ul class="profile-updates">
    <li class="profile-updates_day" *ngFor="let item of updates">
        <div class="profile-updates_date">
            <div class="profile-updates_date-day">{{ item.date | l10nDate:defaultLocale:{ weekday: 'long'} }}</div>
            <div class="profile-updates_date-date">{{ item.date | l10nDate:defaultLocale:updateDateOptions }}</div>
        </div>

        <ul class="profile-updates_list">
            <li class="profile-updates_i" *ngFor="let news_item of item.news">
                <div *ngIf="news_item.type === newsTypes.CAMPAIGN_FINISHED_SUCCESS">
                    <div class="profile-updates_cover">
                        <img src="/images/icons/campaign-target-status-success.svg">
                    </div>

                    <div class="profile-updates_time">
                        {{ news_item.timeAdded | l10nDate:defaultLocale:updateTimeOptions }}
                    </div>

                    <div class="profile-updates_cont">
                        {{ 'core.campaign-single' | translate:lang }}
                        <a [href]="'/campaigns/' + news_item.campaignId">{{ news_item.campaignName }}</a>
                        {{ 'profile-page.campaign-success' | translate:lang }}
                    </div>
                </div>

                <div *ngIf="news_item.type === newsTypes.CAMPAIGN_FINISHED_FAIL">
                    <div class="profile-updates_cover">
                        <span class="profile-updates_progress profile-updates_progress-fail">
                            {{ news_item.campaignProgress }}%
                        </span>
                    </div>

                    <div class="profile-updates_time">
                        {{ news_item.timeAdded | l10nDate:defaultLocale:updateTimeOptions }}
                    </div>

                    <div class="profile-updates_cont">
                        {{ 'core.campaign-single' | translate:lang }}
                        <a [href]="'/campaigns/' + news_item.campaignId">{{ news_item.campaignName }}</a>
                        {{ 'profile-page.campaign-failed' | translate:lang }}
                    </div>
                </div>

                <div *ngIf="news_item.type === newsTypes.POST">
                    <div class="profile-updates_cover">
                        <img [src]="news_item.authorImageUrl">
                    </div>

                    <div class="profile-updates_time">
                        {{ news_item.timeAdded | l10nDate:defaultLocale:updateTimeOptions }}
                    </div>

                    <div class="profile-updates_cont">
                        <div class="profile-updates-post">
                            <div class="profile-updates-post_title">
                                {{ news_item.postName }}
                            </div>

                            <div *ngIf="news_item.campaignId" class="profile-updates-post_project">
                                {{ 'core.campaign-single' | translate:lang }}
                                <a [href]="'/campaigns/' + news_item.campaignId">
                                    {{ news_item.campaignName }}
                                </a>
                            </div>

                            <div class="profile-updates-post_body" [innerHtml]="news_item.text | pHtmlTransform"></div>
                        </div>
                    </div>
                </div>

                <div *ngIf="news_item.type === newsTypes.CAMPAIGN_STARTED">
                    <div class="profile-updates_cover">
                        <!--TODO сделать svg-->
                        <img src="/images/icons/campaign-started.svg">
                    </div>

                    <div class="profile-updates_time">
                        {{ news_item.timeAdded | l10nDate:defaultLocale:updateTimeOptions }}
                    </div>

                    <div class="profile-updates_cont">
                        {{ 'core.campaign-single' | translate:lang }}
                        <a [href]="'/campaigns/' + news_item.campaignId">{{ news_item.campaignName }}</a>
                        {{ 'profile-page.campaign-started' | translate:lang }}.
                        {{ 'profile-page.back-campaign' | translate:lang }}!
                    </div>
                </div>

                <div *ngIf="news_item.type === newsTypes.CAMPAIGN_RESUMED">
                    <div class="profile-updates_cover">
                        <!--TODO сделать svg-->
                        <img src="/images/icons/campaign-resumed.svg">
                    </div>

                    <div class="profile-updates_time">
                        {{ news_item.timeAdded | l10nDate:defaultLocale:updateTimeOptions }}
                    </div>

                    <div class="profile-updates_cont">
                        {{ 'core.campaign-single' | translate:lang }}
                        <a [href]="'/campaigns/' + news_item.campaignId">{{ news_item.campaignName }}</a>
                        {{ 'profile-page.resumed' | translate:lang }}.
                        {{ 'profile-page.back-campaign' | translate:lang }}!
                    </div>
                </div>

                <div *ngIf="news_item.type === newsTypes.CAMPAIGN_REACHED_50 || news_item.type === newsTypes.CAMPAIGN_REACHED_100">
                    <div class="profile-updates_cover">
                        <span class="profile-updates_progress profile-updates_progress-100">
                            {{ news_item.campaignProgress }}%
                        </span>
                    </div>

                    <div class="profile-updates_time">
                        {{ news_item.timeAdded | l10nDate:defaultLocale:updateTimeOptions }}
                    </div>

                    <div class="profile-updates_cont">
                        {{ 'core.campaign-single' | translate:lang }}
                        <a [href]="'/campaigns/' + news_item.campaignId">{{ news_item.campaignName }}</a>
                        {{ 'profile-page.reached' | translate:lang }}  {{ news_item.campaignProgress }}%!
                        {{ 'profile-page.still-going' | translate:lang }}.
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="profile-updates-block_empty" *ngIf="!loading && updates.length === 0">
    <b translate>profile-page.updates-empty</b>
</div>

<pl-preloader class="profile-content-loader" *ngIf="loading && updates.length === 0 && firstLoad"></pl-preloader>

<div class="profile-show-more" *ngIf="!last && updates.length !== 0 && !firstLoad">
    <pl-load-more-button (load)="loadMoreUpdates()" [loading]="loading"></pl-load-more-button>
</div>
