// Flip stories


.landing-wrap{
    overflow-x: hidden;
}


.stories_info{
    padding: 35px 0;
    font: 18px/51px @font-family-proxima-nova;
    color: #fff;
    background: #1a2d34;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.stories_info_text{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}



.flip-counter ul.cd {
    list-style: none;
    margin: 0 -1px;
    padding: 0;
}
.flip-counter li {
    background: url(../images/welcome_new/welcome-digits.png) no-repeat;
}
.flip-counter li.t {
    width: 31px;
    height: 17px;
}
.flip-counter li.b {
    width: 31px;
    height: 16px;
}
.flip-counter li.s {
    position: relative;
    top: 2px;
    width: 15px;
    height: 33px;
    background-position: 3px -330px;
}


.pvc-counter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 57px;
}
.pvc-counter .flip-counter {
    position: relative;
    float: none;
    margin: 0 -2px;
    font-size: 0;
    line-height: 0;
}
.pvc-counter .flip-counter ul.cd {
    float: none;
    display: inline-block;
    margin: 0 1px 0 0;
}
.pvc-counter .flip-counter li {
    background: url(../images/planeta/pvc-counter-sprite-small.png) no-repeat;
}
.pvc-counter .flip-counter li.t {
    width: 42px;
    height: 28px;
}
.pvc-counter .flip-counter li.b {
    width: 42px;
    height: 29px;
}
.pvc-counter .flip-counter li.s {
    top: 0;
    width: 20px;
    height: 56px;
    background: none;
}


.pvc-counter.counter-billion {
    height: 51px;
}
.pvc-counter.counter-billion .flip-counter {
    margin: 0 -1px;
}
.pvc-counter.counter-billion .flip-counter ul.cd {
    margin: 0;
}
.pvc-counter.counter-billion .flip-counter li {
    background: url(../images/quickstart/pvc-counter-sprite-billion.png) no-repeat;
}
.pvc-counter.counter-billion .flip-counter li.t {
    width: 32px;
    height: 25px;
}
.pvc-counter.counter-billion .flip-counter li.b {
    width: 32px;
    height: 26px;
}
.pvc-counter.counter-billion .flip-counter li.s {
    width: 11px;
    height: 49px;
    background: none;
}




.stories_list{
    font-size: 0;
    width: 100%;
    white-space: nowrap;
    background: #1a2d34;
}
.stories_col{
    display: inline-block;
    width: 300px;
    white-space: normal;
}
.stories_i{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.stories_i_cont{
    position: relative;
    padding-top: 66%;
}
.stories_link{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.stories_link:hover{
    z-index: 5;
    color: #fff;
}

.stories_cover-wrap,
.stories_cover-wrap:after,
.stories_cont,
.stories_plus{
    transition: .1s linear;
}
.stories_cover-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 solid #fff;
    overflow: hidden;
    box-shadow: 0 3px 20px rgba(0,0,0,.4);
}
.stories_cover-wrap:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: no-repeat 50% 50%;
}
.stories_cover_img{
    display: block;
    width: 100%;
}
.stories_plus{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 1px 5px;
    font: 22px/18px @font-family-proxima-nova;
    color: #00b2e2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_plus span{
    position: relative;
}
.stories_plus:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: 20px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
}

.stories_cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_name{
    margin: 12px 12px 7px;
    font: 20px/30px @font-family-proxima-nova;
}

.stories_link:hover .stories_cover-wrap{
    width: 108%;
    height: 108%;
    top: -5%;
    left: -5%;
    border-width: 3px;
}
.stories_link:hover .stories_cover-wrap:after,
.stories_link:hover .stories_cont,
.stories_link:hover .stories_plus{
    opacity: 1;
    filter: alpha(opacity=100);
}
.stories_create{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/quickstart/stories-write-bg.png) no-repeat 50% 50%;
    background-size: cover;
}

.stories_create_btn{
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    padding: 9px 24px 8px;
    font: 20px/30px @font-family-proxima-nova;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.34);
    text-align: center;
    border: 3px solid #fff;
    border-radius: 7px;
    background: #00c1f5;
    background-image: linear-gradient(to bottom, #00c1f5, #00b2e2);
}
.stories_create_btn:hover{
    color: #fff;
    background: #00C8FF;
    background-image: linear-gradient(to bottom, #00C8FF, #00C0F5);
}

.transform-animate .stories_create,
.transform-animate .stories_link{
    transition: transform .3s linear;
    backface-visibility: hidden;
}
.transform-animate .stories_link{
    transform: perspective(1000px) rotateY(0);
}
.transform-animate .stories_create{
    transform: perspective(1000px) rotateY(-180deg);
}
.transform-animate .flip .stories_link{
    transform: perspective(1000px) rotateY(180deg);
}
.transform-animate .flip .stories_create{
    transform: perspective(1000px) rotateY(0);
}

.simple-animate .flip .stories_link{
    display: none;
}