// Common News styles


.rich-tabs-wrap__news{
    margin-bottom: 20px;
    .rich-tab-search_input{
        width: 280px;
    }
}


.news{
    &_feature{
        margin-bottom: @grid960GutterWidth;
        &_list{
            margin: -20px -10px 20px;
            font-size: 0;
        }
        &_i{
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            width: 33.333333%;
            padding: 0 10px;
            margin: 20px 0 0;
            font: 700 16px/24px @ff-proxima-nova;
            color: #fff;
        }
        &_link{
            position: relative;
            cursor: pointer;
        }
        &_img{
            display: block;
        }
        &_head{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8px 12px;
            background: fade(#000, 60);
        }
    }

    &_posts{
        margin-bottom: @grid960GutterWidth;
        &, & * {
            box-sizing: border-box;
        }
        &_list{
            margin: -20px -10px 20px;
            font-size: 0;
        }
        &_i{
            display: inline-block;
            vertical-align: top;
            width: 33.333333%;
            padding: 0 10px;
            margin: 20px 0 0;
            font: 14px/20px @ff-proxima-nova;
            color: #fff;
        }
        &_link{
            position: relative;
            color: #000;
            cursor: pointer;
            &:hover{
                .news_posts_head{
                    color: @red;
                }
            }
        }
        &_cont{
            display: block;
            height: 320px;
            padding: 20px 20px 20px 30px;
            background: #fff;
            & > span{
                display: block;
            }
        }
        &_head{
            margin: 0 0 15px;
            font: 700 20px/24px @ff-proxima-nova;
        }
        &_text{
            margin: 0 0 15px;
            word-wrap: break-word;
        }
        &_img{
            display: block;
            height: 200px;
        }

        &__large{
            .news_posts{
                &_list{
                    &:extend(.cf-mix all);
                }
                &_i{
                    display: block;
                    width: 100%;
                }
                &_cont{
                    float: left;
                    width: 320px;
                }
                &_img{
                    float: right;
                    width: 620px;
                    height: auto;
                }
            }
        }
    }

    &_projects{
        margin: 30px 0;
        padding: 35px 0 40px;
        background: #fff;
        &_head{
            margin: 0 0 6px;
            font: 300 30px @ff-proxima-nova;
        }
        .caroufredsel_wrapper{
            padding: 11px 11px 0 0;
            box-sizing: content-box;
        }
        &_slider{
            position: relative;
            height: 427px;
        }
        .project-card-list{
            margin: 0;
            padding: 11px 0 0;
        }
        .project-card-item{
            margin: 0 10px;
        }
        &_arr-prev, &_arr-next{
            position: absolute;
            top: 0;
            left: -50px;
            height: 134px;
            width: 50px;
            cursor: pointer;
            opacity: .1;
            &:hover{
                opacity: .5;
            }
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 18px;
                height: 31px;
                margin: -15px 0 0 -9px;
                background: url(../images/news/news-projects-arr.png) no-repeat;
            }
        }
        &_arr-next{
            left: auto;
            right: -50px;
            i{
                background-position: -20px 0;
            }
        }
    }

    &_social-widget{
        margin-bottom: 40px;
        &_i{
            background: #fff;
        }
    }
}

.news-more{
    display: block;
    font: 700 12px/14px @ff-proxima-nova;
    text-transform: uppercase;
    letter-spacing: .1em;
    &_link{
        color: @red;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 1px solid;
        &:hover{
            color: @redHover;
        }
    }
}
