// BUTTON STYLES
// -------------


// Base styles
// --------------------------------------------------

// Core


.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 6px 9px;
    background: #e3e1dc;
    border: 1px solid #d7d6d3;
    font: 700 14px/18px @baseFontFamily;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    .border-radius(0);
    &:hover{
        background: lighten(#e3e1dc, 2%);
        border-color: lighten(#d7d6d3, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(#e3e1dc, 3%);
        border-color: darken(#d7d6d3, 3%);
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        border-color: #d8d8d8;
        background-image: none;
        background-color: #f6f6f6;
        .box-shadow(none);
        opacity: .5;
    }
    [class^="icon-"]{
        margin-top: -1px;
    }
}

.btn-upload,
.btn-input-file{
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 1.1;
    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 600%;
        line-height: 600%;
        width: auto;
        height: auto;
        .opacity(0);
        cursor: pointer;
    }
}
.btn-input-file{
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 8px 13px 8px 12px;
  font-size: @baseFontSize + 2px;
  line-height: normal;
}
.btn-large .icon {
  margin-top: 1px;
}

// Big
.btn-big {
  padding: 11px 35px 10px;
  font-size: 20px;
  line-height: normal;
}
.btn-big .icon {
  margin-top: 1px;
}

// Small
.btn-small {
  padding: 4px 8px;
  font-size: @baseFontSize - 1px;
  line-height: @baseLineHeight;
  font-weight: 400;
  &.btn-primary{
      padding-left: 9px;
      padding-right: 9px;
  }
  [class^="icon-"]{
    margin-top: -2px;
    margin-bottom: -1px;
  }
}
.btn-small .icon {
  margin-top: -1px;
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-warning,
.btn-success,
.btn-info{
    color: @white;
    &:hover{
        color: @white;
    }
}
// Provide *some* extra contrast for those who can get it
/*.btn-warning.active,
.btn-success.active,
.btn-info.active {
  color: rgba(255,255,255,.75);
}*/

// Set the backgrounds
// -------------------------
.btn-primary{
    border: 1px solid @linkColor;
    background: @linkColor;
    color: #fff;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled, &[disabled]{
        background: @linkColor;
        border-color: @linkColor;
    }
}

.btn-red{
    border: 1px solid #c0392b;
    background: #c0392b;
    color: #fff;
    &:hover{
        background: lighten(#c0392b, 10%);
        border-color: lighten(#c0392b, 10%);
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #c0392b;
        border-color: #c0392b;
    }
    &.disabled, &[disabled]{
        background: #c0392b;
        border-color: #c0392b;
    }
}

.btn-easy{
    background: #ccd6db;
    border-color: #ccd6db;
    &:hover{
        background: #d5e1e7;
        border-color: #d5e1e7;
    }
    &.active, &:active{
        background: #bbc7cd;
        border-color: #bbc7cd;
    }
    &.disabled, &[disabled]{
        background: #f3f6f7;
        border-color: #f3f6f7;
        color: #929292;
    }
}
// Warning appears are orange
.btn-warning {
    background: #ec971f;
    border-color: #ec971f;
    &:hover{
        background: #fca428;
        border-color: #fca428;
    }
    &.active, &:active{
        background: #df8609;
        border-color: #df8609;
    }
    &.disabled, &[disabled]{
        background: #fbe7cb;
        border-color: #fbe7cb;
        color: #ffcb83;
    }
}
// Success appears as green
.btn-success {
    background: #43c843;
    border-color: #43c843;
    &:hover{
        background: #4ede4e;
        border-color: #4ede4e;
    }
    &.active, &:active{
        background: #2fb32f;
        border-color: #2fb32f;
    }
    &.disabled, &[disabled]{
        background: #d4f2d4;
        border-color: #d4f2d4;
        color: #63f363;
    }
}
// Info appears as a neutral blue
.btn-info {
    background: #2980b9;
    border-color: #2980b9;
    &:hover{
        background: #368fca;
        border-color: #368fca;
    }
    &.active, &:active{
        background: #2477ad;
        border-color: #2477ad;
    }
    &.disabled, &[disabled]{
        background: #f3f6f7;
        border-color: #f3f6f7;
    }
}
// style for hover buttons
.btn-hovered{
    background: none;
    border-color: transparent;
    &:hover{
        &.btn{
            border-color: #a5aeaf;
            background: transparent;
        }
        &.btn-easy{
            border-color: #a5aeaf;
        }
    }
    &:active, &.active{
        &.btn{
            border-color: #ccc;
        }
        &.btn-easy{
            background: #fff;
            border-color: #bbc7cd;
        }
    }
}



.btn-lg{
    padding: 10px 15px;
}
.btn-xlg{
    padding: 15px 25px;
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

.btn-block-mix(){
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.btn-block{
    .btn-block-mix();
}

.btn-block + .btn-block {
  margin-top: 5px;
}



.action-btn{
    .btn();
    .btn-small();
    .box-shadow(none);
    background: none;
    .reset-filter();
    border: 1px solid transparent;
    &:hover{
        .btn();
        .btn-small();
    }
    &.active,&:active{
        .btn();
        .btn-primary();
        .btn-small();
        padding-left: 9px;
        padding-right: 9px;
    }
}


.flat-btn{
    display: inline-block;
    padding: 8px 13px 7px;
    border: 1px solid @linkColor;
    background: @linkColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &:active, &.active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled{
        .opacity(50);
        background: @linkColor;
        border-color: @linkColor;
        cursor: default;
    }
    &.flat-btn-lightgray{
        border: 1px solid #dbdbdb;
        background: #f5f5f4;
        font: 14px/100% @baseFontFamily;
        color: @black;
        &:hover{
            background: lighten(#f5f5f4, 1%);
            text-decoration: none;
        }
        &:active{
            background: darken(#f5f5f4, 3%);
        }
    }
    &.btn-block{
        display: block;

    }
}
@flat-btn-bg: #e3e1dc;
@flat-btn-border: #d7d6d3;
.flat-btn-default{
    background: #e3e1dc;
    border-color: #d7d6d3;
    color: #000;
    &:hover{
        background: lighten(@flat-btn-bg, 2%);
        border-color: lighten(@flat-btn-border, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(@flat-btn-bg, 3%);
        border-color: darken(@flat-btn-border, 3%);
    }
    &.disabled{
        .opacity(50);
        background: @flat-btn-bg;
        border-color: @flat-btn-border;
        cursor: default;
    }
}
