// CLOSE ICONS
// -----------

.close {
    float: right;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: @baseLineHeight;
    color: @black;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    .opacity(20);
    &:hover {
        color: @black;
        text-decoration: none;
        .opacity(40);
        cursor: pointer;
    }
    &.close-small{
        font-size: 16px;
        .opacity(100);
        color: #bdbdbd;
        font-weight: normal;
        &:hover{
            color: #666;
        }
    }
}

.hidden-close{
    .close{
        visibility: hidden;
    }
    &:hover{
        .close{
            visibility: visible;
        }
    }
}