// DROPDOWN MENUS
// --------------


// common dropdown style
.pln-dropdown{
    position: relative;
    &.open{
        > .pln-d-popup{
            display: block;
        }
        > .pln-d-switch.btn{
            outline: 0;
        }
    }
    &.bottom-up{
        > .pln-d-popup{
            bottom: auto;
            top: 100%;
        }
    }
}
.pln-d-switch{
    cursor: pointer;
}
.pln-d-popup{
    position: absolute;
    z-index: @zindexDropdown;
    top: 100%;
    left: 0;
    display: none;
    &_right{
        left: auto;
        right: 0;
    }
}
.pln-d-popup-tail{
    font: 0/0 a;
    position: absolute;
    bottom: 100%;
    background-repeat: no-repeat;
}
// common dropdown style


// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: top;
  border-left:  4px solid transparent;
  border-right: 4px solid transparent;
  border-top:   4px solid @black;
  .opacity(30);
  content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open.dropdown .caret {
  .opacity(100);
}
// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @zindexDropdown;
    cursor: default;
    float: left;
    display: none; // none by default, but block on "open" of the menu
    min-width: 160px;
    max-width: 220px;
    max-height: 216px;
    overflow-y: auto;
    padding: 0;
    margin: 0; // override default ul
    list-style: none;
    text-shadow: none;
    background: #fff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .2);
    border-style: solid;
    border-width: 1px;
    .background-clip(padding-box);
    .box-shadow(1px 1px 3px 1px #E6E6E6);

    // Allow for dropdowns to go bottom up (aka, dropup-menu)
    &.bottom-up {
        top: auto;
        bottom: 100%;
        margin-bottom: 0;

        .box-shadow(0 -5px 10px rgba(0,0,0,.2));
    }
    &.to-left {
        left: auto;
        right: 0;
    }
    // Dividers (basically an hr) within the dropdown
    .divider {
        height: 1px;
        margin: 5px 1px;
        overflow: hidden;
        background-color: #e5e5e5;
        border-bottom: 1px solid @white;
    }

    // Links within the dropdown menu
    .item {

        a {
            display: block;
            padding: 4px 8px;
            clear: both;
            font-weight: normal;
            line-height: 16px;
            color: @gray;
            white-space: nowrap;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.header-item {
            color: @grayLight;
            span {
                padding: 10px 8px;
                display: block;
            }
        }
        &.bottom-item {
            border-top: 1px solid #e6e6e6;
            margin-top: 6px;
            a {
                background: transparent;
                color: @blue;
                padding: 10px 8px;
                &:hover {
                    text-decoration: underline;
                }
                &.add-link {
                    &:before {
                        content: '+';
                        color: @blue;
                        display: block;
                        position: absolute;
                        left: 16px;
                        text-decoration: none;
                    }
                }
            }
        }
        &.level {
            a {
                padding: 4px 8px 4px 22px;
            }
        }
        &.active {
            .icon-accept {
                display: block;
            }
        }
    }

    [class^="icon-"] {
        margin: 0 8px 0 0;
    }
    .icon-accept {
        margin: 0;
    }
    &::before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    &.simple-dropdown-menu {
        #gradient > .reset();
        background: #fff;
        .border-radius(0);
        .box-shadow(0 0 2px rgba(0,0,0,.2));
        margin-top: 2px;
        padding: 5px 0;
    }
}

// Hover state
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: @white;
  text-decoration: none;
  background-color: @linkColor;
  [class^="icon-"] {
      .icon-white();
  }
}
.dropdown-menu .active > a{
    background-color: @linkColor;
}


.dropdown-download-list{
    border-color: #ccc;
    left: 0;
    right: 0;
    .border-radius(0 0 5px 5px);
    min-width: 0;
    text-align: center;
    margin: -5px 0 0;
    #gradient > .vertical(#f0f0f0, #ffffff);
    z-index: 10;
}
.download-icon-list{
    .clearfix();
    padding: 13px 0 8px;
    .download-icon-item{
        margin-left: -1px;
        float: left;
        width: 50%;
        text-align: center;
        border-left: 1px solid #ddd;
        &:first-child{
            border: 0;
        }
        .dii-icon-exel{
            background: url('/images/icon/stats-icons.png') no-repeat scroll 0 0 transparent;
            width: 29px;
            height: 37px;
            margin: 0 auto;
            &:hover{
                background: url('/images/icon/stats-icons.png') no-repeat scroll 0 -42px transparent;
            }
        }
        .dii-icon-csv{
            background: url('/images/icon/stats-icons.png') no-repeat scroll -32px 0 transparent;
            width: 29px;
            height: 37px;
            margin: 0 auto;
            &:hover{
                background: url('/images/icon/stats-icons.png') no-repeat scroll -32px -42px transparent;
            }
        }
    }
}



// Open state for the dropdown
.dropdown.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: @zindexDropdown;

  .dropdown-toggle {
    color: @white;
    background: #ccc;
    background: rgba(0,0,0,.3);
  }
  .dropdown-menu,
  .dm-dropdodown-menu-contacts{
    display: block;
  }
  .str {
    display: block;
  }
}

.dropdown.popup-open{
  .dropdown-popup{
    display: block;
  }
}

// Typeahead
.typeahead {
  margin-top: 2px; // give it some space to breathe
  .border-radius(4px);
}


[class^="icon-"] {
    .dropdown{
        top: 100%;
        &.option-list{
            .dropdown-menu{
                min-width: 0;
                *min-width: 160px;
                [class^="icon-"]{
                    margin-right: 2px;
                }
            }
        }
        &.tag-add-list{
            .dropdown-menu{
                .item{
                    a{
                        padding-left: 29px;
                        padding-right: 29px;
                    }
                    [class^="icon-"].left{
                        margin-left: -20px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .dropdown-menu{
        max-height: none;
        text-align: left;
        .border-radius(0);
        #gradient > .vertical(#ffffff, #ffffff);
        font-style: normal;
        left: -20px;
        &.left{
            left: auto;
            right: -20px;
        }
    }
    .str{
        position: absolute;
        top: 0;
        left: 2px;
        background: url('/images/arrow/blog-reit-str.png');
        width: 13px;
        height: 7px;
        display: none;
        z-index: @zindexDropdown + 1;
        & ~ .dropdown-menu{
            margin-top: 6px;
            padding: 5px 0;
        }
    }
}


// автокомплит
.ac_results{
    background: #fff;
    border: 1px solid #ccc;
    .box-shadow(0 2px 4px #ccc);
    padding: 0 4px;
    z-index: @zindexModal + 10;
    ul{
        margin:  0 -4px;
        li{
            padding: 1px 4px;
            cursor: pointer;
            &.ac_over{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}

// ui-autocomplete style
.ui-autocomplete{
    margin: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    .box-shadow(0 2px 4px #ccc);
    .ui-menu-item{
        a{
            cursor: pointer;
            display: block;
            padding: 1px 4px;
            text-decoration: none;
            color: @textColor;
            &:hover, &.ui-state-hover{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}
// /ui-autocomplete style
// /автокомплит

/* campaigns orders dropdown */
.project-stats-status{
    &.bottom-up{
        .dropdown-popup{
            top: auto;
            bottom: 100%;
        }
        .dropdown-popup-caret{
            top: 100%;
            background: url('/images/arrow/dropdown-caret-bottom-gray.png') no-repeat;
        }
    }
}
/* campaigns orders dropdown */
