// ProximaNova
#font > .fontFace('ProximaNovaRegular', 'proximanova-reg-webfont', 'proxima_nova_rgregular');
.proxima_nova_rgregular{
    font-family: 'ProximaNovaRegular', @baseFontFamily;
}

// ProximaNova Bold
#font > .fontFace('ProximaNovaBold', 'proximanova-bold-webfont', 'proxima_novabold_italic');
.proxima-bold{
    font-family: 'ProximaNovaBold', @baseFontFamily;
}