// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------


// GENERAL STYLES
// --------------

// Make all forms have space below them
form {
  margin: 0 0 @baseLineHeight;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @baseLineHeight * 1.5;
  font-size: @baseFontSize * 1.5;
  line-height: @baseLineHeight * 2;
  color: @grayDark;
  border: 0;
  border-bottom: 1px solid #eee;
}

fieldset.fieldset{
    border: 1px solid #bfbfbf;
    padding: 15px;
    .border-radius(4px);
    legend{
        width: auto;
        margin-bottom: 0;
        margin-left: -5px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 16px;
        border: 0;
    }
}

// Set font for forms
label,
input,
button,
select,
textarea {
    #font > .sans-serif(@baseFontSize,normal,@baseLineHeight);
}
input, textarea{
    font-family: Tahoma, Arial, sans-serif;
}

// Identify controls by their labels
label {
    display: block;
    margin-bottom: 5px;
    color: @grayDark;
    cursor: default;
}
label[for]{
    cursor: pointer;
}

// Inputs, Textareas, Selects
input,
textarea,
select{
    display: inline-block;
    width: 210px;
    height: @baseLineHeight;
    padding: 4px;
    margin-bottom: 9px;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    color: @gray;
    border: 1px solid #ccc;
    .border-radius(3px);
}

.input-l{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding: 9px;
}
textarea.input-l{
    height: auto;
}

// Inputs within a label
label input,
label textarea,
label select {
  display: block;
}

// Mini reset for unique input types
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0; /* IE7 */
  line-height: normal;
  border: 0;
  cursor: pointer;
  .border-radius(0);
}

// Reset the file input to browser defaults
input[type="file"] {
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: @white;
  .box-shadow(none);
}

// Help out input buttons
input[type="button"],
input[type="reset"],
input[type="submit"] {
    width: auto;
    height: auto;
    &.btn-block{
        width: 100%;
    }
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: 28px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  line-height: 28px;
}

// Chrome on Linux and Mobile Safari need background-color
select {
  width: 220px; // default input width + 10px of padding that doesn't get applied
  background-color: @white;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Remove shadow from image inputs
input[type="image"] {
  .box-shadow(none);
}

// Make textarea height behave
textarea {
  height: auto;
  resize: none;
}

// Hidden inputs
input[type="hidden"] {
  display: none;
}



// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
// Move the options list down to align with labels
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; // has to be padding because margin collaspes
}

// Radios and checkboxes on same line
.radio.inline,
.checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; // space out consecutive inline controls
}
// But don't forget to remove their padding on first-child
.controls > .radio.inline:first-child,
.controls > .checkbox.inline:first-child {
  padding-top: 0;
}



// FOCUS STATE
// -----------

input,
textarea {
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @transition: border linear .2s, box-shadow linear .2s;
    .transition(@transition);
    .placeholder(#afaeae);
}
input:focus,
textarea:focus {
    border-color: rgba(82,168,236,.8);
    @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    .box-shadow(@shadow);
    outline: 0;
    outline: thin dotted \9; /* IE6-8 */
    .placeholder(#bfbfbf);
}
input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
    .box-shadow(none); // override for file inputs
    .tab-focus();
}


// input flat
.input-flat{
    .box-shadow(none);
    .border-radius(0);
}



// INPUT SIZES
// -----------

// General classes for quick sizes
.input-small      { width: 90px; }
.input-medium     { width: 150px; }
.input-large      { width: 210px; }
.input-xlarge     { width: 270px; }
.input-xxlarge    { width: 530px; }

// Grid style input sizes
input[class*="span"],
select[class*="span"],
textarea[class*="span"]{
  float: none;
  margin-left: 0;
}
.input-field{
  &[class*="span"]{
      margin-left: 0;
  }
}



// GRID SIZING FOR INPUTS
// ----------------------

#inputGridSystem > .generate(@gridColumns, @gridColumnWidth, @gridGutterWidth);




// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}




// FORM FIELD FEEDBACK STATES
// --------------------------

// Mixin for form field states
.formFieldState(@textColor: #555, @borderColor: #ccc, @backgroundColor: #f5f5f5) {
  // Set the text color
  > label,
  .help-block,
  .help-inline {
    color: @textColor;
  }
  // Style inputs accordingly
  input,
  select,
  textarea {
    color: @textColor;
    border-color: @borderColor;
    &:focus {
      border-color: darken(@borderColor, 10%);
      .box-shadow(0 0 6px lighten(@borderColor, 20%));
    }
  }
  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    color: @textColor;
    background-color: @backgroundColor;
    border-color: @textColor;
  }
}
// Warning
.control-group.warning {
  .formFieldState(@warningText, @warningText, @warningBackground);
}
// Error
.control-group.error {
  .formFieldState(@errorText, @errorText, @errorBackground);
}
// Success
.control-group.success {
  .formFieldState(@successText, @successText, @successBackground);
}

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  &:focus {
    border-color: darken(#ee5f5b, 10%);
    .box-shadow(0 0 6px lighten(#ee5f5b, 20%));
  }
}



.form-control{
    .box-sizing(border-box);
    .border-radius(0);
    .box-shadow(none);
    width: 100%;
    height: 32px;
    margin: 0;
    .transition(none);
    &:focus{
        .box-shadow(none);
    }
}
textarea.form-control{
    height: auto;
}
.control-lg{
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    padding: 10px;
}
.control-xlg{
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    padding: 16px;
}





.fieldset{
    position: relative;
    & + &{
        margin-top: 20px;
    }
    &:first-child{
        margin-top: 0;
    }
    label{
        margin-bottom: 5px;
    }

    &.error{
        label{
            color: #c0392b;
        }
        input, textarea{
            border-color: #c0392b;
        }
    }
}

.fieldset-lbl{
    position: relative;
    padding-top: 7px;
}
.fieldset-lbl-title{
    position: relative;
    font-weight: 700;
}

.fieldset-action-warning{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 13px;
    background: url('/images/project/s-pc-action.png') no-repeat -40px 0;
}

.fieldset-help-tooltip{
    position: absolute;
    top: 17px;
    right: 16px;
    width: 13px;
    height: 13px;
    font: 12px @baseFontFamily;
    text-align: center;
    color: #9ec1ce;
    border: 1px solid #9ec1ce;
    border-radius: 50%;
    &:before {
        content: '?';
    }
}
.fieldset-lbl-title{
    .fieldset-help-tooltip{
        top: 1px;
        right: 0;
    }
}

.fieldset-lg{
    font-size: 14px;
    .fieldset-lbl{
        padding-top: 11px;
        font-size: 14px;
        label{
            font-size: 14px;
        }
    }
}

.fieldset-group__grid{
    border: 1px solid @borderGray;

    // grid
    [class^="col-"], [class*=" col-"] {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .col-12 {width: 100%;}
    .col-11 {width: 91.66666667%;}
    .col-10 {width: 83.33333333%;}
    .col-9 {width: 75%;}
    .col-8 {width: 66.66666667%;}
    .col-7 {width: 58.33333333%;}
    .col-6 {width: 50%;}
    .col-5 {width: 41.66666667%;}
    .col-4 {width: 33.33333333%;}
    .col-3 {width: 25%;}
    .col-2 {width: 16.66666667%;}
    .col-1 {width: 8.33333333%;}

    label{
        margin: 0;
    }
    .fieldset{
        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        background: #fff;
        border-top: 1px solid @borderGray;
        &:first-child{
            border-top: 0;
        }
        &:before, &:after{
            display: none;
        }
        &.error{
            .form-control{
                border-color: transparent;
            }
        }
        &_warning{
            position: absolute;
            top: 3px;
            right: 0;
        }
    }
    .fieldset-lbl,
    .fieldset-val{
        display: table-cell;
        vertical-align: middle;
        float: none;
        box-sizing: border-box;
    }
    .fieldset-lbl{
        padding: 16px;
        border-right: 1px solid @borderGray;
    }
    .fieldset-val{
        padding: 0;
        &_cont{
            padding: 16px;
        }
    }
    .form-control{
        position: relative;
        border-color: transparent;
        &:focus{
            z-index: 1;
            box-shadow: 0 0 0 1px @linkColor;
        }
    }
    .pln-select{
        border-color: transparent;
    }
    .checkbox-label,
    .radiobox-label{
        font-weight: 700;
    }


    .fieldset_ww-block{
        position: relative;
        &, .pln-tiny-mce-block{
            min-height: 412px;
        }
    }
}

.modal{
    .fieldset-group__grid{
        border: 0;
    }
}



// FORM ACTIONS
// ------------

.form-actions {
  padding: (@baseLineHeight - 1) 20px @baseLineHeight;
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}



// HELP TEXT
// ---------

.help-block {
  margin-top: 5px;
  margin-bottom: 0;
  color: @grayLight;
}

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  margin-bottom: 3px;
  color: #b44d38;
  font-size: 11px;
}



// INPUT GROUPS
// ------------

.input-field{
    padding: 0 10px 0 0;
    input,textarea{
        width: 100%;
        margin: 0;
    }
}
.input-hl{
    vertical-align: top;
    margin: 6px 0 0 5px;
    display: inline-block;
}
.input-field-l{
    padding: 0 20px 0 0;
}

.select-field{
    padding: 0 18px 0 0;
    .pln-select{
        width: 100%;
        margin: 0;
    }
}
.select-field-l{
    padding: 0 37px 0 0;
}





// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------

.form-search,
.form-inline,
.form-horizontal {
  input,
  textarea,
  select,
  .help-inline{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
    &.error{
        background: @errorBackground;
        .box-shadow(0 0 0 4px @errorBackground);
    }
}
.form-search label,
.form-inline label,
.form-inline a,
.form-inline span,
.form-inline > [class^="icon-"],
.form-inline .input-field {
  display: inline-block;
  vertical-align: middle;
}
// Make the prepend and append add-on vertical-align: middle;

// Margin to space out fieldsets
.control-group {
  margin-bottom: @baseLineHeight / 2;
}

// Horizontal-specific styles
// --------------------------

.form-horizontal {
  // Legend collapses margin, so we're relegated to padding
  legend + .control-group {
    margin-top: @baseLineHeight;
    -webkit-margin-top-collapse: separate;
  }
  // Increase spacing between groups
  .control-group {
    margin-bottom: @baseLineHeight;
    .clearfix();
  }
  // Float the labels left
  .control-group > label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
  }
  // Move over all input controls and content
  .controls {
    margin-left: 160px;
  }
  // Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: 160px;
  }
}


// Inputs icon
// --------------------------
.input-icon{
    position: relative;
    padding-right: 31px;
    &:before{
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
    }
    input{
        padding-right: 25px;
        position: relative;
    }
    [class^="icon-"]{
        right: 5px;
        top: 5px;
        position: absolute;
        background-color: @white;
    }
    &.input-icon-left{
        input{
            padding-right: 4px;
            padding-left: 25px;
        }
        [class^="icon-"]{
            right: auto;
            left: 5px;
        }
    }
    &.shift-icon-top{
        [class^="icon-"]{
            top: 6px;
        }
    }
}

.alien-link{
	font-size: 11px;
	text-decoration: underline;
}

// Remove the cross from the IE 10
input[type="text"]::-ms-clear{
  display: none;
}
