//
// Planeta Project Payment page
//
// --------------------------------------------


@pln-payment-box-offset: 20px;

.pln-payment-box{
    margin: 0 0 20px;
    border: 1px solid #d8dade;
    background: #fff;
    &__success{
        border-color: #aed783;
        .pln-payment-box_head{
            color: #619e18;
        }
    }
}

.pln-payment-box_head{
    padding: @pln-payment-box-offset;
    .proxima-bold();
    font-size: 14px;
    line-height: 20px;
    color: #e74c3c;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #d8dade;
}


.pln-payment-box_field-group{
    & + &{
        border-top: 1px solid #d8dade;
    }
}
.pln-payment-box_field-row{
    .cf();
    position: relative;
    font-size: 14px;
    line-height: 20px;
    & + &{
        border-top: 1px solid #d8dade;
    }
    &.error{
        .pln-payment-box_field-input{
            background: #fde8e6;
            .placeholder(#f3897f);
        }
        .pln-select{
            background: #fde8e6;
            color: #f3897f;
        }
    }
    .pln-select + .ppb_fi_error{
        right: 54px;
    }
}
.ppb_fi_error{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #ee523d;
    border: 1px solid #ee523d;
    .border-radius(50%);
    cursor: default;
}

.pln-payment-box_field-pdg{
    padding: 15px @pln-payment-box-offset;
}

.pln-payment-box_field-label{
    float: left;
    width: 205px;
    padding: 15px @pln-payment-box-offset;
    font-weight: 700;
}
.pln-payment-box_field-value{
    position: relative;
    margin-left: 245px;
    border-left: 1px solid #d8dade;
    .input-field{
        padding-right: 30px;
    }
}

.pln-payment-box_field-text{
    padding: 15px;
    background: #f2f2f2;
    color: #757575;
}

.pln-payment-box_field-text-error{
    padding: 15px;
    background: #fde8e6;
    color: #ee523d;
}

.pln-payment-box_field-input{
    height: 20px;
    padding: 15px;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    .border-radius(0);
    .box-shadow(none);
    .transition(none);
    &:focus{
        .box-shadow(0 0 0 1px @linkColor);
    }
}
textarea.pln-payment-box_field-input{
    height: auto;
}

.pln-payment-box_field-select{
    padding: 15px 45px 15px 15px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    &, .dropdown-menu{
        .box-shadow(none);
    }
    .select-btn{
        right: 20px;
        border: 0;
    }
    .icon-select{
        width: auto;
        height: auto;
        background: none;
        border-top: 7px solid @linkColor;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
}

.pln-payment-box_author-quest{
    .pln-payment-box_field-label{
        width: 279px;
    }
    .pln-payment-box_field-value{
        margin-left: 320px;
    }
}

.pln-payment-box_delivery-type{
    padding: 11px @pln-payment-box-offset;
    .radio-row{
        display: inline-block;
        vertical-align: top;
        margin: 5px 20px 5px 0;
        white-space: nowrap;
    }
}

.pln-payment-box_ui-control-vert,
.pln-payment-box_delivery-type-vert{
    padding: 20px @pln-payment-box-offset;
    .radio-row{
        display: block;
        margin: 0;
    }
    .radio-row + .radio-row{
        margin: 20px 0 0;
    }
}
.pln-payment-box_delivery-type-price{
    float: right;
    .proxima_nova_rgregular();
    font-size: 14px;
    color: #1b1b1b;
    white-space: nowrap;
}
.delivery-type-price_free{
    color: green;
}


.pln-payment_type-help{
    padding: 15px @pln-payment-box-offset;
    font-size: 15px;
    line-height: 1.2;
    color: #706f6f;
}

.pln-payment-type-wrap{
    position: relative;
}
.pln-payment-type{
    display: table;
    width: 100%;
    table-layout: fixed;
    .ppt-item{
        position: relative;
        display: table-cell;
        vertical-align: top;
        width: 70px;
        text-align: center;
        word-break: break-word;
        word-wrap: break-word;
        border-left: 1px solid #d8dade;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
            border-left: 0;
        }
        &:after{
            display: none;
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            border-top: 1px solid #b71234;
        }
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            background: fade(@linkColor, 11);
            border: 1px solid #ccc;
        }
        &:hover{
            z-index: 1;
            &:before{
                display: block;
                background: fade(#ccc, 11);
            }
        }
        &.active{
            z-index: 2;
            &:before{
                display: block;
                border-color: @blue;
                background: fade(@linkColor, 11);
            }
        }
        &.disabled{
            .opacity(30);
            cursor: default;
            &:before{
                display: none;
            }
        }
        &.recommend{
            &:after{
                display: block;
            }
        }
    }
    .ppt-img{
        img{
            display: block;
            margin: auto;
        }
    }
    .ppt-name{
        margin: 0 0 10px;
        font-size: 12px;
        line-height: 1.2;
    }
}
.ppt-recommend{
    position: absolute;
    z-index: 2;
    top: -11px;
    left: 0;
    font: 700 12px/14px @baseFontFamily;
    color: #fff;
    &_text{
        position: relative;
        left: -50%;
        display: inline-block;
        padding: 4px 9px;
        border-radius: 5px;
        background: #b71234;
    }
}

.pln-payment-sub-menu-wrap{
    display: none;
    padding: 10px 10px 0;
    background: #f5f4f0;
}
.pln-payment-sub-menu{
    margin: 0 0 10px;
    background: #fff;
    border: 1px solid #d8dade;
    .pln-payment-box_field-label{
        width: 194px;
    }
    .pln-payment-box_field-value{
        margin-left: 234px;
    }
}


.pln-payment_enter-sum{
    margin: 0 0 10px;
    .proxima-bold();
    font-size: 16px;
    text-align: right;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0;
    }
    &_val{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 140px;
        margin: 0 0 0 20px;
        &_currency{
            position: absolute;
            top: 14px;
            right: 10px;
            color: #bbb;
            pointer-events: none;
        }
        .form-control{
            .proxima-bold();
            font-size: 16px;
            padding-right: 30px;
            text-align: right;
        }
    }
}


.pln-payment-action{
    .flat-btn{
        padding: 15px 45px;
        .border-radius(0);
    }
}
.pln-payment-total{
    padding: 11px 0 0;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #949494;
    b{
        color: #151515;
    }
}


.pln-payment-terms{
    position: relative;
    margin: 0 0 20px;
    text-align: center;
    color: #706f6f;
}


.pln-payment-reward{
    padding: 18px 15px 14px;
    text-align: center;
    word-wrap: break-word;
    &_head{
        margin: 0 0 11px;
        .proxima-bold();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }
    &_sum{
        margin: 0 0 5px;
        .proxima-bold();
        font-size: 24px;
        line-height: 1.2;
        color: @linkColor;
    }
    &_name{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #111414;
        b{
            font-size: 1.2em;
        }
    }
    &_change{
        .flat-btn{
            padding: 5px 8px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
        }
    }
}


.pln-payment-product{
    padding: 18px 15px 14px;
    text-align: center;
    word-wrap: break-word;
    &_head{
        margin: 0 0 11px;
        .proxima-bold();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }
    &_sum-txt{
        .proxima_nova_rgregular();
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.2;
    }
    &_sum{
        .proxima-bold();
        font-size: 30px;
        line-height: 1.2;
        color: @linkColor;
    }
    &_list{
        padding: 10px 0 0;
        margin: 0 0 20px;
        background: url('/images/planeta/payment-product-sep.gif') repeat-x;
    }
    &_name{
        position: relative;
        padding: 0 0 10px;
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #111414;
        background: url('/images/planeta/payment-product-sep.gif') repeat-x 0 100%;
    }
    &_count{
        position: absolute;
        top: 0;
        right: -40px;
        padding: 3px 8px;
        background: @linkColor;
        color: #fff;
        line-height: 1;
    }
}



// modal delivery info
.modal-delivery-info{
    font-size: 14px;
    &, p{
        font-size: 14px;
    }
    .table{
        table-layout: fixed;
        margin-bottom: 20px;
        thead{
            tr:first-child{
                td, th{
                    border-top: 0;
                    vertical-align: top;
                }
            }
        }
        td, th{
            &:first-child{
                padding-left: 0;
            }
        }
    }
}
.modal-delivery-info-table{
    width: 100%;
}
// //modal delivery info


// liability
.pln-payment-liability{
    padding: 15px;
    &_i{
        position: relative;
        padding: 0 0 0 30px;
        margin: 15px 0 0;
        .proxima_nova_rgregular();
        font-size: 12px;
        line-height: 18px;
        b{
            .proxima-bold();
            font-weight: 400;
        }
        &:first-child{
            margin-top: 0;
        }
    }
    &_ico{
        position: absolute;
        top: 3px;
        left: 0;
        width: 16px;
        height: 11px;
        background: url('/images/project/payment-liability.png') no-repeat;
    }
}
// /liability


// trust
.pln-payment-trust{
    margin: 0 0 20px;
    padding: 15px 30px;
    text-align: center;
    .proxima_nova_rgregular();
    font-size: 14px;
    line-height: 18px;
    color: #5a482e;
    border: 1px solid #d0cec7;
    background: #e4e2dc;
    &_ico{
        i{
            display: inline-block;
            width: 24px;
            height: 19px;
            margin: 0 0 5px;
            background: url('/images/project/trust-ico.png') no-repeat;
        }
    }
}
// /trust


// payment success
.pln-payment-success{
    padding: 50px;
    color: #161515;
    a{
        text-decoration: underline;
    }
    &_head{
        margin: 0 0 10px;
        .proxima-bold();
        font-size: 35px;
        line-height: 1.1;
        text-align: center;
        .hl{
            color: #76b039;
        }
    }
    &_sub-head{
        margin: 0 0 40px;
        padding: 0 30px;
        .proxima_nova_rgregular();
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
        b{
            .proxima-bold();
            font-weight: 400;
        }
    }

    &_link{
        .proxima_nova_rgregular();
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
    }

    &_widget{
        margin: 0 0 0 9px;
    }
    &_widget_i{
        float: left;
        width: 240px;
        & + &{
            margin: 0 0 0 50px;
        }
    }
    &_widget_ico{
        margin: 0 0 25px 68px;
    }
    &_widget_text{
        .proxima_nova_rgregular();
        font-size: 18px;
        line-height: 24px;
    }
    &_widget_sharing{
        margin: 0 0 32px;
        &-head{
            margin: 15px 0 7px;
            .proxima-bold();
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}
.success-widget-icon{
    .sprite(70px, 70px, url('/images/planeta/payment-success-widget-ico.png'));
}
.success-widget-icon-star   { background-position: -70px 0 }
.success-widget-icon-mail   { background-position: -140px 0 }
.success-widget-icon-time   { background-position: -210px 0 }
// /payment success



// payment loyal
.pln-payment-loyal{
    margin: 0 0 20px;
    padding: 16px;
    .proxima_nova_rgregular();
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border: 1px dashed #d7d7d7;
    border-radius: 5px;

    &_head{
        .proxima-bold();
    }
    &_text{
        margin: 0 0 7px;
    }

    &_link{
        &:extend(.dot-link-mix all);
        .proxima-bold();
    }

    &_popup{
        width: 260px;
        margin: 13px -17px 0 0;
        .pln-d-popup-tail{
            right: 100px;
            border-bottom: 20px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }
    &_popup-cont{
        padding: 20px;
        background: #fff;
        text-align: left;
        border-radius: 5px;
        box-shadow: 0 1px 1px fade(#000, 25);
    }
    &_form-lbl{
        .proxima-bold();
    }
    &_form-val{
        position: relative;
        margin: 10px 0;
        &_pre{
            position: absolute;
            top: 8px;
            left: 11px;
            font-size: 16px;
            pointer-events: none;
        }
        .form-control{
            .proxima_nova_rgregular();
            padding-left: 30px;
            font-size: 16px;
        }
    }
}
// /payment loyal



// payment error loyal
.pln-payment-error-loyal{
    .proxima_nova_rgregular();
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    &_row{
        padding: 16px 0;
        border-top: 1px solid #f0eee8;
        &:first-child{
            border-top: 0;
        }
    }

    &_head{
        margin: 23px 0 8px;
        .proxima-bold();
        font-size: 35px;
        line-height: 40px;
        .hl{
            color: #c0392b;
        }
    }
    &_head-text{
        margin: 0 0 13px;
        font-size: 20px;
        line-height: 26px;
    }

    &_form-head{
        margin: 13px 0 19px;
        //.proxima-light();
        font-size: 35px;
        line-height: 40px;
    }
    &_form-lbl{
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 22px;
    }

    &_form-input{
        position: relative;
        width: 220px;
        margin: 0 auto 10px;
        &_pre{
            position: absolute;
            top: 12px;
            left: 16px;
            pointer-events: none;
        }
        .form-control{
            padding-left: 40px;
            .proxima_nova_rgregular();
            font-size: 18px;
        }
    }
    &_form-btn{
        width: 220px;
        margin: 0 auto 24px;
        .btn{
            .proxima-bold();
            font-size: 18px;
        }
    }

    &_mail-report{
        &_link{
            &:extend(.dot-link-mix all);
        }
    }
}
// /payment error loyal



// payment vip message
.pln-payment-vip{
    padding: 30px;
    text-align: center;
    background: url('/images/project/pln-payment-vip.png') no-repeat;
    &_head{
        margin: 3px 0 2px;
        .proxima-bold();
        font-size: 36px;
        line-height: 1.2;
    }
    &_msg{
        margin: 0 0 13px;
        .proxima_nova_rgregular();
        font-size: 24px;
        line-height: 1.2;
    }
}
// /payment vip message



// payment sidebar block
.pln-payment-side{
    .proxima_nova_rgregular();
    font-size: 14px;
    line-height: 20px;
    &_head{
        padding: 23px 25px 21px;
        font-size: 18px;
        line-height: 22px;
        border-bottom: 1px solid #d8dade;
    }
    &_cont{
        padding: 21px 25px;
    }
}
// //payment sidebar block


// modal balance
.modal-balance{
    width: 940px;
    .pln-payment-box{
        margin-bottom: 30px;
        border-width: 0 0 1px;
    }
    .pln-payment-action{
        padding: 10px;
    }
    .pln-payment-terms{
        float: left;
        margin: 17px 0 0;
        padding: 0 0 0 30px;
    }
    .pln-payment-action{
        float: right;
        padding: 0 30px 30px;
    }
}
// /modal balance
