// Thanks page

.thanks-block-wrap{
    padding: 29px 48px 0 67px;
}
.thanks-block{
    padding: 0 0 0 0;
    /*background: url('/images/content/thanks-basket.png') no-repeat;*/
}
.thanks-block-title{
    margin: 0 0 13px;
    font: 700 36px/100% Arial, sans-serif;
    letter-spacing: -1px;
    color: #252525;
}
.thanks-block-total{
    .box-shadow(0 1px rgba(0, 0, 0, 0.11));
    .border-radius(1px);
    border: 1px solid #c4c7c9;
    margin: 0 0 34px 0;
    word-wrap: break-word;
}
.t-b-t-item{
    padding: 22px 30px;
    border-bottom: 1px solid #c4c7c9;
    &:last-of-type {
        border-bottom: 0;
    }
}
.t-b-t-item-name{
    margin: 0 0 10px;
    font: 700 18px/150% Arial, sans-serif;
    color: #252525;
}
.t-b-t-item-info{
    font: 400 14px/150% Arial, sans-serif;
    color: #444;
    margin: 0 0 5px;
}
.t-b-t-item-price{
    float: right;
    font: 400 14px/150% Arial, sans-serif;
    color: #444;
}
.t-b-t-item-price-qty{
    font: 700 14px/100% Arial, sans-serif;
    color: #000;
}
.t-b-t-item-prize{
    margin: 0 200px 0 0;
}
.t-b-t-item-name-sum{
    float: right;
}
.thanks-block-tell-your-friends{
    margin: 0 0 40px;
}
.t-b-t-your-friends-tittle{
    margin: 0 0 15px;
    font: 700 18px/100% Arial, sans-serif;
    color: #252525;
}

.thanks-block-nav{
    padding: 0;
    margin: 0;
    list-style: none;
}
.t-b-n-link{
    display: inline-block;
    margin: 0 0 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid;
    font: 700 18px/100% Arial, sans-serif;
    &:hover {
        border-bottom: 1px solid transparent;
        text-decoration: none;
    }
}