// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.relative {
	position:relative;
}


// grid indent for full width
.grid-indent-left{
    margin-left: -@gridGutterWidth !important;
}
.grid-indent-right{
    margin-right: -@gridGutterWidth !important;
}
.grid-indent-both{
    .grid-indent-left();
    .grid-indent-right();
}
.grid-indent-wp-left{
    .grid-indent-left();
    padding-left: @gridGutterWidth !important;
}
.grid-indent-wp-right{
    .grid-indent-right();
    padding-right: @gridGutterWidth !important;
}
.grid-indent-wp-both{
    .grid-indent-wp-left();
    .grid-indent-wp-right();
}
// /grid indent for full width

// generate margin bottom/top 0-50px step 5px
.mrg-b-X (@index) when (@index >= 0) {
    .mrg-b-@{index} { margin-bottom: @index + 0px !important; }
    .mrg-b-X(@index - 5);
}
.mrg-b-X (50);

.mrg-t-X (@index) when (@index >= 0) {
    .mrg-t-@{index} { margin-top: @index + 0px !important; }
    .mrg-t-X(@index - 5);
}
.mrg-t-X (50);
// /generate margin bottom/top 0-50px step 5px

// generate padding bottom/top 0-50px step 5px
.pdg-b-X (@index) when (@index >= 0) {
    .pdg-b-@{index} { padding-bottom: @index + 0px !important; }
    .pdg-b-X(@index - 5);
}
.pdg-b-X (50);

.pdg-t-X (@index) when (@index >= 0) {
    .pdg-t-@{index} { padding-top: @index + 0px !important; }
    .pdg-t-X(@index - 5);
}
.pdg-t-X (50);
// /generate padding bottom/top 0-50px step 5px

// generate margin left/right 0-50px step 5px
.mrg-l-X (@index) when (@index >= 0) {
    .mrg-l-@{index} { margin-left: @index + 0px !important; }
    .mrg-l-X(@index - 5);
}
.mrg-l-X (50);

.mrg-r-X (@index) when (@index >= 0) {
    .mrg-r-@{index} { margin-right: @index + 0px !important; }
    .mrg-r-X(@index - 5);
}
.mrg-r-X (50);
// /generate margin left/right 0-50px step 5px

// generate margin left/right 0-50px step 5px
.pdg-l-X (@index) when (@index >= 0) {
    .pdg-l-@{index} { padding-left: @index + 0px !important; }
    .pdg-l-X(@index - 5);
}
.pdg-l-X (50);

.pdg-r-X (@index) when (@index >= 0) {
    .pdg-r-@{index} { padding-right: @index + 0px !important; }
    .pdg-r-X(@index - 5);
}
.pdg-r-X (50);
// /generate margin left/right 0-50px step 5px

//no padding
.no-pdg{
    padding: 0 !important;
}

.no-border{
    border: 0 !important;
}

.cur-p{
    cursor: pointer;
}
.dis-b, .div-b{
    display: block;
}

// no active state
.no-ac-st{
    cursor: default !important;
    &:active {
        background: transparent !important;
    }
}