html, body{ height: 100%;}
body{
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.broadcast-video-frame,
.broadcast-video-frame iframe,
.broadcast-video-frame object,
.broadcast-video-frame embed{
    white-space: nowrap;
    text-align: center;
    font-size: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.broadcast-video-frame .central-block{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.broadcast-video-frame .central-block-overlay{
    position: absolute;
    display: block;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.broadcast-video-frame .cbo-text{
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    padding: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.6);
    font-size: 20px;
    line-height: 150%;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.broadcast-video-frame .cbo-text.cbo-text-wcd{
    position: relative;
    top: 90px;
    padding: 15px 30px;
}
.broadcast-video-frame .cbo-text .cbo-countdown{
    font-size: 28px;
}
.broadcast-video-frame .cbo-text-after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.broadcast-video-frame .vertical-align{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.broadcast-video-frame .bs-video-play{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
    cursor: pointer;
}
.broadcast-video-frame .bs-video-play:hover{
    background-size: 140px 140px;
}

.cbo-countdown-block{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 17px;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #fff;
    background: rgba(0,0,0,.8);
}
