//
// Planeta Content Area
// --------------------------------------------


#root-container,
#global-container{
    flex-grow: 1;
    min-height: ~"calc(100vh - 115px)";
    .main-nav-open &{
        overflow: hidden;
        min-height: 0;
    }
}


.wrap{
    &:extend(.cf-mix all);
    width: @grid960RowWidth;
    margin: 0 auto;
    padding: 0 @grid960GutterWidth / 2;
}
.wrap-row{
    &:extend(.cf-mix all);
    margin-left: -@grid960GutterWidth/2;
    margin-right: -@grid960GutterWidth/2;
}

// grid960 indent for full width
.wrap-indent-left{
    margin-left: -@grid960GutterWidth;
}
.wrap-indent-right{
    margin-right: -@grid960GutterWidth;
}
.wrap-indent-both{
    .wrap-indent-left();
    .wrap-indent-right();
}
.wrap-indent-left-half{
    margin-left: -@grid960GutterWidth/2;
}
.wrap-indent-right-half{
    margin-right: -@grid960GutterWidth/2;
}
.wrap-indent-both-half{
    .wrap-indent-left-half();
    .wrap-indent-right-half();
}
.wrap-indent-wp-left{
    .wrap-indent-left();
    padding-left: @grid960GutterWidth;
}
.wrap-indent-wp-right{
    .wrap-indent-right();
    padding-right: @grid960GutterWidth;
}
.wrap-indent-wp-both{
    .wrap-indent-wp-left();
    .wrap-indent-wp-right();
}
// /grid960 indent for full width
