// f-digest



.f-digest{
    margin: 7px 0 0;
    &_lbl{
        margin: 0 0 24px;
        font-size: 14px;
        line-height: 16/14;
        font-weight: 500;
        color: #7894a2;
    }
    &_form{
        display: flex;
    }
    &_val{
        flex: 1 1 auto;
        height: 40px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 16px;
        background: #f9f9f9;
        border-color: #dde7ef;
    }
    &_btn{
        width: 40px;
        height: 40px;
        margin: 0 0 0 8px;
        line-height: 0;
        background: #1a8cff;
        border-color: #1a8cff;
        &:hover, &:active{
            background: darken(#1a8cff, 10%);
            border-color: darken(#1a8cff, 10%);
        }
    }


    @media (max-width: @screen-ld-max) {
        margin-top: 35px;
    }
}

