// f-info



.f-info{
    &_logo{
        margin: 0 0 11px;
        font-size: 30px;
    }
    &_tel{
        margin: 0 0 14px;
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        color: #1b2336;
    }
    &_address,
    &_time{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 20px;
        color: #7894a2;
    }
    &_time{
        margin: 11px 0 0;
        font-size: 12px;
        line-height: 16px;
    }


    @media (max-width: @screen-tp-max) {
        margin-top: 35px;
    }
}
