// f-lang



[class^="flag-icon-"], [class*=" flag-icon-"]{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1.33333333em;
    line-height: 1em;
    background: no-repeat 0 0 / cover;
    &:before {
        content: "\00a0";
    }
}
.flag-icon-gb{
    background-image: url(../images/flags/gb.svg);
}
.flag-icon-ru{
    background-image: url(../images/flags/ru.svg);
}


.f-lang{
    margin: 6px 0 0;
    &_link{
        font-size: 13px;
        line-height: 15px;
        cursor: pointer;
        &:hover{
            .f-lang_lbl{
                text-decoration: underline;
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 0;
        font-size: 16px;
        line-height: 1;
        border: 1px solid #e6e6e6;
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 2px 0 0;
    }


    @media (max-width: @screen-pl-max) {
        text-align: center;
        margin: 0 0 18px;
    }
}
