// f-menu



.f-menu{
    margin: 8px 0 0;
    &_header{
        margin: 0 0 26px;
        font-size: 15px;
        line-height: 1;
        font-weight: 700;
        color: #1a8cff;
        text-transform: uppercase;
    }
    &_i{
        margin: 10px 0 0;
        font-size: 14px;
        line-height: 16/14;
        &:first-child{
            margin: 0;
        }
    }
    &_link{
        &, &:hover{
            color: #888;
        }
    }
}


.f-menu-list{
    @media (max-width: @screen-pl-max) {
        .mobile-scroll-mix();
        display: flex;
        &_i{
            flex: 1 1 auto;
            float: none;
            width: auto;
        }
    }
}
