// f-runet



.f-runet {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 90px;
    height: 95px;
    margin: -18px -35px 0 24px;
    background: url(../images/planeta/f-runet.png) no-repeat;
    filter: drop-shadow(21px 17px 4px rgba(0, 0, 0, 0.1));
    overflow: hidden;


    @media (max-width: @screen-pl-max) {
        right: 20px;
    }
}
