// f-social



[class^="f-social-"]{
    .sprite(30px, 30px, url(../images/icon/f-social.svg));
    vertical-align: top;
}
.f-social-{
    &vk     { background-position: 0 0 }
    &fb     { background-position: -50px 0 }
    &tw     { background-position: -100px 0 }
    &gp     { background-position: -150px 0 }
    &yt     { background-position: -200px 0 }
    &ig     { background-position: -250px 0 }
    &ok     { background-position: -300px 0 }
}


.f-social{
    float: right;
    font-size: 0;
    white-space: nowrap;
    text-align: right;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
        opacity: .8;
        transition: opacity .2s;
        &:first-child{
            margin: 0;
        }
        &:hover{
            opacity: 1;
        }
    }


    @media (max-width: @screen-pl-max) {
        float: none;
        text-align: center;
    }
}
