//
// Planeta Footer
// --------------------------------------------


.footer{
    position: relative;
    z-index: 4;
    font-family: @ff-roboto;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    &_wrap{
        position: relative;
        padding-top: 45px;
        padding-bottom: 47px;
        overflow: hidden;
    }
    &_bottom{
        padding: 16px 0;
        border-top: 1px solid #e8e8e8;
    }
    &_copy{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 30px;
        color: #7894a2;
    }


    @media (max-width: @screen-tp-max) {
        &_wrap{
            padding-top: 25px;
            padding-bottom: 27px;
        }
        &_bottom{
            padding-top: 20px;
        }
        &_copy{
            margin: 10px 0 0;
            text-align: center;
        }
    }
}
