// h-menu



.h-menu{
    padding: 12px 0 0;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 22px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        &:first-child{
            margin: 0;
        }
    }
    &_link{
        display: block;
        padding: 10px 0;
        color: #454553;
        &:hover{
            color: #454553;
        }
    }


    @media (max-width: 1023px) {
        &_i{
            margin-left: 12px;
            font-size: 12px;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}
