// h-quick-links



.h-quick-links{
    float: left;
    font-size: 0;
    line-height: 0;
    padding: 3px 0 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 15px;
        &:first-child{
            margin: 0;
        }
        &:hover{
            text-decoration: none;
            .h-quick-links_lbl{
                text-decoration: underline;
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        color: #01c8fe;
        svg{
            fill: currentColor;
        }
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 2px 0 0 7px;
        font-size: 11px;
        line-height: 17px;
        color: #7894a2;
    }


    @media (max-width: 1024px) {
        &_i{
            margin-left: 5px;
        }
        &_lbl{
            margin-left: 1px;
        }
    }
}
