// h-search-results



.h-search-results{
    padding: 24px 0;
    background: #fff;
    &:focus{
        outline: none;
    }
    &_no-results{
        padding: 10px 0 5px 124px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #555;
    }
    &_i{
        font-size: 0;
        white-space: nowrap;
    }
    &_link{
        display: block;
        padding: 8px 124px;
        &:hover, &:focus{
            background: lighten(#ffcf0d, 30%);
        }
    }
    &_img{
        display: inline-block;
        vertical-align: top;
        width: 50px;
        margin: 0 16px 0 0;
        text-align: right;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        font-size: 15px;
        line-height: 30px;
        color: #1b2336;
        .text-overflow();
    }

    &_all{
        margin: 26px 106px 16px;
        font-size: 0;
    }
    &_all-link{
        &:extend(.show-more-mix all);
        margin: 0 0 0 32px;
        &:first-child{
            margin: 0;
        }
    }
    &_loader{
        //display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: fade(#fff, 60);
        visibility: hidden;
        opacity: 0;
        transition: .2s;
        &.load{
            //display: block;
            visibility: visible;
            opacity: 1;
            .md-loader-start-animation();
        }
        .md-loader{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 55px;
            &_line,
            &_spinner{
                stroke-width: 2px;
            }
        }
    }


    @media (max-width: 1023px) {
        &_no-results{
            padding-left: 92px;
        }
        &_link{
            padding-left: 92px;
            padding-right: 92px;
        }
        &_all{
            margin-left: 74px;
            margin-right: 74px;
        }
    }
}
