// h-user



.h-user{
    &_link{
        position: relative;
        z-index: 2;
        display: block;
        padding: 14px 10px 14px 17px;
        font-size: 0;
        text-decoration: none;
        white-space: nowrap;
        background: #fff;
        &:hover{
            text-decoration: none;
            .h-user_name{
                color: @linkColorHover;
            }
        }
    }
    &_ava{
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    &_link-img{
        width: 32px;
        height: 32px;
        border-radius: 2px;
    }
    &_name{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 143px;
        margin: 0 0 0 8px;
        .text-overflow();
        font-size: 14px;
        line-height: 32px;
        color: #1a8cff;
        text-decoration: underline;
    }
    &_close{
        display: none;
    }
    &_badge{
        &:extend(.badge-mix all);
        position: absolute;
        top: -7px;
        right: -7px;
    }

    &_popup{
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        width: 270px;
        margin: 0 -60px 0 0;
        transition: .2s;
        .open > &{
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
        .header__search &{
            display: none;
        }
    }
    &_popup-cont{
        padding: 25px 10px 28px 20px;
        background: #fff;
        border-top: 1px solid fade(#888, 20);
        box-shadow: 0 30px 40px fade(#254959, 20);
    }

    &_overlay{
        display: none;
    }


    @media (max-width: @screen-tl-max) {
        &_popup{
            margin-right: -48px;
        }
        &_name{
            width: 155px;
        }
    }

    @media (max-width: @screen-tp-max) {
        @block-width: 270px;
        @block-offset: 69px;
        @transition-duration: .2s;
        @transition-duration-lag: @block-offset * @transition-duration / @block-width;

        margin-right: -20px;
        &_link{
            width: @block-width;
            margin-right: (@block-width - @block-offset) * -1;
            padding-right: 20px;
            //transition: (@transition-duration - @transition-duration-lag) linear;
            transition: @transition-duration ease-out;
        }
        &_name{
            width: 160px;
            transform: translateX(@block-offset);
            //transition: @transition-duration-lag (@transition-duration - @transition-duration-lag) linear;
            transition: @transition-duration ease-out;
        }
        &_popup{
            right: auto;
            left: 100%;
            //display: block;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            min-height: ~"calc(100vh - 60px)";
            margin: 0;
            transition: @transition-duration ease-out;
        }
        &_popup-cont{
            box-shadow: none;
        }
        &_close{
            display: inline-block;
            vertical-align: top;
            width: 32px;
            height: 32px;
            padding: 9px;
        }
        &_overlay{
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: fade(#1b2336, 70);
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: opacity @transition-duration/3 ease-out,
                        visibility @transition-duration/3 ease-out;
        }

        &.open{
            .h-user{
                &_link{
                    transform: translateX((@block-width - @block-offset) * -1);
                    //transition: (@transition-duration - @transition-duration-lag) @transition-duration-lag linear;
                    transition: @transition-duration ease-out;
                }
                &_name{
                    transform: translateX(0);
                    //transition: @transition-duration-lag linear;
                    transition: @transition-duration ease-out;
                }
                &_popup{
                    transform: translateX(@block-width * -1);
                }
                &_overlay{
                    visibility: visible;
                    opacity: 1;
                    transition: opacity @transition-duration @transition-duration cubic-bezier(0.22, 0.61, 0.29, 0.71),
                                visibility @transition-duration @transition-duration cubic-bezier(0.22, 0.61, 0.29, 0.71);
                }
            }
        }
    }
}
