// main-nav-sections



.main-nav-sections{
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 20px 0;
    .no-flexbox &{
        text-align: center;
    }
    &_i{
        padding: 10px 10px;
        .no-flexbox &{
            display: inline-block;
            vertical-align: top;
        }
    }
    &_link{
        display: table;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 0;
        &, &:hover{
            color: #454553;
        }
    }
    &_ico{
        display: table-cell;
        vertical-align: middle;
        padding: 0 8px 0 0;
    }
    &_name{
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 16px;
    }


    @media (max-width: @screen-tl-max) {
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (max-width: @screen-pl-max) {
        display: block;
    }
}
