// main-nav



.main-nav{
    position: absolute;
    z-index: 98;
    top: 95px;
    left: 0;
    right: 0;
    font-family: @ff-roboto;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s 0s, visibility .2s 0s;
    &_cont{
        min-height: ~"calc(100vh - 95px)";
        padding: 46px 0 80px;
        background: #fff;
    }
    &_wrap{
        max-width: 1234px;
        margin: auto;
        padding: 0 33px;
    }

    .main-nav-open &{
        visibility: visible;
        opacity: 1;
    }

    &_nav{
        margin: -35px 0 0;
    }
    &_nav-list{
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;
        .no-flexbox &{
            &:extend(.cf-mix all);
        }
    }
    &_nav-i{
        margin: 35px 0 0;
        padding: 0 10px;
        .no-flexbox &{
            float: left;
        }
    }

    &_heads{
        display: none;
    }
    &_sections{
        margin: 77px 0 0;
        background: #f1f8ff;
    }
    &_add{
        margin: 70px 0 0;
    }


    @media (max-width: 1023px) {
        &_cont{
            padding-bottom: 40px;
        }
        &_wrap{
            padding: 0 20px;
        }
        &_nav-list{
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    @media (max-width: 767px) {
        top: 60px;
        &_cont{
            min-height: ~"calc(100vh - 60px)";
        }
        &_heads{
            display: block;
            margin: 0 -20px 24px;
            border-bottom: 1px solid #dde7ef;
        }
        &_sections{
            margin: 14px 0 0;
        }
        &_add{
            margin: 37px 0 0;
        }
        &_nav{
            display: block;
            margin: 0 -20px;
        }
        &_nav-list{
            margin: 0;
        }
        &_nav-i{
            position: absolute;
            top: -9999px;
            left: -9999px;
            width: 100%;
            margin: 0;
            padding: 0 0 10px;
            &:first-child{
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
}
