// main-nav-heads



.main-nav-heads{
    font-size: 0;
    color: #7894a2;
    white-space: nowrap;
    .owl-item{
        float: none !important;
        display: inline-block;
        vertical-align: top;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 19px;
        padding-left: 20px;
        &.current{
            .main-nav-heads_link{
                color: #454553;
                border-bottom-color: #1a8cff;
            }
        }
    }
    &_link{
        padding: 0 0 11px;
        border-bottom: 4px solid transparent;
        cursor: pointer;
    }
}
