// special projects



.spec-projects{
    float: right;
    font-size: 0;
    line-height: 25px;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 1px 15px -1px 0;
        font-size: 11px;
    }
    &_val{
        display: inline-block;
        vertical-align: top;
    }
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 48px;
        &:before{
            content: '';
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -24px;
            border-left: 1px solid #32384b;
        }
        &:first-child{
            margin-left: 0;
            &:before{
                display: none;
            }
        }
    }


    @media (max-width: 1023px) {
        &_lbl{
            margin-right: 5px;
        }
        &_i{
            margin-left: 5px;
            &:before{
                display: none;
            }
        }
    }
}
