// about-round-cmn



.about-round-cmn{
    &_name{
        margin: 0 0 47px;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_start,
    &_end{
        font-size: 48px;
        line-height: 1;
        font-weight: 700;
        color: #c7dd33;
    }
    &_end{
        color: #01c8fe;
    }


    @media (max-width: 1400px) {
        &_name{
            font-size: 28px;
        }
        &_start,
        &_end{
            font-size: 36px;
        }
    }


    @media (max-width: 767px) {
        &_name{
            font-size: 22px;
        }
        &_start,
        &_end{
            font-size: 28px;
        }
    }
}
