// about-page



@linkColorAbout:             #ffcf0d;
@linkColorAboutHover:        darken(#ffcf0d, 15%);


.about-page{
    a {
        color: @linkColorAbout;
        &:hover{
            color: @linkColorAboutHover;
        }
    }
}
