// about-presentation



.about-presentation{
    margin: 100px 0;
    &_block{
        padding: 0 10% 0 5.9%;
    }
    &_cont{
        margin-left: 335px;
    }
    &_descr{
        margin: 49px 0 0;
        font-size: 18px;
        line-height: 24/18;
    }


    @media (max-width: 1400px) {
        &_block{
            padding-left: 2.5%;
            padding-right: 5%;
        }
        &_cont{
            margin-left: 270px;
        }
    }

    @media (max-width: 767px) {
        &_cont{
            margin-left: 0;
        }
    }
}
