// about-education



.about-education{
    margin: 0 0 57px;
    padding: 57px 4% 50px 5.9%;
    font-size: 22px;
    line-height: 32/22;
    background: #04283c url(../images/tech/about-education-bg.jpg) no-repeat 0 0 / cover;

    &_wrap{
        &:extend(.cf-mix all);
    }

    &_cont{
        float: left;
        width: 410px;
    }

    &_descr{
        margin: 110px 0 0 43%;
    }


    @media (max-width: 1400px) {
        padding-left: 2.5%;
        padding-right: 2%;
        &_cont{
            width: 310px;
        }
    }

    @media (max-width: 1023px) {
        &_cont{
            float: none;
            width: auto;
        }
        &_descr{
            margin: 40px 0 0;
        }
    }

    @media (max-width: 767px) {
        font-size: 14px;
    }
}
