// about-finish



.about-finish-block{
    &:extend(.cf-mix all);
    &_i{
        float: left;
        width: 50%;
        padding-right: 2.5%;
        & + &{
            padding-right: 0;
            padding-left: 2.5%;
        }
    }


    @media (max-width: 1023px) {
        &_i{
            width: 100%;
            padding: 0;
            & + &{
                padding: 0;
                margin-top: 40px;
            }
        }
    }
}



.about-finish{
    background: #021722;

    .about-round-cmn{
        &_name{
            max-width: 300px;
        }
    }

    &_info{
        background: no-repeat 50% / cover;
        padding: 59px 11.8% 73px;
    }
    &_descr{
        padding: 72px 11.8% 70px;
        font-size: 18px;
        line-height: 28/18;
    }


    @media (max-width: 1400px) {
        &_info,
        &_descr{
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    @media (max-width: 767px) {
        &_descr{
            font-size: 14px;
        }
    }
}
