// about-lead



.about-lead{
    margin: 70px 0 7% 5.9%;
    &_head{
        margin: 0 0 55px;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_head-create{
        color: #c7dd33;
    }
    &_head-hardware{
        color: #01c8fe;
    }

    &_text{
        font-size: 18px;
        line-height: 24/18;
    }
    &_text-hl{
        font-size: 24/18em;
        font-weight: 700;
    }


    @media (max-width: 1400px) {
        margin-left: 2.5%;
    }

    @media (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 50px;
        &_head{
            font-size: 22px;
        }
        &_text{
            font-size: 14px;
        }
    }
}
