// about-qualifying



.about-qualifying{
    padding: 87px 4% 80px 5.9%;
    font-size: 18px;
    line-height: 24/18;
    background: #04283c url(../images/tech/about-qualifying-bg.jpg) no-repeat 0 0 / cover;
    &_wrap{
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    &_cont{
        display: table-cell;
        vertical-align: middle;
        width: 335px;
        padding-right: 55px;
    }


    .about-round-cmn{
        margin: 0 0 110px;
        &_name{
            margin: 0 0 38px;
            font-size: 32px;
        }
        &_start,
        &_end{
            font-size: 22px;
        }
    }


    &_img{
        display: table-cell;
        vertical-align: middle;
    }
    &_img-block{
        &:extend(.cf-mix all);
    }
    &_img-cont{
        margin-top: percentage(60/962) * -1;
    }

    &_img-top{
        width: percentage(720/962);
        margin: percentage(60/962) 0 0;
    }
    &_img-mdl-1{
        float: left;
        width: percentage(465/962);
        margin: percentage(60/962) 0 0;
    }
    &_img-mdl-2{
        float: left;
        width: percentage(435/962);
        margin: percentage(60/962) 0 0 percentage(60/962);
    }
    &_img-btm{
        float: left;
        width: 100%;
        margin: percentage(60/962) 0 0;
    }


    @media (max-width: 1500px) {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    @media (max-width: 1400px) {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        .about-round-cmn{
            margin-bottom: 60px;
        }
        &_cont{
            width: 270px;
            padding-right: 30px;
        }
    }

    @media (max-width: 767px) {
        &_wrap{
            display: block;
        }
        &_cont{
            display: block;
            width: auto;
            padding: 0;
        }
        &_img{
            display: block;
            margin: 40px 0 0;
        }
        &_img-top{
            width: 100%;
        }
    }
}
