// buttons


@btn-color: #ffcf0d;

.tech-btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 9px 25px 7px;
    background: transparent;
    border: 1px solid transparent;
    font: 700 14px/18px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: none;
        //box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        background-image: none;
        box-shadow: none;
        opacity: .5;
    }
}




.tech-btn-primary{
    border: 1px solid @btn-color;
    background: @btn-color;
    color: #1b2336;
    box-shadow: 0 10px 20px fade(@btn-color, 30);
    transition: .3s;
    &:hover{
        border-color: darken(@btn-color, 7%);
        background: darken(@btn-color, 7%);
        color: #1b2336;
        box-shadow: 0 10px 25px fade(@btn-color, 40);
    }
    &.active, &:active{
        background: darken(@btn-color, 7%);
        border-color: darken(@btn-color, 7%);
    }
    &[disabled], &.disabled{
        background: @btn-color;
        border-color: @btn-color;
    }
}
