// china-videos



.china-videos{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 0 75px;
    background: #042a3f url(../images/tech/china-videos.jpg) no-repeat center / cover;
    &_text{
        display: table-cell;
        vertical-align: middle;
        width: percentage(432/1510);
        padding: 30px;
        font-size: 18px;
        line-height: 24/18;
        a{
            color: #01c8fe;
            text-decoration: underline;
        }
    }
    &_text-in{
        max-width: 275px;
        margin: auto;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
    }

    &_head{
        margin: 0 0 53px;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_head-hl-1{
        display: block;
        color: #01c8fe;
    }
    &_head-hl-2{
        display: block;
        color: #c7dd33;
    }

    .tech-projects{
        margin: auto;
        text-align: center;
        &_i{
            @media (min-width: 820px) {
                width: 240px;
            }
        }

    }


    &_list{
        margin: -40px -20px 0 -20px;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 40px 0 0 0;
        padding: 0 20px;
        font-size: 13px;
        line-height: 16/13;
        cursor: pointer;


        @media (min-width: 1280px) {
            width: 33.333333%;
            &:first-child{
                width: 100%;

                .video-play {
                    @icon-size: 135px;
                    @play-w: 46px;
                    @play-h: 56px;

                    &_ico{
                        margin: -(@icon-size / 2) 0 0 -(@icon-size / 2);
                        width: @icon-size;
                        height: @icon-size;
                        border: 12px solid #fff;
                        &:before {
                            margin: -(@play-h / 2) 0 0 -(@play-w * .375);
                            border-left: @play-w solid #fff;
                            border-top: (@play-h / 2) solid transparent;
                            border-bottom: (@play-h / 2) solid transparent;
                        }
                    }
                }
            }
        }

        @media (max-width: 567px) {
            width: 100%;
        }
    }
    &_cover{
        display: block;
        position: relative;
        background: no-repeat 50% 50% / cover;
        &:before{
            content: '';
            display: block;
            padding: 0 0 percentage(9/16);
        }
    }

    .video-play {
        @icon-size: 50px;
        @play-w: 18px;
        @play-h: 20px;

        &_ico{
            margin: -(@icon-size / 2) 0 0 -(@icon-size / 2);
            width: @icon-size;
            height: @icon-size;
            border: 4px solid #fff;
            background: transparent;
            opacity: 1;
            &:before {
                margin: -(@play-h / 2) 0 0 -(@play-w * .375);
                border-left: @play-w solid #fff;
                border-top: (@play-h / 2) solid transparent;
                border-bottom: (@play-h / 2) solid transparent;
            }
        }
    }


    &_more{
        margin: 40px 0 0;
        .tech-btn{
            width: 100%;
            padding: 13px 0;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: .1em;
        }
    }

    @media (max-width: 1799px) {
        &_text{
            width: 35%;
        }
    }

    @media (max-width: 1099px) {
        &_text{
            width: 30%;
        }
        &_head{
            font-size: 26px;
        }
    }

    @media (max-width: 1023px) {
        display: block;
        &_text{
            display: block;
            width: 100%;
        }
        &_text-in{
            max-width: none;
        }
        &_cont{
            display: block;
        }
        &_head-hl-1{
            display: inline;
        }
        &_head-hl-2{
            display: inline;
        }
    }
}
