// content layout



.wrapper{
    min-height: 100%;

    display: flex;
    flex-direction: column;
}




.main{
    flex-grow: 1;
    padding: 0 0 30px;
}




.container{
    padding: 0 20px;


    @media (min-width: 1570px) {
        padding: 0 4.5%;
    }
    @media (max-width: 1439px) and (min-width: 1280px) {
        padding: 0 30px;
    }
    @media (max-width: 767px) {
        padding: 0 10px;
    }
}
