// experts



.experts{
    margin: 0 -20px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 0 0 75px;
        padding: 0 20px;
        font-size: 13px;
        line-height: 19/13;
    }
    &_i-cont{
        display: table;
        width: 100%;
        table-layout: fixed;
    }


    &_ava{
        display: table-cell;
        vertical-align: top;
        width: 186px;
    }
    &_ava-in{
        margin: -2px 0;
        padding: 2px;
        background: linear-gradient(180deg, #d9e021 0, #00b7ff 100%);
        img{
            width: 100%;
        }
    }


    &_cont{
        display: table-cell;
        vertical-align: middle;
        padding: 5px 36px;
        background: #1b2336;
    }
    &_name{
        margin: 0 0 17px;
        font-size: 24px;
        line-height: 1.1;
        font-weight: 700;
        color: #01c8fe;
    }
    &_name-f{
        color: #c7dd33;
    }


    @media (max-width: 1239px) {
        &_i{
            margin-bottom: 40px;
        }
        &_ava{
            width: 120px;
        }
        &_cont{
            padding: 5px 20px;
        }
    }

    @media (max-width: 980px) {
        &_i{
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        &_ava{
            width: 80px;
        }
        &_cont{
            background: none;
            padding-top: 14px;
        }
    }
}
