//
// Planeta Feed
// --------------------------------------------

.feed{
    .list-loader{
        margin-top: 20px;
    }


    &_filter{
        &_list{
            &:extend(.cf-mix all);
            margin: -5px 0 10px;
        }
        &_i{
            float: left;
            font-size: 14px;
            line-height: 16px;
            &__right{
                float: right;
            }
            &.active{
                .feed_filter_link{
                    text-decoration: none;
                    color: #808080;
                    cursor: default;
                }
            }
        }
        &_link{
            &:extend(.link-mix all);
            text-decoration: underline;
        }
    }


    &_i{
        &:extend(.cf-mix all);
        padding: 25px 0;
        border-top: 1px solid #e6e6e6;
        &:first-child{
            padding-top: 0;
            border-top: 0;
        }
    }
    &_ava{
        display: none;
    }
    &_from{
        margin: 0 0 5px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        &:after{
            content: '→';
            margin: 0 0 0 .3em;
            font-weight: 400;
            color: #b3b3b3;
        }
    }
    &_post{
        font-size: 15px;
        line-height: 1.6;
        color: #0c0c0c;
        cursor: pointer;
    }
    &_name{
        margin: -3px 0 7px;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 700;
        a{
            color: #0c0c0c;
            text-decoration: none;
        }
    }
    &_meta{
        font-size: 12px;
        line-height: 14px;
        color: #7f7f7f;
        a{
            color: #7f7f7f;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
        &_i{
            position: relative;
            padding: 0 0 0 14px;
            &:before{
                content: '•';
                position: absolute;
                top: 1px;
                left: 4px;
                color: #b3b3b3;
            }
            &:first-child{
                padding-left: 0;
                &:before{
                    display: none;
                }
            }
        }
    }

    &_action{
        margin: -16px -30px 15px;
        padding: 10px 30px;
        background: #f7f7f7;
        border-top: 1px solid #e0dfdd;
        border-bottom: 1px solid #e0dfdd;
    }

    &_text{
        margin: 13px 0 20px;
        position: relative;
        word-wrap: break-word;
        .bb-video-link{
            display: block;
        }
        .bb-video-preview{
            width: 100%;
        }
    }
    &_more{
        margin: 5px 0 0;
        &_link{
            padding: 3px 8px;
            font-size: 12px;
            line-height: 14px;
            white-space: nowrap;
            color: #fff;
            background: @linkColor;
            &:hover{
                background: @linkColorHover;
            }
        }
    }

    &_comment{
        margin: 20px 0 0;
    }

    &_project{
        margin: -10px 0;
        &_progress{
            float: left;
            width: 40px;
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
            letter-spacing: -.06em;
            color: #000;
        }
        &_cont{
            margin: 0 0 0 60px;
            font-size: 18px;
            line-height: 24px;
            a{
                font-weight: 700;
            }
        }
        &_date{
            font-weight: 300;
            color: #808080;
        }

        // __50
        &__50{
            .feed_project_progress{
                color: #f5b223;
            }
        }

        // __100
        &__100{
            .feed_project_progress{
                font-size: 21px;
                color: #95d945;
            }
        }

        // __fail
        &__fail{
            .feed_project_progress{
                color: #ff6445;
            }
        }
    }
}

// __post
.feed_cont__post{
    margin-left: 0;
    .feed{
        &_post{
            font-size: 18px;
            cursor: default;
            font: 18px/1.6 @ff-proxima-nova;
            p{
                margin: 0;
            }
            ul, ol{
                margin: 0 0 0 35px;
            }
        }
        &_name{
            font-size: 28px;
            line-height: 34px;
        }
        &_meta{
            font-size: 15px;
        }
    }
}

// modal feed post
.modal-feed-post{
    width: 720px;
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.modal-feed-post-edit{
    width: 720px;
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .post-write{
        margin-bottom: 0;
    }
}

.feed-post_author{
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #000;
    &:hover{
        color: #000;
    }
    &_wrap{
        margin: 0 -30px 15px;
        padding: 0 30px 30px;
        border-bottom: 1px solid #e0dfdd;
    }
    &_ava{
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        img{
            display: block;
        }
    }
    &_name{
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000;
    }
}

.feed-post_project{
    margin: -15px -30px 20px;
    padding: 20px 30px;
    background: #f7f7f7;
    border-bottom: 1px solid #e0dfdd;
    .n-own-project{
        &_i{
            border: 0 !important;
            margin: 0;
            padding: 0;
        }
    }
}

// /modal feed post

//sharing popover for post list

.feed_i{
    .sharing-popup-social{
        margin-top: 20px;
    }
    .feed_sharing{
        display: none;
        position: absolute;
        bottom: 30px;
        right: 0;
        opacity: 0;
        transition: all 2s;

        .sharing-popup-social{
            background: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 0 fade(#000, 5);
        }
    }

    .feed_sharing.visible{
        display: block;
        opacity: 1;
    }
    .sps-button{
        padding: 0;
    }
}

.share_link{
    float: right;
    font-size: 12px;
    position: relative;
    color: #3498db;
    border-bottom: 1px dotted #8BD0FF;
    &:before{
        content: "";
        position: absolute;
        left: -24px;
        top: 0;
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/s-mx.png) no-repeat -24px 0;
    }
    &:hover{
        color: #1d6fa5;
    }
}



@media (max-width: 767px) {
    .project-news{
        .feed{
            &_name{
                margin: 0 0 10px;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.3;
            }
            &_text,
            &_comment{
                display: none;
            }
        }
        .sharing-popup-social{
            display: none;
        }
    }
}
