// footer



.footer{
    &:extend(.cf-mix all);
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    line-height: 1.3;
    color: #7b94a2;
}




.f-common{
    float: left;
    text-align: left;


    @media (max-width: 1200px) {
        float: none;
        clear: both;
        padding: 30px 0 0;
        text-align: center;
    }
}


.f-copy{
    b{
        letter-spacing: .2em;
    }
}




.f-develop{
    margin: 4px 0 0;
    &_head{
        display: inline-block;
        vertical-align: top;
        margin: 2px 3px 0 0;
    }
    &_cont{
        display: inline-block;
        vertical-align: top;
        .pln-logo{
            font-size: 20px;
            background-image: url(../images/pln-logo-white.svg);
        }
    }
}




.f-sharing{
    float: right;
    margin: 7px 0 0;
    &_head{
        display: inline-block;
        vertical-align: top;
        margin: 4px 12px 0 0;
    }
    &_cont{
        display: inline-block;
        vertical-align: top;
    }


    @media (max-width: 667px) {
        float: none;
    }
}




.f-subscribe{
    display: inline-block;
    vertical-align: top;
    margin: 2px 0 0;
    &_head{
        display: inline-block;
        vertical-align: top;
        max-width: 140px;
        margin: 2px 12px 0 0;
        text-align: right;
    }
    &_cont{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        font-size: 0;
        &.error{
            .msg-error{
                display: block;
            }
            .f-subscribe_input{
                border-color: #ff501a;
            }
        }
        &.success{
            .msg-success{
                display: block;
                color: #23db8f;
            }
            .f-subscribe_input{
                border-color: #23db8f;
            }
        }
    }
    &_msg{
        display: none;
        position: absolute;
        bottom: 100%;
        left: 10px;
        margin: 5px 0;
        font-size: 12px;
        color: #ff501a;
        &.msg-success{
            color: #23db8f;
        }
    }
    &_input{
        display: inline-block;
        vertical-align: top;
        width: 184px;
        height: 35px;
        padding: 8px;
        background: #fff;
        border: 2px solid #fff;
        font-size: 12px;
        color: #1b2336;
        &[disabled], &.disabled{
            opacity: .5;
        }
    }
    &_btn{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 35px;
        height: 35px;
        background: #bce520;
        border: 1px solid #bce520;
        &:hover{
            background: darken(#bce520, 7%);
            border-color: darken(#bce520, 7%);
        }
        &:before{
            content: '';
            position: absolute;
            top: 13px;
            left: 9px;
            width: 15px;
            height: 9px;
            border-bottom: 2px solid #1b2336;
            border-left: 2px solid #1b2336;
            transform: rotate(-45deg) translate(3px, -2px);
        }
        &[disabled], &.disabled{
            opacity: .5;
            background: #bce520;
            border: 1px solid #bce520;
        }
    }


    @media (max-width: 1200px) {
        float: left;
    }


    @media (max-width: 820px) {
        &_input{
            width: 154px;
        }
    }

    @media (max-width: 667px) {
        float: none;
        margin: 30px 0 0;
        &_head{
            display: block;
            max-width: none;
            margin: 0 0 5px;
        }
        &_input{
            width: 214px;
        }
    }
}
