// header



.header{
    overflow: hidden;
    padding: 13px 18px;
    border-bottom: 1px solid #1b394b;
    .logo{
        font-size: 54px;
    }


    @media (max-width: 1024px) and (min-width: 768px) {
        padding: 13px;
        overflow: hidden;
        .logo{
            width: 55px;
        }
    }

    @media (max-width: 767px) {
        padding: 8px 10px 6px;
        border: 0;
        .logo{
            font-size: 40px;
            &:after{
                top: -28px;
                left: -28px;
                width: 90px;
                height: 90px;
            }
        }
    }
}
