// hero



.hero{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: -40px 0 106px;

    &_title{
        display: table-cell;
        vertical-align: middle;
        padding: 65px 20px 0 0;
        font-size: 18px;
        line-height: 26/18;
        letter-spacing: .05em;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_title-hl{
        color: #c7dd33;
    }
    &_title-hl-2{
        color: #01c8fe;
    }

    &_gifts{
        display: table-cell;
        vertical-align: middle;
        width: 826px;
        text-align: center;
    }


    @media (max-width: 1650px) and (min-width: 1360px) {
        &_title{
            font-size: 14px;
        }
        &_gifts{
            width: 650px;
        }
    }

    @media (max-width: 1359px) {
        display: block;
        &_title{
            display: block;
            padding: 40px 0 30px;
            text-align: center;
        }
        &_gifts{
            display: block;
            width: auto;
            margin: 0 -10px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 55px;
        &_title{
            font-size: 14px;
        }
    }
}


.gifts{
    &_i{
        & + &{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
    &_i-m{
        display: none;
    }

    .owl-item{
        z-index: 1;
        animation-duration: 600ms;
    }
    .owl-dots{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 19px 0 0;
        text-align: center;
    }
    .owl-dot{
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border: 1px solid #fff;
        transform: rotate(45deg);
        &.active{
            background: #fff;
        }
    }


    @media (max-width: 567px) {
        &_i-d{
            display: none;
        }
        &_i-m{
            display: block;
        }
    }
}
