// logos



.logo{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 217em / 54;
    line-height: 1em;
    background: url(../images/tech/logo.svg) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -36px;
        left: -36px;
        width: 120px;
        height: 120px;
        background: radial-gradient(50% 50%, circle contain, #034973 0, #012E47 64%, #012337 100%);
    }
}




.pln-logo{
    display: inline-block;
    vertical-align: top;
    width: 740em / 191;
    line-height: 1em;
    background: url(../images/pln-logo-fill-w.svg) no-repeat;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}


.header-rvc-logo{
    display: inline-block;
    vertical-align: top;
    width: 66em / 46;
    line-height: 1em;
    background: url(../images/tech/rvc.svg) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}


.header-eva-logo{
    display: inline-block;
    vertical-align: top;
    width: 44em / 27;
    line-height: 1em;
    background: url(../images/tech/eva.svg) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}
