// Main tech battle



html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    font: 16px/1.23 @ff-proxima-nova;
    color: #fff;
    background: #000;
    overflow-x: hidden;
}

a{
    color: @linkColor;
    text-decoration: underline;
}
a:hover{
    //color: desaturate(#ffd105, 15%);
}




.page-head{
    font-size: 48px;
    line-height: 58/48;
    font-weight: 700;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
}





.tech-request-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 23px 119px 21px;
    font: 900 32px/36px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #132129;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(-135deg, #fb872b 0, #d9e021 100%);
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }


    @media (max-width: 1023px) {
        padding: 20px 50px 18px;
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
    }

    @media (max-width: 767px) {
        display: block;
        width: 100%;
        padding: 17px 10px 15px;
        font-size: 20px;
    }
}



.tech-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10px 20px 8px;
    font: 19px/22px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    color: #1b2336;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }
}


.tech-btn-primary{
    background: #ffcf0d;
    border-color: #ffcf0d;
    color: #1b2336;
    &:hover{
        background: lighten(#ffeb29, 7%);
        border-color: lighten(#ffeb29, 7%);
        color: #1b2336;
    }
    &.active, &:active{
        background: #ffcf0d;
        border-color: #ffcf0d;
    }
    &.disabled, &[disabled]{
        background: #ffcf0d;
        border-color: #ffcf0d;
    }
}

