// modal-vote



.modal-common{
    width: 714px;
    color: #fff;
    border: 0;
    background: #043c4f;
    background-image:
        url(../images/tech/vote-bg.png),
        linear-gradient(90deg, #042b41 0, #044f5f 100%);
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: 50% 100%, 0 0;
    box-shadow: 0 30px 50px fade(#000, 30);
    &_close{
        position: absolute;
        top: 0;
        left: 100%;
        margin: 0 20px;
        cursor: pointer;
        opacity: .7;
        &:hover{
            opacity: 1;
        }
    }

    @media (max-width: 820px) {
        &_close{
            left: auto;
            right: 0;
            top: 20px;
        }
    }
}




.vote-form{
    max-width: 485px;
    margin: auto;
    padding: 47px 0 81px;
    text-align: center;
    &_head{
        max-width: 390px;
        margin: 0 auto 63px;
        font-size: 18px;
        line-height: 22/18;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_action{
        &:extend(.cf-mix all);
        margin: 69px 0 0;
    }
    &_btn{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 19px 0 66px;
        font-size: 14px;
        line-height: 45px;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: #fff;
        background: #4a7397;
        cursor: pointer;
        box-shadow: 0 15px 30px fade(#4a7397, 50);
        transition: .3s;
        &:hover{
            color: #fff;
            text-decoration: none;
            background: darken(#4a7397, 3%);
            box-shadow: 0 15px 40px fade(#4a7397, 65);
        }
    }
    &_btn-ico{
        position: absolute;
        top: 2px;
        left: 5px;
        &:before{
            content: '';
            position: absolute;
            top: 4px;
            left: 43px;
            height: 33px;
            border-left: 1px solid fade(#fff, 20);
        }
    }
    &_btn-vk{
        float: left;
    }
    &_btn-fb{
        float: right;
        background: #365a96;
        box-shadow: 0 15px 30px fade(#365a96, 50);
        &:hover{
            background: darken(#365a96, 3%);
            box-shadow: 0 15px 40px fade(#365a96, 65);
        }
    }


    @media (max-width: 480px) {
        &_btn{
            display: block;
            margin: 0 0 20px;
        }
        &_btn-vk,
        &_btn-fb{
            float: none;
        }
    }
}




.vote-bonus{
    &_head{
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 21/14;
    }
    &_input{
        position: relative;
        max-width: 370px;
        margin: 0 auto 7px;
        &.error{
            .msg-error{
                display: block;
            }
            .vote-bonus_email{
                border-color: #ff501a;
            }
        }
        &.success{
            .msg-success{
                display: block;
                color: #23db8f;
            }
            .vote-bonus_email{
                border-color: #23db8f;
            }
        }
    }
    &_email{
        text-align: center;
        border-width: 2px;
        border-color: #fff;
        &:focus{
            border-color: #fff;
        }
    }
    &_msg{
        display: none;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        margin: 2px 0;
        font-size: 12px;
        color: #ff501a;
        text-align: center;
        &.msg-success{
            color: #23db8f;
        }
    }
    &_add{
        max-width: 200px;
        margin: auto;
        font-size: 12px;
        line-height: 1;
        color: #7b94a2;
    }
}




.vote-success{
    max-width: 350px;
    margin: auto;
    padding: 66px 0 63px;
    font-size: 18px;
    line-height: 24/18;
    text-align: center;
    &_head{
        margin: 0 0 58px;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
    }
}
