// nav-toggle



.nav-toggle{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    &_ico{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 6px;
        height: 6px;
        margin: auto;
        background: #fff;
        border-radius: 50%;
        transition: background .3s;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            width: 6px;
            height: 100%;
            margin: -3px 0 0 -15px;
            background: #fff;
            border-radius: 10px;
            transform: rotate(0);
            transition: width .2s .1s,
                        transform .2s 0s,
                        height .2s 0s,
                        margin .2s 0s;
        }
        &:after{
            left: auto;
            right: 100%;
            margin: -3px -15px 0 0;
        }
    }

    @media (max-width: 767px) {
        display: block;
    }
}


.nav-open{
    .nav-toggle{
        &_ico{
            background: transparent;
            &:before,
            &:after{
                width: 24px;
                height: 2px;
                margin-top: -1px;
                transform: rotate(45deg);
                transition: width .2s 0s,
                            transform .2s .10s,
                            height .2s .10s,
                            margin .2s .10s;
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
    }
}
