// nav



.nav{
    font-size: 16px;
    &_i{
        position: relative;
        margin: -1px 0 0;
        &:before{
            display: none;
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            bottom: 0;
            border-left: 3px solid #c7dd33;
        }

        &.active,
        &.open{
            z-index: 1;
            background: #011521;
            &:before{
                display: block;
            }
            .nav_link{
                color: #fff;
                text-decoration: none;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                path{
                    fill: #c7dd33;
                }
            }
        }
    }
    &_link{
        position: relative;
        display: block;
        padding: 18px 32px;
        color: #7b94a2;
        text-decoration: none;
        border-top: 1px solid #1b394b;
        border-bottom: 1px solid #1b394b;
        transition: color .3s;
        &:hover{
            color: #fff;
            text-decoration: none;
            path{
                fill: #c7dd33;
            }
        }
        path{
            transition: fill .3s;
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 0;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
    }


    @media (max-width: 1024px) and (min-width: 768px) {
        &_link{
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
        &_ico{
            margin: 0;
        }
        &_name{
            display: none;
        }
    }

    @media (max-width: 767px) {
        &_i{
            opacity: 0;
            transform: scale(1.1) translateY(-24px);
            transition: opacity 0.35s ease-out, transform 0.35s ease-out;
            &:nth-child(1) {
                transition-delay: 300ms, 300ms;
            }
            &:nth-child(2) {
                transition-delay: 250ms, 250ms;
            }
            &:nth-child(3) {
                transition-delay: 200ms, 200ms;
            }
            &:nth-child(4) {
                transition-delay: 150ms, 150ms;
            }
            &:nth-child(5) {
                transition-delay: 100ms, 100ms;
            }
            &:nth-child(6) {
                transition-delay: 50ms, 50ms;
            }
        }
        &_link{
            padding-left: 18px;
            padding-right: 18px;
            border-top: 0;
        }
        &_ico{
            margin: 0 14px 0 0;
            svg{
                width: 26px;
                height: 26px;
            }
        }
        &_name{
            font-size: 18px;
            line-height: 28px;
        }
    }
}



.nav-open{
    html&, body{
        overflow: hidden !important;
        height: 100% !important;
    }
    html&{
        overflow-y: scroll !important;
    }


    .nav{
        &_i{
            opacity: 1;
            transform: none;
            &:nth-child(1) {
                transition-delay: 300ms, 300ms;
            }
            &:nth-child(2) {
                transition-delay: 350ms, 350ms;
            }
            &:nth-child(3) {
                transition-delay: 400ms, 400ms;
            }
            &:nth-child(4) {
                transition-delay: 450ms, 450ms;
            }
            &:nth-child(5) {
                transition-delay: 500ms, 500ms;
            }
            &:nth-child(6) {
                transition-delay: 550ms, 550ms;
            }
        }
    }
}



.sub-nav{
    display: none;
    position: relative;
    z-index: 2;
    margin: -2px 0 0 63px;
    padding: 0 0 17px;
    font-size: 14px;
    line-height: 20px;
    .active &,
    .open &{
        display: block;
    }
    svg{
        width: 14px;
        height: 14px;
    }
    &_i{
        margin: 9px 0 0;
        &:first-child{
            margin: 0;
        }
        &.active{
            .sub-nav_link{
                color: #fff;
                path{
                    fill: #fff;
                }
            }
        }
    }
    &_link{
        &, &:hover{
            text-decoration: none;
            color: #7b94a2;
        }
        path{
            fill: #7b94a2;
        }
        &:hover{
            .sub-nav_name{
                text-decoration: underline;
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        margin: 2px 7px 0 0;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
    }


    @media (max-width: 1024px) and (min-width: 768px) {
        margin: 10px 20px 0;
        text-align: center;
        svg{
            width: 18px;
            height: 18px;
        }
        &_i{
            margin: 20px 0 0;
            &:first-child{
                margin: 0;
            }
        }
        &_ico{
            margin: 0;
        }
        &_name{
            display: none;
        }
    }
}
