// news-list-titles



.news-list-titles{
    position: absolute;
    z-index: 10;
    left: 10px;
    right: 10px;
    bottom: 0;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    &_i{
        display: inline-block;
        vertical-align: bottom;
        display: flex;
        width: 33.333333%;
        padding: 0 25px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 700;
        &.active{
            .news-list-titles_link{
                &:before{
                    display: block;
                }
            }
        }
    }
    &_link{
        position: relative;
        width: 100%;
        padding: 9px 0 19px;
        border-top: 1px solid fade(#fff, 34);
        cursor: pointer;
        &:before{
            display: none;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 6px solid #01c8fe;
        }
    }


    @media (max-width: 1023px) {
        display: none;
    }
}
