// news



.news{
    margin: -40px -20px 0 -20px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        margin: 40px 0 0 0;
        padding: 0 20px;
        font-size: 13px;
        line-height: 16/13;
        cursor: pointer;
    }
    &_cover{
        position: relative;
        background: no-repeat 50% 50% / cover;
        &:before{
            content: '';
            display: block;
            padding: 0 0 percentage(9/16);
        }
    }
    &_cont{
        padding: 20px 18px;
        background: #091014;
    }
    &_name{
        margin: 0 0 10px;
        color: #c7dd33;
        text-decoration: underline;
    }
    &_date{
        font-size: 11px;
        color: #7b94a2;
    }


    &__l{
        margin: 0 0 40px;
        .news{
            &_i{
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        .video-play{
            @icon-size: 50px;
            @play-w: 16px;
            @play-h: 22px;

            &_ico{
                margin: -(@icon-size / 2) 0 0 -(@icon-size / 2);
                width: @icon-size;
                height: @icon-size;
                &:before{
                    margin: -(@play-h / 2) 0 0 -(@play-w * .375);
                    border-left: @play-w solid #fff;
                    border-top: (@play-h / 2) solid transparent;
                    border-bottom: (@play-h / 2) solid transparent;
                }
            }
        }
    }



    @media (max-width: 1365px) {
        &_i{
            width: 50%;
        }
    }

    @media (max-width: 767px) {
        margin-left: -10px;
        margin-right: -10px;
        &__l{
            margin: 0 0 30px;
        }
        &_i{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 424px) {
        &_i{
            width: 100%;
        }
    }
}


#vk_groups{
    width: 100% !important;
}
