// news-list



.news-list{
    display: flex;
    flex-wrap: wrap;
    margin: -20px -10px 0;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        display: flex;

        width: 33.333333%;
        margin: 20px 0 0;
        padding: 0 10px;

        font-size: 15px;
        line-height: 21/15;
    }
    &_link{
        display: block;
        width: 100%;
        color: #333;
        background: #fff;
        cursor: pointer;
        &:hover{
            color: #333;
            text-decoration: none;
        }
    }
    &_cover{
        display: block;
        img{
            width: 100%;
        }
    }
    &_cont{
        display: block;
        padding: 27px 34px;
    }
    &_name{
        display: block;
        font-size: 20px;
        line-height: 24/20;
        font-weight: 700;
        color: #000;
    }
    &_date{
        display: block;
        margin: 16px 0 13px;
        font-size: 13px;
        line-height: 1.2;
        color: #7b94a2;
    }
    &_text{
        display: block;
    }


    @media (max-width: 1180px) {
        &_cont{
            padding: 17px 24px;
        }
    }
    @media (max-width: 1023px) {
        &_i{
            width: 50%;
        }
    }
    @media (max-width: 767px) {
        &_i{
            width: 100%;
        }
    }
}

