// news-page



.news-page{
    &:extend(.cf-mix all);
}


.news-head{
    margin: 0 0 33px;
    font-size: 18px;
    line-height: 26/18;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;


    @media (max-width: 1023px) {
        display: none;
    }
}


/*
.news-tabs{
    display: none;
    margin: 0 0 40px;
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid #232323;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 55px;
        padding: 0 0 3px;
        font-size: 16px;
        color: #888;
        cursor: pointer;
        &:before{
            display: none;
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            border-top: 3px solid #c7dd33;
        }
        &:hover{
            color: #fff;
        }
        &:first-child{
            margin-left: 0;
        }
        &.active{
            color: #fff;
            &:before{
                display: block;
            }
        }
    }
    @media (max-width: 1023px) {
        display: block;
    }
}
*/


.videos{
    width: 703px;
    margin: auto;
}


.vk-news{
    float: right;
    width: ~"calc(100% - 730px)";
    max-width: 536px;
    margin: auto;
    &_cont{
        margin: -40px 0 0;
    }
    &_wrap{
        padding: 40px 0 0;
    }
}


@media (max-width: 1365px) {
    .videos{
        width: 500px;
    }
    .vk-news{
        width: ~"calc(100% - 520px)";
    }
}

@media (max-width: 1023px) {
    .videos,
    .vk-news{
        float: none;
        display: none;
        width: auto;
        &.active{
            display: block;
        }
    }
}



.modal-video{
    background: #000;


    @media (max-width: 767px) {
        padding: 60px 20px;
    }
}



.news-post-text{
    margin: -10px 0 40px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    &_bt{
        color: #01c8fe;
    }
    &_hl{
        color: #c7dd33;
    }


    @media (max-width: 767px) {
        font-size: 15px;
        nobr{
            display: inline-block;
            vertical-align: top;
        }
    }

    @media (max-width: 374px) {
        font-size: 13px;
    }
}
