// news-more



.news-more{
    margin: 40px 0 0;
    padding: 15px;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    background: #1b2336;
    cursor: pointer;
    &:hover{
        background: lighten(#1b2336, 7%);
    }

    &_ico{
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    &_text{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
        font-size: 15px;
        line-height: 27px;
        font-weight: 700;
    }

    .video-play-m {
        @icon-size: 27px;
        @play-w: 7px;
        @play-h: 12px;

        //position: absolute;
        display: inline-block;
        vertical-align: top;
        width: @icon-size;
        height: @icon-size;
        cursor: pointer;

        &_ico{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -(@icon-size / 2) 0 0 -(@icon-size / 2);
            width: @icon-size;
            height: @icon-size;
            border-radius: 50%;
            border: 2px solid #fff;
            //background: #000;
            //opacity: .6;
            transform: scale(1);
            transition: .2s;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -(@play-h / 2) 0 0 -(@play-w * .375);
                border-left: @play-w solid #fff;
                border-top: (@play-h / 2) solid transparent;
                border-bottom: (@play-h / 2) solid transparent;
            }
        }
    }
}
