// news-list-carousel



.news-list-carousel{
    position: relative;
    margin: 0 0 20px;

    .owl-item{
        z-index: 1;
    }
    .owl-nav{
        position: absolute;
        z-index: 1;
        top: 61px;
        right: 68px;
    }
    .owl-prev,
    .owl-next{
        float: left;
        display: block;
        width: 32px;
        height: 32px;
        background: url(../images/tech/news-list-arr.svg) no-repeat;
        text-indent: -99999px;
        &.disabled{
            opacity: .5;
            cursor: default;
        }
    }
    .owl-next{
        margin: 0 0 0 10px;
        background-position: -52px 0;
    }

    &_i{
        position: absolute;
        top: -99999px;
        left: -99999px;
        &:first-child{
            position: relative;
            top: auto;
            left: auto;
        }
    }
    &_link{
        display: block;
        height: 420px;
        padding: 65px 36px 80px 36px;
        background: no-repeat 50% 0 / cover;
        &, &:hover{
            color: #fff;
            text-decoration: none;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: fade(#000, 20);
        }
    }
    &_cont{
        display: block;
        position: relative;
    }
    &_name{
        display: block;
        width: 70%;
        margin: 0 0 23px;
        font-size: 40px;
        line-height: 1;
        font-weight: 700;
    }
    &_date{
        display: block;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
    }


    @media (max-width: 1180px) {
        &_link{
            padding-top: 40px;
        }
        &_name{
            font-size: 36px;
        }
    }

    @media (max-width: 1023px) {
        .owl-nav{
            top: 25px;
            right: 25px;
        }
        &_link{
            height: 320px;
            padding: 25px;
        }
        &_cont{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 25px 25px;
        }
        &_name{
            width: auto;
            font-size: 32px;
        }
    }

    @media (max-width: 767px) {
        &_name{
            font-size: 24px;
        }
    }
}



.news-list-rich{
    position: relative;
}
