// partners-list



.partners-block{
    margin: 0 0 110px;
}




.partners-head{
    margin: 0 0 48px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}




.partners-gen{
    margin: -25px 0 0;
    &_img{
        float: left;
        margin: 0 84px 0 0;
    }
    &_text{
        overflow: hidden;
        max-width: 470px;
        padding: 16px 0 0;
        font-size: 13px;
        line-height: 21/13;
    }

    @media (max-width: 600px){
        &_img{
            float: none;
            margin: 0 0 30px;
        }
    }
}




.partners-list{
    margin: -20px -17px 0;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        padding: 20px 17px;
    }
    &_link{
        position: relative;
        display: block;
        height: 0;
        padding: 0 0 50%;
    }
    &_img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
    }

    &_i-cont{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &_ava{
        display: table-cell;
        vertical-align: middle;
        width: 18.2%;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
        line-height: 21/13;
    }
    &_text{
        max-width: 490px;
    }


    &__gen,
    &__spec{
        margin-top: -68px;
        margin-bottom: -34px;
        .partners-list{
            &_i{
                width: 100%;
            }
            &_text{
                padding-left: 28px;
            }
        }
    }


    &__spec{
        @media (min-width: 1240px){
            .partners-list{
                &_i{
                    width: 50%;
                }
                &_ava{
                    width: 37.237%;
                }
                &_text{
                    max-width: 290px;
                }
            }
        }
    }

    &__gen,
    &__spec{
        @media (max-width: 1600px){
            margin-top: -20px;
        }

        @media (max-width: 1239px){
            .partners-list{
                &_i{
                    width: 100%;
                }
            }
        }

        @media (max-width: 767px){
            .partners-list{
                &_i-cont{
                    display: block;
                }
                &_ava{
                    display: block;
                    width: 50%;
                    margin: auto;
                }
                &_cont{
                    display: block;
                }
                &_text{
                    padding: 20px 0 0;
                }
            }
        }
    }


        @media (max-width: 1359px){
        &_i{
            width: 25%;
        }
    }

    @media (max-width: 1023px){
        &_i{
            width: 33.333333%;
        }
    }

    @media (max-width: 767px){
        margin-left: -10px;
        margin-right: -10px;
        &_i{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 424px){
        &_i{
            width: 50%;
        }
    }
}
