// pln-projects



.pln-projects{
    margin: 0 0 50px;
    &_head{
        margin: 0 0 27px;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .11em;
        text-transform: uppercase;
    }

    @media (max-width: 475px) {
        .project-card-list{
            text-align: center;
        }
    }
}
