// project-winner



.project-winner{
    &:extend(.cf-mix all);
    padding: 0 20px;
    margin: 0 0 20px;
    background: #254959;
    text-align: center;
    &_ico{
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 55px;
        margin: 0 16px 0 0;
        background: url(../images/tech/winner-badge.svg) no-repeat 0 0 / cover;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        padding: 28px 0 26px;
        font-size: 22px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__peoples{
        color: #1b2336;
        background: #ffcf0d;
        box-shadow: 0 10px 20px fade(#ffcf0d, 50);
        .project-winner{
            &_ico{
                width: 62px;
                height: 57px;
                margin: 8px 32px 0 0;
                background: url(../images/tech/peoples-winner-badge.svg) no-repeat 0 0 / cover;
            }
        }
    }


    @media (max-width: 767px) {
        &_ico{
            display: block;
            margin: 0 auto;
        }
        &_name{
            display: block;
        }

        &__peoples{
            .project-winner{
                &_ico{
                    margin: 8px auto 0;
                }
            }
        }
    }
}
