// project-tab



.project-tab{
    &:extend(.cf-mix all);
    //overflow: hidden;
    display: flex;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }

    &_i{
        position: relative;
        float: left;
        width: 33.333333%;
        flex: 1;
        background: #fafafa;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid #e2e2e2;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
        &.active{
            z-index: 2;
            background: #fff;
            box-shadow: 0 0 7px fade(#000, 30);
            &, & + .project-tab_i{
                &:before{
                    display: none;
                }
            }
        }
    }
    &_link{
        display: block;
        padding: 11px 10px 12px;
        font-size: 18px;
        font-weight: 600;
        color: #1b2336;
        text-align: center;
        a&:hover{
            color: @plnblue;
            text-decoration: none;
        }
    }
    &_badge{
        display: inline-block;
        vertical-align: top;
        min-width: 28px;
        margin: 5px 0 0 7px;
        padding: 4px 5px 3px;
        font-size: 11px;
        line-height: 1;
        font-weight: 700;
        color: #fff;
        text-align: center;
        background: #7b94a2;
        border-radius: 3px;
    }


    @media (max-width: 767px) {
        display: block;
        font-size: 0;
        &_i{
            float: none;
            display: inline-block;
            vertical-align: top;
            width: auto;
        }
    }
}

