// project-content



.project-content{
    position: relative;
    z-index: 1;
    background: #fff;
    color: #000;
    box-shadow: 0 0 7px fade(#000, 30);
    &_inner{
        max-width: 810px;
        margin: auto;
        padding: 0 20px;
    }


    @media (max-width: 767px) {
        &_inner{
            padding: 0 10px;
        }
    }
}


.project-news{
    padding: 40px 0;
    @media (max-width: 767px) {
        padding: 20px 0 0;
    }
}

.project-comments{
    padding: 20px 0;
}

.project-description{
    padding: 20px 0;
}
