//
// Planeta Projects
// --------------------------------------------

// own project
[class^="s-project-stat-"], [class*=" s-project-stat-"] {
    .sprite(48, 24, url(../images/network/s-project-stat.png));
}

//.s-project-stat-amount { background-position: 0 0 }
.s-project-stat-purchase {
    background-position: -50px 0
}

.s-project-stat-comments {
    background-position: -100px 0
}

.s-project-stat-news {
    background-position: -150px 0
}

.s-project-stat-hover-mix() {
    .s-project-stat-amount {
        background-position: 0 -50px
    }
    .s-project-stat-purchase {
        background-position: -50px -50px
    }
    .s-project-stat-comments {
        background-position: -100px -50px
    }
    .s-project-stat-news {
        background-position: -150px -50px
    }
}

.n-own-project {
    margin: 0 0 40px;
    &_head {
        margin: 0 0 15px;
        font-size: 24px;
        line-height: 28px;
        color: #0c0c0c;
    }

    &_i {
        &:extend(.cf-mix all);
        padding: 19px 0;
        border-bottom: 1px solid #d8dade;
        &:first-child {
            border-top: 1px solid #d8dade;
        }
    }

    &_cover {
        position: relative;
        float: left;
        width: 225px;
    }
    &_img {
        display: block;
        width: 100%;
    }
    &_state {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 5px;
        font: 700 14px/18px @baseFontFamily;
        color: #fff;
        background: #98cd4d;
    }
    &_badge {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 5px 2px;
        min-width: 20px;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #000;
        background: #fcdc5a;
    }

    &_badge.badge-draft {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 5px 2px 5px;
        min-width: 20px;
        font-family: @ff-proxima-nova;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #c0392b;
        background: #fff;
        text-decoration: underline;
    }

    &_badge.badge-draft:hover {
        color: #DD594C;
    }

    &_add {
        float: right;
        width: 115px;
    }

    &_cont {
        margin: 0 0 0 240px;
    }
    &_name {
        margin: -2px 0 4px;
        .text-overflow();
        font: 700 18px/22px @baseFontFamily;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_descr {
        height: 18px * 3;
        overflow: hidden;
        margin: 0 0 13px;
        font-size: 12px;
        line-height: 18px;
        color: #393939;
    }

    &_progress {
        margin: 0 0 12px;
        background: #d7dadf;
        font: 0/0 a;
        &.over-progress {
            background: #a8d0ed;
        }
        &.finish-fail {
            .n-own-project_bar {
                background: #acacac;
            }
        }
    }
    &_bar {
        max-width: 100%;
        height: 2px;
        background: @linkColor;
    }
    &_no-progress {
        height: 1px;
        margin: 0 0 12px;
        border-bottom: 1px dashed #95a5a6;
    }

    &_info {
        &_i {
            display: inline-block;
            width: 140px;
            & + & {
                .n-own-project_info_val {
                    color: #bcbbb4;
                }
            }
        }
        &_lbl {
            margin: 0 0 5px;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
            color: #2d2e2e;
        }
        &_val {
            .text-overflow();
            font: 700 18px/1 @baseFontFamily;
            color: @linkColor;
        }
    }

    // stat
    &_stat {
        position: relative;
        margin: 20px 0 0;
        &_arr {
            position: absolute;
            top: -5px;
            left: 112px;
            width: 10px;
            height: 10px;
            clip: rect(-2px, 14px, 6px, -2px);
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: solid #d5d3c5;
                border-width: 1px 0 0 1px;
                background: #fff;
                transform: rotate(45deg);
            }
        }
        &_list {
            &:extend(.cf-mix all);
            border: 1px solid #d5d3c5;
            box-shadow: 0 3px 5px fade(#000, 8);
        }
        &_i {
            position: relative;
            float: left;
            box-sizing: border-box;
            width: 25%;
            padding: 10px 10px 6px;
            color: @textColor;
            &:hover {
                color: @textColor;
                text-decoration: none;
                background: #e5f3d1;
                .s-project-stat-hover-mix();
            }
            [class^="n-own-project_stat_"] {
                display: block;
            }
        }
        &_lbl {
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
            color: #2d2e2e;
        }
        &_val {
            margin: 6px 0;
            font-size: 18px;
            line-height: 1;
            font-weight: 700;
        }
        &_inc {
            font-size: 12px;
            line-height: 1;
            font-weight: 700;
            color: #c1beb3;
            &.plus {
                color: #74b618;
            }
        }
        &_ico {
            position: absolute;
            bottom: 0;
            right: 7px;
        }
    }
    // /stat
}

// __success
.n-own-project_i__success {
    .n-own-project {
        &_img, &_cont {
            opacity: .4;
        }
        &_state {
            top: 1px;
            left: 1px;
            color: #89aa5f;
            background: #fff;
        }
    }
}

// __fail
.n-own-project_i__deleted {
    .n-own-project {
        &_state {
            top: 1px;
            left: 1px;
            color: #ed0000;
            background: #fff;
        }
    }
}

// __draft
.n-own-project_i__draft {
    .n-own-project {
        &_state {
            color: #363636;
            background: #f0efe7;
        }
    }
}

// __moderate
.n-own-project_i__not_started {
    .n-own-project {
        &_state {
            color: #363636;
            background: #ffdc00;
        }
    }
}

// __patch
.n-own-project_i__patch {
    .n-own-project {
        &_state {
            color: #363636;
            background: #ffdc00;
        }
    }
}

// __decline
.n-own-project_i__declined {
    .n-own-project {
        &_state {
            color: #fff;
            background: #ed0000;
        }
    }
}

// __contr
.n-own-project_i__not_started_without_contractor {
    .n-own-project {
        &_state {
            color: #fff;
            background: #ff7b00;
        }
    }
}

// __pause
.n-own-project_i__paused {
    .n-own-project {
        &_state {
            color: #fff;
            background: @linkColor;
        }
    }
}

// __slim
.n-own-project_list__slim {
    .n-own-project {
        &_cover {
            width: 128px;
        }
        &_cont {
            margin-left: 142px;
            margin-right: 145px;
        }
        &_name {
            margin-bottom: 7px;
        }
        &_descr {
            max-height: 18px * 2;
        }
        &_info {
            margin: 0 0 13px;
            &_i {
                display: block;
                width: auto;
            }
            &_val {
                font-weight: 300;
                font-size: 21px;
                color: #000;
            }
        }
        &_progress {
            margin: 0;
        }
    }
}

// /own project

// support project
.n-support-project {
    &_head {
        margin: 0 0 24px;
        font-family: @ff-proxima-nova;
        color: #0c0c0c;
        &_title {
            font-size: 24px;
            line-height: 28px;
        }
        &_action {
            float: right;
            margin: 7px 0 0;
            font-size: 14px;
            .checkbox-label {
                margin-top: 2px;
                line-height: 16px;
            }
        }
    }

    &_list {
        margin: -19px 0 0 -11px;
    }
    &_i {
        position: relative;
        float: left;
        width: 189px;
        height: 400px;
        margin: 19px 0 0 11px;
        padding: 9px;
        border: 1px solid #d8dade;
    }
    &_badge {
        position: absolute;
        top: -1px;
        right: -1px;
        padding: 3px 5px 2px;
        min-width: 30px;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #000;
        background: #fcdc5a;
    }
    &_cover {
        margin: 0 0 10px;
        img {
            display: block;
        }
    }
    &_cont {
        max-height: 21px * 11 + 5;
        overflow: hidden;
    }
    &_name {
        margin: 0 0 8px;
        max-height: 21px * 3;
        overflow: hidden;
        font: 700 15px/21px @baseFontFamily;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_descr {
        font: 12px/21px @baseFontFamily;
        color: #393939;
    }
    &_type {
        margin: 10px 0 0;
        font: 700 12px/14px @baseFontFamily;
        background-color: transparent;
    }

    // __empty
    &__empty {
        .n-support-project {
            &_head {
                text-align: center;
            }
        }
    }
}

// /support project
