// project-info



.project-info{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 0 20px;
    &_cover{
        position: relative;
        display: table-cell;
        width: percentage(590/960);
        background: no-repeat 50% / cover;
        border: 5px solid #032C42;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:before{
            content: '';
            display: block;
            min-height: 322px;
        }
    }
    &_meta{
        display: table-cell;
        vertical-align: middle;
        width: percentage((960-590)/960);
        padding: 31px 28px 0;
        font-size: 0;
        background: url(../images/tech/project-info-meta.png) no-repeat 50% 100% / cover;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0 0 26px;
        font-size: 14px;
        line-height: 18/14;
        &.price{
            width: 60%;
        }
        &.city{
            width: 40%;
        }
    }
    &_lbl{
        margin: 0 0 15px;
        font-size: 12px;
        line-height: 1;
        font-weight: 600;
        color: #c7dd33;
        text-transform: uppercase;
        letter-spacing: .05em;
    }
    .tech-btn{
        padding-top: 13px;
        padding-bottom: 12px;
    }


    @media (max-width: 1023px) {
        &_i{
            &.price,
            &.city{
                width: 100%;
            }
        }
    }

    @media (max-width: 767px) {
        display: block;
        &_cover{
            display: block;
            width: auto;
            &:before{
                min-height: 0;
                padding: 0 0 percentage(322/590);
            }
        }
        &_meta{
            display: block;
            width: auto;
            padding: 20px 10px 0;
        }
        &_i{
            margin: 0 0 15px;
        }
    }
}

