// project-name



.project-name{
    display: table;
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 30px;
    background: #1b2336;
    &_title{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding: 4px 0 0;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
    }

    &_add{
        display: table-cell;
        vertical-align: middle;
        margin: 0 0 0 30px;
        font-size: 0;
        white-space: nowrap;
    }
    &_vote{
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        margin: 0 0 0 30px;
    }
    &_likes{
        display: inline-block;
        vertical-align: top;
        margin: 6px 0 0;
        cursor: pointer;
    }
    &_likes-ico{
        display: inline-block;
        vertical-align: top;
        margin: 0 12px 0 0;
        svg{
            width: 24px;
            height: 24px;
            fill: #c7dd33;
            filter: drop-shadow(0 1px 1px fade(#000, 30))
                    drop-shadow(0 0 18px fade(#80a5ff, 80));
        }
    }
    &_likes-val{
        display: inline-block;
        vertical-align: top;
        font-size: 26px;
        line-height: 1;
        font-weight: 700;
        color: #01c8fe;
    }


    @media (max-width: 767px) {
        display: block;
        padding: 15px 10px;
        text-align: center;
        &_title{
            display: block;
            padding: 0;
            font-size: 20px;
        }
        &_add{
            display: block;
            margin: 0;
        }
        &_likes{
            display: block;
            margin: 20px 0;
        }
        &_vote{
            display: block;
            margin: 0;
        }
    }
}

