// sidebar



.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 260px;
    padding: 0 0 106px;
    background: #012337;
    &_cont-in{
        .cf-mix();
    }

    @media (max-width: 1024px) {
        width: 80px;
    }

    @media (max-width: 767px) {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 54px;
        min-height: 0;
        padding: 0;
        transition: background 0.35s linear, height 0.35s ease-in;
        &_cont{
            position: absolute;
            z-index: 2;
            top: 54px;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            height: auto;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            visibility: hidden;
            transition: visibility 0s linear 1s;
        }
        &_cont-in{
            position: relative;
            min-height: 100%;
            padding: 0 0 104px;
        }
    }
}


@media (max-width: 767px) {
    .nav-open{
        .sidebar{
            height: 100%;
            transition: background 0.25s linear, height 0.25s ease-in 200ms;
            &_cont{
                visibility: visible;
                transition-delay: 0s;
                transform: translateZ(0);
            }
        }
    }
}




.vk-news-link{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    background: #507198;


    @media (max-width: 1024px) and (min-width: 768px) {
        height: 60px;
        background: url(../images/tech/vk-news-small.png) no-repeat 50% 0 / cover;
        img{
            display: none;
        }
    }

    @media (max-width: 767px) {
        opacity: 0;
        transition: .2s;
        .nav-open &{
            opacity: 1;
            transition: .25s .7s;
        }
    }
}



.sidebar-rules{
    position: absolute;
    bottom: 87px;
    left: 0;
    right: 0;
    padding: 0 10px;
    font-size: 13px;
    line-height: 12/11;
    text-align: center;
    a{
        color: #7b94a2;
        text-decoration: underline;
    }

    @media (max-width: 1024px) and (min-width: 768px) {
        bottom: 71px;
        font-size: 11px;
        text-align: left;
    }

    @media (max-width: 767px) {
        opacity: 0;
        transition: .2s;
        .nav-open &{
            opacity: 1;
            transition: .25s .7s;
        }
    }
}
