// sub-content



.sub-content{
    &:extend(.cf-mix all);
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    padding: 20px;
    p{
        margin: 0;
    }


    @media (max-width: 767px) {
        padding: 0;
    }
}
