// tech-winners-prizes



.tech-winners-prizes{
    margin: 0 0 76px;
    padding: 66px 30px 76px;
    font-size: 18px;
    line-height: 27/18;
    background: linear-gradient(0deg, #021722 0, #042e44 50%, #021722 100%);
    &_head{
        margin: 0 0 62px;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &_head-hl-1{
        color: #c7dd33;
    }
    &_head-hl-2{
        color: #01c8fe;
    }

    &_list{
        margin: -60px 0 0;
        font-size: 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin: 60px 0 0;
        padding: 0 20px;
        font-size: 15px;
        line-height: 21/15;
        font-weight: 700;
        text-align: center;
    }
    &_ico{
        margin: 0 0 17px;
    }


    @media (max-width: 1359px) {
        &_i{
            width: 33.333333%;
        }
    }

    @media (max-width: 767px) {
        &_i{
            width: 50%;
        }
    }

    @media (max-width: 567px) {
        &_i{
            width: 100%;
        }
    }
}
