// tech-winner



.tech-winner{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 0 75px;
    &_text{
        display: table-cell;
        vertical-align: middle;
        width: percentage(432/1510);
        padding: 30px;
        font-size: 18px;
        line-height: 24/18;
        background: #042a3f url(../images/tech/tech-winner-bg.jpg) no-repeat center / cover;
        a{
            color: #01c8fe;
            text-decoration: underline;
        }
    }
    &_text-in{
        max-width: 275px;
        margin: auto;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
        background: linear-gradient(0deg, #021722 0, #042e44 50%, #021722 100%);
    }

    &_head{
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_date{
        margin: 43px 0 50px;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        color: #01c8fe;
    }
    &_date-hl{
        color: #c7dd33;
    }

    .tech-projects{
        margin: auto;
        text-align: center;
        &_i{
            @media (min-width: 820px) {
                width: 240px;
            }
        }

    }


    @media (max-width: 1799px) {
        &_text{
            width: 35%;
        }
        .tech-projects{
            max-width: 510px;
        }
    }

    @media (max-width: 1099px) {
        &_text{
            width: 30%;
        }
        &_head{
            font-size: 26px;
        }
    }

    @media (max-width: 1023px) {
        display: block;
        &_text{
            display: block;
            width: 100%;
        }
        &_text-in{
            max-width: none;
        }
        &_cont{
            display: block;
        }
    }
}
