// tech-winner-peoples



.tech-winner-peoples{
    display: table;
    table-layout: fixed;
    width: 100%;
    &_text{
        display: table-cell;
        vertical-align: middle;
        padding: 75px 30px;
        font-size: 18px;
        line-height: 24/18;
        background: url(../images/tech/tech-winner-peoples-bg.jpg) no-repeat center / cover;
        a{
            color: #01c8fe;
            text-decoration: underline;
        }
    }
    &_text-in{
        max-width: 685px;
        margin: auto;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        width: 40%;
        background: radial-gradient(50% 50%, circle cover, #042e44 40%, #021722 70%);
    }
    &_head{
        margin: 0 0 68px;
        font-size: 55px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_head-hl-1{
        color: #c7dd33;
    }
    &_head-hl-2{
        color: #01c8fe;
    }

    .tech-projects{
        margin: auto;
        text-align: center;
        @media (min-width: 568px) {
            &_list{
                margin-left: 0;
                margin-right: 0;
                background: url(../images/tech/winner-flower.png) no-repeat 50% 0;
            }
            &_i{
                width: 240px;
                margin-left: 0;
                margin-right: 0;
            }
            &_winner,
            &_likes-block{
                display: none;
            }
            &_name{
                height: auto;
                color: #fff;
            }
            &_cover{
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-shadow: inset 0 0 0 5px #c7dd33;
                }
            }
            &_cont{
                padding-top: 22px;
            }
        }
    }


    @media (max-width: 1440px) {
        &_cont{
            width: 468px;
        }
    }

    @media (max-width: 1359px) {
        &_head{
            margin: 0 0 48px;
            font-size: 40px;
        }
    }

    @media (max-width: 1023px) {
        display: block;
        &_head{
            font-size: 32px;
        }
        &_text{
            display: block;
            width: 100%;
        }
        &_text-in{
            max-width: none;
        }
        &_cont{
            display: block;
            width: auto;
            padding: 60px 30px 40px;
        }
    }
}
