// tech-projects



.tech-projects{
    &:extend(.cf-mix all);
    margin: 0 0 40px;
    font-size: 0;
    &_head{
        margin: 0 0 27px;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .11em;
        text-transform: uppercase;
    }
    &_list{
        margin: -40px -10px 0;
    }
    &_i{
        display: inline-block;
        vertical-align: bottom;
        margin: 40px 0 0;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        word-wrap: break-word;

        padding-left: 10px;
        padding-right: 10px;
    }
    &_link{
        position: relative;
        display: block;
        width: 220px;
        background: #1b2336;
        &:hover{
            text-decoration: none;
            @media (min-width: 1025px) {
                .tech-projects{
                    &_hover{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }


    &_winner{
        display: block;
        height: 44px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .1em;
        color: #fff;
        text-align: left;
        text-transform: uppercase;
        background: #254959;
        border-radius: 3px 3px 0 0;
    }
    &_winner-head{
        display: block;
        padding: 11px 0 1px;
        font-size: 14px;
    }
    &_winner-text{
        display: block;
        font-size: 8px;
    }
    &_winner-ico{
        float: left;
        width: 51px;
        height: 100%;
        padding: 17px 0 0;
        font-size: 14px;
        text-align: center;
        color: #254959;
        background: url(../images/tech/winner-badge.svg) no-repeat 50% 0;
    }
    &_winner-cont{
        display: block;
        overflow: hidden;
    }


    &_cover{
        position: relative;
        overflow: hidden;
        display: block;
        img{
            display: block !important;
            width: 100%;
            height: auto;
        }
    }

    &_hover{
        display: none;
        @media (min-width: 1025px) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 2px;
            background: fade(#c7dd33, 80);
            transform: scale(1.3);
            transition: all 0.2s ease-in-out;
            font-size: 0;
            text-align: center;
            white-space: nowrap;
            opacity: 0;
            &:before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
    }
    &_hover-cont{
        @media (min-width: 1025px) {
            display: inline-block;
            vertical-align: middle;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: #1b2336;
            white-space: normal;
        }
    }

    &_cont{
        position: relative;
        display: block;
        padding: 42px 20px 18px;
    }
    &_name{
        display: block;
        height: 14px * 4 * 1.2;
        margin: 0 0 10px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }
    &_likes-block{
        display: block;
        white-space: nowrap;
        font-size: 0;
        @media (min-width: 568px) {
            position: absolute;
            top: -15px;
            left: 0;
            right: 0;
        }
    }
    &_likes{
        display: inline-block;
        vertical-align: top;
        padding: 8px 12px 7px;
        color: #fff;
        background: #254959;
        border-radius: 20px;
        box-shadow: 0 5px 10px fade(#000, 20);
        svg{
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }
    &_likes-ico{
        display: inline-block;
        vertical-align: top;
        margin: 0 6px 0 0;
    }
    &_likes-val{
        display: inline-block;
        vertical-align: top;
        margin: 1px 0 0;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
    }
    &_more-block{
        display: block;
        text-align: center;
        font-size: 14px;
    }
    &_more{
        color: #01c8fe;
        text-decoration: underline;
    }



    @media (min-width: 1500px) {
        &_i{
            width: ~"calc((100% - 240px) / 4)";
            &:nth-child(5n+5){
                width: 240px;
            }
        }
    }

    @media (max-width: 1499px) and (min-width: 1440px) {
        &_list{
            margin-left: -7px;
            margin-right: -8px;
        }
        &_i{
            width: ~"calc((100% - 227px) / 4)";
            padding-left: 7px;
            padding-right: 8px;
            &:nth-child(5n+5){
                width: 227px;
            }
        }
        &_link{
            width: 212px;
        }
    }

    @media (max-width: 1439px) and (min-width: 1240px) {
        &_i{
            width: ~"calc((100% - 240px) / 3)";
            &:nth-child(4n+4){
                width: 240px;
            }
        }
    }

    @media (max-width: 1239px) and (min-width: 1025px) {
        &_i{
            width: ~"calc((100% - 240px) / 2)";
            &:nth-child(3n+3){
                width: 240px;
            }
        }
    }

    @media (max-width: 1024px) and (min-width: 820px) {
        &_i{
            width: 33%;
        }
        &_link{
            width: auto;
        }
    }

    @media (max-width: 819px) and (min-width: 568px) {
        &_i{
            width: 50%;
        }
        &_link{
            width: auto;
        }
    }

    @media (max-width: 567px) {
        &_list{
            margin: -20px 0 0;
        }
        &_i{
            display: block;
            width: auto;
            margin: 20px 0 0;
            padding: 0;
        }
        &_link{
            .cf-mix();
            width: auto;
        }
        &_cover{
            float: left;
            width: 140px;
            height: 140px;
        }
        &_cont{
            overflow: hidden;
            padding: 10px 10px 10px;
        }
        &_name{
            height: auto;
            font-size: 12px;
            font-weight: 400;
        }
        &_likes-block{
            margin: 14px 0 8px;
        }
        &_likes{
            padding-top: 6px;
            padding-bottom: 5px;
        }
    }
}



.tech-projects-winner{
    .tech-projects{
        &_winner{
            color: #1b2336;
            background: #ffcf0d;
        }
        &_winner-ico{
            background: url(../images/tech/peoples-winner-badge.svg) no-repeat;
            background-size: 30px 28px;
            background-position: 13px 8px;
        }
        &_winner-text{
            font-size: 9px;
        }
        &_name{
            color: #ffcf0d;
        }
        &_likes{
            color: #1b2336;
            background: #ffcf0d;
        }
    }
}
