// top-bar



.top-bar{
    &:extend(.cf-mix all);
    height: 80px;
    margin: 0 0 40px;
    padding: 24px 0 0;
    background: #011521 url(../images/tech/top-bar-bg.jpg) no-repeat -260px 0;

    &_lead{
        max-width: 360px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: .11em;
        text-transform: uppercase;
        color: #fff;
    }

    &_logos{
        float: right;
        margin: -4px 0 0 20px;
        font-size: 0;
        white-space: nowrap;
        .header-pln-logo{
            font-size: 2.7em;
        }
        .header-rvc-logo{
            font-size: 4.6em;
        }
        .header-eva-logo{
            font-size: 2.9em;
        }
    }
    &_logos-i{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 3.5em;
        font-size: 10px;
        &:first-child{
            margin-left: 0;
        }
    }


    @media (max-width: 1023px) {
        &_lead{
            position: relative;
            top: 1px;
            font-size: 13px;
        }
    }

    @media (max-width: 767px) {
        height: auto;
        margin: 0;
        padding: 20px 0 30px;
        text-align: center;
        background: none;
        &_logos{
            float: none;
            margin: 0 50px 20px 0;
        }
        &_lead{
            margin-left: auto;
            margin-right: auto;
        }
    }
}
