// vote-countdown



.vote-countdown{
    margin: 23px 0;
    font-size: 13px;
    line-height: 16/13;
    color: #7b94a2;
    text-transform: uppercase;
    text-align: center;
    &_val{
        display: block;
        color: #c7dd33;
    }


    @media (max-width: 1024px) and (min-width: 768px) {
        display: none;
    }

    @media (max-width: 767px) {
        opacity: 0;
        transition: .2s;
        .nav-open &{
            opacity: 1;
            transition: .25s .7s;
        }
    }
}
