<div [ngClass]="{'sandwich-open': isSandwichOpen}">
    <pl-header #plHeader (toggleSandwich)="toggleSandwich($event)"></pl-header>
    <div class="pl-main">
        <router-outlet></router-outlet>
    </div>
    <pl-footer></pl-footer>

    <div toastContainer></div>
</div>
