//
// Planeta Action Card Block
//
// --------------------------------------------


.action-card-block{
    margin: 0 0 20px;
}


.action-card-list{
    margin: 0;
    list-style: none;

}
.action-card-i{
    position: relative;
    margin: 5px 0 0;
    font-family: @ff-proxima-nova;
    &:first-child{
        margin-top: 0;
    }
    &.disabled{
        .action-card-link{
            cursor: default;
            background: #fff;
        }
        .ac-price, .ac-donate{
            color: #aed6f1;
        }
        .ac-name{
            color: #d9d9d9;
        }
        .ac-count-name{
            color: #a9a9a9;
        }
        .ac-count-value{
            color: #919191;
        }
    }
}

.action-card-del{
    position: absolute;
    z-index: 1;
    top: -3px;
    right: -3px;
    i{
        display: block;
        width: 22px;
        height: 22px;
        background: url(../images/icon/action-card-del-ico.png) no-repeat;
        cursor: pointer;
    }
}

// card link block
.action-card-link{
    position: relative;
    word-wrap: break-word;
    padding: 15px 20px 18px 20px;
    border: 1px solid #d8e0ea;
    background: #fff;
    cursor: pointer;
    &:hover{
        background: lighten(@baseColor, 40%);
        .ac-action{
            visibility: visible;
        }
    }
}

.ac-price, .ac-donate{
    margin: 0 0 7px;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: @linkColor;
    text-transform: uppercase;
}
.ac-name{
    font-size: 15px;
    line-height: 21px;
}


.ac-btn{
    margin: 10px 0 0;
    font-size: 15px;
    line-height: 21px;
    .btn-invest{
        padding: 16px 0;
        border-radius: 4px;
    }
}



.ac-count-block{
    float: right;
    white-space: nowrap;
    &_wrap{
        display: inline-block;
        vertical-align: top;
    }
}
.ac-count-field{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: right;
}
.ac-count-field + .ac-count-field{
    margin: 2px 0 0;
}
.ac-count-name{
    color: #5b5b5b;
}
.ac-count-value{
    color: #111414;
    font-weight: 700;
}

.ac-supported-badge{
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    margin: 0 8px 0 0;
    background: url(../images/project/ac-supported.svg) no-repeat;
}

.ac-selled-text{
    color: #47a210;
}
// /card link block


// regular state
.action-card-link__regular{
    z-index: 1;
    margin-left: -5px;
    margin-right: -5px;
    border: 2px solid #c0392b;
    .ac-donate{
        font-size: 18px;
        color: #c0392b;
    }
    .ac-count-block{
        margin: 5px -10px 0 0;
    }
    .ac-add{
        margin: 10px 0 -3px;
        font-size: 12px;
        color: #808080;
    }
}
// //regular state


// investing state
.action-card-i__investing{
    .action-card-link{
        z-index: 1;
        border-color: #904ca6;
    }
    .ac-price{
        color: #904ca6;
    }
    &.disabled{
        .action-card-link{
            border-color: lighten(#904ca6, 30%);
        }
        .ac-price{
            color: lighten(#904ca6, 30%);
        }
    }
}
// //investing state




// head for disabled and investing card on project page
.action-card-type{
    padding: 25px 0 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #999;
}
.action-card-view{
    .action-card-i__investing{
        .action-card-type{
            display: block;
            color: #904ca6;
        }
        & + .action-card-i__investing{
            .action-card-type{
                display: none;
            }
        }
    }

    .action-card-i.disabled{
        .action-card-type{
            display: block;
            color: #999;
        }
        & + .action-card-i.disabled{
            .action-card-type{
                display: none;
            }
        }
    }
}
// head for disabled and investing card on project page




// editor actions
.ac-action{
    visibility: hidden;
    margin: 10px 0 0;
    &-del{
        float: right;
    }
    &-link{
        font: 10px/12px @baseFontFamily;
        text-transform: uppercase;
        color: @linkColor;
        border-bottom: 1px dotted;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
        & + &{
            margin-left: 10px;
        }
    }
}

.action-card-edit{
    margin-bottom: 10px;
    .action-card-i{
        transition: height .2s, margin .2s;
    }
    .action-card-link{
        left: 0;
        opacity: 1;
        transition: .2s .2s;
        &, &:hover{
            background: #fff;
            cursor: -webkit-grab;
            cursor: -moz-grab;
            cursor: grab;
        }
    }
}
.ui-sortable-helper{
    .action-card-link{
        cursor: -webkit-grabbing !important;
        cursor: -moz-grabbing !important;
        cursor: grabbing !important;
    }
}

.action-card-add,
.action-card-remove{
    height: 0;
    margin-top: 0;
    .action-card-link{
        left: 300px;
        opacity: 0;
    }
}
.action-card-remove{
    transition-delay: .2s !important;
    .action-card-link{
        transition-delay: 0s !important;
    }
}
// /editor actions




// action card modal
.modal-dialog{
    .modal-action-card{
        width: 752px;
        border-radius: 0;
        border: 1px solid #afafaf;
        color: #000;
        .close{
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 59px;
            text-align: center;
            line-height: 54px;
        }
    }
}

@action-modal-offset: 30px;
.modal-ac-head{
    padding: 21px @action-modal-offset 19px;
    font-family: @ff-proxima-nova;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #e0dfdd;
}

.modal-ac-body{
    padding: @action-modal-offset - 4 @action-modal-offset @action-modal-offset;
    font-family: @ff-proxima-nova;
}
.modal-ac-img{
    float: right;
    width: 168px;
    height: 168px;
    overflow: hidden;
    margin: 4px 0 0 33px;
    img{
        display: block;
    }
}
.modal-ac-cont{
    overflow: hidden;
}
.modal-ac-name{
    margin: 0 0 10px;
    font: 700 19px/24px @ff-proxima-nova;
}
.modal-ac-descr{
    margin: 0 0 10px;
    font: 15px/21px @ff-proxima-nova;
    max-height: 21px * 15;
    overflow: hidden;
    &.expand{
        max-height: none;
    }
}
.modal-ac-descr-expand-link{
    font-size: 14px;
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}

.modal-ac-date{
    margin: 10px 0 0;
    font-size: 12px;
    color: #808080;
}


.modal-ac-foot{
    padding: 18px @action-modal-offset;
    border-top: 1px solid #e0dfdd;
}
.modal-ac-input{
    height: 24px;
    margin: 0;
    padding: 7px 15px 7px 7px;
    font: 700 21px/24px @ff-proxima-nova;
    color: @linkColor;
    text-align: center;
    border-radius: 0;
    border: 1px solid @linkColor;
    box-shadow: none;
}
.modal-ac-counter{
    position: relative;
    float: left;
    .modal-ac-input{
        width: 80px;
        height: 40px;
        padding: 7px 23px;
        font-size: 16px;
    }
}
.modal-ac-counter-btn{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 38px;
    cursor: pointer;
    background: url(../images/project/modal-ac-counter-btn.gif) no-repeat -41px 50%;
    &.plus{
        left: auto;
        right: 1px;
        background-position: 7px 50%;
    }
}
.modal-ac-sum-text{
    float: left;
    position: relative;
    margin: 0 9px 0 0;
    padding: 11px 16px;
    font: 13px/16px @ff-proxima-nova;
    color: #798286;
    border: 1px solid #d6d6d6;
}
.modal-ac-sum-text-ar{
    position: absolute;
    top: 14px;
    right: -5px;
    clip: rect(-5px,15px,15px,5px);
    &:after{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #d6d6d6;
        background: #fff;
        transform: rotate(45deg);
    }
}
.modal-ac-sum{
    float: left;
    position: relative;
    margin: 0 9px 0 0;
    .modal-ac-input{
        width: 140px;
        height: 40px;
        padding-right: 31px;
        text-align: right;
    }
}
.modal-ac-rub{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: url(../images/project/modal-ac-rub.png) no-repeat;
    background-size: cover;
}
.modal-ac-submit{
    float: left;
    margin: 0;
    padding: 10px 23px;
    border-radius: 0;
    &, &:focus{
        box-shadow: none;
    }
}

.modal-ac-arr-prev,
.modal-ac-arr-next{
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 100%;
    width: 90px;
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.1);
    }
    i{
        position: fixed;
        top: 50%;
        margin: -10px 0 0 37px;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent @linkColor transparent;
    }
    &.disabled{
        cursor: default;
        &:hover{
            background: none;
        }
        i{
            border-color: transparent #ccc transparent;
        }
    }
}
.modal-ac-arr-next{
    right: auto;
    left: 100%;
    i{
        border-width: 10px 0 10px 10px;
    }
}
.modal-ac-error{
    padding: 15px 0 0;
    font-family: @ff-proxima-nova;
    font-size: 15px;
    clear: both;
    text-align: center;
    color: #db504e;
}



// __investing
.modal-action-card__investing{
    .modal-ac-descr-expand-link{
        color: #8a48aa;
        &:hover{
            color: darken(#8a48aa, 8%);
        }
    }
    .modal-ac-input{
        color: #8a48aa;
        border-color: #8a48aa;
    }
    .modal-ac-rub{
        background-image: url(../images/project/modal-ac-rub-invest.png);
    }
    .flat-btn{
        border-color: #8a48aa;
        background: #8a48aa;
        &:hover{
            border-color: lighten(#8a48aa, 8%);
            background: lighten(#8a48aa, 8%);
        }
        &:active{
            border-color: darken(#8a48aa, 8%);
            background: darken(#8a48aa, 8%);
        }
        &[disabled],
        &.disabled{
            border-color: #8a48aa;
            background: #8a48aa;
        }
    }
}
// / __investing
// /action card modal


.photo-zoom-link{
    cursor: pointer;
}
