//
// Planeta Project Donate page
//
// --------------------------------------------


@pln-donate-box-offset: 20px;

.pln-donate-box{
    margin: 0 0 20px;
    padding: @pln-donate-box-offset;
    border: 1px solid #d8dade;
    background: #fff;
}

.pln-donate-box_head{
    margin: 0 0 17px;
    font-family: @ff-proxima-nova;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #e74c3c;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.project-donate-input{
    height: 24px;
    margin: 0;
    padding: 12px 15px 12px 7px;
    font-family: @ff-proxima-nova;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: @linkColor;
    text-align: center;
    border-radius: 0;
    border: 1px solid @linkColor;
    box-shadow: none;
}


.project-donate-sum{
    position: relative;
    display: inline-block;
    margin: 0 0 40px;
    .project-donate-input{
        width: 200px;
        height: 50px;
        padding-right: 31px;
        text-align: right;
    }
}
.project-donate-sum-rub{
    position: absolute;
    top: 16px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: url(../images/project/modal-ac-rub.png) no-repeat;
}


.project-donate-condition{
    margin: 0 -@pln-donate-box-offset;
}

.pd-condition-i{
    &:extend(.cf-mix all);
    border-bottom: 1px solid #eeece4;
    font: 14px/21px @baseFontFamily;
    cursor: pointer;
    &:first-child{
        border-top: 1px solid #eeece4;
    }
    &:hover, &.checked{
        background: #fafafa;
    }
    &.checked{
        .pd-condition-counter{
            display: block;
        }
    }
    &.disabled{
        cursor: default;
        background-color: transparent;
        .pd-condition-cont{
            opacity: .3;
        }
        .radiobox,
        .radiobox-label{
            cursor: default;
        }
    }


    &.regular{
        position: relative;
        z-index: 1;
        margin: -1px -10px 0;
        border: 2px solid #c0392b;
        background: #fff;
        .pd-condition-cont{
            padding: @pln-donate-box-offset @pln-donate-box-offset + 8;
        }
        .pln-donate-box_radio{
            color: #c0392b;
        }
    }

    &.investing{
        position: relative;
        z-index: 1;
        margin: -1px -10px 0;
        border: 2px solid #964fad;
        background: #fff;
        .pd-condition-cont{
            padding: @pln-donate-box-offset @pln-donate-box-offset + 8;
        }
        .pln-donate-box_radio{
            color: #964fad;
        }
        .radiobox{
            border-color: #964fad;
            &.checked{
                &:before{
                    background: #964fad;
                }
            }
        }
        .pd-condition-counter{
            .project-donate-input{
                color: #964fad;
                border-color: #964fad;
            }
        }
    }
}

.pd-condition-img{
    float: right;
    width: 168px;
    height: 168px;
    margin: @pln-donate-box-offset;
    overflow: hidden;
}

.pd-condition-cont{
    overflow: hidden;
    padding: @pln-donate-box-offset;
}

.pd-condition-sum{
    float: left;
    .b-rub{
        font-size: 20px;
    }
}

.pln-donate-box_radio{
    font-family: @ff-proxima-nova;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: @linkColor;
    .radiobox{
        top: 1px;
    }
    .radiobox-label{
        padding: 0;
        font-size: 21px;
        line-height: 21px;
    }
}

.pd-condition-name{
    margin: 11px 0 11px 26px;
    font-weight: 700;
}
.pd-condition-descr{
    margin-left: 26px;
}
.pd-condition-date{
    margin: 10px 0 0 26px;
    font-size: 12px;
    color: #808080;
}

.pd-condition-counter{
    display: none;
    position: relative;
    float: left;
    margin: -5px 0 -5px 30px;
    .project-donate-input{
        width: 80px;
        height: 30px;
        padding: 2px 23px;
        font-size: 16px;
    }
}
.pd-condition-counter-btn{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 28px;
    cursor: pointer;
    background: url(../images/project/modal-ac-counter-btn.gif) no-repeat -41px 50%;
    &.plus{
        left: auto;
        right: 1px;
        background-position: 7px 50%;
    }
}


.project-donate-action-wrap{
    margin: 0 -1px -@pln-donate-box-offset;
    &.fixed{
        .project-donate-action{
            position: fixed;
            z-index: 2;
            bottom: 0;
            width: 940px;
            border: 1px solid #d8dade;
            border-bottom: 0;
            background: fade(#fff, 89%);
        }
    }
}
.project-donate-action{
    margin: 0 -@pln-donate-box-offset;
    padding: @pln-donate-box-offset;
    .project-donate-sum{
        float: left;
        margin: 0;
    }
}
.pd-action-btn{
    float: right;
    padding: 15px 30px;
    border-radius: 0;
}
.pd-action-error{
    padding: 16px 0;
    font-size: 14px;
    text-align: center;
    color: #db504e;
}
