//
// Planeta Project Finish state
//
// --------------------------------------------


.project-finish{
    min-height: 60px;
    margin: 30px 0;
    background: #fff;
    &_check{
        float: left;
        width: 60px;
        height: 60px;
        background: #47c556 url(../images/project/project-finish-check.png) no-repeat 50% 50%;
    }
    &_cont{
        margin: 0 0 0 80px;
        padding: 18px 0 0;
        font: 20px/24px @ff-proxima-nova;
    }
    &_arr{
        display: inline-block;
        vertical-align: top;
        width: 61px;
        height: 55px;
        margin: 8px 0 -21px 5px;
        background: url(../images/project/project-finish-arr.png) no-repeat 50% 50%;
    }

    &_project{
        position: relative;
        margin: 7px 0 0;
        .project-card-link{
            min-height: 339px;
        }
    }

    &_cards-label{
        position: absolute;
        top: 1px;
        left: 0;
        font: 700 12px/1 @ff-proxima-nova;
        text-transform: uppercase;
        color: #999;
    }
}


// new project widget
.project-view-new{
    @hoverOffset: 8px;

    position: relative;
    margin: 0 0 20px;
    &:hover{
        .project-view-header{
            top: -@hoverOffset;
        }
    }
    .video-play{
        &:hover{
            background-size: auto !important;
        }
    }
    .project-view-header{
        position: relative;
        top: 0;
        transition: .2s;
    }
    &_cont{
        position: relative;
        overflow: hidden;
        display: block;
        height: 170px;
        margin: -@hoverOffset 0 0;
        padding: @hoverOffset 0 0;
        &, &:hover{
            color: @textColor;
            text-decoration: none;
        }
    }
    &_sh{
        position: absolute;
        bottom: 0;
        left: -135px;
        width: 1210px;
        height: 23px;
        background: url(../images/project/project-view-new-sh.png) no-repeat;
    }
}
// /new project widget


// project sidebar product
.project-sidebar-product{
    margin: 0 0 35px;
    &_more{
        font: 700 16px/18px @ff-proxima-nova;
        text-align: center;
        &_link{
            text-decoration: underline;
        }
    }
}
// /project sidebar product


// project view products
.project-view-products{
    position: relative;
    margin: 7px 0 20px;
    .product-card{
        &_i{
            width: 240px;
        }
        &_link{
            padding-bottom: 21px;
            border-radius: 0;
        }
        &_cover{
            margin-bottom: 10px;
        }
        &_name{
            height: 14px * 1.2 * 3;
            padding: 0 10px;
            font-size: 14px;
        }
        &_price{
            margin: 17px 0 0;
            padding: 0 10px;
            font-size: 20px;
        }
        &_btn{
            bottom: 14px;
            right: 10px;
            width: 30px;
            height: 30px;
            padding: 8px 0 0;
        }


        &_all{
            position: absolute;
            top: 0;
            left: 10px;
            right: 10px;
            height: 340px;
            text-align: center;
            color: #52adea;
            padding: 14px;
            font: 300 40px/1 @ff-proxima-nova;
            background: @baseColor;
            > span{
                display: block;
            }
            &_count-val{
                font-size: 180px;
                line-height: 0.7;
                letter-spacing: -0.07em;
                margin: 50px 0 2px;
            }
            &_more{
                margin: 42px 0 0;
                .btn{
                    color: @baseColor;
                    border-color: #fff;
                    background: #fff;
                }
            }
        }
    }
}
// /project view products
