//
// Planeta Project List page
//
// --------------------------------------------


.project-filter{
    margin: -20px 0 20px;
    background: #fff;
}
.project-filter-wrap{
    margin: -10px 0 0 -19px;
    padding: 20px 0;
    font-size: 0;
}

.pf-field, .pf-label, .pf-select, .pf-input{
    display: inline-block;
    vertical-align: top;
}
.pf-field{
    margin: 10px 0 0 19px;
    .pln-select{
        text-transform: lowercase;
        .dropdown-menu{
            max-height: none;
        }
    }
}
.pf-label{
    margin: 7px 9px 0 0;
    .proxima_nova_rgregular();
    font-size: 25px;
    line-height: 27px;
    color: #000;
}
.pf-label__select{
    width: 107px;
}
.pf-label__input{
    width: 65px;
}
.pf-field, .project-filter-place{
    .pln-select{
        padding: 0 30px 0 10px;
        font-size: 15px;
        line-height: 38px;
        color: #646464;
        .select-cont{
            padding: 0;
        }
        .dropdown-menu{
            width: auto;
            min-width: 100%;
            border: 1px solid #ccc;
            box-shadow: none;
            .item a{
                padding: 8px 11px;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}

.pf-select{
    width: 249px;
}
.pf-input{
    &:extend(.form-control-mix all);
    width: 331px;
    height: 40px;
    margin: 0;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 18px;
    color: #646464;
}

.pf-place-link{
    display: inline-block;
    vertical-align: top;
    margin: 11px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: @linkColor;
    cursor: pointer;
    &_text{
        border-bottom: 1px dashed;
    }
    &:hover{
        color: @linkColorHover;
    }
}

.project-filter-place{
    padding: 0 0 20px;
    white-space: nowrap;
    .select2-flat .select2-container .select2-choice{
        padding-top: 0;
        padding-bottom: 0;
        font-size: 15px;
    }
}



.project-list-block{
    .list-loader{
        margin-left: @grid960GutterWidth;
    }
}

.project-category{
    padding: 24px;
    margin: 0 0 20px;
    background: #fff;
    border: 1px solid #d8dade;
    &_head{
        margin: 0 0 15px;
        font: 700 18px @baseFontFamily;
        color: #000;
    }

    &_list{
        margin: 0;
        list-style: none;
        &__spec{
            font-weight: 700;
        }
    }
    &_i{
        margin: 12px 0 0;
        font-size: 15px;
        line-height: 18px;
        &:first-child{
            margin-top: 0;
        }
        &.active{
            .project-category_name{
                color: #bdbdbd;
            }
        }
    }
    &_name{
        color: @linkColor;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
    }
}

