//
// Planeta Project Promotion page
//
// --------------------------------------------


[class^="s-promotion-top-"], [class*=" s-promotion-top-"]{
    .sprite(78, 73, url(../images/project/s-promotion.png));
}
//.s-promotion-top-fly    { background-position: 0 0 }
.s-promotion-top-people    { background-position: -100px 0 }
.s-promotion-top-pig       { background-position: -200px 0 }
.s-promotion-top-flag      { background-position: -300px 0 }


[class^="s-promotion-list-"], [class*=" s-promotion-list-"]{
    .sprite(71, 70, url(../images/project/s-promotion.png));
}
.s-promotion-list-vk        { background-position: 0 -100px }
.s-promotion-list-msg       { background-position: -100px -100px }
.s-promotion-list-events    { background-position: -200px -100px }
.s-promotion-list-media     { background-position: -300px -100px }
.s-promotion-list-person    { background-position: -400px -100px }


.project-promotion-page{
    background: #fff;
}

.project-promotion{
    &_head{
        margin: -20px 0 0;
        padding: 35px 0;
        font-size: 35px;
        line-height: 40px;
        .gothampro-bold();
        text-align: center;
        background: #fff;
    }

    &_top{
        background: #d5eec5;
        &_cont{
            position: relative;
            padding: 47px 0 49px 140px;
        }
        &_ico{
            position: absolute;
            left: 37px;
            top: 42px;
        }
        &_text{
            .gothampro-light();
            font-size: 24px;
            line-height: 34px;
            color: #171616;
        }
    }

    &_cont{
        padding: 55px 0;
    }

    &_list-i{
        position: relative;
        margin: 0 0 65px;
        padding: 0 0 44px 140px;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 140px;
            width: 70px;
            height: 1px;
            background: #c9ced3;
        }
    }
    &_list-ico{
        position: absolute;
        top: -4px;
        left: 37px;
    }
    &_list-head{
        margin: 0 0 1em;
        .gothampro-bold();
        font-size: 18px;
        line-height: 27px;
    }
    &_list-text{
        .gothampro-reg();
        font-size: 18px;
        line-height: 24px;
        .step-hl{
            .gothampro-bold();
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: .14em;
        }
        .footnote{
            position: relative;
            margin: 14px 0 8px;
            padding: 0 0 0 34px;
            font: italic 16px/24px Georgia, serif;
            color: #747070;
            &:before{
                content: '*';
                position: absolute;
                top: 10px;
                left: -1px;
                font-size: 40px;
                font-weight: 400;
                color: #eace15;
            }
        }
    }
}

