//
// Planeta Project View page
//
// --------------------------------------------




// project share btn
.project-code-btn{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    padding: 5px 8px 4px;
    border: 1px solid #dfdedb;
    border-radius: 2px;
    background: #f5f4f2;
    font: 12px/14px @ff-proxima-nova;
    text-transform: uppercase;
    color: #666;
    cursor: pointer;
    &:hover{
        border-color: darken(#dfdedb, 10%);
        background: darken(#f5f4f2, 10%);
    }
    &.active{
        background: #e8e7e6;
        border-color: #dfdedb;
        box-shadow: inset 0 3px 1px fade(#000, 5);
    }
}
// project share btn



// project draft
.copy-ico{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(../images/planeta/copy-ico.svg) no-repeat;
}
.project-draft{
    font-size: 13px;
    .project-code-btn{
        position: relative;
        &.active{
            z-index: @zindexDropdown + 1;
        }
    }
    &_popup{
        left: 50%;
        width: 310px;
        margin: -40px 0 0 -152px;
        padding: 5px;
        background: fade(#000, 20);
    }
    &_popup-cont{
        padding: 45px 20px 0;
        background: #fff;
        box-shadow: 0 3px 3px fade(#000, 15);
    }

    &_switch{
        &:extend(.cf-mix all);
        padding: 10px 0;
        &_lbl{
            float: left;
            margin: 3px 0 0;
            font-size: 13px;
            font-weight: 600;
        }
        &_val{
            position: relative;
            float: right;
            width: 60px;
            height: 26px;
            color: #fff;
            border-radius: 20px;
            background: #c0392b;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 22px;
                height: 22px;
                background: #fff;
                border-radius: 50%;
                transition: .2s;
            }
            &_on,
            &_off{
                position: absolute;
                top: 9px;
                font-size: 10px;
                line-height: 1;
            }
            &_on{
                display: none;
                left: 11px;
            }
            &_off{
                right: 6px;
            }
            &.on{
                background: @linkColor;
                &:before{
                    left: 36px;
                }
                .project-draft_switch_val{
                    &_on{
                        display: block;
                    }
                    &_off{
                        display: none;
                    }
                }
            }
        }
    }

    &_footer{
        margin: 0 -20px;
        padding: 0 20px;
        border-top: 1px solid #e6e6e6;
    }

    &_text{
        padding: 14px 10px;
    }

    &_form{
        display: table;
        width: 100%;
        &_wrap{
            display: none;
            padding: 17px 0;
        }
        .form-control{
            border-radius: 2px;
            cursor: default;
        }
        .btn{
            border-radius: 2px;
        }
        &_val{
            width: 99%;
            display: table-cell;
            vertical-align: top;
        }
        &_btn{
            display: table-cell;
            vertical-align: top;
            padding: 0 0 0 3px;
        }
    }
}

.twipsy-dark{
    padding: 3px;
    .twipsy-inner{
        padding: 5px 9px;
        font: 600 13px/16px @ff-proxima-nova;
        color: #fff;
        border: 0;
        border-radius: 2px;
        background: fade(#000, 80);
        box-shadow: none;
    }
    &.bottom .twipsy-arrow{
        top: -1px;
        width: 0;
        height: 0;
        margin-left: -4px;
        border-bottom: 4px solid fade(#000, 80);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        background: none;
    }
}
// /project draft




.project-view-wrap{
    margin: -20px 0 -20px;
    padding: 20px 0 40px;
    background: #e9ebee;
}

.project-view-name{
    margin: 0 0 20px;
    text-align: center;
    h1{
        margin: 0;
        font: 700 30px/35px @baseFontFamily;
    }
}




// header project card
.project-view-header{
    margin: 0 0 10px;
}
.pv-media-view{
    position: relative;
    &_name{
        position: absolute;
        top: 24px;
        left: 33px;
        max-width: 60%;
        font: 24px/34px @ff-proxima-nova;
        color: #fff;
        &_hl{
            color: #000;
            background: #fff;
            box-shadow: 12px 0 0 0 #fff, -12px 0 0 0 #fff;
            box-decoration-break: clone;
        }
    }
}


.project-view-card{
    position: relative;
    min-height: 360px;
    padding: 17px 20px 20px;
    background: #0d222a;
    color: #fff;
}
.pvc-counter-wrap{
    margin: 0 0 9px;
    font-size: 45px;
    line-height: 48px;
    font-weight: 700;
}
.pvc-counter{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.pvc-head{
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #7a878c;
    margin: 0 0 8px;
}
.pvc-head-success{
    color: #fff;
}


.pvc-counter-head{
    margin: 0 0 11px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #aaaeb0;
    text-shadow: 0 -1px 1px #000;
}


.pvc-info-field{
    float: left;
    width: 50%;
    height: 36px;
    margin: 0 0 14px;
}
.pvc-info-name{
    margin: 0 0 5px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7a878c;
}
.pvc-info-value{
    font: 700 16px/18px @baseFontFamily;
    white-space: nowrap;
    &.val-empty{
        color: #60666a;
    }
}


.pvc-place{
    clear: both;
    font-size: 12px;
    .text-overflow();
    &_lbl{
        color: #6f878c;
    }
    &_val{
        &, &:hover{
            color: #bbb;
        }
    }
}


// progress
.pvc-progress-block{
    margin: 0 0 19px;
}
.pvc-progress{
    font: 0/0 a;
    background: #1f353f;
}
.pvc-bar{
    position: relative;
    min-width: 2px;
    height: 3px;
    max-width: 100%;
    background: @linkColor;
}
.pvc-bar-ctrl{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #fff;
}

// progress states
.pvc-progress-block{
    .over-progress{
        background: #537d9a;
    }
    .closed-progress{
        .pvc-bar{
            background: #7b868e;
        }
    }
}
// /progress states
// /progress


.pvc-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.pvc-footer-cont{
    padding: 0 20px 20px;
}


.pvc-donate-btn-block{
    margin: 10px 0 0;
    .flat-btn, .btn{
        padding: 12px 0 11px;
        font: 700 14px/16px @baseFontFamily;
    }
    .btn-invest{
        padding: 13px 0 12px;
    }
}
.pvc-donate-btn-success{
    &, &:hover, &:active{
        color: #000;
        background: #fff;
        border-color: #fff;
        cursor: default;
    }
    i{
        display: inline-block;
        width: 14px;
        height: 12px;
        margin: 0 10px 0 0;
        background: url(../images/project/project-view-tick.png) no-repeat;
    }
}
.project-success-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fff;
}


.pvc-share-btn{
    & + .pvc-share-btn{
        width: 130px;
        margin-left: 1px;
    }
}
.pvc-share-link{
    display: block;
    padding: 14px 0 12px;
    font: 700 12px/14px @baseFontFamily;
    text-align: center;
    background: #1b3540;
    cursor: pointer;
    &:hover{
        background: lighten(#1b3540, 5%);
    }
    &:active, &.active{
        background: darken(#1b3540, 2%);
    }
}
.pvc-share-tick{
    .sprite(14px, 11px, url(../images/project/pvc-share-tick.png));
    margin: 0 10px 0 0;
}



// __investing
.project-view-header__investing{
    .project-view-card{
        background: #331d3a;
    }
    .pvc-head{
        color: #fff;
    }
    .pvc-info-name{
        color: #fff;
    }

    .pvc-progress{
        background: #3e3043;
    }
    .pvc-bar{
        background: #612973;
    }
    .pvc-progress-block{
        .over-progress{
            background: lighten(#3e3043, 5%);
        }
    }

    .pvc-share-link{
        padding: 13px 0 11px;
        border: 1px solid #5e3c69;
        background: none;
        &:hover{
            background: #5e3c69;
        }
    }
}
// /__investing
// /header project card





.project-view-oleg{
    margin: -10px 0 20px;
    img{
        display: block;
    }
}



.project-tab{
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
    border-bottom: 1px solid darken(#e1e5ea, 5%);
}
.project-tab-i{
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    width: 1%;
    &:first-child{
        .project-tab-link{
            margin-left: 0;
        }
    }
    &.active{
        z-index: 1;
        .project-tab-link{
            top: 1px;
            margin-top: 0;
            padding-top: 16px;
            padding-bottom: 14px;
            .proxima-bold();
            color: #0e2129;
            background: #fff;
            box-shadow: 0 1px 0 1px #fff;
        }
        &:first-child{
            .project-tab-link{
                box-shadow: 1px 1px 0 1px #fff;
            }
        }
        &:last-child{
            .project-tab-link{
                box-shadow: -1px 1px 0 1px #fff;
            }
        }
    }
}
.project-tab-link{
    position: relative;
    display: block;
    padding: 12px;
    margin: 7px 0 0 1px;
    text-align: center;
    font: 16px/18px @ff-proxima-nova;
    color: #131313;
    background: #e1e5ea;
    white-space: nowrap;
    outline: none;
    &:hover{
        text-decoration: none;
        color: #131313;
        background: darken(#e1e5ea, 5%);
    }
}
.project-tab-att{
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    color: #c0392b;
}
.project-tab-badge{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 6px 1px;
    min-width: 18px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    background: darken(#e1e5ea, 5%);
    &.new-badge{
        background: #ffd131;
        color: #000;
    }
}

.projects-count-badge{
    top: 0;
    right: 0;
    padding: 3px 6px 1px;
    min-width: 18px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    background: #d1cec2;
    &.new-badge{
        background: #fcdc5a;
        color: #000;
    }
}


.sub-content{
    &:extend(.cf-mix all);
    .proxima_nova_rgregular();
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    padding: 20px;
    p{
        margin: 0;
    }
    .track-list-item-name-title{
        .proxima-bold();
    }
    .track-list-item-name{
        font-size: 12px;
    }
}

.donate-action-view{
    margin: 0 0 40px;
    word-wrap: break-word;
    background: #fff;
    &.backers{
        padding: 10px 0;
        .list-loader{
            margin: 0 10px;
        }
    }
    &.comments{
        .attach-comment{
            &:extend(.cf-mix all);
            margin: 0;
            padding: 0 20px;
            border: 0;
            box-shadow: none;
            background: none;
            font-family: @ff-proxima-nova;
            .attach-comment-block{
                margin: 0 -20px;
            }
            .attach-comment-item{
                padding: 15px 20px;
                background: #fff;
            }
            .attach-comment-text{
                margin-left: 44px;
                .name{
                    margin: 0 15px 5px 0;
                    font-size: 14px;
                }
                .name{
                    font-size: 14px;
                }
                .date,
                .answer-to-user{
                    font-size: 12px;
                    color: #ccc;
                    a{
                        color: #ccc;
                        &:hover{
                            color: #000;
                        }
                    }
                }
                .content{
                    font-size: 14px;
                    line-height: 20px;
                }
                .expandable-content {
                    max-height: 20px * 4;
                }
                .link-to-comment{
                    font-size: 12px;
                }
            }
            .show-all, .list-loader{
                margin: 20px 0 0;
                font-size: 14px;
            }
            .pln-ww{
                margin: 20px 0;
                padding: 15px 20px;
                background: #f4f4f4;
                border: 1px solid #c9c9c9;
                .pln-ww-unregister{
                    max-width: 400px;
                    margin: auto;
                    padding: 0;
                    font: 17px/1.3 @ff-proxima-nova;
                    border: 0;
                    background: none;
                }
            }
        }
        .attach-comment-textarea{
            margin: 0 -20px;
            padding: 20px;
            .textarea{
                textarea{
                    height: 42px;
                    padding: 10px 25px 10px 10px;
                    .proxima_nova_rgregular();
                    font-size: 14px;
                    line-height: 20px;
                }
                .rest-count{
                    bottom: 12px;
                    font-size: 12px;
                }
            }
        }
    }
}


.backers-none{
    padding: 20px;
    font: 400 17px/1.5 @baseFontFamily;
    .proxima-bold();
    text-align: center;
}
.backers-list-wrap{
    margin: 0 0 10px;
}
.backers-list-item{
    padding: 10px 20px;
    min-height: 90px;
    .proxima_nova_rgregular();
    font-size: 13px;
    cursor: pointer;
    &:hover{
        background: #f7f8fa;
        .profile-link{
            color: @linkColor;
        }
    }
}
.backers-list-ava{
    float: left;
    width: 70px;
    height: 70px;
    overflow: hidden;
    a{
        display: block;
    }
    img{
        width: 100%;
    }
}
.backers-list-cont{
    margin-left: 86px;
}
.backers-list-date{
    float: right;
    font-size: 12px;
    color: @grayLighter;
}
.backers-list-name{
    margin: 3px 0 8px;
    .profile-link{
        .proxima-bold();
        font-size: 17px;
        line-height: 21px;
        text-decoration: none;
        color: @textColor;
    }
}
.backers-list-text{
    margin: 3px 0 0;
    line-height: 16px;
    color: #c5c6c7;
    [class^=icon-]{
        margin: -1px -2px 0 0;
        vertical-align: top;
    }
}

.updates-list{
    padding: 12px 20px 7px;
    .feed_i{
        border: 0;
        border-top: 1px solid #e6e6e6;
        &:first-child{
            border-top: 0;
            padding-top: 10px;
        }
    }
}


// project author
.project-author{
    position: relative;
    margin: 0 0 10px;
    padding: 20px 20px 0;
    border: 1px solid #dfe1e1;
    background: #fff;
    &_edit{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        opacity: .2;
        &:hover{
            opacity: .4;
        }
    }
    &_block{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &_ava{
        display: table-cell;
        vertical-align: top;
        width: 73px;
        padding: 0 13px 0 0;
        overflow: hidden;
        img{
            display: block;
        }
        .user-avatar{
            width: 60px;
        }
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        word-wrap: break-word;
    }
    &_name-label{
        margin: 0 0 5px;
        .proxima-bold();
        font-size: 10px;
        color: #555;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    &_name{
        .proxima-bold();
        font-size: 18px;
        line-height: 1.2;
    }
    &_links{
        margin: 5px 0 0;
        .proxima_nova_rgregular();
        font-size: 14px;
        line-height: 23px;
    }
    &_action{
        margin: 10px -10px 0;
        padding: 20px;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        border-top: 1px solid #d8dade;
        color: @linkColor;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
    }
}
// /project author




// project new author
.project-new-author{
    position: relative;
    margin: 0 0 10px;
    padding: 20px;
    font: 15px/1.46 @ff-proxima-nova;
    text-align: center;
    color: #666;
    border: 1px solid #d8e0ea;
    background: #fff;
    &:before{
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        border-top: 2px solid #c0392b;
    }
    &_ava{
        width: 50px;
        height: 50px;
        margin: 0 auto 8px;
    }
    &_name{
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }
    &_cont{
        margin: 14px 0 0;
        padding: 12px 0 0;
        border-top: 1px solid #e6e6e6;
    }
    &_head{
        font-weight: 700;
    }
    &_btn{
        margin: 9px 0 0;
        .btn{
            font: 600 13px @ff-proxima-nova;
            border-radius: 3px;
        }
    }
}
// /project new author




// project related
.project-related-head{
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
    .proxima_nova_rgregular();
    font-size: 25px;
    line-height: 27px;
    white-space: nowrap;
    text-align: center;
    color: #090909;
    &:before, &:after{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 12px 10px 0 -50%;
        border-bottom: 1px solid #cfcec9;
    }
    &:after{
        margin: 12px -50% 0 10px;
    }
}
// /project related




// faq tab on project page
.project-faq{
    margin-top: -20px;
    &_i{
        position: relative;
        padding: 20px 60px 20px 40px;
        border-bottom: 1px solid #e6e6e6;
        &:first-child{
            border-top: 0;
        }
        &:before{
            content: "";
            position: absolute;
            top: 26px;
            left: 21px;
            width: 4px;
            height: 8px;
            background: url(../images/arrow/project-page-faq-arrow.png) no-repeat -2px 0;
        }
        &.active{
            &:before{
                top: 29px;
                left: 19px;
                width: 8px;
                height: 4px;
                background-position: 0 -11px;
            }
        }
    }

    &_i-question{
        font: 400 17px/1.5 @baseFontFamily;
        .proxima-bold();
        color: #333;
        cursor: pointer;
    }
    &_i-answer{
        display: none;
        margin-top: 10px;
        font: 15px/1.5 @baseFontFamily;
        .proxima_nova_rgregular();
        color: #333;
    }
    &_i-action{
        position: absolute;
        top: 22px;
        right: 15px;
        [class*="icon-"]{
            margin: 0 0 0 7px;
            opacity: .2;
            cursor: pointer;
            &:hover{
                opacity: .4;
            }
        }
    }

    &_not-find-question{
        width: 296px;
        margin: 40px auto 20px;
        padding: 30px 0 20px;
        .proxima_nova_rgregular();
        text-align: center;
        border: 2px solid @linkColor;
    }

    &_not-question{
        margin: 30px 0;
        .proxima-light();
        font-size: 20px;
        color: #a6a6a6;
        text-align: center;
    }

    &_add-answer{
        width: 460px;
        padding: 23px 18px;
        margin: 50px auto;
        border: 2px solid #c0392b;
        &_head, label{
            .proxima-bold();
            font-size: 16px;
            letter-spacing: .13em;
            text-transform: uppercase;
        }
        &_head{
            margin: 0 0 20px;
            color: #c0392b;
        }
        &-form{
            label{
                margin-bottom: 5px;
            }
            input[type=text], textarea{
                &:extend(.form-control-mix all);
                height: 40px;
                padding: 9px;
                font-size: 15px;
                line-height: 20px;
            }
            textarea{
                height: auto;
            }
        }
        label{
            font-size: 13px;
            color: #262626;
        }
        .fieldset.error{
            input[type=text], textarea{
                border-color: #c0392b;
            }
        }
        .btn{
            font-size: 16px;
            font-weight: 700;
        }
    }
}
//// modal edit faq answer
.modal-dialog{
    .modal-faq-answer{
        border: 0;
        min-width: 0;
        .close{
            position: absolute;
            top: -25px;
            right: -25px;
            font-size: 30px;
            font-weight: 400;
            text-shadow: none;
        }
    }
    .project-faq_add-answer{
        margin: 0;
    }
}
// /faq tab on project page




// promotion
.project-promotion-bar{
    position: relative;
    margin: 0 0 10px;
    padding: 12px 20px 20px;
    font: 15px/1.46 @ff-proxima-nova;
    text-align: center;
    color: #666;
    border: 1px solid #d8dade;
    background: #fff;
    &:before{
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        border-top: 2px solid @linkColor;
    }
    &_head{
        margin: 0 0 10px;
        font-size: 18px;
    }

    &_bar{
        position: relative;
        overflow: hidden;
        margin: 0 0 12px;
        font-size: 0;
        background: #f0eee8;
    }
    &_val{
        float: right;
        margin: -2px 0 0 8px;
        font-size: 11px;
        line-height: 1;
        font-weight: 600;
    }
    &_progress{
        height: 5px;
        max-width: 100%;
        background: @linkColor;
    }
    &_progress-sep{
        position: absolute;
        top: 0;
        left: 25%;
        width: 3px;
        height: 5px;
        margin: 0 0 0 -1.5px;
        background: #fff;
        &.sep-50{
            left: 50%;
        }
        &.sep-75{
            left: 75%;
        }
    }

    &_btn{
        margin: 9px 0 0;
        .btn{
            font: 600 13px @ff-proxima-nova;
            border-radius: 3px;
        }
    }
}
// /promotion



// tvrain
.tvrain-board{
    &:extend(.cf-mix all);
    display: block;
    height: 80px;
    margin: -10px 0 20px;
    background: url(../images/project/tvrain-board.jpg) no-repeat;
    .proxima-bold();
    &, &:hover{
        color: #fff;
        text-decoration: none;
    }
    &_count{
        float: right;
        margin: 19px 50px 0 0;
        font-size: 17px;
        line-height: 20px;
        &_val{
            float: left;
            width: 88px;
            .proxima-light();
            font-size: 50px;
            line-height: 1;
            text-align: right;
        }
        &_lbl{
            margin: 2px 0 0 98px;
        }
    }
    &_text{
        margin: 29px 0 0 164px;
        font-size: 21px;
        line-height: 24px;
        span{
            text-decoration: underline;
        }
    }
}
// /tvrain




.action-card-block{
    // back
    &.highlight{
        &:before{
            content: '';
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: @zindexModal - 21;
            background: fade(#000, 70);

            animation-duration: .7s;
            animation-fill-mode: both;
        }
        .action-card-list{
            background: #f0eee8;
        }
    }

    &.highlightShow{
        &:before{
            top: 0;
            animation-name: backdropHighlightShow;
        }
    }

    &.highlightHide{
        &:before{
            top: -100%;
            animation-name: backdropHighlightHide;
        }
    }
    // /back


    // flash
    &.flashHighlight{
        .action-card-list{
            position: relative;
            z-index: @zindexModal - 20;

            animation-duration: 1.8s;
            animation-delay: .5s;
            animation-fill-mode: both;
            animation-name: flashReward;
        }
    }
    // /flash


    // fade
    &.fadeHighlight{
        .action-card-list{
            position: relative;
            z-index: @zindexModal - 20;

            animation-duration: 1.8s;
            animation-delay: .5s;
            animation-fill-mode: both;
            animation-name: fadeReward;
        }
    }
    // /fade
}



@keyframes backdropHighlightShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes backdropHighlightHide {
    0%{
        top: 0;
        opacity: 1;
    }
    99%{
        top: 0;
    }
    100%{
        top: -100%;
        opacity: 0;
    }
}


@keyframes flashReward {
    0%, 100% {
        box-shadow: 0 0 0 20px transparent;
    }

    33.32%, 66.6% {
        box-shadow: 0 0 0 20px fade(@baseColor, 30);
    }

    16.66%, 50%, 83.3% {
        box-shadow: 0 0 0 20px @baseColor;
    }
}


@keyframes fadeReward {
    0%, 100% {
        box-shadow: 0 0 0 20px transparent;
    }

    30%, 70% {
        box-shadow: 0 0 0 20px @baseColor;
    }
}

