//
// Planeta Project Welcome page
//
// --------------------------------------------


.back-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.back-video{
    position: absolute;
    bottom: 0;
    background: #290001 url(../images/project/rainbow.jpg) no-repeat 50% 50% ~"/" cover;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
}



// project about
.project-about{
    position: relative;
    margin: -20px 0 20px;
    &_cont{
        position: relative;
        background: rgba(8, 53, 66, 0.79);
    }

    &_body{
        padding: 60px 0 72px;
        .proxima_nova_rgregular();
        text-shadow: 0 1px 1px fade(#000, 15);
        text-align: center;
        color: #fff;
        a{
            &, &:hover{
                color: #fff;
            }
        }
    }

    &_head{
        margin: 0 0 8px;
        font-size: 70px;
        line-height: 80px;
        h1{
            margin: 0;
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
        }
    }
    &_post-head{
        margin: 0 0 31px;
        font-size: 43px;
        line-height: 1;
    }
    &_text{
        max-width: 900px;
        margin: 0 auto 61px;
        font-size: 28px;
        line-height: 35px;
    }
    &_create{
        margin: -13px 0 36px;
        text-align: center;
        .pwa-create{
            float: none;
        }
        .pwa-create-link{
            float: none;
            display: inline-block;
            vertical-align: top;
            padding: 22px 22px 20px;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: .08em;
            color: #000;
            text-shadow: 0 1px 0 fade(#fff, 60);
            text-transform: uppercase;
            background: linear-gradient(to bottom, #ffe10d 0%, #ffd309 100%);
            box-shadow: 0 12px 30px fade(#000, 26);
            &:hover{
                color: #000;
            }
        }
        .ctb-action-modal{
            text-align: left;
            color: #000;
            text-shadow: none;
        }
    }

    &_links{
        font-size: 24px;
        line-height: 32px;
        &_cont{
            display: inline-block;
            vertical-align: top;
            padding: 14px 30px;
            background: fade(#00729c, 32);
            border-radius: 100px;
        }
        &_i{
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 51px;
            &:before {
                content: '•';
                position: absolute;
                top: 1px;
                left: -32px;
                font-size: 20px;
                color: fade(#fff, 30);
                text-shadow: none;
            }
            &:first-child{
                margin-left: 0;
                &:before{
                    display: none;
                }
            }
        }
        &_link{
            position: relative;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0;
                right: 0;
                border-bottom: 1px solid fade(#fff, 50);
            }
            &:hover{
                text-decoration: none;
                &:before{
                    border-bottom-color: #fff;
                }
            }
            &.dotted{
                &:before{
                    border-bottom-style: dotted;
                }
            }
        }
    }
}
// /project about
// /deleteByProfileId it



// banner
.bonuses-bn{
    position: relative;
    margin: 0 0 20px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #d8dade;
}
.bonuses-txt{
    position: relative;
    left: -4px;
    display: block;
    width: 858px;
    height: 78px;
    margin: auto;
    background: url(../images/planeta/bonuses-txt.png) no-repeat;
}
.bonuses-txt:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 858px;
    height: 78px;
    background: url(../images/planeta/bonuses-txt-hover.png) no-repeat;
    opacity: 0;
    transition: .2s;
}
.bonuses-txt:hover:before{
    opacity: 1;
}
.bonuses-blot{
    position: absolute;
    top: 30px;
    right: 46px;
    width: 187px;
    height: 18px;
    background: @linkColor;
}
// /banner





// deleteByProfileId it
.project-welcome-main-slider-wrap{
    &:extend(.cf-mix all);
    position: relative;
    margin: 0 0 20px;
}

.pwms-item{
    position: absolute;
    top: -99999px;
    left: -99999px;

    float: left;
    width: @grid960RowWidth - @grid960GutterWidth * 2;
    height: 390px;
    background: #0e2129;
    &:first-child, .caroufredsel_wrapper &{
        position: relative;
        top: 0;
        left: 0;
    }

    &_insert-m{
        display: none;
    }
}
.pwms-img{
    float: left;
    width: 640px;
    img{
        display: block;
    }
}
.pwms-wrap{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.pwms-cont{
    overflow: hidden;
    height: 226px;
    padding: 22px 30px 0;
    color: #fff;
}
.pwms-name{
    margin: 0 0 12px;
    font: 700 18px/22px @ff-proxima-nova;
    a{
        color: #fff;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}
.pwms-text{
    font-size: 14px;
    line-height: 1.5;
    color: #75858c;
}
.pwms-footer{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color: #fff;
}
.pwms-info-i{
    float: left;
    width: 50%;
}
.pwms-info-label{
    margin: 0 0 3px;
    font-size: 11px;
    color: #808080;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.pwms-info-value{
    margin: 0 0 17px;
    font-size: 16px;
    font-weight: 700;
}
.pwms-action{
    .flat-btn{
        width: 100%;
        padding: 10px 0;
        font: 700 14px/16px @baseFontFamily;
        border-radius: 0;
    }
}
// /deleteByProfileId it



// extend rich tab
.project-welcome-tabs-wrap{
    &:extend(.rich-tabs-wrap-mix);
}
.project-welcome-tab{
    &:extend(.rich-tab-mix);
}
.pwt-i{
    &:extend(.rich-tab_i-mix all);
}
.pwt-link{
    &:extend(.rich-tab_link-mix all);
}

.project-welcome-tab-all{
    float: right;
    margin: 2px 0 0;
}
.pwt-all-link{
    display: inline-block;
    .proxima-bold();
    color: @linkColor;
    border-bottom: 1px solid;
    &:hover{
        color: @linkColorHover;
        text-decoration: none;
    }
}
// /extend rich tab




.project-welcome-promo{
    margin: 0 0 20px;
    padding: 32px;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    text-align: center;
    border: 1px solid #d8dade;
    background: #fff;
}
.pwp-date{
    margin: 0 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.pwp-name{
    margin: 0 0 11px;
    .proxima-bold();
    font-size: 30px;
    a{
        color: #000;
        &:hover{
            color: @linkColor;
            text-decoration: none;
        }
    }
}
.pwp-link{
    a{
        font-weight: 700;
        color: @linkColor;
        &:hover{
            color: @linkColorHover;
        }
    }
}




.project-welcome-type{
    margin: 27px 0 38px;
    .proxima_nova_rgregular();
    text-align: center;
}
.pw-type-link{
    display: inline-block;
    margin: 12px 10px 0;
    font-size: 18px;
    color: #aeaeae;
    text-shadow: 0 1px rgba(255,255,255,.75);
    &:hover{
        color: #aeaeae;
    }
}


// project partners
.project-partners{
    padding: 49px 0;
    background: #fff;
    &_head{
        margin: 5px 0 20px;
        font-family: @ff-proxima-nova;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
        color: #1b2336;
    }
    &_link{
        margin: 0 0 30px;
        text-align: center;
        font-size: 15px;
        line-height: 1;
        a{
            text-decoration: underline;
        }
    }
    .partners-list{
        margin: 0 -10px;
        font-size: 0;
        &_i{
            display: inline-block;
            vertical-align: top;
            width: 100%/6;
            padding: 15px 10px;
        }
        &_link {
            position: relative;
            display: block;
            height: 0;
            padding: 0 0 50%;
        }
        &_img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            transform: translateZ(0);
        }
    }
}
// /project partners


.embed-video{
    .video-stub img, .embed-video-cover{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .bb-video-icon{
        z-index: 2;
    }
}

// modal how create
.modal-how-create{
    width: 700px;
    .close{
        &:extend(.thin-close-mix all);
    }
}
// /modal how create




// project-main-banner
.project-main-banner{
    position: relative;
    z-index: 2;
    margin: -60px 0 20px;
    box-shadow: 0 0 0 4px #fff;
}
// /project-main-banner


.projects-welcome-banner-top{
    margin: 0 0 20px;
}
