// welcome carousel



.btn-main-carousel{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 26px;
    font: 22px/16px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(to bottom, #00b1e1 0, #5881db 100%);
    box-shadow: 0 10px 20px fade(#000, 70);
    cursor: pointer;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
    &:focus{
        outline: none;
    }
}




.project-main-carousel{
    position: relative;
    display: block;
    overflow: hidden;
    height: 540px;
    margin: -20px 0 20px;
    font: 22px/1.318 @ff-proxima-nova;
    background: #000;
    color: #fff;

    .animated{
        animation-duration: .6s;
    }
    .owl-item{
        user-select: initial;
    }
    .owl-nav{
        position: absolute;
        top: 0;
        left: 50%;
        width: 940px;
        margin: 0 0 0 -470px;
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        right: 100%;
        top: 245px;
        margin-right: 40px;
        font-size: 50px;
        line-height: 1;
        opacity: .3;
        transition: .2s;
        &:hover{
            opacity: .6;
        }
    }
    .owl-next{
        right: auto;
        left: 100%;
        margin-right: 0;
        margin-left: 40px;
    }


    &_i{
        background: no-repeat 50% 0 / cover;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 540px;
    }
    &_head{
        margin: 0 0 20px;
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
    }
    &_btn{
        margin: 23px 0 0;
    }


    .project-about{
        margin: 0;
        &_body{
            padding: 85px 0 97px;
        }
    }
}
