/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* /reset */

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}





@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}


@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}


.animate {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}



@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('../../fonts/alsrubl-arial-regular.eot');
    src: url('../../fonts/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/alsrubl-arial-regular.woff') format('woff'),
         url('../../fonts/alsrubl-arial-regular.ttf') format('truetype'),
         url('../../fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.b-rub{
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
    line-height: normal;
}
@font-face {
    font-family: 'gothampro-reg';
    src: url('../../fonts/gothaproreg-webfont.eot');
    src: url('../../fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gothaproreg-webfont.woff') format('woff'),
         url('../../fonts/gothaproreg-webfont.ttf') format('truetype'),
         url('../../fonts/gothaproreg-webfont.svg#gotham_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../../fonts/proximanova-bold-webfont.eot');
    src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../../fonts/proximanova-reg-webfont.eot');
    src: url('../../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-reg-webfont.woff') format('woff'),
         url('../../fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* sharing */
.header-sharing{
    float: right;
    margin: 5px 0 0;
    white-space: nowrap;
}
.header-sharing_title {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px 0 0;
    font-family: 'gothampro-reg', Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}

.share-cont-horizontal {
    display: inline-block;
    vertical-align: top;
}



[class^="bs-icons-"] {
    display: inline-block;
    vertical-align: top;
    background: url(../../images/pln-sharing.svg) no-repeat 0 0 / auto 100%;
    cursor: pointer;
    opacity: .6;
    transition: opacity .1s;
    border-radius: 5px;
}
[class^="bs-icons-"]:hover {
    opacity: 1;
}
[class^="bs-icons-"] {
    width: 40px;
    height: 40px;
}
.bs-icons-fb {
    background-position: -50px 0;
}
.bs-icons-tw {
    background-position: -100px 0;
}
.bs-icons-ok {
    background-position: -150px 0;
}
.bs-icons-mr {
    background-position: -200px 0;
}
.bs-icons-gp {
    background-position: -250px 0;
}
.bs-icons-sb {
    background-position: -300px 0;
}
.bs-icons-tg {
    background-position: -350px 0;
}
.sharing-popup-social {
    font-size: 0;
    white-space: nowrap;
}
.sps-button {
    display: inline-block;
    vertical-align: top;
}
.spsb-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
}
.spsb-item:first-child {
    margin: 0;
}
.spsb-item a,
.spsb-item a:hover{
    text-decoration: none;
    border: none !important;
}
.sps-count {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
}
.sps-count span {
    display: inline-block;
    vertical-align: top;
    margin-left: .3em;
}
.sharing-mini {
    position: relative;
}
.sharing-mini [class^="bs-icons-"] {
    border-radius: 0;
}
.sharing-mini [class^="bs-icons-"] {
    width: 25px;
    height: 25px;
}
.sharing-mini .bs-icons-fb {
    background-position: -31px 0;
}
.sharing-mini .bs-icons-tw {
    background-position: -63px 0;
}
.sharing-mini .bs-icons-ok {
    background-position: -94px 0;
}
.sharing-mini .bs-icons-mr {
    background-position: -125px 0;
}
.sharing-mini .bs-icons-gp {
    background-position: -156px 0;
}
.sharing-mini .bs-icons-sb {
    background-position: -188px 0;
}
.sharing-mini .bs-icons-tg {
    background-position: -219px 0;
}
.sharing-mini .sps-count {
    margin-top: 4px;
}
.sharing-popup-social {
    font-family: 'ProximaNova', Arial, sans-serif;
}
/* /sharing */



html, body{
    height: 100%;
    font-size: 12px;
    line-height: 1.2;
    background: #f1f1f1;
    color: #000;
    overflow: hidden;
    min-width: 1024px;
}

a{
    color: #3498db;
    text-decoration: none;
    border-bottom: 1px solid rgba(52, 152, 219, .4);
}
a:hover{
    color: #19608f;
    border-bottom: 1px solid rgba(25, 96, 143, .4);
}


#map{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background: rgba(255,255,255,.89);
}
.header-cont{
    padding: 18px 27px;
}
.logo{
    border: none !important;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 3.87434555em;
    line-height: 1em;
    font-size: 35px;
    background: url(../../images/pln-logo.svg) no-repeat;
}
.logo:before {
    content: "\00a0";
}
.logo:hover{
    text-decoration: none;
}


.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    background: rgba(255,255,255,.89);
    font-family: 'gothampro-reg', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
}
.footer-cont{
    padding: 30px;
}
.copy{
    float: left;
}
.copy a{
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}
.copy a:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.success-link{
    text-align: center;
}


.million-watch{
    position: absolute;
    top: 95px;
    left: 38px;
    font: 30px/40px 'ProximaNovaBold', Arial, sans-serif;
    color: #151515;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.million-watch_fill{
    background: #fff;
    box-decoration-break: clone;
    -webkit-box-shadow: 12px 0 0 0 #fff, -12px 0 0 0 #fff;
            box-shadow: 12px 0 0 0 #fff, -12px 0 0 0 #fff;
}
.million-watch_val{
    color: #fff;
    background: #fa1f34;
    -webkit-box-shadow: 12px 0 0 0 #fa1f34, -12px 0 0 0 #fa1f34;
            box-shadow: 12px 0 0 0 #fa1f34, -12px 0 0 0 #fa1f34;
}



.point-reward{
    visibility: hidden;
    position: relative;
    min-height: 100px;
    min-width: 150px;
    padding: 0 0 8px;
    border-left: 2px solid #00b0e0;
}
.point-reward:hover{
    z-index: 10;
}
.point-reward.animate{
    visibility: visible;
}
.point-reward::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: 8px;
    height: 4px;
    background: #00b0e0;
    border-radius: 100%;
}
.reward-price{
    font: 18px/22px 'ProximaNovaBold', Arial, sans-serif;
    color: #fff;
}
.reward-price-in{
    display: inline-block;
    margin: 0 0 0 -2px;
    padding: 7px 14px 7px 16px;
    background: #00b0e0;
    box-shadow: 0 45px 19px 1px rgba(0, 176, 224, 0.4), 0 0 23px 3px rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}
.reward-name{
    max-width: 200px;
    font: 12px/19px 'ProximaNovaRegular', Arial, sans-serif;
    color: #3498db;
}
.reward-name-in{
    background: #fff;
    -webkit-box-shadow: 4px 0 0 6px #fff, -4px 0 0 6px #fff;
            box-shadow: 4px 0 0 6px #fff, -4px 0 0 6px #fff;
}
.reward-name-link{
    display: block;
    padding: 4px 10px;
    border: 0 !important;
    text-decoration: underline;
}
