//
// Planeta Message
// --------------------------------------------


.modal-new-message{
    width: 560px;
}

.s-message-sprite{
    .sprite(16, 16, url(../images/message/s-message.png));
}

.s-message-close        { background-position: 0 0 }
.s-message-ww-size      { background-position: -30px 0 }
.s-message-ww-size-full { background-position: -60px 0 }
.s-message-search       { background-position: -90px 0 }

.s-message-sprite-white{
    &.s-message-close        { background-position: 0 -30px }
    &.s-message-ww-size      { background-position: -30px -30px }
    &.s-message-ww-size-full { background-position: -60px -30px }
    &.s-message-search       { background-position: -90px -30px }
}


.icon-dlg-bubble{
    background: url(../images/icon/icon-dlg-bubble.png) -16px 0;
}



.dlg-page{
    overflow-y: hidden;
    #global-container {
        min-height: 0;
        margin-bottom: 0;
    }
    .footer{
        display: none;
    }
}
.dlg{
    position: relative;
    .dlg-top-shadow{
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 16px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.dlg-content{
    position: relative;

    .dlg-content-bottom-shadow{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 7px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .list-loader{
        margin: 0 7px;
    }

    .dlg-content-list{
        height: 300px;
        position: relative;
        overflow: hidden;
    }
    .dlg-content-list-block{
        margin: 0;
        list-style: none;
        word-wrap: break-word;
    }

	.dlg-content-list-date {
        font: 700 12px @baseFontFamily;
        color: #666;
        border-bottom: 1px solid @grayLighter;
        padding: 0 0 2px;
        margin: 8px 0 13px;
        [class^=icon-]{
            opacity: .35;
        }
	}

    .dlg-content-list-item{
        position: relative;
        display: block;
        padding: 6px 0;
		margin: 0 8px;
        min-height: 50px;

        &:hover{
            .dlg-content-list-text{
                .dlg-content-list-text-message{
                    .option{
                        .option-time{display: none;}
                        .option-btn{display: block;}
                    }
                }
            }
        }

        &.continue{
            padding: 0 0 10px;
            border-top: 0 solid #ccc;
            min-height: 20px;
            .dlg-content-list-text{
                .dlg-content-list-text-message{
                    margin-top: 0;
                }
            }
        }
    }

    .dlg-content-list-ava{
        width: 32px;
        height: 32px;
        overflow: hidden;
        float: left;
    }

    .dlg-content-list-text{
        margin-left: 46px;
    }

    .dlg-content-list-text-info{
        line-height: 14px;
    }
    .dlg-content-list-text-message{
        color: @textColor;
        margin-top: 3px;
        position: relative;
        &.new{
            background: #ebf8fd;
            margin: 1px -8px -2px;
            padding: 2px 8px;
            .option{
                right: 8px;
                top: 2px;
            }
        }
        .text{
            margin: 0 80px 0 0;
            word-wrap: break-word;
        }
        .option{
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;
            width: 34px;
            color: @grayLighter;
            font-size: 11px;
            .option-btn{
                display: none;
                .delete{
                    cursor: pointer;
                }
                .close{
                    cursor: pointer;
                    font-size: 16px;
                    color: @grayLighter;
                    opacity: 1;
                    &:hover{
                        color: @grayLight;
                    }
                }
            }
        }
    }

    .scrollbar-pane{
        position: relative;
    }
    .scrollbar-handle-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 8px;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.75s ease 1s;
        .scrollbar-handle{
            background: #bbb;
            opacity: .70;
            border-radius: 4px;
            margin: 0 1px;
            width: 6px;
            height: 120px;
            cursor: pointer;
            position: absolute;
            &:hover, &:active{
                opacity: 1;
            }
        }
    }

    &:hover{
        .scrollbar-handle-container{
            opacity: 1;
            transition: opacity .05s ease .05s;
        }
    }
}
.dlg-post{
    position: relative;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    #gradient > .vertical(#f9f9f9, #f1f1f1);
    .dlg-post-noise{
        padding: 11px 13px 7px;
        border-top: 1px solid #fff;
    }

    .dlg-post-form{
        margin: 0 65px;
    }
    .pln-ww{
        margin: 0;
        .pln-ww-content{
            border: 0;
            padding: 0;
            background: none;
            box-shadow: none;
            .pln-ww-content-textarea{
                margin: 0;
                padding-right: 18px;
                border: 0;
                textarea{
                    border: 1px solid #ccc;
                    background: #fff;
                    border-radius: 4px;
                    box-shadow: 0 3px 3px rgba(0,0,0,.1) inset;
                    min-height: 36px;
                    padding-right: 8px;
                    &:focus{
                        box-shadow: 0 3px 3px rgba(0,0,0,.1) inset;
                        &:-moz-placeholder{
                            color: #ddd;
                        }
                    }
                    &:-moz-placeholder{
                        min-height: 36px;
                        padding: 6px 8px;
                        line-height: @baseLineHeight;
                        color: #bfbfbf;
                    }
                    &::-moz-placeholder{
                        min-height: 36px;
                        padding: 6px 8px;
                        line-height: @baseLineHeight;
                        color: #bfbfbf;
                    }
                }
            }
            .pln-ww-content-option{
                background: none;
                border: 0;
                padding: 0;
                margin: 7px 0 0;
            }
        }
    }

    .dlg-post-from, .dlg-post-to{
        width: 50px;
        position: absolute;
        left: 14px;
        top: 11px;
        .ava{
            overflow: hidden;
            img{
                display: block;
            }
            a{
                width: 50%;
            }
        }
    }
    .dlg-post-to{
        left: auto;
        right: 14px;
    }
}


.btn-load-previous-messages{
    border-bottom: 1px solid #ccc;
    color: @blue;
    display: block;
    margin: 0 5px;
    padding: 6px 0;
    text-decoration: none;
}



// dialog members list
.dialog-members{
    .dm-header{
        margin: 17px 0 10px;
    }
    .dm-h-block{
        margin: 0 0 10px;
    }
    .dm-h-opt{
        float: right;
        margin: 3px 0 0;
        [class^=icon-]{
            cursor: pointer;
            opacity: .18;
            &:hover{
                opacity: .5;
            }
        }
    }
    .dm-h-block-name{
        font: 16px/20px @baseFontFamily;
    }
}

.right-dialog-wrap{
    position: relative;
    .rdw-top-shadow,
    .rdw-bottom-shadow{
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 18px;
        background: url(../images/planeta/dlg-shadows.png) no-repeat 0 -31px;
    }
    .rdw-bottom-shadow{
        bottom: auto;
        top: 100%;
        background-position: -252px -38px;
    }
}

.right-dialog{
    position: relative;
    overflow: hidden;

    .rd-top-shadow,
    .rd-bottom-shadow{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 7px;
        background: url(../images/planeta/dlg-shadows.png) no-repeat 0 -49px;
    }
    .rd-bottom-shadow{
        top: auto;
        bottom: 0;
        background-position: -252px -31px;
    }

    .list-loader{
        a{
            margin: 5px;
        }
    }

    .scrollbar-pane{
        position: relative;
    }
    .scrollbar-handle-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 8px;
        opacity: 0;
        transition: opacity 0.75s ease 1s;
        .scrollbar-handle{
            background: #bbb;
            opacity: .7;
            border-radius: 4px;
            margin: 0 1px;
            width: 6px;
            height: 120px;
            cursor: pointer;
            position: absolute;
            &:hover, &:active{
                opacity: 1;
            }
        }
    }

    &:hover{
        .scrollbar-handle-container{
            opacity: 1;
            transition: opacity 0s ease .05s;
        }
    }
}

.right-dialog-list{
    list-style: none;
    margin: 0;
    .rd-item{
        &.active{
            .rd-link-bl{
                background: @blueLight;
            }
        }
        &:hover{
            .rd-link-bl{
                background: #f9f9f9;
            }
        }
        &.status-online{
            .rd-status{
                background: @blue;
            }
        }
    }
    .rd-link-bl{
        position: relative;
        color: @textColor;
        text-decoration: none;
        display: block;
        padding: 4px 45px 4px 0;
        height: 32px;
    }
    .rd-status{
        float: left;
        width: 3px;
        height: 32px;
        background: #bfbfbf;
    }
    .rd-ava{
        float: left;
        width: 32px;
        height: 32px;
        overflow: hidden;
    }
    .rd-name{
        display: block;
        .text-overflow();
        margin: 7px 0 0 45px;
        font-weight: 700;
        font-size: 12px;
    }
    .rd-msg-count{
        display: block;
        font-size: 10px;
        line-height: 10px;
        padding: 2px 4px 1px 3px;
        min-width: 6px;
        text-align: center;
        color: #fff;
        background-color: @linkColor;
        position: absolute;
        right: 9px;
        top: 14px;
    }
}

.dm-footer{
    position: relative;
    z-index: 2;
}
.dm-footer-action{
    .fa-btn{
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        line-height: 14px;
        color: @grayLight;
        padding: 9px 0;
        text-decoration: none;
        &.active, &:hover{
            color: @gray;
            .fa-btn-caret{
                border-top-color: @gray;
            }
        }
    }
    .fa-spr{
        color: @grayLight;
        vertical-align: middle;
    }
    .fa-btn-caret{
        display: inline-block;
        border-top: 4px  solid @grayLight;
        border-left: 4px  solid transparent;
        border-right: 4px  solid transparent;
        vertical-align: middle;
    }
}
.dm-dropdodown-menu-contacts{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 243px;
    margin: 0 0 0 -123px;
    padding: 3px 0;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.15);

    .open > &{
        display: block;
    }

    .str{
        position: absolute;
        width: 13px;
        height: 8px;
        background: url(../images/arrow/dlg-drop-arrow.png) no-repeat;
        left: 50%;
        bottom: 100%;
        margin: 0 0 0 -7px;
    }

    &.bottom-up{
        top: auto;
        bottom: 100%;
        .str{
            bottom: auto;
            top: 100%;
            background-position: 0 -8px;
        }
    }
}
.dmc-list{
    margin: 0;
    list-style: none;
    .dmc-item{
        &:hover{
            .dmc-item-link{
                background: #f9f9f9;
            }
        }
        &.active{
            .dmc-item-link{
                background: @blueLight;
            }
            [class^=icon-]{
                display: block;
            }
        }
    }
    .dmc-item-link{
        display: block;
        position: relative;
        color: @textColor;
        text-decoration: none;
        padding: 7px 24px;
        [class^=icon-]{
            display: none;
            position: absolute;
            left: 5px;
            top: 11px;
        }
    }
}
// /dialog members list


// dialog members list drop block
.dml-drop-block{
    position: fixed;
    z-index: @zindexModal + 10;
    width: 240px;
    padding: 0 8px;
    background: fade(#1f2d37, 90);

    &, & *{
        box-sizing: content-box;
    }

    .right-dialog{
        height: 335px;
        background: #fff;
    }
    .right-dialog-list{
        .rd-link-bl{
            padding-left: 4px;
        }
    }
    .dialog-members{
        .dm-header{
            margin-top: 8px;
            margin-bottom: 10px;
        }
        .dm-h-block{
            cursor: pointer;
            margin-bottom: 11px;
        }
        .dm-h-block-name{
            color: #fff;
        }
        .dm-h-opt{
            [class^=icon-]{
                &:extend(.s-message-sprite);
                &:extend(.s-message-sprite-white all);
                opacity: .5;
                &:hover{
                    opacity: 1;
                }
            }
            .icon-ww-size{
                &:extend(.s-message-ww-size);
            }
            .icon-close{
                &:extend(.s-message-close);
            }
        }
    }
    .dm-footer-action{
        .fa-btn{
            color: #fff;
            opacity: .8;
            &.active, &:hover{
                opacity: 1;
                .fa-btn-caret{
                    border-top-color: #fff;
                }
            }
        }
        .fa-btn-caret{
            border-top-color: #fff;
        }
    }

    &.collapsed{
        .dm-search,
        .right-dialog-wrap,
        .dm-footer{
            display: none;
        }
    }
    .dm-search{
        position: relative;
        z-index: 1;
        input{
            display: block;
            width: 100%;
            padding: 4px 27px 4px 4px;
            border: 0;
            height: 18px;
        }
        .input-icon.shift-icon-top [class^="icon-"]{
            top: 6px;
        }
    }
}
// /dialog members list drop block

// dialog drop block
.dlg-drop-block{
    position: fixed;
    z-index: @zindexModal + 10;
    width: 250px;
    border: 8px solid transparent;
    background: fade(#1f2d37, 90);

    &, & *{
        box-sizing: content-box;
    }

    .dlg-header{
        padding: 0;
        position: relative;
        z-index: 2;
        border-radius: 4px;
    }
    .dlg-h-opt{
        float: right;
        margin: 7px 0 0;
        [class^=icon-]{
            &:extend(.s-message-sprite);
            &:extend(.s-message-sprite-white all);
            cursor: pointer;
            opacity: .5;
            &:hover{
                opacity: 1;
            }
        }
        .icon-ww-size{
            &:extend(.s-message-ww-size);
        }
        .icon-close{
            &:extend(.s-message-close);
        }
    }
    .dlg-h-title{
        &:extend(.cf-mix all);
        display: block;
        color: #fff;
        text-decoration: none;
    }
    .dlg-h-title-ava{
        width: 32px;
        height: 32px;
        float: left;
    }
    .dlg-h-title-name{
        .text-overflow();
        margin: 6px 0 0 42px;
        font-size: 16px;
        line-height: 20px;
    }

    .dlg-top-shadow,
    .dlg-content-top-shadow,
    .dlg-content-bottom-shadow{
        display: none;
    }

    .dlg{
        z-index: 1;
        border-radius: 4px 4px 0 0;
        margin: 8px 0 0;
    }
    .dlg-content{
        background: #fff;
        .dlg-content-list-item{
            padding: 6px 0;
            font-size: 11px;
            line-height: 14px;
            min-height: 0;
            &.continue{
                padding-top: 0;
            }
        }
        .dlg-content-list-ava{
            display: none;
        }
        .dlg-content-list-text{
            margin-left: 0;
        }
        .dlg-content-list-text-message{
            .text{
                margin-right: 34px;
            }
        }
    }

    .dlg-post{
        border-radius: 0 0 4px 4px;
        background: none;
        border: 0;
        .reset-filter();
        .dlg-post-noise{
            border-radius: 0 0 4px 4px;
            background: none;
            padding: 8px 0 0;
            border: 0;
        }
        .dlg-post-from{
            display: none;
        }
        .dlg-post-form{
            margin: 0;
        }
        .pln-ww{
            min-height: 0;
            .pln-ww-content{
                background: #fff;
            }
            .pln-ww-content-textarea{
                padding: 5px 11px;
                textarea{
                    display: block;
                    resize: none;
                    border: none;
                    background: none;
                    min-height: 32px;
                    max-height: 52px;
                    font-size: 11px;
                    line-height: 13px;
                    padding: 0;
                    overflow: hidden;
                    overflow-y: auto;
                    box-shadow: none;
                    border-radius: 0;
                    &:focus{
                        box-shadow: none;
                    }
                    &:-moz-placeholder{
                        font-size: 10px;
                        line-height: 15px;
                        padding: 0;
                        min-height: 32px;
                    }
                    &::-moz-placeholder{
                        font-size: 10px;
                        line-height: 15px;
                        padding: 0;
                        min-height: 32px;
                    }
                    &::-webkit-placeholder{
                        margin: 0;
                        padding: 1px 0 0;
                        font-size: 10px;
                        line-height: 15px;
                    }
                    &::-webkit-input-placeholder{
                        margin: 0;
                        padding: 1px 0 0;
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }
        }
    }

    &.collapsed{
        width: 258px;
        border-width: 4px;
        .dlg-h-opt{
            margin-top: 1px;
        }
        .dlg-h-title-ava{
            width: 22px;
            height: 22px;
        }
        .dlg-h-title-name{
            margin: 2px 0 0 30px;
            font-size: 14px;
            line-height: 18px;
        }
        .dlg{
            display: none;
        }
    }
}
// /dialog drop block


// notification of new message
.qn-message{
    .qn-m-ava{
        float: left;
        width: 32px;
        height: 32px;
        overflow: hidden;
        img{
            display: block;
        }
    }
    .qn-m-cont{
        &:extend(.cf-mix all);
        margin: 0 0 0 39px;
    }
    .qn-m-name{
        font-weight: 700;
        line-height: 16px;
        a{
            color: #fff;
        }
    }
    .qn-m-descr{
        line-height: 16px;
    }
    .qn-m-date{
        float: right;
        margin: 10px 0 0;
        font-size: 10px;
        line-height: 13px;
        color: #97a2aa;
        a{
            color: #97a2aa;
        }
    }
}

.quick-notif-block{
    position: fixed;
    z-index: @zindexModal + 20;
    width: 375px;
    bottom: 0;
    left: 0;
}
.quick-notif{
    margin: 0 0 15px 15px;
    padding: 8px;
    position: relative;
    background: fade(#1f2d37, 90);
    .qn-close{
        position: absolute;
        top: 8px;
        right: 9px;
        .icon-close{
            background-position: 0 -50px;
            cursor: pointer;
            opacity: .5;
            &:hover{
                opacity: 1;
            }
        }
    }
    .qn-content{
        padding: 7px;
        color: #fff;
        word-wrap: break-word;
        border-radius: 4px;
    }
}

.dialog-float {
    .img-crop img, .bb-video-cover img, .bb-image-cover img{
        max-width:100%;
    }
    .track-list .track-list-item .track-list-item-name{
        margin-right:42px;
    }
    .track-list .track-list-item .track-list-item-option{
        width:30px;
    }
}

.quick-notif {
    .img-crop img, .bb-video-cover img, .bb-image-cover img{
        max-width:100%;
    }
}
// /notification of new message
