<#include "email-template-header.ftl">
<@compress single_line=true>

<p><b>Здравствуйте, коллеги!</b></p>
<p>Во вложении к данному письму направляем уведомление о дальнейшей работе с документами на платформе Planeta.ru. В частности, мы планируем прекратить действие предыдущего соглашения о порядке использования сервиса «Акционирование» и уведомить о форме нового соглашения.</p>


</@compress>
<#include "email-template-footer.ftl">