// Vertical-center-align a block
// ----------------------------------
.vertical-align(){
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    .central-block{
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
    }
    .vertical-align{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
}
.vert-align{
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    &:after{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
}
.vert-align-center{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
}

