// ticket print less
// --------------

@media print{
    .noprint{
        display: none;
    }
}

.coupon-page{
    font-family: Arial, sans-serif;
    font-size: 13px;
    background: #fff;
}
.coupon-print{
    background-color: #fff;
    width: 638px;
    display: block;
    margin:  20px auto;
    border:  1px solid #808080;
    padding: 0 18px;
    position: relative;
    word-wrap: break-word;
    h5 {
        font-size: 14px;
    }
    h3, h4, h5, h6 {
        line-height: 36px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        color: #404040;
    }
}

.print-bg{
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    overflow: hidden;
    z-index: 1;
}

.shadow {
    position:relative;
    width:640px;
    margin: auto;
    background:#fff;
    > :first-child:before {
        content:"";
        position:absolute;
        z-index:-1;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:#fff;
        @shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: @shadow;
    }
    &:before,
    &:after {
        content:"";
        position:absolute;
        z-index:-2;
        bottom:15px;
        left:10px;
        width:50%;
        height:20%;
        max-width:300px;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-2deg);
    }
    &:after {
        right:10px;
        left:auto;
        transform: rotate(2deg);
    }
}

.coupon-print-item{
    border-top: 1px solid #ccc;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 200;
    overflow: hidden;

    &:first-child{
        border-top: 0 solid #fff;
    }
    .logo{
        float: left;
        width: 201px;
        height: 53px;
        display: inline-block;
    }
    .info h1{
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        font-weight: 700;
        margin: 0 0 15px;
    }
    .info h2{
        font-size: 16px;
        line-height: 100%;
        font-weight: 700;
        margin: 0 0 15px;
    }
    .info h3{
        font-size: 14px;
        line-height: 100%;
        font-weight: 700;
        margin: 0 0 20px;
    }
    .info-item{
        display: table;
        position: relative;
    }
    .info span{
        float: left;
        padding-right: 25px;
        position: relative;
        top: 0;
        width: 150px;
        color: #4c4c4c;
    }
    .info span b{
        display: block;
        color: #000;
        font-weight: normal;
    }
    .info span.price b{
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
    }
    .info span.number b{
        font-size: 17px;
        font-weight: 700;
    }
    .description img{
        display: inline-block;
        margin: 5px 15px 0 0;
        max-width: 150px;
    }
    .description .descr{
        overflow: hidden;
    }
    .bbtext img{
        display: inline-block;
        margin: 5px 15px 0 0;
    }
    .info-delivery-date{
        margin: -9px 0 15px;
    }
}

.code{
    color: #4C4C4C;
    display: inline-block;
    font-size: 22px;
    line-height: 28px;
    width: 350px;
    float: left;
    b{
        color: #000;
        font-size: 24px;
        display: block;
    }
}
.shcode{
    display: inline-block;
    width: 230px;
    padding: 0 0 0 20px;
    float: right;
}

.coupon-print-menu{
    float: right;
    font: 700 15px/19px "Trebuchet MS", Tahoma, sans-serif;
    margin: 36px 0 0 72px;
    span{
        margin: 0 0 0 5px;
    }
}

.order-address-table{
    margin: 0;
    table-layout: fixed;
    word-wrap: break-word;
    td{
        border: 0;
    }
}





// tickets page
.page-break{
    page-break-after: always;
}

.tickets-page{
    background: #fff;
    font: 12px/16px Arial, sans-serif;
    color: #000;
}
.ticket-layout{
    width: 680px;
    margin: 0 auto;
    padding: 30px 0;
}
.ticket-layout-info{
    &:extend(.cf-mix all);
    .info-header{
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        margin: 5px 0 20px;
    }
}
.print-watermark{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}
.ticket-container{
    word-wrap: break-word;
    margin: 0 0 20px;
    position: relative;

    .t-counterfoil{
        position: relative;
        display: table-cell;
        vertical-align: top;
        width: 165px;
        padding: 15px;
        border: 1px solid #ccc;
        border-left: 1px dashed #b2b2b2;
        z-index: 3;
        &.large-item{
            .t-cf-info{
                margin: 0 0 25px;
            }
        }
    }
    .t-cf-info{
        margin: 0 0 7px;
        font-size: 11px;
    }
    .t-cf-info-item-name{
        font-weight: 700;
        color: #808080;
    }
    .t-cf-info-item-value{
        font-weight: 700;
    }

    .qr-code{
        font-size: 0;
        line-height: 0;
        br{
            clear: both;
        }
        img{
            display: block;
            max-width: 133px;
            max-height: 133px;
        }
    }

    .t-cont{
        display: table-cell;
        vertical-align: top;
        border: 1px solid #ccc;
        border-right: 0;
        padding: 20px 15px 20px 64px;
        position: relative;
        z-index: 2;
        min-height: 310px;
    }
    .t-logo{
        margin: 0 0 0 -44px;
        img{
            display: block;
            height: 39px;
        }
    }
    .t-menu{
        font: 400 13px/19px @baseFontFamily;
        margin: -9px 0 10px;
        color: #808080;
        span{
            margin: 0 3px 0 0;
        }
    }
    .t-head-info{
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        margin: 0 0 10px;
    }
    .t-head-date{
        font-size: 21px;
        line-height: 24px;
        font-weight: 700;
        .sep{
            font-size: 18px;
            color: #b2b2b2;
        }
    }
    .t-age-limit{
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #808080;
    }
    .t-place{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px;
    }

    .t-info{
        .ti-item{
            margin: 7px 0 0;
            font-weight: 700;
            &:first-child{
                margin-top: 0;
            }
        }
        .ti-item-name{
            float: left;
            width: 130px;
            color: #808080;
        }
        .ti-item-value{
            overflow: hidden;
        }
    }

    .t-other-info{
        &:extend(.cf-mix all);
        margin: 40px 0 0;
    }
    .toi-planeta{
        float: left;
        width: 130px;
    }
    .toi-organizer{
        float: left;
    }
    .toi-name{
        color: #808080;
        font-weight: 700;
        margin: 0 0 2px;
    }
    .toi-value{
        font-weight: 700;
        line-height: 21px;
    }
    .toi-info{
        margin: 10px 0 0;
        line-height: 18px;
        color: #808080;
    }
    .toi-text{
        margin: 10px 0 0;
        font-size: 11px;
        color: #808080;
    }

}
// /tickets page
