// Fonts variables
// -------------------------------------------------------------





// ProximaNova
@ff-proxima-nova: 'ProximaNova', @baseFontFamily;
.font-proxima-nova{
    font-family: @ff-proxima-nova;
}

// proxima nova alias
.proxima_nova_rgregular{
    &:extend(.font-proxima-nova);
}
.proxima-light{
    font-family: @ff-proxima-nova;
    font-weight: 300;
}
.proxima-bold{
    font-family: @ff-proxima-nova;
    font-weight: 700;
}





// GothamPro
@ff-gotham-pro: 'GothamPro', @baseFontFamily;
.font-gotham-pro{
    font-family: @ff-gotham-pro;
}

// gotham pro alias
.gothampro-reg{
    &:extend(.font-gotham-pro);
}
.gothampro-bold{
    font-family: @ff-gotham-pro;
    font-weight: 700;
}
.gothampro-black{
    font-family: @ff-gotham-pro;
    font-weight: 900;
}


// PF Din Condensed Pro
@ff-pfdin-cond-pro: 'PFDinCondPro', @baseFontFamily;
.font-pfdin-cond-pro{
    font-family: @ff-pfdin-cond-pro;
}

// pfdin cond pro alias
.ff-pf-din-cond-pro{
    &:extend(.font-pfdin-cond-pro);
}


// PF Din Text Pro
@ff-pfdin-text-pro: 'PFDinTextPro', @baseFontFamily;
.font-pfdin-text-pro{
    font-family: @ff-pfdin-text-pro;
}

// pfdin cond pro alias
.ff-pf-din-text-pro{
    &:extend(.font-pfdin-text-pro);
}



// PFSquareSansPro
@ff-pfsquare-sans-pro: 'PFSquareSansPro', @baseFontFamily;
.ff-pfsquare-sans-pro{
    font-family: @ff-pfsquare-sans-pro;
}


// IdealistSansLightSC
@ff-idealist-sans-light-sc: 'IdealistSansLightSC', @baseFontFamily;
