//
// Planeta Followers
// --------------------------------------------


.s-n-follow-admin{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 8px;
    background: url(../images/network/s-n-followers-admin.png) no-repeat;
    &.hover{
        background-position: -30px 0;
    }
    &.active{
        background-position: -60px 0;
    }
}

.modal-followers{
    width: 802px;
}


.n-followers{
    &_tab{
        cursor: default;
        &_i{
            display: inline-block;
            vertical-align: top;
            margin: 0 24px 0 0;
            &.active{
                .n-followers_tab_name{
                    color: #000;
                    border-bottom: 0;
                    cursor: default;
                }
            }
        }
        &_name{
            color: @linkColor;
            border-bottom: 1px dotted;
            cursor: pointer;
            &:hover{
                color: @linkColorHover;
            }
        }
        &_count{
            margin: 0 0 0 3px;
            .proxima_nova_rgregular();
        }
        .s-n-follow-admin{
            margin: 4px 0 0;
        }
    }

    &_search{
        &_input{
            height: 50px;
            margin-top: -1px;
            padding: 19px 30px 17px;
            .proxima_nova_rgregular();
            font-size: 12px;
            line-height: 14px;
            letter-spacing: .1em;
            text-transform: uppercase;
            border: 0;
            border-top: 1px solid #e0dfdd;
            border-bottom: 1px solid #e0dfdd;
            background: #f6f6f4;
        }
    }

    &_list{
        margin: -20px 0 0 -20px;
    }
    &_i{
        float: left;
        width: 233px;
        margin: 20px 0 0 20px;
        &.active{
            .n-followers_action{
                display: block;
                &:hover{
                    .s-n-follow-admin{
                        &:extend(.s-n-follow-admin.hover);
                    }
                }
                .s-n-follow-admin{
                    &:extend(.s-n-follow-admin.active);
                }
            }
        }
        &.not-change{
            .n-followers_action{
                &:hover{
                    .s-n-follow-admin{
                        &:extend(.s-n-follow-admin.active);
                    }
                }
            }
        }
        &:hover{
            .n-followers_action{
                display: block;
            }
        }
    }
    &_ava{
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
    }
    &_new{
        position: absolute;
        top: -8px;
        right: -7px;
        min-width: 26px;
        padding: 3px 3px 1px;
        .proxima_nova_rgregular();
        font-size: 13px;
        line-height: 1;
        text-align: center;
        color: #000;
        background: #fcdc5a;
    }
    &_cont{
        margin: 0 0 0 40px;
        padding: 7px 0 5px;
    }
    &_name{
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        padding: 0 25px 0 0;
        .text-overflow();
        word-wrap: normal;
        .proxima-bold();
        font-size: 14px;
        line-height: 16px;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &_action{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        font: 0/0 a;
        cursor: pointer;
        &:hover{
            .s-n-follow-admin{
                background-position: -30px 0;
            }
        }
    }

    &_more{
        margin: 20px -30px -30px;
        padding: 20px 0;
        border-top: 1px solid #dcdcdc;
        text-align: center;
        color: @linkColor;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
            background: #f2f2f2;
        }
    }
}

