//
// Planeta Profile Card
// --------------------------------------------



.n-content{
    margin: 0 0 20px;
    padding: 28px 20px;
    background: #fff;
    &_hr{
        height: 0;
        margin: 0 -20px 35px;
        border-bottom: 1px solid #e6e6e6;
    }
}

.n-sidebar{
    padding: 9px 0 0 18px;
    &_head{
        margin: 0 0 10px;
        font-family: @ff-proxima-nova;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: #0c0c0c;
    }
    &_cont{
        font-family: @ff-proxima-nova;
        font-size: 17px;
        line-height: 1.5;
        a{
            text-decoration: underline;
        }
    }
    &_plate{
        margin: 0 0 30px -18px;
        padding: 20px;
        background: #fff;
        box-shadow: 0 2px 5px fade(#000, 8);
        .btn-block + .btn-block{
            margin-top: 10px;
        }
    }
}



[class^="s-n-social-"], [class*=" s-n-social-"]{
    &, &:before{
        .sprite(35, 28, url(../images/network/s-n-social.png));
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    &:hover{
        &:before{
            opacity: 1;
            transition: opacity ease-in-out .16s;
        }
    }
}
.s-n-social-vk   {
    //background-position: 0 0
    &:before{
        background-position: 0 -50px
    }
}
.s-n-social-fb   {
    background-position: -50px 0;
    &:before{
        background-position: -50px -50px
    }
}
.s-n-social-tw   {
    background-position: -100px 0;
    &:before{
        background-position: -100px -50px
    }
}
.s-n-social-gp   {
    background-position: -150px 0;
    &:before{
        background-position: -150px -50px
    }
}


.n-social{
    margin: 0 0 40px;
    &_links{
        cursor: default;
    }
    &_link{
        margin: 0 0 0 14px;
        &:first-child{
            margin-left: 0;
        }
    }
}


.n-project-stat{
    margin: 0 0 40px;
    &_head{
        margin: 0 0 17px;
    }
    &_list{
        font-family: @ff-proxima-nova;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #0c0c0c;
    }
    &_i{
        margin: 15px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }
    &_lbl{
        margin: 0 0 3px;
    }
    &_val{
        height: 6px;
        border-radius: 10px;
    }
}
.cat-color{
    &__animation { background-color: #ff6247; color: #ff6247 }
    &__charity { background-color: #d399fb; color: #d399fb }
    &__video { background-color: #75bffb; color: #75bffb }
    &__design { background-color: #f766b3; color: #f766b3 }
    &__food { background-color: #f98a73; color: #f98a73 }
    &__games { background-color: #927df4; color: #927df4 }
    &__art { background-color: #7ae2f1; color: #7ae2f1 }
    &__film { background-color: #fdd526; color: #fdd526 }
    &__literature { background-color: #b2ef30; color: #b2ef30 }
    &__fashion { background-color: #8eda51; color: #8eda51 }
    &__music { background-color: #fcbc43; color: #fcbc43 }
    &__science { background-color: #478fe8; color: #478fe8 }
    &__social { background-color: #a8bec0; color: #a8bec0 }
    &__travel { background-color: #e77c7d; color: #e77c7d }
    &__sport { background-color: #b1c69e; color: #b1c69e }
    &__dance { background-color: #aea693; color: #aea693 }
    &__theater { background-color: #b29dc5; color: #b29dc5 }
    &__technology { background-color: #93c8c0; color: #93c8c0 }
    &__photo { background-color: #ca94b5; color: #ca94b5 }
    &__another { background-color: #c5c5c5; color: #c5c5c5 }
}



.more-link{
    display: block;
    margin: 10px 0 0;
    padding: 14px 0;
    font-family: @ff-proxima-nova;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    color: #000;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #000;
        background: #f2f2f2;
    }
    &_text{
        border-bottom: 1px solid fade(#000, 20);
    }
}

.card_balance{
    &_val,
    &_hold{
        float: left;
        min-width: 70px;
        padding: 10px;
        font-family: @ff-proxima-nova;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
    }
    &_val{
        font-size: 16px;
        color: #171717;
        background: #dae1e6;
    }
    &_hold{
        margin-right: 5px;
        font-size: 14px;
        color: #808080;
        background: #dfddd6;
        &_val{
            font-family: @ff-proxima-nova;
        }
    }
    &_action{
        overflow: hidden;
        padding: 0 0 0 10px;
        .btn{
            &:hover{
                &:before{
                    background: #3aacf8;
                }
            }
            &:before{
                content: '';
                position: absolute;
                top: 16px;
                left: -5px;
                width: 7px;
                height: 7px;
                .rotate(45deg);
                background: @linkColor;
            }
        }
    }
}

