//
// Planeta Profile Card
// --------------------------------------------



[class^="s-n-card-"], [class*=" s-n-card-"]{
    display: inline-block;
    vertical-align: top;
    background: url(../images/network/s-n-card.png) no-repeat;
}
.s-n-card-opt{
    width: 20px;
    height: 20px;
    background-position: 0 0;
}
.s-n-card-del{
    width: 11px;
    height: 11px;
    background-position: -30px 0;
}


.n-card{
    &_main{
        position: relative;
        margin: 0 0 20px;
        padding: 20px;
        min-height: 140px;
        background: #0e2129;
    }

    &_ava{
        position: relative;
        float: left;
        width: 100px;
        height: 100px;
        overflow: hidden;
        &:hover{
            .n-card_ava_del, .n-card_ava_change{
                opacity: .7;
                &:hover{
                    opacity: 1;
                }
            }
        }
        &_del, &_change{
            position: absolute;
            right: 0;
            padding: 7px;
            background: #000;
            cursor: pointer;
            opacity: 0;
            transition: .2s;
        }
        &_del{
            top: 0;
            line-height: 0;
        }
        &_change{
            left: 0;
            bottom: 0;
            padding: 8px;
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            color: #fff;
        }
    }
    &_cont{
        margin: 0 0 0 120px;
        .proxima-light();
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }
    &_name{
        margin: -4px 0 3px;
        font-size: 40px;
        line-height: 40px;
    }
    &_meta{
        margin: 0 0 7px;
        &_i{
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 17px;
            color: #c3ccce;
            &:first-child{
                padding-left: 0;
                &:before{
                    display: none;
                }
            }
            &:before{
                content: '•';
                position: absolute;
                top: -1px;
                left: 4px;
                color: #696969;
            }
        }
    }
    &_descr-link{
        margin: 0 0 0 2px;
        padding: 1px 4px;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        background: @linkColor;
        cursor: pointer;
        &:hover{
            background: @linkColorHover;
        }
    }
    &_opt{
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 7px;
        cursor: pointer;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }


    &_info-block{
        height: 140px;
        padding: 20px;
        margin: 0 0 20px;
        background: #fff;
        box-shadow: 0 2px 5px fade(#000, 8);
    }

    &_info{
        &:extend(.cf-mix all);
        margin: 15px 0 0;
        &_i{
            position: relative;
            float: left;
            width: 50%;
            padding: 3px 0;
            .proxima-light();
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #0c0c0c;
            cursor: pointer;
            &:hover{
                background: #f2f2f2;
            }
            &:first-child{
                &:before{
                    display: none;
                }
            }
            &:before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                border-left: 1px solid #dfddd5;
            }
        }
        &_val{
            margin: 0 0 3px;
            font-size: 30px;
            line-height: 1;
        }
        &_lbl{
            text-transform: uppercase;
            letter-spacing: .08em;
        }
        &_count{
            position: absolute;
            top: 0;
            right: 0;
            min-width: 30px;
            padding: 3px 5px 1px;
            .proxima_nova_rgregular();
            font-size: 13px;
            line-height: 1;
            text-align: center;
            color: #000;
            background: #fcdc5a;
        }

        // __one
        &__one{
            .n-card_info_i{
                width: 100%;
            }
        }
    }

    &_subscr-btn{
        margin: 0 !important;
        background: #d0d9df;
        border-color: #d0d9df;
        &:hover{
            background: lighten(#d0d9df, 5%);
            border-color: lighten(#d0d9df, 5%);
        }
        &:active{
            background: darken(#d0d9df, 10%);
            border-color: darken(#d0d9df, 10%);
        }
    }
}


// modal profile info
.modal-profile-info{
    width: 720px;
    .modal-body{
        font-size: 14px;
        line-height: 1.5;
    }
}
// /modal profile info
