//
// Planeta Profile Search
// --------------------------------------------


.n-search{
    margin: -20px 0 10px;
    background: #fff;
    border-bottom: 1px solid #dfdedb;
    &_input{
        width: 100%;
        height: auto;
        padding: 14px 0;
        margin: 0;
        .proxima-light();
        font-size: 40px;
        line-height: 60px;
        color: #000;
        border: 1px solid;
        &, &:focus{
            border-color: #fff;
            box-shadow: none;
            outline: none;
        }
    }
    .back-placeholder{
        font-size: 40px;
    }


    &_i{
        &:extend(.cf-mix all);
        margin: 0 0 10px;
        border: 1px solid #e4e1d7;
        background: #fff;
    }
    &_ava{
        float: left;
        width: 100px;
        height: 100px;
        margin: 20px;
        img{
            display: block;
        }
    }

    &_info{
        float: right;
        width: 320px;
        padding: 10px;
        border-left: 1px solid #e4e1d7;
        &_list{
            &:extend(.cf-mix all);
            height: 69px;
            padding: 3px 0 10px;
        }
        &_i{
            box-sizing: border-box;
            float: left;
            width: 50%;
            padding: 1px 0 2px;
            text-align: center;
            .proxima-light();
            border-left: 1px solid #e4e1d7;
            &:first-child{
                border-left: 0;
            }
        }
        &_list{
            &__1{
                .n-search_info_i{
                    width: 100%;
                }
            }
            &__3{
                .n-search_info_i{
                    width: 33.3333%;
                }
            }
            &__empty{
                height: 74px;
                margin-top: -5px;
                background: url(../images/network/n-search_info_list__empty.png) no-repeat 13px 0;
            }
        }
        &_val{
            font-size: 35px;
            line-height: 1;
        }
        &_lbl{
            font-size: 15px;
            line-height: 18px;
        }
    }

    &_action{
        padding: 10px 0 0;
        border-top: 1px solid #e4e1d7;
    }

    &_cont{
        margin: 20px 340px 0 120px;
        .proxima-light();
        font-size: 14px;
        line-height: 18px;
    }
    &_name{
        .text-overflow();
        margin: -2px 0 3px;
        font-size: 40px;
        line-height: 40px;
        a{
            color: #000;
        }
    }
    &_meta{
        margin: 0 0 7px;
        &_i{
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 17px;
            color: #434343;
            &:first-child{
                padding-left: 0;
                &:before{
                    display: none;
                }
            }
            &:before{
                content: '•';
                position: absolute;
                top: -1px;
                left: 4px;
                color: #696969;
            }
        }
    }
    &_descr{
        overflow: hidden;
        max-height: 36px;
        .proxima-light();
    }


    &_blog-filter{
        padding: 25px;
        background: #fff;
        &_head{
            margin: 0 0 15px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
        }
        &_cont{
            .radiobox-row{
                margin: 10px 0 0;
                font-size: 14px;
                &:first-child{
                    margin-top: 0;
                }
            }
            .checkbox-label, .radiobox-label{
                padding-top: 1px;
            }
        }
    }
}
