//
// Planeta Settings
// --------------------------------------------



.n-settings{
    &_cont{
        padding: 10px 0 0;
        background: #fff;
        .input-url_lbl{
            padding-left: 16px;
        }
    }

    &_title-soc{
        position: absolute;
        top: -6px;
        right: -6px;
        & + .fieldset_warning{
            right: 40px;
        }
    }

    &_action{
        margin: 20px 0;
    }
}


.action-status {
    border: 2px solid #2ecc71;
    padding: 14px 20px 14px 40px;
    margin: 0 10px 0 0;
    background-color: white;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 15px;
        top: 15px;
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/s-mx.png) no-repeat left top;
    }
}
