<pl-photo-plugin *ngIf="withPlugin(pluginType.PHOTO)" #plugin></pl-photo-plugin>
<pl-video-plugin *ngIf="withPlugin(pluginType.VIDEO)" #plugin></pl-video-plugin>
<pl-music-plugin *ngIf="withPlugin(pluginType.MUSIC)" #plugin></pl-music-plugin>
<pl-link-plugin *ngIf="withPlugin(pluginType.LINK)" #plugin></pl-link-plugin>
<pl-external-plugin *ngIf="withPlugin(pluginType.EXTERNAL)" #plugin></pl-external-plugin>
<pl-fullscreen-faq-edit-plugin *ngIf="withPlugin(pluginType.FULLSCREEN_FAQ)" #plugin></pl-fullscreen-faq-edit-plugin>
<pl-fullscreen-campaign-plugin *ngIf="withPlugin(pluginType.FULLSCREEN_CAMPAIGN)" #plugin></pl-fullscreen-campaign-plugin>
<textarea style="visibility: hidden" #tinymce></textarea>