// Fonts
// -------------------------------------------------------------

@import "rub-font.less";



// Minion Pro SemiboldIt
.fontFace('minionpro', 'minionpro-semiboldit', 'minionprosemiboldit', 600, italic);

@ff-minionpro: 'minionpro', @baseFontFamily;
.ff-minionpro{
    font-family: @ff-minionpro;
}





// ProximaNova Regular
.fontFace('ProximaNova', 'proximanova-reg-webfont', 'proxima_nova_rgregular');
.fontFace('ProximaNova', 'proximanova-light-webfont', 'proxima_nova_ltlight', 300);
.fontFace('ProximaNova', 'proxima_nova_semibold-webfont', 'proxima_nova_ltsemibold', 600);
.fontFace('ProximaNova', 'proximanova-bold-webfont', 'proxima_nova_rgbold', 700);
.fontFace('ProximaNova', 'proximanova-black-webfont', 'proxima_nova_rgblack', 900);

@ff-proxima-nova: 'ProximaNova', @baseFontFamily;
.ff-proxima-nova{
    font-family: @ff-proxima-nova;
}





// GothamPro Regular
.fontFace('GothamPro', 'gothaproreg-webfont', 'gotham_proregular');
.fontFace('GothamPro', 'gothaprobol-webfont', 'gotham_probold', 700);
.fontFace('GothamPro', 'gothaprobla-webfont', 'gotham_problack', 900);

@ff-gotham-pro: 'GothamPro', @baseFontFamily;
.ff-gotham-pro{
    font-family: @ff-gotham-pro;
}





// Mir
.fontFace('Mir', 'mir_regular-webfont', 'mirregular');
.fontFace('Mir', 'mir_medium-webfont', 'mirmedium', 500);
.fontFace('Mir', 'mir_bold-webfont', 'mirbold', 700);

@ff-mir: 'Mir', @baseFontFamily;
.ff-mir{
    font-family: @ff-mir;
}




// DIN Pro Bold
.fontFace('DINPro', 'dinpro-regular-webfont', 'dinpro-regularregular');
.fontFace('DINPro', 'dinpro-bold-webfont', 'dinprobold', 700);

@ff-din-pro: 'DINPro', @baseFontFamily;




// PF Din Condensed Pro
.fontFace('PFDinCondPro', 'pfdintextcondpro-regular-webfont', 'pf_din_text_cond_proregular');
.fontFace('PFDinCondPro', 'pfdintextcondpro-medium-webfont', 'pf_din_text_cond_promedium', 500);
.fontFace('PFDinCondPro', 'pfdintextcondpro-bold-webfont', 'pf_din_text_cond_probold', 700);

@ff-pfdin-cond-pro: 'PFDinCondPro', @baseFontFamily;

