// Import base Planeta less
@import "../../../../../less/base/common";

.form-control-mix {
    display: block;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    transition: all linear .2s;

    .placeholder(#afaeae);

    &:focus{
        transition: all linear .2s;
        border-color: @linkColor;
        .placeholder(#bfbfbf);
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: #f5f5f5;
        border-color: #ddd;
        cursor: not-allowed;
        opacity: 1; // iOS fix for unreadable disabled content
    }

    textarea& {
        height: auto;
        resize: none;
    }
}

.pl-input-control {
    display: table;
    position: relative;
    width: 100%;
    .transition(all linear .2s);

    &_outer-label {
        margin: 0 0 11px;
        &_lbl {
            display: inline-block;
            vertical-align: top;
            font-family: 'Roboto Condensed', Arial, sans-serif;
            font-size: 12px;
            line-height: 14px;
            color: #aaaeb1;
            text-transform: uppercase;
        }
    }

    &_inner-label {
        position: absolute;
        z-index: 10;
        top: 8px;
        left: 16px;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 14px;
        cursor: text;
        pointer-events: none;
        .error &{
            color: #ef5928;
        }
    }

    &_val {
        font-family: @ff-roboto;
        font-weight: 500;
        border: 1px solid #e8e8e8;
        color: #454553;

        .error.ng-invalid & {
            border-color: #ff501a;
        }

        &-inner {
            height: 64px;
            padding: 27px 16px 16px;
            font-size: 16px;
            line-height: 19px;
        }

        &-outer {
            height: 56px;
            padding: 19px 48px 19px 16px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &_addon{
        display: table-cell;
        vertical-align: top;
        width: 166px;
        padding: 19px 48px 19px 16px;
        font-family: @ff-roboto;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #afafaf;
        border: 1px solid #e8e8e8;
        border-right-width: 0;
    }

    &_help {
        display: none;
        position: absolute;
        top: calc(~'50% - 8px');
        right: 16px;
        width: 16px;
        height: 16px;
        padding: 1px 0 0;
        font-size: 13px;
        line-height: 1;
        font-weight: 900;
        color: #ef5928;
        text-align: center;
        background: #ffe1d7;
        border: 1px solid #ef5928;
        border-radius: 50%;
        cursor: default;
        .error &{
            display: block;
        }
    }

    &.error .pl-input-control_val, &.error .pl-input-control_inner-label {
        border-color: #ff501a;
        .transition(all linear .2s);
    }
}

@media (max-width: 667px) {
    .pl-input-control_addon {
        display: block;
        width: auto;
        border-right-width: 1px;
        border-bottom: 0;
        text-align: center;
    }
}
