// Dropdown styles
.dropdown-menu {
    top: 100%;
    display: block;
    max-width: none;
    left: -1px;
    right: -1px;
    border-color: #ccc;
    border-top: 0;

    animation-duration: .1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: pl-select_bottom;
    transform-origin: 0 0;
    visibility: hidden;
    margin: -99999px 0 0 -99999px;
}

.dropdown-menu::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
    background: #f0f0f0;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: @linkColor;
}

.dropdown-menu:hover::-webkit-scrollbar-thumb {
    background: @linkColor;
}
