<div *ngIf="settings.labelType === labelTypes.OUTER" class="pl-input-control_outer-label">
    <label class="pl-input-control_outer-label_lbl"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>
</div>

<div class="pl-input-control" [class.error]="hasError()" #inputControl>
    <textarea id="{{ labelCode }}"
              [(ngModel)]="model"
              class="form-control pl-input-control_val"
              [class.pl-input-control_val-inner]="settings.labelType === labelTypes.INNER"
              [class.pl-input-control_val-outer]="settings.labelType === labelTypes.OUTER"
              (input)="changeValue($event.target.value)"
              [disabled]="settings.disabled"
              [placeholder]="getPlaceholderTranslate()"
              [required]="settings.required"
              [readonly]="settings.readOnly"
              [rows]="settings.rows"
              fz-elastic></textarea>

    <label *ngIf="settings.labelType === labelTypes.INNER"
           class="pl-input-control_inner-label"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>

    <span class="pl-input-control_help"
          tooltip="{{ getError() }}"
          placement="{{ tooltipPositionTop() }}"
          triggers="click:click click:mouseleave mouseenter:mouseleave"
          container="body">!</span>
</div>
