// BUTTON STYLES
// -------------

// Base styles
// --------------------------------------------------

// Core

.btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 6px 9px;
    background: #e3e1dc;
    border: 1px solid #d7d6d3;
    font: 700 14px/18px @baseFontFamily;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    .border-radius(0);
    &:hover{
        background: lighten(#e3e1dc, 2%);
        border-color: lighten(#d7d6d3, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(#e3e1dc, 3%);
        border-color: darken(#d7d6d3, 3%);
        outline: none;
    }
    &[disabled], &.disabled{
        cursor: default;
        border-color: #d8d8d8;
        background-image: none;
        background-color: #f6f6f6;
        .box-shadow(none);
        opacity: .5;
    }
}

.btn-input-file{
    position: absolute;
    overflow: hidden;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 600%;
        line-height: 600%;
        width: auto;
        height: auto;
        .opacity(0);
        cursor: pointer;
    }
}

// Set the backgrounds
// -------------------------
.btn-primary{
    border: 1px solid @linkColor;
    background: @linkColor;
    color: #fff;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled, &[disabled]{
        background: @linkColor;
        border-color: @linkColor;
    }
}

.btn-red{
    border: 1px solid #c0392b;
    background: #c0392b;
    color: #fff;
    &:hover{
        background: lighten(#c0392b, 10%);
        border-color: lighten(#c0392b, 10%);
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #c0392b;
        border-color: #c0392b;
    }
    &.disabled, &[disabled]{
        background: #c0392b;
        border-color: #c0392b;
    }
}

// Warning appears are orange
.btn-warning{
    background: #ec971f;
    border-color: #ec971f;
    &:hover{
        background: #fca428;
        border-color: #fca428;
    }
    &.active, &:active{
        background: #df8609;
        border-color: #df8609;
    }
    &.disabled, &[disabled]{
        background: #fbe7cb;
        border-color: #fbe7cb;
        color: #ffcb83;
    }
}

// Success appears as green
.btn-success{
    background: #43c843;
    border-color: #43c843;
    &:hover{
        background: #4ede4e;
        border-color: #4ede4e;
    }
    &.active, &:active{
        background: #2fb32f;
        border-color: #2fb32f;
    }
    &.disabled, &[disabled]{
        background: #d4f2d4;
        border-color: #d4f2d4;
        color: #63f363;
    }
}

// Info appears as a neutral blue
.btn-info{
    background: #2980b9;
    border-color: #2980b9;
    &:hover{
        background: #368fca;
        border-color: #368fca;
    }
    &.active, &:active{
        background: #2477ad;
        border-color: #2477ad;
    }
    &.disabled, &[disabled]{
        background: #f3f6f7;
        border-color: #f3f6f7;
    }
}

// TODO deleteByProfileId flat-btn
.flat-btn{
    &:extend(.btn all);
    &:extend(.btn-primary all);
}

.flat-btn.flat-btn-default{
    &:extend(.btn all);
}



.btn-lg{
    padding: 10px 15px;
}

.btn-xlg{
    padding: 15px 25px;
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn{
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
    }
}

.btn-block-mix(){
    display: block;
    padding-right: 0;
    padding-left: 0;
}

.btn-block{
    .btn-block-mix();
}

input[type="button"], input[type="reset"], input[type="submit"]{
    &.btn-block{
        .box-sizing(border-box);
        width: 100%;
    }
}

.btn-block + .btn-block{
    margin-top: 5px;
}


