// Fonts variables
// -------------------------------------------------------------


// Helios
@font-family-helios: 'HeliosCRegular', @baseFontFamily;
.font-helios{
    font-family: @font-family-helios;
}

// helios alias
.hfont{
    font-family: @font-family-helios;
    font-weight: 100;
}
.hlfont{
    font-family: @font-family-helios;
    font-weight: 300;
}
.hbfont{
    font-family: @font-family-helios;
    font-weight: 700;
}



// MinionPro
@font-family-minionpro: 'minionpro', @baseFontFamily;
.font-minionpro{
    font-family: @font-family-helios;
}

// minionpro alias
.minionpro-semiboldit{
    font-family: @font-family-helios;
    font-weight: 600;
    font-style: italic;
}




// HelveticaNeue
@font-family-helvetica-neue: 'helveticaneue', @baseFontFamily;
.font-helvetica-neue{
    font-family: @font-family-helvetica-neue;
}

// helvetica neue alias
.helveticaneue-roman{
    &:extend(.font-helvetica-neue);
}
.helveticaneue-light{
    font-family: @font-family-helvetica-neue;
    font-weight: 300;
}
.helveticaneue-bold{
    font-family: @font-family-helvetica-neue;
    font-weight: 700;
}




// ProximaNova
@font-family-proxima-nova: 'ProximaNova', @baseFontFamily;
.font-proxima-nova{
    font-family: @font-family-proxima-nova;
}

// proxima nova alias
.proxima_nova_rgregular{
    &:extend(.font-proxima-nova);
}
.proxima-light{
    font-family: @font-family-proxima-nova;
    font-weight: 300;
}
.proxima-bold{
    font-family: @font-family-proxima-nova;
    font-weight: 700;
}





// GothamPro
@font-family-gotham-pro: 'GothamPro', @baseFontFamily;
.font-gotham-pro{
    font-family: @font-family-gotham-pro;
}

// gotham pro alias
.gothampro-reg{
    &:extend(.font-gotham-pro);
}
.gothampro-bold{
    font-family: @font-family-gotham-pro;
    font-weight: 700;
}
.gothampro-black{
    font-family: @font-family-gotham-pro;
    font-weight: 900;
}


// PF Din Condensed Pro
@font-family-pfdin-cond-pro: 'PFDinCondPro', @baseFontFamily;
.font-pfdin-cond-pro{
    font-family: @font-family-pfdin-cond-pro;
}

// pfdin cond pro alias
.ff-pf-din-cond-pro{
    &:extend(.font-pfdin-cond-pro);
}

