// basket



// basket-popup
.basket-popup{
    left: auto;
    right: 0;
    &_cont{
        position: relative;
        margin: 23px 0 0;
        padding: 20px;
        color: #000;
        border: 1px solid #d6e1ec;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 10px 15px fade(#000, 10);
        &:before{
            content: '';
            position: absolute;
            bottom: 100%;
            right: 86px;
            width: 20px;
            height: 20px;
            margin: 0 0 -9px;
            border-left: 1px solid #d6e1ec;
            border-top: 1px solid #d6e1ec;
            background: #fff;
            transform: rotate(45deg);
        }
    }
}
// /basket-popup



// basket drop list
.basket{
    @basket-offset: 20px;

    .scroll-content{
        width: 355px;
        margin: 0 -20px 0 0;
        padding: 0 20px 0 0;
        max-height: 101px * 3 - 21; // 3 – 3-items; 21 – basket offset + border
        .scrollbar-handle-container{
            top: 4px;
        }
        .scrollbar-handle{
            opacity: .3;
        }
        &:hover{
            .scrollbar-handle{
                opacity: .3;
                &:hover{
                    opacity: .5;
                }
            }
        }
    }


    &_header{
        padding: 0 0 16px;
        font-size: 15px;
        line-height: 18px;
        border-bottom: 1px solid #dde5ea;
    }


    &_list{
        width: 335px;
        margin: -20px 0 0;
    }
    &_i{
        &:extend(.cf-mix all);
        position: relative;
        padding: @basket-offset 0;
        border-top: 1px solid #dde5ea;
        &:first-child{
            border-top: 0;
        }
        &:hover{
            .basket_del{
                opacity: 1;
            }
        }
    }

    &_cover{
        float: left;
    }
    &_cover-link{
        display: block;
        width: 60px;
        height: 60px;
        border: 1px solid #d6e1ec;
        border-radius: 5px;
        overflow: hidden;
        transform: translateZ(0);
        &:hover{
            border-color: @baseColor;
        }
    }

    &_cont{
        margin: 0 0 0 78px;
    }
    &_name{
        margin: 3px 0 9px;
        .text-overflow();
        font-size: 14px;
        line-height: 16px;
        &_link{
            text-decoration: none;
        }
    }
    &_cost{
        float: left;
        margin: 8px 30px 0 0;
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        color: #333;
        .b-rub{
            position: relative;
            top: -0.8em;
            font-size: 60%;
        }
    }
    &_i-action{
        float: left;
        font-size: 0;
    }
    &_count{
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 0;
        text-align: center;
        font-size: 0;
        &_btn{
            display: inline-block;
            vertical-align: top;
            top: 0;
            left: 0;
            width: 21px;
            height: 21px;
            font-size: 15px;
            line-height: 19px;
            font-weight: 700;
            color: #7b94a2;
            text-align: center;
            border: 1px solid #d4e1ec;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            &:hover{
                border-color: #6797a5;
            }
            &.disabled{
                color: #95a5a6;
                opacity: .3;
                cursor: default;
                border-color: #d4e1ec;
            }
            &.plus{
                line-height: 21px;
            }
        }
        &_val{
            display: inline-block;
            vertical-align: top;
            width: 48px;
            height: 21px;
            margin: 0 9px;
            padding: 2px 5px 0;
            font: 700 17px/18px @ff-proxima-nova;
            color: #7b94a2;
            text-align: center;
            border: 1px solid #d4e1ec;
            border-radius: 5px;
            &:focus{
                border-color: #6797a5;
            }
        }
    }

    &_del{
        position: absolute;
        bottom: 22px;
        right: 0;
        width: 30px;
        padding: 7px 0;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #999;
        opacity: 0;
        cursor: pointer;
        transition: .2s;
        &:hover{
            color: #333;
        }
    }


    &_footer{
        border-top: 1px solid #dde5ea;
        padding: 18px 0 0;
    }
    &_sum{
        margin: 0 0 16px;
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
        .b-rub{
            position: relative;
            top: -.6em;
            font-size: 70%;
        }
    }
    &_action{
        &:extend(.cf-mix all);
        .shop-btn{
            width: 156px;
            padding-left: 0;
            padding-right: 0;
        }
        .shop-btn-default{
            float: left;
        }
        .shop-btn-primary{
            float: right;
        }
    }

    &_empty{
        padding: 20px 32px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
    }
}
// /basket drop list



// basket add product dropdown
.basket-popup-add{
    .basket-add-show &{
        display: block;
    }
    .basket_list{
        margin-top: 0;
    }
}
// /basket add product dropdown

