// cart-list



.cart-list{
    margin: 0 0 55px;
    border: 1px solid #d4e1ec;
    border-radius: 5px;
    td, th{
        border: 0 !important;
    }
    td{
        padding: 19px 0;
        &:last-child{
            padding-right: 28px;
        }
    }
    tr{
        &:hover{
            td{
                background: #eef5ff;
            }
        }
    }
    thead{
        th{
            padding: 10px 0;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            &:last-child{
                padding-right: 28px;
            }
        }
    }
    .b-rub{
        font-size: 60%;
    }
    &_del-wrap{
        td&{
            text-align: center;
        }
    }
    &_del{
        margin: -14px 0 0;
        font-size: 38px;
        line-height: 1;
        color: #d4e1ec;
        cursor: pointer;
        &:hover{
            color: #ff002b;
        }
    }
    &_product{
        position: relative;
        padding: 10px 0 0 125px;
        min-height: 100px;
    }
    &_link{
        &, &:hover{
            color: #000;
        }
    }
    &_cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid #d8e3ed;
        margin: 0 18px 0 0;
        img{
            display: block;
        }
    }
    &_name{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
    }

    &_digit-label-block{
        margin: 11px 0 0;
    }
    &_digit-label{
        display: inline-block;
        vertical-align: top;
        padding: 8px 20px;
        line-height: 14px;
        color: #fff;
        border-radius: 5px;
        background: #00bae9;
    }

    &_preorder-label-block{
        margin: 11px 0 0;
    }
    &_preorder-label{
        display: inline-block;
        vertical-align: top;
        padding: 7px 19px;
        line-height: 14px;
        color: #d24a43;
        border: 1px solid #d24a43;
        border-radius: 5px;
    }

    &_price,
    &_sum{
        margin: 23px 0 0;
        font-weight: 700;
        font-size: 22px;
        text-align: right;
    }

    &_amount{
        margin: 12px auto 0;
        text-align: center;
        font-size: 0;
    }
    &_amount-input{
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 35px;
        margin: 0 9px;
        padding: 2px 5px 0;
        font: 700 17px/18px @ff-proxima-nova;
        color: #7b94a2;
        text-align: center;
        border: 1px solid #d4e1ec;
        border-radius: 5px;
        &:focus{
            border-color: #6797a5;
        }
    }
    &_amount-btn{
        display: inline-block;
        vertical-align: top;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        margin: 7px 0 0;
        font-size: 15px;
        line-height: 19px;
        font-weight: 700;
        color: #7b94a2;
        text-align: center;
        border: 1px solid #d4e1ec;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        &:hover{
            border-color: #6797a5;
        }
        &.disabled{
            color: #95a5a6;
            opacity: .3;
            cursor: default;
            border-color: #d4e1ec;
        }
        &.plus{
            line-height: 21px;
        }
    }
}




.cart-action-block{
    &:extend(.cf-mix all);
}

.cart-action{
    float: right;
    &_cost{
        &:extend(.cf-mix all);
        white-space: nowrap;
        &_lbl{
            float: left;
            margin: 9px 0 0;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #7b94a2;
        }
        &_val{
            float: right;
            margin: 0 25px 0 46px;
            font-size: 32px;
            line-height: 1;
            font-weight: 700;
            .b-rub{
                font-size: 60%;
            }
        }
        &_promocode{
            display: inline-block;
            vertical-align: top;
            margin: 4px 0 0;
            font-size: 24px;
            color: #74b65f;
        }
        & + &{
            margin-top: 10px;
        }
    }
    &_btn{
        margin: 13px 0 0;
        .shop-btn{
            width: 100%;
        }
    }
}




.cart-delivery-free{
    float: left;
    margin: 13px 0 0;
    padding: 15px 30px 12px;
    font-size: 14px;
    line-height: 1.2;
    color: #74b65f;
    text-align: center;
    border: 1px solid #74b65f;
    border-radius: 5px;
    &_b{
        display: block;
        margin: 1px 0 0;
        font-size: 22px;
        font-weight: 700;
    }
}
