// cart-empty



.cart-empty{
    &_msg{
        margin: 0 0 40px;
        padding: 167px 0 0;
        font-family: @ff-proxima-nova;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        background: url(../images/tv/ufo-404.png) no-repeat 50% -13px;
    }
}

