// cart-short



.cart-short-header{
    &:extend(.cf-mix all);
    margin: 0 0 10px;
    &_head{
        float: left;
        font-size: 18px;
    }
    &_edit-link{
        float: right;
        margin: 8px 0 0;
        font-size: 12px;
        line-height: 1;
        color: @baseColor;
        border-bottom: 1px solid #cde8f8;
        cursor: pointer;
        &:hover{
            color: darken(@baseColor, 10%);
            text-decoration: none;
            border-bottom-color: darken(#cde8f8, 10%);
        }
    }
}



.cart-short{
    &_i{
        &:extend(.cf-mix all);
        margin: 19px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_val{
        float: right;
        margin: 4px 0 0 10px;
        font-size: 16px;
        font-weight: 700;
    }
    &_val-count{
        font-size: 14px;
        font-weight: 400;
        color: #666;
    }
    &_lbl{
        overflow: hidden;
        font-size: 12px;
        line-height: 1.2;
        max-height: 2 * 1.2 * 12px;
    }
}
