// product-preview



.product-preview{
    &:extend(.cf-mix all);
    margin: 0 0 55px;
    &_list-wrap{
        float: left;
        width: 90 * 100% / 641;
        .scroll{
            padding: 0;
            border: 0;
        }
        .scroll-content{
            height: auto;
            max-height: 520px;
            margin-right: -20px;
            padding-right: 20px;
        }
        .scrollbar-pane{
            padding-right: 20px;
        }
    }
    &_i{
        position: relative;
        height: 90px;
        margin: 10px 0 0;
        border: 1px solid #d4e1ec;
        border-radius: 5px;
        cursor: pointer;
        &:first-child{
            margin: 0;
        }
        &.active{
            border-color: #5eb6e3;
        }
    }
    &_cover{
        position: relative;
        float: left;
        width: 520 * 100% / 641;
        height: 520px;
        margin: 0 0 0 (30 * 100% / 641);
        border: 1px solid #d4e1ec;
        border-radius: 5px;
        cursor: pointer;
    }
    img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        border-radius: 5px;
        transform: translateZ(0);
    }

    &_digital{
        position: absolute;
        z-index: 1;
        top: -1px;
        left: -1px;
        padding: 6px 20px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        border-radius: 5px 0 5px 0;
        background: #00bae9;
    }


    @media (max-width: @screen-md-max) {
        &_list-wrap{
            .scroll-content{
                max-height: 413px;
            }
        }
        &_i{
            height: 71px;
        }
        &_cover{
            height: 413px;
        }
    }
}
