// product-sort



.product-sort{
    margin: 0 0 16px;
    font-size: 14px;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 0 19px 0 0;
        color: #7b7b7b;
    }
    &_val{
        display: inline-block;
        vertical-align: top;
        &.open{
            .product-sort_val-arr{
                margin-top: 8px;
                transform: rotate(-225deg);
            }
        }
    }
    &_val-name{
        display: inline-block;
        vertical-align: top;
    }
    &_val-arr{
        display: inline-block;
        vertical-align: top;
        width: 7px;
        height: 7px;
        margin: 4px 0 0 6px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(-45deg);
        transition: .2s;
    }

    &_popup{
        margin: 3px 0 0 -11px;
        padding: 5px 0;
        color: #000;
        border: 1px solid #d6e1ec;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 10px 15px fade(#000, 10);
        white-space: nowrap;
    }
    &_i{
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background: #d6e1ec;
        }
    }
}
