// shop-confirm



[class^="s-confirm-"], [class*=" s-confirm-"]{
    .sprite(100, 100, url(../images/shop/s-confirm.svg))
}
//.s-confirm-delivery { background-position: 0 0 }
.s-confirm-map      { background-position: -100px 0 }
.s-confirm-payment  { background-position: -200px 0 }


.shop-confirm{
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 25px;
    &_i{
        position: relative;
        flex: 1;
        min-height: 195px;
        margin: 0 10px;
        padding: 17px;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
    }
    &_ico{
        position: absolute;
        bottom: -17px;
        right: 19px;
        opacity: .5;
    }
}



.shop-payment-term{
    max-width: 70%;
    margin: 0 auto 30px;
    font-size: 12px;
    text-align: center;
    color: #706f6f;
    a{
        text-decoration: underline;
    }
}


