// shop-filter



.shop-filter{
    float: left;
    width: 25%;
    margin: 15px 0;
    padding-left: 10px;
    padding-right: 10px;
    .shop-category{
        margin: 0 0 45px;
    }

    &_head{
        margin: 0 0 9px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 600;
    }

    &_i{
        margin: 28px 0 0;
        &:first-child{
            margin: 0;
        }
    }

    &_options-i{
        margin: 10px 0 0;
        &:first-child{
            margin: 0;
        }
    }


    &_multi-filter{
        margin: 0 0 10px;
    }
    .form-control{
        height: 34px;
        margin: 0 0 10px;
        padding: 7px 19px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #d6e1ec;
        border-radius: 5px;
    }

    &_multi-list{
        height: 35px * 6 + 2;
        border: 1px solid #d6e1ec;
        border-radius: 5px;
        overflow: auto;
    }



    &_range{
        margin: -6px -3px 0;
        font-size: 0;
    }
    &_range-col{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 3px;
        font-size: 14px;
    }
    &_range-lbl{
        padding: 0 0 2px 20px;
    }
}




.shop-filter-cont{
    margin: 0 10% 0 0;
}
