// shop-order



.shop-order{
    margin: 17px 0 60px;
    &_header{
        &:extend(.cf-mix all);
    }
    &_head{
        float: left;
        margin: 0 0 54px;
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .2em;
        text-transform: uppercase;
        word-wrap: break-word;
    }
    &_tel{
        float: right;
        text-align: right;
    }
    &_title{
        margin: -6px 0 20px;
        font-size: 22px;
    }
}


.shop-order-main{
    margin: 0 20px 0 0;
}


.shop-order-sidebar{
    &_box{
        padding: 18px 19px 21px;
        border: 1px solid #d4e1ec;
        border-radius: 5px;
    }
}


.shop-order-action{
    &:extend(.cf-mix all);
    margin: 30px 0 0;
    .shop-btn{
        min-width: 158px;
        padding-left: 34px;
        padding-right: 34px;
    }
    &_back{
        float: left;
    }
    &_next{
        float: right;
    }
}

