// shop-header



.shop-header{
    &:extend(.cf-mix all);
    margin: 0 0 45px;
    &_home{
        float: left;
        background: @baseColor;
        border-radius: 4px 0 0 4px;
    }
    &_menu{
        position: relative;
        float: left;
        height: 65px;
        color: #fff;
        background: @baseColor;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 100%;
            border-left: 1px solid #40c4ef;
        }
        &:after{
            right: auto;
            left: 100%;
        }
    }
    &_search{
        float: left;
        height: 65px;
        color: #fff;
        background: @baseColor;
        border-radius: 0 4px 4px 0;
    }
    &_nav{
        padding: 17px 0 0 0;
        text-align: center;
    }
    &_basket{
        float: right;
    }


    @media (max-width: 1239px) {
        &_nav{
            margin-left: 13px;
        }
    }
}
