// shop-category-links



.shop-category-links{
    position: relative;
    padding: 0 0 0 40px;
    &_ico{
        position: absolute;
        top: -5px;
        left: -9px;
    }
    &_name{
        margin: 0 0 19px;
        font-size: 18px;
        color: #5d5d5d;
    }
    &_list{
        & + &{
            margin: 27px 0 0;
            padding: 27px 0 0;
            border-top: 1px solid #d2e1ee;
        }
    }
    &_i{
        margin: 12px 0 0;
        font-size: 14px;
        line-height: 18px;
        &:first-child{
            margin: 0;
        }
    }
}

.shop-category-links_link + .shop-category-links_link{
    margin-left: 8px;
}
