// shop-order-form



.shop-order-form{
    &_fieldset{
        margin: 0 -10px;
        &.error{
            .shop-order-form_error-msg{
                display: block;
            }
        }
        .shop-order-form_group{
            margin: 0 10px;
        }
    }
    &_error-msg{
        clear: both;
        display: none;
        padding: 7px 0 0;
        font-size: 13px;
        line-height: 18px;
        color: #df2d2d;
    }
    &_lbl{
        padding-top: 11px;
        font-size: 16px;
    }
    &_add-btn{
        .shop-btn{
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
    &_box{
        padding: 19px;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
    }
    .form-control{
        height: 44px;
        padding: 12px 18px;
        font: 16px/18px @ff-proxima-nova;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
        &:focus{
            border-color: @baseColor;
        }
    }
    textarea.form-control{
        height: auto;
    }
    .pln-select{
        height: 44px;
        padding: 12px 50px 12px 18px;
        font: 16px/18px @ff-proxima-nova;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
        &.disabled{
            color: #ccc;
        }
        .select-btn{
            width: 45px;
        }
        .icon-select{
            margin: -3px 0 0 -7px;
            border-width: 7px 7px 0;
            border-top-color: #d8e0eb;
        }
        .dropdown-menu{
            margin: 3px 0 0;
            border: 1px solid #d8e0eb;
            border-radius: 5px;
        }
        a{
            padding: 8px 18px;
        }
    }
    &_info-text{
        padding: 13px 0;
        font: 16px/18px @ff-proxima-nova;
        color: #868686;
    }
    &_phone-code{
        float: left;
        width: 58px;
        margin: 0 10px 0 0;
        padding: 12px 10px;
        font: 16px/18px @ff-proxima-nova;
        text-align: center;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
    }
    &_phone{
        float: left;
        width: 205px;
    }


    @media (max-width: @screen-md-max) {
        &_lbl{
            width: 30%;
        }
        &_val{
            width: 49%;
        }
        &_add-btn{
            width: 21%;
        }
    }
}
