// shop welcome



.shop-offer{
    margin: 0 0 60px;
}




.shop-welcome-list{
    margin: 0 0 60px;
    &_i{
        position: relative;
        margin: 60px 0 0;
        padding: 60px 0 0;
        border-top: 1px solid #d4e1ec;
        &:first-child{
            margin: 0;
            padding: 0;
            border: 0;
        }
        .wrap-row{
            position: relative;
        }
    }
    &_all{
        position: absolute;
        bottom: 0;
        width: 25%;
        padding: 0 10px;
        .shop-btn{
            width: 100%;
        }
    }
    .product-card{
        margin-top: 0;
        margin-bottom: 0;
        &_i{
            margin-top: 0;
        }
    }
}
