// shop-info



.shop-info-head{
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
}


.shop-info-main{
    margin: 0 0 100px;
    font-size: 14px;
    line-height: 1.57;
    h3{
        margin: 0 0 1.3em;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
    }
    p{
        margin: 1.3em -0;
    }
    hr{
        margin: 2em 0;
        border-top-color: #d8e0eb;
    }
    a{
        text-decoration: underline;
    }
    ul{
        margin: 1.3em 0;
        padding: 0 0 0 25px;
        li{
            margin: 0;
            padding: 0 0 0 5px;
        }
    }
    ol{
        margin: 1.3em 0 1.3em 35px;
    }
    .cart-delivery-free{
        float: none;
        margin: 0 0 30px;
        padding: 18px;
        font-size: 18px;
    }
}



.shop-info-text-sm{
    font-size: .857142857em;
}




.shop-info-hero{
    margin: 0 0 50px;
    &_list{
        margin: -40px 0 0;
    }
    &_i{
        position: relative;
        min-height: 50px;
        margin: 40px 0 0;
        padding: 14px 0 0 60px;
        font-size: 16px;
        line-height: 1.2;
    }
    &_ico{
        position: absolute;
        top: 0;
        left: 0;
    }
    &_name{
        a{
            border-bottom: 2px dotted;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &_add{
        margin: 10px 0 0;
        font-size: 11px;
    }


    // __other
    &__other{
        .shop-info-hero{
            &_i{
                padding-top: 7px;
            }
        }
    }
}


.shop-info-table{
    margin: 1.5em 0;
    font-size: 14px;
    border-collapse: separate;
    tr:first-child{
        td{
            border-top: 1px solid #d8e0eb;
            &:first-child{
                border-top-left-radius: 5px;
            }
            &:last-child{
                border-top-right-radius: 5px;
            }
        }
    }
    tr:last-child{
        td{
            &:first-child{
                border-bottom-left-radius: 5px;
            }
            &:last-child{
                border-bottom-right-radius: 5px;
            }
        }
    }
    td{
        padding: 6px 22px;
        border-bottom: 1px solid #d8e0eb;
        &:first-child{
            border-left: 1px solid #d8e0eb;
        }
        &:last-child{
            border-right: 1px solid #d8e0eb;
        }
    }

    &_digit{
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
    }
}


.shop-info-atten{
    margin: 2em 0;
    color: #d24a43;
    &_ico{
        float: left;
        margin: 0 22px 0 0;
        padding: 5px 0 0;
        white-space: nowrap;
        font-weight: 700;
        .s-icon{
            position: relative;
            top: -6px;
            font-size: 30px;
        }
    }
    &_cont{
        overflow: hidden;
        padding: 5px 0 0;
    }
}



.shop-info-download-ico{
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    background: url(../images/charity/download-ico.svg) no-repeat 0 0 / cover;
}

.shop-info-download{
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    line-height: 1.2;
    a&_link{
        display: block;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    &_ico{
        display: table-cell;
        vertical-align: middle;
        width: 67px;
        padding: 0 19px 0 0;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
    }
    &_name{
        display: block;
    }
    &_title{
        text-decoration: underline;
    }
    &_size{
        display: block;
        margin: 5px 0 0;
        font-size: 12px;
        line-height: 1;
        color: #626262;
    }
}



.shop-info-sidenote{
    position: relative;
    left: -2.3%;
    float: left;
    width: 31.8%;
    margin: 0 0 0 -31.8%;
}



.shop-info-tel{
    font-size: 36px;
    font-weight: 700;
    text-align: right;
}


.shop-info-mail{
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}


.shop-info-map{
    height: 450px;
    margin: 50px 0 0;
}


.shop-info-payment-system{
    font-size: 11px;
    line-height: 1.2;
    &_text{
        max-width: 200px;
        margin: 10px 0 0;
    }
}

