// shop-buttons



.shop-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10px 25px;
    font: 14px/18px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }
}



.shop-btn-default{
    border-color: #d4e1ec;
    background: #fff;
    color: @baseColor;
    font-weight: 600;
    &:hover{
        border-color: @baseColor;
        background: #fff;
        color: @baseColor;
    }
    &.active, &:active{
        border-color: #d4e1ec;
        background: #fff;
    }
    &.disabled, &[disabled]{
        border-color: #d4e1ec;
        background: #fff;
    }
}


.shop-btn-primary{
    padding: 11px 26px;
    font-weight: 600;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #0096e0;
    background-image: linear-gradient(to bottom, #00afe8, #0080da);
    &:hover{
        background: #0096e0;
        background-image: linear-gradient(to bottom, #00afe8, #0080da);
        color: #fff;
    }
    &.active, &:active{
        background: #0096e0;
        box-shadow: inset 0 1px 2px fade(#000, 35);
    }
    &.disabled, &[disabled]{
        background: #0096e0;
    }
}


.shop-btn-secondary{
    padding: 11px 26px;
    font-weight: 600;
    color: #000;
    border: 0;
    border-radius: 5px;
    background: #d7dfea;
    background-image: linear-gradient(to bottom, #e0e6ef, #d0dae7);
    &:hover{
        background: #d7dfea;
        background-image: linear-gradient(to bottom, #e0e6ef, #d0dae7);
        color: #000;
    }
    &.active, &:active{
        background: #d7dfea;
        box-shadow: inset 0 1px 2px fade(#000, 35);
    }
    &.disabled, &[disabled]{
        background: #d7dfea;
    }
}


.shop-btn-add{
    height: auto;
    padding: 7px 25px;
    font-size: 15px;
    line-height: 31px;
    font-weight: 400;
    color: #000;
    border: 0;
    border-radius: 5px;
    background: #ffcf0d;
    background-image: linear-gradient(to bottom, #ffd910, #ffc60a);
    &:hover{
        background: #ffdd56;
        background-image: linear-gradient(to bottom, #ffe458, #ffd754);
        color: #000;
    }
    &.active, &:active{
        background: #ffcf0d;
        box-shadow: inset 0 1px 2px fade(#000, 35);
    }
    &.disabled, &[disabled]{
        background: #ffcf0d;
    }
}




.shop-btn-crowd-author,
.shop-btn-crowd-more{
    width: 100%;
    height: auto;
    padding: 5px 72px 5px 5px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #000;
    border: 0;
    border-radius: 5px;
    background: #01d3fe;
    background-image: linear-gradient(to bottom, #01d3fe, #01bdfe);
    &:hover{
        background: darken(#01d3fe, 5%);
        background-image: linear-gradient(to bottom, darken(#01d3fe, 5%), darken(#01bdfe, 5%));
        color: #000;
    }
    &.active, &:active{
        background: #01d3fe;
        box-shadow: inset 0 1px 2px fade(#000, 35);
    }
    &.disabled, &[disabled]{
        background: #01d3fe;
    }
}

.shop-btn-crowd-more{
    background: #a5d576;
    background-image: linear-gradient(to bottom, #a5d576, #78c04f);
    &:hover{
        background: darken(#a5d576, 5%);
        background-image: linear-gradient(to bottom, darken(#a5d576, 5%), darken(#78c04f, 5%));
    }
    &.active, &:active{
        background: #a5d576;
    }
    &.disabled, &[disabled]{
        background: #a5d576;
    }
}
