// shop-order-steps



.shop-order-steps{
    display: table;
    width: 100%;
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #d4e1ec;
    border-radius: 5px;
    &_i{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        height: 48px;
        padding: 0 30px 0 50px;
        color: #fff;
        background: #0099de;
        text-align: center;
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 23px;
            height: 48px;
        }
        &:first-child{
            padding-left: 30px;
            border-radius: 4px 0 0 4px;
        }
        &:last-child{
            border-radius: 0 4px 4px 0;
            &:before{
                display: none !important;
            }
        }
        &.active{
            &:before{
                display: block;
                background: url(../images/shop/steps-arr-a.png) no-repeat;
            }

            & ~ .shop-order-steps_i{
                color: #000;
                background: none;
                &:before{
                    display: block;
                    background: url(../images/shop/steps-arr.png) no-repeat;
                }
            }
        }
    }
}
