// shop-menu



.shop-menu{
    &_switch{
        display: inline-block;
        vertical-align: top;
        min-width: 173px;
        padding: 22px 5px 24px;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        white-space: nowrap;
        cursor: pointer;
    }
    &_name{
        .text-overflow();
        display: inline-block;
        vertical-align: top;
        max-width: 145px;
        border-bottom: 1px dotted #40c4ef;
        &__s{
            font-size: .9em;
        }
    }
    &_arr{
        display: inline-block;
        vertical-align: top;
        margin: 7px 0 0 6px;
        border-top: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }
    &_popup{
        margin: 10px 0 0;
        padding: 19px 29px;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 10px 15px fade(#000, 10);
    }
    &_row{
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }
    &_list{
        display: inline-block;
        vertical-align: top;
        min-width: 98px;
        margin: 0 0 0 90px;
        white-space: normal;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 0 0 0 -45px;
            border-left: 1px solid #d2e1ee;
        }
        &:first-child{
            margin: 0;
            &:before{
                display: none;
            }
        }
    }
    &_i{
        margin: 12px 0 0;
        font-size: 16px;
        line-height: 18px;
        &:first-child{
            margin: 0;
        }
        &__mark{
            font-weight: 700;
            .shop-menu_link{
                color: #f00;
                border-bottom-color: #ffd5d6;
                &:hover{
                    color: darken(#f00, 5%);
                    border-bottom-color: darken(#f00, 5%);
                }
            }
        }
    }
    &_link{
        border-bottom: 1px solid #c8e8fa;
        &:hover{
            text-decoration: none;
            border-bottom-color: @linkColorHover;
        }
    }


    @media (max-width: 1239px) {
        &_switch{
            font-size: 15px;
        }
    }
}
