// shop-filter-category



.shop-filter-category{
    margin: 0 0 22px;
    font-size: 15px;
    line-height: 19 / 15;
    &_i{
        margin: 13px 0 0;
        padding: 0 0 0 19px;
        border-left: 2px solid transparent;
        &:first-child{
            margin: 0;
        }
        &.active{
            color: @baseColor;
            border-left-color: @baseColor;
        }
    }
    &_link{
        cursor: pointer;
        &:hover{
            color: @baseColor;
        }
    }
}
