// shop-nav



[class^="s-shop-nav-"], [class*="s-shop-nav-"]{
    .sprite(35, 30, url(../images/shop/s-nav.svg));
}

//.s-shop-nav-delivery    {background-position: 0 0}
.s-shop-nav-payment     {background-position: -50px 0}
.s-shop-nav-return      {background-position: -100px 0}
.s-shop-nav-contacts    {background-position: -150px 0}
.s-shop-nav-help        {background-position: -200px 0}

.s-shop-nav-hover-mix{
    .s-shop-nav-delivery    {background-position: 0 -50px}
    .s-shop-nav-payment     {background-position: -50px -50px}
    .s-shop-nav-return      {background-position: -100px -50px}
    .s-shop-nav-contacts    {background-position: -150px -50px}
    .s-shop-nav-help        {background-position: -200px -50px}
}



.shop-nav{
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 29px;
        &:first-child{
            margin: 0;
        }
        &.active{
            .shop-nav_link{
                color: @baseColor;
                text-decoration: none;
                &:extend(.s-shop-nav-hover-mix all);
            }
            .shop-nav_text{
                padding: 0 0 4px;
                border-bottom: 2px solid @baseColor;
            }
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        color: #7b94a2;
        &:hover{
            color: @baseColor;
            text-decoration: none;
            &:extend(.s-shop-nav-hover-mix all);
            .shop-nav_text{
                border-bottom-color: @baseColor;
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
    }
    &_text{
        display: inline-block;
        vertical-align: top;
        margin: 7px 0 0 8px;
        font-size: 12px;
        line-height: 14px;
        border-bottom: 1px solid #e0e8ea;
    }


    @media (max-width: 1239px) {
        &_i{
            margin-left: 20px;
            &:first-child{
                margin-left: 0;
            }
        }
        &_ico{
            display: none;
        }
    }
}

