// shop-basket



.shop-basket{
    &_link{
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 65px;
        padding: 10px 15px 10px 73px;
        color: #000;
        border: 1px solid #d4e1ec;
        border-radius: 4px;
        &:hover{
            color: #000;
        }
    }
    &_ico{
        position: absolute;
        top: 18px;
        left: 25px;
        width: 28px;
        height: 24px;
        background: url(../images/shop/basket-ico.svg) no-repeat;
    }
    &_state{
        display: inline-block;
        vertical-align: top;
        padding: 3px 0 0;
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
    }
    &_sum{
        font-weight: 700;
    }


    @media (max-width: 1239px) {
        &_link{
            padding-left: 60px;
        }
        &_ico{
            left: 17px;
        }
    }
}
