// shop-category



.shop-category{
    &_name{
        margin: 0 0 41px;
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .2em;
        text-transform: uppercase;
        word-wrap: break-word;
        > span{
            display: inline-block;
            max-width: 100%;
        }
        &__m{
            font-size: 28px; // > 8
        }
        &__s{
            font-size: 30px; // > 11
        }


        @media (max-width: 1239px){
            font-size: 30px;
            &__m{
                font-size: 22px; // > 9
            }
            &__s{
                font-size: 24px; // > 11
            }
        }
    }
}
