// shop-order-payment-type



.shop-order-payment-type{
    margin: 20px 0 0;
    .checkbox-label{
        color: #000;
    }
    .pln-payment-type{
        border: 1px solid #d8dade;
        border-top: 0;
    }
    .pln-payment-sub-menu-wrap{
        margin: -1px 0 0;
    }
    .pln-payment-sub-menu{
        .pln-payment-type{
            border: 0;
        }
    }
    .pln-payment-menu-wrap{
        margin-top: -1px;
        border-top: 1px solid #d8dade;
    }
    .pln-payment-sub-menu-wrap{
        background: #fff;
    }
    .pln-payment-box{
        border-left: 0;
        border-right: 0;
        &:last-child{
            margin-bottom: 0;
            border-bottom: 0;
        }
        &:first-child{
            margin-top: 3px;
            border-top: 0;
        }
    }
    .pln-payment-box_head{
        color: #000;
    }

    .pln-payment-box_delivery-type,
    .pln-payment-order-type{
        border: 1px solid #d8dade;
    }
    .pln-payment-order-type{
        margin-top: -1px;
    }
}
