// shop-order-delivery-type



.shop-order-delivery-type{
    font-size: 14px;
    line-height: 1.2;
    &_i{
        &:extend(.cf-mix all);
        margin: 20px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_price{
        float: right;
        margin: 0 0 0 10px;
        font-size: 16px;
        font-weight: 700;
        color: #c4c4c4;
        &__free{
            color: #74b65f;
        }
    }
    .radiobox{
        width: 15px;
        height: 15px;
        margin-top: -1px;
        border-color: #7b94a2;
        &:before{
            top: 3px;
            left: 3px;
            width: 7px;
            height: 7px;
            margin: 0;
            background: #000;
        }
        &.active{
            & + .shop-order-delivery-type_price:not(.shop-order-delivery-type_price__free){
                color: #000;
            }
            & ~ .radiobox-label{
                .shop-order-delivery-type_name{
                    font-weight: 700;
                }
            }
        }
    }
    .radiobox-label{
        overflow: hidden;
        display: block;
        margin-left: 33px;
    }
    &_name-add{
        font-size: 12px;
    }
}
