// shop-view



.shop-view-left{
    width: 641 * 100% / 680;
}


.shop-view-right{
    margin: 0 0 0 10px;
}




.product-description-block{
    &:extend(.cf-mix all);
    margin: 0 0 70px;
}

.product-share{
    float: left;
    width: 90 * 100% / 641;
    .sps-count{
        display: none;
    }
    .spsb-item{
        display: block;
        margin: 15px 0 0;
        &:first-child{
            margin: 0;
        }
    }
}

.product-description-wrap{
    float: left;
    width: 520 * 100% / 641;
    margin: 0 0 0 (30 * 100% / 641);
}

.product-description{
    position: relative;
    font: 300 16px/30px @ff-proxima-nova;
    &:before{
        display: none;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 120px;
        background-image: linear-gradient(to bottom, fade(#fff, 0), #fff);
        opacity: .85;
    }
    &.collapsed{
        max-height: 13 * 30px;
        overflow: hidden;
        &:before{
            display: block;
        }
    }
    p{
        margin: 0;
    }
}

.product-description-show{
    margin: 30px 0 0;
    text-align: center;
}




.product-name{
    margin: -2px 0 20px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;

    .laquo { margin-left: -0.44em }
    .raquo { margin-right: -0.44em }
    .ensp {
        margin-right: 0.44em;
    }
    .raquo + .ensp{
        margin-right: 0;
        margin-left: 0.44em;
    }
}




.product-author{
    margin: 0 0 32px;
    font-size: 14px;
    padding: 16px;
    font-weight: bold;
    background: #f4f4f4;
    &_link{
        &:extend(.link-mix all);
        text-decoration: underline;
    }
}




.product-options{
    margin: 0 0 10px;
    &_i{
        font-size: 14px;
        text-align: right;
        margin: 10px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 6px 16px 0 0;
        color: #7b7b7b;
    }
    &_val{
        display: inline-block;
        vertical-align: top;
        .pln-select{
            padding: 5px 36px 5px 12px;
            font-size: 14px;
            border-color: #d4e1ec;
            border-radius: 5px;
            .icon-select{
                border-top-color: #d4e1ec;
            }
            .dropdown-menu{
                margin: 10px 0 0;
                padding: 5px 0;
                border: 1px solid #d4e1ec;
                border-radius: 5px;
                box-shadow: 0 10px 15px fade(#000, 10);
                &, &.open{
                    animation: none;
                }

                li > a:hover,
                .active > a,
                .active > a:hover{
                    background: lighten(#d4e1ec, 5%);
                    color: #000;
                }
            }
        }
    }
    &_val-list{
        font-size: 0;
        .form-ui{
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 5px;
            &:first-child{
                margin: 0;
            }
        }
    }
}




.product-size-table{
    margin: 10px 0;
    text-align: right;
    font-size: 14px;
    &_link{
        &:extend(.dot-link-mix all);
        border-bottom-style: dashed;
    }
}




.product-action{
    &:extend(.cf-mix all);
    margin: 0 0 67px;


    @media (max-width: @screen-md-max) {
        margin-bottom: 30px;
    }
}




.product-price{
    position: relative;
    float: left;
    font-size: 0;
    .b-rub{
        font-size: 60%;
    }
    &_cont{
        display: inline-block;
        vertical-align: top;
        text-align: right;
    }
    &_val{
        font-size: 48px;
        line-height: 1;
        font-weight: 600;
    }
    &_old{
        position: relative;
        top: auto;
        display: inline-block;
        vertical-align: top;
        right: 11px;
        line-height: 1;
        font-size: 24px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin: -1px -20px 0;
            border-top: 1px solid #5eb6e3;
            transform: rotate(-10deg);
        }
    }


    @media (max-width: @screen-md-max) {
        float: none;
        margin: 10px 0 20px;
        text-align: right;
    }
}



.product-add{
    position: relative;
    z-index: 1;
    float: right;
    min-width: 260px;
    .shop-btn-add,
    .shop-btn-pre-order{
        width: 100%;
    }
    .shop-btn-pre-order{
        height: auto;
        padding: 7px 25px;
        font-size: 15px;
        line-height: 31px;
        font-weight: 400;
    }


    @media (max-width: @screen-md-max) {
        float: none;
    }
}


.pre-order-tooltip{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 20px 0 0;
    padding: 14px 40px;
    font-size: 14px;
    line-height: 1.3;
    color: @baseColor;
    white-space: normal;
    border: 1px solid #d4e1ec;
    border-radius: 5px;
    background: #fff;
    &:before{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin: 0 0 -9px -10px;
        border-top: 1px solid #d4e1ec;
        border-left: 1px solid #d4e1ec;
        background: #fff;
        transform: rotate(45deg);
    }
}
.shop-btn-pre-order{
    position: relative;
    &:hover{
        .pre-order-tooltip{
            display: block;
        }
    }
    &.active:hover{
        .pre-order-tooltip{
            display: none;
        }
    }
}




.product-crowd-help-tooltip{
    font-size: 13px;
    .tooltip-content{
        margin-left: -2px;

        @media (max-width: 1330px) and (min-width: 1240px) {
            max-width: 250px;
        }
    }
}

.product-crowd{
    &:extend(.cf-mix all);
    margin: 71px -10px 42px;
    &_i{
        float: left;
        width: 50%;
        padding: 0 10px;
    }
    &_help{
        margin: 15px 0 0;
        padding: 0 0 2px;
        font-size: 12px;
        line-height: 14 / 12;
        color: #7b94a2;
    }
    &_help-ico{
        float: left;
        width: 20px;
        height: 20px;
        margin: 0 12px 0 0;
        padding: 1px 0 0;
        text-align: center;
        border: 2px solid #01c8fe;
        color: #01c8fe;
        border-radius: 50%;
        &:before{
            content: '?';
            font-size: 12px;
            font-weight: 600;
        }
        &__more{
            border-color: #9bd06d;
            color: #9bd06d;
        }
    }
    &_help-text{
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        padding: 2px 0 0;
        font-size: 14px;
        border-bottom: 1px dashed;
    }

    &_btn{
        position: relative;
    }

    &_btn-counter{
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 10px 0 0;
        font-size: 14px;
        white-space: nowrap;
    }

    &_btn-currency,
    &_count{
        display: inline-block;
        vertical-align: top;
    }
    &_btn-currency{
        margin: 9px 0 0;
    }
    &_count{
        position: relative;
    }
    &_count-btn{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 8px;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -2px 0 0 -3px;
            border-bottom: 4px solid #869095;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
        }
        &:hover{
            background: #f2f2f2;
        }
        &.plus{
            top: auto;
            bottom: 0;
            border-radius: 0 0 5px 5px;
            &:before{
                border-bottom: 0;
                border-top: 4px solid #869095;
            }
        }
    }
    &_count-val{
        display: inline-block;
        vertical-align: top;
        min-width: 43px;
        padding: 3px 5px 1px;
        line-height: 26px;
        font-weight: 600;
        color: #000;
        text-align: center;
        background: #fff;
        border-radius: 5px;
    }


    @media (max-width: @screen-md-max) {
        margin-top: 30px;
        &_i{
            width: 100%;
            margin: 20px 0 0;
            &:first-child{
                margin: 0;
            }
        }
        .shop-btn{
            padding: 5px 72px;
        }
    }
}





// product-info
[class^="s-product-info"], [class*=" s-product-info"]{
    .sprite(50, 50, url(/images/shop/s-product-info.png));
}
//.s-product-info-5000        { background-position: 0 0 }
.s-product-info-courier     { background-position: -50px 0 }
.s-product-info-post        { background-position: -100px 0 }
.s-product-info-pickup      { background-position: -150px 0 }
.s-product-info-cash        { background-position: -200px 0 }
.s-product-info-card        { background-position: -250px 0 }
.s-product-info-e-money     { background-position: -300px 0 }
.s-product-info-e-bank      { background-position: -350px 0 }


.product-info{

}
.product-info-tab{
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin-bottom: -1px;
        padding: 14px 30px 13px;
        font-size: 20px;
        line-height: 22px;
        color: @linkColor;
        border: 1px solid transparent;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
        &.active{
            color: #2a3c49;
            border-color: #d4e1ec #d4e1ec #fff;
            background: #fff;
            cursor: default;
        }
    }
}


.product-info-cont{
    border: 1px solid #d4e1ec;
    border-radius: 0 0 5px 5px;
}

.product-info-list{
    display: none;
    font-size: 0;
    padding: 39px 0 33px;
    &.active{
        display: block;
        display: flex;
    }
    &_i{
        flex: 1 1 auto;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        font-size: 12px;
        line-height: 1.2;
        text-align: center;
    }
    &_ico{
        margin: 0 0 14px;
    }
}
// /product-info




// product-comments
.product-comments{
    &_head{
        margin: 47px 0 13px;
        font-size: 24px;
    }
    .attach-comment{
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        box-shadow: none;
    }
    .attach-comment-block{
        margin: 0;
    }
    .attach-comment-item{
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
// /product-comments
