// shop-order-tel



.shop-order-tel{
    &_tel{
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    &_code{
        position: relative;
        top: -0.5em;
        font-size: 19px;
    }
    &_hours{
        font-size: 10px;
        line-height: 12px;
        letter-spacing: .05em;
        color: #7b94a2;
    }
}



