// shop-checkout



.shop-checkout{
    &_i{
        margin: 15px 0 0;
        padding: 14px 0 0;
        border-top: 1px solid #d4e1ec;
        &:first-child{
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    &_val{
        float: right;
        font-size: 16px;
        font-weight: 700;
    }
    &_lbl{
        font-size: 14px;
        color: #7b94a2;
    }
    &_name{
        font-weight: 700;
        color: #000;
    }
    &_name-add{
        font-size: 12px;
        color: #000;
    }
    &_promocode{
        color: #74b65f;
    }
    .cart-short{
        margin: 0 0 20px;
    }
}
