// shop-list



.shop-list-wrap{
    margin-bottom: 100px;
}




.shop-list-name{
    margin: 0 0 35px;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    word-wrap: break-word;
}




.shop-list-search{
    position: relative;
    margin: 0 0 24px;
    &_ico{
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 20px;
        line-height: 1;
        color: #004759;
    }
    &_val{
        position: relative;
    }
    &_input{
        height: auto;
        padding: 17px 20px;
        font-size: 16px;
        line-height: 18px;
        color: #004759;
        border-color: #7095a4;
        border-radius: 5px;
        background: none;
    }
}

