// shop-home



.shop-home{
    display: block;
    width: 63px;
    height: 65px;
    padding: 23px 0 0;
    text-align: center;
    &_ico{
        display: inline-block;
        vertical-align: top;
        width: 21px;
        height: 19px;
        background: url(../images/shop/home-ico.svg) no-repeat;
    }
}
