// shop-form-ui



// checkbox list filter
.form-ui-filter,
.form-ui-filter-multi{
    .form-ui-label{
        display: block;
        padding: 7px 19px;
    }

    .form-ui-txt{
        display: block;
        padding: 3px 30px 0 0;
        font-size: 14px;
        line-height: 1.2;
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:after{
                    top: -1px;
                    right: -4px;
                    width: 18px;
                    height: 11px;
                    border-bottom: 4px solid transparent;
                    border-left: 4px solid transparent;
                    transform: rotate(-45deg) translate(3px, -2px);
                    transition: .1s;
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        border-bottom-color: #44b759;
                        border-left-color: #44b759;
                        transform: rotate(-45deg) translate(0, 0);
                    }
                }
            }
        }
    }
}


.form-ui-filter{
    .form-ui-label{
        border: 1px solid #d6e1ec;
        border-radius: 5px;
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    left: auto;
                    right: 0;
                    top: 3px;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #000;
                    border-radius: 3px;
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                color: #44b759;
                border-color: #44b759;
                .form-ui-txt{
                    &:before{
                        border-color: #7f7f7f;
                    }
                }
            }
        }
    }
}


.form-ui-filter-multi{
    .form-ui-label{
        padding: 8px 19px;
        &:hover{
            background: lighten(#d6e1ec, 5%);
        }
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:after{
                    top: 0;
                }
            }
        }

        &:checked {
            & + .form-ui-label {
                background: #d6e1ec;
                .form-ui-txt {
                    &:after {
                        border-bottom-color: #7c7c7c;
                        border-left-color: #7c7c7c;
                    }
                }
            }
        }
    }
}
// /checkbox list filter




// options value for view product
// radio
.product-options-form-ui{
    font-size: 14px;
    input[type="radio"] {
        & + .form-ui-label{
            min-width: 32px;
            padding: 6px 5px 4px;
            text-align: center;
            border: 1px solid #d4e1ec;
            border-radius: 5px;
            .form-ui-txt{
                padding: 0;
                &:before,
                &:after{
                    display: none;
                }
            }
            &:hover{
                background: lighten(#d4e1ec, 10%);
            }
        }

        &:checked {
            & + .form-ui-label{
                font-weight: 700;
                background: #d4e1ec;
            }
        }

        &:disabled {
            & + .form-ui-label{
                background: #f2f2f2;
                opacity: .7;
                cursor: default;
            }
            &:checked {
                & + .form-ui-label{
                    font-weight: 700;
                }
            }
        }
    }
}
// /radio
// /options value for view product
