// shop-search



.shop-search{
    display: block;
    color: #fff;
    &:hover{
        color: #fff;
    }
    &_ico{
        display: block;
        width: 66px;
        padding: 22px 0 23px;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        cursor: pointer;
    }
    /*
    @media (max-width: 1239px) {
        &_ico{
            width: 65px;
        }
    }
    */
}
