// header drop basket



// header btn
.h-shop-cart{
    float: left;
    width: 52px;
    padding: 20px 12px 20px;
    &_link{
        display: block;
        height: 30px;
        text-align: center;
        &:hover{
            .s-icon-cart{
                color: #333;
            }
        }
    }
    .s-icon-cart{
        position: relative;
        left: -2px;
        margin: 8px 0 0;
        font-size: 15px;
        color: #7b94a2;
        transition: .3s;
    }
    &.open{
        .s-icon-cart{
            color: #333;
        }
    }
}
// /header btn



// basket-popup
.basket-popup{
    left: auto;
    right: -70px;
    &_cont{
        position: relative;
        color: #fff;
        background: #1e323d;
        box-shadow: 0 0 20px fade(#000, 50);
        &:before{
            content: '';
            position: absolute;
            bottom: 100%;
            right: 86px;
            border-bottom: 10px solid #1e323d;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }
}
// /basket-popup



// basket drop list
.btn-basket{
    color: #fff;
    border-color: #172932;
    background: #213844;
    &:active,
    &:focus,
    &:hover{
        color: #fff;
        border-color: #1b2e38;
        background: #253f4e;
    }
    &:focus{
        box-shadow: inset 0 0 0 1px fade(#fff, 20);
    }
}

.basket{
    @basket-offset: 20px;

    .scroll-content{
        width: 380px;
        max-height: 90px * 3 + 2;
        border-bottom: 1px solid #253a45;
        .scrollbar-handle-container{
            top: 4px;
        }
        .scrollbar-handle{
            background: #fff;
            opacity: .1;
        }
        &:hover{
            .scrollbar-handle{
                background: #fff;
                opacity: .1;
                &:hover{
                    opacity: .3;
                }
            }
        }
    }


    &_header{
        padding: 16px @basket-offset;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1px solid #253a45;
    }


    &_list{
        width: 380px;
    }
    &_i{
        height: 50px;
        padding: @basket-offset;
        border-top: 1px solid #253a45;
        &:first-child{
            border-top: 0;
        }
        &:hover{
            background: #253a45;
            .basket_del{
                opacity: 1;
            }
        }
    }
    &_cover{
        float: left;
        width: 50px;
        height: 50px;
    }
    &_cont{
        margin: 0 0 0 70px;
    }
    &_name{
        margin: -1px 0 5px;
        .text-overflow();
        font-size: 14px;
        line-height: 16px;
        color: #a0b7c3;
        &_link{
            color: #a0b7c3;
            &:hover{
                color: #b4cedc;
                text-decoration: none;
            }
        }
    }
    &_cost{
        float: right;
        margin: 8px 0 0;
        font-size: 15px;
        line-height: 1;
        color: #a0b7c3;
    }
    &_i-action{
        font-size: 0;
    }
    &_count{
        display: inline-block;
        vertical-align: top;
        &_btn{
            display: inline-block;
            vertical-align: top;
            width: 28px;
            padding: 5px 0;
            font-size: 17px;
            line-height: 18px;
            text-align: center;
            color: #596f7b;
            border: 1px solid #172832;
            border-radius: 2px;
            background: #213844;
            cursor: pointer;
            transition: .2s;
            &:hover{
                color: #859ca8;
                border-color: #1b2e38;
                background: #344e5c;
            }
        }
        &_val{
            display: inline-block;
            vertical-align: top;
            width: 28px;
            height: 27px;
            margin: 0 7px;
            padding: 1px 8px 0;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            border: 1px solid #2f4653;
            border-radius: 2px;
            background: #132129;
            transition: .2s;
            &:focus{
                border-color: #53b2df;
                background: #1e303a;
            }
        }
    }

    &_del{
        display: inline-block;
        vertical-align: top;
        width: 30px;
        padding: 7px 0;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        color: #596f7b;
        opacity: 0;
        cursor: pointer;
        transition: .2s;
        &:hover{
            color: #90a7b3;
        }
    }


    &_footer{
        padding: 18px @basket-offset 25px;
    }
    &_sum{
        margin: 0 0 16px;
        font-size: 17px;
        line-height: 20px;
        text-align: right;
    }
    &_action{
        &:extend(.cf-mix all);
        .btn{
            width: 162px;
            padding: 12px 0 10px;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 2px;
        }
        .btn-basket{
            float: left;
        }
        .btn-primary{
            float: right;
            border-color: #0b466d;
        }
    }

    &_empty{
        padding: 20px 32px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
    }
}
// /basket drop list



// basket add product dropdown
.basket-popup-add{
    .basket-add-show &{
        display: block;
    }
    &.fixed{
        .basket-popup_cont{
            position: fixed;
            top: 0;
            margin-left: -380px;
        }
    }
    .basket_i{
        &:hover{
            background: none;
        }
    }
    .basket_cost{
        float: none;
    }
    .basket_footer{
        padding-top: 0;
    }
}
// /basket add product dropdown

