//
// Planeta Product View Page
//
// --------------------------------------------


.product-view-name{
    margin: 0 0 20px;
    text-align: center;
    h1 {
        margin: 0;
        font: 700 30px/35px @baseFontFamily;
    }
}

.product-details{
    position: relative;
    margin: 0 0 35px;
    background: #fff;
    border: 1px solid #d8dade;
}

.product-cover{
    position: relative;
    float: left;
    width: 300px;
    &:hover{
        .product-cover_preview{
            opacity: 1;
            transition: .3s;
        }
    }
    &_img{
        height: 300px;
        overflow: hidden;
        border-bottom: 1px solid #e6e6e6;
        img{
            display: block;
        }
    }
    &_preview{
        font: 0/0 a;
        margin: 0 0 23px;
        &_i{
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 46px;
            height: 46px;
            margin: 23px 0 0 23px;
            overflow: hidden;
            box-shadow: 0 0 0 1px #e6e6e6;
            cursor: pointer;
            &.active{
                box-shadow: 0 0 0 2px @linkColor;
            }

            .video-play-icon{
                background-size: 160%;
                background-color: fade(#fff, 40);
            }
        }
    }
}


.product-descr{
    float: left;
    width: 418px;
    padding: 22px 26px;
    margin: 0;
    word-wrap: break-word;
    &_text{
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 22px;
        p{
            margin: 0;
        }
        .bb-video-player-cover{
            &, img{
                margin: 0;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
            .bb-video-icon{
                width: 100%;
                height: 100%;
            }
        }
    }
    &:before,
    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        margin: 0 0 0 -26px;
        border-left: 1px solid #e6e6e6;
    }
    &:after{
        margin: 0 0 0 392px;
    }
}


.product-sizes{
    margin: 0 0 20px;
    &_head{
        margin: 0 0 5px;
        font-size: 10px;
        color: #7a878c;
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    &_list{
        margin: -8px 0 0 -3px;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        padding: 6px 10px;
        min-width: 60px;
        margin: 8px 0 0 3px;
        font: 700 14px/16px @baseFontFamily;
        color: @linkColor;
        text-align: center;
        border: 1px solid @linkColor;
        cursor: pointer;
        &:hover{
            background: #eef6fd;
        }
        &.selected{
            color: #fff;
            background: @linkColor;
        }
        &.disabled{
            color: #ccc;
            background: #f2f2f2;
            border-color: #f2f2f2;
            cursor: default;
        }
    }

    &_link-wrap{
        margin: 8px 0 0;
    }
    &_link{
        color: @linkColor;
        border-bottom: 1px dotted;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
    }

    &.error{
        .product-sizes_head{
            color: #db504e;
        }
    }
}


.product-info{
    float: left;
    width: 220px;
    padding: 24px 20px;
    &_price-label{
        font-size: 10px;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #7a878c;
    }
    &_price-value{
        margin: 0 0 10px;
        .proxima-bold();
        font-size: 45px;
        line-height: 45px;
        color: @linkColor;
        &.old-price{
            margin: 0 0 -2px;
            font-size: 25px;
            line-height: 27px;
            color: #ccc;
        }
        .old-price_in{
            position: relative;
            display: inline-block;
            vertical-align: top;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 2px;
                margin: -2px -3px 0;
                background: #bbb;
                transform: rotate(-8deg);
            }
        }
    }
    &_action{
        margin: 0 0 16px;
        .btn{
            padding: 10px 0;
        }
        .btn-block + .btn-block{
            margin-top: 20px;
        }
    }
    &_author{
        &-label{
            font-size: 10px;
            color: #7a878c;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        &-value{
            font-size: 14px;
            line-height: 22px;
            max-height: 44px;
            overflow: hidden;
        }
    }
    &_pre-order-info{
        position: relative;
        margin: 10px 0 20px;
        padding: 5px;
        text-align: center;
        color: #c0392b;
        border: 1px solid #c0392b;
        &:before{
            content: '';
            position: absolute;
            top: -5px;
            left: 50%;
            width: 8px;
            height: 8px;
            margin-left: -4px;
            border: solid #c0392b;
            border-width: 1px 1px 0 0;
            background: #fff;
            .rotate(-45deg);
        }
    }
}


.product-comments{
    margin: 0 0 35px;

    .attach-comment{
        &:extend(.cf-mix all);
        margin: 0;
        padding: 0 20px;
        border: 1px solid #d8dade;
        box-shadow: none;
        background: #fff;
        .attach-comment-block{
            margin: 0;
            .attach-comment-item{
                margin: 0 -20px;
                padding: 20px;
                &:hover{
                    background: none;
                }
                .attach-comment-ava{
                    &, a{
                        width: 50px;
                        height: 50px;
                    }
                }
                .attach-comment-text{
                    margin-left: 70px;
                    .name{
                        margin: 0 15px 5px 0;
                        a{
                            font-size: 14px;
                        }
                    }
                    .name{
                        font-size: 14px;
                    }
                    .date{
                        font-size: 14px;
                        color: #ccc;
                    }
                    .link-to-comment{
                        font-size: 12px;
                    }
                    .answer{
                        margin: 5px 0 0;
                        font-size: 11px;
                        color: #ccc;
                    }
                    .answer-link{
                        cursor: pointer;
                        &:hover{
                            color: #808080;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .show-all, .list-loader{
            margin: 20px 0;
        }
        .pln-ww{
            margin: 0 -20px;
            padding: 20px;
            background: #f4f4f4;
            .pln-ww-unregister{
                margin: 0;
            }
        }
    }
    .attach-comment-textarea{
        margin: 0 -20px;
        padding: 20px;
        background: #f4f4f4;
    }
}


.product-other{
    &_slider{
        position: relative;
        .product-card{
            height: 340px;
            margin: 0;
        }
        .product-card_i{
            height: 338px;
            margin: 0 10px;
        }
        .caroufredsel_wrapper{
            padding: 0 0 2px;
        }
    }
    &_arrows{
        top: 0;
    }
    .poa-prev, .poa-next{
        height: 216px;
    }
}


