//
// Planeta Shop Welcome
//
// --------------------------------------------


// igor
.shop-igor{
    margin-bottom: 20px;
    &_i{
        box-shadow: 0 1px 2px rgba(0,0,0,.14);
    }
    &_i + &_i{
        margin-top: 10px;
    }
    img{
        display: block;
    }
}
// /igor


// tab filter
.rich-tabs-wrap__shop{
    margin: 0 0 20px;
    font-size: 19px;
    line-height: 21px;
    .rich-tab-search{
        width: 73px;
    }
    .rich-tab_i{
        margin-left: 18px;
        &:first-child{
            margin-left: 0;
        }
    }
}
// /tab filter

.shop-welcome-banner{
    margin: 0;
}
