// interactive docs-link



.retina-border(@color, @height: .5, @opacity: .35) {

}


.docs-link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 16px 38px 16px 23px;
    font-size: 14px;
    line-height: 1;
    &, &:hover{
        text-decoration: none;
    }
    &:hover{
        .docs-link{
            &_name{
                color: @linkColorHover;
                box-shadow: inset 0 -1px fade(@linkColorHover, 30);
            }
        }
    }
    &_ico{
        position: relative;
        float: left;
        width: 30px;
        margin: -1px 7px -1px 0;
    }
    &_ico-size{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        font-size: 10px;
        line-height: 1;
        color: #7b94a2;
        text-align: center;
    }

    &_cont{
        position: relative;
        overflow: hidden;
    }
    &_name{
        color: @linkColor;
        background: linear-gradient(fade(@linkColor, 20), fade(@linkColor, 20)) repeat-x;
        background-size: 100% 1px;
        background-position: 0 100%;
        transition: .4s;
    }
    &_meta{
        display: block;
        margin: 3px 0 0;
        font-size: 11px;
        line-height: 13px;
        color: #7b94a2;
    }
}


.docs-link-ico-rocket{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url(../images/interactive/rocket-ico.svg) no-repeat;
}

.docs-link-ico-paper{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url(../images/interactive/paper-ico.svg) no-repeat;
}

.docs-link-ico-pdf{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url(../images/interactive/pdf-download.png) no-repeat;
}
