// fileinput-button



.fileinput-button{
    position: relative;
    overflow: hidden;
    float: none;
    margin: 0;
    input{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        height: auto;
        width: auto;
        font-size: 600%;
        line-height: 600%;
        opacity: 0;
        direction: ltr;
        cursor: pointer;
    }
}
