// interactive header



.header{
    position: relative;
    &_cont{
        &:extend(.cf-mix all);
        position: relative;
        z-index: 2;
        background: #fff;
    }
    &_logo{
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 23px;
        font-size: 30px;
        line-height: 0;
    }
    &_right{
        position: absolute;
        top: 0;
        right: 0;
    }
    &_steps-progress{
        text-align: center;
    }
    &_steps-nav{
        position: absolute;
        z-index: 1;
        top: -94px;
        left: 0;
        right: 0;
        transition: .2s;
        &__open{
            top: 100%;
        }
    }
}


.logo{
    display: inline-block;
    vertical-align: top;
    width: 632em / 145;
    line-height: 1em;
    background: url(../images/school-logo.svg) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}



