// interactive header-links-popup



.header-links-popup{
    margin: 10px;
    padding: 10px;
    background: fade(#fff, 20);
    border-radius: 10px;
    &_cont{
        position: relative;
        min-width: 330px;
        background: #fff;
        padding: 20px;
        font-size: 15px;
        line-height: 1.5;
        &:before{
            content: '';
            position: absolute;
            bottom: 100%;
            right: 87px;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }
    &_head{
        margin: 0 0 15px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
    }
}
