// intr-btn



.intr-btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 10px;
    border: 0;
    font: 700 18px/22px @ff-proxima-nova;
    letter-spacing: .05em;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
    &_in{
        display: block;
        padding: 24px 10px;
    }
    &:hover{
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        background-image: none;
        box-shadow: none;
        opacity: .5;
    }


    @media (max-height: 730px) {
        padding: 5px;
        &_in{
            padding: 18px 5px;
        }
    }
}



@intr-primary-color: #00b253;
.intr-btn-primary{
    background: fade(@intr-primary-color, 40);
    color: #fff;
    &_in{
        background: @intr-primary-color;
    }
    &:hover{
        color: #fff;
        background: fade(@intr-primary-color, 65);
    }
    &.active, &:active{
        background: @intr-primary-color;
        border-color: @intr-primary-color;
    }
    &.disabled, &[disabled]{
        background: fade(@intr-primary-color, 40);
        &_in{
            background: @intr-primary-color;
        }
    }
}



@intr-default-color: #666e78;
.intr-btn-default{
    background: fade(@intr-default-color, 40);
    color: #fff;
    &_in{
        background: @intr-default-color;
    }
    &:hover{
        color: #fff;
        background: fade(@intr-default-color, 65);
    }
    &.active, &:active{
        background: @intr-default-color;
        border-color: @intr-default-color;
    }
    &.disabled, &[disabled]{
        background: fade(@intr-default-color, 40);
        &_in{
            background: @intr-default-color;
        }
    }
}



.intr-btn__sm{
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    .intr-btn{
        &_in{
            padding: 18px 10px;
        }


        @media (max-height: 730px) {
            &_in{
                padding: 14px 5px;
            }
        }
    }
}
