// intr-cert



.intr-cert{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2970em / 2100;
    font-size: 283px;
    line-height: 1em;
    text-align: center;
    //background: url(../images/interactive/press.jpg) no-repeat 0 0 / cover;
    &:before{
        content: "\00a0";
    }
    &_img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            min-width: 100%;
            height: auto;
            margin: auto;
            transform: translateZ(0);
        }
    }
    &_name{
        position: absolute;
        top: 1040em / 128;
        left: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 350em / 128;
        padding: 0 140em / 128 0 280em / 128;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 128em / 2100;
        line-height: 1.1;
        font-weight: 700;
        font-style: italic;
        color: #fff;
        word-wrap: break-word;
        word-break: break-word;
    }
    &_side{
        display: none;
    }
}




.intr-cert-page{
    .intr-cert{
        font-size: 2100 * 1024px / 2970;
    }
}
