// intr-cert-box



.intr-cert-box{
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 900px;
    margin: 0 0 0 -450px;
    &_wrap{
        position: relative;
        padding: 10px;
        background: fade(#fff, 40);
        border-radius: 10px;
        color: #000;
    }
    &_block{
        &:extend(.cf-mix all);
        position: relative;
        padding: 20px 20px;
        background: #fff;
    }
    &_side{
        float: left;
        width: 440px;
        min-height: 1px;
    }
    &_cont{
        float: left;
        width: 400px;
        text-align: center;
    }
    &_head{
        margin: 0 0 28px;
        padding: 30px 0 0;
        font-size: 20px;
        line-height: 32/24;
        font-weight: 700;
    }
    &_bottom{
        position: absolute;
        bottom: 30px;
        width: 400px;
    }
    &_share{
        margin: 0 0 20px;
        [class^="bs-icons-"]{
            border-radius: 0;
            opacity: 1;
        }
        .spsb-item{
            margin-left: 10px;
            &:first-child{
                margin: 0;
            }
        }
        .sps-count{
            display: block;
            margin: 15px 0 0;
            color: #000;
        }
    }
    &_download{
        font-size: 20px;
        a{
            text-decoration: underline;
        }
    }


    @media (max-height: 730px) {
        width: 890px;
        margin: 0 0 0 -445px;
        &_wrap{
            padding: 5px;
        }
    }
}
