// intr-form-ui



.intr-form-ui{
    .form-ui-txt{
        padding-left: 70px;
        font-size: 16px;
        line-height: 56px;
        color: #fff;
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 56px;
                height: 56px;
                padding: 10px;
                background: fade(#4da1ff, 40);
                border-radius: 10px;
            }
            .form-ui-txt{
                &:before{
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 36px;
                    height: 36px;
                    background: #fff;
                }
                &:after{
                    top: 16px;
                    left: 14px;
                    width: 29px;
                    height: 15px;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid transparent;
                    transform: rotate(-45deg) scale(0.5);
                    transition: .2s;
                    opacity: 0;
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        border-bottom-color: #4da1ff;
                        border-left-color: #4da1ff;
                        transform: rotate(-45deg) scale(1);
                        opacity: 1;
                    }
                }
            }
        }

    }

    .error &{
        input[type="checkbox"] {
            & + .form-ui-label {
                &:before {
                    background: fade(#ff3100, 40);
                }
            }
        }
    }


    @media (max-height: 730px) {
        .form-ui-txt{
            padding-left: 60px;
            line-height: 46px;
        }
        input[type="checkbox"] {
            & + .form-ui-label{
                &:before{
                    width: 46px;
                    height: 46px;
                    padding: 5px;
                }
                .form-ui-txt{
                    &:before{
                        top: 5px;
                        left: 5px;
                    }
                    &:after{
                        top: 11px;
                        left: 9px;
                    }
                }
            }
        }
    }
}




.lesson-mail-form-ui{
    .form-ui-txt{
        padding-left: 32px;
        font-size: 12px;
        line-height: 1;
        font-weight: 600;
        color: #7894a2;
    }

    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 3px;
                    background: #fff;
                    border: 1px solid #454553;
                }
                &:after{
                    top: 6px;
                    left: 4px;
                    width: 17px;
                    height: 8px;
                    border-bottom: 2px solid transparent;
                    border-left: 2px solid transparent;
                    transform: rotate(-45deg) scale(0.5);
                    transition: .2s;
                    opacity: 0;
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        border-bottom-color: #454553;
                        border-left-color: #454553;
                        transform: rotate(-45deg) scale(1);
                        opacity: 1;
                    }
                }
            }
        }

    }
}
