// lesson-materials



.lesson-materials{
    position: absolute;
    top: 50px;
    right: 40px;
    background: #fff;
    &:before{
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background: fade(#fff, 40);
        border-radius: 10px;
        transition: .2s;
    }
    &_mail{
        border-top: 1px solid #d8e0e8;
        padding: 13px 28px;
    }
    .docs-link{
        padding: 22px 38px 22px 23px;
        background: #fff;
        /*
        &:hover{
            &:before{
                background: fade(#fff, 60);
            }
        }
        */
    }


    @media (max-height: 730px) {
        top: 25px;
        right: 20px;
    }
}
