// modal-intr-share



.modal-intr-share{
    width: 580px;
    border: 0;
    background: none;
    &_cont{
        text-align: center;
    }
    &_close{
        position: fixed;
        top: 25px;
        right: 25px;
        .close{
            width: 30px;
            height: 30px;
            font-size: 0;
            .cross(30, 2, #fff);
            background-size: cover;
            opacity: .8;
            &:hover{
                opacity: 1;
            }
        }
    }
    &_head{
        margin: 0 0 30px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #fff;
    }

    [class^="bs-icons-"]{
        border-radius: 0;
        opacity: 1;
    }
    .spsb-item{
        margin-left: 10px;
        &:first-child{
            margin: 0;
        }
    }
    .sps-count{
        display: block;
        margin: 15px 0 0;
        color: #fff;
    }
}
