// price-calc



.price-calc{
    display: flex;
    //justify-content: space-between;
    &_cell{
        flex: 1 1 0;
    }
    &_slide-1{
        flex: none;
        min-width: 220px;
    }
    &_slide-2{
        flex: none;
        min-width: 260px;
    }
    &_sep{
        padding: 46px 10px 0;
        font-size: 32px;
        line-height: 1;
        font-weight: 300;
        color: #fff;
    }
    &_lbl{
        margin: 0 0 8px;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    .form-control{
        font-size: 22px;
        font-weight: 700;
        color: #1b2336;
        text-align: center;
    }
}


.tooltip-element.price-calc-tooltip{
    max-width: 350px;
    font-size: 14px;
    text-align: center;
}
