// project block



.project-view-header{
    .project-create_upload{
        background: #fff;
        &_va{
            height: 360px;
            .vert-align-center{
                width: auto;
            }
        }
    }
}


.project-edit-container{
    .project-author{
        padding: 20px;
    }
    .project-create_cont{
        margin-top: 50px;
    }
    .donate-action-view{
        margin-bottom: 0;
    }
}



.hold-block{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.hold-block-transparent{
    &:extend(.hold-block all);
    opacity: .5;
}
.hold-block-white{
    &:extend(.hold-block all);
    &:before{
        background: fade(#fff, 50);
    }
}


.interactive-shares .project-create_reward-error{
    height: 146px;
    background-image: url(../images/project/reward-error-no-arr.svg);
    .hold-block-transparent &{
        display: none;
    }
}


.project-description.error{
    position: relative;
    .ww-flat{
        position: relative;
        z-index: 101;
    }
    &:before{
        content: '';
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 10px 5px #ff501a;
    }
}
