// project-edit-container



.project-edit-container{
    .project-view-wrap{
        margin: 30px 0 0;
    }
    &_action{
        margin: 40px 0 0;
    }
    &_action-fixed{
        padding: 10px 0;
        margin: -10px 0;
        .fixed &{
            position: fixed;
            z-index: 999;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 0;
            margin-bottom: 0;
            background: fade(#fff, 50);
        }
    }
    &_action-fixed-cont{
        width: 940px;
        margin: auto;
    }
}
