// slide-form-ui



.slide-form-ui{
    padding: 10px;
    background: fade(#4da1ff, 40);
    border-radius: 52px;
    user-select: none;


    .form-ui-label{
        position: relative;
        display: block;
        font-size: 0;
        background: #fff;
        border-radius: inherit;
    }

    .form-ui-val{
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 16px 5px;
        font-size: 18px;
        line-height: 20px;
        color: #7b94a2;
        text-align: center;
        transition: .2s;
    }
    .form-ui-val-first{
        font-weight: 700;
        color: #fff;
    }
    .form-ui-slide{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        transition: .2s;
        &:before{
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background: #4da1ff;
            border-radius: 52px;
        }
    }

    input[type="checkbox"] {
        &:checked {
            & + .form-ui-label{
                .form-ui-val-first{
                    font-weight: 400;
                    color: #7b94a2;
                }
                .form-ui-val-second{
                    font-weight: 700;
                    color: #fff;
                }
                .form-ui-slide{
                    left: 50%;
                }
            }
        }
    }


    @media (max-height: 730px) {
        padding: 5px;
    }
}
