// interactive steps-nav



.steps-nav{
    position: relative;
    height: 94px;
    background: linear-gradient(90deg, #11b3e3, #0d78d4);
    box-shadow: inset 0 4px 8px fade(#1b2336, 10);
    text-align: center;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        background: #fff;
        transform: rotate(45deg);
    }

    &_wrap{
        padding: 38px 20px 0;
    }
    &_list{
        display: flex;

        max-width: 1220px;
        margin: auto;
        pointer-events: none;
        &:hover{
            .steps-nav_i.active .steps-nav_name{
                opacity: 0;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    &_i{
        position: relative;
        flex: 1 1 auto;
        height: 3px;
        background: #fff;
        color: #fff;
        &:hover{
            &:after{
                content: '';
                position: absolute;
                z-index: 3;
                top: -1px;
                right: 0;
                width: 5px;
                height: 5px;
                margin: 0 -2px 0 0;
                border-radius: 50%;
                background: lighten(#02c7fe, 10%);
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: -4px;
            right: 0;
            width: 11px;
            height: 11px;
            margin: 0 -5px 0 0;
            border-radius: 50%;
            background: inherit;
        }
        &:first-child{
            flex: none;
        }

        &.current{
            z-index: 1;
        }
        &.active{
            z-index: 2;
            &:before{
                top: -5px;
                width: 13px;
                height: 13px;
                margin-right: -6px;
                background: #02c7fe;
                border: 4px solid #fff;
                box-shadow: 0 4px 5px fade(#323c47, 15);
            }
            .steps-nav_name{
                opacity: 1;
                cursor: default;
                pointer-events: none;
            }
        }
        &.current ~ .steps-nav_i{
            background: #0b68b7;
            .steps-nav_name{
                display: none;
            }
        }
    }
    &_name{
        position: absolute;
        top: 0;
        right: 0;
        min-width: 150px;
        transform: translateX(50%);
        margin: -10px 0 0 0;
        padding: 31px 0 0;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        white-space: nowrap;
        transition: .2s;
        opacity: 0;
        cursor: pointer;
        pointer-events: auto;
        &, &:hover{
            color: #fff;
            text-decoration: none;
        }
        &:hover{
            z-index: 1;
            opacity: 1;
        }
    }
}
