// interactive steps-progress



.steps-progress{
    &_block{
        display: inline-block;
        vertical-align: top;
        padding: 20px 0 20px 16px;
    }
    &_bar{
        float: left;
        margin: 0 10px 0 0;
        font-size: 0;
    }
    &_cont{
        float: left;
        margin: 2px 0 0;
        font-size: 14px;
        line-height: 16px;
        color: #1b2336;
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;

        color: @linkColor;
        background: linear-gradient(fade(@linkColor, 20), fade(@linkColor, 20)) repeat-x;
        background-size: 100% 1px;
        background-position: 0 100%;
        transition: .4s;

        cursor: pointer;
        user-select: none;

        &:hover{
            color: @linkColorHover;
            box-shadow: inset 0 -1px fade(@linkColorHover, 30);
        }
    }
    &_val{
        display: inline-block;
        vertical-align: top;
        min-width: 53px;
        text-align: left;
    }
}
