// ui-slider



.ui-slider{
    position: relative;
    height: 8px;
    background: #e9eff4;
    border: 0;
    border-radius: 10px;
}

.ui-slider-handle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    user-select: none;
    cursor: pointer;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        margin: -4px 0 0 -8px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 5px fade(#323c47, 50);
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: -4px;
        width: 8px;
        height: 8px;
        background: #4da1ff;
        border-radius: 50%;
    }
}

.ui-slider-handle-tooltip{
    position: absolute;
    bottom: 100%;
    width: 90px;
    margin: 0 0 11px -45px;
    padding: 6px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #1b2336;
    background: #fff;
    border: 2px solid #4ad3fe;
    border-radius: 4px;
    &:before{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -3px 0 0 -4px;
        background: #fff;
        border: solid #4ad3fe;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.ui-slider-range{
    height: 100%;
    background: linear-gradient(90deg, #51a6fc 0, #48dffe 100%);
    border-radius: 10px;
}
