// upload-image



.video-form-upload{
    height: 124px;
    padding: 22px;


    .project-create{
        &_col-val{
            &_cont{
                padding: 0;
            }
        }
        &_upload{
            padding: 0;
            &_va{
                height: 76px;
            }
        }
    }


    .project-create_upload_state-loading{
        height: 80px;
        .state-loading{
            &_bar{
                margin: 0 0 15px;
            }
            &_progress-text{
                font-family: @ff-proxima-nova;
                font-size: 14px;
            }
        }
    }



    [class^="s-pc-action-"], [class*=" s-pc-action-"]{
        margin: -1px 3px 0 0;
    }

    .project-img-view{
        float: left;
        width: 166px;
        height: auto;
        padding: 0;
        overflow: visible;
        .pmv-img{
            width: auto !important;
            max-height: 100px !important;
            min-height: 100px !important;
        }
    }
    .project-create_media{
        margin: -10px 0;
        &_action{
            margin: 0 0 0 190px;
            font-size: 10px;
            line-height: 12px;
            .pull-right{
                display: block;
                float: none;
                margin: 10px 0 0;
            }
        }
    }
}



.video-form-upload-project{
    .project-create{
        &_col-val{
            &_cont{
                padding: 0;
            }
        }
        &_upload{
            padding: 0;
            &_state-loading{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 30px;
                right: 30px;
                margin: auto;
            }
        }
        &_media{
            &_action{
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 10px;
                font-size: 10px;
                line-height: 1;
                background: fade(#fff, 85);
                cursor: pointer;
                opacity: 0;
                transition: .2s;
            }
            &_link{
                .s-pc-action-crop{
                    background-position: 0 -15px;
                }
                &.delete{
                    margin-left: 20px;
                }
            }
        }
    }
    .upload-state-loading{
        position: relative;
        height: 0;
        padding: 0 0 56.25%;
        overflow: hidden;
    }

    &:hover{
        .project-create{
            &_media{
                &_action{
                    opacity: 1;
                }
            }
        }
    }

    &.error{
        .project-create_upload_va{
            box-shadow: inset 0 0 0 10px #ff501a;
        }
        .project-create_upload_va{
            //height: 340px;
        }
    }
}
