// video-form-select2



.video-form-select2.video-form-select2{
    &, & *{
        box-sizing: content-box;
    }
    .select2-container{
        width: 100%;
        .select2-choice,
        .select2-choices{
            display: block;
            padding: 9px;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            &:hover{
                text-decoration: none;
            }
            .select2-search-choice{
                margin-left: 5px;
                margin-right: 5px;
                padding: 6px 12px;
                font-size: 16px;
                line-height: 18px;
                border: 0;
                border-radius: 4px;
                background: #f1f1f1;
                &:hover{
                    .select2-search-choice-close{
                        opacity: 1;
                    }
                }
                &.select2-search-choice-focus{
                    background: #d8e0e8;
                    .select2-search-choice-close{
                        opacity: 1;
                    }
                }
            }
            .select2-search-field input{
                height: 26px;
                font: 16px/30px @ff-proxima-nova;
                color: #afaeae;
                &.select2-focused{
                    color: @textColor;
                }
            }
            .select2-chosen{
                color: @textColor;
            }
        }
        .select2-search-choice-close{
            left: auto;
            right: -6px;
            top: -6px;
            width: 18px;
            height: 18px;
            border: 1px solid #d8e0e8;
            border-radius: 50%;
            background: #fff;
            opacity: 0;
            transition: .2s;
            &:before{
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 8px;
                height: 8px;
                .cross(12, 2, #254959);
                background-size: cover;
            }
            &:hover{
                background: #f2f2f2;
                background-position: 0 0 !important;
            }
        }
    }
}


.video-form-select2-drop{
    &.select2-drop-active,
    &.select2-drop.select2-drop-above.select2-drop-active{
        border-radius: 4px;
        box-shadow: none;
        border-color: #d8e0e8;
        border-width: 1px;
        margin: 5px 0 0;
    }
    & .select2-results{
        max-height: 150px;
    }
    & .select2-results .select2-result-label{
        font-size: 14px;
        line-height: 16px;
        padding: 7px 17px;
    }

    & .select2-results .select2-highlighted{
        background: #4da1ff;
    }

    &.select2-drop{
        .select2-search{
            margin: 0 0 10px;
        }
        .select2-input{
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 16px;
            color: #555;
            background: #fff;
            border: solid #ccc;
            border-width: 1px 0;
        }
    }
}
