// videojs



.video-js{
    width: 100%;
    height: 100%;
    .vjs-tech{
        height: auto;
        &::-webkit-media-controls,
        &::-webkit-media-controls-panel,
        &::-webkit-media-controls-play-button,
        &::-webkit-media-controls-start-playback-button {
            display: none!important;
            -webkit-appearance: none;
        }
    }

    &.fill-vertical{
        .vjs-tech{
            height: 100%;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .video-container__small &{
        .vjs-tech{
            height: 100%;
            width: 100%;
            left: 0;
            transform: translateX(0);
        }
    }
}
