// video-container



.main-video{
    position: relative;
    background: #000;
}

.video-container{
    max-width: 100%;
    height: ~"calc(100vh - 60px)";
    margin: auto;
    transition: .5s ease-out;
    &__small{
        height: 530px !important;
        @media (min-width: 1180px) {
            max-width: 1180px;
        }
    }
}

.video-js{
    position: relative;
    overflow: hidden;
}


/*
.vjs-text-track-display div{
    font-size: 20px !important;
}
*/

