// interactive video-form



.video-form{
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    &_cont{
        max-width: 1220px;
        margin: auto;
        padding: 0 10px;
    }
    &_row{
        position: relative;
        margin: 20px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_field{
        &:extend(.cf-mix all);
        padding: 10px;
        background: fade(#4da1ff, 40);
        border-radius: 10px;
        &__blank{
            padding: 0 !important;
            background: none !important;
        }
        &.error{
            background: fade(#ff3100, 40);
        }
    }
    &_field-in{
        display: table;
        width: 100%;
        position: relative;
        background: #fff;
    }
    &_lbl{
        position: relative;
        display: table-cell;
        vertical-align: top;
        width: 165px;
        padding: 18px 28px 16px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        color: #4da1ff;
        white-space: nowrap;
        &__sm{
            font-size: 14px;
            white-space: normal;
        }
        .error &{
            color: #ff501a;
        }
    }
    &_val{
        position: relative;
        display: table-cell;
        vertical-align: top;
        border-left: 1px solid #d0d7dd;
    }
    &_val-col{
        padding: 0;
        & + & {
            border-left: 1px solid #d0d7dd;
        }
    }
    &_input{
        height: 52px;
        padding: 17px 20px;
        border: 0;
        font-size: 16px;
        line-height: 18px;
    }
    &_slider{
        padding: 22px;
    }
    &_warning{
        position: absolute;
        top: 19px;
        right: 10px;
        min-width: 16px;
        text-align: center;
        display: none;
        .error &{
            display: block;
        }
    }

    .rest-count{
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        margin: 2px 0;
        padding: 0 7px;
        background: fade(#fff, 70);
    }


    @media (max-height: 730px) {
        bottom: 50px;
        &_row{
            margin-top: 5px;
        }
        &_field{
            padding: 5px;
        }
    }
}
