                                        <table style="line-height: inherit; border-spacing: 0; border-collapse: collapse; width: 100%;">
                                            <tr style="line-height: inherit;">
                                                <td style="line-height: inherit; vertical-align: top; width: 40px; padding: 0;" valign="top"></td>
                                                <td style="line-height: inherit; vertical-align: top; padding: 0;" valign="top">
                                                    <table style="line-height: inherit; border-spacing: 0; border-collapse: collapse; width: 100%; border-top-width: 1px; border-top-color: #deddd9; border-top-style: solid;">
                                                        <tr style="line-height: inherit;">
                                                            <td style="line-height: inherit; vertical-align: top; height: 30px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="30" width="1" style="display:block"></td>
                                                        </tr>
                                                        <tr style="line-height: inherit;">
                                                            <td style="line-height: inherit; vertical-align: top; padding: 0;" valign="top">
                                                                <table style="line-height: inherit; border-spacing: 0; border-collapse: collapse; width: 100%;">
                                                                    <tr style="line-height: inherit;">
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 30px; padding: 0;" valign="middle">
                                                                            <a href="https://vk.com/planetaru" style="line-height: inherit; color: #3498db; text-decoration: underline;">
                                                                                <img src="https://s2.planeta.ru/i/758b5/1409051425924_renamed.jpg" width="30" height="30" style="line-height: inherit; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none;" />
                                                                            </a>
                                                                        </td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 10px; padding: 0;" valign="middle"></td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 30px; padding: 0;" valign="middle">
                                                                            <a href="https://www.facebook.com/planetaru" style="line-height: inherit; color: #3498db; text-decoration: underline;">
                                                                                <img src="https://s2.planeta.ru/i/758b3/1409051425329_renamed.jpg" width="30" height="30" style="line-height: inherit; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none;" />
                                                                            </a>
                                                                        </td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 10px; padding: 0;" valign="middle"></td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 30px; padding: 0;" valign="middle">
                                                                            <a href="https://twitter.com/PlanetaPortal" style="line-height: inherit; color: #3498db; text-decoration: underline;">
                                                                                <img src="https://s2.planeta.ru/i/758b4/1409051425633_renamed.jpg" width="30" height="30" style="line-height: inherit; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none;" />
                                                                            </a>
                                                                        </td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 10px; padding: 0;" valign="middle"></td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 30px; padding: 0;" valign="middle">
                                                                            <a href="https://www.youtube.com/user/planetarutv" style="line-height: inherit; color: #3498db; text-decoration: underline;">
                                                                                <img src="https://s2.planeta.ru/i/758b6/1409051426200_renamed.jpg" width="30" height="30" style="line-height: inherit; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none;" />
                                                                            </a>
                                                                        </td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 10px; padding: 0;" valign="middle"></td>
                                                                        <td style="line-height: inherit; vertical-align: middle; width: 30px; padding: 0;" valign="middle">
                                                                            <a href="https://ok.ru/planetaportal" style="line-height: inherit; color: #3498db; text-decoration: underline;">
                                                                                <img src="http://files.planeta.ru/digest/_common_pix/ico-ok.png" width="30" height="30" style="line-height: inherit; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none;" />
                                                                            </a>
                                                                        </td>
                                                                        <td style="line-height: inherit; vertical-align: middle; font-size: 14px; font-style: italic; color: #9c9c9c; padding: 0 0 0 25px;" valign="middle">
                                                                            Присоединяйтесь к нам в соцсетях!
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr style="line-height: inherit;">
                                                            <td style="line-height: inherit; vertical-align: top; height: 40px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="40" width="1" style="display:block"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="line-height: inherit; vertical-align: top; width: 40px; padding: 0;" valign="top"></td>
                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>


                            <table style="line-height: 13px; border-spacing: 0; border-collapse: collapse; width: 100%; font-size: 11px; color: #8e8e8e; text-align: center;">
                                <tr style="line-height: inherit;">
                                    <td style="line-height: inherit; vertical-align: top; height: 30px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="30" width="1" style="display:block"></td>
                                </tr>
                                <tr style="line-height: inherit;">
                                    <td style="line-height: inherit; vertical-align: top; padding: 0;" valign="top">
                                        <span style="line-height: inherit; color: #000;">&copy; 2018 Planeta.ru</span>
                                        <span style="line-height: inherit; padding-left: 5px; padding-right: 5px; color: #c0c0c0;">•</span>
                                        <a href="mailto:support@planeta.ru" style="line-height: inherit; color: #3498db; text-decoration: underline;">support@planeta.ru</a>
                                    </td>
                                </tr>


                                <tr style="line-height: inherit;">
                                    <td style="line-height: inherit; vertical-align: top; height: 10px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="10" width="1" style="display:block"></td>
                                </tr>
                                <tr style="line-height: inherit;">
                                    <td style="line-height: inherit; vertical-align: top; padding: 0;" valign="top">

                                        <div style="line-height: 16px; font-size: 11px; color: #808080;">
                                            Это письмо было отправлено на почтовый ящик <a href="${mailTo}" style="line-height: inherit; color: #808080; text-decoration: underline;"><b>${mailTo}</b></a>,
                                            <br style="line-height: inherit;"> потому что он был использован при регистрации на сайте <a href="${appHost}" style="line-height: inherit; color: #808080; text-decoration: underline;">planeta.ru</a>.
                                            <br style="line-height: inherit;"> Вы можете изменить свои настройки перейдя по <a href="${appHost}/settings" style="line-height: inherit; color: #808080; text-decoration: underline;">ссылке</a>.
                                        </div>

                                    </td>
                                </tr>


                                <tr style="line-height: inherit;">
                                    <td style="line-height: inherit; vertical-align: top; height: 30px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="30" width="1" style="display:block"></td>
                                </tr>
                            </table>



                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>


</body>

</html>
