<table style="line-height: inherit; border-spacing: 0; border-collapse: collapse; width: 100%;">
    <tr style="line-height: inherit;">
        <td style="line-height: inherit; vertical-align: top; width: 40px; padding: 0;" valign="top"></td>
        <td style="line-height: inherit; vertical-align: top; padding: 0;" valign="top">
            <table style="line-height: inherit; border-spacing: 0; border-collapse: collapse; width: 100%;">
                <tr style="line-height: inherit;">
                    <td style="line-height: inherit; vertical-align: top; height: 40px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="40" width="1" style="display:block"></td>
                </tr>
                <tr style="line-height: inherit;">
                    <td style="line-height: inherit; vertical-align: top; padding: 0;" valign="top">
                        ${content}
                    </td>
                </tr>
                <tr style="line-height: inherit;">
                    <td style="line-height: inherit; vertical-align: top; height: 40px; padding: 0;" valign="top"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" height="40" width="1" style="display:block"></td>
                </tr>
            </table>
        </td>
        <td style="line-height: inherit; vertical-align: top; width: 40px; padding: 0;" valign="top"></td>
    </tr>
</table>

