// about-lead



.about-lead{
    &_top{
        background: #f2f2f2;
    }
    &_quick{
        padding: 42px 50px 55px;
        font-size: 21px;
        line-height: 32px;
    }
    &_quick-more{
        margin-top: 8px;
        text-align: right;
        .btn{
            padding: 14px 42px;
            font-size: 18px;
            line-height: 20px;
            font-weight: 400;
        }
    }
    &_cont{
        display: none;
    }
    &_text{
        padding: 35px 50px;
        font-size: 15px;
        line-height: 25em / 15;
        p{
            margin: 2em 0;
        }
        h2{
            margin: 1.5em 0;
            text-align: center;
        }
    }
}
