// about-info-age



.about-info-age{
    margin: 116px 0 0;
    &_head{
        margin: 0 0 25px;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        color: #fff;
    }

    &_list-wrap{
        max-width: 980px;
        margin: auto;
    }
    &_list{
        display: table;
        width: 100%;
        font-size: 0;
    }
    &_i{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 0 3px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        &:first-child{
            .about-info-age_lbl{
                left: 0;
                width: auto;
                margin-left: 0;
                text-align: left;
            }
        }
        &:last-child{
            .about-info-age_lbl{
                left: auto;
                right: 0;
                width: auto;
                margin-left: 0;
                text-align: right;
            }
        }
    }
    &_i-small{
        font-size: 16px;
    }
    &_i-cont{
        display: table;
        width: 100%;
        height: 100%;
        background: #3497db;
        color: #fff;
    }
    &_val{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
    &_lbl{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 200px;
        margin: 13px 0 0 -100px;
        font-size: 24px;
        font-weight: 700;
        white-space: nowrap;
    }
}
