// about-menu



.about-menu-wrap{
    margin: -20px 0 0;
    &.fixed{
        .about-menu{
            position: fixed;
            z-index: @zindexModal;
            top: 0;
            left: 0;
            right: 0;
            transform: translateZ(0);
        }
    }
}
.about-menu{
    padding: 20px 0;
    background: @baseColor;
    &_list{
        font-size: 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 45px;
        font-size: 17px;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            .about-menu_link{
                border-color: #fff;
            }
        }
    }
    &_link{
        display: block;
        padding: 5px 12px;
        border: 2px solid transparent;
        border-radius: 5px;
        color: #fff;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}
