// about-info



[class^="s-about-info-"], [class*=" s-about-info-"]{
    .sprite(150, 150, url(../images/about/s-info.svg));
}
//.s-about-info-group     { background-position: 0 0 }
.s-about-info-dance     { background-position: -200px 0 }
.s-about-info-stars     { background-position: -400px 0 }
.s-about-info-stats     { background-position: -600px 0 }
.s-about-info-school    { background-position: -800px 0 }
.s-about-info-products  { background-position: -1000px 0 }





.about-info{
    background: #141d37 url(../images/about/info-bg.jpg) no-repeat 50% 0;
    &:after{
        content: '';
        display: block;
        height: 232px;
        background: #4de1c5 url(../images/about/info-bt-bg.png) no-repeat;
        background-size: 100% 100%;
    }
    &_wrap{
        position: relative;
        min-height: 1180px;
        max-width: 1920px;
        padding: 150px 0 0;
        margin: auto;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            width: 50%;
            background: #1489ac;
        }
    }

    &_list{
        margin: -120px -10px 0 -10px;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        margin: 120px 0 0;
        padding: 0 10px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }
    &_i-cont{
        position: relative;
        max-width: 300px;
        margin: auto;
    }
    &_val{
        margin: 15px 0 0;
        font-size: 48px;
    }
    &_val-plus{
        margin-right: -37px;
    }
    &_lbl{
        font-size: 20px;
        line-height: 24em / 20;
    }


    &_sex{
        &:extend(.cf-mix all);
        max-width: 223px;
        margin: 0 auto 5px;
    }
    &_sex-i{
        float: right;
        &:first-child{
            float: left;
        }
    }
    &_sex-percent{
        font-size: percentage(32/48);
    }
    &_sex-lbl{
        font-size: 20px;
        line-height: 24em / 20;
    }
}
