// about-contacts



.about-contacts{
    padding: 102px 0 216px;
    background: #e7fffa;
    overflow: hidden;
    &_block{
        max-width: 1030px;
        margin: auto;
    }


    &_head{
        &:extend(.cf-mix all);
        margin: 0 0 106px;
    }
    &_head-logo{
        float: left;
        width: 50%;
    }
    &_head-cont{
        float: left;
        width: 50%;
        padding: 109px 0 0;
        font-size: 22px;
        font-weight: 600;
    }
    &_head-val{
        margin: 12px 0 0;
        font-size: 48px;
        line-height: 1;
    }


    &_i{
        &:extend(.cf-mix all);
        margin: 108px 0 0;
        &:first-child{
            margin-top: 0;
        }
        &:nth-child(even){
            .about-contacts_ava{
                float: left;
                text-align: left;
            }
            .about-contacts_cont{
                text-align: left;
            }
            .about-contacts_info{
                float: none;
            }
            .about-contacts_ava-img{
                &:before{
                    right: auto;
                    left: 50%;
                }
            }
        }
    }
    &_ava{
        float: right;
        width: 50%;
        text-align: right;
    }
    &_ava-img{
        position: relative;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        border: 7px solid @baseColor;
        &:before{
            content: '';
            position: absolute;
            right: 50%;
            bottom: 46px;
            width: 9999px;
            border-bottom: 8px solid @baseColor;
        }
        img{
            position: relative;
            border-radius: 50%;
        }
    }
    &_cont{
        float: left;
        width: 50%;
        padding: 68px 0 0;
        text-align: right;
    }
    &_info{
        float: right;
        max-width: 380px;
        &__long{
            max-width: 450px;
        }
    }
    &_prof{
        font-size: 18px;
        line-height: 22px;
    }
    &_name{
        font-size: 30px;
        font-weight: 600;
    }
    &_mail{
        font-size: 24px;
        font-weight: 600;
        a{
            text-decoration: underline;
        }
    }
}
