// about-faq



.about-faq{
    padding: 25px 0;
    &_head{
        margin: 30px 0;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
    &_i{
        margin: 20px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_question{
        padding: 34px;
        font-size: 24px;
        text-align: center;
        border: 2px solid #bcd0cc;
        cursor: pointer;
    }
    &_question-text{
        max-width: 520px;
        margin: auto;
    }
    &_answer{
        display: none;
    }
    &_answer-cont{
        padding: 40px;
        font-size: 16px;
    }

    &_more{
        margin: 25px 0 0;
        text-align: center;
        .btn{
            padding: 14px 48px;
            font-size: 18px;
        }
    }
}
