// contacts



[class^="s-contacts-"], [class*=" s-contacts-"]{
    .sprite(100, 100, url(../images/contacts/s-contacts.svg));
}
//.s-contacts-user        { background-position: 0 0 }
.s-contacts-support     { background-position: -150px 0 }
.s-contacts-pr          { background-position: -300px 0 }
.s-contacts-tv          { background-position: -450px 0 }
.s-contacts-advertising { background-position: -600px 0 }
.s-contacts-requisites  { background-position: -750px 0 }



.contacts-list{
    margin-top: -53px;
    margin-bottom: 95px;
    font-size: 0;
    .contacts-list{
        margin-bottom: 0;
    }
    &_i{
        &:extend(.cf-mix all);
        margin-top: 78px;
        font-size: 16px;
        line-height: 22em / 16;
        &[class*=" col-"]{
            display: inline-block;
            vertical-align: top;
        }
        a{
            text-decoration: underline;
        }
    }
    &_ico{
        float: left;
        width: 150px;
    }
    &_descr{
        overflow: hidden;
        p{
            margin: 2em 0 0;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    &_descr-cont{
        margin-right: 60px;
    }
    &_name{
        margin: 0 0 18px;
        padding: 3px 0 0;
        font-size: 22px;
        font-weight: 700;
    }
    &_p-mail{
        display: block;
        margin: 5px 0 0;
        font-size: 16px;
        font-weight: 600;
    }
    &_p-hl{
        color: @baseColor;
    }
}




.contacts-requisites{
    margin: 43px 0 0;
    &_i{
        &:extend(.cf-mix all);
        margin: 14px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }
    &_lbl{
        float: left;
        width: 250px;
        color: @baseColor;
    }
    &_val{
        overflow: hidden;
    }
    &_tel{
        font-size: 24px;
        line-height: 1;
    }
    &_time{
        margin: 4px 0 0;
        font-size: 11px;
    }
}




.contacts-hr{
    margin: 0 0 60px;
    border: solid #d9d9d9;
    border-width: 1px 0;
}




.contacts-map{
    height: 450px;
    margin: 0 0 100px;
}
