// logos



.logos-pantone{
    margin: 0 0 50px;
    background: #00b8e5;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    &_i{
        padding: 40px 20px 30px;
    }
    &_lbl{
        font-weight: 700;
    }
}




.logos{
    margin: 0 0 100px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    &_logo{
        padding: 26px 47px 25px 40px;
        background: #f4f4f4;
        &__black{
            background: #000;
        }
        &__white{
            background: #00b8e5;
        }
    }
    &_links{
        margin: 20px 0 0;
        a{
            text-decoration: underline;
        }
        a + a{
            margin-left: 33px;
        }
    }
}


