// marketing-feedback



.marketing-feedback{
    padding: 67px 0 30px;
    color: #fff;
    background: #3599db url(../images/marketing/marketing-feedback-bg.jpg) no-repeat 50% / cover;
    a{
        &, &:hover{
            color: #fff;
        }
    }
    &_head{
        margin: 0 0 38px;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: .1em;
        text-align: center;
        text-transform: uppercase;
    }

    &_mail,
    &_tel{
        padding: 0 0 0 90px;
        font-size: 30px;
        text-transform: uppercase;
    }
    &_mail{
        margin: 0 0 54px;
        line-height: 59px;
        background: url(../images/marketing/marketing-mail.png) no-repeat;
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    &_tel{
        line-height: 88px;
        background: url(../images/marketing/marketing-tel.png) no-repeat;
    }

    &_fieldset{
        margin: 20px 0 0;
        &:first-child{
            margin: 0;
        }
        &.error{
            .form-control{
                border-color: #d8677f;
            }
        }
    }
    &_action{
        text-align: right;
    }
    .form-control{
        height: 50px;
        padding: 14px 17px;
        font-size: 18px;
        line-height: 22px;
        border: 3px solid #fff;
        border-radius: 5px;
    }
    textarea.form-control{
        height: auto;
    }
}


.btn-marketing-feedback{
    padding: 15px 41px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: 5px;

    border: 1px solid #ffcf0d;
    background: #ffcf0d;
    color: #132129;
    &:hover{
        background: darken(#ffcf0d, 10%);
        border-color: darken(#ffcf0d, 10%);
        color: #132129;
        text-decoration: none;
    }
    &.active, &:active{
        background: darken(#ffcf0d, 10%);
        border-color: darken(#ffcf0d, 10%);
    }
    &.disabled, &[disabled]{
        background: #ffcf0d;
        border-color: #ffcf0d;
    }
}
