// marketing-head



.marketing-head{
    margin: 0 0 20px;
    font-size: 32px;
    line-height: 36 / 32;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: @baseColor;
    text-align: center;
}


.marketing-post-head{
    float: none;
    padding: 0;
    margin: 0 auto 58px;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
}
