// marketing-docs



[class^="s-marketing-docs-"], [class*=" s-marketing-docs-"]{
    .sprite(75, 76, url(../images/marketing/s-marketing-docs.svg))
}
//.s-marketing-docs-kit         { background-position: 0 0 }
.s-marketing-docs-price       { background-position: -100px 0 }
.s-marketing-docs-develop     { background-position: -200px 0 }



.marketing-docs{
    padding: 28px 0 32px;
    background: @baseColor;
    color: #fff;
    &_i{
        font-size: 18px;
        line-height: 20em / 18;
        text-align: center;
    }
    &_name{
        max-width: 200px;
        margin: 10px auto 14px;
        &__2{
            margin-top: -10px;
        }
    }
}


.btn-marketing-docs{
    position: relative;
    display: block;
    max-width: 128px;
    margin: auto;
    padding: 8px 5px 7px;
    font: 700 13px/1 @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: none;
    cursor: pointer;
    &:hover{
        color: #fff;
        text-decoration: none;
        background: darken(@baseColor, 10%);
    }
}
