// marketing-turnkey



.marketing-turnkey{
    display: table;
    table-layout: fixed;
    max-width: 795px;
    margin: 79px auto 0;
    border: 5px solid @baseColor;
    &_ico{
        display: table-cell;
        width: 272px;
        background: url(../images/marketing/marketing-turnkey.svg) no-repeat 50%;
    }
    &_cont{
        display: table-cell;
        vertical-align: middle;
        padding: 61px 0 53px;
        font-size: 17px;
        line-height: 19em / 17;
        a{
            text-decoration: underline;
        }
    }
    &_head{
        margin: 0 0 25px;
        font-size: 30px;
        font-weight: 700;
    }
}

