<div *ngIf="settings.labelType === labelTypes.OUTER" class="pl-input-control_outer-label">
    <label class="pl-input-control_outer-label_lbl"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>
</div>

<div class="pl-input-control" [class.error]="hasError()" #inputControl>
    <div *ngIf="settings.addonCode" class="pl-input-control_addon">
        {{ settings.addonCode | translate:lang }}
    </div>

    <input type="{{ settings.type }}"
           id="{{ labelCode }}"
           class="form-control pl-input-control_val"
           [(ngModel)]="_model"
           (input)="changeValue($event.target.value, 'DATEPICKER')"
           [class.pl-input-control_val-inner]="settings.labelType === labelTypes.INNER"
           [class.pl-input-control_val-outer]="settings.labelType === labelTypes.OUTER"
           [placeholder]="getPlaceholderTranslate()"
           [disabled]="settings.disabled"
           [required]="settings.required"
           [readonly]="settings.readOnly"
           bsDatepicker
           #dp="bsDatepicker"
           [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}"
           (bsValueChange)="onValueChange($event)">

    <span class="pl-input-control_help"
          tooltip="{{ getError() }}"
          placement="{{ tooltipPositionTop() }}"
          triggers="click:click click:mouseleave mouseenter:mouseleave"
          container="body">!</span>

    <label *ngIf="settings.labelType === labelTypes.INNER"
           class="pl-input-control_inner-label"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>
</div>
