<div class="profile-body_head">
    <div class="profile-body_title">
        Баланс
    </div>
    <div class="profile-body_descr">
        Ваши финансовые операции
    </div>
</div>

<div class="profile-balance-box">
    <div class="profile-balance-common">
        <div class="profile-balance-common_val">{{ getBalance() | humanNumber }} ₽</div>

        <div class="profile-balance-common_btn profile-money-back-link">
            <button class="btn btn-nd-primary" (click)="openPaymentMethodsModal()">
                Пополнить баланс
            </button>
        </div>
    </div>

    <table class="profile-balance-table">
        <tbody>
            <tr *ngFor="let item of balanceOperations">
                <td class="profile-balance-table_date-td">
                    <div class="profile-balance-table_date">
                        {{ item.timeAdded | l10nDate:defaultLocale:updateDateOptions }}
                    </div>
                </td>

                <td class="profile-balance-table_type-td">
                    <div class="profile-balance-table_type">
                        {{ 'core.transactionType.' + item.transactionType | translate:lang }}
                    </div>
                </td>

                <td>
                    <div class="profile-balance-table_name">
                        {{ getItemComment(item) }}
                    </div>
                </td>

                <td>
                    <div class="profile-balance-table_status" [ngClass]="getItemClass(item)">
                        {{ getItemStatus(item) }}
                    </div>
                </td>

                <td class="profile-balance-table_amount-td">
                    <div class="profile-balance-table_amount">
                        {{ item.amountNet | balanceHumanNumber }} ₽
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <pl-preloader class="profile-content-loader" *ngIf="loading && firstLoad"></pl-preloader>

    <div class="profile-show-more" *ngIf="!last && balanceOperations.length !== 0 && !firstLoad && !last">
        <pl-load-more-button (load)="loadMoreOperations()" [loading]="loading"></pl-load-more-button>
    </div>
</div>

<ng-template #rechargeBalance>
    <div class="modal-header">
        <a class="close" (click)="rechargeBalanceRef.hide()">×</a>
        <div class="modal-title"> Пополнение баланса</div>
    </div>

    <div class="modal-body">
        <pl-input [(model)]="rechargeBalanceDTO.amount"
                  [labelCode]="'core.total-amount'"
                  [settings]="totalAmountInputSettings"></pl-input>

        <pl-payment-methods [(model)]="rechargeBalanceDTO.paymentData"
                            [errors]="errors"></pl-payment-methods>
    </div>

    <div class="modal-footer">
        <div class="project-payment_action">
            <div class="project-payment_term">
                {{ 'profile-page.recharge-balance-agreement' | translate:lang }}
                <a target="_blank"
                   [href]="'//' + mainHost + '/welcome/projects-agreement.html'"
                   translate>core.agreement-link</a>
            </div>

            <div class="project-payment_action-btn">
                <button class="btn btn-nd-primary project-payment_btn"
                        (click)="pay()" translate>core.pledge</button>
            </div>
        </div>
    </div>
</ng-template>
