// hero-cover-bg-size



.make-hero-cover-bg-size(@class){
    .hero-cover-bg-size-@{class}-cover{
        .hero-image-cover{
            background-size: cover;
        }
    }
    .hero-cover-bg-size-@{class}-contain{
        .hero-image-cover{
            background-size: contain;
        }
    }
}



@media (min-width: @hero-ld-min) {
    .make-hero-cover-bg-size(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .make-hero-cover-bg-size(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .make-hero-cover-bg-size(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .make-hero-cover-bg-size(pl);
}

@media (max-width: @hero-pl-max) {
    .make-hero-cover-bg-size(pp);
}

