// hero-image-type



.make-hero-image-type(@class){
    .hero-image-type-@{class}-cover{
        /*
        .hero-image-cover{
            display: block;
        }
        */
        .hero-image-container{
            display: none !important;
        }
    }
    .hero-image-type-@{class}-container{
        .hero-image-cover{
            display: none !important;
        }
        /*
        .hero-image-container{
            display: block;
        }
        */
    }
}



@media (min-width: @hero-ld-min) {
    .make-hero-image-type(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .make-hero-image-type(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .make-hero-image-type(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .make-hero-image-type(pl);
}

@media (max-width: @hero-pl-max) {
    .make-hero-image-type(pp);
}

