// hero-vars



@hero-ld: 1200px;
@hero-ld-min: @hero-ld;
@hero-ld-max: (@hero-ld - 1);

@hero-tl: 900px;
@hero-tl-min: @hero-tl;
@hero-tl-max: (@hero-tl - 1);

@hero-tp: 768px;
@hero-tp-min: @hero-tp;
@hero-tp-max: (@hero-tp - 1);

@hero-pl: 568px;
@hero-pl-min: @hero-pl;
@hero-pl-max: (@hero-pl - 1);

