// hero-slide-main



.hero-slide-main{
    color: #454553;
    .hero-cover:before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 2000px;
        height: 2000px;
        margin: 200px 0 0 -1000px;
        background-image: radial-gradient(50% 50%, #ffc8c7 50%, #e5e8f1 90%);
    }
    .hero-head{
        max-width: 650px;
        margin: -26px auto 15px;
        font-size: 64px;
        line-height: 1;
        text-transform: uppercase;
        color: #1b2336;
    }

    &_top-text{
        margin: 0 0 5px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 24px;
    }
    &_text{
        max-width: 490px;
        margin: auto;
        font-size: 14px;
    }
    &_stat{
        padding: 45px 10px 60px;
        font-size: 0;
        background: rgba(37, 73, 89, .05);
    }
    &_stat-i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        padding: 0 10px;
        text-align: center;
    }
    &_stat-val{
        margin: 0 0 4px;
        font-weight: 700;
        font-size: 48px;
        color: #1a8cff;
        line-height: 48px;
    }
    &_stat-lbl{
        font-family: 'Roboto Condensed', Arial, serif;
        font-size: 13px;
        color: #7894a2;
        line-height: 1;
        text-transform: uppercase;
    }
    &_btn{
        margin-top: -24px;
    }

    &_cover,
    &_cover-in{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }



    @media (max-width: 900px){
        .hero-head{
            font-size: 48px;
        }

        &_stat-val{
            font-size: 32px;
        }

        &_stat-lbl{
            font-size: 12px;
        }
    }

    @media (max-width: 567px){
        .hero-head{
            font-size: 20px;
        }
        .hero-text{
            font-size: 13px;
        }

        &_top-text{
            margin: -7px 0 16px;
            font-size: 16px;
        }

        &_stat{
            display: none;
        }

        &_btn{
            margin-top: 0;
        }
    }

}


.hero-slide-main_figure{
    position: absolute;
}

.hero-figure-square div{
    width: 20px;
    height: 20px;
}

.hero-figure-circle div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hero-figure-triangle div{
    width: 0;
    height: 0;
    border-top: 20px solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    background: none !important;
}

.hero-figure-color-1 div{
    background: #d1e8fe;
    border-top-color: #d1e8fe;
}

.hero-figure-color-2 div{
    background: #cce8ff;
    border-top-color: #cce8ff;
}

.hero-figure-color-3 div{
    background: #d7e0ef;
    border-top-color: #d7e0ef;
}

.hero-figure-color-4 div{
    background: #fafafc;
    border-top-color: #fafafc;
}

.hero-figure-color-5 div{
    background: #e0d2e0;
    border-top-color: #e0d2e0;
}

.hero-figure-color-6 div{
    background: #e8d9ff;
    border-top-color: #e8d9ff;
}

.hero-figure-color-7 div{
    background: #dedae7;
    border-top-color: #dedae7;
}

.hero-figure-color-8 div{
    background: #c9f3ff;
    border-top-color: #c9f3ff;
}

.hero-figure-rotate-1{
    transform: rotate(15deg);
}

.hero-figure-rotate-2{
    transform: rotate(30deg);
}

.hero-figure-rotate-3{
    transform: rotate(45deg);
}

.hero-figure-rotate-4{
    transform: rotate(60deg);
}

.hero-figure-rotate-5{
    transform: rotate(75deg);
}

.hero-figure-size-05 div{
    transform: scale(0.8);
}

.hero-figure-size-0 div{
    /*transform: scale(1.0);*/
}

.hero-figure-size-1 div{
    transform: scale(1.1);
}

.hero-figure-size-2 div{
    transform: scale(1.2);
}

.hero-figure-size-3 div{
    transform: scale(1.3);
}

.hero-figure-size-4 div{
    transform: scale(1.4);
}

.hero-figure-size-5 div{
    transform: scale(1.5);
}

.hero-figure-size-6 div{
    transform: scale(1.6);
}

.hero-figure-size-7 div{
    transform: scale(1.7);
}

.hero-figure-size-8 div{
    transform: scale(1.8);
}

.hero-figure-size-9 div{
    transform: scale(1.9);
}

.hero-figure-1{
    top: 13.7%;
    left: 35.7%;
}

.hero-figure-2{
    top: 33.7%;
    left: 29.7%;
}

.hero-figure-3{
    top: 24.9%;
    left: 13.7%;
}

.hero-figure-4{
    top: 28.9%;
    left: 95.7%;
}

.hero-figure-5{
    top: 12.4%;
    left: 97.2%;
}

.hero-figure-6{
    top: 50.9%;
    left: 15.7%;
}

.hero-figure-7{
    top: 34.3%;
    left: 55.6%;
}

.hero-figure-8{
    top: 53.2%;
    left: 82.2%;
}

.hero-figure-9{
    top: 92.4%;
    left: 17.2%;
}

.hero-figure-10{
    top: 42.4%;
    left: 23.2%;
}

.hero-figure-11{
    top: 75.4%;
    left: 85.2%;
}

.hero-figure-12{
    top: 27.3%;
    left: 62.2%;
}

.hero-figure-13{
    top: 91.3%;
    left: 32.2%;
}

.hero-figure-14{
    top: 44.3%;
    left: 58.2%;
}

.hero-figure-15{
    top: 95.3%;
    left: 78.2%;
}

.hero-figure-16{
    top: 67.4%;
    left: 32.7%;
}

.hero-figure-17{
    top: 92.4%;
    left: 90.7%;
}

.hero-figure-18{
    top: 64.4%;
    left: 71.7%;
}

.hero-figure-19{
    top: 18.4%;
    left: 8.4%;
}

.hero-figure-20{
    top: 6.4%;
    left: 58.1%;
}

.hero-figure-21{
    top: 60.9%;
    left: 61.1%;
}

.hero-figure-22{
    top: 4.9%;
    left: 75.1%;
}

.hero-figure-23{
    top: 67.9%;
    left: 6.6%;
}

.hero-figure-24{
    top: 73.9%;
    left: 51.6%;
}

.hero-slide-main_cover{
    position: absolute;
    animation: xAxis 13s infinite ease-in-out alternate;
}

.hero-slide-main_cover-in{
    animation: yAxis 15s infinite ease-in-out alternate;
}

.hero-figures-cover-1{
    animation-duration: 8s;
    animation-delay: 1.2s;
}

.hero-figures-cover-1 .hero-slide-main_cover-in{
    animation-delay: 0s;
    animation-direction: alternate-reverse;
}

.hero-figures-cover-2{
    animation-delay: 2.9s;
}

.hero-figures-cover-2 .hero-slide-main_cover-in{
    animation-delay: 0.5s;
}

.hero-figures-cover-3{
    animation-delay: 0s;
    animation-direction: alternate-reverse;
}

.hero-figures-cover-3 .hero-slide-main_cover-in{
    animation-delay: 1.8s;
}

.hero-figures-cover-4{
    animation-delay: 0s;
    animation-direction: alternate-reverse;
}

.hero-figures-cover-4 .hero-slide-main_cover-in{
    animation-delay: 2.6s;
}


@media (max-width: 567px){
    .hero-figures-cover-1,
    .hero-figures-cover-3{
        display: none;
    }
}


@keyframes yAxis{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-120px);
    }
}

@keyframes xAxis{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateX(150px);
    }
}
