// hero-block-align



.make-hero-block-align(@class){
    /*
    .hero-block-align-@{class}-left{
        .hero-block{
            text-align: left;
        }
    }
    */
    .hero-block-align-@{class}-center{
        .hero-block{
            text-align: center;
        }
    }
    .hero-block-align-@{class}-right{
        .hero-block{
            text-align: right;
        }
    }
}



@media (min-width: @hero-ld-min) {
    .make-hero-block-align(ld);
}

@media (max-width: @hero-ld-max) and (min-width: @hero-tl-min) {
    .make-hero-block-align(tl);
}

@media (max-width: @hero-tl-max) and (min-width: @hero-tp-min) {
    .make-hero-block-align(tp);
}

@media (max-width: @hero-tp-max) and (min-width: @hero-pl-min) {
    .make-hero-block-align(pl);
}

@media (max-width: @hero-pl-max) {
    .make-hero-block-align(pp);
}

