// Main


html{
    &.mobile{
        height: 100%;
        overflow: hidden;
        background: #000 url(../images/promo/planeta-4-years/bg-out.jpg) no-repeat 50% 50% / cover fixed;
    }
}


body{
    min-width: 0;
    font: 16px/1.23 @ff-proxima-nova;
    color: #fff;
    background: #000 url(../images/promo/planeta-4-years/bg-out.jpg) no-repeat 50% 50% / cover fixed;
    &.video-init{
        background: #000;
    }
    &.sun{
        background: #000 url(../images/promo/planeta-4-years/bg-out-sun.jpg) no-repeat 50% 50% / cover fixed;
    }
    .mobile &{
        height:100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        background: none;
    }
}





.wrap{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}




// stars
#stars,
#particles-js{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    .touch &{
        z-index: 1;
        background: fade(#000, 60);
    }
    .touch &{
        width: auto;
        height: auto;
    }
}
// /stars




// planet back
.planet-back{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .touch &{
        width: auto;
        height: auto;
        top: auto;
        bottom: 0;
    }
}

.planet-back-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    padding: 300px 0 0;
    margin: -300px 0 0;
    box-sizing: content-box;
    //transition: .2s;
}

.planet-slide{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../images/promo/planeta-4-years/bg.jpg) no-repeat 50% 100% / cover;
    //transition: .2s;
}
// /planet back




// rocket
.rocket-wrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.rocket{
    width: 231px;
    height: 884px;
    margin: 0 0 -400px 100px;
    background: url(../images/promo/planeta-4-years/rocket.png) no-repeat;
    transform-origin: 50% 100%;
    //transition: .2s;
}
// /rocket




// rocket-smoke
.rocket-smoke-wrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    //transition: .2s;
}
.rocket-smoke-1{
    position: absolute;
    bottom: 0;
    width: 791px;
    height: 229px;
    margin: 0 0 -155px -180px;
    background: url(../images/promo/planeta-4-years/cloud-1.png) no-repeat;
    transform-origin: 50% 100%;
    //transition: .2s;
}
.rocket-smoke-2{
    position: absolute;
    bottom: 0;
    width: 580px;
    height: 134px;
    margin: 0 0 -51px -103px;
    background: url(../images/promo/planeta-4-years/cloud-2.png) no-repeat;
    transform-origin: 50% 100%;
    //transition: .2s;
}
// /rocket-smoke




// page
.page{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;

    .animation-init &:not(.static){
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        transition: transform 1s ease-out, opacity .8s ease-out;
    }
    .animation-init &.active:not(.static){
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    /*
    .animation-init &.remove:not(.static){
        transform: translate3d(0, -100%, 0);
        transition: transform 2s ease-out, opacity 1.6s ease-out;
    }
    */
}

.page-cnt{
    display: table;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.page-cont{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 40px 0;
    #page-first &{
        padding: 20px 0 120px;
    }
    #page-last &{
        padding: 200px 0;
    }
}


.page-wrap{
    &:extend(.cf-mix all);
}
// /page




// year
.year-wrap{
    overflow: hidden;
}

.year{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;

    .animation-init &:not(.static){
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition: transform 1s ease-out, opacity .8s ease-out;
    }
    .animation-init &.active:not(.static){
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    /*
    .animation-init &.remove:not(.static){
        transform: translate3d(0, -100%, 0);
        transition: transform 2s ease-out, opacity 1.6s ease-out;
    }
    */
}

.year-cnt{
    display: table;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.year-cont{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 40px 0;
    font-size: 130px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
}
// /year




// page-scroll
.page-scroll{
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    transition: .2s;
    &.hide{
        bottom: -80px;
    }
    .page-scroll{
        &_mouse{
            display: inline-block;
            vertical-align: top;
            width: 22px;
            height: 31px;
            border: 2px solid #fff;
            border-radius: 9px;
        }
        &_point{
            position: absolute;
            top: 6px;
            left: 50%;
            margin: 0 0 0 -2px;
            width: 4px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
        }
        &_text{
            margin: 16px 0 0;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    @media (max-height: 619px) {
        display: none;
    }
}


@keyframes nextPageBounce {
    50% { top: 12px }
}
.animBounce{
    animation: nextPageBounce .4s linear 3s;
}
// /page-scroll




// year-nav
.year-nav{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 20px;
    margin: -72px 0 0;
    text-align: right;
    &_link{
        display: block;
        margin: 10px 0;
        font-size: 14px;
        font-variant: small-caps;
        color: #fff;
        text-decoration: none;
        letter-spacing: .1em;
        transition: .1s;
        opacity: .7;
        span{
            display: inline-block;
            vertical-align: top;
            transform-origin: 100% 50%;
            transition: .1s;
        }
        &:after{
            content: '•';
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 5px;
        }
        &:hover{
            color: #fff;
            text-decoration: none;
            opacity: 1;
            span{
                transform: scale(1.1);
            }
        }
        &.active{
            opacity: 1;
            span{
                transform: scale(1.1);
            }
        }
    }
    &_start{
        font-size: 16px;
        &:after{
            top: 1px;
        }
    }
    @media (max-width: 1340px) {
        display: none;
    }
}
// /year-nav




// header
.header{
    text-align: center;
    &_cont{
        &:extend(.cf-mix all);
        padding: 0 60px;
    }
    &_head{
        margin: 5px 0 80px;
        font-size: 70px;
        font-weight: 700;
        .logo{
            font-size: 74em / 48;
            margin-top: -3em / 48;
            margin-right: -5em / 48;
            margin-left: 2em / 48;
        }
    }

    &_counter-lbl{
        margin: 0 0 10px;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_counter{
        margin: 0 0 60px;
        font-size: 36px;
        font-weight: 700;
        font-variant: small-caps;
    }
    &_counter-month{
        margin: 0 20px;
    }
    &_text{
        max-width: 900px;
        margin: 0 auto 45px;
        font-size: 22px;
        line-height: 1.4;
        p{
            margin: .6em 0;
        }
    }
}
.header-btn{
    display: inline-block;
    vertical-align: top;
    padding: 20px 60px;
    font-size: 18px;
    letter-spacing: .05em;
    text-transform: uppercase;
    border: 3px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
    &:hover{
        background: #fff;
        color: #000;
    }
}

.logo{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1em;
    line-height: 1em;
    background: url(../images/planeta-w-ico.svg) no-repeat 0 0 / cover;
    &, &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}
// /header




// project ico
.project-cosmonaut{
    width: 92px;
    height: 125px;
    margin: 0 0 0 6px;
    background: url(../images/promo/planeta-4-years/project-cosmonaut.png) no-repeat 0 0 / cover;
}

.project-satellite{
    width: 117px;
    height: 82px;
    background: url(../images/promo/planeta-4-years/project-satellite.png) no-repeat 0 0 / cover;
}

[class^="project-planet-"]{
    width: 180px;
    height: 180px;
    margin: -35px;
    background: no-repeat 0 0 / cover;
}

.project-planet-1{
    background-image: url(../images/promo/planeta-4-years/project-planet-1.png);
}
.project-planet-2{
    background-image: url(../images/promo/planeta-4-years/project-planet-2.png);
}
.project-planet-3{
    background-image: url(../images/promo/planeta-4-years/project-planet-3.png);
}
.project-planet-4{
    background-image: url(../images/promo/planeta-4-years/project-planet-4.png);
}
.project-planet-5{
    background-image: url(../images/promo/planeta-4-years/project-planet-5.png);
}
.project-planet-6{
    background-image: url(../images/promo/planeta-4-years/project-planet-6.png);
}
// /project ico




// timeline
.timeline{
    float: right;
    &_i{
        display: table;
        table-layout: fixed;
        margin: 33px 0 0;
        /*
        .animation-init &{
            opacity: 0;
            transform: translate3d(0, 30px, 0) scaleX(1.1);
            transition: transform .2s ease-out, opacity .3s ease-out;
        }
        .animation-init .page.active &{
            opacity: 1;
            transform: translate3d(0, 0, 0) scaleX(1);
        }
        */

        &:first-child{
            margin: 0;
        }
    }

    &__sm{
        .timeline{
            &_i{
                margin: 17px 0 0;
                &:first-child{
                    margin: 0;
                }
            }
            &_title{
                font-size: 19px;
            }
        }
    }


    &_date{
        display: table-cell;
        vertical-align: middle;
        width: 200px;
        font-size: 20px;
        font-weight: 300;
        text-align: right;
    }
    &_event{
        display: table-cell;
        vertical-align: middle;
        width: 610px;
        padding: 0 0 0 60px;


        &__md{
            .timeline{
                &_project-box{
                    padding: 20px 26px;
                    font-size: 20px;
                }
            }
        }
    }
    &_title{
        font-size: 24px;
        font-weight: 700;
    }
    &_project-wrap{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &_project-ico{
        display: table-cell;
        vertical-align: middle;
        width: 150px;
        display: none;
    }
    &_project{
        display: table-cell;
        vertical-align: middle;
        .laquo{
            margin-left: -0.4em;
        }
        .raquo{
            margin-right: -0.4em;
        }
        .ensp{
            word-spacing: 0.4em;
        }

        .hl{
            font-size: 1.1em;
            font-weight: 700;
        }
    }
    &_project-box{
        padding: 24px 34px 25px;
        font-size: 24px;
        border: 2px solid fade(#fff, 30);
        border-radius: 5px;
    }
    &_final{
        margin: 0 0 23px;
        font-size: 61px;
        font-weight: 700;
    }
    &_share{
        width: 400px;
        padding: 20px 25px 28px;
        font-size: 21px;
        border: 2px solid fade(#fff, 30);
        border-radius: 5px;
        .bs-icon-size(30);
        .spsb-item{
            margin: 0 0 0 10px;
            &:first-child{
                margin: 0;
            }
        }
    }
    &_share-head{
        margin: 0 0 23px;
    }


    a{
        color: #fff;
        background: linear-gradient(fade(#fff, 60), fade(#fff, 60)) repeat-x;
        background-size: 100% 1px;
        background-position: 0 90%;
        &:hover{
            color: #01c8fe;
            text-decoration: none;
            background-image: linear-gradient(fade(#01c8fe, 60), fade(#01c8fe, 60));
        }
    }
}

.animation-init{
    .timeline-row-1  { transition-delay: .1s }
    .timeline-row-2  { transition-delay: .2s }
    .timeline-row-3  { transition-delay: .3s }
    .timeline-row-4  { transition-delay: .4s }
    .timeline-row-5  { transition-delay: .5s }
    .timeline-row-6  { transition-delay: .6s }
    .timeline-row-7  { transition-delay: .7s }
    .timeline-row-8  { transition-delay: .8s }
    .timeline-row-9  { transition-delay: .9s }
    .timeline-row-10 { transition-delay: 1.0s }
    .timeline-row-11 { transition-delay: 1.1s }
    .timeline-row-12 { transition-delay: 1.2s }
    .timeline-row-13 { transition-delay: 1.3s }
    .timeline-row-14 { transition-delay: 1.4s }
    .timeline-row-15 { transition-delay: 1.5s }
}
// /timeline



// sharing
[class^="bs-icons-"]{
    opacity: 1;
}
// /sharing



.read-blog{
    max-width: 400px;
    font-size: 18px;
}



// planeta-menu
.planeta-menu{
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    text-align: right;
    &_list{
        padding-right: 105px;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        margin: 0 0 0 20px;
        a{
            color: #fff;
        }
    }
}
// /planeta-menu


// video back
.video-back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &_video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;

        /*
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        */

        visibility: hidden;
        &.active{
            visibility: visible;
        }
        html.mobile &{
            display: none;
        }
    }
}
// /video back



@media (max-width: 1023px) {
    .header{
        .wrap{
            padding-left: 0;
            padding-right: 0;
        }
        &_head{
            font-size: 52px;
        }
        &_counter-lbl{
            font-size: 28px;
        }
        &_counter{
            font-size: 28px;
        }
        &_text{
            font-size: 20px;
        }
    }
    .header-btn{
        padding: 16px 50px;
    }

    .timeline__final{
        float: none;
        .timeline{
            &_i{
                display: block;
            }
            &_date{
                display: none;
            }
            &_event{
                display: block;
                width: auto;
                padding: 0;
                text-align: center;
            }
        }
    }
    .timeline{
        &_share{
            display: inline-block;
            vertical-align: top;
        }
    }

    .read-blog{
        margin: auto;
    }

    .planeta-menu{
        &_list{
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
        &_i{
            &:first-child{
                margin-left: 0;
            }
        }
    }
}





@media (max-width: 767px) {
    .header{
        &_head{
            font-size: 30px;
        }
        &_counter-lbl{
            font-size: 22px;
        }
        &_counter{
            font-size: 22px;
        }
        &_text{
            font-size: 16px;
        }
    }
    .header-btn{
        display: block;
        padding: 16px 10px;
    }

    .timeline{
        float: none;
        &_date{
            width: 150px;
            font-size: 17px;
        }
        &_event{
            width: auto;
            padding-left: 30px;
        }
        &_title{
            font-size: 22px;
        }
        &_project-box{
            padding: 13px 18px 14px;
            font-size: 22px;
        }
    }

    .year-cont{
        font-size: 80px;
    }
}



@media (max-width: 639px) {
    .timeline{
        &_i{
            display: block;
        }
        &__sm{
            .timeline{
                &_i{
                    margin: 33px 0 0;
                    &:first-child{
                        margin: 0;
                    }
                }
            }
        }
        &_date{
            display: block;
            width: auto;
            margin: 0 0 10px;
            font-size: 22px;
            text-align: left;
        }
        &_event{
            display: block;
            padding: 0;
        }
        &_project-ico{
            display: none;
        }
        &_final{
            font-size: 34px;
        }
        &_share{
            display: block;
            width: auto;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 17px;
        }
    }
}


@media (max-width: 424px) {
    .timeline{
        &_share{
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 15px;
            .spsb-item{
                margin: 0 0 0 5px;
            }
        }
    }
}




@media (max-height: 500px) {
    .rocket-smoke-1{
        margin-left: 2px;
    }
    .rocket-smoke-2{
        margin-left: 97px;
    }
    .rocket{
        margin-left: 300px;
    }
    .rocket-smoke-1,
    .rocket-smoke-2,
    .rocket{
        transform: scale(.8);
    }
}
