// Banners
// ---------


@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/bootstrap";

@import "planeta/utilities/common";
@import "planeta/base/rub-font";

.no-select{
    .user-select(none);
}

@bannerColor: #3498db;

.banners-collage{
    font-size: 0;
}
.item{
    font-size: @baseFontSize;
    border: 1px solid #ccc;
    margin: 10px;
}
.item-cont{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.logo{
    font: 0/0 a;
    text-align: center;
    background: #fff;
    i{
        display: inline-block;
    }
}

.name{
    overflow: hidden;
    color: #0e0e0e;
}
.cover{
    border-bottom: 2px solid @bannerColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-color: #fff;
}

.item-actions.btn-group{
    position: absolute;
    top: -1px;
    left: 100%;
    display: none;
    .btn{
        .border-left-radius(0) !important;
    }
}
.item.editable{
    &:hover{
        .item-actions{
            display: block;
        }
    }
}

.name, .rewards-name{
    word-wrap: break-word;
    &:focus{
        box-shadow: 0 0 5px fadeout(@blue, 15%);
        outline: 0;
    }
}

.rewards-name{
    overflow: hidden;
    color: #131313;
}
.rewards-label{
    float: left;
    display: inline-block;
    font: 12px/20px @baseFontFamily;
    white-space: nowrap;
    color: #fff;
    span{
        display: inline-block;
        padding: 0 5px;
        background: @bannerColor;
    }
}
.rl-ar-l, .rl-ar-r{
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 20px;
    background: url(../images/banners/rewards-label.png) no-repeat -5px 50%;
}
.rl-ar-r{
    background: url(../images/banners/rewards-label.png) no-repeat 0 50%;
}




// 200x200
.items-200x200{
    width: 200px;
    height: 200px;
    .logo{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2px 0 3px;
        background: rgba(255,255,255,.8);
        i{
            width: 158px;
            height: 19px;
            background: url(../images/banners/logo-200x200.png) no-repeat;
        }
    }
    .cover{
        height: 128px;
    }
    .name{
        height: 2*17px;
        margin: 6px 13px;
        font: 700 12px/17px @baseFontFamily;
    }
    .rewards-label{
        font: 10px/16px @baseFontFamily;
    }
    .rl-ar-l{
        width: 4px;
        height: 16px;
        background-position: -6px 50%;
    }
    .rewards-name{
        margin: 0 13px 0 50px;
        .text-overflow();
        font: 12px/15px @baseFontFamily;
    }
}
// /200x200



// 250x250, 300x250, 336x280
.items-250x250{
    width: 250px;
    height: 250px;
}

.items-300x250{
    width: 300px;
    height: 250px;
}

.items-336x280{
    width: 336px;
    height: 280px;
}

.items-250x250, .items-300x250, .items-336x280{
    .logo{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 3px 0 3px;
        background: rgba(255,255,255,.8);
        i{
            width: 197px;
            height: 24px;
            background: url(../images/banners/logo-250x250.png) no-repeat;
        }
    }
    .cover{
        height: 160px;
    }
    .name{
        height: 2*21px;
        margin: 7px 13px;
        font: 700 14px/21px @baseFontFamily;
    }
    .rewards-name{
        margin: 0 13px 0 63px;
        .text-overflow();
        font: 12px/20px @baseFontFamily;
    }
}

.items-336x280{
    .cover{
        height: 210px;
    }
    .name{
        height: auto;
        .text-overflow();
        text-align: center;
        margin: 8px 24px;
    }
}
// /250x250, 300x250, 336x280


// 300x600
.items-300x600{
    width: 300px;
    height: 600px;
    .logo{
        padding: 24px 0 36px;
        i{
            width: 188px;
            height: 54px;
            background: url(../images/banners/logo-300x600.png) no-repeat;
        }
    }
    .cover{
        height: 256px;
    }
    .name{
        max-height: 2*27px;
        margin: 20px 13px;
        font: 700 21px/27px @baseFontFamily;
        text-align: center;
    }
    .rewards-label{
        margin: 6px 0 0;
    }
    .rewards-name{
        max-height: 5*24px;
        margin: 0 13px 0 63px;
        font: 16px/24px @baseFontFamily;
    }
}
// /300x600


// 970x90
.items-970x90{
    width: 970px;
    height: 90px;
    .item-cont{
        height: 90px;
        > * {
            float: left;
            height: 100%;
        }
    }
    .logo{
        box-sizing: border-box;
        width: 182px;
        padding: 19px 0 26px;
        i{
            width: 148px;
            height: 45px;
            background: url(../images/banners/logo-970x90.png) no-repeat;
        }
    }
    .cover{
        width: 258px;
        border: 0;
        border-right: 2px solid @bannerColor;
    }
    .name-block{
        width: 250px;
    }
    .name-wrap{
        .box-sizing(border-box);
        display: table-cell;
        vertical-align: middle;
        height: 90px;
        padding: 9px 22px;
    }
    .name{
        max-height: 3*24px;
        font: 700 18px/24px @baseFontFamily;
    }
    .rewards{
        width: 278px;
    }
    .rewards-label{
        width: 23px;
        height: 57px;
        background: url(../images/banners/rewards-label-970x90.png) no-repeat;
    }
    .rewards-name-wrap{
        display: table-cell;
        vertical-align: middle;
        height: 90px;
    }
    .rewards-name{
        max-height: 3*21px;
        margin: 0 22px;
        font: 14px/21px @baseFontFamily;
    }
}
// /970x90


// 160x600
.items-160x600{
    width: 160px;
    height: 600px;
    .logo{
        padding: 21px 0 14px;
        i{
            width: 138px;
            height: 44px;
            background: url(../images/banners/logo-160x600.png) no-repeat;
        }
    }
    .cover{
        height: 228px;
    }
    .name{
        max-height: 4*24px;
        margin: 20px 10px;
        font: 700 18px/24px @baseFontFamily;
        text-align: center;
    }
    .rewards-label{
        float: none;
        display: block;
        margin: 0 0 20px;
        text-align: center;
    }
    .rewards-name{
        display: block;
        max-height: 5*24px;
        margin: 0 10px;
        font: 14px/21px @baseFontFamily;
    }
}
// /160x600


// 120x600
.items-120x600{
    width: 120px;
    height: 600px;
    .logo{
        padding: 10px 0 7px;
        i{
            width: 104px;
            height: 50px;
            background: url(../images/banners/logo-120x600.png) no-repeat;
        }
    }
    .cover{
        height: 170px;
    }
    .name{
        max-height: 4*21px;
        margin: 20px 10px;
        font: 700 15px/21px @baseFontFamily;
        text-align: center;
    }
    .rewards-label{
        float: none;
        display: block;
        margin: 0 0 20px;
        text-align: center;
    }
    .rewards-name{
        display: block;
        max-height: 10*18px;
        margin: 0 10px;
        font: 12px/18px @baseFontFamily;
    }
}
// /120x600


.bg-black{
    .item{
        background: #000;
    }
    .name{
        color: #fff;
    }
    .rewards-name{
        color: #e8e8e8;
    }
}
