@import (reference) "planeta/base/variables";
@import "interactive-landing/base/variables";
@import (reference) "planeta/base/fonts-var";
@import (reference) "planeta/mixins/common";


//@import "interactive-landing/base/fonts-common";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&subset=cyrillic');
//font-family: 'Noto Serif', serif;


@import "interactive-landing/base/base-common";

@import "interactive-landing/utilites/utilites-common";

//@import "interactive-landing/plugins/owl-carousel";

// modules
@import "interactive-landing/modules/embed-video";
@import "interactive-landing/modules/video-play";
@import "planeta/modules/common/sharing-block";

@import "interactive-landing/modules/main";

