@import "mini-landing/reset";

// Core variables and mixins
@import "mini-landing/variables";
@import "mini-landing/mixins";

// Base CSS
@import "mini-landing/fonts";

// Components: common
@import "mini-landing/sprites";

// Utility classes
@import "mini-landing/utilities"; // Has to be last to override when necessary
.rest-count{
    display: inline-block;
    margin: 3px 0 0;
    font-size: 11px;
    color: #999;
    &.rest-count-less{
        color: #d98026;
    }
    &.rest-count-super-less{
        color: #d40d12;
    }
}
.btn{
    display: inline-block;
    padding: 6px 14px 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;

    -webkit-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.btn-primary{
    color: #fff;
    background-color: #26aedd;
    background-image: linear-gradient(to bottom, #42c6f4, #26aedd);
    background-repeat: repeat-x;
    border-top: 1px solid #42c6f4;
    border-bottom: 1px solid #0e8cb8;
    font-family: 'ProximaNovaBold', Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.34);
}
.btn-primary:hover{
    color: #fff;
    background-position: 0 -15px;
}
.btn-primary.active, .btn-primary:active{
    background-position: 0 0;
    background: #32b8e7;
    border-top: 1px solid #2d96ba;
    border-bottom: 1px solid #26aedd;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px rgba(255,255,255,.25);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px rgba(255,255,255,.25);
    -webkit-transition: none;
    transition: none;
}
.btn-large{
    padding: 9px 24px 8px;
    font-size: 20px;
    line-height: 30px;
}

.btn-block{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

body{
    min-width: 1180px;
    margin: 0;
    font: 14px 'gotham_proregular', Arial, sans-serif;
    line-height: 1.2;
}

body.mini-landing{
    background: url(../images/mini-landing/mini-landing-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.mini-landing-container{
    width: 1160px;
    padding: 40px 0;
    margin: 0 auto;
}
.header{
    margin: 0 0 36px;
}
.m-landing-columns-left{
    float: left;
    width: 660px;
}
.ml-columns-left-title{
    margin: 0 0 16px;
    font: 44px/120% 'gotham_probold', @baseFontFamily;
    color: #000;
}
.ml-columns-left-text{
    margin: 0 0 55px;
    font: 25px/135% 'gotham_proregular', @baseFontFamily;
    color: #000;
}
.ml-columns-left-subtitle{
    margin: 0 0 18px;
    font: 30px/100% 'gotham_probold', @baseFontFamily;
    color: #000;
}
.ml-columns-left-video{
    .box-shadow( 0 10px 50px 1px rgba(0,0,0,0.4));
    #font > .hide();
    position: relative;
    margin: 0 0 22px;
    background: #fff;
}
.bb-video-icon{
    background: url(../images/mini-landing/play-video-big.png) no-repeat 50% 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor:pointer;
    &:hover{
        background-size: 110px 110px;
    }
}
.ml-columns-left-ask-question{
    display: block;
    width: 456px;
    height: 20px;
    padding: 25px 0;
    margin: 0 auto;
    background: url(../images/mini-landing/cloud-link.png);
    font: 18px/100% 'gotham_probold', @baseFontFamily;
    color: @blue;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        .mlcl-ask-question-text{
            color: @linkColorHover;
        }
    }
}
.mlcl-ask-question-text{
    display: inline-block;
    border-bottom: 1px solid;
}
.m-landing-columns-right{
    float: right;
    width: 460px;
}
.ml-columns-right-title{
    margin: 16px 0 19px;
    font: 30px/100% 'gotham_proregular', @baseFontFamily;
    color: #000;
    text-align: center;
}
.ml-columns-right-form{
    .box-shadow( 0 10px 50px 1px rgba(0,0,0,0.4));
    padding: 23px 28px 35px;
    background: #fff;
}
.mlcr-form-label{
    display: block;
    margin: 0 0 20px;
    &:last-of-type{
        margin: 0 0 26px;
    }
}
.mlcr-form-label-title{
    display: block;
    margin: 0 0 7px;
    font: 14px/100% 'gotham_proregular', @baseFontFamily;
    color: #1a1a1a;
    text-transform: uppercase;
}
.mlcr-form-label-input, .mlcr-form-label-textarea{
    .box-sizing(border-box);
    display: block;
    width: 100%;
    border: 1px solid #d5d4d2;
    background: #f7fbfc;
    font: 14px/100% 'gotham_proregular', @baseFontFamily;
}
.mlcr-form-label-input{
    height: 40px;
    padding: 0 5px;
}
.mlcr-form-label-textarea{
    height: 120px;
    padding: 5px;
}
.mlcr-form-img-upload{
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 189px;
    margin: 0 auto 50px;
    background: url(../images/mini-landing/image-upload-placeholder.png);
    cursor: pointer;
}
.mlcr-form-img-upload-input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 600%;
    line-height: 600%;
    width: auto;
    height: auto;
    .opacity(0);
    cursor: pointer;
}

/* modal + form */
.text-center{
    text-align: center;
}
textarea{
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    height: auto;
}
input, textarea{
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus, textarea:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0 none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.input-field {
    padding: 0 10px 0 0;
}
.input-field-l {
    padding: 0 20px 0 0;
}
.input-field input, .input-field textarea {
    width: 100%;
    margin: 0;
}
.input-l {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding: 9px;
}
textarea.input-l {
    height: auto;
}
.help-inline {
    display: inline-block;
    vertical-align: middle;
    color: #b44d38;
    font-size: 11px;
}


.theaterMode body{
    overflow: hidden;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity=80);
}
.modal-dialog, #modal-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1050;
    white-space: nowrap;
    overflow: auto;
}
.modal-dialog:after, #modal-dialog:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.modal-dialog .modal, #modal-dialog .modal {
    display: inline-block;
    position: relative;
    z-index: 1050;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 560px;
    max-width: 950px;
    margin: 20px 0;
    background: #fff;
    vertical-align: middle;
    text-align: left;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    white-space: normal;
}
.modal-project-feedback.size-transition {
    -webkit-transition: width .15s linear, height .15s linear;
    -ms-transition: width .15s linear, height .15s linear;
    transition: width .15s linear, height .15s linear;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.close {
    float: right;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
.modal-project-feedback .close {
    margin: 10px;
    line-height: 14px;
    font-size: 14px;
}
.fade {
    -webkit-transition: opacity .15s linear;
    -ms-transition: opacity .15s linear;
    transition: opacity .15s linear;
    opacity: 0;
}
.fade.in {
    opacity: 1;
}


.modal-project-feedback {
    min-width: 0 !important;
}
.modal-project-feedback-form {
    width: 400px;
    padding: 30px;
}
.m-project-feedback-title {
    margin: 0 0 28px;
    font: 22px/100% 'ProximaNovaRegular', Arial, sans-serif;
    text-align: center;
}
.modal-project-feedback .modal-select-header {
    margin: 0 0 30px;
}
.modal-project-feedback .modal-select-header .fieldset {
    margin: 25px 0 0;
}
.modal-project-feedback .modal-select-header .fieldset:first-child {
    margin-top: 0;
}
.modal-select-header .fielset.error, .modal-select-header .fieldset.error {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fae5e3;
    box-shadow: 0 -5px 0 0 #fae5e3, 0 5px 0 0 #fae5e3;
}

.modal-project-feedback .modal-select-header label {
    display: block;
    color: #333;
    margin-bottom: 10px;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 18px;
}

.modal-project-feedback .modal-feedback-success {
    width: 520px;
    padding: 30px;
}
.content-alert-success, .content-alert-warning, .content-alert-error {
    position: relative;
    margin: 10px 0;
    padding: 15px 20px 6px 60px;
    line-height: 21px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background: #f7f7f7;
}
.content-alert-success:before, .content-alert-warning:before, .content-alert-error:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.content-alert-success:before {
    background: #9de448;
}
.content-alert-warning:before {
    background: #f1c40f;
}
.content-alert-success p, .content-alert-warning p, .content-alert-error p {
    line-height: 21px;
    margin-bottom: 12px;
    color: #707070;
}
.content-alert-success p.big, .content-alert-warning p.big, .content-alert-error p.big {
    font-family: 'gotham_probold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 6px;
}
[class^="three-types-alerts-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-image: url(../images/icon/three-types-alerts-icons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
}
.content-alert-success [class^="three-types-alerts-"], .content-alert-warning [class^="three-types-alerts-"], .content-alert-error [class^="three-types-alerts-"] {
    position: absolute;
    left: 10px;
    top: 15px;
}
.three-types-alerts-success {
    background-position: 0 0;
}
.three-types-alerts-warning {
    background-position: 0 -20px;
}
/* /modal + form */

// common dropdown style
.pln-dropdown{
    position: relative;
    &.open{
        > .pln-d-popup{
            display: block;
        }
        > .pln-d-switch.btn{
            outline: 0;
        }
    }
    &.bottom-up{
        > .pln-d-popup{
            bottom: auto;
            top: 100%;
        }
    }
}
.pln-d-switch{
    cursor: pointer;
}
.pln-d-popup{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.pln-d-popup-tail{
    font: 0/0 a;
    position: absolute;
    bottom: 100%;
    background-repeat: no-repeat;
}
// common dropdown style
.landing-slider_form-cont{
    padding: 20px 25px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.landing-slider_form-text{
    margin: 0 0 13px;
    line-height: 26px;
}
.landing-slider_input{
    margin: 0 0 13px;
}
.landing-slider_input .input-l{
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}
.landing-slider_input_error{
    input{
        border-color: #e74836;
        background: #f9e1de;
        .placeholder(#e74836);
    }
}
.landing-slider_form_remember{
    margin: 0 0 10px;
    font-size: 14px;
}


.landing-slider_form_error-popup{
    top: 50%;
    left: auto;
    right: 100%;
    width: 400px;
    margin: -45px 20px 0 0;
    .pln-d-popup-tail{
        bottom: auto;
        top: 50%;
        right: -5px;
        margin-top: -6px;
        clip: rect(-14px, 14px, 14px, 6px);
        div{
            width: 10px;
            height: 10px;
            background: #fff;
            border: 1px solid #b3b3b3;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            box-shadow: 0 2px 4px rgba(0,0,0,.25);
        }
    }
    .d-popup-cont{
        padding: 20px 17px;
        font-size: 14px;
        line-height: 24px;
        background: #fff;
        border: 1px solid #b3b3b3;
        border-left: 5px solid #e74836;
        box-shadow: 0 2px 4px rgba(0,0,0,.25);
    }
}


@media screen and (max-width:1350px){
    .landing-slider_list-cont{
        width: 1008px;
    }
    .landing-slider_img {
        max-width: 550px;
    }
    .landing-slider_cont{
        margin-left: 578px;
    }
}