@import "quickstart/base/variables";
@import "quickstart/mixins/mixins-common";


@import "quickstart/base/fonts-var";
@import "quickstart/base/fonts";


@import "quickstart/base/normalize";
@import "quickstart/base/buttons";




// utilites
.pull-right{
    float: right;
}

.central-block-wrap {
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.central-block {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.central-block-cont {
    white-space: normal;
    text-align: left;
    font-size: 14px;
}
.vertical-align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.hide{
    display: none;
}
// /utilites


// common dropdown style
.pln-dropdown{
    position: relative;
    &.open{
        > .pln-d-popup{
            display: block;
        }
        > .pln-d-switch.btn{
            outline: 0;
        }
    }
    &.bottom-up{
        > .pln-d-popup{
            bottom: auto;
            top: 100%;
        }
    }
}
.pln-d-switch{
    cursor: pointer;
}
.pln-d-popup{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.pln-d-popup-tail{
    font: 0/0 a;
    position: absolute;
    bottom: 100%;
    background-repeat: no-repeat;
}
// common dropdown style





body{
    font-family: @font-family-proxima-nova;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: #fff;
    min-width: 1175px;
}

.landing-wrap{
    overflow-x: hidden;
}

.wrap{
    width: 1040px;
    margin: auto;
}

a{
    color: #00b2e2;
    -webkit-transition: color .1s, border-color .1s;
    transition: color .1s, border-color .1s;
}
a:hover{
    color: #008cb3;
}



.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    background: #fff;
    border-bottom: 1px solid #ededed;
}
.logo{
    float: left;
    display: block;
    width: 120px;
    height: 31px;
    margin: 4px 0 0;
    background: url(../images/quickstart/logo.png) no-repeat;
}
.header_create-btn{
    float: right;
    line-height: 25px;
    padding: 7px 23px;
}


.landing-slider_head{
    margin: 120px 0 65px;
    font: 900 60px @font-family-proxima-nova;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
}

.landing-slider_list-wrap{
    position: relative;
    margin: 0 0 80px;
}

.landing-slider_arrow-prev,
.landing-slider_arrow-next{
    position: absolute;
    width: 100px;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.landing-slider_arrow-next{
    left: auto;
    right: 0;
}
.landing-slider_arrow-prev i,
.landing-slider_arrow-next i{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41px;
    height: 80px;
    margin: -70px 0 0 -20px;
    background: url(../images/quickstart/landing-slider_arrow.png) no-repeat;
}
.landing-slider_arrow-next i{
    background-position: -50px 0;
}
.landing-slider_arrow-prev:hover i{
    background-position: 0 -90px;
}
.landing-slider_arrow-next:hover i{
    background-position: -50px -90px;
}


.landing-slider_head-wrap{
    width: 100%;
    overflow: hidden;
}
.landing-slider_head-list{
    float: left;
    position: relative;
    height: 50px;
    margin: 0 0 34px;
    padding: 9px 0 0;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
}
.landing-slider_head-i{
    position: relative;
    top: 0;
    display: inline-block;
    height: 14px;
    margin: 0 50px 0 0;
    padding: 0 10px;
    min-height: 1px;
    font: 900 20px/14px @font-family-proxima-nova;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all .6s linear;
    transition: all .6s linear;
    .opacity(10);
}
.ls_head-text{
    cursor: pointer;

    -webkit-transition: all .6s linear;
    transition: all .6s linear;

    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.uninit .landing-slider_head-i,
.uninit .ls_head-text{
    -webkit-transition: none;
    transition: none;
}
.landing-slider_head-i.sibling-2{
    .opacity(25);
}
.landing-slider_head-i.sibling{
    .opacity(60);
}
.landing-slider_head-i.active{
    .opacity(100);
}
.landing-slider_head-i.active .ls_head-text{
    -webkit-transform: scale(1.35, 1.35);
    -ms-transform: scale(1.35, 1.35);
    transform: scale(1.35, 1.35);
    cursor: default;
}


.landing-slider_list-cont{
    position: relative;
    width: 1158px;
    margin: auto;
}

.landing-slider_list{
    height: 548px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.landing-slider_i{
    position: relative;
    float: left;
    height: 548px;
}
.landing-slider_img{
    position: absolute;
    top: 0;
    left: 0;
}
.landing-slider_cont{
    width: 430px;
    margin-left: 728px;
}
.landing-slider_text{
    padding: 0 10px;
    line-height: 30px;
}

.landing-slider_form{
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 0;
    width: 410px;
    background: url(../images/quickstart/slider-form-bg.png);
    padding: 10px;
}
.landing-slider_form-cont{
    padding: 20px 25px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.landing-slider_form-text{
    margin: 0 0 13px;
    line-height: 26px;
}
.landing-slider_input{
    margin: 0 0 13px;
}
.landing-slider_input .input-l{
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}
.landing-slider_input_error{
    input{
        border-color: #e74836;
        background: #f9e1de;
        .placeholder(#e74836);
    }
}
.landing-slider_form_remember{
    margin: 0 0 10px;
    font-size: 14px;
}


.landing-slider_form_error-popup{
    top: 50%;
    left: auto;
    right: 100%;
    width: 400px;
    margin: -45px 20px 0 0;
    .pln-d-popup-tail{
        bottom: auto;
        top: 50%;
        right: -5px;
        margin-top: -6px;
        clip: rect(-14px, 14px, 14px, 6px);
        div{
            width: 10px;
            height: 10px;
            background: #fff;
            border: 1px solid #b3b3b3;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            box-shadow: 0 2px 4px rgba(0,0,0,.25);
        }
    }
    .d-popup-cont{
        padding: 20px 17px;
        font-size: 14px;
        line-height: 24px;
        background: #fff;
        border: 1px solid #b3b3b3;
        border-left: 5px solid #e74836;
        box-shadow: 0 2px 4px rgba(0,0,0,.25);
    }
}


@media screen and (max-width:1350px){
    .landing-slider_list-cont{
        width: 1008px;
    }
    .landing-slider_img {
        max-width: 550px;
    }
    .landing-slider_cont{
        margin-left: 578px;
    }
}

.lid{
    margin: 0 0 50px;
}
.lid_head{
    margin: 0 0 36px;
    font: 900 46px @font-family-proxima-nova;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.lid_steps{
    position: relative;
    width: 813px;
    height: 1177px;
    margin: auto;
    padding: 0;
    list-style: none;
}
.lid_i{
    position: absolute;
    width: 312px;
    text-align: center;
}

.lid_i_img{
    position: relative;
    left: -100px;
    opacity: 0;
    height: 141px;
    margin: 0 0 13px;
    background: url(../images/quickstart/lid_sprite.png) no-repeat;
}
.lid_i_img-2,
.lid_i_img-4{
    left: 100px;
}
.lid_i_img-2{
    background-position: 0 -150px;
}
.lid_i_img-3{
    background-position: 0 -300px;
}
.lid_i_img-4{
    background-position: 0 -450px;
}
.lid_i_img-5{
    background-position: 0 -600px;
}

.lid_i_descr{
    opacity: 0;
}
.lid_i_head{
    margin: 0 0 11px;
    font: 700 20px/24px @font-family-proxima-nova;
}
.lid_i_text{
    margin: 0 -20px;
    font-size: 16px;
    line-height: 24px;
}

.lid_i-1{
    top: 0;
    left: -55px;
}
.lid_i-2{
    top: 118px;
    right: 16px;
}
.lid_i-3{
    top: 375px;
    left: -55px;
}
.lid_i-4{
    top: 500px;
    right: 16px;
}
.lid_i-5{
    top: 775px;
    left: -55px;
}
.lid_i-6{
    top: 839px;
    right: -69px;
    width: 343px;
    height: 343px;
    background: url(../images/quickstart/lid_sprite.png) no-repeat -5px -750px;
    opacity: 0;
}
.lid_i-6 .lid_i_head{
    margin-top: 46px;
    margin-bottom: 15px;
    font: 900 20px/28px @font-family-proxima-nova;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.lid_i-6 .btn{
    margin: 0 0 21px;
}

.step-line{
    position: absolute;
    background: url(../images/quickstart/lid_sprite.png) no-repeat -350px 0;
    opacity: 0;
}
.step-line-2{
    width: 285px;
    height: 122px;
    top: -50px;
    left: -262px;
}
.step-line-3{
    width: 276px;
    height: 219px;
    top: -155px;
    left: 289px;
    background-position: -350px -200px;
}
.step-line-4{
    width: 282px;
    height: 94px;
    top: -30px;
    left: -253px;
    background-position: -350px -450px;
}
.step-line-5{
    width: 302px;
    height: 253px;
    top: -182px;
    left: 279px;
    background-position: -350px -590px;
}
.step-line-6{
    width: 274px;
    height: 54px;
    top: 16px;
    left: -248px;
    background-position: -350px -860px;
}

.lid_i_img,
.lid_i_descr,
.step-line,
.lid_i-6{
    -webkit-transition: all .4s;
    transition: all .4s;
}
.lid_i_descr,
.step-line{
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.lid_i.show .lid_i_img{
    opacity: 1;
    left: 0;
}
.lid_i.show .lid_i_descr,
.lid_i.show .step-line{
    opacity: 1;
}
.lid_i-6.show{
    right: -1px;
    opacity: 1;
}



.video{
    position: relative;
}
.video-cover img{
    display: block;
}
.video-play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/quickstart/video-play.png) no-repeat 50% 50%;
    background-color: rgba(0, 29, 39, .3);
    cursor: pointer;
}


.landing-video{
    padding: 11px 0 0;
    background: url(../images/quickstart/video-ladder.png) repeat-x 50% 0;
}
.landing-video_cont{
    min-height: 550px;
    background: #e5faff url(../images/quickstart/video-bg.png) no-repeat 50% 70px;
}

.landing-video-block{
    float: left;
    width: 590px;
    height: 332px;
    margin: 91px 0 0 -21px;
}

.landing-video_text{
    float: right;
    width: 315px;
    margin: 175px 40px 0 0;
}
.lv_text_head{
    margin: 0 0 10px;
    font: 900 23px @font-family-proxima-nova;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.lv_text_text{
    margin: 0 0 20px;
    font-size: 18px;
}


.stories_info{
    padding: 35px 0;
    font: 700 18px/51px @font-family-proxima-nova;
    color: #fff;
    background: #1a2d34;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.stories_info_text{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}



.flip-counter ul.cd {
    list-style: none;
    margin: 0 -1px;
    padding: 0;
}

.flip-counter li {
    background: url(/images/welcome_new/welcome-digits.png) no-repeat;
}

.flip-counter li.t {
    width: 31px;
    height: 17px;
}

.flip-counter li.b {
    width: 31px;
    height: 16px;
}

.flip-counter li.s {
    position: relative;
    top: 2px;
    width: 15px;
    height: 33px;
    background-position: 3px -330px;
}


.pvc-counter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 57px;
}

.pvc-counter .flip-counter {
    position: relative;
    float: none;
    margin: 0 -2px;
    font-size: 0;
    line-height: 0;
}

.pvc-counter .flip-counter ul.cd {
    float: none;
    display: inline-block;
    margin: 0 1px 0 0;
}

.pvc-counter .flip-counter li {
    background: url(/images/planeta/pvc-counter-sprite-small.png) no-repeat;
}

.pvc-counter .flip-counter li.t {
    width: 42px;
    height: 28px;
}

.pvc-counter .flip-counter li.b {
    width: 42px;
    height: 29px;
}

.pvc-counter .flip-counter li.s {
    top: 0;
    width: 20px;
    height: 56px;
    background: none;
}


.pvc-counter.counter-billion {
    height: 51px;
}

.pvc-counter.counter-billion .flip-counter {
    margin: 0 -1px;
}

.pvc-counter.counter-billion .flip-counter ul.cd {
    margin: 0;
}

.pvc-counter.counter-billion .flip-counter li {
    background: url(../images/quickstart/pvc-counter-sprite-billion.png) no-repeat;
}

.pvc-counter.counter-billion .flip-counter li.t {
    width: 32px;
    height: 25px;
}

.pvc-counter.counter-billion .flip-counter li.b {
    width: 32px;
    height: 26px;
}

.pvc-counter.counter-billion .flip-counter li.s {
    width: 11px;
    height: 49px;
    background: none;
}




.stories_list{
    font-size: 0;
    width: 100%;
    white-space: nowrap;
    background: #1a2d34;
}
.stories_col{
    display: inline-block;
    width: 300px;
    white-space: normal;
}
.stories_i{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.stories_i_cont{
    position: relative;
    padding-top: 66%;
}
.stories_link{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.stories_link:hover{
    z-index: 5;
    color: #fff;
}

.stories_cover-wrap,
.stories_cover-wrap:after,
.stories_cont,
.stories_plus{
    -webkit-transition: .1s linear;
    transition: .1s linear;
}
.stories_cover-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.4);
    box-shadow: 0 3px 20px rgba(0,0,0,.4);
}
.stories_cover-wrap:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: no-repeat 50% 50%;
}
.stories_cover_img{
    display: block;
    width: 100%;
}
.stories_plus{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 1px 5px;
    font: 700 22px/18px @font-family-proxima-nova;
    color: #00b2e2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_plus span{
    position: relative;
}
.stories_plus:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: 20px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
}

.stories_cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_name{
    margin: 12px 12px 7px;
    font: 700 20px/30px @font-family-proxima-nova;
}

.stories_link:hover .stories_cover-wrap{
    width: 108%;
    height: 108%;
    top: -5%;
    left: -5%;
    border-width: 3px;
}
.stories_link:hover .stories_cover-wrap:after,
.stories_link:hover .stories_cont,
.stories_link:hover .stories_plus{
    opacity: 1;
    filter: alpha(opacity=100);
}
.stories_create{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/quickstart/stories-write-bg.png) no-repeat 50% 50%;
    background-size: cover;
}

.stories_create_btn{
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    padding: 9px 24px 8px;
    font: 700 20px/30px @font-family-proxima-nova;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.34);
    text-align: center;
    border: 3px solid #fff;
    -webkit-border-radius: 4px;
    border-radius: 7px;
    background: #00c1f5;
    background-image: linear-gradient(to bottom, #00c1f5, #00b2e2);
}
.stories_create_btn:hover{
    color: #fff;
    background: #00C8FF;
    background-image: linear-gradient(to bottom, #00C8FF, #00C0F5);
}

.transform-animate .stories_create,
.transform-animate .stories_link{
    -webkit-transition: -webkit-transform .4s linear;
    transition: transform .3s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.transform-animate .stories_link{
    -webkit-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}
.transform-animate .stories_create{
    -webkit-transform: perspective(1000px) rotateY(-180deg);
    transform: perspective(1000px) rotateY(-180deg);
}
.transform-animate .flip .stories_link{
    -webkit-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
}
.transform-animate .flip .stories_create{
    -webkit-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}

.simple-animate .flip .stories_link{
    display: none;
}



.landing-blockquote{
    background: #f9f9f9;
    border-bottom: 1px solid #ededed;
}
.blockquote_list-wrap{
    position: relative;
    padding: 51px 50px 29px;
}

.blockquote_arrows_prev,
.blockquote_arrows_next{
    position: absolute;
    top: 121px;
    left: 0;
    width: 33px;
    height: 35px;
    background: url(../images/quickstart/blockquote_arrows.png) no-repeat -40px -40px;
    opacity: .8;
    filter: alpha(opacity=80);
    cursor: pointer;
}
.blockquote_arrows_next{
    left: auto;
    right: 0;
    background-position: -40px 0;
}
.blockquote_arrows_prev:hover,
.blockquote_arrows_next:hover,
.blockquote_arrows_prev.disabled,
.blockquote_arrows_next.disabled{
    opacity: 1;
    filter: alpha(opacity=100);
}
.blockquote_arrows_prev.disabled{
    background-position: 0 0;
    cursor: default;
}
.blockquote_arrows_next.disabled{
    background-position: 0 -40px;
    cursor: default;
}

.blockquote_list{
    height: 230px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}
.blockquote_i{
    position: relative;
    float: left;
    width: 700px;
    padding: 25px 45px 4px 195px;
}
.blockquote_ava{
    position: absolute;
    top: 0;
    left: 41px;
}
.blockquote_ava_img{
    display: block;
    width: 128px;
    height: 128px;
}
.blockquote_name{
    margin: 0 0 15px;
    font: 900 20px @font-family-proxima-nova;
    text-transform: uppercase;
}
.blockquote_prof{
    float: right;
    margin: 7px 0 0;
    font: 14px @font-family-gotham-pro;
}
.blockquote_text{
    position: relative;
    padding: 22px 40px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 5px 5px 0 1px #e0e0e0;
    box-shadow: 5px 5px 0 1px #e0e0e0;
    background: #fff;
}
.blockquote_text:before{
    content: '';
    position: absolute;
    top: -1px;
    right: 100%;
    width: 13px;
    height: 17px;
    background: url(../images/quickstart/blockquote_tail.png) no-repeat;
}
.blockquote_text:after{
    content: '';
    position: absolute;
    top: 20px;
    left: 12px;
    width: 17px;
    height: 14px;
    background: url(../images/quickstart/blockquote_symbol.png) no-repeat;
}


.bottom-create-block{
    padding: 100px 0;
    text-align: center;
}
.bcb_or{
    margin: 0 27px;
    font: italic 700 16px @font-family-minionpro;
}
.bcb_question-link{
    font: 700 16px @font-family-proxima-nova;
}


.footer{
    padding: 50px 0;
    font: 700 16px @font-family-proxima-nova;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    background: #1a2d34;
}



/* modal + form */
.text-center{
    text-align: center;
}
textarea{
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    height: auto;
}
input, textarea{
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus, textarea:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0 none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.input-field {
    padding: 0 10px 0 0;
}
.input-field-l {
    padding: 0 20px 0 0;
}
.input-field input, .input-field textarea {
    width: 100%;
    margin: 0;
}
.input-l {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding: 9px;
}
textarea.input-l {
    height: auto;
}
.help-inline {
    display: inline-block;
    vertical-align: middle;
    color: #b44d38;
    font-size: 11px;
}


.page-overflow-test{
    overflow-y: hidden !important;
}
.theaterMode body{
    overflow: hidden;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity=80);
}
.modal-dialog{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1050;
    white-space: nowrap;
    overflow: auto;
}
.modal-dialog:after{
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.modal-dialog .modal{
    display: inline-block;
    position: relative;
    z-index: 1050;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 560px;
    max-width: 950px;
    margin: 20px 0;
    background: #fff;
    vertical-align: middle;
    text-align: left;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    white-space: normal;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal-project-feedback.size-transition {
    -webkit-transition: width .15s linear, height .15s linear;
    -ms-transition: width .15s linear, height .15s linear;
    transition: width .15s linear, height .15s linear;
}
.close {
    float: right;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
.modal-project-feedback .close {
    margin: 10px;
    line-height: 14px;
    font-size: 14px;
}
.fade {
    -webkit-transition: opacity .15s linear;
    -ms-transition: opacity .15s linear;
    transition: opacity .15s linear;
    opacity: 0;
}
.fade.in {
    opacity: 1;
}

.modal-project-feedback {
    min-width: 0 !important;
}
.modal-project-feedback-form {
    width: 400px;
    padding: 30px;
}
.m-project-feedback-title {
    margin: 0 0 28px;
    font: 22px/100% @font-family-proxima-nova;
    text-align: center;
}
.modal-project-feedback .modal-select-header {
    margin: 0 0 30px;
}
.modal-project-feedback .modal-select-header .fieldset {
    margin: 25px 0 0;
}
.modal-project-feedback .modal-select-header .fieldset:first-child {
    margin-top: 0;
}
.modal-select-header .fielset.error, .modal-select-header .fieldset.error {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fae5e3;
    box-shadow: 0 -5px 0 0 #fae5e3, 0 5px 0 0 #fae5e3;
}

.modal-project-feedback .modal-select-header label {
    display: block;
    color: #333;
    margin-bottom: 10px;
    font-family: @font-family-proxima-nova;
    font-size: 18px;
}

.modal-project-feedback .modal-feedback-success {
    width: 520px;
    padding: 30px;
}
.content-alert-success, .content-alert-warning, .content-alert-error {
    position: relative;
    margin: 10px 0;
    padding: 15px 20px 6px 60px;
    line-height: 21px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background: #f7f7f7;
}
.content-alert-success:before, .content-alert-warning:before, .content-alert-error:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.content-alert-success:before {
    background: #9de448;
}
.content-alert-warning:before {
    background: #f1c40f;
}
.content-alert-success p, .content-alert-warning p, .content-alert-error p {
    line-height: 21px;
    margin-bottom: 12px;
    color: #707070;
}
.content-alert-success p.big, .content-alert-warning p.big, .content-alert-error p.big {
    font: 700 18px/24px @font-family-proxima-nova;
    margin: 0 0 6px;
}
[class^="three-types-alerts-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-image: url(../images/icon/three-types-alerts-icons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
}
.content-alert-success [class^="three-types-alerts-"], .content-alert-warning [class^="three-types-alerts-"], .content-alert-error [class^="three-types-alerts-"] {
    position: absolute;
    left: 10px;
    top: 15px;
}
.three-types-alerts-success {
    background-position: 0 0;
}
.three-types-alerts-warning {
    background-position: 0 -20px;
}
/* /modal + form */


