@import "../less/quickstart/base/variables";
@import "../less/quickstart/mixins/mixins-common";


@import "../less/quickstart/base/fonts-common";

@import "../less/quickstart/base/base-common";

@import "../less/quickstart/utilites/utilites-common";

// modules
@import "../less/quickstart/modules/flip-stories";



// video
.video{
    position: relative;
}
.video-cover img{
    display: block;
}
.video-play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/quickstart/video-play.png) no-repeat 50% 50%;
    background-color: rgba(0, 29, 39, .3);
    cursor: pointer;
}

.embed-video{
    position: relative;
    padding: 0 0 56.25%;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
// /video



body{
    font-family: @font-family-proxima-nova;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: #fff;
    min-width: 1175px;
    padding: 82px 0 0;
}

.wrap{
    width: 1040px;
    margin: auto;
}

a{
    color: #00b2e2;
    -webkit-transition: color .1s, border-color .1s;
    transition: color .1s, border-color .1s;
}
a:hover{
    color: #008cb3;
}


// header
.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    background: #fff;
    border-bottom: 1px solid #ededed;
}
.logo{
    float: left;
    display: block;
    width: 120px;
    height: 31px;
    margin: 4px 0 0;
    background: url(../images/quickstart/logo.png) no-repeat;
}
.header_create-btn{
    float: right;
    line-height: 25px;
    padding: 7px 23px;
}
// /header



// video lead
.video-lead{
    min-height: 446px;
    padding: 64px 0 50px;
    .font-proxima-nova();
    color: #fff;
    background: url(../images/quickstart/video-lead-bg.jpg) no-repeat 50% 0 ~"/" cover;
    &_head{
        margin: 0 0 45px;
        font: 900 69px/1 @font-family-proxima-nova;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &_video{
        float: left;
        width: 560px;
    }
    &_cont{
        margin: 0 0 0 600px;
    }
    &_text{
        margin: 0 0 20px 0;
        font: 18px/26px @font-family-proxima-nova;
    }
    &_action-text{
        margin: 0 0 15px;
        font: 22px/30px @font-family-proxima-nova;
    }

    &_action{
        position: relative;
        .form-control{
            height: 49px;
            padding: 16px 150px 14px 15px;
            font: 18px/22px @font-family-proxima-nova;
            border: 2px solid #fff;
            border-radius: 0;
            background: fade(#000, 50);
            color: #fff;
            .placeholder(#fff);
        }

        &_btn{
            position: absolute;
            top: 4px;
            right: 5px;
            .pln-d-popup{
                left: auto;
                right: 0;
                .pln-d-popup-tail{
                    right: 0;
                    margin: 0 20px 0 0;
                }
            }
        }
        .btn{
            padding: 7px 17px;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.land_var2 {
    background-image: url(../images/quickstart/video-lead-book1.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;

    .video-lead {
        &_action-text{
            margin-bottom: 10px;
        }

        .fieldset {
            &:after {
                clear: none;
            }
        }

        &_secondary-text{
            font: 15px/23px @font-family-proxima-nova;
            margin-top: 10px;
        }
    }

    .promo-lead {
        background-image: none;
        background: rgba(255, 255, 255, 0.97);
    }

    .faq {
        background: rgba(255, 255, 255, 1);
    }

    .question-form {
        background: rgba(52, 152, 219,0.9);
        padding: 80px 0;

        &_head {
            color: #ffffff;
            letter-spacing: 3px;
            text-align: center;
        }

        .btn {
            border: 2px solid white;
        }
    }

    .author-slider {
        background: #ffffff;
    }
}


.video-lead.var2{
    background: rgba(52, 152, 219, 0.8);
}

.video-lead.var3{
    background-image: url(../images/quickstart/video-lead-bg3.jpg);
}

.video-lead.var4{
    padding: 80px 0 70px;
    background-image: url(../images/quickstart/video-lead-business.jpg);
    .video-lead{
        &_head{
            margin-bottom: 12px;
            font: 700 50px/1 @font-family-proxima-nova;
            letter-spacing: .02em;
        }
        &_cont{
            width: 530px;
            margin: 0;
        }
        &_text{
            margin: 0 0 40px 0;
        }
        &_action{
            margin-right: 20px;
            .form-control{
                background: #fff;
                .placeholder(#999);
                color: #000;
            }
        }
    }
}
// /video lead



// promo lead
.promo-lead{
    padding: 100px 0 100px;
    background: url(../images/quickstart/promo-lead-bg.jpg) 50% 0;

    &_head{
        margin: 0 0 45px;
        font: 900 48px/1 @font-family-proxima-nova;
        text-transform: uppercase;
        text-align: center;
    }

    &_i{
        float: left;
        width: 260px;
        margin: 0 0 0 105px;
        font: 16px/22px @font-family-proxima-nova;
        &:first-child{
            margin-left: 0;
        }

        &_img{
            img{
                display: block;
                margin: auto;
            }
        }
        &_head{
            margin: 20px 0;
            font: 900 20px/26px @font-family-proxima-nova;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
// /promo lead



// faq
.faq{
    padding: 75px 0 90px;
}

// faq author
.faq-author{
    min-height: 355px;
    margin: 0 0 55px -65px;
    padding: 60px 0 0 65px;
    background: url(../images/quickstart/faq-author-bg.jpg) no-repeat;
    &_head{
        margin: 0 0 35px;
        font: 900 40px/1 @font-family-proxima-nova;
        text-transform: uppercase;
    }
    &_head{
        margin: 0 0 15px;
        font: 900 40px/1 @font-family-proxima-nova;
        text-transform: uppercase;
    }

    &_ava{
        float: left;
        width: 160px;
        img{
            display: block;
        }
    }

    &_cont{
        margin: 0 0 0 180px;
        font: 16px/1.4 @font-family-proxima-nova;
    }

    &_name{
        font-size: 30px;
    }
    &_prof{
        margin: 0 0 20px;
        font: italic 16px Georgia, serif;
        color: #808080;
    }
    &_project-lbl{
        margin: 0 0 5px;
        font-weight: 700;
    }
    &_project-val{
        max-width: 300px;
    }

    &__bottom{
        margin-top: 85px;
        margin-bottom: 0;
    }
}
// /faq author


// faq text
.faq-text{
    &_i{
        margin: 55px 0 0 -65px;
        padding: 0 0 0 65px;
        font: 20px/30px @font-family-proxima-nova;
        background: url(../images/quickstart/faq-item.png) no-repeat 16px 8px;
        &:first-child{
            margin-top: 0;
        }
        &_head{
            margin: 0 0 20px;
            font-size: 36px;
            line-height: 1.4;
        }
        ol, ul{
            margin: 0 0 0 40px;
        }
    }
}
// /faq text

// /faq



// page control
.page-control{
    .form-control{
        font-size: 20px;
        line-height: 24px;
        padding-top: 17px;
        padding-bottom: 15px;
    }
    .btn{
        font-size: 20px;
    }
    &_popup{
        bottom: 100%;
        top: auto;
        margin: 6px 0;
        color: #000;
        .pln-d-popup-tail{
            bottom: auto;
            top: 100%;
            margin: 0 0 0 20px;
            border: 5px solid;
            border-color: #dadada transparent transparent;
            border-bottom: 0;
            > div{
                content: '';
                position: absolute;
                top: -6px;
                left: -5px;
                border: 5px solid;
                border-color: #fff transparent transparent;
                border-bottom: 0;
            }
        }
        .d-popup-cont{
            display: block;
            padding: 5px 15px;
            background: #fff;
            border: 1px solid #dadada;
        }
    }
}
.pln-dropdown.bottom-up .page-control_popup{
    .pln-d-popup-tail{
        bottom: 100%;
        top: auto;
        border: 5px solid;
        border-color: transparent transparent #dadada;
        border-top: 0;
        > div{
            top: auto;
            bottom: -6px;
            border: 5px solid;
            border-color: transparent transparent #fff;
            border-top: 0;
        }
    }
}
// /page control


// question form
.question-form{
    padding: 100px 0 110px;
    background: #f9f8f6;
    &_head{
        margin: 0 0 40px;
        font: 900 40px/1 @font-family-proxima-nova;
        text-transform: uppercase;
    }
    .fieldset + .fieldset{
        margin-top: 26px;
    }
}
// /question form


// now request
.now-request{
    padding: 65px 0;
    background: #f9f8f6;
    &_head{
        margin: 0 0 20px;
        font: 900 30px/1 @font-family-proxima-nova;
        text-transform: uppercase;
        text-align: center;
    }
    &_block{
        width: 550px;
        margin: auto;
    }
}
// /now request



// author slider
.author-slider{
    padding: 82px 0 66px;
    &_head{
        margin: 0 0 40px;
        font: 900 40px/1 @font-family-proxima-nova;
        text-transform: uppercase;
        text-align: center;
    }


    // head slider
    &_head-wrap{
        width: 100%;
        overflow: hidden;
        .caroufredsel_wrapper{
            box-sizing: content-box;
            padding-right: 1000px;
        }
    }
    &_head-list{
        float: left;
        position: relative;
        margin: 0 0 34px;
        list-style: none;
        font-size: 0;
        white-space: nowrap;
    }
    &_head-i{
        position: relative;
        top: 0;
        display: inline-block;
        vertical-align: top;
        width: 244px;
        padding: 9px 0 0;
        min-height: 1px;
        font: 20px/14px @font-family-proxima-nova;
        transition: all .6s linear;
        opacity: .1;
        &.active{
            width: 448px;
        }
    }
    &_head-name{
        margin: 0 0 17px;
        text-align: center;
    }
    &_head-name-text{
        cursor: pointer;
        transition: all .6s linear;
        transform-origin: 50% 100%;
    }
    &_head-ava{
        img{
            display: block;
            margin: auto;
            cursor: pointer;
        }
    }
    // /head slider


    // text slider
    &_text-wrap{
        width: 740px;
        margin: auto;
    }
    &_text-i{
        position: relative;
        float: left;
        text-align: center;
    }
    &_text-project{
        margin: 0 0 20px;
        font: 700 24px/28px @font-family-proxima-nova;
        text-transform: uppercase;
    }
    &_text-text{
        font: italic 20px/30px Georgia, serif;
    }
    // /text slider
}
.uninit .author-slider_head-i,
.uninit .author-slider_head-name,
.uninit .author-slider_head-name-text{
    transition: none;
}
.author-slider_head-i.sibling-2{
    opacity: .25;
}
.author-slider_head-i.sibling{
    opacity: .6;
}
.author-slider_head-i.active{
    opacity: 1;
}
.author-slider_head-i.active .author-slider_head-name-text{
    transform: scale(1.35, 1.35);
    cursor: default;
}
// /author slider




// partners
.partners{
    padding: 40px 0;
    &_list {
        text-align: center;
    }
    &_i {
        display: inline-block;
        vertical-align: middle;
        margin: 15px;
    }
}
// /partners
