@import "vip-landing/normalize";
@import "vip-landing/variables";
@import "vip-landing/mixins/common";
@import "vip-landing/fonts-var";
@import "vip-landing/fonts";

@import "vip-landing/dropdowns";
@import "vip-landing/select";
@import "vip-landing/radio";
@import "vip-landing/project-payment";

// animate
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
        transform: perspective(400px) rotateY(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        -ms-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
        -ms-transform: perspective(400px) rotateY(-10deg);
        transform: perspective(400px) rotateY(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        -ms-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        -ms-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

.flipInY {
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}



@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}



@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: perspective(1000px) rotateY(-180deg) translateX(-400px);
        transform: perspective(1000px) rotateY(-180deg) translateX(-400px);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: perspective(1000px) rotateY(0) translateX(0);
        transform: perspective(1000px) rotateY(0) translateX(0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: perspective(1000px) rotateY(-180deg) translateX(-400px);;
        -ms-transform: perspective(1000px) rotateY(-180deg) translateX(-400px);
        transform: perspective(1000px) rotateY(-180deg) translateX(-400px);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: perspective(1000px) rotateY(0) translateX(0);
        -ms-transform: perspective(1000px) rotateY(0) translateX(0);
        transform: perspective(1000px) rotateY(0) translateX(0);
        opacity: 1;
    }
}

.rotateIn {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}
// /animate


.hide{
    display: none;
}

.fade {
    .transition(opacity .15s linear);
    .opacity(0);
}
.fade.in {
    .opacity(100);
}


.col-1{
    width: 360px;
}
.col-2{
    width: 760px;
}


.central-block-wrap {
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.central-block {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.central-block-cont {
    white-space: normal;
    text-align: left;
    font-size: 14px;
}
.vertical-align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}


.btn{
    display: inline-block;
    padding: 17px 22px 13px;
    .gothampro-black();
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #45b1dc;
    border: 1px solid #45b1dc;
    cursor: pointer;
    &:hover{
        color: #fff;
        background-color: darken(#45b1dc, 10%);
        border-color: darken(#45b1dc, 10%);
    }
}


.content-btn{
    display: inline-block;
    padding: 10px 9px 8px;
    .gothampro-black();
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #000;
    background: transparent;
    &:hover{
        color: #000;
        text-decoration: none;
        background: rgba(0,0,0,.2);
        .btn-text{
            border-bottom-color: #000;
        }
    }
    .content-btn-text{
        display: inline-block;
        line-height: 12px;
        border-bottom: 1px solid rgba(0,0,0,.3);
    }
}
.content-btn-white{
    border-color: #fff;
    color: #fff;
    &:hover{
        color: #fff;
        .btn-text{
            border-bottom-color: #fff;
        }
    }
    .content-btn-text{
        border-bottom-color: rgba(255,255,255,.3);
    }
}
.content-btn-rich-white{
    padding: 15px 9px 13px;
    .gothampro-bold();
    color: #d9332f;
    letter-spacing: .15em;
    border-color: #fff;
    background: #fff;
    &:hover{
        color: #d9332f;
        border-color: #f2f2f2;
        background: #f2f2f2;
        .btn-text{
            border-bottom-color: #fff;
        }
    }
    .content-btn-text{
        border-bottom-color: fade(#d9332f, 30);
    }
}

.btn-block{
    .box-sizing(border-box);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


.form-control{
    .box-sizing(border-box);
    width: 100%;
    margin: 0 0 10px;
    padding: 11px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    border: 1px solid #fff;
    background: #fff;
    outline: none;
    &:-moz-placeholder {
        color: #b2b2b2;
        text-align: center;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        color: #b2b2b2;
        text-align: center;
        text-transform: uppercase;
    }
    &::-webkit-placeholder {
        color: #b2b2b2;
        text-align: center;
        text-transform: uppercase;
    }
    &::-webkit-input-placeholder {
        color: #b2b2b2;
        text-align: center;
        text-transform: uppercase;
    }
}

.input-field{
    input[type=text]{
        width: 100%;
    }
}

.link-dotted {
    color: #3498db;
    border-bottom: 1px dotted;
    cursor: pointer;
}
.link-dotted:hover {
    color: #1d6fa5;
}


.pull-right{
    float: right;
}


body{
    position: relative;
    min-width: 1200px;
    background: #ededed url(../images/vip-landing/bg.jpg) 50% 0 no-repeat;
    .gothampro-reg();
    font-size: 14px;
    line-height: 1.2;
    color: #000;
}

b{
    .gothampro-bold();
    font-weight: 400;
}

a{
    color: #45b1dc;
    text-decoration: underline;
    &:hover{
        color: darken(#45b1dc, 15%);
    }
}


.bg-block{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    min-width: 1200px;
}
.bg-wrap{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1600px;
    margin-left: -800px;
}
.bg-gift{
    position: absolute;
    top: 825px;
    left: 1234px;
    width: 344px;
    height: 346px;
    background: url(../images/vip-landing/bg-gift.png) no-repeat 0 0 / cover;
}
.bg-mug{
    position: absolute;
    top: 470px;
    left: 24px;
    width: 365px;
    height: 375px;
    background: url(../images/vip-landing/bg-mug.png) no-repeat;
}


.wrap{
    width: 1160px;
    margin: auto;
}

.footer{
    padding: 45px 0 41px;
    text-align: center;
    background: #fff;
}

@gridMargin: 40px;

.header{
    margin: 0 0 @gridMargin;
}

.logo{
    float: left;
    display: block;
    width: 360px;
    height: 300px;
    background: url(../images/vip-landing/logo.png) no-repeat;
}

.lead-text{
    float: left;
    margin: 100px 0 0 73px;
    font: 200 44px/55px @ff-gotham-pro;
    b{
        font-size: 50px;
        font-weight: 900;
        color: #d9332f;
        letter-spacing: 1px;
        text-transform: uppercase;
        a{
            color: #d9332f;
            text-decoration: none;
            &:hover{
                color: @plnblue;
            }
        }
    }
}



.attention{
    position: relative;
    margin: 0 0 40px;
    padding: 10px;
    background: #fff url(../images/vip-landing/attention-bg.jpg);
    box-shadow: 0 5px 20px rgba(0,0,0,.07);
    &_wrap{
        border: 2px solid #d9332f;
    }
    &_meta{
        float: right;
        width: 290px;
        min-height: 190px;
        padding: 30px;
        background: #d9332f url(../images/vip-landing/attention-meta-bg.jpg);
        color: #fff;
        &_lbl{
            margin: 0 0 -5px;
            .gothampro-reg();
            font-size: 18px;
            line-height: 22px;
        }
        &_val{
            margin: 0 0 12px;
            .gothampro-bold();
            font-size: 50px;
            line-height: 54px;
            letter-spacing: -1px;
        }
    }
    &_cont{
        overflow: hidden;
        padding: 31px 45px;
        &_head{
            .ff-pf-din-cond-pro();
            font-size: 78px;
            line-height: 84px;
            font-weight: 700;
            color: #d9332f;
            letter-spacing: -.02em;
            text-transform: uppercase;
        }
        &_text{
            .gothampro-reg();
            font-size: 18px;
            line-height: 26px;
        }
    }
}



.grid-list{
    margin: -@gridMargin 0 @gridMargin -@gridMargin;
}
.grid-i{
    position: relative;
    float: left;
    width: 360px;
    height: 300px;
    overflow: hidden;
    margin: @gridMargin 0 0 @gridMargin;
    background: #ededed;
}


.signup-form{
    padding: 30px;
    color: #fff;
    text-align: center;
}
.signup_head{
    margin: 0 0 15px;
    font-size: 26px;
}
.signup_remember{
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
    &:hover{
        color: #fff;
        border-bottom-color: #fff;
    }
}


.grid-img{
    & > img{
        display: block;
        -webkit-transform: translateZ(0);
		width: 100%;
		min-height: 300px;
    }
}
.grid-img-text{
    .opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    .transition(.2s);
    cursor: pointer;
    &_cont{
        position: absolute;
        top: 11px;
        left: 11px;
        right: 11px;
        bottom: 11px;
        padding: 18px;
        border: 4px solid #fff;
    }
}
.grid-i:hover .grid-img-text{
    .opacity(100);
}
.grid-sale{
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 103px;
    &_text{
        position: absolute;
        top: 23px;
        left: -50%;
        right: -50%;
        font-size: 20px;
        line-height: 57px;
        background: #d9332f;
        color: #fff;
        text-align: center;
        .rotate(-7deg);
    }
}
.grid-i__sale{
    .grid-img-text_cont{
        opacity: .4;
    }
}


.grid-project-link{
    position: absolute;
    bottom: 30px;
    left: 30px;
    &_btn{
        padding: 5px 10px 4px;
        .gothampro-reg();
        font-size: 13px;
        text-transform: none;
    }
}


.grid-i__color-{
    &red        { background: #d9332f }
    &orange     { background: #ff9a17 }
    &green      { background: #78b631 }
    &violet     { background: #9a4d7e }
    &yellow     {
        background: #ffee10;
        .grid-color_cont{
            color: #000;
        }
    }
}
.grid-color_cont{
    padding: 30px;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    text-align: left;
    white-space: normal;
}
.grid-color_head{
    margin: 0 0 15px;
    .gothampro-black();
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.grid-color_btn{
    margin: 31px 0 0;
}


.projects{
    max-width: 100%;
    overflow: hidden;
    padding: @gridMargin 0;
    background: #fff;
}

.project-lead{
    margin: 185px 0 0 0;
    &.col-2{
        margin-top: 155px;
    }
}

.project{
    &_list{
        margin: -@gridMargin*2 0 @gridMargin -@gridMargin;
    }
    &_i{
        float: left;
        display: block;
        text-decoration: none;
        color: #000;
        width: 360px;
        margin: @gridMargin 0 0 @gridMargin;
        span{
            display: block;
        }
    }
    &_i-cont{
        padding: 4px;
        border: 4px solid #000;
    }
    &_img{
        margin: 0 0 26px;
        img{
            display: block;
        }
    }
    &_name{
        overflow: hidden;
        height: 25px * 3;
        margin: 0 20px 15px;
        .gothampro-black();
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &_progress{
        margin: 0 20px 18px;
        font: 0/0 a;
        background: #e6e6e6;
    }
    &_bar{
        max-width: 100%;
        height: 6px;
        background: #00b1e1;
    }
    &_target{
        margin: 0 20px 9px;
        font-size: 16px;
        line-height: 25px;
        color: #666;
        .b-rub{
            display: inline;
        }
    }
    &_all-link{
        min-height: 194px;
        padding: 190px 0 0;
        .gothampro-black();
        font-size: 18px;
        color: #00b1e1;
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center;
        &:hover{
            color: darken(#00b1e1, 10%);
        }
    }
}


// modal
.page-overflow-test{
    overflow-y: hidden !important;
}
.theaterMode body{
    overflow: hidden;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0,rgba(0,0,0,.85) 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,rgba(0,0,0,.5)),color-stop(100%,rgba(0,0,0,.85)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0,rgba(0,0,0,.85) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0,rgba(0,0,0,.85) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0,rgba(0,0,0,.85) 100%);
    background: radial-gradient(ellipse at center,rgba(0,0,0,.5) 0,rgba(0,0,0,.85) 100%);
}
.modal-dialog{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1050;
    white-space: nowrap;
    overflow: auto;
}
.modal-dialog:after{
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.modal-dialog .modal{
    display: inline-block;
    position: relative;
    z-index: 1050;
    border: 0;
    min-width: 560px;
    max-width: 950px;
    margin: 20px 0;
    background: #fff;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
}
.modal-backdrop, .modal-backdrop.fade.in {
    .opacity(100);
}
.close {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 0 0 7px;
    font: 700 25px/23px Tahoma, sans-serif;
    color: #fff;
    .opacity(80);
    cursor: pointer;
    text-decoration: none;
}
.close:hover {
    color: #fff;
    text-decoration: none;
    .opacity(100);
}
// /modal

.size-transition {
    @transition: width .15s linear, height .15s linear;
    .transition(@transition);
}

// content success
.content-alert-success, .content-alert-warning, .content-alert-error {
    position: relative;
    margin: 10px 0;
    padding: 15px 20px 6px 60px;
    line-height: 21px;
    .border-radius(0 4px 4px 0);
    background: #f7f7f7;
}
.content-alert-success:before, .content-alert-warning:before, .content-alert-error:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    .border-radius(4px 0 0 4px);
}
.content-alert-success:before {
    background: #9de448;
}
.content-alert-warning:before {
    background: #f1c40f;
}
.content-alert-error:before {
    background: #e74c3c;
}
.content-alert-success p, .content-alert-warning p, .content-alert-error p {
    line-height: 21px;
    margin-bottom: 12px;
    color: #707070;
}
.content-alert-success p.big, .content-alert-warning p.big, .content-alert-error p.big {
    .gothampro-black();
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 6px;
}
.content-alert-error .big {
    color: #e74c3c;
}
[class^="three-types-alerts-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background: url(../images/icon/three-types-alerts-icons.png) no-repeat;
    position: relative;
}
.content-alert-success [class^="three-types-alerts-"], .content-alert-warning [class^="three-types-alerts-"], .content-alert-error [class^="three-types-alerts-"] {
    position: absolute;
    left: 10px;
    top: 15px;
}
.three-types-alerts-success {
    background-position: 0 0;
}
.three-types-alerts-warning {
    background-position: 0 -20px;
}
.three-types-alerts-error {
    background-position: 0 -40px;
}
// content success




.modal-attention-text,
.modal-attention{
    min-width: 0 !important;
    max-width: none !important;
    width: 1160px;
    .attention{
        margin: 0;
    }
}
.modal-attention-text{
    width: 810px;
    .attention_cont_head{
        font-size: 38px;
        line-height: 45px;
    }
}


.modal-gift {
    min-width: 0 !important;
}
.modal-gift .modal-success {
    width: 520px;
    padding: 30px;
    h2{
        font-weight: 400;
        margin-top: 0;
    }
    p:last-child{
        margin-bottom: 0;
    }
}


.modal-gift-block{
    width: 740px;
    padding: 30px;
    &_title{
        margin: 0 0 30px;
        .gothampro-black();
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &_cont{
        position: relative;
    }
    &_img{
        float: left;
        img{
            display: block;
        }
    }
    &_descr{
        margin: 0 0 0 390px;
        padding: 0 0 70px;
        font-size: 15px;
        line-height: 1.7;
    }
    &_action{
        position: absolute;
        bottom: 0;
        left: 390px;
        right: 0;
    }

    &_project{
        margin: 30px -30px -30px;
        padding: 26px 30px;
        background: #f1f1ef;
        &_name{
            margin: 0 0 17px;
            .gothampro-bold();
            font-size: 16px;
            .text-overflow();
            a{
                &, &:hover{
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
        &_bar{
            font: 0/0 a;
            background: #ddddd9;
        }
        &_progress{
            max-width: 100%;
            height: 5px;
            background: #afd0da;
        }
    }
}
.mgba-other-link{
    float: right;
    margin: 18px 0 0;
    font-size: 12px;
    text-transform: uppercase;
}


.modal-form-block{
    width: 740px;
    padding: 30px;
}


// deleteByProfileId it
.new-year-page{
    background: #fefeff url(../images/vip-landing/ny-bg.jpg) no-repeat 50% 0;
    .logo{
        position: relative;
        background: url(../images/vip-landing/logo-ny.png) no-repeat;
        width: 1165px;
        height: 70px;
        margin: 87px 0 0;
    }
    .header{
        margin-bottom: 60px;
    }
    .bg-mug{
        top: 750px;
        width: 246px;
        height: 281px;
        background: url(../images/vip-landing/bg-ball.png) no-repeat;
    }
    .grid-img-text{
        background-image: url(../images/vip-landing/grid-text-bg.png);
        -webkit-animation: gridBackground 10s linear infinite 1s;
                animation: gridBackground 10s linear infinite 1s;
    }
    .projects{
        position: relative;
        overflow: visible;
        &:before{
            content: '';
            position: absolute;
            z-index: -2;
            bottom: 100%;
            left: 0;
            min-width: 100%;
            height: 515px;
            background: url(../images/vip-landing/ny-bg-b.jpg) no-repeat 50% 0 / cover;
        }
    }
}

@-webkit-keyframes gridBackground {
    0% { background-position: 0 0 }
    100% { background-position: -360px 300px }
}
@keyframes gridBackground {
    0% { background-position: 0 0 }
    100% { background-position: -360px 300px }
}


.new-year-header{
    margin: 0 0 90px;
    .ff-pf-din-cond-pro();
    font-size: 86px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: #fff;
}
// /deleteByProfileId it


.spring-page{
    background: fixed url(../images/vip-landing/bg-spring.jpg) no-repeat 50% 0 / cover;
    .logo{
        position: relative;
        background: url(../images/vip-landing/logo-spring.png) no-repeat;
        width: 1165px;
        height: 63px;
        margin: 66px 0 0;
    }
    .header{
        margin-bottom: 108px;
    }
    .bg-mug{
        display: none;
    }
    .bg-gift{
        top: 29px;
        left: 114px;
        width: 132px;
        height: 129px;
        transform: rotate(-16deg);
    }
    .header-title{
        margin: 0 0 11px;
        .ff-pribambas();
        font-size: 112px;
        text-transform: uppercase;
        letter-spacing: -.02em;
        text-align: center;
        white-space: nowrap;
        color: #fff;
    }

}


.summer-page,
.winter-page{
    background: fixed url(../images/vip-landing/summer-bg.jpg) no-repeat 50% 0 / cover;

    .bg-block{
        display: none;
    }


    .header{
        background: #fff;
        height: 100px;
        padding: 30px 0 0;
    }

    .vip-logo{
        width: 285px;
        height: 66px;
        margin: auto;
        background: url(../images/vip-landing/vip-logo.png) no-repeat;
    }

    .header-lead{
        float: right;
        margin: 20px 0 0 115px;
        font: 13px/1.2 @ff-gotham-pro;
        &_b{
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            color: #37a1db;
        }
    }

    .pln-logo{
        float: left;
        display: block;
        width: 144px;
        height: 38px;
        margin: 18px 0 0;
        background: url(../images/pln-logo.svg) no-repeat;
    }


    .header-title{
        margin: 30px 0 9px;
        font: 700 70px/1.1 @ff-gotham-pro;
        font-variant: small-caps;
        text-align: center;
        color: #ffffff;
        a{
            color: #ffffff;
            text-decoration: none;
            &:hover{
                color: #ffffff;
				border-bottom: 2px solid;
            }
        }
    }
    .header-post-title{
        margin: 0 0 60px;
        font: 700 24px/1.1 @ff-gotham-pro;
        font-variant: small-caps;
        text-align: center;
        color: #ffffff;
    }
}


.winter-page {
    background: fixed url(../images/vip-landing/vip-bg.jpg) no-repeat 50% 0 / cover;
}

