// FAQ bootstrap

@import (reference) "planeta/base/variables";
@import (reference) "planeta/base/fonts-var";
@import (reference) "planeta/mixins/common";

@import "planeta/plugins/videojs";


html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

.video-js{
    width: 100%;
    height: 100%;
}

.video-js .vjs-play-control{
    width: 5em;
}
.video-js .vjs-volume-panel.vjs-volume-panel-vertical{
    width: 5em;
}
.video-js .vjs-fullscreen-control{
    width: 5em;
}
