// GRID SYSTEM
// -----------

.make-grid > .make(col, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);

.wrap-row{
    &:extend(.cf-mix all);
    margin-left: -@grid960GutterWidth/2;
    margin-right: -@grid960GutterWidth/2;
}


.wrap{
    @width: 1200px;
    @gutter: 40px;

    &:extend(.cf-mix all);
    width: auto;
    max-width: @width + @gutter * 2;
    min-width: 980px;
    margin: auto;
    padding-left: @gutter;
    padding-right: @gutter;
    @media (max-width: @screen-md-max) {
        min-width: 0;
        max-width: 980px;
        padding-left: 10px;
        padding-right: 10px;
        [class^="col-"], [class*=" col-"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}


@media (max-width: 767px) {
    [class^="col-"], [class*=" col-"] {
        width: 100% !important;
    }
}

