// chekbox & radiobox


.checkbox, .radiobox{
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    background: url(../images/planeta/flat-radio.png) no-repeat -20px 0;
    cursor: pointer;
    &.active{
        background-position: -20px -20px;
    }
    &.disabled{
        background-position: -20px -40px;
        &.active{
            background-position: -20px -60px;
        }
        & + .checkbox-label{
            color: #bbb;
            cursor: default;
        }
    }
}
.radiobox{
    background-image: url(../images/crowd-school/radio.png);
    background-position: 0 0;
    &.active{
        background-image: url(../images/crowd-school/radio.png);
        background-position: 0 -30px;
    }
    &.disabled{
        background-position: 0 -40px;
        &.active{
            background-position: 0 -60px;
        }
    }
}

.checkbox-label, .radiobox-label{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 8px;
    cursor: pointer;
}
