// Main




html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    padding: 0;
    font: 16px/1.5 @ff-proxima-nova;
    color: #000;
    background: #9a0d11 url(../images/promo/bazar-2016/bg.png) 50% 0;
    background-image: url(../images/promo/bazar-2016/bg-ovr.png), url(../images/promo/bazar-2016/bg.png);
    background-repeat: repeat-x, repeat;
    background-position: 50% 0, 50% 0;
}


a{
    color: #000;
    text-decoration: underline;
}


.lazy-hidden {
    opacity: 0;
}

.lazy-loaded {
    transition: opacity 0.3s;
    opacity: 1;
}




// header
.header{
    margin: 0 0 81px;
    font-family: @ff-mir;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
    color: #fff;
    &_name{
        margin: 91px 0 5px;
        font-size: 65px;
        line-height: 60 / 65;
    }
    &_name-pln{
        font-size: 32px;
        line-height: 1.1;
    }


    @media (max-width: 1239px) {
        &_name{
            font-size: 50px;
        }
    }

    @media (max-width: 900px) {
        &_name{
            margin-top: 30px;
            font-size: 36px;
        }
        &_name-pln{
            font-size: 28px;
        }
    }


    @media (max-width: 630px) {
        margin: 0 20px 40px;
        padding: 0 0 30px;
        background: #fff;
        border-radius: 0 0 5px 5px;
        color: #132129;
        &_name{
            clear: both;
            padding: 31px 0 0;
            font-size: 30px;
        }
        &_name-pln{
            font-size: 26px;
        }
    }
}



.logo{
    display: inline-block;
    vertical-align: top;
    width: 177px;
    height: 46px;
    margin: 20px 0 0;
    background: url(../images/pln-logo.svg) no-repeat;
}



.bazar-logo-wrap{
    float: left;
    width: 210px;
    height: 245px;
    border-radius: 0 0 100px 100px;
    background: #fff;
    box-shadow: 0 30px 50px fade(#000, 10);
}
.bazar-logo{
    display: block;
    width: 135em / 158;
    font-size: 158px;
    line-height: 1em;
    margin: 16px auto 0;
    background: url(../images/promo/bazar-2016/bazar-logo.svg) no-repeat 0 0 / cover;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}

@media (max-width: 900px) {
    .bazar-logo-wrap{
        width: 130px;
        height: 135px;
    }
    .bazar-logo{
        font-size: 76px;
    }
}

@media (max-width: 630px) {
    .bazar-logo-wrap{
        width: auto;
        height: auto;
        box-shadow: none;
    }
    .bazar-logo {
        font-size: 106px;
    }
}



.bazar-date-wrap{
    float: right;
    width: 210px;
    height: 245px;
    border-radius: 0 0 100px 100px;
    background: #fff;
    box-shadow: 0 30px 50px fade(#000, 10);
}
.bazar-date{
    display: block;
    width: 165em / 120;
    font-size: 120px;
    line-height: 1em;
    margin: 57px auto 0;
    background: url(../images/promo/bazar-2016/date.svg) no-repeat 0 0 / cover;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:before {
        content: "\00a0";
    }
}

@media (max-width: 900px) {
    .bazar-date-wrap{
        width: 130px;
        height: 135px;
    }
    .bazar-date{
        font-size: 56px;
        margin-top: 27px;
    }
}

@media (max-width: 630px) {
    .bazar-date-wrap{
        width: auto;
        height: auto;
        box-shadow: none;
    }
    .bazar-date{
        font-size: 86px;
        margin-top: 36px;
    }
}
// /header



// footer
.footer{
    position: relative;
    z-index: 1;
    padding: 33px 0 53px;
    background: #132129;
    color: #fff;
    &_sharing{
        float: left;
        padding: 44px 0 0;
        white-space: nowrap;
    }
    &_sharing-head{
        display: inline-block;
        vertical-align: top;
        margin: 0 37px 0 0;
        font-family: @ff-pfdin-cond-pro;
        font-size: 29px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_sharing-cont{
        display: inline-block;
        vertical-align: top;
        padding: 3px 0 0;
    }

    &_develop{
        float: right;
        white-space: nowrap;
    }
    &_develop-head{
        display: inline-block;
        vertical-align: top;
        margin: 45px 24px 0 0;
        font-family: @ff-pfdin-cond-pro;
        font-size: 29px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_develop-logo{
        display: inline-block;
        vertical-align: top;
        .logo{
            width: 294px;
            height: 75px;
            background-image: url(../images/pln-logo-white.svg);
        }
    }


    @media (max-width: 1239px) {
        &_sharing{
            float: none;
            text-align: center;
        }
        &_develop{
            float: none;
            margin: 40px 0 0;
            text-align: center;
        }
    }

    @media (max-width: 767px) {
        &_sharing-head{
            display: block;
            margin: 0 0 10px;
        }
        &_sharing-cont{
            display: block;
        }
        &_develop-head{
            display: block;
            margin: 0 0 10px;
        }
        &_develop-logo{
            display: block;
            .logo{
                width: 156px;
                height: 41px;
                margin: 0;
            }
        }
    }
}
// /footer



.page-head{
    margin: 0 0 70px;
    text-align: center;
    &_block{
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 79px;
        padding: 0 105px;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 105px;
            height: 100%;
            background: url(../images/promo/bazar-2016/projects-head-bg.png) no-repeat;
        }
        &:after{
            left: auto;
            right: 0;
            background-position: 100% 0;
        }
    }
    &_title{
        height: 100%;
        padding: 29px 0 0;
        font-family: @ff-pfdin-cond-pro;
        font-size: 36px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: .05em;
        color: #1b2336;
        white-space: nowrap;
        text-transform: uppercase;
        background: url(../images/promo/bazar-2016/projects-head-bg.png) no-repeat -105px 0;
    }

    @media (max-width: 900px){
        &_title{
            font-size: 24px;
        }
    }

    @media (max-width: 700px) {
        margin-bottom: 30px;
        &_block{
            height: auto;
            padding: 10px 30px;
            background: #fff;
            border-radius: 5px;
            &:before,
            &:after{
                display: none;
            }
        }
        &_title{
            display: inline;
            height: auto;
            padding: 0;
            font-size: 24px;
            line-height: 1.3;
            white-space: normal;
            background: none;
        }
    }
}




.bg-block{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    &_cont{
        position: relative;
    }


    @media (max-width: 1024px) {
        display: none;
    }
}


.tree-1{
    position: absolute;
    top: 348px;
    left: -264px;
    width: 296px;
    height: 238px;
    background: url(../images/promo/bazar-2016/tree-1.png) no-repeat;

    @media (max-width: 1239px) {
        left: -261px;
    }
}
.tree-2{
    position: absolute;
    top: 435px;
    left: 100%;
    width: 296px;
    height: 237px;
    margin: 0 0 0 -7px;
    background: url(../images/promo/bazar-2016/tree-2.png) no-repeat;

    @media (max-width: 1239px) {
        margin-left: -10px;
    }
}




@keyframes yAxis {
    50% {
        animation-timing-function: ease-in-out;
        transform: translateY(-15px);
    }
}


@keyframes xAxis {
    50% {
        animation-timing-function: ease-in-out;
        transform: translateX(25px);
    }
}


@keyframes xAxisScaleM {
    50% {
        animation-timing-function: ease-in-out;
        transform: translateX(25px) scale(.6);
    }
}


.rabbit-1{
    position: absolute;
    top: 390px;
    left: -161px;
    width: 179px;
    height: 248px;
    animation: xAxis 6.5s infinite ease-in-out;
    animation-delay: 0s;
    &_el{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/promo/bazar-2016/rabbit-1.png) no-repeat;
        animation: yAxis 8.5s infinite ease-in-out;
        animation-delay: 0.3s;
    }
}



.rabbit-2{
    position: absolute;
    top: 800px;
    left: 100%;
    margin: 0 0 0 30px;
    width: 159px;
    height: 220px;
    animation: xAxis 6.5s infinite ease-in-out;
    animation-delay: 1.3s;
    &_el{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/promo/bazar-2016/rabbit-2.png) no-repeat;
        animation: yAxis 8.5s infinite ease-in-out;
        animation-delay: 4.3s;
    }
}

.rabbit-3{
    position: absolute;
    top: 1692px;
    left: -304px;
    width: 157px;
    height: 217px;
    animation: xAxis 6.5s infinite ease-in-out;
    animation-delay: 2.5s;
    &_el{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/promo/bazar-2016/rabbit-3.png) no-repeat;
        animation: yAxis 8.5s infinite ease-in-out;
        animation-delay: 0.3s;
    }
}

.rabbit-4{
    position: absolute;
    top: 1462px;
    left: 100%;
    margin: 0 0 0 79px;
    width: 179px;
    height: 248px;
    animation: xAxis 6.5s infinite ease-in-out;
    animation-delay: 1.3s;
    &_el{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/promo/bazar-2016/rabbit-4.png) no-repeat;
        animation: yAxis 8.5s infinite ease-in-out;
        animation-delay: 3.8s;
    }
}


@media (max-width: 1800px) {
    .rabbit-1,
    .rabbit-3{
        left: -150px;
    }
    .rabbit-2,
    .rabbit-4{
        margin: 0 0 0 -40px;
    }
}


@media  (max-width: 1329px) and (min-width: @screen-md-min),
        (max-width: 1060px) {
    .rabbit-1,
    .rabbit-3{
        left: -130px;
    }
    .rabbit-1,
    .rabbit-2,
    .rabbit-3,
    .rabbit-4{
        transform: scale(.6);
        animation-name: xAxisScaleM;
    }
}

@media (max-width: 1060px) {
    .rabbit-1,
    .rabbit-3{
        left: -100px;
    }
    .rabbit-2,
    .rabbit-4{
        margin: 0 0 0 -80px;
    }
}




.main{
    position: relative;
    z-index: 1;
}




// lead
.lead{
    margin: 0 0 39px;
    &_block{
        background: #fff;
        border-radius: 25px;
    }
    &_wrap{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &_i{
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    &_text{
        padding: 5px 30px;
        font-size: 16px;
        line-height: 1.5;
        color: #132129;
    }
    &_video{
        border-radius: 0 25px 25px 0;
        overflow: hidden;
        transform: translateZ(0);
    }


    @media (max-width: 1239px) {
        &_text{
            font-size: 13px;
        }
    }

    @media (max-width: 900px) {
        &_wrap{
            display: block;
        }
        &_i{
            display: block;
            width: auto;
        }
        &_text{
            padding: 1px 20px;
            font-size: 18px;
        }
        &_video{
            border-radius: 0 0 25px 25px;
        }
    }

    @media (max-width: 700px) {
        margin-bottom: 30px;
        &_block{
            border-radius: 5px;
        }
        &_text{
            font-size: 16px;
        }
        &_video{
            border-radius: 0 0 5px 5px;
        }
    }
}
// /lead




// to-end
.to-end{
    padding: 39px 0 91px;
    &_head{
        width: 1044px;
        height: 176px;
        margin: 0 auto 70px;
        background: url(/images/promo/bazar-2016/end-head.png) no-repeat;
        .page-head{
            display: none;
        }
    }

    @media (max-width: 1239px) {
        &_head{
            width: auto;
            height: auto;
            background: none;
            .page-head{
                display: block;
            }
        }
    }

    @media (max-width: 700px) {
        padding: 30px 0;
        &_head{
            margin-bottom: 30px;
        }
    }
}
// /to-end



// to-end-countdown
.to-end-countdown{
    font-size: 0;
    text-align: center;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 160px;
        height: 160px;
        margin: 0 0 0 64px;
        font-family: @ff-mir;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 50%;
        &:first-child{
            margin: 0;
        }
    }
    &_bar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        svg{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &_count{
        position: relative;
    }
    &_val{
        margin: 33px 0 -11px;
        font-size: 80px;
        line-height: 1;
        color: #ff3100;
    }

    @media (max-width: 700px) {
        display: table;
        width: 100%;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        &_i{
            display: table-cell;
            width: 33%;
            height: auto;
            margin-left: 30px;
        }
        &_val{
            margin-top: 20px;
            font-size: 60px;
        }
        &_lbl{
            margin-bottom: 20px;
        }
    }

    @media (max-width: 430px) {
        &_val{
            margin-top: 12px;
            margin-bottom: -5px;
            font-size: 34px;
        }
        &_lbl{
            margin-bottom: 12px;
            font-size: 12px;
        }
    }
}
// /to-end-countdown




// bazar-projects
.bazar-projects{
    padding: 91px 0 79px;
    .page-head_block{
        display: block;
    }
    &_head-count{
        color: #8d1400;
    }

    &_projects{
        .project-card-list{
            margin: 0;
            white-space: nowrap;
        }
        .project-card-item{
            white-space: normal;
        }
        .owl-carousel{
            text-align: center;
            .project-card-item{
                margin: 0;
                text-align: left;
            }
        }
        .owl-prev,
        .owl-next{
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            width: 60px;
            padding: 6% 0 0;
            font-size: 42px;
            color: #fff;
        }
        .owl-next{
            right: auto;
            left: 100%;
            text-align: right;
        }
        .owl-arrow-left{
            .s-icon();
            .s-icon-arrow-left();
        }
        .owl-arrow-right{
            .s-icon();
            .s-icon-arrow-right();
        }
    }

    &_more{
        margin: 30px 0 0;
        text-align: center;
    }


    @media (max-width: 1239px) {
        .page-head_title{
            font-size: 26px;
        }
    }

    @media (max-width: 1060px) {
        &_projects{
            padding: 0 40px;
        }
        .project-card-name,
        .project-card-descr,
        .project-card-info{
            margin-left: 7px;
            margin-right: 7px;
        }
        .owl-prev,
        .owl-next{
            width: 40px;
            font-size: 32px;
        }
    }

    @media (max-width: 979px) {
        &_projects{
            margin-left: -20px;
            margin-right: -20px;
            padding: 0;
        }
        .owl-carousel{
            .project-card-item{
                max-width: 220px;
            }
        }
        .owl-prev,
        .owl-next{
            display: none;
        }
    }

    @media (max-width: 900px) {
        .page-head_title{
            font-size: 18px;
        }
    }

    @media (max-width: 700px) {
        padding: 30px 0;
        .page-head_block{
            display: inline-block;
        }
        .page-head_title{
            font-size: 24px;
            line-height: 1.3;
        }
    }
}


.btn-bazar-projects{
    display: inline-block;
    vertical-align: top;
    padding: 8px 25px 6px;
    font-family: @ff-pfdin-cond-pro;
    font-size: 23px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #132129;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #8d1400;
    }
}
// /bazar-projects




// bazar news wrap
.bazar-news-wrap{
    padding: 79px 0 69px;


    @media (max-width: 700px) {
        padding: 30px 0;
    }
}
// /bazar news wrap




// bazar news
.bazar-news{
    &_list-wrap{
        padding: 22px 43px 21px;
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 30px 50px fade(#000, 10);
    }
    &_list{
        &:extend(.cf-mix all);
        margin: 0;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        margin: 0;
        padding: 0;
    }
    &_i-cont{
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 5px fade(#000, 20);
        overflow: hidden;
        transform: translateZ(0);
    }
    &_date{
        margin: 0 0 6px;
        font-size: 12px;
        line-height: 14px;
        color: #747474;
    }
    &_name{
        padding: 20px;
        font: 18px/26px @ff-proxima-nova;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                color: #ff5959;
            }
        }
    }
    &_name-cont{
        height: 26px * 4;
        overflow: hidden;
    }


    .owl-carousel{
        .bazar-news_i{
            width: 100%;
            margin: 0;
        }
    }
    .owl-stage-outer{
        margin: 0 -10px;
        padding: 0 10px 10px;
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 60px;
        padding: 6% 0 0;
        font-size: 42px;
        color: #fff;
    }
    .owl-prev{
        margin-right: 43px;
    }
    .owl-next{
        right: auto;
        left: 100%;
        text-align: right;
        margin-left: 43px;
    }




    @media (max-width: 1239px) {
        img{
            width: 100%;
            height: auto;
        }
    }
    @media (max-width: 1060px) {
        .owl-prev,
        .owl-next{
            width: 40px;
            font-size: 32px;
        }
    }
    @media (max-width: 1023px) {
        &_list-wrap{
            margin: 0 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &_i{
            width: 50%;
        }

        .owl-prev{
            margin-right: 17px;
        }
        .owl-next{
            margin-left: 17px;
        }
    }

    @media (max-width: 979px) {
        &_list-wrap{
            background: none;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
            margin: 0 -10px 0;
        }
        &_date{
            color: #fff;
        }

        .owl-carousel{
            .bazar-news_i{
                max-width: 220px;
            }
        }
        .owl-prev,
        .owl-next{
            display: none;
        }
        img{
            width: 100%;
            height: auto;
        }
    }


    @media (max-width: 700px) {
        &_list-wrap{
            border-radius: 5px;
        }
    }
    @media (max-width: 450px) {
        &_i{
            width: 100%;
        }
    }
}
// /bazar news




// partners
.partners{
    overflow: hidden;
    padding: 29px 0 30px;
    background: #fff;
    &_head{
        margin: 0 0 32px;
        font-family: @ff-pfdin-cond-pro;
        font-size: 32px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: .05em;
        text-transform: uppercase;
        text-align: center;
        color: #1b2336;
    }
    &_list{
        margin: -30px 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: middle;
        margin: 30px;
    }
}
// /partners




// modal-news
.modal-news{
    width: 720px;
    padding: 30px;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    line-height: 1;
    opacity: .5;
    cursor: pointer;
    transition: .3s;
    &:hover{
        opacity: .7;
    }
}

.news-name{
    margin: 0 0 40px;
    font-size: 28px;
    line-height: 34 / 28;
}

.news-text{
    font-size: 18px;
    line-height: 1.6;
}
// /modal-news


