/*body, td, pre {color:#000; font: 12px/1.5em "Lucida Grande", Helvetica, Arial, sans-serif; margin:8px;}*/
body#tinymce {background:#fff;}
body.mceForceColors {background:#FFF; color:#000;}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; width:11px !important; height:11px  !important; background:url(img/items.gif) no-repeat 0 0;}
img.mceItemAnchor {width:11px; height:11px; background:url(img/items.gif) no-repeat;}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}
address {font-style: italic}

* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}


img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}

/*ugly-hack to prevent empty lines to appear*/
span#mce_noneditablecaret {
  display: none;
}


.mceplanetaphoto {
  z-index: 50;
}

div.mceplanetacut-context-close, div.mceplanetamusic-context-close {
  background: #fff;
  border: 1px solid #666666;
  position: relative;
  z-index: 1000;
  /*right: -870px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

img.mceplanetacut, img.mceplanetamusic {
  display: block;
  clear: both;
}

div.mce-context-panel {
  position: absolute;
  font-size: 0;
  line-height: 0;
}

.mce-context-button {
  cursor: pointer;
}

span.right, span.left, span.none, span.save-rate, span.clear {
  background: #fff;
  border: 1px solid #666666;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 2px;
}

div.mceplanetaphoto-context-close, div.mceplanetavideo-context-close, div.mceplanetaexternal-context-close {
  background: #fff;
  border: 1px solid #666666;
  position: relative;
  z-index: 1000;
  /*right: 0px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

div.mceplanetaphoto-context-float-left {
  background: #fff;
  border: 1px solid #666666;
  position: relative;
  top: -18px;
  left: 20px;
  z-index: 1000;
  /*right: 0px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

div.mceplanetaphoto-context-float-right {
  background: #fff;
  border: 1px solid #666666;
  position: relative;
  top: -36px;
  left: 40px;
  z-index: 1000;
  /*right: 0px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

div.mceplanetaphoto-context-float-left.active, div.mceplanetaphoto-context-float-right.active {
  background: #E2E2E2;
}

[class^=mceplanetaphoto-context-] [class^=icon-]{
    opacity: .5;
    filter: alpha(opacity=50);
}

/*.mce-img-left, .dummy-class.left {*/
/*float: left;*/
/*margin: 10px 10px 10px 0;*/
/*}*/

/*.mce-img-right, .dummy-class.right {*/
/*float: right;*/
/*margin: 10px 0 10px 10px;*/
/*}*/

/*.mce-img-none, .dummy-class.none {*/
/*float: none;*/
/*margin: 10px 10px 10px 10px;*/
/*}*/


div.mce-resize-context-menu {
  position: absolute;
  top: 28px;
  left: 5px;
  width: 100px;
  height: 25px;
  /*background: #CBCFD4;*/
}

#mce-resize-frame-wrapper {
  position: absolute;
  z-index: -1;
}
div.mce-resize-right {
  background: url("/images/icon/border-anim-v.gif") repeat scroll 0 0 transparent;
  position: absolute;
  right: -1px;
  width: 1px;
  height: 100%;
}
div.mce-resize-top {
  background: url("/images/icon/border-anim-h.gif") repeat scroll 0 0 transparent;
  top: -1px;
  height: 1px;
  position: absolute;
  width: 100%;
}
div.mce-resize-bottom {
  background: url("/images/icon/border-anim-h.gif") repeat scroll 0 0 transparent;
  bottom: -1px;
  height: 1px;
  position: absolute;
  width: 100%;
}
div.mce-resize-left {
  background: url("/images/icon/border-anim-v.gif") repeat scroll 0 0 transparent;
  position: absolute;
  left: -1px;
  width: 1px;
  height: 100%;
}
div.mce-resize-inner {
  position: absolute;
  width: inherit;
  height: inherit;
  border-style: none;
  /*background: #3399ff;*/
}


#mce-resize-frame-wrapper .se, #mce-resize-frame-wrapper .sw, #mce-resize-frame-wrapper .ne, #mce-resize-frame-wrapper .nw {
  width: 6px;
  height: 6px;
  display: block;
}
#mce-resize-frame-handler {
  width: 6px;
  height: 6px;
  background: #fff;
  border: 1px solid #000;
  display: block;
  z-index: 1000;
  position: absolute;
}
#mce-resize-frame-handler.se {
  cursor: se-resize;
}
#mce-resize-frame-handler.sw {
  cursor: ne-resize;
}

div#mce-resize-frame-hint {
  position: absolute;
  bottom: 10px;
  background: #333;
  color: #fff;
  white-space: nowrap;
  padding: 0 5px;
}

.se #mce-resize-frame-hint {
  right: 10px;
}
.sw #mce-resize-frame-hint {
  left: -100px;
}


span.clear, span.save-rate {
  background: #fff;
}
span>i.is-checked {
  opacity: 0.6;
}