/* Reset */
.planetaSkin table, .planetaSkin tbody, .planetaSkin a, .planetaSkin img, .planetaSkin tr, .planetaSkin div, .planetaSkin td, .planetaSkin iframe, .planetaSkin span, .planetaSkin *, .planetaSkin .mceText {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    white-space: nowrap;
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    color: #000;
    vertical-align: baseline;
    width: auto;
    border-collapse: separate;
    text-align: left
}

.planetaSkin a:hover, .planetaSkin a:link, .planetaSkin a:visited, .planetaSkin a:active {
    text-decoration: none;
    font-weight: normal;
    cursor: default;
    color: #000
}

.planetaSkin table td {
    vertical-align: middle
}

/* Containers */
.planetaSkin table {
    direction:ltr;
}
.planetaSkin iframe {
    display: block;
    background: #FFF;
    overflow: hidden !important;
}

.planetaSkin .mceToolbar {
    height: 26px;
    outline: 0;
}

.planetaSkin .mceLeft {
    text-align: left
}

.planetaSkin .mceRight {
    text-align: right
}

/* External */
.planetaSkin .mceExternalToolbar {
    position: absolute;
    border: 1px solid #CCC;
    border-bottom: 0;
    display: none;
}

.planetaSkin .mceExternalToolbar td.mceToolbar {
    padding-right: 13px;
}

.planetaSkin .mceExternalClose {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 7px;
    height: 7px;
    background: url('img/icons.png') -820px 0
}

/* Layout */
.planetaSkin table.mceLayout {
    border: 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.planetaSkin table.mceLayout > tbody > tr > td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.planetaSkin table.mceLayout tr.mceFirst td {
    border-top: 1px solid #ccc;
}

.planetaSkin table.mceLayout tr.mceLast td {
    border-bottom: 1px solid #ccc;
    /*background: url('img/toolbarbg.png') center repeat-x;*/
}

.planetaSkin table.mceToolbar, .planetaSkin tr.mceFirst .mceToolbar tr td, .planetaSkin tr.mceLast .mceToolbar tr td {
    border: 0;
    margin: 0;
    padding: 0;
}

.planetaSkin td.mceToolbar {
    outline: 0;
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #F6F6F6, #E2E2E2);
    background-image: -ms-linear-gradient(top, #F6F6F6, #E2E2E2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#E2E2E2));
    background-image: -webkit-linear-gradient(top, #F6F6F6, #E2E2E2);
    background-image: -o-linear-gradient(top, #F6F6F6, #E2E2E2);
    background-image: linear-gradient(top, #F6F6F6, #E2E2E2);
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e2e2e2', GradientType=0);*/
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    padding: 0 6px;
}
.planetaSkin td.mceToolbar .mceButton {
    cursor: pointer;
    outline: 0;
}
.planetaSkin .mceSeparator{
    outline: 0;
}

.planetaSkin .mceIframeContainer {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*height: 100%; 5/22/2010 - Joe Rozzi - taken out comparing to default theme ui.css */
}

.planetaSkin .mceIframeContainer {
    padding: 0;
    background: #fff;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    -webkit-box-shadow: inset 0 3px 6px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 3px 6px -1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 6px -1px rgba(0, 0, 0, 0.15);
}
.input-focus.planetaSkin .mceIframeContainer {
    -webkit-transition: border linear .1s,box-shadow linear .1s;
    -moz-transition: border linear .1s,box-shadow linear .1s;
    -ms-transition: border linear .1s,box-shadow linear .1s;
    -o-transition: border linear .1s,box-shadow linear .1s;
    transition: border linear .1s,box-shadow linear .1s;
    border-color: rgba(82,168,236,.8) !important;
    -webkit-box-shadow: inset 0 3px 6px -1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 3px 6px -1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 3px 6px -1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
}

.planetaSkin .mceStatusbar {
    font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
    font-size: 9pt;
    line-height: 16px;
    overflow: visible;
    color: #666;
    display: block;
    height: 20px
}

.planetaSkin .mceStatusbar div {
    float: left;
    /*margin: 3px 0 0 4px;*/
    margin:2px;
    color: #666;
}

.planetaSkin .mceStatusbar a.mceResize {
    display: block;
    float: right;
    background: url('img/icons.png') -801px -2px;
    width: 20px;
    height: 20px;
    cursor: se-resize;
    outline:0;
}

.planetaSkin .mceStatusbar a:hover {
    text-decoration: underline
}

.planetaSkin table.mceToolbar {
    margin-left: 3px
}

.planetaSkin span.mceIcon, .planetaSkin img.mceIcon {
    display: block;
    width: 18px;
    height: 18px
}

.planetaSkin .mceIcon {
    background: url(/images/icon/wysiwyg-sprite.png) no-repeat;
}
.planetaSkin a.mceButtonActive .mceIcon {
    background-image: url(/images/icon/wysiwyg-sprite-active.png);
}

.planetaSkin td.mceCenter {
    text-align: center;
}

.planetaSkin td.mceCenter table {
    margin: 0 auto;
    text-align: left;
}

.planetaSkin td.mceRight table {
    margin: 0 0 0 auto;
}

/* Button */
.planetaSkin .mceButton {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    display: block;
    width: 18px;
    height: 18px;
    margin: 5px 1px;
    padding: 2px;
    border-color: transparent;
}

.planetaSkin .mceButton .mceIcon {
    cursor: pointer;
}

.planetaSkin a.mceButtonEnabled:hover {
    border: 1px solid #d5d5d5;
    border-bottom: 1px solid #ccc;

    background-color: #fff;
    background-image: -moz-linear-gradient(top, #ffffff, #e9e9e9);
    background-image: -ms-linear-gradient(top, #ffffff, #e9e9e9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e9e9e9));
    background-image: -webkit-linear-gradient(top, #ffffff, #e9e9e9);
    background-image: -o-linear-gradient(top, #ffffff, #e9e9e9);
    background-image: linear-gradient(top, #ffffff, #e9e9e9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0);

    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
}

.planetaSkin a.mceButtonSelected {
    background-image: inherit;
    border-color: #333;
    background: #bcd0f5 !important;
}
.planetaSkin a.mceButtonActive {
    background: #b3b3b3!important;
    border: 1px solid #a6a6a6!important;
    -webkit-box-shadow: 0 2px 2px #9b9b9b inset!important;
    -moz-box-shadow: 0 2px 2px #9b9b9b inset!important;
    box-shadow: 0 2px 2px #9b9b9b inset!important;
}

.planetaSkin .mceButtonDisabled .mceIcon {
    opacity: 0.3;
    -ms-filter: 'alpha(opacity=30)';
    filter: alpha(opacity = 30);
}

.planetaSkin .mceButtonLabeled {
    width: auto;
}

.planetaSkin .mceButtonLabeled span.mceIcon {
    float: left;
}

.planetaSkin span.mceButtonLabel {
    display: block;
    font-size: 10px;
    padding: 4px 6px 0 22px;
    font-family: Tahoma, Verdana, Arial, Helvetica;
}

.planetaSkin .mceButtonDisabled .mceButtonLabel {
    color: #888;
}

/* Separator */
.planetaSkin .mceSeparator {
    background: url(/images/icon/wysiwyg-sprite.png) repeat-y -479px 0;
    display: block;
    height: 34px;
    margin: 0 2px;
    overflow: hidden;
    width: 16px;
}

/* ListBox */
.planetaSkin .mceListBox {
    direction: ltr;
    margin: 1px;
    outline: 0;
    cursor: pointer;
}

.planetaSkin .mceListBox, .planetaSkin .mceListBox a {
    display: block
}

.planetaSkin .mceListBox .mceText {
    padding: 1px 2px 1px 5px;
    text-align: left;
    text-decoration: none !important;
    width: 70px;
    background-image: url(img/butt2.png);
    background-position: left top;
    background-repeat: repeat-x;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.planetaSkin .mceListBox .mceText, .planetaSkin .mceListBox .mceOpen {
    background-color: #D5D5D5;
    border-color: #ccc;
}

.planetaSkin table.mceListBoxEnabled:hover .mceOpen, .planetaSkin .mceListBoxHover .mceOpen, .planetaSkin .mceListBoxSelected .mceOpen, .planetaSkin .mceListBoxSelected .mceText {
    /*border-color: #777 !important;*/
    /*background-color: #d5d5d5 !important;*/
}

.planetaSkin table.mceListBoxEnabled:hover .mceText, .planetaSkin .mceListBoxHover .mceText {
    /*border-color: #777 !important;*/
}

.planetaSkin table.mceListBoxEnabled:hover .mceText, .planetaSkin .mceListBoxHover .mceText, .planetaSkin .mceListBoxSelected .mceText, .planetaSkin table.mceListBoxEnabled:hover .mceOpen, .planetaSkin .mceListBoxHover .mceOpen, .planetaSkin .mceListBoxSelected .mceOpen {
    /*background-image: none;*/
}

.planetaSkin .mceListBoxDisabled a.mceText {
    color: gray;
    background-color: transparent;
}

.planetaSkin .mceListBoxMenu {
    overflow: auto;
    overflow-x: hidden;
    min-width: 200px;
    height: auto!important;
}
.planetaSkin .mceListBoxMenu table {
    width: 100%;
}

.planetaSkin .mceOldBoxModel .mceListBox .mceText {
    height: 22px
}

.planetaSkin .mceOldBoxModel .mceListBox .mceOpen {
    width: 11px;
    height: 22px;
}

.planetaSkin select.mceNativeListBox {
    font: 11px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background: #F0F0EE;
    border: 1px solid gray;
    margin-right: 2px;
}

.planetaSkin .mceListBox .mceOpen {
    width: 14px;
    height: 20px;
    border-collapse: separate;
    background-image: url(img/butt2.png);
    background-position: left top;
    background-repeat: repeat-x;
    padding: 1px;
    border-left: 0 none !important;
}

.planetaSkin .mceListBox .mceOpen span {
    display: block;
    width: 14px;
    height: 20px;
    background-image: url(img/down_arrow.gif);
    background-position: 2px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .35;
    filter: alpha(opacity = 35);
}

/* SplitButton */
.planetaSkin .mceSplitButton {
    width: 32px;
    height: 20px;
    direction: ltr
}

.planetaSkin .mceSplitButton a, .planetaSkin .mceSplitButton span {
    height: 20px;
}

.planetaSkin .mceSplitButton a {
    display: block;
}

.planetaSkin .mceSplitButton a.mceAction {
    height: 20px;
    width: 20px;
    padding: 1px 2px;
    display: block;
}

.planetaSkin .mceSplitButton span.mceAction {
    width: 20px;
    background: url('img/icons.png') 20px 20px;
    display: block;
}

.planetaSkin .mceSplitButton a.mceOpen {
    width: 10px;
    height: 20px;
    background-image: url(img/down_arrow.gif);
    background-position: 1px 2px;
    background-repeat: no-repeat;
    padding: 1px;
    border-left: 0 none !important;
}

.planetaSkin .mceSplitButtonDisabled .mceAction, .planetaSkin .mceSplitButtonDisabled span.mceOpen {
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

.planetaSkin .mceSplitButtonActive a.mceAction {
    border: 1px solid #0A246A;
    background-color: #C2CBE0;
}

.planetaSkin table.mceSplitButton td {
    background-image: url(img/butt2.png);
    background-position: left top;
    background-repeat: repeat-x;
}

.planetaSkin .mceSplitButton a.mceAction, .planetaSkin .mceSplitButton a.mceOpen {
    border-color: #B2B2B2;
}

.planetaSkin .mceListBox a.mceText, .planetaSkin .mceSplitButton a.mceAction {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
}

.planetaSkin .mceSplitButton a.mceOpen, .planetaSkin .mceListBox a.mceOpen {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

.planetaSkin .mceListBox a.mceText,
.planetaSkin .mceListBox a.mceOpen {
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -ms-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#dfdfdf));
    background-image: -webkit-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -o-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: linear-gradient(top, #F6F6F6, #dfdfdf);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dfdfdf', GradientType=0);
}
.planetaSkin .mceListBox:hover a.mceText,
.planetaSkin .mceListBox:hover a.mceOpen {
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -ms-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#dfdfdf));
    background-image: -webkit-linear-gradient(top, #ffffff, #e9e9e9);
    background-image: -o-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: linear-gradient(top, #F6F6F6, #dfdfdf);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dfdfdf', GradientType=0);
}
.planetaSkin .mceListBox a.mceText {
    border-right: 0!important;
}
.planetaSkin .mceListBox.mceListBoxSelected a.mceText,
.planetaSkin .mceListBox.mceListBoxSelected a.mceOpen {
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #e2e2e2, #f1f1f1);
    background-image: -ms-linear-gradient(top, #e2e2e2, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #f1f1f1);
    background-image: -o-linear-gradient(top, #e2e2e2, #f1f1f1);
    background-image: linear-gradient(top, #e2e2e2, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#f1f1f1', GradientType=0);
}



.planetaSkin .mceSplitButton a.mceOpen:hover, .planetaSkin .mceSplitButtonSelected a.mceOpen, .planetaSkin table.mceSplitButtonEnabled:hover a.mceAction, .planetaSkin .mceSplitButton a.mceAction:hover {
    background-color: #d5d5d5;
    border-color: #777 !important;
}

/* ColorSplitButton */
.planetaSkin div.mceColorSplitMenu table {
    background: #FFF;
    border: 1px solid gray
}

.planetaSkin .mceColorSplitMenu td {
    padding: 2px
}

.planetaSkin .mceColorSplitMenu a {
    display: block;
    width: 9px;
    height: 9px;
    overflow: hidden;
    border: 1px solid #808080
}

.planetaSkin .mceColorSplitMenu td.mceMoreColors {
    padding: 1px 3px 1px 1px
}

.planetaSkin .mceColorSplitMenu a.mceMoreColors {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 11px;
    line-height: 20px;
    border: 1px solid #FFF
}

.planetaSkin .mceColorSplitMenu a.mceMoreColors:hover {
    border: 1px solid #0A246A;
    background-color: #B6BDD2
}

.planetaSkin a.mceMoreColors:hover {
    border: 1px solid #0A246A
}

.planetaSkin .mceColorPreview {
    margin-left: 2px;
    width: 16px;
    height: 3px;
    overflow: hidden;
    background: #9a9b9a
}

.planetaSkin .mce_forecolor span.mceAction, .planetaSkin .mce_backcolor span.mceAction {
    overflow: hidden;
    height: 16px
}

/* Menu */
.planetaSkin .mceMenu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    border: 1px solid #D4D0C8
}

.planetaSkin .mceNoIcons span.mceIcon {
    width: 0;
}

.planetaSkin .mceNoIcons a .mceText {
    padding-left: 10px
}

.planetaSkin .mceMenu table {
    background: #FFF
}

.planetaSkin .mceMenu a, .planetaSkin .mceMenu span, .planetaSkin .mceMenu {
    display: block
}

.planetaSkin .mceMenu td {
    height: 20px
}

.planetaSkin .mceMenu a {
    position: relative;
    padding: 3px 0 4px 0
}

.planetaSkin .mceMenu .mceText {
    position: relative;
    display: block;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: #000;
    cursor: default;
    margin: 0;
    padding: 0 25px 0 25px;
    display: block
}

.planetaSkin .mceMenu span.mceText, .planetaSkin .mceMenu .mcePreview {
    font-size: 11px
}

.planetaSkin .mceMenu pre.mceText {
    font-family: Monospace
}

.planetaSkin .mceMenu .mceIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
}

.planetaSkin .mceMenu .mceMenuItemEnabled a:hover, .planetaSkin .mceMenu .mceMenuItemActive {
    background-color: #26aedd;
    color: #fff;
}
.planetaSkin .mceMenu .mceMenuItemEnabled a .mceText {
    background-color: #fff!important;
}
.planetaSkin .mceMenu .mceMenuItemEnabled a:hover .mceText {
    background-color: #26aedd!important;
    color: #fff!important;
}
.planetaSkin .mceMenu .mceMenuItemEnabled.mceFirst a:hover {
    background-color: #eee!important;
}
.planetaSkin .mceMenu .mceMenuItemEnabled.mceFirst a:hover .mceText {
    color: #000!important;
}
.planetaSkin .mceMenu .mceMenuItemEnabled.mceFirst a .mceText {
    background-color: #eee!important;
}

.planetaSkin td.mceMenuItemSeparator {
    background: #DDD;
    height: 1px
}

.planetaSkin .mceMenuItemTitle a {
    border: 0;
    background: #EEE;
    border-bottom: 1px solid #DDD
}

.planetaSkin .mceMenuItemTitle span.mceText {
    color: #000;
    font-weight: bold;
    padding-left: 4px
}

.planetaSkin .mceMenuItemDisabled .mceText {
    color: #888
}

.planetaSkin .mceMenuItemSelected .mceIcon {
    background: url('img/menu-check.png')
}

.planetaSkin .mceNoIcons .mceMenuItemSelected a {
    background: url('img/menu-arrow.png') no-repeat -6px center
}

.planetaSkin .mceMenu span.mceMenuLine {
    display: none
}

.planetaSkin .mceMenuItemSub a {
    background: url('img/menu-arrow.png') no-repeat top right;
}

/* Progress,Resize */
.planetaSkin .mceBlocker {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0.5;
    -ms-filter: 'alpha(opacity=50)';
    filter: alpha(opacity = 50);
    background: #FFF
}

.planetaSkin .mceProgress {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    background: url('img/progress.gif') no-repeat;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px
}

.planetaSkin .mcePlaceHolder {
    border: 1px dotted gray
}

/* Formats */
.planetaSkin .mce_formatPreview a {
    font-size: 10px;
    cursor: pointer;
}
.planetaSkin .mce_formatPreview a:hover,
.planetaSkin .mce_formatPreview a:hover .mceText {
    background: #26aedd;
    cursor: pointer;
}

.planetaSkin .mce_p span.mceText {
}

.planetaSkin .mce_address span.mceText {
    font-style: italic
}

.planetaSkin .mce_pre span.mceText {
    font-family: monospace
}

.planetaSkin .mce_h1 span.mceText {
    font-weight: bolder;
    font-size: 2em
}

.planetaSkin .mce_h2 span.mceText {
    font-weight: bolder;
    font-size: 1.5em
}

.planetaSkin .mce_h3 span.mceText {
    font-weight: bolder;
    font-size: 1.17em
}

.planetaSkin .mce_h4 span.mceText {
    font-weight: bolder;
    font-size: 1em
}

.planetaSkin .mce_h5 span.mceText {
    font-weight: bolder;
    font-size: .83em
}

.planetaSkin .mce_h6 span.mceText {
    font-weight: bolder;
    font-size: .75em
}

/* border */
.planetaSkin .mceExternalToolbar, .planetaSkin .mceButton, .planetaSkin a.mceButtonEnabled:hover, .planetaSkin a.mceButtonSelected, .planetaSkin .mceListBox .mceText, .planetaSkin .mceListBox .mceOpen, .planetaSkin table.mceListBoxEnabled:hover .mceText, .planetaSkin .mceListBoxHover .mceText, .planetaSkin .mceListBoxSelected .mceText, .planetaSkin table.mceListBoxEnabled:hover .mceOpen, .planetaSkin .mceListBoxHover .mceOpen, .planetaSkin .mceListBoxSelected .mceOpen, .planetaSkin select.mceListBox, .planetaSkin .mceSplitButton a.mceAction, .planetaSkin .mceSplitButton a.mceOpen, .planetaSkin .mceSplitButton a.mceOpen:hover, .planetaSkin .mceSplitButtonSelected a.mceOpen, .planetaSkin table.mceSplitButtonEnabled:hover a.mceAction, .planetaSkin .mceSplitButton a.mceAction:hover, .planetaSkin div.mceColorSplitMenu table, .planetaSkin .mceColorSplitMenu a, .planetaSkin .mceColorSplitMenu a.mceMoreColors, .planetaSkin .mceColorSplitMenu a.mceMoreColors:hover, .planetaSkin a.mceMoreColors:hover, .planetaSkin .mceMenu {
    border-style: solid;
    border-width: 1px;
}


#tinymce-body_formatselect .mceLast{
    display: none;
}
#tinymce-body-1_formatselect_text, #tinymce-body-1_formatselect_open{
    background: #fff;
}

#tinymce-body_formatselect .mceFirst{
    text-indent: -9999px;
}
#tinymce-body_formatselect .mceFirst .mceText{
    padding: 2px;
    margin: 5px 1px;
    width: 18px;
    height: 18px;
    background: none;
    border: 1px solid transparent !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}
#tinymce-body_formatselect .mceFirst .voiceLabel:hover + .mceText,
#tinymce-body_formatselect .mceFirst .mceText:hover{
    border: 1px solid #d5d5d5 !important;
    border-bottom: 1px solid #ccc !important;
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -ms-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#dfdfdf));
    background-image: -webkit-linear-gradient(top, #ffffff, #e9e9e9);
    background-image: -o-linear-gradient(top, #F6F6F6, #dfdfdf);
    background-image: linear-gradient(top, #F6F6F6, #dfdfdf);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dfdfdf', GradientType=0);
    -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
    -khtml-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06) inset,0 1px 1px rgba(255, 255, 255, 0.3);
}
#tinymce-body_formatselect.mceListBoxSelected .mceFirst .voiceLabel:hover + .mceText,
#tinymce-body_formatselect.mceListBoxSelected .mceFirst .mceText{
    background: #b3b3b3!important;
    border: 1px solid #a6a6a6!important;
    -webkit-box-shadow: 0 2px 2px #9b9b9b inset!important;
    -moz-box-shadow: 0 2px 2px #9b9b9b inset!important;
    box-shadow: 0 2px 2px #9b9b9b inset!important;
}
#tinymce-body_formatselect .mceFirst .voiceLabel{
    display: block !important;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: -18px;
    background: url(/images/icon/wysiwyg-sprite.png) no-repeat -550px -2px;
    text-indent: -9999px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 4px;
}
#tinymce-body_formatselect.mceListBoxSelected .mceFirst .voiceLabel:hover + .voiceLabel,
#tinymce-body_formatselect.mceListBoxSelected .mceFirst .voiceLabel{
    background-image: url(/images/icon/wysiwyg-sprite-active.png);
}

/* Theme */
.planetaSkin span.mce_bold              { background-position: 0      0 }
.planetaSkin span.mce_italic            { background-position: -25px  0 }
.planetaSkin span.mce_underline         { background-position: -50px  0 }
.planetaSkin span.mce_strikethrough     { background-position: -75px  0 }
.planetaSkin span.mce_justifyleft       { background-position: -100px  0 }
.planetaSkin span.mce_justifycenter     { background-position: -125px  0 }
.planetaSkin span.mce_justifyright      { background-position: -150px  0 }
.planetaSkin span.mce_justifyfull       { background-position: -175px  0 }
.planetaSkin span.mce_numlist           { background-position: -200px  0 }
.planetaSkin span.mce_bullist           { background-position: -225px  0 }
.planetaSkin span.mce_planetaphoto      { background-position: -250px  0 }
.planetaSkin span.mce_planetamusic      { background-position: -275px  0 }
.planetaSkin span.mce_planetavideo      { background-position: -300px  0 }
.planetaSkin span.mce_planetaexternal   { background-position: -325px  0 }
.planetaSkin span.mce_planetalink       { background-position: -350px  0 }
.planetaSkin span.mce_planetacut        { background-position: -375px  0 }
.planetaSkin span.mce_removeformat      { background-position: -400px  0 }
.planetaSkin span.mce_undo              { background-position: -425px  0 }
.planetaSkin span.mce_redo              { background-position: -450px  0 }
.planetaSkin span.mce_planetafullscreen        { background-position: -500px  0 }
.planetaSkin span.mce_planetanormalscreen      { background-position: -525px  0 }




.planetaSkin span.mce_cleanup {
    background-position: -40px 0 !important;
}

.planetaSkin span.mce_anchor {
    background-position: -200px 0 !important;
}

.planetaSkin span.mce_indent {
    background-position: -400px 0 !important;
}

.planetaSkin span.mce_outdent {
    background-position: -540px 0 !important;
}

.planetaSkin span.mce_link {
    background-position: 0 -72px !important;
}

.planetaSkin span.mce_unlink {
    background-position: -640px 0 !important;
}

.planetaSkin span.mce_sub {
    background-position: -600px 0 !important;
}

.planetaSkin span.mce_sup {
    background-position: -620px 0 !important;
}


.planetaSkin span.mce_newdocument {
    background-position: -520px 0 !important;
}

.planetaSkin span.mce_image {
    background-position: -380px 0 !important;
}

.planetaSkin span.mce_help {
    background-position: -340px 0 !important;
}

.planetaSkin span.mce_code {
    background-position: -260px 0 !important;
}

.planetaSkin span.mce_hr {
    background-position: -360px 0 !important;
}

.planetaSkin span.mce_visualaid {
    background-position: -660px 0 !important;
}

.planetaSkin span.mce_charmap {
    background-position: -240px 0 !important;
}

.planetaSkin span.mce_paste {
    background-position: -560px 0 !important;
}

.planetaSkin span.mce_copy {
    background-position: -700px 0 !important;
}

.planetaSkin span.mce_cut {
    background-position: -680px 0 !important;
}

/*.planetaSkin span.mce_blockquote {*/
    /*background-position: -220px 0 !important;*/
/*}*/

.planetaSkin .mce_forecolor span.mceAction {
    background-position: -720px 0 !important;
}

.planetaSkin .mce_backcolor span.mceAction {
    background-position: -760px 0 !important;
}

.planetaSkin span.mce_forecolorpicker {
    background-position: -720px 0 !important;
}

.planetaSkin span.mce_backcolorpicker {
    background-position: -760px 0 !important;
}

/* Plugins */
.planetaSkin span.mce_advhr {
    background-position: -0px -20px !important;
}

.planetaSkin span.mce_ltr {
    background-position: -20px -20px !important;
}

.planetaSkin span.mce_rtl {
    background-position: -40px -20px !important;
}

.planetaSkin span.mce_emotions {
    background-position: -60px -20px !important;
}

.planetaSkin span.mce_fullpage {
    background-position: -80px -20px !important;
}


.planetaSkin span.mce_iespell {
    background-position: -120px -20px !important;
}

.planetaSkin span.mce_insertdate {
    background-position: -140px -20px !important;
}

.planetaSkin span.mce_inserttime {
    background-position: -160px -20px !important;
}

.planetaSkin span.mce_absolute {
    background-position: -180px -20px !important;
}

.planetaSkin span.mce_backward {
    background-position: -200px -20px !important;
}

.planetaSkin span.mce_forward {
    background-position: -220px -20px !important;
}

.planetaSkin span.mce_insert_layer {
    background-position: -240px -20px !important;
}

.planetaSkin span.mce_insertlayer {
    background-position: -260px -20px !important;
}

.planetaSkin span.mce_movebackward {
    background-position: -280px -20px !important;
}

.planetaSkin span.mce_moveforward {
    background-position: -300px -20px !important;
}

.planetaSkin span.mce_nonbreaking {
    background-position: -340px -20px !important;
}

.planetaSkin span.mce_pastetext {
    background-position: -360px -20px !important;
}

.planetaSkin span.mce_pasteword {
    background-position: -380px -20px !important;
}

.planetaSkin span.mce_selectall {
    background-position: -400px -20px !important;
}

.planetaSkin span.mce_preview {
    background-position: -420px -20px !important;
}

.planetaSkin span.mce_print {
    background-position: -440px -20px !important;
}

.planetaSkin span.mce_cancel {
    background-position: -460px -20px !important;
}

.planetaSkin span.mce_save {
    background-position: -480px -20px !important;
}

.planetaSkin span.mce_replace {
    background-position: -500px -20px !important;
}

.planetaSkin span.mce_search {
    background-position: -520px -20px !important;
}

.planetaSkin span.mce_styleprops {
    background-position: -560px -20px !important;
}

.planetaSkin span.mce_table {
    background-position: -580px -20px !important;
}

.planetaSkin span.mce_cell_props {
    background-position: -600px -20px !important;
}

.planetaSkin span.mce_delete_table {
    background-position: -620px -20px !important;
}

.planetaSkin span.mce_delete_col {
    background-position: -640px -20px !important;
}

.planetaSkin span.mce_delete_row {
    background-position: -660px -20px !important;
}

.planetaSkin span.mce_col_after {
    background-position: -680px -20px !important;
}

.planetaSkin span.mce_col_before {
    background-position: -700px -20px !important;
}

.planetaSkin span.mce_row_after {
    background-position: -720px -20px !important;
}

.planetaSkin span.mce_row_before {
    background-position: -740px -20px !important;
}

.planetaSkin span.mce_merge_cells {
    background-position: -760px -20px !important;
}

.planetaSkin span.mce_table_props {
    background-position: -980px -20px !important;
}

.planetaSkin span.mce_row_props {
    background-position: -780px -20px !important;
}

.planetaSkin span.mce_split_cells {
    background-position: -800px -20px !important;
}

.planetaSkin span.mce_template {
    background-position: -820px -20px !important;
}

.planetaSkin span.mce_visualchars {
    background-position: -840px -20px !important;
}

.planetaSkin span.mce_abbr {
    background-position: -860px -20px !important;
}

.planetaSkin span.mce_acronym {
    background-position: -880px -20px !important;
}

.planetaSkin span.mce_attribs {
    background-position: -900px -20px !important;
}

.planetaSkin span.mce_cite {
    background-position: -920px -20px !important;
}

.planetaSkin span.mce_del {
    background-position: -940px -20px !important;
}

.planetaSkin span.mce_ins {
    background-position: -960px -20px !important;
}

.planetaSkin span.mce_pagebreak {
    background-position: -48px  -96px !important;
}


.planetaSkin .mce_spellchecker span.mceAction {
    background-position: -540px -20px !important;
}

.planetaSkin span.mce_restoredraft {
    background-position: -20px -40px !important;
}


/* ww-flat */
.ww-flat .planetaSkin table.mceLayout{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ww-flat .planetaSkin td.mceToolbar{
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
}
.ww-flat .planetaSkin table.mceLayout tr.mceFirst td{
    border: 0;
}
.ww-flat .planetaSkin table.mceLayout tr.mceLast td{
    border: 0;
    border-top: 1px solid #eeece4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ww-flat .input-focus.planetaSkin .mceIframeContainer{
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 0 1px #3498db !important;
    -moz-box-shadow: 0 0 0 1px #3498db !important;
    box-shadow: 0 0 0 1px #3498db !important;
    border-top-color: transparent !important;
}
.ww-flat .planetaSkin a.mceButton{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.ww-flat .planetaSkin a.mceButtonEnabled:hover{
    background: transparent;
}
.ww-flat .planetaSkin a.mceButtonActive{
    background: transparent;
}
.ww-flat .planetaSkin .mceSeparator{
    position: relative;
    background: 0;
}
.ww-flat .planetaSkin .mceSeparator:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    width: 0;
    border-left: 1px solid #eeece4;
}

.campaign-editor-fullscreen .ww-flat .planetaSkin table.mceLayout{
    border-left: 1px solid #eeece4;
    border-right: 1px solid #eeece4;
}
