<ul class="profile-tab">
    <li class="profile-tab_i my-project" routerLinkActive="active">
        <a class="profile-tab_link" routerLink="/account/my-projects">
            <span class="profile-tab_ico">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 5c-3.3 0-6 2.8-6 6.2 0 1.4.4 2.7 1.3 3.8.2.2.3.4.5.6.6.7 1.1 1.4 1.4 2.2 0 .2.1.6.1.8v.5c0 .4.3.8.8.8h4c.4 0 .8-.4.8-.8v-.5c0-.4 0-.6.1-.8.2-.8.9-1.6 1.4-2.3.2-.2.3-.4.5-.6.8-1.1 1.3-2.4 1.3-3.8C18 7.8 15.3 5 12 5zm3.5 9.1c-.1.2-.3.3-.4.5-.7.8-1.4 1.7-1.7 2.9 0 .2-.1.4-.1.9h-2.5c0-.5-.1-.8-.1-.9-.3-1.2-1.1-2.1-1.7-2.8-.2-.2-.3-.4-.5-.6-.6-.8-1-1.8-1-2.9 0-2.6 2-4.6 4.5-4.6s4.5 2.1 4.5 4.6c0 1-.4 2.1-1 2.9z"
                          fill="#454553" class="border">
                    </path>
                    <path d="M14.2 21H9.9c-.5 0-.8.4-.8 1s.4 1 .8 1h4.3c.5 0 .8-.4.8-1s-.4-1-.8-1zM10 23c0 .6.4 1 .9 1h2.3c.5 0 .9-.4.9-1m8.2-12h-2.5c-.5 0-.8.3-.8.8 0 .4.3.8.7.8h2.5c.4 0 .7-.3.7-.8.1-.5-.2-.8-.6-.8zM5 11.8c0-.5-.3-.8-.7-.8H1.7c-.4 0-.7.3-.7.8 0 .4.3.8.7.8h2.5c.5-.1.8-.4.8-.8zM12 4c.4 0 .8-.3.8-.7V.8c-.1-.5-.4-.8-.8-.8s-.7.3-.8.7v2.5c0 .5.4.8.8.8zm6.2 13.2c-.3-.3-.7-.2-1 0-.2.3-.2.7 0 .9l1.6 1.6c.3.3.7.3 1 0 .3-.3.3-.7 0-1l-1.6-1.5zM5.8 5.8c.3.3.7.3 1 0 .3-.3.3-.7 0-1L5.2 3.2c-.3-.3-.7-.2-1 0-.2.3-.2.7 0 1l1.6 1.6zm0 11.4l-1.6 1.6c-.3.3-.3.7 0 1 .3.3.7.3 1 0l1.6-1.6c.3-.3.3-.7 0-1-.3-.3-.7-.3-1 0zM17.7 6c.2 0 .4-.1.5-.2l1.6-1.6c.3-.3.3-.7 0-1-.3-.3-.7-.3-1 0l-1.6 1.6c-.3.3-.3.7 0 1 .1.1.3.2.5.2z"
                          fill="#1A8CFF" class="fill">
                    </path>
                </svg>
            </span>
            <span class="profile-tab_name" translate>profile-page.my-projects</span>
        </a>
    </li>
    <li class="profile-tab_i support-project" routerLinkActive="active">
        <a class="profile-tab_link" routerLink="/account/my-purchased-projects">
            <span class="profile-tab_ico">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.7 17c-.2 0-.5-.1-.6-.2L6.2 13c-.3-.3-.4-.9 0-1.2.3-.3.9-.3 1.2 0l3.3 3.2 7.7-7.6c.3-.3.9-.3 1.2 0 .3.3.4.9 0 1.2l-8.4 8.3s-.2.1-.5.1z"
                          fill="#1A8CFF" class="fill"></path>
                    <path d="M17 20.7H6c-1.5 0-2.8-1.2-2.8-2.8V8.6C3.3 7 4.5 5.8 6 5.8h9v1.5H6c-.7 0-1.2.6-1.2 1.2v9.4c0 .7.6 1.2 1.2 1.2h11c.7 0 1.2-.6 1.2-1.2v-5.3h1.5v5.3c.1 1.6-1.1 2.8-2.7 2.8z"
                          fill="#454553" class="border"></path>
                </svg>
            </span>
            <span class="profile-tab_name" translate>profile-page.purchased-projects</span>
        </a>
    </li>
    <li class="profile-tab_i orders" routerLinkActive="active" [ngClass]="{'active': rewardsActive.isActive
        || charityActive.isActive || biblioActive.isActive || shopActive.isActive}">
        <a routerLink="/account/my-rewards" routerLinkActive #rewardsActive="routerLinkActive" style="display: none"></a>
        <a routerLink="/account/my-charity-orders" routerLinkActive #charityActive="routerLinkActive" style="display: none"></a>
        <a routerLink="/account/my-bibliorodina" routerLinkActive #biblioActive="routerLinkActive" style="display: none"></a>
        <a routerLink="/account/my-purchases" routerLinkActive #shopActive="routerLinkActive" style="display: none"></a>
        <a class="profile-tab_link" routerLink="/account/my-purchases-and-rewards">
            <span class="profile-tab_ico">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M20.5 17c-.1 0-.3 0-.4-.1L16 14.1l-4.1 2.8c-.2.2-.6.2-.8 0-.2-.2-.3-.5-.3-.8l1.3-4.8-3.9-3.4c-.2-.2-.3-.6-.2-.8.1-.3.3-.5.6-.5l4.6-.3 2.1-4.7c.2-.4.4-.6.7-.6.3 0 .5.2.7.4l2.1 4.7 4.6.3c.3 0 .5.2.6.5.1.3 0 .6-.2.8L20 11.1l1.3 4.8c.1.3 0 .6-.3.8-.2.2-.3.3-.5.3zM16 12.4c.1 0 .3 0 .4.1l2.9 2-.9-3.3c-.1-.3 0-.6.2-.8l2.8-2.5-3.2-.3c-.3 0-.5-.2-.6-.4L16 3.6l-1.6 3.6c-.1.2-.3.4-.6.4l-3.2.2 2.8 2.5c.2.2.3.5.2.8l-.9 3.3 2.9-1.9c.1 0 .3-.1.4-.1z"
                          fill="#1A8CFF" class="fill"></path>
                    <path d="M16 21.7H5c-1.5 0-2.8-1.2-2.8-2.8V9.6C2.3 8 3.5 6.8 5 6.8h1.5v1.5H5c-.7 0-1.2.6-1.2 1.2v9.4c0 .7.6 1.2 1.2 1.2h11c.7 0 1.2-.6 1.2-1.2v-1.3h1.5v1.3c.1 1.6-1.1 2.8-2.7 2.8z"
                          fill="#454553" class="border"></path>
                </svg>
            </span>
            <span class="profile-tab_name" translate>profile-page.purchases-and-rewards</span>
        </a>
    </li>
    <li class="profile-tab_i settings" routerLinkActive="active">
        <a class="profile-tab_link" routerLink="/account/settings">
            <span class="profile-tab_ico">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 21.5h-.1c-.7 0-1.3-.1-1.4-.1-.3 0-.6-.3-.6-.6l-.2-1.5c-.5-.1-.9-.3-1.3-.6l-1.2.9c-.3.2-.6.2-.9 0 0 0-.5-.4-1-.9l-.1-.1c-.5-.5-.9-1-.9-1-.2-.3-.2-.6 0-.9l.9-1.2c-.2-.4-.4-.9-.5-1.3L3.2 14c-.3 0-.6-.3-.6-.6 0 0-.1-.6-.1-1.4v-.1c0-.7.1-1.3.1-1.4 0-.3.3-.6.6-.6l1.5-.2c.1-.5.3-.9.5-1.3l-.8-1.2c-.2-.3-.2-.6 0-.9 0 0 .4-.5.9-1l.1-.1c.5-.5 1-.9 1-.9.3-.2.6-.2.9 0l1.2.9c.4-.2.9-.4 1.3-.5l.2-1.5c0-.3.3-.6.6-.6 0 0 .6-.1 1.4-.1h.1c.7 0 1.3.1 1.4.1.3 0 .6.3.6.6l.2 1.5c.5.1.9.3 1.3.6l1.2-.9c.3-.2.6-.2.9 0 0 0 .5.4 1 .9l.1.1c.5.5.9 1 .9 1 .2.3.2.6 0 .9l-.9 1.2c.2.4.4.9.5 1.3l1.5.2c.3 0 .6.3.6.6 0 0 .1.7.1 1.4v.1c0 .7-.1 1.3-.1 1.4 0 .3-.3.6-.6.6l-1.5.2c-.1.5-.3.9-.6 1.3l.9 1.2c.2.3.2.6 0 .9 0 0-.4.5-.9 1l-.1.1c-.5.5-1 .9-1 .9-.3.2-.6.2-.9 0l-1.2-.9c-.4.2-.9.4-1.3.5l-.2 1.5c0 .3-.3.6-.6.6-.1 0-.7.1-1.4.1zm-.7-1.5H12.6l.2-1.4c0-.3.3-.5.6-.6.6-.1 1.3-.4 1.8-.7.2-.1.4-.1.6-.1.1 0 .2.1.3.1l1.1.8c.1-.1.3-.3.5-.4l.1-.1c.2-.2.3-.3.4-.5l-.8-1.1c-.2-.2-.2-.6 0-.8.3-.5.6-1.1.7-1.8.1-.3.3-.6.6-.6l1.4-.2V12v-.6l-1.4-.2c-.3-.1-.5-.3-.6-.6-.1-.6-.4-1.2-.7-1.8 0 0-.1-.1-.1-.2-.1-.2 0-.5.1-.7l.8-1.1c-.1-.2-.3-.3-.4-.5l-.1-.1c-.2-.2-.3-.3-.5-.4l-1.1.8c-.3.2-.6.2-.9 0-.5-.3-1.1-.6-1.8-.7-.3-.1-.5-.3-.6-.6l-.2-1.4h-1.2l-.2 1.4c0 .3-.3.6-.6.6-.6.1-1.2.4-1.8.7-.2.1-.4.1-.6.1-.1 0-.2-.1-.3-.1l-1.1-.8c-.2.1-.3.3-.5.4l-.1.1c0 .2-.2.4-.3.5l.8 1.1c.2.2.2.6 0 .8v.1c-.3.5-.6 1.1-.7 1.8-.1.2-.3.5-.6.5l-1.4.2V12.6l1.4.2c.3 0 .6.3.6.6.1.6.4 1.2.7 1.7.1.2.1.4.1.6 0 .1-.1.2-.1.2L5.9 17c.1.1.3.3.4.5l.1.1c.2.2.3.3.5.4l1.1-.8c.3-.2.6-.2.9 0 .5.3 1.1.6 1.7.7.3.1.5.3.6.6-.1.2.1 1.5.1 1.5z"
                      fill="#454553" class="border"></path>
                    <path d="M12 16c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4zm0-6.5c-1.4 0-2.5 1.1-2.5 2.5s1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5-1.1-2.5-2.5-2.5z"
                      fill="#1A8CFF" class="fill"></path>
                </svg>
            </span>
            <span class="profile-tab_name" translate>profile-page.settings</span>
        </a>
    </li>
    <li class="profile-tab_i balance" routerLinkActive="active">
        <a class="profile-tab_link" routerLink="/account/balance">
            <span class="profile-tab_ico">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 22.8C6 22.8 1.2 18 1.2 12 1.2 6 6 1.2 12 1.2 18 1.2 22.8 6 22.8 12c0 6-4.8 10.8-10.8 10.8zm0-20c-5.1 0-9.2 4.1-9.2 9.2s4.1 9.2 9.2 9.2 9.2-4.1 9.2-9.2-4.1-9.2-9.2-9.2z"
                          fill="#454553" class="border"></path>
                    <path d="M13 13c1.7 0 3.2-1.4 3.2-3.2v-.1c0-1.7-1.5-3.1-3.2-3.1H9.7c-.2 0-.3.2-.3.3v4.4H7.7c-.2 0-.3.2-.3.3v.9c0 .2.2.3.3.3h1.7v.9H7.7c-.2 0-.3.2-.3.3v.9c0 .2.2.3.3.3h1.7V17c0 .2.2.3.3.3h.9c.2 0 .3-.2.3-.3v-1.5h2.8c.2 0 .3-.2.3-.3v-.9c0-.2-.2-.3-.3-.3h-2.8v-1H13zm1.6-3.2c0 .9-.7 1.6-1.6 1.6h-2.1V8.3H13c.9 0 1.6.7 1.6 1.5z"
                          fill="#1A8CFF" class="fill"></path>
                </svg>
            </span>
            <span class="profile-tab_name" translate>profile-page.balance.balance</span>
        </a>
    </li>
</ul>

