/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

.clearfix:before,.clearfix:after {content: "";display: table;}.clearfix:after {clear: both;}

.central-block-wrap {
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.central-block {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.central-block-cont {
    white-space: normal;
    text-align: left;
    font-size: 14px;
}
.vertical-align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.hide{
    display: none;
}


@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-bold-webfont.woff') format('woff'),
    url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
    url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'ProximaNovaBold';
        src: url('../fonts/proximanova-bold-webfont.svg#proxima_novabold_italic') format('svg');
    }
}


@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-reg-webfont.woff') format('woff'),
    url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
    url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'ProximaNovaRegular';
        src: url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    }
}


@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('../fonts/proximanova-black-webfont.eot');
    src: url('../fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-black-webfont.woff') format('woff'),
    url('../fonts/proximanova-black-webfont.ttf') format('truetype'),
    url('../fonts/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'ProximaNovaBlack';
        src: url('../fonts/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
    }
}


.btn{
    display: inline-block;
    padding: 6px 14px 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;

    -webkit-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.btn-primary{
    color: #fff;
    text-shadow: 0 1px #0e8cb8;
    background-color: #26aedd;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42c6f4), to(#26aedd));
    background-image: -webkit-linear-gradient(top, #42c6f4, #26aedd);
    background-image: linear-gradient(to bottom, #42c6f4, #26aedd);
    background-repeat: repeat-x;
    border-top: 1px solid #42c6f4;
    border-bottom: 1px solid #0e8cb8;
    font-family: 'ProximaNovaBold', Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.34);
}
.btn-primary:hover{
    color: #fff;
    background-position: 0 -15px;
}
.btn-primary.active, .btn-primary:active{
    background-position: 0 0;
    background: #32b8e7;
    border-top: 1px solid #2d96ba;
    border-bottom: 1px solid #26aedd;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px rgba(255,255,255,.25);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px rgba(255,255,255,.25);
    -webkit-transition: none;
    transition: none;
}
.btn-large{
    padding: 9px 24px 8px;
    font-size: 20px;
    line-height: 30px;
}

.btn-block{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}




body{
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: #fff;
    min-width: 1080px;
}

.landing-wrap{
    overflow-x: hidden;
}

.wrap{
    width: 1040px;
    margin: auto;
}

a{
    color: #00b2e2;
    -webkit-transition: color .1s, border-color .1s;
    transition: color .1s, border-color .1s;
}
a:hover{
    color: #00a0cc;
}



.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    background: #fff;
    border-bottom: 1px solid #ededed;
}
.logo{
    float: left;
    display: block;
    width: 120px;
    height: 31px;
    margin: 4px 0 0;
    background: url(../i/logo.png) no-repeat;
}
.header_create-btn{
    float: right;
    line-height: 25px;
    padding: 7px 23px;
}


.landing-slider_head{
    margin: 120px 0 65px;
    font: 60px 'ProximaNovaBlack', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
}

.landing-slider_list-wrap{
    position: relative;
    margin: 0 0 80px;
}

.landing-slider_arrow-prev,
.landing-slider_arrow-next{
    position: absolute;
    width: 100px;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.landing-slider_arrow-next{
    left: auto;
    right: 0;
}
.landing-slider_arrow-prev i,
.landing-slider_arrow-next i{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41px;
    height: 80px;
    margin: -40px 0 0 -20px;
    background: url(../i/landing-slider_arrow.png) no-repeat;
}
.landing-slider_arrow-next i{
    background-position: -50px 0;
}
.landing-slider_arrow-prev:hover i{
    background-position: 0 -90px;
}
.landing-slider_arrow-next:hover i{
    background-position: -50px -90px;
}


.landing-slider_head-wrap{
    width: 100%;
    overflow: hidden;
}
.landing-slider_head-list{
    float: left;
    position: relative;
    height: 50px;
    margin: 0 0 34px;
    padding: 9px 0 0;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
}
.landing-slider_head-i{
    position: relative;
    top: 0;
    display: inline-block;
    height: 14px;
    margin: 0 50px 0 0;
    padding: 0 10px;
    min-height: 1px;
    font: 20px/14px 'ProximaNovaBlack', Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all .6s linear;
    transition: all .6s linear;
}
.ls_head-text{
    -webkit-transition: all .6s linear;
    transition: all .6s linear;

    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.landing-slider_head-i.active .ls_head-text{
    -webkit-transform: scale(1.35, 1.35);
    -ms-transform: scale(1.35, 1.35);
    transform: scale(1.35, 1.35);
}


.landing-slider_list-cont{
    position: relative;
    /*width: 1256px;*/
    width: 1158px;
    margin: auto;
}

.landing-slider_list{
    height: 470px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.landing-slider_i{
    position: relative;
    float: left;
    height: 470px;
}
.landing-slider_img{
    position: absolute;
    top: 0;
    left: 0;
}
.landing-slider_cont{
    width: 430px;
    margin-left: 728px;
}
.landing-slider_text{
    margin: 0 0 15px;
    padding: 0 10px;
    line-height: 30px;
}

.landing-slider_form{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 410px;
    background: url(../i/slider-form-bg.png);
    padding: 10px;
}
.landing-slider_form-cont{
    padding: 25px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
.landing-slider_form-text{
    margin: 0 0 18px;
    line-height: 26px;
}
.landing-slider_input .input-l{
    margin: 0 0 18px;
}
.landing-slider_input .input-l{
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}




.lid{
    margin: 0 0 50px;
}
.lid_head{
    margin: 0 0 36px;
    font: 46px 'ProximaNovaBlack', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.lid_steps{
    position: relative;
    width: 813px;
    height: 1091px;
    margin: auto;
    padding: 0;
    list-style: none;
}
.lid_i{
    position: absolute;
    width: 312px;
    text-align: center;
}

.lid_i_img{
    position: relative;
    left: -100px;
    opacity: 0;
    height: 141px;
    margin: 0 0 13px;
    background: url(../i/lid_sprite.png) no-repeat;
}
.lid_i_img-2,
.lid_i_img-4{
    left: 100px;
}
.lid_i_img-2{
    background-position: 0 -150px;
}
.lid_i_img-3{
    background-position: 0 -300px;
}
.lid_i_img-4{
    background-position: 0 -450px;
}
.lid_i_img-5{
    background-position: 0 -600px;
}

.lid_i_descr{
    opacity: 0;
}
.lid_i_head{
    margin: 0 0 11px;
    font: 20px/24px 'ProximaNovaBold', Arial, sans-serif;
}
.lid_i_text{
    font-size: 14px;
    line-height: 22px;
}

.lid_i-1{
    top: 0;
    left: -55px;
}
.lid_i-2{
    top: 118px;
    right: 16px;
}
.lid_i-3{
    top: 375px;
    left: -55px;
}
.lid_i-4{
    top: 500px;
    right: 16px;
}
.lid_i-5{
    top: 775px;
    left: -55px;
}
.lid_i-6{
    top: 809px;
    right: -69px; /*31px*/
    width: 282px;
    height: 283px;
    background: url(../i/lid_sprite.png) no-repeat -15px -750px;
    opacity: 0;
}
.lid_i-6 .lid_i_head{
    margin-top: 76px;
    font: 30px 'ProximaNovaBlack', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.lid_i-6 .btn{
    margin: 0 0 17px;
}

.step-line{
    position: absolute;
    background: url(../i/lid_sprite.png) no-repeat -350px 0;
    opacity: 0;
}
.step-line-2{
    width: 285px;
    height: 122px;
    top: -50px;
    left: -262px;
}
.step-line-3{
    width: 276px;
    height: 219px;
    top: -155px;
    left: 289px;
    background-position: -350px -200px;
}
.step-line-4{
    width: 282px;
    height: 94px;
    top: -30px;
    left: -253px;
    background-position: -350px -450px;
}
.step-line-5{
    width: 302px;
    height: 253px;
    top: -182px;
    left: 279px;
    background-position: -350px -590px;
}
.step-line-6{
    width: 274px;
    height: 51px;
    top: 48px;
    left: -280px;
    background-position: -350px -860px;
}

.lid_i_img,
.lid_i_descr,
.step-line,
.lid_i-6{
    -webkit-transition: all .4s;
    transition: all .4s;
}
.lid_i_descr,
.step-line{
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.lid_i.show .lid_i_img{
    opacity: 1;
    left: 0;
}
.lid_i.show .lid_i_descr,
.lid_i.show .step-line{
    opacity: 1;
}
.lid_i-6.show{
    right: 31px;
    opacity: 1;
}



.video{
    position: relative;
}
.video-cover img{
    display: block;
}
.video-play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../i/video-play.png) no-repeat 50% 50%;
    background-color: rgba(0, 29, 39, .3);
    cursor: pointer;
}


.landing-video{
    padding: 11px 0 0;
    background: url(../i/video-ladder.png) repeat-x 50% 0;
}
.landing-video_cont{
    min-height: 550px;
    background: #e5faff url(../i/video-bg.jpg) no-repeat 50% 70px;
}

.landing-video-block{
    float: left;
    width: 590px;
    height: 332px;
    margin: 93px 0 0 -19px;
}

.landing-video_text{
    float: right;
    width: 265px;
    margin: 110px 0 0;
}
.lv_text_head{
    margin: 0 0 10px;
    font: 23px 'ProximaNovaBlack', Arial, sans-serif;
}
.lv_text_text{
    margin: 0 0 20px;
    font-size: 18px;
}


.stories_info{
    padding: 35px 0;
    font: 20px/51px 'ProximaNovaBold', Arial, sans-serif;
    color: #fff;
    background: #1a2d34;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.stories_info_text{
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
}



.flip-counter ul.cd {
    list-style: none;
    margin: 0 -1px;
    padding: 0;
}

.flip-counter li {
    background: url(/images/welcome_new/welcome-digits.png) no-repeat;
}

.flip-counter li.t {
    width: 31px;
    height: 17px;
}

.flip-counter li.b {
    width: 31px;
    height: 16px;
}

.flip-counter li.s {
    position: relative;
    top: 2px;
    width: 15px;
    height: 33px;
    background-position: 3px -330px;
}


.pvc-counter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 57px;
}

.pvc-counter .flip-counter {
    position: relative;
    float: none;
    margin: 0 -2px;
    font-size: 0;
    line-height: 0;
}

.pvc-counter .flip-counter ul.cd {
    float: none;
    display: inline-block;
    margin: 0 1px 0 0;
}

.pvc-counter .flip-counter li {
    background: url(/images/planeta/pvc-counter-sprite-small.png) no-repeat;
}

.pvc-counter .flip-counter li.t {
    width: 42px;
    height: 28px;
}

.pvc-counter .flip-counter li.b {
    width: 42px;
    height: 29px;
}

.pvc-counter .flip-counter li.s {
    top: 0;
    width: 20px;
    height: 56px;
    background: none;
}


.pvc-counter.counter-billion {
    height: 51px;
}

.pvc-counter.counter-billion .flip-counter {
    margin: 0 -1px;
}

.pvc-counter.counter-billion .flip-counter ul.cd {
    margin: 0;
}

.pvc-counter.counter-billion .flip-counter li {
    background: url(../i/pvc-counter-sprite-billion.png) no-repeat;
}

.pvc-counter.counter-billion .flip-counter li.t {
    width: 32px;
    height: 25px;
}

.pvc-counter.counter-billion .flip-counter li.b {
    width: 32px;
    height: 26px;
}

.pvc-counter.counter-billion .flip-counter li.s {
    width: 11px;
    height: 49px;
    background: none;
}




.stories_list{
    font-size: 0;
    width: 100%;
    white-space: nowrap;
    background: #1a2d34;
}
.stories_col{
    display: inline-block;
    white-space: normal;
}
.stories_i{
    position: relative;
    display: block;
    width: 300px;
    height: 198px;
    color: #fff;
    text-decoration: none;
}
.stories_link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.stories_link:hover{
    z-index: 5;
    color: #fff;
}

.stories_cover-wrap,
.stories_cover-wrap:after,
.stories_cont,
.stories_plus{
    -webkit-transition: .1s linear;
    transition: .1s linear;
}
.stories_cover-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 198px;
    border: 0 solid #fff;
    overflow: hidden;
}
.stories_cover-wrap:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: no-repeat 50% 50%;
}
.stories_cover_img{
    display: block;
    width: 100%;
}
.stories_plus{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 1px 5px;
    font: 22px/18px 'ProximaNovaBold', Arial, sans-serif;
    color: #00b2e2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_plus span{
    position: relative;
}
.stories_plus:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: 20px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
}

.stories_cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.stories_name{
    margin: 12px 12px 17px;
    font: 20px/30px 'ProximaNovaBold', Arial, sans-serif;
}
.stories_descr{
    margin: 0 12px;
    font-size: 16px;
    line-height: 22px;
    color: #b2b2b2;
}

.stories_link:hover .stories_cover-wrap{
    width: 324px;
    height: 214px;
    top: -10px;
    left: -15px;
    border-width: 3px;
}
.stories_link:hover .stories_cover-wrap:after,
.stories_link:hover .stories_cont,
.stories_link:hover .stories_plus{
    opacity: 1;
    filter: alpha(opacity=100);
}
.stories_create{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../i/stories-write-bg.png) no-repeat 50% 50%;
}

.stories_create_btn{
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    padding: 9px 24px 8px;
    font: 20px/30px 'ProximaNovaBold', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.34);
    text-align: center;
    border: 3px solid #fff;
    -webkit-border-radius: 4px;
    border-radius: 7px;
    background: #00c1f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00c1f5), to(#00b2e2));
    background-image: -webkit-linear-gradient(top, #00c1f5, #00b2e2);
    background-image: linear-gradient(to bottom, #00c1f5, #00b2e2);
}
.stories_create_btn:hover{
    color: #fff;
    background: #00C8FF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00C8FF), to(#00C0F5));
    background-image: -webkit-linear-gradient(top, #00C8FF, #00C0F5);
    background-image: linear-gradient(to bottom, #00C8FF, #00C0F5);
}

.transform-animate .stories_create,
.transform-animate .stories_link{
    -webkit-transition: -webkit-transform .4s linear;
    transition: transform .3s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.transform-animate .stories_link{
    -webkit-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}
.transform-animate .stories_create{
    -webkit-transform: perspective(1000px) rotateY(-180deg);
    transform: perspective(1000px) rotateY(-180deg);
}
.transform-animate .flip .stories_link{
    -webkit-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
}
.transform-animate .flip .stories_create{
    -webkit-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}

.simple-animate .flip .stories_link{
    display: none;
}



.landing-blockquote{
    background: #f9f9f9;
    border-bottom: 1px solid #ededed;
}
.blockquote_list-wrap{
    position: relative;
    padding: 51px 50px 29px;
}

.blockquote_arrows_prev,
.blockquote_arrows_next{
    position: absolute;
    top: 121px;
    left: 0;
    width: 33px;
    height: 35px;
    background: url(../i/blockquote_arrows.png) no-repeat -40px -40px;
    opacity: .8;
    filter: alpha(opacity=80);
    cursor: pointer;
}
.blockquote_arrows_next{
    left: auto;
    right: 0;
    background-position: -40px 0;
}
.blockquote_arrows_prev:hover,
.blockquote_arrows_next:hover,
.blockquote_arrows_prev.disabled,
.blockquote_arrows_next.disabled{
    opacity: 1;
    filter: alpha(opacity=100);
}
.blockquote_arrows_prev.disabled{
    background-position: 0 0;
    cursor: default;
}
.blockquote_arrows_next.disabled{
    background-position: 0 -40px;
    cursor: default;
}

.blockquote_list{
    height: 230px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}
.blockquote_i{
    position: relative;
    float: left;
    width: 714px;
    padding: 0 45px 4px 181px;
}
.blockquote_ava{
    position: absolute;
    top: 0;
    left: 41px;
}
.blockquote_ava_img{
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 0 1px #e0e0e0;
    box-shadow: 3px 3px 0 1px #e0e0e0;
}
.blockquote_name{
    margin: 0 0 15px;
    font: 20px 'ProximaNovaBlack', Arial, sans-serif;
    text-transform: uppercase;
}
.blockquote_prof{
    float: right;
    margin: 7px 0 0;
    font: 14px 'Gotham Pro', 'ProximaNovaRegular', Arial, sans-serif;
}
.blockquote_text{
    position: relative;
    overflow: hidden;
    height: 144px;
    padding: 22px 40px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 5px 5px 0 1px #e0e0e0;
    box-shadow: 5px 5px 0 1px #e0e0e0;
    background: #fff;
}
.blockquote_text:before{
    content: '';
    position: absolute;
    top: -1px;
    right: 100%;
    width: 13px;
    height: 17px;
    background: url(../i/blockquote_tail.png) no-repeat;
}
.blockquote_text:after{
    content: '';
    position: absolute;
    top: 20px;
    left: 12px;
    width: 17px;
    height: 14px;
    background: url(../i/blockquote_symbol.png) no-repeat;
}


.bottom-create-block{
    padding: 100px 0;
    text-align: center;
}
.bcb_or{
    margin: 0 27px;
    font: italic 700 16px 'Minion Pro', 'Times New Roman', serif;
}
.bcb_question-link{
    font-size: 16px;
    font-family: 'ProximaNovaBold', Arial, sans-serif;
}


.footer{
    padding: 50px 0;
    font: 16px 'ProximaNovaBold', Arial, sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    background: #1a2d34;
}



/* modal + form */
.text-center{
    text-align: center;
}
textarea{
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    height: auto;
}
input, textarea{
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus, textarea:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0 none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.input-field {
    padding: 0 10px 0 0;
}
.input-field-l {
    padding: 0 20px 0 0;
}
.input-field input, .input-field textarea {
    width: 100%;
    margin: 0;
}
.input-l {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding: 9px;
}
textarea.input-l {
    height: auto;
}

.close {
    float: right;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
.modal-project-feedback .close {
    margin: 10px;
    line-height: 14px;
    font-size: 14px;
}
.fade {
    -webkit-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    opacity: 0;
}
.fade.in {
    opacity: 1;
}
.modal-project-feedback-form {
    width: 400px;
    padding: 40px 30px 30px;
}
.m-project-feedback-title {
    margin: 0 0 28px;
    font: 22px/100% 'ProximaNovaRegular', Arial, sans-serif;
    text-align: center;
}
.modal-project-feedback .modal-select-header {
    margin: 0 0 30px;
}
.modal-project-feedback .modal-select-header .fieldset {
    margin: 25px 0 0;
}
.modal-project-feedback .modal-select-header .fieldset:first-child {
    margin-top: 0;
}
.modal-select-header .fielset.error, .modal-select-header .fieldset.error {
    background-color: #fae5e3;
    box-shadow: 0 0 0 5px #fae5e3;
}

.modal-project-feedback .modal-select-header label {
    display: block;
    color: #333;
    margin-bottom: 10px;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    font-size: 18px;
}

.help-inline {
    display: inline-block;
    vertical-align: middle;
    color: #b44d38;
    font-size: 11px;
}
/* /modal + form */


