/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* reset */


.hide{
    display: none;
}
.cur-p{
    cursor: pointer;
}


.central-block-wrap {
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.central-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.central-block-cont {
    white-space: normal;
    text-align: left;
    font-size: 1rem;
}
.vertical-align {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    height: 100%;
    width: 0;
}


.haui-btn {
    float: left;
    height: 100%;
    outline: 0 none;
    text-align: center;
    cursor: pointer;
}

[class*= icon-], [class^=icon-] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: text-top;
    background: url(../image/html5-audio-ui.png) 0 0 no-repeat;
    position: relative;
}

.icon-play{
    width: 16px;
    height: 20px;
    background-position: 0 -30px;
}
.haui-btn:hover .icon-play{
    background-position: -20px -30px;
}

.icon-pause{
    width: 16px;
    height: 20px;
    background-position: 0 0;
}
.haui-btn:hover .icon-pause{
    background-position: -20px 0;
}
.haui-btn .icon-pause, .haui-btn .icon-play{
    margin: 5px 0 0;
}

[class^=icon-vol-] {
    width: 14px;
    height: 14px;
}
.icon-vol-max {
    background-position: 0 -60px;
}
.icon-vol-min {
    background-position: -20px -60px;
}
.haui-btn [class^=icon-vol-]{
    margin: 8px 0 0;
}



html{
    height: 100%;
    font-size: 12px;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 12px Arial,sans-serif;
    font-size: 12px;
    color: #fff;
    background: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.html5-audio-player {
    position: relative;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    text-align: left;
}

.html5-audio-cover {
    position: absolute;
    z-index: 900;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    background-size: cover;
}

.html5-audio-name-block{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.html5-audio-name{
    padding: 15px 28px;
    margin: 50px;
    font-size: 18px;
    background: rgba(0,0,0,.7);
}


.haui-play{
    width: 40px;
}


.html5-audio-controls{
    position: absolute;
    z-index: 930;
    bottom: 25px;
    left: 25px;
    background: #000;
    padding: 5px 13px 5px 0;
}

.html5-audio-ui{
    position: relative;
    z-index: 750;
    height: 30px;
    overflow: hidden;
    cursor: auto;
}

.haui-volume-control{
    float: left;
    height: 100%;
}
.haui-volume{
    width: 40px;
}
.haui-volume-panel{
    float: left;
    overflow: hidden;
    outline: 0 none;
    cursor: pointer;
}
.haui-volume-panel-progress{
    position: relative;
    width: 70px;
    height: 2px;
    margin: 14px 0;
    background: #1b343a;
    cursor: pointer;
}
.haui-volume-panel-bar{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 2px;
    height: 100%;
    background: #00b2e2;
}
.haui-volume-panel-ctrl{
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 2px;
    background: #fff;
    -moz-transition: .1s ease-out;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
}
.haui-volume-panel:hover .haui-volume-panel-ctrl{
    right: -2px;
    top: -2px;
    width: 6px;
    height: 6px;
}

