// Main




html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    padding: 0;
    font: 600 15px/1.53 @ff-neris;
    color: #000;
    background: #f3f8ff;
}


a{
    color: @linkColor;
    text-decoration: underline;
}


.lazy-hidden {
    opacity: 0;
}

.lazy-loaded {
    transition: opacity 0.3s;
    opacity: 1;
}




// buttons
.nps-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 15px 48px 17px;
    font: 600 20px/18px @ff-neris;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
        //box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        box-shadow: none;
        opacity: .5;
        pointer-events: none;
    }
}


.nps-btn-primary{
    background: #ffeb29;
    background-image: linear-gradient(to bottom, #ffeb29, #ffcf0d);
    color: #132129;
    box-shadow: 0 3px 2px fade(#000, 5);
    &:hover{
        background: #ffeb29;
        color: #1b2336;
    }
    &.active, &:active{
        background: #ffeb29;
        box-shadow: 0 3px 2px fade(#000, 5);
    }
    &.disabled, &[disabled]{
        background: #ffeb29;
    }
}


.nps-btn-default{
    background: #617482;
    background-image: linear-gradient(to bottom, #617482, #455866);
    color: #fff;
    box-shadow: 0 3px 2px fade(#000, 5);
    &:hover{
        background: #617482;
        color: #fff;
    }
    &.active, &:active{
        background: #617482;
        box-shadow: 0 3px 2px fade(#000, 5);
    }
    &.disabled, &[disabled]{
        background: #617482;
    }
}
// /buttons





// page head
.page-head{
    font-size: 45px;
    line-height: 1.2;
    text-align: center;
}
// /page head





// header
.header{
    &:extend(.cf-mix all);
    border-bottom: 1px solid #d8e0eb;
    background: #fff;
    padding: 8px 0 12px;
    @media (max-width: 767px) {
        text-align: center;
    }
}



.logo{
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 133px;
    height: 35px;
    margin: 19px 0 0;
    background: url(../images/pln-logo.svg) no-repeat;


    @media (max-width: 1023px) {
        margin-top: 12px;
    }
    @media (max-width: 767px) {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.nps-school-logo{
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 49em/49;
    font-size: 49px;
    line-height: 1em;
    text-decoration: none;
    margin: 9px 43px 0 0;
    background: url(../images/promo/nps/nps-school-logo.png) no-repeat 0 0 / cover;
    &:hover{
        text-decoration: none;
    }
    &:before{
        content: "\00a0";
    }


    @media (max-width: 1023px) {
        font-size: 36px;
        margin-right: 22px;
    }
    @media (max-width: 767px) {
        float: none;
    }
}


.nps-logo{
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 215em/61;
    font-size: 61px;
    line-height: 1em;
    text-decoration: none;
    margin: 6px 16px 0 0;
    background: url(../images/promo/nps/nps-logo.png) no-repeat 0 0 / cover;
    &:hover{
        text-decoration: none;
    }
    &:before{
        content: "\00a0";
    }


    @media (max-width: 1023px) {
        font-size: 48px;
    }
    @media (max-width: 767px) {
        float: none;
    }
}


.vremya-logo{
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 59em/68;
    font-size: 68px;
    line-height: 1em;
    text-decoration: none;
    background: url(/images/promo/nps/vremya-logo.png) no-repeat 0 0 / cover;
    &:hover{
        text-decoration: none;
    }
    &:before{
        content: "\00a0";
    }


    @media (max-width: 1023px) {
        font-size: 56px;
    }
    @media (max-width: 767px) {
        float: none;
    }
}





// menu
.menu{
    background: #fff;
    border-bottom: 1px solid #d8e0eb;
    &_list{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &_i{
        display: table-cell;
        width: 1%;
        border-left: 1px solid #e9eef5;
        border-right: 1px solid #e9eef5;
    }
    &_link{
        display: block;
        padding: 32px 10px 35px;
        font-size: 20px;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
        color: #0d78d4;
        text-decoration: none;
        text-align: center;
        &:hover{
            color: #132129;
            text-decoration: none;
            background: #e9eef5;
        }
    }


    @media (max-width: @screen-md-max) {
        &_link{
            font-size: 15px;
        }
    }

    @media (max-width: 1023px) {
        &_link{
            padding: 21px 10px 22px;
            font-size: 13px;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}
// /menu




// section-arr
.section-arr{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 105px;
    overflow: hidden;
    &:before,
    &:after{
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        background: #f3f8ff;
    }
    &:before{
        left: 0;
        right: 50%;
        transform-origin: 100% 100%;
        transform: skewX(83.8deg);
    }
    &:after{
        left: 50%;
        right: 0;
        transform-origin: 0 100%;
        transform: skewX(-83.8deg);
    }


    &__top{
        bottom: auto;
        top: 0;
        &:before{
            transform-origin: 100% 0;
            transform: skewX(-83.8deg);
        }
        &:after{
            transform-origin: 0 0;
            transform: skewX(83.8deg);
        }
    }
}
// /section-arr




// lead
.lead{
    position: relative;
    padding: 53px 0 68px;
    color: #fff;
    background: #132129 url(../images/promo/nps/lead-bg.jpg) no-repeat 50% 0 / cover;
    &_cont{
        position: relative;
        z-index: 1;
    }
    &_head{
        margin: 0 0 57px;
        font-size: 38px;
        line-height: 40/38;
        text-align: center;
    }
    &_text{
        margin: 0 0 54px;
        font-size: 20px;
        line-height: 25/20;
    }
    &_text-i{
        margin: 0 69px;
    }
    &_counter-text{
        margin: 0 0 32px;
        font-size: 18px;
        text-align: center;
    }
    &_action{
        margin: 44px 0 0;
        text-align: center;
    }


    @media (max-width: @screen-md-max) {
        &_head{
            font-size: 35px;
        }
        &_text-i{
            margin: 0 20px;
        }
    }

    @media (max-width: 767px) {
        &_head{
            font-size: 24px;
        }
        &_text{
            font-size: 16px;
        }
        &_counter-text{
            font-size: 16px;
        }
    }
}
// /lead




// to-end-countdown
.to-end-countdown{
    font-size: 0;
    text-align: center;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 90px;
        height: 90px;
        margin: 0 0 0 20px;
        font-weight: 500;
        font-size: 10px;
        color: #254959;
        text-transform: uppercase;
        border-radius: 50%;
        &:first-child{
            margin: 0;
        }
    }
    &_bar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        svg{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &_count{
        position: relative;
    }
    &_val{
        margin: 13px 0 0;
        font-size: 45px;
        line-height: 1;
        color: #ffcf0d;
    }


    @media (max-width: 767px) {
        &_i{
            width: 80px;
        }
    }
}
// /to-end-countdown




// projects
.projects{
    position: relative;
    padding: 45px 0 74px;

    .section-arr{
        bottom: auto;
        top: -105px;
    }

    &_head{
        &:extend(.page-head all);
        margin: 0 0 45px;
    }
    &_all{
        float: right;
    }
    &_type{
        margin: 0 0 61px;
        font-size: 0;
    }
    &_all-link,
    &_type-link{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 25px;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        color: #a2aeb8;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            color: #254959;
            &:before{
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                margin: 12px 0 0;
                border-top: 2px solid #254959;
            }
        }
    }
    &_all-link{
        text-decoration: none;
        &:hover{
            color: #254959;
        }
    }
    &_list{
        margin: 0 0 53px;
    }
    &_action{
        text-align: center;
        .nps-btn{
            font-size: 18px;
        }
    }


    .project-card-list{
        margin: 0;
    }
    .project-card-item{
        margin: 0;
    }

    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 50px;
        padding: 51px 0 0;
        font-size: 32px;
        color: #5e7483;
        text-align: center;
    }
    .owl-next{
        right: auto;
        left: 100%;
    }
    .owl-arrow-left{
        .s-icon();
        .s-icon-arrow-left-round();
    }
    .owl-arrow-right{
        .s-icon();
        .s-icon-arrow-right-round();
    }


    @media (max-width: @screen-md-max) {
        &_link{
            font-size: 15px;
        }
    }

    @media (max-width: 1023px) {
        .owl-prev,
        .owl-next{
            display: none;
        }
    }

    @media (max-width: 980px) {
        &_list{
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}
// /projects




// what-crowd
[class^="s-what-crowd-"], [class*=" s-what-crowd-"]{
    .sprite(70, 70, url(../images/promo/nps/s-what-crowd.png));
}
//.s-what-crowd-idea      { background-position: 0 0 }
.s-what-crowd-project   { background-position: -100px 0 }
.s-what-crowd-promo     { background-position: -200px 0 }
.s-what-crowd-finance   { background-position: -300px 0 }


.what-crowd{
    padding: 76px 0 101px;
    background: linear-gradient(to bottom, #d7e6ec, #f3f4f4);
    &_head{
        &:extend(.page-head all);
        margin: 0 0 45px;
    }
    &_list{
        text-align: center;
        a{
            color: @plnblue;
            &:hover{
                color: darken(@plnblue, 10%);
            }
        }
    }
    &_name{
        margin: 21px 0 15px;
        font-size: 18px;
        line-height: 1;
        font-weight: 900;
        color: #254959;
    }


    @media (max-width: 1023px) {
        &_list{
            margin-top: -50px;
        }
        &_i{
            width: 50%;
            margin-top: 50px;
        }
    }
}
// /what-crowd




// contest
[class^="s-contest-"], [class*=" s-contest-"]{
    .sprite(105, 105, url(../images/promo/nps/s-contest.png));
}
//.s-contest-planeta   { background-position: 0 0 }
.s-contest-podium    { background-position: -110px 0 }
.s-contest-prize     { background-position: -220px 0 }


.contest{
    padding: 76px 0 98px;
    color: #fff;
    background: #2d3f56 url(../images/promo/nps/contest-bg.jpg) no-repeat 50% 0 / cover;
    &_head{
        &:extend(.page-head all);
        margin: 0 0 42px;
    }
    &_list{
        margin: 0 0 82px;
        text-align: center;
        font-size: 22px;
        line-height: 30/22;
    }
    &_i{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 52px;
            right: 50%;
            width: 80%;
            margin: 0 40px 0 0;
            border-top: 2px dotted #fff;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
    }
    &_ico{
        position: relative;
        z-index: 1;
        margin: 0 0 35px;
    }
    &_action{
        text-align: center;
    }
    &_action-text{
        display: inline-block;
        vertical-align: top;
        margin: 0 26px 0 0;
        font-size: 22px;
        line-height: 46px;
    }
    &_action-btn{
        display: inline-block;
        vertical-align: top;
    }


    @media (max-width: 1023px) {
        &_list{
            font-size: 16px;
        }
    }

    @media (max-width: 767px) {
        &_list{
            margin-top: -40px;
        }
        &_i{
            margin-top: 40px;
            &:before{
                display: none;
            }
        }
        &_ico{
            margin-bottom: 15px;
        }
        &_action-text{
            display: block;
            margin: 0 0 25px;
            font-size: 18px;
            line-height: 1.3;
        }
        &_action-btn{
            display: block;
        }
    }
}
// /contest




// prizes
[class^="s-prizes-"], [class*=" s-prizes-"]{
    .sprite(120, 135, url(../images/promo/nps/s-prizes.png));
}
//.s-prizes-teacher    { background-position: 0 0 }
.s-prizes-tv         { background-position: -150px 0 }
.s-prizes-speech     { background-position: -300px 0 }
.s-prizes-media      { background-position: -450px 0 }


.prizes{
    padding: 76px 0 103px;
    background: #ffd40f url(../images/promo/nps/prizes-bg.jpg) no-repeat 50% 0 / cover;
    text-align: center;
    &_head{
        &:extend(.page-head all);
        margin: 0 0 55px;
    }
    &_name{
        margin: 36px 0 0;
        font-size: 18px;
        line-height: 22/18;
        color: #132129;
    }
    &_add{
        margin: 22px 0 0;
        font-size: 13px;
        line-height: 1;
        color: #454553;
    }


    @media (max-width: 1023px) {
        &_list{
            margin-top: -50px;
        }
        &_i{
            width: 50%;
            margin-top: 50px;
        }
    }
}
// /prizes




// workshops
.workshops{
    padding: 54px 0 0;
    &_head{
        &:extend(.page-head all);
        margin: 0 0 70px;
    }

    &_list{
        position: relative;
        z-index: 1;
    }
    &_i{
        background: #fff;
        box-shadow: 0 1px 7px fade(#000, 12);
        &:first-child{
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            .workshops_h-in{
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
        }
        &:last-child{
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            .workshops_h-in{
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }

        &.active{
            .workshops_h-in{
                background: #ccc;
            }
            .workshops_arr{
                transform: rotate(-270deg);
            }
        }
    }


    &_h-in{
        padding: 29px 27px 26px 29px;
        color: #132129;
        background: #fbdb0f;
        cursor: pointer;
    }
    &_h-date{
        float: left;
        margin: 2px 20px 0 0;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        color: #254959;
    }
    &_h-title{
        font-size: 24px;
        line-height: 1.2;
        font-style: italic;
        text-align: center;
    }
    &_arr{
        float: right;
        margin: 5px 0 0;
        font-size: 0;
        color: #254959;
        transform: rotate(-90deg);
        transition: .2s;
        .s-icon{
            font-size: 22px;
        }
    }


    &_cont{
        display: none;
    }
    &_cont-in{
        &:extend(.cf-mix all);
        padding: 82px 70px 69px;
        font-size: 15px;
        line-height: 23/15;
        font-weight: 300;
    }
    &_about{
        float: left;
        width: 323px;
        text-align: right;
    }
    &_ava{
        float: left;
        width: 393px;
        text-align: center;
    }
    &_ava-in{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 260px;
        height: 309px;
        margin: -16px 0 0;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../images/promo/nps/workshops-ava-mask.png) no-repeat 0 0 / cover;
        }
    }
    &_date{
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        color: #0099de;
    }
    &_author{
        font-size: 24px;
        line-height: 1.2;
    }
    &_prof{
        margin: 25px 0 0;
    }
    &_info{
        float: left;
        width: 324px;
    }
    &_title{
        margin: 0 0 12px;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_descr{
        ul{
            list-style: none;
            li{
                position: relative;
                padding: 0 0 0 11px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    background: #0099de;
                    border-radius: 50%;
                }
            }
        }
        p, li{
            margin: 1.5em 0;
        }
    }


    &_bg{
        position: relative;
        height: 414px;
        margin: -230px 0 0;
        background: #465667 url(../images/promo/nps/workshops-bg.jpg) no-repeat 50% 0 / cover;
    }



    @media (max-width: @screen-md-max) {
        &_cont-in{
            padding-left: 20px;
            padding-right: 20px;
        }
        &_about{
            width: 290px;
        }
        &_ava{
            width: 300px;
        }
        &_info{
            width: 290px;
        }
    }


    @media (max-width: 1023px) {
        &_cont-in{
            padding: 72px 20px 15px;
        }
        &_ava-in{
            width: 220px;
            height: 261px;
            margin: -46px 0 40px;
        }
        &_ava{
            float: left;
            width: 220px;
        }
        &_about{
            float: right;
            width: 65%;
            margin: 0 0 40px;
            text-align: left;
        }
        &_info{
            float: none;
            clear: both;
            width: auto;
        }
    }

    @media (max-width: 767px) {
        &_i{
            border-top: 1px solid #bda928;
            &:first-child{
                border-top: 0;
            }
        }
        &_h-in{
            position: relative;
        }
        &_h-date{
            float: none;
            margin: 0 0 20px;
            text-align: center;
        }
        &_arr{
            position: absolute;
            top: 26px;
            right: 25px;
        }
        &_h-title{
            font-size: 20px;
        }
        &_about{
            float: none;
            width: auto;
        }
        &_ava{
            float: none;
            margin: auto;
        }
        &_ava-in{
            margin: 0 auto 40px;
        }
    }
}
// /workshops




// video-list
.video-list{
    padding: 78px 0 90px;
    &_i{
        margin-bottom: 30px;
        .embed-video{
            background: #000;
        }
    }
    &_action{
        margin: 22px 0 0;
        text-align: center;
        .nps-btn{
            font-size: 18px;
        }
    }


    @media (max-width: 1023px) {
        &_i{
            width: 50%;
        }
    }

    @media (max-width: 767px) {
        &_i{
            width: 100%;
        }
    }
}
// /video-list




// footer
[class^="s-social-"], [class*=" s-social-"]{
    .sprite(35, 35, url(../images/promo/nps/s-social.png));
}
//.s-social-vk { background-position: 0 0 }
.s-social-fb { background-position: -50px 0 }
.s-social-tg { background-position: -100px 0 }


.footer{
    &:extend(.cf-mix all);
    padding: 77px 0 79px;
    color: #fff;
    background: #132129 url(../images/promo/nps/footer-bg.jpg) no-repeat 50% 0 / cover;
    text-align: center;


    &_sharing{
        float: left;
    }
    &_sharing-head{
        float: left;
        margin: 11px 19px 0 0;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_sharing-cont{
        float: left;
        margin: 6px 0 0;
    }


    &_social{
        float: right;
        margin: 1px 0 0;
    }
    &_social-link{
        float: left;
        margin: 0 0 0 10px;
        &:first-child{
            margin-left: 0;
        }
        &, &:hover{
            text-decoration: none;
        }
    }


    &_develop{
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
    }
    &_develop-head{
        display: inline-block;
        vertical-align: top;
        margin: 11px 16px 0 0;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
    }
    &_develop-logo{
        display: inline-block;
        vertical-align: top;
        .logo{
            float: none;
            width: 148px;
            height: 38px;
            margin: 0;
            background-image: url(/images/pln-logo-white.svg);
        }
    }


    @media (max-width: 1023px) {
        padding: 47px 0 49px;
        &_sharing,
        &_social{
            float: none;
        }
        &_social{
            margin: 40px 0;
        }
        &_sharing-head,
        &_sharing-cont{
            float: none;
            display: inline-block;
            vertical-align: top;
        }
        &_social-link{
            float: none;
            display: inline-block;
            vertical-align: top;
        }
    }
}
// /footer


@media (max-width: 767px) {
    .page-head{
        font-size: 36px;
    }
}
