// Quick floats
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Toggling content
.hide {
    display: none;
}
.show {
    display: block;
}

// Visibility
.invisible {
    visibility: hidden;
}

.relative {
    position:relative;
}

.no-pdg{
    padding: 0 !important;
}

.no-border{
    border: 0 !important;
}

.cur-p{
    cursor: pointer;
}
.dis-b, .div-b{
    display: block;
}
