// balance-application



.balance-application{
    padding: 67px 70px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 19px;
    background: #f6f8fb;
    &_head{
        margin: 0 0 36px;
    }
    &_i{
        display: table;
        border-collapse: separate;
        width: 100%;
        margin: 10px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_addon{
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        padding: 0 10px;
        white-space: nowrap;
        &:first-of-type{
            padding-left: 0;
        }
    }
    &_val{
        display: table-cell;
        vertical-align: top;
        float: left;
        width: 100%;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        padding: 15px;
        border: 1px solid #e8e8e8;
    }

    &_id-series{
        width: 138px;
    }
    &_id-number{
        width: 262px;
    }
    &_date{
        width: 60px;
    }
    &_year{
        width: 262px;
    }

    &_i-spacer{
        display: table-cell;
        width: 100%;
    }


    @media (max-width: @screen-tl-max) {
        padding: 20px 15px;
    }

    @media (max-width: @screen-tp-max) {
        background: #fff;
        box-shadow: 0 3px 4px fade(#254959, 10);
        border: 0;
        border-radius: 4px;
        &_i{
            display: block;
        }
        &_addon{
            display: block;
            width: auto;
            margin: 10px 0 5px;
            padding: 0;
        }
        &_val{
            display: block;
            float: none;
        }
    }
}
