// form-ui-profile



.form-ui-profile{
    font-size: 0;
    .form-ui-label{
        line-height: 0;
    }
    .form-ui-txt{
        padding: 0 0 0 28px;
        font-family: @ff-roboto;
        font-size: 14px;
        line-height: 17px;
    }


    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                padding-top: 2px;
                padding-bottom: 2px;
                &:before{
                    width: 20px;
                    height: 21px;
                    border: 1px solid #e8e8e8;
                    border-radius: 4px;
                    transition: .3s;
                }
                &:after{
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 21px;
                    background: url('/images/project/project-donate-check.svg') no-repeat;
                    opacity: 0;
                    transform: scale(.5);
                    transition: .2s;
                }
            }

            &:hover{
                .form-ui-txt{
                    &:before{
                        border-color: darken(#e8e8e8, 15%);
                    }
                }
            }
        }

        &:focus {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        border-color: darken(#e8e8e8, 15%);
                    }
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        &:disabled {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{

                    }
                }
            }
            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:after{

                        }
                    }
                }
            }
        }
    }
}
