// money-back-action



.money-back-action{
    margin: 0 0 30px;
    padding: 14px;
    text-align: center;
    background: #f6f8fb;
    &_btn{

    }
    &_to-card{
        margin: 24px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #454553;
    }
    &_to-card-text{
        margin: 0 0 8px;
    }


    @media (max-width: @screen-tp-max) {
        margin-top: 10px;
    }
}
