// profile-settings



.profile-settings{
    &_form{
        margin-top: -24px;
    }
    &_i{
        margin-top: 24px;
    }
    &_photo-col{
        float: left;
        width: 170px;
    }
    &_descr-col{
        margin: 0 0 0 200px;
        .form-control{
            min-height: 170px;
        }
    }

    &_photo-img{
        width: 170px;
        height: 170px;
        background: #f2f2f2;
        margin: 0 0 8px;
        img{
            width: 100%;
        }
    }
    &_photo-action{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 100%;
        font-size: 13px;
        line-height: 15px;
    }
    &_photo-link{
        float: right;
        &:extend(.link-mix all);
        text-decoration: underline;
        &:first-child{
            float: left;
        }
    }
    &_action{
        text-align: right;
        .btn{
            min-width: 270px;
            padding: 15px 20px 13px;
        }
    }
    &_btn-ico{
        position: absolute;
        top: 14px;
        right: 18px;
    }

    &_remove-profile{
        margin: 24px 0 0;
        padding: 8px 0;
        border-top: 1px solid #ebeef3;
        font-size: 13px;
        line-height: 18px;
    }
    &_remove-profile-link{
        &:extend(.link-mix all);
        text-decoration: underline;
    }


    @media (max-width: @screen-tp-max) {
        padding: 20px 15px;
        background: #fff;
        box-shadow: 0 3px 4px fade(#254959, 10);
        border: 0;
        border-radius: 4px;
    }

    @media (max-width: @screen-pm-max) {
        &_photo-col{
            float: none;
        }
        &_descr-col{
            margin: 24px 0 0;
        }
        &_action{
            .btn{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
