// profile-project-change



.profile-project-change{
    padding: 1px 0 0;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 24px;
        &:first-child{
            margin-left: 0;
        }
        &.disabled{
            position: relative;
            opacity: .3;
            &:before{
                content: '';
                position: absolute;
                top: -5px;
                left: -1px;
                bottom: -5px;
                right: -1px;
            }
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        color: #454553;
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        margin: -5px 2px 0 0;
        path{
            fill: currentColor;
        }
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        text-decoration: underline;
    }


    @media (max-width: @screen-ld-max) {
        &_i{
            margin-left: 15px;
        }
    }

    @media (max-width: @screen-pm-max) {
        display: none;
    }
}
