// profile-alert



.profile-alert{
    padding: 17px 24px 19px;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    color: #ef5928;
    border: 1px solid #ef5928;
    background: #ffebe5;
}
