// profile-money-back-link



.profile-money-back-link{
    @media (min-width: @screen-tp-min) {
        &&{
            position: absolute;
            top: -65px;
            right: 0;
        }
    }
}
