// profile-top



.profile-top{
    &:extend(.cf-mix all);
    position: relative;
    margin: 20px 0 40px;
    font-family: @ff-roboto;
    color: #000;
    &_passport{
        float: left;
        max-width: 75%;
    }
    &_balance{
        float: right;
    }
    &_link-ico{
        display: none;
    }


    @media (max-width: @screen-tp-max) {
        margin: 0 0 20px;
        text-align: center;
        &_passport{
            float: none;
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
        }
        &_balance{
            display: none;
        }
    }


    &__main{
        @media (max-width: @screen-tp-max) {
            .profile-top{
                &_balance{
                    display: block;
                }
                &_link-ico{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 40px;
                    height: 40px;
                    margin: 0 0 0 40px;
                    padding: 8px 0 0 8px;
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: 0 3px 4px fade(#254959, 10);
                }
            }
        }
    }
}
