// profile-passport



.profile-passport{
    &_ava{
        float: left;
        width: 48px;
        height: 48px;
        margin: 0 32px 0 0;
        border-radius: 4px;
        box-shadow: 0 8px 16px fade(#12579c, 30);
        overflow: hidden;
        transform: translateZ(0);
    }
    &_cont{
        overflow: hidden;
        padding: 5px 0 0;
    }
    &_name{
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        word-wrap: break-word;
        a{
            color: #000;
        }
    }
    &_online{
        display: inline-block;
        vertical-align: baseline;
        margin: 0 0 0 5px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: #aaaeb1;
        font-family: @ff-roboto-cond;
    }
    &_settings{
        margin: 5px 0 0;
        font-size: 11px;
        line-height: 13px;
        a{
            text-decoration: underline;
        }
    }


    @media (max-width: @screen-tp-max) {
        text-align: left;
        &_ava{
            width: 40px;
            height: 40px;
            margin-right: 16px;
            border-radius: 50%;
            overflow: hidden;
            transform: translateZ(0);
        }
        &_name{
            .text-overflow();
        }
        &_online{
            display: block;
            margin: 0;
        }
        &_settings{
            display: none;
        }


        .profile-top__main &{
            text-align: center;
            .profile-passport{
                &_ava{
                    float: none;
                    width: 120px;
                    height: 120px;
                    margin: 0 auto 15px;
                }
                &_settings{
                    display: block;
                    font-size: 0;
                    line-height: 0;
                    text-align: left;
                    margin: 0;
                }
            }
        }
    }
}
