// profile-show-more



.profile-show-more{
    margin: 40px 0 0;
    text-align: center;
    &_loader{
        padding: 12px 0;
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        padding: 15px 18px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #454553;
        text-transform: uppercase;
        background: #fff;
        border: 1px solid #ebeef3;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background: #f2f2f2;
        }
    }
}
