// profile-project-rewards-actions



.profile-project-rewards-actions{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    margin: 32px 0 0;
    padding: 22px;
    background: #f6f8fb;
    &_col{
        float: left;
        width: percentage(410/710);
        &:first-child{
            width: percentage(300/710);
            padding: 0 30px 0 0;
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        &:hover{
            text-decoration: none;
            .profile-project-rewards-actions_ico{
                path{
                    fill: currentColor;
                }
            }
        }
    }
    &_link-ico{
        display: inline-block;
        vertical-align: top;
        margin: -5px 2px -3px 0;
    }
    &_link-name{
        display: inline-block;
        vertical-align: top;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        text-decoration: underline;
    }
    &_info{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #454553;
        .btn{
            min-width: 48px;
            margin: -8px 0 -8px 5px;
        }
        a{
            text-decoration: underline;
        }
    }


    @media (max-width: @screen-ld-max) {
        text-align: center;
        &_col{
            float: none;
            width: auto !important;
            margin: 15px 0 0;
            padding: 15px 0 0;
            border-top: 1px solid fade(#000, 10);
            &:first-child{
                margin-top: 0;
                padding: 0;
                border-top: 0;
            }
        }
    }

    @media (max-width: @screen-tl-max) {
        &_info-text{
            display: block;
            margin: 0 0 15px;
        }
    }
}
