// profile-project-refund-info



.profile-project-refund-info{
    margin: 10px 0 0;
    padding: 20px;
    font-family: @ff-roboto-cond;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #f6f8fb;

    @media (max-width: @screen-ld-max) {
        margin-top: 34px;
    }
}
