// profile-updates



.profile-updates{
    list-style: none;
    &_day{
        margin: 24px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }
    &_date{
        float: left;
        width: 105px;
        margin: 0 8px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 16px;
        color: #686b6d;
        text-transform: uppercase;
    }
    &_date-date{
        font-size: 10px;
        color: #afafaf;
    }
    &_list{
        margin: 0 0 0 113px;
        list-style: none;
    }
    &_i{
        position: relative;
        min-height: 32px;
        margin: 24px 0 0;
        padding: 0 0 0 92px;
        &:first-child{
            margin-top: 0;
            &:after{
                display: none;
            }
        }
        &:last-child{
            &:before{
                display: none;
            }
        }
        &:after{
            content: '';
            position: absolute;
            left: 16px;
            bottom: 100%;
            height: 24px;
            width: 1px;
            background: #ebeef3;
        }
        &:before{
            content: '';
            position: absolute;
            left: 16px;
            top: 31px;
            bottom: 0;
            width: 1px;
            background: #ebeef3;
        }
    }
    &_cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        border: 1px solid #ebeef3;
        border-radius: 4px;
        background: #fff;
        overflow: hidden;
        transform: translateZ(0);
        > svg, > span, > img  {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &_progress{
        font-size: 12px;
        font-weight: 900;
    }
    &_progress-100{
        color: #91d13c;
    }
    &_progress-50{
        color: #fcbd2b;
    }
    &_progress-fail{
        color: #ef5928;
    }
    &_time{
        position: absolute;
        top: 9px;
        left: 35px;
        width: 56px;
        font-family: @ff-roboto-cond;
        font-size: 10px;
        line-height: 16px;
        color: #afafaf;
        text-align: center;
    }
    &_cont{
        padding: 7px 0 0;
        font-size: 14px;
        line-height: 20/14;
        color: #454553;
        a{
            text-decoration: underline;
        }
    }


    @media (max-width: @screen-tp-max) {
        &_date{
            float: none;
            width: auto;
            margin: 0 0 7px;
        }
        &_list{
            margin: 0;
        }
        &_i{
            padding-left: 48px;
        }
        &_time{
            position: static;
            width: auto;
            text-align: left;
        }
        &_cont{
            padding-top: 0;
        }
    }
}
