// profile-project-content



.profile-project-content{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    min-width: 100%;
    margin: -25px 0 0;
    &_col{
        float: left;
        width: percentage(410/710);
        &:first-child{
            width: percentage(300/710);
            padding: 0 30px 0 0;
        }
    }
    &_ico{
        margin: 0 0 -3px -3px;
        font-size: 0;
    }
    &_title{
        font-size: 15px;
        line-height: 18px;
    }
    &_empty{
        margin: 16px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
        color: #afafaf;
    }
    &_name{
        margin: 16px 0 8px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        a{
            text-decoration: underline;
        }
    }
    &_meta{
        &:extend(.cf-mix all);
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 18px;
        color: #aaaeb1;
    }
    &_meta-i{
        float: left;
        margin: 0 0 0 24px;
        &:first-child{
            margin-left: 0;
        }
    }


    @media (max-width: @screen-pm-max) {
        margin-top: -13px;
        &_col{
            float: none;
            width: auto;
            margin: 10px 0 0;
            &:first-child{
                width: auto;
                padding: 0;
                margin: 0;
            }
        }
        &_ico{
            display: inline-block;
            vertical-align: top;
        }
        &_title{
            display: inline-block;
            vertical-align: top;
            line-height: 60px;
        }
        &_empty,
        &_name{
            margin-top: 0;
        }
    }
}
