// profile-project-info



.profile-project-info{
    position: relative;
    &_cover{
        position: relative;
        z-index: 1;
        margin: -1px -25px 0;
        &:before{
            content: '';
            display: block;
            padding: 0 0 60.94%;
        }
    }
    &_cover-in{
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    &_text{
        word-wrap: break-word;
    }
    &_name{
        margin: 24px 0 16px;
        font-size: 15px;
        line-height: 20/15;
        font-weight: 700;
        color: #1b2336;
    }
    &_name-link{
        text-decoration: none;
        &, &:hover{
            color: #000;
        }
        &:before{
            content: '';
            position: absolute;
            z-index: 10;
            top: 0;
            left: -24px;
            right: -24px;
            bottom: 0;
        }
    }
    &_name-add{
        text-decoration: underline;
    }
    &_descr{
        font-size: 13px;
        line-height: 18/13;
        color: #888;
    }


    &_status{
        position: absolute;
        z-index: 10;
        top: 23px;
        left: 274px;
        white-space: nowrap;
    }

    &_delete{
        display: inline-block;
        vertical-align: top;
        margin: 3px 0 0 16px;
    }
    &_delete-link{
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        color: #ef5928;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
            color: darken(#ef5928, 15%);
        }
    }


    &_meta{
        margin: 14px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        color: #254959;
    }
    &_meta-i{
        position: relative;
        margin: 8px 0 0;
        padding: 0 0 0 24px;
        &:first-child{
            margin: 0;
        }
        &.progress-state{
            color: #64a817;
        }
        &.progress{
            color: @linkColor;
        }
    }
    &_meta-ico{
        position: absolute;
        top: -4px;
        left: -2px;
    }

    &_progress{
        position: relative;
        span{
            display: block;
        }
        .project-card-footer{
            position: relative;
            height: auto;
            padding: 33px 0 0;
        }
        .project-card-progress{
            position: relative;
            left: 0;
            right: 0;
        }
    }


    .profile-project-card__order &{
        .profile-project-info{
            &_status{
                top: 16px;
                left: -30px;
            }
        }
    }


    @media (max-width: @screen-ld-max) {
        &_status{
            top: 16px;
            left: -30px;
        }
        &_delete{
            position: absolute;
            top: -2px;
            left: 152px;
            padding: 2px 5px;
            background: #fff;
            white-space: nowrap;
        }
    }

    @media (max-width: @screen-tp-max) {
        &_cover{
            margin: -1px -25px 0 -24px;
        }
        &_img{
            border-radius: 4px 0 0 0;
        }
    }

    @media (max-width: @screen-pm-max) {
        &_cover{
            margin: -1px -15px;
        }
        &_img{
            border-radius: 4px 4px 0 0;
        }
        &_name{
            margin-top: 42px;
        }
        &_descr{
            display: none;
        }
        &_status{
            left: -21px;
            right: -17px;
            .status-badge{
                display: inline-block;
                vertical-align: top;
            }
        }
        &_delete{
            left: auto;
            right: 0;
        }


        .profile-project-card__order &{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebeef3;
            .profile-project-info{
                &_cover{
                    float: left;
                    width: 32px;
                    height: 32px;
                    margin: 0 13px 0 0;
                    &:before{
                        display: none;
                    }
                }
                &_img{
                    position: static;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0;
                }
                &_text{
                    overflow: hidden;
                    margin: -3px 0 0;
                }
                &_name{
                    margin: 0;
                }
                &_status{
                    position: static;
                    margin: 13px 0 0;
                }
            }
        }
    }
}
