// profile-updates-post



.profile-updates-post{
    a{
        text-decoration: underline;
    }
    &_title{
        font-size: 14px;
        line-height: 20/14;
        font-weight: 500;
    }
    &_project{
        margin: 4px 0 0;
        font-size: 12px;
        line-height: 20/12;
        color: #afafaf;
    }
    &_body{
        margin: 20px 0 0;
        font-size: 13px;
        line-height: 15/13;
    }
}
