// profile-balance-table



.profile-balance-table{
    width: 100%;
    margin: 24px 0 0;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    color: #454553;
    a{
        text-decoration: underline;
    }
    td{
        padding: 17px 12px;
        border-top: 1px solid #f6f7fb;
        border-bottom: 1px solid #f6f7fb;
        &:first-child{
            padding-left: 24px;
            border-left: 1px solid #f6f7fb;
        }
        &:last-child{
            padding-right: 24px;
            border-right: 1px solid #f6f7fb;
        }
    }
    tr{
        &:nth-child(even){
            td{
                background: #f6f7fb;
            }
        }
    }
    &_date{
        font-size: 13px;
        line-height: 15px;
        color: #888;
        white-space: nowrap;
    }
    &_status{
        white-space: nowrap;
        &.paid          { color: #00c871 }
        &.done          { color: #1a8cff }
        &.project-fail  { color: #ef5928 }
    }
    &_amount{
        font-family: @ff-roboto;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        white-space: nowrap;
    }


    @media (max-width: @screen-tp-max) {
        display: block;
        tr,
        td{
            display: block;
            padding: 0;
            border: 0;
        }
        tr{
            padding: 20px 0 0;
            margin: 20px 0 0;
            border-top: 1px solid #ebeef3;
            &:first-child{
                padding: 0;
                margin: 0;
                border: 0;
            }
        }
        td{
            margin: 10px 0 0;
            background: none !important;
            &:first-child{
                margin-top: 0;
            }
            &:first-child,
            &:last-child{
                padding: 0;
            }
        }

        td&_date-td,
        td&_type-td{
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }
        &_date{
            position: relative;
            top: 1px;
            margin-right: 5px;
        }

        td&_amount-td{
            float: right;
            margin: -19px 0 0;
        }
    }
}
