// profile-balance-box



.profile-balance-box{
    @media (max-width: @screen-tp-max) {
        padding: 20px 15px;
        background: #fff;
        box-shadow: 0 3px 4px fade(#254959, 10);
        border: 0;
        border-radius: 4px;
    }
}
