// profile-project-progress



.profile-project-progress{
    margin: 49px 0 40px;
    .profile-project-card_change + &{
        margin-top: 49px;
    }
    &_progress{
        position: relative;
        font: 0/0 a;
        background: #e8e8e8;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 2px;
            margin: 0 0 0 -1px;
            background: #aaaeb1;
        }
    }
    &_bar{
        position: relative;
        z-index: 10;
        max-width: 100%;
        height: 4px;
        background: linear-gradient(90deg, #629fff 0, #3366ff 100%);
    }
    &_values{
        margin: 22px 0 0;
        position: relative;
    }
    &_val-i{
        display: inline-block;
        vertical-align: top;
        &.remained{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
        &.target{
            float: right;
            text-align: right;
        }
    }
    &_val{
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        color: @linkColor;
        .remained &{
            color: #aaaeb1;
        }
        .target &{
            color: #454553;
        }
    }
    &_val-lbl{
        display: none;
    }
    &_lbl{
        margin: 3px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 20px;
        color: #aaaeb1;
        text-transform: uppercase;
    }
    &_lbl-help{
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        margin: 1px -23px 0 4px;
        padding: 1px 0 0 0;
        font-family: @ff-roboto;
        font-size: 11px;
        line-height: 13px;
        font-weight: 900;
        color: #9b9fa3;
        text-align: center;
        border: 1px solid #9b9fa3;
        border-radius: 50%;
        background: #ececec;
        cursor: default;
    }


    @media (max-width: @screen-ld-max) {
        margin-top: 0;
        .profile-project-card_change + &{
            margin-top: 49px;
        }
    }

    @media (max-width: @screen-pm-max) {
        margin: 20px 0;
        .profile-project-card_change + &{
            margin-top: 20px;
        }
        &_bar{
            height: 8px;
        }
        &_values{
            margin-top: 11px;
        }
        &_val{
            font-family: @ff-roboto-cond;
            font-size: 13px;
            line-height: 15px;
            font-weight: 400;
        }
        &_val-i{
            &.remained{
                display: none;
            }
        }
        &_val-lbl{
            display: inline;
        }
        &_lbl{
            display: none;
        }
    }
}
