// profile-project-meta



.profile-project-meta{
    margin: 0 0 54px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        font-size: 14px;
        line-height: 16px;
        &.disabled{
            opacity: .3;
        }
    }
    &_lbl{
        text-transform: uppercase;
    }
    &_val{
        margin: 8px 0 3px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
    }
    &_today{
        font-family: @ff-roboto-cond;
        color: #00c871;
        font-style: italic;
    }
    &_no-new{
        color: #afafaf;
    }


    @media (max-width: @screen-ld-max) {
        margin-bottom: 30px;
        &_i{
            width: 33.333333%;
            &:first-child{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: @screen-tl-max) {
        &_i{
            font-size: 12px;
            line-height: 14px;
        }
    }

    @media (max-width: @screen-pm-max) {
        margin-bottom: 0;
        font-family: @ff-roboto-cond;
        &_i{
            &:first-child{
                margin-bottom: 12px;
            }
        }
        &_lbl{
            color: #afafaf;
        }
        &_val{
            margin-top: 0;
            display: inline-block;
            font-size: 20px;
            line-height: 26px;
        }
        &_today{
            display: inline-block;
            margin-left: 5px;
            font-style: normal;
        }
        &_today-lbl,
        &_no-new{
            display: none;
        }
    }
}
