// profile-label-control



.profile-label-control{
    margin: 0 0 11px;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 14px;
        color: #aaaeb1;
        text-transform: uppercase;
    }
    &_help{
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        margin: -2px 0 0 3px;
        padding: 1px 0 0;
        font-size: 13px;
        line-height: 1;
        font-weight: 900;
        color: @linkColor;
        text-align: center;
        border: 1px solid @linkColor;
        border-radius: 50%;
        cursor: default;
    }
}
