// profile-nav



.profile-nav{
    padding: 23px 0;
    list-style: none;
    font-size: 0;
    &_i{
        &.selected{
            .profile-nav_link{
                &:before{
                    opacity: 1;
                }
            }
        }
    }
    &_link{
        position: relative;
        display: block;
        padding: 8px 0;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border-right: 2px solid @linkColor;
            opacity: 0;
            transition: .3s;

            //.active &   {border-right-color: @linkColor}
            .draft &    {border-right-color: #b0c6d7}
            .not_started & {border-right-color: #fcbd2b}
            .finished &   {border-right-color: #00c871}
            .fail &     {border-right-color: #b0c6d7}
            .declined &   {border-right-color: #ef5928}
            .archive &  {border-right-color: #72a0be}
            //.rewards &  {border-right-color: @linkColor}
            .charity &  {border-right-color: #ef4faa}
            //.biblio &   {border-right-color: @linkColor}
            .shop &     {border-right-color: #00b2e2}
            //.settings & {border-right-color: @linkColor}
            //.contacts & {border-right-color: @linkColor}
            //.notifications &    {border-right-color: @linkColor}
        }
        &:hover{
            &:before{
                opacity: .5;
            }
        }
    }


    @media (min-width: @screen-tp-min) {
        &_name{
            display: none;
        }
    }

    @media (max-width: @screen-tp-max) {
        .mobile-scroll();
        padding: 0 0 0 20px;
        text-align: center;
        background: #fff;
        border-bottom: 1px solid #ebeef3;
        &:after{
            content: '';
            display: inline-block;
            vertical-align: top;
            min-width: 20px;
        }
        &_i{
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 24px;
            &:first-child{
                margin-left: 0;
            }
            &.selected{
                .profile-nav_link{
                    color: #000;
                    border-bottom-color: @linkColor;
                }
            }
        }
        &_ico{
            display: none;
        }
        &_link{
            padding: 22px 0 23px;
            font-family: @ff-roboto;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: #7a7b7d;
            border-bottom: 2px solid transparent;
            transition: .3s;
            &:before{
                display: none;
            }
            &:hover{
                color: #000;
                text-decoration: none;
            }
        }
    }
}
