// profile-project-card



.profile-project-card{
    list-style: none;
    &_i{
        margin: 30px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }
    &_i-cont{
        &:extend(.cf-mix all);
        position: relative;
        border: 1px solid #e1e3e4;
    }
    &_project{
        float: left;
        width: 268px;
        padding: 0 24px 24px;
    }
    &_body{
        margin: 0 0 0 268px;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: 1px solid #e1e3e4;
        }
    }
    &_body-in{
        padding: 23px 30px;
    }

    &_change{
        float: right;
    }


    @media (max-width: @screen-ld-max) {
        &_body-in{
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: @screen-tp-max) {
        &_i-cont{
            background: #fff;
            box-shadow: 0 3px 4px fade(#254959, 10);
            border: 0;
            border-radius: 4px;
        }
    }

    @media (max-width: @screen-pm-max) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        &_project{
            width: auto;
            float: none;
            padding: 0 15px;
        }
        &_body{
            margin: 0;
            &:before{
                display: none;
            }
        }
        &_body-in{
            padding: 0 15px 27px;
        }

        &_i{
            &.profile-project-card__order{
                .profile-project-card{
                    &_i-cont{
                        padding-top: 100px;
                    }
                }
            }
        }
    }
}
