// profile-notifications



.profile-notifications{
    &_title{
        margin: 0 0 17px;
        font-size: 18px;
        line-height: 22px;
    }
    &_i{
        margin: 24px 0 0;
        &:first-child{
            margin: 0;
        }
    }


    @media (max-width: @screen-tp-max) {
        &_section{
            margin: 24px 0 0;
            &:first-child{
                margin: 0;
            }
        }
    }
}
