// profile-balance



.profile-balance{
    padding: 5px 0 0;
    &_lbl{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
    }
    &_val{
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        font-style: italic;
    }
    &_manage{
        margin: 4px 0 0;
        font-size: 11px;
        line-height: 13px;
        a{
            text-decoration: underline;
        }
    }


    @media (max-width: @screen-tp-max) {
        .profile-top__main &{
            float: none;
            display: block;
            padding: 0;
            &_title{
                display: none;
            }
            &_manage{
                margin: 0;
                font-size: 0;
                line-height: 0;
                text-align: left;
            }
            .profile-top_link-ico{
                margin: 0 0 0 -80px;
            }
        }
    }
}
