// profile-dashboard



.profile-dashboard{
    display: table;
    display: flex;
    min-width: 100%;
    min-width: ~"calc(100% + 30px)";
    margin: 0 -15px 48px;
    list-style: none;
    font-family: @ff-roboto;
    color: #000;
    word-wrap: break-word;
    &_i{
        display: table-cell;
        vertical-align: top;
        display: flex;
        flex: 1 1 100%;
        width: 25%;
        padding: 0 15px;
    }
    &_i-cont{
        min-width: 100%;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 3px 4px fade(#254959, 10);
    }

    &_head{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 102px;
        padding: 24px 134px 24px 24px;
        border-bottom: 1px solid #ebeef3;
    }
    &_ico{
        position: absolute;
        top: 8px;
        right: 22px;
    }
    &_title{
        font-size: 18px;
        line-height: 1;
        a{
            color: #000;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:hover{
                &:before{
                    background: fade(#000, 2.5);
                }
            }
        }
    }
    &_descr{
        margin: 4px 0 0;
        font-size: 12px;
        line-height: 14px;
        color: #aaaeb1;
    }

    &_sections{
        padding: 12px 0;
        list-style: none;
    }
    &_section-link{
        position: relative;
        display: block;
        padding: 8px 20px;
        text-decoration: none;
        font-size: 0;
        &:before{
            content: '';
            position: absolute;
            top: 14px;
            right: 24px;
            width: 16px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12'%3E%3Cpath d='M15.54 6.589l-5.173 5.163a.824.824 0 0 1-.582.248.823.823 0 0 1-.581-.248.818.818 0 0 1 0-1.177l3.76-3.739H.831A.83.83 0 0 1 0 6.01c0-.454.374-.826.831-.826h12.133L9.183 1.425a.818.818 0 0 1 0-1.177.83.83 0 0 1 1.184 0l5.173 5.163c.333.331.333.868 0 1.178z' fill='%23D7DDE1'/%3E%3C/svg%3E");
        }
        &:hover{
            &:before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12'%3E%3Cpath d='M15.54 6.589l-5.173 5.163a.824.824 0 0 1-.582.248.823.823 0 0 1-.581-.248.818.818 0 0 1 0-1.177l3.76-3.739H.831A.83.83 0 0 1 0 6.01c0-.454.374-.826.831-.826h12.133L9.183 1.425a.818.818 0 0 1 0-1.177.83.83 0 0 1 1.184 0l5.173 5.163c.333.331.333.868 0 1.178z' fill='%23000000'/%3E%3C/svg%3E");
            }
            .profile-dashboard_section-name{
                text-decoration: underline;
            }
        }
    }
    &_section-ico{
        display: inline-block;
        vertical-align: top;
        margin: 0 13px 0 0;
    }
    &_section-name{
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 24px;
        color: #000;
    }

    &_empty{
        padding: 24px;
        font-size: 14px;
        line-height: 20px;
        color: #454553;
        a{
            text-decoration: underline;
        }
    }


    @media (max-width: @screen-tl-min) {
        margin-left: -10px;
        margin-right: -10px;
        &_i{
            padding-left: 10px;
            padding-right: 10px;
        }
        &_head{
            padding-right: 95px;
            padding-left: 20px;
        }
        &_ico{
            right: 10px;
        }
    }

    @media (max-width: @screen-tp-max) {
        display: block;
        min-width: 0;
        &_i{
            display: block;
            width: auto;
            margin: 20px 0 0;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}
