// profile-balance-common



.profile-balance-common{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 19px;
        border-top: 1px solid #ebeef3;
    }
    &_val{
        position: relative;
        z-index: 10;
        float: left;
        padding: 4px 32px 4px 0;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        color: #454553;
        background: #fff;
    }
    &_btn{
        position: relative;
        z-index: 10;
        float: right;
        padding: 0 0 0 32px;
        background: #fff;
        .btn{
            min-width: 200px;
            padding: 10px 15px;
        }
    }


    @media (max-width: @screen-tp-max) {
        &:before{
            display: none;
        }
        &_val{
            float: none;
            padding: 0;
            margin: 0 0 20px;
        }
        &_btn{
            float: none;
            margin: 10px 0 0;
            padding: 0;
            .btn{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
