// profile-tab



.profile-tab{
    list-style: none;
    text-align: center;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 48px;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            .profile-tab_link{
                color: #000;
                border-bottom-color: @linkColor;
            }
        }
    }
    &_link{
        display: block;
        padding: 0 0 22px;
        font-family: @ff-roboto;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #7a7b7d;
        border-bottom: 2px solid transparent;
        transition: .3s;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }


    @media (min-width: @screen-tp-min) {
        &_ico{
            display: none;
        }
        .settings,
        .balance{
            display: none;
        }
    }

    @media (max-width: @screen-tp-max) {
        margin: 0 -15px;
        background: #fff;
        border-bottom: 1px solid #ebeef3;
        &_i{
            margin: 0;
        }
        &_link{
            padding: 19px 15px 21px;
            font-size: 0;
            line-height: 0;
            border: 0;
        }
        &_name{
            display: none;
        }
        &_i{
            .border{
                fill: #aaaeb1;
            }
            .fill{
                fill: #aaaeb1;
            }
            &.active{
                .border{
                    fill: #454553;
                }
                .fill{
                    fill: @linkColor;
                }
            }
        }
    }
}
