// profile-body



.profile-body{
    margin: 0 0 40px;
    font-family: @ff-roboto;
    color: #000;
    background: #fff;
    box-shadow: 0 3px 4px fade(#254959, 10);
    border-radius: 4px;
    &_nav{
        float: left;
        width: 69px;
    }
    &_cont{
        margin: 0 0 0 69px;
        padding: 32px 30px;
        border-left: 1px solid #ebeef3;
    }
    &_title{
        font-size: 18px;
        line-height: 1;
    }
    &_descr{
        margin: 4px 0 24px;
        font-size: 12px;
        line-height: 14px;
        color: #aaaeb1;
        a{
            text-decoration: underline;
        }
    }
    &_top-link{
        float: right;
        margin: 5px 0 0;
        font-size: 11px;
        line-height: 13px;
        a{
            text-decoration: underline;
        }
    }
    &_top-filter{
        float: right;
        margin: 8px 0 0;
    }
    &_empty{
        font-size: 14px;
        line-height: 20px;
        color: #454553;
        a{
            text-decoration: underline;
        }
    }


    @media (max-width: @screen-ld-max) {
        &_nav{
            width: 49px;
        }
        &_cont{
            margin-left: 49px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: @screen-tp-max) {
        background: none;
        box-shadow: none;
        border-radius: 0;
        &_nav{
            float: none;
            width: auto;
            margin: 0 -15px;
        }
        &_title{
            display: none;
        }
        &_cont{
            min-height: 0;
            margin: 0;
            padding: 20px 0 0;
            border-left: 0;
        }
    }
}
