// profile-filter-select



.profile-filter-select{
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    &_switch{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 20px 0 0;
        color: @linkColor;
        &:hover{
            color: @linkColorHover;
        }
        &:after{
            content: '';
            position: absolute;
            top: 4px;
            right: 0;
            width: 10px;
            height: 6px;
            background: url('/images/profile/action-btn-arrow.svg') no-repeat 0 0 / cover;
        }
    }
    &_popup{
        margin: 10px 0 0 -33px;
        padding: 10px 0;
        background: #fff;
        box-shadow: 0 2px 10px fade(#254959, 20);
        border: 0;
        border-radius: 4px;
        white-space: nowrap;
    }
    &_i{
        position: relative;
        padding: 5px 15px 5px 33px;
        color: #454553;
        cursor: pointer;
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: 5px;
            left: 10px;
            width: 16px;
            height: 16px;
            background: url('/images/profile/ico-profile-filter-active.svg') no-repeat 0 0 / cover;
        }
        &:hover{
            color: @linkColor;
        }
        &.active{
            color: @linkColor;
            &:before{
                display: block;
            }
        }
    }
}
