// profile-project-promo-text



.profile-project-promo-text{
    margin: 25px 0 0;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    a{
        text-decoration: underline;
    }
}
