// profile-project-actions



.profile-project-actions{
    padding: 23px 22px 21px;
    font-size: 0;
    background: #f6f8fb;

    &_list{
        display: flex;
        justify-content: space-between;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        &.disabled{
            position: relative;
            opacity: .3;
            &:before{
                content: '';
                position: absolute;
                top: -5px;
                left: -1px;
                bottom: -5px;
                right: -1px;
            }
        }

        &.edit,
        &.contact{
            display: none;
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        &:hover{
            text-decoration: none;
            .profile-project-actions_ico{
                path{
                    fill: currentColor;
                }
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
        margin: -5px 2px -3px 0;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
        text-decoration: underline;
    }


    @media (min-width: @screen-pm-min) {
        &_btn-wrap{
            display: none;
        }
        &_popup{
            position: static;
            display: block;
        }
    }

    @media (max-width: @screen-ld-max) and (min-width: @screen-pm-min) {
        margin: 0 -24px -23px -23px;
        padding: 15px 20px 14px;
        text-align: center;
        &_i{
            flex-basis: 65px;
            padding: 0 5px;
        }
        &_ico{
            display: block;
            margin: 0 0 3px;
        }
        &_name{
            font-size: 11px;
        }
    }

    @media (max-width: @screen-tl-max) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (max-width: @screen-pm-max) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        background: none;
        &:before{
            content: '';
            display: block;
            padding: 0 0 60.94%;
        }

        &_cont{
            position: relative;
            z-index: 30;
            width: 240px;
            margin: -20px auto 0;
            text-align: center;
            background: #fff;
            box-shadow: 0 3px 4px fade(#254959, 10);
            border-radius: 20px;
            .open &{
                box-shadow: 0 5px 10px fade(#254959, 20);
            }
        }

        &_btn-wrap{
        }
        &_btn{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            padding: 12px 24px;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            &:after{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 15px;
                height: 9px;
                margin: 4px 0 0 24px;
                background: url('/images/profile/action-btn-arrow.svg') no-repeat;
            }
        }

        &_popup{
            position: static;
            text-align: left;
            .open &{
                display: block;
            }
        }
        &_list{
            display: block;
            padding: 10px 0;
            border-top: 1px solid #ebeef3;
        }
        &_i{
            &,
            &.edit,
            &.contact{
                display: block;
            }
        }
        &_link{
            display: block;
            padding: 10px 21px;
        }
    }
}
