// profile-updates-block



.profile-updates-block{
    margin: 0 0 40px;
    font-family: @ff-roboto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 4px fade(#254959, 10);
    word-wrap: break-word;
    &_head{
        position: relative;
        padding: 32px 24px 24px;
        border-bottom: 1px solid #ebeef3;
    }
    &_title{
        font-size: 18px;
        line-height: 1;
    }
    &_descr{
        margin: 4px 0 0;
        font-size: 12px;
        line-height: 14px;
        color: #aaaeb1;
    }
    &_settings{
        position: absolute;
        top: 39px;
        right: 40px;
        font-size: 11px;
        line-height: 13px;
        a{
            text-decoration: underline;
        }
    }
    &_body{
        padding: 24px;
    }

    &_empty{
        font-size: 14px;
        line-height: 20px;
        color: #454553;
    }


    &_show-more{
        margin: 40px 0 0;
        text-align: center;
    }
    &_show-more-link{
        display: inline-block;
        vertical-align: top;
        padding: 15px 18px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #454553;
        text-transform: uppercase;
        background: #fff;
        border: 1px solid #ebeef3;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background: #f2f2f2;
        }
    }
    &_link-ico{
        display: none;
    }


    @media (max-width: @screen-tp-max) {
        &_head{
            padding-left: 20px;
            padding-right: 20px;
        }
        &_body{
            padding: 20px;
        }
        &_settings{
            top: 26px;
            right: 16px;
            font-size: 0;
            line-height: 0;
        }
        &_link-ico{
            display: inline-block;
            vertical-align: top;
            width: 40px;
            height: 40px;
            margin: 0 0 0 40px;
            padding: 8px 0 0 8px;
            background: #f8f9fd;
            border-radius: 50%;
            box-shadow: 0 3px 4px fade(#254959, 10);
        }
    }
}
