// responsive




/*
.hidden-mobile{
    display: block;
}
*/
/*
.visible-desktop{
    display: block;
}
*/
.visible-mobile{
    display: none;
}
.visible-mobile-ib{
    display: none;
}
.hidden-desktop{
    display: none;
}
