// about-chronicles



.about-chronicles{
    &_btn{
        .btn{
            padding: 13px 17px;
            letter-spacing: .3em;
        }
    }
    @media (max-width: 374px) {
        font-size: 30px;
        &_btn{
            .btn{
                letter-spacing: .1em;
            }
        }
    }
}
