// about-project-carousel



.about-project-carousel{
    &_cont{
        height: 340px;
    }
    &_category{
        margin: 10px 0 0;
        font-size: 24px;
    }
    &_sum{
        margin-top: -27px;
    }
    &_sum-val{
        font-size: 54px;
    }
    &_sum-currency{
        font-size: 22px;
    }
    &_bottom{
        bottom: 10px;
    }
    &_author{
        font-size: 26px;
    }
    &_name{
        font-size: 18px;
    }

    .owl-prev,
    .owl-next{
        left: 0;
        width: 50px;
        .s-icon{
            margin: -23px 0 0 -23px;
            font-size: 46px;
        }
    }
    .owl-next{
        left: auto;
        right: 0;
    }


    @media (max-width: 500px) {
        .owl-prev,
        .owl-next{
            .s-icon{
                margin: -14px 0 0 -14px;
                font-size: 28px;
            }
        }
    }
}

