// about-info-age



.about-info-age{
    margin: 60px 0 0;
    &_head{
        font-size: 30px;
    }
    &_i{
        font-size: 17px;
    }
    &_i-small{
        font-size: 13px;
    }
    &_lbl{
        width: 150px;
        margin-left: -75px;
        font-size: 14px;
    }


    @media (max-width: 400px) {
        &_lbl{
            font-size: 10px;
        }
    }
}

