// about-meta



.about-meta{
    &_row{
        padding: 20px 10px;
    }
    &_i{
        float: none;
        width: auto;
        min-height: 0;
        margin: 20px -10px 0;
        padding: 20px 10px 0;
        border: 0;
        border-top: 2px solid #d9d9d9;
        &:first-child{
            margin-top: 0;
            padding-top: 0;
            border: 0;
        }
    }

    &_total{
        padding: 0;
    }
    &_total-val{
        font-size: 77px;
    }

    &_projects{
        padding: 0;
    }
    &_projects-val{
        font-size: 60px;
    }

    &_wow{
        padding: 0;
    }
    &_wow-hl{
        font-size: 38px;
    }

    &_bill{
        padding: 0 0 10px;
    }
    &_bill-lbl{
        vertical-align: bottom;
        margin: 0;
        padding: 0;
        font-size: 32px;
    }
    &_bill-val{
        vertical-align: bottom;
        width: auto;
        height: auto;
        margin: 0 0 0 10px;
        padding: 0;
        font-size: 40px;
        background: none;
        color: @baseColor;
    }


    @media (max-width: 500px) {
        font-size: 20px;

        &_total-val{
            font-size: 44px;
            margin: 6px 0;
        }

        &_projects-val{
            font-size: 32px;
        }
        &_projects-lbl{
            font-size: 22px;
        }

        &_wow-hl{
            font-size: 32px;
        }
        &_wow-last{
            font-size: 24px;
        }

        &_bill-lbl{
            font-size: 24px;
        }
        &_bill-val{
            position: relative;
            top: 2px;
            font-size: 32px;
            margin: 0;
        }
    }
}
