// about-info



[class^="s-about-info-"], [class*=" s-about-info-"]{
    width: ceil(150px / 1.5);
    height: ceil(150px / 1.5);
    background-size: ceil(1150px / 1.515) auto;
}
//.s-about-info-group     { background-position: 0 0 }
.s-about-info-dance     { background-position: ceil(-200px / 1.515) 0 }
.s-about-info-stars     { background-position: ceil(-400px / 1.515) 0 }
.s-about-info-stats     { background-position: ceil(-600px / 1.515) 0 }
.s-about-info-school    { background-position: ceil(-800px / 1.515) 0 }
.s-about-info-products  { background-position: ceil(-1000px / 1.515) 0 }


.about-info{
    background-size: cover;
    &:after{
        height: 100px;
    }
    &_wrap{
        min-height: 0;
        padding: 40px 10px 80px;
    }

    &_list{
        margin-top: -50px;
    }
    &_i{
        margin-top: 50px;
    }

    &_val{
        font-size: 30px;
    }
    &_lbl{
        font-size: 15px;
        word-wrap: break-word;
    }

    &_sex{
        max-width: 160px;
    }
    &_sex-lbl{
        font-size: 15px;
    }

    @media (max-width: 580px) {
        &_i{
            width: 50%;
        }
    }

    @media (max-width: 400px) {
        &_i{
            width: 100%;
        }
    }
}
