// about-lead



.about-lead{
    &_quick-more{
        margin: 30px 0 0;
        .btn{
            width: 100%;
        }
    }


    @media (max-width: 500px) {
        &_quick{
            padding: 17px 20px 30px;
            font-size: 18px;
            line-height: 22px;
        }
        &_quick-more{
            margin-top: 20px;
            .btn{
                padding: 10px 0;
                font-size: 16px;
            }
        }

        &_text{
            padding: 0 20px;
            font-size: 13px;
        }
    }
}
