// about-categories-stats



.about-categories-stats{
    padding: 40px 0;
    &_list{
        margin: -30px 0 0;
    }
    &_i{
        float: left;
        width: 33.333333%;
        margin: 30px 0 0;
        svg{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &_i-cont{
        width: 180px;
        height: 180px;
    }
    &_cont{
        padding-top: 53px;
    }
    &_val{
        font-size: 70px;
    }
    &_val-percent{
        font-size: 40px;
    }
    &_name{
        font-size: 15px;
    }


    @media (max-width: 580px) {
        &_i{
            width: 50%;
        }
    }

    @media (max-width: 400px) {
        &_i-cont{
            width: 120px;
            height: 120px;
        }
        &_cont{
            padding: 30px 20px 0;
        }
        &_val{
            font-size: 50px;
        }
        &_val-percent{
            font-size: 30px;
        }
        &_name{
            margin-top: -3px;
            font-size: 12px;
        }
    }
}

