// about-contacts



.about-contacts{
    padding: 60px 20px;
    &_head{
        margin: 0 0 50px;
    }
    &_head-logo{
        width: 30%;
    }
    &_head-cont{
        width: 70%;
        padding: 34px 0 0 20px;
    }
    &_head-val{
        font-size: 37px;
    }

    &_i{
        margin: 50px 0 0;
    }
    &_ava{
        width: 30%;
    }
    &_ava-img{
        &:before{
            bottom: 0;
        }
    }
    &_cont{
        width: 70%;
        padding: 19px 20px 0 20px;
    }
    &_prof{
        font-size: 15px;
        line-height: 18 / 15;
    }
    &_name{
        font-size: 24px;
    }
    &_mail{
        font-size: 20px;
    }


    @media (max-width: 500px) {
        &_head{
            text-align: center;
        }
        &_head-logo{
            display: none;
        }
        &_head-cont{
            float: none;
            width: auto;
            padding: 0;
        }
        &_head-val{
            font-size: 32px;
        }

        &_ava{
            float: none !important;
            width: 60%;
            margin: auto;

        }
        &_ava-img{
            &:before{
                display: none;
            }
        }
        &_cont{
            float: none;
            width: auto;
            text-align: center !important;
        }
        &_info{
            float: none;
            max-width: none;
        }
    }
}

