// about-menu



.about-menu{
    position: relative;
    z-index: 2;
    height: 60px;
    padding: 60px 0 0;
    &_list{
        background: @baseColor;
    }
    &_i{
        display: none;
        margin: 0;
        &.active{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            border: 0 !important;
            .about-menu{
                &_link{
                    position: relative;
                    padding: 20px 0 !important;
                    &:after{
                        content: '';
                        display: inline-block;
                        vertical-align: top;
                        width: 9px;
                        height: 9px;
                        margin: 2px 0 0 15px;
                        border-right: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        transform: rotate(45deg);
                        transition: .2s;
                    }
                }
            }
        }
    }
    &_link{
        padding: 0;
        border: 0;
        border-radius: 0;
    }

    &.open{
        .about-menu{
            &_list{
                border-bottom: 1px solid darken(@baseColor, 10%);
            }
            &_i{
                display: block;
                border-top: 1px solid darken(@baseColor, 10%);
                &.active{
                    .about-menu{
                        &_link{
                            &:after{
                                margin-top: 7px;
                                transform: rotate(-135deg);
                            }
                        }
                    }
                }
            }
            &_link{
                padding: 15px 0;
            }
        }
    }
}
