// about-spec-projects



.about-spec-projects{
    padding: 50px 10px;
    &_head{
        font-size: 36px;
    }
    &_list{
        margin-left: -10px;
        margin-right: -10px;
    }
    &_i{
        padding-left: 10px;
        padding-right: 10px;
    }
    &_img{
        max-width: 180px;
        margin: auto;
    }
    &_name{
        font-size: 20px;
        line-height: 1.2;
    }


    @media (max-width: 580px) {
        &_list{
            margin-top: -40px;
        }
        &_i{
            width: 50%;
            margin-top: 40px;
        }
    }
}
