// contacts



.contacts-list{
    margin-top: 0;
    padding: 0 10px;
    .contacts-list{
        padding: 0;
    }
    &_i{
        margin: 60px 0 0;
        &:first-child{
            margin: 0;
        }
        &[class*=" col-"]{
            display: block;
        }
    }
    &_descr-cont{
        margin-right: 0;
    }
    &_ico{
        width: 120px;
    }
    &_name{
        display: flex;
        align-items: center;
        min-height: 50px;
        word-wrap: break-word;
    }


    @media (max-width: 425px) {
        margin-top: 20px;
        margin-bottom: 60px;
        [class^="s-contacts-"], [class*=" s-contacts-"]{
            width: 50px;
            height: 50px;
            background-size: 450px auto;
        }
        //.s-contacts-user        { background-position: 0 0 }
        .s-contacts-support     { background-position: -150px / 2 0 }
        .s-contacts-pr          { background-position: -300px / 2 0 }
        .s-contacts-tv          { background-position: -450px / 2 0 }
        .s-contacts-advertising { background-position: -600px / 2 0 }
        .s-contacts-requisites  { background-position: -750px / 2 0 }


        &_ico{
            width: 60px;
            margin: 0 0 15px;
        }
        &_descr{
            clear: both;
        }
    }
}




.contacts-requisites{
    @media (max-width: 500px) {
        margin: 0;
        &_i{
            margin: 20px 0 0;
        }
        &_lbl{
            float: none;
            width: auto;
            margin: 0 0 10px;
        }
    }
}
