// logos



.logos-pantone{
    font-size: 22px;
    &_i{
        float: left;
        width: 33.333333%;
        padding: 20px 10px 20px;
    }
    &_lbl{
        display: block;
    }
    &_val{
        display: block;
        margin: 10px 0 0;
    }




    @media (max-width: 480px) {
        &_i{
            float: none;
            width: auto;
            border-top: 1px solid darken(#00b8e5, 5%);
            &:first-child{
                border-top: 0;
            }
        }
    }
}


.logos{
    &_links{
        a{
            display: block;
        }
        a + a{
            margin: 15px 0 0;
        }
    }


    @media (max-width: 480px) {
        &_i{
            display: block;
            width: auto;
            margin: 30px 0 0;
            background: #f2f2f2;
            &:first-child{
                margin: 0;
            }
        }
        &_links{
            margin: 0;
            padding: 20px 0;
            border-top: 1px solid #ccc;
        }
    }
}
