// marketing-docs



.marketing-docs{
    padding-left: 10px;
    padding-right: 10px;
    &_list{
        margin-left: -10px;
        margin-right: -10px;
    }
    &_i{
        float: left;
        width: 33.333333%;
        padding-left: 10px;
        padding-right: 10px;
    }


    @media (max-width: 500px) {
        &_i{
            float: none;
            width: auto;
            margin: 20px 0 0;
            &:first-child{
                margin: 0;
            }
        }
    }
}

