// marketing-turnkey



.marketing-turnkey{
    @media (max-width: 600px) {
        &_ico{
            width: 170px;
        }
        &_cont{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 450px) {
        display: block;
        &_ico{
            display: block;
            width: auto;
            height: 170px;
        }
        &_cont{
            display: block;
            padding: 20px 10px;
            text-align: center;
        }
    }
}
