// marketing-head



.marketing-head{
    font-size: 28px;
    word-wrap: break-word;


    @media (max-width: 400px) {
        font-size: 23px;
    }
}


.marketing-post-head{
    font-size: 16px;
    &[class^="col-"], &[class*=" col-"]{
        margin-bottom: 58px;
    }
}
