// marketing-spec



.marketing-spec{
    padding: 30px 0;
    &_head,
    &_post-head{
        padding-left: 10px;
        padding-right: 10px;
    }
    &_list-wrap{
        width: auto;
    }
    &_i{
        float: none;
        width: auto;
        height: auto;
        margin: 25px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_cover{
        display: block;
        text-align: center;
        img{
            width: 100%;
            max-width: 375px;
        }
    }
    &_cont{
        display: block;
        position: relative;
        font-size: 16px;
        color: #000;
        background: none;
        opacity: 1;
        transform: none;
    }
    &_more{
        display: none;
    }
    &_in{
        max-height: none;
    }
    &_name{
        font-size: 18px;
    }

    &_my{
        width: 100%;
        height: auto;
        margin: 25px 0 0;
        padding: 0 20px 47px;
    }
    .btn-marketing-lead{
        display: block;
        max-width: 360px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
