// marketing-funding



.marketing-funding{
    padding: 30px 10px;
    &_list{
        display: block;
        margin: -80px -10px 0;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 80px 0 0;
        padding: 0 10px;
    }

    @media (max-width: 500px) {
        &_ico{
            transform: scale(.7);
        }
    }

    @media (max-width: 400px) {
        &_i{
            width: 100%;
        }
    }
}

