// marketing-feedback



.marketing-feedback{
    padding: 40px 10px 30px;
    &_head{
        font-size: 24px;
    }
    &_info{
        margin: 0 0 40px;
    }
    &_mail, &_tel{
        font-size: 22px;
    }


    @media (max-width: 500px) {
        .btn-marketing-feedback{
            display: block;
            width: 100%;
        }
    }
}

