// marketing-lead



.marketing-lead{
    min-height: 0;
    padding: 0 20px 50px;
    &_cont{
        padding: 0;
    }


    @media (max-width: 600px) {
        &:before,
        &:after{
            display: none;
        }
        &_action-btn{
            &:before{
                display: none;
            }
        }
    }

    @media (max-width: 450px) {
        &_head{
            margin-bottom: 38px;
        }
        &_text{
            font-size: 17px;
            margin-bottom: 52px;
        }
        &_action-btn{
            display: block;
        }
        .btn-marketing-lead{
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

