// partners



.partners-list{
    margin-left: 0;
    margin-right: 0;
    &_i{
        width: 33.333333%;
        padding-left: 17px;
        padding-right: 17px;
    }


    @media (max-width: 580px) {
        &_i{
            width: 50%;
        }
    }
}
