// pln-map-bubble



.pln-map-bubble{
    width: 295px;
    padding: 15px 15px 16px;


    @media(max-width: 374px) {
        width: 240px;
        padding: 10px;
        &_time-weekday,
        &_time-holiday{
            float: none;
            display: block;
        }
    }
}
