//
// Planeta Team
// --------------------------------------------


.team-page{
    .cont-header{
        border-top: 1px solid #e8e8e8;
    }
}

.team-map{
    //width: 1920px;
    //height: 987px;
    overflow: hidden;
    position: relative;
    margin: -20px 0 0;
    padding: 0 0 987/1920*100%;
    background: url(../images/team/team-wide.jpg) no-repeat 0 0~"/"cover;

    &_i{
        position: absolute;
        &.open{
            .team-map_marker{
                opacity: 1;
            }
        }
    }
    &_switch{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        &:hover{
            & + .team-map_marker{
                opacity: 1;
            }
        }
    }
    &_marker{
        opacity: 0;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 215px;
        height: 225px;
        margin: -112px 0 0 -107px;
        background: url(../images/team/team-map-marker.png) no-repeat 0 0~"/"cover;
        transition: opacity .3s;
    }
    &_popup-cont{
        padding: 30px;
        .proxima_nova_rgregular();
        font-size: 16px;
        line-height: 1.35;
        color: #262626;
        background: #fff;
    }
    &_popup{
        width: 740px;
        left: 50%;
        margin: 15px 0 0 -370px;
    }
    &_name{
        margin: 0 0 3px;
        font-size: 26px;
    }
}



.team{
    margin: 0 0 -20px;
    padding: 40px 0 100px;
    background: #fff;
    &_group{
        margin: 0 0 48px;
    }
    &_group-name{
        margin: 0 0 18px;
        .proxima-bold();
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .06em;
        color: #c0392b;
    }
    &_i{
        position: relative;
        margin: 10px 0 0;
        &:first-child{
            margin-top: 0;
        }
        &:before,
        &:after{
            opacity: 0;
            content: '';
            position: absolute;
            background: url(../images/team/s-team-list.png) no-repeat;
            transition: opacity .2s;
        }
        &:before{
            top: -6px;
            left: -26px;
            width: 263px;
            height: 45px;
        }
        &:after{
            top: -3px;
            left: 100%;
            width: 78px;
            height: 54px;
            margin: 0 0 0 -78px;
            background-position: -300px 0;
        }
    }
    &_i-name{
        position: relative;
        .proxima-light();
        font-size: 22px;
        line-height: 26px;
        &_link{
            color: #262626;
            cursor: pointer;
            transition: color .2s;
            &:hover{
                border-bottom: 1px dotted;
            }
        }
    }

    &_popup-cont{
        &:extend(.cf-mix all);
        position: relative;
        padding: 20px;
        .proxima_nova_rgregular();
        font-size: 16px;
        line-height: 1.35;
        color: #262626;
        background: #fff;
        box-shadow: 0 12px 40px fade(#000, 20);
    }
    &_popup{
        width: 740px;
        left: 118px;
        margin: 26px 0 0;
        &_close{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background: url(../images/team/s-team-list.png) no-repeat -500px 0;
            cursor: pointer;
            &:hover{
                background-position: -550px 0;
            }
        }
        &_photo{
            float: left;
            width: 150px;
            height: 150px;
            margin: 0 30px 0 0;
            img{
                display: block;
                width: 100%;
            }
        }
        &_cont{
            overflow: hidden;
        }
        &_name{
            margin: 4px 0 3px;
            font-size: 26px;
        }
    }
}

// team-i open
.team_i.open{
    &:before,
    &:after{
        opacity: 1;
    }
    .team{
        &_i-name{
            &_link{
                color: #fff;
                border: 0;
            }
        }
    }
}

// team_group__center
.team_group__center{
    .team{
        &_popup{
            left: -202px;
        }
    }
}

// team_group__right
.team_group__right{
    .team{
        &_i{
            &:after{
                left: auto;
                right: 100%;
                margin: 0 13px 0 0;
                background-position: -400px 0;
            }
        }
        &_popup{
            left: auto;
            right: 82px;
        }
    }
}
