.video-js .vjs-big-play-button {
    //font-size: 3em;
    //line-height: @big-play-button--height;
    //height: @big-play-button--height;
    //width: @big-play-button--width; // Firefox bug: For some reason without width the icon wouldn't show up. Switched to using width and removed padding.
    font-size: 10px;
    line-height: 1;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background: fade(#fff, 20);
    border: 3px solid fade(#fff, 50);
    border-radius: 50%;
    transition: .4s;

    // Since the big play button doesn't inherit from vjs-control, we need to specify a bit more than
    // other buttons for the icon.
    & .vjs-icon-placeholder {
        &:extend(.vjs-icon-mix);
        &:extend(.vjs-icon-play all);

        &:extend(.icon-default all);
        &:before{
            margin-right: -10px;
            transform: scale(2.5);
        }
    }
}

// Allow people that hate their poster image to center the big play button.
.vjs-big-play-centered .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-top: -(@big-play-button--height / 2);
    margin-left: -(@big-play-button--width / 2);
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    border-color: @primary-foreground-color;

    .background-color-with-alpha(@secondary-background-color, @secondary-background-transparency);
    .transition(all 0s);
}

// Hide if controls are disabled, the video is playing, or native controls are used.
.vjs-controls-disabled .vjs-big-play-button,
.vjs-has-started .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-error .vjs-big-play-button {
    display: none;
}

// Show big play button if video is paused and .vjs-show-big-play-button-on-pause is set on video element
.vjs-has-started.vjs-paused.vjs-show-big-play-button-on-pause .vjs-big-play-button {
    display: block;
}
