.video-js .vjs-caption-toggle-control{
    width: auto;
    padding: 0 1em;
    font-size: 12px;
}

.vjs-caption-toggle-control-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vjs-caption-toggle-icon{
    position: relative;
    width: 38px;
    height: 18px;
    margin: 0 0 0 10px;
    background: fade(#939ea7, 50);
    border-radius: 20px;
    transition: .2s;
    &:before{
        content: '';
        position: absolute;
        top: 2px;
        right: 22px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: fade(#fff, 50);
        transition: .2s;
    }
}


.video-js .vjs-caption-toggle-control:before {

}
.video-js .vjs-caption-toggle-control.vjs-enabled {
    .vjs-caption-toggle-icon{
        background: #4da1ff;
        &:before{
            right: 2px;
            background: #fff;
        }
    }
}
