.video-js .vjs-control-bar {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //height: 3.0em;
    height: 50px;
    padding: 0 .5em;
    user-select: none;

    //.background-color-with-alpha(@primary-background-color, @primary-background-transparency);
    //background: linear-gradient(fade(#000, 0), #000);
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 98px;
        background-repeat: repeat-x;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
        background-position: bottom;
    }
}

// Video has started playing
.vjs-has-started .vjs-control-bar {
    .display-flex;
    visibility: visible;
    opacity: 1;

    @trans: visibility 0.1s, opacity 0.1s; // Var needed because of comma
    .transition(@trans);
}

// Video has started playing AND user is inactive
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    // Remain visible for screen reader and keyboard users
    visibility: visible;
    opacity: 0;

    @trans: visibility 1.0s, opacity 1.0s;
    .transition(@trans);

}

.vjs-controls-disabled .vjs-control-bar,
.vjs-using-native-controls .vjs-control-bar,
.vjs-error .vjs-control-bar {
    // !important is ok in this context.
    display: none !important;
}

// Don't hide the control bar if it's audio
.vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    opacity: 1;
    visibility: visible;
}

// IE 8 + 9 Support
.vjs-has-started.vjs-no-flex .vjs-control-bar {
    display: table;
}
