.video-js .vjs-fullscreen-control {
    cursor: pointer;
    .flex(none);

    & .vjs-icon-placeholder {
        &:extend(.vjs-icon-mix);
        &:extend(.vjs-icon-fullscreen-enter all);
    }
    &:hover{
        & .vjs-icon-placeholder {
            &:extend(.vjs-icon-fullscreen-enter-hover all);
        }
    }
}

// Switch to the exit icon when the player is in fullscreen
.video-js.vjs-fullscreen .vjs-fullscreen-control{
    & .vjs-icon-placeholder {
        &:extend(.vjs-icon-fullscreen-exit all);
    }
    &:hover{
        & .vjs-icon-placeholder {
            &:extend(.vjs-icon-fullscreen-exit-hover all);
        }
    }
}
