.video-js .vjs-play-control{
    width: 6em;
}
.video-js .vjs-play-control .vjs-icon-placeholder {
    cursor: pointer;
    .flex(none);
    &:extend(.vjs-icon-mix);
    &:extend(.vjs-icon-play all);
}

.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder {
    &:extend(.vjs-icon-pause all);
}

.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder {
    &:extend(.vjs-icon-replay all);
}
