// TODO: I feel like this should be a generic menu. Research later.
.vjs-playback-rate .vjs-playback-rate-value {
    font-size: 1.5em;
    line-height: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vjs-playback-rate .vjs-menu {
    width: 4em;
    left: 0em;
}
