// .vjs-progress-control / ProgressControl
//
// This is the container for all progress bar-related components/elements.
.video-js .vjs-progress-control {
    cursor: pointer;
    .flex(auto);
    .display-flex(center);
    min-width: 4em;
}

.vjs-live .vjs-progress-control {
    display: none;
}

.vjs-no-flex .vjs-progress-control {
    width: auto;
}

// .vjs-progress-holder / SeekBar
//
// Box containing play and load progress bars. It also acts as seek scrubber.
.video-js .vjs-progress-holder {
    .flex(auto);
    //.transition(all 0.2s);
    height: 4px;
}

.video-js .vjs-progress-control .vjs-progress-holder {

    // This is one of the rare cases where we are using a pixel dimension. The
    // reason is that the progress holder font-size changes on hover. With the
    // default em-based margins, this means it gets narrower and causes issues
    // with mouseover behaviors/math.
    margin: 0 10px;

    &, & *:not(.vjs-time-tooltip){
        border-radius: 10px;

    }
}

// This increases the size of the progress holder so there is an increased
// hit area for clicks/touches.
.video-js .vjs-progress-control.vjs-progress-dragging .vjs-progress-holder,
.video-js .vjs-progress-control:hover .vjs-progress-holder {
    //font-size: 1.666666666666666666em;
}

// .vjs-play-progress / PlayProgressBar and .vjs-load-progress / LoadProgressBar
//
// These are bars that appear within the progress control to communicate the
// amount of media that has played back and the amount of media that has
// loaded, respectively.
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
    position: absolute;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    // updated by javascript during playback
    width: 0;
    // Needed for IE6
    left: 0;
    top: 0;
}

.video-js .vjs-play-progress {
    width: 100%;

    //background-color: @primary-foreground-color;
    background-color: #4da1ff;
    //&:extend(.vjs-icon-mix);
    //&:extend(.vjs-icon-circle all);

    // Progress handle
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        margin: -5px -7px 0 0;
        width: 14px;
        height: 14px;
        background: #4da1ff;
        border: 4px solid #fff;
        border-radius: 50%;
        transition: .2s;
        transform: scale(0);
    }
}
.video-js .vjs-progress-control.vjs-progress-dragging,
.video-js .vjs-progress-control:hover {
    .vjs-play-progress {
        &:before {
            transform: scale(1);
        }
    }
}

.video-js.vjs-playing .vjs-play-progress {
    //transition: width .6s linear;
}


.video-js .vjs-load-progress {
    // For IE8, we'll lighten the color
    //background: lighten(@secondary-background-color, 25%);
    // Otherwise, we'll rely on stacked opacities
    //background: fade(@secondary-background-color, @secondary-background-transparency * 100);
    background: fade(#fff, 10);
}

// There are child elements of the load progress bar that represent the
// specific time ranges that have been buffered.
.video-js .vjs-load-progress div {
    display: none;
    // For IE8, we'll lighten the color
    //background: lighten(@secondary-background-color, 50%);
    // Otherwise, we'll rely on stacked opacities
    //background: fade(@secondary-background-color, 75);
}

// .vjs-time-tooltip
//
// These elements are displayed above the progress bar.
//
// By default, they are hidden and only shown when hovering over the progress
// control.
.video-js .vjs-time-tooltip {
    background: fade(#000, 50);
    border-radius: .3em;
    color: #000;

    // By floating the tooltips to the right, their right edge becomes aligned
    // with the right edge of their parent element. However, in order to have them
    // centered, they must be pulled further to the right via positioning (e.g.
    // `right: -10px;`. This part is left to JavaScript.
    float: right;
    font-family: @text-font-family;

    // The font-size should translate to a consistent 10px for time tooltips in
    // all states. This is tricky because the .vjs-progress-holder element
    // changes its font-size when the .vjs-progress-control is hovered.
    font-size: 1em;
    padding: 8px;
    pointer-events: none;
    position: relative;
    top: -3.4em;
    visibility: hidden;
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -6px;
        font-size: 0;
        border-top: 6px solid fade(#000, 50);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }
}

.video-js .vjs-progress-holder:focus .vjs-time-tooltip {
    display: none;
}

.video-js .vjs-progress-control.vjs-progress-dragging,
.video-js .vjs-progress-control:hover {
    .vjs-time-tooltip,
    .vjs-progress-holder:focus .vjs-time-tooltip {
        display: block;

        // Ensure that we maintain a font-size of ~10px.
        font-size: 12px;
        visibility: visible;
    }
}

// .vjs-mouse-display / MouseTimeDisplay
//
// This element tracks the mouse position along the progress control and
// includes a tooltip, which displays the time at that point in the media.
.video-js .vjs-progress-control .vjs-mouse-display {
    display: none;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    z-index: 1;
    user-select: none;
}

.vjs-no-flex .vjs-progress-control .vjs-mouse-display {
    z-index: 0;
}

.video-js .vjs-progress-control.vjs-progress-dragging .vjs-mouse-display,
.video-js .vjs-progress-control:hover .vjs-mouse-display {
    display: block;
}

.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display {
    visibility: hidden;
    opacity: 0;
    @trans: visibility 1.0s, opacity 1.0s;
    .transition(@trans);
}

.video-js.vjs-user-inactive.vjs-no-flex .vjs-progress-control .vjs-mouse-display {
    display: none;
}

.vjs-mouse-display .vjs-time-tooltip {
    color: #fff;
    background: fade(#000, 50);
}
