.video-js .vjs-repeat-control{
    width: auto;
    flex: auto;
    cursor: pointer;
}

.vjs-repeat-control-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .vjs-repeat-label{
        font-size: 12px;
        line-height: 14px;
        background: linear-gradient(fade(#fff, 30), fade(#fff, 30)) repeat-x;
        background-size: 100% 1px;
        background-position: 0 100%;
    }
}
