// video.js resolution-switcher



.video-js .vjs-resolution{
    width: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .vjs-menu{
        display: none;
    }
    .vjs-menu{
        bottom: 100%;
        left: 0;
        right: 0;
        width: auto;
        margin: 0;
        border: 0;
        .vjs-menu-content{
            width: 60px;
            left: 50%;
            bottom: -40px;
            margin-left: -30px;
            padding: 0 0 30px;
            background: fade(#000, 70);
            border-radius: 4px;
        }
        li{
            padding: .4em 0;
            font-size: 1.3em;
            &:focus{
                background: none;
            }
            &:hover{
                background: fade(#fff, 40);
            }
            &.vjs-selected{
                background: #fff;
            }
        }
    }
}

.video-js .vjs-resolution-button{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    .vjs-icon-placeholder{
        &:before{
            display: none;
        }
    }
}




.vjs-resolution-button-label {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    white-space: nowrap;
    &:after{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 0;
        height: 0;
        margin: 12px 0 0 4px;
        font-size: 0;
        border-top: 4px solid #fff;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
}

