.video-js .vjs-share-control{
    width: 6em;
    .vjs-icon-placeholder {
        cursor: pointer;
        .flex(none);
        &:extend(.vjs-icon-mix);
        &:extend(.vjs-icon-share all);
    }
    .vjs-share-control-inner{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 30px;
        text-align: center;
        background: #4da1ff;
        border-radius: 5px;
    }
}
