.video-js .vjs-slider {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0 0.45em 0 0.45em;

    //.background-color-with-alpha(@secondary-background-color, @secondary-background-transparency);
    background: fade(#fff, 30);

}

.vjs-slider-bar{
    transform-origin: 0;
    &.vjs-slider-vertical{
        transform-origin: 100%;
    }
}

.video-js .vjs-slider:focus {
    //text-shadow: 0 0 1em fade(@primary-foreground-color, 100);

    //.box-shadow(0 0 1em @primary-foreground-color);
}
