// North America uses 'CC' icon
/*
.video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-js:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder {
    &:extend(.vjs-icon-captions all);
}
*/

// ROW uses 'subtitles'
// Double selector because @extend puts these rules above the captions icon
/*
.video-js.video-js:lang(en-GB) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-js.video-js:lang(en-IE) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-js.video-js:lang(en-AU) .vjs-subs-caps-button .vjs-icon-placeholder,
.video-js.video-js:lang(en-NZ) .vjs-subs-caps-button .vjs-icon-placeholder,
*/
.video-js .vjs-subs-caps-button .vjs-icon-placeholder {
    &:extend(.vjs-icon-mix);
    &:extend(.vjs-icon-subtitles all);
}

.video-js .vjs-subs-caps-button + .vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder {
    position: absolute;
}

.video-js .vjs-subs-caps-button + .vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder:before {
    font-family: VideoJS;
    content: "\f10d";
    font-size: 1.5em;
    line-height: inherit;
}
