// video.js thumbnails



.vjs-thumbnail-holder {
    position: absolute;
    left: -1000px;
    bottom: 100%;
    pointer-events: none;
    transition: opacity .15s;
    opacity: 0;
    //display: none;
}

.video-js .vjs-progress-control.vjs-progress-dragging,
.video-js .vjs-progress-control:hover {
    .vjs-thumbnail-holder {
        opacity: 1;
        //display: block;
    }
}

.vjs-thumbnail-img-wrap {
    position: absolute;
    left: -3px;
    bottom: 16px;
    padding: 3px 3px 2px;
    border-radius: 4px !important;
    background: fade(#000, 30);
    box-sizing: content-box;
}

/* the thumbnail image itself */
.vjs-thumbnail-img {
    width: 100%;
    height: 99%;
    max-width: none;
    border-radius: 0 !important;
    background: no-repeat;
}

/* fade in the thumbnail when hovering over the progress bar */

/* .fake-active is needed for Android only. It's removed on touchend/touchecancel */
.vjs-progress-control:hover .vjs-thumbnail-img,
.vjs-progress-control.fake-active .vjs-thumbnail-img,
.vjs-progress-control:active .vjs-thumbnail-img,
.vjs-progress-control:hover .vjs-thumbnail-time,
.vjs-progress-control.fake-active .vjs-thumbnail-time,
.vjs-progress-control:active .vjs-thumbnail-time {
    //opacity: 1;
}

/* ... but hide the thumbnail when hovering directly over it */
.vjs-progress-control:hover .vjs-thumbnail-holder:hover,
.vjs-progress-control:active .vjs-thumbnail-holder:active,
.vjs-progress-control:hover .vjs-thumbnail-holder:hover .vjs-thumbnail-time,
.vjs-progress-control:active .vjs-thumbnail-holder:active .vjs-thumbnail-time {
    //opacity: 0;
}

.vjs-thumbnail-time {
    bottom: 19px;
    color: #fff;
    font-size: 1.5em;
    min-width: 60px;
    margin-left: -30px;
    position: absolute;
    z-index: 100;
    background: fade(#000, 30);
    padding: 4px;
    border-radius: 0 !important;
}

.vjs-thumbnail-arrow {
    bottom: 0;
    position: absolute;
    opacity: 0.7;
    width: 10px;
    margin-left: -5px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

.video-js{
    overflow: hidden;
}
