.video-js .vjs-time-duration{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    .vjs-current-time{
        display: block;
        height: auto;
        padding-right: 0;
    }
    .vjs-time-divider{
        display: block;
        min-width: 0;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
        opacity: .8;
    }
    .vjs-duration{
        display: block;
        height: auto;
        padding-left: 0;
        opacity: .8;
    }
}

