.video-js .vjs-tiny-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    .vjs-progress-holder{
        margin: 0;
    }
    .vjs-play-progress:before{
        display: none;
    }
    .vjs-slider{
        cursor: default;
        background: none;
    }
    .vjs-load-progress{
        background: fade(#fff, 20);
    }
}

