.video-js .vjs-mute-control {
    cursor: pointer;
    .flex(none);
    // padding here is for IE < 9, it doesn't do width: auto from
    // another style correctly
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;

    & .vjs-icon-placeholder {
        &:extend(.vjs-icon-mix);
        &:extend(.vjs-icon-volume-high all);
    }
}

.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder {
    &:extend(.vjs-icon-volume-mute all);
}

.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder {
    &:extend(.vjs-icon-volume-low all);
}

.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder {
    &:extend(.vjs-icon-volume-mid all);
}

.video-js .vjs-volume-control {
    cursor: pointer;
    margin-right: 1em;
    .display-flex();
}

.video-js .vjs-volume-control.vjs-volume-horizontal {
    width: 5em;
}

.video-js .vjs-volume-panel .vjs-volume-control {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin-left: -1px;
}

/*
.vjs-no-flex .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  & .vjs-volume-bar,
  & .vjs-volume-level {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
*/

.video-js .vjs-volume-panel {
    &:hover .vjs-volume-control,
    &:active .vjs-volume-control,
    //&:focus .vjs-volume-control,
    & .vjs-volume-control:hover,
    & .vjs-volume-control:active,
    //& .vjs-volume-control:focus,
    & .vjs-mute-control:hover ~ .vjs-volume-control,
    & .vjs-mute-control:active ~ .vjs-volume-control,
    //& .vjs-mute-control:focus ~ .vjs-volume-control,
    & .vjs-volume-control.vjs-slider-active {
        &.vjs-volume-horizontal {
            width: 5em;
            height: 3em;
        }

        visibility: visible;
        opacity: 1;
        position: relative;

        /*
        &.vjs-volume-vertical {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          & .vjs-volume-bar,
          & .vjs-volume-level {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          }
        }
        */


        @transition-property: visibility 0.1s, opacity 0.1s, height 0.1s, width 0.1s, left 0s, top 0s;
        .transition(@transition-property);
    }

    & .vjs-volume-control:hover,
    & .vjs-volume-control:active,
    & .vjs-volume-control.vjs-slider-active {
        &.vjs-volume-vertical {
            .vjs-volume-level {
                &:before{
                    transform: scale(1);
                    //opacity: 1;
                }
            }
        }
    }


    &.vjs-volume-panel-horizontal {
        &:hover,
        &:focus,
        &:active,
        &.vjs-slider-active {
            width: 9em;

            .transition(width 0.1s);
        }
    }

    .transition(width 1s);
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
    height: 50px;
    width: 3em;
    left: -3.5em;

    //@transition-property: visibility 1s, opacity 1s, height 1s 1s, width 1s 1s, left 1s 1s, top 1s 1s;
    //.transition(@transition-property);
    transition: visibility .4s, opacity .4s;
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
    //@transition-property: visibility 1s, opacity 1s, height 1s 1s, width 1s, left 1s 1s, top 1s 1s;
    //.transition(@transition-property);
    transition: visibility 1s, opacity 1s;
}

.video-js.vjs-no-flex .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
    width: 5em;
    height: 3em;

    visibility: visible;
    opacity: 1;
    position: relative;

    .transition(none);
}

.video-js.vjs-no-flex .vjs-volume-control.vjs-volume-vertical,
.video-js.vjs-no-flex .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
    position: absolute;
    bottom: 3em;
    left: 0.5em;
}

.video-js .vjs-volume-panel {
    .display-flex();
}

.video-js .vjs-volume-bar {
    margin: 1.35em 0.45em;
}

.vjs-volume-bar.vjs-slider-horizontal {
    width: 5em;
    height: 0.3em;
}

.vjs-volume-bar.vjs-slider-vertical {
    width: 6px;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.video-js .vjs-volume-level {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: @primary-foreground-color;

    //&:extend(.vjs-icon-mix);
    //&:extend(.vjs-icon-circle all);

    // Volume handle
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: scale(0);
        width: 12px;
        height: 12px;
        margin: -5px 0 0 -6px;
        background: #fff;
        border-radius: 50%;
        //opacity: 0;
        transition: .1s;
    }
}

.vjs-slider-vertical .vjs-volume-level {
    width: 100%;
    border-radius: 5px;

    // Volume handle
    /*
    &:before {
        top: -0.5em;
        left: -0.3em;
    }
    */
}

.vjs-slider-horizontal .vjs-volume-level {
    height: 0.3em;

    // Volume handle
    &:before {
        top: -0.3em;
        right: -0.5em;
    }
}

.video-js .vjs-volume-panel.vjs-volume-panel-vertical {
    width: 4em;
}

// Assumes volume starts at 1.0.
.vjs-volume-bar.vjs-slider-vertical .vjs-volume-level {
    height: 100%;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
    width: 100%;
}

.video-js .vjs-volume-vertical {
    width: 3em;
    height: 8em;
    bottom: 100%;

    //.background-color-with-alpha(@primary-background-color, @primary-background-transparency);
}

.video-js .vjs-volume-horizontal .vjs-menu {
    left: -2em;
}
