// Main






html{height: 100%;}
body{
    position: relative;
    min-width: 1000px;
    min-height: 100%;
    font: 18px/1.333333 @ff-gotham-pro;
    color: #000;
    background: #fff url(../images/clever/body-bg.png);
}

.wrap{
    &:extend(.cf-mix all);
    width: 920px + @grid960GutterWidth*2;
    margin: auto;
}

a{
    color: @plnblue;
    text-decoration: underline;
    &:hover{
        //color: darken(#ffd105, 15%);
    }
}

// header
.header{
    &:extend(.cf-mix all);
    padding: 22px 0 18px;
    background: url(../images/clever/header-bg.png) 50% 0;
    &_name{
        width: 546px;
        height: 109px;
        margin: 11px auto 0;
        background: url(../images/clever/header-name.png) no-repeat;
    }
}
.logo{
    float: left;
    width: 132px;
    height: 132px;
    margin: 0 0 0 -10px;
    background: url(../images/clever/logo.png) no-repeat;
}
.pln-logo{
    display: block;
    width: 162px;
    height: 42px;
    background: url(../images/pln-logo.svg) no-repeat;
    &_wrap{
        float: right;
        margin: 26px -10px 0 0;
        padding: 16px;
        background: #fff;
        border-radius: 100px;
    }
}
// /header



.main-head{
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}




// clever books
.clever-books{
    position: relative;
    padding: 53px 0 100px;
    &_head{
        margin: 0 0 21px;
        font-size: 32px;
        line-height: 44px;
        font-weight: 500;
    }
    &_text{
        font-size: 21px;
        line-height: 34px;
    }
    &_img{
        position: absolute;
        top: 81px;
        right: -50px;
    }
}
// /clever books


// clever projects
.clever-projects{
    position: relative;
    padding: 51px 0 53px;
    border: solid #e3a104;
    border-width: 3px 0;
    background: #fff;
    &_cont{
        position: relative;
    }
    &_girl{
        position: absolute;
        top: 132px;
        right: 0;
        width: 203px;
        height: 227px;
        background: url(../images/clever/projects-girl.png) no-repeat;
    }
    &_boy{
        position: absolute;
        bottom: -53px;
        left: -142px;
        width: 132px;
        height: 176px;
        background: url(../images/clever/projects-boy.png) no-repeat;
    }
    &_head{
        margin: 0 0 35px;
        color: #febe27;
        text-align: center;
    }
    .project-card-link{
        min-height: 506px;
    }
}
// /clever projects



// clever director
.clever-director{
    padding: 27px 0 34px;
    border-bottom: 3px solid #e3a104;
    background: url(../images/clever/clever-director.png) no-repeat 50% 80px;
    &_cont{
        width: 660px;
        padding: 33px;
        margin: auto;
        border: 18px solid #9ecdff;
        background: #fff;
        box-shadow: 0 14px 16px fade(#64450e, 26);
    }
    &_head{
        margin: 0 0 18px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
    &_text{
        position: relative;
        font-size: 14px;
        line-height: 23px;
        &:before, &:after{
            content: '';
            width: 37px;
            height: 30px;
            background: url(../images/clever/director-bq.png) no-repeat;
        }
        &:before{
            position: absolute;
            top: -12px;
            left: -41px;
        }
        &:after{
            position: relative;
            top: 1px;
            display: inline-block;
            vertical-align: top;
            background-position: -50px 0;
        }
    }
}
// /clever director


// clever month
.clever-month{
    padding: 37px 0 50px;
    &_info{
        height: 84px;
        margin: 0 0 42px;
        padding: 4px 0 0 110px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
        background: url(../images/clever/month-info.png) no-repeat;
    }

    &_i{
        font-size: 14px;
        line-height: 21px;
        &:last-child{
            .clever-month_i-head{
                color: #209eff;
            }
            .clever-month_i-wrap{
                background: #209eff;
            }
        }
    }
    &_i-head{
        margin: 0 0 20px;
        font-size: 34px;
        line-height: 1.1;
        font-weight: 700;
        color: #76bc07;
    }
    &_i-wrap{
        &:extend(.cf-mix all);
        padding: 13px;
        color: #fff;
        background: #76bc07;
        box-shadow: 0 8px 21px fade(#274153, 26);
    }
    &_i-img{
        float: left;
        margin: 0 30px 0 0;
    }
    &_i-cont{
        overflow: hidden;
    }
    &_i-name{
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
    }

    .clever-month {
        &_i-wrap {
            &.empty {

                .clever-month {
                    &_i-descr {
                        height: 275px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
// /clever month




// clever events
.clever-event{
    padding: 180px 0 78px;
    border: solid #d1d8de;
    border-width: 3px 0;
    background: #d72030 url(../images/clever/event-bg.png) no-repeat 50% 0;
    &_head{
        margin: 0 0 8px;
        color: #fff;
        text-align: center;
    }
    &_lead{
        margin: 0 0 40px;
        padding: 30px 40px 40px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 8px 10px fade(#274153, 26);
        text-align: center;
        &_head{
            font-size: 18px;
            line-height: 41px;
            font-weight: 500;
            letter-spacing: .2em;
            text-transform: uppercase;
        }
        &_name{
            margin: -3px 0 28px;
            font-size: 30px;
            line-height: 41px;
            font-weight: 700;
        }
        &_action{
            .btn{
                padding: 15px 23px;
                font-size: 25px;
                font-weight: 700;
            }
        }
    }


    &_meta{
        &:extend(.cf-mix all);
    }


    &_info{
        float: left;
        height: 290px;
        width: 560px;
        margin: 0 30px 0 0;
        padding: 15px 23px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 8px 10px fade(#274153, 26);
        &_logo{
            float: right;
            width: 173px;
            height: 91px;
            margin: 0 0 0 10px;
            background: url(../images/clever/hamleys.png) no-repeat;
        }
        &_date{
            margin: 3px 0 14px;
            font-size: 14px;
            line-height: 1;
            font-weight: 700;
            letter-spacing: .08em;
            text-transform: uppercase;
            color: #d50f2a;
        }
        &_name{
            margin: 0 0 2px;
            font-size: 21px;
            line-height: 24px;
            font-weight: 500;
            color: #464545;
        }
        &_place{
            font-size: 18px;
            line-height: 24px;
            color: #464545;
        }
    }


    &_map{
        position: relative;
        height: 290px;
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        transform: translateZ(0px);
        box-shadow: 0 8px 10px fade(#274153, 26);
        #map, iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.clever-month-event {
    margin: 50px 0px;
    border-top: 3px solid #d1d8de;

    .well {
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(39,65,83,0.26);
        padding: 42px;
        margin-bottom: 20px;

        .notice {
            font-size: 21px;
            line-height: 32px;
            font-weight: 500;
            color: #464545;
        }

        .pre-title {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 18px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .title {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 40px;
        }

        .action-card-block {
            &.center {
                text-align: center;
            }
        }
    }
}

.time-counter{
    margin: 27px 0 0;
    &_head{
        position: relative;
        font-size: 15px;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        &_ttl{
            position: relative;
            z-index: 1;
            padding: 0 9px;
            background: #fff;
        }
        &:before, &:after{
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            right: 0;
            border-top: 2px solid #c4c4c4;
        }
        &:after{
            top: 8px;
        }
    }
    &_counter{
        &:extend(.cf-mix all);
    }
    &_i{
        position: relative;
        float: left;
        width: 25%;
        text-align: center;
    }
    &_val{
        margin: 20px 0 -8px;
        font-size: 73px;
        line-height: 1;
        font-weight: 500;
        color: #585858;
    }
    &_lbl{
        font: italic 18px/20px Georgia, serif;
        color: #2f2f2f;
        text-transform: lowercase;
    }
    &_delimiter{
        position: absolute;
        top: 15px;
        left: -11px;
        font-size: 73px;
        line-height: 1;
        font-weight: 500;
        color: #585858;
    }
}
// /clever events




// clever product
.clever-products{
    padding: 44px 0 70px;
    &_head{
        margin: 0 0 36px;
        text-align: center;
    }
    .product-card{
        &_link{
            text-decoration: none;
        }
    }
}
// /clever product




// clever share
.clever-share{
    padding: 34px 0 144px;
    border-top: 3px solid #d1d8de;
    background: fade(#f1f3f5, 45) url(../images/clever/share-bg.png) no-repeat 50% 100%;
    text-align: center;
    &_head{
        margin: 0 0 18px;
    }
    .bs-icon-size(58);
    [class^="bs-icons-"] {
        border-radius: 0;
    }
    .spsb-item{
        margin-left: 10px;
    }
}
// /clever share

.btn {
    border-radius: 5px;
    font-family: @ff-gotham-pro;
}

.btn-orange {
    background: #febe27;
    border: none;
    box-shadow: 0 3px 0 #dba119;
    color: #ffffff;

    &:hover {
        background: #f6b10e;
        color: #ffffff;
    }
}

.btn-white {
    border: none;
    background: #ffffff;
    padding: 10px 15px;

    &:hover {
        background: #fbfbfb;
    }
}

.btn-big {
    padding: 16px 26px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}

.tac {
    text-align: center;
}

.mrg-t-10 {
    margin-top: 10px;
}
