//
// Planeta Product Card
//
// --------------------------------------------


.product-card{
    &:extend(.cf-mix all);
    margin: -20px 0 20px -20px;
    &, & *{
        box-sizing: content-box;
    }
    .list-loader{
        clear: both;
        margin: 0 0 0 @gridGutterWidth;
        padding: 20px 0 0;
    }
    &_i{
        position: relative;
        float: left;
        width: 218px;
        margin: 20px 0 0 20px;
        .proxima_nova_rgregular();
        border: 1px solid #dfe1e1;
        word-wrap: break-word;
    }
    &_link{
        display: block;
        height: 312px;
        padding: 15px 15px 11px;
        background: #fff;
        &, &:focus{
            outline: none;
        }
        &, &:hover{
            color: #000;
            text-decoration: none;
        }
        > span{
            display: block;
        }
    }
    &_cover-wrap{
        margin: -11px -11px 14px;
        border: 1px solid #e6e6e6;
    }
    &_cover{
        display: block;
    }
    &_name{
        height: 60px;
        overflow: hidden;
        margin: 0 0 13px;
        font-size: 16px;
        line-height: 20px;
    }
    &_label{
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 10px;
        .proxima-bold();
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        background: #3498db;
        border: solid #fff;
        border-width: 0 0 1px 1px;
    }
    &_price{
        font-size: 24px;
        line-height: 18px;
        color: @linkColor;
    }

    &_all{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 14px;
        font: 300 40px/1 @ff-proxima-nova;
        text-align: center;
        color: #52adea;
        background: @baseColor;
        & > span{
            display: block;
        }
        &_count-val{
            margin: 50px 0 2px;
            font-size: 180px;
            line-height: 0.7;
            letter-spacing: -.07em;
        }
        &_more{
            margin: 42px 0 0;
            .btn{
                color: @baseColor;
                border-color: #fff;
                background: #fff;
            }
        }
    }
}

// __project-sidebar
.product-card__project-sidebar{
    .product-card{
        &_i{
            float: none;
            width: auto;
        }
        &_link{
            height: 400px;
            padding: 19px 19px 11px;
        }
        &_cover-wrap{
            margin: -5px -5px 15px;
        }
        &_cover{
            width: 276px;
            height: 276px;
        }
        &_name{
            height: 24px * 3;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 24px;
        }
    }
}
// /__project-sidebar




// product card modal
.modal-product-card{
    width: 750px;
}
.modal-product-img{
    float: left;
    width: 168px;
    height: 168px;
    overflow: hidden;
    margin: 1px 33px 0 0;
    img{
        display: block;
    }
}
.modal-product-cont{
    overflow: hidden;
    .product-sizes{
        margin: 0 0 25px;
        &_head{
            margin: 0 0 10px;
            font-size: 11px;
            line-height: 13px;
            font-weight: 700;
            color: #93989b;
            text-transform: uppercase;
            letter-spacing: .2em;
        }
    }
}
.modal-product-descr{
    margin: 0 0 10px;
    font: 14px/21px @baseFontFamily;
}
.modal-product-more{
    font-size: 11px;
    text-transform: uppercase;
    a{
        text-decoration: underline;
    }
}

.modal-product-label{
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    color: #93989b;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.modal-product-counter-label{
    float: left;
    width: 186px;
    margin: 0 16px 0 0;
    line-height: 40px;
}
.modal-product-input{
    width: 80px;
    height: 40px;
    margin: 0;
    padding: 7px 23px;
    .proxima-bold();
    font-size: 16px;
    line-height: 24px;
    color: @linkColor;
    text-align: center;
    border-radius: 0;
    border: 1px solid @linkColor;
    box-shadow: none;
}
.modal-product-counter{
    position: relative;
    float: left;
}
.modal-product-counter-btn{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 38px;
    .proxima_nova_rgregular();
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    color: @linkColor;
    &:hover{
        color: @linkColorHover;
    }
    &.plus{
        left: auto;
        right: 1px;
        font-size: 24px;
        line-height: 40px;
    }
    &.disabled{
        color: #afafaf !important;
        cursor: default;
    }
}

.modal-product-sum-label{
    float: left;
    margin: 0 16px 0 0;
    line-height: 40px;
}
.modal-product-sum{
    float: left;
    margin: 0 16px 0 0;
    .proxima-bold();
    font-size: 21px;
    line-height: 40px;
    color: @linkColor;
}
.modal-product-submit{
    float: left;
    width: 150px !important;
    margin: 0;
    padding: 10px 0;
}
// /product card modal
