// TOOLTIP
// ------=

.twipsy {
    position: absolute;
    z-index: @zindexTooltip + 100;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    font-style: normal;
    .opacity(0);
    &.in     { .opacity(100); }
    &.top    { margin-top:  -2px; }
    &.right  { margin-left:  2px; }
    &.bottom { margin-top:   2px; }
    &.left   { margin-left: -2px; }
    //&.top .twipsy-arrow    { #popoverArrow > .top(); }
    &.left .twipsy-arrow   { #popoverArrow > .left(); }
    &.bottom .twipsy-arrow { #popoverArrow > .bottom(); }
    &.right .twipsy-arrow  { #popoverArrow > .right(); }
}
.twipsy-wrapper {
    border: 2px solid @baseColor;
}
.twipsy-inner {
    position: relative;
    z-index: 1;
    max-width: 300px;
    padding: 7px 12px;
    text-align: left;
    text-decoration: none;
    background: #fff;
    font-size: 14px;
    color: #808080;
}
.twipsy-arrow {
    &:extend(.request-arr all);
    top: 100% !important;
    margin-top: -15px !important;
}
