.msg-header {
    margin-bottom: 0;
}

.msg {
    border: 1px #ccc solid;
    position: relative;
    padding: 0;
}

.msg .msg-modal {
    cursor: s-resize;
    margin: 0;
    width: 100%;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 300px;
}

.msg .msg-iframe {
    width:100%;
    min-height: 300px;
    display: block;
}

.big-font {
    font-size: 18px;
}

.control-group.error > .redactor_box {
    border: 1px solid #B94A48;
}

.redactor_toolbar li a.redactor_btn_name span {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll 5px 5px transparent;
}

.redactor_toolbar li a.redactor_btn_unsubscribe span {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll -428px -115px transparent;
}

.redactor_toolbar li a.redactor_btn_unsubscribe_url span {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll -68px -115px transparent;
}
.redactor_toolbar li a.redactor_btn_email span {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll -211px 5px transparent;
}

.text-status.error {
    color: #b94a48;
}

.text-status.success {
    color: #468847;
}

.dropdown-menu a:hover>.text-status {
    color: #ffffff !important;
}

.stats {
    height: 300px;
}

.stats-caption {
    text-align: center;
}

.btn-expand {
    display: block;
}

.modal-fixed {
    position: relative;
    top: 0;
    margin-top: 0;
}

.label-mini {
    font-weight: normal;
}

.cke_button .cke_button__name_icon {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll 0px -1px transparent;
}
.cke_button .cke_button__email_icon {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll -216px 0px transparent;
}
.cke_button .cke_button__unsubscribe_icon {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll -72px -120px transparent;
}
.cke_button .cke_button__unsubscribelink_icon {
    background: url(../img/icon-sprite-gray.png) no-repeat scroll -433px -120px transparent;
}
