html {
	padding: 0;
	margin: 0;
}
#page {
	margin: 20px;	
	background: #fff;
}
#page:focus {
	outline: none;
}
blockquote {
	margin-left: 3em;
	font-style: italic;
	color: #777;	
}
table td {
    border: 1px dotted #ddd;
}
