<div class="profile-project-card_i-cont">
    <div class="profile-project-card_project">
        <div class="profile-project-info">
            <div class="profile-project-info_cover">
                <div class="profile-project-info_cover-in">
                    <img class="profile-project-info_img" [src]="getImageUrl(project.imageUrl)">
                </div>
            </div>
            <div class="profile-project-info_text">
                <div class="profile-project-info_name">
                    <a class="profile-project-info_name-add" *ngIf="!project.nameHtml" href="javascript:void(0)"
                       translate>profile-page.card.add-name</a>
                    <a class="profile-project-info_name-link" *ngIf="project.nameHtml && project.campaignStatus != 'DELETED'"
                       [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias"
                       [innerHtml]="project.nameHtml"></a>
                    <div *ngIf="project.campaignStatus === 'DELETED'"
                       [innerHtml]="project.nameHtml"></div>
                </div>
                <div class="profile-project-info_descr" *ngIf="project.shortDescriptionHtml"
                     [innerHtml]="project.shortDescriptionHtml"></div>
                <div class="profile-project-info_descr" *ngIf="!project.shortDescriptionHtml">
                    <a href="javascript:void(0)" translate>profile-page.card.add-descr</a>
                </div>
            </div>
            <div class="profile-project-info_status">
                <div class="status-badge status-badge__m" [ngClass]="badgeClass" translate>
                    {{badgeTitle}}
                </div>
            </div>
            <div class="profile-project-info_progress" *ngIf="project.campaignStatus != 'ACTIVE'">
                <span class="project-card-footer">
                    <span class="project-card-progress over-progress" *ngIf="project.targetStatus === 'SUCCESS' && collectedPercent > 100">
                        <span class="pcp-bar" [style.width]="(collectedPercent > 100 ? collectedPercent % 100 : collectedPercent) + '%'"></span>
                    </span>
                    <span class="project-card-progress progress" *ngIf="project.targetStatus === 'SUCCESS' && collectedPercent < 100">
                        <span class="pcp-bar" [style.width]="(collectedPercent > 100 ? collectedPercent % 100 : collectedPercent) + '%'"></span>
                    </span>
                    <span class="project-card-progress finish-fail" *ngIf="project.targetStatus === 'FAIL'">
                        <span class="pcp-bar" [style.width]="(collectedPercent > 100 ? collectedPercent % 100 : collectedPercent) + '%'"></span>
                    </span>
                    <span class="pci-value project-card-finish-sum" [innerHtml]="(project.collectedAmount | humanNumber) + ' ₽'">
                    </span>
                    <span class="pci-label project-card-finish">
                        {{ 'profile-page.card.collected' | translate:lang }} {{collectedPercent}}% {{ 'profile-page.card.from-target' | translate:lang }}
                    </span>
                </span>
            </div>
            <div class="profile-project-info_meta" *ngIf="project.campaignStatus === 'ACTIVE'">
                <div class="profile-project-info_meta-i progress">
                    <div class="profile-project-info_meta-ico">
                        <img src="/images/icons/clock.svg">
                    </div>
                    <div class="profile-project-info_meta-val">
                        {{ 'profile-page.card.collected' | translate:lang }} {{collectedPercent}}% {{ 'profile-page.card.from-target' | translate:lang }}
                    </div>
                </div>

                <div class="profile-project-info_meta-i remained">
                    <div class="profile-project-info_meta-ico">
                        <img src="/images/icons/calendar.svg">
                    </div>
                    <div class="profile-project-info_meta-val" [innerHtml]="getTimeLeft()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-project-card_body">
        <div class="profile-project-card_body-in">
            <div class="private-office-purchases">
                <div class="private-office-purchases_i" [ngClass]="paymentClass">

                    <div class="private-office-purchases_actions">
                        <div class="private-office-actions">
                            <div class="private-office-actions_i disabled">
                                <span class="private-office-actions_link" data-toggle="modal" data-target="#modal-nd-confirm">
                                    <span class="private-office-actions_ico">
                                        <svg width="24" height="24" viewBox="0 0 24 24"><path d="M18 7v10a1.5 1.5 0 0 1-2.3 1.272L9 14.081V17a1.5 1.5 0 0 1-3 0V7a1.5 1.5 0 0 1 3 0v2.919l6.7-4.191A1.501 1.501 0 0 1 18 7z" fill="#254959"></path></svg>
                                    </span>
                                    <span class="private-office-actions_name" [innerHtml]="'profile-purchases-and-rewards.order.cancel' | translate:lang">
                                    </span>
                                </span>
                            </div>
                            <div class="private-office-actions_i">
                                <span class="private-office-actions_link">
                                    <span class="private-office-actions_ico">
                                        <svg width="24" height="24" viewBox="0 0 24 24"><path d="M19.25 16.25h-2.5V12.5h-9.5v3.75h-2.5A.75.75 0 0 1 4 15.5v-7a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 .75.75v7a.75.75 0 0 1-.75.75zm-13-7a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5zM16 7H8V4.75A.75.75 0 0 1 8.75 4h6.5c.015 0 .029.003.044.004a.76.76 0 0 1 .107.011c.082.017.16.049.232.093a.77.77 0 0 1 .14.106.754.754 0 0 1 .222.525V7H16zm0 7.75v4.5a.75.75 0 0 1-.75.75h-6.5a.75.75 0 0 1-.75-.75v-6h8v1.5zm-1.5 0h-5v.75h5v-.75zm0 1.5h-5V17h5v-.75zm0 1.5h-5v.75h5v-.75z" fill="#254959"></path></svg>
                                    </span>
                                    <a [href]="'//' + mainHost + '/profile/print-order.html?orderId=' + project.orderId" class="private-office-actions_name" target="_blank" [innerHtml]="'profile-purchases-and-rewards.order.print' | translate:lang">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="private-office-purchases_info">
                        <div class="private-office-purchases_num" [innerHtml]="'№' + project.orderId">
                        </div>
                        <div class="private-office-purchases_date" [innerHtml]="getOrderTimeAdded()">
                        </div>
                        <div class="private-office-purchases_status" [innerHtml]="('core.payment-statuses.' + project.paymentStatus) | translate:lang"></div>
                    </div>


                    <div class="private-office-purchases_cont">
                        <div class="private-office-purchases_products">
                            <div class="private-office-purchases_list-i">
                                <div class="private-office-purchases_list-price" *ngIf="project.orderObjectsCount > 1" [innerHtml]="project.orderObjectsCount + ' x ' + ((project.orderObjectPrice || project.totalPrice) | humanNumber) + ' ₽'">
                                </div>

                                <div class="private-office-purchases_list-product">
                                    <div class="private-office-product">
                                        <div class="private-office-product_ava" *ngIf="project.orderObjectImageUrl">
                                            <a href="#"><img [src]="getOrderImageUrl(project.orderObjectImageUrl)"></a>
                                        </div>
                                        <div class="private-office-product_cont">

                                            <div class="private-office-product_name">
                                                <a href="#" [innerHtml]="project.orderObjectName"></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="private-office-purchases_delivery-wrap" *ngIf="project.deliveryType != 'NOT_SET'">
                            <div class="private-office-purchases_delivery">
                                <div class="private-office-purchases_delivery_i">
                                    <b>{{ 'profile-purchases-and-rewards.delivery.type' | translate:lang }}:</b> {{ project.deliveryTypeName }}
                                </div>

                                <div class="private-office-purchases_delivery_i">
                                    <b>{{ 'profile-purchases-and-rewards.delivery.address' | translate:lang }}:</b> {{ getOrderDeliveryAddress() }}
                                </div>

                                <div class="private-office-purchases_delivery_i">
                                    <b>{{ 'profile-purchases-and-rewards.delivery.contact-phone' | translate:lang }}:</b> {{ project.deliveryAddress.phone }}
                                </div>

                                <div class="private-office-purchases_delivery_i">
                                    <b>{{ 'profile-purchases-and-rewards.delivery.recipient' | translate:lang }}:</b> {{ project.deliveryAddress.fio }}
                                </div>

                                <div class="private-office-purchases_delivery_i" *ngIf="project.questionToBuyer">
                                    <b>{{ 'profile-purchases-and-rewards.delivery.question-to-buyer' | translate:lang }}:</b><br>{{ project.questionToBuyer }}
                                </div>

                                <div class="private-office-purchases_delivery_i" *ngIf="project.questionToBuyer">
                                    <b>{{ 'profile-purchases-and-rewards.delivery.question-answer' | translate:lang }}:</b><br>{{ project.orderObjectComment }}
                                </div>
                            </div>
                        </div>


                        <div class="private-office-purchases_common">
                            <div class="private-office-purchases_common_title">
                                {{ 'profile-purchases-and-rewards.order.total-price' | translate:lang }} —
                            </div>
                            <div class="private-office-purchases_common_cost" [innerHtml]="(project.totalPrice | humanNumber) + ' ₽'">
                                8 000 ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
