// BUTTON STYLES
// -------------

// Base styles
// --------------------------------------------------

// Core

.btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 11px 44px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 60px;
    font: 30px/36px @ff-pfdin-text-pro;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        background-image: none;
        box-shadow: none;
        opacity: .5;
    }
}

// Set the backgrounds
// -------------------------
.btn-primary{
    border: 1px solid @baseColor;
    background: @baseColor;
    color: #262626;
    &:hover{
        border-color: #636363;
        background: #636363;
        color: #fff;
    }
/*
    &.active, &:active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
*/
/*
    &.disabled, &[disabled]{
        background: @linkColor;
        border-color: @linkColor;
    }
*/
}




// school btn
.nko-btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 19px 28px 17px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    font: 18px/22px @ff-proxima-nova;
    text-transform: uppercase;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        background-image: none;
        box-shadow: none;
        opacity: .5;
    }
}



.nko-btn-primary{
    border: 1px solid #dfb700;
    background: @baseColor;
    color: #000;
    &:hover{
        border-color: #f1ca18;
        background: #ffe051;
        color: #000;
    }
    &.active, &:active{
        border-color: #f1ca18;
        background: #ffe051;
    }
    &:focus{
        color: #000;
    }
    &.disabled, &[disabled]{
        border-color: #dfb700;
        background: @baseColor;
    }
}
// / school btn



.btn-lg{
    padding: 10px 15px;
}

.btn-xlg{
    padding: 15px 25px;
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn{
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
    }
}

.btn-block-mix(){
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block{
    .btn-block-mix();
}

input[type="button"], input[type="reset"], input[type="submit"]{
    &.btn-block{
        .box-sizing(border-box);
        width: 100%;
    }
}

.btn-block + .btn-block{
    margin-top: 5px;
}


// input file
.btn-input-file{
    position: absolute;
    overflow: hidden;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 600%;
        line-height: 600%;
        width: auto;
        height: auto;
        .opacity(0);
        cursor: pointer;
    }
}

