// BUTTON STYLES
// -------------

// Base styles
// --------------------------------------------------

// Core

.btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 6px 9px;
    background: #e3e1dc;
    border: 1px solid #d7d6d3;
    font: 700 14px/18px @baseFontFamily;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-radius: 0;
    &:hover{
        background: lighten(#e3e1dc, 2%);
        border-color: lighten(#d7d6d3, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(#e3e1dc, 3%);
        border-color: darken(#d7d6d3, 3%);
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        border-color: #d8d8d8;
        background-image: none;
        background-color: #f6f6f6;
        box-shadow: none;
        opacity: .5;
    }
}


// Set the backgrounds
// -------------------------
.btn-primary{
    border: 1px solid @linkColor;
    background: @linkColor;
    color: #fff;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled, &[disabled]{
        background: @linkColor;
        border-color: @linkColor;
    }
}



// Small
.btn-small {
    padding: 4px 8px;
    font-size: @baseFontSize - 1px;
    line-height: @baseLineHeight;
    font-weight: 400;
    &.btn-primary{
        padding-left: 9px;
        padding-right: 9px;
    }
    [class^="icon-"]{
        margin-top: -2px;
        margin-bottom: -1px;
    }
}
.btn-small .icon {
    margin-top: -1px;
}


.btn-lg{
    padding: 10px 15px;
}

.btn-xlg{
    padding: 15px 25px;
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn{
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
    }
}

.btn-block-mix(){
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block{
    .btn-block-mix();
}

input[type="button"], input[type="reset"], input[type="submit"]{
    &.btn-block{
        width: 100%;
    }
}

.btn-block + .btn-block{
    margin-top: 5px;
}


.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    > .btn {
        position: relative;
        float: left;
    }
}
