// GRID SYSTEM
// -----------

.make-grid > .make(col, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);

.wrap-row{
    &:extend(.cf-mix all);
    margin-left: -@grid960GutterWidth/2;
    margin-right: -@grid960GutterWidth/2;
}


.wrap{
    @width: 1000px;
    @gutter: 20px;

    &:extend(.cf-mix all);
    width: auto;
    max-width: 960px;
    margin: auto;
}
