// scaffolding
// -------------------------------------------------------------

*, *:before, *:after {
    box-sizing: border-box;
}


// Body reset
html {
    height: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-y: scroll;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0 0 0 260px;
    font-family: @ff-proxima-nova;
    font-size: @baseFontSize;
    line-height: 1.5;
    color: #fff;
    background: #0a0a0a url(../images/tech/bg.jpg) no-repeat;


    @media (max-width: 1024px) {
        padding-left: 80px;
        background-size: cover;
    }

    @media (max-width: 767px) {
        padding-left: 0;
        padding-top: 54px;
    }
}


// Links
a {
    color: @linkColor;
    text-decoration: none;

    &:hover{
        color: @linkColorHover;
        text-decoration: underline;
    }
    &:focus{
        outline: none;
    }
}


// Images
img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}


ul, ol {
    padding: 0;
    margin: 0;
}
