// BUTTON STYLES
// -------------



.flat-btn{
    display: inline-block;
    padding: 8px 13px 7px;
    border: 1px solid @plnblue;
    background: @plnblue;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &:active, &.active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled{
        .opacity(50);
        background: @plnblue;
        border-color: @plnblue;
        cursor: default;
    }
    &.flat-btn-lightgray{
        border: 1px solid #dbdbdb;
        background: #f5f5f4;
        font: 14px/100% @baseFontFamily;
        color: @black;
        &:hover{
            background: lighten(#f5f5f4, 1%);
            text-decoration: none;
        }
        &:active{
            background: darken(#f5f5f4, 3%);
        }
    }
}
@flat-btn-bg: #e3e1dc;
@flat-btn-border: #d7d6d3;
.flat-btn-default{
    background: #e3e1dc;
    border-color: #d7d6d3;
    color: #000;
    &:hover{
        background: lighten(@flat-btn-bg, 2%);
        border-color: lighten(@flat-btn-border, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(@flat-btn-bg, 3%);
        border-color: darken(@flat-btn-border, 3%);
    }
    &.disabled{
        .opacity(50);
        background: @flat-btn-bg;
        border-color: @flat-btn-border;
        cursor: default;
    }
}