// Fonts.less
// -------------------------------------------------------------

@import "rub-font.less";

// GothamPro
#font > .fontFace('gotham_proregular', 'gothaproreg-webfont', 'gotham_proregular');
.gothampro-reg{
    font-family: 'gotham_proregular', @baseFontFamily;
}

// GothamPro Bold
#font > .fontFace('gotham_probold', 'gothaprobol-webfont', 'gotham_probold');
.gothampro-bold{
    font-family: 'gotham_probold', @baseFontFamily;
}

// GothamPro Light
/*
#font > .fontFace('gotham_prolight', 'gothaprolig-webfont', 'gotham_prolight');
.gothampro-light{
    font-family: 'gotham_prolight', @baseFontFamily;
}
*/


// PT Sans
/*
#font > .fontFace('pt_sansregular', 'ptsans-reg-webfont', 'pt_sansregular');
.ptsans-reg{
    font-family: 'pt_sansregular', @baseFontFamily;
}
*/

// PT Serif
#font > .fontFace('pt_serifregular', 'ptserif-reg-webfont', 'pt_serifregular');
.ptserif-reg{
    font-family: 'pt_serifregular', @baseFontFamily;
}

// PT Serif Bold
#font > .fontFace('pt_serifbold', 'ptserif-bold-webfont', 'pt_serifbold');
.ptserif-bold{
    font-family: 'pt_serifbold', @baseFontFamily;
}


// Minion Pro MediumIt
/*
#font > .fontFace('minionpromediumit', 'minionpro-mediumit', 'minionpromediumit');
.minionpro-mediumit{
    font-family: 'minionpromediumit', @baseFontFamily;
}
*/


// DIN Pro Bold
#font > .fontFace('dinprobold', 'dinpro-bold-webfont', 'dinprobold');
.dinpro-bold{
    font-family: 'dinprobold', @baseFontFamily;
}


// ProximaNova
#font > .fontFace('ProximaNovaRegular', 'proximanova-reg-webfont', 'proxima_nova_rgregular');
.proxima_nova_rgregular{
    font-family: 'ProximaNovaRegular', @baseFontFamily;
}

// ProximaNova Bold
#font > .fontFace('ProximaNovaBold', 'proximanova-bold-webfont', 'proxima_nova_rgbold');
.proxima-bold{
    font-family: 'ProximaNovaBold', @baseFontFamily;
}



