// MODALS
// ------

.modal-open {
  .dropdown-menu {  z-index: @zindexDropdown /*+ @zindexModal*/; }
  .dropdown.open { /**z-index: @zindexDropdown*/ /*+ @zindexModal*/; }
  .popover       {  z-index: @zindexPopover  /*+ @zindexModal*/; }
  .tooltip       {  z-index: @zindexTooltip  /*+ @zindexModal*/; }
}

.swfupload{
    z-index: 2000;
    position: relative;
}

.modal-backdrop, .content-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindexModalBackdrop;
  background-color: @white;
  // Fade for backdrop
  &.fade { .opacity(0); }
}

.content-overlay,
.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(80);
}




.modal-dialog, #modal-dialog{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: @zindexModal;
    white-space: nowrap;
    overflow: auto;
    &:after{
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: '';
    }
    .modal{
        .box-shadow(0 5px 9px rgba(0,0,0,.07));
        display: inline-block;
        position: relative;
        z-index: @zindexModal;
        min-width: 560px;
        max-width: 950px;
        margin: 20px 0;
        border: 1px solid #afafaf;
        background: #fff;
        color: #000;
        vertical-align: middle;
        text-align: left;
        background-color: @white;
        .background-clip(padding-box);
        white-space: normal;
        &.alert-modal{
            min-width: 0;
            max-width: none;
            width: 490px;
        }
        &.modal-fixed-width{
            max-width: 560px;
        }
        &.question-madal{
            .box-shadow(0 0 15px #000);
            border: 1px solid #ddd;
            display: block;
            margin: 0 0 0 -280px;
            position: absolute;
            left: 50%;
            bottom: 90px;
        }
        &.modal-login{
            min-width: 410px;
            .modal-body{
                padding: 26px 30px 0;
            }
            .modal-footer{
                padding: 15px 30px;
            }
        }
    }
    &.modal-srollable{
        &:after{
            display: none;
        }
    }
    .btn{
        .flat-btn();
        .flat-btn-default();
        .border-radius(0);
    }
    .btn-primary{
        .flat-btn();
        .border-radius(0);
    }
}

.modal{
    &.fade{
        .transition(e('opacity .3s linear, top .3s ease-out'));
        top: -25%;
    }
    &.fade.in{
        top: 50%;
    }
    form{
        margin: 0;
    }
}
@action-modal-offset: 30px;
.modal-header{
    padding: 21px @action-modal-offset 19px;
    .proxima-bold();
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #e0dfdd;
    .close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 59px;
        text-align: center;
        line-height: 54px;
    }
}

.modal-title{
    .text-overflow();
}

.modal-body{
    padding: @action-modal-offset - 4 @action-modal-offset @action-modal-offset;
    word-wrap: break-word;
}
.modal-footer{
    padding: 18px @action-modal-offset;
    border-top: 1px solid #e0dfdd;
}
.modal-footer-cont{
    .clearfix();
    > .btn{
        float: right;
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
}

.modal-arr-prev,
.modal-arr-next{
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 100%;
    width: 90px;
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.1);
    }
    i{
        position: fixed;
        top: 50%;
        margin: -10px 0 0 37px;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent @plnblue transparent;
    }
}
.modal-arr-next{
    right: auto;
    left: 100%;
    i{
        border-width: 10px 0 10px 10px;
    }
}




// окно логина

.modal-login-form{
    .mlf-item{
        margin: 0 0 15px 0;
        &.error{
            background: @errorBackground;
            .box-shadow(0 0 0 4px @errorBackground);
        }
        .help-inline{
            display: block;
            clear: both;
            padding-left: 3px;
            padding-top: 2px;
            margin-bottom: 0;
            color: @errorText;
            span{
                display: inline;
                margin: 0 0 0 5px;
                color: @errorText;
            }
        }
        .warning-message-error{
            color: @errorText;
        }
        .warning-message{
            display: block;
            clear: both;
            padding-left: 3px;
            padding-top: 2px;
            font-size: 11px;
            span{
                display: inline;
            }
            .suggestion{
                color: @linkColor;
                border-bottom-width: 1px;
                border-bottom-style: dotted;
                cursor: pointer;
                a{
                    text-decoration: none;
                }
                span, a{
                    color: @linkColor;
                }
                &:hover{
                    color: @linkColorHover;
                    span, a{
                        color: @linkColorHover;
                    }
                }
            }
        }
        span{
            color: #808080;
            display: block;
            margin: 0 0 4px 0;
        }
        p{
            margin: 0;
            line-height: 32px;
        }
        .mlf-rec, .btn-primary{
            float: right;
        }
        .btn{
            &+p{
                padding: 3px 0 0;
            }
        }
    }
}
.mlf-soc-enter{
    .mlf-soc-text{
        color: #808080;
        line-height: 32px;
        display: inline-block;
        vertical-align: top;
    }
    .social-enter-block{
        display: inline-block;
        vertical-align: top;
        .social-enter-item{
            display: inline-block;
            margin: 0 0 0 10px;
        }
    }
}


// reg confirm modal
.modal-dialog .reg-confirm,
#modal-dialog .reg-confirm{
    min-width: 0;
    max-width: none;
    width: 490px;
}
.reg-confirm{
    .reg-img{
        width: 32px;
        height: 32px;
        background: url(../images/planeta/mail-img.png) no-repeat;
        float: left;
        margin: 0 10px 0 0;
    }
    .reg-cont{
        overflow: hidden;
    }
    .reg-cont-head{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 18px;
    }
    .reg-cont-text{
        .paste-date();
    }
    .mail-repeat-link{
        float: left;
        margin: 6px 0 0 7px;
        a{
            text-decoration: underline;
        }
    }
}
// /reg confirm modal

/* Фото модальное окно */
.page-overflow-test{
    overflow-y: hidden !important;
}
.campaign-editor-fullscreen,
.theaterMode{
    body{
        overflow: hidden;
    }
}



// modal rewrite


.modal{
    a{
        color: @linkColor;
        &:hover{
            color: @linkColorHover;
        }
    }
    .close{
        color: #000;
    }
    .help-inline {
        font-size: 11px;
    }
    input, textarea{
        font-family: Tahoma, Arial, sans-serif;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: @grayDark;
        cursor: pointer;
    }
    input,
    textarea,
    select{
        display: inline-block;
        width: 210px;
        height: @baseLineHeight;
        padding: 4px;
        margin-bottom: 9px;
        font-size: @baseFontSize;
        line-height: @baseLineHeight;
        color: @gray;
        border: 1px solid #ccc;
        .border-radius(3px);
    }
    input,
    textarea {
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        @transition: border linear .2s, box-shadow linear .2s;
        .transition(@transition);
        .placeholder(#afaeae);
    }
    input:focus,
    textarea:focus {
        border-color: rgba(82,168,236,.8);
        @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        .box-shadow(@shadow);
        outline: 0;
        outline: thin dotted \9; /* IE6-8 */
        .placeholder(#bfbfbf);
    }
    // Disabled and read-only inputs
    input[disabled],
    select[disabled],
    textarea[disabled],
    input[readonly],
    select[readonly],
    textarea[readonly] {
        background-color: #f5f5f5;
        border-color: #ddd;
        cursor: not-allowed;
    }
    .input-field{
        padding: 0 10px 0 0;
        input,textarea{
            width: 100%;
            margin: 0;
        }
    }
}
