// Moment style

body{
    min-width: 1007px;
    font: @baseFontSize~"/"@baseLineHeight @baseFontFamily;
    color: #101010;
    background: #fff;
}

img{
    max-width: 100%;
}

a{
    color: @baseLinkColor;
    text-decoration: none;
}

a:hover{
    color: @baseLinkColorHover;
    text-decoration: underline;
}

.hide{
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.central-block-wrap {
    white-space: nowrap;
    font-size: 0;
    &::after{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
}
.central-block {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    white-space: normal;
}



.block-head{
    margin: 0 0 20px;
    .gothampro-bold();
    font-size: 35px;
    letter-spacing: -.03em;
    text-align: center;
}


// buttons
.btn{
    position: relative;
    display: inline-block;
    padding: 11px 9px;
    background: @baseColor;
    border: 1px solid @baseColor;
    .dinpro-bold();
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    .border-radius(3px);
    letter-spacing: -.04em;
    &:hover{
        background: lighten(@baseColor, 2%);
        border-color: lighten(@baseColor, 2%);
        color: #fff;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(@baseColor, 3%);
        border-color: darken(@baseColor, 3%);
        outline: none;
    }
    &[disabled], &.disabled{
        cursor: default;
        .opacity(50);
    }
}
.btn-block{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
// /buttons


// form
.form-control{
    .box-sizing(border-box);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #b7b7b7;
    .border-radius(3px);
    .box-shadow(inset 0 1px 5px rgba(0, 0, 0, .32));
    .transition(.2s);
    outline: none;
    &:focus{
        border-color: @plnblue;
        .box-shadow(0 0 7px 1px fade(@plnblue, 50%));
    }
    &[readonly]{
        background: #f2f2f2;
        color: #808080;
        &, &:focus{
            .box-shadow(none);
            border-color: #b7b7b7;
        }
    }
}

.form-group{
    margin: 0 0 24px;
}
.form-field{
    label{
        display: block;
        margin: 0 0 6px;
        .dinpro-bold();
        font-size: 18px;
        letter-spacing: -.04em;
    }
    &.error{
        label{
            color: @errorText;
        }
    }
}
.form-field + .form-field{
    margin: 24px 0 0;
}
.help-msg{
    color: @errorText;
    padding: 5px;
    background: @errorBackground;
}


.btn-upload{
    position: relative;
    overflow: hidden;
    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 600%;
        line-height: 600%;
        width: auto;
        height: auto;
        .opacity(0);
        cursor: pointer;
    }
}
// /form


// grid 960
.wrap{
    .cf();
    width: @grid960RowWidth;
    margin: 0 auto;
}
.wrap-row{
    .cf();
    margin-left: -@grid960GutterWidth;
}
.make-grid > .make(col, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);



.header{
    padding: 18px 0 40px;
    border-bottom: 3px solid @baseColor;
}

.logo{
    float: left;
    margin: 24px 0 0;
}
.books-logo{
    float: left;
    margin: 0 0 0 34px;
}

.moment-sharing{
    float: right;
    .sps-count{
        display: none;
    }
    .sharing-popup-social .sps-button .spsb-item:last-child{
        margin: 0;
    }
    &_title{
        overflow: hidden;
        margin: 10px 0;
        .gothampro-bold();
        font-size: 16px;
        text-align: center;
        white-space: nowrap;
        span{
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;
        }
        &::before, &::after{
            content: '';
            position: relative;
//            top: -5px;
            height: 0;
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            margin: 0 0 0 -50%;
            border-bottom: 1px solid #d6d6d6;
        }
        &::after{
            margin: 0 -50% 0 0;
        }
    }
}


.top-text{
    padding: 30px 0;
    background: #f2f0f0;
    text-align: center;
}


.lid{
    padding: 50px 0 60px;
    border-bottom: 3px solid @baseColor;
}
.lid-block{
    &_head{
        margin: 0 0 22px;
        .gothampro-bold();
        font-size: 35px;
        letter-spacing: -.04em;
        color: #1a1a1a;
        span{
            color: @baseColor;
            font-size: 48px;
            span{
                color: #d4d4d4;
            }
        }
        .laquo{
            margin-left: -.67em;
        }
    }
    &_text{
        margin: 0 0 23px;
        .ptserif-reg();
        font-size: 24px;
        line-height: 1.48em;
    }
    &_date{
        img{
            padding: 34px 12px 0 0;
            border-top: 1px solid #d8d8d8;
        }
    }
}


.storie-form{
    position: relative;
    border: 3px solid @baseColor;
    padding: 27px 37px;
    .box-shadow(0 21px 27px fade(@baseColor, 27));
    &_head{
        margin: 0 0 15px;
        .gothampro-bold();
        font-size: 27px;
    }
    &_attach{
        position: relative;
        margin: 0 0 20px;
        padding: 0 0 0 42px;
    }
    &_attach-icon{
        position: absolute;
        top: 2px;
        left: 2px;
        width: 30px;
        height: 31px;
        background: url(../images/moment/attach.png) no-repeat;
    }
    &_attach-link{
        margin: 0 0 5px;
        .dinpro-bold();
        font-size: 18px;
        letter-spacing: -.04em;
        color: @baseLinkColor;
        span, a{
            border-bottom: 1px dotted;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &_attach-type{
        font-size: 12px;
        color: #757575;
    }
    &_terms{
        margin-top: 20px;
        text-align: center;
        a{
            .gothampro-bold();
            font-size: 13px;
            text-decoration: underline;
        }
    }
    &_success{
        display: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #000;
        font-size: 18px;
        text-align: center;
        background: #fff;
        &.fadeIn{
            display: block;
        }
        div{
            padding: 20px;
        }
    }
}


.storie-form_invite{
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    .hl{
        .gothampro-bold();
        font-size: 29px;
        line-height: 1.2;
    }
}


.juri-block{
    margin: 0 0 40px;
}
.juri-top{
    padding: 44px 0;
    text-align: center;
}

.juri{
    padding: 30px 0 75px;
    background: #e8e3e4;
    text-align: center;
    &_list{
        margin: 0 0 20px -6px;
        .gothampro-bold();
        font-size: 35px;
    }
    &_i{
        float: left;
        width: 184px;
        margin: 0 0 0 6px;
    }
    &_ava{
        display: block;
        width: 119px;
        height: 119px;
        margin: 0 auto 17px;
        .border-radius(50%);
    }
    &_name{
        .gothampro-bold();
        font-size: 18px;
        line-height: 24px;
    }
    &_prof{
        .gothampro-reg();
        font-size: 15px;
        line-height: 20px;
    }
}


.news-block{
    padding: 30px 0 40px;
    border-bottom: 1px solid #dcdcdc;
}

.news{
    margin: auto;
    float: none;
    &_list{
        margin: 0 0 20px;
    }
    &_i + &_i{
        margin-top: 20px;
    }
    &_name{
        margin: 0 0 2px;
        .ptserif-bold();
        font-size: 30px;
        a{
            color: #000;
        }
    }
    &_date{
        margin: 0 0 15px;
        .gothampro-reg();
        font-size: 14px;
        color: #646464;
    }
    &_text{
        .ptserif-reg();
        font-size: 18px;
        line-height: 27px;
    }
    &_archive{
        .gothampro-bold();
        font-size: 15px;
        a{
            text-decoration: underline;
        }
    }
}


.logos-block{
    padding: 50px 0;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    img{
        vertical-align: middle;
        margin: 0 43px;
    }
}


.project-block{
    padding: 40px 0 60px;
}
.project_head{
    margin-bottom: 40px;
}



.storie-form_end{
    .storie-form_head{
        margin: 0;
        font-size: 32px;
        text-align: center;
    }
}


