//
// Planeta Upload
// --------------------------------------------


.upload-photo-modal{
    width: 764px;
}

.uploader-container-top{
    margin: 0 0 20px;
}
.uploader-upload-link{
    float: right;
    .upload-link-input{
        width: 175px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.uploader-upload-btn{
    .btn{
        padding-left: 6px;
        padding-right: 6px;
        position: relative;
    }
}

.uploader-container{
    .clearfix();
    border: 2px dashed #ccc;
    .border-radius(10px);
    min-height: 230px;
    max-height: 350px;
    padding: 10px 1px 10px 10px;
    position: relative;
    .uploader-droptext{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        color: #b3b3b3;
    }
    .modal-scroll{
        border: 0;
        padding: 0;
        .modal-scroll-content{
            height: auto;
            min-height: 230px;
            max-height: 350px;
        }
        .scrollbar-handle-container{
            right: 0;
        }
    }
}
.uploader-filelist{
    list-style: none;
    display: inline-block;
    margin: -10px 0 0 -10px;
    padding: 0;
    .filelist-item{
        float: left;
        width: 100px;
        height: 100px;
        padding: 4px;
        margin: 10px 0 0 10px;
        border: 1px solid #e1e1e1;
        position: relative;
        background: #fff;
        &:hover{
            .filelist-option{
                display: block;
            }
        }
    }
    .filelist-cover{
        background: url(../images/planeta/uploader-filelist-bg.png) no-repeat;
        height: 100%;
    }
    .filelist-album-cover{
        position: absolute;
        left: -1px;
        top: -1px;
        background: url(../images/planeta/uploader-filelist-album-bg.png) no-repeat;
        width: 60px;
        height: 60px;
    }
    .filelist-back{
        background: url(../images/planeta/mp-upload.png) no-repeat 50% 50%;
        height: 100%;
        cursor: pointer;
    }
    .filelist-img{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .uploader-filelist-progress{
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        height: 5px;
        #gradient > .vertical(#f1f1f1,#e7e7e7);
    }
    .uploader-filelist-load{
        height: 100%;
        #gradient > .vertical(#1ac5f9,#16abe0);
    }
    .filelist-option{
        .clearfix();
        display: none;
        position: absolute;
        //left: 4px;
        right: 4px;
        top: 4px;
        padding: 1px 2px 2px;
        #translucent > .background(#000,.7);
        [class^="icon-"]{
            cursor: pointer;
            margin: 0;
        }
        .icon-close{
            float: right;
            margin-top: 1px;
        }
    }
}


// attach modal
.attach-photo-modal-old{
    width: 560px;
}

.attach-photo-modal{
    width: 572px;
    .uploader-container{
        min-height: 188px;
        max-height: 188px;
        .modal-scroll{
            .modal-scroll-content{
                min-height: 188px;
                max-height: 188px;
            }
        }
    }
    .uploader-filelist{
        .filelist-cover{
            background-image: url(../images/planeta/uploader-filelist-bg-small.png);
        }
        .filelist-item{
            padding: 2px;
            width: 50px;
            height: 50px;
        }
        .uploader-filelist-progress{
            bottom: 2px;
            left: 2px;
            right: 2px;
        }
        .filelist-option{
            top: 2px;
            left: auto;
            right: 2px;
            padding: 0;
        }
    }
}

.fileinput-button{
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
    input{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        height: auto;
        width: auto;
        font-size: 600%;
        line-height: 600%;
        .opacity(0);
        //transform: translate(-300px, 0) scale(4);
        direction: ltr;
        cursor: pointer;
    }
}
