<ng-template #tmpl>
    <div class="modal-header">
        <a class="close" (click)="tmplRef.hide()">×</a>
        <div class="modal-title">Добавить ссылку</div>
        <div class="modal-header-shadow"></div>
    </div>
    <div class="modal-body">
        <div class="att-modl-link">
            <div class="label-name">
                <label for="link-text">Введите ссылку:</label>
            </div>
            <div class="input input-field">
                <input name="text" placeholder="http://www.example.com" class="span7" id="link-text" #linkInput/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <button [disabled]="linkInput.value?.trim() == ''" class="btn btn-primary" (click)="insertLink(linkInput.value)">Готово</button>
            <button class="btn" (click)="tmplRef.hide()">Отмена</button>
        </div>
    </div>
</ng-template>