<div class="profile-body_head">
    <div class="profile-body_title" translate>profile-page.settings-block.settings</div>
    <div class="profile-body_descr" translate>profile-page.settings-block.settings-descr</div>
</div>

<div class="profile-settings">
    <div class="profile-settings_form wrap-row">
        <div class="profile-settings_col col-12 m-col-tl-6">
            <div class="wrap-row">
                <div class="profile-settings_i col-12">
                    <pl-input [(model)]="profileDTO.displayName"
                              [labelCode]="'profile-page.settings-block.name'"
                              [settings]="nameInputSettings"
                              [errors]="errors"
                              [field]="'displayName'"></pl-input>
                </div>

                <div class="profile-settings_i col-5">
                    <pl-select [options]="genders"
                               [id]="'code'"
                               [nameEn]="'valueEn'"
                               [nameRu]="'valueRu'"
                               [titleCode]="'core.gender'"
                               [(model)]="profileDTO.userGender"
                               [settings]="selectSettings"></pl-select>
                </div>

                <div class="profile-settings_i col-7">
                    <pl-datepicker [(model)]="profileDTO.userBirthDate"
                                   [labelCode]="'core.birth-date'"
                                   [settings]="birthdayInputSettings"
                                   [errors]="errors"
                                   [field]="'userBirthDate'"></pl-datepicker>
                </div>

                <div class="profile-settings_i col-12">
                    <pl-select [options]="countries"
                               [id]="'countryId'"
                               [nameEn]="'countryNameEn'"
                               [nameRu]="'countryNameRus'"
                               [titleCode]="'core.country'"
                               [(model)]="profileDTO.countryId"
                               [settings]="selectSettings"
                               (modelChange)="countryChanged($event)"></pl-select>
                </div>
            </div>
        </div>

        <div class="profile-settings_col col-12 m-col-tl-6">
            <div class="wrap-row">
                <div class="profile-settings_i col-12">
                    <pl-input [(model)]="profileDTO.alias"
                              [labelCode]="'profile-page.settings-block.alias'"
                              [settings]="siteUrlInputSettings"></pl-input>
                </div>

                <div class="profile-settings_i col-12">
                    <pl-input [(model)]="profileDTO.phoneNumber"
                              [labelCode]="'profile-page.settings-block.phone'"
                              [settings]="phoneInputSettings"></pl-input>
                </div>

                <div class="profile-settings_i col-12">
                    <pl-typeahead [(model)]="profileDTO.cityId"
                                  [labelCode]="'core.city'"
                                  [settings]="cityInputSettings"
                                  [dto]="searchCitiesDTO"></pl-typeahead>
                </div>
            </div>
        </div>

        <div class="profile-settings_i col-12">
            <pl-editor [(ngModel)]="profileDTO.summary" [settings]="EditorConfig.USER_SETTINGS"></pl-editor>
        </div>

        <div class="profile-settings_i col-12">
            <div class="profile-settings_action">
                <button class="btn btn-nd-primary"
                        (click)="save()"
                        translate>core.save-changes</button>
            </div>
        </div>
    </div>
</div>
