// bg-crop



[class^="s-bg-crop-"]{
    .sprite(21, 21, url(../images/project/s-bg-crop.png));
    margin: 0 7px 0 0;
}
//.s-bg-crop-upload       { background-position: 0 0 }
.s-bg-crop-del          { background-position: -30px 0 }


.bg-crop{
    &_controls{
        margin: 0 0 15px;
    }
    &_upload{
        float: left;
    }
    &_del{
        float: right;
    }
    &_link{
        .proxima_nova_rgregular();
        font-size: 17px;
        line-height: 20px;
        cursor: pointer;
        &:hover{
            .bg-crop_link_text{
                color: @linkColorHover;
            }
        }
        &_text{
            position: relative;
            top: 1px;
            color: @linkColor;
            text-decoration: underline;
        }
    }
}


.modal-bg-crop{
    width: 560px;
    .cropit-image-preview{
        position: relative;
        width: 500px;
        height: 281px;
        background: #f0eee8;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            background: url(../images/project/cropper-project-preview.png) no-repeat 50% 0;
        }
    }
}
