/* инпуты в модальных окнах */
.modal-select-header{
    textarea{
        height: auto;
    }
    .fielset,.fieldset{
        &:extend(.cf-mix all);
        margin: 0 0 2px;
        padding: 3px 0;
        &.error{
            background-color: #fae5e3;
            input{
                border-color: #b3b3b3;
                box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
            }
        }
        .label-name{
            width: 210px;
            float: left;
            text-align: right;
            label{
                padding: 6px 0 0;
            }
        }
        .input{
            margin-left: 224px;
            &[class*=span]{
                float: none;
            }
        }
    }
    &.short-label{
        .fielset,.fieldset{
            .label-name{
                width: 140px;
            }
            .input{
                margin-left: 150px;
            }
        }
    }
}
/* /инпуты в модальных окнах */
