/* loader */
.loader{
    background: #000;
    margin-left: -100px;
    padding: 10px 10px;
    text-align: center;
    top: 40%;
    width: auto;
    position: fixed;
    left: 50%;
    z-index: 1000;
    border-radius: 5px;

    &.service-unavailable{
        margin-left: -203px;
    }
    .loader-imgs{
        display:inline-block;
        float: left;
    }
    .loader-message{
        display:inline-block;
        float: left;
        margin: 0 0 0 10px;
        height: 52px;
        span{
            color: #fff;
            font-size: 16px;
            line-height: 52px;
        }
    }
}
