// photo layer
@photoBlockPadding: 10px;
@photoCommentWidth: 425px;

.photo-layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: @zindexModal;
    #translucent > .background(#000, 0.7);
    .photo-close{
        position: absolute;
        top: 0;
        right: @photoCommentWidth;
        padding: 10px;
        font-size: 0;
        line-height: 0;
        z-index: 5;
        opacity: .6;
        transition: all .3s ease;
        &:hover{
            opacity: 1;
        }
    }

    // fullscreen mode
    &.fullscreen{
        .photo-close{
            right: 0;
        }
        .photo-block{
            right: 0;
        }
        .photo-fullscreen{
            right: 0;
        }
    }
}
.photo-block{
    position: absolute;
    left: 0;
    right: @photoCommentWidth;
    top: 0;
    bottom: 0;
    margin: @photoBlockPadding;
    transition: right .3s ease;
    .photo-cover{
        display: block;
        margin: 0 auto;
        max-height: 100%;
        transition: all .05s ease;
        position: relative;
        cursor: pointer;
        &.photo-no-pointer{
            cursor: default;
        }
        &.animated{
            transition: all .3s ease;
        }
        &.cap{
            width: 770px;
            height: 770px;
            background: url("../images/planeta/debut_light.png") repeat;
            .cap-middle-block{
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -55px 0 0 -90px;
                text-align: center;
            }
            .cap-keyhole{
                margin: 0 0 10px;
            }
            .cap-text{
                font-size: 16px;
                font-weight: 700;
                color: #808080;
                line-height: 150%;
                text-shadow: 0 1px 0 #fff;
            }
        }
    }
    .photo-fullscreen{
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #404040;
        .opacity(0);
        padding: 4px 5px 5px 5px;
        margin: 5px;
        border: 1px solid #4a4a4a;
        border-radius: 2px;
        transition: all .3s ease;
        z-index: 3;
    }
    .photo-description{
        #translucent > .background(#000, 0.2);
        color: #fff;
        min-height: @baseLineHeight;
        padding: 19px 14px;
        position: absolute;
        bottom: -10px;
        left: -10px;
        right: -10px;
        transition: opacity .3s ease;
        .opacity(0);
        z-index: 2;
        a{
            color: #fff;
        }
    }
    .photo-prev{
        cursor: pointer;
        position: absolute;
        top: -@photoBlockPadding;
        left: -@photoBlockPadding;
        bottom: -@photoBlockPadding;
        //padding-right: @photoBlockPadding + 5;
        width: 15%;
        b{
            display: block;
            position: absolute;
            top: 50%;
            width: 40px;
            height: 70px;
            margin-top: -35px;
            left: 20px;
            background: url(../images/arrow/photo-view-arrow.png) no-repeat;
            .opacity(0);
            transition: opacity .3s ease;
        }
    }
    .photo-next{
        cursor: pointer;
        position: absolute;
        top: -@photoBlockPadding;
        right: -@photoBlockPadding;
        bottom: -@photoBlockPadding;
        //padding-left: @photoBlockPadding + 5;
        width: 15%;
        b{
            display: block;
            position: absolute;
            top: 50%;
            width: 40px;
            height: 70px;
            margin-top: -35px;
            right: 20px;
            background: url(../images/arrow/photo-view-arrow.png) no-repeat -40px 0;
            .opacity(0);
            transition: opacity .3s ease;
        }
    }
    &:hover{
        .photo-description{
            opacity: 1;
        }
        .photo-fullscreen{
            opacity: .5;
        }
        .photo-next, .photo-prev{
            b{
                opacity: .2;
            }
        }
    }
    .photo-fullscreen{
        &:hover{
            opacity: 1;
        }
    }
    .photo-prev{
        &:hover{
            b{
                opacity: 1;
            }
        }
    }
    .photo-next{
        &:hover{
            b{
                opacity: 1;
            }
        }
    }
    .photo-cover:hover ~ .photo-next{
        b{
            opacity: 1;
        }
    }
}
