/* Видео модальное окно */
.theaterMode{
    .video-view-wrap{
        overflow-x: auto;
        overflow-y: scroll;
    }
}
.video-view-wrap{
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: @zindexModal;
}
.video-view{
    &:extend(.cf-mix all);
    position: relative;
    background-color: #fff;
    padding: 0 0 15px;
    max-width: 776px;
    min-width: 776px;
    width: 776px;
    margin: 40px auto;
    border: 1px solid #afafaf;
    border-radius: 4px;
    .video-description{
        word-wrap: break-word;
        margin: 0 0 20px;
    }
    [class*="span"]{
        float: left;
        margin-left: 18px;
    }
    .span10{
        width: 522px;
    }
    .span4{
        width: 198px;
    }
}
.leanback-player-video{
    margin: 20px;
    text-align: center;
    iframe{
        margin: 0 auto;
    }
}
/* /Видео модальное окно */
