<div class="profile-alert" *ngIf="project.status == 'DECLINED'">
    <b translate>profile-page.card.decline-case</b> <span [innerHtml]="project.declineCase"></span>
</div>
<div class="profile-project-card_i-cont">
    <div class="profile-project-card_project">
        <div class="profile-project-info">
            <div class="profile-project-info_cover">
                <div class="profile-project-info_cover-in">
                    <img class="profile-project-info_img" [src]="getImageUrl(project.imageUrl)">
                </div>
            </div>
            <div class="profile-project-info_text">
                <div class="profile-project-info_name">
                    <a class="profile-project-info_name-add" *ngIf="!project.nameHtml"
                       [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias"
                       translate>profile-page.card.add-name</a>
                    <a class="profile-project-info_name-link" *ngIf="project.nameHtml"
                       [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias"
                       [innerHtml]="project.nameHtml"></a>
                </div>
                <div class="profile-project-info_descr" *ngIf="project.shortDescriptionHtml"
                     [innerHtml]="project.shortDescriptionHtml"></div>
                <div class="profile-project-info_descr" *ngIf="!project.shortDescriptionHtml">
                    <a [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias + '/edit-details'" translate>profile-page.card.add-descr</a>
                </div>
            </div>
            <div class="profile-project-info_status">
                <div class="status-badge status-badge__m" [ngClass]="badgeClass" translate>
                    {{badgeTitle}}
                    <span class="status-badge_help" *ngIf="project.status === 'PAUSED'"
                          [tooltip]="project.pauseCase"
                          placement="top"
                          triggers="click:click click:mouseleave mouseenter:mouseleave"
                          container="body">?</span>
                </div>
                <div class="profile-project-info_delete" *ngIf="project.status === 'DRAFT'"
                     (click)="removeDraft()">
                    <span class="profile-project-info_delete-link" translate>core.remove-draft</span>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-project-card_body">
        <div class="profile-project-card_body-in">
            <div class="profile-project-card_change" *ngIf="my">
                <div class="profile-project-change">
                    <div class="profile-project-change_i"
                         *ngIf="project.status == 'DRAFT' || project.status == 'PATCH'">
                        <a [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias"
                           class="profile-project-change_link">
                            <span class="profile-project-change_ico"><img src="/images/icons/edit.svg"></span>
                            <span class="profile-project-change_name" translate>core.edit</span>
                        </a>
                    </div>
                    <div class="profile-project-change_i" [class.disabled]="project.status == 'DRAFT'">
                        <a href="javascript:void(0)" class="profile-project-change_link" (click)="callManager()">
                            <span class="profile-project-change_ico"><img src="/images/icons/manager-call.svg"></span>
                            <span class="profile-project-change_name" translate>core.call-manager</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-project-progress">
                <div class="profile-project-progress_progress">
                    <div class="profile-project-progress_bar"
                         [style.width]="(collectedPercent > 100 ? collectedPercent % 100 : collectedPercent) + '%'"></div>
                </div>
                <div class="profile-project-progress_values">
                    <div class="profile-project-progress_val-i collected">
                        <div class="profile-project-progress_val">{{collectedPercent}}% <span
                                class="profile-project-progress_val-lbl" translate>profile-page.card.from-target</span>
                        </div>
                        <div class="profile-project-progress_lbl" translate>profile-page.card.collected</div>
                    </div>
                    <div class="profile-project-progress_val-i remained" *ngIf="toHalfRemained > 0">
                        <div class="profile-project-progress_val">{{toHalfRemained | humanNumber}} ₽</div>
                        <div class="profile-project-progress_lbl">{{'profile-page.card.left-to' | translate:lang}} 50%
                        </div>
                    </div>
                    <div class="profile-project-progress_val-i target">
                        <div class="profile-project-progress_val">{{project.targetAmount | humanNumber}} ₽</div>
                        <div class="profile-project-progress_lbl" translate>profile-page.card.target</div>
                    </div>
                </div>
            </div>
            <div class="profile-project-meta" *ngIf="my">
                <div class="profile-project-meta_i" [class.disabled]="project.status == 'DRAFT'">
                    <div class="profile-project-meta_lbl" translate>profile-page.card.collected</div>
                    <div class="profile-project-meta_val">{{project.collectedAmount | humanNumber}} ₽</div>
                    <div class="profile-project-meta_today">
                        {{project.todayPurchase ? '+' + (project.todayPurchase | humanNumber) + ' ₽' : ''}}
                        <span class="profile-project-meta_today-lbl" *ngIf="project.todayPurchase" translate>profile-page.card.today</span>
                        <span class="profile-project-meta_no-new" *ngIf="!project.todayPurchase" translate>profile-page.card.nonew</span>
                    </div>
                </div>
                <div class="profile-project-meta_i" [class.disabled]="project.status == 'DRAFT'">
                    <div class="profile-project-meta_lbl" translate>profile-page.card.visits</div>
                    <div class="profile-project-meta_val">{{project.visits | humanNumber}}</div>
                    <div class="profile-project-meta_today">
                        {{project.todayVisits ? '+' + project.todayVisits : ''}}
                        <span class="profile-project-meta_today-lbl" *ngIf="project.todayVisits" translate>profile-page.card.today</span>
                        <span class="profile-project-meta_no-new" *ngIf="!project.todayVisits" translate>profile-page.card.nonew</span>
                    </div>
                </div>
                <div class="profile-project-meta_i" [class.disabled]="project.status == 'DRAFT'">
                    <div class="profile-project-meta_lbl" translate>Покупок</div>
                    <div class="profile-project-meta_val">{{project.purchaseCount | humanNumber}}</div>
                    <div class="profile-project-meta_today">
                        {{project.todayPurchaseCount ? '+' + project.todayPurchaseCount : ''}}
                        <span class="profile-project-meta_today-lbl" *ngIf="project.todayPurchaseCount" translate>profile-page.card.today</span>
                        <span class="profile-project-meta_no-new" *ngIf="!project.todayPurchaseCount" translate>profile-page.card.nonew</span>
                    </div>
                </div>
                <div class="profile-project-meta_i" [class.disabled]="project.status == 'DRAFT'">
                    <div class="profile-project-meta_lbl" translate>profile-page.card.comments</div>
                    <div class="profile-project-meta_val">{{project.reviews | humanNumber}}</div>
                    <div class="profile-project-meta_today">
                        {{project.todayReviews ? '+' + project.todayReviews : ''}}
                        <span class="profile-project-meta_today-lbl" *ngIf="project.todayReviews" translate>profile-page.card.today</span>
                        <span class="profile-project-meta_no-new" *ngIf="!project.todayReviews" translate>profile-page.card.nonew</span>
                    </div>
                </div>
            </div>
            <div class="profile-project-actions pln-dropdown" [class.open]="manproject" *ngIf="my">
                <div class="profile-project-actions_cont">
                    <div class="profile-project-actions_btn-wrap">
                        <span class="profile-project-actions_btn pln-d-switch" (click)="manproject=!manproject"
                              translate>profile-page.card.control</span>
                    </div>
                    <div class="profile-project-actions_popup pln-d-popup">
                        <div class="profile-project-actions_list">
                            <div class="profile-project-actions_i edit"
                                 [class.disabled]="project.status != 'DRAFT' && project.status != 'PATCH'">
                                <a href="#" class="profile-project-actions_link">
                                    <span class="profile-project-actions_ico"><img src="/images/icons/edit.svg"></span>
                                    <span class="profile-project-actions_name" translate>core.edit</span>
                                </a>
                            </div>

                            <div class="profile-project-actions_i contact" [class.disabled]="project.status == 'DRAFT'">
                                <a href="javascript:void(0)" class="profile-project-actions_link">
                                    <span class="profile-project-actions_ico"><img src="/images/icons/manager-call.svg"></span>
                                    <span class="profile-project-actions_name" translate>core.call-manager</span>
                                </a>
                            </div>

                            <div class="profile-project-actions_i" [class.disabled]="project.status == 'DRAFT'">
                                <a href="javascript:void(0)" class="profile-project-actions_link" (click)="addNews()">
                                    <span class="profile-project-actions_ico">
                                        <img src="/images/icons/add-new.svg">
                                    </span>
                                    <span class="profile-project-actions_name"
                                          translate>profile-page.card.add-news</span>
                                </a>
                            </div>
                            <div class="profile-project-actions_i" [class.disabled]="project.status == 'DRAFT'">
                                <a [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias + '/affiliate-stats'"
                                   class="profile-project-actions_link">
                                    <span class="profile-projecpost-write_actiont-actions_ico">
                                        <img src="/images/icons/statistics.svg">
                                    </span>
                                    <span class="profile-project-actions_name" translate>profile-page.card.stats</span>
                                </a>
                            </div>
                            <div class="profile-project-actions_i" [class.disabled]="project.status == 'DRAFT'">
                                <a [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias + '/orders'"
                                   class="profile-project-actions_link">
                                    <span class="profile-project-actions_ico">
                                        <img src="/images/icons/purchases.svg">
                                    </span>
                                    <span class="profile-project-actions_name" translate>profile-page.card.orders</span>
                                </a>
                            </div>

                            <div class="profile-project-actions_i" [class.disabled]="project.status == 'DRAFT'">
                                <a [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias + '/advertising-tools'"
                                   class="profile-project-actions_link">
                                    <span class="profile-project-actions_ico">
                                        <img src="/images/icons/reklama.svg">
                                    </span>
                                    <span class="profile-project-actions_name"
                                          translate>profile-page.card.reklama</span>
                                </a>
                            </div>
                            <!--<div class="profile-project-actions_i" [class.disabled]="project.status == 'DRAFT'">-->
                            <!--<a href="#" class="profile-project-actions_link">-->
                            <!--<span class="profile-project-actions_ico">-->
                            <!--<img src="/images/icons/prolong.svg">-->
                            <!--</span>-->
                            <!--<span class="profile-project-actions_name" translate>Продлить</span>-->
                            <!--</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-project-content" *ngIf="!my">
                <div class="profile-project-content_col">
                    <div class="profile-project-content_ico">
                        <img src="/images/profile/ico-content-news.svg"/>
                    </div>
                    <div class="profile-project-content_title" translate>
                        profile-page.card.last-news
                    </div>
                    <div class="profile-project-content_name" *ngIf="project.newsId">
                        <a [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias + '/updates!post' + project.newsId"
                           class="profile-project-content_link">
                            {{project.newsTitle}}
                        </a>
                    </div>
                    <div class="profile-project-content_meta" *ngIf="project.newsId">
                        {{project.newsTimeAdded | date: 'dd.MM.yyyy, hh:mm'}}
                    </div>
                    <div class="profile-project-content_empty" *ngIf="!project.newsId" translate>
                        profile-page.card.no-news
                    </div>
                </div>
                <div class="profile-project-content_col" *ngIf="project.shares">
                    <div class="profile-project-content_ico">
                        <img src="/images/profile/ico-content-rewards.svg"/>
                    </div>
                    <div class="profile-project-content_title" translate>
                        profile-page.card.your-rewards
                    </div>
                    <div class="profile-project-content_list">
                        <div *ngFor="let it of project.shares" class="profile-project-content_i">
                            <div class="profile-project-content_name">
                                <a *ngIf="project.status=='ACTIVE'"
                                   [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias + '/donate/' + it.shareId"
                                   class="profile-project-content_link">
                                    <span [innerHtml]="it.nameHtml"></span>
                                </a>
                                <a *ngIf="project.status!='ACTIVE'"
                                   [href]="'//' + mainHost + '/campaigns/' + project.webCampaignAlias"
                                   class="profile-project-content_link">
                                    <span [innerHtml]="it.nameHtml"></span>
                                </a>
                            </div>
                            <div class="profile-project-content_meta">
                                <div class="profile-project-content_meta-i">
                                    {{it.totalPrice}}&nbsp;₽
                                </div>
                                <div class="profile-project-content_meta-i">
                                    <span translate>profile-page.card.rewards-bought</span>&nbsp;{{it.amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="project.status=='FINISHED' && project.targetStatus == 'FAIL' && !my"
                 class="profile-project-rewards-actions">
                <div class="profile-project-rewards-actions_col">
                    <a href="javascript:void(0)" (click)="askSupport()" class="profile-project-rewards-actions_link">
                        <span class="profile-project-rewards-actions_link-ico">
                            <img src="/images/profile/ico-project-links-user.svg"/>
                        </span>
                        <span class="profile-project-rewards-actions_link-name" translate>
                            profile-page.card.support-connect
                        </span>
                    </a>
                </div>
                <div class="profile-project-rewards-actions_col">
                    <div class="profile-project-rewards-actions_info">
                        <span translate>profile-page.card.money-back</span>&nbsp;<a href="/account/balance" translate>profile-page.card.your-balance</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

