// Fonts variables
// -------------------------------------------------------------


// Helios
@ff-helios: 'HeliosCRegular', @baseFontFamily;
.font-helios{
    font-family: @ff-helios;
}

// helios alias
.hfont{
    font-family: @ff-helios;
    font-weight: 100;
}
.hlfont{
    font-family: @ff-helios;
    font-weight: 300;
}
.hbfont{
    font-family: @ff-helios;
    font-weight: 700;
}



// MinionPro
@ff-minionpro: 'minionpro', @baseFontFamily;
.font-minionpro{
    font-family: @ff-helios;
}

// minionpro alias
.minionpro-semiboldit{
    font-family: @ff-helios;
    font-weight: 600;
    font-style: italic;
}




// HelveticaNeue
@ff-helvetica-neue: 'helveticaneue', @baseFontFamily;
.font-helvetica-neue{
    font-family: @ff-helvetica-neue;
}

// helvetica neue alias
.helveticaneue-roman{
    &:extend(.font-helvetica-neue);
}
.helveticaneue-light{
    font-family: @ff-helvetica-neue;
    font-weight: 300;
}
.helveticaneue-bold{
    font-family: @ff-helvetica-neue;
    font-weight: 700;
}




// ProximaNova
@ff-proxima-nova: 'ProximaNova', @baseFontFamily;
.font-proxima-nova{
    font-family: @ff-proxima-nova;
}

// proxima nova alias
.proxima_nova_rgregular{
    &:extend(.font-proxima-nova);
}
.proxima-light{
    font-family: @ff-proxima-nova;
    font-weight: 300;
}
.proxima-bold{
    font-family: @ff-proxima-nova;
    font-weight: 700;
}





// GothamPro
@ff-gotham-pro: 'GothamPro', @baseFontFamily;
.font-gotham-pro{
    font-family: @ff-gotham-pro;
}

// gotham pro alias
.gothampro-reg{
    &:extend(.font-gotham-pro);
}
.gothampro-bold{
    font-family: @ff-gotham-pro;
    font-weight: 700;
}
.gothampro-black{
    font-family: @ff-gotham-pro;
    font-weight: 900;
}


// PF Din Condensed Pro
@ff-pfdin-cond-pro: 'PFDinCondPro', @baseFontFamily;
.font-pfdin-cond-pro{
    font-family: @ff-pfdin-cond-pro;
}

// pfdin cond pro alias
.ff-pf-din-cond-pro{
    &:extend(.font-pfdin-cond-pro);
}


// PF Din Text Pro
@ff-pfdin-text-pro: 'PFDinTextPro', @baseFontFamily;
.font-pfdin-text-pro{
    font-family: @ff-pfdin-text-pro;
}

// pfdin cond pro alias
.ff-pf-din-text-pro{
    &:extend(.font-pfdin-text-pro);
}



// PFSquareSansPro
@ff-pfsquare-sans-pro: 'PFSquareSansPro', @baseFontFamily;
.ff-pfsquare-sans-pro{
    font-family: @ff-pfsquare-sans-pro;
}
