// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------


// GENERAL STYLES
// --------------


// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-apperance: none;
}


// Make all forms have space below them
form {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}


// Identify controls by their labels
label {
    display: block;
    color: @grayDark;
    cursor: default;
}
label[for]{
    cursor: pointer;
}

// Remove the cross from the IE 10
input[type="text"]::-ms-clear{
    display: none;
}

select[multiple],
select[size] {
    height: auto;
}




.form-control {
    display: block;
    width: 100%;
    height: 62px;
    margin: 0;
    padding: 18px;
    font-size: 20px;
    line-height: 24px;
    color: #555;
    background: #fff;
    border: 1px solid #e3e0d4;
    box-shadow: inset 0 9px 19px fade(#000, 3);
    .placeholder(#afaeae);

    // Customize the `:focus` state to imitate native WebKit styles.
    &:focus{
        border-color: @linkColor;
        .placeholder(#bfbfbf);
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: #f5f5f5;
        border-color: #ddd;
        cursor: not-allowed;
        opacity: 1; // iOS fix for unreadable disabled content
    }

    // Reset height for `textarea`s
    textarea& {
        height: auto;
    }
}

.control-lg{
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    padding: 10px;
}
.control-xlg{
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    padding: 16px;
}



.help-block {
    margin-top: 5px;
    margin-bottom: 0;
    color: @grayLight;
}

.help-inline {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    margin-bottom: 3px;
    color: #b44d38;
    font-size: 11px;
}



// Fieldset
.fieldset{
    &:extend(.cf all);
    position: relative;
    & + &{
        margin-top: 20px;
    }
    &:first-child{
        margin-top: 0;
    }

    &.error{
        label{
            color: #c0392b;
        }
        input, textarea{
            border-color: #c0392b;
        }
    }

    label{
        line-height: 18px;
    }
}
.fieldset-lbl{
    padding-top: 7px;
}

.fieldset-lg{
    font-size: 14px;
    .fieldset-lbl{
        padding-top: 11px;
        font-size: 14px;
    }
}

.fieldset-group__grid{
    border: 1px solid @borderGray;
    border-bottom: 0;
    .fieldset{
        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        background: #fff;
        border-bottom: 1px solid @borderGray;
        &:before, &:after{
            display: none;
        }
    }
    .fieldset-lbl{
        display: table-cell;
        vertical-align: middle;
        float: none;
        padding: 16px;
        border-right: 1px solid @borderGray;
    }
    .fieldset-val{
        display: table-cell;
        float: none;
        padding: 0;
        & + &{
            border-left: 1px solid @borderGray;
        }
        &_cont{
            padding: 16px;
        }
    }
    .form-control{
        position: relative;
        border-color: transparent;
        &:focus{
            z-index: 1;
            box-shadow: 0 0 0 1px @linkColor;
        }
    }
}


