// Main




html{height: 100%;}
body{
    position: relative;
    min-width: 0;
    min-height: 100%;
    padding: 0;
    font: 16px/1.5 @ff-proxima-nova;
    color: #000;
    background: #fff;
}

.wrap{
    &:extend(.cf-mix all);
    max-width: 1160px;
    margin: auto;
}

a{
    color: #000;
    text-decoration: underline;
}


.lazy-hidden {
    opacity: 0;
}

.lazy-loaded {
    transition: opacity 0.3s;
    opacity: 1;
}




// header
.header{
    min-height: 505px;
    background: url(../images/bazar/header-bg.jpg) no-repeat 50% 0 / cover;

    &_logos{
        height: 0;
    }
    &_bazar-logo{
        position: relative;
        float: left;
        width: 209px;
        height: 209px;
        margin: -27px 0 0;
        border-radius: 50%;
        border: 4px solid #cb2214;
        background: linear-gradient(to bottom, #ffffff 0%,#e6e6e6 100%);
        &_logo{
            display: block;
            width: 102px;
            height: 100px;
            margin: 45px auto 0;
            background: url(../images/bazar/logo.svg) no-repeat;
        }
    }
    &_supradyn-logo{
        float: right;
        width: 208px;
        height: 171px;
        background: url(../images/bazar/supradyn-logo.png) no-repeat 0 0 / cover;
        @media (min-width: 1187px){
            margin: 0 -13px 0 0;
        }
    }
    &_sub{
        position: relative;
        display: block;
        min-height: 29px;
        background: url(../images/bazar/header-bg-sub.jpg) no-repeat 50% 0 / cover;
        &:before{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 482px;
            background: url(../images/bazar/content-bg-top.jpg) repeat-x 50% 0;
        }
    }
}
.logo{
    display: inline-block;
    vertical-align: top;
    width: 177px;
    height: 46px;
    margin: 20px 0 0;
    background: url(../images/pln-logo.svg) no-repeat;
}
// /header



// footer
.footer{
    position: relative;
    font-size: 14px;
    background: #f5f5f5;
    &:before{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 245px;
        background: url(../images/bazar/content-bg-bottom.jpg) repeat-x 50% 100%;
    }
    &_cont{
        min-height: 208px;
        text-align: center;
        background: url(../images/bazar/footer-bg.jpg) no-repeat 50% 0 / cover;
    }
    &_sharing{
        display: inline-block;
        vertical-align: top;
        width: 398px;
        height: 121px;
        margin: 57px 70px 0 0;
        padding: 27px 0 0;
        text-align: center;
        background: url(../images/bazar/footer-sharing-bg.png) no-repeat 50% 0;
        &_head{
            margin: 0 0 5px;
            font: 700 18px/1.2 @ff-mir;
            color: #0d222a;
        }

        .bs-icon-size(30);
    }
    &_copy{
        display: inline-block;
        vertical-align: top;
        width: 277px;
        height: 114px;
        margin: 69px 0 0;
        padding: 30px 0 0;
        font: 700 14px/1.2 @ff-mir;
        color: #0d222a;
        text-align: center;
        background: url(../images/bazar/footer-copy-bg.png) no-repeat 50% 0;
        &_head,
        &_cont{
            display: inline-block;
            vertical-align: middle;
        }
        &_head{
            margin-right: 7px;
        }
        .logo{
            width: 107px;
            height: 28px;
            margin: 0;
        }
    }
}
// /footer



.page-head{
    margin: 0 0 23px;
    padding: 0 20px;
    font: 700 40px/1.1 @ff-mir;
    text-align: center;
    color: #0d222a;
    &:extend(.page-head_media all);
}


// lead
.lead{
    max-width: 937px;
    min-height: 376px;
    margin: 104px auto 25px;
    padding: 63px 0 0;
    text-align: center;
    background: url(../images/bazar/lead-bg.png) no-repeat;
    &_pre-head{
        font: 700 34px @ff-mir;
        line-height: 46/34em;
        letter-spacing: -.02em;
        color: #cb2214;
    }
    &_head{
        margin: 0 0 23px;
        font: 700 51px @ff-mir;
        line-height: 46/51em;
        letter-spacing: -.02em;
        color: #cb2214;
    }
    &_text{
        max-width: 860px;
        margin: 0 auto 26px;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
    }
}
// /lead




// content
.content{
    position: relative;
    z-index: 1;
    margin: 0 0 83px;
}
// /content




// bazar project
.bazar-project{
    &:extend(.cf-mix all);
    position: relative;
    z-index: 1;
    margin: 0 0 70px;
    &_head{
        margin: 50px 20px 53px;
        font: italic 600 56px/1.1 Cuprum, @baseFontFamily;
        color: #ffc30d;
        text-align: center;
        @media (max-width: 767px) {
            font-size: 46px;
        }
        @media (max-width: 500px) {
            font-size: 36px;
        }
    }
    &_box{
        &:extend(.cf-mix all);
        box-shadow: 0 10px 40px fade(#000, 30);
    }


    &_name-big{
        display: none;
        position: relative;
        z-index: 1;
        margin: 0 0 30px;
        padding: 0 20px;
        &:extend(.page-head all);
    }

    &_video{
        position: relative;
        float: left;
        width: 780px;
        margin: auto;
        background: #000;
        &:before{
            content: '';
            position: absolute;
            .bdg-size-mix(1);
            background: url(../images/bazar/bazar-project-bdg.png) no-repeat 0 0 / cover;
        }
        .cover{
            background: 50% 50% / cover;
        }
        .embed-video{
            @media (min-width: 1160px){
                padding-bottom: 520px;
            }
        }
    }

    &_data{
        position: relative;
        z-index: 1;
        float: left;
        width: 380px;
        height: 520px;
        padding: 28px 30px 0;
        color: #fff;
        background: #0d222a;
    }

    &_name{
        margin: 0 0 15px;
        font: 700 30px/36px @ff-mir;
    }
    &_text{
        margin: 0 0 22px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 600;
    }
    &_bar{
        margin: 0 0 11px;
        background: #3d4e55;
        font-size: 0;
    }
    &_progress{
        position: relative;
        max-width: 100%;
        height: 3px;
        background: #f4dd06;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 3px;
            height: 3px;
            background: #fff;
        }
    }

    &_meta{
        &:extend(.cf-mix all);
        margin: 0 0 21px;
        &_i{
            width: 50%;
            float: left;
        }
        &_lbl{
            font-size: 13px;
            line-height: 26px;
            font-weight: 600;
            letter-spacing: .07em;
            text-transform: uppercase;
        }
        &_val{
            margin: -1px 0 0;
            font-size: 24px;
            line-height: 1;
        }
    }
    &_btn{
        text-align: center;
        .land-btn{
            @media (min-width: 1159px) {
                .btn-block();
            }
        }
    }
}

.bdg-size-mix(@ratio: 1){
    top: -88px * @ratio;
    left: -147px * @ratio;
    width: 453px * @ratio;
    height: 502px * @ratio;
}
// /bazar project




// project members
.project-members{
    margin: 0 0 76px;
    &_head{
        &:extend(.page-head all);
        position: relative;
        z-index: 1;
        margin: 0 0 38px;
    }

    &_projects{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: -235px;
            right: -155px;
            width: 444px;
            height: 695px;
            background: url(../images/bazar/project-members-bg.png) no-repeat;
            @media (max-width: 1469px){
                display: none;
            }
        }
    }

    .project-card-list{
        margin: 0;
    }
    .project-card-item{
        margin: 0;
        @media (max-width: 1159px) {
            margin-left: -50%;
        }
        @media (max-width: 499px) {
            margin: 0;
        }
    }

    .owl-stage-outer{
        padding: 5px 3px;
        margin: 0 -3px;
        @media (max-width: 1159px) {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }
        @media (max-width: 499px) {
            padding-left: 14.5%;
        }
        @media (max-width: 374px) {
            padding-left: 7.7%;
        }
    }

    .owl-item{
        z-index: 1;
    }
    .owl-nav{
        @media (max-width: 1339px){
            display: none;
        }
    }
    .owl-prev, .owl-next{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -90px;
        width: 90px;
        font-size: 70px;
        line-height: 1;
        color: #ccc;
        .s-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -35px 0 0 -35px;
        }
    }
    .owl-next{
        left: auto;
        right: -90px;
    }

    &_total{
        margin: 36px 0 0;
        padding: 15px;
        font: 50px/56px @ff-mir;
        text-align: center;
        color: #c63c2d;
        border: 2px dashed #d7d7d7;
        border-radius: 10px;
        .rub{
            &_t{
                position: relative;
                top: 6px;
                margin-left: -27px;
            }
        }
    }

    &_more{
        margin: 23px 0 0;
        text-align: center;
    }
}
// /project members




// bazar news
.bazar-news{
    margin: 0 0 60px;
    &_head{
        &:extend(.page-head all);
        margin: 0 0 34px;
        font-size: 40px;
    }
    &_list{
        &:extend(.cf-mix all);
        margin: -40px 0 0 -26px;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        max-width: 270px;
        margin: 40px 0 0 26px;
    }
    &_i-cont{
        border-radius: 4px;
        box-shadow: 0 1px 5px fade(#000, 20);
    }
    &_date{
        margin: 0 0 6px;
        font-size: 12px;
        line-height: 14px;
        color: #747474;
    }
    &_name{
        padding: 20px;
        font: 18px/26px @ff-proxima-nova;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                color: #ff5959;
            }
        }
    }
    &_name-cont{
        height: 26px * 4;
        overflow: hidden;
    }
}
// /bazar news




// past events
.supr{
    &:extend(.cf-mix all);
    height: 581px;
    margin: 0 0 39px;
    background: url(../images/bazar/surp-bg.jpg) no-repeat 50% 0;
    &_cont{
        position: relative;
        width: 287px;
        margin: auto;
        overflow: hidden;
    }
    &_pre-head{
        position: absolute;
        top: 63px;
        right: 100%;
        width: 300px;
        font: italic 700 34px/38px Cuprum, @baseFontFamily;
        text-align: right;
        color: #ffc30d;
    }
    &_head{
        position: absolute;
        top: 73px;
        left: 100%;
        font: italic 700 54px/58px Cuprum, @baseFontFamily;
        color: #ffc30d;
    }
}
@media (max-width: 840px) {
    .supr{
        &_cont{
            width: auto;
            margin: 0 20px 30px;
            text-align: center;
        }
        &_pre-head{
            position: static;
            width: auto;
            text-align: center;
        }
        &_head{
            position: static;
            font: italic 700 34px/38px Cuprum, @baseFontFamily;
        }
    }
}
@media (max-width: 840px) {
    .supr{
        &_pre-head{
            display: inline;
            vertical-align: top;
        }
        &_head{
            display: inline;
            vertical-align: top;
        }
    }
}

.past-events{
    max-width: 497px;
    margin: 195px auto 0;
    padding: 36px 0 35px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px fade(#000, 20);
    &_head{
        &:extend(.page-head all);
        margin: 0 0 17px;
        font-size: 24px;
        @media (max-width: 380px) {
            font-size: 22px!important;
        }
    }
    &_list{
        text-align: center;
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        margin: 0 35px;
        font: 500 47px/1 @ff-mir;
        color: #cb2214;
        text-decoration: none;
        &:hover{
            color: #ec5346;
            text-decoration: none;
        }
        @media (max-width: 500px) {
            margin: 0 20px;
            font-size: 40px;
        }
        @media (max-width: 380px) {
            margin: 0 15px;
            font-size: 30px;
        }
    }
}
// /past events




// partners
.partners{
    &_list{
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: middle;
        margin: 15px;
    }
}
// /partners


.page-head_media{
    @media (max-width: 767px) {
        font-size: 35px;
        line-height: 1.1;
    }
    @media (max-width: 500px) {
        font-size: 30px;
    }
}


.warn{
    background: #fae760;
    &-text{
        display: none;
        padding: 30px 20px;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
}




.bg-block{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    pointer-events: none;
}
.bg-wrap{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1160px;
    margin-left: -580px;
}

.bg-tabs{
    position: absolute;
    top: 588px;
    left: 990px;
    width: 478px;
    height: 493px;
    background: url(../images/bazar/bg-tabs.png) no-repeat 0 0 / cover;
}
.bg-box{
    position: absolute;
    top: 1215px;
    left: 100%;
    width: 273px;
    height: 445px;
    margin: 0 -13%;
    background: url(../images/bazar/bg-box.png) no-repeat 0 0 / cover;
}
.bg-box-big{
    position: absolute;
    top: 1293px;
    left: -327px;
    width: 414px;
    height: 761px;
    background: url(../images/bazar/bg-box-big.png) no-repeat 0 0 / cover;
}




@media (max-width: 1159px){
    .bg-block{
        display: none;
    }


    .lead{
        padding: 0 20px;
        background: none;
        &_cont{
            padding: 10px 30px 20px;
            background: fade(#fff, 90);
            border-radius: 10px;
            box-shadow: 0 5px 10px fade(#000, 20);
        }
    }


    .bazar-news{
        &_list-wrap{
            max-width: 566px;
            margin: auto;
        }
    }


    .bazar-project{
        &_box{
            box-shadow: none;
        }

        &_name-big{
            display: block;
        }

        &_video{
            float: none;
            width: auto;
            max-width: 800px;
            &:before{
                .bdg-size-mix(.5);
            }
        }

        &_data{
            float: none;
            width: auto;
            max-width: 800px;
            height: auto;
            margin: auto;
            padding: 30px;
        }

        &_name{
            display: none;
        }
    }


    .warn-img{
        display: none;
    }
    .warn-text{
        display: block;
    }

}


@media (max-width: 829px){
    .lead{
        &_pre-head{
            font-size: 28px;
        }
        &_head{
            font-size: 44px;
        }
    }
}


@media (max-width: 767px){
    .header{
        &_bazar-logo{
            width: 105px;
            height: 105px;
            margin: -14px 0 0 20px;
            &_logo{
                width: 51px;
                height: 50px;
                margin: 23px auto 0;
            }
        }
        &_supradyn-logo{
            width: 104px;
            height: 86px;
            margin-right: 20px;
        }
    }

    .footer{
        &_sharing,
        &_copy{
            display: block;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


@media (max-width: 585px){
    .bazar-news{
        &_list-wrap{
            max-width: 270px;
            margin: auto;
        }
        &_name-cont{
            height: auto;
        }
    }
}


@media (max-width: 500px){
    .lead{
        &_pre-head{
            font-size: 22px;
        }
        &_head{
            font-size: 30px;
        }
        &_text{
            font-size: 18px;
            text-align: left;
        }
        .land-btn{
            .btn-block();
        }
    }
}


@media (max-width: 399px){
    .bazar-project_meta_i{
        float: none;
        width: auto;
        text-align: center;
        margin: 15px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }


    .bazar-news{
        &_list-wrap{
            max-width: none;
        }
        &_i{
            display: block;
            max-width: none;
        }
        &_date{
            margin-left: 20px;
        }
        &_cover{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

