// BUTTON STYLES
// -------------

// Base styles
// --------------------------------------------------

// Core

.btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 6px 9px;
    background: #e3e1dc;
    border: 1px solid #d7d6d3;
    font: 700 14px/18px @baseFontFamily;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-radius: 0;
    &:hover{
        background: lighten(#e3e1dc, 2%);
        border-color: lighten(#d7d6d3, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(#e3e1dc, 3%);
        border-color: darken(#d7d6d3, 3%);
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        border-color: #d8d8d8;
        background-image: none;
        background-color: #f6f6f6;
        box-shadow: none;
        opacity: .5;
    }
}


// Set the backgrounds
// -------------------------
.btn-primary{
    border: 1px solid @linkColor;
    background: @linkColor;
    color: #fff;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled, &[disabled]{
        background: @linkColor;
        border-color: @linkColor;
    }
}




// landing btn
.land-btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 20px 30px 18px;
    background: transparent;
    border: 1px solid transparent;
    font: 600 20px/22px @ff-proxima-nova;
    text-transform: uppercase;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px fade(#000, 40);
    &:hover, &:active{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
        outline: none;
        box-shadow: inset 0 0 5px 2px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        background-image: none;
        box-shadow: none;
        opacity: .5;
    }
}



.land-btn-primary{
    border: 0;
    background: #f7e542 linear-gradient(to bottom, #f7e542 0%,#f9ec76 30%,#f4dd06 100%);
    color: #000;
    &:hover{
        background: #f7e542;
        color: #000;
    }
    &.active, &:active{
        background: #f7e542;
    }
    &:focus{
        color: #000;
    }
    &.disabled, &[disabled]{
        background: #f7e542;
    }
}
// / landing btn



.btn-lg{
    padding: 10px 15px;
}

.btn-xlg{
    padding: 15px 25px;
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn{
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
    }
}

.btn-block-mix(){
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block{
    .btn-block-mix();
}

input[type="button"], input[type="reset"], input[type="submit"]{
    &.btn-block{
        .box-sizing(border-box);
        width: 100%;
    }
}

.btn-block + .btn-block{
    margin-top: 5px;
}


// input file
.btn-input-file{
    position: absolute;
    overflow: hidden;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 600%;
        line-height: 600%;
        width: auto;
        height: auto;
        .opacity(0);
        cursor: pointer;
    }
}

