// tooltip



@tooltipBackground: fade(#000, 70);

.tooltip{
    position: absolute;
    z-index: @zindexTooltip;
    display: block;
    margin: 0;
    font-family: @ff-roboto;
    font-size: 12px;
    word-wrap: break-word;
    opacity: 0;

    &.show{
        opacity: .9;
    }

    .arrow{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border: .5em solid transparent;
    }
}




.bs-tooltip-top{
    .arrow{
        bottom: 0;
        margin-left: -.5em;
        border-top-color: @tooltipBackground;
        border-bottom: 0;
    }
}


.bs-tooltip-bottom{
    .arrow{
        top: 0;
        margin-left: -.5em;
        border-bottom-color: @tooltipBackground;
        border-top: 0;
    }
}



.bs-tooltip-right{
    .arrow{
        left: 0;
        margin-top: -.5em;
        border-right-color: @tooltipBackground;
        border-left: 0;
    }
}


.bs-tooltip-left{
    .arrow{
        right: 0;
        margin-top: -.5em;
        border-left-color: @tooltipBackground;
        border-right: 0;
    }
}


.tooltip-inner{
    max-width: 300px;
    margin: .455em;
    padding: .5em .7em;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #eee;
    border-radius: .378788em;
    background: @tooltipBackground;
}
