// BUTTON STYLES
// -------------

// Base styles
// --------------------------------------------------

// Core

.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    background: #e3e1dc;
    border: 1px solid #d7d6d3;
    font: 700 14px/18px @baseFontFamily;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-radius: 0;
    &:hover{
        background: lighten(#e3e1dc, 2%);
        border-color: lighten(#d7d6d3, 2%);
        color: #000;
        text-decoration: none;
    }
    &:active, &.active{
        background: darken(#e3e1dc, 3%);
        border-color: darken(#d7d6d3, 3%);
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        border-color: #d8d8d8;
        background-image: none;
        background-color: #f6f6f6;
        box-shadow: none;
        opacity: .5;
    }
    &-sd {
        min-width: 170px;
        padding: 15px 9px 13px;
    }
}


// Set the backgrounds
// -------------------------
.btn-primary{
    border: 1px solid @linkColor;
    background: @linkColor;
    color: #fff;
    &:hover{
        background: #3aacf8;
        border-color: #3aacf8;
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #2c85c0;
        border-color: #2c85c0;
    }
    &.disabled, &[disabled]{
        background: @linkColor;
        border-color: @linkColor;
    }
}


.btn-invest{
    border: 0;
    padding: 7px 10px;
    background: #964fad;
    background-image: linear-gradient(to bottom, #964fad, #87479c);
    color: #fff;
    &:hover{
        background: #964fad;
        background-image: linear-gradient(to bottom, #964fad, #87479c);
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #964fad;
        background-image: linear-gradient(to bottom, #964fad, #87479c);
    }
    &.disabled, &[disabled]{
        background: #964fad;
    }
}


.btn-light{
    border: 1px solid #dfdedb;
    background: #f5f4f2;
    color: #666;
    &:hover{
        background: #e8e7e6;
        border-color: #dfdedb;
        color: #666;
        text-decoration: none;
    }
    &.active, &:active{
        background: #e8e7e6;
        border-color: #dfdedb;
        box-shadow: inset 0 3px 1px fade(#000, 5);
    }
    &.disabled, &[disabled]{
        border-color: #dfdedb;
        background: #f5f4f2;
    }
}


.btn-red{
    border: 1px solid #c0392b;
    background: #c0392b;
    color: #fff;
    &:hover{
        background: lighten(#c0392b, 10%);
        border-color: lighten(#c0392b, 10%);
        color: #fff;
        text-decoration: none;
    }
    &.active, &:active{
        background: #c0392b;
        border-color: #c0392b;
    }
    &.disabled, &[disabled]{
        background: #c0392b;
        border-color: #c0392b;
    }
}

// Warning appears are orange
.btn-warning{
    background: #ec971f;
    border-color: #ec971f;
    &:hover{
        background: #fca428;
        border-color: #fca428;
    }
    &.active, &:active{
        background: #df8609;
        border-color: #df8609;
    }
    &.disabled, &[disabled]{
        background: #fbe7cb;
        border-color: #fbe7cb;
        color: #ffcb83;
    }
}

// Success appears as green
.btn-success{
    background: #43c843;
    border-color: #43c843;
    &:hover{
        background: #4ede4e;
        border-color: #4ede4e;
    }
    &.active, &:active{
        background: #2fb32f;
        border-color: #2fb32f;
    }
    &.disabled, &[disabled]{
        background: #d4f2d4;
        border-color: #d4f2d4;
        color: #63f363;
    }
}

// Info appears as a neutral blue
.btn-info{
    background: #2980b9;
    border-color: #2980b9;
    &:hover{
        background: #368fca;
        border-color: #368fca;
    }
    &.active, &:active{
        background: #2477ad;
        border-color: #2477ad;
    }
    &.disabled, &[disabled]{
        background: #f3f6f7;
        border-color: #f3f6f7;
    }
}

.btn-concert{
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-top: 1px solid @concertBaseColor;
    border-bottom: 1px solid @concertBaseColor;
    text-shadow: none;
    .reset-filter();
    background: @concertBaseColor;
    &:hover{
        color: #fff;
        background: @concertLinkColorHover;
        background-position: 0 0;
        border-top: 1px solid @concertLinkColorHover;
        border-bottom: 1px solid @concertLinkColorHover;
        transition: none;
    }
}


// TODO delete flat-btn
.flat-btn{
    &:extend(.btn all);
    &:extend(.btn-primary all);
}

.flat-btn.flat-btn-default{
    &:extend(.btn all);
}




// new design buttons
@btn-nd-color: #1a8cff;


[class^="btn-nd-"], [class*=" btn-nd-"]{
    font-family: @ff-roboto-cond;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: .15em;
    text-transform: uppercase;
    border-radius: 3px;
    transition: background .4s, box-shadow .4s, color .4s;
}


.btn-nd-primary{
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    background: @btn-nd-color;
    color: #fff;
    background-clip: padding-box;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: linear-gradient(180deg, #169df4 0, #1d71d6 100%);
        border-radius: 4px;
    }
    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background: @btn-nd-color;
        border-radius: inherit;
    }
    &:hover{
        border-color: transparent;
        background: lighten(@btn-nd-color, 7%);
        color: #fff;
        &:before{
            background: linear-gradient(180deg, lighten(#169df4, 7%) 0, lighten(#1d71d6, 7%) 100%);
        }
        &:after{
            background: lighten(@btn-nd-color, 7%);
        }
    }
    &.active, &:active{
        border-color: transparent;
        background: @btn-nd-color;
    }
    &:focus{
        &:after{
            box-shadow: inset 0 0 0 1px #fff;
        }
    }
    &.disabled, &[disabled]{
        border-color: transparent;
        background: @btn-nd-color;
        box-shadow: none;
        &:before{
            background: linear-gradient(180deg, #169df4 0, #1d71d6 100%);
        }
        &:after{
            background: @btn-nd-color;
        }
    }
}



.btn-nd-default{
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    background: #fff;
    color: #454553;
    background-clip: padding-box;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: linear-gradient(180deg, #f2f2f2 0, #ddd 100%);
        border-radius: 4px;
    }
    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background: #fff;
        border-radius: inherit;
    }
    &:hover{
        border-color: transparent;
        background: darken(#fff, 3%);
        color: #454553;
        &:before{
            background: linear-gradient(180deg, darken(#f2f2f2, 3%) 0, darken(#ddd, 3%) 100%);
        }
        &:after{
            background: darken(#fff, 3%);
        }
    }
    &.active, &:active{
        border-color: transparent;
        background: #fff;
    }
    &:focus{
        &:after{
            box-shadow: inset 0 0 0 1px #999;
        }
    }
    &.disabled, &[disabled]{
        border-color: transparent;
        background: #fff;
        box-shadow: none;
        &:before{
            background: linear-gradient(180deg, #f2f2f2 0, #ddd 100%);
        }
        &:after{
            background: #fff;
        }
    }
}



@btn-nd-danger-color: #ff501a;
.btn-nd-danger{
    border: 1px solid @btn-nd-danger-color;
    background: @btn-nd-danger-color;
    color: #fff;
    box-shadow: 0 5px 10px fade(@btn-nd-danger-color, 50);
    &:hover{
        background: darken(@btn-nd-danger-color, 7%);
        border-color: darken(@btn-nd-danger-color, 7%);
        color: #fff;
        box-shadow: 0 5px 10px fade(darken(@btn-nd-danger-color, 7%), 50);
    }
    &.active, &:active{
        background: @btn-nd-danger-color;
        border-color: @btn-nd-danger-color;
        &:focus{
            box-shadow: 0 5px 10px fade(darken(@btn-nd-danger-color, 7%), 50);
        }
    }
    &:focus{
        box-shadow: 0 5px 10px fade(@btn-nd-danger-color, 50), inset 0 0 0 1px #fff;
    }
    &.disabled, &[disabled]{
        background: @btn-nd-danger-color;
        border-color: @btn-nd-danger-color;
    }
}



@btn-nd-success-color: #00c871;
.btn-nd-success{
    border: 1px solid @btn-nd-success-color;
    background: @btn-nd-success-color;
    color: #fff;
    box-shadow: 0 5px 10px fade(@btn-nd-success-color, 50);
    &:hover{
        background: darken(@btn-nd-success-color, 5%);
        border-color: darken(@btn-nd-success-color, 5%);
        color: #fff;
        box-shadow: 0 5px 10px fade(darken(@btn-nd-success-color, 5%), 50);
    }
    &.active, &:active{
        background: @btn-nd-success-color;
        border-color: @btn-nd-success-color;
        &:focus{
            box-shadow: 0 5px 10px fade(darken(@btn-nd-success-color, 5%), 50);
        }
    }
    &:focus{
        box-shadow: 0 5px 10px fade(@btn-nd-success-color, 50), inset 0 0 0 1px #fff;
    }
    &.disabled, &[disabled]{
        background: @btn-nd-success-color;
        border-color: @btn-nd-success-color;
    }
}
// /new design buttons





// Small
.btn-small {
    padding: 4px 8px;
    font-size: @baseFontSize - 1px;
    line-height: @baseLineHeight;
    font-weight: 400;
    &.btn-primary{
        padding-left: 9px;
        padding-right: 9px;
    }
    [class^="icon-"]{
        margin-top: -2px;
        margin-bottom: -1px;
    }
}
.btn-small .icon {
    margin-top: -1px;
}


.btn-lg{
    padding: 10px 15px;
}

.btn-xlg{
    padding: 15px 25px;
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn{
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
    }
}

.btn-block-mix(){
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block{
    .btn-block-mix();
}

input[type="button"], input[type="reset"], input[type="submit"]{
    &.btn-block{
        width: 100%;
    }
}

.btn-block + .btn-block{
    margin-top: 5px;
}


.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    > .btn {
        position: relative;
        float: left;
    }
}
