// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------


// GENERAL STYLES
// --------------


// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-apperance: none;
}


// Make all forms have space below them
form {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}


// Identify controls by their labels
label {
    display: block;
    color: @grayDark;
    cursor: default;
}
label[for]{
    cursor: pointer;
}

// Remove the cross from the IE 10
input[type="text"]::-ms-clear{
    display: none;
}

select[multiple],
select[size] {
    height: auto;
}




.form-control{
    &:extend(.form-control-mix all);
}

.input-l{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    padding: 9px;
}
textarea.input-l{
    height: auto;
}

.control-lg{
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    padding: 10px;
}
.control-xlg{
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    padding: 16px;
}



.help-block {
    margin-top: 5px;
    margin-bottom: 0;
    color: @grayLight;
}

.help-inline {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    margin-bottom: 3px;
    color: #b44d38;
    font-size: 11px;
}



.form-inline{
    vertical-align: middle;
    .form-control, .btn, span{
        display: inline-block;
        vertical-align: middle;
    }
    .form-control{
        width: auto;
    }
}



// Fieldset
.fieldset{
    position: relative;
    &:extend(.cf all);
    & + &{
        margin-top: 20px;
    }
    &:first-child{
        margin-top: 0;
    }

    &.error{
        label{
            color: #c0392b;
        }
        input, textarea{
            border-color: #c0392b;
        }
    }

    label{
        line-height: 18px;
    }
}
.fieldset-lbl{
    padding-top: 7px;
}
.fieldset-lbl-title{
    position: relative;
    font-weight: 700;
}

.fieldset-action-warning{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 13px;
    background: url(/images/project/s-pc-action.png) no-repeat -40px 0;
}

.fieldset-help-tooltip{
    position: absolute;
    top: 17px;
    right: 16px;
    width: 15px;
    height: 15px;
    font: 12px @baseFontFamily;
    text-align: center;
    color: #9ec1ce;
    border: 1px solid #9ec1ce;
    border-radius: 50%;
    &:before {
        content: '?';
    }
}
.fieldset-lbl-title{
    .fieldset-help-tooltip{
        top: 1px;
        right: 0;
    }
}

.fieldset-lg{
    font-size: 14px;
    .fieldset-lbl{
        padding-top: 11px;
        font-size: 14px;
    }
}

.fieldset-group__grid{
    border: 1px solid @borderGray;
    border-bottom: 0;
    .fieldset{
        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        background: #fff;
        border-bottom: 1px solid @borderGray;
        &:before, &:after{
            display: none;
        }
        &.error{
            .form-control{
                border-color: transparent;
            }
        }
        &_warning{
            position: absolute;
            top: 3px;
            right: 0;
        }
        &_text-icon{
            &_i{
                float: left;
            }
            &_t{
                overflow: hidden;
            }
        }
    }
    .fieldset-lbl{
        display: table-cell;
        vertical-align: middle;
        float: none;
        padding: 16px;
        border-right: 1px solid @borderGray;
    }
    .fieldset-val{
        display: table-cell;
        float: none;
        padding: 0;
        & + &{
            border-left: 1px solid @borderGray;
        }
        &_cont{
            padding: 16px;
        }
    }
    .form-control{
        position: relative;
        border-color: transparent;
        &:focus{
            z-index: 1;
            box-shadow: 0 0 0 1px @linkColor;
        }
    }
    .pln-select{
        border-color: transparent;
    }
    .checkbox-label,
    .radiobox-label{
        font-weight: 700;
    }


    .fieldset_ww-block{
        position: relative;
        &, .pln-tiny-mce-block{
            min-height: 412px;
        }
    }
}


