.google-font-face(@font-name, @font-local-name-1, @font-local-name-2, @font-file, @svg-hash, @font-weight: normal, @font-style: normal, @font-path-prefix: '..') {
    @font-face{
        font-family: '@{font-name}';
        font-style: @font-style;
        font-weight: @font-weight;
        /*src: url('@{font-path-prefix}/fonts/@{font-file}.eot');*/
        src: local('@{font-local-name-1}'), local('@{font-local-name-2}'),
            /*url('@{font-path-prefix}/fonts/@{font-file}.eot?#iefix') format('embedded-opentype'),*/
        url('@{font-path-prefix}/fonts/@{font-file}.woff2') format('woff2'),
        url('@{font-path-prefix}/fonts/@{font-file}.woff') format('woff')/*,
            url('@{font-path-prefix}/fonts/@{font-file}.ttf') format('truetype'),
            url('@{font-path-prefix}/fonts/@{font-file}.svg#@{svg-hash}') format('svg')*/;
    }
}

/* roboto-300 - cyrillic_latin */
.google-font-face('Roboto', 'Roboto Light', 'Roboto-Light', 'roboto-v18-cyrillic_latin-300', 'Roboto', 300, normal, '');

/* roboto-regular - cyrillic_latin */
.google-font-face('Roboto', 'Roboto', 'Roboto-Regular', 'roboto-v18-cyrillic_latin-regular', 'Roboto', 400, normal, '');

/* roboto-500 - cyrillic_latin */
.google-font-face('Roboto', 'Roboto Medium', 'Roboto-Medium', 'roboto-v18-cyrillic_latin-500', 'Roboto', 500, normal, '');

/* roboto-700 - cyrillic_latin */
.google-font-face('Roboto', 'Roboto Bold', 'Roboto-Bold', 'roboto-v18-cyrillic_latin-700', 'Roboto', 700, normal, '');



/* roboto-condensed-300 - cyrillic_latin */
.google-font-face('Roboto Condensed', 'Roboto Condensed Light', 'RobotoCondensed-Light', 'roboto-condensed-v16-cyrillic_latin-300', 'RobotoCondensed', 300, normal, '');

/* roboto-condensed-regular - cyrillic_latin */
.google-font-face('Roboto Condensed', 'Roboto Condensed', 'RobotoCondensed-Regular', 'roboto-condensed-v16-cyrillic_latin-regular', 'RobotoCondensed', 400, normal, '');

/* roboto-condensed-700 - cyrillic_latin */
.google-font-face('Roboto Condensed', 'Roboto Condensed Bold', 'RobotoCondensed-Bold', 'roboto-condensed-v16-cyrillic_latin-700', 'RobotoCondensed', 700, normal, '');
