// GRID SYSTEM
// -----------

// Fluid (990px)
#fluidGridSystem > .generate(@gridColumns, @fluidGridColumnWidth, @fluidGridGutterWidth);

.make-grid > .make(col, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
.display-media-util(col);

@media (min-width: @screen-pp-min) {
    .make-grid > .make(m-col-pp, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(pp);
}

@media (min-width: @screen-pl-min) {
    .make-grid > .make(m-col-pl, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(pl);
}

@media (min-width: @screen-tp-min) {
    .make-grid > .make(m-col-tp, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(tp);
}

@media (min-width: @screen-tl-min) {
    .make-grid > .make(m-col-tl, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(tl);
}

@media (min-width: @screen-ld-min) {
    .make-grid > .make(m-col-ld, @grid960Columns, @grid960ColumnWidth, @grid960GutterWidth);
    .display-media-util(ld);
}


.d-none{
    display: none !important;
}
