// modal-nd



.modal-nd-close{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    &:hover{
        &:before{
            .cross(15, 2, #000);
        }
    }
    &:before{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 15px;
        height: 15px;
        .cross(15, 2, #254959);
    }
}



.modal-nd-header{
    margin: 15px 0 30px;
    text-align: center;
    font-family: @ff-roboto;
}



.modal-nd-title{
    display: inline-block;
    vertical-align: top;
    padding: 16px 43px;
    font-size: 24px;
    line-height: 28px;
    color: #323534;
    border-bottom: 2px solid @linkColor;
}

