// modal-nd-confirm



.modal-nd-confirm{
    padding: 40px;
    width: 720px;
    border: 0;
    font-family: @ff-roboto-cond;
    &_cont{
        padding: 28px 20px;
        text-align: center;
        background: #f6f8fb;
    }
    &_text{
        font-family: @ff-roboto-cond;
        font-size: 18px;
        line-height: 21px;
        color: #454553;
    }
    &_actions{
        margin: 27px 0 0;
        font-size: 0;
        .btn{
            min-width: 100px;
            padding: 14px 30px;
            font-size: 14px;
        }
        .btn + .btn{
            margin-left: 16px;
        }
    }
    &_info-text{
        margin: 24px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #000;
        text-align: center;
    }
}
