// NAVIGATIONS
// -----------


// Show/hide tabbable areas
.tab-content > .tab-pane{
  display: none;
}
.tab-content > .active{
  display: block;
}


.sandwich-open {
    overflow: hidden;
    height: 100vh;
}
