// chekbox & radiobox


.checkbox-row, .radiobox-row{
    line-height: 18px;
}
.checkbox, .radiobox{
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    cursor: pointer;
    &.disabled{
        cursor: default;
    }
    & + .checkbox-label{
        cursor: default;
    }
}

.checkbox{
    background: url(/images/planeta/flat-radio.png) no-repeat -20px 0;
    &.active,
    &.checked{
        background-position: -20px -20px;
    }
    &.disabled{
        background-position: -20px -40px;
        &.active,
        &.checked{
            background-position: -20px -60px;
        }
    }
}



.radiobox{
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    border: 1px solid @baseColor;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    &:before{
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
        border-radius: 50%;
        background: @baseColor;
    }
    &.active,
    &.checked{
        &:before{
            display: block;
        }
    }
    &.disabled{
        border-color: #ccc;
        background: #f2f2f2;
        cursor: default;
        &.active,
        &.checked{
            &:before{
                background: #ccc;
            }
        }
    }
}

.checkbox-label, .radiobox-label{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 8px;
    font-size: 14px;
    cursor: pointer;
}
