// scaffolding
// -------------------------------------------------------------

*, *:before, *:after {
    box-sizing: border-box;
}


// Body reset
html {
    height: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    position: relative;
    min-height: 100%;
    height: auto;
    margin: 0;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: 1.5;
    color: @textColor;
    background: fixed #f4f4f4 50% 50% no-repeat;

    display: flex;
    flex-direction: column;

    @media (max-width: @screen-tp-max) {
        overflow-x: hidden;
    }
}


// Links
a {
    color: @linkColor;
    text-decoration: none;

    &:hover{
        color: @linkColorHover;
        text-decoration: underline;
        outline: none;
    }

    &:focus{
        outline: none;
    }
}


// Images
img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}


ul, ol {
    padding: 0;
    margin: 0;
}

p{
    margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: .5em;
}

hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
