//
// Tables.less
// Tables for, you guessed it, tabular data
// ----------------------------------------

// BASE TABLES
// -----------------

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

// BASELINE STYLES
// ---------------

.table {
    width: 100%;
    margin-bottom: @baseLineHeight;
    // Cells
    th,
    td {
        padding: 8px;
        line-height: @baseLineHeight;
        text-align: left;
        border-top: 1px solid #ddd;
    }
    th {
        font-weight: 700;
        vertical-align: bottom;
    }
    td {
        vertical-align: top;
    }
    // Remove top border from thead by default
    thead:first-child tr th,
    thead:first-child tr td {
        border-top: 0;
    }
    // Account for multiple tbody instances
    tbody + tbody {
        border-top: 2px solid #ddd;
    }
}

.tbody-va-t {
    > tbody > tr > td {
        vertical-align: top;
    }
}

.no-border {
    > tbody > tr > td {
        border: 0;
    }
}

.td-pdg-1 {
    > tbody > tr > td {
        padding: 1px;
    }
}

.td-pdg-2 {
    > tbody > tr > td {
        padding: 2px;
    }
}

.td-pdg-3 {
    > tbody > tr > td {
        padding: 3px;
    }
}

.td-pdg-4 {
    > tbody > tr > td {
        padding: 4px;
    }
}

.td-pdg-5 {
    > tbody > tr > td {
        padding: 5px;
    }
}

// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed {
    th,
    td {
        padding: 4px 5px;
    }
}

// BORDERED VERSION
// ----------------

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate; // Done so we can round those corners!
    th + th,
    td + td,
    th + td,
    td + th {
        border-left: 1px solid #ddd;
    }
    // Prevent a double border
    thead:first-child tr:first-child th,
    tbody:first-child tr:first-child th,
    tbody:first-child tr:first-child td {
        border-top: 0;
    }
}

// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
    tbody {
        tr:nth-child(odd) td,
        tr:nth-child(odd) th {
            background-color: #f9f9f9;
        }
    }
}

.table-striped-even {
    > tbody {
        > tr:nth-child(even) > td,
        > tr:nth-child(even) > th {
            background-color: #f9f9f9;
        }
    }
}

// TABLE CELL HOVER
// -----------------

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}

// fixed layout colgroup
.table-fixed,
.fixed-manage-table {
    table-layout: fixed;
    word-wrap: break-word;
    > thead, > tbody {
        > tr:first-child {
            > th, > td {
                border-top-width: 0;
            }
        }
    }
    thead + tbody {
        > tr:first-child {
            > th, > td {
                border-top-width: 1px;
            }
        }
    }
}
