//Переопределяем стандартные классы нотификейшенов
.toast-container .toast {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 15px 50px 15px 15px;
    &:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    &.toast-success {
        background: #44b759 url('/images/icons/success.svg') no-repeat calc(~'100% - 20px');
        background-size: 35px;
    }

    &.toast-info {
        background: #1a8cff url('/images/icons/info.svg') no-repeat calc(~'100% - 20px');
        background-size: 35px;
    }

    &.toast-error {
        background: #ff501a url('/images/icons/error.svg') no-repeat calc(~'100% - 20px');
        background-size: 35px;
    }

    &.toast-warning {
        background: #F89406 url('/images/icons/error.svg') no-repeat calc(~'100% - 20px');
        background-size: 35px;
    }

    & .toast-title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    & .toast-message {
        font-size: 14px;
    }
}


