// campus-header



.campus-header{
    &:extend(.cf-mix all);
    margin: -20px 0 0;
    background: url(../images/campus/header-bg.jpg) no-repeat 50% 50% / cover;
}

.campus-logo{
    display: block;
    width: 303px;
    height: 136px;
    margin: 120px auto 124px;
    background: url(../images/campus/logo.svg) no-repeat;
}

.campus-logo-small{
    display: block;
    width: 375px;
    height: 41px;
    margin: 21px auto 31px;
    background: url(../images/campus/logo-small.svg) no-repeat;
}
