// campus-projects-head



.campus-projects-head{
    &:extend(.cf-mix all);
    margin: 0 0 40px;
    padding: 23px 25px 23px 28px;
    background: #fff;
    box-shadow: 0 0 54px fade(#000, 15);
    border-radius: 5px;
    &_title{
        float: left;
        font-size: 26px;
        line-height: 1;
        font-weight: 100;
        text-transform: uppercase;
        color: #132129;
    }
    &_all{
        float: right;
        margin: 4px 0 0;
        font-size: 14px;
    }
    &_all-link{
        text-decoration: underline;
        cursor: pointer;
    }
}
