// campus-project-slider



.campus-project-slider{
    .project-card-list{
        margin: 0;
        white-space: nowrap;
    }
    .project-card-item{
        margin: 0;
        white-space: normal;
    }
    .owl-loaded{
        .project-card-item{
            padding: 0;
            width: 265px;
        }
        .project-card-tag-wrap{
            left: 0;
            right: 0;
        }
    }

    .owl-stage-outer{
        margin: -40px -20px;
        padding: 40px 20px;
        @media (max-width: @screen-md-max) {
            margin: -40px -12px;
            padding: 40px 12px;
            .project-card-item{
                width: 220px;
            }
        }
    }

    .owl-item{
        z-index: 1;
    }

    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 72px;
        padding: 195px 0 0;
        font-size: 42px;
        color: #7a92a0;
        text-align: center;
        opacity: .6;
        &:hover{
            background: #b5c4ce;
            border-radius: 5px;
            opacity: 1;
        }
    }
    .owl-next{
        right: auto;
        left: 100%;
    }
    .owl-arrow-left{
        .s-icon();
        .s-icon-arrow-left-round();
    }
    .owl-arrow-right{
        .s-icon();
        .s-icon-arrow-right-round();
    }


    @media (max-width: 1100px) {
        .owl-prev,
        .owl-next {
            width: 40px;
            font-size: 36px;
        }
    }

    @media (max-width: 1023px) {
        .owl-prev,
        .owl-next {
            display: none;
        }
    }
    @media (max-width: 979px) {
        margin-left: -20px;
        margin-right: -20px;
    }
}
