// campus-members



.campus-members{
    padding: 140px 0;
    &_cont{
        margin: 0 30px 0 0;
    }
    &_head{
        margin: 0 0 30px;
        font-size: 48px;
        line-height: 1;
    }
    &_projects{
        margin: 0 0 0 10px;
        .project-card-list{
            margin-bottom: 0;
        }
        .project-card-item{
            width: 50%;
        }
        @media (max-width: @screen-md-max) {
            margin: 0;
        }
    }
}
