// campus-projects-type



.campus-projects-type{
    float: right;
    margin: 4px 0 0;
    &_i{
        float: left;
        padding: 0 0;
        font-size: 16px;
        line-height: 18px;
        white-space: nowrap;
        &.active{
            .campus-projects-type_link{
                color: #fff;
                background: #254959;
            }
        }
    }
    &_link{
        padding: 8px 19px;
        border-radius: 5px;
        &:hover{
            text-decoration: none;
        }
    }
}
