// campus-lead



.campus-lead{
    &:extend(.cf-mix all);
    padding: 118px 0 116px;
    background: url(../images/campus/campus-lead-bg.jpg) no-repeat 50% 0;
    border-top: 1px solid #d8e0eb;
    border-bottom: 1px solid #d8e0eb;
    &_head{
        float: left;
        width: 360px;
        margin: 0 58px 0 0;
        font-size: 48px;
        line-height: 1;
        text-align: right;
    }
    &_text{
        float: left;
        width: 390px;
        margin: -.5em 0;
        font-size: 15px;
        line-height: 1.5;
        color: #435058;
        p{
            margin: 1em 0;
        }
    }


    &__small{
        padding: 45px 0 105px;
        background: none;
        border: 0;
        .campus-lead{
            &_head{
                width: 190px;
                font-size: 24px;
            }
            &_text{
                width: ~"calc(100% - 250px)";
                margin-top: -17px;
            }
        }
    }


    @media (max-width: @screen-md-max) {
        &_head{
            width: 290px;
            margin-right: 30px;
            font-size: 38px;
        }
    }
}
