// campus-btn



.btn-campus-primary{
    padding: 15px 60px;
    font-family: @ff-pfbeau-sans-pro;
    font-size: 22px;
    line-height: 26px;
    color: #1b2336;
    border: 0;
    border-radius: 5px;
    background: #ffd910;
    background-image: linear-gradient(to bottom, #ffd910, #ffc60a);
    box-shadow: 0 3px 7px fade(#000, 10);
    &:hover{
        background: #ffd910;
        color: #1b2336;
        text-decoration: none;
    }
    &.active, &:active{
        background: #ffd910;
        box-shadow: 0 3px 7px fade(#000, 10);
    }
    &:focus{
        box-shadow: 0 3px 7px fade(#000, 10);
    }
    &.disabled, &[disabled]{
        background: #ffd910;
    }
}
