// campus-projects-list



.campus-projects-list{
    .project-card-item{
        width: 300px;
    }

    @media (max-width: @screen-md-max) {
        .project-card-item{
            width: 320px;
        }
    }
}
