// campus-members-list



.campus-members-list{
    &_i{
        position: relative;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        min-height: 62px;
        margin: -1px 0 0;
        padding: 9px 5px 9px 95px;
        border-top: 1px solid #d9e1ec;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        cursor: pointer;
        &:after{
            display: none;
            content: '';
            position: absolute;
            top: -1px;
            bottom: -1px;
            right: -22px;
            width: 22px;
            background: url(../images/campus/campus-members-list-i-arr.png) no-repeat;
            background-size: 100% 100%;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #fff;
        }
        &:first-child{
            margin-top: 0;
            border-top-color: transparent;
            &:before{
                display: none;
            }
        }
        &:hover{
            background: darken(#f3f8ff, 1.5%);
        }
        &.active{
            background: #fff;
            border: solid #dae2ec;
            border-width: 1px 0 1px 1px;
            border-radius: 5px 0 0 5px;
            &:before{
                display: none;
            }
            &:after{
                display: block;
            }
            & + .campus-members-list_i{
                border-top-color: transparent;
                &:before{
                    display: none;
                }
            }
            .campus-members-list_cover{
                display: block;
            }
            .campus-members-list_all{
                visibility: visible;
            }
        }
        &:hover{
            border-top: 1px solid #dae2ec !important;
        }
    }
    &_cover{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 74px;
        background: no-repeat 50% 50% / cover;
    }
    &_all{
        visibility: hidden;
        float: right;
        min-width: 164px;
        padding: 6px;
        font-size: 12px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        background: #1b2336;
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
    &_name{
        overflow: hidden;
        font-size: 16px;
        line-height: 21/16;
        font-weight: 300;
        color: #1b2336;
    }
}
