// campus-idea



.campus-idea{
    padding: 102px 0 56px;
    background: #fff;
    border-bottom: 1px solid #d8e0eb;
    &_list{
        &:extend(.cf-mix all);
        position: relative;
    }
    &_i{
        float: left;
        width: 33.333333%;
        padding: 27px 0;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            display: block;
            border-left: 1px solid #d8e0eb;
            transform: skewX(-15deg);
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
    }
    &_i-cont{
        width: 250px;
        margin: auto;
    }

    &_text{
        margin: 75px 0 73px;
        font-size: 18px;
        line-height: 30/18;
        font-weight: 300;
        text-align: center;
    }
    &_logo{
        font-weight: 900;
        font-style: italic;
        text-transform: uppercase;
        color: #1b2336;
    }
    &_logo-hl{
        color: @baseColor;
    }

    &_action{
        text-align: center;
    }
}
