// campus-faq



.campus-faq{
    margin: 0 0 102px;
    &_cont{
        padding: 84px 0 0;
        background: #fff;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
    }
    &_head{
        margin: 0 0 85px;
        font-size: 48px;
        line-height: 1;
        text-align: center;
    }
    &_i{
        margin: 0 65px 85px;
    }
    &_question{
        font-size: 28px;
        line-height: 1;
        font-weight: 700;
        color: #324063;
        &:after{
            content: '';
            display: block;
            width: 243px;
            margin: 38px 0 36px;
            border-top: 1px solid #01c8fe;
        }
    }
    &_answer{
        margin: 0 50px 0 0;
        font-size: 14px;
        line-height: 1.5;
        p, ul{
            margin: 1.5em 0;
        }
        ul{
            list-style: none;
            li{
                margin: 1em 0;
                padding: 0 0 0 35px;
                &:before{
                    content: '—';
                    display: inline-block;
                    vertical-align: top;
                    width: 20px;
                    margin: 0 0 0 -20px;
                }
            }
        }
    }


    @media (max-width: @screen-md-max) {
        &_i{
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}
