// campus-name



.campus-name{
    margin: 0 100px 61px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
}


.campus-create{
    margin: 0 0 40px;
    text-align: center;
}
