// campus-nav



.campus-nav{
    font-size: 0;
    text-align: center;
    background: #fff;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 22px 0;
        font-size: 18px;
        line-height: 23/18;
        &:before{
            content: '';
            position: absolute;
            top: 22px;
            left: 0;
            bottom: 22px;
            border-left: 1px solid #d8e0eb;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
    }
    &_link{
        display: block;
        padding: 6px 99px;
        color: #000;
        &:hover{
            text-decoration: none;
        }
    }


    @media (max-width: @screen-md-max) {
        &_link{
            padding-left: 70px;
            padding-right: 70px;
        }
    }
}
