<pl-profile-tab></pl-profile-tab>

<div class="profile-body">
    <div class="profile-body_nav" >
        <ul class="profile-nav">
            <li *ngFor="let it of navs"
                pl-profile-nav-i
                #me="profileNavIt"
                class="profile-nav_i"
                [class.selected]="me.rla.isActive" [model]="it"></li>
        </ul>
    </div>

    <div class="profile-body_cont">
        <router-outlet></router-outlet>
    </div>
</div>
