<pl-profile-tab></pl-profile-tab>
<div class="profile-body">
    <div class="profile-body_nav">
        <ul class="profile-nav">
            <li *ngFor="let it of getNavs()" pl-profile-nav-i #me="profileNavIt"
                class="profile-nav_i rewards"
                [ngClass]="it.clazz"
                [class.selected]="me.rla.isActive" [model]="it"></li>
        </ul>
    </div>
    <div class="profile-body_cont">
        <div class="profile-body_top-filter" (clickOutside)="closeSortDropdown()">
            <div class="profile-filter-select pln-dropdown" [ngClass]="{'open': isShowSortDropdown}">
                <div class="profile-filter-select_switch pln-d-switch" (click)="toggleShowSortDropdown()" *ngIf="sortByDate" translate>profile-purchases-and-rewards.sort.by-date</div>
                <div class="profile-filter-select_switch pln-d-switch" (click)="toggleShowSortDropdown()" *ngIf="sortByTotalPrice" translate>profile-purchases-and-rewards.sort.by-total-price</div>
                <div class="profile-filter-select_switch pln-d-switch" (click)="toggleShowSortDropdown()" *ngIf="sortByItemsCount" translate>profile-purchases-and-rewards.sort.by-item-count</div>
                <div class="profile-filter-select_switch pln-d-switch" (click)="toggleShowSortDropdown()" *ngIf="sortByStatus" translate>profile-purchases-and-rewards.sort.by-status</div>
                <div class="profile-filter-select_popup pln-d-popup" >
                    <div class="profile-filter-select_i" (click)="changeSortBy(1)" [ngClass]="{'active': sortByDate}" translate>profile-purchases-and-rewards.sort.by-date</div>
                    <div class="profile-filter-select_i" (click)="changeSortBy(2)" [ngClass]="{'active': sortByTotalPrice}" translate>profile-purchases-and-rewards.sort.by-total-price</div>
                    <div class="profile-filter-select_i" (click)="changeSortBy(3)" [ngClass]="{'active': sortByItemsCount}" translate>profile-purchases-and-rewards.sort.by-item-count</div>
                    <div class="profile-filter-select_i" (click)="changeSortBy(4)" [ngClass]="{'active': sortByStatus}" translate>profile-purchases-and-rewards.sort.by-status</div>
                </div>
            </div>
        </div>
        <div class="profile-body_head">
            <div class="profile-body_title" translate>{{title.bodyTitle}}</div>
            <div class="profile-body_descr" translate>{{title.bodyDescr}}</div>
        </div>

        <div class="profile-project-card" *ngIf="orders?.length">
            <li class="profile-project-card_i profile-project-card__order" *ngFor="let order of orders" pl-my-purchases-reward-order-card
                [project]="order">
            </li>
        </div>
        <div class="profile-body_empty" *ngIf="!orders?.length"
             [innerHtml]="'profile-page.my-purchases-empty-html' | translate:lang"></div>
    </div>
</div>
