// ALERT STYLES
// ------------

// Base alert styles
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: @baseLineHeight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: @warningBackground;
  border: 1px solid @warningBorder;
  .border-radius(4px);
  display: inline-block;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2100;
}
.alert,
.alert-heading {
  color: @warningText;
}

// Adjust close link position
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    font-size: 16px;
    line-height: 18px;
}

// Alternate styles
// ----------------

.alert-success {
  background-color: @successBackground;
  border-color: @successBorder;
}
.alert-success,
.alert-success .alert-heading {
  color: @successText;
}
.alert-danger,
.alert-error {
  background-color: @errorBackground;
  border-color: @errorBorder;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: @errorText;
}
.alert-info {
  background-color: @infoBackground;
  border-color: @infoBorder;
}
.alert-info,
.alert-info .alert-heading {
  color: @infoText;
}


// Block alerts
// ------------------------
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

// Three types of alerts
.content-alert-success, .content-alert-warning, .content-alert-error {
    position: relative;
    margin: 10px 0;
    padding: 15px 20px 15px 60px;
    line-height: 21px;
    .border-radius(0 4px 4px 0);
    background: #f7f7f7;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        .border-radius(4px 0 0 4px);
    }
    [class^="three-types-alerts-"] {
        position: absolute;
        left: 10px;
        top: 15px;
    }

    p {
        line-height: 21px;
        margin-bottom: 12px;
        color: #707070;

        &.big {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 6px;
        }

        &.grey {
            color: @gray;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.content-alert-success{
    &:before{
        background: #9de448;
    }
}

.content-alert-warning {
    &:before{
        background: #f1c40f;
    }
}

.content-alert-error {
    &:before{
        background: #e74c3c;
    }
    .big{
      color: #e74c3c;
    }
}