//
// Mobile Planeta RUB font
// --------------------------------------------


@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('../fonts/alsrubl-arial-regular.eot');
    src: url('../fonts/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl-arial-regular.woff') format('woff'),
         url('../fonts/alsrubl-arial-regular.ttf') format('truetype'),
         url('../fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.b-rub{
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
    line-height: normal;
}