// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="i icon-inbox"></i>.

// For the white version of the  icons, just add the .icon-white class:
// <i class="i icon-inbox icon-white"></i>


// icon social sharing

[class^="bs-icons-"] {
    .sprite(40px, 40px, url(../images/icon/soc-pop-sprite.png));
    line-height: 40px;
    cursor: pointer;
    .opacity(60);
    .transition(opacity .1s);
    &:hover{
        .opacity(100);
    }
}
.bs-icons-fb{
    background-position: 0 -40px;
}
.bs-icons-tw{
    background-position: -40px -40px;
}
.bs-icons-ok{
    background-position: -80px -40px;
}
.bs-icons-vk{
    background-position: -120px -40px;
}
.bs-icons-gp{
    background-position: -160px -40px;
}
.bs-icons-mr{
    background-position: -200px -40px;
}
.bs-icons-em{
    background-position: -240px -40px;
}
.bs-icons-pr{
    background-position: -280px -40px;
}
.bs-icons-mm{
    background-position: -320px -40px;
}
.bs-icons-sb{
    background-position: -360px -40px;
}
