// WELLS
// -----

.well {
    word-wrap: break-word;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, .05);
    .border-radius(4px);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    .table{
        background: #fff;
    }
    blockquote {
        border-color: #ddd;
        border-color: rgba(0, 0, 0, .15);
    }
    input {
        margin-bottom: 0;
    }
}

