// badge-val



.badge-val-mix{
    display: inline-block;
    vertical-align: top;
    min-width: 18px;
    height: 18px;
    padding: 4px 7px 0;
    font-family: @ff-roboto-cond;
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    color: #454553;
    text-align: center;
    background: #e8e8e8;
    border-radius: 10px;
}
