// dotted link common style
.dot-link-mixin() {
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
    }
}
.dot-link-mix{
    .dot-link-mixin();
}
