// rich-tabs


.rich-tabs-wrap-mix{
    padding: 10px;
    font: 21px/1 @ff-proxima-nova;
}


.rich-tab-search-mix{
    position: relative;
    z-index: 1;
    float: right;
    margin: -27px -20px -27px 0;
    &_input{
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        width: 145px;
        height: 79px;
        margin: 0;
        padding: 27px 10px 27px 60px;
        font: 20px/24px @ff-proxima-nova;
        border: 1px solid #fff;
        border-radius: 0;
        background: #fff url(../images/planeta/rich-tab-search-ico.png) no-repeat 16px 50%;
        transition: width .3s;
        &, &:focus{
            border-color: #fff #fff #fff #e6e6e6;
            box-shadow: none;
        }
        &:focus, &.open{
            width: 280px;
        }
    }
}

.rich-tab_i-mix{
    float: left;
    margin: 2px 0 0 26px;
    &:first-child{
        margin-left: 0;
    }
    &.active{
        .rich-tab_link,
        .pwt-link{
            color: #0e2129;
            cursor: default;
            border-color: transparent;
        }
    }
}

.rich-tab_link-mix{
    color: @linkColor;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
        text-decoration: none;
    }
}



.rich-tab-mix{
    float: left;
    position: relative;
    margin: 0;
    padding: 0 0 2px;
    list-style: none;
}

