<div class="project-donate_main">
    <div class="wrap">
        <div class="wrap-row">
            <div class="m-col-tp-8 col-12">
                <a href="#" class="project-donate_another"> Выбрать другое вознаграждение </a>
                <div class="project-donate_list-title"> Вы покупаете</div>
                <div class="project-donate-reward">
                    <div class="action-card-block action-card-reward">
                        <ul class="action-card-list">
                            <li class="action-card-list_i">
                                <div class="action-card inactive">
                                    <div class="action-card_in">
                                        <div class="action-card_name">
                                            <div class="action-card_check"></div>
                                            <span [innerHtml]="reward.nameHtml"></span>
                                        </div>
                                        <div class="action-card_cover" *ngIf="reward.imageUrl">
                                            <div class="action-card_cover-in photo-zoom-link">
                                                <img class="action-card_img" [src]="getThumbnailUrl()">
                                            </div>
                                        </div>
                                        <div class="action-card_descr">
                                            <div class="action-card_descr-text" [innerHtml]="reward.descriptionHtml"></div>
                                            <div class="action-card_descr-show">
                                            <span class="action-card_descr-show-text">
                                                Развернуть
                                            </span>
                                            </div>
                                        </div>
                                        <div class="action-card_delivery">
                                            <div class="action-card_delivery-i" *ngIf="reward.estimatedDeliveryTime">
                                                <span class="action-card_delivery-lbl"> Примерная дата доставки </span>
                                                <span class="action-card_delivery-val"> 13 сентября 2017 года </span>
                                            </div>
                                            <div class="action-card_delivery-i" *ngIf="reward.linkedDeliveries.length">
                                                <span class="action-card_delivery-lbl"> Доставка </span>
                                                <span class="action-card_delivery-val"> Почтой России, Самовывоз </span>
                                            </div>
                                        </div>

                                        <div class="action-card_meta">
                                            <div class="action-card_price" [innerHtml]="(reward.price | humanNumber) + ' ₽'"></div>
                                            <div class="action-card_count">
                                                <div class="action-card_count-i">
                                                    <span class="action-card_count-lbl">Куплено</span>
                                                    <span class="action-card_count-val" [innerHtml]="reward.purchasedCount | humanNumber"></span>
                                                </div>
                                                <div class="action-card_count-i">
                                                    <span class="action-card_count-lbl">Осталось</span>
                                                    <span class="action-card_count-val" [innerHtml]="reward.leftCount | humanNumber"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="action-card_action-wrap">
                                            <div class="action-card_action">
                                                <div class="action-card_action-cont">
                                                    <div class="action-card_fix">
                                                        <div class="action-card_fix-in">
                                                            <div class="action-card_counter">
                                                                <div class="action-card_counter-cont">
                                                                    <input type="tel"
                                                                           class="form-control action-card_counter-val"
                                                                           [value]="(reward.price | humanNumber) + ' ₽'">
                                                                    <button type="button"
                                                                            class="action-card_counter-btn plus"> +
                                                                    </button>
                                                                    <button type="button"
                                                                            class="action-card_counter-btn minus"
                                                                            disabled="">-
                                                                    </button>
                                                                </div>
                                                                <div class="action-card_counter-error">
                                                                    Стоимость 10 вознаграждений не может
                                                                    быть меньше 15 000 ₽
                                                                </div>
                                                            </div>
                                                            <div class="action-card_action-btn">
                                                                <button type="button"
                                                                        class="btn btn-nd-primary action-card_btn">
                                                                    Купить (4 шт.)
                                                                </button>
                                                            </div>

                                                            <div class="action-card_action-count">
                                                                <div class="action-card_count">
                                                                    <div class="action-card_count-i">
                                                                        <span class="action-card_count-lbl">Куплено</span>
                                                                        <span class="action-card_count-val" [innerHtml]="reward.purchasedCount | humanNumber"></span>
                                                                    </div>
                                                                    <div class="action-card_count-i" *ngIf="reward.purchasedCount != 0 && reward.leftCount != 0">
                                                                        <span class="action-card_count-lbl">Осталось</span>
                                                                        <span class="action-card_count-val" [innerHtml]="reward.leftCount | humanNumber"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="action-card_why">
                                                            <span class="action-card_why-text"
                                                                  data-tooltip="Вы можете указать любую сумму, но не ниже суммы стоимости всех вознаграждений.<br><br> Все перечисленные средства зачисляются в пользу проекта!"
                                                                  data-tooltip-theme="action-card-why-text-tt"
                                                                  data-tooltip-position="bottom center">
                                                                Заплатить большую сумму
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="action-card_action-bottom">
                                                        <div class="action-card_spec">
                                                            Для Москвы возможен самовывоз. Доставка по
                                                            России и странам зарубежья осуществляется за
                                                            счет получателя и оплачивается отдельно.
                                                        </div>

                                                        <div class="action-card_share">

                                                            <!--  sharing template  -->
                                                            <div class="sharing-popup-social sharing-mini">
                                                                <div class="sps-button">
                                                                    <div class="spsb-item"
                                                                         title="В контакте"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-vk"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="Facebook"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-fb"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="Twitter"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-tw"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="SurfingBird"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-sb"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="Мой Мир"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-mr"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="Одноклассники"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-ok"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="Google+"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-gp"></i></a>
                                                                    </div>
                                                                    <div class="spsb-item"
                                                                         title="Telegram"><a
                                                                            href="javascript:void(0)"><i
                                                                            class="bs-icons-tg"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--  // sharing template  -->

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="action-card_show">
                                            <div class="action-card_show-text">
                                                Выбрать это вознаграждение
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-col-tl-3 m-col-tl-offset-1 m-col-tp-4 col-12 d-tp-block pl-d-none">
                <div class="donate-sidebar">
                    <div class="donate-info">
                        <div class="donate-info_lbl"> У вас есть вопросы?</div>
                        <div class="donate-info_text">
                            Позвоните нам по телефону:
                            <br>
                            +7 495 181-05-05 (с 11:00 до 19:00)
                            <br>
                            или напишите на <a href="mailto:noreply@planeta.ru">noreply@planeta.ru</a>.
                        </div>

                        <div class="donate-info_attention">
                            <div class="donate-shop-attention">
                                <div class="donate-shop-attention_ico">
                                    <svg width="27" height="27" viewBox="0 0 27 27">
                                        <g fill="#FFCF0D">
                                            <path d="M12.136 12.96v6.124c0 .725.586 1.317 1.303 1.317s1.304-.592 1.304-1.317V12.96c0-.725-.587-1.317-1.304-1.317-.717 0-1.303.592-1.303 1.317zm.163-5.466a1.68 1.68 0 0 0-.489 1.152c0 .428.163.856.489 1.153.293.296.717.494 1.14.494.424 0 .848-.165 1.141-.494a1.69 1.69 0 0 0 .489-1.153 1.55 1.55 0 0 0-.489-1.152A1.653 1.653 0 0 0 13.439 7c-.423 0-.847.198-1.14.494z"></path>
                                            <path d="M13.5 27C6.044 27 0 20.956 0 13.5S6.044 0 13.5 0 27 6.044 27 13.5 20.956 27 13.5 27zm0-2C19.851 25 25 19.851 25 13.5S19.851 2 13.5 2 2 7.149 2 13.5 7.149 25 13.5 25z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="donate-shop-attention_text">
                                    Planeta.ru – не интернет-магазин.
                                    <br>
                                    Это способ реализации идей в жизнь.
                                    <br>
                                    <a href="#">Подробнее.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
