//
// Buy payment page
// --------------------------------------------

.buy-payment-block-wrap{
    margin: 0 0 5px;
    border: 10px solid #e8e9e9;
    .border-radius(2px);
    .box-shadow(0 1px 1px rgba(0,0,0,.2));
}

.buy-payment-block{
    .bpb-item{
        .clearfix();
        padding: 17px 21px 17px 12px;
        border-top: 1px solid #dfdfdf;
        &:first-child{
            border-top: 0;
        }
    }
    .bpb-head{
        font: 700 20px/22px @baseFontFamily;
        margin: 0 0 13px;
        b{
            color: #b8b7bd;
        }
    }
    .bpb-checbox{
        .b-rub{
            font-size: 13px;
        }
    }
}
.buy-payment-type{
    .bpt-item{
        float: left;
        width: 86px;
        border: 7px solid transparent;
        text-align: center;
        cursor: pointer;
        &:hover{
            border-color: #e8e8e8;
            .box-shadow(0 1px 1px rgba(0,0,0,.2));
        }
        &.active{
            border-color: @blue;
        }
    }
    .bpt-name{
        margin: 0 0 4px;
        font-size: 14px;
        font-weight: 700;
    }
}
.buy-payment-action{
    .btn{
        padding: 8px 30px 9px;
        font-weight: 700;
    }
}
.buy-payment-type-phone{
    margin: 30px 0 0;
    .bptp-label{
        font-size: 14px;
        font-weight: 700;
    }
    .bptp-input{
        margin: 0 10px;
        width: 182px;
        height: 32px;
        font-size: 22px;
        line-height: 31px;
    }
    .bptp-help{
        color: #808080;
    }
}

.buy-payment-email{
    padding: 27px 0 0;
    border-top: 1px solid #dfdfdf;
    .bpe-label, .bpe-input, .bpe-action{
        display: inline-block;
        vertical-align: top;
    }
    .bpe-label{
        margin: 0 10px 0 0;
        label{
            margin: 11px 0 0;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            color: #808080;
        }
    }
    .bpe-input{
        margin: 0 30px 0 20px;
        input{
            margin: 0;
            padding: 8px 10px;
            font-size: 16px;
            line-height: 19px;
            height: 19px;
        }
    }
    .bpe-action{
        .btn{
            padding: 9px 15px 8px;
            font-weight: 700;
        }
    }
}
.buy-payment-email, .input-warning-dropdown{
    .dropdown-popup{
        min-width: 270px;
    }
    .dropdown-popup-body{
        background: url(../images/icon/warning-icon.png) 12px 15px no-repeat;
        padding: 12px 20px 12px 40px;
        font: 700 14px/150% @baseFontFamily;
        color: #1f1f1f;
    }
    .suggestion{
        color: @linkColor;
        border-bottom: 1px dotted;
        padding: 0 0 1px;
        cursor: pointer;
    }
    .domain:hover{
        text-decoration: none;
        color: @linkColor;
    }
    .signup-link{
        text-decoration: underline;
    }
}

.buy-payment-alert{
    margin: 0 0 27px;
    text-align: center;
}
.buy-payment-alert-text{
    display: inline-block;
    padding: 15px 27px;
    font-size: 14px;
    font-weight: 700;
    background: #f8e187;
    .border-radius(5px);
}

