//
// Planeta Project Info Page
//
// --------------------------------------------


// style copied from projects less'es
// welcome-new.less
.flip-counter{
    float: left;
    ul.cd{
        float: left;
        list-style: none;
        margin: 0 -1px;
        padding: 0;
    }
    li{
        background: url(/images/welcome_new/welcome-digits.png) no-repeat;
    }
    li.t{
        width: 31px;
        height: 17px;
    }
    li.b{
        width: 31px;
        height: 16px;
    }
    li.s{
        position: relative;
        top: 2px;
        width: 15px;
        height: 33px;
        background-position: 3px -330px;
    }
}
// /welcome-new.less


// project-create.less
.project-media-view{
    position: relative;
    height: 0;
    padding: 0 0 56.25%;
    overflow: hidden;
    background: #1a1a1a;
    &.media-view-widget{
        padding: 0 0 60.9523%;
        .pmv-img{
            max-height: 384px;
        }
    }
    .pmv-cont, iframe, object, embed{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .pmv-cont{
        .vertical-align();
    }
    .central-block{
        position: relative;
        overflow: hidden;
    }
    .pmv-watermark{
        position: absolute;
        bottom: 7px;
        right: 13px;
        width: 101px;
        height: 30px;
        padding: 5px;
        background: url(/images/planeta/pln-watermark.png) no-repeat 50% 50%;
        background-color: rgba(0,0,0,.2);
    }
    .pmv-img{
        display: block;
        max-height: 354px;
    }
    .video-play{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: url(/images/planeta/play-video-big.png) no-repeat 50% 50%;
        cursor: pointer;
        &:hover{
            background-size: 140px 140px;
        }
    }
}
// /project-create.less

// project-welcome.less
.project-view-card{
    position: relative;
    min-height: 332px;
    padding: 11px 15px;
    background: #23343c;
    .border-radius(5px);
    color: #fff;
    .pvc-head{
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #bbc5ca;
        text-shadow: 0 -1px #000;
        margin: 0 0 10px;
    }
    .pvc-complete{
        margin: -6px -17px 10px;
        padding: 9px 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #2a2a2a;
        text-align: center;
        background: #eee url(/images/planeta/pvc-complete-bg.png) repeat-y;
    }
    .pvc-counter-head{
        margin: 0 0 11px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #aaaeb0;
        text-shadow: 0 -1px 1px #000;
    }
    .pvc-counter{
        position: relative;
        margin: 0 0 12px;
    }
}

.pvc-counter{
    height: 57px;
    .flip-counter-zero{
        position: absolute;
        left: 0;
        width: 278px;
        height: 57px;
        background: url(/images/planeta/pvc-counter-sprite-zero-small.png) repeat-x;
    }
    .flip-counter{
        position: relative;
        float: none;
        margin: 0 -2px;
        font-size: 0;
        line-height: 0;
        text-align: right;
        ul.cd{
            float: none;
            display: inline-block;
            margin: 0 1px 0 0;
        }
        li{
            background: url(/images/planeta/pvc-counter-sprite-small.png) no-repeat;
        }
        li.t{
            width: 42px;
            height: 28px;
        }
        li.b{
            width: 42px;
            height: 29px;
        }
        li.s{
            top: 0;
            width: 20px;
            height: 56px;
            background: none;
        }
    }
    &.counter-large{
        height: 50px;
        .flip-counter-zero{
            display: none;
        }
        .flip-counter{
            margin: 0 -1px;
            ul.cd{
                margin: 0;
            }
            li{
                background: url(/images/planeta/pvc-counter-sprite-large.png) no-repeat;
            }
            li.t{
                width: 36px;
                height: 25px;
            }
            li.b{
                width: 36px;
                height: 25px;
            }
            li.s{
                width: 13px;
                height: 49px;
                background: none;
            }
        }
    }
    &.counter-billion{
        height: 51px;
        .flip-counter-zero{
            display: none;
        }
        .flip-counter{
            margin: 0 -1px;
            ul.cd{
                margin: 0;
            }
            li{
                background: url(/images/planeta/pvc-counter-sprite-billion.png) no-repeat;
            }
            li.t{
                width: 32px;
                height: 25px;
            }
            li.b{
                width: 32px;
                height: 26px;
            }
            li.s{
                width: 11px;
                height: 49px;
                background: none;
            }
        }
    }
}


.pvc-info{
    .pvc-info-field{
        margin: 7px 0 0;
        font-size: 15px;
        font-weight: 700;
        text-shadow: 0 -1px #000;
        &:first-child{
            margin-top: 0;
        }
    }
    .pvc-info-name{
        float: left;
        color: #757d86;
    }
    .pvc-info-value{
        color: #e9e9e9;
        text-align: right;
        &.val-empty{
            color: #60666a;
        }
    }
}

.pvc-progress-block{
    margin: 0 0 14px;
    .pvc-progress{
        height: 4px;
        font: 0/0 a;
        #gradient > .vertical(#17252c,#202c39);
        @shadow: 0 -1px rgba(111,122,133,.28) inset, 0 -1px #0f1011;
        .box-shadow(@shadow);
        .border-radius(5px);
    }
    .pvc-bar{
        overflow: visible !important;
        position: relative;
        min-width: 3%;
        height: 4px;
        max-width: 100%;
        #gradient > .vertical(@blue,#73dbff);
        @shadow: 0 -1px rgba(231,243,255,.15) inset;
        .box-shadow(@shadow);
        .border-radius(5px);
    }
    .pvc-bar-ctrl{
        position: absolute;
        right: -14px;
        top: -14px;
        width: 35px;
        height: 32px;
        background: url(/images/planeta/pvc-bar-ctrl-bg.png) no-repeat;
    }
    .over-progress{
        #gradient > .vertical(#28afdd,#64d2f8);
        @shadow: 0 -1px rgba(255,255,255,.2) inset, 0 -1px #0f1011;
        .box-shadow(@shadow);
        .pvc-bar{
            #gradient > .vertical(#d5d5d5,#f6f6f6);
        }
        .pvc-bar-ctrl{
            background-position: 0 -32px;
        }
    }
}

.pvc-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #1a232e;
}
.pvc-footer-cont{
    padding: 11px 15px;
    border-top: 1px solid #39434f;
}
.pvc-donate-btn-block{
    margin: 0 0 11px;
    .btn{
        padding: 10px 0;
        font: 700 16px @baseFontFamily;
        .border-radius(5px);
    }
}
// /project-welcome.less

// project-view.less
.sub-content{
    width: 600px;
    margin: 40px auto;
}
.sub-content, .sub-content p{
    font-size: 14px;
    line-height: 21px;
}
// /project-view.less

// planeta.less
.bb-video-icon{
    background: url(/images/planeta/play-video-big.png) no-repeat 50% 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor:pointer;
    &:hover{
        background-size: 140px 140px;
    }
}

.bb-video-player-cover, .bb-youtube-player-cover,
.bb-video-player-cover-big{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        .border-radius(4px);
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
    img{
        width: 400px;
        height: 300px;
        max-width: 400px;
        max-height: 300px;
    }
    .bb-video-icon{
        width: 400px;
        height: 300px;
    }
}
.bb-video-player-cover-big{
    width: 600px;
    height: 450px;
    img{
        width: 600px;
        height: 450px;
        max-width: 600px;
        max-height: 450px;
    }
    .bb-video-icon{
        width: 600px;
        height: 450px;
    }
}
// /planeta.less
// /style copied from projects less'es


.project-info{
    padding: 18px;
}
.pv-media-view{
    float: left;
    width: 590px;
}
.pv-card-block{
    float: left;
    width: 306px;
    margin-left: 18px;
}
.project-view-card{
    min-height: 310px;
}
.pvc-donate-btn-block{
    margin-bottom: 0;
}
