// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="i icon-inbox"></i>.

// For the white version of the  icons, just add the .icon-white class:
// <i class="i icon-inbox icon-white"></i>

[class^="icon-"] {
  .sprite(16px, 16px, url(../images/icon/icon-sprite.png));

  &.right{
    float: right;
    margin: 0;
  }
  &.left{
    float: left;
    margin: 0;
  }
}
.icon-black {
    background-image: url(../images/icon/icon-sprite.png);
}
.icon-white {
    background-image: url(../images/icon/icon-sprite-white.png);
}
.icon-blue {
    background-image: url(../images/icon/icon-sprite-blue.png);
}
.icon-gray {
    background-image: url(../images/icon/icon-sprite-gray.png);
}
.icon-graydark {
    background-image: url(../images/icon/icon-sprite-graydark.png);
}

.icon-user                  { background-position: 0      0; }
.icon-friend                { background-position: -24px  0; }
.icon-group                 { background-position: -48px  0; }
.icon-blog                  { background-position: -72px  0; }
.icon-blog-user             { background-position: -96px  0; }
.icon-video                 { background-position: -120px 0; } .icon-full-length-film            { background-position: -120px 0; }
.icon-audio                 { background-position: -144px 0; } .icon-audio-album                 { background-position: -144px 0; }
.icon-photo                 { background-position: -168px 0; }
.icon-event                 { background-position: -192px 0; }
.icon-message               { background-position: -216px 0; }
.icon-notification          { background-position: -240px 0; }
.icon-news                  { background-position: -264px 0; }
.icon-info                  { background-position: -288px 0; }
.icon-action                { background-position: -312px 0; }
.icon-shop                  { background-position: -336px 0; }
.icon-stats                 { background-position: -360px 0; }
.icon-goods                 { background-position: -384px 0; }
.icon-donate                { background-position: -408px 0; }
.icon-exit                  { background-position: -432px 1px; }
.icon-search                { background-position: -456px 0; }
.icon-vipzone               { background-position: -480px 0; }
.icon-settings              { background-position: -505px 1px; }
.icon-delivery              { background-position: -528px 0; }
.icon-outgoing              { background-position: -552px 0; }
.icon-chart                 { background-position: -576px 0; }
.icon-house                 { background-position: -600px 0; }
.icon-grid                  { background-position: -624px 0; }
.icon-horns                 { background-position: -648px 0; }
.icon-balloons              { background-position: -672px 0; }
.icon-statement             { background-position: -696px 0; }
.icon-statement-add         { background-position: -720px 0; }
.icon-project-news          { background-position: -744px 0; }
.icon-pln-group             { background-position: -768px 0; }

.icon-edit                  { background-position: 0      -24px; }
.icon-filter                { background-position: -24px  -24px; }
.icon-tag                   { background-position: -48px  -24px; }
.icon-comment               { background-position: -72px  -24px; }
.icon-share                 { background-position: -96px  -24px; }
.icon-attend                { background-position: -120px -24px; }
.icon-noattend              { background-position: -144px -24px; }
.icon-visidors              { background-position: -168px -24px; }
.icon-memor                 { background-position: -192px -24px; }
.icon-flag                  { background-position: -216px -24px; }
.icon-date                  { background-position: -240px -24px; }
.icon-place                 { background-position: -266px -24px; }
.icon-reit                  { background-position: -287px -24px; } // 1px off
.icon-st-down               { background-position: -312px -24px; }
.icon-paper                 { background-position: -337px -24px; }
.icon-edit-bold             { background-position: -358px -22px; }
.icon-clock                 { background-position: -383px -24px; }
.icon-star                  { background-position: -408px -24px; }
.icon-flag                  { background-position: -431px -24px; }
.icon-tv                    { background-position: -456px -24px; }
.icon-play                  { background-position: -480px -24px; }
.icon-pause                 { background-position: -504px -24px; }
.icon-bag                   { background-position: -528px -24px; }
.icon-podium                { background-position: -552px -24px; }
.icon-concert               { background-position: -576px -24px; }
.icon-single                { background-position: -600px -24px; }
.icon-short-film            { background-position: -624px -24px; }
.icon-documentary           { background-position: -648px -24px; }
.icon-special-project       { background-position: -671px -24px; }
.icon-book                  { background-position: -695px -24px; }
.icon-audio-book            { background-position: -719px -24px; }
.icon-backing               { background-position: -746px -24px; }
.icon-basket               { background-position: -768px -24px; width: 21px; height: 17px; }



.icon-vision-all            { background-position: 0      -48px; }
.icon-vision-friend         { background-position: -25px  -48px; } // 1px off
.icon-vision-list           { background-position: -48px  -48px; }
.icon-vision-me             { background-position: -72px  -48px; }
.icon-vision-some           { background-position: -96px  -48px; }
.icon-vision-group          { background-position: -120px -48px; }
.icon-spectacle             { background-position: -144px -48px; }
.icon-audio-spectacle       { background-position: -168px -47px; }
.icon-performance           { background-position: -192px -48px; }
.icon-exhibition            { background-position: -216px -49px; }
.icon-photo-album           { background-position: -239px -48px; }
.icon-clip                  { background-position: -264px -48px; }
.icon-project               { background-position: -288px -48px; }
.icon-cartoon               { background-position: -312px -48px; }
.icon-comics                { background-position: -336px -48px; }
.icon-fashion-project       { background-position: -360px -48px; }
.icon-art-project           { background-position: -384px -48px; }
.icon-phone                 { background-position: -408px -48px; }
.icon-planeta               { background-position: -432px -48px; }
.icon-game                  { background-position: -456px -48px; }
.icon-design                { background-position: -480px -48px; }
.icon-chemical              { background-position: -504px -48px; }
.icon-charity               { background-position: -528px -48px; }
.icon-suitcase              { background-position: -552px -48px; }
.icon-palette               { background-position: -576px -48px; }
.icon-purse                 { background-position: -600px -48px; }
.icon-move                  { background-position: -624px -48px; }
.icon-airplane              { background-position: -648px -48px; }
.icon-cup                   { background-position: -672px -48px; }
.icon-user-switch           { background-position: -694px -48px; }
.icon-big-star              { background-position: -720px -48px; }
.icon-question              { background-position: -744px -47px; }



.icon-attach-link           { background-position: 0      -72px; }
.icon-attach-quest          { background-position: -24px  -72px; }
.icon-attach-mention        { background-position: -48px  -72px; }
.icon-attach-youtube        { background-position: -72px  -72px; }
.icon-attach                { background-position: -96px  -72px; }
.icon-add                   { background-position: -120px -72px; }
.icon-video-meta            { background-position: -144px -72px; }
.icon-user-change           { background-position: -168px -72px; }
.icon-webcam                { background-position: -192px -72px; }
.icon-vinci                 { background-position: -216px -72px; }
.icon-twt                   { background-position: -240px -72px; }
.icon-zoom-in               { background-position: -264px -72px; }
.icon-zoom-out              { background-position: -288px -72px; }
.icon-film                  { background-position: -312px -72px; }
.icon-trashcan              { background-position: -336px -72px; }
.icon-light                 { background-position: -360px -72px; }
.icon-product               { background-position: -384px -72px; }
.icon-download              { background-position: -408px -72px; }
.icon-resize-full           { background-position: -432px -72px; }
.icon-resize-small          { background-position: -456px -72px; }
.icon-rotate-r              { background-position: -480px -72px; }
.icon-rotate-l              { background-position: -504px -72px; }
.icon-gonfalon              { background-position: -528px -72px; }
.icon-users                 { background-position: -552px -72px; }
.icon-linked                { background-position: -576px -72px; }
.icon-accept-b              { background-position: -600px -72px; }
.icon-building              { background-position: -624px -72px; width: 18px; }
.icon-tickets               { background-position: -648px -72px; }
.icon-alarm-clock           { background-position: -672px -72px; }
.icon-graph                 { background-position: -696px -72px; }
.icon-social                { background-position: -720px -72px; }




.icon-ww-undo               { background-position: 0      -96px; }
.icon-ww-redo               { background-position: -24px  -96px; }
.icon-ww-mpre               { background-position: -48px  -96px; }
.icon-ww-ol                 { background-position: -72px  -96px; }
.icon-ww-ul                 { background-position: -96px  -96px; }
.icon-ww-tleft              { background-position: -120px -96px; }
.icon-ww-tcenter            { background-position: -144px -96px; }
.icon-ww-tright             { background-position: -168px -96px; }
.icon-ww-tjust              { background-position: -192px -96px; }
.icon-ww-bold               { background-position: -216px -96px; }
.icon-ww-italic             { background-position: -240px -96px; }
.icon-ww-underline          { background-position: -264px -96px; }
.icon-ww-ileft              { background-position: -289px -96px; } // 1px off
.icon-ww-inone              { background-position: -312px -96px; }
.icon-ww-iright             { background-position: -336px -96px; }
.icon-ww-size               { background-position: -360px -96px; }
.icon-ww-size-full          { background-position: -384px -96px; }
.icon-img-full              { background-position: -408px -96px; }
.icon-add-list              { background-position: -432px -96px; }



.icon-pluse                 { background-position: 0      -120px; }
.icon-minus                 { background-position: -24px  -120px; }
.icon-save                  { background-position: -48px  -120px; }
.icon-close                 { background-position: -72px  -120px; }
.icon-print                 { background-position: -96px  -120px; }
.icon-more                  { background-position: -120px -120px; }
.icon-toltip-info           { background-position: -144px -120px; }
.icon-invite                { background-position: -168px -120px; }
.icon-dismiss               { background-position: -192px -120px; }
.icon-invite-group          { background-position: -216px -120px; }
.icon-tag-add               { background-position: -240px -120px; }
.icon-out                   { background-position: -264px -120px; }
.icon-in                    { background-position: -288px -120px; }
.icon-close-message         { background-position: -312px -120px; } // 1px off
.icon-accept                { background-position: -336px -120px; }
.icon-donaccept             { background-position: -360px -120px; }
.icon-reload                { background-position: -384px -120px; }
.icon-accept-rdo            { background-position: -408px -120px; }
.icon-donaccept-rdo         { background-position: -432px -120px; }
.icon-minus-rdo             { background-position: -456px -120px; }
.icon-pluse-rdo             { background-position: -480px -120px; }
.icon-refresh               { background-position: -504px -120px; }
.icon-profile-settings      { background-position: -528px -120px; }
.icon-album                 { background-position: -552px -120px; }
.icon-drap-upload           { background-position: -576px -120px; width: 18px; }
.icon-purse-small           { background-position: -600px -120px; }
.icon-accept-i              { background-position: -624px -120px; }

//vector icon

.icon-vect-comment          { background-position: 0       -144px; }
.icon-vect-like             { background-position: -24px   -144px; }
.icon-vect-share            { background-position: -48px   -144px; }
.icon-vect-dislike          { background-position: -72px   -144px; }
.icon-str-d                 { background-position: -98px   -144px; width: 12px; }
.icon-str-u                 { background-position: -122px  -144px; width: 12px; }
.icon-str-l                 { background-position: -146px  -144px; width: 12px; }
.icon-str-r                 { background-position: -170px  -144px; width: 12px; }
.icon-vect-comment-bubble   { background-position: -192px  -144px; }
.icon-vect-shop-like        { background-position: -216px  -144px; }
.icon-vect-group            { background-position: -240px  -144px; }


.icon-small-option          { background-position: 0       -168px; }
.icon-small-bubble          { background-position: -24px   -168px; }
.icon-small-download        { background-position: -48px   -168px; }
.icon-small-delete          { background-position: -72px   -168px; }
.icon-small-edit            { background-position: -96px   -168px; }
.icon-small-pluse           { background-position: -120px  -168px; }
.icon-small-minus           { background-position: -144px  -168px; }
.icon-notif-wall            { background-position: -168px  -168px; }
.icon-notif-wall-comment    { background-position: -192px  -168px; }
.icon-notif-invite          { background-position: -216px  -168px; }
.icon-notif-photo-comment   { background-position: -240px  -168px; }
.icon-notif-video-comment   { background-position: -264px  -168px; }
.icon-notif-group           { background-position: -288px  -168px; }
.icon-notif-robot           { background-position: -312px  -168px; }
.icon-notif-product-comment { background-position: -336px  -168px; }
.icon-notif-product-buy     { background-position: -360px  -168px; }
.icon-notif-product-status  { background-position: -384px  -168px; }
.icon-notif-order-status    { background-position: -408px  -168px; }
.icon-notif-project-comment { background-position: -432px  -168px; }
.icon-notif-alert           { background-position: -456px  -168px; }
.icon-auto                  { background-position: -480px  -168px; }
.icon-lodge                 { background-position: -504px  -168px; }
.icon-ok                    { background-position: -528px  -168px; }
.icon-exclamation-sign      { background-position: -552px  -168px; }
.icon-notif-message         { background-position: -576px  -168px; }
.icon-notif-friend          { background-position: -600px  -168px; }
.icon-notif-event           { background-position: -624px  -168px; }
.icon-notif-goods           { background-position: -648px  -168px; }
.icon-notif-news            { background-position: -672px  -168px; }
.icon-notif-action          { background-position: -696px  -168px; }
.icon-notif-other           { background-position: -720px  -168px; }
.icon-notif-admin           { background-position: -744px  -168px; }
.icon-notif-sound           { background-position: -768px  -168px; }
.icon-notif-chrome          { background-position: -792px  -168px; }
.icon-notif-mail-wall       { background-position: -816px  -168px; }
.icon-notif-mail-blog       { background-position: -840px  -168px; }


.icon-write                 { background-position: -793px  0; width: 18px; height: 18px; }



[class^="s-file-icon-"], [class*=" s-file-icon-"]{
    .sprite(16, 16, url(../images/icon/s-file-icon.png));
    vertical-align: top;
}
//.s-file-icon-pdf        { background-position: 0 0 }
.s-file-icon-png        { background-position: -20px 0 }




.icon-online {
    background: url(../images/planeta/online-user.png) no-repeat 0 -15px;
}
.icon-offline {
    background: url(../images/planeta/online-user.png) no-repeat 0 4px;
}

.icon-select {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 5px;
    margin: -2px 0 0 -6px;
    background: url(../images/planeta/icon-select.png) no-repeat 50% 50%;
    cursor: pointer;
}




.icon-dlg-bubble{
    background-image: url(../images/icon/icon-dlg-bubble.png);
}
.icon-white{
    &.icon-dlg-bubble{
        background: url(../images/icon/icon-dlg-bubble.png) -16px 0;
    }
}

.icon-line{
    background-image: url(../images/icon/icon-line.png);
}

.icon-check {
    background: url(../images/icon/icon-check.png) no-repeat;
    &.icon-blue{
        background-position: 0 0;
    }
    &.icon-gray{
        background-position: 0 -20px;
    }
}

.icon-help {
    background: url(../images/icon/icon-help.png) no-repeat;
}

.icon-info-dove {
    background: url(../images/icon/icon-info-dove.png) no-repeat 50% 50%;
}

.icon-dropdown-arrow {
    background: url(../images/icon/icon-dropdown-arrow.png) no-repeat 50% 5px;
}

.icon-shop-big {
    .sprite(32px, 32px, url(../images/icon/icon-shop-big.png));
}
.icon-information{
    .sprite(24px, 24px, url(../images/icon/information-icon.png));
    vertical-align: middle;
}

.icon-load{
    background-image: url(../images/icon/icon-load.gif);
}
.icon-load-cont{
    background-image: url(../images/icon/icon-load-cont.png);
}

.icon-video-hd{
    width: 17px;
    background-image: url(../images/icon/icon-video-hd.png);
    background-position: 0 50%;
}

.icon-error{
    background-image: url(../images/icon/icon-error.png);
}

.icon-exclamation{
    background-image: url(../images/icon/icon-exclamation.png);
    background-position: 2px 2px;
}
.icon-cancel{
    background-image: url(../images/icon/icon-cancel.png);
    background-position: 2px 2px;
}
.icon-gray{
    &.icon-cancel{
        background-image: url(../images/icon/icon-cancel.png);
        background-position: 2px -22px;
    }
}
.icon-pain-face{
    background-image: url(../images/icon/icon-pain-face.png);
    background-position: 2px 2px;
}

.icon-twitter{
    background-image: url(../images/icon/icon-twitter.png);
}

.icon-status-rdo{
    background: url(../images/icon/icon-status-rdo.png) no-repeat;
}
.icon-green{
    &.icon-status-rdo{
        background-position: 0 -24px;
    }
}
.icon-red{
    &.icon-status-rdo{
        background-position: 0 -48px;
    }
}



.action-icon{
    border: 1px solid transparent;
    display: block;
    height: 16px;
    position: relative;
    width: 16px;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    &:hover{
        #gradient > .vertical-three-colors(@white, @white, 25%, darken(@white, 10%));
        border: 1px solid #ccc;
        border-bottom-color: #b3b3b3;
        .border-radius(2px);
        @shadow: inset 0 1px 0 0 @white inset;
        .box-shadow(@shadow);
        cursor: pointer;
        padding: 0;
        text-align: left;
    }
    &.active{
        .btn-primary();
        padding-left: 1px;
        padding-right: 1px;
		.border-radius(2px 2px 0 0);
    }
    .dropdown-menu{
        left: auto;
        right: -1px;
    }
}


// social-icon
[class^="icon-social-"]{
    background: url(../images/icon/icon-social.png) no-repeat;
}
.icon-social-google             { background-position: 0  0;     }
.icon-social-yandex             { background-position: 0  -21px; }
.icon-social-mailru             { background-position: 0  -42px; }
.icon-social-rambler            { background-position: 0  -63px; }
.icon-social-vkontakte          { background-position: 0  -84px; }
.icon-social-facebook           { background-position: 0  -105px; }
.icon-social-google-plus        { background-position: 0  -126px; }
.icon-social-twitter            { background-position: 0  -147px; }
.icon-social-livejournal        { background-position: 0  -168px; }
.icon-social-tumblr             { background-position: 0  -189px; }
.icon-social-mailru-blogs       { background-position: 0  -210px; }
.icon-social-wordpress          { background-position: 0  -231px; }
.icon-social-blogger            { background-position: 0  -252px; }
.icon-social-lastfm             { background-position: 0  -273px; }
.icon-social-soundcloud         { background-position: 0  -294px; }
.icon-social-flickr             { background-position: 0  -315px; }
.icon-social-youtube            { background-position: 0  -336px; }
.icon-social-vimeo              { background-position: 0  -357px; }
.icon-social-steam              { background-position: 0  -378px; }
.icon-social-skype              { background-position: 0  -399px; }
.icon-social-icq                { background-position: 0  -420px; }
.icon-social-jabber             { background-position: 0  -441px; }
.icon-social-phone              { background-position: 0  -462px; }


.sprite-show-class{
    display: block;
    [class^="icon-"]{
        display: block;
        margin: 5px 0;
        &:after{
            color: #000;
            content: attr(class);
            display: block;
            font-style: normal;
            margin: 0 0 0 25px;
            white-space: nowrap;
        }
    }
}




// MCE WW ICONS
// -----

[class^="icon-mce-"] {
    .sprite(18px, 18px, url(../images/icon/wysiwyg-sprite.png));
}

.icon-mce-bold              { background-position: 0      0 }
.icon-mce-italic            { background-position: -25px  0 }
.icon-mce-underline         { background-position: -50px  0 }
.icon-mce-strikethrough     { background-position: -75px  0 }
.icon-mce-justifyleft       { background-position: -100px  0 }
.icon-mce-justifycenter     { background-position: -125px  0 }
.icon-mce-justifyright      { background-position: -150px  0 }
.icon-mce-justifyfull       { background-position: -175px  0 }
.icon-mce-numlist           { background-position: -200px  0 }
.icon-mce-bullist           { background-position: -225px  0 }
.icon-mce-planetaphoto      { background-position: -250px  0 }
.icon-mce-planetamusic      { background-position: -275px  0 }
.icon-mce-planetavideo      { background-position: -300px  0 }
.icon-mce-planetaexternal   { background-position: -325px  0 }
.icon-mce-planetalink       { background-position: -350px  0 }
.icon-mce-planetacut        { background-position: -375px  0 }
.icon-mce-removeformat      { background-position: -400px  0 }
.icon-mce-undo              { background-position: -425px  0 }
.icon-mce-redo              { background-position: -450px  0 }



// SOCIAL 32px ICONS
// -----

// new style; don't deleteByProfileId
[class^="socicon-"] {
    .sprite(40px, 40px, url(../images/icon/socialsprite.png));
}
.socicon-vk                  { background-position: 0 0; }
.socicon-fb                  { background-position: 0 -50px; }
.socicon-tw                  { background-position: 0 -100px; }
.socicon-yt                  { background-position: 0 -150px; }


[class^="sei-"] {
    .sprite(40px, 40px, url(../images/icon/icon-social-login.png));
    cursor: pointer;
    opacity: .8;
    &:hover{
        opacity: 1;
    }
}
//.sei-mail                     { background-position: 0 0; }
.sei-vk                       { background-position: -50px 0; }
.sei-fb                       { background-position: -100px 0; }
.sei-ok                       { background-position: -150px 0; }
.sei-ya                       { background-position: -200px 0; }



// офоциальные группы

.official-group-small{
    .sprite(18px, 18px, url(../images/planeta/official-group-small.png));
}


[class^="events-maps-icon-"] {
    .sprite(24px, 32px, url(../images/icon/maps-icon.png));
}

.events-maps-icon-one, .events-maps-icon-1 { background-position: 0         0 }
.events-maps-icon-two, .events-maps-icon-2 { background-position: -44px     0 }
.events-maps-icon-three, .events-maps-icon-3 { background-position: -90px   0 }

[class^="buy-tickets-sprite-"] {
    .sprite(9px, 9px, url(../images/icon/buy-tickets-sprite.png));
    vertical-align: text-top;
}

.buy-tickets-sprite-plus  { background-position: 0        0 }
.buy-tickets-sprite-minus { background-position: 0     -9px }


[class^="audio-modal-icon-"] {
    .sprite(20px, 20px, url(../images/icon/audio-modal-sprite.png));
}

.audio-modal-icon-play     {background-position:  0     0}
.audio-modal-icon-prev     {background-position: -20px  0}
.audio-modal-icon-next     {background-position: -40px  0}
.audio-modal-icon-shuffle  {background-position: -60px  0}
.audio-modal-icon-repeat   {background-position: -80px  0}
.audio-modal-icon-play-min {background-position: -100px 0}
.audio-modal-icon-arrow    {background-position: -120px 0}
.audio-modal-icon-volume   {background-position: -140px 0}
.audio-modal-icon-add-to   {background-position: -160px -4px}
.audio-modal-icon-remove   {background-position: -173px -4px}
.audio-modal-icon-edit     {background-position: -186px -4px}
.audio-modal-icon-delete     {background-position: -198px -4px}
.audio-modal-icon-move     {background-position: -212px -4px}

.audio-modal-icon-add-to:hover   {background-position: -160px -24px}
.audio-modal-icon-remove:hover   {background-position: -173px -24px}
.audio-modal-icon-edit:hover   {background-position: -186px -24px}
.audio-modal-icon-delete:hover   {background-position: -198px -24px}
.audio-modal-icon-move:hover   {background-position: -212px -24px}

[class^="three-types-alerts-"] {
    .sprite(20px, 20px, url(../images/icon/three-types-alerts-icons.png));
}

.three-types-alerts-success {background-position: 0  0 }
.three-types-alerts-warning {background-position: 0 -20px }
.three-types-alerts-error   {background-position: 0 -40px }

[class^="footer-payment-icon-"] {
    .sprite(50px, 30px, url(../images/icon/payment_methods.png));
    vertical-align: text-top;
}

.footer-payment-icon-yad    {background-position: -60px 0 }
.footer-payment-icon-chrono {background-position: -240px 0 }
.footer-payment-icon-alfa   {background-position: 0 0 }
.footer-payment-icon-visa   {background-position: -120px 0 }
.footer-payment-icon-master {background-position: -180px 0 }


[class^="concert-meta-icon-"] {
    .sprite(32px, 34px, url(../images/icon/concert-meta-sprite.png));
}

.concert-meta-icon-clock    {background-position: 0 0 }
.concert-meta-icon-place    {background-position: -40px 0 }
.concert-meta-icon-tickits  {background-position: -80px 0 }
.concert-meta-icon-grid     {background-position: -120px 0 }
.concert-meta-icon-tel      {background-position: -160px 0 }

// Unmerged
.white-finger-icon{
    .sprite(13px, 14px, url(../images/icon/like-white-icon.png));
}

// Shop mosaic
[class^="shop-mosaic-icon-"] {
    .sprite(41px, 40px, url(../images/icon/shop-mosaic-icons.png));
}

.shop-mosaic-icon-tie  {background-position: 0 0 }
.shop-mosaic-icon-tea  {background-position: -53px 0 }
.shop-mosaic-icon-tone {background-position: -107px 0 }

// Deleted and hidden post icons
[class^="news-post-icon-"] {
    .sprite(16px, 16px, url(../images/icon/news-post-icon.png));
}

.news-post-icon-hide   {background-position: -21px 0 }


// Deleted and hidden post icons
[class^="news-post-icon-"] {
    .sprite(16px, 16px, url(../images/icon/news-post-icon.png));
}


.h-notice-icon-basket{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/icon/h-notice-icon-basket.png) no-repeat;
}

// Footer socials icons
[class^="f-social-"]{
    .sprite(30px, 30px, url(../images/icon/f-social.png));
    vertical-align: top;
}
.f-social-{
    &vk     { background-position: 0 0 }
    &fb     { background-position: -40px 0 }
    &tw     { background-position: -80px 0 }
    &yt     { background-position: -120px 0 }
    &gp     { background-position: -160px 0 }
    &ig     { background-position: -200px 0 }
}
