body{
    margin: 0;
    background: #fff;
}

b, strong{
    font-weight: 700;
}

.hidden{
    display: none;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after { content: ""; display: table; }
.clearfix:after, .cf:after { clear: both; }
.clearfix, .cf { *zoom: 1; }


.pln-select{
    display: block;
    background: #fff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: @textColor;
    border: 1px solid #ccc;
    .border-radius(3px);
    padding: 0 8px;
    .select-btn{
        float: right;
    }
    .select-cont{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 4px 0 0;
    }
    .dropdown-menu{
        width: 100%;
        max-width: none;
        margin: 0 -1px;
    }
    &.disabled, &.disable{
        .opacity(50);
        cursor: default;
        .icon-select{
            cursor: default;
        }
    }
    .icon-select{
        margin-top: -1px;
    }
}



.flat-btn{
    .border-radius(2px);
    display: inline-block;
    padding: 9px 15px 8px;
    border: none;
    background: @blue;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        background: #2abcee;
        color: #fff;
        text-decoration: none;
    }
    &:active{
        background: #24a1cc;
    }
    &.gray-on-white{
        background: #fff;
        color: #999;
        &:hover{
            background: #f6f3f3;
            color: #999;
            text-decoration: none;
        }
        &:active{
            background: #a7a7a7;
            color: #fff;
        }
    }
}

.rest-count{
    display: inline-block;
    font-size: 11px;
    color: #999;
    &.rest-count-less{
        color: #d98026;
    }
    &.rest-count-super-less{
        color: #d40d12;
    }
}

.pr-modal-close{
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover{
        i{
            background-position: 0 -20px;
        }
    }
    i{
        display: block;
        width: 16px;
        height: 16px;
        background: url(/images/project-reward/close.png) no-repeat;
    }
}

.project-reward{
    font-family: arial, sans-serif;
    &.step-2{
        .project-reward-header{
            .p-reward-header-title{
                margin: 0 0 10px;
            }
            .donate-condition-item-s{
                height: auto;
            }
        }
    }
}
.project-reward-header{
    position: relative;
    padding: 20px 40px 11px 96px;
    background: #fff;
    z-index: 2;
    background: url(/images/icon/affiliate-logo.png) 27px 22px no-repeat;
    &:before{
        content: "";
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        display: block;
        height: 10px;
        background-image: url(/images/project-reward/project-reward-bodu-shadow-sprite.png);
        background-repeat: repeat-x;
    }
    .project-donate-condition .donate-condition-item-s{
        background: transparent;
        padding: 0;
        &:after{
            display: none;
        }
        &:hover{
            background: transparent;
        }
    }
}

.p-reward-header-title-va-mid{
    height: 58px;
    overflow: hidden;
    .vertical-align();
    text-align: left;
}
.p-reward-header-title{
    font: 400 22px/135% 'ProximaNovaRegular', arial, sans-serif;
    color: #484f53;
    white-space: normal;
    word-wrap: break-word;
}

.project-reward-body{
    position: relative;
    .scrollbar-handle-container{
        z-index: 2;
    }
    .scroll{
        padding: 0;
        border: 0;
    }
}
.prb-error-block{
    .border-radius(0 0 6px 6px);
    position: fixed;
    left: 50%;
    z-index: 10;
    display: inline-block;
    padding: 22px 50px;
    margin: 0 0 0 -200px;
    background: rgba(222,6,6,0.8);
    font: 700 16px/100% arial, sans-serif;
    color: #fff;
    text-align: center;
}
.br-body-list-item{
    position: relative;
    display: block;
    margin: 0 0 20px;
    text-decoration: none;
    &:last-of-type{
        margin: 0;
    }
}
.brb-list-item-meta{
    .border-radius(3px 0 0 3px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 157px;
    background: @blue;
    text-align: center;
}
.brb-list-item-meta-inner{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -7% 0;
    &.with-qty{
        margin: -19% 0 0 0;
    }
}
.brbl-item-meta-price{
    margin: 0 0 15px;
    font: 400 24px/100% 'ProximaNovaRegular', arial, sans-serif;
    color: #fff;
}
.brbl-item-meta-qty{
    font: 400 14px/100% 'ProximaNovaRegular', arial, sans-serif;
    color: #fff;
}
.brb-list-item-info{
    .border-radius(0 3px 3px 0);
    padding: 16px 19px 16px 30px;
    margin: 0 0 0 157px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    word-wrap: break-word;
}
.brbl-item-info-name{
    margin: 0 130px 15px 0;
    font: 400 24px/130% 'ProximaNovaRegular', arial, sans-serif;
    color: @blue;
}
.brbl-item-info-descr{
    margin: 0 130px 0 0;
    font: 400 16px/130% 'ProximaNovaRegular', arial, sans-serif;
    color: @gray;
}
.brbl-item-info-img{
    float: right;
    width: 100px;
    font: 0/0 arial, sans-serif;
    img{
        border: 1px solid #dbdbdb;
    }
}

.b-reward-body-rechange{
    font: 400 13px/100% 'ProximaNovaRegular', arial, sans-serif;
    color: @linkColor;
    border-bottom: 1px dotted;
    text-decoration: none;
    &:hover{
        color: @linkColorHover;
    }
}

.project-reward-footer{
    position: relative;
    padding: 15px 40px;
    background: #fff;
    z-index: 1;
    &:after{
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        height: 10px;
        background-image: url(/images/project-reward/project-reward-bodu-shadow-sprite.png);
        background-repeat: repeat-x;
        top: -10px;
        background-position: 0 -12px;
    }
}
.p-reward-footer-big{
    padding: 8px 30px;
    font-size: 18px;
    line-height: 20px;
}
.p-reward-footer-accept{
    float: right;
    margin: 0 0 0 40px;
}
.p-reward-footer-decline{
    float: right;
}


.dcq-textarea{
    padding-right: 0;
    &.error{
        background: @errorBackground;
        padding: 5px;
        margin: 0 0 10px;
        input, textarea{
            width: 554px;
        }
    }
    input, textarea{
        .border-radius(0);
        width: 566px;
        border: 1px solid #cacaca;
        margin: 0 0 3px;
        background: #fbfbfb;
        font-style: italic;
        &:focus{
            outline: none;
        }
    }
    input{
        height: 29px;
        padding: 4px 16px;
    }
    textarea{
        height: 21px;
        padding: 8px 16px;
    }
    .help-inline{
        float: left;
        margin: 0;
        font: 10px/13px @baseFontFamily;
    }
    .rest-count{
        float: right;
        height: 13px;
        font: italic 10px/13px @baseFontFamily;
    }
}

.project-reward-payment{
    font-family: 'ProximaNovaRegular', arial, sans-serif;
    position: relative;
    padding: 15px 40px 40px 40px;
    &:before{
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        height: 10px;
        background: url(/images/project-reward/project-reward-bodu-shadow-sprite.png) repeat-x;
    }
    &:before{
        top: 0;
    }
    .bpb-item{
        .clearfix();
        padding: 17px 0 0;
        border-top: 1px solid #dfdfdf;
        &:first-child{
            border-top: 0;
        }
    }
    .bpb-head{
        margin: 0 0 27px;
        font: 400 24px/100% 'ProximaNovaRegular', arial, sans-serif;
        color: #484f53;
        b{
            color: #b8b7bd;
        }
    }
    .bpb-checbox{
        .b-rub{
            font-size: 13px;
        }
    }

    &_type{
        margin: 0 -40px;
        border-top: 1px solid #d8dade;
        border-bottom: 1px solid #d8dade;
        .pln-payment-box_field-row{
            font-size: 16px;
        }
        .ppt-name{
            font-size: 14px;
        }
    }
}


.pd-country-change{
    margin: 20px 40px;
    padding: 15px;
    border: 2px solid #3498db;
    background: #fff;
    .pdc-change-label{
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        font-weight: 700;
        color: #252525;
    }
    .pdc-change-select, .pdc-change-input{
        display: inline-block;
        vertical-align: middle;
        width: 267px;
        margin: 0 10px 0;
    }
}

.pd-country-change + .project-donate-condition{
    border-top: 1px solid #ccc;
}

.project-donate-condition{
    margin: 0;
    font-family: 'ProximaNovaRegular', arial, sans-serif;
    .donate-condition-item, .donate-condition-item-s{
        .clearfix();
        overflow: hidden;
        position: relative;
        height: 122px;
        padding: 19px 40px;
        cursor: pointer;
        background: #f6f6f6;
        & + .donate-condition-item{
            border-top: 1px solid #ccc;
        }
        &:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 88%;
            height: 40px;
            background: url(/images/planeta/project-donate-item-grad.png) 0 0 repeat-x;
        }
        &:hover{
            background: #fcfcfd;
            &:after{
                background-position: 0 -40px;
            }
        }
        &.checked{
            z-index: 1;
            position: relative;
            height: auto;
            min-height: 123px;
            background: #fff;
            cursor: default;
            .donate-condition-counter{
                display: block;
            }
            &:before, &:after{
                content: "";
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 16px;
                background: url(/images/planeta/project-donate-cheked-item-shadow.png) repeat-x;
            }
            &:before{
                top: -17px;
            }
            &:after{
                bottom: -16px;
                background-position: 0 -17px;
            }
            .radiobox-label{
                color: #000;
            }
            .donate-condition-descr{
                max-height: none;
            }
            .donate-condition-cont{
                max-height: 100%;
            }
            .donate-condition-descr{
                max-height: none;
            }
            .donate-condition-question{
                display: block;
            }
        }
        &.disabled{
            background: #fff;
            cursor: default;
            .donate-condition-left-col,
            .donate-condition-head,
            .radiobox-label,
            .radiobox-label .b-rub{
                color: @grayLighter;
            }
            .donate-condition-descr{
                color: @grayLighter;
                .hl{
                    color: @grayLighter;
                }
            }
            &:after{
                background-position: 0 -80px;
            }
            &:hover{
                &:after{
                    background-position: 0 -80px;
                }
            }
        }
    }
    .donate-condition-left-col{
        float: left;
        width: 178px;
        margin: 0 10px 0 0;
        .radiobox-label{
            line-height: 28px;
            height: 26px;
            padding: 0;
            font-size: 24px;
            color: #3498db;
            .b-rub{
                font-size: 24px;
                color: #b7b7b7;
            }
        }
        .radiobox{
            position: relative;
            top: 5px;
            display: inline-block;
            width: 26px;
            height: 26px;
            margin: 0 7px 0 0;
            background: url(/images/planeta/project-donate-radio.png) no-repeat;
            &.active{
                background-position: 0 -34px;
            }
        }
    }

    .b-t-b-item-qty-minus, .b-t-b-item-qty-plus{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/images/planeta/project-donate-counter.png) no-repeat;
        cursor: pointer;
    }
    .b-t-b-item-qty-minus{
        background-position: 0 0;
        &:hover{
            background-position: 0 -21px;
        }
        &.disabled{
            background-position: 0 -42px;
        }
    }
    .b-t-b-item-qty-plus{
        background-position: -24px 0;
        &:hover{
            background-position: -24px -21px;
        }
        &.disabled{
            background-position: -24px -42px;
        }
    }
    .b-t-b-item-qty-spn{
        position: relative;
        top: -6px;
        display: inline-block;
        width: 30px;
        text-align: center;
    }
    .b-t-b-item-qty-count{
        font-size: 10px;
        color: #808080;
    }
    .donate-condition-counter{
        .user-select(none);
        display: none;
    }
    .d-condition-counter-badge{
        .border-radius(3px);
        width: 90px;
        height: 8px;
        padding: 3px 0;
        margin: 5px 0 25px 47px;
        background: #3498db;
        font: 9px/100% Arial, sans-serif;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    .d-condition-counter-btns{
        margin: 0 0 0 50px;
    }
    .b-t-b-item-qty-count{
        margin: 15px 0 0 50px;
        text-transform: uppercase;
        text-align: left;
        line-height: 150%;
    }
    .donate-condition-cont{
        position: relative;
        width: 600px;
        max-height: 123px;
        margin: 0 0 0 190px;
    }
    .donate-condition-head{
        font-weight: 700;
        margin: 7px 0 10px;
        font-size: 18px;
        word-wrap: break-word;
    }
    .donate-condition-descr{
        max-height: 100px;
        overflow: hidden;
        font-size: 14px;
        color: #5b5b5b;
        line-height: 150%;
    }

    .donate-condition-question{
        display: none;
        left: 0;
        right: 0;
        padding: 15px 0 0;
        &.error{
            background: @errorBackground;
        }
        hr{
            margin: 0 0 10px;
        }
    }
    .dcq-head{
        margin: 0 0 12px;
        font-weight: 700;
        color: #000;
    }
    .dcq-text{
        margin: 0 0 21px;
    }
    .dcq-textarea{
        padding-right: 0;
        &.error{
            background: @errorBackground;
            padding: 5px;
            margin: 0 0 10px;
            input, textarea{
                width: 554px;
            }
        }
        input, textarea{
            .border-radius(0);
            width: 566px;
            border: 1px solid #cacaca;
            margin: 0 0 3px;
            background: #fbfbfb;
            font-style: italic;
        }
        input{
            height: 29px;
            padding: 4px 16px;
        }
        textarea{
            height: 21px;
            padding: 8px 16px;
        }
        .help-inline{
            float: left;
            margin: 0;
            font: 10px/13px @baseFontFamily;
        }
        .rest-count{
            float: right;
            height: 13px;
            font: italic 10px/13px @baseFontFamily;
        }
    }

    .share-img{
        float: right;
        overflow: hidden;
        border: 1px solid #c8c8c8;
        width: 120px;
        height: 120px;
        margin-left: 20px;
        background: url(/images/planeta/donate-share-img.png) no-repeat;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.donate-condition-item-s{
    .donate-condition-left-col .radiobox{
        background-position: 0 -34px;
    }
}

.donate-sum-cont{
    float: left;
}

.donate-sum-label{
    float: left;
    margin: 10px 16px 0 0;
    label{
        margin: 0 0 5px;
        color: #000;
        font: 700 14px/19px @baseFontFamily;
    }
}

.donate-sum-input{
    position: absolute;
    float: left;
    padding: 0 20px 0 0;
    input{
        width: 100px;
        margin: 0;
        padding: 8px 15px;
        font: 700 22px/24px @baseFontFamily;
        text-align: right;
        border: 1px solid @blue;
        .border-radius(2px);
    }
    .b-rub{
        position: absolute;
        top: 7px;
        right: -6px;
        margin: 0;
        font-size: 21px;
        font-weight: 700;
        color: #b7b7b7;
    }
}

.donate-sum-descr{
    float: left;
    width: 390px;
    margin: 0 0 0 60px;
    font: 12px/150% @baseFontFamily;
    color: #000;
}

.buy-payment-email{
    padding: 27px 0 0;
    border-top: 1px solid #dfdfdf;
    .bpe-label, .bpe-input, .bpe-action{
        display: inline-block;
        vertical-align: top;
    }
    .bpe-label{
        margin: 0 10px 0 0;
        label{
            margin: 11px 0 0;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            color: #808080;
        }
    }
    .bpe-input{
        margin: 0 30px 0 20px;
        input{
            margin: 0;
            padding: 8px 10px;
            font-size: 16px;
            line-height: 19px;
            height: 19px;
        }
    }
    .bpe-action{
        .btn{
            padding: 9px 15px 8px;
            font-weight: 700;
        }
    }
    .dropdown-popup{
        min-width: 270px;
    }
    .dropdown-popup-body{
        background: url(/images/icon/warning-icon.png) 12px 15px no-repeat;
        padding: 12px 20px 12px 40px;
        font: 700 14px/150% @baseFontFamily;
        color: #1f1f1f;
    }
    .suggestion{
        color: @linkColor;
        border-bottom: 1px dotted;
        padding: 0 0 1px;
        cursor: pointer;
    }
    .domain{
        color: @linkColor;
    }
    .domain:hover{
        text-decoration: none;
        color: @linkColor;
    }
    .signup-link{
        text-decoration: underline;
    }
}


.buy-payment-name{

}
.bpn-label{
    width: 200px;
    float: left;
    margin: 11px 0 0 0;
    label{
        color: #000;
        line-height: 19px;
        font-size: 14px;
        font-weight: 700;
    }
}
.bpn-input{
    float: left;
}
.bpn-user-link{
    display: inline-block;
    color: @textColor;
    text-decoration: none;
    &:hover{
        color: @blue;
    }
}
.bpn-user-ava{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin: 2px 10px 0 0;
    overflow: hidden;
}
.bpn-user-name{
    display: block;
    margin: 13px 0 0;
    max-width: 250px;
    .text-overflow();
    font-size: 12px;
}

.buy-payment-email{
    border: none;
    float: right;
    padding: 0;
    margin: 0 0 0 40px;
    .dropdown{
        &.popup-open{
            .dropdown-popup{
                display: block;
            }
        }
    }
    &.project-donate-step-2{
        float: none;
        margin: 0;
        .bpe-label{
            float: left;
            margin: 11px 93px 0 0;
        }
        .bpe-input{
            position: relative;
            input{
                width: 270px;
            }
        }
        .bpe-action{
            float: right;
        }
    }
    &.project-donate-step-3{
        float: none;
        width: 730px;
        margin: 0;
        .bpe-label{
            margin: 10px 20px 0 0;
            display: inline-block;
        }
        .bpe-input{
            margin: 0 10px 20px 0;
        }
        .project-donate-row{
            float: left;
            margin: 11px 0 0 21px;
            padding: 0;
            border: 0;
        }
        .bpe-action{
            float: right;
        }
    }
    .bpe-label{
        display: block;
        margin: 0;
        label{
            color: #000;
            line-height: 19px;
            font-size: 14px;
            margin: 0 0 5px;
        }
    }
    .bpe-input{
        margin: 0 10px 0 0;
        input{
            border: 1px solid @blue;
        }
    }
    .bpe-action .btn{
        margin: 2px 0 0;
        border: none;
        text-shadow: none;
        font-size: 14px;
        background: #3498db;
        color: #fff;
        &:hover{
            background: #3aacf8;
            color: #fff;
        }
        &:active{
            background: #2c85c0;
        }
        &.disabled, &.disabled:hover{
            color: #356374;
            background: #008CBB;
        }
    }
    .bpe-action .flat-btn{
        margin: 2px 0 0;
        border: none;
        text-shadow: none;
        font-size: 14px;
        background: #3498db;
        color: #fff;
        &:hover{
            background: #3aacf8;
            color: #fff;
        }
        &:active{
            background: #2c85c0;
        }
        &.disabled, &.disabled:hover{
            color: #FFFFFF !important;
            background: #008CBB !important;
            opacity: 0.65;
        }
    }
}
