// TOOLTIP
// ------=

.twipsy {
    position: absolute;
    z-index: @zindexTooltip + 100;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    font-style: normal;
    .opacity(0);
    &.in     { .opacity(100); }
    &.top    { margin-top:  -2px; }
    &.right  { margin-left:  2px; }
    &.bottom { margin-top:   2px; }
    &.left   { margin-left: -2px; }
    &.top .twipsy-arrow    { #popoverArrow > .top(); }
    &.left .twipsy-arrow   { #popoverArrow > .left(); }
    &.bottom .twipsy-arrow { #popoverArrow > .bottom(); }
    &.right .twipsy-arrow  { #popoverArrow > .right(); }
}
.twipsy-inner {
    max-width: 230px;
    padding: 3px 8px;
    text-align: left;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #808080;
    .box-shadow(0 3px 8px rgba(0,0,0,.3));
}
.twipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
}




// signup popup
.signup-popup{
    position: absolute;
    top: 100%;
    margin-top: 7px;
    left: -34px;
    display: none;
    background: #fff;
    .box-shadow(0 0 5px rgba(0, 0, 0, 0.7));
    padding: 23px;
    z-index: 200;

    form{
        margin: 0;
    }
    input{
        margin: 0;
    }
    .caret{
        position: absolute;
        top: -8px;
        left: 10px;
        border: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 8px solid #fff;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .fieldset{
        margin: 0 0 12px;
    }
    .fieldset, .clearfix{
        &.error{
            input[type=text], input[type=password]{
                border-color: #fc9596;
                border-left: 3px solid #e73708;
                -webkit-border-radius: 1px 3px 3px 1px;
                @shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 148, 149, 0.6);
                .box-shadow(@shadow);
                width: 229px;
            }
            .help-inline{
                color: #e73708;
                padding: 3px 0 0;
                vertical-align: bottom;
                display: block;
            }
        }
    }
    .fieldset{
        &.error{
            input[type=text].span7, input[type=password].span7{
                width: 348px;
            }
            input[type=text].span6, input[type=password].span6{
                width: 294px;
            }
        }
    }
}
// /signup popup


// dropdown popup
.dropdown-popup{
    cursor: auto;
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 7px;
    left: 0;
    background: #fff;
    .box-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
    border: 1px solid #cbcbcb;
    .border-radius(0);
    overflow: visible;
    z-index: @zindexTooltip;
    &:before{
        display: none;
    }
    .dropdown-popup-caret{
        position: absolute;
        top: -7px;
        left: 18px;
        width: 13px;
        height: 7px;
        background: url(../images/arrow/blog-reit-str.png);
    }

    .dropdown-popup-body{
        padding: 8px 10px;
    }
    .dropdown-popup-footer{
        padding: 8px 10px;
        background: #f2f2f2;
        .clearfix();
        &.light-footer{
            background: #fafafa;
            border-top: 1px solid #d9d9d9;
        }
    }
    .dropdown-popup-action{
        white-space: nowrap;
    }

    .pln-select.dropdown{
        .dropdown-menu{
            min-width: 0;
        }
    }
    .fieldset{
        margin: 10px 0 0;
        &:first-child{
            margin-top: 0;
        }
    }

    &.video-widget-popup{
        width: 400px;
        left: 50%;
        margin-left: -200px;
        .dropdown-popup-caret{
            left: 50%;
            margin-left: -6px;
        }
    }

    &.project-reward-buy-action{
        top: auto;
        bottom: 120%;
        .dropdown-popup-caret{
            top: auto;
            bottom: -7px;
            background: url(../images/arrow/blog-reit-str-bottom.png) no-repeat;
        }
    }
}
// /dropdown popup


// sharing
.sharing-popup{
    position: absolute;
    display: none;
    z-index: @zindexModal + 100;
    &.show{
        display: block;
    }
    &.broadcast-sharing{
        .sharing-popup-social{
            left: -63px;
        }
    }
    &.photo-view-sharing{
        .sharing-popup-social{
            left: auto;
            right: -70px;
            &:before {
                left: auto;
                right: 120px;
            }
        }
    }
}


.black-tooltip{
    position: absolute;
    z-index: 1050;
    display: block;
    font-size: 11px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    &.in{
        .opacity(80);
    }
    &.top{
        padding: 5px 0;
        margin-top: -3px;
        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-top-color: #000000;
            border-width: 5px 5px 0;
        }
    }
    &.right{
        padding: 0 5px;
        margin-left: 3px;
        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -5px;
            border-right-color: #000000;
            border-width: 5px 5px 5px 0;
        }
    }
    &.bottom{
        padding: 5px 0;
        margin-top: 3px;
        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-bottom-color: #000000;
            border-width: 0 5px 5px;
        }
    }
    &.left{
        padding: 0 5px;
        margin-left: -3px;
        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -5px;
            border-left-color: #000000;
            border-width: 5px 0 5px 5px;
        }
    }
    .tooltip-inner {
        .border-radius(4px);
        max-width: 200px;
        padding: 3px 7px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        background-color: #000000;
    }
    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
}
