<div *ngIf="settings.labelType === labelTypes.OUTER" class="pl-input-control_outer-label">
    <label class="pl-input-control_outer-label_lbl"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>

    <span *ngIf="settings.labelHelp" class="profile-label-control_help"
          tooltip="{{ getLabelHelpTranslate() }}"
          placement="{{ tooltipPositionTop() }}"
          triggers="click:click click:mouseleave mouseenter:mouseleave"
          container="body">?</span>
</div>

<div class="pl-input-control" [class.error]="hasError()" #inputControl>
    <div *ngIf="settings.addonCode" class="pl-input-control_addon">
        {{ settings.addonCode | translate:lang }}
    </div>

    <input type="{{ settings.type }}"
           id="{{ labelCode }}"
           class="form-control pl-input-control_val"
           [(ngModel)]="model"
           (input)="changeValue($event.target.value)"
           [textMask]="{mask: settings.mask, guide: true, showMask: true}"
           [class.pl-input-control_val-inner]="settings.labelType === labelTypes.INNER"
           [class.pl-input-control_val-outer]="settings.labelType === labelTypes.OUTER"
           [placeholder]="getPlaceholderTranslate()"
           [disabled]="settings.disabled"
           [required]="settings.required"
           [readonly]="settings.readOnly">

    <span class="pl-input-control_help"
          tooltip="{{ getError() }}"
          placement="{{ tooltipPositionTop() }}"
          triggers="click:click click:mouseleave mouseenter:mouseleave"
          container="body">!</span>

    <label *ngIf="settings.labelType === labelTypes.INNER"
           class="pl-input-control_inner-label"
           for="{{ labelCode }}">{{ labelCode | translate:lang }}</label>
</div>
