/*
 * Unminified CSS Source
 * This css file is not required for the plugin, because the styles
 * are minified and hard-coded in plugin.js
 *
 */

img::selection {
    color: rgba(0, 0, 0, 0);
}

img.ckimgrsz {
    outline: 1px dashed #000;
}

#ckimgrsz {
    position: absolute;
    width: 0;
    height: 0;
    cursor: default;
    z-index: 10001;
}

#ckimgrsz span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-size: 100% 100%;
    opacity: .65;
    outline: 1px dashed #000;
}

#ckimgrsz i {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border: 1px solid #000;
}

#ckimgrsz i:hover, #ckimgrsz i.active {
    background: #000;
}

#ckimgrsz i.tl,
#ckimgrsz i.br {
    cursor: nwse-resize;
}

#ckimgrsz i.tm,
#ckimgrsz i.bm {
    cursor: ns-resize;
}

#ckimgrsz i.tr,
#ckimgrsz i.bl {
    cursor: nesw-resize;
}

#ckimgrsz i.lm,
#ckimgrsz i.rm {
    cursor: ew-resize;
}

body.dragging-tl, body.dragging-tl *,
body.dragging-br, body.dragging-br * {
    cursor: nwse-resize !important;
}

body.dragging-tm, body.dragging-tm *,
body.dragging-bm, body.dragging-bm * {
    cursor: ns-resize !important;
}

body.dragging-tr, body.dragging-tr *,
body.dragging-bl, body.dragging-bl * {
    cursor: nesw-resize !important;
}

body.dragging-lm, body.dragging-lm *,
body.dragging-rm, body.dragging-rm * {
    cursor: ew-resize !important;
}
