<ul class="profile-dashboard">
    <li class="profile-dashboard_i">
        <div class="profile-dashboard_i-cont">
            <div class="profile-dashboard_head">
                <div class="profile-dashboard_ico">
                    <img src="/images/icons/my-campaigns.svg">
                </div>

                <div class="profile-dashboard_title">
                    <a routerLink="/account/my-projects" translate>profile-page.my-projects</a>
                </div>

                <div class="profile-dashboard_descr" translate>profile-page.my-projects-list</div>
            </div>

            <pl-profile-dashboard-links [links]="myCampaignsStatusesLinks"
                                        [loading]="myCampaignsStatusesLoading"
                                        [type]="linkTypes.MY_PROJECTS"></pl-profile-dashboard-links>
        </div>
    </li>

    <li class="profile-dashboard_i">
        <div class="profile-dashboard_i-cont">
            <div class="profile-dashboard_head">
                <div class="profile-dashboard_ico">
                    <img src="/images/icons/my-purchased-campaigns.svg">
                </div>

                <div class="profile-dashboard_title">
                    <a routerLink="/account/my-purchased-projects" translate>profile-page.purchased-projects</a>
                </div>

                <div class="profile-dashboard_descr" translate>profile-page.purchased-projects-list</div>
            </div>

            <pl-profile-dashboard-links [links]="myPurchasedCampaignsStatusesLinks"
                                        [loading]="myPurchasedCampaignsStatusesLoading"
                                        [type]="linkTypes.MY_PURCHASED_PROJECTS"></pl-profile-dashboard-links>
        </div>
    </li>


    <li class="profile-dashboard_i">
        <div class="profile-dashboard_i-cont">
            <div class="profile-dashboard_head">
                <div class="profile-dashboard_ico">
                    <img src="/images/icons/my-purchases-and-rewards.svg">
                </div>

                <div class="profile-dashboard_title">
                    <a routerLink="/account/my-purchases-and-rewards" translate>profile-page.purchases-and-rewards</a>
                </div>

                <div class="profile-dashboard_descr" translate>profile-page.purchases-and-rewards-list</div>
            </div>

            <pl-profile-dashboard-links [links]="myPurchasesAndRewardsLinks"
                                        [loading]="myPurchasesAndRewardsLoading"
                                        [type]="linkTypes.MY_PURCHASES_AND_REWARDS"></pl-profile-dashboard-links>
        </div>
    </li>
</ul>

<div class="profile-updates-block">
    <div class="profile-updates-block_head">
        <div class="profile-updates-block_title" translate>profile-page.latest-updates</div>
        <div class="profile-updates-block_descr" translate>profile-page.news-and-statuses</div>

        <div class="profile-updates-block_settings">
            <a routerLink="/account/settings/notifications">
                <span class="profile-updates-block_link-ico">
                    <img src="/images/icons/settings-mail.svg">
                </span>

                {{ 'profile-page.notification-settings' | translate:lang }}
            </a>
        </div>
    </div>

    <div class="profile-updates-block_body">
        <pl-updates></pl-updates>
    </div>
</div>
