// Quick floats
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Toggling content
.hide {
    display: none;
}
.show {
    display: block;
}

.hidden,
.hidden-container{
    display: none !important;
}


// Visibility
.invisible {
    visibility: hidden;
}

.relative {
    position:relative;
}

.no-pdg{
    padding: 0 !important;
}

.no-border{
    border: 0 !important;
}

.cur-p{
    cursor: pointer;
}
.dis-b, .div-b{
    display: block;
}


.word-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.t-ov{
    .text-overflow();
}

