<div class="profile-body_head">
    <div class="profile-body_title" translate>profile-page.settings-block.contacts</div>
    <div class="profile-body_descr" translate>profile-page.settings-block.contacts-descr</div>
</div>

<div class="profile-settings">
    <div class="profile-settings_form wrap-row">
        <div class="profile-settings_col col-12">
            <div class="wrap-row">
                <div class="profile-settings_i col-12 m-col-tp-6">
                    <pl-input [(model)]="sites.siteUrl"
                              [labelCode]="'profile-page.settings-block.site'"
                              [settings]="inputSettings"
                              [errors]="errors"
                              [field]="'siteUrl'"></pl-input>
                </div>
            </div>
        </div>

        <div class="profile-settings_i col-12 m-col-tp-6">
            <pl-input [(model)]="sites.vkUrl"
                      [labelCode]="'profile-page.settings-block.vk'"
                      [settings]="vkSettings"></pl-input>
        </div>

        <div class="profile-settings_i col-12 m-col-tp-6">
            <pl-input [(model)]="sites.facebookUrl"
                      [labelCode]="'facebook'"
                      [settings]="fbSettings"></pl-input>
        </div>

        <div class="profile-settings_i col-12 m-col-tp-6">
            <pl-input [(model)]="sites.twitterUrl"
                      [labelCode]="'twitter'"
                      [settings]="twitterSettings"></pl-input>
        </div>

        <div class="profile-settings_i col-12 m-col-tp-6">
            <pl-input [(model)]="sites.googleUrl"
                      [labelCode]="'google+'"
                      [settings]="googleSettings"></pl-input>
        </div>

        <div class="profile-settings_i col-12">
            <div class="profile-settings_action">
                <button class="btn btn-nd-primary"
                        (click)="save()"
                        translate>core.save-changes</button>
            </div>
        </div>
    </div>
</div>
