// show-more



.show-more-mix{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 35px 0 18px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    color: #1a8cff;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px fade(#b0c6d7, 50);
    transition: .3s;
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: 14px;
        width: 8px;
        height: 9px;
        transform: translateY(-50%);
        background: url('/images/header/show-more-arr.svg') no-repeat;
    }
    &:hover{
        text-decoration: none;
        background: fade(#b0c6d7, 10);
    }
}
