// about-categories-stats



.about-categories-stats{
    padding: 160px 0;
    &_list{
        margin-top: -90px;
    }
    &_i{
        margin-top: 90px;
    }
    &_i-cont{
        position: relative;
        width: 220px;
        height: 220px;
        margin: auto;
    }
    &_bar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &_cont{
        position: relative;
        padding: 60px 40px 0;
    }
    &_val{
        font-size: 90px;
        line-height: 1;
        font-weight: 700;
        color: @baseColor;
    }
    &_val-percent{
        font-size: 60px;
    }
    &_name{
        margin: -11px 4px 0;
        font-size: 16px;
        line-height: 1;
    }


    @media (max-height: 850px) {
        padding: 80px 0;
        &_list{
            margin-top: -60px;
        }
        &_i{
            margin-top: 60px;
        }
    }
}
