// about-meta



.about-meta-val{
    display: block;
    line-height: 1;
    font-weight: 700;
    color: @baseColor;
}


.about-meta{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    &_row{
        &:extend(.cf-mix all);
        padding: 40px 0;
        border-top: 2px solid #d9d9d9;
        &:first-child{
            border: 0;
        }
    }

    &_i{
        float: left;
        width: 50%;
        min-height: 210px;
        border-left: 2px solid #d9d9d9;
        &:first-child{
            border-left: 0;
        }
    }


    &_total{
        display: inline-block;
        vertical-align: top;
        padding: 57px 0 34px;
    }
    &_total-lbl{
        display: block;
        margin: 0 0 -7px;
        text-align: left;
    }
    &_total-rub{
        margin: -13px 0 0;
        text-align: right;
    }
    &_total-val{
        &:extend(.about-meta-val);
        font-size: 150px;
    }


    &_projects{
        padding: 38px 0 0;
    }
    &_projects-val{
        &:extend(.about-meta-val);
        font-size: 100px;
    }
    &_projects-lbl{
        display: block;
        margin: -8px 0 0;
        font-size: 27px;
    }


    &_wow{
        padding: 80px 0 0;
    }
    &_wow-hl{
        &:extend(.about-meta-val);
        display: inline;
        font-size: 48px;
        text-transform: uppercase;
    }
    &_wow-last{
        display: block;
        padding: 0 0 0 15px;
        font-size: 27px;
    }


    &_bill{
        padding: 56px 0 112px;
    }
    &_bill-lbl{
        display: inline-block;
        vertical-align: top;
        padding: 84px 134px 0 0;
        font-size: 48px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_bill-val{
        display: inline-block;
        vertical-align: top;
        width: 415px;
        height: 208px;
        padding: 71px 0 0 94px;
        font-size: 69px;
        line-height: 1;
        font-weight: 700;
        background: url('/images/about/bill.svg') no-repeat 0 0 / cover;
    }
}
