// about-spec-projects



.about-spec-projects{
    @about-spec-projects-offset: 151px;

    padding: 80px 0;
    &_head{
        margin: 0 0 50px;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
    &_list{
        margin: -70px 0 0;
        font-size: 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        margin: 70px 0 0;
        &, &:hover{
            color: #000;
        }
    }
    &_name{
        display: block;
        max-width: 200px;
        margin: 22px auto 0;
        font-size: 24px;
        line-height: 35em / 24;
        font-weight: 700;
    }
    &_img{
        display: block;
    }
}
