// about-project-carousel



.about-project-carousel{
    &_i{
        position: absolute;
        top: -99999px;
        left: -99999px;
        background: no-repeat 50% 50% / cover;
        &:first-child{
            position: relative;
            top: auto;
            left: auto;
        }
    }
    &_cont{
        position: relative;
        height: 813px;
        padding: 3px 0 0;
        background: fade(#254959, 40);
        color: #fff;
        text-align: center;
        font-weight: 700;
    }
    &_category{
        margin: 60px 0 0;
        font-size: 48px;
    }
    &_category-name{
        text-transform: uppercase;
    }
    &_sum{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -89px 0 0;
    }
    &_sum-val{
        font-size: 150px;
        line-height: 1;
    }
    &_sum-currency{
        font-size: 24px;
    }
    &_bottom{
        position: absolute;
        bottom: 100px;
        left: 10px;
        right: 10px;
    }
    &_author{
        font-size: 48px;
    }
    &_name{
        font-size: 40px;
    }

    .owl-item{
        z-index: 1;
    }
    .owl-prev,
    .owl-next{
        position: absolute;
        top: 0;
        left: 30px;
        bottom: 0;
        width: 110px;
        opacity: .6;
        transition: .2s;
        &:hover{
            opacity: 1;
        }
        .s-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -45px 0 0 -45px;
            font-size: 90px;
            color: #fff;
        }
    }
    .owl-next{
        left: auto;
        right: 30px;
    }


    @media (max-height: 850px) {
        &_cont{
            height: 600px;
        }
        &_category{
            margin-top: 30px;
        }
        &_bottom{
            bottom: 50px;
        }
    }
}
