// about-chronicles



.about-chronicles{
    min-height: 310px;
    padding: 83px 20px 69px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background: #000 url('/images/about/chronicles-bg.jpg') no-repeat 50% 100% / cover;
    &_btn{
        margin: 55px 0 0;
        .btn{
            padding: 13px 27px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            letter-spacing: .3em;
            text-transform: uppercase;
            box-shadow: 0 10px 20px fade(@linkColor, 50);
        }
    }
}
