// about-nav



.about-nav{
    position: fixed;
    z-index: 90;
    top: 50%;
    right: 20px;
    transform: translateZ(0);
    &_i{
        position: relative;
        font-size: 13px;
        line-height: 1;
    }
    &_link{
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        text-decoration: none;
        &:before{
            content: '';
            position: absolute;
            top: 6px;
            left: 6px;
            width: 12px;
            height: 12px;
            background: #b6c3ca;
            border-radius: 50%;
        }
        &, &:hover{
            text-decoration: none;
            color: #7b94a2;
        }
        &:hover{
            .about-nav_link-text{
                opacity: 1;
                margin-right: 10px;
            }
        }
        &.active{
            color: @baseColor;
            &:before{
                background: @baseColor;
            }
        }
    }
    &_link-text{
        position: absolute;
        top: 6px;
        right: 6px;
        margin: 0 -10px 0 0;
        padding: 0 10px 0 0;
        opacity: 0;
        transition: .2s;
    }
}
