// about-head



.about-head{
    margin: 39px 0 31px;
    font-size: 48px;
    font-weight: 700;
    color: @baseColor;
    text-align: center;
}


.about-head-text{
    max-width: 900px;
    margin: 0 auto 55px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
