// main charity



.about-page{
    font-family: @ff-proxima-nova;
    line-height: 1.2;
    background: #fff;
}


.about-map-stats{
    margin: 0 0 124px;
    padding: 0 10px;
    text-align: center;
}
