// marketing-funding



[class^="s-marketing-funding-"], [class*=" s-marketing-funding-"]{
    .sprite(280, 190, url('/images/marketing/s-marketing-funding.svg'))
}
//.s-marketing-funding-patrons  { background-position: 0 0 }
.s-marketing-funding-x2       { background-position: -300px 0 }
.s-marketing-funding-50       { background-position: -600px 0 }
.s-marketing-funding-people   { background-position: -900px 0 }



.marketing-funding{
    padding: 70px 0;
    &_list{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &_i{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 25%;
        font-size: 16px;
        line-height: 18em / 16;
        text-align: center;
    }
    &_ico{
        position: absolute;
        top: -32px;
        left: 50%;
        margin-left: -140px;
    }
    &_i-cont{
        position: relative;
        max-width: 240px;
        margin: auto;
    }
    &_name{
        margin: 0 0 22px;
        font-size: 26px;
        line-height: 22em / 26;
        font-weight: 700;
    }
}


