// marketing-spec



.marketing-spec{
    padding: 70px 0;
    &_list-wrap{
        &:extend(.cf-mix all);
        margin: auto;
    }
    &_i{
        float: left;
        width: 25%;
        height: 295px;
    }
    &_link{
        position: relative;
        display: block;
        overflow: hidden;
        &, &:hover{
            color: #fff;
            text-decoration: none;
        }
        &:hover{
            .marketing-spec_cont{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &_cont{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 17px 25px;
        font-size: 13px;
        line-height: 1.25;
        color: #fff;
        background: fade(@baseColor, 90);
        opacity: 0;
        transform: scale(1.2);
        transition: .2s;
        .laquo{
            margin-left: -0.5em;
        }
        .raquo{
            margin-right: -0.5em;
        }
        .ensp{
            word-spacing: 0.5em;
        }
    }
    &_name{
        display: block;
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 22em / 18;
        font-weight: 700;
    }
    &_text{
        display: block;
    }
    &_more{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
        padding: 8px 0 0 3px;
        font-size: 17px;
        text-align: center;
        color: #000;
        background: #f5f5f5;
        box-shadow: 0 5px 5px fade(#000, 20);
        border-radius: 50%;
        opacity: .7;
        &:hover{
            opacity: .2;
        }
    }

    &_my{
        float: left;
        width: 25%;
        height: 295px;
        padding: 0 20px;
        font-size: 20px;
        color: #fff;
        text-align: center;
        background: #3599db url('/images/marketing/marketing-spec-my.jpg') 50% 50% / cover;
        &__1{
            .marketing-spec_my-head{
                margin-top: 58px;
            }
            .btn-marketing-lead{
                padding: 22px 40px 20px;
                font-size: 18px;
            }
            @media (max-width: 1239px) {
                padding: 0 10px;
                .marketing-spec_my-head{
                    margin-top: 44px;
                    font-size: 24px;
                }
                .btn-marketing-lead{
                    padding: 19px 30px 17px;
                    font-size: 16px;
                }
            }
        }
        &__2{
            width: 50%;
        }
        &__3{
            width: 75%;
        }
        &__4{
            width: 100%;
        }
    }
    &_my-head{
        margin: 76px 0 42px;
        font-size: 32px;
        font-weight: 700;
    }


    @media (max-width: 1239px) {
        &_list-wrap{
            width: 940px;
        }
        &_i{
            height: 235px;
        }
        &_cont{
            padding: 12px 15px;
            font-size: 12px;
        }
        &_in{
            display: block;
            max-height: 212px;
            overflow: hidden;
        }
        &_name{
            font-size: 16px;
        }
        &_my{
            height: 235px;
        }
        &_my-head{
            margin-top: 47px;
        }
    }
}

