// marketing-placement



.marketing-placement{
    padding: 70px 0;
    &_add-text{
        margin: -12px 0 -36px;
        font-size: 16px;
        font-style: italic;
        text-align: center;
        a{
            text-decoration: underline;
        }
    }
}
