// marketing lead



.marketing-lead{
    position: relative;
    min-height: 575px;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 593px;
        height: 541px;
        background: url('/images/marketing/marketing-lead-left-bg.png') no-repeat;
        @media (max-width: 1640px) {
            right: 50%;
            width: auto;
            margin-right: 228px;
            background-position: 100% 0;
        }
    }
    &:after{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 646px;
        height: 541px;
        background: url('/images/marketing/marketing-lead-right-bg.png') no-repeat;
        @media (max-width: 1790px) {
            left: 50%;
            margin-left: 250px;
        }
    }
    &_cont{
        position: relative;
        z-index: 1;
        padding: 40px 0 0;
        text-align: center;
    }
    &_head{
        margin-bottom: 58px;
    }
    &_text{
        max-width: 720px;
        margin: 0 auto 86px;
        font-size: 20px;
        line-height: 26em / 20;
    }
    &_action-btn{
        position: relative;
        display: inline-block;
        vertical-align: top;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 146px;
            height: 204px;
            margin: -13px -60px 0;
            background: url('/images/marketing/marketing-lead-action-bg.png') no-repeat;
        }
    }
}


.btn-marketing-lead{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 22px 85px 20px;
    font: 700 20px/22px @ff-proxima-nova;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background: linear-gradient(to bottom, #ffd910 0%,#ffc60a 100%);
    border-radius: 50px;
    box-shadow: 0 20px 20px fade(#000, 10);
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
}
