// partners



.partners-text{
    font-size: 15px;
    line-height: 1.4;
    margin: 0 0 45px;
}



.partners-list{
    margin: -20px -17px 100px;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 20px 70px;
    }
    &_link{
        position: relative;
        display: block;
        height: 0;
        padding: 0 0 50%;
    }
    &_img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
    }
}
