// pln-map-bubble



.pln-map-bubble{
    width: 330px;
    padding: 15px 22px 18px;
    font-family: @ff-proxima-nova;
    font-size: 16px;
    line-height: 1.2;
    &_logo{
        width: 114px;
        height: 30px;
        background: url('/images/pln-logo.svg') no-repeat;
    }
    &_tel{
        margin: 10px 0 10px;
        font-size: 24px;
        line-height: 1;
    }
    &_time-lbl{
        margin: 15px 0 5px;
    }
    &_time{
        &:extend(.cf-mix all);
        font-size: 13px;
    }
    &_time-weekday{
        float: left;
    }
    &_time-holiday{
        float: right;
    }
}
