<ng-template #tmpl>
    <div class="modal-header">
        <a class="close" (click)="tmplRef.hide()">×</a>
        <div class="modal-title">Загрузка видео</div>
    </div>
    <div class="modal-body">
        <div class="upload-photo-modal">
            <div class="uploader-container">
                <div class="uploader-droptext">
                    Перетащите файл сюда<br>Вы можете загрузить видео-файл размером до 1
                    Гб. Поддерживаются все популярные видео-форматы. Видео должно быть длиннее 5 секунд
                </div>
                <div class="modal-scroll">
                    <div class="modal-scroll-content" style="position: relative; overflow: hidden; height: 230px;">
                        <div class="scrollbar-pane"
                             style="position: absolute; overflow: visible; height: auto; width: 100%; top: 0px;">
                            <ul class="uploader-filelist"
                                data-backbone-class-name="view FileUploadListView view127 : model null "
                                style="">
                            </ul>
                        </div>
                        <div class="scrollbar-handle-container word-hidden"
                             style="position: absolute; height: 230px; display: none;">
                            <div class="scrollbar-handle"
                                 style="position: absolute; cursor: pointer; height: 2939px; top: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer-cont">
            <div class="btn-group pull-right">
                <button type="reset" class="btn btn-default">Отмена</button>
                <button type="submit" class="btn btn-primary" disabled="disabled">ОК</button>
            </div>
            <div class="uploader-upload-btn">
                <span class="btn btn-primary fileinput-button">
                    <i class="fa fa-upload"></i>
                    <span>Выбрать файл на компьютере </span>
                    <input type="file" name="files[]" id="fileupload-08217990731305562"/>
                </span>
            </div>
        </div>
    </div>
</ng-template>