// action-card-donate



.action-card-donate{
    .action-card{
        &_cover-in{
            z-index: 1;
        }
        &_check{
            position: absolute;
            top: 18px;
            left: 17px;
            width: 28px;
            height: 28px;
            border: 1px solid #e1e3e4;
            border-radius: 50%;
            background: #fff;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 2px solid #3366ff;
                border-radius: 50%;
                background: #1a8cff url(../images/project/check-tick.svg) no-repeat 50% 50%;
                box-shadow: 0 4px 8px fade(#1a8cff, 50);
                opacity: 0;
                transition: .3s;
            }
        }
        &:not(.active){
            cursor: pointer;
            &:hover{
                border-color: #999;
            }
        }
        &.active{
            .action-card{
                &_check{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-tp-min) {
        .action-card{
            padding-left: 59px;
            padding-right: 39px;
            transition: border-color 0.5s, margin-left 0.5s, margin-right 0.5s;
            &_check{
                top: 18px;
                left: 17px;
            }

            &_name{
                cursor: pointer;
            }
            &_cover{
                margin: 0 0 15px;
            }
            &_meta,
            &_action-wrap{
                clear: both;
            }
            &_price{
                margin-right: 40px;
            }
            &_count{
                float: none;
                text-align: left;
            }
            &_share{
                margin: 25px 0 0;
            }
            &_counter{
                display: inline-block;
                vertical-align: top;
                width: 190px;
                margin-bottom: 10px;
            }
            &_action-btn{
                display: inline-block;
                vertical-align: top;
                width: 190px;
                margin: 0 12px 0 0;
            }
            &_action-count{
                display: inline-block;
                vertical-align: top;
                padding: 11px 0 0;
            }
            &_why{
                text-align: left;
            }
            &_show{
                display: none;
            }


            &.without-reward{
                .action-card{
                    &_action-btn{
                        margin: 0;
                        padding: 15px 0 0;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-tl-min) {
        .action-card{
            &_name,
            &_descr{
                max-width: 462px;
                margin-right: 200px;
            }
            &_cover{
                float: right;
                width: 160px;
                margin-left: 40px;
            }
            &_counter{
                width: 180px;
                margin-bottom: 0;
            }
            &_viewaction-btn{
                margin-left: 12px;
            }
            &_share{
                float: right;
                margin: 13px 0 0;
            }


            &.active{
                margin-left: -30px;
                margin-right: -30px;
            }
        }
    }

    @media (min-width: @screen-ld-min) {
        .action-card{
            &_counter{
                width: 295px;
            }
            &_delivery-i{
                display: inline-block;
                vertical-align: top;
                margin: 0 0 0 40px;
                &:first-child{
                    margin: 0;
                }
            }
        }
    }

    @media (max-width: @screen-tp-max) {
        .action-card{
            &_check{
                left: -14px;
            }
        }
    }
}
