// action-card-why-text-tt



.action-card-why-text-tt.tooltip-element{
    .tooltip-content{
        padding: 11px 13px;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 18/13;
        font-weight: 500;
        background: fade(#1b2336, 80);
        &:before{
            border-width: 11px;
        }
    }
    &.tooltip-element-attached-top.tooltip-element-attached-center{
        .tooltip-content{
            margin-top: 11px;
            &:before{
                border-bottom-color: fade(#1b2336, 80);
            }
        }
    }
    &.tooltip-element-attached-bottom.tooltip-element-attached-center{
        .tooltip-content{
            margin-bottom: 11px;
            &:before{
                border-top-color: fade(#1b2336, 80);
            }
        }
    }
}
