// action-card



.action-card{
    position: relative;
    padding: 22px 23px 25px;
    font-family: @ff-roboto;
    color: #000;
    border: 1px solid #e1e3e4;
    border-radius: 2px;
    background: #fff;
    transition: border-color .5s;
    &:hover{
        .ac-action{
            visibility: visible;
        }
    }
    &.focus{
        border-color: #7894a2;
    }

    &_in{
        .disabled &{
            opacity: .5;
        }
    }

    &_supported{
        position: absolute;
        z-index: 20;
        top: 20px;
        left: -13px;
        width: 26px;
        height: 26px;
        background: #ffcf0d;
        border: 2px solid #fcbd2b;
        border-radius: 50%;
        box-shadow: 0 4px 8px fade(#ffcf0d, 50);
        &:before{
            content: '';
            position: absolute;
            top: 8px;
            left: 6px;
            width: 10px;
            height: 7px;
            background: url(../images/project/view/ac-supported.svg) no-repeat;
        }
    }

    &_name{
        margin: 0 0 16px;
        font-size: 14px;
        line-height: 22/16;
        font-weight: 500;
    }

    &_cover{
        max-width: 292px;
        overflow: hidden;
        transition: height .5s;
        .action-card-view &{
            @media (min-width: @screen-tp-min) {
                height: 227px;
            }
            @media (max-width: @screen-pl-max) {
                max-width: none;
            }
        }
        .action-card-edit &{
            max-width: none;
        }
        .image-collapsed &{
            height: 0;
        }
    }
    &_cover-in{
        position: relative;
        height: 0;
        padding: 0 0 percentage(212/292);
    }
    &_img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
        &:not(.action-card-edit){
            cursor: zoom-in;
        }
    }

    &_descr{
        position: relative;
        margin: 0 0 25px;
        font-size: 12px;
        line-height: 1.5;
        color: #666;
    }
    &_descr-text{
        overflow: hidden;
        transition: height .5s;
        p, ul, ol, li{
            margin: 0;
        }
        ul, ol{
            padding-left: 1.9em;
        }
        ul{
            list-style-type: disc;
            ul{
                list-style-type: circle;
            }
        }
    }
    &_descr-show{
        position: relative;
        margin: 0 -23px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height .5s, opacity .5s, visibility .5s;
        color: #1a8cff;
        cursor: pointer;
        &:before{
            content: '';
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 126px;
            background: linear-gradient(180deg, fade(#f9fcff, 0) 0, #fff 100%);
        }
        &:hover{
            color: darken(#1a8cff, 20%);
        }
        .text-collapsed &{
            &:before{
                visibility: visible;
            }
        }
        .image-collapsed &,
        .text-collapsed &{
            height: 31px;
            opacity: 1;
            visibility: visible;
        }
    }
    &_descr-show-text{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 0;
        font-family: @ff-roboto-cond;
        font-size: 10px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        border-bottom: 1px solid #e1e3e4;
        transition: border-color .5s;
        .focus &{
            border-bottom-color: #7894a2;
        }
    }

    &_delivery{
        margin: 43px 0 35px;
        transition: margin-top .2s, margin-bottom .2s;
        .image-collapsed &,
        .text-collapsed &{
            margin-top: 27px;
        }
        .active &{
            @media (min-width: @screen-tp-min) {
                margin-bottom: 23px;
            }
        }
    }
    &_delivery-i{
        margin: 27px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 1;
        text-transform: uppercase;
        &:first-child{
            margin-top: 0;
        }
    }
    &_delivery-lbl{
        display: block;
        margin: 0 0 2px;
        color: #9b9b9b;
    }
    &_delivery-val{
        display: block;
    }

    &_meta{
        &:extend(.cf-mix all);
        height: 26px;
        overflow: hidden;
        transition: height .5s, opacity .5s;
        .active &{
            @media (min-width: @screen-tp-min) {
                height: 0;
                opacity: 0;
            }
        }
    }

    &_price{
        float: left;
        font-size: 24px;
        line-height: 1;
        font-weight: 500;
    }

    &_count{
        float: right;
        text-align: right;
    }
    &_count-i{
        margin: 2px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        color: #afafaf;
        &:first-child{
            margin: 0;
            color: #000;
        }
    }
    &_count-sold{
        color: #47a210;
    }


    &_action{
        overflow: hidden;
        height: 0;
        margin: 0 -23px;
        transition: height .5s;
    }
    &_action-cont{
        &:extend(.cf-mix all);
    }
    &_fix-in,
    &_action-bottom{
        padding: 0 23px;
    }


    &_show{
        position: absolute;
        z-index: 10;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        display: flex;
        background: fade(#1a8cff, 80);
        font-family: @ff-roboto-cond;
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        border-radius: 2px;
        overflow: hidden;
        opacity: 0;
        transition: opacity .2s;
        cursor: pointer;
        &:hover{
            opacity: 1;
            .action-card_show-text{
                transform: scale(1);
            }
        }
        .active &{
            opacity: 0;
            visibility: hidden;
            transition: none;
            .action-card_show-text{
                transform: scale(.7);
                transition: none;
            }
        }
    }
    &_show-text{
        margin: auto;
        transform: scale(1.3);
        transition: transform .2s;
    }

    &_counter-cont{
        position: relative;
    }
    &_counter-val{
        height: 48px;
        padding: 12px 37px 13px 15px;
        font-family: @ff-roboto;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        border-color: #e8e8e8;
        color: #000;
        .focus &{
            border-color: #7894a2;
        }
        .error &{
            border-color: #ef5928;
        }
    }
    &_counter-btn{
        position: absolute;
        top: 0;
        right: 0;
        width: 22px;
        height: 25px;
        margin: 0;
        padding: 0;
        background: #fff;
        border: 1px solid #e8e8e8;
        font-family: @ff-roboto;
        font-size: 14px;
        line-height: 1;
        color: #000;
        text-align: center;
        .focus &{
            border-color: #7894a2;
        }
        &:hover:not([disabled]){
            background: #7894a2;
            color: #fff;
        }
        &.minus{
            top: 50%;
            height: 24px;
        }
        .error &{
            border-color: #ef5928;
        }
        &[disabled]{
            color: #d5d5d5;
            opacity: 1;
            cursor: default;
        }
    }
    &_counter-error{
        display: none;
        margin: 9px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 14px;
        color: #ef5928;
        text-transform: uppercase;
        .error &{
            display: block;
        }
    }

    &_action-btn{
        margin: 13px 0 0;
    }
    &_btn{
        display: block;
        width: 100%;
        padding: 16px 0 14px;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    &_action-count{
        display: none;
    }

    &_why{
        position: relative;
        margin: 10px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center;
        cursor: default;
    }

    &_spec{
        margin: 26px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 20/14;
        color: #666;
    }

    &_share{
        @media (max-width: @screen-tp-max) {
            display: none;
        }
    }

    &_link-block{
        margin: 13px 0 0;
    }
    &_link{
        font-family: @ff-roboto-cond;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: underline;
        color: #000;
    }



    @media (max-width: @screen-tp-max) {
        &_cover{
            height: auto;
            margin: 0 0 15px;
        }
        &_show{
            display: none;
        }
        &_action{
            overflow: visible;
            height: auto;
            margin-top: 15px;
        }
        &_fix-in{
            z-index: 10;
            left: 0;
            right: 0;
            padding-top: 16px;
            padding-bottom: 17px;
            border-top: 1px solid #e1e3e4;
            background: #fff;
        }
        &_spec{
            margin-top: 9px;
        }
        &_link-block{
            margin-top: 0;
        }

        &_counter-cont{
            padding: 0 43px;
        }
        &_counter-val{
            position: relative;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            &:focus{
                z-index: 1;
            }
        }
        &_counter-btn{
            width: 44px;
            height: 100%;
            &.minus{
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }
}
