// action-card-view



.action-card-view{
    .action-card{
        &_share{
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%) scale(.7);
            opacity: 0;
            visibility: hidden;
            margin: 0 0 0 10px;
            transition: transform .5s, opacity .5s, visibility .5s;
            transition-delay: 0s;
            .spsb-item{
                display: block;
                margin: 10px 0 0;
                &:first-child{
                    margin: 0;
                }
            }
            .sps-count{
                display: none;
            }
            @media (max-width: @screen-ld-max) {
                margin-left: 0;
            }
        }

        &.active{
            &:hover{
                border-color: #999;
            }
        }
        &.focus{
            .action-card{
                &_share{
                    transform: translateY(-50%) scale(1);
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0s;
                }
            }
        }
        &.inactive{
            .action-card{
                &_share{
                    transition-delay: 0.55s;
                }
            }
        }
    }
}
