// action-card-modal



.modal-action-card{
    &&{
        width: 1080px;
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
        border: 0;
        background: none;
    }
    &_info{
        position: relative;
        float: left;
        width: 770px;
        margin: 0 20px 0 0;
    }
    &_close{
        display: none;
        @media (max-width: 767px) {
            display: block;
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            padding: 5px;
            cursor: pointer;
        }
    }
    &_close-ico{
        width: 20px;
        height: 20px;
        .cross(20, 2, #ccc);
    }
    &_action{
        position: relative;
        left: 10px;
        padding: 0 10px;
        overflow: hidden;
    }


    @media (max-width: 1120px) {
        &&{
            width: auto;
        }
        &_info{
            width: 690px;
            margin: 0;
        }
    }

    @media (max-width: @screen-tl-max) {
        &_info{
            width: 460px;
            margin: 0;
        }
    }

    @media (max-width: @screen-tp-max) {
        &&{
            margin: 15px;
        }
        &_info{
            float: none;
            width: auto;
        }
        &_action{
            left: auto;
            margin: 20px 0 0;
            padding: 0;
        }
    }
}

