// project-create-success



.project-create-success{
    margin: 0 0 40px;
    font-size: 15px;
    line-height: 24/15;
    color: #666;
    background: #fff;
    border: 1px solid #d8dade;
    a{
        background: linear-gradient(fade(@linkColor, 40), fade(@linkColor, 40)) repeat-x;
        background-size: 100% 1px;
        background-position: 0 100%;
        &:hover{
            text-decoration: none;
            background-image: linear-gradient(fade(@linkColorHover, 40), fade(@linkColorHover, 40));
        }
    }
    &_cont{
        padding: 66px 95px;
    }
    &_ico{
        text-align: center;
    }
    &_head{
        margin: 35px 0 27px;
        font-size: 32px;
        line-height: 38/32;
        font-weight: 900;
        color: #333;
    }

    &_polling{
        border-top: 1px solid #d8dade;
    }

    &_book{
        padding: 44px 0 0;
        border-top: 1px solid #d8dade;
    }
    &_book-head{
        position: relative;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #333;
        text-align: center;
    }
    &_book-img{
        height: 322px;
        margin: -38px 0 0;
        background: url(../images/create/success-book.jpg) no-repeat 100% 0 / cover;
    }
}
