// donate-reward



.donate-reward{
    position: relative;
    padding: 27px 24px 24px;
    font-family: @ff-roboto;
    background: #f1f8ff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    transition: .2s;
    &:before{
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border: 2px dashed #1a8cff;
        border-radius: inherit;
        opacity: 0;
        transition: .2s;
    }
    &_block{
        position: relative;
    }
    &_count{
        float: right;
        margin: 4px 0 17px;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 1;
        font-weight: 300;
        color: #afafaf;
        text-transform: uppercase;
        text-align: right;
    }
    &_count-i{
        & + &{
            margin: 1px 0 0;
        }
    }

    &_price{
        margin: 0 0 18px;
        font-size: 0;
    }
    &_price-val{
        display: inline-block;
        vertical-align: top;
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
        text-transform: uppercase;
        color: #1a8cff;
    }
    &_item-count{
        display: inline-block;
        vertical-align: top;
        width: 65px;
        margin: -5px 0 -4px 11px;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    &_main{
        &:extend(.cf-mix all);
        clear: both;
    }
    &_img{
        float: right;
        margin: 0 0 0 24px;
        img{
            max-width: 170px;
            max-height: 400px;
        }
    }
    &_cont{
        overflow: hidden;
    }
    &_name{
        margin: 0 0 12px;
        font-size: 17px;
        line-height: 20/16;
        font-weight: 700;
        color: #132129;
    }
    &_descr{
        font-size: 14px;
        line-height: 20/14;
        color: #666;
    }

    &_bottom{
        &:extend(.cf-mix all);
        margin: 16px 0 0;
    }

    &_date{
        float: left;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: #afafaf;
    }
    &_date-val{
        color: #454553;
    }

    &_share{
        float: right;
        font-size: 0;
    }
    &_share-lbl{
        display: inline-block;
        vertical-align: top;
        margin: 0 2px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: #afafaf;
    }
    &_share-val{
        display: inline-block;
        vertical-align: top;
        .bs-icon-size(16);
    }

    &_check{
        position: absolute;
        top: 26px;
        left: -13px;
        width: 26px;
        height: 26px;
        background: #1a8cff;
        border: 2px solid #3366ff;
        border-radius: 50%;
        box-shadow: 0 4px 8px fade(#1a8cff, 50);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        &:before{
            content: '';
            position: absolute;
            top: 8px;
            left: 6px;
            width: 10px;
            height: 7px;
            background: url(../images/project/view/ac-supported-white.svg) no-repeat;
        }
    }


    @media (max-width: @screen-tl-max) {
        &_price-val{
            font-size: 22px;
        }
    }

    @media (max-width: @screen-ld-max) {
        &_date{
            float: none;
            margin: 0 0 8px;
        }
        &_share{
            float: none;
        }
    }

    @media (max-width: @screen-pl-max) {
        &_price-val{
            font-size: 20px;
        }
        &_name{
            font-size: 15px;
        }
        &_descr{
            font-size: 12px;
        }
        &_count{
            font-size: 10px;
        }
        &_img{
            float: none;
            margin: 0 0 15px;
        }
        &_date-val{
            display: block;
            margin: 3px 0 0;
        }
    }


    // donate page
    .project-donate-list_i:not(.disabled) &{
        cursor: pointer;
        &:hover{
            background: darken(#f1f8ff, 2.5%);
        }
    }
    .project-donate-list_i.checked &{
        border-color: transparent;
        &:before{
            opacity: 1;
        }
        .donate-reward{
            &_check,
            &_item-count{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .project-donate-list_i.disabled &{
        opacity: .5;
    }
    // /donate page



    // action modal
    .modal-action-card &{
        border-color: transparent;
        .donate-reward{
            &_check,
            &_item-count{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    // /action modal
}
