// donate-info



.donate-info{
    font-family: @ff-roboto-cond;
    font-size: 13px;
    line-height: 21/13;
    color: #888;
    &_lbl{
        font-size: 14px;
        color: #000;
    }
    &_text{
        margin: 0 0 39px;
    }
}
