// donate-shop-attention



.donate-shop-attention{
    &:extend(.cf-mix all);
    &_ico{
        float: left;
        width: 37px;
    }
    &_text{
        overflow: hidden;
        padding: 2px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15/13;
        color: #888;
        a{
            text-decoration: underline;
        }
    }
}
