// donate-reward-counter



.donate-reward-counter{
    position: relative;
    &_val{
        height: 36px;
        padding: 6px 16px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: #7894a2;
        border: 2px solid #1a8cff;
        border-radius: 2px;
        text-align: center;
    }
    &_btn{
        position: absolute;
        top: 11px;
        left: 0;
        width: 17px;
        font-size: 16px;
        line-height: 1;
        color: #1a8cff;
        text-align: right;
        cursor: pointer;
        &.plus{
            left: auto;
            right: 0;
            text-align: left;
        }
        &.disabled{
            opacity: .5;
            color: #aaa;
            cursor: default;
        }
    }
}
