// donate-input-control



.donate-input-control{
    position: relative;
    color: #000;
    &_lbl{
        position: absolute;
        top: 8px;
        left: 16px;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 14px;
    }
    &_val{
        height: 64px;
        padding: 27px 16px 16px;
        font-family: @ff-roboto;
        font-size: 16px;
        line-height: 19px;
        border-color: #7894a2;
    }
}
