// form-ui-project-donate



.form-ui-project-donate{
    .form-ui-label{
        line-height: 0;
    }
    .form-ui-txt{
        padding: 0 0 0 28px;
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 13px;
        color: #afafaf;
    }


    input[type="checkbox"] {
        & + .form-ui-label{
            .form-ui-txt{
                padding-top: 4px;
                padding-bottom: 4px;
                &:before{
                    width: 20px;
                    height: 21px;
                    border: 1px solid #a2a2a2;
                    border-radius: 4px;
                    transition: .3s;
                }
                &:after{
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 21px;
                    background: url(../images/project/project-donate-check.svg) no-repeat;
                    opacity: 0;
                    transform: scale(.5);
                    transition: .2s;
                }
            }

            &:hover{
                .form-ui-txt{
                    &:before{
                        border-color: #5f5f5f;
                    }
                }
            }
        }

        &:focus {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{
                        border-color: #5f5f5f;
                    }
                }
            }
        }

        &:checked {
            & + .form-ui-label{
                .form-ui-txt{
                    &:after{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        &:disabled {
            & + .form-ui-label{
                .form-ui-txt{
                    &:before{

                    }
                }
            }
            &:checked {
                & + .form-ui-label{
                    .form-ui-txt{
                        &:after{

                        }
                    }
                }
            }
        }
    }
}
