// m-project-category-selectCampaignById



.m-project-category-select{
    padding: 16px 53px 16px 16px;
    font-family: @ff-roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-color: #e8e8e8;
    .select-btn{
        width: 53px;
    }
    .icon-select{
        margin-top: -4px;
        border-width: 10px 5px 0;
        border-color: #1a8cff transparent transparent;
    }
    .dropdown-menu .item a{
        padding: 10px 17px;
    }
}
