// m-project-category



.m-project-category{
    margin: 0 0 10px;
    &_lbl{
        margin: 0 0 1px;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #afafaf;
    }
}
