// project-view-card



.project-view-card{
    position: relative;
    margin: 0 0 48px;
    &_cont{
        position: relative;
        padding: 0 0 0 170px;
        background: #fff;
        box-shadow: 0 20px 40px fade(#254959, 10);
    }

    &_media{
        width: 600px;
    }
    &_media-in{
        position: relative;
        height: 0;
        padding: 0 0 56.25%;
        background: #f2f2f2;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &_meta{
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        padding: 22px 30px 0;
    }

    &_author{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 170px;
        padding: 20px 20px 0;
    }
    &_share{
        position: absolute;
        bottom: 100%;
        right: 0;
        margin: 0 0 90px;
    }


    @media (min-width: @screen-tp-min) {
        &_share-switch{
            float: right;
            display: inline-block;
            vertical-align: top;
            padding: 10px 33px 10px 41px;
            font-family: @ff-roboto-cond;
            font-size: 12px;
            line-height: 14px;
            color: #132129;
            background: #fff;
            box-shadow: 0 2px 4px fade(#254959, 5);
            &:hover{
                background: #f9f9f9;
            }
            &:before{
                content: '';
                position: absolute;
                top: 9px;
                left: 15px;
                width: 15px;
                height: 16px;
                background: url(../images/project/view/ico-project-share.svg) no-repeat;
            }
            &:after{
                content: '';
                position: absolute;
                top: 11px;
                right: 13px;
                width: 7px;
                height: 7px;
                border-right: 1px solid #132129;
                border-bottom: 1px solid #132129;
                transform: rotate(45deg);
                transition: transform .2s;
                .open &{
                    z-index: @zindexDropdown + 1;
                }
            }
            .open &{
                &:after{
                    margin-top: 5px;
                    transform: rotate(-135deg);
                }
            }
        }
        &_share-popup{
            top: 0;
            left: auto;
            right: 0;
            min-width: 400px;
            padding: 19px 45px 19px 19px;
            background: #fff;
            box-shadow: 0 2px 4px fade(#254959, 5);
        }


        @media (max-width: @screen-ld-max) {
            &_share{
                bottom: auto;
                top: -10px;
            }
            &_share-popup{
                top: auto;
                bottom: 0;
            }
        }
    }

    @media (max-width: @screen-ld-max) {
        &_cont{
            padding: 0;
        }
        &_author{
            position: static;
            width: auto;
            padding: 32px 0 0;
        }
        &_cont{
            .cf-mix();
        }
        &_media{
            float: left;
            width: 500px;
        }
        &_meta{
            position: static;
            overflow: hidden;
            width: auto;
        }
    }

    @media (max-width: 850px) {
        &_media{
            width: 450px;
        }
    }

    @media (max-width: @screen-tp-max) {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        &_share{
            position: static;
            width: auto;
            margin: 0 0 12px;
        }
        &_share-switch{
            display: none;
        }
        &_share-popup{
            position: static;
            top: auto;
            right: auto;
            display: block;
            background: none;
            border: 0;
        }
        &_media{
            float: none;
            width: auto;
        }
        &_meta{
            padding-bottom: 22px;
        }
    }

    @media (max-width: @screen-pl-max) {
        max-width: none;
        margin-left: -15px;
        margin-right: -15px;
        &_author{
            padding-left: 20px;
            padding-right: 20px;
        }
        &_meta{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
