// project-view-share



.project-view-share{
    position: relative;
    &_code{
        margin: 5px 0 0;
    }
    &_code-link{
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 1;
        color: #000;
        text-decoration: underline;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{
            color: @baseColor;
        }
    }
    &_block{
        padding: 16px 0 16px 27px;
        font-size: 0;
        background: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
    }
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 6px 6px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 1;
        color: #888;
        text-transform: uppercase;
    }
    &_val{
        display: inline-block;
        vertical-align: top;
    }
    .sharing-popup-social{
        position: static;
    }
    .sps-count{
        position: absolute;
        top: 68px;
        right: 0;
        display: inline;
        vertical-align: baseline;
        margin: 0;
        font-family: @ff-roboto-cond;
        font-size: 11px;
        line-height: 1;
        color: #888;
        text-transform: uppercase;
    }


    @media (min-width: @screen-tp-min) {
        &_block{
            padding: 0 0 5px;
            background: none;
            border: 0;
            border-radius: 0;
        }
        .sps-count{
            top: 39px;
        }
    }

    @media (max-width: @screen-tp-max) {
        padding: 0;
        text-align: center;
        .project-view-share{
            &_code{
                display: none;
            }
            &_block{
                padding: 0;
                background: none;
                border: 0;
            }
            &_lbl{
                display: none;
            }
        }
        .sps-count{
            display: none;
        }
    }
}
