// project-author-controls



.project-author-controls{
    position: relative;
    margin: -20px 0 20px;
    &:before{
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-top: 1px solid #f4f4f4;
        box-shadow: 0 10px 20px fade(#1b2336, 5);
    }
    &_list{
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: space-around;
        margin: 0 -10px;
        font-size: 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
    }
    &_link{
        display: block;
        padding: 11px 0 18px;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #000;
        white-space: nowrap;
        cursor: pointer;
        &:hover{
            color: darken(#1a8cff, 13%);
            .project-author-controls{
                &_c-a,
                &_c-b{
                    fill: darken(#1a8cff, 13%);
                }
            }
        }
    }
    &_ico{
        display: block;
        margin: 0 0 -8px;
    }
    &_name{
        display: block;
        text-decoration: underline;
    }
    &_c-a{
        fill: #1a8cff;
    }
    &_c-b{
        fill: #454553;
    }


    @media (max-width: @screen-tl-max) {
        &_list{
            .mobile-scroll-mix();
            display: block;
            margin: 0 -15px;
        }
        &_ico{
            svg{
                width: 48px;
                height: 48px;
            }
        }
        &_link{
            font-size: 12px;
            line-height: 14px;
        }
    }
}
