// project-view-add



.project-view-add{
    &:extend(.cf-mix all);
    font: 0/0 @ff-roboto-cond;
    &_i{
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 15px;
        word-wrap: break-word;
        &:first-child{
            padding-right: 37px;
        }
    }
    &_link{
        color: #1b2336;
        text-decoration: underline;
        &:hover{
            text-decoration: underline;
        }
    }


    .project-view-meta_add &{
        margin: 26px 0 0;
        .project-view-add{
            &_i{
                width: 50%;
            }
        }
    }

    .project-view-card_add &{
        margin: -17px 0 0;
        padding: 0 0 22px;
        /*
        .project-view-add{
            &_i{
                &:nth-child(even){
                    margin-left: 37px;
                }
            }
        }
        */
    }


    @media (min-width: @screen-ld-min) {
        .project-finish .project-view-meta_add &{
            margin-top: 25px;
            padding-top: 25px;
        }
    }

    @media (min-width: @screen-ld-min), (max-width: @screen-tp-max) {
        .project-view-meta_add &{
            min-height: 30px;
            margin-top: 11px;
            display: flex;
            align-items: center;
        }
    }
}
