// project-view-meta



.project-view-meta-lbl-mix{
    margin: 0 0 3px;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    color: #afafaf;
    text-transform: uppercase;

    @media (max-width: 850px) {
        font-size: 11px;
    }
}

.project-view-meta-val-mix{
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -.04em;
    color: #132129;

    @media (max-width: 850px) {
        font-size: 34px;
    }
}




.project-view-meta{
    font-family: @ff-roboto;
    color: #454553;
    &_head{
        &:extend(.cf-mix all);
        margin: 0 0 13px;
    }

    &_amount{
        float: left;
    }
    &_percent-lbl,
    &_amount-lbl{
        &:extend(.project-view-meta-lbl-mix all);
        margin-top: 4px;
        margin-bottom: 3px;
    }
    &_amount-val{
        &:extend(.project-view-meta-val-mix all);
    }
    &_amount-cur{
        position: relative;
        top: -.05em;
        font-size: .9em;
        font-weight: 500;
    }

    &_percent{
        float: right;
        text-align: right;
    }
    &_percent-val{
        &:extend(.project-view-meta-val-mix all);
        &&{
            font-weight: 400;
            color: #d9d9d9;
        }
    }

    &_progress{
        margin: 0 0 24px;
        font: 0/0 a;
        background: #e8e8e8;
        &.over-progress{
            background: linear-gradient(90deg, fade(#629fff, 60) 0, fade(#3366ff, 60) 100%);
            .project-view-meta_bar{
                background-image: linear-gradient(90deg, #426db1 0, #2042a6 100%);
            }
        }
        &.closed-progress{
            .project-view-meta_bar{
                background: darken(#e8e8e8, 20%);
            }
        }
    }
    &_bar{
        max-width: 100%;
        height: 4px;
        background: linear-gradient(90deg, #629fff 0, #3366ff 100%);
    }

    &_action{
        padding: 20px 0 0;
        .btn{
            padding: 15px 0 13px;
        }
    }


    @media (max-width: @screen-ld-max) {
        &_progress{
            margin-bottom: 18px;
        }
        &_action{
            padding-top: 15px;
        }
    }

    @media (min-width: @screen-tp-min) {
        .project-finish &{
            &_head{
                margin: 10px 0 25px;
            }
            &_progress{
                margin: 0 0 30px;
            }
        }
    }
}
