// project-view-info



.project-view-info{
    &:extend(.cf-mix all);
    margin: -15px 0 0;
    font-family: @ff-roboto-cond;
    &_i{
        float: left;
        width: 50%;
        margin: 15px 0 0;
    }
    &_lbl{
        &:extend(.project-view-meta-lbl-mix all);
    }
    &_val{
        font-size: 16px;
        line-height: 16px;
    }


    @media (max-width: 880px) {
        margin-top: -8px;
        &_i{
            margin-top: 8px;
        }
        &_val{
            font-size: 16px;
        }
    }
    @media (max-width: 880px) and (min-width: @screen-tp-min) {
        &_val{
            font-size: 14px;
        }
    }


    @media (min-width: @screen-tp-min) {
        .project-finish &{
            margin-top: -18px;
            &_i{
                margin-top: 18px;
            }
        }
    }
}
