// project-breadcrumbs



.project-breadcrumbs{
    position: relative;
    z-index: 4;
    margin: -20px 0 20px;
    background: #fff;
    border-top: 1px solid #eaeaea;
    &_list{
        padding: 5px 0;
        font-size: 0;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        color: #afafaf;
        border-left: 1px solid #eaeaea;
        &:first-child{
            border-left: 0;
            .project-breadcrumbs_link{
                padding-left: 0;
            }
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        padding: 10px 24px;
        font-family: @ff-roboto-cond;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
    }
    a&_link{
        text-decoration: underline;
    }

    @media (max-width: @screen-tp-max) {
        display: none;
    }
}
