// project-new



.project-new{
    margin: 0 0 20px;
    padding: 21px 0 0;
    &_head{
        margin: 0 0 16px;
    }


    @media (max-width: @screen-tp-max) {
        max-width: 500px;
        margin: 0 auto 37px;
        &_head{
            text-align: center;
        }
    }
}
