// project-admin-controls



.project-admin-controls{
    position: relative;
    margin: -20px 0 20px;
    &:before{
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-top: 1px solid #f4f4f4;
        box-shadow: 0 10px 20px fade(#1b2336, 5);
    }
    &_cont{
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
    }
    &_action{
        float: right;
        padding: 34px 0;
        font-size: 0;
        white-space: nowrap;
        .btn{
            min-width: 170px;
            padding: 15px 9px 13px;
        }
    }
    &_action-i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 30px;
        &:first-child{
            margin: 0;
        }
    }
    &_info{
        flex: 1 1 auto;
        float: left;
        padding: 18px 15px 18px 0;
    }


    @media (max-width: @screen-tp-max) {
        &_cont{
            display: block;
        }
        &_info{
            float: none;
        }
        &_action{
            float: none;
            display: flex;
            margin: 0 -10px;
            padding-top: 10px;
            padding-bottom: 15px;
            .btn{
                display: block;
                min-width: 0;
            }
        }
        &_action-i{
            flex: 1 1 100%;
            display: block;
            margin: 0;
            padding: 0 10px;
        }
    }
}
