// project-admin-info



.project-admin-info{
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    color: #454553;
    &_i{
        margin: 12px 0 0;
        &:first-child{
            margin: 0;
        }
    }
    &_lbl{
        margin: 0 0 5px;
        font-size: 12px;
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
        color: #afafaf;
    }
    &_change-link{
        position: relative;
        top: -1px;
        left: 5px;
        font-size: 12px;
        color: #1a8cff;
        text-decoration: underline;
    }
}
