// project-donate-reward



.project-donate-reward{
    padding: 22px 39px;
    border: 1px solid #e1e3e4;
    border-radius: 2px;
    color: #000;

    &_email,
    &_pass{
        font-size: 0;
    }
    &_email{
        .project-donate-reward{
            &_action{
                .show-pass &{
                    display: none;
                }
            }
        }
    }
    &_pass{
        display: none;
        padding: 16px 0 0;
        .show-pass &{
            display: block;
        }
    }
    &_val-help{
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 18px;
        margin: 8px 0 0;
    }
    &_action{
        margin: 10px 0 0;
    }
    &_btn{
        display: block;
        width: 100%;
        padding: 24px 0 22px;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    &_term{
        margin: 32px 0 0;
    }


    @media (min-width: @screen-tl-min) {
        margin: 0 -22px 0 30px;
        &_val{
            display: inline-block;
            vertical-align: top;
            width: 270px;
        }
        &_action{
            display: inline-block;
            vertical-align: top;
            width: 195px;
            margin: 0 0 0 16px;
        }
    }

    @media (min-width: @screen-ld-min) {
        &_val{
            width: 460px;
        }
        &_action{
            width: 205px;
        }
    }
}
