// project-unit-meta



.project-unit-meta{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 6px 0 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 16px;
        font-family: @ff-roboto-cond;
        font-size: 18px;
        line-height: 21px;
        color: #454553;
        white-space: nowrap;
        &:first-child{
            margin-left: 0;
        }
    }
    &_lbl{
        margin: 0 0 -4px;
        font-size: 12px;
        color: #afafaf;
        text-transform: uppercase;
    }
    &_val{
        font-size: 16px;
    }


    @media (max-width: @screen-pl-max) {
        &_i{
            font-size: 16px;
        }
        &_start{
            display: none;
        }
    }

    @media (max-width: 374px) {
        display: block;
        margin: -10px -8px 0;
        &_i{
            margin: 10px 0 0;
            padding: 0 8px;
        }
        &_start{
            display: inline-block;
            vertical-align: top;
        }
    }
}
