// project-products



.project-products{
    padding: 32px 0 0;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    &_wrap{
        &:extend(.cf-mix all);
        max-width: 1200px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    &_head{
        margin: 0 0 16px;
    }


    @media (max-width: @screen-ld-max) {
        &_wrap{
            padding-left: 26px;
            padding-right: 26px;
        }
    }

    @media (max-width: @screen-tl-max) {
        &_list{
            .mobile-scroll-mix();
            margin-left: -26px;
            margin-right: -26px;
            padding-left: 26px;
            padding-right: 26px;
        }
        .product-card{
            &_i{
                min-width: 170px;
            }
        }
    }

    @media (max-width: @screen-tp-max) {
        &_wrap{
            padding-left: 20px;
            padding-right: 20px;
        }
        &_list{
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
