// project-backers



.donate-action-view{
    &.backers{
        .backers-none{
            font-family: @ff-roboto;
        }
        .backers-list{
            padding: 10px 0;
            font-family: @ff-roboto;
        }
        .list-loader{
            margin: 0;
        }
    }
}


.backers-none{
    padding: 20px;
    font-family: @ff-roboto;
    font-size: 17px;
    line-height: 1.7;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.backers-list-wrap{
    margin: 0 -10px 10px;
}
.backers-list-item{
    padding: 10px;
    min-height: 90px;
    font-size: 13px;
    cursor: pointer;
    &:hover{
        background: #f7f8fa;
        .profile-link{
            color: @linkColor;
        }
    }
}
.backers-list-ava{
    float: left;
    width: 70px;
    height: 70px;
    overflow: hidden;
    a{
        display: block;
    }
    img{
        width: 100%;
    }
}
.backers-list-cont{
    margin-left: 86px;
}
.backers-list-date{
    float: right;
    font-size: 12px;
    color: @grayLighter;
}
.backers-list-name{
    margin: 3px 0 8px;
    .profile-link{
        font-weight: 700;
        font-size: 17px;
        line-height: 21px;
        text-decoration: none;
        color: @textColor;
    }
}
.backers-list-text{
    margin: 3px 0 0;
    line-height: 16px;
    color: #c5c6c7;
    [class^=icon-]{
        margin: -1px -2px 0 0;
        vertical-align: top;
    }
}
