// project-category



.project-category{
    padding: 24px;
    margin: 0 0 20px;
    font-family: @ff-roboto;
    font-size: 14px;
    line-height: 1.4;
    background: #fff;
    border: 1px solid #e8e8e8;
    &_head{
        margin: 0 0 15px;
        font-size: 16px;
        color: #454553;
    }

    &_list{
        margin: 0;
        list-style: none;
    }
    &_i{
        margin: 10px 0 0;
        &:first-child{
            margin-top: 0;
        }
        &.active{
            .project-category_name{
                color: #000;
                font-weight: 700;
            }
        }
    }
    &_sep{
        margin-left: -16px;
        margin-right: -16px;
        border-top-color: #e8e8e8;
        border-bottom: 0;
    }
    &_name{
        color: #1a8cff;
        cursor: pointer;
        &:hover{
            color: darken(#1a8cff, 15%);
            text-decoration: underline;
        }
    }
}

