// project-status-info



.project-status-info{
    position: relative;
    margin: -20px 0 20px;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    line-height: 16px;
    color: #454553;
    &:before{
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-top: 1px solid #f4f4f4;
        box-shadow: 0 10px 20px fade(#1b2336, 5);
    }
    &_cont{
        position: relative;
        z-index: 10;
        padding: 18px 0;
    }
    &_head{
        margin: 0 0 10px;
        font-size: 24px;
        color: #ff501a;
    }
}
