// project-unit



.project-unit{
    &:extend(.cf-mix all);
    min-height: 286px;
    font-family: @ff-roboto;
    background: #fff;
    box-shadow: 0 10px 10px fade(#254959, 10);

    &_cover{
        float: left;
        width: 508px;
    }


    &_main{
        margin: 16px 32px 0 528px;
    }


    &_status{
        margin: 0 0 8px;
    }

    &_name{
        margin: 0 0 12px;
        font-size: 22px;
        line-height: 26/22;
        font-weight: 700;
        color: #132129;
        .text-overflow();
        a{
            color: #132129;
        }
    }
    &_descr{
        max-height: 2 * 20px;
        font-size: 14px;
        line-height: 20/14;
        color: #888;
        overflow: hidden;
    }

    &_progress-stat{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 23px 0 7px;
        font-family: @ff-roboto-cond;
        font-size: 13px;
        line-height: 15px;
    }
    &_progress-percent{
        float: left;
        color: #1a8cff;
    }
    &_progress-days{
        text-align: right;
        color: #afafaf;
    }

    &_progress{
        font: 0/0 a;
        background: #e8e8e8;
    }
    &_bar{
        max-width: 100%;
        height: 4px;
        background: linear-gradient(90deg, #629fff 0, #3366ff 100%);
    }


    &_meta{
        margin: 35px 0 0;
    }
    &_btn{
        float: right;
        margin: 0 0 0 16px;
        .btn{
            min-width: 170px;
            padding: 15px 9px 13px;
        }
    }


    @media (max-width: @screen-ld-max) {
        &_cover{
            width: 294px;
        }
        &_main{
            margin: 0;
        }
        &_cont{
            margin: 16px 30px 0 320px;
        }
        &_progress-stat{
            margin-top: 15px;
        }
        &_meta{
            margin: 41px 30px 0;
        }
    }

    @media (max-width: @screen-tp-max) {
        &_cover{
            float: none;
            width: auto;
            margin: 0 0 10px;
        }
        &_cont{
            margin: 0 14px;
        }
        &_progress-stat{
            display: none;
        }
        &_status{
            .status-badge{
                display: inline-block;
                vertical-align: top;
                font-size: 9px;
                line-height: 14px;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        &_name{
            margin: 0 0 10px;
            font-size: 15px;
            line-height: 20px;
            overflow: visible;
            white-space: normal;
        }
        &_descr{
            margin: 0 0 19px;
            max-height: none;
            font-size: 13px;
            line-height: 18/13;
        }
        &_meta{
            position: relative;
            padding: 7px 0 80px;
            display: block;
            margin: 0 14px;
        }
        &_btn{
            position: absolute;
            bottom: 14px;
            left: 0;
            right: 0;
            margin: 0;
            .btn{
                display: block;
            }
        }
    }
}
