// project-list-block



.project-list-block{
    @media (max-width: @screen-tl-max) and (min-width: @screen-pl-min) {
        .project-card-item{
            width: 50%;
        }
    }

    @media (max-width: @screen-pl-max) {
        .project-card-list{
            margin-top: -20px;
        }
        .project-card-item{
            width: 100%;
            margin-top: 20px;
        }
        .project-card-text{
            height: auto;
        }
    }
}
