// project-view-block



.project-view-block{
    font-family: @ff-roboto;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    &_nav{
        position: relative;
        z-index: 100;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
        transition: box-shadow .2s;
        &.nav-fixed{
            box-shadow: 0 10px 20px fade(#1b2336, 5);
        }
    }
    &_wrap{
        position: relative;
    }
    &_action{
        position: absolute;
        top: 0;
        right: 0;
        width: 385px;
    }
    &_remind{
        float: right;
        display: flex;
        align-items: center;
        width: 146px;
        height: 24px;
        margin: 24px 0 0 0;
        padding: 0 0 0 27px;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 1;
        letter-spacing: .1em;
        text-transform: uppercase;
        background: url(../images/project/view/ico-remind.svg) no-repeat 0 2px;
        cursor: pointer;
        &:hover{
            .project-view-block_remind-text{
                text-decoration: underline;
            }
        }
        &.ok{
            background-image: url(../images/project/view/ico-remind-ok.svg);
            .project-view-block_remind-text{
                display: none;
            }
            .project-view-block_remind-text-ok{
                display: block;
            }
        }
    }
    &_remind-text{
        opacity: .7;
    }
    &_remind-text-ok{
        opacity: .7;
        display: none;
        color: #1a8cff;
    }
    &_donate{
        float: left;
        overflow: hidden;
        width: 237px;
        margin: 0 -10px;
        padding: 0 10px;
        .btn{
            padding: 11px 0 9px;
        }
    }
    &_donate-btn{
        padding: 15px 0;
        transform: translateY(100%);
        transition: .3s .3s;
        .nav-fixed &{
            transform: translateY(0);
        }
    }

    &_wrap{
        &:extend(.cf-mix all);
        max-width: 1200px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    &_main{
        &:extend(.cf-mix all);
    }
    &_content-spacer{
        float: left;
        width: 770px;
        width: ~"calc(100% - 400px)";
    }
    &_content{
        position: relative;
        top: -70px;
        float: left;
        width: 770px;
        width: ~"calc(100% - 400px)";
        padding: 120px 30px 50px 30px;
    }
    &_content-in{
        max-width: 670px;
        font-family: @ff-roboto;
    }
    &_head{
        margin: 0 0 23px;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 1.2;
        color: #1b2336;
    }
    &_sidebar{
        float: right;
        width: 370px;
        min-height: 1px;
        padding: 50px 30px 50px 0;
    }
    &_sidebar-oleg{
        img{
            margin: 0 0 20px;
        }
    }


    @media (max-width: @screen-ld-max) {
        &_tabs{
            padding-left: 11px;
        }
        &_action{
            width: 385px;
        }
        &_content{
            padding-left: 11px;
            padding-right: 11px;
            width: ~"calc(100% - 381px)";
        }
        &_sidebar{
            padding-right: 11px;
        }
    }

    @media (max-width: @screen-tl-max) {
        &_action{
            width: auto;
            padding-right: 7px;
        }
    }

    @media (max-width: @screen-tp-max) {
        &_wrap,
        &_tabs{
            padding: 0;
        }
        &_content-spacer{
            display: none;
        }
        &_content{
            top: 0;
            float: none;
            padding: 27px 20px;
            width: auto;
        }
        &_sidebar{
            float: none;
            width: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
