// project-filter-input



.project-filter-input{
    width: 150px;
    height: 28px;
    margin: -8px 0 -4px;
    padding: 8px 0 2px;
    font-family: @ff-roboto-cond;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid #ccc;
    background: none;
    &:focus{
        border-bottom-color: #1a8cff;
    }


    @media (max-width: @screen-ld-max) and (min-width: @screen-tl-min) {
        width: 120px;
    }
    @media (max-width: @screen-tp-max) and (min-width: @screen-pl-min) {
        width: 100px;
    }
    @media (max-width: @screen-pl-max){
        width: 100%;
    }
}
