// project-description



.sub-content{
    &:extend(.cf-mix all);
    font-family: @ff-roboto;
    font-size: 14px;
    line-height: 24/14;
    margin: 0;
    p{
        margin: 0;
    }
    .track-list-item-name-title{
        font-weight: 700;
    }
    .track-list-item-name{
        font-size: 12px;
    }
}



.project-short-description{
    font-size: 14px;
    line-height: 24px;
    &_show{
        margin: 10px 0 0;
    }
    &_show-link{
        color: #1a8cff;
        text-decoration: underline;
        cursor: pointer;
    }
    &.hide{
        display: none;
    }


    @media (min-width: @screen-tp-min) {
        display: none !important;
    }
    @media (max-width: @screen-tp-max) {
        display: block;
    }
}


.project-description{
    &.show{
        display: block;
    }
    @media (min-width: @screen-tp-min) {
        display: block !important;
    }
    @media (max-width: @screen-tp-max) {
        display: none;
    }
}
