// project-social-widget



.project-social-widget{
    .project-view-block_head{
        margin: 31px 0 14px;
    }
    &_i{
        margin: 22px 0 0;
        &:first-child{
            margin: 0;
        }
    }
}
