// project draft



.copy-ico{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(../images/planeta/copy-ico.svg) no-repeat;
}
.project-draft{
    font-family: @ff-roboto;
    font-size: 13px;
    &_popup{
        width: 310px;
    }
    &_popup-cont{
        position: relative;
        padding: 0 20px 0;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 10px 20px fade(#1b2336, 40);
        &:before{
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 20px;
            height: 20px;
            margin: 0 0 -10px -12px;
            border-left: 1px solid #eee;
            border-top: 1px solid #eee;
            background: #fff;
            transform: rotate(45deg);
        }
    }

    &_switch{
        &:extend(.cf-mix all);
        padding: 10px 0;
        &_lbl{
            float: left;
            margin: 3px 0 0;
            font-size: 13px;
            font-weight: 600;
        }
        &_val{
            position: relative;
            float: right;
            width: 60px;
            height: 26px;
            color: #fff;
            border-radius: 20px;
            background: #c0392b;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 22px;
                height: 22px;
                background: #fff;
                border-radius: 50%;
                transition: .2s;
            }
            &_on,
            &_off{
                position: absolute;
                top: 9px;
                font-size: 10px;
                line-height: 1;
            }
            &_on{
                display: none;
                left: 11px;
            }
            &_off{
                right: 6px;
            }
            &.on{
                background: @linkColor;
                &:before{
                    left: 36px;
                }
                .project-draft_switch_val{
                    &_on{
                        display: block;
                    }
                    &_off{
                        display: none;
                    }
                }
            }
        }
    }

    &_footer{
        margin: 0 -20px;
        padding: 0 20px;
        border-top: 1px solid #e6e6e6;
    }

    &_text{
        padding: 15px 10px;
    }

    &_form{
        display: table;
        width: 100%;
        &_wrap{
            display: none;
            padding: 17px 0;
        }
        .form-control{
            border-radius: 2px;
            cursor: default;
        }
        .btn{
            border-radius: 2px;
        }
        &_val{
            width: 99%;
            display: table-cell;
            vertical-align: top;
        }
        &_btn{
            display: table-cell;
            vertical-align: top;
            padding: 0 0 0 3px;
        }
    }
}
