// project-remind-tooltip



.project-remind-tooltip.tooltip-element{
    .tooltip-content{
        padding: .7em 1em;
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 1;
        background: fade(#1b2336, 80);
    }
    &.tooltip-element-attached-top.tooltip-element-attached-center{
        .tooltip-content{
            &:before{
                border-bottom-color: fade(#1b2336, 80);
            }
        }
    }
    &.tooltip-element-attached-bottom.tooltip-element-attached-center{
        .tooltip-content{
            &:before{
                border-top-color: fade(#1b2336, 80);
            }
        }
    }
}
