// rewards-filter



.rewards-filter{
    font-family: @ff-roboto;
    background: #fff;
    border: 1px solid #e8e8e8;
    &_block{
        padding: 0 8px;
    }
    &_i{
        padding: 22px 16px 24px;
        border-bottom: 1px solid #e8e8e8;
    }
    &_head{
        &:extend(.cf-mix all);
        margin: 0 0 13px;
    }
    &_title{
        float: left;
        padding: 3px 0 1px;
        font-size: 16px;
        line-height: 20px;
        color: #454553;
    }
    &_more{
        float: right;
        display: inline-block;
        vertical-align: top;
        min-width: 50px;
        padding: 3px 5px 1px;
        font-size: 12px;
        line-height: 18px;
        color: #888;
        text-align: center;
        border: 1px solid #afafaf;
        border-radius: 16px;
        cursor: pointer;
        &:hover{
            background: #f2f2f2;
        }
    }
    &_range{
        .form-control{
            height: 40px;
            padding: 11px 13px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: #454553;
        }
    }

    &_action{
        padding: 24px 13px;
        background: #fff;
        .btn{
            padding: 9px;
        }
    }


    .wrap-row{
        margin: 0 -4px;
    }
    .col-6{
        padding: 0 4px;
    }


    @media (max-width: @screen-tl-max) {
        position: fixed;
        z-index: @zindexModal;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        border: 0;
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0.1);
        transform-origin: 0 20%;
        transition: .3s;
        &_block{
            position: relative;
            height: 100%;
            padding-bottom: 74px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        &_action{
            position: fixed;
            z-index: @zindexModal + 1;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 18px 15px;
            transform: translateZ(0);
        }

        .reward-filter-open &{
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
        }
    }
}



.reward-filter-open{
    @media (max-width: @screen-tl-max) {
        overflow: hidden !important;
        height: 100% !important;
    }
}
