// reward-list-block



.reward-list-block{
    @media (max-width: @screen-tl-max) and (min-width: @screen-pl-min) {
        .reward-card{
            &_i{
                width: 50%;
            }
        }
    }

    @media (max-width: @screen-pl-max) {
        .reward-card{
            margin-top: -10px;
            &_i{
                width: 100%;
                margin-top: 10px;
            }
            &_in{
                padding: 10px;
            }
            &_cover{
                float: left;
                width: 120px;
                margin-right: 10px;
            }
            &_project{
                margin: 6px 0 0;
            }
            &_name{
                clear: both;
                height: auto;
                font-size: 13px;
                margin: 0;
            }
            &_meta{
                position: absolute;
                top: 64px;
                left: 140px;
                right: 10px;
                margin: 0;
            }
            &_price{
                font-size: 22px;
            }
        }
    }
}
