// reward-card



.reward-card{
    margin: -30px -15px 30px;
    font-family: @ff-roboto;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin: 30px 0 0;
        padding: 0 15px;
        text-align: left;
        white-space: normal;
    }
    &_in{
        position: relative;
        padding: 24px;
        background: #fff;
        border: 1px solid #e1e3e4;
        transition: .2s;
        &:hover{
            background: darken(#f1f8ff, 2%);
        }
    }

    &_cover{
        position: relative;
        margin: 0 0 15px;
        &:before{
            content: '';
            display: block;
            padding: 0 0 68.185%;
            background: darken(#f1f8ff, 2%);
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    &_project{
        height: 2 * 12px;
        overflow: hidden;
        margin: 0 0 17px;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 1;
    }
    &_project-lbl{
        float: left;
        margin: 0 8px 0 0;
        text-transform: uppercase;
        color: #afafaf;
    }
    &_project-name{
        position: relative;
        z-index: 20;
        overflow: hidden;
        a{
            color: #1a8cff;
            text-decoration: underline;
        }
    }

    &_name{
        height: 5 * 20px;
        overflow: hidden;
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: #1b2336;
        a{
            &, &:hover{
                color: #132129;
                text-decoration: none;
            }
            &:before{
                content: '';
                position: absolute;
                z-index: 10;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
            }
        }
    }

    &_meta{
        margin: 19px 0 0;
    }

    &_count{
        float: right;
        font-family: @ff-roboto-cond;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        color: #afafaf;
        text-align: right;
    }
    &_count-i{
        margin: 0 0 0;
        &:first-child{
            margin: 0;
            color: #000;
        }
    }

    &_price{
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: #454553;
    }
    &_cur{
        font-weight: 500;
    }
}
