// welcome-planeta-sections



.welcome-planeta-sections{
    margin: 0 0 81px;
    font-family: @ff-roboto;
    &_head{
        margin: 0 0 21px;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 36/24;
        color: #1b2336;
    }

    &_list{
        font-size: 0;
        margin: -20px -15px;
        padding: 20px 0;
        text-align: center;
    }
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 0 15px;
    }
    &_in{
        position: relative;
        padding: 0 0 100%;
        background: #fff;
        border: 1px solid #e1e3e4;
    }
    &_link{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16.3% 0 0;
        &:hover{
            text-decoration: none;
            background: #fafafa;
        }
    }
    &_ico{
        display: block;
        margin: 13.35% auto;
    }
    &_name{
        display: block;
        padding: 6px 0 0;
        font-size: 16px;
        line-height: 19/16;
        font-weight: 500;
        color: #454553;
    }


    &__list-5{
        .welcome-planeta-sections{
            @media (min-width: @screen-tl-min) {
                &_list{
                    margin-left: -11px;
                }
                &_i{
                    width: 20%;
                    padding: 0 11px;
                }
                &_link{
                    padding-top: 11%;
                }
                &_ico{
                    margin: 13% auto;
                }
            }
        }
    }


    @media (max-width: @screen-ld-max) and (min-width: @screen-tl-min) {
        &_ico{
            svg{
                width: 40px;
                height: 40px;
            }
        }
        &__list-5{
            .welcome-planeta-sections{
                &_name{
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: @screen-tl-max) {
        &_list{
            .mobile-scroll-mix();
            padding-left: 10px;
            padding-right: 10px;
        }
        &_i{
            width: 280px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
