// welcome-quick-info



.welcome-quick-info{
    margin: 0 -15px 84px;
    font-family: @ff-roboto;
    font-size: 0;
    &_i{
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        padding: 0 15px;
        font-size: 14px;
        line-height: 20/14;
        color: #888;
        white-space: normal;
    }
    &_name{
        font-size: 16px;
        line-height: 24/16;
        color: #454553;
        &:after{
            content: '';
            display: block;
            width: 150px;
            height: 2px;
            margin: 30px 0 31px;
            background: #1a8cff;
        }
    }


    @media (max-width: @screen-tl-max) {
        &_list{
            .mobile-scroll-mix();
        }
        &_i{
            width: 300px;
        }
    }
}
