// welcome-projects



.welcome-projects{
    position: relative;
    margin: 0 0 44px;
    font-family: @ff-roboto;
    &:focus{
        outline: none;
    }
    &_head{
        &:extend(.cf-mix all);
        position: relative;
        margin: 0 0 24px;
        padding: 0 100px 0 0;
    }
    &_title{
        float: left;
        padding: 12px 0 0;
        font-family: @ff-roboto-cond;
        font-size: 24px;
        line-height: 28/24;
        color: #1b2336;
    }

    &_all{
        float: right;
        display: inline-block;
        vertical-align: top;
        padding: 12px 26px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #1a8cff;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 5px 10px fade(#b0c6d7, 50);
        &:hover{
            text-decoration: none;
            background: #f7f7f7;
        }
    }

    &_arrows{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;
        line-height: 0;
        white-space: nowrap;
        border-radius: 50px;
        box-shadow: 0 5px 10px rgba(176, 198, 215, 0.5);
        user-select: none;
    }
    &_arrow{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 12px;
        color: #1a8cff;
        background: #fff;
        border-radius: 50px 0 0 50px;
        cursor: pointer;
        &:hover{
            background: #f7f7f7;
        }
        path{
            fill: #1a8cff;
        }
        &.next{
            border-radius: 0 50px 50px 0;
            border-left: 1px solid #dde4ea;
        }
    }



    &_carousel-in{
        margin: 0 -15px;
        white-space: nowrap;
    }
    &_carousel{
        .flickity-enabled.flickity-enabled{
            @media (min-width: 1025px) {
                overflow: visible;
                .flickity-viewport{
                    overflow: visible;
                }
                .flickity-slider{
                    left: 0 !important;
                    transform: none !important;
                }
                .project-card-item{
                    left: -99999px !important;
                    transform: translateX(-99999px);

                    &:nth-child(1){
                        left: 0 !important;
                    }
                    &:nth-child(2){
                        left: 33.333333% !important;
                    }
                    &:nth-child(3){
                        left: 66.666666% !important;
                    }
                    &.is-current,
                    &.is-next,
                    &.is-prev{
                        &[data-id="0"]{
                            left: 0 !important;
                        }
                        &[data-id="1"]{
                            left: 33.333333% !important;
                        }
                        &[data-id="2"]{
                            left: 66.666666% !important;
                        }
                    }


                    &.is-current{
                        transform: translateX(0);
                    }
                    &.is-next{
                        transform: translateX(1350px);
                    }
                    &.is-prev{
                        transform: translateX(-1350px);
                    }
                }


                .move{
                    @delay-step: .12s;
                    @delay-offset: .3s;

                    .project-card-item{
                        transition-duration: .37s;
                        transition-property: transform;
                        transition-delay: 0s;
                        transition-timing-function: cubic-bezier(.53,.01,.73,.17);
                        &[data-id="1"]{
                            transition-delay: @delay-step;
                        }
                        &[data-id="2"]{
                            transition-delay: @delay-step * 2;
                        }
                        &.is-next,
                        &.is-prev{
                            transition-timing-function: cubic-bezier(.21,.73,.46,1.12);
                        }
                        &.is-next{
                            &[data-id="0"]{
                                transition-delay: @delay-step * 2 + @delay-offset;
                            }
                            &[data-id="1"]{
                                transition-delay: @delay-step * 3 + @delay-offset;
                            }
                            &[data-id="2"]{
                                transition-delay: @delay-step * 4 + @delay-offset;
                            }
                        }
                        &.is-prev{
                            &[data-id="2"]{
                                transition-delay: @delay-step * 2 + @delay-offset;
                            }
                            &[data-id="1"]{
                                transition-delay: @delay-step * 3 + @delay-offset;
                            }
                            &[data-id="0"]{
                                transition-delay: @delay-step * 4 + @delay-offset;
                            }
                        }
                    }
                    &.to-prev{
                        .project-card-item{
                            &.is-current{
                                &[data-id="2"]{
                                    transition-delay: 0s;
                                }
                                &[data-id="0"]{
                                    transition-delay: @delay-step * 2;
                                }
                            }
                        }
                    }
                }

                .to-next{
                    .project-card-item{
                        &.is-current{
                            transform: translateX(-1350px);
                        }
                        &.is-next.is-next{
                            transform: translateX(0);
                        }
                    }
                }
                .to-prev{
                    .project-card-item{
                        &.is-current{
                            transform: translateX(1350px);
                        }
                        &.is-prev.is-prev{
                            transform: translateX(0);
                        }
                    }
                }
            }

            @media (min-width: 1440px) {
                .project-card-item{
                    &.is-next{
                        transform: translateX(1500px);
                    }
                    &.is-prev{
                        transform: translateX(-1500px);
                    }
                }


                .to-next{
                    .project-card-item{
                        &.is-current{
                            transform: translateX(-1500px);
                        }
                    }
                }
                .to-prev{
                    .project-card-item{
                        &.is-current{
                            transform: translateX(1500px);
                        }
                    }
                }
            }

            @media (min-width: 1800px) {
                .project-card-item{
                    &.is-next{
                        transform: translateX(2000px);
                    }
                    &.is-prev{
                        transform: translateX(-2000px);
                    }
                }


                .to-next{
                    .project-card-item{
                        &.is-current{
                            transform: translateX(-2000px);
                        }
                    }
                }
                .to-prev{
                    .project-card-item{
                        &.is-current{
                            transform: translateX(2000px);
                        }
                    }
                }
            }
        }


        .project-card-list{
            margin: 0;
        }
        .project-card-item{
            margin: 0;
        }
    }


    @media (min-width: 1025px) {
        overflow: hidden;
    }

    @media (min-width: @screen-ld-min) {
        &_carousel{
            .project-card-list{
                overflow: hidden;
                padding: 0 0 20px;
            }
            .project-card-item{
                width: 400px;
            }
        }
    }

    @media (max-width: @screen-tl-min) {
        .project-card-list{
            overflow: hidden;
            &.flickity-enabled{
                overflow: visible;
            }
        }
        &_carousel-in{
            margin: 0;
        }
        &_carousel{
            .wrap{
                max-width: none;
                padding-left: 0;
                padding-right: 0;
            }
            .flickity-viewport{
                box-sizing: content-box;
                margin: -20px 0;
                padding: 20px 0;
            }
        }
    }

    @media (max-width: @screen-tp-max) {
        &_carousel{
            .project-card-item{
                width: 280px;
                padding-left: 5px;
                padding-right: 5px;
            }
            .project-card-tag-wrap{
                left: 5px;
                right: 5px;
            }
        }
    }

    @media (max-width: @screen-pl-max) {
        padding-bottom: 60px;
        &_head{
            position: static;
            padding-right: 0;
        }
        &_all{
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
        }
        &_arrows{
            display: none;
        }
    }
}
