// faq



.faq-search{
    &_input{
        padding: 25px;
        font-size: 28px;
        line-height: 30px;
    }
}




.faq-content{
    padding-top: 40px;
}




.faq-main{
    &_block{
        margin-top: -30px;
    }
    &_col-i{
        width: 100%;
        margin-top: 30px;
    }
}




.faq-page{
    .cont-header{
        margin-top: -20px;
        padding: 0;
    }
    .cont-header_btn{
        border-left: 0;
        padding-top: 19px;
        padding-bottom: 17px;
    }
    .cont-header_text{
        padding-top: 19px;
        padding-bottom: 17px;
    }
}




.faq-article{
    margin: 0 20px 0;
}
