// cart-list



.cart-list{
    display: block;
    margin: 0 0 20px;
    border: 0;
    thead{
        display: none;
    }
    tbody{
        display: block;
    }
    td{
        display: block;
        padding: 0;
    }
    tr:hover td{
        background: none;
    }
    &_i{
        &:extend(.cf-mix all);
        position: relative;
        display: block;
        min-height: 120px;
        padding: 10px 10px 10px 135px;
        border-bottom: 1px solid #d4e1ec;
        &:first-child{
            border-top: 1px solid #d4e1ec;
        }
    }
    &_del-wrap{
        position: absolute;
        top: 2px;
        right: 8px;
    }
    &_product{
        position: static;
        min-height: 0;
        padding: 0;
    }
    &_cover{
        top: 10px;
        left: 10px;
    }
    &_name{
        display: block;
        padding: 0 20px 0 0;
        font-size: 16px;
    }
    &_price,
    &_amount{
        text-align: left;
    }
    &_sum{
        display: none;
    }

    &_price{
        float: left;
        margin: 20px 0 0;
        font-size: 16px;
    }

    &_amount{
        float: right;
        margin: 13px 0 0;
    }
    &_amount-input{
        width: 38px;
        height: 31px;
        margin: 0 5px;
        padding: 2px 2px 0;
        font-size: 15px;
    }
    &_amount-btn{
        margin: 5px 0 0;
    }

    &_digit-label{
        padding: 4px 10px;
        font-size: 10px;
        line-height: 12px;
    }
    &_preorder-label{
        padding: 0;
        font-size: 10px;
        line-height: 12px;
        border: 0;
    }


    @media (max-width: 600px) {
        &_i{
            padding-left: 95px;
        }
        &_cover{
            width: 70px;
            height: 70px;
        }
        &_del{
            font-size: 32px;
        }
    }
}




.cart-delivery-free{
    float: none;
    margin: 0 20px;
}




.cart-action{
    float: none;
    margin: 30px 20px 0;
    &_cost{
        &_lbl{
            float: none;
            margin: 0 0 5px;
        }
        &_val{
            float: none;
            margin: 0;
        }
    }
}



.cart-action_cost + .cart-action_cost{
    margin-top: 20px;
}
