// product-preview



.product-m-preview{
    margin: -10px 0 40px;
    &_i{
        position: absolute;
        top: -99999px;
        left: -99999px;

        height: 320px;
        &:first-child{
            position: relative;
            top: auto;
            left: auto;
        }
    }
    &_cover{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transform: translateZ(0);
    }

    .owl-dots{
        font: 0/0 a;
        text-align: center;
    }
    .owl-dot{
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        margin: 20px 8px 0;
        border-radius: 50%;
        background: #d8e0eb;
        &.active{
            background: @baseColor;
        }
    }
}
