// shop-order



.shop-order{
    &_header{
        margin: 30px 20px 0;
    }
    &_title{
        margin: 0 20px 20px;
    }


    @media (max-width: 600px) {
        &_head{
            float: none;
            margin: 0 0 20px;
        }
        &_tel{
            float: none;
            text-align: left;
        }
    }
}




.shop-order-main{
    margin: 0 20px;
}




.shop-order-sidebar{
    margin: 0 0 40px;
    &_box{
        border-width: 1px 0;
        border-radius: 0;
    }
}




.shop-order-action{
    margin: 40px 0 0;
    .shop-btn{
        display: block;
        width: 100%;
    }
    &_back{
        margin: 0 0 20px;
    }
}


