// shop-welcome



.shop-offer{
    max-width: 450px;
    margin: -21px auto 26px;
    text-align: center;
    &_i{
        margin: 10px 0 0;
        &:first-child{
            margin: 0;
        }
        img{
            width: 100%;
        }
    }
}




.shop-welcome-list{
    &_i{
        margin: 0;
        padding: 56px 0 0;
        border: 0;
    }
    &_products{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        transform: translateZ(0);
    }
    .product-card{
        padding: 0 0 1px;
    }
    .product-card_i{
        min-width: 220px;
    }
    &_all{
        position: static;
        width: auto;
        margin: 20px 0 0;
    }
}
