// shop-related-product



.shop-related-product{
    &_head{
        margin-bottom: 21px;
        padding: 0 19px;
    }
    &_list{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        transform: translateZ(0);
    }
    .product-card_i{
        min-width: 170px;
    }
}
