// shop-order-steps



.shop-order-steps{
    display: block;
    border: 0;
    border-radius: 0;
    &_i{
        display: none;
        height: auto;
        font-size: 24px;
        line-height: 1.2;

        &:first-child,
        &:last-child{
            border-radius: 0;
        }

        &,
        &:first-child,
        &:last-child{
            padding: 10px;
        }

        &:before{
            display: none !important;
        }
        &.active{
            display: block;
        }
    }
}

