// shop-offer



.shop-offer-list {
    position: relative;
    > div{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        transition: .15s;
    }
    > .active{
        position: relative;
        z-index: 2;
        opacity: 1;
    }
}
