// shop-order-tel



.shop-order-tel{
    &_tel{
        font-size: 28px;
        letter-spacing: .03em;
    }
    &_code{
        top: auto;
        font-size: inherit;
    }


    @media (max-width: 600px) {
        margin: 0 0 30px;
        &_tel{
            font-size: 20px;
        }
    }
}

