// shop-basket



.shop-basket{
    &_link{
        width: auto;
        height: auto;
        padding: 18px 16px;
        border: 0;
        border-radius: 0;
        background: #d8e0eb;
    }
    &_ico{
        position: relative;
        top: auto;
        left: auto;
        display: block;
    }
    &_state{
        display: block;
        height: 0;
        padding: 0;
        font-size: 0;
    }
    &_state-val{
        position: absolute;
        top: 5px;
        right: 5px;
        min-width: 17px;
        height: 17px;
        padding: 4px 4px 0;
        font-size: 10px;
        line-height: 1;
        color: #fff;
        text-align: center;
        border-radius: 20px;
        background: #e4845b;
    }
}
