// shop-menu



.shop-menu{
    &_switch{
        display: none;
    }
    .pln-d-popup{
        display: block;
        position: relative;
        top: auto;
    }
    &_popup{
        margin: 0;
        padding: 20px;
        border: 0;
        box-shadow: none;
    }
    &_list{
        display: block;
        margin: 15px 0 0;
        &:first-child{
            margin-top: 0;
        }
        &:before{
            display: none;
        }
    }
    &_i{
        margin-top: 15px;
    }
    &_list-head{
        margin: 2px 0 16px;
        font-size: 18px;
        font-weight: 700;
        color: #000;
    }
}
