// shop-header



.shop-header{
    margin-top: -20px;
    margin-bottom: 30px;
    background: @baseColor;
    &_catalog-link{
        float: left;
        padding: 16px 19px 17px;
        font-size: 19px;
        color: #fff;
    }
    &_catalog-overlay{
        display: none;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: fade(#fff, 80);
        .show-catalog-menu &{
            display: block;
        }
    }
    &_catalog{
        position: fixed;
        top: 0;
        left: -400px;
        bottom: 0;
        z-index: 10;
        background: #fff;
        width: 300px;
        padding: 60px 0 0;
        box-shadow: 0 0 30px rgba(0,0,0,.3);
        transition: .2s;
        overflow: auto;
        .show-catalog-menu &{
            left: 0;
        }
    }
    &_menu{
        float: none;
        height: auto;
        background: none;
        &:before{
            display: none;
        }
    }
    &_home{
        display: none;
    }
    &_search{
        display: none;
    }
    &_nav{
        margin: 20px;
        padding: 0;
        text-align: left;
    }
    &_nav-head{
        margin: 8px 0 0;
        padding: 21px 21px 0px;
        font-size: 18px;
        font-weight: 700;
        border-top: 1px solid #d3dce7;
    }
    &_m-search{
        overflow: hidden;
    }
}



#root-container,
#global-container {
    .show-catalog-menu &{
        z-index: 11;
    }
}


.show-catalog-menu &{
    #root-container,
    #global-container {
        z-index: 11;
    }
    .header{
        position: relative;
        z-index: 12;
        &_in{
            transform: translateY(-100%);
            transition: .2s;
        }
        &_toggle{
            transform: translateY(-200%);
            transition: .2s;
        }
    }
}

