// shop-view



.shop-view-left{
    width: auto;
}



.shop-view-right{
    margin: 0 10px 40px;
}



.product-name{
    margin: 0 10px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}



.product-author{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
}




.product-action{
    margin: 0 0 20px;
}




.product-options{
    &_lbl{
        display: none;
    }
    &_val{
        display: block;
    }
}




.product-price{
    float: none;
    text-align: center;
    margin: 0 0 20px;
}




.product-add{
    float: none;
}




.product-info-tab{
    &_i{
        width: 50%;
        text-align: center;
    }
}

.product-info-list{
    @media (max-width: 460px){
        margin-top: -30px;
        &_i{
            width: 50%;
            margin-top: 30px;
        }
    }
}




.product-description-block{
    margin: 30px 20px;
}


.product-description-wrap{
    float: none;
    width: auto;
    margin: 0;
}
