// shop-list



.product-card-list{
    float: none;
    width: auto;
    padding: 0;
    .product-card{
        margin-top: 0;
        &_i{
            &:extend(.cf-mix all);
            display: block;
            width: auto;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #d6e1ec;
            &:first-child{
                border-top: 1px solid #d6e1ec;
            }
        }
        &_link{
            padding: 0;
            border: 0;
            background: #f2f2f2;
            border-radius: 0;
        }
        &_cover{
            float: left;
            width: 118px;
            height: 118px;
            margin: 0;
            padding: 0;
            border: 0;
            img{
                position: static;
            }
        }
        &_badge{
            right: auto;
            width: 118px;
        }
        &_cont{
            display: block;
            height: 118px;
            overflow: hidden;
            padding: 14px 17px;
            border-left: 1px solid #d6e1ec;
        }
        &_name{
            height: 15px * 1.2 * 2;
            padding: 0;
            font-size: 15px;
        }
        &_price{
            margin-top: 30px;
            padding: 0;
        }
        &_btn{
            bottom: 10px;
            right: 10px;
        }
    }
}



.shop-list-name{
    margin: 0 10px 22px;
    font-size: 26px;
    letter-spacing: 0.1em;
}



.shop-list-search{
    margin-left: 10px;
    margin-right: 10px;
    &_ico{
        top: 12px;
    }
    &_input{
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

