// shop-order-payment-type



.shop-order-payment-type{
    margin: 40px 0 0;
    .pln-payment-box_field-row{
        margin-top: 0;
        margin-bottom: 0;
    }
    .pln-payment-box_delivery-type{
        @media (max-width: 600px) {
            border-left: 0;
            border-right: 0;
        }
    }
    .pln-payment-box_field-row .pln-payment-box_field-group{
        @media (max-width: 600px) {
            margin-left: -2px;
            margin-right: -2px;
        }
    }
    .pln-payment-type-wrap{
        padding-left: 0;
        padding-right: 0;
    }
    .pln-payment-menu-wrap .pln-payment-type{
        @media (max-width: 600px) {
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom: 0;
        }
    }
}
