// shop-info



.shop-info-head{
    padding: 0 20px;
    font-size: 28px;
    letter-spacing: 0.1em;
}



.shop-info-main{
    margin: 0 0 30px;
    padding: 0 20px;
    &_col-i{
        margin-top: 40px;
        &:first-child{
            margin-top: 0;
        }
    }
}




.shop-info-hero{
    &_list{
        margin-top: -20px;
    }
    &_i{
        margin-top: 20px;
    }
}




.shop-info-atten{
    &_ico{
        float: none;
    }
}




.shop-info-sidenote{
    left: auto;
    float: none;
    width: auto;
    margin: 40px 0;
}



.shop-info-payment-system{
    margin: 30px 20px;
}




.shop-info-table{
    &_th-lbl{
        min-width: 190px;
        white-space: normal;
    }
}




.shop-info-tel,
.shop-info-mail{
    text-align: center;
}

.shop-info-tel{
    @media (max-width: 374px){
        font-size: 30px;
    }
}
