// shop-confirm



.shop-confirm{
    display: block;
    margin: 0 0 10px;
    &_i{
        overflow: hidden;
        min-height: 112px;
        margin: 20px 0 0;
        border-width: 1px 0;
        border-radius: 0;
        background: #fafafa;
        &:first-child{
            margin: 0;
        }
    }
    &_ico {
        bottom: -37px;
        right: -4px;
    }
}



.shop-payment-term{
    max-width: none;
    margin: 30px 20px 10px;
    text-align: left;
}

