// shop-filter



.shop-filter{
    float: none;
    width: auto;
    margin: 0 0 40px;
}


.shop-filter-wrap{
    display: none;
    padding: 30px 0 0;
}



.shop-filter-cont{
    margin: 0;
}




.shop-filter-show-btn{
    .btn{
        padding: 10px 0;
        border-radius: 5px;
    }
}
