// shop-m-search



.shop-m-search{
    position: relative;
    display: block;
    height: 60px;
    &:before{
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 0;
        border-left: 1px solid #85c1e9;
    }
    &_ico{
        position: absolute;
        top: 19px;
        left: 22px;
        font-size: 20px;
        color: #fff;
        pointer-events: none;
    }
}

