// admin action


.admin-action{
    float: right;
    margin: 14px 0 0;
    white-space: nowrap;

    .btn{
        font-family: @ff-proxima-nova;
        font-size: 13px;
        font-weight: 400;
        border-radius: 2px;
        .s-icon{
            margin: 1px 3px -3px 0;
            font-size: 16px;
            color: #a6a6a6;
        }
    }
    .btn-primary{
        .s-icon{
            color: #fff;
        }
    }
    &_list{
        display: inline-block;
        vertical-align: top;
    }

    &_drop{
        display: inline-block;
        vertical-align: top;
    }
    &_drop-switch{
        &.btn{
            .s-icon{
                margin-right: 0;
            }
        }
    }
    &_drop-list{
        margin: 14px 0 0;
        padding: 7px 0;
        background: #fff;
        box-shadow: 0 3px 3px fade(#000, 15);
    }
    &_drop-link{
        display: block;
        padding: 8px 11px 6px;
        font-size: 13px;
        line-height: 16px;
        color: #666;
        cursor: pointer;
        &:hover{
            color: #666;
            text-decoration: none;
            background: #f2f2f2;
        }
        .s-icon{
            margin: -1px 4px 0 0;
            font-size: 15px;
            color: #a6a6a6;
        }
    }
}


