// autocomplete


.ac_results{
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px #ccc;
    padding: 0 4px;
    z-index: @zindexModal + 10;
    ul{
        margin:  0 -4px;
        li{
            padding: 1px 4px;
            cursor: pointer;
            &.ac_over{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}

.ui-autocomplete{
    margin: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px #ccc;
    .ui-menu-item{
        a{
            cursor: pointer;
            display: block;
            padding: 1px 4px;
            text-decoration: none;
            color: @textColor;
            &:hover, &.ui-state-hover{
                background: @linkColor;
                color: #fff;
            }
        }
    }
}
