// bb attach


.img-crop, .bb-video-cover, .bb-image-cover{
    height: auto;
    display: inline-block;
    margin: 0 10px 10px 0;
    position: relative;
    max-width: 100%;
    img{
        width: 150px;
    }
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
}
.bb-image-cover img{
    max-width: 100%;
}
.bb-video-cover {
    img{
        height: 112px;
    }
}


.bb-video-icon{
    background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    cursor:pointer;
    &:hover{
        background-size: 140px 140px;
    }
}

.bb-video-player-cover, .bb-youtube-player-cover,
.bb-video-player-cover-big{
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    .bb-video-time{
        position: absolute;
        right: 5px;
        top: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        padding: 0 4px;
        display: block;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
}

.bb-video-player-cover-big{
    position: relative;
    height: 0;
    padding: 0 0 percentage(9/16);
    img{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
    }
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.video-big-preview{
    background: @black;
    overflow: hidden;
    position: relative;
    margin: 0 0 5px 0;
    img{
        width: 100%;
    }
    .video-time{
        background: rgba(0,0,0,.7);
        display: inline-block;
        padding: 3px 5px;
        border-radius: 4px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: @white;
    }
    .play-button-overlay{
        background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        &:hover{
            background-size: 140px 140px;
        }
    }
}
