//
// Planeta comment
// --------------------------------------------


.attach-comment{
    background: #f4f4f4;
    border: 1px solid;
    border-color: #e7e7e7 #eee #cecece;
    margin-bottom: 14px;
    padding: 0 12px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    .show-all, .list-loader{
        display: block;
        padding: 8px;
        margin: 3px -9px 0;
        line-height: 16px;
        text-align: center;
        color: #333;
        cursor: pointer;
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        background: #f4f4f4;
        a{
            color: #333;
        }
        &:hover{
            background: #f0eee8;
        }
        .icon-load{
            background: url(../images/icon/icon-load-eaeaea.gif) no-repeat;
        }
    }
    .attach-comment-block{
        margin: 0 -12px;
    }
    .attach-comment-item{
        padding: 10px;
        min-height: 36px;
        list-style: none;
        position: relative;
        border-bottom: 1px solid @borderLight;
        .hidden-close();
        .close{
            position: relative;
            z-index: 1;
            line-height: 16px;
            .icon-close{
                vertical-align: top;
            }
        }
        &:hover{
            .likes{
                visibility: visible;
            }
            &.new-comment{
                &:before{
                    background: #94e4f2;
                }
            }
            .comment-more-link{
                opacity: 1;
            }
        }

        &.new-comment{
            padding: 10px 10px 6px 7px;
            &:before{
                position: absolute;
                content: '';
                width: 3px;
                height: 100%;
                left: 0;
                top: 0;
                background: @blue;
            }
        }

        &.deleted{
            min-height: 32px;
        }
        .likes{
            margin-top: -15px;
        }
    }
    .attach-comment-ava{
        width: 32px;
        float: left;
        a{
            display: block;
            width: 32px;
            height: 32px;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
            }
            &:before{
                position: absolute;
                content: '';
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
                width: 100%;
                height: 100%;
            }
        }
    }
    .attach-comment-text{
        word-wrap: break-word;
        margin: 0 0 0 42px;
        line-height: 18px;
        .name{
            margin: -2px 15px 0 0;
            a{
                font-weight: 700;
                margin: 0 3px 0 0;
            }
        }
        .content{
            word-wrap: break-word;
            color: #000;
            margin: 0 40px 0 0;
            img{
                margin-top: 4px;
            }
        }
        .expandable-content{
            max-height: 18px * 4;
            overflow: hidden;
            &.expand {
                max-height: none;
            }
        }

        .author-type{
            display: inline-block;
            vertical-align: top;
            width: 13px;
            height: 13px;
            margin: 2px 2px 0 -2px;
            background: url(../images/planeta/author-type.png) no-repeat;
            &.author{
                background-position: -30px 0;
            }
        }

        .date,
        .answer-to-user{
            font-size: 11px;
            color: #999;
        }
        .answer-to-user{
            a{
                margin: 0;
                color: #999;
                font-weight: 400;
                &:hover{
                    color: @textColor;
                }
            }
        }
        .meta-sep{
            margin: 0 .3em;
            color: #e3e3e3;
        }
        .link-to-comment{
            cursor: pointer;
            color: #ccc;
            &:hover{
                color: @textColor;
            }
        }
        .answer{
            margin: 5px 0 0;
            font-size: 11px;
            color: #ccc;
        }
        .answer-link{
            cursor: pointer;
            &:hover{
                color: #808080;
                text-decoration: underline;
            }
        }
    }
    .attach-comment-deleted{
        padding: 8px 0;
        text-align: center;
        color: #999;
        position: relative;
        .recovery-link{
            position: absolute;
            right: 0;
            a{
                font-size: 11px;
                color: #999;
                text-decoration: none;
                .underline-link(229,229,229,1);
            }
        }
    }

    &.blog-comment{
        padding: 0;
        .attach-comment-block{
            margin: 0 0 0 0;
        }
        .attach-comment-item{
            &:before{
                position: absolute;
                content: '';
                width: 3px;
                height: 100%;
                left: 0;
                top: 0;
                background: @blue;
            }
            padding: 10px 10px 6px 7px;
            cursor: pointer;
            &:last-child{
                border-bottom: 0;
            }
            &:hover{
                &:before{
                    background: #94e4f2;
                }
            }
        }
    }
    .pln-ww{
        margin: 0;
        text-align: center;
        .pln-ww-unregister{
            margin: 10px 0;
        }
    }
    .bb-video-cover{
        display: block;
        width: 150px;
        img{
            display: block;
            margin: 0 !important;
        }
    }
    .bb-video-icon{
        background-image: url(../images/planeta/play-video.png);
    }

    .comment-more{
        margin: 5px 0;
    }
    .comment-more-link{
        color: @linkColor;
        font-weight: 700;
        border-bottom: 1px dotted;
        opacity: .7;
        cursor: pointer;
        transition: .2s;
        &:hover{
            text-decoration: none;
            color: @linkColorHover;
        }
    }
}

.attach-comment-textarea{
    padding: 10px 0;
    .avatar{
        width: 32px;
        display: none;
        float: left;
        a{
            display: block;
            width: 32px;
            height: 32px;
            overflow: hidden;
            img{
                width: 32px;
            }
        }
    }
    .text{
        .pln-ctr-enter{
            display: none;
        }
    }
    .textarea{
        display: block;
        position: relative;
        line-height: 0;
        .rest-count{
            position: absolute;
            bottom: 14px;
            right: 7px;
        }
        textarea{
            width: 100%;
            resize: none;
            box-shadow: none;
            border: 1px solid #d8d8d8;
            border-radius: 3px;
            min-height: 18px;
            height: 30px;
            margin-bottom: 0;
            font-size: 11px;
            line-height: 18px;
            color: #333;
            padding: 5px 25px 5px 5px;
            &:focus{
                border-color: @blue;
                box-shadow: 0 0 5px rgba(38,174,221,.15);
            }
        }
    }
    .submit-btn{
        display: none;
        padding: 5px 0 0;
        text-align: right;
        .btn{
            margin-top: 4px;
        }
    }
    &.open{
        min-height: 28px;
        .avatar{
            display: none;
        }
        .text{
            margin: 0;
            .textarea{
                textarea{
                    min-height: 18px;
                }
            }
            .submit-btn{
                display: block;
            }
            .pln-ctr-enter{
                display: block;
            }
        }
    }
}


// удаление комментария

.time-delete-comment{
    padding: 8px 0;
    color: #808080;
    font-size: 11px;
    span{
        color: @textColor;
    }
}


