// content-alert


[class^="three-types-alerts-"] {
    .sprite(20, 20, url(../images/icon/three-types-alerts-icons.png));
}

.three-types-alerts-success {background-position: 0  0 }
.three-types-alerts-warning {background-position: 0 -20px }
.three-types-alerts-error   {background-position: 0 -40px }


.content-alert-success, .content-alert-warning, .content-alert-error{
    position: relative;
    margin: 10px 0;
    padding: 15px 20px 15px 60px;
    line-height: 21px;
    background: #f7f7f7;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40px;
    }
    [class^="three-types-alerts-"]{
        position: absolute;
        left: 10px;
        top: 15px;
    }

    p{
        font-size: 12px;
        line-height: 21px;
        margin-bottom: 12px;
        color: #707070;

        &.big{
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 6px;
        }

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

.content-alert-error{
    &:before{
        background: #e74c3c;
    }
    .big{
        color: #e74c3c;
    }
}

.content-alert-flat{
    background: #fff;
    border: 1px solid #d8dade;
    border-radius: 0;
    &:before{
        top: -1px;
        bottom: -1px;
        left: -1px;
    }
}
