//
// Top bar tabs
//
// --------------------------------------------



.ctb-tabs{
    margin: 19px 0 0;
}
.ctb-tabs-item{
    display: inline-block;
    vertical-align: top;
    & + .ctb-tabs-item{
        margin: 0 0 0 25px;
    }
    &.active{
        .ctb-tabs-link{
            color: @textColor;
            cursor: default;
        }
    }
}
.ctb-tabs-link{
    position: relative;
    display: inline-block;
    padding: 5px 0;
    font: 700 18px/22px @baseFontFamily;
    &:hover{
        text-decoration: none;
    }
}
