// cont-header



.cont-header{
    position: relative;
    z-index: 20;
    margin: -@grid960GutterWidth 0 @grid960GutterWidth;
    border-top: 1px solid #e4e3e0;
    border-bottom: 1px solid #e4e3e0;
}
.cont-header_row{
    background: #fff;
    & + .cont-header_row{
        border-top: 1px solid #e4e3e0;
    }
    .top-breads{
        margin: 0 -@grid960GutterWidth;
        .tb-bottom{
            border: 0;
            background: none;
        }
    }
}

.cont-header_back{
    position: relative;
    float: left;
    width: 69px;
    height: 80px;
    margin: 0 0 0 -111px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 25px;
        margin: -12px 0 0 -7px;
        background: url(../images/planeta/cont-header-back.png) no-repeat;
    }
    &:hover{
        background: @linkColor;
        border-left-color: @linkColor;
        border-right-color: @linkColor;
        &:before{
            background-position: -50px 0;
        }
    }
}

.cont-header_title{
    padding: 25px 0;
    .proxima_nova_rgregular();
    font-size: 25px;
    line-height: 30px;
    color: #161515;
}

.cont-header_btn-wrap{
    .cont-header_bread-item + .cont-header_bread-item{
        .cont-header_btn,
        .cont-header_text{
            border-left: 0;
        }
    }
}
.cont-header_btn{
    position: relative;
    float: left;
    display: inline-block;
    padding: 24px 18px 22px;
    font: 700 12px/14px @baseFontFamily;
    text-transform: uppercase;
    color: @linkColor;
    border-left: 1px solid #e4e3e0;
    border-right: 1px solid #e4e3e0;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #fff;
        background: @linkColor;
        border-color: @linkColor;
        .cont-header_btn_tail{
            border-top-color: #fff;
        }
    }
    &, &_tail{
        transition: .3s;
    }
    &_tail{
        position: absolute;
        bottom: 5px;
        left: 50%;
        margin: 0 0 0 -5px;
        border: 5px solid;
        border-color: #d9d9d9 transparent transparent;
    }
}
.cont-header_text{
    float: left;
    display: inline-block;
    padding: 24px 18px 22px;
    font: 12px/14px @baseFontFamily;
    text-transform: uppercase;
    border-left: 1px solid #e4e3e0;
}


// header btn dropdown
.cont-header_btn-drop{
    float: left;
    &.open{
        &:after{
            content: '';
            position: absolute;
            z-index: @zindexDropdown;
            top: 100%;
            left: 1px;
            right: 1px;
            height: 1px;
            background: #fff;
        }
    }
    .pln-d-popup{
        min-width: 183px;
    }
    &_popup{
        background: #fff;
        border: 1px solid #e4e3e0;
    }
    &_i{
        padding: 14px 18px;
        font: 700 12px/14px @baseFontFamily;
        text-transform: uppercase;
        color: @linkColor;
        white-space: nowrap;
        transition: .3s;
        cursor: pointer;
        &:hover{
            color: #fff !important;
            background: @linkColor;
        }
        &.active{
            color: #ccc;
        }
    }
}
// /header btn dropdown


.cont-header_name{
    float: left;
    .proxima-light();
    font-size: 32px;
    line-height: 60px;
}


// header search
.cont-header_search{
    position: relative;
    z-index: 1;
    float: left;
    width: 62px;
    &_input{
        width: 0;
        height: 60px;
        margin: 0;
        padding: 18px 10px 18px 51px;
        .proxima_nova_rgregular();
        font-size: 20px;
        line-height: 24px;
        border-radius: 0;
        background: #fff url(../images/planeta/rich-tab-search-ico.png) no-repeat 19px 50%;
        cursor: pointer;
        transition: .3s;
        &, &:focus{
            border: 0;
            border-right: 1px solid #e4e3e0;
            box-shadow: none;
        }
        &:focus{
            width: 740px;
            padding-left: 60px;
            padding-right: 130px;
            cursor: text;
        }
    }
}
// /header search


// shop
.cont-header_shop-links{
    float: right;
    margin: 22px 0 0;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    &_i{
        float: left;
        margin: 0 0 0 30px;
    }
}
.cont-header_shop-info{
    position: relative;
    z-index: 10;
    float: right;
    margin: 0 0 0 15px;
    padding: 12px 0 14px 15px;
    text-align: right;
    background: #fff;
    border-left: 1px solid transparent;
    transition: .1s;
    .focus ~ & {
        border-left-color: #e4e3e0;
        transition: .3s .1s;
    }
}
.cont-header_shop-tel{
    color: #262626;
    font: 700 14px/21px @baseFontFamily;
}
.cont-header_shop-time{
    color: #999;
    font: 11px/13px @baseFontFamily;
}
