
.digest-cap {
    margin-top: -20px;
    padding: 0 0 186px;
    font-family: @ff-proxima-nova;
    border-top: 1px solid #dfdedb;
    background: #1899e6 url(../images/digest/fon-cap.png) repeat;
    &_title {
        margin: 45px 0 20px 0;
        font-size: 40px;
        line-height: 38px;
        font-weight: 300;
        color: #fff;
    }
    &_text {
        font-size: 18px;
        line-height: 25px;
        color: #fff;
    }
}



.digest-container {
    margin-top: -165px;
}



.digest-head {
    margin-bottom: 27px;
    &_text {
        text-transform: uppercase;
        font-family: @ff-proxima-nova;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        font-weight: 700;
        color: #fff;
    }
}



.digest-list{
    margin: 0 0 0 -20px;
    font-family: @ff-proxima-nova;
    &_title {
        text-transform: uppercase;
        font-family: @ff-proxima-nova;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        font-weight: 700;
        color: #333;
    }
    &_i {
        float: left;
        margin: 0 0 40px 20px;
        width: 220px;
        background: #fff;
        border: 1px solid #d8dade;
    }
    &_link {
        text-decoration: none;
        color: @textColor;
    }
    &_month {
        margin-top: -25px;
        font-size: 13px;
        line-height: 25px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #b2b2b2;
    }
    &_cont {
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    &_date {
        display: block;
        font-size: 11px;
        line-height: 20px;
        color: #b2b2b2;
    }
    &_text {
        display: block;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #333;
    }
}




.digest-sidebar {
    margin-top: 25px;
    &_bnr {
        margin-top: 20px;
    }
}




.digest-nav {
    font-family: @ff-proxima-nova;
    border: 1px solid #d8dade;
    background: #fff;
    &.fixed {
        position: fixed;
        top: 20px;
        width: 220px;
    }
    &_list {
        padding: 25px;
        border-top: 2px dotted #d7d7d7;
        &:first-child {
            border-top: none;
        }
    }
    &_year {
        margin-bottom: 5px;
        font-size: 30px;
        line-height: 22px;
        font-weight: 300;
        color: #333;
    }
    &_i {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 1px;
    }
    &_link {
        text-decoration: none;
        color: #b2b2b2;
        &:hover{
            text-decoration: none;
        }
        &:hover,
        &.active {
            color: @linkColor;
        }
    }
}




.digest-subscribe{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    font-family: @ff-proxima-nova;
    border: 1px solid #d8dade;
    background: #fff;
    &_icon {
        margin: 0 auto 20px;
        width: 54px;
        height: 44px;
        background: url(../images/digest/letter.png) no-repeat;
    }
    &_ask {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        color: #333;
    }
    &_text {
        text-decoration: none;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 1px;
        font-weight: 700;
        color: #333;
    }
    .form-control {
        margin: 13px 0 5px 0;
        font-size: 15px;
        line-height: 18px;
    }
}

