//
// Planeta groups
// --------------------------------------------


/* О сообществе */
.group-info{
    display: block;
    .group-info-item{
        display: block;
        margin: 0 0 21px;
    }
    .info-label{
        display: table-cell;
        vertical-align: top;
        font-weight: 700;
        width: 150px;
    }
    .info-text{
        vertical-align: top;
    }
    .img-crop,
    .bb-video-cover,
    .bb-image-cover,
    .bb-youtube-cover{
        img{
            max-width: 100%;
        }
    }
}
.user-info-page{
    &:extend(.cf-mix all);
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 0 0;
    label{
        width: 100px;
        float: left;
        margin: 0;
    }
    .input {
        margin: 6px 0 0 110px;
    }
}
