//
// Planeta icons
// --------------------------------------------


[class^="icon-"], [class*=" icon-"]{
    .sprite(16, 16, url(../images/icon/s-icon.png));
}


.icon-close         { background-position: 0 0 }
.icon-search        { background-position: -50px 0 }
.icon-play          { background-position: -100px 0 }
.icon-pause         { background-position: -150px 0 }
.icon-stop          { background-position: -200px 0 }
.icon-time          { background-position: -250px 0 }
.icon-clock         { background-position: -250px 0 }
.icon-date          { background-position: -300px 0 }
.icon-photo         { background-position: -350px 0 }
.icon-video         { background-position: -400px 0 }
.icon-place         { background-position: -450px 0 }
.icon-news          { background-position: -500px 0 }
.icon-edit          { background-position: -550px 0 }
.icon-trashcan      { background-position: -600px 0 }
.icon-add           { background-position: -650px 0 }
.icon-save          { background-position: -700px 0 }
.icon-attach        { background-position: -750px 0 }
.icon-stats         { background-position: -800px 0 }
.icon-print         { background-position: -850px 0 }
.icon-backing       { background-position: -900px 0 }
.icon-event         { background-position: -950px 0 }
.icon-download      { background-position: -1000px 0 }
.icon-vect-share    { background-position: -1050px 0 }
.icon-resize-full   { background-position: -1100px 0 }
.icon-resize-small  { background-position: -1150px 0 }
.icon-refresh       { background-position: -1200px 0 }
.icon-film          { background-position: -1250px 0 }
.icon-webcam        { background-position: -1300px 0 }
.icon-upload        { background-position: -1350px 0; width: 18px; }
.icon-drap-upload   { background-position: -1350px 0; width: 18px; }
.icon-ww-ileft      { background-position: -1400px 0 }
.icon-ww-iright     { background-position: -1450px 0 }

.icon-white{
    &.icon-close         { background-position: 0 -50px }
    &.icon-search        { background-position: -50px -50px }
    &.icon-play          { background-position: -100px -50px }
    &.icon-pause         { background-position: -150px -50px }
    &.icon-stop          { background-position: -200px -50px }
    &.icon-time          { background-position: -250px -50px }
    &.icon-clock         { background-position: -250px -50px }
    &.icon-date          { background-position: -300px -50px }
    &.icon-photo         { background-position: -350px -50px }
    &.icon-video         { background-position: -400px -50px }
    &.icon-place         { background-position: -450px -50px }
    &.icon-news          { background-position: -500px -50px }
    &.icon-edit          { background-position: -550px -50px }
    &.icon-trashcan      { background-position: -600px -50px }
    &.icon-add           { background-position: -650px -50px }
    &.icon-save          { background-position: -700px -50px }
    &.icon-attach        { background-position: -750px -50px }
    &.icon-stats         { background-position: -800px -50px }
    &.icon-print         { background-position: -850px -50px }
    &.icon-backing       { background-position: -900px -50px }
    &.icon-event         { background-position: -950px -50px }
    &.icon-download      { background-position: -1000px -50px }
    &.icon-vect-share    { background-position: -1050px -50px }
    &.icon-resize-full   { background-position: -1100px -50px }
    &.icon-resize-small  { background-position: -1150px -50px }
    &.icon-refresh       { background-position: -1200px -50px }
    &.icon-film          { background-position: -1250px -50px }
    &.icon-webcam        { background-position: -1300px -50px }
    &.icon-upload        { background-position: -1350px -50px }
    &.icon-drap-upload   { background-position: -1350px -50px }
    &.icon-ww-ileft      { background-position: -1400px -50px }
    &.icon-ww-iright     { background-position: -1450px -50px }
}

.icon-gray{
    &.icon-close         { background-position: 0 -100px }
    &.icon-search        { background-position: -50px -100px }
    &.icon-play          { background-position: -100px -100px }
    &.icon-pause         { background-position: -150px -100px }
    &.icon-stop          { background-position: -200px -100px }
    &.icon-time          { background-position: -250px -100px }
    &.icon-clock         { background-position: -250px -100px }
    &.icon-date          { background-position: -300px -100px }
    &.icon-photo         { background-position: -350px -100px }
    &.icon-video         { background-position: -400px -100px }
    &.icon-place         { background-position: -450px -100px }
    &.icon-news          { background-position: -500px -100px }
    &.icon-edit          { background-position: -550px -100px }
    &.icon-trashcan      { background-position: -600px -100px }
    &.icon-add           { background-position: -650px -100px }
    &.icon-save          { background-position: -700px -100px }
    &.icon-attach        { background-position: -750px -100px }
    &.icon-stats         { background-position: -800px -100px }
    &.icon-print         { background-position: -850px -100px }
    &.icon-backing       { background-position: -900px -100px }
    &.icon-event         { background-position: -950px -100px }
    &.icon-download      { background-position: -1000px -100px }
    &.icon-vect-share    { background-position: -1050px -100px }
    &.icon-resize-full   { background-position: -1100px -100px }
    &.icon-resize-small  { background-position: -1150px -100px }
    &.icon-refresh       { background-position: -1200px -100px }
    &.icon-film          { background-position: -1250px -100px }
    &.icon-webcam        { background-position: -1300px -100px }
    &.icon-upload        { background-position: -1350px -100px }
    &.icon-drap-upload   { background-position: -1350px -100px }
    &.icon-ww-ileft      { background-position: -1400px -100px }
    &.icon-ww-iright     { background-position: -1450px -100px }
}





.icon-dropdown-arrow {
    background: url(../images/icon/icon-dropdown-arrow.png) no-repeat 50% 5px;
}


