// link-icon


// ссылка с иконкой с отступами
.link-icon{
    display: inline-block;
    .text-icon + [class^="icon-"],
    .text-icon + [class^="s-file-icon-"]{
        margin-left: 6px;
    }
    [class^="icon-"] + .text-icon{
        margin-left: 6px;
    }
    &.cont-va-middle{
        [class^="icon-"], [class^="s-file-icon-"], .text-icon{
            vertical-align: middle;
        }
    }
}
.link-icon-spc(@width: .3em){
    .text-icon + [class^="icon-"]{
        margin-left: @width;
    }
    [class^="icon-"] + .text-icon{
        margin-left: @width;
    }
}
a.link-icon{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        .text-icon{
            text-decoration: underline;
        }
    }
}
.btn.link-icon{
    &:hover{
        .text-icon{
            text-decoration: none;
        }
    }
}
// /ссылка с иконкой с отступами


// блок текста с отступом от иконки
.text-icon{
    word-wrap: break-word;
    position: relative;
    [class^="icon-"]{
        float: left;
    }
    .text-block{
        overflow: hidden;
    }
}
