// list-loader


.list-loader{
    position: relative;
    a{
        display: block;
        margin-bottom: 6px;
        padding:  12px 0;
        font-size: 12px;
        line-height: 12px;
        text-decoration: none;
        text-align: center;
        color: #333;
        border-radius: 4px;
        background: #f4f4f4 url(../images/icon/list-load-str-b.png) no-repeat 20px 50%;
        [class^="icon-"] {
            display: none !important;
        }
        &:hover{
            background-color: #e8e9ea;
        }
        &.load{
            background: #e8e9ea url(../images/icon/16x16-e8e9ea.gif) no-repeat 20px 50%;
        }
    }
    &.list-refresh{
        a{
            background-image: none;
        }
        .icon-refresh{
            background: url(../images/icon/icon-refresh-blue.png) no-repeat;
            display: block !important;
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }
}

td.list-loader {
    padding: 0;
}



// list loader
@keyframes list-preloader{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* :not(:required) hides this rule from IE9 and below */
.list-preloader:not(:required) {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 48px;
    height: 48px;
    margin: 20px auto;
    border: 3px solid #d0cbba;
    border-radius: 24px;
    text-indent: -9999px;
}

.list-preloader:not(:required)::before {
    content: '';
    position: absolute;
    left: 19px;
    top: 19px;
    display: block;
    width: 4px;
    height: 20px;
    background: #d0cbba;
    border-radius: 2px;
    animation: list-preloader 1250ms infinite linear;
    transform-origin: 2px 2px;
}

.list-preloader:not(:required)::after{
    content: '';
    position: absolute;
    left: 19px;
    top: 19px;
    display: block;
    width: 4px;
    height: 16px;
    background: #d0cbba;
    border-radius: 2px;
    animation: list-preloader 15000ms infinite linear;
    transform-origin: 2px 2px;
}

