// md-loader



.md-loader{
    @green: #008744;
    @blue: #0057e7;
    @red: #d62d20;
    @yellow: #ffa700;
    @white: #eee;

    @line: transparent;
    @spinner: #aaa;

    // scaling... any units
    @width: 35px;
    @stroke-width: 4;

    position: relative;
    width: @width;
    font-size: 0;
    text-align: center;

    &:before{
        content: '';
        display: block;
        padding-top: 100%;
    }

    &_circular{
        //animation: md-rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    circle{
        fill: none;
    }

    &_line{
        stroke-width: @stroke-width;
        stroke: @line;
    }

    &_spinner{
        //animation: md-dash 1.5s ease-in-out infinite;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-width: @stroke-width;
        stroke-miterlimit: 10;
        stroke-linecap: square;
        stroke: @spinner;
    }

    @keyframes md-rotate{
        100%{
            transform: rotate(360deg);
        }
    }

    @keyframes md-dash{
        0%{
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50%{
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100%{
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }

    /*
    @keyframes color{
        100%,
        0%{
            stroke: @red;
        }
        40%{
            stroke: @blue;
        }
        66%{
            stroke: @green;
        }
        80%,
        90%{
            stroke: @yellow;
        }
    }
    */
}


.md-loader-start-animation(){
    .md-loader{
        &_circular{
            animation: md-rotate 2s linear infinite;
        }
        &_spinner{
            animation: md-dash 1.5s ease-in-out infinite;
        }
    }
}
