// planet-input-tooltip


.planet-input-tooltip{
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px #ccc;
    font-size: 11px;
    line-height: 14px;
    max-width: 300px;
    padding: 4px 10px 10px;
    position: absolute;
    z-index: @zindexDropdown - 200;
    word-wrap: break-word;
    &:before{
        content: "";
        background: #fff;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -6px;
        top: 50%;
        margin-top: -6px;
        .rotate(45deg);
    }
    &.arrow-r{
        &:before{
            left: auto;
            right: -6px;
            .rotate(225deg);
        }
    }
    &.large-tooltip{
        padding: 15px;
        max-width: 420px;
        .avatar{
            font-size: 12px;
            color: @grayLight;
            img{
                max-height: 300px;
                display: block;
            }
        }
    }
    .name{
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        margin: 0 0 10px;
    }
}
