// polling



.polling{
    max-width: 600px;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 5px fade(#000, 10);
    font-family: @ff-proxima-nova;
    font-size: 15px;
    &_head{
        padding: 20px 30px 19px 30px;
        h1{
            font-size: 30px;
            line-height: 1.4;
            font-weight: 600;
            margin: 0 0 20px;
        }
        p{
            color: #454545;
        }
    }

    &_success{
        padding: 20px 30px 19px 30px;
        font-size: 18px;
        text-align: center;
    }
    &_success-head{
        font-size: 30px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 0 20px;
    }
}



.polling-action{
    padding: 30px;
    border-top: 1px solid #ddd;
    text-align: center;
    .btn{
        padding: 15px 20px;
        font-size: 18px;
        letter-spacing: .1em;
        text-transform: uppercase;
        border-radius: 4px;
    }
}
