//
// Planeta Product Card
//
// --------------------------------------------


.product-card-list{
    float: left;
    width: 75%;
    margin: 15px 0;
    padding-left: 10px;
    padding-right: 10px;
    .product-card{
        margin-bottom: 0;
    }
}

.product-card{
    margin: -20px -10px 20px;
    font-size: 0;
    &_i{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100% / 4;
        margin: 20px 0 0;
        padding: 0 10px;
        white-space: normal;
    }

    &_badge{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    &_badge-in{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 19px 6px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        border-radius: 0 0 5px 5px;
        background: #f00;
        &:before{
            content: '';
            position: absolute;
            left: -5px;
            right: -5px;
            bottom: 100%;
            height: 8px;
            border-radius: 5px 5px 0 0;
            background: #f00;
        }
    }
    &_badge-sale{
        font-weight: 700;
        letter-spacing: .1em;
    }

    &_link{
        display: block;
        padding: 0 0 25px;
        color: #000;
        word-wrap: break-word;
        border: 1px solid #d8e0eb;
        border-radius: 5px;
        background: #fff;
        overflow: hidden;
        transform: translateZ(0);
        transition: .25s;
        &:hover{
            text-decoration: none;
            border-color: @baseColor;
            color: #000;
            .product-card{
                &_cover{
                    img{
                        transform: translateZ(0) scale(1.1);
                    }
                }
                &_name{
                    color: @baseColor;
                }
                &_btn{
                    background: @baseColor;
                }
                &_arr{
                    &:before{
                        opacity: 0;
                    }
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &_cover{
        position: relative;
        overflow: hidden;
        box-sizing: content-box;
        display: block;
        height: 2px;
        padding: 0 0 100%;
        margin: -1px -1px 18px;
        border-bottom: 1px solid #d8e0eb;
        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            transform: translateZ(0);
            transition: .25s;
        }
    }
    &_name{
        display: block;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
        height: 16px * 1.2 * 3;
        overflow: hidden;
        transition: .2s;

        .laquo { margin-left: -0.49em }
        .raquo { margin-right: -0.49em }
        .ensp {
            margin-right: 0.49em;
        }
        .raquo + .ensp{
            margin-right: 0;
            margin-left: 0.49em;
        }
    }

    .b-rub{
        font-size: 60%;
    }
    &_price{
        display: block;
        position: relative;
        margin: 30px 0 0;
        padding: 0 20px;
        font-size: 22px;
        line-height: 1;
        font-weight: 700;
    }
    &_old-price{
        position: relative;
        margin: 0 0 0 10px;
        font-size: 14px;
        font-weight: 400;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin: -1px -10px 0;
            border-top: 1px solid #db3131;
            transform: rotate(-15deg);
        }
    }
    &_old-price-custom {
        position: absolute;
        left: 14px;
        top: -20px;
        right: auto;
        font-weight: 100;
        margin: 0 0 0 10px;
        font-size: 14px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin: -1px -4px 0;
            border-top: 1px solid #db3131;
            transform: rotate(-15deg);
        }
    }

    &_btn{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        padding: 13px 0 0;
        text-align: center;
        border-radius: 5px;
        background: #d4e1ec;
        transition: .2s;
    }
    &_arr{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 14px;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 14px;
            background: url(../images/shop/item-arr.svg) no-repeat;
            transition: .2s;
        }
        &:after{
            background-position: -22px 0;
            opacity: 0;
        }
    }


    // small
    &__small{
        .product-card{
            &_i{
                width: 100% / 6;
            }
            &_link{
                padding-bottom: 20px;
            }
            &_cover{
                margin-bottom: 13px;
            }
            &_name{
                padding: 0 14px;
                font-size: 12px;
                height: 12px * 1.2 * 3;
            }
            &_price{
                margin-top: 20px;
                padding: 0 14px;
                font-size: 15px;
            }
            &_btn{
                bottom: 14px;
                right: 14px;
                width: 27px;
                height: 27px;
                padding: 7px 0 0;
            }
        }
    }


    // three cards on row
    &__3{
        .product-card{
            &_i{
                width: 100% / 3;
            }
        }
    }
}




// __project-sidebar
.product-card__project-sidebar{
    .product-card{
        &_i{
            width: 100%;
        }
        &_cover{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
// /__project-sidebar
