//
// Planeta Project Card Block
//
// --------------------------------------------


@projectCardGutter: 10px;
@projectCardOffset: 24px;

.project-card-list{
    &:extend(.cf-mix all);
    margin: -30px -@projectCardGutter 30px;
    font-size: 0;
    .list-loader{
        margin: 40px 0 0 @gridGutterWidth;
    }
    .hidden{
        display: none;
    }
}

.project-card-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin: 30px 0 0 0;
    padding: 0 @projectCardGutter;
    font-family: @ff-roboto;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    user-select: none;
}
.project-card-link{
    position: relative;
    display: block;
    padding: 0 0 115px;
    color: @textColor;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 10px 10px fade(#254959, 10);
    [class^="project-card-"] {
        display: block;
    }
    &:hover{
        text-decoration: none;
    }
}

.project-card-update{
    position: absolute;
    top: 0;
    left: 100%;
    .pcu-count{
        position: relative;
        top: -8px;
        left: -50%;
        padding: 1px 5px;
        font-size: 11px;
        line-height: 14px;
        font-weight: 700;
        color: #fff;
        background: #e35050;
        cursor: default;
    }
}

.project-card-cover-wrap{
    position: relative;
    margin: 0 0 51px;
    background: #f2f2f2;
    &:before{
        content: '';
        display: block;
        padding: 0 0 60.94%;
    }
}
.project-card-cover-cont{
    overflow: hidden;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-card-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    &.lazy-blur{
        filter: blur(10px);
        transition: opacity .3s, filter .3s;
    }
}


.project-card-show{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex !important;
    background: fade(#1a8cff, 80);
    font-family: @ff-roboto-cond;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
    .project-card-item:hover &{
        opacity: 1;
    }

    @media (max-width: @screen-tl-min) {
        display: none !important;
    }
}
.project-card-show-text{
    margin: auto;
    transform: scale(1.3);
    transition: transform .2s;
    .project-card-item:hover &{
        transform: scale(1);
    }
}


.project-card-text{
    height: 172px;
    overflow: hidden;
}

.project-card-name{
    overflow: hidden;
    max-height: 55px;
    margin: 0 @projectCardOffset 16px;
    font-size: 15px;
    line-height: 20/15;
    font-weight: 700;
    color: #1B2336;
}
.project-card-descr{
    margin: 0 @projectCardOffset;
    font-size: 13px;
    line-height: 20/13;
    color: #888;
}

.project-card-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    padding: 4px 0 0;
}

.project-card-info{
    &:extend(.cf-mix all);
    margin: 20px @projectCardOffset 0;
}
.project-card-info-i{
    width: 50%;
    float: left;
}
.pci-value{
    display: block;
    margin: 0 0 9px;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    color: #1a8cff;
}
.pci-label{
    display: block;
    font-family: @ff-roboto-cond;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #afafaf;
}
.project-card-info-i + .project-card-info-i{
    text-align: right;
    .pci-value{
        color: #454553;
    }
}

.project-card-link-to-project{
    padding: 5px @projectCardOffset @projectCardOffset;
}

.project-card-finish{
    text-align: center;
}
.project-card-finish-sum{
    margin-top: 20px;
    text-align: center;
}




// card states
.project-card-state{
    position: absolute;
    z-index: 10;
    top: 16px;
    left: -4px;
    padding: 7px 16px 6px;
    font-family: @ff-roboto-cond;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #b0c6d7;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background: #7999b5;
    }
    &:after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        border: 2px solid #1b2137;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.project-success{
    background: #5fd13c;
    &:before{
        background: #23ab0e;
    }
    .project-card-state-lbl{
        &:before{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 8px;
            height: 15px;
            margin: -4px 13px 0 0;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
        }
    }
}
// /card states



// card supported
.project-card-supported.project-card-supported{
    position: relative;
    padding: 6px 17px 6px 33px;
    background: #1b2336;
    border-radius: 20px;
    &&{
        display: inline-block;
        vertical-align: top;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background: #ffcf0d;
        border: 2px solid #fcbd2b;
        border-radius: 50%;
        box-shadow: 0 4px 8px fade(#ffcf0d, 50);
    }
    &:after{
        content: '';
        position: absolute;
        top: 4px;
        left: 8px;
        width: 8px;
        height: 13px;
        border-bottom: 2px solid #254959;
        border-right: 2px solid #254959;
        transform: rotate(45deg) scale(.8);
    }

    &.compact{
        padding: 12px;
        background: none;
        .project-card-supported-lbl{
            display: none;
        }
    }
}
// /card supported



// card badges block for supported and injections
.project-card-badges{
    position: absolute;
    z-index: 30;
    top: 100%;
    left: 0;
    right: 0;
    margin: -12px 0 0;
    font-family: @ff-roboto-cond;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
// /card badges block for supported and injections



.project-card-no-progress{
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    border-bottom: 1px dashed #e8e8e8;
    & + .project-card-finish-sum{
        margin-top: 30px;
    }
}
.project-card-progress{
    position: absolute;
    top: 0;
    left: @projectCardOffset;
    right: @projectCardOffset;
    font: 0/0 a;
    background: #e8e8e8;
    .pcp-bar{
        display: block;
        max-width: 100%;
        height: 4px;
        background: linear-gradient(90deg, #629fff 0, #3366ff 100%);
    }

    &.over-progress{
        background: linear-gradient(90deg, fade(#629fff, 60) 0, fade(#3366ff, 60) 100%);
        .pcp-bar{
            background-image: linear-gradient(90deg, #426db1 0, #2042a6 100%);
        }
    }

    &.finish-fail{
        .pcp-bar{
            background: #acacac;
        }
        & + .project-card-finish-sum{
            color: #afafaf;
        }
    }
}


.project-card-item-finish{
    .project-card-cover-cont{
        opacity: .5;
    }
    .project-card-name,
    .project-card-descr{
        color: #808080;
    }
}




.project-list-not-found{
    padding: 25px 0;
    font-family: @ff-roboto-cond;
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    .hl{
        font-weight: 400;
        margin: 10px 0 0;
        font-size: 15px;
    }
}


.project-card-tag-wrap{
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    &:before{
        content: '';
        display: block;
        padding: 0 0 60.94%;
    }
}

.project-card-tag{
    position: relative;
    z-index: 20;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    padding: 24px @projectCardOffset 0;
    .text-overflow();
    font-family: @ff-roboto-cond;
    font-size: 13px;
    line-height: 15px;
    color: #000;
    text-decoration: underline;
}



// grid 1170
.grid-1170{
    .project-card-list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .project-card-item{
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .project-card-tag-wrap{
        left: 15px;
        right: 15px;
    }
}
// /grid 1170
