// project-slider


.project-welcome-tabs-sliders{
    position: relative;
    margin: 0 0 20px;
}

.project-list-slider{
    position: relative;
    height: 438px;
    margin: 0 -10px;

    .caroufredsel_wrapper{
        box-sizing: content-box;
        padding: 11px 10px 0 0;
    }
    .project-card-list{
        box-sizing: content-box;
        height: 427px;
        margin: 0;
        padding: 11px 0 0;
        overflow: hidden;
    }
    .project-card-item{
        margin: 0 @projectCardGutter/2;
    }
}

.video-related_arrows,
.product-other_arrows,
.pwms-carousel-arrows,
.pls-arrows{
    position: absolute;
    top: 8px;
    left: -66px;
    right: -66px;
    .user-select(none);
}
.vra-prev,
.vra-next,
.poa-prev,
.poa-next,
.pwms-prev,
.pwms-next,
.pls-prev,
.pls-next{
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 137px;
    cursor: pointer;
    &:hover{
    }
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 18px;
        height: 29px;
        margin: -14px 0 0 -9px;
        background: url(../images/project/pw-arrows.png) no-repeat 0 -40px;
    }
}
.vra-next,
.poa-next,
.pwms-next,
.pls-next{
    left: auto;
    right: 0;
    i{
        background-position: -30px -40px;
    }
}
.pwms-carousel-arrows{
    top: 0;
    .pwms-prev,
    .pwms-next{
        height: 390px;
    }
}

.pwms-carousel-progress{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.pwms-carousel-progress-bar{
    height: 2px;
    max-width: 100%;
    background: @baseColor;
    transition: .12s linear;
    &.notrns{
        transition: none;
    }
}

@media only screen
and (max-width : 1073px) {
    .product-other_arrows,
    .pwms-carousel-arrows,
    .pls-arrows{
        left: -30px;
        right: -30px;
    }
    .poa-prev,
    .poa-next,
    .pwms-prev,
    .pwms-next,
    .pls-prev,
    .pls-next{
        width: 30px;
    }
}
