// rich-tabs


.rich-tabs-wrap{
    &:extend(.rich-tabs-wrap-mix all);
}

.rich-tab{
    &:extend(.rich-tab-mix all);
    &-search{
        &:extend(.rich-tab-search-mix all);
    }
    &_i{
        &:extend(.rich-tab_i-mix all);
    }
    &_link{
        &:extend(.rich-tab_link-mix all);
    }
}
