//
// Planeta scrollbar
// --------------------------------------------

/* scroll для модальных окон */
.modal-scroll, .scroll{
    border: 1px solid @grayLighter;
    padding: 10px 0 10px 10px;
    position: relative;
    .modal-scroll-content, .scroll-content{
        position: relative;
        overflow: hidden;
        height: 350px;
        &:hover{
            .scrollbar-handle{
                transition: opacity .05s ease .05s;
                opacity: .5;
            }
        }
    }
    .scrollbar-pane{
        &:extend(.cf-mix all);
        position: relative;
    }
    .scrollbar-handle-container{
        position: absolute;
        top: 0;
        right: 4px;
        bottom: 0;
        width: 8px;
        .scrollbar-handle{
            transition: opacity 0.75s ease 1s;
            background: #808080;
            opacity: 0;
            border-radius: 4px;
            width: 6px;
            height: 120px;
            cursor: pointer;
            position: absolute;
            min-height: 20px;
            &:hover, &:active{
                opacity: 1;
            }
        }
    }
    .scrollbar-shadow-begin, .scrollbar-shadow-end{
        position: absolute;
        height: 2px;
    }

    // horizontal position
    .scrollbar-horizontal{
        .scrollbar-handle-container{
            top: auto;
            bottom: 4px;
            right: 0;
            left: 0;
            width: auto;
            height: 8px;
            .scrollbar-handle{
                width: auto;
                height: 6px;
                min-height: 0;
                min-width: 20px;
            }
        }
        .scrollbar-shadow-begin, .scrollbar-shadow-end{
            position: absolute;
            height: auto;
            width: 2px;
        }
    }
}
