// SHARING
// -------


// icon social sharing
[class^="bs-icons-"] {
    display: inline-block;
    vertical-align: top;
    background: url(../images/pln-sharing.svg) no-repeat 0 0 / auto 100%;
    cursor: pointer;
    opacity: .6;
    transition: opacity .1s;
    border-radius: 5px;
    &:hover{
        opacity: 1;
    }
}

@import (once) "../../mixins/bs-icon-size";

.bs-icon-size(40);
// icon social sharing




.sharing-popup-social{
    font-size: 0;
    white-space: nowrap;
}
.sps-button{
    display: inline-block;
    vertical-align: top;
}
.spsb-item{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    &:first-child{
        margin: 0;
    }
}
.sps-count{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    span{
        display: inline-block;
        vertical-align: top;
        margin-left: .3em;
    }
}


.sharing-mini{
    position: relative;

    [class^="bs-icons-"] {
        border-radius: 0;
    }
    .bs-icon-size(25);
    .sps-count{
        margin-top: 4px;
    }
}

