//
// sitemap
// --------------------------------------------


.sitemap {
    padding: 0 10px 50px;
    background: #fff;
    border: 1px solid #d9d9d9;

    .top-breads{
        margin-top: 0;
        margin-left: -10px;
        margin-right: -10px;
    }

    .section-title {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px solid @grayLighter;
        padding-bottom: 4px;
        margin-bottom: 10px;
        margin-top: 32px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .subsection-title {
        text-transform: uppercase;
        font-size: 11px;
        color: @grayLighter;
        margin-bottom: 8px;
        margin-top: 32px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 8px;
        }
    }

    a {
        color: @textColor;

        &:hover {
            color: @blue;
        }
    }

    td {
        vertical-align: top;
    }
}
