// to-top



.to-top{
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in;
    &_block{
        height: 100%;
        width: 100px;
        background: fade(#000, 0);
        transition: .4s ease-out;
    }
    &_block{
        font-family: @ff-roboto-cond;
        font-size: 14px;
        line-height: 16px;
        color: #000;
    }
    &_text{
        position: relative;
        padding: 49px 0 0;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            top: 28px;
            left: 50%;
            width: 16px;
            height: 9px;
            margin: 0 0 0 -8px;
            background: url(../images/common/to-top.svg) no-repeat;
        }
    }

    &__show{
        opacity: .5;
        visibility: visible;
        transition: .4s ease-out;
        &:hover{
            opacity: 1;
            .to-top{
                &_block{
                    background: fade(#000, 5);
                }
            }
        }
    }


    @media  (max-width: 1399px) and (min-width: 1300px),
            (max-width: 1099px) and (min-width: 1000px) {
        &_block{
            width: 50px;
        }
        &_text{
            font-size: 0;
        }
    }

    /*
    @media  (max-width: 1299px) and (min-width: 1200px),
            (max-width: 999px) {
        display: none;
    }
    */

    @media  (max-width: 1299px) {
        display: none;
    }
}
