//
// users card
// --------------------------------------------


.users-card{
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    visibility: hidden;
    padding: 8px;
    position: absolute;
    z-index: @zindexModal + 110;
    &.t-str{
        &:before{
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            background: url(../images/user-card.png) no-repeat;
            position: absolute;
            top: -9px;
            left: 16px;
        }
    }
    &.r-str{
        &:before{
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            background: url(../images/user-card-r.png) no-repeat;
            position: absolute;
            top: -9px;
            right: 16px;
        }
    }
    &.b-str{
        &:before{
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            background: url(../images/user-card-b.png) no-repeat;
            position: absolute;
            bottom: -9px;
            right: 16px;
        }
    }
    &.l-str{
        &:before{
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            background: url(../images/user-card-l.png) no-repeat;
            position: absolute;
            bottom: -9px;
            left: 16px;
        }
    }
    .avatar{
        width: 100px;
        display: table-cell;
        vertical-align: top;
        padding: 0 8px 10px 0;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .info{
        display: table-cell;
        vertical-align: top;
        .name{
            display: block;
            font-weight: 700;
            width: 198px;
            overflow: hidden;
            white-space: nowrap;
        }
        p{
            display: block;
            font-size: 11px;
            line-height: 15px;
            color: @gray;
            width: 198px;
            word-wrap: break-word;
        }
        .info-add{
            vertical-align: bottom;
        }
        .continue{
            margin: 15px 0 0;
        }
    }
    .option{
        background: #f2f2f2;
        display: block;
        padding: 8px;
        margin: 8px -8px -8px -8px;
        a{

            position: relative;
        }
        .option-list{
            display: inline-block;
        }
        span.request-done{
            display: inline-block;
            #gradient > .vertical(#f8f8f8, #f1f1f1);
            border: 1px solid @grayLight;
            color: @textColor;
            padding: 6px 6px 6px 26px;
            line-height: 15px;
            position: relative;
            border-radius: 2px;
        }
    }
    .status-online {
        display: block;
        font-size: 11px;
        color: #999;
    }
}

