//
// Planeta Video
// --------------------------------------------

// список видео

.video-list{
    margin: 0;
    .videos-list-item{
        list-style: none;
        min-height: 115px;
        padding: 8px 0;
    }
}

.video-list{
    margin: 0 -7px 0 -8px;
    list-style: none;
    .videos-list-item{
        width: 150px;
        display: inline-block;
        margin: 0 5px 25px;
        vertical-align: top;
        &:hover{
            .video-option{
                display: block;
            }
        }
    }
    .video-cover{
        background: #000;
        height: 112px;
        position: relative;
    }
    .video-img{
        width: 100%;
        height: 100%;
        &:extend(.vertical-align-mix all);
    }
    .video-time{
        position: absolute;
        #translucent > .background(#000, 0.7);
        padding: 3px 5px;
        border-radius: 4px;
        right: 5px;
        bottom: 5px;
        color: @white;
        font-size: 11px;
        line-height: 14px;
    }
    .video-option{
        position: absolute;
        right: 0;
        top: 0;
        #translucent > .background(#000, 0.7);
        padding: 2px 3px;
        display: none;
        z-index: 2;
        [class^="icon-"]{
            cursor: pointer;
        }
    }
    .video-hd{
        position: absolute;
        left: 3px;
        top: 0;
    }
    .video-play{
        background: url(../images/planeta/play-video.png) no-repeat 50% 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        &:hover{
            background-size: 140px 140px;
        }
    }
    .video-info{
        word-wrap: break-word;
    }
    .video-name{
        font-weight: 700;
        margin: 7px 0 5px;
    }
    .video-author{
        font-size: 11px;
        line-height: 14px;
        margin: 0 0 2px;
        a{
            text-decoration: none;
        }
    }
    .video-date, .video-views{
        font-size: 11px;
        line-height: 14px;
        color: @grayLight;
        vertical-align: bottom;
    }
    .group-link {
        vertical-align: bottom;
        text-decoration: none;
        color: @grayLight;
        &:hover{
            text-decoration: underline;
        }
    }
    .video-description{
        font-size: 11px;
        line-height: 14px;
        margin: 5px 0 0;
        max-height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.video-cover-info{
    margin: 0 20px 20px;
    color: @gray;
}


//
.video-quality{
    text-align: right;
    font-size: 11px;
    line-height: 0;
    padding: 5px 10px 5px 0;
    .video-quality-title{
        color: #999;
        padding: 8px 0;
        display: inline-block;
        line-height: 12px;
    }
    .video-quality-item{
        color: #666;
        padding: 8px;
        cursor: pointer;
        display: inline-block;
        line-height: 12px;
        &:hover, &.active{
            color: #fff;
            background: @blue;
        }
    }
}


// user info on video modal
.photo-info{
    text-align: left;
    ul{
        list-style: none;
    }
}
.photo-info-author{
    &-ava{
        float: left;
        width: 36px;
        height: 36px;
        margin: 0 10px 0 0;
        overflow: hidden;
    }
    &-name{
        overflow: hidden;
        .profile-link{
            display: block;
        }
    }
}
// /user info on video modal


.frame-video-player-page{
    background: none;
    min-width: 0;
    height: 100%;
    .frame-video-player{
        height: 100%;
    }
    .broadcast-video{
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        position: relative;
        .broadcast-header{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            padding: 10px 15px;
            #translucent > .background(#000, .3);
            font-size: 16px;
            line-height: 20px;
        }
        .broadcast-cover{
            width: auto;
            height: 100%;
            text-align: center;
        }
    }
}
#frame-video-player{
    .video-url{
        .vertical-align();
        width: 720px;
        height: 367px;
        margin: 0 auto;
        background: #000;
        position: relative;
    }
    .video-play{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url(../images/planeta/play-video-big.png) no-repeat 50% 50%;
        &:hover{
            background-size: 140px 140px;
        }
    }
}
