//
// Planeta Project Payment page
//
// --------------------------------------------


@pln-payment-box-offset: 20px;

.pln-payment-box{
    margin: 0 0 20px;
    border: 1px solid #d8dade;
    background: #fff;
    &__success{
        border-color: #aed783;
        .pln-payment-box_head{
            color: #619e18;
        }
    }
    &__bottom-0{
        margin-bottom: -1px;
    }
    .quality-polling_head{
        font-size: 35px;
    }
}

.pln-payment-box_head{
    padding: @pln-payment-box-offset;
    font: 700 14px/20px @ff-proxima-nova;
    color: #e74c3c;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #d8dade;
}



.input-warning-dropdown{
    .dropdown-popup{
        min-width: 270px;
    }
    .dropdown-popup-body{
        background: url(../images/icon/warning-icon.png) 12px 15px no-repeat;
        padding: 12px 20px 12px 40px;
        font: 700 14px/150% @baseFontFamily;
        color: #1f1f1f;
    }
    .suggestion{
        color: @linkColor;
        border-bottom: 1px dotted;
        padding: 0 0 1px;
        cursor: pointer;
    }
    .domain:hover{
        text-decoration: none;
        color: @linkColor;
    }
    .signup-link{
        text-decoration: underline;
    }
}


.pln-payment-box_field-group{
    & + &{
        border-top: 1px solid #d8dade;
    }
}
.pln-payment-box_field-row{
    &:extend(.cf-mix all);
    position: relative;
    font-size: 14px;
    line-height: 20px;
    & + &{
        border-top: 1px solid #d8dade;
    }
    &.error{
        .pln-payment-box_field-input{
            background-color: #fde8e6;
            .placeholder(#f3897f);
        }
        .pln-select{
            background: #fde8e6;
            color: #f3897f;
        }
    }
    .pln-select + .ppb_fi_error{
        right: 54px;
    }

    &_hidden{
        display: none;
        &.error{
            display: block;
        }
    }
}
.ppb_fi_error{
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #ee523d;
    border: 1px solid #ee523d;
    border-radius: 50%;
    cursor: default;
}

.pln-payment-box_field-pdg{
    padding: 15px @pln-payment-box-offset;
}

.pln-payment-box_field-label{
    position: relative;
    float: left;
    width: 245px;
    padding: 15px @pln-payment-box-offset;
    font-weight: 700;
}
.pln-payment-box_field-value{
    position: relative;
    margin-left: 245px;
    border-left: 1px solid #d8dade;
}

.ppb_fl_help{
    &:extend(.target-help-mix all);
    right: @pln-payment-box-offset;
}

.pln-payment-box_field-text{
    padding: 15px;
    background: #f2f2f2;
    color: #757575;
}

.pln-payment-box_field-text-error{
    padding: 15px;
    background: #fde8e6;
    color: #ee523d;
}

.pln-payment-box_field-input{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    &:focus{
        z-index: 1;
        box-shadow: 0 0 0 1px @linkColor;
    }
    &__date{
        padding-left: 50px;
        background: url(../images/project/project-create-date.png) no-repeat 16px 12px;
    }
}
textarea.pln-payment-box_field-input{
    height: auto;
}

.pln-payment-box_field-input-btn{
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 9px;
    .btn{
        font-size: 13px;
        border-radius: 4px;
    }
}

.pln-payment-box_field-select{
    padding: 15px 45px 15px 15px;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    &, .dropdown-menu{
        box-shadow: none;
    }
    .select-btn{
        right: 20px;
        border: 0;
    }
    .icon-select{
        width: auto;
        height: auto;
        background: none;
        border-top: 7px solid @linkColor;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
}

.pln-payment-box_author-quest{
    .pln-payment-box_field-label{
        width: 320px;
    }
    .pln-payment-box_field-value{
        margin-left: 320px;
    }
}

.pln-payment-box_ui-control,
.pln-payment-box_delivery-type{
    padding: 11px @pln-payment-box-offset;
    .radio-row{
        display: inline-block;
        vertical-align: top;
        margin: 5px 20px 5px 0;
        font-family: @ff-proxima-nova;
        white-space: nowrap;
    }
}

.pln-payment-box_ui-control-vert,
.pln-payment-box_delivery-type-vert{
    padding: 20px @pln-payment-box-offset;
    .radio-row{
        display: block;
        margin: 0;
    }
    .radio-row + .radio-row{
        margin: 20px 0 0;
    }
}
.pln-payment-box_delivery-type-price{
    float: right;
    margin: 0 0 0 10px;
    .proxima_nova_rgregular();
    font-size: 14px;
    color: #1b1b1b;
    white-space: nowrap;
}
.delivery-type-price_free{
    color: green;
}


.pln-payment_type-help{
    padding: 15px @pln-payment-box-offset;
    font-size: 15px;
    line-height: 1.2;
    color: #706f6f;
}


// promo code
.pln-payment-promocode{
    .pln-payment-box_field-input{
        padding-right: 140px;
        font-size: 24px;
        letter-spacing: .25em;
    }
    &_btn{
        position: absolute;
        z-index: 10;
        top: 9px;
        right: 9px;
        .btn{
            font-size: 11px;
            text-transform: uppercase;
            border-radius: 4px;
        }
    }
    &_msg{
        position: absolute;
        top: -1px;
        left: 100%;
        width: 150px;
        margin: 0 0 0 10px;
        padding: 7px 18px;
        font-family: @ff-proxima-nova;
        font-size: 14px;
        line-height: 18px;
        color: #04c259;
        background: #fff;
        border: 1px solid #04c259;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 10px;
            height: 10px;
            margin: -3px 0 0 -6px;
            border-left: 1px solid #04c259;
            border-bottom: 1px solid #04c259;
            background: #fff;
            transform: rotate(45deg);
        }
    }
    &_msg-error{
        color: #ff002b;
        border-color: #ff002b;
        &:before{
            border-color: #ff002b;
        }
    }
}
// /promo code


.pln-payment-type-wrap{
    position: relative;
}
.pln-payment-type{
    display: table;
    width: 100%;
    table-layout: fixed;
    .ppt-item{
        position: relative;
        display: table-cell;
        vertical-align: top;
        width: 70px;
        text-align: center;
        word-wrap: break-word;
        border-left: 1px solid #d8dade;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
            border-left: 0;
        }
        &:after{
            display: none;
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            border-top: 1px solid #b71234;
        }
        &:before{
            display: none;
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            background: fade(@linkColor, 11);
            border: 1px solid #ccc;
        }
        &:hover{
            z-index: 1;
            &:before{
                display: block;
                background: fade(#ccc, 11);
            }
        }
        &.active{
            z-index: 2;
            &:before{
                display: block;
                border-color: @blue;
                background: fade(@linkColor, 11);
            }
        }
        &.disabled{
            opacity: .3;
            cursor: default;
            &:before{
                display: none;
            }
        }
        &.recommend{
            &:after{
                display: block;
            }
        }
    }
    .ppt-img{
        img{
            display: block;
            margin: auto;
        }
    }
    .ppt-name{
        margin: 0 0 10px;
        font-size: 12px;
        line-height: 1.2;
    }
}
.ppt-recommend{
    position: absolute;
    z-index: 2;
    top: -11px;
    left: 0;
    font: 700 12px/14px @baseFontFamily;
    color: #fff;
    &_text{
        position: relative;
        left: -50%;
        display: inline-block;
        padding: 4px 9px;
        border-radius: 5px;
        background: #b71234;
    }
}

.pln-payment-sub-menu-wrap{
    display: none;
    padding: 10px 10px 0;
    background: #f5f4f0;
}
.pln-payment-sub-menu{
    margin: 0 0 10px;
    background: #fff;
    border: 1px solid #d8dade;
    .pln-payment-box_field-label{
        width: 234px;
    }
    .pln-payment-box_field-value{
        margin-left: 234px;
    }
}


.pln-payment_enter-sum{
    margin: 0 0 10px;
    font-family: @ff-proxima-nova;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0;
    }
    &_val{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 140px;
        margin: 0 0 0 20px;
        &_currency{
            position: absolute;
            top: 14px;
            right: 10px;
            color: #bbb;
            pointer-events: none;
        }
        .form-control{
            .proxima-bold();
            font-size: 16px;
            padding-right: 30px;
            text-align: right;
        }
    }
}


.pln-payment-action{
    .flat-btn{
        padding: 15px 45px;
        border-radius: 0;
    }
}
.pln-payment-total{
    padding: 11px 0 0;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #949494;
    b{
        color: #151515;
    }
}


.pln-payment-order-type{
    .checkbox-label{
        color: @textColor;
    }
}


.pln-payment-terms{
    position: relative;
    margin: 0 0 20px;
    text-align: center;
    color: #706f6f;
}


.pln-payment-reward{
    padding: 18px 15px 14px;
    text-align: center;
    word-wrap: break-word;
    &_head{
        margin: 0 0 11px;
        .proxima-bold();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }
    &_sum{
        margin: 0 0 5px;
        .proxima-bold();
        font-size: 24px;
        line-height: 1.2;
        color: @linkColor;
    }
    &_name{
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #111414;
        b{
            font-size: 1.2em;
        }
    }
    &_change{
        .flat-btn{
            padding: 5px 8px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
        }
    }
}


.pln-payment-product{
    padding: 18px 15px 14px;
    text-align: center;
    word-wrap: break-word;
    &_head{
        margin: 0 0 11px;
        .proxima-bold();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }
    &_sum-block{
        margin-top: 13px;
        padding-top: 19px;
        background: url(../images/planeta/payment-product-sep.gif) repeat-x 0 0;
        &:first-child{
            margin-top: 0;
            padding-top: 0;
            background: none;
        }
    }
    &_sum-hl{
        font-size: 14px;
        font-weight: 400;
    }
    &_promo{
        .pln-payment-product_sum{
            color: #00c259;
        }
    }
    &_sum-txt{
        .proxima_nova_rgregular();
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.2;
    }
    &_sum{
        .proxima-bold();
        font-size: 30px;
        line-height: 1.2;
        color: @linkColor;
    }
    &_list{
        padding: 10px 0 0;
        margin: 0 0 20px;
        background: url(../images/planeta/payment-product-sep.gif) repeat-x;
    }
    &_name{
        position: relative;
        padding: 0 0 10px;
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #111414;
        background: url(../images/planeta/payment-product-sep.gif) repeat-x 0 100%;
    }
    &_count{
        position: absolute;
        top: 0;
        right: -40px;
        padding: 3px 8px;
        background: @linkColor;
        color: #fff;
        line-height: 1;
    }
}



// modal delivery info
.modal-delivery-info{
    font-size: 14px;
    .table{
        table-layout: fixed;
        margin-bottom: 20px;
        thead{
            tr:first-child{
                td, th{
                    border-top: 0;
                    vertical-align: top;
                }
            }
        }
        td, th{
            &:first-child{
                padding-left: 0;
            }
        }
    }
}
.modal-delivery-info-table{
    width: 100%;
}
// //modal delivery info


// liability
.pln-payment-liability{
    padding: 15px;
    &_i{
        position: relative;
        padding: 0 0 0 30px;
        margin: 15px 0 0;
        .proxima_nova_rgregular();
        font-size: 12px;
        line-height: 18px;
        &:first-child{
            margin-top: 0;
        }
    }
    &_ico{
        position: absolute;
        top: 3px;
        left: 0;
        width: 16px;
        height: 11px;
        background: url(../images/project/payment-liability.png) no-repeat;
    }
}
// /liability


// trust
.pln-payment-trust{
    margin: 0 0 20px;
    padding: 15px 30px;
    text-align: center;
    font-family: @ff-proxima-nova;
    font-size: 14px;
    line-height: 18px;
    color: #5a482e;
    border: 1px solid #d0cec7;
    background: #e4e2dc;
    &_ico{
        i{
            display: inline-block;
            width: 24px;
            height: 19px;
            margin: 0 0 5px;
            background: url(../images/project/trust-ico.png) no-repeat;
        }
    }
}
// /trust


// payment success
.pln-payment-success{
    padding: 50px;
    color: #161515;
    a{
        text-decoration: underline;
    }
    &_head{
        margin: 0 0 10px;
        .proxima-bold();
        font-size: 35px;
        line-height: 1.1;
        text-align: center;
        .hl{
            color: #76b039;
        }
    }
    &_sub-head{
        margin: 0 0 40px;
        padding: 0 30px;
        .proxima_nova_rgregular();
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
    }

    &_link{
        .proxima_nova_rgregular();
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
    }

    &_widget{
        margin: 0 0 0 9px;
    }
    &_widget_i{
        float: left;
        width: 240px;
        & + &{
            margin: 0 0 0 50px;
        }
    }
    &_widget_ico{
        margin: 0 0 25px 68px;
    }
    &_widget_text{
        font-family: @ff-proxima-nova;
        font-size: 18px;
        line-height: 24px;
    }
    &_widget_sharing{
        margin: 0 0 32px;
        &-head{
            margin: 15px 0 7px;
            .proxima-bold();
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}
.success-widget-icon{
    .sprite(70px, 70px, url(../images/planeta/payment-success-widget-ico.png));
}
.success-widget-icon-star   { background-position: -70px 0 }
.success-widget-icon-mail   { background-position: -140px 0 }
.success-widget-icon-time   { background-position: -210px 0 }
.success-widget-icon-mail-r { background-position: -280px 0 }
.success-widget-icon-user-r { background-position: -350px 0 }
.success-widget-icon-question-r { background-position: -420px 0 }
// /payment success



// payment loyal
.pln-payment-loyal{
    margin: 0 0 20px;
    padding: 16px;
    font-family: @ff-proxima-nova;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    border: 1px dashed #d7d7d7;
    border-radius: 5px;

    &_head{
        .proxima-bold();
    }
    &_link-wrap{
        margin: 7px 0 0;
    }

    &_link{
        &:extend(.dot-link-mix all);
        font-family: @ff-proxima-nova;
        font-weight: 700;
    }

    &_popup{
        width: 260px;
        margin: 13px -17px 0 0;
        .pln-d-popup-tail{
            right: 100px;
            border-bottom: 20px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }
    &_popup-cont{
        padding: 20px;
        background: #fff;
        text-align: left;
        border-radius: 5px;
        box-shadow: 0 1px 1px fade(#000, 25);
    }
    &_form-lbl{
        font-family: @ff-proxima-nova;
        font-weight: 700;
    }
    &_form-val{
        position: relative;
        margin: 10px 0;
        &_pre{
            position: absolute;
            top: 8px;
            left: 11px;
            font-size: 16px;
            pointer-events: none;
        }
        .form-control{
            font-family: @ff-proxima-nova;
            padding-left: 30px;
            font-size: 16px;
        }
    }


    &__support{
        a{
            color: @textColor;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
    }
}
// /payment loyal



// payment error loyal
.pln-payment-error-loyal{
    font: 18px/1.5 @ff-proxima-nova;
    text-align: center;

    &_form-input{
        position: relative;
        margin: 0 0 10px;
        .form-control{
            font-family: @ff-proxima-nova;
            font-size: 18px;
        }
    }
    &_form-btn{
        .btn{
            font-weight: 700;
            font-size: 18px;
        }
    }

    &_row{
        position: relative;
        padding: 16px 0;
        border-top: 1px solid #f0eee8;
        &:first-child{
            border-top: 0;
        }
        &__phone{
            display: table;
            table-layout: fixed;
            width: 100%;
            min-height: 250px;
        }
    }

    &_cell{
        position: relative;
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        text-align: center;
        height: 250px;
        border-left: 1px solid #f0eee8;
        &:first-child{
            border-left: 0;
        }
        .pln-payment-error-loyal_form-btn{
            margin-bottom: 0;
        }
    }

    &_or{
        position: absolute;
        top: 50%;
        left: 0;
        width: 36px;
        height: 36px;
        margin: -18px 0 0 -18px;
        font: 500 11px/36px @ff-gotham-pro;
        border: 1px solid #f0eee8;
        border-radius: 50%;
        background: #fff;
    }

    &_head{
        margin: 23px 0 8px;
        font: 700 35px/40px @ff-proxima-nova;
        .hl{
            color: #c0392b;
        }
    }
    &_head-text{
        margin: 0 0 13px;
        font-size: 20px;
        line-height: 26px;
    }
    &_head-action{
        margin: 29px 0 38px;
        .btn{
            font-size: 16px;
            letter-spacing: .04em;
        }
    }

    &_form{
        width: 270px;
        margin: auto;
    }
    &_form-head{
        margin: 0 0 10px;
        font: 20px/26px @ff-proxima-nova;
    }
    &_form-lbl{
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 22px;
    }

    &_mail-report{
        &_link{
            &:extend(.dot-link-mix all);
        }
        a{
            color: @textColor;
            text-decoration: underline;
            &:hover{
                color: @linkColor;
            }
        }
    }

    // deleteByProfileId it
    &_row{
        .pln-payment-error-loyal_form-lbl{
            margin-top: 30px;
        }
        .pln-payment-error-loyal_form-input,
        .pln-payment-error-loyal_form-btn{
            max-width: 300px;
            margin: 0 auto 20px;
        }
    }
    // /deleteByProfileId it
}
// /payment error loyal



// payment vip message
.pln-payment-vip{
    padding: 30px;
    text-align: center;
    background: url(../images/project/pln-payment-vip.png) no-repeat;
    &_head{
        margin: 3px 0 2px;
        font-family: @ff-proxima-nova;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
    }
    &_msg{
        margin: 0 0 13px;
        font-family: @ff-proxima-nova;
        font-size: 24px;
        line-height: 1.2;
    }
}
// /payment vip message



// payment sidebar block
.pln-payment-side{
    font-family: @ff-proxima-nova;
    font-size: 14px;
    line-height: 20px;
    &_head{
        padding: 23px 25px 21px;
        font-size: 18px;
        line-height: 22px;
        border-bottom: 1px solid #d8dade;
    }
    &_cont{
        padding: 21px 25px;
    }
}
// //payment sidebar block


// modal balance
.modal-balance{
    width: 940px;
    .pln-payment-box{
        margin-bottom: 30px;
        border-width: 0 0 1px;
    }
    .pln-payment-action{
        padding: 10px;
    }
    .pln-payment-terms{
        float: left;
        margin: 17px 0 0;
        padding: 0 0 0 30px;
    }
    .pln-payment-action{
        float: right;
        padding: 0 30px 30px;
    }
}
// /modal balance



// pln-payment-face
.pln-payment-face{
    float: right;
    margin: 17px @pln-payment-box-offset 0 0;
    font: 600 13px/16px @ff-proxima-nova;
    white-space: nowrap;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 5px 6px 0;
    }
    &_two{
        color: @linkColor;
        text-decoration: underline;
        cursor: pointer;
    }
    &_switch{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 26px;
        color: #fff;
        border-radius: 20px;
        background: @baseColor;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 22px;
            height: 22px;
            background: #fff;
            border-radius: 50%;
            transition: .2s;
        }
    }
    &.active{
        .pln-payment-face{
            &_one{
                color: @linkColor;
                text-decoration: underline;
                cursor: pointer;
            }
            &_two{
                color: #000;
                text-decoration: none;
                cursor: default;
            }
            &_switch{
                &:before{
                    left: 26px;
                }
            }
        }
    }
}
// /pln-payment-face
