// project reward rich
.reward-rich{
    &_i{
        position: relative;
        padding: 20px 240px 20px 20px;
        & + &{
            border-top: 1px solid #d8dade;
        }
    }

    &_project-name{
        margin: 0 0 13px;
        font-family: @ff-proxima-nova;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: .1em;
        text-transform: uppercase;
        .text-overflow();
        a{
            color: @linkColor;
            &:hover{
                color: @linkColorHover;
            }
        }
    }

    &_img{
        float: right;
        width: 168px;
        height: 168px;
        overflow: hidden;
        margin: 2px 0 0 23px;
    }

    &_cont{
        overflow: hidden;
    }
    &_name{
        margin: 0 0 10px;
        font: 700 18px/24px Arial, sans-serif;
    }
    &_descr{
        margin: 0 0 10px;
        font: 14px/21px Arial, sans-serif;
        max-height: 63px;
        overflow: hidden;
        &.expand{
            max-height: none;
        }
    }
    &_descr-expand{
        &_link{
            font-size: 14px;
            color: @linkColor;
            border-bottom: 1px dotted;
            cursor: pointer;
            &:hover{
                color: @linkColorHover;
            }
        }
    }

    &_action-block{
        position: absolute;
        top: 15px;
        bottom: 15px;
        right: 0;
        width: 220px;
        padding: 0 20px;
        border-left: 1px solid #d8dade;
    }
    &_price{
        margin: 0 0 13px;
        font-weight: 700;
        font-size: 24px;
        color: @linkColor;
    }
    &_action{
        .btn{
            padding: 10px 0;
        }
    }
}
