// margin, padding modif


// generate margin bottom/top 0-50px step 5px
.mrg-b-X (@index) when (@index >= 0) {
    .mrg-b-@{index} { margin-bottom: @index + 0px !important; }
    .mrg-b-X(@index - 5);
}
.mrg-b-X (50);

.mrg-t-X (@index) when (@index >= 0) {
    .mrg-t-@{index} { margin-top: @index + 0px !important; }
    .mrg-t-X(@index - 5);
}
.mrg-t-X (50);
// /generate margin bottom/top 0-50px step 5px

// generate padding bottom/top 0-50px step 5px
.pdg-b-X (@index) when (@index >= 0) {
    .pdg-b-@{index} { padding-bottom: @index + 0px !important; }
    .pdg-b-X(@index - 5);
}
.pdg-b-X (50);

.pdg-t-X (@index) when (@index >= 0) {
    .pdg-t-@{index} { padding-top: @index + 0px !important; }
    .pdg-t-X(@index - 5);
}
.pdg-t-X (50);
// /generate padding bottom/top 0-50px step 5px

// generate margin left/right 0-50px step 5px
.mrg-l-X (@index) when (@index >= 0) {
    .mrg-l-@{index} { margin-left: @index + 0px !important; }
    .mrg-l-X(@index - 5);
}
.mrg-l-X (50);

.mrg-r-X (@index) when (@index >= 0) {
    .mrg-r-@{index} { margin-right: @index + 0px !important; }
    .mrg-r-X(@index - 5);
}
.mrg-r-X (50);
// /generate margin left/right 0-50px step 5px

// generate margin left/right 0-50px step 5px
.pdg-l-X (@index) when (@index >= 0) {
    .pdg-l-@{index} { padding-left: @index + 0px !important; }
    .pdg-l-X(@index - 5);
}
.pdg-l-X (50);

.pdg-r-X (@index) when (@index >= 0) {
    .pdg-r-@{index} { padding-right: @index + 0px !important; }
    .pdg-r-X(@index - 5);
}
.pdg-r-X (50);
// /generate margin left/right 0-50px step 5px
