body {
    height: 100vh;
    overflow: hidden;
    background: #2A3F54;
}

.navbar-header {
    width: 264px;
}

.navbar-brand {
    padding: 10px;
    width: 145px;
}

.navbar-header small {
    line-height: 48px;
}

.navbar-dark {
    background: #2A3F54;
    color: white;
    border-color: #202f3e;
}

.nav:not(.nav-tabs)>li>a {
    color: white;
}

.nav>li>a:focus {
    background: #2A3F54;
}

.nav>li>a:hover {
    background: rgba(255,255,255,.06);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 51px);
    border-right: 1px solid #202f3e;
}

.sidebar ul li {
    border-bottom: none;
}

.sidebar ul li a {
    padding: 12px 15px;
    font-size: 15px;
}

.sidebar ul li a .fa {
    margin-right: 10px;
}

.sidebar ul li ul {
    background: #1d2b38;
}

.sidebar ul li a.active:not(.firs-level-link) {
    background: rgba(255,255,255,.06);
}

.sidebar ul li.active > a {
    background: rgba(255,255,255,.06);
}

.sidebar-menu-block {
    flex: 1;
    overflow-y: auto;
}

.sidebar-menu-block::-webkit-scrollbar-track {}
.sidebar-menu-block::-webkit-scrollbar {width: 6px;}
.sidebar-menu-block::-webkit-scrollbar-thumb {background: #597b95;}
.sidebar-menu-block:hover::-webkit-scrollbar-thumb {background: #597b95;}


.sidebar-bottom-actions {
    display: flex;
    border-top: 1px solid #202f3e;
}

.sidebar-bottom-actions_i {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.sidebar-bottom-actions_i:hover {
    background: #202f3e;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.sidebar.collapsed {
    width: 52px;
}

.sidebar.collapsed .menu-item-text, .sidebar.collapsed .arrow {
    display: none;
}

.toggle-menu .fa:before {
    content: "\f104";
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}

.navbar-default .navbar-toggle:focus {
    background: inherit;
}

.toggle-menu.collapsed .fa:before {
    content: "\f105";
}

.dropdown-menu-dark {
    background: #2A3F54;
}

.dropdown-menu-dark>li>a {
    color: white;
}

.dropdown-menu-dark>li>a:focus, .dropdown-menu-dark>li>a:hover {
    background-color: rgba(255,255,255,.06);
    color: white;
}

.btn-primary:not(.btn-outline) {
    background: #2A3F54;
    border-color: #2A3F54;
}

.btn-primary.btn-outline {
    border-color: #2A3F54;
    color: #2A3F54;
}

.btn-primary.btn-outline:hover {
    background: #2A3F54;
}

.btn-primary:not(.btn-outline):hover {
    background: #204d74;
}

.panel-primary {
    border-color: #2A3F54;
}

.panel-primary>.panel-heading {
    background: #2A3F54;
    border-color: #2A3F54;
}

.main-page-actions {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 100;
}

.main-page-actions i {
    line-height: 30px;
}

.required {
    color: red;
}

.ma-b-30 {
    margin-bottom: 30px;
}

.ma-b-20 {
    margin-bottom: 20px;
}

.ma-b-10 {
    margin-bottom: 10px;
}

.ma-t-30 {
    margin-top: 30px;
}

.ma-t-20 {
    margin-top: 20px;
}

.ma-t-10 {
    margin-top: 10px;
}

.error-inline {
    color: red;
}

.empty-state {
    font-size: 16px;
}

.empty-state .fa {
    font-size: 40px;
    margin-bottom: 10px;
}

#img-preview {
    position: relative;
    width: 300px;
    overflow: hidden;
    border: 1px solid #204d74;
    border-radius: 5px;
    margin-bottom: 10px;
}

#img-preview img {
    width: 100%;
}

.img-preview {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    color: white;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.img-no_preview {
    height: 150px;
    color: #204d74;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.img-no_preview:hover {
    background: #204d74;
    color: white;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

#img-preview.error {
    border-color: #a94442;
}

#img-preview.error .img-no_preview {
    color: #a94442;
}

#img-preview.error .img-no_preview:hover {
    background: #a94442;
    color: white;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.img-preview .fa, .img-no_preview .fa {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

#img-preview:hover .img-preview {
    opacity: 1;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.images {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.images-preview {
    width: 360px;
    margin: 15px;
    border: 1px solid #ccc;
}

.images-preview img {
    width: 100%;
}

.img-wrap {
    height: 200px;
    overflow: hidden;
}

.image-actions {
    display: block;
}
.image-actions .btn {
    margin-left: 0 !important;
    border-radius: 0;
}

.image-actions > .btn-group {
    padding: 0;
}

.image-actions > .btn-group > button {
    width: 100%;
}


.tile_stats_count {
    color: #73879C;
    margin-bottom: 10px;
    padding: 0 10px 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile_stats_count span {
    font-size: 15px;
}

.tile_stats_count span .fa {
    margin-right: 5px;
}

.tile_stats_count .count {
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
}

.tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

.tile_stats_count:first-child:before {
    border-left: 0;
}

.speakers {
    display: flex;
    justify-content: flex-start;
}

.modal-header .close {
    margin-top: 5px;
    font-size: 22px;
}

.login-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    background: url(../../images/login-background.jpg);
}

.login-cover {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.login {
    color: #ccc;
    width: 450px;
    margin-top: 150px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 2;
}

.login-content {
    padding: 40px;
    color: #999;
    width: 100%;
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.login-input {
    background: rgba(255,255,255,.2);
    border: none;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    height: 46px;
    padding: 10px 16px;
    outline: 0;
}

.login-input:focus {
    border-color: rgba(255,255,255,.35);
    box-shadow: 0 0 0 2px rgba(102,175,233,.6);
}

.login-header {
    position: relative;
    width: 100%;
    padding: 0 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.login-header .brand {
    padding: 0;
    font-size: 28px;
    color: #fff;
}

.login-header .icon {
    position: absolute;
    right: 40px;
    top: -2px;
    opacity: .1;
    filter: alpha(opacity=10);
    color: #000;
    font-size: 70px;
    line-height: 60px;
}

.login-header .brand .logo {
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 42px;
    position: relative;
    float: left;
    margin-right: 10px;
    text-shadow: 5px -3px rgba(0,0,0,.25);
}

.login .login-header .brand small {
    font-size: 14px;
    display: block;
    color: rgba(255,255,255,.5);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #202f3e;
}

.admin-user {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.admin-user > a {
    color: white;
}

.hr-small {
    margin: 5px 0;
}

.hr-dark {
    border-color: #202f3e;
}

.modal-dialog {
    outline: none;
}

.bonus-template {
    margin: 15px;
    width: 360px;
    cursor: pointer;
}

.bonus-template_img img {
    width: 100%;
    height: 300px;
    vertical-align: top;
}


.reorder-panel {
    margin-left: 270px;
    width: calc(100% - 270px) !important;
}

.icon-minus-sign:focus, .icon-plus-sign:focus {
    text-decoration: none;
}

.icon-minus-sign:before {
    content: "-";
    font-size: 18px;
}
.icon-plus-sign:before {
    content: "+";
    font-size: 18px;
}

.bonuses-container {
    max-width: 1366px;
    margin: auto;
}

.admin-table-actions {
    white-space: nowrap;
}

@media screen and (min-width: 767px) and (max-width: 1366px) {
    .sidebar ul li a {
        padding: 8px 10px;
        font-size: 13px;
    }

    .sidebar {
        width: 220px;
        height: calc(100vh - 41px);
        margin-top: 41px;
    }

    .navbar-top-links li a {
        padding: 10px;
        min-height: auto;
    }

    .navbar-brand {
        height: 40px;
        padding: 7px;
        width: 120px;
    }

    .navbar-header small {
        line-height: 38px;
        font-size: 11px;
    }

    .top-panel {
        min-height: 40px;
    }

    .sidebar-bottom-actions_i {
        padding: 8px 0;
    }

    .sidebar.collapsed {
        width: 40px;
    }

    .page-header {
        font-size: 30px;
        margin: 0 0 10px;
        border-bottom: 1px solid #eee;
    }

    .main-page-actions {
        right: 15px;
        top: 10px;
    }

    .main-page-actions .btn {
        width: 40px;
        padding: 10px 12px;
        height: 40px;
        font-size: 15px;
        line-height: 10px;
    }

    .main-page-actions i {
        line-height: 20px;
    }

    table img {
        max-width: 100px !important;
        max-height: 100px !important;
        width: auto;
        height: auto;
    }

    .btn {
        padding: 5px 12px;
        font-size: 12px;
    }

    .panel-heading {
        padding: 5px 10px;
    }

    .panel-body {
        padding: 10px;
    }

    .form-control {
        height: 29px;
        font-size: 13px;
    }

    .pagination>li>a, .pagination>li>span {
        padding: 3px 10px;
    }
    .pagination {
        margin: 10px 0;
    }

    .modal {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .modal-dialog, #modal-dialog {
        margin-top: 0;
    }

    .bonus-template {
        width: 230px !important;
        margin: 7px !important;
    }

    .bonus-template_img img {
        height: 230px;
    }

    .bonus-template_img {
        min-height: 231px !important;
    }

    .grid-i {
        margin: 4px !important;
    }

    .reorder-panel {
        margin-left: 220px;
        width: calc(100% - 220px) !important;
    }

    .login {
        width: 300px;
        margin-top: 40px;
    }

    .login-header {
        padding: 0 15px;
        margin-bottom: 10px;
    }

    .login-header .icon {
        right: 15px;
        font-size: 56px;
    }

    .login-header .brand {
        font-size: 22px;
    }

    .login-header .brand .logo {
        width: 30px;
        height: 30px;
        font-size: 27px;
        line-height: 33px;
        margin-right: 2px;
    }

    .login .login-header .brand small {
        font-size: 12px;
    }

    .login-content {
        padding: 30px;
    }
}



@media screen and (max-width: 500px) {
    .login-header {
        padding: 0 20px;
    }

    .login-header .icon {
        right: 20px;
    }

    .login-header .brand {
        font-size: 23px;
    }

    .login-header .brand .logo {
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 34px;
    }

    .login .login-header .brand small {
        font-size: 12px;
    }

    .login-header .icon {
        font-size: 55px;
    }

    .bonuses-container {
        max-width: 1110px;
    }
}

@media screen and (max-width: 767px) {
    .sidebar-bottom-actions {
        display: none;
    }

    .navbar-header {
        width: 100%;
    }

    .sidebar {
        margin-top: 0;
        width: 100%;
        height: calc(100vh - 101px);
    }

    .top-panel .sidebar {
        height: 0;
        border-top: 1px solid #202f3e;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }

    .top-panel.expanded .sidebar {
        height: calc(100vh - 101px);
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }

    #page-wrapper {
        height: calc(100% - 101px);
        margin-left: 0;
        padding: 15px;
    }

    .navbar-top-links {
        border-top: 1px solid #202f3e;
        display: flex;
        justify-content: flex-end;
    }

    .navbar-top-links > li {
        margin-right: 0 !important;
        margin-left: 15px;
    }

    .general-stats .tile_stats_count:nth-child(3):before, .general-stats .tile_stats_count:nth-child(5):before {
        content: none;
    }

    .tile_stats_count .count {
        font-size: 30px;
        line-height: 37px;
    }
    .tile_stats_count span {
        font-size: 13px;
    }
    .main-page-actions {
        position: initial;
        margin-bottom: 30px;
    }

    .main-page-actions .btn {
        width: 40px;
        padding: 10px 8px;
        height: 40px;
        font-size: 15px;
        line-height: 10px;
    }

    .main-page-actions i {
        line-height: 20px;
    }

    .page-header {
        font-size: 25px;
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 960px) {
    .admin-table {
        overflow-x: auto;
    }

    .admin-table table {
        min-width: 1366px;
    }

    .admin-table table:after {
        content: '';
    }
}