<div class="project-payment-choice">
    <div class="project-payment-choice_i"
         *ngFor="let method of methods"
         (click)="changeMethod(method)"
         [ngClass]="{'active': model.deliveryType == method.serviceType}">

        <div class="project-payment-choice_name">{{ getMethodName(method) }}</div>
        <div class="project-payment-choice_text">{{ getMethodDescription(method) }}</div>
    </div>
</div>

<div class="project-payment-form wrap-row">
    <div *ngIf="isDelivery()" class="project-payment-form_i col-12">
        <pl-select [options]="countries"
                   [id]="'countryId'"
                   [nameEn]="'countryNameEn'"
                   [nameRu]="'countryNameRus'"
                   [titleCode]="'core.country'"
                   [(model)]="model.address.countryId"></pl-select>
    </div>

    <div *ngIf="isDelivery()" class="project-payment-form_i col-12">
        <pl-input [labelCode]="'core.locality'"
                  [(model)]="model.address.city"
                  [errors]="errors"
                  [field]="'deliveryInfo.address.city'"></pl-input>
    </div>

    <div *ngIf="isDelivery()" class="project-payment-form_i col-12 m-col-lg-2 m-col-tp-3">
        <pl-input [labelCode]="'core.zip-code'"
                  [(model)]="model.address.zipCode"
                  [errors]="errors"
                  [field]="'deliveryInfo.address.zipCode'"></pl-input>
    </div>

    <div *ngIf="isDelivery()" class="project-payment-form_i col-12 m-col-lg-10 m-col-tp-9">
        <pl-input [labelCode]="'core.address'"
                  [(model)]="model.address.street"
                  [errors]="errors"
                  [field]="'deliveryInfo.address.street'"></pl-input>
    </div>

    <div *ngIf="isCustomerPickUp()" class="project-payment-form_i col-12">
        <pl-textarea [labelCode]="'core.pickup-address'"
                     [(model)]="pickUpAddress"
                     [errors]="errors"
                     [settings]="pickupInputSettings"></pl-textarea>
    </div>

    <div class="project-payment-form_i col-12">
        <pl-input [labelCode]="'core.recipient-name'"
                  [(model)]="model.customerContacts.customerName"
                  [errors]="errors"
                  [field]="'deliveryInfo.customerContacts.customerName'"></pl-input>
    </div>

    <div class="project-payment-form_i col-12">
        <pl-input [labelCode]="'core.contact-phone'"
                  [(model)]="model.customerContacts.phone"
                  [errors]="errors"
                  [field]="'deliveryInfo.customerContacts.phone'"></pl-input>
    </div>
</div>
