// MODALS
// ------

.modal-open {
  .dropdown-menu {  z-index: @zindexDropdown /*+ @zindexModal*/; }
  .dropdown.open { /**z-index: @zindexDropdown*/ /*+ @zindexModal*/; }
  .popover       {  z-index: @zindexPopover  /*+ @zindexModal*/; }
  .tooltip       {  z-index: @zindexTooltip  /*+ @zindexModal*/; }
}

.swfupload{
    z-index: 2000;
    position: relative;
}

.modal-backdrop, .content-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindexModalBackdrop;
  background-color: #000;
  &.fade { opacity: 0 }
}

.content-overlay,
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: .3;
}



.page-overflow-test{
    overflow-y: hidden !important;
}

.campaign-editor-fullscreen,
.theaterMode{
    overflow: hidden;
}

// bootstrap modal check scroll
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
// /bootstrap modal check scroll




.modal-dialog{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: @zindexModal;
    white-space: nowrap;
    overflow: auto;
    &:after{
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: '';
    }
}
.modal{
    display: inline-block;
    position: relative;
    z-index: @zindexModal;
    max-width: 950px;
    margin: 20px 0;
    border: 1px solid #afafaf;
    color: #000;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    .background-clip(padding-box);
    white-space: normal;
    &.alert-modal{
        min-width: 0;
        max-width: none;
        width: 490px;
    }
}

.modal{
    form{
        margin: 0;
    }
}

@action-modal-offset: 30px;
.modal-header{
    padding: 21px @action-modal-offset 19px;
    font-family: @ff-proxima-nova;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #e0dfdd;
    .close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 59px;
        text-align: center;
        line-height: 54px;
    }
}

.modal-title{
    .text-overflow();
}

.modal-body{
    padding: @action-modal-offset - 4 @action-modal-offset @action-modal-offset;
    word-wrap: break-word;
}
.modal-footer{
    padding: 18px @action-modal-offset;
    border-top: 1px solid #e0dfdd;
}
.modal-footer-cont{
    &:extend(.cf-mix all);
    > .btn{
        float: right;
        margin-left: 5px;
        margin-bottom: 0;
    }
}


// check scroll to page
.page-overflow-test{
    overflow-y: hidden !important;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
// /check scroll to page

.loader{
    background: #000;
    margin-left: -100px;
    padding: 10px 10px;
    text-align: center;
    top: 40%;
    width: auto;
    position: fixed;
    left: 50%;
    z-index: 1000;
    .border-radius(5px);

    &.service-unavailable{
        margin-left: -203px;
    }
    .loader-imgs{
        display:inline-block;
        float: left;
    }
    .loader-message{
        display:inline-block;
        float: left;
        margin: 0 0 0 10px;
        height: 52px;
        span{
            color: #fff;
            font-size: 16px;
            line-height: 52px;
        }
    }
}
