<div id="root-container">
    <div id="main-container">
        <div id="center-container">
            <div class="project-donate">
                <div class="project-donate_header">
                    <div class="project-donate_title">
                        Вознаграждение в проекте
                    </div>

                    <div class="project-donate_name">
                        <a href="#">
                            Би-2. Новый альбом «Горизонт событий»
                        </a>
                    </div>

                    <div class="project-donate_author">
                        Автор <a href="#">Вячеслав Артёмов</a>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

