// ALERT STYLES
// ------------

// Base alert styles
.alert{
    padding: 8px 35px 8px 14px;
    margin-bottom: @baseLineHeight;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: @warningBackground;
    border: 1px solid @warningBorder;
    border-radius: 4px;
    display: inline-block;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 2100;
}

.alert,
.alert-heading{
    color: @warningText;
}

// Adjust close link position
.alert .close{
    position: relative;
    top: -2px;
    right: -21px;
    font-size: 16px;
    line-height: 18px;
}

// Alternate styles
// ----------------

.alert-success{
    background-color: @successBackground;
    border-color: @successBorder;
}

.alert-success,
.alert-success .alert-heading{
    color: @successText;
}

.alert-danger,
.alert-error{
    background-color: @errorBackground;
    border-color: @errorBorder;
}

.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading{
    color: @errorText;
}

.alert-info{
    background-color: @infoBackground;
    border-color: @infoBorder;
}

.alert-info,
.alert-info .alert-heading{
    color: @infoText;
}

// Block alerts
// ------------------------
.alert-block{
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul{
    margin-bottom: 0;
}

.alert-block p + p{
    margin-top: 5px;
}
