html{height: 100%;}
body{
    position: relative;
    min-width: 980px;
    padding-bottom: 0;
    min-height: 100%;
    font: 16px/1.23 @ff-proxima-nova;
    color: #333;
    background: #fff;
}

.wrap{
    position: relative;
    &:extend(.cf-mix all);
    width: 900px + @grid960GutterWidth*2;
    margin: auto;
}

a{
    color: #000;
    text-decoration: underline;
}
a:hover{
    //color: desaturate(#ffd105, 15%);
}




.page-head{
    margin: 0 0 20px;
    font: 300 43px/((51/43em)) @ff-proxima-nova;
    text-transform: uppercase;
    text-align: center;
}




// header
.header{
    &:extend(.cf-mix all);
    padding: 5px 0 5px 0;
    background: #fff;
    &_logo{
        float: left;
        width: 320px;
        height: 90px;
        background: url(/images/fu/fu-logo.svg) no-repeat;
    }
}
.logo{
    float: right;
    display: block;
    margin-top: 28px;
    width: 133px;
    height: 35px;
    background: url(../images/pln-logo.svg) no-repeat;
}
// /header

//  lead

.lead{
    position: relative;
    background: url(../images/fu/lead-fu.jpg) no-repeat;
    background-size: cover;
    &_wrap{
        position: relative;
        background: fade(#000, 50);
    }
}


.section-line{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 130px;
    overflow: hidden;
    &_cnt{
        width: 200%;
        height: 200%;
        background: #fff;
        transform: rotate(-3.7deg);
        margin: -3px 0;
        transform-origin: 0 0;
        position: absolute;
        top: 100%;
        left: 0;
    }
}


.back-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.back-video {
    position: absolute;
    bottom: 0;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
}

.lead_title {
    margin: 113px 0 30px 0;
    text-align: center;
    font-size: 40px;
    font-family:@ff-idealist-sans-light-sc;
    line-height: 40px;
    color: #fff;
}

.lead_text {
    width: 700px;
    margin: 0  auto 23px;
    font-size: 20px;
    font-family: @ff-gotham-pro;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.lead_text-bold {
    margin: 0 auto 45px;
    font-size: 26px;
    font-family: @ff-gotham-pro;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.lead_btn {
    margin: 0 0 31px;
    text-align: center;
}

.fu-btn{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 12px 25px;
    background: transparent;
    border: none;
    font: 500 15px/24px @ff-gotham-pro;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 2px fade(#000, 5);
    &:hover{
        text-decoration: none;
    }
    &:active, &.active{
        outline: none;
    }
    &:focus{
        outline: none;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &[disabled], &.disabled{
        cursor: default;
        opacity: .5;
    }
}

.fu-btn-default{
    border: none;
    background: linear-gradient(to bottom, #fff260 0%,#ffd644 100%);
    color: #333;
    &:hover{
        background: linear-gradient(to bottom, lighten(#fff260, 10%) 0%,lighten(#ffd644, 10%) 100%);
        border-color: transparent;
        color: #333;
    }
    &.active, &:active{
        background: linear-gradient(to bottom, #fff260 0%,#ffd644 100%);
        border-color:transparent;
    }
    &.disabled, &[disabled]{
        background: linear-gradient(to bottom, #fff260 0%,#ffd644 100%);
        border-color:transparent;
    }
}

.fu-btn-primary {
    border: 2px solid #ffd644;
    margin-top: 15px;
    padding: 10px 45px;
    background: transparent;
    color: #ffd644;
    &:hover{
        background: transparent;
        border-color: #ffd644;
        color: #333;
    }
    &.active, &:active{
        background: transparent;
        border-color: #ffd644;
    }
    &.disabled, &[disabled]{
        background: transparent;
        border-color: #ffd644;
    }
}

.lead_create {
    margin-bottom: 192px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: @ff-gotham-pro;
    line-height: 26px;
}

.lead_create a {
    text-decoration: none;
    color: #ffe957;
    font-weight: 500;
}

.menu {
    margin-top: -114px;
}

.menu_wrap {
    z-index: 100;
    transition: .2s;
    &.is_stuck{
        background: #fff;
        box-shadow: 0 1px 7px fade(#000, 12);
        .menu_list{
            box-shadow: none;
        }
    }
}


.menu_list {
    z-index: 100;
    font-size: 0;
    background: #fff;
    padding: 17px 20px;
    border-radius: 4px;
    box-shadow: 0 1px 7px fade(#000, 12);
}

.menu_i {
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
}

.menu_i:hover{
    text-decoration: none;
}

.menu_i:hover .menu_title, .menu_i.active .menu_title {
    color: #3498db;
}


.menu_title {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 0 12px;
    font-size: 20px;
    font-family: @ff-pfdin-cond-pro;
    line-height: 20px;
    font-weight: 500;
    color: #333;
}



.menu_text {
    display: block;
    text-align: center;
    font-size: 13px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 20px;
    color: #333;
}

.fu-projects {
    margin: 25px 0 77px;
}


.new-card-item{
    border: none;
    width: 220px;
}

.new-card_i {
    display: block;
    text-align: center;
    height: 344px;
    padding: 160px 10px;
    border:none;
    background: #3498db;
}

.all-project {
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 500;
    line-height: 23px;
    color: #fff;
    text-decoration: underline;
}

.new-card_idea {
    text-align: center;
    height: 125px;
    margin-top: 12px;
    border: 1px solid #dfe1e1;
}

.new-card_ask {
    display: inline-block;
    margin: 20px 0;
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 500;
    line-height: 23px;
    color: #333;
}

.fu-what {
    position: relative;
    height: 740px;
    background: url(../images/fu/what-is.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.what_title {
    margin: 95px 0 45px 0;
    text-align: center;
    font-size: 40px;
    font-family:@ff-idealist-sans-light-sc;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
}

.what_i_icon-1 {
    margin: 3px auto 27px;
    width: 68px;
    height: 65px;
    background: url(../images/fu/lamp.png) no-repeat;
}

.what_i_icon-2 {
    margin: 14px auto 34px;
    width: 51px;
    height: 47px;
    background: url(../images/fu/ruport.png) no-repeat;
}

.what_i_icon-3 {
    margin: 19px auto 27px;
    width: 45px;
    height: 49px;
    background: url(../images/fu/purse.png) no-repeat;
}

.what_i_title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 14px;
    font-size: 22px;
    line-height: 25px;
    font-family: @ff-pfdin-cond-pro;
    font-weight: 500;
    color: #fff;
}

.what_i_text {
    text-align: center;
    padding-bottom: 50px;
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
}

.who-can {
    margin-top: -228px;
}

.who-can-wrap {
    background: #fff;
    padding: 1px 0;
    border-radius: 4px;
    box-shadow: 0 1px 7px fade(#000, 12);
}

.who-can_list {
    position: relative;
    font-size: 0;
}
.who-can-border {
    content: '';
    position: absolute;
    top: 20px;
    left: 178px;
    right: 178px;
    border-top: 2px dotted #ece9f1;
}

.who-can_title {
    margin: 31px 0 35px 0;
    text-align: center;
    font-size: 26px;
    font-family: @ff-idealist-sans-light-sc;
    font-weight: 300;
    line-height: 35px;
    color: #333;
}

.who-can_i_text {
    text-align: center;
    margin: 23px 0 30px 0;
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 24px;
    color: #333;
}

.who-can-btn {
    margin: 0 0 26px;
    text-align: center;
}

.who-can_i_icon {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.who-can_i_circle {
    text-align: center;
    margin: -4px auto;
    width: 50px;
    height: 50px;
    border: 2px solid #3498db;
    border-radius: 50%;
    background: #fff;
}

.who-can_i_people {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    width: 14px;
    height: 30px;
    background: url(../images/fu/people.png) no-repeat;
}

.who-can_i_group {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    width: 25px;
    height: 30px;
    background: url(../images/fu/group.png) no-repeat;
}

.who-can_i_tie {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    width: 24px;
    height: 30px;
    background: url(../images/fu/tie.png) no-repeat;
}

.about {
    background: #fff url(../images/fu/about.jpg) no-repeat center 170px;
}

.about_title {
    margin: 105px 0 435px 0;
    text-align: center;
    font-size: 40px;
    font-family: @ff-idealist-sans-light-sc;
    font-weight: 300;
    line-height: 20px;
    color: #333;
}

.about-list {
    position: relative;
    font-size: 0;
}

.about_i:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 70px;
    margin-left: -5px;
    border-left: 2px dotted #f0f0f0;
}

.about_i:first-child:before{
    display: none;
}


.about_i_text {
    margin: 0 0 65px 21px;
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 24px;
    color: #333;
}

.about_i:first-child .about_i_text {
    margin-left: 0;
    margin-right: 20px;
}

.cite {
    background: #f8f5e8;
    .owl-item{
        z-index: 1;
    }
    .owl-prev, .owl-next{
        position: absolute;
        top: 90px;
        left: -84px;
        font-size: 60px;
        line-height: 40px;
        font-weight: 200;
        color: #d3d3d1;
    }
    .owl-next{
        left: auto;
        right: -84px;
    }
}

.cite-list_wrap {
    margin-left: 80px;
    margin-right: 80px;
}

.cite_title {
    margin: 55px 0 36px 0;
    text-align: center;
    font-size: 40px;
    font-family: @ff-idealist-sans-light-sc;
    font-weight: 300;
    line-height: 20px;
    color: #333;
}

.cite_photo {
    float: left;
}

.cite_photo_frame {
    margin-right: 20px;
    width: 220px;
    height: 220px;
    background: #fff;
    box-shadow: 0 1px 7px fade(#000, 12);
}

.cite_photo_frame img {
    width: auto !important;
    margin: 5px 5px;
}

.cite-cnt {
    margin-left: 240px;
}

.cite_text {
    text-indent: -7px;
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 24px;
    color: #000;
}

.cite_name{
    margin-top: 9px;
    font-size: 15px;
    font-family: @ff-gotham-pro;
    font-weight: 500;
    line-height: 26px;
    color: #000;
}

.cite_position {
    margin-bottom: 45px;
    font-size: 13px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 20px;
    color: #808080;
}



// footer
.footer{
    position: relative;
    height: 100px;
    padding: 36px 0 50px;
    background: #5e5e5e;
    font: 14px @ff-proxima-nova;
}

.footer_social {
    display: inline-block;
    float: left;
}

.footer_share {
    float: left;
    padding: 5px 10px;
    font-size: 13px;
    font-family: @ff-gotham-pro;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.footer_copyright {
    float: right;
    padding-top: 6px;
    font-size: 11px;
    font-family: @ff-gotham-pro;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
}

// /footer









