//
// Planeta header dropdown player
// --------------------------------------------


[class^="audio-modal-icon-"] {
    .sprite(20px, 20px, url(../images/icon/audio-modal-sprite.png));
}

.audio-modal-icon-play     {background-position:  0     0}
.audio-modal-icon-prev     {background-position: -20px  0}
.audio-modal-icon-next     {background-position: -40px  0}
.audio-modal-icon-shuffle  {background-position: -60px  0}
.audio-modal-icon-repeat   {background-position: -80px  0}
.audio-modal-icon-play-min {background-position: -100px 0}
.audio-modal-icon-arrow    {background-position: -120px 0}
.audio-modal-icon-volume   {background-position: -140px 0}
.audio-modal-icon-add-to   {background-position: -160px -4px}
.audio-modal-icon-remove   {background-position: -173px -4px}
.audio-modal-icon-edit     {background-position: -186px -4px}
.audio-modal-icon-delete     {background-position: -198px -4px}
.audio-modal-icon-move     {background-position: -212px -4px}

.audio-modal-icon-add-to:hover   {background-position: -160px -24px}
.audio-modal-icon-remove:hover   {background-position: -173px -24px}
.audio-modal-icon-edit:hover   {background-position: -186px -24px}
.audio-modal-icon-delete:hover   {background-position: -198px -24px}
.audio-modal-icon-move:hover   {background-position: -212px -24px}


.audio-modal{
    display: inline-block;
    padding: 7px;
    background: rgba(0,0,0,.12);
    font-family: @baseFontFamily;
    .list-loader{
        padding: 5px 0 10px;
        .load{
            height: 32px;
            width: 32px;
            margin: 0 auto;
            background: url(../images/planeta/notif-loader.gif) 50% 50% no-repeat;
        }
    }
}
.audio-modal-inner{
    box-shadow: 0 1px rgba(0,0,0,.05);
    position: relative;
    width: 520px;
    border: 1px solid #d1d1d1;
    border-bottom-color: #b5b5b5;
    .scroll{
        padding: 0;
        border: 0;
        background: none;
    }
    .modal-scroll-content{
        height: 360px;
    }
    .scrollbar-shadow-begin,
    .scrollbar-shadow-end{
        height: 3px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAYAAAA4GpVBAAAAIElEQVQIW2O8du3aZsbr16/XgwgfRiBXEkKAuWAJkBIA1/wXUzNsX78AAAAASUVORK5CYII=) 0 -1px repeat-x;
    }
    .scrollbar-shadow-end{
        background-position: 0 -4px;
    }
}

.audio-modal-header{
    background: #f5f5f5;
    padding: 9px 0 0 9px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #fff;
}
.a-m-h-controls{
    &:extend(.cf-mix all);
    margin: 0 9px 0 0;
}
.a-m-h-c-main-controls{
    .user-select(none);
    box-shadow: 0 1px #fff;
    border-radius: 2px;
    #gradient > .vertical(#f1f2f2, #eaeced);
    float: left;
    border: 1px solid #d6d6d6;
    font-size: 0;
    line-height: 18px;
    overflow: hidden;
    cursor: pointer;
}
.a-m-h-c-m-c-play{
    float: left;
    width: 29px;
    height: 28px;
    border-right: 1px solid #d6d6d6;
    &:hover{
        #gradient > .vertical(#eeeff0, #dfe3ea);
    }
    &:hover{
        .audio-modal-icon-play{
            background-position: 0 -20px;
        }
    }
    &.active{
        .audio-modal-icon-play{
            background-position: 0 -40px;
        }
    }
    &.active{
        &:hover {
            .audio-modal-icon-play{
                background-position: 0 -60px;
            }
        }

    }
    .audio-modal-icon-play{
        top: -4px;
        left: 6px;
    }
}
.a-m-h-c-m-c-next-prev{
    float: left;
    border-left: 1px solid #fbfbfb;
    &:hover{
        #gradient > .vertical(#eeeff0, #dfe3ea);
    }
}
.a-m-h-c-m-c-n-p-prev{
    float: left;
    width: 26px;
    height: 28px;
    &:active, &:hover{
        .audio-modal-icon-prev{
            background-position: -20px -20px;
        }
    }
    .audio-modal-icon-prev{
        top: -4px;
        left: 3px;
    }
}
.a-m-h-c-m-c-n-p-next{
    float: left;
    width: 26px;
    height: 28px;
    &.active, &:hover{
        .audio-modal-icon-next{
            background-position: -40px -20px;
        }
    }
    .audio-modal-icon-next{
        top: -4px;
        left: 3px;
    }
}
.a-m-h-c-info-wrap{
    position: relative;
    float: left;
    width: 329px;
    padding: 8px 15px 0 7px;
}
.a-m-h-c-info{
    .text-overflow();
    font-size: 13px;
    line-height: 15px;
    color: #4c4c4c;
    text-align: center;
}
.a-m-h-c-extra-controls{
    user-select: none;
    box-shadow: 0 1px #fff;
    border-radius: 2px;
    #gradient > .vertical(#f1f2f2, #eaeced);
    float: right;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        #gradient > .vertical(#eeeff0, #dfe3ea);
    }
    .a-m-h-c-e-c-shuffle{
        float: left;
        width: 32px;
        height: 28px;
        &.active, &:hover{
            .audio-modal-icon-shuffle{
                background-position: -60px -20px;
            }
        }
        .audio-modal-icon-shuffle{
            left: 7px;
            top: 4px;
        }
    }
    .a-m-h-c-e-c-repeat{
        float: right;
        width: 32px;
        height: 28px;
        &.active, &:active, &:hover{
           .audio-modal-icon-repeat{
            background-position: -80px -20px;
           }
        }
        .audio-modal-icon-repeat{
            left: 5px;
            top: 4px;
        }
    }
}
.a-m-h-progress-bars{
    &:extend(.cf-mix all);
    margin: 6px 0 0;
}



.song-progress-bar{
    &.current{
        float: left;
        width: 396px;
        .song-pln-progress-block{
            user-select: none;
            float: left;
            width: 360px;
        }
    }
    &.volume{
        &:extend(.cf-mix all);
        user-select: none;
        float: left;
        width: 102px;
        margin: 0 0 0 13px;
        position: relative;
        &.volume-bar-max{
            .audio-modal-icon-volume{
                background-position: -140px -40px;
            }
        }
        &.volume-bar-mute{
            .audio-modal-icon-volume{
                background-position: -140px -60px;
            }
        }
        &.volume-bar-min{
            .audio-modal-icon-volume{
                background-position: -140px 0;
            }
        }
        &.volume-bar-mid{
            .audio-modal-icon-volume{
                background-position: -140px -20px;
            }
        }
        .song-progress-bar-inner{
            position: absolute;
            left: 27px;
            top: 0;
        }
        .song-pln-progress-block{
            width: 65px;
        }
    }
    &:hover {
        .ui-slider-handle{
            visibility: visible !important;
        }
    }
    .song-pln-progress-block{
        padding: 7px 0 13px;
        margin: 0 auto;
        cursor: pointer;
    }
    .song-pln-progress{
        #gradient > .vertical(#d3dadc,#e8e9ea);
        box-shadow: 0 1px 0 0 #fff, 0 1px 1px rgba(0,0,0,.2) inset;
        border-radius: 3px;
        position: relative;
        border: 0;
        height: auto;
        .ui-slider-range{
            box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.18);
            border-radius: 3px;
            #gradient > .vertical(#00c7fb,#00b2e4);
            position: relative;
            height: 5px;
        }
        .song-dwn-bar{
            box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.18);
            border-radius: 3px;
            #gradient > .vertical(#d2d3d3,#c9cecf);
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
        }
    }
    .ui-slider-handle{
        box-shadow: 0 0 0 1px rgba(0, 144, 184, 0.8);
        border-radius: 9px;
        position: absolute;
        left: 0;
        top: -2px;
        visibility: hidden;
        height: 9px;
        width: 9px;
        border: 0;
        background: #00baeb;
        cursor: pointer;
        margin: 0 0 0 -5px;
        &:focus {
            outline: none;
        }
        &.ui-state-active{
            visibility: visible;
        }

    }
}

.audio-modal-icon-volume{
    position: relative;
    top: -2px;
    cursor: pointer;
}

.c-s-p-b-time{
    float: right;
    margin: 4px 0 0;
    font-size: 10px;
    color: #808080;
    line-height: 100%;
    cursor: pointer;
}


.audio-modal-middle{
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
    &.empty{
    height: 360px;
    position: relative;
        .empty-block{
            text-align: center;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .amm-central-block{
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
            padding: 20px;
            font-size: 13px;
            color: #4c4c4c;
        }
        .amm-vertical-align{
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }
}
.a-m-m-list{
    padding: 5px 0;
}
.a-m-m-item{
    height: 14px;
    padding: 8px 12px 8px 16px;
    cursor: pointer;
    &:active{
        background: #f3f3f3;
    }
    &:hover{
        background: #fafafa;
    }
    &:hover{
        .a-m-m-time{
            display: none;
        }
        .a-m-m-actions{
            display: block;
        }
    }
    &.active, &.pause{
        background: #f3f3f3;
    }
    &.active{
        background: #f3f3f3;
        .audio-modal-icon-play-min{
            background-position: -100px -20px;
        }
    }
    &.title{
        margin: 5px 0 0;
        height: auto;
        font-size: 12px;
        font-weight: 700;
        line-height: 100%;
        &:hover {
            background: #fff;
        }

    }
    .audio-modal-icon-play-min{
        float: left;
        top: -3px;
        margin: 0 10px 0 0;
    }
}
.a-m-m-info{
    user-select: none;
    .text-overflow();
    float: left;
    width: 385px;
    margin: 2px 0 0;
    font-size: 11px;
    line-height: 100%;
}
.a-m-m-info-author{
    display: inline-block;
    max-width: 50%;
    border-bottom: 1px solid #404040;
    color: #000;
    vertical-align: top;
    .text-overflow();
}

.a-m-m-info-name{
    color: #404040;
}
.a-m-m-time{
    user-select: none;
    float: right;
    margin: 1px 0 0;
    padding: 0 9px 0 0;
    font-size: 11px;
    line-height: 13px;
    color: #808080;
}
.a-m-m-actions{
    user-select: none;
    display: none;
    float: right;
    margin: 1px 12px 0 0;
    font-size: 0;
    line-height: 100%;
    .a-m-m-actions-btn{
        display: inline-block;
        & + .a-m-m-actions-btn{
            margin: 0 0 0 14px;
        }
    }
    [class^="audio-modal-icon-"]{
        height: 11px;
        width: 12px;
    }
}

.a-m-m-actions-btn-pop-up-wrap{
    position: fixed;
    z-index: 1065;
    &.open{
        .a-m-m-actions-btn-pop-up{
            display: block;
        }
    }
    &.bottom-up{
        .a-m-m-actions-btn-pop-up{
            top: auto;
            bottom: 100%;
        }
    }
    .a-m-m-actions-btn-pop-up{
        right: -15px;
        margin: 15px 0 5px;
    }
}
.a-m-m-actions-btn-pop-up{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: @zindexDropdown;
    display: none;
    width: 183px;
    margin: 5px 0;
}
.a-m-m-actions-btn-pop-up-inner{
    border: 1px solid #e6e6e6;
    background: #fff;
    color: #333;
    text-align: left;
    .scroll{
        border: 0;
        padding: 0;
    }
    .modal-scroll-content{
        position: relative;
        height: auto;
        max-height: 196px;
        padding: 0 0 8px;
        &:after {
            content: "";
            position: absolute;
            right: 10px;
            bottom: 0;
            left: 10px;
            display: block;
            height: 1px;
            background: #e6e6e6;
        }
    }
}
.a-m-m-a-b-pop-up-title{
    padding: 12px 13px;
    background: #fafafa;
    font-size: 14px;
    font-weight: 700;
    cursor: auto;
}
.a-m-m-a-b-pop-up-create{
    padding: 9px 13px 13px;
    cursor: pointer;
    .create-playlist-btn{
        .sprite(14px, 16px, url(../images/icon/create-playlist-icon.png));
        margin: 0 5px 0 0;
    }
    &:hover{
        span{
            border-bottom-color: transparent;
        }
    }
    span{
        padding: 0 0 1px;
        border-bottom: 1px dotted #b3b3b3;
    }
}
.a-m-m-a-b-pop-up-item{
    .text-overflow();
    padding: 4px 13px;
    cursor: pointer;
    &:hover{
        background: #f7f7f7;
    }
    &.my-playlist-item{
        margin: 8px 0 0;
    }
}


.audio-modal-footer{
    &:extend(.cf-mix all);
    background: #f5f5f5;
    padding: 9px 9px 9px;
    border-top: 1px solid #fff;
    border-bottom: 0;
}
.a-m-f-textarea-wrap{
    position: relative;
    padding: 0 23px 0 0;
    overflow: hidden;
    .close{
        position: absolute;
        top: 11px;
        right: 18px;
        width: 9px;
        height: 9px;
        font: 0/0 a;
        background: url(../images/icon/close-post-icon.png) no-repeat;
        opacity: .6;
        transition: opacity .1s;
        &:hover{
            opacity: 1;
        }
    }
}
.a-m-f-textarea{
    border-radius: 0;
    width: 100%;
    height: 16px;
    margin: 0;
    padding: 6px 6px;
    border: 1px solid #d6d6d6;
    background: #fff;
    &:focus {
        box-shadow: none;
        outline: 0;
    }
}

.am-playlist-block{
    position: relative;
    float: right;
    max-width: 220px;
    &.open{
        .am-playlist-dropdown{
            display: block;
        }
    }
    &.bottom-up{
        .am-playlist-dropdown{
            top: auto;
            bottom: 100%;
        }
    }
}
.am-playlist-btn{
    position: relative;
    padding: 7px 19px 7px 13px;
    font-size: 11px;
    line-height: 13px;
    color: #333;
    text-shadow: 0 1px 1px #fff;
    border: 1px solid #d4d6d6;
    border-radius: 3px;
    box-shadow: 0 1px #fff;
    .text-overflow();
    #gradient > .vertical(#f1f2f2,#eaeced);
    cursor: pointer;
    .audio-modal-icon-arrow{
        position: absolute;
        right: 0;
        top: 4px;
    }
    &.disabled{
        padding: 7px 13px;
        background: #f1f2f2;
        color: #808080;
        .audio-modal-icon-arrow{
            display: none;
        }
        &:hover {
            background: #f1f2f2;
            .audio-modal-icon-arrow{
                background-position: -120px 0;
            }
        }

    }
}
.am-playlist-block.open .am-playlist-btn,
.am-playlist-btn:hover{
    #gradient > .vertical(#eeeff0,#dfe3ea);
    .audio-modal-icon-arrow{
        background-position: -120px -20px;
    }
}
.am-playlist-dropdown{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    display: none;
    width: 220px;
    margin: 2px 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.2);
    background: #fff;
}

.am-playlist-list-block{
    padding: 0 0 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    .scroll{
        padding: 0;
        border: 0;
        background: none;
    }
    .modal-scroll-content{
        height: auto;
        max-height: 260px;
    }
    .scrollbar-handle-container{
        right: 1px;
        width: 7px;
        .scrollbar-handle{
            width: 5px;
        }
    }
}

.am-playlist-list{
    margin: 0;
    list-style: none;
}
.am-playlist-action{
    margin: 5px 0 0;
    list-style: none;
}
.am-pl-item, .am-pa-item{
    position: relative;
    &:hover{
        background: #f7f7f7;
        .am-pl-action{
            display: block;
        }
    }
    .active{
        padding: 4px 10px 4px 6px;
        color: @blue;
        &:before{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin: 0 3px 0 0;
            border-top: 3px solid transparent;
            border-left: 6px solid @blue;
            border-bottom: 3px solid transparent;
        }
    }
}
.am-pl-action{
    float: right;
    display: none;
    margin: 4px 6px 0 0;
    cursor: default;
    [class^=icon-]{
        cursor: pointer;
        &:hover {
            background-image: url(../images/icon/icon-sprite-blue.png);
        }
    }
}
.am-pl-link, .am-pa-link{
    position: relative;
    padding: 4px 5px 4px 15px;
    .text-overflow();
    cursor: pointer;
}
